USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITIVO]
AS
SELECT
  XADIT.CODCOLIGADA,
  XADIT.NUMVENDA,
  XVENDA.NUM_CONT,
  XADIT.NUMADIT AS NUM_ADIT,
  XADIT.DATADIT AS DAT_ADIT,
  XADIT.DSCADIT AS DSC_ADIT,
  '' AS TXT_ADIT,
  XADIT.CODSITADIT AS COD_SIT_ADIT,
  '' AS COD_TIPO_ADIT,
  XADIT.RECMODIFIEDBY AS COD_PESS_ULT_MNT,
  XADIT.RECMODIFIEDON AS DAT_ULT_MNT,
  0 AS REF_VALOR_CALCULADO,
  0 AS REF_VALOR_DIGITADO,
  XADIT.IDOPERACAO,
  '' AS XMLADIT,
  XADIT.CONSIDERARDIMOB AS INFORMA_DIMOB,
  XADIT.RECCREATEDBY,
  XADIT.RECCREATEDON,
  XADIT.RECMODIFIEDBY,
  XADIT.RECMODIFIEDON
FROM XADIT
     JOIN XVENDA
     ON XVENDA.CODCOLIGADA = XADIT.CODCOLIGADA AND
        XVENDA.NUM_VENDA = XADIT.NUMVENDA
GO
