USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZRESPARLAYOUTAOL]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZRESPARLAYOUTAOL]
AS
  SELECT SZAOLRESREQ.ID          IDRESULTADO,
         SZLOTEPEDIDOITENS.ORDEMSERVICO,
         vwPEDIDOEXAME.CODPACIENTE,
         SZPEDEXAMEITEM.CODEXAME,
         SZPEDEXAMEITEM.SEQEXAME,
         SZLABEXAME.DESCEXAME,
         0                       CODMETODO,
         SZAOLRESCADEXMLI.CODIGO CODPARAMETRO,
         CASE
           WHEN SZPEDEXAMEITEMTEMPOCURVA.ORDEMSERVICO IS NULL THEN SZAOLRESCADEXMLI.DESCRICAO
           ELSE CONCAT(SZAOLRESCADEXMLI.DESCRICAO, ' ', SZAOLRESSOLAMT.DESCRICAO)
         END                     DESCPARAMETRO,
         '-'                     UNIDADE,
         '-'                     DESCUNIDADE,
         'F'                     SUBTITULO,
         ''                      RESULTPADRAO,
         'F'                     UTILIZATEXTO,
         0                       ORDEMIMPRESSAO,
         0                       PERCPARAMETRO,
         'F'                     ESPACO,
         ''                      EXPRESSAO,
         0                       CASASDECIMAIS,
         SZAOLRESSOLPAR.VALOR    RESULTADO,
         'F'                     PANICO,
         SZLOTEPEDIDOITENS.CODCOLIGADA,
         SZLOTEPEDIDOITENS.CODLOTE,
         SZAOLRESCADPAC.CODIGO   CODPACIENTEAOL,
         SZAOLRESCADEXM.CODIGO   CODEXAMEAOL,
         SZAOLRESCADEXM.ID       IDEXAMECAD
  FROM   SZLOTEPEDIDOITENS (NOLOCK)
         INNER JOIN SZLOTEPEDIDOS (NOLOCK)
                 ON SZLOTEPEDIDOITENS.CODCOLIGADA = SZLOTEPEDIDOS.CODCOLIGADA
                    AND SZLOTEPEDIDOITENS.CODLOTE = SZLOTEPEDIDOS.CODLOTE
         INNER JOIN SZPEDEXAMEITEM (NOLOCK)
                 ON SZPEDEXAMEITEM.CODCOLIGADA = SZLOTEPEDIDOITENS.CODCOLIGADA
                    AND SZPEDEXAMEITEM.ORDEMSERVICO = SZLOTEPEDIDOITENS.ORDEMSERVICO
         INNER JOIN vwPEDIDOEXAME (NOLOCK)
                 ON SZPEDEXAMEITEM.CODCOLIGADA = vwPEDIDOEXAME.CODCOLIGADA
                    AND SZPEDEXAMEITEM.ORDEMSERVICO = vwPEDIDOEXAME.ORDEMSERVICO
         INNER JOIN SZLABEXAME (NOLOCK)
                 ON SZPEDEXAMEITEM.CODCOLIGADA = SZLABEXAME.CODCOLIGADA
                    AND SZPEDEXAMEITEM.CODEXAME = SZLABEXAME.CODEXAME
         INNER JOIN SZAOLRESREQ (NOLOCK)
                 ON SZAOLRESREQ.CODCOLIGADA = SZLOTEPEDIDOITENS.CODCOLIGADA
                    AND SZAOLRESREQ.CODLOTE = SZLOTEPEDIDOITENS.CODLOTE
         INNER JOIN SZAOLRESCADPAC (NOLOCK)
                 ON SZAOLRESREQ.CODCOLIGADA = SZAOLRESCADPAC.CODCOLIGADA
                    AND SZAOLRESREQ.ID = SZAOLRESCADPAC.IDREQ
         INNER JOIN SZAOLRESCADEXM (NOLOCK)
                 ON SZAOLRESREQ.CODCOLIGADA = SZAOLRESCADEXM.CODCOLIGADA
                    AND SZAOLRESREQ.ID = SZAOLRESCADEXM.IDREQ
                    AND SZLABEXAME.MNEMONICO = SZAOLRESCADEXM.CODIGO
         INNER JOIN SZAOLRESCADEXMLI (NOLOCK)
                 ON SZAOLRESCADEXM.CODCOLIGADA = SZAOLRESCADEXMLI.CODCOLIGADA
                    AND SZAOLRESCADEXM.ID = SZAOLRESCADEXMLI.IDEXAMECAD
         INNER JOIN SZAOLRESSOL (NOLOCK)
                 ON SZAOLRESREQ.CODCOLIGADA = SZAOLRESSOL.CODCOLIGADA
                    AND SZAOLRESREQ.ID = SZAOLRESSOL.IDREQ
         INNER JOIN SZAOLRESSOLEXM (NOLOCK)
                 ON SZAOLRESSOL.CODCOLIGADA = SZAOLRESSOLEXM.CODCOLIGADA
                    AND SZAOLRESSOL.ID = SZAOLRESSOLEXM.IDSOLICITACAO
                    AND SZAOLRESCADEXM.CODIGO = SZAOLRESSOLEXM.CODIGO
         INNER JOIN SZAOLRESSOLPAR (NOLOCK)
                 ON SZAOLRESSOLEXM.CODCOLIGADA = SZAOLRESSOLPAR.CODCOLIGADA
                    AND SZAOLRESSOLEXM.ID = SZAOLRESSOLPAR.IDEXAME
                    AND SZAOLRESCADEXMLI.CODIGO = SZAOLRESSOLPAR.LINHARESULTADO
         INNER JOIN SZAOLRESSOLAMT (NOLOCK)
                 ON SZAOLRESSOL.CODCOLIGADA = SZAOLRESSOLAMT.CODCOLIGADA
                    AND SZAOLRESSOL.ID = SZAOLRESSOLAMT.IDSOLICITACAO
                    AND SZAOLRESSOLPAR.AMOSTRA = SZAOLRESSOLAMT.CODIGO
         LEFT JOIN SZPEDEXAMEITEMTEMPOCURVA (NOLOCK)
                ON SZPEDEXAMEITEM.CODCOLIGADA = SZPEDEXAMEITEMTEMPOCURVA.CODCOLIGADA
                   AND SZPEDEXAMEITEM.ORDEMSERVICO = SZPEDEXAMEITEMTEMPOCURVA.ORDEMSERVICO
                   AND SZPEDEXAMEITEM.CODEXAME = SZPEDEXAMEITEMTEMPOCURVA.CODEXAME
                   AND SZPEDEXAMEITEM.SEQEXAME = SZPEDEXAMEITEMTEMPOCURVA.SEQEXAME
  GROUP  BY SZAOLRESREQ.ID,
            SZLOTEPEDIDOITENS.ORDEMSERVICO,
            vwPEDIDOEXAME.CODPACIENTE,
            SZPEDEXAMEITEM.CODEXAME,
            SZPEDEXAMEITEM.SEQEXAME,
            SZLABEXAME.DESCEXAME,
            SZAOLRESCADEXMLI.CODIGO,
            SZAOLRESCADEXMLI.DESCRICAO,
            SZAOLRESSOLAMT.DESCRICAO,
            SZPEDEXAMEITEMTEMPOCURVA.ORDEMSERVICO,
            SZAOLRESSOLPAR.VALOR,
            SZLOTEPEDIDOITENS.CODCOLIGADA,
            SZLOTEPEDIDOITENS.CODLOTE,
            SZAOLRESCADPAC.CODIGO,
            SZAOLRESCADEXM.CODIGO,
            SZAOLRESCADEXM.ID
GO
