USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_campolog]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_campolog]
	@nometabela sysname,
	@nomecampo sysname,
	@tipo varchar(1),
	@usuario varchar(20),
	@valorantigo varchar(4000),
	@valor varchar(4000),
	@chave varchar(255),
	@processo varchar(100),
	@networkuser varchar(100),
	@machinename varchar(100),
	@machineip varchar(50)
as
   if ((select logativo
        from zlogcampos
        where tabela=@nometabela
        and   coluna=@nomecampo)='S') and
      ((@valor <> @valorAntigo) or
       (@valor is null and @valorAntigo is not null) or
       (@valor is not null and @valorAntigo is null))
   begin
     insert into zlog(tabela,coluna,dthora,usuario,valor,valorantigo,tiposql,chave,processo
     ,networkuser,machinename,machineip)
     values (@nometabela,@nomecampo,getdate(),@usuario,@valorantigo,@valor,@tipo,@chave,@processo
     ,@networkuser,@machinename,@machineip)
   end
GO
