USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sec_opentran]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_sec_opentran] AS begin set nocount on EXECUTE AS login = 'sa' exec('DBCC OPENTRAN WITH TABLERESULTS, NO_INFOMSGS') end 
GO
