USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sys_perfinfo]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_sys_perfinfo]  as
begin
set nocount off
 select object_name,counter_name,instance_name,
        cntr_value,cntr_type from sysperfinfo
set nocount on
end
 
GO
