USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFIMAGEM]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFIMAGEM] AS
SELECT ID,CODSISTEMA, IMAGEM, GETDATE() AS DTHRATUALIZACAO 
FROM GIMAGEM
WHERE (ID IN (SELECT IDIMAGEM FROM TPRD) OR ID IN (SELECT IDIMAGEM FROM GCOLIGADA)) 
AND   (CODSISTEMA='T' OR CODSISTEMA='G')
GO
