USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_BPC_RetornaTabelaEvento]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BPC_RetornaTabelaEvento]
AS
BEGIN
  SELECT * FROM dbo.ufn_BPC_RetornaTabelaEvento()
END
GO
