USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[OUTSERV_HORARIO_HIST]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[OUTSERV_HORARIO_HIST] (@COL INT, @CHAPA VARCHAR(16), @DATA_REF DATE)
RETURNS TABLE
AS
RETURN (
SELECT TOP 1 
     C.CODCOLIGADA
    ,C.CHAPA
    ,C.NOME
    ,@DATA_REF DATA_REF
    ,A.DTMUDANCA
    ,A.CODHORARIO
    ,B.DESCRICAO
    ,A.INDINICIOHOR
   --,((CASE WHEN D.INDICE + A.INDINICIOHOR > (SELECT MAX(CODINDICE) FROM Z_OUTSERV_MELHORIAS3 WHERE CODCOLIGADA = C.CODCOLIGADA AND CODHORARIO = A.CODHORARIO) THEN (D.INDICE + A.INDINICIOHOR) - (SELECT MAX(CODINDICE) FROM Z_OUTSERV_MELHORIAS3 WHERE CODCOLIGADA = C.CODCOLIGADA AND CODHORARIO = A.CODHORARIO) ELSE (D.INDICE + A.INDINICIOHOR) END) -1) IND_CALC
   ,D.INDICE IND_CALC
    
  
   
   
    
FROM 
	PFHSTHOR A (NOLOCK)
	INNER JOIN AHORARIO B (NOLOCK) ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CODHORARIO = B.CODIGO
	INNER JOIN PFUNC    C (NOLOCK) ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CHAPA = A.CHAPA
	LEFT JOIN Z_OUTSERV_MELHORIAS4 D (NOLOCK) ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODHORARIO = A.CODHORARIO AND D.DATA
	
	
	 = dateadd(day, +(A.INDINICIOHOR-1), @DATA_REF)
	
	
	INNER JOIN (
    	SELECT MAX(CODINDICE) CODINDICE, CODHORARIO, CODCOLIGADA FROM Z_OUTSERV_MELHORIAS3 (NOLOCK) GROUP BY CODHORARIO, CODCOLIGADA
    ) E ON E.CODHORARIO = A.CODHORARIO AND E.CODCOLIGADA = A.CODCOLIGADA

WHERE
	A.CODCOLIGADA = @COL
	AND A.CHAPA = @CHAPA
	AND A.DTMUDANCA <= @DATA_REF

ORDER BY A.DTMUDANCA DESC
)
GO
