USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SPC_LIBERACAO_DE_PERIODO]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  RM Sistemas
  RM Saldus
  Tradução do procedimento "LiberaPeriodo"
  da SDmlibera.pas para Stored Procedure MSSQL
*/
CREATE PROCEDURE [dbo].[SPC_LIBERACAO_DE_PERIODO]
/*Declarações de Variáveis passadas como Parâmetro*/
@COLIGADA SMALLINT,
@DATA DATETIME,
@REGPARAMS_DTINICIAL VARCHAR(10) OUTPUT,
@REGPARAMS_DTFINAL VARCHAR(10) OUTPUT
/*-------*/
AS
BEGIN
SET NOCOUNT ON
/*-------*/
/*Declarações de Variáveis Locais*/
DECLARE @CONTABIL        VARCHAR(40),
        @BACKCONTABIL    VARCHAR(40),
        @GERENCIAL       VARCHAR(40),
        @BACKGERENCIAL   VARCHAR(40),
        @FILIAL          SMALLINT,
        @BACKFILIAL      SMALLINT,
        @CCUSTO          VARCHAR(25),
        @BACKCCUSTO      VARCHAR(25),
        @SOMAVALOR       NUMERIC(15,2),
        @SOMAVALOR2      NUMERIC(15,4),
        @VALOR           NUMERIC(15,2),
        @VALOR2          NUMERIC(15,4),
        @CONTADOR        NUMERIC,
        @APONTADOR       CURSOR,
        @TRANSACAOABERTA BIT,
        /*Variáveis Auxiliares usadas para OUTPUT de outras Procedures*/
        @COLCONTABIL   SMALLINT,
        @COLGERENCIAL  SMALLINT,
        /*-------*/
        /*Variável de erro local para passagem de mensagens de erro
          mais complexas (RAISERROR não aceita concatenações de strings
          como primeiro parâmetro)*/
        @MSG_ERRO VARCHAR(8000),
        /*-------*/
        /*Constantes da sdAplconst.pas*/
        /*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        @ctDtInicial   INT,
        @ctDtFinal     INT,
        @ctGenNewReferencia INT,
        /*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        /*--------------------------*/
        /*Constantes da NUuCONST.pas*/
        /*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        @ctLcLiberado  INT
        /*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        /*--------------------------*/
/*-------*/
/* Inicializações */
SET @TRANSACAOABERTA = 0
/*Cursor*/
SET @APONTADOR = CURSOR FOR
  /*Créditos com Rateio*/
      SELECT CRATEIOLC.CODCONTA,
             CRATEIOLC.CODGERENCIAL,
             CLANCA.CODFILIAL,
             CLANCA.CODCCUSTO,
             SUM(-CRATEIOLC.VLRCREDITO),
             SUM(-(((CRATEIOLC.VLRCREDITO * 100)/CLANCA.VALOR)*CLANCA.VALOR2)/100)
      FROM CRATEIOLC,CLANCA
      WHERE (CRATEIOLC.VLRCREDITO <> 0) AND
            (CLANCA.VALOR > 0) AND
            (CLANCA.DATA <= @DATA ) AND
            (CRATEIOLC.CODLOTE = 0) AND
            (CRATEIOLC.CODCOLIGADA = @COLIGADA) AND
            (CRATEIOLC.LCTREF      = CLANCA.LCTREF) AND
            (CRATEIOLC.CODCOLIGADA = CLANCA.CODCOLIGADA)
      GROUP BY CRATEIOLC.CODCONTA,
               CRATEIOLC.CODGERENCIAL,
               CLANCA.CODFILIAL,
               CLANCA.CODCCUSTO
  /*Fim Créditos com Rateio*/
  UNION ALL
  /*Créditos sem Rateio*/
      SELECT CLANCA.CREDITO,
             NULL,
             CLANCA.CODFILIAL,
             CLANCA.CODCCUSTO,
             SUM(-CLANCA.VALOR),
             SUM(-CLANCA.VALOR2)
      FROM CLANCA
      WHERE (CLANCA.CREDITO IS NOT NULL) AND
            (
             (CLANCA.VALOR = 0.00)
              OR
             (CLANCA.CREDITO NOT IN (
                                     SELECT CRATEIOLC.CODCONTA
                                     FROM CRATEIOLC
                                     WHERE CRATEIOLC.CODCOLIGADA = @COLIGADA
                                    )
             )
            ) AND
            (CLANCA.DATA <= @DATA) AND
            (CLANCA.CODCOLIGADA = @COLIGADA)
      GROUP BY CLANCA.CREDITO,
             CLANCA.CODFILIAL,
             CLANCA.CODCCUSTO
  /*Fim Créditos sem Rateio*/
  UNION ALL
  /*Débitos com Rateio*/
      SELECT CRATEIOLC.CODCONTA,
             CRATEIOLC.CODGERENCIAL,
             CLANCA.CODFILIAL,
             CLANCA.CODCCUSTO,
             SUM(CRATEIOLC.VLRDEBITO),
             SUM((((CRATEIOLC.VLRDEBITO * 100)/CLANCA.VALOR)*CLANCA.VALOR2)/100)
      FROM CRATEIOLC,CLANCA
      WHERE (CRATEIOLC.VLRDEBITO <> 0) AND
            (CLANCA.VALOR > 0) AND
            (CLANCA.DATA <= @DATA ) AND
            (CRATEIOLC.CODLOTE = 0) AND
            (CRATEIOLC.CODCOLIGADA = @COLIGADA) AND
            (CRATEIOLC.LCTREF      = CLANCA.LCTREF) AND
            (CRATEIOLC.CODCOLIGADA = CLANCA.CODCOLIGADA)
      GROUP BY CRATEIOLC.CODCONTA,
               CRATEIOLC.CODGERENCIAL,
               CLANCA.CODFILIAL,
               CLANCA.CODCCUSTO
  /*Fim Débitos com Rateio*/
  UNION ALL
  /*Débitos sem Rateio*/
      SELECT CLANCA.DEBITO,
             NULL,
             CLANCA.CODFILIAL,
             CLANCA.CODCCUSTO,
             SUM(CLANCA.VALOR),
             SUM(CLANCA.VALOR2)
      FROM CLANCA
      WHERE (CLANCA.DEBITO IS NOT NULL) AND
            (
             (CLANCA.VALOR = 0.00)
              OR
             (CLANCA.DEBITO NOT IN (
                                     SELECT CRATEIOLC.CODCONTA
                                     FROM CRATEIOLC
                                     WHERE CRATEIOLC.CODCOLIGADA = @COLIGADA
                                    )
             )
            ) AND
            (CLANCA.DATA <= @DATA) AND
            (CLANCA.CODCOLIGADA = @COLIGADA)
      GROUP BY CLANCA.DEBITO,
             CLANCA.CODFILIAL,
             CLANCA.CODCCUSTO
  /*Fim Débitos sem Rateio*/
  UNION ALL
  /*Saldo Anterior*/
      SELECT CSDANT.CODCONTA,
             CSDANT.CODGERENCIAL,
             CSDANT.CODFILIAL,
             CSDANT.CODCCUSTO,
             CSDANT.VALOR,
             CSDANT.VALOR2
      FROM CSDANT
      WHERE (CSDANT.CODCOLIGADA = @COLIGADA)
  /*Fim Saldo Anterior*/
  ORDER BY 1,3,4,2
/*Fim Cursor*/
/*Inicializando Variáveis Locais*/
SET @CONTADOR       = 0
SET @SOMAVALOR      = 0.00
SET @SOMAVALOR2     = 0.0000
/*Fim Inicializando Variáveis Locais*/
/*Incializando constantes do Código Fonte Delphi (ver DECLARE)*/
SET @ctLcLiberado = 3
SET @ctDtInicial  = 24
SET @ctDtFinal    = 25
SET @ctGenNewReferencia = 1
/*----------------------------------------------*/
/*Fim Inicializações*/
/*Fim Inicializações*/
/*Abrindo a Consulta para o Somatório de Saldo*/
OPEN @APONTADOR
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a seleção dos Lançamentos',18,1)
  GOTO INSUCESSO
END
/*-------*/
/*Inciando a Transação*/
BEGIN TRANSACTION LiberaPeriodo
SET @TRANSACAOABERTA = 1
/*Deletando Registros da Tabela de Saldo Anterior*/
DELETE FROM CSDANT WHERE CODCOLIGADA = @COLIGADA
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a deleção do Saldo Anterior',18,1)
  GOTO INSUCESSO
END
/*-------*/
/*Somatório e Inserções na CSDANT*/
FETCH NEXT FROM @APONTADOR
INTO @CONTABIL,@GERENCIAL,@FILIAL,@CCUSTO,@VALOR,@VALOR2
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante o FETCH Inicial do Somatório de Saldo Anterior.',18,1)
  GOTO INSUCESSO
END
IF @GERENCIAL IS NULL
  SET @GERENCIAL = 'NULL'
IF @FILIAL IS NULL
  SET @FILIAL = -1
IF @CCUSTO IS NULL
  SET @CCUSTO = 'NULL'
SET @BACKCONTABIL  = @CONTABIL
SET @BACKGERENCIAL = @GERENCIAL
SET @BACKFILIAL    = @FILIAL
SET @BACKCCUSTO    = @CCUSTO
WHILE @@FETCH_STATUS = 0
  BEGIN
    SET @CONTADOR      = @CONTADOR + 1
    IF /*Trocou Contábil,Gerencial,Filial ou Centro de Custo*/
       (
        (@CONTABIL  <> @BACKCONTABIL) OR
        (@GERENCIAL <> @BACKGERENCIAL) OR
        (@FILIAL    <> @BACKFILIAL) OR
        (@CCUSTO    <> @BACKCCUSTO)
       )
       /*-------*/
       BEGIN
         IF /*E Somatório de Valores não está zerado*/
           (
            (ROUND(@SOMAVALOR,2) <> 0.00)
            OR
            (ROUND(@SOMAVALOR2,4) <> 0.0000)
           )
            /*-------*/
         BEGIN
           SET @BACKCONTABIL = LTRIM(RTRIM(@BACKCONTABIL))
           EXEC SPC_GETCOLIGADABYCONTA 'C',@BACKCONTABIL,@COLIGADA,@COLCONTABIL OUTPUT
           IF (@BACKGERENCIAL <> '') AND (@BACKGERENCIAL <> 'NULL')
           BEGIN
             SET @BACKGERENCIAL = LTRIM(RTRIM(@BACKGERENCIAL))
             EXEC SPC_GETCOLIGADABYCONTA 'G',@BACKGERENCIAL,@COLIGADA,@COLGERENCIAL OUTPUT
           END
           ELSE
           BEGIN
             SET @BACKGERENCIAL = 'NULL'
             SET @COLGERENCIAL = @COLIGADA
           END
           SET @BACKCCUSTO = LTRIM(RTRIM(@BACKCCUSTO))
           SET @BACKFILIAL = LTRIM(RTRIM(@BACKFILIAL))
           IF @BACKGERENCIAL = 'NULL'
             SET @BACKGERENCIAL = NULL
           IF @BACKFILIAL = -1
             SET @BACKFILIAL = NULL
           IF @BACKCCUSTO = 'NULL'
             SET @BACKCCUSTO = NULL
           INSERT INTO CSDANT
           (CODCOLIGADA,
            CODCONTA,
            CODCOLCONTA,
            CODGERENCIAL,
            CODCOLGERENCIAL,
            CODCCUSTO,
            CODFILIAL,
            VALOR,
            VALOR2,
            STATUS)
            VALUES
            (
             @COLIGADA,
             @BACKCONTABIL,
             @COLCONTABIL,
             @BACKGERENCIAL,
             @COLGERENCIAL,
             @BACKCCUSTO,
             @BACKFILIAL,
             CAST(@SOMAVALOR AS NUMERIC(15,2)),
             CAST(@SOMAVALOR2 AS NUMERIC(15,4)),
             1
             )
             IF @@ERROR <> 0
             BEGIN
               SET @MSG_ERRO = 'Erro durante a inserção do novo Saldo Anterior . ' + CHAR(13) +
                               'Contábil : ' + @BACKCONTABIL + CHAR(13) +
                               'Gerencial : ' + ISNULL(@BACKGERENCIAL,'NULL') + CHAR(13) +
                               'Centro de Custo : ' + ISNULL(@BACKCCUSTO,'NULL') + CHAR(13) +
                               'Filial : ' + @BACKFILIAL
               RAISERROR(@MSG_ERRO,18,1)
               GOTO INSUCESSO
             END
         END
         SET @SOMAVALOR  = @VALOR
         SET @SOMAVALOR2 = @VALOR2
         SET @BACKCONTABIL  = @CONTABIL
         SET @BACKGERENCIAL = @GERENCIAL
         SET @BACKFILIAL    = @FILIAL
         SET @BACKCCUSTO    = @CCUSTO
       END
       ELSE
       BEGIN
         SET @SOMAVALOR     = @SOMAVALOR + @VALOR
         SET @SOMAVALOR2    = @SOMAVALOR2 + @VALOR2
       END
    FETCH NEXT FROM @APONTADOR
    INTO @CONTABIL,@GERENCIAL,@FILIAL,@CCUSTO,@VALOR,@VALOR2
    IF @GERENCIAL IS NULL
      SET @GERENCIAL = 'NULL'
    IF @FILIAL IS NULL
      SET @FILIAL = -1
    IF @CCUSTO IS NULL
      SET @CCUSTO = 'NULL'
  END /*Fim WHILE @@FETCH_STATUS = 0*/
/*Última Linha da Consulta*/
  IF /*E Somatório de Valores não está zerado*/
    (
     (ROUND(@SOMAVALOR,2) <> 0.00)
     OR
     (ROUND(@SOMAVALOR2,4) <> 0.0000)
    )
    /*-------*/
    BEGIN
      SET @BACKCONTABIL = LTRIM(RTRIM(@BACKCONTABIL))
      EXEC SPC_GETCOLIGADABYCONTA 'C',@BACKCONTABIL,@COLIGADA,@COLCONTABIL OUTPUT
      IF (@BACKGERENCIAL <> '') AND (@BACKGERENCIAL <> 'NULL')
      BEGIN
        SET @BACKGERENCIAL = LTRIM(RTRIM(@BACKGERENCIAL))
        EXEC SPC_GETCOLIGADABYCONTA 'G',@BACKGERENCIAL,@COLIGADA,@COLGERENCIAL OUTPUT
      END
      ELSE
      BEGIN
        SET @BACKGERENCIAL = 'NULL'
        SET @COLGERENCIAL = @COLIGADA
      END
      SET @BACKCCUSTO = LTRIM(RTRIM(@BACKCCUSTO))
      SET @BACKFILIAL = LTRIM(RTRIM(@BACKFILIAL))
      IF @BACKGERENCIAL = 'NULL'
        SET @BACKGERENCIAL = NULL
      IF @BACKFILIAL = -1
        SET @BACKFILIAL = NULL
      IF @BACKCCUSTO = 'NULL'
        SET @BACKCCUSTO = NULL
      INSERT INTO CSDANT
      (CODCOLIGADA,
       CODCONTA,
       CODCOLCONTA,
       CODGERENCIAL,
       CODCOLGERENCIAL,
       CODCCUSTO,
       CODFILIAL,
       VALOR,
       VALOR2,
       STATUS)
       VALUES
       (
        @COLIGADA,
        @BACKCONTABIL,
        @COLCONTABIL,
        @BACKGERENCIAL,
        @COLGERENCIAL,
        @BACKCCUSTO,
        @BACKFILIAL,
        CAST(@SOMAVALOR AS NUMERIC(15,2)),
        CAST(@SOMAVALOR2 AS NUMERIC(15,4)),
        1
        )
        IF @@ERROR <> 0
        BEGIN
          SET @MSG_ERRO = 'Erro durante a inserção do novo Saldo Anterior . ' + CHAR(13) +
                          'Contábil : ' + @BACKCONTABIL + CHAR(13) +
                          'Gerencial : ' + ISNULL(@BACKGERENCIAL,'NULL') + CHAR(13) +
                          'Centro de Custo : ' + ISNULL(@BACKCCUSTO,'NULL') + CHAR(13) +
                          'Filial : ' + @BACKFILIAL
          RAISERROR(@MSG_ERRO,18,1)
          GOTO INSUCESSO
        END
    END
/*-------*/
/*Fim Somatório e Inserções na CSDANT*/
/* Liberando cursor da memória */
CLOSE @APONTADOR
DEALLOCATE @APONTADOR
/*-------*/
/*Deleção da Contabilização do Liber*/
DELETE FROM DLAFRAT WHERE CODCOLIGADA = @COLIGADA
AND LCTREFINT IN (SELECT LCTREF FROM CLANCA WHERE
DATA <= @DATA AND CODCOLIGADA = @COLIGADA AND
INTEGRAAPLICACAO = 'D')
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a deleção de dados do RM Liber (Tabela DLAFRAT)',18,1)
  GOTO INSUCESSO
END
UPDATE DLAF SET STATUSEXPORTSALDUS = 2 WHERE CODCOLIGADA = @COLIGADA
AND IDLAF IN (SELECT IDLAF FROM DLAFCONT, CLANCA WHERE
DLAFCONT.CODCOLIGADA = CLANCA.CODCOLIGADA AND
DLAFCONT.LCTREFINT = CLANCA.LCTREF AND
DLAFCONT.CODLOTE = 0 AND
CLANCA.DATA <= @DATA AND
CLANCA.CODCOLIGADA = @COLIGADA AND
CLANCA.INTEGRAAPLICACAO = 'D')
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a atualização de dados do RM Liber (Tabela DLAF)',18,1)
  GOTO INSUCESSO
END
DELETE FROM DLAFCONT WHERE CODCOLIGADA = @COLIGADA
AND LCTREFINT IN (SELECT LCTREF FROM CLANCA WHERE
DATA <= @DATA AND CODCOLIGADA = @COLIGADA AND
INTEGRAAPLICACAO = 'D')
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a deleção de dados do RM Liber (Tabela DLAFCONT)',18,1)
  GOTO INSUCESSO
END
/*Fim Deleção da Contabilização do Liber*/
/*Deleção da Contabilização do Nucleus*/
DELETE FROM TMOVRAT WHERE CODCOLIGADA = @COLIGADA
AND CODLOTE = 0 AND LCTREFINT IN (SELECT LCTREF FROM CLANCA WHERE
DATA <= @DATA AND CODCOLIGADA = @COLIGADA AND
INTEGRAAPLICACAO = 'T')
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a deleção de dados do RM Nucleus (Tabela TMOVRAT)',18,1)
  GOTO INSUCESSO
END
UPDATE TMOV SET STATUSEXPORTCONT = @ctLcLiberado
WHERE CODCOLIGADA = @COLIGADA
AND IDMOV IN (SELECT IDMOV FROM TMOVCONT, CLANCA WHERE
TMOVCONT.CODCOLIGADA = CLANCA.CODCOLIGADA AND
TMOVCONT.LCTREFINT = CLANCA.LCTREF AND
TMOVCONT.CODLOTE = 0 AND
CLANCA.DATA <= @DATA AND
CLANCA.CODCOLIGADA = @COLIGADA AND
CLANCA.INTEGRAAPLICACAO = 'T')
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a atualização de dados do RM Nucleus (Tabela TMOV)',18,1)
  GOTO INSUCESSO
END
DELETE FROM TMOVCONT WHERE CODCOLIGADA = @COLIGADA
AND CODLOTE = 0 AND LCTREFINT IN (SELECT LCTREF FROM CLANCA WHERE
DATA <= @DATA AND CODCOLIGADA = @COLIGADA AND
INTEGRAAPLICACAO = 'T')
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a deleção de dados do RM Nucleus (Tabela TMOVCONT)',18,1)
  GOTO INSUCESSO
END
/*Fim Deleção da Contabilização do Nucleus*/
/* Deletando rateios da CRATEIOLC */
DELETE FROM CRATEIOLC
WHERE CODCOLIGADA = @COLIGADA
AND CODLOTE = 0
AND LCTREF IN
(
  SELECT LCTREF FROM CLANCA
  WHERE DATA <= @DATA
  AND CODCOLIGADA = @COLIGADA
)
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a deleção de Rateios do RM Saldus',18,1)
  GOTO INSUCESSO
END
/*--------------------------------*/
/* Deletando campos complementares da CLCOMPL */
DELETE FROM CLCOMPL
WHERE CODCOLIGADA = @COLIGADA
AND CODLOTE = 0
AND LCTREF IN
(
  SELECT LCTREF FROM CLANCA
  WHERE DATA <= @DATA
  AND CODCOLIGADA = @COLIGADA
)
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a deleção de Campos Complementares de lançamentos do RM Saldus',18,1)
  GOTO INSUCESSO
END
/*--------------------------------*/
/* Deletando Lançamentos da CLANCA*/
DELETE FROM CLANCA
WHERE DATA <= @DATA
AND CODCOLIGADA = @COLIGADA
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a deleção de Lançamentos do RM Saldus',18,1)
  GOTO INSUCESSO
END
/*--------------------------------*/
/*Atualizando parâmetros*/
SET @REGPARAMS_DTINICIAL = CONVERT(VARCHAR(10),DATEADD(DAY,1,@DATA),103) /*Convertendo para dd/mm/yyyy*/
EXEC SPC_SETPARAMETRO @COLIGADA,@ctDtInicial,@REGPARAMS_DTINICIAL,NULL
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a atualização da Data Inicial do Período Contábil',18,1)
  GOTO INSUCESSO
END
SELECT @REGPARAMS_DTFINAL = TEXTO
FROM CPARAM
WHERE ID = @ctDtFinal AND CODCOLIGADA = @COLIGADA
/*"Convertendo" para mm/dd/yyyy*/
SET @REGPARAMS_DTINICIAL = SUBSTRING(@REGPARAMS_DTINICIAL,4,2) + '/' + SUBSTRING(@REGPARAMS_DTINICIAL,1,2) + '/' + SUBSTRING(@REGPARAMS_DTINICIAL,7,4)
SET @REGPARAMS_DTFINAL = SUBSTRING(@REGPARAMS_DTFINAL,4,2) + '/' + SUBSTRING(@REGPARAMS_DTFINAL,1,2) + '/' + SUBSTRING(@REGPARAMS_DTFINAL,7,4)
/*-----------------------------*/
IF CONVERT(DATETIME,@DATA,101) = CONVERT(DATETIME,@REGPARAMS_DTFINAL,101)
BEGIN
  SET @REGPARAMS_DTFINAL = CONVERT(VARCHAR(10),DATEADD(YEAR,1,@DATA),103)
  EXEC SPC_SETPARAMETRO @COLIGADA,@ctDtFinal,@REGPARAMS_DTFINAL,NULL
  IF @@ERROR <> 0
  BEGIN
    RAISERROR('Erro durante a atualização da Data Final do Período Contábil',18,1)
    GOTO INSUCESSO
  END
  /*"Convertendo" de volta para mm/dd/yyyy*/
  SET @REGPARAMS_DTFINAL = SUBSTRING(@REGPARAMS_DTFINAL,4,2) + '/' + SUBSTRING(@REGPARAMS_DTFINAL,1,2) + '/' + SUBSTRING(@REGPARAMS_DTFINAL,7,4)
  /*-----------------------------*/
END
/*Atualizando datas de Lotes do Bonum e do Liber*/
EXEC SPC_ATUALIZA_LOTE_BONUM @COLIGADA,@REGPARAMS_DTINICIAL,@REGPARAMS_DTFINAL
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a atualização da Data do Lote RM Bonum',18,1)
  GOTO INSUCESSO
END
EXEC SPC_ATUALIZA_LOTE_LIBER @COLIGADA,@REGPARAMS_DTINICIAL,@REGPARAMS_DTFINAL
IF @@ERROR <> 0
BEGIN
  RAISERROR('Erro durante a atualização da Data do Lote RM Liber',18,1)
  GOTO INSUCESSO
END
/*----------------------------------------------*/
/*Se todos os lcts foram excluidos então a referencia dos lcts deve ser reinicializada*/
DECLARE @TEMPBOOL BIT
EXEC SPC_HA_LCTS_COLIGADA @COLIGADA,@TEMPBOOL OUTPUT
IF @TEMPBOOL = 0
BEGIN
  EXEC SPC_RESETID @COLIGADA,@ctGenNewReferencia
  IF @@ERROR <> 0
  BEGIN
    RAISERROR('Erro durante a atualização do número Inicial de Lançamentos',18,1)
    GOTO INSUCESSO
  END
END
/*------------------------------------------------------------------------------------*/
/*----------------------*/
COMMIT TRANSACTION LiberaPeriodo
RETURN(0)
INSUCESSO:
  IF @TRANSACAOABERTA = 1
    ROLLBACK TRANSACTION LiberaPeriodo
  RAISERROR('Não foi possível realizar a Liberação de Período . Processo cancelado .',18,1)
  RETURN(1)
END
GO
