USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_helptext]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_helptext]
  @object_name   sysname,
  @schema_name   sysname,
  @db_name       sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @fullspname nvarchar(256)
declare @object_type char(2)
declare @pstr nvarchar(500)         --KUGL, add dynamic parameter list
-- check whether the object has a SQL definition statement text
-- first get the object_type
-- build the select statement
set @cmd =
  N'select @object_type = so.[type] from [' + @db_name +
         N'].sys.objects so, [' + @db_name + N'].sys.schemas sch ' +
  N'  where sch.schema_id = so.schema_id and ' +
  N'    sch.name = @schema_name and ' +
  N'    so.[name] = @object_name '
set @pstr = N'@object_type nvarchar(10) output,' +
            N'@schema_name sysname, ' +
            N'@object_name sysname'
-- get the type
exec sp_executesql @cmd, @pstr, @object_type output,@schema_name,@object_name
if @object_type is null or
   @object_type not in ('C', 'D', 'FN', 'IF', 'P', 'R', 'TF', 'TR', 'V')
  begin
    raiserror('SQL text not found.',16,1)
    RETURN
  end
-- execute sp_helptext
set @cmd =
  N'exec [' + @db_name + N'].dbo.sp_helptext @fullspname '
set @fullspname = @schema_name + N'.' + @object_name
exec sp_executesql @cmd,
   N'@fullspname nvarchar(256)',@fullspname
END
 
GO
