USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TITMMOVBASE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TITMMOVBASE]
AS
SELECT CODCOLIGADA
	,IDMOV
	,IDPRD
	,QUANTIDADE
	,QUANTIDADEARECEBER
	,QUANTIDADESEPARADA
FROM TITMMOV  WITH (NOLOCK)
WHERE IDGRD IS NULL
UNION
SELECT A.CODCOLIGADA
	,A.IDMOV
	,C.IDPRD
	,SUM(QUANTIDADE) AS QUANTIDADE
	,SUM(QUANTIDADEARECEBER) AS QUANTIDADEARECEBER
	,SUM(QUANTIDADESEPARADA) AS QUANTIDADESEPARADA
FROM TITMMOV A WITH (NOLOCK)
	,TPRD B WITH (NOLOCK)
	,TGRADE C WITH (NOLOCK)
WHERE A.CODCOLIGADA = B.CODCOLIGADA
	AND A.CODCOLIGADA = C.CODCOLIGADA
	AND A.IDPRD = B.IDPRD
	AND A.IDGRD = C.IDGRD
GROUP BY A.CODCOLIGADA
	,A.IDMOV
	,C.IDPRD
GO
