USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW010]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SAVW010]
AS
SELECT B.CODCOLIGADA, 'NOR' TIPO, B.GRUPOGASTO, B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITO,  
       MAX(B.CODREPASSE) CODREPASSE
FROM SZCONTROLREPASSE B
WHERE CODREPASSE > 0 
AND GRUPOGASTO IN ('01','09','03','04','10')
AND B.ESTORNADO IS NULL 
AND NOT EXISTS (SELECT * FROM SZCONTROLREPASSEDIV A
                WHERE A.CODCOLIGADA = B.CODCOLIGADA
                AND A.NUMEROCONTA = B.NUMEROCONTA 
                AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA 
                AND A.SEQDEBITO = B.SEQDEBITO 
                AND A.CODITEM = B.CODITEM 
                AND A.GRUPOGASTO IN ('X1','X9','03','04','10'))
GROUP BY B.CODCOLIGADA, B.GRUPOGASTO, B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITO

UNION

--REDIRECIONAMENTO DE REPASSE - SOMENTE HONORÁRIOS E SADT
SELECT B.CODCOLIGADA, 'RED' TIPO, A.GRUPOGASTO,  B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITO , MAX(B.CODREPASSE) CODREPASSE
FROM SZCONTROLREPASSEDIV A, SZCONTROLREPASSE B
WHERE A.CODCOLIGADA = B.CODCOLIGADA 
AND A.NUMEROCONTA = B.NUMEROCONTA 
AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA 
AND A.SEQDEBITO = B.SEQDEBITO 
AND A.CODITEM = B.CODITEM 
AND A.CODPRESTADOR = B.CODPRESTADOR 
AND A.GRUPOGASTO IN ('X1','X9')
AND B.ESTORNADO IS NULL 
GROUP BY B.CODCOLIGADA, A.GRUPOGASTO, B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITO

UNION

--DIVISAO DE REPASSE SOMENTE DIARIAS TAXAS SERV E MATMED
SELECT  B.CODCOLIGADA, 'DIV' TIPO, B.GRUPOGASTO, B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITO , MAX(B.CODREPASSE) CODREPASSE
FROM SZCONTROLREPASSEDIV A, SZCONTROLREPASSE B
WHERE A.CODCOLIGADA = B.CODCOLIGADA 
AND A.NUMEROCONTA = B.NUMEROCONTA 
AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA 
AND A.SEQDEBITO = B.SEQDEBITO 
AND A.CODITEM = B.CODITEM 
AND A.CODPRESTADOR = B.CODPRESTADOR 
AND B.GRUPOGASTO NOT IN ('01','09') 
AND B.ESTORNADO IS NULL 
GROUP BY B.CODCOLIGADA, B.GRUPOGASTO, B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITO
GO
