USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[CCOLIGADA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CCOLIGADA] AS
	SELECT CCONTROLADA.CODCOLIGADA,
		   CCONTROLADA.CODCOLCONTROLADA,
		   GCOLIGADA.NOMEFANTASIA,
		   GCOLIGADA.NOME,
		   CCONTROLADA.INATIVA
	  FROM CCONTROLADA (NOLOCK), GCOLIGADA(NOLOCK)
	 WHERE CCONTROLADA.CODCOLCONTROLADA = GCOLIGADA.CODCOLIGADA
	 UNION
	SELECT CCONTROLADA.CODCOLIGADA,
		   CCONTROLADA.CODCOLIGADA CODCOLCONTROLADA,
		   GCOLIGADA.NOMEFANTASIA,
		   GCOLIGADA.NOME,
		   0 INATIVA
	  FROM CCONTROLADA (NOLOCK), GCOLIGADA(NOLOCK)
	 WHERE CCONTROLADA.CODCOLIGADA = GCOLIGADA.CODCOLIGADA
  GROUP BY CCONTROLADA.CODCOLIGADA, GCOLIGADA.NOME, GCOLIGADA.NOMEFANTASIA
GO
