USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[PFHSTFER]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[PFHSTFER] AS ( SELECT PFUFERIAS.CODCOLIGADA CODCOLIGADA, PFUFERIAS.CHAPA CHAPA, PFUFERIAS.FIMPERAQUIS DTFIMPERAQUIS, (SELECT SUM(1) NRO FROM PFUFERIAS FER INNER JOIN PFUFERIASPER PER ON ( PER.CODCOLIGADA = FER.CODCOLIGADA AND PER.CHAPA = FER.CHAPA AND PER.FIMPERAQUIS = FER.FIMPERAQUIS AND PER.SITUACAOFERIAS = 'F') WHERE FER.CODCOLIGADA = PFUFERIAS.CODCOLIGADA AND FER.CHAPA = PFUFERIAS.CHAPA AND FER.FIMPERAQUIS = PFUFERIAS.FIMPERAQUIS AND PER.DATAINICIO <= PFUFERIASPER.DATAINICIO ) NROPERIODO, PFUFERIAS.INICIOPERAQUIS DTINIPERAQUIS, PFUFERIASPER.DATAINICIO DTINIGOZO, PFUFERIASPER.DATAFIM DTFIMGOZO, CAST (PFUFERIASPER.NRODIASABONO AS NUMERIC (15, 2)) DIASABONO, PFUFERIASPER.PAGA1APARC13O QUER1APARC13O, PFUFERIASPER.FERIASCOLETIVAS FERIASCOLETIVAS, CAST (PFUFERIAS.FALTAS AS SMALLINT) NROFALTAS, CAST (0 AS SMALLINT) AS DIASABONOCORRIDOS, CAST (0 AS SMALLINT) AS POSICAOABONO, CAST (NULL AS INT) AS NRODIASUTEIS, CAST (NULL AS INT) AS NRODIASCORRIDOS, CAST (0 AS SMALLINT) AS QUERADIANTAMENTO, PFUFERIAS.MOTIVOPERDA AS MOTPERDAPERAQUI FROM PFUFERIAS INNER JOIN PFUFERIASPER ON (PFUFERIAS.CODCOLIGADA = PFUFERIASPER.CODCOLIGADA AND PFUFERIAS.CHAPA = PFUFERIASPER.CHAPA AND PFUFERIAS.FIMPERAQUIS = PFUFERIASPER.FIMPERAQUIS AND PFUFERIASPER.SITUACAOFERIAS = 'F') UNION SELECT PFUFERIAS.CODCOLIGADA CODCOLIGADA, PFUFERIAS.CHAPA CHAPA, PFUFERIAS.FIMPERAQUIS DTFIMPERAQUIS, (SELECT CASE WHEN SUM(1) IS NULL THEN 0 ELSE SUM(1) END NRO FROM PFUFERIAS FER INNER JOIN PFUFERIASPER PER ON ( PER.CODCOLIGADA = FER.CODCOLIGADA AND PER.CHAPA = FER.CHAPA AND PER.FIMPERAQUIS = FER.FIMPERAQUIS AND PER.SITUACAOFERIAS = 'F') WHERE FER.CODCOLIGADA = PFUFERIAS.CODCOLIGADA AND FER.CHAPA = PFUFERIAS.CHAPA AND FER.FIMPERAQUIS = PFUFERIAS.FIMPERAQUIS)+1 NROPERIODO, PFUFERIAS.INICIOPERAQUIS DTINIPERAQUIS, NULL DTINIGOZO, NULL DTFIMGOZO, CAST(0 AS NUMERIC(15,2)) DIASABONO, CAST(0 AS SMALLINT) QUER1APARC13O, CAST(0 AS SMALLINT) FERIASCOLETIVAS, CAST(0 AS SMALLINT) NROFALTAS, CAST(0 AS SMALLINT) AS DIASABONOCORRIDOS, 0 AS POSICAOABONO, CAST(NULL AS INT) AS NRODIASUTEIS, CAST(NULL AS INT) AS NRODIASCORRIDOS, 0 AS QUERADIANTAMENTO, NULL AS MOTPERDAPERAQUI FROM PFUFERIAS WHERE PERIODOABERTO = 1 OR (NOT EXISTS ( SELECT * FROM PFUFERIASPER WHERE PFUFERIAS.CODCOLIGADA = PFUFERIASPER.CODCOLIGADA AND PFUFERIAS.CHAPA = PFUFERIASPER.CHAPA AND PFUFERIAS.FIMPERAQUIS = PFUFERIASPER.FIMPERAQUIS)AND PERIODOABERTO = 0))
GO
