USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_hier_insert_select]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_hier_insert_select]
@i_into_tmptab varchar(40),  /* in: target table */
@i_hiertab varchar(40),  /* in: hierarchy table */
@i_delta int,            /* in: maximal level of CONNECT BY PRIOR */
@i_nodesid int,          /* in: starting node */
@i_hiesid int,           /* in: hierarchy number */
@i_sver char (1),        /* in: hierarchy version */
@i_sum_factor char(1),   /* in: sum(factor)? */
@i_groupby varchar(1),   /* in: 'X' groupby */
@i_succ varchar(40),     /* in: successor column returned */
@i_pred varchar(40),     /* in: predecessor column returned */
@i_factor varchar(40),   /* in: factor column returned (may be NULL) */
@rsdrh_succ varchar(40), /* in: rsdrh-name of successor field */
@rsdrh_pred varchar(40), /* in: rsdrh-name of predecessor field */
@rsdrh_factor varchar(40), /* in: rsdrh-name of factor (may be NULL) */
@rsdrh_hiesid varchar(40), /* in: rsdrh-name of hier. number field */
@rsdrh_sver varchar(40),   /* in: rsdrh-name of version field */
@rsdrh_seq_nr varchar(40)  /* in: rsdrh-name of seq_nr field */
as
begin
declare @tmp varchar(40) /* temporary intermediant table, will hold
                            SELECT CONNECT BY PRIOR result */
declare @actstmt varchar(7168) /* buffer for SQL statements */
declare @i_delta_c varchar(14) /* i_delta as string */
select @i_delta_c = cast ( @i_delta AS varchar )
/* determine name for @tmp, create the table */
select @tmp = '##HIETT_' + cast(@@spid as varchar) + '_0'
execute sap_BW_hier_create @tmp, @i_hiertab, @rsdrh_succ,
                           @rsdrh_pred, @rsdrh_factor
/* fill @tmp */
execute sap_BW_hier_build
  @tmp, @i_hiertab, @i_delta, @i_nodesid, @i_hiesid, @i_sver,
  @rsdrh_succ, @rsdrh_pred, @i_factor, @rsdrh_hiesid, @rsdrh_sver
/* now copy the relevant data into @i_into_tmptab */
select @actstmt = 'insert into [' + @i_into_tmptab + '] '
if @i_succ = @rsdrh_succ
  select @actstmt = @actstmt + 'select succ as ' + @rsdrh_succ + ', '
else
  select @actstmt = @actstmt + 'select ' + @i_succ + ' as ' +
                    @rsdrh_succ + ', '
if @i_pred = @rsdrh_pred
  select @actstmt = @actstmt + 'pred  as ' + @rsdrh_pred + ', '
else
/* gdcorr1 -- */
if @i_pred = @rsdrh_succ
  select @actstmt = @actstmt + 'succ  as ' + @rsdrh_pred + ', '
else
/* -- gdcorr1 */
  select @actstmt = @actstmt + @i_pred + ' as ' + @rsdrh_pred + ', '
select @actstmt = @actstmt +  '0 as ' + @rsdrh_seq_nr + ', '
if @i_sum_factor = 'X'
  select @actstmt = @actstmt + 'sum(factor) as ' + @rsdrh_factor + ' '
else
  select @actstmt = @actstmt + @i_factor + ' as ' + @rsdrh_factor + ' '
               /* gdcorr1 'factor as ' => @i_factor + ' as ' */
select @actstmt =
  @actstmt + 'from ' + @tmp  + ' where ' +
  'succ >= 0 or hlevel = ' + @i_delta_c
if @i_groupby = 'X'
  select @actstmt = @actstmt + ' group by succ'
exec ( @actstmt )
end
/**
 ** sap_BW_hier_insert_select
 **/
 
GO
