USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_SAP_PONTO_ELETRONICO_FORPONTO]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SAP_PONTO_ELETRONICO_FORPONTO]
( @CHAPA       VARCHAR(09)
, @DATA        DATETIME
, @BATIDA      VARCHAR(04)
, @CDEQP       VARCHAR(10)
)
AS
BEGIN 
  DECLARE @CHAPA15     VARCHAR(15)
  DECLARE @Min         VARCHAR(03)
  DECLARE @HRBatida    INTEGER 
  DECLARE @HRInsert    INTEGER 
  DECLARE @DFPONTIPO   INTEGER
  DECLARE @CODEQP      VARCHAR(04)
  
  SET @CHAPA15  = (SELECT DISTINCT REPLICATE(0, 15 - LEN(@CHAPA)) + @CHAPA)  
  SET @HRBatida = CAST(ROUND(SUBSTRING ( @BATIDA  ,1 , 2 ) * 60, 0) AS INT) + 
                  SUBSTRING (@BATIDA  ,3 , 2 ) 
  
  SET @Min      = SUBSTRING (CONVERT(VARCHAR(11),GETDATE(),114),3,3)
  SET @Min      = SUBSTRING (@Min,2,2)
  SET @HRInsert = CAST(ROUND(SUBSTRING ( SUBSTRING (CONVERT(VARCHAR(11),GETDATE(),114),1,2) + @Min  ,1 , 2 ) * 60, 0) AS INT) + 
                  SUBSTRING (SUBSTRING (CONVERT(VARCHAR(11),GETDATE(),114),1,2) + @Min  ,3 , 2 )  
                                
    SELECT @DFPONTIPO = COUNT(DFPONTIPO) 
      FROM FORPONTO.FORPONTO.FORPONTO.PPONFPTO
     WHERE DFFUNCRACHA = @CHAPA15 
       AND DFPONDATA   = @DATA 
       AND DFPILORIGEM = '1' -- Registros de Entrada/Saida                       
  
  --Esse IF valida se o colaborador que está no FORPONTO é ISENTO (DFFUNCLASSE = 'N'). Se for isento, vai para o CHRONUS.   
  -- Verifica se o colaborador já existe na base do Forponto, se exister insere a batida
  IF EXISTS( SELECT 1 FROM FORPONTO.FORPONTO.FORPONTO.PFUNFPTO WHERE DFFUNCRACHA = @CHAPA15 AND DFFUNCLASSE = 'N' ) 
--        AND( @DFPONTIPO < 2 ) 
   BEGIN  
    SET @CODEQP = @CDEQP
    
     IF @CODEQP = '0'
     BEGIN     
      SET @CODEQP = '01'
     END
    
	--SELECT @CDEQP, @CHAPA15

    -- Colaboradores novos que nunca bateu ponto, precisam ser inseridos na base 
    IF NOT EXISTS( SELECT 1 FROM FORPONTO.FORPONTO.FORPONTO.PPILFPTO WHERE DFFUNCRACHA = @CHAPA15 )
     BEGIN
            INSERT FORPONTO.FORPONTO.FORPONTO.PPILFPTO 
     		SELECT TOP 1
			   DFFUNCRACHA        = @CHAPA15
			 , DFPILDATA          = @DATA      
			 , DFPILHORA          = @HRBatida                     
			 , DFPILTIPO 
			 , DFPILFUNCAO 
			 , DFRELCODIGO        = @CODEQP	
			 , DFPILORIGEM        = '1'
			 , DFEPSCODIGO 
			 , DFPILTIPOFPTOACES 
			 , DFPILONLINE 
			 , DFPILDATACAPTURA    = GETDATE()    
			 , DFFUNULTDATAANAL        
			 , DFPILDEFASADA                           
			 , DFPILHORACAPTURA                        
			 , DFPILARQUIVO                   
			 , DFPILORIUNDA 
			 , DFPILCRACHAMESTRE 
			 , DFRELNUMREP       
			 , DFPILDESCARTADA 
			 , DFPILNSR  
			 , DFFUNPIS     
			 , DFPILERROREP 
		  FROM FORPONTO.FORPONTO.FORPONTO.PPILFPTO 
  		 WHERE DFFUNCRACHA <> @CHAPA15 
		   AND DFPILDATA   = @DATA
  		   AND DFRELCODIGO = @CODEQP
    END
    ELSE
     BEGIN 
		INSERT FORPONTO.FORPONTO.FORPONTO.PPILFPTO 
		SELECT TOP 1
			   DFFUNCRACHA        = @CHAPA15
			 , DFPILDATA          = @DATA      
			 , DFPILHORA          = @HRBatida                     
			 , DFPILTIPO 
			 , DFPILFUNCAO 
			 , DFRELCODIGO        = @CODEQP	
			 , DFPILORIGEM        = '1'
			 , DFEPSCODIGO 
			 , DFPILTIPOFPTOACES 
			 , DFPILONLINE 
			 , DFPILDATACAPTURA    = GETDATE()    
			 , DFFUNULTDATAANAL        
			 , DFPILDEFASADA                           
			 , DFPILHORACAPTURA                        
			 , DFPILARQUIVO                   
			 , DFPILORIUNDA 
			 , DFPILCRACHAMESTRE 
			 , DFRELNUMREP       
			 , DFPILDESCARTADA 
			 , DFPILNSR  
			 , DFFUNPIS     
			 , DFPILERROREP 
		 FROM FORPONTO.FORPONTO.FORPONTO.PPILFPTO 
  		 WHERE DFFUNCRACHA = @CHAPA15  
		   AND NOT EXISTS( SELECT 1 
							 FROM FORPONTO.FORPONTO.FORPONTO.PPILFPTO 
							 WHERE DFFUNCRACHA = @CHAPA15 
							   AND DFPILDATA   = @DATA 
							  AND DFPILHORA   = @HRBatida
						  )
	   END       
   END           
  
END 


GO
