USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_atomic_defaultunbind]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_atomic_defaultunbind]
  @tabname sysname,
  @fieldname sysname
as
BEGIN
set nocount on;
-- declare local variable
declare @cmd nvarchar(500);
-- unbind the default
declare @def_obj_id varchar(100);
declare @def_obj_name varchar(200);
select @def_obj_id = default_object_id,
       @def_obj_name = object_name(default_object_id)
from sys.columns
where object_id = object_id(@tabname) and name = @fieldname;
if (@def_obj_id IS NULL OR @def_obj_id IN
   (SELECT object_id FROM sys.objects
   WHERE type = 'D' AND parent_object_id = 0))
--unbind the old default
  begin
    select @cmd = N'sp_unbindefault [' +
           @tabname + N'.' + @fieldname + N']';
    exec( @cmd );
  end
else
  begin
    select @cmd = N'ALTER TABLE ['+@tabname+N'] DROP CONSTRAINT
    ['+@def_obj_name+N']';
    exec( @cmd );
  end
END
 
GO
