USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_RetornaAtualizacaoSecoesSAP]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RetornaAtualizacaoSecoesSAP]
( 
  @CODCOLIGADA INT
, @DTULTE      DATETIME
)
AS
BEGIN


  	  SELECT CODCOLIGADA         
		   , CODIGO 
		   , DESCRICAO
		   , NROCENCUSTOCONT = IsNull( NROCENCUSTOCONT , '') 
		   , BEGDA           = '20000101'
		   , ENDDA           = '99991231'		   
		   , DTACAO          = IsNull( CONVERT(VARCHAR,RECMODIFIEDON ,112) , IsNull( CONVERT(VARCHAR, RECCREATEDON ,112) , '2000-01-01')) 
		   , USACAO          = IsNull( RECMODIFIEDBY  , RECCREATEDBY ) 
		FROM PSECAO     
	   WHERE CODCOLIGADA >= @CODCOLIGADA
	     AND ISNULL(CONVERT(VARCHAR,RECMODIFIEDON  ,112), '20000101')  >= @DTULTE 
		 AND CODIGO      LIKE '0%' 
	ORDER BY CODIGO ASC

  END 



GO
