USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[CALCTAXAADM]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CALCTAXAADM]
@NCONTA VARCHAR(14),
@SCONTA INTEGER,
@CODCOLIGADA INTEGER,
@SEQPARCIAL INTEGER,
@TIPO CHAR(1)
AS
    DECLARE @TAXAADM             AS NUMERIC(18, 4),
            @TAXACALC            AS NUMERIC(18, 4),
            @CODCONV             AS INTEGER,
            @PERCTAXAADM         AS NUMERIC(18, 2),
            @PERCTAXADIARIA      AS VARCHAR(1),
            @PERCTAXATAXA        AS VARCHAR(1),
            @PERCTAXASERVICO     AS VARCHAR(1),
            @PERCTAXAMATERIAL    AS VARCHAR(1),
            @PERCTAXAMEDICAMENTO AS VARCHAR(1),
            @PERCTAXAHONORARIO   AS VARCHAR(1),
            @PERCTAXASADT        AS VARCHAR(1),
            @PERCTAXATOTALCONTA  AS VARCHAR(1),
            @TAXAADMTIPOCONV     AS VARCHAR(1),
            @TIPOPACIENTE        AS VARCHAR(1),
            @CODTIPOCONTRATO     AS INTEGER,
            @IDUNIDFAT           AS INTEGER,
            @DATAFINAL           AS DATETIME
  BEGIN
      IF @TIPO = 'R'
        BEGIN
            SELECT @CODCONV = B.CODCONVENIO,
                   @TIPOPACIENTE = A.TIPOPACIENTE,
                   @IDUNIDFAT = B.IDUNIDFAT,
                   @DATAFINAL = B.DATAFINAL
            FROM   SZATENDIMENTOREC A,
                   SZPARCIALATEND B
            WHERE  A.CODCOLIGADA = @CODCOLIGADA
                   AND A.NUMEROCONTA = @NCONTA
                   AND A.SEQUENCIALCONTA = @SCONTA
                   AND B.CODCOLIGADA = A.CODCOLIGADA
                   AND B.NUMEROCONTA = A.NUMEROCONTA
                   AND B.SEQUENCIALCONTA = A.SEQUENCIALCONTA
                   AND B.SEQPARCIAL = @SEQPARCIAL
        END
      ELSE
        BEGIN
            SELECT @CODCONV = B.CODCONVENIO,
                   @TIPOPACIENTE = A.TIPOPACIENTE,
                   @IDUNIDFAT = B.IDUNIDFAT,
                   @DATAFINAL = B.DATAFINAL
            FROM   SZATENDIMENTO A,
                   SZPARCIALATEND B
            WHERE  A.CODCOLIGADA = @CODCOLIGADA
                   AND A.NUMEROCONTA = @NCONTA
                   AND A.SEQUENCIALCONTA = @SCONTA
                   AND B.CODCOLIGADA = A.CODCOLIGADA
                   AND B.NUMEROCONTA = A.NUMEROCONTA
                   AND B.SEQUENCIALCONTA = A.SEQUENCIALCONTA
                   AND B.SEQPARCIAL = @SEQPARCIAL
        END
      SELECT @CODCONV = B.CODCONVENIO,
             @TIPOPACIENTE = A.TIPOPACIENTE,
             @IDUNIDFAT = B.IDUNIDFAT,
             @DATAFINAL = B.DATAFINAL
      FROM   SZATENDIMENTO A,
             SZPARCIALATEND B
      WHERE  A.CODCOLIGADA = @CODCOLIGADA
             AND A.NUMEROCONTA = @NCONTA
             AND A.SEQUENCIALCONTA = @SCONTA
             AND B.CODCOLIGADA = A.CODCOLIGADA
             AND B.NUMEROCONTA = A.NUMEROCONTA
             AND B.SEQUENCIALCONTA = A.SEQUENCIALCONTA
             AND B.SEQPARCIAL = @SEQPARCIAL
      SELECT @PERCTAXAADM = PERCTAXAADM,
             @PERCTAXADIARIA = PERCTAXADIARIA,
             @PERCTAXATAXA = PERCTAXATAXA,
             @PERCTAXASERVICO = PERCTAXASERVICO,
             @PERCTAXAMATERIAL = PERCTAXAMATERIAL,
             @PERCTAXAMEDICAMENTO = PERCTAXAMEDICAMENTO,
             @PERCTAXAHONORARIO = PERCTAXAHONORARIO,
             @PERCTAXASADT = PERCTAXASADT,
             @PERCTAXATOTALCONTA = PERCTAXATOTALCONTA,
             @TAXAADMTIPOCONV = TAXAADMTIPOCONV,
             @CODTIPOCONTRATO = CODTIPOCONTRATO
      FROM   SZCONDCONTRAT
      WHERE  CODCONVENIO = @CODCONV
             AND IDUNIDATEND = @IDUNIDFAT
             AND CODCOLIGADA = @CODCOLIGADA
             AND DATAVIGENCIA = (SELECT MAX(DATAVIGENCIA)
                                 FROM   SZCONDCONTRAT D(NOLOCK)
                                 WHERE  D.CODCOLIGADA = @CODCOLIGADA
                                        AND D.CODCONVENIO = @CODCONV
                                        AND D.IDUNIDATEND = @IDUNIDFAT
                                        AND D.DATAVIGENCIA <= ISNULL(@DATAFINAL, GETDATE()))
      IF @TIPOPACIENTE <> @TAXAADMTIPOCONV
         AND @TAXAADMTIPOCONV <> 'A'
        BEGIN
            UPDATE SZATENDRESUMO
            SET    TAXAADMRESUMO = 0
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            RETURN
        END
      SELECT @TAXACALC = 0
      IF @PERCTAXAADM > 0
        BEGIN
            IF @PERCTAXATOTALCONTA = 'T'
              BEGIN
                  SELECT @TAXAADM = (SELECT ( VALORTOTALRESUMO * @PERCTAXAADM ) / 100
                                     FROM   SZATENDRESUMO
                                     WHERE  NUMEROCONTA = @NCONTA
                                            AND SEQUENCIALCONTA = @SCONTA
                                            AND CODCOLIGADA = @CODCOLIGADA
                                            AND SEQPARCIAL = @SEQPARCIAL)
                  SELECT @TAXACALC = @TAXACALC + @TAXAADM
              END
            ELSE
              BEGIN
                  IF @PERCTAXAHONORARIO = 'T'
                    BEGIN
                        SELECT @TAXAADM = (SELECT ( SUM(VALORTOTALHM) * @PERCTAXAADM ) / 100
                                           FROM   SZATENDHONORARIO
                                           WHERE  CODCOLIGADA = @CODCOLIGADA
                                                  AND NUMEROCONTA = @NCONTA
                                                  AND SEQUENCIALCONTA = @SCONTA
                                                  AND SEQPARCIAL = @SEQPARCIAL
                                                  AND ESTORNADO IS NULL
                                                  AND ( HONORARIOFORA IS NULL
                                                         OR HONORARIOFORA = ''
                                                         OR HONORARIOFORA = 'F' ))
                        IF @TAXAADM > 0
                          SELECT @TAXACALC = @TAXACALC + @TAXAADM
                    END
                  IF @PERCTAXADIARIA = 'T'
                    BEGIN
                        SELECT @TAXAADM = (SELECT ( SUM(VALORTOTALDIARIAS) * @PERCTAXAADM ) / 100
                                           FROM   SZATENDDIARIAS
                                           WHERE  CODCOLIGADA = @CODCOLIGADA
                                                  AND NUMEROCONTA = @NCONTA
                                                  AND SEQUENCIALCONTA = @SCONTA
                                                  AND SEQPARCIAL = @SEQPARCIAL
                                                  AND ESTORNADO IS NULL)
                        IF @TAXAADM > 0
                          SELECT @TAXACALC = @TAXACALC + @TAXAADM
                    END
                  IF @PERCTAXASADT = 'T'
                    BEGIN
                        SELECT @TAXAADM = (SELECT ( SUM(VALORTOTALSADT) * @PERCTAXAADM ) / 100
                                           FROM   SZATENDSADT
                                           WHERE  CODCOLIGADA = @CODCOLIGADA
                                                  AND NUMEROCONTA = @NCONTA
                                                  AND SEQUENCIALCONTA = @SCONTA
                                                  AND SEQPARCIAL = @SEQPARCIAL
                                                  AND ESTORNADO IS NULL)
                        IF @TAXAADM > 0
                          SELECT @TAXACALC = @TAXACALC + @TAXAADM
                    END
                  IF @PERCTAXATAXA = 'T'
                    BEGIN
                        SELECT @TAXAADM = (SELECT ( SUM(VALORTOTALTAXAS) * @PERCTAXAADM ) / 100
                                           FROM   SZATENDTAXASERV
                                           WHERE  CODCOLIGADA = @CODCOLIGADA
                                                  AND NUMEROCONTA = @NCONTA
                                                  AND SEQUENCIALCONTA = @SCONTA
                                                  AND SEQPARCIAL = @SEQPARCIAL
                                                  AND CODGGASTO = '03'
                                                  AND ESTORNADO IS NULL)
                        IF @TAXAADM > 0
                          SELECT @TAXACALC = @TAXACALC + @TAXAADM
                    END
                  IF @PERCTAXASERVICO = 'T'
                    BEGIN
                        SELECT @TAXAADM = (SELECT ( SUM(VALORTOTALTAXAS) * @PERCTAXAADM ) / 100
                                           FROM   SZATENDTAXASERV
                                           WHERE  CODCOLIGADA = @CODCOLIGADA
                                                  AND NUMEROCONTA = @NCONTA
                                                  AND SEQUENCIALCONTA = @SCONTA
                                                  AND SEQPARCIAL = @SEQPARCIAL
                                                  AND CODGGASTO = '04'
                                                  AND ESTORNADO IS NULL)
                        IF @TAXAADM > 0
                          SELECT @TAXACALC = @TAXACALC + @TAXAADM
                    END
                  IF @PERCTAXAMEDICAMENTO = 'T'
                    BEGIN
                        SELECT @TAXAADM = (SELECT ( SUM(CAST(( VALORTOTALMATMED - ( QTDDEVOLVIDA * VALORMATMED ) ) AS NUMERIC(18, 4))) * @PERCTAXAADM ) / 100
                                           FROM   SZATENDMATMED
                                           WHERE  CODCOLIGADA = @CODCOLIGADA
                                                  AND NUMEROCONTA = @NCONTA
                                                  AND SEQUENCIALCONTA = @SCONTA
                                                  AND SEQPARCIAL = @SEQPARCIAL
                                                  AND ( ( QUANTIDADEMATMED - QTDDEVOLVIDA ) > 0 )
                                                  AND ( ( TIPOMOVIMENTO <> 2 )
                                                         OR ( TIPOMOVIMENTO IS NULL ) )
                                                  AND CODGGASTO = '05'
                                                  AND ESTORNADO IS NULL)
                        IF @TAXAADM > 0
                          SELECT @TAXACALC = @TAXACALC + @TAXAADM
                    END
                  IF @PERCTAXAMATERIAL = 'T'
                    BEGIN
                        SELECT @TAXAADM = (SELECT ( SUM(CAST(( VALORTOTALMATMED - ( QTDDEVOLVIDA * VALORMATMED ) ) AS NUMERIC(18, 4))) * @PERCTAXAADM ) / 100
                                           FROM   SZATENDMATMED
                                           WHERE  CODCOLIGADA = @CODCOLIGADA
                                                  AND NUMEROCONTA = @NCONTA
                                                  AND SEQUENCIALCONTA = @SCONTA
                                                  AND SEQPARCIAL = @SEQPARCIAL
                                                  AND ( ( QUANTIDADEMATMED - QTDDEVOLVIDA ) > 0 )
                                                  AND ( ( TIPOMOVIMENTO <> 2 )
                                                         OR ( TIPOMOVIMENTO IS NULL ) )
                                                  AND CODGGASTO = '06'
                                                  AND ESTORNADO IS NULL)
                        IF @TAXAADM > 0
                          SELECT @TAXACALC = @TAXACALC + @TAXAADM
                    END
              END
        END
      IF (SELECT COUNT(SEQTAXA)
          FROM   SZTXADMCONDESPEC
          WHERE  CODTIPOCONTRATO = @CODTIPOCONTRATO
                 AND CODCOLIGADA = @CODCOLIGADA) = 0
        BEGIN
            IF ( (SELECT STATUSCONTA
                  FROM   SZATENDIMENTO
                  WHERE  NUMEROCONTA = @NCONTA
                         AND SEQUENCIALCONTA = @SCONTA
                         AND CODCOLIGADA = @CODCOLIGADA) = 'F' )
               AND ( (SELECT TAXAADMRESUMO
                      FROM   SZATENDRESUMO
                      WHERE  NUMEROCONTA = @NCONTA
                             AND SEQUENCIALCONTA = @SCONTA
                             AND CODCOLIGADA = @CODCOLIGADA
                             AND SEQPARCIAL = @SEQPARCIAL) IS NULL )
              BEGIN
                  UPDATE SZATENDRESUMO
                  SET    TAXAADMRESUMO = 0
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND NUMEROCONTA = @NCONTA
                         AND SEQUENCIALCONTA = @SCONTA
                         AND SEQPARCIAL = @SEQPARCIAL
              END
            ELSE
              UPDATE SZATENDRESUMO
              SET    TAXAADMRESUMO = @TAXACALC
              WHERE  CODCOLIGADA = @CODCOLIGADA
                     AND NUMEROCONTA = @NCONTA
                     AND SEQUENCIALCONTA = @SCONTA
                     AND SEQPARCIAL = @SEQPARCIAL
            RETURN
        END
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALHM * PERCTAXA) / 100
                         FROM   SZATENDHONORARIO A,
                                SZTXADMCONDESPEC B,
                                SZTXADMITEM C
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND ( HONORARIOFORA IS NULL
                                       OR HONORARIOFORA = ''
                                       OR HONORARIOFORA = 'F' )
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND C.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND B.SEQTAXA = C.SEQTAXA
                                AND B.CODCOLIGADA = C.CODCOLIGADA
                                AND C.CODCOLIGADA = A.CODCOLIGADA
                                AND C.CODITEM = ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                                  + A.CODITEM )
                                AND C.CODFIM IS NULL)
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALHM * PERCTAXA) / 100
                         FROM   SZATENDHONORARIO A,
                                SZTXADMCONDESPEC B
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND ( HONORARIOFORA IS NULL
                                       OR HONORARIOFORA = ''
                                       OR HONORARIOFORA = 'F' )
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND A.CODESPECIALIDADE = B.CODESPECIALIDADE
                                AND A.CODGRUPOITENS = B.CODGRUPOITENS
                                AND A.CODCOLIGADA = B.CODCOLIGADA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                               + D.CODITEM
                                                        FROM   SZATENDHONORARIO D,
                                                               SZTXADMCONDESPEC E,
                                                               SZTXADMITEM F
                                                        WHERE  D.NUMEROCONTA = @NCONTA
                                                               AND D.SEQUENCIALCONTA = @SCONTA
                                                               AND D.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND ( HONORARIOFORA IS NULL
                                                                      OR HONORARIOFORA = ''
                                                                      OR HONORARIOFORA = 'F' )
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.SEQTAXA = F.SEQTAXA
                                                               AND E.CODCOLIGADA = F.CODCOLIGADA
                                                               AND F.CODCOLIGADA = D.CODCOLIGADA
                                                               AND F.CODITEM = ( D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                                                 + D.CODITEM )
                                                               AND F.CODFIM IS NULL))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALHM * PERCTAXA) / 100
                         FROM   SZATENDHONORARIO A,
                                SZTXADMCONDESPEC B
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND ( HONORARIOFORA IS NULL
                                       OR HONORARIOFORA = ''
                                       OR HONORARIOFORA = 'F' )
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND A.CODESPECIALIDADE = B.CODESPECIALIDADE
                                AND A.CODCOLIGADA = B.CODCOLIGADA
                                AND B.CODGRUPOITENS IS NULL
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                               + D.CODITEM
                                                        FROM   SZATENDHONORARIO D,
                                                               SZTXADMCONDESPEC E
                                                        WHERE  D.NUMEROCONTA = @NCONTA
                                                               AND D.SEQUENCIALCONTA = @SCONTA
                                                               AND D.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND ( HONORARIOFORA IS NULL
                                                                      OR HONORARIOFORA = ''
                                                                      OR HONORARIOFORA = 'F' )
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND D.CODESPECIALIDADE = E.CODESPECIALIDADE
                                                               AND D.CODCOLIGADA = E.CODCOLIGADA
                                                               AND D.CODGRUPOITENS = E.CODGRUPOITENS)
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                               + D.CODITEM
                                                        FROM   SZATENDHONORARIO D,
                                                               SZTXADMCONDESPEC E,
                                                               SZTXADMITEM F
                                                        WHERE  D.NUMEROCONTA = @NCONTA
                                                               AND D.SEQUENCIALCONTA = @SCONTA
                                                               AND D.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND ( HONORARIOFORA IS NULL
                                                                      OR HONORARIOFORA = ''
                                                                      OR HONORARIOFORA = 'F' )
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.SEQTAXA = E.SEQTAXA
                                                               AND F.CODCOLIGADA = E.CODCOLIGADA
                                                               AND F.CODCOLIGADA = D.CODCOLIGADA
                                                               AND F.CODFIM IS NULL
                                                               AND ( F.CODITEM = ( D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                                                   + D.CODITEM ) )))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALHM * PERCTAXA) / 100
                         FROM   SZATENDHONORARIO A,
                                SZTXADMCONDESPEC B,
                                SZTXADMITEM C
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND ( HONORARIOFORA IS NULL
                                       OR HONORARIOFORA = ''
                                       OR HONORARIOFORA = 'F' )
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND C.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND B.SEQTAXA = C.SEQTAXA
                                AND B.CODCOLIGADA = C.CODCOLIGADA
                                AND C.CODCOLIGADA = A.CODCOLIGADA
                                AND ( C.CODITEM <= ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                                     + A.CODITEM ) )
                                AND ( ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                        + A.CODITEM ) <= C.CODFIM )
                                AND NOT ( C.CODFIM IS NULL )
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDHONORARIO C,
                                                               SZTXADMCONDESPEC D
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND ( HONORARIOFORA IS NULL
                                                                      OR HONORARIOFORA = ''
                                                                      OR HONORARIOFORA = 'F' )
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND C.CODESPECIALIDADE = D.CODESPECIALIDADE
                                                               AND C.CODCOLIGADA = D.CODCOLIGADA
                                                               AND C.CODGRUPOITENS = D.CODGRUPOITENS)
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDHONORARIO C,
                                                               SZTXADMCONDESPEC D,
                                                               SZTXADMITEM E
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND ( HONORARIOFORA IS NULL
                                                                      OR HONORARIOFORA = ''
                                                                      OR HONORARIOFORA = 'F' )
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.SEQTAXA = D.SEQTAXA
                                                               AND E.CODFIM IS NULL
                                                               AND E.CODCOLIGADA = D.CODCOLIGADA
                                                               AND E.CODCOLIGADA = C.CODCOLIGADA
                                                               AND ( E.CODITEM = ( C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                                                   + C.CODITEM ) ))
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDHONORARIO C,
                                                               SZTXADMCONDESPEC D
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND ( HONORARIOFORA IS NULL
                                                                      OR HONORARIOFORA = ''
                                                                      OR HONORARIOFORA = 'F' )
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND D.CODESPECIALIDADE = C.CODESPECIALIDADE
                                                               AND D.CODCOLIGADA = C.CODCOLIGADA
                                                               AND D.CODGRUPOITENS IS NULL))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALDIARIAS * PERCTAXA) / 100
                         FROM   SZATENDDIARIAS A,
                                SZTXADMCONDESPEC B,
                                SZTXADMITEM C
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND C.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND B.SEQTAXA = C.SEQTAXA
                                AND B.CODCOLIGADA = C.CODCOLIGADA
                                AND C.CODCOLIGADA = A.CODCOLIGADA
                                AND ( C.CODITEM = ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                                    + A.CODITEM ) )
                                AND C.CODFIM IS NULL)
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALDIARIAS * PERCTAXA) / 100
                         FROM   SZATENDDIARIAS A,
                                SZTXADMCONDESPEC B
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND A.CODESPECIALIDADE = B.CODESPECIALIDADE
                                AND A.CODGRUPOITENS = B.CODGRUPOITENS
                                AND A.CODCOLIGADA = B.CODCOLIGADA
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                               + D.CODITEM
                                                        FROM   SZATENDDIARIAS D,
                                                               SZTXADMCONDESPEC E,
                                                               SZTXADMITEM F
                                                        WHERE  D.NUMEROCONTA = @NCONTA
                                                               AND D.SEQUENCIALCONTA = @SCONTA
                                                               AND D.CODCOLIGADA = @CODCOLIGADA
                                                               AND ESTORNADO IS NULL
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.SEQTAXA = F.SEQTAXA
                                                               AND E.CODCOLIGADA = F.CODCOLIGADA
                                                               AND F.CODCOLIGADA = D.CODCOLIGADA
                                                               AND ( F.CODITEM = ( D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                                                   + D.CODITEM ) )
                                                               AND F.CODFIM IS NULL))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALDIARIAS * PERCTAXA) / 100
                         FROM   SZATENDDIARIAS A,
                                SZTXADMCONDESPEC B
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND A.CODESPECIALIDADE = B.CODESPECIALIDADE
                                AND B.CODGRUPOITENS IS NULL
                                AND A.CODCOLIGADA = B.CODCOLIGADA
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDDIARIAS C,
                                                               SZTXADMCONDESPEC D
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND C.CODESPECIALIDADE = D.CODESPECIALIDADE
                                                               AND C.CODCOLIGADA = D.CODCOLIGADA
                                                               AND C.CODGRUPOITENS = D.CODGRUPOITENS)
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDDIARIAS C,
                                                               SZTXADMCONDESPEC D,
                                                               SZTXADMITEM E
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.SEQTAXA = D.SEQTAXA
                                                               AND E.CODCOLIGADA = D.CODCOLIGADA
                                                               AND E.CODCOLIGADA = C.CODCOLIGADA
                                                               AND ESTORNADO IS NULL
                                                               AND E.CODFIM IS NULL
                                                               AND ( E.CODITEM = ( C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                                                   + C.CODITEM ) )))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALDIARIAS * PERCTAXA) / 100
                         FROM   SZATENDDIARIAS A,
                                SZTXADMCONDESPEC B,
                                SZTXADMITEM C
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND C.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND B.SEQTAXA = C.SEQTAXA
                                AND B.CODCOLIGADA = C.CODCOLIGADA
                                AND C.CODCOLIGADA = A.CODCOLIGADA
                                AND ( C.CODITEM <= ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                                     + A.CODITEM ) )
                                AND ( ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                        + A.CODITEM ) <= C.CODFIM )
                                AND NOT ( C.CODFIM IS NULL )
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDDIARIAS C,
                                                               SZTXADMCONDESPEC D
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND C.CODESPECIALIDADE = D.CODESPECIALIDADE
                                                               AND C.CODCOLIGADA = D.CODCOLIGADA
                                                               AND C.CODGRUPOITENS = D.CODGRUPOITENS)
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDDIARIAS C,
                                                               SZTXADMCONDESPEC D,
                                                               SZTXADMITEM E
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.SEQTAXA = D.SEQTAXA
                                                               AND ESTORNADO IS NULL
                                                               AND E.CODFIM IS NULL
                                                               AND E.CODCOLIGADA = D.CODCOLIGADA
                                                               AND E.CODCOLIGADA = C.CODCOLIGADA
                                                               AND ( E.CODITEM = ( C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                                                   + C.CODITEM ) ))
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDDIARIAS C,
                                                               SZTXADMCONDESPEC D
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND D.CODESPECIALIDADE = C.CODESPECIALIDADE
                                                               AND D.CODCOLIGADA = C.CODCOLIGADA
                                                               AND D.CODGRUPOITENS IS NULL))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALSADT * PERCTAXA) / 100
                         FROM   SZATENDSADT A,
                                SZTXADMCONDESPEC B,
                                SZTXADMITEM C
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND C.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND B.SEQTAXA = C.SEQTAXA
                                AND B.CODCOLIGADA = C.CODCOLIGADA
                                AND C.CODCOLIGADA = A.CODCOLIGADA
                                AND ( C.CODITEM = ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                                    + A.CODITEM ) )
                                AND C.CODFIM IS NULL)
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALSADT * PERCTAXA) / 100
                         FROM   SZATENDSADT A,
                                SZTXADMCONDESPEC B
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND ESTORNADO IS NULL
                                AND A.CODESPECIALIDADE = B.CODESPECIALIDADE
                                AND A.CODGRUPOITENS = B.CODGRUPOITENS
                                AND A.CODCOLIGADA = B.CODCOLIGADA
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                               + D.CODITEM
                                                        FROM   SZATENDSADT D,
                                                               SZTXADMCONDESPEC E,
                                                               SZTXADMITEM F
                                                        WHERE  D.NUMEROCONTA = @NCONTA
                                                               AND D.SEQUENCIALCONTA = @SCONTA
                                                               AND D.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.SEQTAXA = E.SEQTAXA
                                                               AND F.CODCOLIGADA = E.CODCOLIGADA
                                                               AND F.CODCOLIGADA = D.CODCOLIGADA
                                                               AND ( F.CODITEM = ( D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                                                   + D.CODITEM ) )
                                                               AND F.CODFIM IS NULL))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALSADT * PERCTAXA) / 100
                         FROM   SZATENDSADT A,
                                SZTXADMCONDESPEC B
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND A.CODESPECIALIDADE = B.CODESPECIALIDADE
                                AND B.CODGRUPOITENS IS NULL
                                AND A.CODCOLIGADA = B.CODCOLIGADA
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDSADT C,
                                                               SZTXADMCONDESPEC D
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND C.CODESPECIALIDADE = D.CODESPECIALIDADE
                                                               AND C.CODCOLIGADA = D.CODCOLIGADA
                                                               AND C.CODGRUPOITENS = D.CODGRUPOITENS)
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDSADT C,
                                                               SZTXADMCONDESPEC D,
                                                               SZTXADMITEM E
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.SEQTAXA = D.SEQTAXA
                                                               AND E.CODCOLIGADA = D.CODCOLIGADA
                                                               AND E.CODCOLIGADA = C.CODCOLIGADA
                                                               AND ESTORNADO IS NULL
                                                               AND E.CODFIM IS NULL
                                                               AND ( E.CODITEM = ( C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                                                   + C.CODITEM ) )))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALSADT * PERCTAXA) / 100
                         FROM   SZATENDSADT A,
                                SZTXADMCONDESPEC B,
                                SZTXADMITEM C
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND C.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND B.SEQTAXA = C.SEQTAXA
                                AND B.CODCOLIGADA = C.CODCOLIGADA
                                AND C.CODCOLIGADA = A.CODCOLIGADA
                                AND ( C.CODITEM <= ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                                     + A.CODITEM ) )
                                AND ( ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                        + A.CODITEM ) <= C.CODFIM )
                                AND NOT ( C.CODFIM IS NULL )
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDSADT C,
                                                               SZTXADMCONDESPEC D
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND C.CODESPECIALIDADE = D.CODESPECIALIDADE
                                                               AND C.CODCOLIGADA = D.CODCOLIGADA
                                                               AND D.CODGRUPOITENS IS NULL)
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDSADT C,
                                                               SZTXADMCONDESPEC D,
                                                               SZTXADMITEM E
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND E.SEQTAXA = D.SEQTAXA
                                                               AND ESTORNADO IS NULL
                                                               AND E.CODFIM IS NULL
                                                               AND E.CODCOLIGADA = D.CODCOLIGADA
                                                               AND E.CODCOLIGADA = C.CODCOLIGADA
                                                               AND ( E.CODITEM = ( C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                                                   + C.CODITEM ) ))
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT C.CODESPECIALIDADE + C.CODGRUPOITENS
                                                               + C.CODITEM
                                                        FROM   SZATENDSADT C,
                                                               SZTXADMCONDESPEC D
                                                        WHERE  C.NUMEROCONTA = @NCONTA
                                                               AND C.SEQUENCIALCONTA = @SCONTA
                                                               AND C.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND D.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND C.CODESPECIALIDADE = D.CODESPECIALIDADE
                                                               AND C.CODCOLIGADA = D.CODCOLIGADA
                                                               AND C.CODGRUPOITENS = D.CODGRUPOITENS))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALTAXAS * PERCTAXA) / 100
                         FROM   SZATENDTAXASERV A,
                                SZTXADMCONDESPEC B,
                                SZTXADMITEM C
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND C.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND B.SEQTAXA = C.SEQTAXA
                                AND B.CODCOLIGADA = C.CODCOLIGADA
                                AND C.CODCOLIGADA = A.CODCOLIGADA
                                AND ( C.CODITEM = ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                                    + A.CODITEM ) )
                                AND C.CODFIM IS NULL)
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALTAXAS * PERCTAXA) / 100
                         FROM   SZATENDTAXASERV A,
                                SZTXADMCONDESPEC B
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND ESTORNADO IS NULL
                                AND A.CODESPECIALIDADE = B.CODESPECIALIDADE
                                AND A.CODGRUPOITENS = B.CODGRUPOITENS
                                AND A.CODCOLIGADA = B.CODCOLIGADA
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                               + D.CODITEM
                                                        FROM   SZATENDTAXASERV D,
                                                               SZTXADMCONDESPEC E,
                                                               SZTXADMITEM F
                                                        WHERE  D.NUMEROCONTA = @NCONTA
                                                               AND D.SEQUENCIALCONTA = @SCONTA
                                                               AND D.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.SEQTAXA = E.SEQTAXA
                                                               AND F.CODCOLIGADA = E.CODCOLIGADA
                                                               AND F.CODCOLIGADA = D.CODCOLIGADA
                                                               AND ( F.CODITEM = ( D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                                                   + D.CODITEM ) )
                                                               AND F.CODFIM IS NULL))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALTAXAS * PERCTAXA) / 100
                         FROM   SZATENDTAXASERV A,
                                SZTXADMCONDESPEC B
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND A.CODESPECIALIDADE = B.CODESPECIALIDADE
                                AND B.CODGRUPOITENS IS NULL
                                AND A.CODCOLIGADA = B.CODCOLIGADA
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                               + D.CODITEM
                                                        FROM   SZATENDTAXASERV D,
                                                               SZTXADMCONDESPEC E
                                                        WHERE  D.NUMEROCONTA = @NCONTA
                                                               AND D.SEQUENCIALCONTA = @SCONTA
                                                               AND D.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND D.CODESPECIALIDADE = E.CODESPECIALIDADE
                                                               AND D.CODCOLIGADA = E.CODCOLIGADA
                                                               AND D.CODGRUPOITENS = E.CODGRUPOITENS)
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                               + D.CODITEM
                                                        FROM   SZATENDTAXASERV D,
                                                               SZTXADMCONDESPEC E,
                                                               SZTXADMITEM F
                                                        WHERE  D.NUMEROCONTA = @NCONTA
                                                               AND D.SEQUENCIALCONTA = @SCONTA
                                                               AND D.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.SEQTAXA = E.SEQTAXA
                                                               AND F.CODCOLIGADA = E.CODCOLIGADA
                                                               AND F.CODCOLIGADA = D.CODCOLIGADA
                                                               AND ESTORNADO IS NULL
                                                               AND F.CODFIM IS NULL
                                                               AND ( F.CODITEM = ( D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                                                   + D.CODITEM ) )))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(VALORTOTALTAXAS * PERCTAXA) / 100
                         FROM   SZATENDTAXASERV A,
                                SZTXADMCONDESPEC B,
                                SZTXADMITEM C
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND C.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND B.SEQTAXA = C.SEQTAXA
                                AND B.CODCOLIGADA = C.CODCOLIGADA
                                AND C.CODCOLIGADA = A.CODCOLIGADA
                                AND ( C.CODITEM <= ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                                     + A.CODITEM ) )
                                AND ( ( A.CODESPECIALIDADE + A.CODGRUPOITENS
                                        + A.CODITEM ) <= C.CODFIM )
                                AND NOT ( C.CODFIM IS NULL )
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                               + D.CODITEM
                                                        FROM   SZATENDTAXASERV D,
                                                               SZTXADMCONDESPEC E
                                                        WHERE  D.NUMEROCONTA = @NCONTA
                                                               AND D.SEQUENCIALCONTA = @SCONTA
                                                               AND D.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND D.CODESPECIALIDADE = E.CODESPECIALIDADE
                                                               AND D.CODCOLIGADA = E.CODCOLIGADA
                                                               AND E.CODGRUPOITENS IS NULL)
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                               + D.CODITEM
                                                        FROM   SZATENDTAXASERV D,
                                                               SZTXADMCONDESPEC E,
                                                               SZTXADMITEM F
                                                        WHERE  D.NUMEROCONTA = @NCONTA
                                                               AND D.SEQUENCIALCONTA = @SCONTA
                                                               AND D.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND F.SEQTAXA = E.SEQTAXA
                                                               AND ESTORNADO IS NULL
                                                               AND F.CODFIM IS NULL
                                                               AND F.CODCOLIGADA = E.CODCOLIGADA
                                                               AND F.CODCOLIGADA = D.CODCOLIGADA
                                                               AND ( F.CODITEM = ( D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                                                   + D.CODITEM ) ))
                                AND A.CODESPECIALIDADE + A.CODGRUPOITENS
                                    + A.CODITEM NOT IN (SELECT D.CODESPECIALIDADE + D.CODGRUPOITENS
                                                               + D.CODITEM
                                                        FROM   SZATENDTAXASERV D,
                                                               SZTXADMCONDESPEC E
                                                        WHERE  D.NUMEROCONTA = @NCONTA
                                                               AND D.SEQUENCIALCONTA = @SCONTA
                                                               AND D.CODCOLIGADA = @CODCOLIGADA
                                                               AND SEQPARCIAL = @SEQPARCIAL
                                                               AND ESTORNADO IS NULL
                                                               AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                               AND D.CODESPECIALIDADE = E.CODESPECIALIDADE
                                                               AND D.CODCOLIGADA = E.CODCOLIGADA
                                                               AND D.CODGRUPOITENS = E.CODGRUPOITENS))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(CAST(( VALORTOTALMATMED - ( QTDDEVOLVIDA * VALORMATMED ) ) AS NUMERIC(18, 4)) * PERCTAXA) / 100
                         FROM   SZATENDMATMED A,
                                SZTXADMCONDESPEC B,
                                SZTXADMITEM C
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ( ( QUANTIDADEMATMED - QTDDEVOLVIDA ) > 0 )
                                AND ( ( A.TIPOMOVIMENTO <> 2 )
                                       OR ( A.TIPOMOVIMENTO IS NULL ) )
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND C.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND B.SEQTAXA = C.SEQTAXA
                                AND B.CODCOLIGADA = C.CODCOLIGADA
                                AND C.CODCOLIGADA = A.CODCOLIGADA
                                AND ( C.CODITEM = ( A.CODESPECMATMED + A.CODGRUPOMATMED
                                                    + A.CODITEMMATMED ) )
                                AND C.CODFIM IS NULL)
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(CAST(( VALORTOTALMATMED - ( QTDDEVOLVIDA * VALORMATMED ) ) AS NUMERIC(18, 4)) * PERCTAXA) / 100
                         FROM   SZATENDMATMED A,
                                SZTXADMCONDESPEC B
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ( ( QUANTIDADEMATMED - QTDDEVOLVIDA ) > 0 )
                                AND ( ( A.TIPOMOVIMENTO <> 2 )
                                       OR ( A.TIPOMOVIMENTO IS NULL ) )
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND A.CODESPECMATMED = B.CODESPECIALIDADE
                                AND A.CODGRUPOMATMED = B.CODGRUPOITENS
                                AND A.CODCOLIGADA = B.CODCOLIGADA
                                AND A.CODESPECMATMED + A.CODGRUPOMATMED
                                    + A.CODITEMMATMED NOT IN (SELECT D.CODESPECMATMED + D.CODGRUPOMATMED
                                                                     + D.CODITEMMATMED
                                                              FROM   SZATENDMATMED D,
                                                                     SZTXADMCONDESPEC E,
                                                                     SZTXADMITEM F
                                                              WHERE  D.NUMEROCONTA = @NCONTA
                                                                     AND D.SEQUENCIALCONTA = @SCONTA
                                                                     AND D.CODCOLIGADA = @CODCOLIGADA
                                                                     AND SEQPARCIAL = @SEQPARCIAL
                                                                     AND ( ( QUANTIDADEMATMED - QTDDEVOLVIDA ) > 0 )
                                                                     AND ( ( D.TIPOMOVIMENTO <> 2 )
                                                                            OR ( D.TIPOMOVIMENTO IS NULL ) )
                                                                     AND ESTORNADO IS NULL
                                                                     AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                                     AND F.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                                     AND E.SEQTAXA = F.SEQTAXA
                                                                     AND E.CODCOLIGADA = F.CODCOLIGADA
                                                                     AND F.CODCOLIGADA = D.CODCOLIGADA
                                                                     AND ( F.CODITEM = ( D.CODESPECMATMED + D.CODGRUPOMATMED
                                                                                         + D.CODITEMMATMED ) )
                                                                     AND F.CODFIM IS NULL))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(CAST(( VALORTOTALMATMED - ( QTDDEVOLVIDA * VALORMATMED ) ) AS NUMERIC(18, 4)) * PERCTAXA) / 100
                         FROM   SZATENDMATMED A,
                                SZTXADMCONDESPEC B
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ( ( A.QUANTIDADEMATMED - A.QTDDEVOLVIDA ) > 0 )
                                AND ( ( A.TIPOMOVIMENTO <> 2 )
                                       OR ( A.TIPOMOVIMENTO IS NULL ) )
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND A.CODESPECMATMED = B.CODESPECIALIDADE
                                AND B.CODGRUPOITENS IS NULL
                                AND A.CODCOLIGADA = B.CODCOLIGADA
                                AND A.CODESPECMATMED + A.CODGRUPOMATMED
                                    + A.CODITEMMATMED NOT IN (SELECT D.CODESPECMATMED + D.CODGRUPOMATMED
                                                                     + D.CODITEMMATMED
                                                              FROM   SZATENDMATMED D,
                                                                     SZTXADMCONDESPEC E
                                                              WHERE  D.NUMEROCONTA = @NCONTA
                                                                     AND D.SEQUENCIALCONTA = @SCONTA
                                                                     AND D.CODCOLIGADA = @CODCOLIGADA
                                                                     AND SEQPARCIAL = @SEQPARCIAL
                                                                     AND ( ( QUANTIDADEMATMED - QTDDEVOLVIDA ) > 0 )
                                                                     AND ( ( D.TIPOMOVIMENTO <> 2 )
                                                                            OR ( D.TIPOMOVIMENTO IS NULL ) )
                                                                     AND ESTORNADO IS NULL
                                                                     AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                                     AND D.CODESPECMATMED = E.CODESPECIALIDADE
                                                                     AND D.CODCOLIGADA = E.CODCOLIGADA
                                                                     AND D.CODGRUPOMATMED = E.CODGRUPOITENS)
                                AND A.CODESPECMATMED + A.CODGRUPOMATMED
                                    + A.CODITEMMATMED NOT IN (SELECT D.CODESPECMATMED + D.CODGRUPOMATMED
                                                                     + D.CODITEMMATMED
                                                              FROM   SZATENDMATMED D,
                                                                     SZTXADMCONDESPEC E,
                                                                     SZTXADMITEM F
                                                              WHERE  D.NUMEROCONTA = @NCONTA
                                                                     AND D.SEQUENCIALCONTA = @SCONTA
                                                                     AND D.CODCOLIGADA = @CODCOLIGADA
                                                                     AND SEQPARCIAL = @SEQPARCIAL
                                                                     AND ( ( QUANTIDADEMATMED - QTDDEVOLVIDA ) > 0 )
                                                                     AND ( ( D.TIPOMOVIMENTO <> 2 )
                                                                            OR ( D.TIPOMOVIMENTO IS NULL ) )
                                                                     AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                                     AND F.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                                     AND E.SEQTAXA = F.SEQTAXA
                                                                     AND E.CODCOLIGADA = F.CODCOLIGADA
                                                                     AND F.CODCOLIGADA = D.CODCOLIGADA
                                                                     AND ESTORNADO IS NULL
                                                                     AND F.CODFIM IS NULL
                                                                     AND ( F.CODITEM = ( D.CODESPECMATMED + D.CODGRUPOMATMED
                                                                                         + D.CODITEMMATMED ) )))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      SELECT @TAXAADM = (SELECT SUM(CAST(( VALORTOTALMATMED - ( QTDDEVOLVIDA * VALORMATMED ) ) AS NUMERIC(18, 4)) * PERCTAXA) / 100
                         FROM   SZATENDMATMED A,
                                SZTXADMCONDESPEC B,
                                SZTXADMITEM C
                         WHERE  A.NUMEROCONTA = @NCONTA
                                AND A.SEQUENCIALCONTA = @SCONTA
                                AND A.CODCOLIGADA = @CODCOLIGADA
                                AND SEQPARCIAL = @SEQPARCIAL
                                AND ( ( QUANTIDADEMATMED - QTDDEVOLVIDA ) > 0 )
                                AND ( ( A.TIPOMOVIMENTO <> 2 )
                                       OR ( A.TIPOMOVIMENTO IS NULL ) )
                                AND ESTORNADO IS NULL
                                AND B.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND C.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                AND C.SEQTAXA = B.SEQTAXA
                                AND C.CODCOLIGADA = B.CODCOLIGADA
                                AND C.CODCOLIGADA = A.CODCOLIGADA
                                AND ( C.CODITEM <= ( A.CODESPECMATMED + A.CODGRUPOMATMED
                                                     + A.CODITEMMATMED ) )
                                AND ( ( A.CODESPECMATMED + A.CODGRUPOMATMED
                                        + A.CODITEMMATMED ) <= C.CODFIM )
                                AND NOT ( C.CODFIM IS NULL )
                                AND A.CODESPECMATMED + A.CODGRUPOMATMED
                                    + A.CODITEMMATMED NOT IN (SELECT D.CODESPECMATMED + D.CODGRUPOMATMED
                                                                     + D.CODITEMMATMED
                                                              FROM   SZATENDMATMED D,
                                                                     SZTXADMCONDESPEC E
                                                              WHERE  D.NUMEROCONTA = @NCONTA
                                                                     AND D.SEQUENCIALCONTA = @SCONTA
                                                                     AND D.CODCOLIGADA = @CODCOLIGADA
                                                                     AND SEQPARCIAL = @SEQPARCIAL
                                                                     AND ( ( QUANTIDADEMATMED - QTDDEVOLVIDA ) > 0 )
                                                                     AND ( ( D.TIPOMOVIMENTO <> 2 )
                                                                            OR ( D.TIPOMOVIMENTO IS NULL ) )
                                                                     AND ESTORNADO IS NULL
                                                                     AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                                     AND D.CODESPECMATMED = E.CODESPECIALIDADE
                                                                     AND D.CODCOLIGADA = E.CODCOLIGADA
                                                                     AND E.CODGRUPOITENS IS NULL)
                                AND A.CODESPECMATMED + A.CODGRUPOMATMED
                                    + A.CODITEMMATMED NOT IN (SELECT D.CODESPECMATMED + D.CODGRUPOMATMED
                                                                     + D.CODITEMMATMED
                                                              FROM   SZATENDMATMED D,
                                                                     SZTXADMCONDESPEC E,
                                                                     SZTXADMITEM F
                                                              WHERE  D.NUMEROCONTA = @NCONTA
                                                                     AND D.SEQUENCIALCONTA = @SCONTA
                                                                     AND D.CODCOLIGADA = @CODCOLIGADA
                                                                     AND SEQPARCIAL = @SEQPARCIAL
                                                                     AND ( ( QUANTIDADEMATMED - QTDDEVOLVIDA ) > 0 )
                                                                     AND ( ( D.TIPOMOVIMENTO <> 2 )
                                                                            OR ( D.TIPOMOVIMENTO IS NULL ) )
                                                                     AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                                     AND E.SEQTAXA = F.SEQTAXA
                                                                     AND E.CODCOLIGADA = F.CODCOLIGADA
                                                                     AND F.CODCOLIGADA = D.CODCOLIGADA
                                                                     AND ESTORNADO IS NULL
                                                                     AND F.CODFIM IS NULL
                                                                     AND ( F.CODITEM = ( D.CODESPECMATMED + D.CODGRUPOMATMED
                                                                                         + D.CODITEMMATMED ) ))
                                AND A.CODESPECMATMED + A.CODGRUPOMATMED
                                    + A.CODITEMMATMED NOT IN (SELECT D.CODESPECMATMED + D.CODGRUPOMATMED
                                                                     + D.CODITEMMATMED
                                                              FROM   SZATENDMATMED D,
                                                                     SZTXADMCONDESPEC E
                                                              WHERE  D.NUMEROCONTA = @NCONTA
                                                                     AND D.SEQUENCIALCONTA = @SCONTA
                                                                     AND D.CODCOLIGADA = @CODCOLIGADA
                                                                     AND SEQPARCIAL = @SEQPARCIAL
                                                                     AND ( ( QUANTIDADEMATMED - QTDDEVOLVIDA ) > 0 )
                                                                     AND ( ( TIPOMOVIMENTO <> 2 )
                                                                            OR ( TIPOMOVIMENTO IS NULL ) )
                                                                     AND ESTORNADO IS NULL
                                                                     AND E.CODTIPOCONTRATO = @CODTIPOCONTRATO
                                                                     AND D.CODESPECMATMED = E.CODESPECIALIDADE
                                                                     AND D.CODCOLIGADA = E.CODCOLIGADA
                                                                     AND D.CODGRUPOMATMED = E.CODGRUPOITENS))
      IF @TAXAADM > 0
        SELECT @TAXACALC = @TAXACALC + @TAXAADM
      UPDATE SZATENDRESUMO
      SET    TAXAADMRESUMO = @TAXACALC
      WHERE  NUMEROCONTA = @NCONTA
             AND SEQUENCIALCONTA = @SCONTA
             AND CODCOLIGADA = @CODCOLIGADA
             AND SEQPARCIAL = @SEQPARCIAL
  END
GO
