USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tr_list]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tr_list]
AS
-- Initialisations
  declare @traceid int
  declare @tracef  nvarchar(320)
  declare @status  int
  declare @cstat   varchar(3)
  declare @command nvarchar(360)
  declare @fexist  int
  declare @retval  int
  set nocount on
  CREATE TABLE #result
    (
      permid    int   NOT NULL      ,  -- Permanent unique key
      traceid   int   NOT NULL      ,  -- SQL trace id (non unique)
      crdatec   varchar(26)         ,  -- Trace creation date
      sapuser   nvarchar(12)        ,  -- SAP user creating the trace
      eclass    char(1)             ,  -- Event class for the trace
      max_MB    int                 ,  -- Maximum file size (MB)
      endtime   varchar(26)         ,  -- Automatic stop time
      status    varchar(3)          ,  -- Trace status ON/OFF/-
      tracef    nvarchar(320)       ,  -- Fully specified file name
      fexist    int                 ,  -- File exists (0/1)
      PRIMARY KEY CLUSTERED (permid)
    )
-- Process sap_tr_header
  INSERT INTO #result
    SELECT permid  ,
           traceid ,
           convert (varchar(26), crdate, 121) ,
           sapuser ,
           eclass  ,
           max_MB  ,
           convert (varchar(26), endtime, 121) ,
           NULL    ,
           tracef  ,
           NULL
      FROM sap_tr_header
-- Provide values for status and fexist
  DECLARE curs CURSOR LOCAL FORWARD_ONLY FOR
    SELECT traceid, tracef FROM #result
    FOR UPDATE OF status, fexist
  OPEN curs
  FETCH NEXT FROM curs INTO @traceid, @tracef
  WHILE @@FETCH_STATUS = 0
    BEGIN
      set @tracef = @tracef + N'.trc'
      IF EXISTS ( select value from ::fn_trace_getinfo(@traceid)
                  where property = 2
                    and cast(value as nvarchar(320)) = @tracef )
        set @status = ( select cast(value as int) from
                        ::fn_trace_getinfo(@traceid)
                        where property = 5 )
      ELSE
        set @status = NULL
      if ( @status IS NULL )
        set @cstat = '-'
      else if ( @status = 0 )
        set @cstat = 'OFF'
      else
        set @cstat = 'ON'
      EXECUTE master..xp_fileexist @tracef,@retval OUTPUT
      if ( @retval = 0 )
        set @fexist = 0
      else
        set @fexist = 1
      UPDATE #result SET status = @cstat, fexist = @fexist
        WHERE CURRENT OF curs
      FETCH NEXT FROM curs INTO @traceid, @tracef
    END
  CLOSE curs
  DEALLOCATE curs
-- Return result set and clean up
  SELECT * FROM #result
  DROP TABLE #result
  RETURN 0
 
GO
