USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XLANINTEGRACAOHST_ULTIMOREG]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XLANINTEGRACAOHST_ULTIMOREG]
AS
SELECT FLANINTEGRACAOHST.CODCOLIGADA,
       FLANINTEGRACAOHST.IDLAN,
       FLANINTEGRACAOHST.IDCAMPO,
       FLANINTEGRACAOHST.IDHISTORICO,
       FLANINTEGRACAOHST.MEMORIACALCULO
FROM FLANINTEGRACAOHST
WHERE FLANINTEGRACAOHST.IDHISTORICO = (SELECT MAX(FLHTEMP.IDHISTORICO)
                                       FROM FLANINTEGRACAOHST FLHTEMP
                                       WHERE FLHTEMP.CODCOLIGADA = FLANINTEGRACAOHST .CODCOLIGADA AND
                                             FLHTEMP.IDLAN = FLANINTEGRACAOHST.IDLAN AND
                                             FLHTEMP.IDCAMPO = FLANINTEGRACAOHST.IDCAMPO)
GO
