USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_getlockstats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_mon_getlockstats] as
begin
  select actflag,date,reqspid,holdspid,reqpid, open_tran,procstat,username,
    hostname,progname,command,inputbuff,waittime,waitrsc,lastwtype,
    dbname,objname,indexname,lockrsc,locktype,lockname,lockstat,
    req_refcnt,req_ownertype
  from sap_dblocks
  order by date desc, holdspid desc
end
 
GO
