USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_part_info]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_part_info]
  @part_object_type char(1),    --type of object requested ('T','F','S')
  @part_object_name sysname,    --name of table, function or scheme
  @schema_name      sysname,
  @db_name          sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @scheme_name sysname
declare @empty_tab table
(
  tabname        sysname,
  func_id        int,
  func_name      sysname,
  part_type      nvarchar(10),
  is_right       nvarchar(10),
  scheme_name    sysname,
  data_space_id  int,
  coltype        sysname,
  colno          int,
  colname        sysname,
  collength      int,
  colprec        int,
  colscale       int
)
--table information including part. function, part. scheme
--with all partitions
if @part_object_type = 'T'
begin
-- We don't need the database selection here --> no dynamic sql
--   set @cmd =
--      N'use[' + @db_name + N'] ' +
--      N'select so.name, pf.function_id, pf.name func_name,         ' +
--      N'pf.type parttype,                                          ' +
--      N'CONVERT(varchar(1), pf.boundary_value_on_right) is_right,  ' +
--      N'ps.name scheme_name, ps.data_space_id, st.name,            ' +
--      N'sic.partition_ordinal, sc.name                             ' +
--      N'from sys.partition_schemes ps,                             ' +
--      N'sys.partition_functions pf,                                ' +
--      N'sys.partition_parameters spp,                              ' +
--      N'sys.indexes si,                                            ' +
--      N'sysobjects so,                                             ' +
--      N'sysusers su, systypes st,                                  ' +
--      N'sys.index_columns sic, sys.columns sc                      ' +
--      N'  where so.name          = ''' + @part_object_name + N'''  ' +
--      N'  and so.uid             = su.uid                          ' +
--      N'  and su.name            = ''' + @schema_name + N'''       ' +
--      N'  and so.id              = si.object_id                    ' +
--      N'  and si.data_space_id   = ps.data_space_id                ' +
--      N'  and pf.function_id     = ps.function_id                  ' +
--      N'  and pf.function_id     = spp.function_id                 ' +
--      N'  and spp.system_type_id = st.xtype                        ' +
--      N'  and sic.object_id      = si.object_id                    ' +
--      N'  and sc.object_id       = si.object_id                    ' +
--      N'  and sc.column_id       = sic.column_id                   ' +
--      N'  and si.index_id        = sic.index_id                    ' +
--      N'  and si.type in (0, 1)                                    ' +
--      N'  and sic.partition_ordinal > 0                            '
-- performance tuning measurement: First check if table is partitioned at all.
-- Then retrieve whole partition info.
-- By doing that we do not punish all the non-partitoned tables
  select distinct @scheme_name = ps.name
          FROM (sys.indexes i INNER JOIN sys.partition_schemes ps
                      ON (i.data_space_id = ps.data_space_id))
          WHERE (i.object_id = object_id(@part_object_name))
  if @scheme_name = '' or @scheme_name = ' ' or @scheme_name is null
  begin
    select * from @empty_tab
    return
  end
-- table is apparently partitioned, so get all the info
  select so.name, pf.function_id, pf.name func_name,
         pf.type parttype,
         CONVERT(varchar(1), pf.boundary_value_on_right) is_right,
         ps.name scheme_name, ps.data_space_id, st.name,
         sic.partition_ordinal, sc.name,
         (case when st.name = 'nvarchar' or st.name = 'nchar'
               then sc.max_length/2
          else sc.max_length end) as max_length,
         sc.precision, sc.scale
         from sys.partition_schemes ps,
         sys.partition_functions pf,
         sys.partition_parameters spp,
         sys.indexes si,
         sys.objects so,
         sys.schemas sch, systypes st,
         sys.index_columns sic, sys.columns sc
  where so.name            = @part_object_name
    and so.schema_id       = sch.schema_id
    and sch.name           = @schema_name
    and so.object_id       = si.object_id
    and si.data_space_id   = ps.data_space_id
    and pf.function_id     = ps.function_id
    and pf.function_id     = spp.function_id
    and spp.system_type_id = st.xusertype
    and sic.object_id      = si.object_id
    and sc.object_id       = si.object_id
    and sc.column_id       = sic.column_id
    and si.index_id        = sic.index_id
    and si.type in (0, 1)
    and sic.partition_ordinal > 0
    return
end  -- end of if @part_object_type = 'T'
--get partition function info
if @part_object_type = 'F'
begin
-- We have to use LEFT outer join because at the beginning of a partitioned
-- table we do not define any boundaries
--(which means that sys.partition_range_values is empty for this function)
  select pf.name, pf.function_id, pf.type,
         CONVERT(varchar(1), pf.boundary_value_on_right) is_right,
         prv.boundary_id,
         prv.parameter_id, CONVERT(varchar(20), prv.value) value
  from sys.partition_functions pf
        LEFT OUTER JOIN
       sys.partition_range_values prv
  on
    pf.function_id = prv.function_id
  where  pf.name        = @part_object_name
  return
end --if @part_object_type = 'F'
--get partition scheme info
if @part_object_type = 'S'
begin
-- We don't need the database selection here --> no dynamic sql
--   set @cmd = N'use[' + @db_name + N'] ' +
--               N'select ps.name, ps.data_space_id data_space_id_fg, '  +
--                      N'ps.function_id, ps.type, '                     +
--                      N'dds.destination_id, dds.data_space_id '        +
--               N'from ' + N'sys.partition_schemes ps,  '               +
--                          N'sys.destination_data_spaces dds '          +
--               N'where  ps.name = ' + N'''' +@part_object_name + N'''' +
--               N' and  ps.data_space_id = dds.partition_scheme_id'
  select ps.name scheme_name, ps.data_space_id data_space_id_fg,
         ps.function_id, ps.type,
         dds.destination_id, dds.data_space_id, ds.name data_space_name
  from sys.partition_schemes ps,
       sys.destination_data_spaces dds,
       sys.data_spaces ds
  where  ps.name = @part_object_name
    and  ps.data_space_id = dds.partition_scheme_id
    and  dds.data_space_id = ds.data_space_id
  return
end -- if p@part_object_type = 'S'
END
 
GO
