USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVOTIPOADITIVO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITIVOTIPOADITIVO]
AS
SELECT
  XADITTIPOADITIVO.NUMADIT,
  XADITTIPOADITIVO.CODTIPOADIT,
  XADITTIPOADITIVO.NUMVENDA,
  XADITTIPOADITIVO.NUMSEQHISTVENDA,
  XHISTORICOVENDA.OBS_HIST AS TXTADIT,
  XADITTIPOADITIVO.RECCREATEDBY,
  XADITTIPOADITIVO.RECCREATEDON,
  XADITTIPOADITIVO.RECMODIFIEDBY,
  XADITTIPOADITIVO.RECMODIFIEDON
FROM XADITTIPOADITIVO
     JOIN XHISTORICOVENDA
     ON XHISTORICOVENDA.NUM_VENDA = XADITTIPOADITIVO.NUMVENDA AND
        XHISTORICOVENDA.NUM_SEQ_HIST_VENDA = XADITTIPOADITIVO.NUMSEQHISTVENDA
GO
