USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_DEFINE_NOVO_EVENTO]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_DEFINE_NOVO_EVENTO](@COLIGADA INTEGER, @CODEVENTO INTEGER, @NOVOCODEVENTO INTEGER, @PROCESSO INTEGER)
AS
DECLARE @NOVONUMEVENTO INTEGER
SET @NOVONUMEVENTO = (SELECT MAX(NUMEVENTO)+1 FROM TEVENTOSCONT WHERE CODCOLIGADA=@COLIGADA AND CODAPLIC='F')
INSERT INTO TEVENTOSCONT (CODCOLIGADA, CODEVENTO, NOME, CODAPLIC, NUMEVENTO, USAPERCENTUAL,
BUSCARFILIALEM, AGRUPARATEIOCONTABIL, FECHARCOMVALORCONTABIL, PERMITEVALORZERO,
USARPRIORIDADEFILIAL, BUSCARCCUSTOEM, USARPRIORIDADECCUSTO, CONSISTIRPERCENTUAISDEFAULT,
APLICARCCUSTOEM, INATIVO, PROCESSO)
SELECT CODCOLIGADA, @NOVOCODEVENTO, NOME, CODAPLIC, @NOVONUMEVENTO, USAPERCENTUAL,
BUSCARFILIALEM, AGRUPARATEIOCONTABIL, FECHARCOMVALORCONTABIL, PERMITEVALORZERO,
USARPRIORIDADEFILIAL, BUSCARCCUSTOEM, USARPRIORIDADECCUSTO, CONSISTIRPERCENTUAISDEFAULT,
APLICARCCUSTOEM, INATIVO, @PROCESSO
FROM TEVENTOSCONT WHERE CODCOLIGADA=@COLIGADA AND CODEVENTO=@CODEVENTO
INSERT INTO TITMEVC (CODCOLIGADA, CODEVENTO, NUMEROINTERNO, DESCRICAO, ORIGEMCONTA,
CODCOLCONTA, CODCONTA, DEFAULTCONTA, ORIGEMDEFAULT, TIPOLANCAMENTO, APLICACAOFRM,
CODFRM, CODCCUSTO, CODHISTP, CODTRB, INCIDENCIA, CLASSCONTA, PERCENTUAL, COMPLHISTORICO,
CODFILIAL, VALORINCIDENCIA, CODDEPARTAMENTO, CODCLASSIFICA)
SELECT CODCOLIGADA, @NOVOCODEVENTO, NUMEROINTERNO, DESCRICAO, ORIGEMCONTA, CODCOLCONTA,
CODCONTA, DEFAULTCONTA, ORIGEMDEFAULT, TIPOLANCAMENTO, APLICACAOFRM, CODFRM, CODCCUSTO,
CODHISTP, CODTRB, INCIDENCIA, CLASSCONTA, PERCENTUAL, COMPLHISTORICO, CODFILIAL, VALORINCIDENCIA,
CODDEPARTAMENTO, CODCLASSIFICA
FROM TITMEVC WHERE CODCOLIGADA=@COLIGADA AND CODEVENTO=@CODEVENTO
INSERT INTO TITMEVCGER (CODCOLIGADA, CODEVENTO, NUMEROITMEVC, NSEQINTERNO, DESCRICAO, ORIGEMCONTA,
CODCOLCONTAGER, CODCONTAGER, DEFAULTCONTA, TIPOLANCAMENTO, APLICACAOFRM, CODFRM, INCIDENCIA, PERCENTUAL)
SELECT CODCOLIGADA, @NOVOCODEVENTO, NUMEROITMEVC, NSEQINTERNO, DESCRICAO, ORIGEMCONTA, CODCOLCONTAGER,
CODCONTAGER, DEFAULTCONTA, TIPOLANCAMENTO, APLICACAOFRM, CODFRM, INCIDENCIA, PERCENTUAL
FROM TITMEVCGER WHERE CODCOLIGADA=@COLIGADA AND CODEVENTO=@CODEVENTO
GO
