USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_sphelpindex]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_sphelpindex] @tabname varchar(30)
as
begin
 declare @cmd1 varchar(80)
 set nocount on
 select @cmd1 = 'sp_helpindex [' + @tabname + ']'
 exec (@cmd1)
 set nocount off
end
 
GO
