USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_atomic_drop_DF_constraint]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_atomic_drop_DF_constraint]
  @tabname sysname,
  @fieldname sysname
as
BEGIN
set nocount on
-- declare local variables
declare @consname sysname
declare @cmd nvarchar(256)
-- get the constraint name
select @consname = oc.name
  from dbo.sysobjects ot, dbo.syscolumns c, dbo.sysobjects oc
    where ot.id = object_id(user+'.'+@tabname,'U')
      and c.id = ot.id
      and c.name = @fieldname
      and oc.id = c.cdefault
-- drop the constraint
if @consname is not null
  begin
    select @cmd = N'alter table [' +  @tabname +
                  N'] drop constraint [' + @consname + N']'
    exec( @cmd )
  end
END
 
GO
