USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_text_file]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sap_get_text_file] @fn sysname
as
begin
  set nocount on
  create table #f (txt_line varchar(8000))
  exec ('bulk insert #f FROM "' + @fn + '"')
  select * from #f
end
 
GO
