USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SPC_GETPARAMETRO]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  RM Sistemas
  RM Saldus
  Tradução do procedimento "LeParametro"
  da SDMParam.pas para Stored Procedure MSSQL
*/
CREATE PROCEDURE [dbo].[SPC_GETPARAMETRO]
@COLIGADA SMALLINT,
@ID       INT,
@TEXTO    VARCHAR(250) OUTPUT,
@INTEIRO  INT OUTPUT
AS
BEGIN
  SELECT @TEXTO = TEXTO , @INTEIRO = INTEIRO
  FROM CPARAM
  WHERE CODCOLIGADA = @COLIGADA AND
        ID          = @ID
END
GO
