USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VIEW_BW_TB_AABONFUN]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_BW_TB_AABONFUN]
 AS
  SELECT CODCOLIGADA   = ABO.CODCOLIGADA
       , CHAPA         = ABO.CHAPA
	   , CODABONO      = ABO.CODABONO 
	   , CCUSTO        = SCO.NROCENCUSTOCONT
	   , DATAABONO     = ABO.DATA
	   , HORAINICIO    = ABO.HORAINICIO
       , HORAFIM       = ABO.HORAFIM
	   , RESPONSAVEL   = ABO.RESPONSAVEL
	   , DTMODIFICACAO = ISNULL(CONVERT(VARCHAR(8),ABO.RECMODIFIEDON,112),'19990101')  
	FROM AABONFUN ABO
         LEFT JOIN PFUNC  FNC ON ABO.CHAPA       = FNC.CHAPA
                             AND ABO.CODCOLIGADA = FNC.CODCOLIGADA  
         LEFT JOIN PSECAO SCO ON FNC.CODSECAO    = SCO.CODIGO
GO
