USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_REL_SIMPRESS_USERS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_REL_SIMPRESS_USERS] AS
SELECT PF.CHAPA,
       PF.NOME,
       PFU.NOME as 'DESCRIÇÃO FUNÇÃO',
   	   PF.CODSITUACAO,
       PF.CODTIPO + ' - ' + E.DESCRICAO AS TIPO_FUNCIONARIO,
       PS.NROCENCUSTOCONT,
       CRM.NIVEL_01,
       CRM.NIVEL_02,
       CRM.NIVEL_03,
       CRM.NIVEL_04,
       CRM.NIVEL_05,
       CRM.NIVEL_06
      
        
FROM PPESSOA PP
INNER JOIN PFUNC PF WITH (NOLOCK) ON PF.CODPESSOA = PP.CODIGO
LEFT JOIN PTPFUNC E  WITH (NOLOCK) ON PF.CODTIPO = E.CODCLIENTE
INNER JOIN PFUNCAO PFU WITH (NOLOCK) ON (((PF.CODCOLIGADA = PFU.CODCOLIGADA) AND (PF.CODFUNCAO = PFU.CODIGO)))
INNER JOIN PSECAO PS WITH (NOLOCK) ON (((PF.CODCOLIGADA = PS.CODCOLIGADA) AND (PF.CODSECAO = PS.CODIGO)))
INNER JOIN PCCUSTO PC WITH (NOLOCK) ON PC.CODCOLIGADA = PS.CODCOLIGADA AND PC.CODCCUSTO = PS.NROCENCUSTOCONT
INNER JOIN CRM_HIERARQUIA3 CRM WITH (NOLOCK) ON PF.CHAPA = CRM.CHAPA AND PF.CODCOLIGADA = CRM.CODCOLIGADA
WHERE  PF.CODTIPO = 'N'
			AND PF.CODSITUACAO NOT IN ('D', 'I')
GO
