USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[RMV_CIRURGIOES]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RMV_CIRURGIOES]
					AS
					SELECT SZCADGERAL.IDENTIDADEPROF CRM,
						CASE SZREGINFCIRURGIAPREST.codfuncaomedico
							WHEN 'C' THEN 'P'
							ELSE 'A' END FUNCAO,
						(SZREGINFCIRURGIAPREST.SEQINFCIRURGIA * 100) + SZREGINFCIRURGIAPREST.CODCOLIGADA  CODCIRURGIA
					FROM SZREGINFCIRURGIAPREST
					LEFT OUTER JOIN SZCADGERAL ON
						SZCADGERAL.CLASSIFICACAO = 'P' AND
						SZCADGERAL.codcoligada = SZREGINFCIRURGIAPREST.codcoligada AND
						SZCADGERAL.codgeral = SZREGINFCIRURGIAPREST.codgeral
GO
