USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_RMALOCACAO]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EngSniffersProcess
CREATE PROCEDURE [dbo].[SP_RMALOCACAO] @ORDENAR SMALLINT AS
BEGIN
       DECLARE @PAGESIZE INT
       SELECT @PAGESIZE = (SELECT V.LOW / 1024 FROM MASTER..SPT_VALUES V WHERE V.NUMBER=1 AND V.TYPE='E')
       
       SELECT  OBJECT_NAME(O.ID)'TABELA', 
       (SELECT SUM(I.DPAGES) FROM SYSINDEXES I WHERE I.INDID < 2 AND I.ID=O.ID)+
       (SELECT ISNULL(SUM(I.USED),0) FROM SYSINDEXES I WHERE I.INDID = 255  AND I.ID=O.ID) DADOS,
       (SELECT ISNULL(SUM(I.USED),0) FROM SYSINDEXES I WHERE I.INDID IN (0, 1, 255) AND I.ID=O.ID)-
       ((SELECT SUM(I.DPAGES) FROM SYSINDEXES I WHERE I.INDID < 2 AND I.ID=O.ID)+
       (SELECT ISNULL(SUM(I.USED),0) FROM SYSINDEXES I WHERE I.INDID = 255  AND I.ID=O.ID)) INDICES,
       (SELECT ISNULL(SUM(I.RESERVED),0) FROM SYSINDEXES I WHERE I.INDID = 255  AND I.ID=O.ID) RESERVADO,
       (SELECT SUM(I.ROWCNT) FROM SYSINDEXES I WHERE I.INDID < 2 AND I.ID=O.ID) REGISTROS
       INTO #ALOCACAO
       FROM SYSOBJECTS O
       WHERE O.TYPE = 'U'
       
       IF @ORDENAR NOT IN (2, 3) -- DADOS
             SELECT TOP 1000 TABELA, (DADOS*@PAGESIZE) 'DADOS (KB)', (INDICES*@PAGESIZE) 'INDICES (KB)', RESERVADO 'RESERVADO (KB)', REGISTROS 
             FROM #ALOCACAO 
             ORDER BY 2 DESC
       ELSE IF @ORDENAR = 2 -- INDICES   
             SELECT TOP 1000 TABELA, (DADOS*@PAGESIZE) 'DADOS (KB)', (INDICES*@PAGESIZE) 'INDICES (KB)', RESERVADO 'RESERVADO (KB)', REGISTROS 
             FROM #ALOCACAO 
             ORDER BY 3 DESC
       ELSE IF @ORDENAR = 3 -- REGISTROS
             SELECT TOP 1000 TABELA, (DADOS*@PAGESIZE) 'DADOS (KB)', (INDICES*@PAGESIZE) 'INDICES (KB)', RESERVADO 'RESERVADO (KB)', REGISTROS 
             FROM #ALOCACAO 
             ORDER BY 5 DESC 
       
       DROP TABLE #ALOCACAO
END
GO
