USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VREQTRANSFLOTEVIEW]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VREQTRANSFLOTEVIEW] AS
SELECT
VREQTRANSFLOTE.CODCOLREQUISICAO,
VREQTRANSFLOTE.IDREQ,
VREQTRANSFLOTE.JUSTIFICATIVA,
VREQTRANSFLOTE.DATAABERTURA,
VREQTRANSFLOTE.DATACANCELAMENTO,
VREQTRANSFLOTE.DATACONCLUSAO,
VREQTRANSFLOTE.CODCOLREQUISITANTE,
VREQTRANSFLOTE.CHAPAREQUISITANTE,
VREQTRANSFLOTE.CODATENDIMENTO,
VREQTRANSFLOTE.CODLOCAL,
VREQTRANSFLOTE.CODSTATUS,
VREQTRANSFLOTE.DATAPREVISTA,
VREQTRANSFLOTE.CODFILIAL,
VREQTRANSFLOTE.CODSECAO,
VREQTRANSFLOTE.CODMOTMUDSECAO,
VREQTRANSFLOTE.CRIASUBSTITUICAO,
VREQTRANSFLOTE.TRANSFERIRVAGA,
VREQTRANSFLOTEFUNC.CODCOLORIGEM,
VREQTRANSFLOTEFUNC.CHAPATRANSF,
PFUNC.CODPESSOA,
PPESSOA.NOME,
VREQTRANSFLOTEFUNC.CODFILIALORIGEM,
VREQTRANSFLOTEFUNC.CODSECAOORIGEM,
VREQTRANSFLOTEFUNC.CODCOLREQSUBSTITUICAO,
VREQTRANSFLOTEFUNC.IDREQSUBSTITUICAO,
VREQTRANSFLOTEFUNC.IDPARECER,
VREQTRANSFLOTEFUNC.DATACONCLUSAO DATACONCLUSAOFUNC,
VREQTRANSFLOTEPARECER.CODCOLSOLICITANTE,
VREQTRANSFLOTEPARECER.CHAPASOLICITANTE,
VREQTRANSFLOTEPARECER.PARECER,
VREQTRANSFLOTEPARECER.DATAPARECER,
VREQTRANSFLOTEPARECER.CODSTATUS CODSTATUSPARECER,
VREQTRANSFLOTEPARECER.CODMOTMUDSECAO CODMOTMUDSECAOPARECER,
VREQTRANSFLOTEPARECER.SUSPENSAO,
VREQTRANSFLOTEFUNC.REMOVIDO,
	CASE WHEN (VREQTRANSFLOTEFUNC.DATACONCLUSAO IS NOT NULL
				AND (VREQTRANSFLOTEPARECER.CODSTATUS <> 2
					OR VREQTRANSFLOTEPARECER.CODSTATUS IS NULL))
	                             THEN 1
                                 ELSE 0 END FUNCEFETIVADO,
	CASE WHEN (VREQTRANSFLOTEFUNC.DATACONCLUSAO IS NULL)
                                 THEN 1
                                 ELSE 0 END FUNCPENDENTE
FROM
	VREQTRANSFLOTE, PFUNC, PPESSOA,
	VREQTRANSFLOTEFUNC
	LEFT OUTER JOIN VREQTRANSFLOTEPARECER
		ON VREQTRANSFLOTEPARECER.IDPARECER = VREQTRANSFLOTEFUNC.IDPARECER
WHERE
	VREQTRANSFLOTEFUNC.CODCOLREQUISICAO = VREQTRANSFLOTE.CODCOLREQUISICAO
AND VREQTRANSFLOTEFUNC.IDREQ = VREQTRANSFLOTE.IDREQ
AND PFUNC.CODCOLIGADA = VREQTRANSFLOTEFUNC.CODCOLORIGEM
AND PFUNC.CHAPA = VREQTRANSFLOTEFUNC.CHAPATRANSF
AND PPESSOA.CODIGO = PFUNC.CODPESSOA
GO
