USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSPROCREGISTRO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSPROCREGISTRO]
AS
  SELECT CODCOLIGADA,
         CO_PROCEDIMENTO CODPROC,
         CO_REGISTRO     CODREG,
         DT_COMPETENCIA  CMPTINI,
         NULL            CMPTFIM
  FROM   GCOLIGADA,
         SZSUSTUPROCREGISTRO
GO
