USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VIEW_BW_TB_ZMDVAGASRS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VIEW_BW_TB_ZMDVAGASRS]

AS

SELECT

PROJETO = VG.PROJETO,

COLIGADA = VG.COLIGADA,

RP = VG.RP,

TIPORP = VG.TIPORP,

DIRETORIA = VG.DIRETORIA,

GRUPODIRETORIA = VG.GRUPODIRETORIA,

POSICAO = VG.POSICAO,

LIDER = VG.LIDER,

TIPO = VG.TIPO,

CLASSIFICACAO = VG.CLASSIFICACAO,

SALARIO = VG.SALARIO,

CCUSTO = VG.CCUSTO,

FILIAL = VG.FILIAL,

COLABORADORSUB = VG.COLABORADORSUB,

MOTIVOSUB = VG.MOTIVOSUB,

AREA     = VG.AREA,

GESTOREQ     = VG.GESTOREQ,

CIDADE     = VG.CIDADE,

DTAABERTURA     = VG.DTAABERTURA,

RESPONSAVELVAGA     = VG.RESPONSAVELVAGA,

BP     = VG.BP,

STATUS     = VG.STATUS,

DTACANCELAMENTO     = VG.DTACANCELAMENTO,

DTACOMITE     = VG.DTACOMITE,

DTAINICIO     = VG.DTAINICIO,

NOMEPROFISSIONAL     = VG.NOMEPROFISSIONAL,

GENERO = VG.GENERO,

TIPORP1     = VG.TIPORP1,

AREAINTERNO     = VG.AREAINTERNO,

GESTORCEDENTE     = VG.GESTORCEDENTE,

EMPRESA     = VG.EMPRESA,

SEGMENTO     = VG.SEGMENTO,

QNTINSCRITOS     = VG.QNTINSCRITOS,

SECAO     = VG.SECAO,

DTARETOMADA     = VG.DTARETOMADA,

QNTELEGIVEIS     = VG.QNTELEGIVEIS,

OBSERVACAO     = VG.OBSERVACAO,

RPCOLETIVA     = VG.RPCOLETIVA,

RECCREATEDBY = VG.RECCREATEDBY,

RECCREATEDON = VG.RECCREATEDON,

RECMODIFIEDBY = VG.RECMODIFIEDBY,

DTMODIFICACAO  = CONVERT(VARCHAR(8),ISNULL(VG.RECMODIFIEDON, VG.DTAABERTURA),112)

FROM dbo.ZMDVAGASRS VG;
GO
