USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFPONTOVENDA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFPONTOVENDA] AS
SELECT CODCOLIGADA,PONTOVENDA,DESCRICAO,GRUPO,CODFILIAL,SERIE,CODTMV,CODVEN1,CODVEN2,
PRECODEFAULT,CODLOC,TIPO,NROSERIE, URL, INATIVO, GETDATE() AS DTHRATUALIZACAO 
FROM TPONTOVENDA
GO
