USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPARCELAPAGAMENTOBAIXAVIEW]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XPARCELAPAGAMENTOBAIXAVIEW]
AS
SELECT
XPARCELAPAGAMENTOBAIXA.NUM_VENDA,
XPARCELAPAGAMENTOBAIXA.COD_TIPO_PARC,
XPARCELAPAGAMENTOBAIXA.NUM_PARC,
XPARCELAPAGAMENTOBAIXA.COD_GRUPO,
XPARCELAPAGAMENTOBAIXA.DAT_BAIXA,
XPARCELAPAGAMENTOBAIXA.CODCOLIGADA,
XPARCELAPAGAMENTOBAIXA.IDLANBAIXADO,
XPARCELAPAGAMENTOBAIXA.IDBAIXA,
XPARCELAPAGAMENTOBAIXA.VRBAIXADOPRINCIPAL,
XPARCELAPAGAMENTOBAIXA.VRBAIXADOJUROSANTES + XPARCELAPAGAMENTOBAIXA.VRBAIXADOJUROSAPOS VRBAIXADOJUROS,
XPARCELAPAGAMENTOBAIXA.VRBAIXADOCMANTES + XPARCELAPAGAMENTOBAIXA.VRBAIXADOCMAPOS VRBAIXADOCM,
XPARCELAPAGAMENTOBAIXA.VRBAIXADOJUROSATRASO,
XPARCELAPAGAMENTOBAIXA.VRBAIXADOMULTA,
XPARCELAPAGAMENTOBAIXA.VRBAIXADOOUTROS,
XPARCELAPAGAMENTOBAIXA.VRDESCONTO,
XPARCELAPAGAMENTOBAIXA.VRBAIXADOTOTAL
FROM XPARCELAPAGAMENTOBAIXA
GO
