USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVORENEGOCIACAOCONTRATO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITIVORENEGOCIACAOCONTRATO]
AS
SELECT
  CODCOLIGADA,
  NUMVENDA,
  NUMADIT,
  CODTIPOADIT,
  CODGRUPO,
  CODTIPOPARC,
  NUMPARC,
  'T' AS PARCELAORIGINAL,
  RECCREATEDBY,
  RECCREATEDON,
  RECMODIFIEDBY,
  RECMODIFIEDON
FROM XADITRENEGOCIACAOPARCCANCEL
UNION ALL
SELECT
  CODCOLIGADA,
  NUMVENDA,
  NUMADIT,
  CODTIPOADIT,
  CODGRUPO,
  CODTIPOPARC,
  NUMPARC,
  'F' AS PARCELAORIGINAL,
  RECCREATEDBY,
  RECCREATEDON,
  RECMODIFIEDBY,
  RECMODIFIEDON
FROM XADITRENEGOCIACAOPARCINCLUDE
GO
