USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[KCODBARRAETIQUETAS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[KCODBARRAETIQUETAS]
AS
SELECT KCBE.ID,KCBE.CODCOLIGADA,KCBE.CODORDEM,KE.IDPRODUTO,KCBE.IDATV,KE.NSEQITMGRD,KCBE.QTDPLANEJADA,
KCBE.CODMODELO,KCBE.CODFILIAL,TPRD.CODGRD
FROM KCODBARRASETIQUETAS KCBE, KESTRUTURA KE, TPRD
WHERE KCBE.CODCOLIGADA = KE.CODCOLIGADA
AND KCBE.CODFILIAL = KE.CODFILIAL
AND KCBE.CODCOLIGADA = TPRD.CODCOLIGADA
AND KCBE.IDPRODUTO = TPRD.IDPRD
GO
