USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[CALCULOIRRF]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CALCULOIRRF] (@COLIGADA INT, @DATA DATE, @BASE NUMERIC, @DEP INT)

RETURNs NUMERIC(15,2)

BEGIN
DECLARE
	@VALOR NUMERIC(15,2)


SET @VALOR =
	(
	SELECT 
		ROUND( ((BASE_NOVA*PERCENTUAL)-VALDEDUZIR) ,2) VALOR
	FROM(
								
			SELECT
				(BASE-(DEPENDENTE*VAL_DEP)) BASE_NOVA, 
				INICIOVIGENCIA, 
				FINALVIGENCIA,
				VAL_DEP,
				NROFAIXA,
				FAIXA_ANT, 
				LIMITESUPERIOR, 
				PERCENTUAL, 
				VALDEDUZIR
								
				
			FROM(							
			
					SELECT
						@BASE BASE,
						@DEP DEPENDENTE, 
						A.INICIOVIGENCIA,
						B.FINALVIGENCIA, 
						A.NROFAIXA, 
						A.LIMITESUPERIOR, 
						A.PERCENTUAL/100 PERCENTUAL,
						ISNULL(A.VALDEDUZIR,0) VALDEDUZIR,
						(SELECT VALOR FROM PVALFIX M WHERE A.CODCOLIGADA = M.CODCOLIGADA AND FINALIDADE = '4' AND @DATA BETWEEN INICIOVIGENCIA AND FINALVIGENCIA) VAL_DEP
								
						,ISNULL((SELECT LIMITESUPERIOR FROM PCALCVLR M 
							WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CODTABCALC = M.CODTABCALC AND A.INICIOVIGENCIA = M.INICIOVIGENCIA 
							AND M.NROFAIXA = (CASE WHEN A.NROFAIXA = 1 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 0
												   WHEN A.NROFAIXA = 1 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 2 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 1
												   WHEN A.NROFAIXA = 2 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 3 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 2
												   WHEN A.NROFAIXA = 3 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 4 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 3
												   WHEN A.NROFAIXA = 4 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 5 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 4
												   WHEN A.NROFAIXA = 5 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 6 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 5
												   WHEN A.NROFAIXA = 6 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1 END)),0) FAIXA_ANT
				
						,ISNULL((SELECT LIMITESUPERIOR FROM PCALCVLR M 
							WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CODTABCALC = M.CODTABCALC AND A.INICIOVIGENCIA = M.INICIOVIGENCIA 
							AND M.NROFAIXA = (CASE WHEN A.NROFAIXA = 1 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 2
												   WHEN A.NROFAIXA = 1 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)
												   
												   WHEN A.NROFAIXA = 2 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 3
												   WHEN A.NROFAIXA = 2 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)
												   
												   WHEN A.NROFAIXA = 3 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 4
												   WHEN A.NROFAIXA = 3 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)
												   
												   WHEN A.NROFAIXA = 4 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 5
												   WHEN A.NROFAIXA = 4 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)
												   
												   WHEN A.NROFAIXA = 5 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 6
												   WHEN A.NROFAIXA = 5 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)
												   
												   WHEN A.NROFAIXA = 6 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 7
												   WHEN A.NROFAIXA = 6 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) END)),0) FAIXA_PROX
					
					FROM PCALCVLR A, PTABCALC B
					WHERE 
						A.CODCOLIGADA    = B.CODCOLIGADA
					AND A.CODTABCALC     = B.CODIGO
					AND A.INICIOVIGENCIA = B.INICIOVIGENCIA
					AND A.CODCOLIGADA    = @COLIGADA
					AND B.FINALIDADE    IN ('2')
					AND @DATA BETWEEN B.INICIOVIGENCIA AND B.FINALVIGENCIA
										  
			)X
			  WHERE (BASE-(DEPENDENTE*VAL_DEP)) BETWEEN FAIXA_ANT AND LIMITESUPERIOR
	)Y
	)
	
RETURN @VALOR

END
GO
