USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tf_xpmsver]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tf_xpmsver]
AS
  SET NOCOUNT ON
  CREATE TABLE #result
    ( Indexnum         int ,
      Name             varchar(60) ,
      Internal_Value   int ,
      Character_Value  varchar(128) )
  INSERT #result
    EXECUTE master..xp_msver
  SELECT * FROM #result ORDER BY Indexnum
  DROP TABLE #result
 
GO
