USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[fnBuscaSalData]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 
-- +========================================================================================== +
-- + Autor		: Raphael Vidal Domingues				 									   +
-- + Data		: 05/08/2023													               +
-- + Finalidade	: Retorna salario em uma data específica									   +
-- +========================================================================================== +

create function [dbo].[fnBuscaSalData](@p_cvCodcoligada smallint,
									   @p_ccChapa       varchar(016),
									   @p_cdData        datetime) 
returns numeric(15,2) as
begin
  declare
    @v_cvSalario as numeric(15,2)
  
  begin
    select @v_cvSalario = hst.salario
      from pfhstsal hst
       inner join pfunc fun
	    on	 hst.chapa = fun.chapa
		 and hst.codcoligada = fun.codcoligada
     where	 hst.dtmudanca   = (select max(hst1.dtmudanca)
                                  from pfhstsal hst1
                                 where hst1.dtmudanca  <= @p_cdData
                                   and hst1.chapa       = hst.chapa
                                   and hst1.codcoligada = hst.codcoligada)
       and hst.chapa         = @p_ccChapa
       and hst.codcoligada   = @p_cvCodcoligada
    return isnull(@v_cvSalario, 0)
  end
end

GO
