USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sp_recompile]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_sp_recompile]
  @db_name  sysname,
  @obj_name nvarchar(256)
AS
BEGIN
  declare @cmd  nvarchar(512)
  declare @perm int
  set nocount on
  if @db_name is NULL
    set @db_name = db_name()
  else
  begin
    select @perm = HAS_DBACCESS( @db_name )
    if @perm != 1
      raiserror('No db access',16,1)
  end
  set @cmd = 'use [' + @db_name + '];' +
    N'exec sp_recompile @obj'
  exec sp_executesql @cmd,N'@obj nvarchar(256)',@obj_name
  select @obj_name + N' was marked for recompile'
END
 
GO
