USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[MITEMPEDIDOMAT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MITEMPEDIDOMAT]
AS
SELECT MITEMPEDIDOMATERIAL.CODCOLIGADA
	,MITEMPEDIDOMATERIAL.IDPRJ
	,MNECESSIDADEMAT.IDPRJREC
	,MNECESSIDADEMAT.IDPEDIDO
	,MITEMPEDIDOMATERIAL.IDITEMPEDIDO
	,MNECESSIDADEMAT.IDTRF
	,MNECESSIDADEMAT.IDISM
	,MITEMPEDIDOMATERIAL.IDPRD
	,MITEMPEDIDOMATERIAL.IDMOV
	,MITEMPEDIDOMATERIAL.NSEQITMMOV
	,MNECESSIDADEMAT.QTDENECESSIDADE QTDESUGERIDA
	,MITEMPEDIDOMATERIAL.QTDEPEDIDA
	,MNECESSIDADEMAT.PRECOORCADO
	,MITEMPEDIDOMATERIAL.DATAENTREGA
	,MITEMPEDIDOMATERIAL.MOTIVO OBS
	,IDTRFORIGINAL
	,MISM.CODUND
FROM MITEMPEDIDOMATERIAL  WITH (NOLOCK)
	,MNECESSIDADEMAT  WITH (NOLOCK)
	,MISM  WITH (NOLOCK)
WHERE MNECESSIDADEMAT.CODCOLIGADA = MITEMPEDIDOMATERIAL.CODCOLIGADA
	AND MNECESSIDADEMAT.IDPRJ = MITEMPEDIDOMATERIAL.IDPRJ
	AND MNECESSIDADEMAT.IDNECESSIDADE = MITEMPEDIDOMATERIAL.IDNECESSIDADE
	AND MNECESSIDADEMAT.CODCOLIGADA = MISM.CODCOLIGADA
	AND MNECESSIDADEMAT.IDPRJ = MISM.IDPRJ
	AND MNECESSIDADEMAT.IDISM = MISM.IDISM
GO
