USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITRENEGOCIACAOPARCINCLUDE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITRENEGOCIACAOPARCINCLUDE]
AS
SELECT
  CODCOLIGADA,
  NUMVENDA,
  NUMADIT,
  CODTIPOADIT,
  CODGRUPO,
  CODTIPOPARC,
  NUMPARC,
  CODTIPOSITPARC,
  DATVCTO,
  VRPARC,
  RECCREATEDBY,
  RECCREATEDON,
  RECMODIFIEDBY,
  RECMODIFIEDON
FROM XADITRENEGOCIACAOPARC
WHERE CODSITOPRL = 'I'
GO
