USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[MABCISM]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[MABCISM] AS
SELECT * FROM MABCISMTRF
WHERE TIPOTAREFA = 0 AND TIPOPLANILHA = 0 AND IDCENARIO = 0
GO
