USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_spaceused]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_spaceused]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(512)
declare @object_type char(2)
declare @dummy_space_used table (tabname sysname,
                                 [rows] char(11),
                                 reserved varchar(18),
                                 data varchar(18),
                                 [index] varchar(18),
                                 unused varchar(18))
-- check the existence of the object
exec sap_get_object_type @table_name, @schema_name, @db_name,
                         @object_type output
if @object_type is null or @object_type not in ('U', 'S')
  begin
    select * from @dummy_space_used
    RETURN
  end
-- execute sp_spaceused
set @cmd =  @db_name + '.dbo.' + 'sp_spaceused ''' +
            @schema_name + '.' + @table_name + ''''
exec( @cmd )
END
 
GO
