USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XLANINTEGRACAO_MULTAJUROS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XLANINTEGRACAO_MULTAJUROS] WITH SCHEMABINDING
AS
SELECT XLANBAIXA_MULTAJUROS.CODCOLIGADA,
       XCOMPONENTEVRINTEGRACAO.IDCAMPO,
       XLANBAIXA_MULTAJUROS.IDLAN,
       CASE (XCOMPONENTE.COD_TIPO_COMPN)
         WHEN 12 THEN XLANBAIXA_MULTAJUROS.VALORMULTA
         WHEN 13 THEN XLANBAIXA_MULTAJUROS.VALORJUROS
       END AS VALOR,
       XLANBAIXA_MULTAJUROS.RECCREATEDBY,
       XLANBAIXA_MULTAJUROS.RECCREATEDON,
       XLANBAIXA_MULTAJUROS.RECMODIFIEDBY,
       XLANBAIXA_MULTAJUROS.RECMODIFIEDON
FROM DBO.XCOMPONENTEVRINTEGRACAO (NOLOCK) JOIN
     DBO.XCOMPONENTE (NOLOCK)
     ON (DBO.XCOMPONENTE.COD_COMPN = DBO.XCOMPONENTEVRINTEGRACAO.CODCOMPN) AND
        (DBO.XCOMPONENTE.COD_TIPO_COMPN IN (12, 13)) JOIN
     DBO.XLANBAIXA_MULTAJUROS
     ON (DBO.XLANBAIXA_MULTAJUROS.CODCOLIGADA = DBO.XCOMPONENTEVRINTEGRACAO.CODCOLIGADA)
GO
