USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sqltext_fromhdl]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_sqltext_fromhdl]
  @sqlhandle varbinary(64),
  @start_offset int = 0,
  @end_offset int = 0
 AS
BEGIN
  set nocount on
-- return columns
  declare @sql nvarchar(MAX)
 if @start_offset = 0 and @end_offset = 0
 begin
  select @sql = SUBSTRING(text,0,(len(convert(nvarchar(MAX),text)) * 2))
    from sys.dm_exec_sql_text(@sqlhandle)
 end
 else if @end_offset = -1
 begin
   select @sql = SUBSTRING(text,@start_offset/2 + 1,
                (len(convert(nvarchar(max), text)) * 2 - @start_offset)/2)
     from sys.dm_exec_sql_text(@sqlhandle)
 end
 else
 begin
    select @sql = SUBSTRING(text, @start_offset/2 + 1,
                  (@end_offset - @start_offset)/2)
      from sys.dm_exec_sql_text(@sqlhandle)
 end
 select @sql
end
 
GO
