USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculoIndicePontoMais]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculoIndicePontoMais](@INDICE_PONTOMAIS INT, @DATAMUDANCA VARCHAR(10), @CODHORARIO VARCHAR(10), @CODCOLIGADA VARCHAR(5))
RETURNS INT
BEGIN

	DECLARE @INDICE_MIN INT = (SELECT MIN(INDICE) FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO);
	DECLARE @INDICE_MAX INT = (SELECT MAX(INDICE) FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO IN (0,1,2));
	DECLARE @COUNT INT = 0;
	DECLARE @INDICE INT = 1;
	DECLARE @INDICE_CALCULO INT = 0;
	WHILE (@COUNT <= 40)
		BEGIN
			SET @COUNT = @COUNT+1;
			SET @INDICE_CALCULO = (SELECT dbo.CalculoIndiceHorario(@INDICE, @DATAMUDANCA, @CODHORARIO, @CODCOLIGADA));
			
			IF(@INDICE_CALCULO = @INDICE_PONTOMAIS)
				
				BREAK;
			
			SET @INDICE = @INDICE+1;
			IF(@INDICE > @INDICE_MAX) SET @INDICE = @INDICE_MIN;
		END;
	RETURN @INDICE;
END
GO
