USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SBOLETIMAULASDADAS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SBOLETIMAULASDADAS]
AS
SELECT M.*
	,SP.CODPERLET
	,SD.NUMCREDITOS
	,SD.CH
	,SD.CODDISC
	,SD.NOME NOMEDISC
	,SD.NOMEREDUZIDO
	,S.DESCRICAO STATUS
	,SR.DESCRICAO RESULTADO
	,AD1.AULASDADAS AD1
	,AD2.AULASDADAS AD2
	,AD3.AULASDADAS AD3
	,AD4.AULASDADAS AD4
	,AD5.AULASDADAS AD5
	,AD6.AULASDADAS AD6
	,AD7.AULASDADAS AD7
	,AD8.AULASDADAS AD8
	,AD9.AULASDADAS AD9
	,AD10.AULASDADAS AD10
	,AD11.AULASDADAS AD11
	,AD12.AULASDADAS AD12
	,AD13.AULASDADAS AD13
	,AD14.AULASDADAS AD14
	,AD15.AULASDADAS AD15
	,AD16.AULASDADAS AD16
	,AD17.AULASDADAS AD17
	,AD18.AULASDADAS AD18
	,AD19.AULASDADAS AD19
	,AD20.AULASDADAS AD20
FROM (
	SMATRICULA M  WITH (NOLOCK) /*AD1*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 1
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD1 ON AD1.CODCOLIGADA = M.CODCOLIGADA
		AND AD1.IDTURMADISC = M.IDTURMADISC
		AND AD1.RA = M.RA /*AD2*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 2
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD2 ON AD2.CODCOLIGADA = M.CODCOLIGADA
		AND AD2.IDTURMADISC = M.IDTURMADISC
		AND AD2.RA = M.RA /*AD3*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 3
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD3 ON AD3.CODCOLIGADA = M.CODCOLIGADA
		AND AD3.IDTURMADISC = M.IDTURMADISC
		AND AD3.RA = M.RA /*AD4*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 4
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD4 ON AD4.CODCOLIGADA = M.CODCOLIGADA
		AND AD4.IDTURMADISC = M.IDTURMADISC
		AND AD4.RA = M.RA /*AD5*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 5
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD5 ON AD5.CODCOLIGADA = M.CODCOLIGADA
		AND AD5.IDTURMADISC = M.IDTURMADISC
		AND AD5.RA = M.RA /*AD6*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 6
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD6 ON AD6.CODCOLIGADA = M.CODCOLIGADA
		AND AD6.IDTURMADISC = M.IDTURMADISC
		AND AD6.RA = M.RA /*AD7*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 7
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD7 ON AD7.CODCOLIGADA = M.CODCOLIGADA
		AND AD7.IDTURMADISC = M.IDTURMADISC
		AND AD7.RA = M.RA /*AD8*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 8
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD8 ON AD8.CODCOLIGADA = M.CODCOLIGADA
		AND AD8.IDTURMADISC = M.IDTURMADISC
		AND AD8.RA = M.RA /*AD9*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 9
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD9 ON AD9.CODCOLIGADA = M.CODCOLIGADA
		AND AD9.IDTURMADISC = M.IDTURMADISC
		AND AD9.RA = M.RA /*AD10*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 10
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD10 ON AD10.CODCOLIGADA = M.CODCOLIGADA
		AND AD10.IDTURMADISC = M.IDTURMADISC
		AND AD10.RA = M.RA /*AD11*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 11
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD11 ON AD11.CODCOLIGADA = M.CODCOLIGADA
		AND AD11.IDTURMADISC = M.IDTURMADISC
		AND AD11.RA = M.RA /*AD12*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 12
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD12 ON AD12.CODCOLIGADA = M.CODCOLIGADA
		AND AD12.IDTURMADISC = M.IDTURMADISC
		AND AD12.RA = M.RA /*AD13*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 13
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD13 ON AD13.CODCOLIGADA = M.CODCOLIGADA
		AND AD13.IDTURMADISC = M.IDTURMADISC
		AND AD13.RA = M.RA /*AD14*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 14
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD14 ON AD14.CODCOLIGADA = M.CODCOLIGADA
		AND AD14.IDTURMADISC = M.IDTURMADISC
		AND AD14.RA = M.RA /*AD15*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 15
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD15 ON AD15.CODCOLIGADA = M.CODCOLIGADA
		AND AD15.IDTURMADISC = M.IDTURMADISC
		AND AD15.RA = M.RA /*AD16*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 16
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD16 ON AD16.CODCOLIGADA = M.CODCOLIGADA
		AND AD16.IDTURMADISC = M.IDTURMADISC
		AND AD16.RA = M.RA /*AD17*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 17
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD17 ON AD17.CODCOLIGADA = M.CODCOLIGADA
		AND AD17.IDTURMADISC = M.IDTURMADISC
		AND AD17.RA = M.RA /*AD18*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 18
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD18 ON AD18.CODCOLIGADA = M.CODCOLIGADA
		AND AD18.IDTURMADISC = M.IDTURMADISC
		AND AD18.RA = M.RA /*AD19*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 19
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD19 ON AD19.CODCOLIGADA = M.CODCOLIGADA
		AND AD19.IDTURMADISC = M.IDTURMADISC
		AND AD19.RA = M.RA /*AD20*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.AULASDADAS
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'F'
			AND SETAPAS.CODETAPA = 20
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS AD20 ON AD20.CODCOLIGADA = M.CODCOLIGADA
		AND AD20.IDTURMADISC = M.IDTURMADISC
		AND AD20.RA = M.RA
	LEFT OUTER JOIN SSTATUS S  WITH (NOLOCK) ON M.CODCOLIGADA = S.CODCOLIGADA
		AND M.CODSTATUS = S.CODSTATUS
	LEFT OUTER JOIN SSTATUS SR  WITH (NOLOCK) ON M.CODCOLIGADA = SR.CODCOLIGADA
		AND M.CODSTATUSRES = SR.CODSTATUS
	)
	,STURMADISC T  WITH (NOLOCK)
	,SPLETIVO SP  WITH (NOLOCK)
	,SDISCIPLINA SD  WITH (NOLOCK)
WHERE M.CODCOLIGADA = T.CODCOLIGADA
	AND M.IDTURMADISC = T.IDTURMADISC
	AND M.CODCOLIGADA = SP.CODCOLIGADA
	AND M.IDPERLET = SP.IDPERLET
	AND T.CODCOLIGADA = SD.CODCOLIGADA
	AND T.CODDISC = SD.CODDISC
GO
