USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[GERAFATCUSTO]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[GERAFATCUSTO]
       @NROCONTA VARCHAR(14), @SEQCONTA INTEGER, @DATAGERACAO AS DATETIME, @CODCOLIGADA AS INTEGER, @SEQPARCIAL AS INTEGER
AS

DECLARE @VALORTOTAL AS NUMERIC(18,2), @CODCENTCUSTRESULTADO AS INTEGER, @CODPREST AS INTEGER, @QT AS INTEGER,
        @PACOTE AS FLOAT, @CODCOMPRADOR AS INTEGER, @CODMEDRESPONSAVEL AS INTEGER,
        @CODESPECGRUPO AS VARCHAR(5), @INCLUIDOPACOTE AS VARCHAR(1), @CODGASTO AS VARCHAR(2), 
        @VALORCUSTOUNITARIO AS FLOAT, @QTDE AS FLOAT, @QTDEDEV AS FLOAT, @VALORUNIT AS FLOAT, 
        @CPP AS INTEGER, @FATHOSP AS FLOAT, @FATREP AS FLOAT, @FATORCONVERSAOFATMED AS FLOAT

SELECT @CPP = B.CODGERAL
FROM SZPARCIALATEND A, SZUNIDATEND B
WHERE A.CODCOLIGADA   = @CODCOLIGADA
AND A.NUMEROCONTA     = @NROCONTA
AND A.SEQUENCIALCONTA = @SEQCONTA
AND A.SEQPARCIAL      = @SEQPARCIAL 
AND B.CODCOLIGADA     = A.CODCOLIGADA
AND B.IDUNIDATEND     = A.IDUNIDFAT

SELECT @CODCOMPRADOR = CODCOMPRADOR, @CODMEDRESPONSAVEL = ISNULL(CODMEDRESPONSAVEL,-1), @CODESPECGRUPO = ISNULL(CODESPECGRUPO,-1)
  FROM SZATENDIMENTO WHERE CODCOLIGADA = @CODCOLIGADA AND NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA 

SELECT @PACOTE = PACOTERESUMO
  FROM SZATENDRESUMO WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND CODCOLIGADA = @CODCOLIGADA  AND SEQPARCIAL = @SEQPARCIAL

DECLARE P26 CURSOR FOR
 SELECT CODPRESTADOR, VALORTOTALHM, ISNULL(CODCENTCUSTRESULTADO,-1) CODCENTCUSTRESULTADO, INCLUIDOPACOTE FROM SZATENDHONORARIO
  WHERE CODCOLIGADA = @CODCOLIGADA AND NUMEROCONTA = @NROCONTA 
    AND SEQUENCIALCONTA = @SEQCONTA AND SEQPARCIAL = @SEQPARCIAL
    AND ESTORNADO IS NULL AND ((HONORARIOFORA IS NULL) OR (HONORARIOFORA = '') OR (HONORARIOFORA = 'F'))
		

DECLARE P26REP CURSOR FOR
 SELECT ISNULL(A.CODCENTCUSTRESULTADO,-1) CODCENTCUSTRESULTADO, SUM(VALORREPASSEUPD) VALORREPASSEUPD 
   FROM SZATENDHONORARIO A, SZCONTROLREPASSE B
  WHERE A.CODCOLIGADA = @CODCOLIGADA AND A.NUMEROCONTA = @NROCONTA 
    AND A.SEQUENCIALCONTA = @SEQCONTA AND A.SEQPARCIAL = @SEQPARCIAL
    AND A.ESTORNADO IS NULL AND (A.HONORARIOFORA = 'F' OR A.HONORARIOFORA IS NULL)
    AND A.INCLUIDOPACOTE IS NULL
    AND A.CODCOLIGADA = B.CODCOLIGADA
    AND A.NUMEROCONTA = B.NUMEROCONTA
    AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA
    AND A.SEQPARCIAL = B.SEQPARCIAL
    AND A.SEQDEBITOHM = B.SEQDEBITO
    AND A.CODPRESTADOR = B.CODPRESTADOR
  GROUP BY A.CODCENTCUSTRESULTADO

DECLARE P27 CURSOR FOR
 SELECT QUANTIDADEDIARIAS, VALORTOTALDIARIAS, ISNULL(CODCENTCUSTRESULTADO,-1) CODCENTCUSTRESULTADO, ISNULL(VALORCUSTOUNITARIO,0) VALORCUSTOUNITARIO, INCLUIDOPACOTE FROM SZATENDDIARIAS
  WHERE CODCOLIGADA = @CODCOLIGADA AND NUMEROCONTA = @NROCONTA 
    AND SEQUENCIALCONTA = @SEQCONTA AND SEQPARCIAL = @SEQPARCIAL
    AND ESTORNADO IS NULL
	  

DECLARE P28 CURSOR FOR
 SELECT QUANTIDADESADT, CODPRESTADOR, VALORTOTALSADT, ISNULL(CODCENTCUSTRESULTADO,-1) CODCENTCUSTRESULTADO, ISNULL(VALORCUSTOUNITARIO,0) VALORCUSTOUNITARIO, INCLUIDOPACOTE FROM SZATENDSADT
  WHERE CODCOLIGADA = @CODCOLIGADA AND NUMEROCONTA = @NROCONTA 
    AND SEQUENCIALCONTA = @SEQCONTA AND SEQPARCIAL = @SEQPARCIAL
    AND ESTORNADO IS NULL AND ((EXAMEFORA IS NULL) OR (EXAMEFORA = '') OR (EXAMEFORA = 'F'))
	
DECLARE P28REP CURSOR FOR
 SELECT ISNULL(A.CODCENTCUSTRESULTADO,-1) CODCENTCUSTRESULTADO, SUM(VALORREPASSEUPD) VALORREPASSEUPD FROM SZATENDSADT A, SZCONTROLREPASSE B
  WHERE A.CODCOLIGADA = @CODCOLIGADA AND A.NUMEROCONTA = @NROCONTA 
    AND A.SEQUENCIALCONTA = @SEQCONTA AND A.SEQPARCIAL = @SEQPARCIAL
    AND A.ESTORNADO IS NULL AND A.INCLUIDOPACOTE IS NULL AND EXAMEFORA IS NULL
    AND A.NUMEROCONTA = B.NUMEROCONTA
    AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA
    AND A.SEQDEBITOSADT = B.SEQDEBITO
    AND A.CODPRESTADOR = B.CODPRESTADOR
    AND B.CODPRESTADOR <> B.CODPRESTPRINC
    AND A.CODCOLIGADA = B.CODCOLIGADA
    AND A.SEQPARCIAL = B.SEQPARCIAL
  GROUP BY A.CODCENTCUSTRESULTADO

DECLARE P29 CURSOR FOR
 SELECT QUANTIDADETAXAS, VALORTOTALTAXAS, CODGGASTO, ISNULL(CODCENTCUSTRESULTADO,-1) CODCENTCUSTRESULTADO, ISNULL(VALORCUSTOUNITARIO,0) VALORCUSTOUNITARIO, INCLUIDOPACOTE FROM SZATENDTAXASERV
  WHERE CODCOLIGADA = @CODCOLIGADA AND NUMEROCONTA = @NROCONTA 
    AND SEQUENCIALCONTA = @SEQCONTA AND SEQPARCIAL = @SEQPARCIAL
    AND ESTORNADO IS NULL AND ((TAXAFORA IS NULL) OR (TAXAFORA = '') OR (TAXAFORA = 'F'))
    

DECLARE P30 CURSOR FOR
 SELECT QUANTIDADEMATMED, VALORMATMED, VALORTOTALMATMED, CODGGASTO, ISNULL(CODCENTCUSTRESULTADO,-1) CODCENTCUSTRESULTADO, 
        ISNULL(VALORCUSTOUNITARIO,0) VALORCUSTOUNITARIO, QTDDEVOLVIDA, INCLUIDOPACOTE, FATORCONVERSAOMATMED 
   FROM SZATENDMATMED
  WHERE CODCOLIGADA = @CODCOLIGADA AND NUMEROCONTA = @NROCONTA 
    AND SEQUENCIALCONTA = @SEQCONTA AND SEQPARCIAL = @SEQPARCIAL
    AND (QUANTIDADEMATMED-QTDDEVOLVIDA) > 0 AND ESTORNADO IS NULL
    AND ((TIPOMOVIMENTO <> 2 ) OR (TIPOMOVIMENTO IS NULL))

--Atendimento 768327
DECLARE P30FAT CURSOR FOR
 SELECT ISNULL(CODCENTCUSTRESULTADO,-1) CODCENTCUSTRESULTADO, CODGGASTO,
 SUM(CONVERT(NUMERIC(18,2), ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED))))
 FROM SZATENDMATMED
 WHERE CODCOLIGADA = @CODCOLIGADA AND NUMEROCONTA = @NROCONTA 
 AND SEQUENCIALCONTA = @SEQCONTA AND SEQPARCIAL = @SEQPARCIAL 
 AND ESTORNADO IS NULL
 AND ((TIPOMOVIMENTO <> 2) OR (TIPOMOVIMENTO IS NULL))
 GROUP BY ISNULL(CODCENTCUSTRESULTADO,-1), CODGGASTO

DELETE FROM SZATENDRESUMOCOMPCCUSTOESPEC WHERE CODCOLIGADA = @CODCOLIGADA AND NUMEROCONTA = @NROCONTA 
                                           AND SEQUENCIALCONTA = @SEQCONTA AND SEQPARCIAL = @SEQPARCIAL
                                           AND DATAFATURA = @DATAGERACAO 

OPEN P26
FETCH NEXT FROM P26
  INTO @CODPREST, @VALORTOTAL, @CODCENTCUSTRESULTADO, @INCLUIDOPACOTE
WHILE (@@FETCH_STATUS = 0)
BEGIN
  IF (@PACOTE > 0 AND @INCLUIDOPACOTE = 'T') OR (@PACOTE = 0 OR @PACOTE IS NULL)
  BEGIN
    SELECT @FATHOSP = 0
    SELECT @FATREP = 0
    IF @CODPREST = @CPP
    BEGIN
      SELECT @FATHOSP = @VALORTOTAL
    END
    ELSE
    BEGIN
      SELECT @FATREP = @VALORTOTAL
    END
    UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET FATHONO = FATHONO + @VALORTOTAL, FATHOSPHONO = FATHOSPHONO + @FATHOSP,
                        FATREPHONO = FATREPHONO + @FATREP
     WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
       AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
       AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
       AND CODCOLIGADA = @CODCOLIGADA
			 AND SEQPARCIAL = @SEQPARCIAL
    IF @@ROWCOUNT = 0
    BEGIN
     INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
        CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,FATHONO,FATHOSPHONO,FATREPHONO,CODCOLIGADA,SEQPARCIAL)
     VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
        @CODCENTCUSTRESULTADO,@VALORTOTAL,@FATHOSP,@FATREP,@CODCOLIGADA,@SEQPARCIAL)
    END
  END
  FETCH NEXT FROM P26
    INTO @CODPREST, @VALORTOTAL, @CODCENTCUSTRESULTADO, @INCLUIDOPACOTE
END 
CLOSE P26
DEALLOCATE P26

OPEN P26REP
FETCH NEXT FROM P26REP
  INTO @CODCENTCUSTRESULTADO, @VALORTOTAL 
WHILE (@@FETCH_STATUS = 0)
BEGIN
  UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOHONO = CUSTOHONO + @VALORTOTAL,CUSTOREPHONO = CUSTOREPHONO + @VALORTOTAL
  WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
     AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
     AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
     AND CODCOLIGADA = @CODCOLIGADA
		 AND SEQPARCIAL = @SEQPARCIAL
  IF @@ROWCOUNT = 0
  BEGIN
    INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
        CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOHONO,CUSTOREPHONO,CODCOLIGADA,SEQPARCIAL)
    VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
        @CODCENTCUSTRESULTADO,@VALORTOTAL,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
  END
  FETCH NEXT FROM P26REP
    INTO @CODCENTCUSTRESULTADO, @VALORTOTAL
END 
CLOSE P26REP
DEALLOCATE P26REP

OPEN P27
FETCH NEXT FROM P27
  INTO @QTDE, @VALORTOTAL, @CODCENTCUSTRESULTADO, @VALORCUSTOUNITARIO, @INCLUIDOPACOTE
WHILE (@@FETCH_STATUS = 0)
BEGIN
  IF (@PACOTE > 0 AND @INCLUIDOPACOTE = 'T') OR (@PACOTE = 0 OR @PACOTE IS NULL)
  BEGIN
    SELECT @VALORCUSTOUNITARIO = @VALORCUSTOUNITARIO * @QTDE
    UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTODIARIA = CUSTODIARIA + @VALORCUSTOUNITARIO,FATDIARIA = FATDIARIA + @VALORTOTAL
     WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
       AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
       AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
       AND CODCOLIGADA = @CODCOLIGADA
			 AND SEQPARCIAL = @SEQPARCIAL
    IF @@ROWCOUNT = 0
    BEGIN
      INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
        CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTODIARIA,FATDIARIA,CODCOLIGADA,SEQPARCIAL)
      VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
        @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
    END  
  END 
  FETCH NEXT FROM P27
    INTO @QTDE, @VALORTOTAL, @CODCENTCUSTRESULTADO, @VALORCUSTOUNITARIO, @INCLUIDOPACOTE
END 
CLOSE P27
DEALLOCATE P27

OPEN P28
FETCH NEXT FROM P28
  INTO @QTDE, @CODPREST, @VALORTOTAL, @CODCENTCUSTRESULTADO, @VALORCUSTOUNITARIO, @INCLUIDOPACOTE
WHILE (@@FETCH_STATUS = 0)
BEGIN
  IF (@PACOTE > 0 AND @INCLUIDOPACOTE = 'T') OR ((@PACOTE = 0) OR (@PACOTE IS NULL))
  BEGIN
    SELECT @VALORCUSTOUNITARIO = @VALORCUSTOUNITARIO * @QTDE
    IF @CODPREST = @CPP
    BEGIN
      UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTODIAG = CUSTODIAG + @VALORCUSTOUNITARIO, FATDIAG = FATDIAG + @VALORTOTAL,
          CUSTOHOSPDIAG = CUSTOHOSPDIAG + @VALORCUSTOUNITARIO, FATHOSPDIAG = FATHOSPDIAG + @VALORTOTAL 
       WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
         AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
         AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
         AND CODCOLIGADA = @CODCOLIGADA
				 AND SEQPARCIAL = @SEQPARCIAL
      IF @@ROWCOUNT = 0
      BEGIN
        INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
          CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTODIAG,FATDIAG,CUSTOHOSPDIAG,FATHOSPDIAG,CODCOLIGADA,SEQPARCIAL)
        VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
          @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@VALORCUSTOUNITARIO,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
      END
    END
    ELSE
    BEGIN
      UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTODIAG = CUSTODIAG + @VALORCUSTOUNITARIO, FATDIAG = FATDIAG + @VALORTOTAL,
             FATREPDIAG = FATREPDIAG + @VALORTOTAL
      WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
        AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
        AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
        AND CODCOLIGADA = @CODCOLIGADA
			  AND SEQPARCIAL = @SEQPARCIAL
      IF @@ROWCOUNT = 0
      BEGIN
        INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
          CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTODIAG,FATDIAG,FATREPDIAG,CODCOLIGADA,SEQPARCIAL)
        VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
          @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
      END
    END
  END 
  FETCH NEXT FROM P28
    INTO @QTDE, @CODPREST, @VALORTOTAL, @CODCENTCUSTRESULTADO, @VALORCUSTOUNITARIO, @INCLUIDOPACOTE
END 
CLOSE P28
DEALLOCATE P28

OPEN P28REP
FETCH NEXT FROM P28REP
  INTO @CODCENTCUSTRESULTADO, @VALORTOTAL 
WHILE (@@FETCH_STATUS = 0)
BEGIN
  UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTODIAG = CUSTODIAG + @VALORTOTAL,CUSTOREPDIAG = CUSTOREPDIAG + @VALORTOTAL
   WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
     AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
     AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
     AND CODCOLIGADA = @CODCOLIGADA
		 AND SEQPARCIAL = @SEQPARCIAL	
  IF @@ROWCOUNT = 0
  BEGIN
    INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
        CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTODIAG,CUSTOREPDIAG,CODCOLIGADA,SEQPARCIAL)
    VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
        @CODCENTCUSTRESULTADO,@VALORTOTAL,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
  END
  FETCH NEXT FROM P28REP
    INTO @CODCENTCUSTRESULTADO, @VALORTOTAL
END 
CLOSE P28REP
DEALLOCATE P28REP

OPEN P29
FETCH NEXT FROM P29
  INTO @QTDE, @VALORTOTAL, @CODGASTO, @CODCENTCUSTRESULTADO, @VALORCUSTOUNITARIO, @INCLUIDOPACOTE
WHILE (@@FETCH_STATUS = 0)
BEGIN
  IF ((@PACOTE > 0 AND @INCLUIDOPACOTE = 'T') OR @CODGASTO= '10') OR (@PACOTE = 0 OR @PACOTE IS NULL)
  BEGIN
    SELECT @VALORCUSTOUNITARIO = @VALORCUSTOUNITARIO * @QTDE
    IF @CODGASTO = '10'
    BEGIN
      UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET FATPACOTE = FATPACOTE + @VALORTOTAL
       WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
         AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
         AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
         AND CODCOLIGADA = @CODCOLIGADA
				 AND SEQPARCIAL = @SEQPARCIAL
      IF @@ROWCOUNT = 0
      BEGIN
       INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
          CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,FATPACOTE,CODCOLIGADA,SEQPARCIAL)
       VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
          @CODCENTCUSTRESULTADO,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
      END
    END
    ELSE
    BEGIN
     IF @CODGASTO = '03'
     BEGIN
      UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOTAXA = CUSTOTAXA + @VALORCUSTOUNITARIO, FATTAXA = FATTAXA + @VALORTOTAL
       WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
         AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
         AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
         AND CODCOLIGADA = @CODCOLIGADA
				 AND SEQPARCIAL = @SEQPARCIAL
      IF @@ROWCOUNT = 0
      BEGIN
       INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
          CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOTAXA,FATTAXA,CODCOLIGADA,SEQPARCIAL)
       VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
          @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
      END
     END
     ELSE
     BEGIN--CODGASTO 04
      UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOSERVICO = CUSTOSERVICO + @VALORCUSTOUNITARIO, FATSERVICO = FATSERVICO + @VALORTOTAL
       WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
         AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
         AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
         AND CODCOLIGADA = @CODCOLIGADA
				 AND SEQPARCIAL = @SEQPARCIAL
      IF @@ROWCOUNT = 0
      BEGIN
       INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
          CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOSERVICO,FATSERVICO,CODCOLIGADA,SEQPARCIAL)
       VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
          @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
      END
     END
    END
  END
  FETCH NEXT FROM P29
    INTO @QTDE, @VALORTOTAL, @CODGASTO, @CODCENTCUSTRESULTADO, @VALORCUSTOUNITARIO, @INCLUIDOPACOTE
END 
CLOSE P29
DEALLOCATE P29

OPEN P30
FETCH NEXT FROM P30
  INTO @QTDE, @VALORUNIT, @VALORTOTAL, @CODGASTO, @CODCENTCUSTRESULTADO, @VALORCUSTOUNITARIO, @QTDEDEV, @INCLUIDOPACOTE, @FATORCONVERSAOFATMED
WHILE (@@FETCH_STATUS = 0)
BEGIN
  SET @VALORTOTAL = CONVERT(NUMERIC(18,2),(@QTDE * @VALORUNIT) - (@QTDEDEV * @VALORUNIT))

  IF (@PACOTE > 0 AND @INCLUIDOPACOTE = 'T') OR (@PACOTE = 0 OR @PACOTE IS NULL)
  BEGIN
    IF @FATORCONVERSAOFATMED <> 0
    BEGIN
      SELECT @VALORCUSTOUNITARIO = @VALORCUSTOUNITARIO * @FATORCONVERSAOFATMED
    END
    SELECT @VALORCUSTOUNITARIO = @VALORCUSTOUNITARIO * (@QTDE - @QTDEDEV)
    IF @CODGASTO = '05'
    BEGIN
      UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOMED = CUSTOMED + @VALORCUSTOUNITARIO,FATMED = FATMED + @VALORTOTAL
       WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
         AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
         AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
         AND CODCOLIGADA = @CODCOLIGADA
				 AND SEQPARCIAL = @SEQPARCIAL
      IF @@ROWCOUNT = 0
      BEGIN
      INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
          CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOMED,FATMED,CODCOLIGADA,SEQPARCIAL)
        VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
          @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
      END
    END  
    ELSE
    BEGIN
      IF @CODGASTO = '06'
      BEGIN
        UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOMAT = CUSTOMAT + @VALORCUSTOUNITARIO,FATMAT = FATMAT + @VALORTOTAL
         WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
          AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
          AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
          AND CODCOLIGADA = @CODCOLIGADA
				  AND SEQPARCIAL = @SEQPARCIAL
       IF @@ROWCOUNT = 0
       BEGIN
         INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
           CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOMAT,FATMAT,CODCOLIGADA,SEQPARCIAL)
         VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
           @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
       END
     END
     ELSE
     BEGIN
       IF @CODGASTO = '07'
       BEGIN
         UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOORTESE = CUSTOORTESE + @VALORCUSTOUNITARIO,FATORTESE = FATORTESE + @VALORTOTAL
          WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
            AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
            AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
            AND CODCOLIGADA = @CODCOLIGADA
					  AND SEQPARCIAL = @SEQPARCIAL
         IF @@ROWCOUNT = 0
         BEGIN
           INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
              CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOORTESE,FATORTESE,CODCOLIGADA,SEQPARCIAL)
           VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
             @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
         END
       END
       ELSE
       BEGIN
         IF @CODGASTO = '08'
         BEGIN
           UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOPROTESE = CUSTOPROTESE + @VALORCUSTOUNITARIO,FATPROTESE = FATPROTESE + @VALORTOTAL
            WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
              AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
              AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
              AND CODCOLIGADA = @CODCOLIGADA
						  AND SEQPARCIAL = @SEQPARCIAL
           IF @@ROWCOUNT = 0
           BEGIN
             INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR, 
               CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOPROTESE,FATPROTESE,CODCOLIGADA,SEQPARCIAL)
             VALUES (@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
               @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@CODCOLIGADA,@SEQPARCIAL)
           END
         END
        END
      END
    END
  END
  FETCH NEXT FROM P30
    INTO @QTDE, @VALORUNIT, @VALORTOTAL, @CODGASTO, @CODCENTCUSTRESULTADO, @VALORCUSTOUNITARIO, @QTDEDEV, @INCLUIDOPACOTE, @FATORCONVERSAOFATMED
END 
CLOSE P30
DEALLOCATE P30

--Atendimento 768327
OPEN P30FAT
FETCH NEXT FROM P30FAT
  INTO @CODCENTCUSTRESULTADO, @CODGASTO, @VALORTOTAL
WHILE (@@FETCH_STATUS = 0)
BEGIN
    IF @CODGASTO = '05'
    BEGIN
      UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET FATMED = @VALORTOTAL
       WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
         AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
         AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
         AND CODCOLIGADA = @CODCOLIGADA
				 AND SEQPARCIAL = @SEQPARCIAL
    END  
    ELSE
    BEGIN
      IF @CODGASTO = '06'
      BEGIN
        UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET FATMAT = @VALORTOTAL
        WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
          AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
          AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
          AND CODCOLIGADA = @CODCOLIGADA
				  AND SEQPARCIAL = @SEQPARCIAL
     END
     ELSE
     BEGIN
       IF @CODGASTO = '07'
       BEGIN
         UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET FATORTESE = @VALORTOTAL
          WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
            AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
            AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
            AND CODCOLIGADA = @CODCOLIGADA
						AND SEQPARCIAL = @SEQPARCIAL
       END
       ELSE
       BEGIN
         IF @CODGASTO = '08'
         BEGIN
           UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET FATPROTESE = @VALORTOTAL
            WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO 
              AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
              AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
              AND CODCOLIGADA = @CODCOLIGADA
						  AND SEQPARCIAL = @SEQPARCIAL
         END
        END
      END
    END
  FETCH NEXT FROM P30FAT
    INTO @CODCENTCUSTRESULTADO, @CODGASTO, @VALORTOTAL
END 
CLOSE P30FAT
DEALLOCATE P30FAT
GO
