USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFLAN]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFLAN] AS
SELECT CODCOLIGADA,CODCFO,NUMERODOCUMENTO,VALORORIGINAL,DATAVENCIMENTO,DATABAIXA, 
GETDATE() AS DTHRATUALIZACAO,DATAEMISSAO, VALORBAIXADO, CNABBANCO
FROM FLAN
GO
