USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_job_message]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_job_message] @ndays int = 30,
                                 @jobid nvarchar(32) = ' ',
                                 @linelen int = 70
AS
BEGIN
/**************************************************************/
/* Added the new parameter @linelen to the procedure so that  */
/* DB12 can display 100 characters in the job display         */
/*                                                            */
/* Added  the @jobid parameter for the function module        */
/* MSS_GET_JOB_INFO_AND_LOG                   12122006RR      */
/**************************************************************/
   set nocount on
   declare @tempjobid1         uniqueidentifier,
           @tempjobid2         uniqueidentifier,
           @tempstep_id        int,
           @tempsql_message_id int,
           @templinenum        int,
           @tempmessage        varchar(2048),
           @run_time           int,
           @run_date           int,
           @charlength         int,
           @totalcharlength    int,
           @tempyear           int,
           @tempmonth          int,
           @tempday            int,
           @tempmonth2         int,
           @tempdate           datetime,
           @tempdate2          varchar(10),
           @tempdate3          int,
           @start              int,
           @end                int,
           @linenum            int,
           @cmd                nvarchar(400)
   create table #spindtab
   (   job_id         varbinary(16),
       step_id        int,
       sql_message_id int,
       line_num       int,
       message        varchar(100),
       run_date       int,
       run_time       int
   )
    select @tempdate        = getdate() - @ndays
    select @tempyear        = YEAR(@tempdate)
    select @tempmonth       = MONTH(@tempdate)
    select @tempday         = DAY(@tempdate)
    if @tempday < 10
      begin
        if @tempmonth < 10
          select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                 CAST(@tempmonth AS char(1)) + '0' +
                                 CAST(@tempday   AS char(1))
         else
          select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                 CAST(@tempmonth AS varchar(2)) + '0' +
                                 CAST(@tempday   AS char(1))
       end
     else
       begin
        if @tempmonth < 10
          select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                 CAST(@tempmonth AS char(1)) +
                                 CAST(@tempday   AS varchar(2))
        else
          select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                 CAST(@tempmonth AS varchar(2)) +
                                 CAST(@tempday   AS varchar(2))
       end
       select @tempdate3       = @tempdate2
       select @charlength      = 1
       select @totalcharlength = 2048
       select @start           = 1
       select @end             = @linelen
       select @linenum         = 1
    set @cmd = 'declare temp_cur2 cursor for select job_id,'+
           'step_id,sql_message_id,convert(varchar(2048),message),'+
           'run_date,run_time' +
           ' from msdb..sysjobhistory where step_id <> 0'
   if  @jobid <> ' '
      set @cmd = @cmd + ' and job_id = 0x' + @jobid
   else
     set @cmd = @cmd + ' and run_date >= ' + @tempdate2
   exec  (@cmd)
  open temp_cur2
  fetch temp_cur2 into @tempjobid2,@tempstep_id,
               @tempsql_message_id,@tempmessage,@run_date,@run_time
  while @@fetch_status >= 0
  begin
        SELECT @totalcharlength = LEN(@tempmessage)
         while @charlength <= @totalcharlength
             begin
              if @linelen = 70
               insert into #spindtab values
              (@tempjobid2,@tempstep_id,@tempsql_message_id,@linenum,
               convert(varchar(70),substring(@tempmessage,@start,@end)),
                @run_date,@run_time)
              else
                 insert into #spindtab values
                (@tempjobid2,@tempstep_id,@tempsql_message_id,@linenum,
               convert(varchar(100),substring(@tempmessage,@start,@end)),
                @run_date,@run_time)
              select @linenum    = @linenum + 1
              select @charlength = @charlength + @linelen
              select @start      = @end + 1
              select @end        = @end + @linelen
             end
             select @tempmessage = null
             select @tempjobid2  = null
            fetch temp_cur2 into @tempjobid2,@tempstep_id,
                  @tempsql_message_id,@tempmessage,@run_date,@run_time
            select @charlength      = 1
            select @totalcharlength = 2048
            select @start           = 1
            select @end             = @linelen
            select @linenum         = 1
          end
        close temp_cur2
        deallocate temp_cur2
  select job_id,step_id,sql_message_id,
         line_num,message,run_date,run_time from #spindtab
  drop table #spindtab
END
 
GO
