USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSREGISTRO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSREGISTRO]
AS
  SELECT CODCOLIGADA,
         CO_REGISTRO CODREG,
         NO_REGISTRO DESCRICAO,
         NULL        STATUS
  FROM   GCOLIGADA,
         SZSUSTUREGISTRO
GO
