USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[XVALORPARCELACOMPONENTEHST]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[XVALORPARCELACOMPONENTEHST](
  @CODCOLLAN SMALLINT,
  @IDLAN INT,
  @CODTIPOCOMPN INT,
  @ACAOCOMPN INT,
  @IDHISTORICO INT
)
RETURNS NUMERIC(15,4)
AS
BEGIN
  DECLARE @RETORNO NUMERIC(15,4)
  SET @RETORNO = CONVERT(NUMERIC(15,4), (SELECT ISNULL(SUM(XLANINTEGRACAOHST.VALOR), 0)
                                         FROM FLANHST (NOLOCK)
                                                JOIN XLANINTEGRACAOHST (NOLOCK)
                                                     JOIN FLANINTEGRACAODEF (NOLOCK)
                                                          JOIN XCOMPONENTEVRINTEGRACAO (NOLOCK)
                                                               JOIN XCOMPONENTE (NOLOCK)
                                                               ON XCOMPONENTE.COD_COMPN = XCOMPONENTEVRINTEGRACAO.CODCOMPN AND
                                                                  XCOMPONENTE.COD_TIPO_COMPN = @CODTIPOCOMPN AND
                                                                  XCOMPONENTE.TIPOENTREGACORRECAO = @ACAOCOMPN
                                                          ON XCOMPONENTEVRINTEGRACAO.CODCOLIGADA = FLANINTEGRACAODEF.CODCOLIGADA AND
                                                             XCOMPONENTEVRINTEGRACAO.IDCAMPO = FLANINTEGRACAODEF.IDCAMPO
                                                     ON FLANINTEGRACAODEF.CODCOLIGADA = XLANINTEGRACAOHST.CODCOLIGADA AND
                                                        FLANINTEGRACAODEF.IDCAMPO = XLANINTEGRACAOHST.IDCAMPO
                                                ON XLANINTEGRACAOHST.CODCOLIGADA = FLANHST.CODCOLIGADA AND
                                                   XLANINTEGRACAOHST.IDLAN = FLANHST.IDLAN AND
                                                   XLANINTEGRACAOHST.IDHISTORICO = FLANHST.IDHISTORICO
                                           WHERE FLANHST.CODCOLIGADA = @CODCOLLAN AND
                                                 FLANHST.IDLAN = @IDLAN AND
                                                 FLANHST.IDHISTORICO = @IDHISTORICO AND
                                                 FLANHST.CODAPLICACAO = 'X'))
  RETURN @RETORNO
END
GO
