USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_TABELAPARAMETROS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNC_TABELAPARAMETROS]
(
   @NOMEPARAM VARCHAR(MAX)
)
RETURNS @PARAMETROS TABLE (
   PARAMVALUE VARCHAR(MAX)
)
AS
BEGIN
   DECLARE @PARAM VARCHAR(MAX)
   DECLARE @SPLITON VARCHAR(1)
   DECLARE @CONT INT
   DECLARE @VALUE VARCHAR(MAX)
	SELECT @PARAM = VALORSTR
	  FROM HCPARAMETROS
	 WHERE NOMECOLUNA LIKE @NOMEPARAM
   SET @CONT = 1
   SET @SPLITON = ';'
   WHILE (CharIndex(@SPLITON, @PARAM) > 0)
   BEGIN
	  SELECT @VALUE = Ltrim(Rtrim(SubString(@PARAM, 1, CharIndex(@SPLITON, @PARAM) - 1)))
	  SET @PARAM = SubString(@PARAM, CharIndex(@SPLITON, @PARAM) + 1, Len(@PARAM))
	  SET @CONT = @CONT + 1
   END
   SET @VALUE = LTRIM(RTRIM(@PARAM))
   INSERT @PARAMETROS
   SELECT @VALUE
   RETURN
END
GO
