USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSFORMAORGPROC]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSFORMAORGPROC]
AS
  SELECT CODCOLIGADA,
         CO_FORMA_ORGANIZACAO CODFORMAORG,
         CO_GRUPO             CODGRUPOPROC,
         CO_SUB_GRUPO         CODSUBGRUPOPROC,
         NO_FORMA_ORGANIZACAO DESCRICAO
  FROM   GCOLIGADA,
         SZSUSTUFORMAORGANIZACAO
GO
