USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tsql_createcntr]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tsql_createcntr]()
  RETURNS @resi TABLE (
      counter_id    int            NOT NULL ,
      obj_name      nvarchar(128)  NOT NULL ,
      cntr_name     nvarchar(128)  NOT NULL ,
      required      varchar(32)    NOT NULL , -- classes for primary
                                              -- data selection
      visible       varchar(32)    NOT NULL , -- classes for data
                                              -- output
      accumulat     nvarchar(10)   NOT NULL )
AS
BEGIN
  INSERT INTO @resi VALUES (
     1001,
    'SQLServer:Buffer Manager',
    'Buffer cache hit ratio',
    'eEmM45O',
    'E',
    ' ' )
  INSERT INTO @resi VALUES (
     1002,
    'SQLServer:Buffer Manager',
    'Buffer cache hit ratio base',
    'eEmM45O',
    'E',
    ' ' )
  INSERT INTO @resi VALUES (
     1003,
    'SQLServer:Memory Manager',
    'Connection Memory (KB)',
    'eEM5',
    'eEM5',
    ' ' )
  INSERT INTO @resi VALUES (
     1004,
    'SQLServer:Memory Manager',
    'Granted Workspace Memory (KB)',
    'eEM',
    'eEM',
    ' ' )
  INSERT INTO @resi VALUES (
     1005,
    'SQLServer:Memory Manager',
    'Lock Memory (KB)',
    'eEmM45',
    'eEmM45',
    ' ' )
  INSERT INTO @resi VALUES (
     1006,
    'SQLServer:Memory Manager',
    'Maximum Workspace Memory (KB)',
    'eEM',
    'eEM',
    ' ' )
  INSERT INTO @resi VALUES (
     1007,
    'SQLServer:Memory Manager',
    'Optimizer Memory (KB)',
    'eEM5',
    'eEM5',
    ' ' )
  INSERT INTO @resi VALUES (
     1008,
    'SQLServer:Memory Manager',
    'SQL Cache Memory (KB)',
    'eEmM45',
    'eEmM45',
    ' ' )
  INSERT INTO @resi VALUES (
     1009,
    'SQLServer:Memory Manager',
    'Target Server Memory (KB)',
    'eEmM45',
    ' ',
    ' ' )
  INSERT INTO @resi VALUES (
     1010,
    'SQLServer:Memory Manager',
    'Total Server Memory (KB)',
    'eEmM45',
    'eEmM45',
    ' ' )
  INSERT INTO @resi VALUES (
     1011,
    'SQLServer:General Statistics',
    'User Connections',
    'eE4',
    'eE4',
    ' ' )
  INSERT INTO @resi VALUES (
     1013,
    'SQLServer:Buffer Manager',
    'Free pages',
    'eEmM45',
    'eEmM45',
    ' ' )
  INSERT INTO @resi VALUES (
     1014,
    'SQLServer:Buffer Manager',
    'Total pages',
    'eEM5',
    'eEM5',
    ' ' )
  INSERT INTO @resi VALUES (
     1015,
    'SQLServer:Buffer Manager',
    'Stolen pages',
    'eEM',
    'eEM',
    ' ' )
  INSERT INTO @resi VALUES (
     1016,
    'SQLServer:Buffer Manager',
    'Database pages',
    'eEmM45',
    'eEmM45',
    ' ' )
  INSERT INTO @resi VALUES (
     1017,
    'SQLServer:Buffer Manager',
    'Page lookups/sec',
    'eEmM45O',
    'EM5',
    'bigint' )
  INSERT INTO @resi VALUES (
     1018,
    'SQLServer:Buffer Manager',
    'Lazy writes/sec',
    'eEiI45',
    'eEiI45',
    'bigint' )
  INSERT INTO @resi VALUES (
     1019,
    'SQLServer:Buffer Manager',
    'Readahead pages/sec',
    'eEiI45',
    'eEiI45',
    'bigint' )
  INSERT INTO @resi VALUES (
     1020,
    'SQLServer:Buffer Manager',
    'Page reads/sec',
    'eEiImM45O',
    'eEiI5',
    'bigint' )
  INSERT INTO @resi VALUES (
     1021,
    'SQLServer:Buffer Manager',
    'Page writes/sec',
    'eEiI5',
    'eEiI5',
    'bigint' )
  INSERT INTO @resi VALUES (
     1022,
    'SQLServer:Latches',
    'Latch Waits/sec',
    'eElL5',
    'eElL5',
    'int' )
  INSERT INTO @resi VALUES (
     1023,
    'SQLServer:Latches',
    'Average Latch Wait Time (ms)',
    'eElL5',
    'E',
    'int' )
  INSERT INTO @resi VALUES (
     1024,
    'SQLServer:Latches',
    'Average Latch Wait Time Base',
    'eElL5',
    'E',
    'int' )
  INSERT INTO @resi VALUES (
     1025,
    'SQLServer:Access Methods',
    'Full Scans/sec',
    'eEiI45',
    'eEiI45',
    'int' )
  INSERT INTO @resi VALUES (
     1026,
    'SQLServer:Access Methods',
    'Range Scans/sec',
    'eEiI4',
    'eEiI4',
    'int' )
  INSERT INTO @resi VALUES (
     1027,
    'SQLServer:Access Methods',
    'Probe Scans/sec',
    'eEiI4',
    'eEiI4',
    'int' )
  INSERT INTO @resi VALUES (
     1028,
    'SQLServer:Access Methods',
    'Workfiles Created/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1029,
    'SQLServer:Access Methods',
    'Worktables Created/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1030,
    'SQLServer:Access Methods',
    'Index Searches/sec',
    'eEiI4',
    'eEiI4',
    'int' )
  INSERT INTO @resi VALUES (
     1031,
    'SQLServer:Access Methods',
    'Pages Allocated/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1032,
    'SQLServer:Access Methods',
    'Extents Allocated/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1033,
    'SQLServer:Access Methods',
    'Extent Deallocations/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1034,
    'SQLServer:Access Methods',
    'Page Deallocations/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1035,
    'SQLServer:Access Methods',
    'Page Splits/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1036,
    'SQLServer:SQL Statistics',
    'Batch Requests/sec',
    'eE4',
    'eE4',
    'int' )
  INSERT INTO @resi VALUES (
     1037,
    'SQLServer:SQL Statistics',
    'Auto-Param Attempts/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1038,
    'SQLServer:SQL Statistics',
    'SQL Compilations/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1039,
    'SQLServer:Buffer Manager',
    'AWE lookup maps/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1040,
    'SQLServer:Buffer Manager',
    'AWE stolen maps/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1041,
    'SQLServer:Buffer Manager',
    'AWE write maps/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1042,
    'SQLServer:Buffer Manager',
    'AWE unmap calls/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1043,
    'SQLServer:Buffer Manager',
    'AWE unmap pages/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1044,
    'SQLServer:Buffer Manager',
    'Checkpoint pages/sec',
    'eE5',
    'eE5',
    'int' )
  INSERT INTO @resi VALUES (
     1045,
    'SQLServer:Access Methods',
    'Worktables From Cache Ratio',
    'E',
    'E',
    'int' )
  INSERT INTO @resi VALUES (
     1046,
    'SQLServer:Access Methods',
    'Worktables From Cache Base',
    'E',
    'E',
    'int' )
  INSERT INTO @resi VALUES (
     1047,
    'SQLServer:Access Methods',
    'Table Lock Escalations/sec',
    'eElL45',
    'eElL45',
    'int' )
  INSERT INTO @resi VALUES (
     1048,
    'SQLServer:SQL Statistics',
    'SQL Re-Compilations/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1049,
    'SQLServer:Memory Manager',
    'Lock Blocks',
    'eE',
    'eE',
    ' ' )
  INSERT INTO @resi VALUES (
     1050,
    'SQLServer:Buffer Manager',
    'Page life expectancy',
    'OeEmM45',
    'OeEmM45',
    ' ' )
  INSERT INTO @resi VALUES (
     1101,
    'SQLServer:Plan Cache',
    'Cache Pages',
    'eEmM45',
    ' ',
    ' ' )
  INSERT INTO @resi VALUES (
     1102,
    'SQLServer:Plan Cache',
    'Cache Object Counts',
    'eEM5',
    ' ',
    ' ' )
  INSERT INTO @resi VALUES (
     1103,
    'SQLServer:Plan Cache',
    'Cache Objects in use',
    'eE',
    ' ',
    ' ' )
  INSERT INTO @resi VALUES (
     1104,
    'SQLServer:Plan Cache',
    'Cache Hit Ratio',
    'eEmM45O',
    ' ',
    ' ' )
  INSERT INTO @resi VALUES (
     1105,
    'SQLServer:Plan Cache',
    'Cache Hit Ratio Base',
    'eEmM45O',
    ' ',
    ' ' )
  INSERT INTO @resi VALUES (
     1201,
    'SQLServer:Locks',
    'Average Wait Time (ms)',
    'eElL5',
    'E',
    'int' )
  INSERT INTO @resi VALUES (
     1202,
    'SQLServer:Locks',
    'Average Wait Time Base',
    'eElL5',
    'E',
    'int' )
  INSERT INTO @resi VALUES (
     1203,
    'SQLServer:Locks',
    'Lock Requests/sec',
    'eElL5',
    'eElL5',
    'int' )
  INSERT INTO @resi VALUES (
     1204,
    'SQLServer:Locks',
    'Lock Timeouts/sec',
    'eEL',
    'eEL',
    'int' )
  INSERT INTO @resi VALUES (
     1205,
    'SQLServer:Locks',
    'Lock Wait Time (ms)',
    'eElL',
    'E',
    'int' )
  INSERT INTO @resi VALUES (
     1206,
    'SQLServer:Locks',
    'Lock Waits/sec',
    'eElL',
    'E',
    'int' )
  INSERT INTO @resi VALUES (
     1207,
    'SQLServer:Locks',
    'Number of Deadlocks/sec',
    'eElL45',
    'eElL45',
    'int' )
  INSERT INTO @resi VALUES (
     1301,
    'SQLServer:Databases',
    'Data File(s) Size (KB)',
    'eE',
    'eE',
    ' ' )
  INSERT INTO @resi VALUES (
     1302,
    'SQLServer:Databases',
    'Log File(s) Size (KB)',
    'eE',
    'eE',
    ' ' )
  INSERT INTO @resi VALUES (
     1303,
    'SQLServer:Databases',
    'Log File(s) Used Size (KB)',
    'eE',
    'eE',
    ' ' )
  INSERT INTO @resi VALUES (
     1304,
    'SQLServer:Databases',
    'Transactions/sec',
    'eE45',
    'eE45',
    'int' )
  INSERT INTO @resi VALUES (
     1305,
    'SQLServer:Databases',
    'Backup/Restore Throughput/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1306,
    'SQLServer:Databases',
    'Log Flushes/sec',
    'eEiI45',
    'eEiI45',
    'int' )
  INSERT INTO @resi VALUES (
     1307,
    'SQLServer:Databases',
    'Log Bytes Flushed/sec',
    'eEiI',
    'eEiI',
    'int' )
  INSERT INTO @resi VALUES (
     1308,
    'SQLServer:Databases',
    'Log Flush Waits/sec',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     1309,
    'SQLServer:Databases',
    'Log Flush Wait Time',
    'E5',
    'E5',
    ' ' )                            -- Permanent resets!
  INSERT INTO @resi VALUES (
     2001,
    '::fn_virtualfilestats',
    'NumberReads/sec',
    'eEF45OvV',
    'eEF',
    'bigint' )
  INSERT INTO @resi VALUES (
     2002,
    '::fn_virtualfilestats',
    'NumberWrites/sec',
    'eEF45OvV',
    'eEF',
    'bigint' )
  INSERT INTO @resi VALUES (
     2003,
    '::fn_virtualfilestats',
    'BytesRead/sec',
    'eEF45OvV',
    'eEF',
    'bigint' )
  INSERT INTO @resi VALUES (
     2004,
    '::fn_virtualfilestats',
    'BytesWritten/sec',
    'eEF45OvV',
    'eEF',
    'bigint' )
  INSERT INTO @resi VALUES (
     2005,
    '::fn_virtualfilestats',
    'IoStallMS',
    'eEF45OvV',
    'eE5',
    'bigint' )
  INSERT INTO @resi VALUES (
     2006,
    '::fn_virtualfilestats',
    'IoStallReadMS',
    'eEF45OvV',
    'eE5',
    'bigint' )
  INSERT INTO @resi VALUES (
     2007,
    '::fn_virtualfilestats',
    'IoStallWriteMS',
    'eEF45OvV',
    'eE5',
    'bigint' )
  INSERT INTO @resi VALUES (
     3001,
    'sp_monitor',
    '@@CPU_BUSY',
    'eE45',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     3002,
    'sp_monitor',
    '@@IO_BUSY',
    'eE45',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     3003,
    'sp_monitor',
    '@@IDLE',
    'eE45',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     3004,
    'sp_monitor',
    '@@PACK_RECEIVED',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     3005,
    'sp_monitor',
    '@@PACK_SENT',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     3006,
    'sp_monitor',
    '@@PACKET_ERRORS',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     3007,
    'sp_monitor',
    '@@TOTAL_READ',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     3008,
    'sp_monitor',
    '@@TOTAL_WRITE',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     3009,
    'sp_monitor',
    '@@TOTAL_ERRORS',
    'eE',
    'eE',
    'int' )
  INSERT INTO @resi VALUES (
     3010,
    'sp_monitor',
    '@@CONNECTIONS',
    'eE',
    'eE',
    'int' )
-- Wait stats counters; more to come in range 3601+
  INSERT INTO @resi VALUES (
     3101,
    'SQLPERF(WAITSTATS)',
    'Total', -- retired in 701
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3102,
    'SQLPERF(WAITSTATS)',
    'CXPACKET',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3103,
    'SQLPERF(WAITSTATS)',
    'EXCHANGE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3104,
    'SQLPERF(WAITSTATS)',
    'PAGEIOLATCH_EX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3105,
    'SQLPERF(WAITSTATS)',
    'PAGEIOLATCH_SH',
    'eEiI45O',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3106,
    'SQLPERF(WAITSTATS)',
    'WRITELOG',
    'eEiI45O',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3201,
    'Configuration',
    'sp_configure',
    'CeE',
    'CeE',
    ' ' )
  INSERT INTO @resi VALUES (
     3202,
    'Configuration',
    'SQL Release',
    'CeE',
    'CeE',
    ' ' )
  -- Perf counters for db options, counters 3203-3227
  -- DON'T Use sap_tf_dboptions to fill the values
  --INSERT INTO @resi
  --  SELECT opt_collcntr,'db_options',opt_name,
  --      'CeE',
  --      'CeE',
  --      ' ' from sap_tf_dboptions( N'master' )
  -- Instead generate them beforehand with this:
  -- SELECT 'INSERT INTO @resi VALUES(' +
  --   convert(varchar,opt_collcntr)+',''db_options'','''+opt_name+
  --          ''',''CeE'', ''CeE'','' '')'
  --          from sap_tf_dboptions( N'master' )
  -- This produces the INSERT statements below
  INSERT INTO @resi VALUES(3203,'db_options',
      'collation_name',
      'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3204,'db_options',
      'compatibility_level',
      'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3205,'db_options',
      'is_auto_close_on',
      'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3206,'db_options',
      'is_auto_create_stats_on',
      'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3207,'db_options',
      'is_auto_shrink_on',
      'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3208,'db_options',
      'is_auto_update_stats_on',
      'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3209,'db_options',
      'is_auto_update_stats_async_on',
      'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3210,'db_options',
     'is_cursor_close_on_commit_on',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3211,'db_options',
     'is_distributor',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3212,'db_options',
     'is_in_standby',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3213,'db_options',
     'is_local_cursor_default',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3214,'db_options',
     'is_master_key_encrypted_by_server',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3215,'db_options',
     'is_merge_published',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3216,'db_options',
     'is_numeric_roundabort_on',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3217,'db_options',
     'is_parameterization_forced',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3218,'db_options',
     'is_published',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3219,'db_options',
     'is_read_committed_snapshot_on',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3220,'db_options',
     'is_read_only',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3221,'db_options',
     'is_subscribed',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3222,'db_options',
     'is_supplemental_logging_enabled',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3223,'db_options',
     'is_ansi_nulls_on',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3224,'db_options',
     'recovery_model',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3225,'db_options',
     'snapshot_isolation_state',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3226,'db_options',
     'page_verify_option',
     'CeE', 'CeE',' ')
  INSERT INTO @resi VALUES(3227,'db_options',
     'mirrored',
     'CeE', 'CeE',' ')
  -- sap_tf_dboptions can't handle the dec compr check, so we do that
  -- separately
  INSERT INTO @resi VALUES (
     3240,
    'db_options',
    'decimal_compression_enabled',
    'CeE',
    'CeE',
    ' ' )
  INSERT INTO @resi VALUES (
     3301,
    'File statistics',
    'Size [MB]',
    'sSeE',
    'SeE',
    ' ' )
  INSERT INTO @resi VALUES (
     3302,
    'File statistics',
    'Used [MB]',
    'sSeE',
    'SeE',
    ' ' )
  INSERT INTO @resi VALUES (
     3303,
    'File statistics',
    'Max.size[MB]',
    'sSeE',
    'SeE',
    ' ' )
  INSERT INTO @resi VALUES (
     3304,
    'File statistics',
    'Device free[MB]',
    'sSeE',
    'SeE',
    ' ' )
  INSERT INTO @resi VALUES (
     3305,
    'File statistics',
    'Autogrowth[MB]',
    'sSeE',
    'SeE',
    ' ' )
  INSERT INTO @resi VALUES (
     3306,
    'File statistics',
    'Autogrowth[%]',
    'sSeE',
    'SeE',
    ' ' )
-- Dataabse size statistics
  INSERT INTO @resi VALUES (
     3401,
    'DB statistics',
    'Reserved[MB]',
    'seE',
    'seE',
    ' ' )
  INSERT INTO @resi VALUES (
     3402,
    'DB statistics',
    '# of tables',
    'seE',
    'seE',
    ' ' )
  INSERT INTO @resi VALUES (
     3403,
    'DB statistics',
    'Table data size[MB]',
    'seE',
    'seE',
    ' ' )
  INSERT INTO @resi VALUES (
     3404,
    'DB statistics',
    '# of indexes',
    'seE',
    'seE',
    ' ' )
  INSERT INTO @resi VALUES (
     3405,
    'DB statistics',
    'Index data size[MB]',
    'seE',
    'seE',
    ' ' )
  INSERT INTO @resi VALUES (  -- should we keep this > 700 ??
     3406,
    'DB statistics',
    '# of procedures',
    'seE',
    'seE',
    ' ' )
  INSERT INTO @resi VALUES (
     3407,
    'DB statistics',
    'Database size[MB]',
    'seE',
    'seE',
    ' ' )
  INSERT INTO @resi VALUES (
     3408,
    'DB statistics',
    'Log size[MB]',
    'seE',
    'seE',
    ' ' )
  INSERT INTO @resi VALUES (
     3409,
    'DB statistics',
    'Log allocated[MB]',
    'seE',
    'seE',
    ' ' )
-- Last refresh date YYYYMMDD for database size statistics
  INSERT INTO @resi VALUES (
     3431,
    'DB statistics',
    'Refresh timestamp',
    'seE',
    'E',
    ' ' )
-- Artificial time counters for Solution Manager Performance
-- Warehouse. Set and used only in sap_coll_DBHex
  INSERT INTO @resi VALUES (
     3501,
    '>Timestamp<',
    '>Delta [s]<',
    ' ',
    ' ',
    ' ' )
  INSERT INTO @resi VALUES (
     3502,
    '>Timestamp<',
    '>Duration [s]<',
    ' ',
    ' ',
    ' ' )
-- More wait stats
  INSERT INTO @resi VALUES (
     3601,
    'SQLPERF(WAITSTATS)',
    'MISCELLANEOUS',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3602,
    'SQLPERF(WAITSTATS)',
    'LCK_M_SCH_S',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3603,
    'SQLPERF(WAITSTATS)',
    'LCK_M_SCH_M',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3604,
    'SQLPERF(WAITSTATS)',
    'LCK_M_S',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3605,
    'SQLPERF(WAITSTATS)',
    'LCK_M_U',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3606,
    'SQLPERF(WAITSTATS)',
    'LCK_M_X',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3607,
    'SQLPERF(WAITSTATS)',
    'LCK_M_IS',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3608,
    'SQLPERF(WAITSTATS)',
    'LCK_M_IU',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3609,
    'SQLPERF(WAITSTATS)',
    'LCK_M_IX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3610,
    'SQLPERF(WAITSTATS)',
    'LCK_M_SIU',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3611,
    'SQLPERF(WAITSTATS)',
    'LCK_M_SIX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3612,
    'SQLPERF(WAITSTATS)',
    'LCK_M_UIX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3613,
    'SQLPERF(WAITSTATS)',
    'LCK_M_BU',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3614,
    'SQLPERF(WAITSTATS)',
    'LCK_M_RS_S',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3615,
    'SQLPERF(WAITSTATS)',
    'LCK_M_RS_U',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3616,
    'SQLPERF(WAITSTATS)',
    'LCK_M_RIn_NL',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3617,
    'SQLPERF(WAITSTATS)',
    'LCK_M_RIn_S',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3618,
    'SQLPERF(WAITSTATS)',
    'LCK_M_RIn_U',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3619,
    'SQLPERF(WAITSTATS)',
    'LCK_M_RIn_X',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3620,
    'SQLPERF(WAITSTATS)',
    'LCK_M_RX_S',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3621,
    'SQLPERF(WAITSTATS)',
    'LCK_M_RX_U',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3622,
    'SQLPERF(WAITSTATS)',
    'LCK_M_RX_X',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3623,
    'SQLPERF(WAITSTATS)',
    'LATCH_NL',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3624,
    'SQLPERF(WAITSTATS)',
    'LATCH_KP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3625,
    'SQLPERF(WAITSTATS)',
    'LATCH_SH',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3626,
    'SQLPERF(WAITSTATS)',
    'LATCH_UP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3627,
    'SQLPERF(WAITSTATS)',
    'LATCH_EX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3628,
    'SQLPERF(WAITSTATS)',
    'LATCH_DT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3629,
    'SQLPERF(WAITSTATS)',
    'PAGELATCH_NL',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3630,
    'SQLPERF(WAITSTATS)',
    'PAGELATCH_KP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3631,
    'SQLPERF(WAITSTATS)',
    'PAGELATCH_SH',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3632,
    'SQLPERF(WAITSTATS)',
    'PAGELATCH_UP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3633,
    'SQLPERF(WAITSTATS)',
    'PAGELATCH_EX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3634,
    'SQLPERF(WAITSTATS)',
    'PAGELATCH_DT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3635,
    'SQLPERF(WAITSTATS)',
    'PAGEIOLATCH_NL',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3636,
    'SQLPERF(WAITSTATS)',
    'PAGEIOLATCH_KP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3638,
    'SQLPERF(WAITSTATS)',
    'PAGEIOLATCH_UP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3640,
    'SQLPERF(WAITSTATS)',
    'PAGEIOLATCH_DT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3641,
    'SQLPERF(WAITSTATS)',
    'TRAN_MARKLATCH_NL',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3642,
    'SQLPERF(WAITSTATS)',
    'TRAN_MARKLATCH_KP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3643,
    'SQLPERF(WAITSTATS)',
    'TRAN_MARKLATCH_SH',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3644,
    'SQLPERF(WAITSTATS)',
    'TRAN_MARKLATCH_UP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3645,
    'SQLPERF(WAITSTATS)',
    'TRAN_MARKLATCH_EX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3646,
    'SQLPERF(WAITSTATS)',
    'TRAN_MARKLATCH_DT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3647,
    'SQLPERF(WAITSTATS)',
    'LAZYWRITER_SLEEP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3648,
    'SQLPERF(WAITSTATS)',
    'IO_COMPLETION',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3649,
    'SQLPERF(WAITSTATS)',
    'ASYNC_IO_COMPLETION',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3650,
    'SQLPERF(WAITSTATS)',
    'ASYNC_NETWORK_IO',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3651,
    'SQLPERF(WAITSTATS)',
    'SLEEP_BPOOL_FLUSH',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3652,
    'SQLPERF(WAITSTATS)',
    'CHKPT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3653,
    'SQLPERF(WAITSTATS)',
    'SLEEP_TASK',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3654,
    'SQLPERF(WAITSTATS)',
    'SLEEP_SYSTEMTASK',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3655,
    'SQLPERF(WAITSTATS)',
    'RESOURCE_SEMAPHORE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3656,
    'SQLPERF(WAITSTATS)',
    'DTC',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3657,
    'SQLPERF(WAITSTATS)',
    'OLEDB',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3658,
    'SQLPERF(WAITSTATS)',
    'FAILPOINT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3659,
    'SQLPERF(WAITSTATS)',
    'RESOURCE_QUEUE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3660,
    'SQLPERF(WAITSTATS)',
    'ASYNC_DISKPOOL_LOCK',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3661,
    'SQLPERF(WAITSTATS)',
    'THREADPOOL',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3662,
    'SQLPERF(WAITSTATS)',
    'DEBUG',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3663,
    'SQLPERF(WAITSTATS)',
    'REPLICA_WRITES',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3664,
    'SQLPERF(WAITSTATS)',
    'BROKER_RECEIVE_WAITFOR',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3665,
    'SQLPERF(WAITSTATS)',
    'DBMIRRORING_CMD',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3666,
    'SQLPERF(WAITSTATS)',
    'WAIT_FOR_RESULTS',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3667,
    'SQLPERF(WAITSTATS)',
    'SOS_SCHEDULER_YIELD',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3668,
    'SQLPERF(WAITSTATS)',
    'SOS_VIRTUALMEMORY_LOW',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3669,
    'SQLPERF(WAITSTATS)',
    'SOS_RESERVEDMEMBLOCKLIST',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3670,
    'SQLPERF(WAITSTATS)',
    'SOS_LOCALALLOCATORLIST',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3671,
    'SQLPERF(WAITSTATS)',
    'SOS_CALLBACK_REMOVAL',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3672,
    'SQLPERF(WAITSTATS)',
    'LOWFAIL_MEMMGR_QUEUE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3673,
    'SQLPERF(WAITSTATS)',
    'BACKUP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3674,
    'SQLPERF(WAITSTATS)',
    'BACKUPBUFFER',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3675,
    'SQLPERF(WAITSTATS)',
    'BACKUPIO',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3676,
    'SQLPERF(WAITSTATS)',
    'BACKUPTHREAD',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3677,
    'SQLPERF(WAITSTATS)',
    'DBMIRROR_DBM_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3678,
    'SQLPERF(WAITSTATS)',
    'DBMIRROR_DBM_EVENT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3679,
    'SQLPERF(WAITSTATS)',
    'DBMIRROR_SEND',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3680,
    'SQLPERF(WAITSTATS)',
    'CURSOR_ASYNC',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3681,
    'SQLPERF(WAITSTATS)',
    'HTTP_ENUMERATION',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3682,
    'SQLPERF(WAITSTATS)',
    'SOAP_READ',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3683,
    'SQLPERF(WAITSTATS)',
    'SOAP_WRITE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3684,
    'SQLPERF(WAITSTATS)',
    'DUMP_LOG_COORDINATOR',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3685,
    'SQLPERF(WAITSTATS)',
    'DISKIO_SUSPEND',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3686,
    'SQLPERF(WAITSTATS)',
    'IMPPROV_IOWAIT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3687,
    'SQLPERF(WAITSTATS)',
    'QNMANAGER_ACQUIRE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3688,
    'SQLPERF(WAITSTATS)',
    'DEADLOCK_TASK_SEARCH',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3689,
    'SQLPERF(WAITSTATS)',
    'REPL_SCHEMA_ACCESS',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3690,
    'SQLPERF(WAITSTATS)',
    'REPL_CACHE_ACCESS',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3691,
    'SQLPERF(WAITSTATS)',
    'SQLSORT_SORTMUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3692,
    'SQLPERF(WAITSTATS)',
    'SQLSORT_NORMMUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3693,
    'SQLPERF(WAITSTATS)',
    'SQLTRACE_WAIT_ENTRIES',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3694,
    'SQLPERF(WAITSTATS)',
    'SQLTRACE_LOCK',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3695,
    'SQLPERF(WAITSTATS)',
    'SQLTRACE_BUFFER_FLUSH',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3696,
    'SQLPERF(WAITSTATS)',
    'SQLTRACE_SHUTDOWN',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3697,
    'SQLPERF(WAITSTATS)',
    'MSQL_SYNC_PIPE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3698,
    'SQLPERF(WAITSTATS)',
    'QUERY_TRACEOUT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3699,
    'SQLPERF(WAITSTATS)',
    'DTC_STATE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3700,
    'SQLPERF(WAITSTATS)',
    'FCB_REPLICA_WRITE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3701,
    'SQLPERF(WAITSTATS)',
    'FCB_REPLICA_READ',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3703,
    'SQLPERF(WAITSTATS)',
    'HTTP_ENDPOINT_COLLCREATE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3705,
    'SQLPERF(WAITSTATS)',
    'DBTABLE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3706,
    'SQLPERF(WAITSTATS)',
    'EC',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3707,
    'SQLPERF(WAITSTATS)',
    'TEMPOBJ',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3708,
    'SQLPERF(WAITSTATS)',
    'XACTLOCKINFO',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3709,
    'SQLPERF(WAITSTATS)',
    'LOGMGR',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3710,
    'SQLPERF(WAITSTATS)',
    'CMEMTHREAD',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3712,
    'SQLPERF(WAITSTATS)',
    'WAITFOR',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3713,
    'SQLPERF(WAITSTATS)',
    'CURSOR',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3714,
    'SQLPERF(WAITSTATS)',
    'EXECSYNC',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3715,
    'SQLPERF(WAITSTATS)',
    'SOSHOST_INTERNAL',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3716,
    'SQLPERF(WAITSTATS)',
    'SOSHOST_SLEEP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3717,
    'SQLPERF(WAITSTATS)',
    'SOSHOST_WAITFORDONE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3718,
    'SQLPERF(WAITSTATS)',
    'SOSHOST_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3719,
    'SQLPERF(WAITSTATS)',
    'SOSHOST_EVENT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3720,
    'SQLPERF(WAITSTATS)',
    'SOSHOST_SEMAPHORE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3721,
    'SQLPERF(WAITSTATS)',
    'SOSHOST_RWLOCK',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3722,
    'SQLPERF(WAITSTATS)',
    'SOSHOST_TRACELOCK',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3723,
    'SQLPERF(WAITSTATS)',
    'MSQL_XP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3724,
    'SQLPERF(WAITSTATS)',
    'MSQL_DQ',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3725,
    'SQLPERF(WAITSTATS)',
    'LOGBUFFER',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3726,
    'SQLPERF(WAITSTATS)',
    'TRANSACTION_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3727,
    'SQLPERF(WAITSTATS)',
    'MSSEARCH',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3728,
    'SQLPERF(WAITSTATS)',
    'XACTWORKSPACE_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3729,
    'SQLPERF(WAITSTATS)',
    'CLR_JOIN',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3730,
    'SQLPERF(WAITSTATS)',
    'CLR_CRST',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3731,
    'SQLPERF(WAITSTATS)',
    'CLR_SEMAPHORE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3732,
    'SQLPERF(WAITSTATS)',
    'CLR_MANUAL_EVENT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3733,
    'SQLPERF(WAITSTATS)',
    'CLR_AUTO_EVENT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3734,
    'SQLPERF(WAITSTATS)',
    'CLR_MONITOR',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3735,
    'SQLPERF(WAITSTATS)',
    'CLR_RWLOCK_READER',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3736,
    'SQLPERF(WAITSTATS)',
    'CLR_RWLOCK_WRITER',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3737,
    'SQLPERF(WAITSTATS)',
    'SQLCLR_QUANTUM_PUNISHMENT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3738,
    'SQLPERF(WAITSTATS)',
    'SQLCLR_APPDOMAIN',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3739,
    'SQLPERF(WAITSTATS)',
    'SQLCLR_ASSEMBLY',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3740,
    'SQLPERF(WAITSTATS)',
    'KTM_ENLISTMENT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3741,
    'SQLPERF(WAITSTATS)',
    'KTM_RECOVERY_RESOLUTION',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3742,
    'SQLPERF(WAITSTATS)',
    'KTM_RECOVERY_MANAGER',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3743,
    'SQLPERF(WAITSTATS)',
    'SQLCLR_DEADLOCK_DETECTION',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3744,
    'SQLPERF(WAITSTATS)',
    'QPJOB_WAITFOR_ABORT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3745,
    'SQLPERF(WAITSTATS)',
    'QPJOB_KILL',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3746,
    'SQLPERF(WAITSTATS)',
    'BAD_PAGE_PROCESS',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3747,
    'SQLPERF(WAITSTATS)',
    'BACKUP_OPERATOR',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3748,
    'SQLPERF(WAITSTATS)',
    'PRINT_ROLLBACK_PROGRESS',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3749,
    'SQLPERF(WAITSTATS)',
    'ENABLE_VERSIONING',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3750,
    'SQLPERF(WAITSTATS)',
    'DISABLE_VERSIONING',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3751,
    'SQLPERF(WAITSTATS)',
    'REQUEST_DISPENSER_PAUSE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3752,
    'SQLPERF(WAITSTATS)',
    'DROPTEMP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3753,
    'SQLPERF(WAITSTATS)',
    'FT_RESTART_CRAWL',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3754,
    'SQLPERF(WAITSTATS)',
    'FT_RESUME_CRAWL',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3755,
    'SQLPERF(WAITSTATS)',
    'LOGMGR_RESERVE_APPEND',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3756,
    'SQLPERF(WAITSTATS)',
    'LOGMGR_FLUSH',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3757,
    'SQLPERF(WAITSTATS)',
    'XACT_OWN_TRANSACTION',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3758,
    'SQLPERF(WAITSTATS)',
    'XACT_RECLAIM_SESSION',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3759,
    'SQLPERF(WAITSTATS)',
    'DTC_WAITFOR_OUTCOME',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3760,
    'SQLPERF(WAITSTATS)',
    'DTC_RESOLVE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3761,
    'SQLPERF(WAITSTATS)',
    'SEC_DROP_TEMP_KEY',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3762,
    'SQLPERF(WAITSTATS)',
    'SRVPROC_SHUTDOWN',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3763,
    'SQLPERF(WAITSTATS)',
    'NET_WAITFOR_PACKET',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3764,
    'SQLPERF(WAITSTATS)',
    'DTC_ABORT_REQUEST',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3765,
    'SQLPERF(WAITSTATS)',
    'DTC_TMDOWN_REQUEST',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3766,
    'SQLPERF(WAITSTATS)',
    'RECOVER_CHANGEDB',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3767,
    'SQLPERF(WAITSTATS)',
    'WORKTBL_DROP',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3768,
    'SQLPERF(WAITSTATS)',
    'MIRROR_SEND_MESSAGE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3769,
    'SQLPERF(WAITSTATS)',
    'SNI_HTTP_ACCEPT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3770,
    'SQLPERF(WAITSTATS)',
    'SNI_HTTP_WAITFOR_0_DISCON',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3771,
    'SQLPERF(WAITSTATS)',
    'UTIL_PAGE_ALLOC',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3772,
    'SQLPERF(WAITSTATS)',
    'SERVER_IDLE_CHECK',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3773,
    'SQLPERF(WAITSTATS)',
    'BACKUP_CLIENTLOCK',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3774,
    'SQLPERF(WAITSTATS)',
    'DEADLOCK_ENUM_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3775,
    'SQLPERF(WAITSTATS)',
    'INDEX_USAGE_STATS_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3776,
    'SQLPERF(WAITSTATS)',
    'VIEW_DEFINITION_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3777,
    'SQLPERF(WAITSTATS)',
    'QUERY_NOTIFICATION_MGR_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3778,
    'SQLPERF(WAITSTATS)',
    'QUERY_NOTIFICATION_TABLE_MGR_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3779,
    'SQLPERF(WAITSTATS)',
    'QUERY_NOTIFICATION_SUBSCRIPTION_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3780,
    'SQLPERF(WAITSTATS)',
    'QUERY_NOTIFICATION_UNITTEST_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3781,
    'SQLPERF(WAITSTATS)',
    'IMP_IMPORT_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3782,
    'SQLPERF(WAITSTATS)',
    'RESOURCE_SEMAPHORE_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3783,
    'SQLPERF(WAITSTATS)',
    'IO_AUDIT_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3784,
    'SQLPERF(WAITSTATS)',
    'BUILTIN_HASHKEY_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3785,
    'SQLPERF(WAITSTATS)',
    'SOS_PROCESS_AFFINITY_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3786,
    'SQLPERF(WAITSTATS)',
    'MSQL_XACT_MGR_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3787,
    'SQLPERF(WAITSTATS)',
    'MSQL_XACT_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3788,
    'SQLPERF(WAITSTATS)',
    'QRY_MEM_GRANT_INFO_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3789,
    'SQLPERF(WAITSTATS)',
    'SOS_STACKSTORE_INIT_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3790,
    'SQLPERF(WAITSTATS)',
    'SOS_SYNC_TASK_ENQUEUE_EVENT',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3791,
    'SQLPERF(WAITSTATS)',
    'SOS_OBJECT_STORE_DESTROY_MUTEX',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3792,
    'SQLPERF(WAITSTATS)',
    'EE_PMOLOCK',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3793,
    'SQLPERF(WAITSTATS)',
    'RESOURCE_SEMAPHORE_QUERY_COMPILE',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3794,
    'SQLPERF(WAITSTATS)',
    'RESOURCE_SEMAPHORE_SMALL_QUERY',
    'E',
    'E',
    'bigint' )
  INSERT INTO @resi VALUES (
     3795,
    'SQLPERF(WAITSTATS)',
    'FULLTEXT GATHERER',
    'E',
    'E',
    'bigint' )
-- Leave 38** open for more wait stats
  INSERT INTO @resi VALUES (  -- replaces 3202
    3901,
   'SERVERPROPERTY',
   'ProductVersion',
   'CeE',
   'CeE',
   ' ' )
  INSERT INTO @resi VALUES (  -- uses text storage
    3902,
   'SERVERPROPERTY',
   'NetBiosHost',                    -- ComputerNamePhysicalNetBIOS
   'CeE',
   'CeE',
   ' ' )
  INSERT INTO @resi VALUES (  -- uses text storage
    3903,
   'SERVERPROPERTY',
   'ServerName',
   'CeE',
   'CeE',
   ' ' )
----------------------------------------------------------------------
-- Calculated values -------------------------------------------------
----------------------------------------------------------------------
-- ( 1 - 1020/1017 ) * 100
  INSERT INTO @resi VALUES (
     10001,
    'Memory',
    'Buffer cache hit ratio [%]',
    ' ',
    'eEmM45O',
    ' ' )
-- 1017 / 1036
  INSERT INTO @resi VALUES (
     10002,
    'Memory',
    'Page lookups / batch',
    ' ',
    'eEmM45',
    ' ' )
-- 1023 / 1024
  INSERT INTO @resi VALUES (
     10003,
    'Locks',
    'Average latch wait time [ms]',
    ' ',
    'eElL5',
    ' ' )
-- 1020 / 1019
  INSERT INTO @resi VALUES (
     10004,
    'Memory',
    'Page reads / Readahead pages',
    ' ',
    'eEmMiI45',
    ' ' )
-- 1020 / 1017
  INSERT INTO @resi VALUES (
     10005,
    'Memory',
    'Lookups / Page reads',
    ' ',
    'eEmMiI5',
    ' ' )
-- 1104 / 1105
  INSERT INTO @resi VALUES (
     10101,
    'Memory',
    'Cache hit ratio [%]',
    ' ',
    'eEmM45O',
    ' ' )
-- 1201 / 1202
  INSERT INTO @resi VALUES (
     10201,
    'Locks',
    'Average lock wait time [ms]',
    ' ',
    'eElL5',
    ' ' )
-- 1205 / 1206
  INSERT INTO @resi VALUES (
     10202,
    'Locks',
    'Overall lock wait time [ms]',
    ' ',
    'eElL',
    ' ' )
-- 2003 / kilo
  INSERT INTO @resi VALUES (
     10301,
    'Virtual Filestats (File)',
    'kB read / sec',
    ' ',
    'eEF5',
    ' ' )
-- 2004 / kilo
  INSERT INTO @resi VALUES (
     10302,
    'Virtual Filestats (File)',
    'kB written / sec',
    ' ',
    'eEF5',
    ' ' )
-- 2003 / 2001 in kilo
  INSERT INTO @resi VALUES (
     10303,
    'Virtual Filestats (File)',
    'kB read / request',
    ' ',
    'eEF5',
    ' ' )
-- 2004 / 2002 in kilo
  INSERT INTO @resi VALUES (
     10304,
    'Virtual Filestats (File)',
    'kB written / request',
    ' ',
    'eEF5',
    ' ' )
-- 2005 / ( 2001 + 2002 )
  INSERT INTO @resi VALUES (
     10305,
    'Virtual Filestats (File)',
    'IOStall [ms] / request',
    ' ',
    'eEF5',
    ' ' )
-- 2006 / 2001
  INSERT INTO @resi VALUES (
    10306,
    'Virtual Filestats (File)',
    'IOStallRead [ms] / read request',
    ' ',
    'eEF5',
    ' ' )
-- 2007 / 2002
  INSERT INTO @resi VALUES (
    10307,
    'Virtual Filestats (File)',
    'IOStallWrite [ms] / write request',
    ' ',
    'eEF5',
    ' ' )
-- 2001 per database
  INSERT INTO @resi VALUES (
     10401,
    'Virtual Filestats (Database)',
    'NumberReads/sec',
    ' ',
    'eEV5',
    ' ' )
-- 2002 per database
  INSERT INTO @resi VALUES (
     10402,
    'Virtual Filestats (Database)',
    'NumberWrites/sec',
    ' ',
    'eEV5',
    ' ' )
-- 2003 / kilo per database
  INSERT INTO @resi VALUES (
     10403,
    'Virtual Filestats (Database)',
    'kB read / sec',
    ' ',
    'eEV5',
    ' ' )
-- 2004 / kilo per database
  INSERT INTO @resi VALUES (
     10404,
    'Virtual Filestats (Database)',
    'kB written / sec',
    ' ',
    'eEV5',
    ' ' )
-- 2005 / ( 2001 + 2002 ) per database
  INSERT INTO @resi VALUES (
     10405,
    'Virtual Filestats (Database)',
    'IOStall [ms] / request',
    ' ',
    'eEV5',
    ' ' )
-- 2006 / 2001 per database
  INSERT INTO @resi VALUES (
    10406,
    'Virtual Filestats (Database)',
    'IOStallRead [ms] / read request',
    ' ',
    'eEV5',
    ' ' )
-- 2007 / 2002 per database
  INSERT INTO @resi VALUES (
    10407,
    'Virtual Filestats (Database)',
    'IOStallWrite [ms] / write request',
    ' ',
    'eEV5',
    ' ' )
-- 2001 per server
  INSERT INTO @resi VALUES (
     10501,
    'Virtual Filestats (Server)',
    'NumberReads/sec',
    ' ',
    'eEv45O',
    ' ' )
-- 2002 per server
  INSERT INTO @resi VALUES (
     10502,
    'Virtual Filestats (Server)',
    'NumberWrites/sec',
    ' ',
    'eEv45O',
    ' ' )
-- 2003 / kilo per server
  INSERT INTO @resi VALUES (
     10503,
    'Virtual Filestats (Server)',
    'kB read / sec',
    ' ',
    'eEv45O',
    ' ' )
-- 2004 / kilo per server
  INSERT INTO @resi VALUES (
     10504,
    'Virtual Filestats (Server)',
    'kB written / sec',
    ' ',
    'eEv45O',
    ' ' )
-- 2005 / ( 2001 + 2002 ) per server
  INSERT INTO @resi VALUES (
     10505,
    'Virtual Filestats (Server)',
    'IOStall [ms] / request',
    ' ',
    'eEv45O',
    ' ' )
-- 2006 / 2001 per server
  INSERT INTO @resi VALUES (
    10506,
    'Virtual Filestats (Server)',
    'IOStallRead [ms] / read request',
    ' ',
    'eEv45O',
    ' ' )
-- 2007 / 2001 per server
  INSERT INTO @resi VALUES (
    10507,
    'Virtual Filestats (Server)',
    'IOStallWrite [ms] / write request',
    ' ',
    'eEv45O',
    ' ' )
-- 3105 "Wait time" / "Requests"
  INSERT INTO @resi VALUES (
     10601,
    'I/O counters (Overview)',
    'PAGEIOLATCH_SH [ms] / request',
    ' ',
    'eEiI45O',
    ' ' )
-- 3106 "Wait time" / "Requests"
  INSERT INTO @resi VALUES (
     10602,
    'I/O counters (Overview)',
    'WRITELOG [ms] / request',
    ' ',
    'eEiI45O',
    ' ' )
-- 3001 * @@timeticks / 1.000.000
  INSERT INTO @resi VALUES (
     10701,
    'SQLSERVR.EXE',
    'CPU busy',
    ' ',
    'eE45',
    ' ' )
-- 3002 * @@timeticks / 1.000.000
  INSERT INTO @resi VALUES (
     10702,
    'SQLSERVR.EXE',
    'IO busy',
    ' ',
    'eE45',
    ' ' )
-- 3003 * @@timeticks / 1.000.000
  INSERT INTO @resi VALUES (
     10703,
    'SQLSERVR.EXE',
    'CPU idle <0..#CPUs>',
    ' ',
    'eE45',
    ' ' )
-- Renamed counters in SQL2005 : 1101-1105
  INSERT INTO @resi VALUES (
     10801,
    'SQLServer:Cache Manager',
    'Cache Pages',
    ' ',
    'eEM5',
    ' ' )
  INSERT INTO @resi VALUES (
     10802,
    'SQLServer:Cache Manager',
    'Cache Object Counts',
    ' ',
    'eEM5',
    ' ' )
  INSERT INTO @resi VALUES (
     10803,
    'SQLServer:Cache Manager',
    'Cache Objects in use',
    ' ',
    'eE',
    ' ' )
  INSERT INTO @resi VALUES (
     10804,
    'SQLServer:Cache Manager',
    'Cache Hit Ratio',
    ' ',
    'E',
    ' ' )
  INSERT INTO @resi VALUES (
     10805,
    'SQLServer:Cache Manager',
    'Cache Hit Ratio Base',
    ' ',
    'E',
    ' ' )
  INSERT INTO @resi VALUES (
     10811,  -- formerly 1012
    'SQLServer:Buffer Manager',
    'Procedure cache pages',
    ' ',
    'eEmM45',
    ' ' )
  INSERT INTO @resi VALUES (
     10821,  -- formerly 1009
    'SQLServer:Memory Manager',
    'Target Server Memory(KB)',
    ' ',
    'eEmM45',
    ' ' )
-- Database used size (sum of 3302)
  INSERT INTO @resi VALUES (
     10901,
    'DB statistics',
    'Used[MB]',
    'seE',
    'seE',
    ' ' )
-- Database unused size (3401 - (3403 + 3405))
  INSERT INTO @resi VALUES (
     10902,
    'DB statistics',
    'Unused[MB]',
    'seE',
    'seE',
    ' ' )
  RETURN
END
 
GO
