USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_all_objects]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_all_objects]
  @object_type char(2),
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(1024)
-- build the select statement
set @cmd = N'select o.name ' +
   N'from [' + @db_name + N'].sys.objects o ' +
   N'where o.type = @object_type ' +
   N'and o.schema_id = schema_id(@schema_name) ' +
   N'order by o.name'
-- get the objects
exec sp_executesql @cmd,
    N'@object_type char(2),@schema_name sysname',
    @object_type,@schema_name
END
 
GO
