USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_object_type]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_object_type]
  @object_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @object_type char(2) output
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @pstr nvarchar(256)
-- build the select statement
set @cmd =
  N'select @object_type = so.[type] from ' + @db_name + N'.sys.objects so, ' +
                                             @db_name + N'.sys.schemas sch ' +
  N'  where sch.schema_id = so.schema_id and ' +
  N'    sch.name = @schema_name and ' +
  N'    so.[name] = @object_name '
set @pstr = N'@object_type nvarchar(10) output,' +
            N'@schema_name sysname, ' +
            N'@object_name sysname'
-- get the type
exec sp_executesql @cmd, @pstr, @object_type output,@schema_name,@object_name
END
 
GO
