USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_uc_collation]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_check_uc_collation]
  @result varchar(64) output
as
BEGIN
  declare @coll sysname
  select @result = 'ok'
-- On SQL2005 and later ALL databases must run with bin2 collation
  select @coll = convert(nvarchar,databasepropertyex(db_name(), 'collation'))
  if @coll <> N'SQL_Latin1_General_CP850_BIN2'
  begin
     select @result =
     'Wrong Database collation. Perform SQL2005 after upgrade steps.'
  end
  select @coll = convert(nvarchar,serverproperty('collation'))
  if @coll <> N'SQL_Latin1_General_CP850_BIN2'
  begin
     select @result =
     'Wrong Server collation. Perform SQL2005 after upgrade steps.'
  end
END
 
GO
