USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_ddl_allowed]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_check_ddl_allowed]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @subrc int output
AS
BEGIN
set nocount on
-- declare local variable
declare @otype char(2)
declare @schema_id int
declare @cmd nvarchar(1024)
declare @pstr nvarchar(128)
-- check the existence and the type of @table_name
exec sap_get_object_type @table_name, @schema_name, @db_name,
                         @otype output
if @otype is null
  begin
    raiserror('Table not found.',16,1)
    RETURN
  end
if @otype <> 'U'
  begin
    raiserror('Invalid input.',16,1)
    RETURN
  end
-- get the id of the schema
exec sap_get_schema_id @db_name, @schema_name, @schema_id output
-- build the statement
set @subrc = 0
set @cmd = N'if exists ' +
             N'(select l.rsc_type ' +
                N'from ' + @db_name + N'.sys.objects o, ' +
                                N'master.dbo.syslockinfo l ' +
                  N'where o.name = @table_name ' +
                    N'and o.schema_id = @schema_id ' +
                    N'and l.rsc_objid = o.object_id ' +
                    N'and l.rsc_dbid = db_id(''' + @db_name + N''')) ' +
             N'set @subrc = 4'
set @pstr = N'@table_name sysname,@schema_id int,@subrc int output'
-- check whether the table is locked
exec sp_executesql @cmd, @pstr, @table_name, @schema_id, @subrc output
END
 
GO
