USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_fn_query_stats_summary]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[sap_fn_query_stats_summary] ()
returns @rslt table
  (
    calls bigint,
    physical_reads bigint,
    logical_writes bigint,
    logical_reads bigint,
    elapsed_time bigint,
    worker_time bigint,
    clr_time bigint,
    AVG_physical_reads decimal(16,4),
    AVG_logical_writes decimal(16,4),
    AVG_logical_reads decimal(16,4),
    AVG_elapsed_time decimal(16,4),
    AVG_worker_time decimal(16,4),
    AVG_clr_time decimal(16,4),
    oldest_compilation_date nvarchar(8),
    oldest_compilation_time nvarchar(8)
   )
as
begin
INSERT into @rslt SELECT  sum(execution_count) as calls
  , sum(total_physical_reads) as physical_reads
  , sum(total_logical_writes) as logical_writes
  , sum(total_logical_reads) as logical_reads
  , sum(total_elapsed_time) as elapsed_time
  , sum(total_worker_time) as  worker_time
  , sum(total_clr_time) as clr_time
  ,  cast(sum(total_physical_reads) as float(1))
     / sum(execution_count) as AVG_physical_reads
  ,  cast(sum(total_logical_writes) as float(1))
     / sum(execution_count) as AVG_logical_writes
  ,  cast(sum(total_logical_reads) as float(1))
     / sum(execution_count) as AVG_logical_reads
  ,  cast(sum(total_elapsed_time) as float(1))
     / sum(execution_count) as AVG_elapsed_time
  ,  cast(sum(total_worker_time) as float(1))
     / sum(execution_count) as AVG_worker_time
  ,  cast(sum(total_clr_time) as float(1))
     / sum(execution_count) as AVG_clr_time
  ,  convert(nchar(8),min(creation_time),112)
       as oldest_compilation_date
  ,  replace(convert(nvarchar(8),min(creation_time),8),N':',N'')
       as oldest_compilation_time
  FROM sys.dm_exec_query_stats
  return
end
 
GO
