USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sys_jobhistory]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_sys_jobhistory] as
begin
declare @command1  varchar(80)
declare @command2  varchar(80)
declare @command3  varchar(80)
declare @command4  varchar(80)
declare @command5  varchar(80)
declare @command6  varchar(80)
select @command1   =  'select instance_id, job_id, step_id,' +
                      ' step_name, sql_message_id,'
select @command2   =  'sql_severity, message = ' +
                      'SUBSTRING(message,1,520),'
select @command3   =  ' run_status, run_date, run_time,'
select @command4   =  'run_duration, operator_id_emailed, ' +
                      'operator_id_netsent,'
select @command5   =  'operator_id_paged, retries_attempted, '+
                      'server '
select @command6   =  ' from msdb..sysjobhistory'
exec(@command1+@command2+@command3+@command4+@command5+@command6)
end
 
GO
