USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW012]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SAVW012]
AS
SELECT A.CODPRESTADOR, A.CODESPECIALIDADE, A.CODGRUPOITENS, A.CODITEM,
A.DATAREALIZACAOSADT, A.VALORTOTALSADT, A.VALORTOTALSADTMFILME, C.ORDEMSERVICO,
C.CODMEDSOLICITANTE, D.CODPACIENTE, D.CODATENDIMENTO, D.TIPOPACIENTE,
D.CODESPECGRUPO, D.CODSETOR, E.CODGERAL, E.TIPOPGRUPOC, E.TIPOFATURAMENTO,C.CODSETOR SETORPEDIDO,A.CODCOLIGADA
FROM SZATENDSADT A, SZPEDEXAMEREFSADT B, SZPEDEXAME C, SZATENDIMENTO D, SZCADGERAL E
WHERE B.CODCOLIGADA = C.CODCOLIGADA
AND B.ORDEMSERVICO = C.ORDEMSERVICO
AND B.SEQDEBITOSADT = A.SEQDEBITOSADT
AND A.CODCOLIGADA = D.CODCOLIGADA
AND A.NUMEROCONTA = D.NUMEROCONTA
AND A.SEQUENCIALCONTA = D.SEQUENCIALCONTA
AND C.CODCOLIGADA = D.CODCOLIGADA
AND C.NUMEROCONTA = D.NUMEROCONTA
AND C.SEQUENCIALCONTA = D.SEQUENCIALCONTA
AND E.CODCOLIGADA = D.CODCOLIGADA
AND E.CODGERAL = D.CODCOMPRADOR
AND A.CODPROCVINC IS NULL AND A.ESTORNADO IS NULL AND (A.EXAMEFORA = 'F' OR A.EXAMEFORA IS NULL)
GO
