USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_sap_schemas]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_sap_schemas]
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(1024)
-- build the select statement
set @cmd =
N'select distinct schema_name = ss.name from ' +
    @db_name + N'.sys.objects so join ' +
    @db_name + N'.sys.schemas ss ' +
N'on so.schema_id = ss.schema_id ' +
N' where so.name = N''ATAB'' and so.type = ''U''' +
N'  order by ss.name'
-- get the schemas
exec sp_executesql @cmd
END
 
GO
