USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW014]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SAVW014]
AS
SELECT DISTINCT A.CODCOLIGADA, 'HM' TIPO, F.CODCONVENIO CODCOMPRADOR, F.CODPRESTADOR, A.NUMEROCONTA, A.SEQUENCIALCONTA,
A.SEQDEBITOHM SEQDEBITO, A.CODPRESTADOR CODPRESTPROC, F.STATUS STATUSCONTA, F.NUMEROREMESSA,
A.CODESPECIALIDADE + A.CODGRUPOITENS + A.CODITEM CODITEM, C.DATAENTRADA, D.NOMEPACIENTE, C.TIPOPACIENTE,
D.CODPACIENTE, C.CODATENDIMENTO, A.DISCRIMINACAOHM DESCITEM, A.DATAREALIZACAOHM DATAREALIZACAO,
A.QUANTIDADEHM QTDE , A.TOTALCH, A.VALORCHHM VALORCH, A.VALORTOTALHM VALORTOTAL, A.HONORARIOFORA,
A.FATDIRETOCONV, A.CODGRUPO, NROFATURAHM, D.PRONTUARIO, A.PERCENTUALFPROF, E.DESCFUNCAOMEDICO, A.CODGGASTO
FROM SZATENDHONORARIO A, SZATENDIMENTO C, SZPACIENTE D, SZFUNCPRESTADOR E, SZPARCIALATEND F
WHERE F.NUMEROCONTA = C.NUMEROCONTA AND
F.SEQUENCIALCONTA = C.SEQUENCIALCONTA AND
F.CODCOLIGADA = C.CODCOLIGADA AND
C.CODPACIENTE = D.CODPACIENTE AND
C.CODCOLIGADA = D.CODCOLIGADA AND
A.ESTORNADO IS NULL
AND A.CODFUNCAOMEDICO = E.CODFUNCAOMEDICO
AND E.CODPADRAO = 1
AND A.CODCOLIGADA = F.CODCOLIGADA
AND A.NUMEROCONTA = F.NUMEROCONTA
AND A.SEQUENCIALCONTA = F.SEQUENCIALCONTA
AND A.SEQPARCIAL = F.SEQPARCIAL
UNION
SELECT DISTINCT A.CODCOLIGADA, 'EX' TIPO, F.CODCONVENIO CODCOMPRADOR, F.CODPRESTADOR, A.NUMEROCONTA, A.SEQUENCIALCONTA,
A.SEQDEBITOSADT SEQDEBITO , A.CODPRESTADOR CODPRESTPROC, F.STATUS STATUSCONTA, F.NUMEROREMESSA,
A.CODESPECIALIDADE + A.CODGRUPOITENS + A.CODITEM CODITEM, C.DATAENTRADA, D.NOMEPACIENTE, C.TIPOPACIENTE,
D.CODPACIENTE, C.CODATENDIMENTO, A.DISCRIMINACAOSADT DESCITEM, A.DATAREALIZACAOSADT DATAREALIZACAO,
A.QUANTIDADESADT QTDE , A.TOTALCH, A.VALORCHSADT VALORCH, A.VALORTOTALSADT VALORTOTAL, A.EXAMEFORA, A.FATDIRETOCONV, NULL CODGRUPO, NROFATURAHM,
D.PRONTUARIO, NULL PERCENTUALFPROF, NULL DESCFUNCAOMEDICO, A.CODGGASTO
FROM SZATENDSADT A, SZATENDIMENTO C, SZPACIENTE D, SZPARCIALATEND F
WHERE F.NUMEROCONTA = C.NUMEROCONTA
AND F.SEQUENCIALCONTA = C.SEQUENCIALCONTA
AND F.CODCOLIGADA = C.CODCOLIGADA
AND C.CODPACIENTE = D.CODPACIENTE
AND C.CODCOLIGADA = D.CODCOLIGADA
AND A.ESTORNADO IS NULL
AND A.CODCOLIGADA = F.CODCOLIGADA
AND A.NUMEROCONTA = F.NUMEROCONTA
AND A.SEQUENCIALCONTA = F.SEQUENCIALCONTA
AND A.SEQPARCIAL = F.SEQPARCIAL
GO
