USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_verify_backups]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_verify_backups]
  @nativeBkup     nchar(1)        = N'N',
  @bkupSim        nchar(1)        = N'N',
  @bDev           nvarchar(2000)  = N'R3DUMP0',
  @bkupChecksum   nchar(1)        = N'N',
  @exeDate        nvarchar(14)    = N'',
  @format_init    int             = 0,
  @unload         int             = 1,
  @dbCnt          int             = 1,
  @exeStmt        nvarchar(2000) OUTPUT
AS
BEGIN
/*********************************************************************/
/** Object:Stored Procedure sap_verify_backups Date: 05/25/06   ******/
/*                                                                   */
/*                                                                   */
/* 05/22/2007                                                        */
/* Set the @backupsetposition2 = 'X' for already finished jobs and   */
/* if format or init is not the selected options                     */
/* 06/21/2007 Added the condition if @exedate = 0 to convert jobs    */
/*            created in old support packages (<=BSP 12)             */
/* 01/10/2008 Added the field bk_compressed to the temp table        */
/*            #spindtab for SQL 2008 changes. Also removed #sqlstmts */
/*            in the catch function                                  */
/* 04/08/2010 Changed to execute the restore labelonly for  actual   */
/*            execution. Also set file = X for file location if the  */
/*            execution is in simulate mode                          */
/*********************************************************************/
declare @deviceCommand nvarchar(2000),/* complete device option in the
                                  BACKUP command                     */
  @backupDesc    nvarchar(255), /* Description option in the backup
                                  command                            */
  @devices       nvarchar(2000),/* List of devices                   */
  @cmd1          nvarchar(1000),/* RESTORE command                   */
  @cmd2          nvarchar(500), /* RESTORE command                   */
  @backupsetposition int,      /* backup set position in tape        */
  @backupsetposition2 nvarchar(10), /* backupset position in tape    */
  @verifyCmd     nvarchar(2500),
  @med_family_id uniqueidentifier,
  @jobexeDt      datetime,
  @jobexeDtC     nvarchar(17),
  @rmsg          nvarchar(500),
  @retcode       int
set nocount on
select @retcode = 0
If @nativeBkup = N'N'
 Begin
   if exists ( select * from msdb..sysobjects
                       where name = N'sap_backup_user_exit'
                         and type = N'P')
     begin
      print 'Backup Executed by stored procedure sap_backup_user_exit'
      if @bkupSim = 'N'
       exec msdb..sap_user_verify_backups
                @bDev,
                @bkupChecksum,
                @exeDate,
                @format_init,
                @unload,
                @dbCnt
      else
        select @exeStmt = 'Third party backup(verify) procedure will be used'
      return
     end
 END
  /* temp tables */
   create table #t_medfamid(pos int)
   create table #spindtab (bk_medianame  nvarchar(128),
                         bk_mediasetid   uniqueidentifier,
                         bk_famCnt       int,
                         bk_famseqnum    int,
                         bk_mediafamid   uniqueidentifier,
                         bk_medseqnum    int,
                         bk_medlabpres   tinyint,
                         bk_meddes       nvarchar(255),
                         bk_softname     nvarchar(128),
                         bk_softvenid    int,
                         bk_mediadate    datetime,
                         bk_mirrorcnt    int,
                         bk_compressed   tinyint)
   /*initilization */
   if user_name() = N'dbo'
     dbcc traceon( 3605)
   if @exeDate <> N'0'
    begin
     /* convert to the input time format from SAP format */
     select @jobexeDtC = SUBSTRING(@exeDate,1,8) + ' '
                      +SUBSTRING(@exeDate,9,2) + ':'
                      +SUBSTRING(@exeDate,11,2)+ ':'
                      +SUBSTRING(@exeDate,13,2)
     /* Change the character date string to date time */
     select @jobexeDt = convert(datetime,@jobexeDtC,112)
    end
    /***********************************************************/
    /*SQL Server RESTORE HEADERONLY cmd is very slow for high  */
    /*capacity tape drives. So used RESTOE LABELONLY cmd to get*/
    /*media_faimly_id & then this family_id is used to get the */
    /*position from backup tables. Customer can also use tapes */
    /*with media header written by devices attached to diff.   */
    /*systems to append backup sets.In these cases,it is better*/
    /*to execute 'RESTORE LABELONLY' command, after a BACKUP   */
    /*command. This is a restriction but this is the only way  */
    /*to get this position quickly                             */
    /***********************************************************/
     if @format_init = 0 and @bkupSim = N'N'
       begin
         select @cmd1 = N'RESTORE LABELONLY FROM '+@bDev
                        +N' WITH NOUNLOAD'
         begin try
           insert into #spindtab
           exec (@cmd1)
         end try
         begin catch
            select @retcode = ERROR_NUMBER()
            select @rmsg = ERROR_MESSAGE()
         end catch
         If @retcode = 0
          begin
            /* get device family id           */
            select @med_family_id = bk_mediafamid from #spindtab
            select @cmd2 =N'select   top 1 position from '     +
                 N'msdb..backupmediaset h, msdb..backupset j, '+
                 N'msdb..backupmediafamily k  where '          +
                 N' h.media_set_id = j.media_set_id '          +
                 N'and h.media_set_id = k.media_set_id '       +
                 N'and k.media_family_id ='''                  +
                 convert(nvarchar(36),@med_family_id) + N'''' +
                 N'order by j.backup_finish_date desc'
            insert into #t_medfamid
            exec (@cmd2)
            select @backupsetposition = pos from #t_medfamid
            /**************Position of backup file ************/
            /* In the case of actual execution of verify cmd, */
            /* verify the database file which was already     */
            /* completed and 'Pos'will be the last one and    */
            /* will be different after each database backup   */
            /* For simulation of the cmd, for jobs which are  */
            /* not yet completed, the 'POS' will be last one  */
            /* plus the position(@dbcnt) of the selected      */
            /* databases in the @dblist                       */
            /**************************************************/
            select @backupsetposition = @backupsetposition
          end /* if @return code */
       end  /*if @format_init = 0 */
      else
        select @backupsetposition = @dbCnt
      /*drop temp tables */
      drop table #spindtab
      drop table #t_medfamid
    if @retcode = 0
     begin
       /*************** verify the backups  ********************/
       /* If the option is INIT or FORMAT, then the position   */
       /* of the files in the backup device always start with 1*/
       /* else set it to the postion of the backup set.        */
       /* If in simulation mode, set it to 'X'.                */
       /********************************************************/
        /*  If simulation, then always set to X  */
        if @bkupSim = N'Y'
           select  @backupsetposition2 = 'X'
        else
           select @backupsetposition2 = @backupsetposition
       if @bkupChecksum = N'Y'
         begin
          if @unload = 1
            SELECT @verifyCmd = N'RESTORE VERIFYONLY FROM ' +
                   @bDev + N' WITH CHECKSUM,FILE = ' +
                   @backupsetposition2 + N' ,UNLOAD'
          else
             SELECT @verifyCmd = N'RESTORE VERIFYONLY FROM ' +
                    @bDev + N' WITH CHECKSUM,FILE = ' +
                    @backupsetposition2 + N' ,NOUNLOAD'
         end
       else
         begin
          if @unload = 1
            SELECT @verifyCmd = N'RESTORE VERIFYONLY FROM ' +
                   @bDev + N' WITH FILE = ' +
                   @backupsetposition2 + N' ,UNLOAD'
          else
             SELECT @verifyCmd = N'RESTORE VERIFYONLY FROM ' +
                 @bDev + N' WITH FILE = ' +
                 @backupsetposition2 + N' ,NOUNLOAD'
         end
        if @bkupSim = N'N'
           EXECUTE( @verifyCmd )
        else
           select @exeStmt = @verifyCmd
     end
END
 
GO
