USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_insert_locks]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_insert_locks]
as begin
  set nocount on
  declare @blockedspid  smallint
  declare @blockingspid smallint
  declare @open_tran int
  declare @procstat  nchar(30)
  declare @username  sysname
  declare @hostproc  int
  declare @hostname  sysname
  declare @command   nvarchar(16)
  declare @inputbuff nvarchar(40)
  declare @progname  sysname
  declare @waittime  int
  declare @waitrsc   nchar(40)
  declare @lastwtype nchar(32)
  declare @dbname    sysname
  declare @objid     int
  declare @objname   sysname
  declare @indexname sysname
  declare @lockrsc   nvarchar(32)
  declare @locktype  nvarchar(10)
  declare @lockmode  nvarchar(35)
  declare @lockstat  nvarchar(15)
  declare @refcnt    int
  declare @reqown    nvarchar(12)
  declare @timestamp   datetime
  declare @numblockedprocs int
  declare @numblocklocks   int
  declare @update          int
/*temp table to pass to stored procs
*/
create table #rawlockdata
   (spid      smallint null,
    holdspid  smallint null,
    pid       int null,
    open_tran int null,
    status    nchar(30)  null,
    username  sysname  null,
    hostname  sysname null,
    progname  sysname null,
    command   nvarchar(16)  null,
    inputbuff nvarchar(40)  null,
    waittime  int null,
    waitrsc   nchar(40) null,
    lastwtype nchar(32) null,
    dbname    sysname null,
    objid     int,
    objname   sysname null,
    indexname sysname null,
    lockrsc   nvarchar(32) null,
    locktype  nvarchar(10) null,
    lockmode  nvarchar(35) null,
    lockstat  nvarchar(15) null,
    refcnt    int null,
    reqown    nvarchar(12)  null,
    sqlhandle varbinary(64) null,
    start_os  int,
    end_os    int,
    planhandle varbinary(64)
)
  declare c_rawlockdata cursor for
   select spid,holdspid,pid,open_tran,status,username,hostname,
          progname,command,inputbuff,waittime,waitrsc,lastwtype,dbname,
          objid,objname,indexname,lockrsc,locktype,lockmode,
          lockstat,refcnt,reqown
     from #rawlockdata
/* get all processes waiting for resources */
  exec sap_blocked_processes @standalone = 'Y'
  select @numblockedprocs = count(*) from #rawlockdata
/* get all processes blocking the resources */
  exec sap_blocking_locks @standalone = 'Y'
  select @numblocklocks = count(*) from #rawlockdata
-- must get a blocked process and the blocker
  if ( @numblockedprocs > 0 and ( @numblocklocks - @numblockedprocs) > 0 )
  begin -- found blocking locks
    select @timestamp = getdate()
    select @update = 0
    open c_rawlockdata
    fetch next from c_rawlockdata into
      @blockedspid,@blockingspid,@hostproc,@open_tran,@procstat,
      @username,@hostname,@progname,@command,@inputbuff,
      @waittime,@waitrsc,@lastwtype,@dbname,@objid,@objname,
      @indexname,@lockrsc,@locktype,@lockmode,@lockstat,
      @refcnt,@reqown
    while (@@fetch_status <> -1)
    begin
 -- update existing lock
      update sap_dblocks set actflag = 2, waittime = @waittime where
          reqspid  = @blockedspid and
          holdspid = @blockingspid and
          reqpid   = @hostproc and
          hostname = @hostname and
          progname = @progname and
          waitrsc  = @waitrsc and
          actflag >= 1
--  if no update, insert lock
      if  @@rowcount = 0
      begin
        begin try
        insert sap_dblocks( actflag,date,
               reqspid,holdspid,reqpid,open_tran,procstat,
               username,hostname,progname,command,inputbuff,waittime,
               waitrsc,lastwtype,dbname,objname,indexname,lockrsc,
               locktype,lockname,lockstat,req_refcnt,req_ownertype)
        select 2,@timestamp,
               @blockedspid,@blockingspid,@hostproc,@open_tran,@procstat,
               @username,@hostname,@progname,@command,@inputbuff,@waittime,
               @waitrsc,@lastwtype,@dbname,@objname,@indexname,@lockrsc,
               @locktype,@lockmode,@lockstat,@refcnt,@reqown
        end try
        begin catch
        end catch
      end
      else
        select @update = 1
      fetch next from c_rawlockdata into
      @blockedspid,@blockingspid,@hostproc,@open_tran,@procstat,
      @username,@hostname,@progname,@command,@inputbuff,
      @waittime,@waitrsc,@lastwtype,@dbname,@objid,@objname,
      @indexname,@lockrsc,@locktype,@lockmode,@lockstat,
      @refcnt,@reqown
  end
  close  c_rawlockdata
  deallocate  c_rawlockdata
  drop table #rawlockdata
end -- no locks
if @update = 1
  -- set inserted lock to 1
  update sap_dblocks set actflag = 1 where actflag = 2
else
  -- no update so deactivate all locks which are active
  update sap_dblocks set actflag = actflag -1 where actflag > 0
--
-- Cleanup once per week
--
  declare @now datetime
  select @now = getdate()
  if datepart(weekday,@now) = 1 and -- sundays only
     datepart(hour,@now) = 0        -- during the first hour after midnight
  begin
    declare @secs_after_midnight int
    declare @job_interval_seconds int
    select @secs_after_midnight = datepart(minute,@now) * 60 + datepart(ss,@now)
    select @job_interval_seconds = isnull(cast([value] as int),60)
      from sap_get_para ('LOCKSTATS','frequency')
    if @job_interval_seconds is null
      set @job_interval_seconds = 60
    -- Execute if this is the first execution on sunday,
    -- i.e. if current time is less than 90 seconds after midnight.
    -- otherwise do not execute.
    if @secs_after_midnight < (@job_interval_seconds * 1.5)
    begin
      declare @cutdate   datetime,
              @keepdays  int,
              @cmdstr    varchar(250)
      /* all blockstats information older than 7 days will be deleted */
      select @keepdays = 7
      select @cutdate = dateadd(day,-@keepdays,getdate())
      set @cmdstr = 'delete from sap_dblocks' +
        ' where date < '+ 'cast('''+ convert( char, @cutdate)+'''as datetime)'
      exec ( @cmdstr )
    end
  end
-- Cleanup done
end
 
GO
