USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_list_backup_done]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************/
/*09/01/2006  DB13 Jobs are split into multiple job steps         */
/*            Backupset-description contains job name column      */
/*            This column is checked with sysjobs name to get     */
/*            the jobid column                                    */
/*            Removed the  where condition  a.job_id = c.job_id   */
/*                   and c.last_run_date >= @tempdate3            */
/*                                                                */
/******************************************************************/
create procedure [dbo].[sap_list_backup_done] @ndays int = 30
AS
BEGIN
      set nocount on
      declare @tempjobid1            uniqueidentifier,
              @media_set_id          VARCHAR(20) ,
              @backup_set_id         varchar(20) ,
              @name1                 varchar(255),
              @name2                 varchar(255),
              @description1          varchar(255),
              @description2          varchar(255),
              @software_name         varchar(255),
              @first_family_number   VARCHAR(20) ,
              @position              VARCHAR(20) ,
              @expiration_date       datetime,
              @backup_start_date     datetime,
              @backup_finish_date    datetime,
              @tempdate              datetime,
              @tempyear              int,
              @tempmonth             int,
              @tempday               int,
              @tempdate2             varchar(10),
              @tempdate3             int,
              @backuptype            VARCHAR(100),
              @type                  varchar(2)  ,
              @database_name         varchar(255),
              @server_name           varchar(255),
              @machine_name          varchar(255),
              @cmd1                  varchar(1000)
   create table #spindtab
   (media_set_id              varchar(20)   null,
    backup_set_id             varchar(20)   null,
    name1                     varchar(255)  null,
    name2                     varchar(255)  null,
    description1              varchar(255)  null,
    description2              varchar(255)  null,
    software_name             varchar(255)  null,
    first_family_number       varchar(20)   null,
    position                  varchar(20)   null,
    expiration_date           varchar(20)   null,
    backup_start_date         varchar(20)   null,
    backup_finish_date        varchar(20)   null,
    type                      varchar(2)    null,
    database_name             varchar(255)  null,
    server_name               varchar(255)  null,
    machine_name              varchar(255)  null,
    job_id                    varbinary(16) null,
    backuptype                varchar(100)  null
    )
        select @tempdate        = getdate() - @ndays
        select @tempyear        = YEAR(@tempdate)
        select @tempmonth       = MONTH(@tempdate)
        select @tempday         = DAY(@tempdate)
  if @tempday < 10
      begin
        if @tempmonth < 10
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                  CAST(@tempmonth AS char(1)) + '0' +
                                  CAST(@tempday   AS char(1))
         else
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                  CAST(@tempmonth AS varchar(2)) + '0' +
                                  CAST(@tempday   AS char(1))
       end
     else
       begin
        if @tempmonth < 10
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                  CAST(@tempmonth AS char(1)) +
                                  CAST(@tempday   AS varchar(2))
        else
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                  CAST(@tempmonth AS varchar(2)) +
                                  CAST(@tempday   AS varchar(2))
       end
        select @tempdate3       = @tempdate2
select @tempjobid1 = null
declare temp_cur1 cursor for select a.media_set_id,b.backup_set_id,
        a.name,b.name,a.description,b.description,
        a.software_name,b.first_family_number,b.position,
        b.expiration_date, b.backup_start_date,
        b.backup_finish_date,b.type,b.database_name,
        b.server_name,b.machine_name
        from msdb..backupmediaset a, msdb..backupset b
        where a.media_set_id = b.media_set_id
          and backup_start_date >= @tempdate
        order by backup_start_date desc,b.database_name asc
 open temp_cur1
 fetch temp_cur1 into @media_set_id,@backup_set_id,
  @name1,@name2,@description1,@description2,@software_name,
  @first_family_number,@position,@expiration_date,@backup_start_date,
  @backup_finish_date,@type,@database_name,@server_name,@machine_name
while @@fetch_status >= 0
begin
 IF      @type = 'D' BEGIN SELECT @backuptype = 'Database' END
 ELSE IF @type = 'I' BEGIN SELECT @backuptype = 'Database Differential'
                     END
 ELSE IF @type = 'L' BEGIN SELECT @backuptype = 'Log' END
 ELSE IF @type = 'F' BEGIN SELECT @backuptype = 'File or Filegroup' END
 ELSE BEGIN SELECT @backuptype = NULL END
 select @tempjobid1 = null
 select @tempjobid1 =  convert(varbinary,a.job_id)
    from msdb..sysjobs a
   where SUBSTRING(a.name,1,len(a.name)) =
         SUBSTRING(@description2,1,len(@description2))
  insert into #spindtab values
    (@media_set_id,@backup_set_id,@name1,@name2,
     @description1,@description2,@software_name,
     @first_family_number,@position,
     CONVERT(char(20), @expiration_date, 120),
     CONVERT(char(20), @backup_start_date, 120),
     CONVERT(char(20), @backup_finish_date, 120),
     @type,@database_name,@server_name,@machine_name,
     @tempjobid1,@backuptype )
  fetch temp_cur1 into @media_set_id,@backup_set_id,
           @name1,@name2,@description1,@description2,
           @software_name,@first_family_number,@position,
           @expiration_date,@backup_start_date,
           @backup_finish_date,@type,@database_name,
           @server_name,@machine_name
 end
 select media_set_id,backup_set_id,name1,name2,description1,
       description2,software_name,first_family_number,
       position,expiration_date,backup_start_date,
       backup_finish_date,type,database_name,
       server_name,machine_name,job_id,backuptype
 from #spindtab
 close temp_cur1
 deallocate temp_cur1
 drop table #spindtab
END
 
GO
