USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SPC_GETNEWID]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  RM Sistemas
  RM Saldus
  Tradução do procedimento "GetNewID"
  da SDFuncComp.pas para Stored Procedure MSSQL
*/
CREATE PROCEDURE [dbo].[SPC_GETNEWID]
@COLIGADA INT,
@KEYID INT,
@ID INT OUTPUT
AS
BEGIN
  SELECT @ID = ID + 1
  FROM CGENID
  WHERE CODCOLIGADA = @COLIGADA AND
        KEYID = @KEYID
  IF @@ROWCOUNT > 0
  BEGIN
    UPDATE CGENID SET ID = @ID
    WHERE CODCOLIGADA = @COLIGADA AND
          KEYID = @KEYID
  END
  ELSE
  BEGIN
    SET @ID = 1
    /* A tabela CGENID ainda não foi inicializada com este KEYID*/
    INSERT INTO CGENID (KEYID , ID , CODCOLIGADA)
    VALUES (@KEYID,@ID,@COLIGADA)
  END
END
GO
