USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[InsertColaboratorTRP]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[InsertColaboratorTRP]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	SET NOCOUNT ON  

	IF Object_Id('TempDB..#TempColaboradorTRP') IS NOT NULL              
	BEGIN    
		DROP TABLE #TempColaboradorTRP       
	END 

	CREATE TABLE #TempColaboradorTRP(
	[cNome]           [varchar](200)  NULL,
	[cCPF]            [varchar](11)   NULL,
	[cSituacao]       [varchar](1)    NULL,
	[dAdmissao]       [datetime]      NULL,
	[cChapa]          [varchar](16)   NULL,
	[cCodSindicato]   [varchar](10)   NULL, 
	[cCodFuncao]      [varchar](60)   NULL,
	[cNmFuncao]       [varchar](100)  NULL,
	[cCNPJEmpresa]    [varchar](200)  NULL,
	[cCartIdentidade] [varchar](15)   NULL,
	[cCartMotorista]  [varchar](15)   NULL,
	[dDtVencHabilit]  [datetime]      NULL,
	[cTipoCartHabilit][varchar](5)    NULL,
	[dNascimento]     [datetime]      NULL,
	[cCODSECAO]       [varchar](50)   NULL,
	[cSECAO]          [varchar](300)  NULL,                                                     
	[dDemissao]       [datetime]      NULL,
	[dAlteracao]      [datetime]      NULL
	
	 );

          
	INSERT INTO #TempColaboradorTRP
	SELECT Pes_Nome           = F.NOME
		 , Paf_Cpf            = P.CPF
		 , Pst_Codigo         =  CASE WHEN F.CODSITUACAO = 'Z' THEN 'A' ELSE F.CODSITUACAO END
		 , Pat_Dat_Cadastro   = F.DATAADMISSAO
		 , Pmo_Matricula      = F.CHAPA
		 , Paj_Cod_Externo    = F.CODSINDICATO
		 , Cargo              = F.CODFUNCAO
		 , DesCargo           = C.NOME
		 , Cnpj_Filial        = G.CGC
		 , Paf_Rg             = P.CartIdentidade
		 , Paf_nro_Cnh        = P.CARTMOTORISTA
		 , Paf_Val_Cnh        = P.DTVENCHABILIT
		 , Paf_Cat_Cnh        = P.TIPOCARTHABILIT
		 , Paf_Dat_Nascimento = P.DTNASCIMENTO
		 , Setor              = F.CODSECAO
		 , DesSecao           = S.DESCRICAO
		 , DataDemissao       = F.DATADEMISSAO
		 , DataAlteracao      = F.RECMODIFIEDON
	  FROM PFUNC F WITH(NOLOCK)
		   INNER JOIN GFILIAL G WITH(NOLOCK) ON F.CODCOLIGADA = G.CODCOLIGADA
														AND F.CODFILIAL   = G.CODFILIAL
		   INNER JOIN PPESSOA P WITH(NOLOCK) ON P.CODIGO      = F.CODPESSOA
		   INNER JOIN PFCOMPL L WITH(NOLOCK) ON F.CODCOLIGADA = L.CODCOLIGADA
														AND F.CHAPA       = L.CHAPA
		   INNER JOIN PSECAO S WITH(NOLOCK)  ON F.CODCOLIGADA = S.CODCOLIGADA
														AND F.CODSECAO    = S.CODIGO  
		   INNER JOIN PFUNCAO C WITH(NOLOCK) ON F.CODCOLIGADA = C.CODCOLIGADA
														AND F.CODFUNCAO   = C.CODIGO  
		  
	WHERE   F.CODCOLIGADA = '1'
	AND	    L.ATSLOG = 'T'
	AND (F.TIPODEMISSAO NOT IN ('5') OR F.TIPODEMISSAO IS NULL) ;
	  
	BEGIN TRAN
	  TRUNCATE TABLE ColaboradorTRP;
	  INSERT INTO ColaboradorTRP
	  SELECT * FROM #TempColaboradorTRP;
	COMMIT TRAN;
END;



GO
