USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_chk_backup_tools]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************/
/* sap_chk_backup_tools                   created on 11/17/2006 */
/*                                                              */
/*                                                              */
/****************************************************************/
create procedure [dbo].[sap_chk_backup_tools]
                 @bkuptool_exists nchar(1) output
as
begin
  if exists ( select * from msdb..sysobjects
                       where name = 'sap_backup_user_exit'
                         and type = 'P')
      select @bkuptool_exists = N'E'
  else if exists ( select * from msdb..sysobjects
                       where name = 'disable_sap_backup_user_exit'
                         and type = 'P')
          select @bkuptool_exists = N'D'
       else
          select @bkuptool_exists = N'N'
  select @bkuptool_exists
end
 
GO
