USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_p_snapshot]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- @cclass : See sap_perfcntr for definitions
-- @since  : -1 : Since startup
--            0 : Floating average
--           >0 : sample_id of reset (since reset)
CREATE PROCEDURE [dbo].[sap_p_snapshot]
  @obj_source  sysname = ' ' ,
  @cclass      char(1) = 'E' ,
  @since       int     =  0
AS
  DECLARE    @id_1       int
  DECLARE    @id_2       int         -- Newest sample_id
  DECLARE    @t_1        datetime    -- Second latest auto snapshot
                                     -- Time of "reset" snapshot
  DECLARE    @t_2        datetime    -- Latest auto snapshot
  DECLARE    @t_new      datetime    -- Current time
  DECLARE    @t_boot     datetime    -- Last DB start time
  DECLARE    @stage_t    bigint      -- Last stage area refresh
  SET NOCOUNT     ON
  /*--- Table variables ---------------------------------------------*/
  declare @perfcntr TABLE (
      counter_id    int            NOT NULL ,
      obj_name      nvarchar(128)  NOT NULL ,
      cntr_name     nvarchar(128)  NOT NULL ,
      visible       varchar(32)    NOT NULL ,
      accumulat     nvarchar(10)   NOT NULL )
-- Prepare schema name
  IF @obj_source <> ' '
    SET @obj_source = @obj_source + '.'
/*--- Overall list of performance counters --------------------------*/
  INSERT INTO @perfcntr
    SELECT counter_id, obj_name, cntr_name, visible, accumulat
      FROM sap_perfcntr
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      INSERT INTO @perfcntr
        SELECT counter_id, obj_name, cntr_name, visible, accumulat
          FROM sap_clr_createcntr()
    END
-- Remember the last sap_perfsample entries
  SELECT TOP 1 @t_2 = startat, @id_2 = sample_id
    FROM sap_perfsample WITH (READCOMMITTED)
    WHERE resi_flag = 0
    ORDER BY startat DESC
  IF @since = 0
    BEGIN
      SELECT TOP 1 @t_1 = startat, @id_1 = sample_id
        FROM sap_perfsample
        WHERE startat < @t_2
          AND resi_flag = 0
        ORDER BY startat DESC
    END
  ELSE IF @since > 0
    BEGIN
      SELECT TOP 1 @t_1 = startat FROM sap_perfsample
        WHERE sample_id = @since
          AND resi_flag = 1
        ORDER BY startat DESC
    END
-- DB start time
  SET @t_boot = ( SELECT crdate from master..sysdatabases
                         WHERE name = 'tempdb' )
-- Create temp table for sap_p_retrieve and sap_p_abstract
  IF object_id('tempdb..#perfinfo') IS NOT NULL
    drop table #perfinfo
  CREATE TABLE #perfinfo
   ( TIMESTMP      datetime      ,
     COUNTER_ID    int           ,
     INST_NAME     nvarchar(128) collate database_default ,
     value_1       bigint        , -- Measurement 1
     value_2       bigint        , -- Measurement 2
     val_old       bigint        , -- Intrapolated 1-*-2
     CNTR_VALUE    bigint        , -- sap_p_retrieve
     accumulat     nvarchar(10)  collate database_default ,
     SLOPE         float         ,
     PRIMARY KEY CLUSTERED (COUNTER_ID, INST_NAME) )
-- Check whether the staging area needs to be refreshed
-- counter_id 3431 + 100000 contains the timestamp
  SET @stage_t = ( SELECT cntr_value FROM sap_perfinfo
                     WHERE counter_id = 103431
                       AND inst_name  = N' '
                       AND resi_flag  =  0
                       AND sample_id  =  0 )
  IF ( @stage_t IS NULL OR
       @stage_t <> (cast(convert(varchar(8),getdate(),112) as bigint)))
  BEGIN
    BEGIN TRANSACTION
    EXECUTE ('exec ' + @obj_source + 'sap_p_stage')
    TRUNCATE TABLE #perfinfo
    COMMIT TRANSACTION
  END
-- Retrieve raw performance counters
  EXECUTE ('exec ' + @obj_source + 'sap_p_retrieve ' +
           '''' + @cclass + '''')
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      EXECUTE ('exec ' + @obj_source + 'sap_clr_retrieve ' +
               '''' + @cclass + '''')
    END
-- Set the time
  set @t_new = GETDATE()
-- Join the accumulat value
  UPDATE #perfinfo
    SET TIMESTMP = @t_new, accumulat = b.accumulat
    FROM #perfinfo a, @perfcntr b
    WHERE a.COUNTER_ID = b.counter_id
-- Join the data of the previous measurement(s)
  IF @since = 0 AND @t_2 > @t_boot
    BEGIN
      UPDATE #perfinfo
        SET value_1 =
          ( SELECT TOP 1 cntr_value FROM sap_perfinfo b
              WHERE b.sample_id  <= @id_1
                AND b.counter_id  = a.COUNTER_ID
                AND b.inst_name   = a.INST_NAME
                AND b.resi_flag   = 0
              ORDER BY b.sample_id DESC ),
            value_2 =
          ( SELECT TOP 1 cntr_value FROM sap_perfinfo c
              WHERE c.sample_id  <= @id_2
                AND c.counter_id  = a.COUNTER_ID
                AND c.inst_name   = a.INST_NAME
                AND c.resi_flag   = 0
              ORDER BY c.sample_id DESC )
        FROM #perfinfo a
        WHERE a.accumulat IN ('int','bigint')
    END
  ELSE IF @since > 0 AND @t_1 > @t_2 AND @t_1 > @t_boot
-- resi_flag = 1
    BEGIN
      UPDATE #perfinfo
        SET value_2 =
          ( SELECT TOP 1 cntr_value FROM sap_perfinfo c
              WHERE c.sample_id  <= @since
                AND c.counter_id  = a.COUNTER_ID
                AND c.inst_name   = a.INST_NAME
                AND c.resi_flag   = 1
              ORDER BY c.sample_id DESC )
        FROM #perfinfo a
        WHERE a.accumulat = 'int'
    END
  ELSE IF @since > 0 AND @t_2 > @t_boot
-- Get latest auto snapshot for overflow control
    BEGIN
      UPDATE #perfinfo
        SET value_2 =
          ( SELECT TOP 1 cntr_value FROM sap_perfinfo c
              WHERE c.sample_id  <= @id_2
                AND c.counter_id  = a.COUNTER_ID
                AND c.inst_name   = a.INST_NAME
                AND c.resi_flag   = 0
              ORDER BY c.sample_id DESC )
        FROM #perfinfo a
        WHERE a.accumulat = 'int'
    END
  ELSE
-- Zero out value_2
    UPDATE #perfinfo SET value_2 = 0
      WHERE accumulat = 'int'
-- Correct for integer overflows
  UPDATE #perfinfo
    SET CNTR_VALUE =
        ((value_2 - CNTR_VALUE) / cast(4294967296 AS bigint) + 1) *
         cast(4294967296 AS bigint) + CNTR_VALUE
    WHERE CNTR_VALUE < value_2
      AND accumulat  = 'int'
-- Interpolate val_old
  IF @since = 0
    BEGIN
      DECLARE @interval int
      DECLARE @delta    int
      DECLARE @fraction float
      SELECT @interval = cast([value] AS int) * 60
        FROM sap_get_para('DBCOLL','frequency')
--- Case 1 : can use neither 1 nor 2
      if @t_boot > @t_2 OR @t_2 IS NULL
        BEGIN
          UPDATE #perfinfo SET val_old = 0
            WHERE accumulat IN ('int','bigint')
          set @delta = DATEDIFF(second, @t_boot, @t_new)
        END
--- Case 2 : can only use 2
      else if @t_1 < @t_boot OR @t_1 IS NULL OR
              DATEDIFF(second, @t_2, @t_new) > @interval
        BEGIN
          UPDATE #perfinfo SET val_old = value_2
            WHERE accumulat IN ('int', 'bigint')
          set @delta = DATEDIFF(second, @t_2, @t_new)
        END
--- Case 3 : can use both 1 and 2
      else
        BEGIN
          set @delta = DATEDIFF(second, @t_1, @t_2)
          if @delta > 0
            set @fraction =
             CAST((DATEDIFF(second, @t_1, @t_new) - @interval)
                    AS float) / CAST(@delta AS float)
          UPDATE #perfinfo SET val_old = value_1 +
                 @fraction * cast((value_2 - value_1) AS float)
            WHERE accumulat IN ('int','bigint')
          set @delta = @interval
        END
    END
--- Since startup case
  else if @since < 0 OR ( @since > 0 AND @t_1 < @t_boot )
    BEGIN
      UPDATE #perfinfo SET val_old = 0
      set @delta = DATEDIFF(second, @t_boot, @t_new)
    END
--- Since reset case
  else
    BEGIN
      UPDATE #perfinfo SET val_old = b.cntr_value
        FROM #perfinfo a, sap_perfinfo b
        WHERE b.sample_id  = @since
          AND b.counter_id = a.COUNTER_ID
          AND b.inst_name  = a.INST_NAME
          AND b.resi_flag  = 1
      set @delta = DATEDIFF(second, @t_1, @t_new)
    END
  if @delta < 1
    set @delta = 1
-- Calculate slope
  UPDATE #perfinfo SET SLOPE = cast((CNTR_VALUE - val_old) AS float)
                                 / cast(@delta as float)
    WHERE accumulat IN ('int','bigint')
  UPDATE #perfinfo SET SLOPE = cast(CNTR_VALUE as float)
    WHERE accumulat = ' '
  UPDATE #perfinfo SET SLOPE = 0 WHERE SLOPE IS NULL
  UPDATE #perfinfo SET CNTR_VALUE = 0 WHERE CNTR_VALUE = NULL
-- Derived values
  EXECUTE ('exec ' + @obj_source + 'sap_p_abstract ' +
           '''' + @cclass + '''')
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      EXECUTE ('exec ' + @obj_source + 'sap_clr_abstract ' +
               '''' + @cclass + '''')
    END
-- Return result set
  SELECT a.TIMESTMP, b.obj_name, b.cntr_name, a.INST_NAME,
         a.CNTR_VALUE, a.SLOPE
    FROM #perfinfo a, @perfcntr b
    WHERE  a.COUNTER_ID = b.counter_id
      AND b.visible LIKE '%' + @cclass + '%'
    ORDER BY b.obj_name, b.cntr_name, a.INST_NAME
  --DROP TABLE #perfinfo
 
GO
