USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[MSERVICO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MSERVICO] AS SELECT * FROM MTAREFA WHERE TIPOPLANILHA = 1 AND IDCENARIO = 0
GO
