USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sys_devices]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_sys_devices] as
begin
declare @command1  varchar(80)
declare @command2  varchar(80)
select @command1   =  'select name, size, low, high, status, '
select @command2   =  'cntrltype, phyname from master ..sysdevices'
exec(@command1+@command2)
end
 
GO
