USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[DLAFFLX]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DLAFFLX]
AS
	SELECT DLAF.CODCOLIGADA, DLAF.IDLAF, DLAFAGRUPFLX.IDLAN
	FROM DLAFAGRUPFLX, DLAF
	WHERE DLAFAGRUPFLX.CODCOLIGADA = DLAF.CODCOLIGADA
		AND DLAFAGRUPFLX.IDLAFAGRUP = DLAF.IDLAFAGRUP
		AND (DLAF.PARCELA = 0 OR DLAF.PARCELA = 1)
    UNION
	SELECT DLAFHISTORICO.CODCOLIGADA, DLAFHISTORICO.IDLAF, DLAFAGRUPFLXHISTORICO.IDLAN
	FROM DLAFAGRUPFLXHISTORICO, DLAFHISTORICO
	WHERE DLAFAGRUPFLXHISTORICO.CODCOLIGADA = DLAFHISTORICO.CODCOLIGADA
		AND DLAFAGRUPFLXHISTORICO.IDLAFAGRUP = DLAFHISTORICO.IDLAFAGRUP
		AND (DLAFHISTORICO.PARCELA = 0 OR DLAFHISTORICO.PARCELA = 1)
GO
