USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_backup_hist]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_backup_hist]
   @type smallint,
   @duration  smallint
as
begin
    /*
     *
     * where type = 'D' DB
     *            = 'L' LOG
     *            = 'I' Database incremental or differential
     *            = 'F' File or File group
     */
  declare @since_date datetime,
          @type2 char(1)
  set nocount on
  if @type = 1
       select @type2 = 'D'
  else if @type = 2
       select @type2 = 'L'
  else select @type2 = 'I'
  select @duration = 0 - @duration
  select @since_date = dateadd(day, @duration, getdate())
  select database_name,
         backup_type =
            case h.type
              when N'D' then N'Full'
              when N'F' then N'File'
              when N'G' then N'Filegroup'
              when N'I' then N'Differential'
              when N'L' then N'Log'
            end,
         convert(char(20),backup_finish_date,113)N'date_and_time',
         m.physical_device_name,
         j.name,
         h.backup_set_id,
         h.name,
         h.description,
       convert(decimal(14,4),((h.backup_size/1024)/1024))N'backup_size',
       convert(char(8),(h.backup_finish_date - h.backup_start_date),108)
  from msdb..backupset h, msdb..backupmediafamily m,
       msdb..backupmediaset j
  where h.type = @type2
    and h.media_set_id = m.media_set_id
    and h.media_set_id = j.media_set_id
    and backup_finish_date > @since_date
  order by database_name, backup_finish_date desc
end
 
GO
