USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFCFODEF]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFCFODEF] AS
SELECT CODCOLIGADA, CODCOLCFO, CODCFO, CODCPG, CODVEN, GETDATE() AS DTHRATUALIZACAO 
FROM FCFODEF
GO
