USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVOAGENTECOMPLEMENTAR]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XADITIVOAGENTECOMPLEMENTAR]
AS
SELECT
C.IDCOMPRADOR IDADITIVOAGENTE,
ATC.NUMCONT NUMCONTRATO,
ATC.NUMADIT NUMADITIVO,
ATC.NEWCODCOLCFO CODCOLCFO,
ATC.NEWCODCFO CODCFO,
NULL CODPESSOA,
C.CODCOLIGADA * 10000 + CC.TIPOCOMPRADOR CODTIPOAGENTE,
C.PARTICIPACAO PERCPARTICIPACAOAGENTE,
ATC.NUMVENDA,
'A' CODSITOPRL,
ATC.RECCREATEDBY,
ATC.RECCREATEDON,
ATC.RECMODIFIEDBY,
ATC.RECMODIFIEDON ,
C.IDCOMPRADOR COD_AGENT_COMPL
FROM XADITIVOTROCACOMPRADOR ATC JOIN
XCOMPRADOR C
ON (C.CODCOLCFO = ATC.NEWCODCOLCFO) AND
(C.CODCFO = ATC.NEWCODCFO) JOIN
XCOMPRADORCOMPL CC
ON (C.CODCOLIGADA = CC.CODCOLIGADA) AND
(C.NUM_VENDA = CC.NUM_VENDA) AND
(C.IDCOMPRADOR = CC.IDCOMPRADOR)
GO
