USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[gera_tabela_oracle]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.gera_tabela_oracle    Script Date: 6/4/2001 16:24:15 ******/






CREATE        procedure [dbo].[gera_tabela_oracle] @tab nvarchar(128),@fk bit = 0
as

set nocount on

declare @col nvarchar(128)
declare @type nvarchar(128)
declare @len int
declare @prec int
declare @scale int
declare @null bit
declare @sqlstr varchar(8000)
declare @sqlaux varchar(255),@def varchar(1000)
declare @col_dom_null bit
declare @condicao nvarchar(256)
declare @flag_long bit
declare @coluna_long nvarchar(128)

print 'CREATE TABLE ' + upper(@tab) + ' ('

set @flag_long=0

if exists (select 1 from ZTABELASLONG where tabela=@tab)
  select @flag_long=1,@coluna_long=coluna from ZTABELASLONG where tabela=@tab

create table #colunas
(
   col_name nvarchar(128) NOT NULL,
   col_id int NOT NULL,
   col_typename nvarchar(128) NOT NULL,
   col_len int NOT NULL,
   col_prec int NULL,
   col_scale int NULL,
   col_basetypename nvarchar(128) NOT NULL,
   col_defname nvarchar(257) NULL,
   col_rulname nvarchar(257) NULL,
   col_null bit NOT NULL,
   col_identity bit NOT NULL,
   col_flags int NULL,
   col_seed numeric (28) NULL,
   col_increment int NULL,
   col_dridefname nvarchar(128) NULL,
   texto1 varchar(1000),
   col_iscomputed int NOT NULL,
   texto2 varchar(1000),
   col_NotForRepl bit NOT NULL,
   col_fulltext	bit NOT NULL,
   col_AnsiPad 	bit NULL,
   col_DOwner nvarchar(128) NULL,
   col_DName nvarchar(128) NULL,
   col_ROwner nvarchar(128) NULL,
   col_RName nvarchar(128) NULL,
   col_collation nvarchar(128) NULL,
   col_type nvarchar(128) NULL,
   col_1 int null,
   col_2 int null
)

INSERT INTO #colunas EXEC sp_MShelpcolumns @tab
declare c1 cursor for select col_name,upper(col_typename),col_len,col_prec,col_scale,col_null,texto1 from #colunas order by col_id
open c1
fetch next from c1 into @col,@type,@len,@prec,@scale,@null,@def

while @@fetch_status=0
begin
  set @sqlstr=''
  set @sqlaux=''
  set @col_dom_null=null
  set @condicao=null
  
  if exists (select 1 from ZTROCATIPOS where nome=@type)
  begin
    select @type=tipo,@condicao=condicao from ZTROCATIPOS where nome=@type
    if @flag_long=1 and (@coluna_long is null OR @coluna_long<>@col) and @type='LONG'
      set @type='VARCHAR(2000)'
	if exists (select 1 from ztabelaslob where table_name = @tab)
		select @type=data_type from ztabelaslob where table_name = @tab and column_name = @col
    set @sqlstr = @sqlstr + char(9) + @col + ' ' + @type
  end
  else
  begin
	if exists (select 1 from ztabelaslob where table_name = @tab)
		select @type=data_type from ztabelaslob where table_name = @tab and column_name = @col
    set @sqlstr = @sqlstr + char(9) + @col + ' ' + @type
    if @type='VARCHAR' or @type='CHAR'
      set @sqlaux='(' + convert(varchar,@len) + ')'
    if @type='NUMERIC'
    begin
      set @type='NUMBER'
      set @sqlaux='(' + convert(varchar,@prec) + ',' + convert(varchar,@scale) + ')'
    end
  end
  if @def is not null
    set @sqlaux=@sqlaux + ' DEFAULT ' + substring(@def,2,len(@def)-2)
  select @col_dom_null = allownulls from systypes where name = @type and xtype<>xusertype
  if @condicao is not null
    set @sqlaux=@sqlaux + ' ' + replace(@condicao,'@VALUE',@col)
  if @col_dom_null is null
    set @col_dom_null=1
  if @null=0 and @col_dom_null=1
    set @sqlaux=@sqlaux + ' NOT NULL'
  set @sqlstr = @sqlstr + @sqlaux + ','
  fetch next from c1 into @col,@type,@len,@prec,@scale,@null,@def
  if @@fetch_status=0
    print @sqlstr
end
close c1
deallocate c1
drop table #colunas

declare @sql varchar(8000)
exec gera_ind_pk @tab,1,'Oracle',@sqlout=@sql output

if @sql is null
  print substring(@sqlstr,1,len(@sqlstr)-1)
else
  print substring(@sqlstr,1,len(@sqlstr))

set @sqlstr= (case when @sql is not null then @sql else '' end) + ')'  + ';' + char(13)
print @sqlstr

declare @check varchar(1000)

declare c2 cursor for
select case when not exists (select * from dbo.syscomments where id = t.id and colid = 2) then t.text else null end
from dbo.syscomments t, dbo.sysconstraints c
where t.id = c.constid and c.id = object_id(@tab) and c.status & 0x0f = 4
order by object_name(t.id), t.colid

open c2
fetch next from c2 into @check

while @@fetch_status=0
begin
  set @check = dbo.tira_colchetes(@check)
  print 'ALTER TABLE ' + upper(@tab) + ' ADD CHECK ' + @check + ';' + char(13)
  fetch next from c2 into @check
end
close c2
deallocate c2

if @fk=1
  exec gera_fks_tabela @tab,'Oracle'


GO
