USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tr_get_data]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tr_get_data]
   @schema sysname = null,
   @permid int,
   @topn   int = null
as
begin
  declare @dyn_cmd nvarchar(2000)
  declare @top nvarchar(64)
  declare @tracef nvarchar(320)
  set nocount on
  set @tracef = ( select tracef from sap_tr_header
                  where permid = @permid )
  set @tracef = @tracef + '.trc'
  if @topn is not null
      set @top = N'TOP ' + convert(nvarchar,@topn)
  else
      set @top = N''
  if @schema is null or @schema = ''
    set @schema = ''
  set @dyn_cmd = N'delete from ' + @schema + N'.sap_tr_data where permid = @id'
  exec sp_executesql @dyn_cmd,N'@id int',@id = @permid
  set @dyn_cmd = N'insert into ' + @schema + N'.sap_tr_data
    ( permid,
      EventText,TextData,HostName,ClientProcessID,ApplicationName,
      Duration,StartTime,Reads,Writes,CPU,Error,ObjectName,
      DatabaseName,DBUserName )
      SELECT ' + @top + N' @id,
               CONVERT (nvarchar,a.EventClass) ,
               a.TextData          ,
               a.HostName          ,
               a.ClientProcessID   ,
               SUBSTRING (a.ApplicationName, 1, 64) ,
               a.Duration          ,
               CONVERT (varchar(26), a.StartTime, 121) ,
               a.Reads             ,
               a.Writes            ,
               a.CPU               ,
               a.Error             ,
               a.ObjectName        ,
               db_name(a.DatabaseID) ,
               a.LoginName
        FROM ::fn_trace_gettable (@fname, default) a '
-- Just do it:
  exec sp_executesql @dyn_cmd,N'@id int,@fname nvarchar(320)',
            @id = @permid,
            @fname = @tracef
-- Update the EventText field - replace number by text
  set @dyn_cmd =
  N'update ' + @schema + N'.sap_tr_data set EventText = '+
  N' (select descript FROM ' + @schema + N'.sap_tr_events (''.'') '+
  N'    WHERE convert(bigint,EventText) = eventid) '+
  N' WHERE permid = @id'
  exec sp_executesql @dyn_cmd,N'@id int',@id = @permid
end
 
GO
