USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SPC_ATUALIZA_LOTE_LIBER]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  RM Sistemas
  RM Saldus
  Tradução do procedimento "AtualizaDataLote"
  da LRIntegraSaldus.pas para Stored Procedure MSSQL
*/
CREATE PROCEDURE [dbo].[SPC_ATUALIZA_LOTE_LIBER]
@COLIGADA SMALLINT,
@DATAINICIAL DATETIME,
@DATAFINAL DATETIME
AS
BEGIN
  UPDATE CLOTE SET
  DATAINICIAL = @DATAINICIAL,
  DATAFINAL = @DATAFINAL
  WHERE
  CODCOLIGADA = @COLIGADA AND
  INTEGRAAPLICACAO = 'D'
END
GO
