USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TMOVRESUMOTRBIT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TMOVRESUMOTRBIT] AS
SELECT CODCOLIGADA,IDMOV,CODTRB,SUM(VALOR) VALOR
FROM TTRBMOV
WHERE NSEQITMMOV <> 0
GROUP BY CODCOLIGADA,IDMOV,CODTRB
GO
