USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_SAP_BW_BOOK_RH]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--TRUNCATE TABLE PTMP_FFINANC_HIST
--CREATE TABLE PTMP_FFINANC_HIST
--( CPF VARCHAR(11) NOT NULL
--, CHAPA DCHAPA NOT NULL
--, CODCOLIGADA	DCODCOLIGADA NOT NULL
--, ANOCOMP	smallint NOT NULL
--, MESCOMP	smallint NOT NULL
--, CODSECAO	varchar(35) NOT NULL
--, CCUSTO varchar(25) NOT NULL
--, SALARIO RMDVALOR2 NOT NULL
--)
CREATE PROCEDURE [dbo].[SP_SAP_BW_BOOK_RH]
AS
BEGIN

TRUNCATE TABLE PTMP_FFINANC_HIST


INSERT PTMP_FFINANC_HIST
SELECT CPF = ISNULL(P.CPF,'')
     , F.CHAPA
     , F.CODCOLIGADA
     , FF.ANOCOMP
     , FF.MESCOMP
     , [CODSECAO] = ISNULL( ( SELECT TOP 1
								     CODSECAO
                                FROM PFHSTSEC HS
                               WHERE HS.CHAPA       = FF.CHAPA
							     AND HS.CODCOLIGADA = FF.CODCOLIGADA 
							   GROUP BY CODSECAO, DTMUDANCA
							  HAVING MAX(HS.DTMUDANCA) <= Dateadd(mm,-1,FF.DTPAGTO)
                               ORDER BY HS.DTMUDANCA DESC
                             )
                          , Isnull(F.CODSECAO,'')
                          )
     , CCUSTO = ISNULL( ( SELECT TOP 1
                                     NROCENCUSTOCONT
                                FROM PFHSTSEC HS
                               INNER JOIN PSECAO S ON HS.CODSECAO = S.CODIGO
                                                  AND HS.CODCOLIGADA = S.CODCOLIGADA
                               WHERE HS.CHAPA       = FF.CHAPA
							     AND HS.CODCOLIGADA = FF.CODCOLIGADA 
							   GROUP BY NROCENCUSTOCONT, DTMUDANCA
							  HAVING MAX(HS.DTMUDANCA) <= Dateadd(mm,-1,FF.DTPAGTO)
                               ORDER BY HS.DTMUDANCA DESC

                             )
                          , Isnull(S.NROCENCUSTOCONT,'')
                          )
     , Isnull(FF.VALOR,'0')
  FROM PPESSOA P
       INNER JOIN PFUNC F     ON P.CODIGO = F.CODPESSOA
       INNER JOIN PFFINANC FF ON F.CHAPA  = FF.CHAPA
                             AND F.CODCOLIGADA = FF.CODCOLIGADA
       INNER JOIN PSECAO S ON F.CODSECAO = S.CODIGO
                          AND F.CODCOLIGADA = S.CODCOLIGADA                             
 WHERE  ( FF.CODEVENTO = '0002'  OR -- SALARIO MENSAL
          FF.CODEVENTO = '0522' )   -- SALARIO BASE	  
   --AND P.CPF = '35532554803' 
 ORDER BY FF.ANOCOMP, FF.MESCOMP

END

GO
