USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_ATUALIZA_SAL]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DROP PROCEDURE [dbo].[SP_SAP_PONTO_ELETRONICO]
CREATE PROCEDURE [dbo].[SP_ATUALIZA_SAL]
( @COLIGADA    VARCHAR(1)
, @CHAPA       VARCHAR(09)
, @MOTFUN      VARCHAR(02)
, @MOTSAL     VARCHAR(02)
, @SALARIO     VARCHAR(12)
, @DTMUDANCA   DATETIME
, @CODFUNCAO   VARCHAR(05)
)
AS
BEGIN 
  DECLARE @DTMUD          DATETIME
  DECLARE @RECMODIFIEDON  DATETIME
  DECLARE @SALANT         money
  DECLARE @PERCSAL        money
  DECLARE @USER           VARCHAR(10)
  DECLARE @CDFUNC         VARCHAR(05)
  DECLARE @MTFUN          VARCHAR(02)
  
  SET @USER = 'Mestre'
-- Pega a data do ultimo registro  
  SELECT TOP 1 @DTMUD  = DTMUDANCA 
              ,@SALANT = SALARIO
              ,@MTFUN  = MOTIVO 
    FROM PFHSTSAL 
    WHERE chapa       = @CHAPA 
      AND codcoligada = @COLIGADA 
    ORDER BY DTMUDANCA desc
    
    SET @PERCSAL = (( @SALARIO - @SALANT ) / @SALANT ) * 100
    
    IF @MOTFUN <> ''
    SET @MTFUN = @MOTFUN 
    
-- Insere o NOVO SALARIO    
  INSERT PFHSTSAL
  SELECT TOP 1
         CODCOLIGADA                   = S.CODCOLIGADA 
	   , CHAPA                         = S.CHAPA
	   , DTMUDANCA                     = @DTMUDANCA
	   , MOTIVO                        = @MTFUN
	   , NROSALARIO                    = S.NROSALARIO 
	   , SALARIO                       = @SALARIO
	   , JORNADA                       = S.JORNADA 
	   , DATADEINCLUSAO                = GETDATE()
	   , CODEVENTO                     = NULL
	   , DATADEREFERENCIA              = GETDATE()
	   , ALTERACAOJORNADA              = '0'
	   , PERCENTAPLICADO               = @PERCSAL
	   , RECCREATEDBY                  = @USER
	   , RECCREATEDON                  = GETDATE()
       , RECMODIFIEDBY                 = NULL
       , RECMODIFIEDON                 = @RECMODIFIEDON 
       , HISTORICOTABELASALARIAL       = NULL
       , HISTORICODEFAIXA              = NULL
       , HISTORICODENIVEL              = NULL  
	   , IDAUMENTO                     = '0' 
	FROM PFHSTSAL AS S 
   WHERE CODCOLIGADA = @COLIGADA
	 AND CHAPA       = @CHAPA 
	 AND DTMUDANCA   = @DTMUD
     AND NOT EXISTS ( SELECT 1 
						FROM PFHSTSAL 
					   WHERE CODCOLIGADA = @COLIGADA
						 AND CHAPA       = @CHAPA 
						 AND DTMUDANCA   = @DTMUD
						 AND SALARIO     = @SALARIO
					)	

-- Atualiza a FUNÇÃO do colaborador
  SELECT @CDFUNC  = CODFUNCAO 
    FROM PFUNC
   WHERE CHAPA       = @CHAPA 
     AND CODCOLIGADA = @COLIGADA
    
    IF @CODFUNCAO <> ''
     SET @CDFUNC = @CODFUNCAO 
     
	UPDATE PFUNC
	   SET SALARIO     = @SALARIO
	      ,CODFUNCAO   = @CDFUNC
	 WHERE CHAPA       = @CHAPA 
	   AND CODCOLIGADA = @COLIGADA
	   AND NOT EXISTS ( SELECT 1 
							FROM PFUNC
						   WHERE SALARIO     = @SALARIO
							 AND CHAPA       = @CHAPA  
							 AND CODCOLIGADA = @COLIGADA
							 AND CODFUNCAO   = @CDFUNC 
						)


	SELECT TOP 1
		@DTMUD = DTMUDANCA  
		FROM PFHSTFCO 
	   WHERE CODCOLIGADA = @COLIGADA
		 AND CHAPA       = @CHAPA  
	   ORDER BY DTMUDANCA desc
	   
  IF @MOTSAL <> ''
   BEGIN 
	-- Atualiza a HISTÓRICO de funções
	  INSERT PFHSTFCO
	  SELECT TOP 1
			 CODCOLIGADA                   = S.CODCOLIGADA 
		   , CHAPA                         = S.CHAPA
		   , DTMUDANCA                     = @DTMUDANCA
		   , MOTIVO                        = @MOTSAL
		   , CODFUNCAO                     = @CDFUNC	   
		   , CODFAIXA                      = S.CODFAIXA
		   , CODNIVEL                      = S.CODNIVEL
		   , RECCREATEDBY                  = @USER
		   , RECCREATEDON                  = GETDATE()
		   , RECMODIFIEDBY                 = NULL
		   , RECMODIFIEDON                 = @RECMODIFIEDON 
		FROM PFHSTFCO AS S 
	   WHERE CODCOLIGADA = @COLIGADA
		 AND CHAPA       = @CHAPA
		 AND DTMUDANCA   = @DTMUD
		 AND NOT EXISTS ( SELECT 1 
   							FROM PFHSTFCO 
						   WHERE CODCOLIGADA = @COLIGADA
							 AND CHAPA       = @CHAPA  
							 AND CODFUNCAO   = @CDFUNC 
							 AND MOTIVO      = @MOTFUN
						)
   END
	 
	 

END 

GO
