USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_sqldbfiles]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_sqldbfiles]
  @obj_sch sysname = null,
  @dbname sysname = null
as
begin
 set nocount on
 declare @perm int
 declare @curdbname sysname
 declare @physname nvarchar(512)
 declare @cmd nvarchar(2048)
 declare @mbFree int
 declare @fileFree int
-- cursor variables for figuring out status message
 declare @l_flsizeMB   int
 declare @l_free       float
 declare @l_growth     int
 declare @l_growthMB   int
 declare @l_flmaxsize  int
 declare @l_devfreeMB  int
 create table #fileData
  (
   groupname    sysname NULL,
   logicalname  nvarchar(128),
   physfilename nvarchar(512),
   fileid       smallint,
   flsizeMB     int,
   allocatedMB  int,
   freepct      float,
   growth       nvarchar(10),
   growthMB     int,
   flmaxsize    int,
   primfile     nchar(1),
   readonly     nchar(1),
   logdev       nchar(1),
   grwthpct     nchar(1),
   devfreeMB    int null,
   alertStatus  nchar(1),
   fileMsg      nvarchar(100)
   )
--
-- check input parameter
--
 if @dbname is NULL
   set @dbname = db_name()
 else
 begin
   select @perm = HAS_DBACCESS( @dbname )
   if @perm != 1
   begin
     print 'No db access'
     return
   end
 end
 if @obj_sch is null
   set @obj_sch = schema_name()
 set @cmd = 'use [' + @dbname + '];' +
      'select ISNULL(sfg.groupname,'' ''), sf.name, sf.physical_name,' +
      'sf.file_id, sf.size/128 as sizeMB,' +
      'fileproperty(sf.name,''SpaceUsed'')/128 as allocatedMB, 0 as freepct,' +
      'sf.growth, sf.growth/128 as growthMB,' +
      'case when sf.max_size =  -1 then -1 ' +
           'else sf.max_size/128 end as maxsize,'+
      'case when fileproperty( sf.name, ''IsPrimaryFile'' ) = 1 ' +
           'then ''X'' else '' '' end as pf, '+
      'case when filegroupproperty(sfg.groupname,''IsReadOnly'') = 1' +
           'then ''X'' else '' '' end as ro,' +
      'case when fileproperty(sf.name,''IsLogFile'')=  1' +
           'then ''X'' else '' '' end as ldev,' +
      'case when sf.is_percent_growth = 1
            then ''X'' else '' '' end as gpct' +
      ',null,null,null from '+
      ' sys.database_files as sf left outer join '+
      'sys.sysfilegroups sfg '+
      'on ( sf.data_space_id = sfg.groupid ) '+
      'order by sfg.groupid desc, sf.file_id asc;'
-- print @cmd
 insert into #fileData
     exec sp_executesql @cmd
-- update fields not correctly filled in select
 update #fileData set flsizeMB = 1 where flsizeMB = 0
 update #fileData set growthMB =  convert(int,growth) / 100.0  *  flsizeMB
    where grwthpct = 'X'
 update #fileData set freepct = case when ( flsizeMB - allocatedMB ) > 0 then
   (convert(float, (flsizeMB - allocatedMB)) /
                convert(float,flsizeMB)) * 100.0
   else 0 end
-- Fill in the disk free MB for each physical file
 select distinct physfilename into #dskfree from #fileData
     where physfilename is not null and
           len(physfilename) > 0
 declare phcursor cursor for
    select physfilename from #dskfree
 open phcursor
 fetch next from phcursor into @physname
 while (@@fetch_status <> -1)
 begin
   set @cmd = N'exec @mbFree = ' + @obj_sch +
                    N'.sap_get_freespace @physname'
   exec sp_executesql @cmd,
           N'@mbFree int output,@physname sysname',
           @mbFree output,@physname
   update #fileData set devfreeMB = @mbFree
          where physfilename = @physname
   fetch next from phcursor into @physname
 end -- while more physical file names to check
 close phcursor
 deallocate phcursor
-- Done getting the physical free MB
-- figure out  messages
--autogrow
--R'ON but no space on device to grow'
--R'ON but growth will exceed max file size'
--Y'ON, but not all files on device can grow'
--G'ON with enough space to grow'
--Y'OFF'
--R'freepct = 0'
 declare msgcursor cursor for
    select fd.physfilename,fd.flsizeMB,fd.freepct,fd.growth,
           fd.growthMB,fd.flmaxsize,fd.devfreeMB
     from #fileData fd
 open msgcursor
 fetch next from msgcursor into
        @physname,@l_flsizeMB,@l_free,@l_growth,@l_growthMB,
        @l_flmaxsize,@l_devfreeMB
 while (@@fetch_status <> -1)
 begin
   if @l_growth > 0
   begin
--not enough space to grow
     if @l_growthMB >= @l_devfreeMB
      update #fileData set alertStatus ='R', growthMB = 0,
      fileMsg = N'Autogrow is on, but there is not enough disk space to grow'
       where physfilename = @physname
-- check for maxsize
     else
       if @l_flmaxsize > 0 and
        ( @l_flsizeMB + @l_growthMB  ) >= @l_flmaxsize
         update #fileData set alertStatus ='R', growthMB = 0,
       fileMsg = N'Autogrow is on, but next growth would exceed max file size'
          where physfilename = @physname
       else
          update #fileData set alertStatus ='G',
           fileMsg = N'Autogrow on with enough space to grow'
            where physfilename = @physname
   end
   else
   begin
     update #fileData set alertStatus ='Y',fileMsg = N'Autogrow is not on'
      where physfilename = @physname
   end
-- no free space
--   if @l_free = 0
--     update #fileData set alertStatus ='R',fileMsg = N'No free space in file'
--      where physfilename = @physname
--   else
--     if @l_free < 5
--       update #fileData set alertStatus ='Y',
--       fileMsg = N'Less than 5% free space in file'
--        where physfilename = @physname
   fetch next from msgcursor into @physname,@l_flsizeMB,@l_free,@l_growth,
                                  @l_growthMB,@l_flmaxsize,@l_devfreeMB
 end
 close msgcursor
 deallocate msgcursor
--
-- update growth as its set in sys.database_files
--
  update #fileData set growth =
    case grwthpct when 'X' then growth + '%'
                  else convert(nvarchar(8),( growth /128 )) + 'MB'
    end
-- Deliver the data
-- select * from #devData
 select * from #fileData
end
 
GO
