USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZVALREFLTOTVS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZVALREFLTOTVS] AS
SELECT
	SZREQLAYOUTTOTVS.CODCOLIGADA,
	SZREQLAYOUTTOTVS.CODPACIENTE,
	SZEXAMELAYOUTTOTVS.ORDEMSERVICO,
	SZEXAMELAYOUTTOTVS.CODEXAME,
	SZEXAMELAYOUTTOTVS.SEQEXAME,
	SZVLREFLAYOUTTOTVS.IDRESULTADO,
	SZRESULTLAYOUTTOTVS.CODPARAMETRO,
	SZPACIENTE.DATANASC,
	SZPACIENTE.SEXO,
	'T' TIPO,
	'7' TIPOVALREF,
	SZVLREFLAYOUTTOTVS.TEXTREFERENCIA,
	SZVLREFLAYOUTTOTVS.VALORMINIMO,
	SZVLREFLAYOUTTOTVS.VALORMAXIMO
FROM
	SZREQLAYOUTTOTVS WITH (NOLOCK)
INNER JOIN
	SZEXAMELAYOUTTOTVS WITH (NOLOCK)
ON
	SZREQLAYOUTTOTVS.ID = SZEXAMELAYOUTTOTVS.IDREQ
INNER JOIN
	SZPACIENTE WITH (NOLOCK)
ON
	SZREQLAYOUTTOTVS.CODCOLIGADA = SZPACIENTE.CODCOLIGADA
	AND SZREQLAYOUTTOTVS.CODPACIENTE = SZPACIENTE.CODPACIENTE
INNER JOIN
	SZRESULTLAYOUTTOTVS	WITH (NOLOCK)
ON
	SZEXAMELAYOUTTOTVS.IDEXAME = SZRESULTLAYOUTTOTVS.IDEXAME
INNER JOIN
	SZVLREFLAYOUTTOTVS 	WITH (NOLOCK)
ON
	SZRESULTLAYOUTTOTVS.ID = SZVLREFLAYOUTTOTVS.IDRESULTADO
GO
