USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_GETPARAM_TABLETCAGRUP]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNC_GETPARAM_TABLETCAGRUP] (@NOME_PARAMETRO VARCHAR(MAX))
RETURNS @CURSOR_CHAVERM TABLE (
	COLIGADA INT,
	ID       VARCHAR(MAX),
	IDAGRUP  INT)
AS
	BEGIN
		DECLARE @COLIGADA INT
		DECLARE @ID		  VARCHAR(MAX)
		DECLARE @IDAGRUP  INT
		DECLARE @CHAVERM  VARCHAR(MAX)
		DECLARE CURSOR_AGRUPAMENTO CURSOR FOR
			SELECT SAGRUPANALYTICS.ID AS IDAGRUP,
				   SAGRUPITENSANALYTICS.CHAVERM
			FROM SAGRUPANALYTICS (NOLOCK)
				 JOIN SAGRUPITENSANALYTICS (NOLOCK)
				   ON SAGRUPANALYTICS.ID = SAGRUPITENSANALYTICS.ID
			WHERE SAGRUPANALYTICS.TIPOAGRUPAMENTO = @NOME_PARAMETRO
				  AND SAGRUPANALYTICS.STATUS = 1
		OPEN CURSOR_AGRUPAMENTO
		FETCH NEXT FROM CURSOR_AGRUPAMENTO INTO @IDAGRUP, @CHAVERM
		WHILE @@FETCH_STATUS = 0
		BEGIN
			SET @COLIGADA = SUBSTRING(@CHAVERM, 1, CHARINDEX(';', @CHAVERM) - 1)
			SET @ID = SUBSTRING(@CHAVERM, CHARINDEX(';', @CHAVERM) + 1, LEN(@CHAVERM))
			INSERT INTO @CURSOR_CHAVERM
			SELECT	@COLIGADA,
					@ID,
					@IDAGRUP
			FETCH NEXT FROM CURSOR_AGRUPAMENTO INTO @IDAGRUP, @CHAVERM
		END
		CLOSE CURSOR_AGRUPAMENTO
		DEALLOCATE CURSOR_AGRUPAMENTO
		RETURN
	END
GO
