USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZRESEXAMELAYOUTAOL]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZRESEXAMELAYOUTAOL] AS
SELECT
	vwPEDIDOEXAME.CODCOLIGADA,
	vwPEDIDOEXAME.ORDEMSERVICO,
	vwPEDIDOEXAME.CODPACIENTE,
	SZAOLRESCADPAC.CODIGO CODPACIENTEAOL,
	SZPEDEXAMEITEM.CODEXAME,
	SZPEDEXAMEITEM.SEQEXAME,
	0 CODMETODO,
	SZAOLRESCADEXMLI.CODIGO CODPARAMETRO,
	vwPEDIDOEXAME.DATAEXAME,
	SZPEDEXAME.CANCELADO PEDIDOCANCELADO,
	SZPEDEXAMEITEM.CANCELADO EXAMECANCELADO,
	SZAOLRESSOLPAR.VALOR RESULTADO,
	'F' PANICO
FROM
	SZPEDEXAMEITEM (NOLOCK)
INNER JOIN
	SZPEDEXAME (NOLOCK)
ON
	SZPEDEXAMEITEM.CODCOLIGADA = SZPEDEXAME.CODCOLIGADA
	AND SZPEDEXAMEITEM.ORDEMSERVICO = SZPEDEXAME.ORDEMSERVICO
INNER JOIN
	SZLABEXAME (NOLOCK)
ON
	SZLABEXAME.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
	AND SZLABEXAME.CODEXAME = SZPEDEXAMEITEM.CODEXAME
INNER JOIN
	vwPEDIDOEXAME (NOLOCK)
ON
	SZPEDEXAMEITEM.CODCOLIGADA = vwPEDIDOEXAME.CODCOLIGADA
	AND SZPEDEXAMEITEM.ORDEMSERVICO = vwPEDIDOEXAME.ORDEMSERVICO
INNER JOIN
	SZLOTEPEDIDOITENS (NOLOCK)
ON
	SZPEDEXAMEITEM.CODCOLIGADA = SZLOTEPEDIDOITENS.CODCOLIGADA
	AND SZPEDEXAMEITEM.ORDEMSERVICO = SZLOTEPEDIDOITENS.ORDEMSERVICO
INNER JOIN
	SZLOTEPEDIDOS (NOLOCK)
ON
	SZLOTEPEDIDOITENS.CODCOLIGADA = SZLOTEPEDIDOS.CODCOLIGADA
	AND SZLOTEPEDIDOITENS.CODLOTE = SZLOTEPEDIDOS.CODLOTE
INNER JOIN
	SZAOLRESREQ (NOLOCK)
ON
	SZAOLRESREQ.CODCOLIGADA = SZLOTEPEDIDOITENS.CODCOLIGADA
	AND SZAOLRESREQ.CODLOTE = SZLOTEPEDIDOITENS.CODLOTE
INNER JOIN
	SZAOLRESCADPAC  (NOLOCK)
ON
	SZAOLRESREQ.CODCOLIGADA = SZAOLRESCADPAC.CODCOLIGADA
	AND SZAOLRESREQ.ID = SZAOLRESCADPAC.IDREQ
INNER JOIN
	SZAOLRESCADEXM (NOLOCK)
ON
	SZAOLRESREQ.CODCOLIGADA = SZAOLRESCADEXM.CODCOLIGADA
	AND SZAOLRESREQ.ID = SZAOLRESCADEXM.IDREQ
	AND SZLABEXAME.MNEMONICO = SZAOLRESCADEXM.CODIGO
INNER JOIN
	SZAOLRESCADEXMLI (NOLOCK)
ON
	SZAOLRESCADEXM.CODCOLIGADA = SZAOLRESCADEXMLI.CODCOLIGADA
	AND SZAOLRESCADEXM.ID = SZAOLRESCADEXMLI.IDEXAMECAD
INNER JOIN
	SZAOLRESSOL (NOLOCK)
ON
	SZAOLRESREQ.CODCOLIGADA = SZAOLRESSOL.CODCOLIGADA
	AND SZAOLRESREQ.ID = SZAOLRESSOL.IDREQ
INNER JOIN
	SZAOLRESSOLEXM (NOLOCK)
ON
	SZAOLRESSOL.CODCOLIGADA = SZAOLRESSOLEXM.CODCOLIGADA
	AND SZAOLRESSOL.ID = SZAOLRESSOLEXM.IDSOLICITACAO
	AND SZAOLRESCADEXM.CODIGO = SZAOLRESSOLEXM.CODIGO
INNER JOIN
	SZAOLRESSOLPAR (NOLOCK)
ON
	SZAOLRESSOLEXM.CODCOLIGADA = SZAOLRESSOLPAR.CODCOLIGADA
	AND SZAOLRESSOLEXM.ID = SZAOLRESSOLPAR.IDEXAME
	AND SZAOLRESCADEXMLI.CODIGO = SZAOLRESSOLPAR.LINHARESULTADO
GO
