USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSPROCEDIMENTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSPROCEDIMENTO]
AS
  SELECT CODCOLIGADA,
         CO_PROCEDIMENTO                  CODPROC,
         NO_PROCEDIMENTO                  NOME,
         SUBSTRING(CO_PROCEDIMENTO, 1, 2) CODGRUPO,
         SUBSTRING(CO_PROCEDIMENTO, 3, 2) CODSUBGRUPO,
         SUBSTRING(CO_PROCEDIMENTO, 5, 2) CODFORMAORG,
         NULL                             CODMOD,
         TP_COMPLEXIDADE                  CODCOMPLEX,
         NULL                             COMPLEXIDADE,
         NULL                             EXIGEAUTORIZACAO,
         QT_DIAS_PERMANENCIA              DIASPERMANENCIA,
         NULL                             ADMTRATCONTINUADO,
         QT_PONTOS                        PTOSATO,
         QT_MAXIMA_EXECUCAO               QTDEMAXIMA,
         NULL                             ADMANESTESIA,
         VL_SA                            VLRSA,
         VL_SH                            VLRSH,
         VL_SP                            VLRSP,
         NULL                             VLRSADT,
         NULL                             VLRTOTH,
         NULL                             VLRTOTA,
         NULL                             NUMPORTINI,
         DT_COMPETENCIA                   DTVIGINI,
         NULL                             AS NUMPORTFIM,
         NULL                             AS DTVIGFIM,
         VL_IDADE_MINIMA                  IDADEMIN,
         VL_IDADE_MAXIMA                  IDADEMAX,
         CO_FINANCIAMENTO                 CODFINANC,
         NULL                             TPFINANCIAMENTO,
         NULL                             ESPECIAL,
         TP_SEXO                          SEXO,
         NULL                             PERMANENCIA,
         NULL                             CNRAC,
         NULL                             URGENCIA,
         CO_RUBRICA                       CODRUBRICA
  FROM   GCOLIGADA,
         SZSUSTUPROC
GO
