USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_atomic_next_typemodfield]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_atomic_next_typemodfield]
  @tabname sysname,
  @fieldname sysname,
  @fieldtype nvarchar(64),
  @nullable char(1),
  @defaultval nvarchar(96) = null
as
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(500)
declare @old_fieldtype nvarchar(64)
declare @cdefault int
declare @isnullable int
-- get the default and the isnullable flag
select @cdefault = c.cdefault, @isnullable = c.isnullable
  from dbo.sysobjects o, dbo.syscolumns c
    where o.id = object_id( user+'.'+@tabname,'U' )
      and c.id = o.id
      and c.name = @fieldname
-- adjust the nullable flag
if @nullable = '' set @nullable = ' '
-- modify the column
if @fieldtype in (N'smallint', N'int')
  begin
    -- unbind num_default if it is bound
    if @cdefault > 0
      begin
        select @cmd = N'sap_atomic_defaultunbind ''' + @tabname + N''', '''
                      + @fieldname + N''''
        exec( @cmd )
      end
    -- update the column if necessary
    if @nullable = ' ' and @isnullable = 1
      begin
        select @cmd = N'update [' + @tabname + N'] set [' +
                      @fieldname + N'] = 0 where [' + @fieldname +
                      N'] is null'
        exec( @cmd )
      end
    -- alter the column
    select @cmd = N'alter table [' + @tabname + N'] alter column [' +
                  @fieldname + N'] ' + @fieldtype
    if @nullable = 'X'
      select @cmd =
        case @isnullable
          when 1 then @cmd + N' null'
          when 0 then @cmd + N' not null'
        end
    else
      select @cmd =
        case @nullable
          when 'N' then @cmd + N' null'
          when ' ' then @cmd + N' not null'
        end
    exec( @cmd )
    -- re-bind num_default if necessary
    if @nullable = 'X' and @cdefault > 0  or
       @nullable = ' '
      begin
        select @cmd = N'sp_bindefault num_default, [' +
                      @tabname + N'.' + @fieldname + N']'
        exec( @cmd )
      end
  end
else
if @fieldtype = N'image'
  -- only binary/varbinary --> image and
  -- image --> image (here nothing has to be done)
  begin
    if (select t.name
          from dbo.sysobjects o, dbo.syscolumns c, dbo.systypes t
            where o.id = object_id(user+'.'+@tabname,'U')
              and c.id = o.id
              and c.name = @fieldname
              and t.xusertype = c.xusertype) like N'%binary'
      begin
        -- unbind the default if one is bound
        if @cdefault > 0     -- shouldn't really be the case
          begin
        select @cmd = N'sap_atomic_defaultunbind ''' + @tabname + N''', '''
                      + @fieldname + N''''
            exec( @cmd )
          end
        -- alter the column
        select @cmd = N'alter table [' + @tabname +
                      N'] alter column [' + @fieldname + N'] image null'
        exec( @cmd )
      end
  end
else
if @fieldtype = N'text'
  -- only varchar --> text and
  -- text --> text (here nothing has to be done)
  begin
    if (select t.name
          from dbo.sysobjects o, dbo.syscolumns c, dbo.systypes t
            where o.id = object_id(user+'.'+@tabname,'U')
              and c.id = o.id
              and c.name = @fieldname
              and t.xusertype = c.xusertype) = N'varchar'
      begin
        -- unbind the default if one is bound
        if @cdefault > 0     -- shouldn't really be the case
          begin
        select @cmd = N'sap_atomic_defaultunbind ''' + @tabname + N''', '''
                      + @fieldname + N''''
            exec( @cmd )
          end
        -- alter the column
        select @cmd = N'alter table [' + @tabname +
                      N'] alter column [' + @fieldname + N'] text null'
        exec( @cmd )
      end
  end
else
if @fieldtype = N'ntext'
  -- only nvarchar --> ntext and
  -- ntext --> ntext (here nothing has to be done)
  begin
    if (select t.name
          from dbo.sysobjects o, dbo.syscolumns c, dbo.systypes t
            where o.id = object_id(user+'.'+@tabname,'U')
              and c.id = o.id
              and c.name = @fieldname
              and t.xusertype = c.xusertype) = N'nvarchar'
      begin
        -- unbind the default if one is bound
        if @cdefault > 0     -- shouldn't really be the case
          begin
        select @cmd = N'sap_atomic_defaultunbind ''' + @tabname + N''', '''
                      + @fieldname + N''''
            exec( @cmd )
          end
        -- alter the column
        select @cmd = N'alter table [' + @tabname +
                      N'] alter column [' + @fieldname + N'] ntext null'
        exec( @cmd )
      end
  end
---------------- added for SQL 2005 -----------------------------------
else
if @fieldtype = N'varbinary(max)'
  -- only binary/varbinary --> varbinary(max) and
  -- varbinary(max) --> varbinary(max) (here nothing has to be done)
  begin
    if (select t.name
          from dbo.sysobjects o, dbo.syscolumns c, dbo.systypes t
            where o.id = object_id(user+'.'+@tabname,'U')
              and c.id = o.id
              and c.name = @fieldname
              and t.xusertype = c.xusertype) like N'%binary'
      begin
        -- unbind the default if one is bound
        if @cdefault > 0     -- shouldn't really be the case
          begin
        select @cmd = N'sap_atomic_defaultunbind ''' + @tabname + N''', '''
                      + @fieldname + N''''
            exec( @cmd )
          end
        -- alter the column
        select @cmd = N'alter table [' + @tabname +
          N'] alter column [' + @fieldname + N'] varbinary(max) null'
        exec( @cmd )
      end
  end
else
if @fieldtype = N'varchar(max)'
  -- only varchar --> varchar(max) and
  -- varchar(max) --> varchar(max) (here nothing has to be done)
  begin
    if (select t.name
          from dbo.sysobjects o, dbo.syscolumns c, dbo.systypes t
            where o.id = object_id(user+'.'+@tabname,'U')
              and c.id = o.id
              and c.name = @fieldname
              and t.xusertype = c.xusertype) = N'varchar'
      begin
        -- unbind the default if one is bound
        if @cdefault > 0     -- shouldn't really be the case
          begin
        select @cmd = N'sap_atomic_defaultunbind ''' + @tabname + N''', '''
                      + @fieldname + N''''
            exec( @cmd )
          end
        -- alter the column
        select @cmd = N'alter table [' + @tabname +
          N'] alter column [' + @fieldname + N'] varchar(max) null'
        exec( @cmd )
      end
  end
else
if @fieldtype = N'nvarchar(max)'
  -- only nvarchar --> nvarchar(max) and
  -- nvarchar(max) --> nvarchar(max) (here nothing has to be done)
  begin
    if (select t.name
          from dbo.sysobjects o, dbo.syscolumns c, dbo.systypes t
            where o.id = object_id(user+'.'+@tabname,'U')
              and c.id = o.id
              and c.name = @fieldname
              and t.xusertype = c.xusertype) = N'nvarchar'
      begin
        -- unbind the default if one is bound
        if @cdefault > 0     -- shouldn't really be the case
          begin
        select @cmd = N'sap_atomic_defaultunbind ''' + @tabname + N''', '''
                      + @fieldname + N''''
            exec( @cmd )
          end
        -- alter the column
        select @cmd = N'alter table [' + @tabname +
             N'] alter column [' + @fieldname + N'] nvarchar(max) null'
        exec( @cmd )
      end
  end
---------------- end addition for SQL 2005 ------------------------------
else
  -- decimal, binary/varbinary, varchar/nvarchar
  begin
    -- unbind the default if one is bound
    -- not really necessary, but we get rid of a default we don't need
    if @cdefault > 0
      begin
        select @cmd = N'sap_atomic_defaultunbind ''' + @tabname + N''', '''
                      + @fieldname + N''''
        exec( @cmd )
      end
    -- update the column if necessary
    -- only for decimal and varchar/nvarchar
    if @nullable = ' ' and @isnullable = 1 and
       patindex(N'%binary%',@fieldtype) = 0
      begin
        select @cmd = N'update [' + @tabname + N'] set [' +
                      @fieldname + N'] ='
        if patindex(N'%varchar%',@fieldtype) > 0
          if @defaultval is not null     -- 6.x
            if datalength(@defaultval) > 0
              select @cmd = @cmd + N' '' '''
            else     -- @defaultval = '', i.e., DD type SSTR
              select @cmd = @cmd + N' '''''
          else     -- 4.6x
            select @cmd = @cmd + N' '' '''
        else     -- patindex(N'%decimal%',@fieldtype) > 0
          select @cmd = @cmd + N' 0'
        select @cmd = @cmd + N' where [' + @fieldname +
                      N'] is null'
        exec( @cmd )
      end
    -- alter the column
    select @cmd = N'alter table [' + @tabname + N'] alter column [' +
                  @fieldname + '] ' + @fieldtype
    if @nullable = 'X'
      select @cmd =
        case @isnullable
          when 1 then @cmd + N' null'
          when 0 then @cmd + N' not null'
        end
    else
      select @cmd =
        case @nullable
          when 'N' then @cmd + N' null'
          when ' ' then @cmd + N' not null'
        end
    exec( @cmd )
    -- bind num_default (decimal) or
    -- str_default or empstr_default (varchar/nvarchar)
    -- if necessary
    if @nullable = 'X' and @cdefault > 0  or
       @nullable = ' '
      if patindex(N'%varchar%',@fieldtype) > 0
        begin
          if @defaultval is not null     -- 6.x
            if datalength(@defaultval) > 0
              select @cmd = N'sp_bindefault str_default, [' + @tabname +
                            N'.' + @fieldname + N']'
            else     -- @defaultval = '', i.e., DD type SSTR
              select @cmd = N'sp_bindefault empstr_default, [' +
                            @tabname + N'.' + @fieldname + N']'
          else     -- 4.6x
            select @cmd = N'sp_bindefault str_default, [' + @tabname +
                          N'.' + @fieldname + N']'
          exec( @cmd )
        end
      else if patindex(N'%decimal%',@fieldtype) > 0
        begin
          select @cmd = N'sp_bindefault num_default, [' + @tabname +
                        N'.' + @fieldname + N']'
          exec( @cmd )
        end
  end
END
 
GO
