USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSPROCINCREMENTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSPROCINCREMENTO]
AS
  SELECT CODCOLIGADA,
         CO_PROCEDIMENTO  CODPROC,
         CO_HABILITACAO   CODHABILIT,
         NULL             PERCENTUAL,
         VL_PERCENTUAL_SA SA,
         VL_PERCENTUAL_SH SH,
         VL_PERCENTUAL_SP SP,
         NULL             SADT
  FROM   GCOLIGADA,
         SZSUSTUPROCINCREMENTO
GO
