USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_LISTACOLABORADORES]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_LISTACOLABORADORES]
AS 
SELECT	PFUNC.NOME
	,	PFUNC.CHAPA
	,	PFUNC.CODSITUACAO
	,	PPESSOA. CARTIDENTIDADE
	,	PPESSOA.CPF
--	,	GIMAGEM.IMAGEM
	,	PFUNC.CODFUNCAO
	,	PFUNC.CODSECAO
	,	PFUNC.CODFILIAL
	,	PFUNC.CODHORARIO
  FROM	PFUNC
		INNER JOIN PPESSOA ON PFUNC.CODPESSOA = PPESSOA.CODIGO
		LEFT  JOIN GIMAGEM ON PPESSOA.IDIMAGEM = GIMAGEM.ID 
 WHERE	PFUNC.CODCOLIGADA = 1
   AND	PFUNC.CODSITUACAO = 'A'
   
GO
