USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[RetornarTotalizadores]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RetornarTotalizadores] (
    @COL INT,
    @ANO INT,
    @MES INT
)
RETURNS TABLE
AS
RETURN
WITH 

Totalizadores AS (
    SELECT 
         MAX(ID) AS ID,
         CODCOLIGADA,
         CPF,
         NOME,
         CODPESSOA,
         ANOCOMP,
         MESCOMP,
         TIPOEVENTO,
         STATUS,
         RECIBO,
         CRMen,
         vlrRendTrib,
         vlrRendTrib13,
         vlrPrevOficial,
         vlrPrevOficial13,
         vlrCRMen,
         vlrParcIsenta65,
         vlrParcIsenta65Dec,
         vlrDiarias,
         vlrAjudaCusto,
         vlrIndResContrato,
         vlrAbonoPec,
         vlrRendMoleGrave,
         vlrRendMoleGrave13,
         vlrAuxMoradia,
         vlrBolsaMedico,
         vlrBolsaMedico13,
         vlrJurosMora,
         vlrIsenOutros
    FROM (
        SELECT
             ID,
             CODCOLIGADA,
             CPF,
             NOME,
             CODPESSOA,
             ANOCOMP,
             MESCOMP,
             TIPOEVENTO,
             STATUS,
             RECIBO,
             XMLCOL.MENSAGEMRETORNO.value('CRMen[1]', 'VARCHAR(MAX)') AS CRMen,
             XMLCOL.MENSAGEMRETORNO.value('vlrRendTrib[1]', 'money') AS vlrRendTrib,
             XMLCOL.MENSAGEMRETORNO.value('vlrRendTrib13[1]', 'money') AS vlrRendTrib13,
             XMLCOL.MENSAGEMRETORNO.value('vlrPrevOficial[1]', 'money') AS vlrPrevOficial,
             XMLCOL.MENSAGEMRETORNO.value('vlrPrevOficial13[1]', 'money') AS vlrPrevOficial13,
             XMLCOL.MENSAGEMRETORNO.value('vlrCRMen[1]', 'money') AS vlrCRMen,
             XMLCOL.MENSAGEMRETORNO.value('vlrCR13Men[1]', 'money') AS vlrCR13Men,
             XMLCOL.MENSAGEMRETORNO.value('vlrParcIsenta65[1]', 'money') AS vlrParcIsenta65,
             XMLCOL.MENSAGEMRETORNO.value('vlrParcIsenta65Dec[1]', 'money') AS vlrParcIsenta65Dec,
             XMLCOL.MENSAGEMRETORNO.value('vlrDiarias[1]', 'money') AS vlrDiarias,
             XMLCOL.MENSAGEMRETORNO.value('vlrAjudaCusto[1]', 'money') AS vlrAjudaCusto,
             XMLCOL.MENSAGEMRETORNO.value('vlrIndResContrato[1]', 'money') AS vlrIndResContrato,
             XMLCOL.MENSAGEMRETORNO.value('vlrAbonoPec[1]', 'money') AS vlrAbonoPec,
             XMLCOL.MENSAGEMRETORNO.value('vlrRendMoleGrave[1]', 'money') AS vlrRendMoleGrave,
             XMLCOL.MENSAGEMRETORNO.value('vlrRendMoleGrave13[1]', 'money') AS vlrRendMoleGrave13,
             XMLCOL.MENSAGEMRETORNO.value('vlrAuxMoradia[1]', 'money') AS vlrAuxMoradia,
             XMLCOL.MENSAGEMRETORNO.value('vlrBolsaMedico[1]', 'money') AS vlrBolsaMedico,
             XMLCOL.MENSAGEMRETORNO.value('vlrBolsaMedico13[1]', 'money') AS vlrBolsaMedico13,
             XMLCOL.MENSAGEMRETORNO.value('vlrJurosMora[1]', 'money') AS vlrJurosMora,
             XMLCOL.MENSAGEMRETORNO.value('vlrIsenOutros[1]', 'money') AS vlrIsenOutros
        FROM (
            SELECT
                 ID,
                 A.CODCOLIGADA,
                 ISNULL(B.CPF, A.CPF) AS CPF,
                 B.NOME,
                 A.CODPESSOA,
                 A.ANOCOMP,
                 A.MESCOMP,
                 A.TIPOEVENTO,
                 A.STATUS,
                 A.RECIBO,
                 CAST(REPLACE(A.MENSAGEMRETORNO, 'xmlns', 'crm') AS XML) AS MENSAGEMRETORNO_XML
            FROM PESOCIALEVENTOS A
            LEFT JOIN PPESSOA B ON A.CODPESSOA = B.CODIGO
            WHERE
                A.TIPOEVENTO = 'S-1210'
                AND A.STATUS = '10'
                AND A.MENSAGEMRETORNO IS NOT NULL
                AND ANOCOMP = @ANO
                AND MESCOMP = @MES
        ) AS T
        CROSS APPLY T.MENSAGEMRETORNO_XML.nodes('/evento/tot/eSocial/evtIrrfBenef/ideTrabalhador/totInfoIR/consolidApurMen') AS XMLCOL(MENSAGEMRETORNO)
    ) X
    GROUP BY
         CODCOLIGADA,
         CPF,
         NOME,
         CODPESSOA,
         ANOCOMP,
         MESCOMP,
         TIPOEVENTO,
         STATUS,
         RECIBO,
         CRMen,
         vlrRendTrib,
         vlrRendTrib13,
         vlrPrevOficial,
         vlrPrevOficial13,
         vlrCRMen,
         vlrParcIsenta65,
         vlrParcIsenta65Dec,
         vlrDiarias,
         vlrAjudaCusto,
         vlrIndResContrato,
         vlrAbonoPec,
         vlrRendMoleGrave,
         vlrRendMoleGrave13,
         vlrAuxMoradia,
         vlrBolsaMedico,
         vlrBolsaMedico13,
         vlrJurosMora,
         vlrIsenOutros
)
SELECT
     A.ID,
     A.CODCOLIGADA,
     A.CPF,
     A.NOME,
     A.CODPESSOA,
     A.ANOCOMP,
     A.MESCOMP,
     A.TIPOEVENTO,
     A.STATUS,
     A.RECIBO,
     vlrRendTrib,
     vlrRendTrib13,
     vlrPrevOficial,
     vlrPrevOficial13,
     vlrCRMen,
     vlrParcIsenta65,
     vlrParcIsenta65Dec,
     vlrDiarias,
     vlrAjudaCusto,
     vlrIndResContrato,
     vlrAbonoPec,
     vlrRendMoleGrave,
     vlrRendMoleGrave13,
     vlrAuxMoradia,
     vlrBolsaMedico,
     vlrBolsaMedico13,
     vlrJurosMora,
     vlrIsenOutros
FROM Totalizadores A;
GO
