USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVOALTERACAOVRPARC]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITIVOALTERACAOVRPARC]
AS
SELECT
  XADITALTERACAOVRPARC.NUMVENDA,
  XADITALTERACAOVRPARC.NUMADIT,
  XADITALTERACAOVRPARC.NUMPARC,
  XADITALTERACAOVRPARC.CODTIPOPARC,
  XADITALTERACAOVRPARC.CODGRUPO,
  XADITALTERACAOVRPARC.VRPARCNOVO AS NEWVRPARC,
  XADITALTERACAOVRPARC.VRPARCATUAL AS OLDVRPARC,
  XADITALTERACAOVRPARC.RECCREATEDBY,
  XADITALTERACAOVRPARC.RECCREATEDON,
  XADITALTERACAOVRPARC.RECMODIFIEDBY,
  XADITALTERACAOVRPARC.RECMODIFIEDON
FROM XADITALTERACAOVRPARC
GO
