USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_jobs]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************/
/* sap_get_jobs                           created on 05/07/2004 */
/*                                                              */
/*                                                              */
/* 05/18/2004         Added the table sysoriginatingservers     */
/*                    to the join (Yuon change)        -RR      */
/*                                                              */
/* 01/05/2005       Joined with sysoriginatingservers_view      */
/*                  instead of  sysoriginatingservers           */
/*                  IDW11 change                       -RR      */
/* 09/14/2007       SQL2008 Changes. Added convert to           */
/*                  date_created,date_modified  columns -RR     */
/*                                                              */
/****************************************************************/
create procedure [dbo].[sap_get_jobs]     @from_date int = 0,
                                  @ccms_only int = 1,
                                  @jobid nvarchar(32) = ' '
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(4000)
declare @fromdt_str nvarchar(8)
select @fromdt_str = @from_date
set @cmd = 'select convert(varbinary,a.job_id),'            +
              'convert(nvarchar(30),c.originating_server),' +
              'name, enabled,description,start_step_id,'    +
              'convert(nvarchar(20),date_created,120),'     +
              'convert(nvarchar(20),date_modified,120)'     +
              ' from msdb..sysjobs a, msdb..sysjobsteps b,' +
              ' msdb..sysoriginatingservers_view c'         +
              ' where a.job_id = b.job_id'                  +
              ' and c.originating_server_id = '             +
              ' a.originating_server_id '
if @jobid = ' '
 begin
  if @ccms_only = 1
    set @cmd = @cmd +
            ' and a.name like ''%SAP CCMS%'''
  if @from_date <> 0
        set @cmd = @cmd +
             ' and ( b.last_run_date >= ' +@fromdt_str +
             ' or a.date_created >= convert(char(20),' +
               @fromdt_str +',126))'
  set @cmd = @cmd + ' order by a.name desc '
 end
else
 set @cmd = @cmd + ' and a.job_id = 0x' + @jobid
--print @cmd
exec (@cmd)
END
 
GO
