USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_findSQLStart]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_mon_findSQLStart]
  @sqlHandle varbinary(64)
 AS
BEGIN
  set nocount on
  declare @sql    nvarchar(MAX)
  -- local variables
  declare @param_end int
  declare @stmt_beg int
  declare @textchar nvarchar(1)
  declare @crlf nvarchar(2)
  select @crlf = char(13) + char(10)
-- return columns
  declare @startOff int
  declare @pText nvarchar(50)
  select @sql = SUBSTRING(text,0,(len(convert(nvarchar(MAX),text)) * 2))
    from sys.dm_exec_sql_text(@sqlHandle)
  if @sql is null
    set @sql = N' '
  if (substring( @sql,1,11 ) = N'CREATE PROC' or
      substring( @sql,1,11 ) = N'create proc' ) and
      patindex( N'% Y%',@sql ) < 30 -- a permanent r3 sp
  begin
    set @param_end = 0
    select @param_end = patindex( N'% AS%',@sql )
    if @param_end = 0
      select @param_end = patindex( N'%AS BEGIN%',@sql )
    else
      select @param_end = @param_end + 1 -- point to the AS
    if @param_end > 0
    begin
      -- Set the sql output column to the text of the body of
      -- the stored procedure (after the AS )
      select @sql = right( @sql,len(@sql) - @param_end - 1 )
      -- skip blanks up to the statement
      while len(@sql) >0 and
        (ascii( substring(@sql,1,1) ) = 10  or
         ascii( substring(@sql,1,1) ) = 13  or
          substring( @sql,1,1 ) = N' ')
      begin
        if len(@sql) > 0
          select @sql = substring( @sql,2,len(@sql) - 1 )
      end
       -- check for leading BEGIN cr/lf
      if substring( @sql,1,5 ) = N'BEGIN'
      begin
        select @sql = right( @sql,len(@sql) - 5 )
        while len(@sql) > 0 and
          (ascii( substring(@sql,1,1) ) = 10  or
           ascii( substring(@sql,1,1) ) = 13  or
           substring( @sql,1,1 ) = N' ')
        begin
          if len(@sql) > 0
            select @sql = substring( @sql,2,len(@sql) - 1 )
        end
      end
      set @pText = substring(@sql,0,50)
      select @startOff = patindex('%'+@pText+'%', text)
         from sys.dm_exec_sql_text(@sqlHandle)
    end
    else -- can't find the end of parameters (maybe sp is too big?)
    begin -- (maybe sp is too big?)
      select @startOff = 0
      select @pText = N''
    end
  end
-- other case
  else if substring( @sql,1,2 ) = N'(@'
  begin
  -- print @sql
  -- find the end of the parameter list
       if patindex( N'%)S%',@sql ) > 0
       begin
          select @param_end = patindex( N'%)S%',@sql )
          select @stmt_beg = @param_end
       end
       else if patindex( N'%)s%',@sql ) > 0
       begin
           select @param_end = patindex( N'%)s%',@sql )
           select @stmt_beg = @param_end
       end
       else if patindex( N'%)I%',@sql ) > 0
       begin
           select @param_end = patindex( N'%)I%',@sql )
           select @stmt_beg = @param_end
       end
       else if patindex( N'%)i%',@sql ) > 0
       begin
           select @param_end = patindex( N'%)i%',@sql )
           select @stmt_beg = @param_end
       end
       else if patindex( N'%)U%',@sql ) > 0
       begin
           select @param_end = patindex( N'%)U%',@sql )
           select @stmt_beg = @param_end
       end
       else if patindex( N'%)u%',@sql ) > 0
       begin
           select @param_end = patindex( N'%)u%',@sql )
           select @stmt_beg = @param_end
       end
       else if patindex( N'%)D%',@sql ) > 0
       begin
           select @param_end = patindex( N'%)D%',@sql )
           select @stmt_beg = @param_end
       end
       else if patindex( N'%)d%',@sql ) > 0
       begin
           select @param_end = patindex( N'%)d%',@sql )
           select @stmt_beg = @param_end
       end
       else if patindex( N'%))%',@sql ) > 0
       begin
       select @param_end = patindex( N'%))%',@sql )
           select @stmt_beg = @param_end + 2
       end
--       set @startOff = @stmt_beg
       set @pText = substring(@sql,@stmt_beg + 1,50)
       select @startOff = patindex('%'+@pText+'%', text)
           from sys.dm_exec_sql_text(@sqlHandle)
  end
   --------- Dirty fixes for unusual cases ------------------
   if @sql is null or len(@sql) = 0
     set @sql = N' '
   if substring( @sql,1,6 ) = N'ELECT '
       select @pText = N'S' + @pText
   if substring( @pText,1,6 ) = N'elect '
       select @pText = N's' + @pText
   if substring( @pText,1,6 ) = N'PDATE '
       select @pText = N'U' + @pText
   if substring( @pText,1,6 ) = N'pdate '
       select @pText = N'u' + @pText
   if substring( @pText,1,6 ) = N'NSERT '
       select @pText = N'I' + @pText
   if substring( @pText,1,6 ) = N'nsert '
       select @pText = N'i' + @pText
   if substring( @pText,1,6 ) = N'ELETE '
       select @pText = N'D' + @pText
   if substring( @pText,1,6 ) = N'elete '
       select @pText = N'd' + @pText
   if substring( @pText,1,9 ) = N'()SELECT ' or
      substring( @pText,1,9 ) = N'()select '
        select @pText = right( @pText,len(@pText) - 2 )
   ----------- Make common keywords uppercase ---------------
   if substring( @pText,1,7 ) = N'select '
   begin
       select @pText = N'SELECT ' + right( @pText,len(@pText) - 7 )
       select @pText = replace( @pText,N' from ',N' FROM ' )
   end
   if substring( @pText,1,7 ) = N'insert '
       select @pText = N'INSERT ' + right( @pText,len(@pText) - 7 )
   if substring( @pText,1,7 ) = N'update '
       select @pText = N'UPDATE ' + right( @pText,len(@pText) - 7 )
   if substring( @pText,1,12 ) = N'delete from '
       select @pText = N'DELETE FROM ' + right( @pText,len(@pText) - 12 )
   if substring( @pText,1,7 ) = N'delete '
       select @pText = N'DELETE ' + right( @pText,len(@pText) - 7 )
   ----------------------------------------------------------
   -- delete some stuff we don't need:
   select @pText = replace( @pText,N'TOP      1',N'TOP 1' )
   select @pText = replace( @pText,N' AS c',N'' )
   select @pText = replace( @pText,@crlf,N' ' )
   select @pText = replace( @pText,N'  UNION ALL  ',N' UNION ALL ' )
   -- finally delete the crlf/* R3 comment and anything after it
   if patindex( N'%/* R3:%',@pText ) > 0
   begin
      select @pText = left( @pText,
                patindex( N'%/* R3:%',@pText ) - 3 )
   end
--
--  adjust if unicode string
--
  select @textchar = SUBSTRING(text,@startOff,1)
           from sys.dm_exec_sql_text(@sqlHandle)
  if @textchar = N'S' or
     @textchar = N's' or
     @textchar = N'I' or
     @textchar = N'i' or
     @textchar = N'U' or
     @textchar = N'u' or
     @textchar = N'D' or
     @textchar = N'd' or
     @textchar = N'C' or
     @textchar = N'c'
     select @startOff = @startOff - 1
  select @startOff = @startOff * 2
  --select @textchar,@startOff, @sqlHandle, @pText
  select @pText, @startOff
END
 
GO
