USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_coll_tabsizes]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sap_coll_tabsizes]
  @baseline   char(1)    -- ' ' | 'X'
AS
BEGIN
  SET NOCOUNT ON
  DECLARE @data    nvarchar(22)
  DECLARE @cmd     nvarchar(4000)
  /*--- Select all non-zero size indexes -----------------------------*/
  select object_schema_name([object_id])             AS [SCHEMA]       ,
         object_name([object_id])                    AS [TABLENAME]    ,
         (select name from sys.indexes
            where [object_id] = a.[object_id]
              and [index_id]  = a.[index_id])        AS [INDEXNAME]    ,
         sum(used_page_count) * 8                    AS  USED_KB       ,
         sum(reserved_page_count) * 8                AS  RESERVED_KB   ,
         sum(row_count)                              AS  ROW_COUNT     ,
         (sum(used_page_count) * 8 -
          (select USED_KB from sap_tsize_sample
            where [object_id] = a.[object_id]
              and [index_id]  = a.[index_id]))       AS  DELTA_USED    ,
         (sum(reserved_page_count) * 8 -
          (select RESERVED_KB from sap_tsize_sample
            where [object_id] = a.[object_id]
              and [index_id]  = a.[index_id]))       AS DELTA_RESERVED ,
         (sum(row_count) -
          (select ROW_COUNT from sap_tsize_sample
            where [object_id] = a.[object_id]
              and [index_id]  = a.[index_id]))       AS DELTA_ROW_COUNT,
         CONVERT(varchar(22),
                 stats_date([object_id],[index_id]),
                 120)                                AS [STATS_DATE]
    from sys.dm_db_partition_stats a
    group by [object_id],[index_id]
    having sum(reserved_page_count) > 8 -- list only indexes spanning
                                        -- more than one extent
  /*--- Reset baseline -----------------------------------------------*/
  IF ( @baseline = 'X' )
  BEGIN
    SET @cmd = 'TRUNCATE TABLE ' + OBJECT_SCHEMA_NAME(@@PROCID) +
               '.sap_tsize_sample ; ' +
               'UPDATE STATISTICS ' + OBJECT_SCHEMA_NAME(@@PROCID) +
               '.sap_tsize_sample ;'
    exec sp_executesql @cmd
    SET @data = CONVERT(nvarchar(22),getutcdate(),120)
    INSERT INTO sap_tsize_sample
      select [object_id],
             [index_id] ,
             sum(used_page_count) * 8 AS USED_KB,
             sum(reserved_page_count) * 8 AS RESERVED_KB,
             sum(row_count) AS ROW_COUNT
        from sys.dm_db_partition_stats
        group by [object_id],[index_id]
        having sum(reserved_page_count) > 0
    /*--- Store timestamp --------------------------------------------*/
    SET @cmd = OBJECT_SCHEMA_NAME(@@PROCID) + '.sap_set_para'
    EXECUTE @cmd @area   = 'DBH' ,
                 @key    = 'TabsizeTime' ,
                 @value  = @data ,
                 @output = ' '
  END
END
 
GO
