USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sheets]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_sheets]
as
begin
  set nocount on
  declare @sheets table (
    sheet_name   nvarchar(128),
    sheet_desc   nvarchar(100)
  )
  -- Performance Overview
  insert into @sheets values
    ('st04_data','ST04 Overview Data')
  insert into @sheets values
    ('top20_stmts',
         'Top 20 most expensive queries')
  insert into @sheets values
    ('io_perf',
         'I/O Performance')
  insert into @sheets values
    ('wait_evt',
         'Wait Events')
  insert into @sheets values
    ('memusage',
         'Top N largest objects in cache')
  -- Space Overview
  insert into @sheets values
    ('db02_data',
         'DB02 Overview Data')
  insert into @sheets values
    ('toplarge',
         'Top 100 largest tables')
  -- Space History
  insert into @sheets values
    ('dbfile_szhist',
         'Database and file size history')
  insert into @sheets values
    ('topgrowing',
         'Top 100 fastest growing tables')
  insert into @sheets values
    ('topszhist',
         'Size history for the fastest growing tables')
  -- Configuration Data
  insert into @sheets values
    ('config',
         'Configuration Overview')
  insert into @sheets values
    ('serverconfig',
         'Server Configuration')
  insert into @sheets values
    ('dbconfig',
         'Database Configuration')
  -- Alerts and diagnostics
  insert into @sheets values
    ('setupchk',
         'SQL Server Setup Check')
  insert into @sheets values
    ('errorlog',
         'Error Log')
  -- DB Collector Data
  insert into @sheets values
    ('dbcoll48',
         'DB Collector. Last 48 hours')
  insert into @sheets values
    ('dbcoll7',
         'DB Collector. Last 7 days every 2 hours')
  insert into @sheets values
    ('dbcoll30',
         'DB Collector. Last 30 days every 4 hours')
  select * from @sheets
end
 
GO
