USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFITMGRD]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFITMGRD] AS
SELECT CODCOLIGADA,CODGRD,CODITMGRD,DESCRICAO,INATIVO,GETDATE() AS DTHRATUALIZACAO 
FROM   TITMGRD
GO
