USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[pressao2]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[pressao2] as select CODEXAME,CODPESSOA, DATAEXAME, EX.CODCOLIGADA, IDCONSULTA, EX.VALTEXTO from  VEXAMESPRONTINFCLINICA EX JOIN VINFCLINICA INF ON EX.CODCOLIGADA=INF.CODCOLIGADA  AND EX.CODTPINFCLINICA=INF.CODTPINFCLINICA WHERE EX.CODTPINFCLINICA  = '02'
GO
