USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_coll_changes]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_coll_changes]
  @cclass      char(1)  = 'C' ,          -- see sap_perfcntr
  @FROM_TIME   datetime = '2000-01-01' ,
  @UNTIL_TIME  datetime = '2099-12-31'
AS
  SET NOCOUNT ON
  DECLARE  @counter_id   int
  DECLARE  @inst_name    nvarchar(256)
  DECLARE  @from_id      int
  DECLARE  @to_id        int
  /*--- Table variables ---------------------------------------------*/
  declare @perfcntr TABLE (
      counter_id    int            NOT NULL ,
      obj_name      nvarchar(128)  NOT NULL ,
      cntr_name     nvarchar(128)  NOT NULL ,
      visible       varchar(32)    NOT NULL )
  CREATE TABLE #perfinfo
    ( sample_id   int ,
      counter_id  int ,
      inst_name   nvarchar(256) collate database_default,
      cntr_value  bigint )
/*--- Overall list of performance counters --------------------------*/
  INSERT INTO @perfcntr
    SELECT counter_id, obj_name, cntr_name, accumulat
      FROM sap_perfcntr
      WHERE counter_id < 10000 and visible like '%' + @cclass + '%'
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      INSERT INTO @perfcntr
        SELECT counter_id, obj_name, cntr_name, visible
          FROM sap_clr_createcntr()
          WHERE counter_id < 10000 and visible like '%' + @cclass + '%'
    END
  DECLARE cntr CURSOR FAST_FORWARD FOR
    SELECT DISTINCT V.counter_id, V.inst_name, V.from_id, V.to_id
      FROM sap_perfvali V, #perfinfo P
        WHERE V.counter_id = P.counter_id
          AND V.inst_name  = P.inst_name
      ORDER BY V.counter_id, V.inst_name
  INSERT INTO #perfinfo
    SELECT MAX(sample_id), counter_id, inst_name, 0
      FROM sap_perfinfo
      WHERE counter_id IN ( SELECT counter_id FROM @perfcntr )
        AND sample_id  <= ( SELECT TOP 1 sample_id FROM sap_perfsample
                              WHERE startat < @FROM_TIME
                              ORDER BY sample_id DESC )
        AND resi_flag = 0
      GROUP BY counter_id, inst_name
  UPDATE #perfinfo
    SET cntr_value = b.cntr_value
    FROM #perfinfo a, sap_perfinfo b
    WHERE a.sample_id  = b.sample_id
      AND a.counter_id = b.counter_id
      AND a.inst_name  = b.inst_name
      AND b.resi_flag  = 0
  INSERT INTO #perfinfo
    SELECT sample_id, counter_id, inst_name, cntr_value
      FROM sap_perfinfo
      WHERE counter_id IN ( SELECT counter_id FROM @perfcntr )
        AND sample_id  IN ( SELECT sample_id FROM sap_perfsample
                              WHERE startat >= @FROM_TIME
                                AND startat <= @UNTIL_TIME )
        AND resi_flag = 0
  OPEN cntr
  FETCH NEXT FROM cntr INTO @counter_id, @inst_name, @from_id, @to_id
  WHILE @@FETCH_STATUS = 0
    BEGIN
      DELETE FROM #perfinfo FROM #perfinfo a
        WHERE a.counter_id = @counter_id
          AND a.inst_name  = @inst_name
          AND a.sample_id  =
            ( SELECT TOP 1 sample_id FROM #perfinfo b
                WHERE b.counter_id  = @counter_id
                  AND b.inst_name   = @inst_name
                  AND b.sample_id  >= @from_id
                  AND b.sample_id  <= @to_id
                ORDER BY b.sample_id ASC )
      FETCH NEXT FROM cntr
        INTO @counter_id, @inst_name, @from_id, @to_id
    END
  CLOSE cntr
  DEALLOCATE cntr
-- Return result set
  SELECT a.startat AS TIMESTMP ,
         b.obj_name ,
         b.cntr_name ,
         c.inst_name AS INST_NAME ,
         c.cntr_value AS CNTR_VALUE ,
         cast(c.cntr_value AS float) AS SLOPE
    FROM sap_perfsample a, @perfcntr b, #perfinfo c
    WHERE a.sample_id  = c.sample_id
      AND b.counter_id = c.counter_id
    ORDER BY a.startat, b.obj_name, b.cntr_name, c.inst_name
 
GO
