USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_SAP_PONTO_ELETRONICO]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[SP_SAP_PONTO_ELETRONICO]
( @CPF         VARCHAR(11)
, @DATA        DATETIME
, @BATIDA      VARCHAR(04)
, @NATUREZA    INT
, @NRMACRO     INT
, @CDEQP       VARCHAR(10)
)
AS
BEGIN 
  DECLARE @CHAPA       VARCHAR(09)
  DECLARE @CHAPA15     VARCHAR(15)
  DECLARE @COLIGADA    INTEGER
  DECLARE @DATASISTEMA DATETIME
  DECLARE @HRBatida    INTEGER 
  DECLARE @HRFim       INTEGER   

  SET @DATASISTEMA = CONVERT(VARCHAR(8), GETDATE(), 112)
  
  SET @HRBatida = CAST(ROUND(SUBSTRING ( @BATIDA  ,1 , 2 ) * 60, 0) AS INT) + 
				  SUBSTRING (@BATIDA  ,3 , 2 ) 
                  
  SET @HRFim    = CAST(ROUND(SUBSTRING ( @BATIDA  ,1 , 2 ) * 60, 0) AS INT) + 
					 SUBSTRING (@BATIDA  ,3 , 2 )                    
                    
  SELECT @CHAPA    = F.CHAPA,
		 @COLIGADA = F.CODCOLIGADA
	FROM PPESSOA P
		 INNER JOIN PFUNC F ON P.CODIGO = F.CODPESSOA
   WHERE P.CPF          = @CPF
	 AND F.CODSITUACAO <> 'D'  	    

  
  SET @CHAPA15  = (SELECT DISTINCT REPLICATE(0, 15 - LEN(@CHAPA)) + @CHAPA)   
  
  --SELECT @cHAPA

  --esse IF valida se o colaborador que está no FORPONTO é ISENTO (DFFUNCLASSE = 'N'). Se for isento, vai para o CHRONUS.
  IF NOT EXISTS( SELECT 1 FROM FORPONTO.FORPONTO.FORPONTO.PFUNFPTO WHERE DFFUNCRACHA = @CHAPA15 AND DFFUNCLASSE = 'N')
  BEGIN                    
	  IF @NRMACRO = '1' OR @NRMACRO = '2' OR @NRMACRO = '3' OR @NRMACRO = '10'
	  BEGIN 
		  -- Insere os registros de batidas
		  INSERT AJORNADACALCULADA
		  SELECT CODCOLIGADA                   = F.CODCOLIGADA 
			   , CHAPA                         = F.CHAPA
			   , DATAREFERENCIA                = @DATA
			   , IDJORNADA                     = 1
			   , OCORRENCIACRITICADA           = 0
			   , CODUSUARIOOCORRENCIACRITICADA = NULL
			   , MEMORIACALCULO                = NULL
			   , RECCREATEDBY                  = 'SAPUSER'
			   , RECCREATEDON                  = GETDATE()
			   , RECMODIFIEDBY                 = 'SAPUSER'
			   , RECMODIFIEDON                 = GETDATE()
			   , REFERENCIABATIDAALTERADA      = '0'
			FROM PPESSOA P
				 INNER JOIN PFUNC F ON P.CODIGO = F.CODPESSOA
		   WHERE F.CODCOLIGADA = @COLIGADA
			 AND P.CPF         = @CPF
			 AND F.CODSITUACAO <> 'D'  
			 AND NOT EXISTS ( SELECT 1 
								FROM AJORNADACALCULADA A
									 INNER JOIN PFUNC F   ON A.CODCOLIGADA = F.CODCOLIGADA
														 AND A.CHAPA       = F.CHAPA
									 INNER JOIN PPESSOA P ON P.CODIGO      = F.CODPESSOA 
							   WHERE P.CPF          = @CPF
								 AND A.CODCOLIGADA  = @COLIGADA
								 AND F.CODSITUACAO  <> 'D'
								 AND A.CHAPA        = F.CHAPA
								 AND A.DATAREFERENCIA = @DATA
								 AND IDJORNADA      = 1
							)
		  
		  INSERT ABATFUN
		  SELECT CODCOLIGADA    = F.CODCOLIGADA
			   , CHAPA          = F.CHAPA
			   , DATA           = @DATA
			   , BATIDA         = @HRBatida
			   , STATUS         = 'C'
			   , NATUREZA       = @NATUREZA
			   , CODIGOTERMCOL  = NULL
			   , DATAINSERCAO   = @DATA --GETDATE()
			   , DATAAPROV      = NULL
			   , COLIGADARESP   = NULL
			   , CHAPARESP      = NULL
			   , DATAREFERENCIA = @DATA --@DATASISTEMA --08/01 GERMANO - COLOQUEI PARA TESTAR O PROCESSO
			   , IDJORNADA      = 1
			   , IDAAFDT        = NULL
			   , RECCREATEDBY   = 'SAPUSER'
			   , RECCREATEDON   = GETDATE()
			   , RECMODIFIEDBY  = NULL
			   , RECMODIFIEDON  = NULL
			   , TIPOBATIDA     = NULL
			   , NATUREZAALTERADA = NULL
			   , IDAPORTARIA373 = NULL
			FROM PPESSOA P
				 INNER JOIN PFUNC F ON P.CODIGO      = F.CODPESSOA
		   WHERE F.CODCOLIGADA = @COLIGADA
			 AND P.CPF         = @CPF
			 AND F.CODSITUACAO <> 'D'
			 AND NOT EXISTS ( SELECT 1 
								FROM ABATFUN A
									 INNER JOIN PFUNC F   ON A.CODCOLIGADA = F.CODCOLIGADA
														 AND A.CHAPA       = F.CHAPA
									 INNER JOIN PPESSOA P ON P.CODIGO      = F.CODPESSOA 
							   WHERE P.CPF          = @CPF
								 AND A.CODCOLIGADA  = @COLIGADA
								 AND F.CODSITUACAO  <> 'D'
								 AND A.CHAPA        = F.CHAPA
								 AND A.DATA         = @DATA
								 AND A.BATIDA       = @HRBatida
								 AND A.IDJORNADA    = 1
							)     
	 END

	-- Tabela com hora de espera, só deve executar com as macros 5 e 55
	/*
	 IF @NRMACRO = '5' OR  @NRMACRO = '55'
	  BEGIN 
	  IF @NRMACRO = '5'
	   BEGIN
		INSERT AEESPFUN
		  SELECT CODCOLIGADA                   = F.CODCOLIGADA 
			   , CHAPA                         = F.CHAPA
			   , DATA                          = @DATA
			   , HORAINICIO                    = @HRBatida
			   , HORAFIM                       = @HRFim
			   , RECCREATEDBY                  = 'SAPUSER'
			   , RECCREATEDON                  = GETDATE()
			   , RECMODIFIEDBY                 = 'SAPUSER'
			   , RECMODIFIEDON                 = GETDATE()
			FROM PPESSOA P
				 INNER JOIN PFUNC F ON P.CODIGO = F.CODPESSOA
		   WHERE F.CODCOLIGADA = 1
			 AND P.CPF         = @CPF
			 AND F.CODSITUACAO = 'A'  
			 AND NOT EXISTS ( SELECT 1 
								FROM AEESPFUN A
									 INNER JOIN PFUNC F   ON A.CODCOLIGADA = F.CODCOLIGADA
														 AND A.CHAPA       = F.CHAPA
									 INNER JOIN PPESSOA P ON P.CODIGO      = F.CODPESSOA 
							   WHERE P.CPF          = @CPF
								 AND A.CODCOLIGADA  = 1
								 AND F.CODSITUACAO  = 'A'
								 AND A.CHAPA        = F.CHAPA
								 AND DATA           = @DATA
								 AND HORAINICIO     = @HRBatida
							)
		 END	
		 				
		 IF @NRMACRO = '55'
		  BEGIN 
		   UPDATE AEESPFUN
			  SET HORAFIM     = @HRFim
			WHERE CODCOLIGADA = 1
	 		  AND CHAPA       = @CHAPA     
	 		  AND HORAINICIO  = AEESPFUN.HORAFIM 
		  END						
	  END						
	  */
  END
  

--Se ele não for isento (ATIVO NO FORPONTO), é chamado a PROC para o FORPONTO, pois entende-se que ele é colaborador onde
-- as batidas vão para o mesmo
-- Insere a batida do PontoSecullum no Forponto
  EXEC SP_SAP_PONTO_ELETRONICO_FORPONTO @CHAPA, @DATA, @BATIDA, @CDEQP
END 







GO
