USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_para_mutex]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_para_mutex]
    @area       nvarchar(255)  ,
    @key        nvarchar(255)  ,
    @permit     nvarchar(1024) ,
    @value      nvarchar(255)
AS
  SET NOCOUNT ON
  DECLARE  @oldval  nvarchar(255)
  DECLARE  @retval  nvarchar(255)
  SET @permit = '  ' + @permit + '  '
  SET @oldval = ( select [value] from sap_mon_para
                    with (ROWLOCK, UPDLOCK)
                    where [area] = @area and [key] = @key )
  IF ( @oldval IS NULL )
    BEGIN
      INSERT INTO sap_mon_para
        ([area],[key],[value],[default])
        VALUES
        (@area, @key, @value, '')
      SET @retval = @value
    END
  ELSE
    BEGIN
      SET @oldval = '% ' + @oldval + ' %'
      IF ( PATINDEX(@oldval,@permit) <> 0 )
        BEGIN
          UPDATE sap_mon_para SET [value] = @value
            WHERE [area] = @area AND [key] = @key
          SET @retval = @value
        END
      ELSE
        BEGIN
          SET @retval = ' '
        END
    END
  SELECT @retval AS RESULT
 
GO
