USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_drop_job]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************/
/* sap_drop_job                                                 */
/*                                                              */
/*                                                              */
/* 02/14/2005        ADD @delflag parameter. Delete one time    */
/*                   occuring job instead of disabling   -RR    */
/****************************************************************/
create procedure [dbo].[sap_drop_job] @jobname varchar(255),
                              @delflag int = 1
as
begin
declare @cmd1 varchar(300)
declare @rc smallint
declare @taskid varbinary(16)
if (exists (select job_id from msdb..sysjobs where name =
        @jobname))
  begin
    if @delflag = 0
      begin
       select @cmd1 = 'msdb..sp_update_job @job_name = ''' +
            @jobname + '''' + ', @enabled = 0'
       exec (@cmd1)
       select @rc = @@error
      end
    else
      begin
       select @cmd1 = 'msdb..sp_delete_job @job_name = ''' +
            @jobname + ''''
       exec (@cmd1)
       select @rc = @@error
      end
  end
else
    select @rc = -1
select @rc
end
 
GO
