USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSPROCEXCCOMPATIBILIDADE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSPROCEXCCOMPATIBILIDADE]
AS
  SELECT CODCOLIGADA,
         CO_PROCEDIMENTO_RESTRICAO  CODPROCRESTR,
         CO_PROCEDIMENTO_PRINCIPAL  CODPROCPRINC,
         CO_REGISTRO_PRINCIPAL      CODREGPRINC,
         CO_PROCEDIMENTO_COMPATIVEL CODPROCSEC,
         CO_REGISTRO_COMPATIVEL     CODREGSEC,
         TP_COMPATIBILIDADE         TIPO,
         DT_COMPETENCIA             CMPTINI,
         NULL                       CMPTFIM
  FROM   GCOLIGADA,
         SZSUSTUEXCCOMPATIBILIDADE
GO
