USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[GVDICIONARIOCOLUNAS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GVDICIONARIOCOLUNAS] AS
SELECT CONVERT(VARCHAR,SUBSTRING (TABLE_NAME,1,40)) COLLATE SQL_LATIN1_GENERAL_CP1_CI_AI AS TABELA, CONVERT(VARCHAR,SUBSTRING (COLUMN_NAME,1,40)) COLLATE SQL_LATIN1_GENERAL_CP1_CI_AI AS COLUNA, IS_NULLABLE NULLABLE,
      CASE DATA_TYPE
            WHEN 'VARCHAR' THEN CONVERT(VARCHAR,'VARCHAR(' + CONVERT(VARCHAR,CHARACTER_MAXIMUM_LENGTH) + ')')
            WHEN 'CHAR' THEN CONVERT(VARCHAR,'CHAR(' + CONVERT(VARCHAR,CHARACTER_MAXIMUM_LENGTH) + ')')
            ELSE CONVERT(VARCHAR,SUBSTRING(DATA_TYPE,1,25))
      END COLLATE SQL_LATIN1_GENERAL_CP1_CI_AI  AS TIPO, GDIC.DESCRICAO, C.ORDINAL_POSITION AS POSICAO
FROM INFORMATION_SCHEMA.COLUMNS C, GDIC
WHERE GDIC.TABELA COLLATE SQL_LATIN1_GENERAL_CP1_CI_AI = C.TABLE_NAME COLLATE SQL_LATIN1_GENERAL_CP1_CI_AI
AND GDIC.COLUNA COLLATE SQL_LATIN1_GENERAL_CP1_CI_AI = C.COLUMN_NAME COLLATE SQL_LATIN1_GENERAL_CP1_CI_AI
GO
