USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFGRD]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFGRD] AS
SELECT CODCOLIGADA,CODGRD,DESCRICAO,GETDATE() AS DTHRATUALIZACAO 
FROM TGRD
GO
