USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_PROGRAMASAUDE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[VW_PROGRAMASAUDE] as 

select	 [Identificador]= saude.id
		,[ProgramaCod]	= saude.programa
		,[ProgramaDesc]	= prog.descricao
		,[Nome]			= saude.nome
		,[Titularidade]	= saude.titularidade
		,[Chapa]		= CONCAT(REPLICATE('0', 9 - LEN(saude.chapa)), saude.chapa)
		,[Titular]		= saude.nometitular
		,[StatusCod]	= saude.status
		,[StatusDesc]	= stat.descricao
		,[Inicio]		= saude.datainicio
		,[Fim]			= saude.datafim
		,[Observação]	= saude.observação
		,[Criado em]    = saude.RECCREATEDON
		,[Modificado em]= CASE 
	        				  WHEN saude.RECMODIFIEDON IS NULL THEN saude.RECCREATEDON
	        				  ELSE saude.RECMODIFIEDON
    					  END

 from	zmdprogsaude saude
  join	gconsist stat
   on	stat.codcliente = saude.status
    and	stat.codtabela = 'vStatus'
  join	gconsist prog
   on	prog.codcliente = saude.programa
    and	prog.codtabela = 'vPrograma';
GO
