USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_print]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_print]
    @input  varchar(7168)
as
begin
    declare @dummy  int
    select @dummy = 0
    /*
    print @input
    */
end
 
GO
