USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZRESPARLAYOUTTOTVS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZRESPARLAYOUTTOTVS] AS
SELECT
	SZEXAMELAYOUTTOTVS.CODCOLIGADA,
	SZRESULTLAYOUTTOTVS.ID IDRESULTADO,
	SZEXAMELAYOUTTOTVS.ORDEMSERVICO,
	vwPEDIDOEXAME.CODPACIENTE,
	SZEXAMELAYOUTTOTVS.CODEXAME,
	SZEXAMELAYOUTTOTVS.SEQEXAME,
	SZLABEXAME.DESCEXAME,
	0 CODMETODO,
	SZRESULTLAYOUTTOTVS.CODPARAMETRO,
	SZRESULTLAYOUTTOTVS.DESCPARAMETRO,
	'-' UNIDADE,
	SZRESULTLAYOUTTOTVS.UNDMEDIDA DESCUNIDADE,
	'F'	SUBTITULO,
	''	RESULTPADRAO,
	'F'	UTILIZATEXTO,
	0	ORDEMIMPRESSAO,
	0	PERCPARAMETRO,
	'F'	ESPACO,
	''	EXPRESSAO,
	0 	CASASDECIMAIS,
	SZRESULTLAYOUTTOTVS.RESULTADO,
	SZRESULTLAYOUTTOTVS.PANICO
FROM
	SZEXAMELAYOUTTOTVS WITH (NOLOCK)
INNER JOIN
	vwPEDIDOEXAME WITH (NOLOCK)
ON
	SZEXAMELAYOUTTOTVS.CODCOLIGADA = vwPEDIDOEXAME.CODCOLIGADA
	AND SZEXAMELAYOUTTOTVS.ORDEMSERVICO = vwPEDIDOEXAME.ORDEMSERVICO
INNER JOIN
	SZLABEXAME WITH (NOLOCK)
ON
	SZEXAMELAYOUTTOTVS.CODCOLIGADA = SZLABEXAME.CODCOLIGADA
	AND SZEXAMELAYOUTTOTVS.CODEXAME = SZLABEXAME.CODEXAME
INNER JOIN
	SZRESULTLAYOUTTOTVS WITH (NOLOCK)
ON
	SZEXAMELAYOUTTOTVS.IDEXAME = SZRESULTLAYOUTTOTVS.IDEXAME
GO
