USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_sqlagt_proplist]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[sap_get_sqlagt_proplist]
as
begin
  set nocount on
  create table #outlist
  ( prop_name sysname,
    prop_value nvarchar(128) )
  create table #sqlagtprops
  ( auto_start                int,
    msx_server_name           nvarchar(30) NULL,
    sqlagent_type             int,
    startup_account           nvarchar(102) NULL ,
    sqlserver_restart         int,
    jobhistory_max_rows       int,
    jobhist_max_rows_per_job  int,
    errorlog_file             sysname NULL,
    errorlogging_level        int,
    error_recipient           nvarchar(30) NULL,
    monitor_autostart         int,
    local_host_server         nvarchar(30) NULL,
    job_shutdown_timeout      int,
    cmdexec_account           sysname NULL,
    regular_connections       int,
    host_login_name           sysname NULL,
    host_login_password       sysname NULL,
    login_timeout             int,
    idle_cpu_percent          int,
    idle_cpu_duration         int,
    oem_errorlog              int,
    sysadmin_only             int,
    email_profile             sysname NULL,
    email_save_in_sent_folder int,
    cpu_poller_enabled        int,
    alert_rep_runtime_tokens  int
  )
--execute msdb stored procedures.
  insert #sqlagtprops
    exec msdb..sp_get_sqlagent_properties
  insert into #outlist
    select 'auto_start',auto_start from #sqlagtprops
  insert into #outlist
    select 'msx_server_name',msx_server_name from #sqlagtprops
  insert into #outlist
    select 'sqlagent_type',sqlagent_type from #sqlagtprops
  insert into #outlist
    select 'startup_account',startup_account from #sqlagtprops
  insert into #outlist
    select 'sqlserver_restart',sqlserver_restart from #sqlagtprops
  insert into #outlist
    select 'jobhistory_max_rows',jobhistory_max_rows from #sqlagtprops
  insert into #outlist
    select 'jobhist_max_rows_per_job',jobhist_max_rows_per_job from #sqlagtprops
  insert into #outlist
    select 'errorlog_file',errorlog_file from #sqlagtprops
  insert into #outlist
    select 'errorlogging_level',errorlogging_level from #sqlagtprops
  insert into #outlist
    select 'error_recipient',error_recipient from #sqlagtprops
  insert into #outlist
    select 'monitor_autostart',monitor_autostart from #sqlagtprops
  insert into #outlist
    select 'local_host_server',local_host_server from #sqlagtprops
  insert into #outlist
    select 'job_shutdown_timeout',job_shutdown_timeout from #sqlagtprops
  insert into #outlist
    select 'cmdexec_account',cmdexec_account from #sqlagtprops
  insert into #outlist
    select 'regular_connections',regular_connections from #sqlagtprops
  insert into #outlist
    select 'host_login_name',host_login_name from #sqlagtprops
  insert into #outlist
    select 'host_login_password',host_login_password from #sqlagtprops
  insert into #outlist
    select 'login_timeout',login_timeout from #sqlagtprops
  insert into #outlist
    select 'idle_cpu_percent',idle_cpu_percent from #sqlagtprops
  insert into #outlist
    select 'idle_cpu_duration',idle_cpu_duration from #sqlagtprops
  insert into #outlist
    select 'oem_errorlog',oem_errorlog from #sqlagtprops
  insert into #outlist
    select 'sysadmin_only',sysadmin_only from #sqlagtprops
  insert into #outlist
    select 'email_profile',email_profile from #sqlagtprops
  insert into #outlist
    select 'email_save_in_sent_folder',email_save_in_sent_folder
           from #sqlagtprops
  insert into #outlist
    select 'cpu_poller_enabled',cpu_poller_enabled from #sqlagtprops
  insert into #outlist
    select 'alert_rep_runtime_tokens',alert_rep_runtime_tokens from #sqlagtprops
  select * from #outlist
end
 
GO
