USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_memusage]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_memusage]
  @top int = 50  -- number of entries to display
as
BEGIN
  set nocount on
  declare @mask bigint
  set @mask = cast(256 as bigint) * 256 * 256 * 256 * 256 * 256
  declare @resi table ( dbid        int     ,
                        dbname      sysname NULL,
                        sch         sysname ,
                        obj_name    sysname ,
                        pages       bigint  ,
                        row_count   bigint  ,
                        free_bytes  bigint  ,
                        all_unit    bigint )
  declare curs cursor for
    select dbid, all_unit from @resi
      for update of sch,obj_name
  declare @dbid        int
  declare @all_unit    bigint
  declare @masked_unit bigint
  declare @stmt        nvarchar(1024)
  declare @dbname      sysname
  declare @objname     sysname
  declare @sch         sysname
  insert into @resi
    select database_id,
           db_name(database_id),
           N' ',N' ',
           count(*),
           sum(row_count),
           sum(free_space_in_bytes),
           allocation_unit_id
      from sys.dm_os_buffer_descriptors
        where -- HAS_DBACCESS(db_name(database_id)) = 1 and
            database_id <> 32767
        group by database_id, allocation_unit_id
        order by database_id
  open curs
  fetch curs into @dbid, @all_unit
  while ( @@fetch_status = 0 )
    begin
      set @objname = ' '
      set @sch = ' '
      set @dbname = db_name(@dbid)
      set @stmt =
      'use [' + @dbname + '] ' +
      'select @name = o.name,@sch = schema_name(o.schema_id) from ' +
                  'sys.partitions p,' +
                  'sys.allocation_units a,' +
                  'sys.objects o where ' +
                  'a.allocation_unit_id = @auid and ' +
                  '( a.container_id = p.partition_id or ' +
                  '  a.container_id = p.hobt_id ) and ' +
                  'p.object_id = o.object_id'
	
	    if HAS_DBACCESS(db_name(@dbid)) = 1
        exec sp_executesql @stmt ,
          N'@auid bigint,@sch sysname OUTPUT,@name sysname OUTPUT' ,
            @auid = @all_unit ,
            @sch = @sch OUTPUT,
            @name = @objname OUTPUT
      if ( @objname = ' ' )
        begin
          set @masked_unit = @all_unit ^ @mask
          if HAS_DBACCESS(db_name(@dbid)) = 1
            exec sp_executesql @stmt ,
              N'@auid bigint,@sch sysname OUTPUT,@name sysname OUTPUT' ,
                @auid = @masked_unit ,
                @sch = @sch OUTPUT,
                @name = @objname OUTPUT
          --if ( @objname = ' ' )
          --  set @objname = '*** Metadata ***'
        end
      update @resi set obj_name = @objname,sch = @sch
        where current of curs
	
      fetch curs into @dbid, @all_unit
    end
  close curs
  deallocate curs
  select top(@top)
         dbname as database_name,
         sch as [schema_name],
         obj_name,
         sum(pages) as nr_of_pages,
         sum(pages) * 8 as k,
         -- sum(row_count) as row_count,  -- Not useful information (includes
                                          -- index rows.
         sum(free_bytes) / 1024 as free_k,
         convert(decimal(4,2),
           (sum(free_bytes) / 1024) / convert(decimal(15,2),sum(pages)))
             as average_free_k_per_page
    from @resi
    --where obj_name <> ' '
    group by dbid, dbname, sch, obj_name
    order by sum(pages) desc
END
 
GO
