USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_singlejob]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_singlejob] @jobname nvarchar(100)
as
begin
/****************************************************************/
  set nocount on
  select top 1 sj.name,
       owner = suser_sname(sj.owner_sid),
       sjsteps.database_name,
       subsystem = convert(varchar(60),sjsteps.subsystem),
       command = convert(varchar(520), sjsteps.command),
       sjsched.active_start_date,
       active_start_time = case
         when sjsched.active_start_time = 0 then null
         when sjsched.active_start_time < 100000 then
                  '0' + convert(varchar,sjsched.active_start_time)
         else convert(varchar,sjsched.active_start_time)
       end,
       run_status = ISNULL(sjhist.run_status,999),
       sjsteps.last_run_date,
       last_run_time = case
         when sjsteps.last_run_time = 0 then null
         when sjsteps.last_run_time < 100000 then
                   '0' + convert(varchar,sjsteps.last_run_time)
         else convert(varchar,sjsteps.last_run_time)
       end,
       next_run_time = case
         when oldsched.next_run_time = 0 then null
         when oldsched.next_run_time < 100000 then
                   '0' + convert(varchar,oldsched.next_run_time)
         else convert(varchar,oldsched.next_run_time)
       end,
       next_run_date = case
         when oldsched.next_run_date = 0 then null
         else oldsched.next_run_date
       end,
       job_id = convert(varbinary,sj.job_id),
       sj.enabled,
       status_desc = case
         when sjhist.run_status IS NULL then 'Did not run'
         when sjhist.run_status = 0     then 'Failed'
         when sjhist.run_status = 1     then 'Successful'
         when sjhist.run_status = 2     then 'Retry'
       end,
       freq_type = case
         when freq_type is null then null
         when freq_type = 4 then 'D' -- aily
         when freq_type = 8 then 'W' -- eekly
         when freq_type = 16 then 'M' -- onthly
       end,
       weekday = case
         when freq_type = 8 then -- weekly
             case
               when freq_interval = 1 then 1
               when freq_interval = 2 then 2
               when freq_interval = 4 then 3
               when freq_interval = 8 then 4
               when freq_interval = 16 then 5
               when freq_interval = 32 then 6
               when freq_interval = 64 then 7 -- saturday
             end
         when freq_type = 32 then freq_interval -- monthly relative
         else null
       end
  from  msdb..sysjobs as sj with (nolock) join
        msdb..sysjobsteps as sjsteps with (nolock)
     on sj.job_id = sjsteps.job_id
   left outer join
        msdb..sysjobschedules as oldsched with (nolock)
     on sj.job_id = oldsched.job_id
   join
        msdb..sysschedules as sjsched with ( nolock)
     on sjsched.schedule_id = oldsched.schedule_id
   left outer join
        msdb..sysjobhistory as sjhist with (nolock)
     on sjsteps.job_id = sjhist.job_id and
        sjsteps.last_run_date = sjhist.run_date and
        sjsteps.last_run_time = sjhist.run_time and
        sjhist.step_id = 1
  where sj.name = @jobname
 end
 
GO
