USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWRESULTADOEXAMEHPD]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWRESULTADOEXAMEHPD] AS
SELECT
  SZHPDREQUISICAO.CODCOLIGADA
  ,SZHPDRESULTADOSUPEREXAME.MATERIALNOME
  ,SZHPDRESULTADOSUPEREXAME.NOMEEXAME
  ,SZHPDRESULTADOSUPEREXAME.CODEXMAPOIO
  ,SZHPDRESULTADOSUPEREXAME.MNEXAME
  ,SZHPDRESULTADOSUPEREXAME.SEQUENCIAL
  ,SZHPRESULTADOEXAME.METODO
  ,SZHPDITEMEXAME.IDITEMDEEXAME, SZHPDITEMEXAME.NOMEITEMEXAME
  ,SZHPDRESULTADOITEMEXAME.IDRESULTADO
  ,SZHPDVALOR.VALOR
  ,SZHPDVALOR.CASASDECIMAIS
  ,vwPEDIDOEXAME.CODPACIENTE
  ,SZLOTEPEDIDOITENS.ORDEMSERVICO
  ,SZLABEXAME.CODEXAME
  ,'-' UNIDADE
  ,'F'  SUBTITULO
  ,''  RESULTPADRAO
  ,'F'  UTILIZATEXTO
  ,0  ORDEMIMPRESSAO
  ,0  PERCPARAMETRO
  ,'F'  ESPACO
  ,''  EXPRESSAO
FROM
  SZHPDREQUISICAO (NOLOCK)
INNER JOIN
  SZHPDCONTROLELOTE (NOLOCK)
ON
 SZHPDCONTROLELOTE.IDREQUISICAO = SZHPDREQUISICAO.ID
INNER JOIN
  SZHPDRESULTPEDIDO (NOLOCK)
ON
  SZHPDRESULTPEDIDO.IDHPDREQUISICAO = SZHPDCONTROLELOTE.IDREQUISICAO
INNER JOIN
  SZHPDPERIODO (NOLOCK)
ON
  SZHPDPERIODO.IDHPDCONTROLELOTE = SZHPDCONTROLELOTE.ID
INNER JOIN
  SZHPDRESULTADOSUPEREXAME (NOLOCK)
ON
  SZHPDRESULTADOSUPEREXAME.IDHPDRESULTADOPEDIDO = SZHPDRESULTPEDIDO.ID
INNER JOIN
  SZHPRESULTADOEXAME (NOLOCK)
ON
  SZHPRESULTADOEXAME.IDHPDRESULTADOSUPEREXAME = SZHPDRESULTADOSUPEREXAME.ID
INNER JOIN
  SZHPDITEMEXAME (NOLOCK)
ON
  SZHPDITEMEXAME.IDHPDRESULTADOEXAME = SZHPRESULTADOEXAME.ID
INNER JOIN
  SZHPDRESULTADOITEMEXAME (NOLOCK)
ON
  SZHPDRESULTADOITEMEXAME.IDHPDITEMEXAME = SZHPDITEMEXAME.ID
INNER JOIN
  SZHPDVALOR (NOLOCK)
ON
  SZHPDVALOR.IDHPDRESULTADOITEMEXAME = SZHPDRESULTADOITEMEXAME.ID
INNER JOIN
  SZLOTEPEDIDOS (NOLOCK)
ON
  SZLOTEPEDIDOS.IDLOTEENVIADO = SZHPDREQUISICAO.IDREQUISICAO
INNER JOIN
  SZLOTEPEDIDOITENS (NOLOCK)
ON
  SZLOTEPEDIDOS.CODCOLIGADA = SZLOTEPEDIDOITENS.CODCOLIGADA
AND SZLOTEPEDIDOS.CODLOTE = SZLOTEPEDIDOITENS.CODLOTE
INNER JOIN
  vwPEDIDOEXAME (NOLOCK)
ON
  SZLOTEPEDIDOITENS.CODCOLIGADA = vwPEDIDOEXAME.CODCOLIGADA
AND SZLOTEPEDIDOITENS.ORDEMSERVICO = vwPEDIDOEXAME.ORDEMSERVICO
INNER JOIN
  SZHERMESPARDINIEXAME (NOLOCK)
ON
    SZHERMESPARDINIEXAME.CODCOLIGADA = SZHPDRESULTADOSUPEREXAME.CODCOLIGADA
AND SZHERMESPARDINIEXAME.MNEXAME = SZHPDRESULTADOSUPEREXAME.MNEXAME
INNER JOIN
  SZLABEXAME (NOLOCK)
ON
  SZHERMESPARDINIEXAME.CODCOLIGADA = SZLABEXAME.CODCOLIGADA
AND SZHERMESPARDINIEXAME.CODEXAME = SZLABEXAME.CODEXAME
GO
