USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_CAT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[VW_CAT] AS

select	 [CodOcorrencia]		= cat.codocorrencia
		,[TipoCat]				= concat(cat.tipocat,' - ',tp_cat.descricao)
		,[FonteCad]				= case when cat.fontecadastro = 0 then 'eSocial' else 'CatWeb' end
		,[CatExcluida]			= case when cat.catexcluida is null then null else 'Excluída' end
		,[NumCat]				= cat.numerocat
		,[DataRecebimento]		= cat.dtrecebrecibocat
		,[NumCatOrigem]			= cat.recibocatorigem
		,[Emitente]				= concat(cat.emitente,' - ',emit.descricao)
		,[Inscrição]			= case when cat.emitentetipoinscricao = 1 then 'Fisíca'
									   when cat.emitentetipoinscricao = 2 then 'Jurídica'
									   else null
								  end
		,[CPF/CNPJ]				= cat.emitentecpfcnpj
		,[Iniciativa]			= concat(cat.tipoiniciativa,' - ',inic.descricao)
		,[AcidentadoChapa]		= cat.chapa
		,[AcidentadoNome]		= fun.nome
		,[RegistroINSS]			= cat.registroinss
		,[FiliaçãoPrev]			= concat(cat.filiacaoprevidencia,' - ',fil_prev.descricao)
		,[Data]					= cat.datahora
		,[HorasTrabalhadas]		= dbo.fn_hora(cat.horastrab)
		,[UltimoDiaTrab]		= cat.diasantecedacidente
		,[RegistroPolicial]		= case when cat.regpolicial = 0 then 'Não' else 'Sim' end
		,[Morte]				= case when cat.morte = 0 then 'Não' else 'Sim' end
		,[FonteGerSemEsocial]	= case when cat.codfontegera is null then null else 'Considera' end
		,[CodTipoOcorrencia]	= concat(cat.codtipoocorrencia,' - ',tp_ocor.nome)
		,[CodSitGeradora]		= concat(cat.codsituacaogera,' - ',fonte.nome)
		,[TransfSetor]			= case when cat.houvetransferenciasetor = 0 then 'Não' else 'Sim' end
		,[HouveAfast]			= case when cat.houveafastamento = 0 then 'Não' else 'Sim' end
		,[ParteCorpoAtingida]	= concat(pt_corpo.codnatureza,' - ',v_nat.natureza)
		,[Lateralidade]			= case when pt_corpo.lateralidade = 0 then 'Não aplicável'
									   when pt_corpo.lateralidade = 1 then 'Esquerda'
									   when pt_corpo.lateralidade = 2 then 'Direita'
									   when pt_corpo.lateralidade = 3 then 'Ambas'
								  end
		,[AgenteCausador]		= concat(agente.codfontegera,' - ',ppra_fonte.nome)
		,[DescSitGeradora]		= cat.descricao
		,[LocalAcidenteINSS]	= concat(cat.localacidenteinss,' - ',local_acid.descricao)
		,[EspecLocalAcidente]	= cat.localacidente
		,[TipoLogradouro]		= logr.descricao
		,[Logradouro]			= cat.logradouroacidente
		,[NumLocalAcidente]		= cat.numeroacidente
		,[ComplLocalAcid]		= cat.complogradouroacidente
		,[BairroAcidente]		= cat.bairroacidente
		,[MunicipioAcidente]	= concat(cat.codmunicipioacidente,' - ',mun.nomemunicipio)
		,[CEP]					= cat.ceplocalacidente
		,[UF]					= cat.uflocalacidente
		,[TipoInicrição]		= case when cat.tipoinscricao = 1 then 'CNPJ'
									   when cat.tipoinscricao = 2 then 'CAEPF'
									   when cat.tipoinscricao = 3 then 'CNO'
								  end
		,[NumeroIncrição]		= cat.nroinscricao
		,[UnidAtdtoMedico]		= cat.unidatendimento
		,[CNES]					= cat.cnes
		,[DataAtendimento]		= cat.datamedica
		,[Internação]			= case when cat.internacao = 0 then 'Não' else 'Sim' end
		,[DurProvTratamento]	= cat.duracaotratamento
		,[AfastamentoTratamento]= case when cat.afastamentotratamento = 0 then 'Não' else 'Sim' end
		,[Lesão]				= concat(lesao.codnatureza,' - ',nat_cat.natureza)
		,[CID]					= concat(cat.cid,' - ',vcid.descricaocid)
		,[Diagnóstico]			= cat.diagnostico
		,[DescriçãoComplLesão]	= cat.desccomplesao
		,[Observações]			= cat.observacaomedica
		,[ProfissionalSaude]	= prof_sau.nomeprofissional
		,[RegistroOrgãoClasse]	= prof_sau.numeroregistro
		,[UFOrgãoClasse]		= prof_sau.codufregistro
		,[AtivOcupacional]		= case when cat.ativoocupacional = 1 then 'Sim' else 'Não' end

 from	vocorrencia cat
  join	voctipoesocial tp_cat
   on	tp_cat.codcliente = cat.tipocat
  join	vocemiteesocial emit
   on	emit.codcliente = cat.emitente
  join	vociniciesocial inic
   on	inic.codcliente = cat.tipoiniciativa
  join	pfunc fun
   on	fun.codcoligada = cat.codcoligada
    and	fun.chapa = cat.chapa
  join	gconsist fil_prev
   on	fil_prev.codcliente = cat.filiacaoprevidencia
    and	fil_prev.codtabela = 'CATFILPREV'
  join	vtipoocorrencia tp_ocor
   on	tp_ocor.codcoligada = cat.codcoligada
    and	tp_ocor.codtipoocorrencia = cat.codtipoocorrencia
  join	vpprafontegera fonte
   on	fonte.codfontegera = cat.codsituacaogera
  left join	vocorrenciaparteatingida pt_corpo
   on	pt_corpo.codcoligada = cat.codcoligada
    and	pt_corpo.codocorrencia = cat.codocorrencia
  left join vnatureza v_nat
   on	v_nat.codnatureza = pt_corpo.codnatureza
  left join vocorrenciaagentecausador agente
   on	agente.codcoligada = cat.codcoligada
    and	agente.codocorrencia = cat.codocorrencia
  left join vpprafontegera ppra_fonte
   on	ppra_fonte.codfontegera = agente.codfontegera
  join	vocorlocesocial local_acid
   on	local_acid.codcliente = cat.localacidenteinss
  left join dtiporua logr
   on	logr.codigo = cat.tplogradouroacidente
  left join gmunicipio mun
   on	mun.codmunicipio = cat.codmunicipioacidente
    and	mun.codetdmunicipio = cat.uflocalacidente
  left join vocorrencianaturezamedica lesao
   on	lesao.codcoligada = cat.codcoligada
    and	lesao.codocorrencia = cat.codocorrencia
  left join vnaturezacat nat_cat
   on	nat_cat.codnatureza = lesao.codnatureza
  left join vcid
   on	vcid.cid = cat.cid
  left join vprofissionalsaude prof_sau
   on	prof_sau.codigo = cat.codmedico
GO
