USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcc_useroptions]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcc_useroptions]
AS
  SET NOCOUNT ON
  CREATE TABLE #temp
    ( setOption   nvarchar(142),
      value       nvarchar(46) )
  INSERT #temp
    EXECUTE ('DBCC USEROPTIONS with NO_INFOMSGS')
  SELECT convert(nvarchar(40) , setOption) as SetOption,value FROM #temp
  DROP TABLE #temp
 
GO
