USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_depends]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_depends]
  @schema sysname = 'dbo',
  @spname sysname = null,
  @tabname sysname = null
AS
BEGIN
   if @spname is not null
      select distinct( so2.name )
         from sysdepends sd,
              sysobjects so1,  -- proc
              sysobjects so2  -- tab
            where sd.id = so1.id and
                  sd.depid = so2.id and
                  so1.id = object_id(@schema+'.'+@spname) and
                  so2.id = object_id(@schema+'.'+so2.name,'U')
   else
      select distinct( so2.name )
         from sysdepends sd,
              sysobjects so1,  -- tab
              sysobjects so2  -- proc
            where sd.depid = so1.id and
                  so1.id = object_id(@schema+'.'+@tabname) and
                  so2.id = object_id(@schema+'.'+so2.name,'P') and
                  so2.id = sd.id
END
 
GO
