USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[StpApagaTabTempSecoes]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StpApagaTabTempSecoes]
( @BUKRS INT
, @PLANS VARCHAR(35)
)
AS
BEGIN
  SET NOCOUNT ON
  DECLARE @COLIGADA INT
  
  SELECT @COLIGADA = CASE WHEN @BUKRS = 1000
                          THEN 1
                          WHEN @BUKRS = 4000
                          THEN 4
                          ELSE 0
                     END 

  UPDATE PTMP_DESABILITASECAOSAP
     SET PROCESSADO = 'S'
   WHERE CODSECAO = @PLANS    
     AND COLIGADA = @COLIGADA
END

-- Atualiza status de processamento do registro na tabela temporária do RM
EXEC StpApagaTabTempSecoes @BUKRS = 1000
                         , @PLANS = '1.016.09.02.01.0804'
GO
