USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_part_distribution]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_mon_part_distribution]
  @funcname         sysname,
  @fieldname        sysname,
  @tabname          sysname,
  @schema_name      sysname,
  @db_name          sysname,
  @get_counts       char(1) = ' '
AS
begin
  declare @cmd nvarchar(1024)
  declare @max_boundary_id int
  declare @func_type varchar(1)
  set nocount on
  create table #cheap_data (
     funcname sysname,
     func_type varchar(1), -- Left or right (nothing to do with RANGE
                           -- or other such type)
     boundary_id int,
     val varchar(20) )
  create index chpidx on #cheap_data (funcname,boundary_id)
  create table #expensive_data (
     column_name sysname,
     funcname sysname,
     boundary_id int,
     nrows varchar(20),
     min_val varchar(20),
     max_val varchar(20) )
-- First we get the general information, right/left, boundaries.
  set @cmd =
      N'use [' + @db_name + N'] ' +
   N'insert into #cheap_data ' +
   N'select pf.name, case boundary_value_on_right when 1 then ' +
   N'''R'' else ''L'' end, ' +
        N'prv.boundary_id,' +
        N'CONVERT(varchar(20), prv.value) value ' +
   N'from sys.partition_functions pf ' +
   N'LEFT OUTER JOIN ' +
   N'sys.partition_range_values prv ' +
   N'on ' +
   N'pf.function_id = prv.function_id ' +
   N'where pf.name = @funcname'
  exec sp_executesql @cmd,
     N'@funcname sysname,@fieldname sysname',
     @funcname,@fieldname
  -- select * from #cheap_data
  select top 1 @func_type = func_type from #cheap_data
  select @max_boundary_id = max(boundary_id) from #cheap_data
 -- Add another row, we want the intervals, not the boundaries.
 insert into #cheap_data select top 1 funcname,
         @func_type,@max_boundary_id + 1,'MAXVAL]'
      from #cheap_data
  set @max_boundary_id = @max_boundary_id + 1
  if @get_counts = 'X'
  begin
   set @cmd =
      N'use [' + @db_name + N'] ' +
    N'insert into #expensive_data ' +
    N'select column_name = @fieldname,' +
      N'funcname = @funcname,' +
      N'partition = $partition.[' + @funcname + N']' +
        N'(' + @fieldname + N'),nrows = count(*),' +
      N'min_val = min(' + @fieldname + N'),' +
      N'max_val = max(' + @fieldname + N') ' +
    N'from [' + @schema_name + N'].[' + @tabname + N'] ' +
    N'group by $partition.[' + @funcname + N']' +
        N'(' + @fieldname + N')'
  exec sp_executesql @cmd,
     N'@funcname sysname,@fieldname sysname',
     @funcname,@fieldname
     -- select * from #expensive_data
  end
  else
  begin
     insert into #expensive_data
       select @fieldname,@funcname,boundary_id,'-','-','-' from #cheap_data
  end
  select @fieldname as field_name,@funcname as func_name,y.boundary_id,
-- Calculate boundaries
     -- Low
         case when y.boundary_id = 1 then
            '[MINVAL'
         else
            (select case y.func_type when 'L' then val+'[' else '['+val end
               from #cheap_data where
                funcname = y.funcname and
                boundary_id = y.boundary_id - 1)
         end boundary_low,
     -- High
         case when y.boundary_id = @max_boundary_id then
            'MAXVAL]'
         else
           case y.func_type when 'L' then val+']' else ']'+val end
         end boundary_high,
         case when x.nrows is null then '0' else convert(varchar,x.nrows)
               end as nrows,
         case when x.min_val is null then '-' else x.min_val end as min_val,
         case when x.max_val is null then '-' else x.max_val end as max_val
      from #cheap_data y left outer join #expensive_data x
       on x.funcname = y.funcname and
           x.boundary_id = y.boundary_id
        order by y.boundary_id
end
 
GO
