USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_if_sick]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_check_if_sick]
as
BEGIN
set nocount on
declare @check_name varchar(30)
declare @result varchar(64)
declare @proc varchar(40)
declare @overall_result varchar(1024)
create table #all_checks
               (check_name varchar(30),
                result varchar(64))
insert into #all_checks
  values ('MSS_build', ' ')
insert into #all_checks
  values ('varbin_conversion', ' ')
insert into #all_checks
  values ('max_precision', ' ')
insert into #all_checks
  values ('traceflag_1210', ' ')
insert into #all_checks
  values ('uc_collation', ' ')
insert into #all_checks
  values ('varbin_MAX', ' ')
insert into #all_checks
  values ('DB13_initproblems', ' ')
insert into #all_checks
  values ('DB13_jobcmds', ' ')
declare checker cursor
  for select * from #all_checks
open checker
  fetch next from checker into @check_name, @result
    while (@@fetch_status <> -1)
      begin
        if (@@fetch_status <> -2)
          begin
            select @proc = 'sap_check_' + @check_name
            exec @proc @result output
            update #all_checks
              set result = @result
                where check_name = @check_name
          end
        fetch next from checker into @check_name, @result
      end
close checker
deallocate checker
-- select * from #all_checks
if exists( select * from #all_checks
             where result <> 'ok' )
  begin
    -- collecting the bad results
    declare collector cursor
      for select result
        from #all_checks
          where result <> 'ok'
    -- preparing the result string
    open collector
      fetch next from collector into @result
        while (@@fetch_status <> -1)
          begin
            if (@@fetch_status <> -2)
              if @overall_result is null
                select @overall_result = @result
              else
                select @overall_result
                  = @overall_result + ' ' + @result
            fetch next from collector into @result
          end
    close collector
    deallocate collector
    drop table #all_checks
    -- output
    select @overall_result = @overall_result +
                             ' Please see note 126973!'
    select @overall_result
  end
else
  begin
    drop table #all_checks
    select 'OK'
  end
END
 
GO
