USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_INSERT_INTO_SELECT_HSTMT]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_INSERT_INTO_SELECT_HSTMT]
  @delta int,             /* look number of levels from nodevar */
  @dest varchar(40),      /* name of temporary table            */
  @inctab varchar(40),    /* name of Inclusiontable             */
  @nodevar int,           /* starting node in Inclusiontable    */
  @hiesid int,            /* Hierarchynumber in Inclusiontable  */
  @sver char(1)           /* version of the hierarchy           */
AS
begin
  set nocount on
  declare @nodevar_s varchar(14)
  declare @hiesid_s  varchar(14)
  declare @actstmt varchar(7168)
  declare @dbname sysname
  declare @rowcount int
  set @dbname = db_name()
  select @hiesid_s = cast(@hiesid AS varchar)
  select @nodevar_s = cast(@nodevar as varchar)
  if @delta = 0
    raiserror(
      'Delta: %d not allowed with %s',
      0, 1,
      @delta, 'sap_BW_INSERT_INTO_SELECT_HSTMT')
  else
  begin
    declare @ttprefix varchar(40)
    declare @numstr varchar(14)
    declare @wherepart varchar(256)
    select @wherepart = ' where '
    if (@hiesid is NULL OR @hiesid  >= 0)
      select @wherepart = ' where (HIESID = ' + @hiesid_s + ' AND '
    else
      select @wherepart = ' where ('
    select @wherepart = @wherepart + 'SVER = ''' + @sver + ''') AND '
    select @numstr = 0
    exec sap_BW___drop_temptabs 'HIETT'
    select @ttprefix = '##HIETT_' + cast(@@SPID AS varchar) + '_'
    select @actstmt = 'select SUCC, FACTOR into ' + @ttprefix
                      + @numstr + ' from ' + @inctab + ' IT '
                      + @wherepart + ' PRED = ' + @nodevar_s
    execute(@actstmt)
    declare @maxnumstr int
    declare @loopvar int
    set @loopvar = @delta - 1
    select @maxnumstr = @loopvar
    while @loopvar > 0
    begin
      set @numstr = @numstr + 1
      set @actstmt = 'select IT.SUCC, IT.FACTOR into ' + @ttprefix
                      + @numstr + ' from ' + @inctab + ' IT, '
                      + @ttprefix + cast(@numstr - 1 AS varchar)
                      + ' TT ' + @wherepart
                      + ' TT.SUCC = IT.PRED'
      execute(@actstmt)
      if @rowcount = @@ROWCOUNT
      begin
        set @numstr = @numstr - 1
        break
      end
      set @loopvar = @loopvar - 1
    end
    select @maxnumstr = @numstr
    select @actstmt = 'insert into ' + @dest
    set @numstr = 0
    set @loopvar = @delta
    while @loopvar > 0
    begin
      if (@numstr = @maxnumstr)
        select @actstmt = @actstmt + ' select SUCC, ' + @nodevar_s
                          + ' AS PRED, FACTOR FROM '
      else
        select @actstmt = @actstmt + ' select SUCC, ' + @nodevar_s
                          + ', FACTOR FROM '
      select @actstmt = @actstmt + @ttprefix + @numstr
      if (@numstr < @maxnumstr)
        select @actstmt = @actstmt + ' WHERE SUCC > 0 union '
      else
        break
      set @numstr = @numstr + 1
    end
    execute(@actstmt)
  end
end /* sap_BW_INSERT_INTO_SELECT_HSTMT */
 
GO
