USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_freespace]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_get_freespace]
  @physfilename nvarchar(1024)
as
begin
 set nocount on
 declare @cmd nvarchar(2048)
 declare @line nvarchar(512)
 declare @digP int
 declare @mbFree int
 declare @cmdsh_enabled int
 create table #xp_config_cmdshell
  (
    nm sysname,
    minv int,
    maxv int,
    confv int,
    runv int
   )
 create table #cmdoutput( line nvarchar(512) )
 create table #xpfixeddrives
 (
   xpdrive  nvarchar(5)    null,
   xpSize   int            null
 )
 -- Check input
 if @physfilename is null or len(@physfilename) < 1
   return -1
 set @mbFree = null
 -- Get the disk free MB for the physical file
 -- First we try using xp_cmdshell which will take care of
 -- files located on drives accessed via symbolic links
 -- If xp_cmdshell is not available we use xp_fixeddrives
 begin try
   delete #cmdoutput
   set @line = null
   set @cmd = N'dir /-C "' + rtrim(@physfilename) + N'"'
   insert into #cmdoutput
       exec master..xp_cmdshell @cmd
   select @line = line from #cmdoutput
        where line is not null and
              rtrim(ltrim(line)) <> '' -- Last non-empty line
   if @line is not null
   begin
     -- Get rid of trailing non-digits
     -- find the first digit searching right to left
     set @digP = len(@line)
     while @digP > 0 and not ascii(substring(@line,@digP,1))
                              between ascii('0') and ascii('9')
       set @digP = @digP - 1
     if @digP > 0 -- if there were some digits there
     begin
        set @line = left( @line,@digP ) -- cutoff the trailing non-digits
        -- find the first non-digit to the left
        set @digP = len(@line)
        while @digP > 0 and ascii(substring(@line,@digP,1))
                   between ascii('0') and ascii('9')
          set @digP = @digP - 1
        if @digP > 0
          set @line = right( @line,len(@line) - @digP + 1 )
        -- Line only contains digits, we can now convert it to
        -- a number and from bytes to MB.
        set @mbFree = convert(bigint,@line)/1048576
     end
   end
 end try -- to use xp_cmdshell
 begin catch -- otherwise use xp_fixeddrives instead
   set @cmd = N'[' + OBJECT_SCHEMA_NAME(@@PROCID) + '].sap_sec_fixeddrives'
   insert into #xpfixeddrives exec(@cmd)
   select @mbFree = fixd.xpSize
      from #xpfixeddrives fixd
   where upper(substring(@physfilename,1,1)) =
         upper(substring(fixd.xpdrive,1,1))
 end catch
-- Done getting the physical free MB
 if @mbFree is null
    return -1
 else
    return @mbFree
end
 
GO
