USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFCOLIGADA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFCOLIGADA] AS 
SELECT CODCOLIGADA, NOMEFANTASIA, NOME, IDIMAGEM, GETDATE() AS DTHRATUALIZACAO 
FROM   GCOLIGADA
GO
