USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[GERAFATCUSTO_PART]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[GERAFATCUSTO_PART]
  @NROCONTA VARCHAR(14), @SEQCONTA INTEGER, @DATAGERACAO AS DATETIME, @CODCOLIGADA INTEGER, @SEQPARCIAL INTEGER
AS

DECLARE @VALORTOTAL AS NUMERIC(18,2), @CODCENTCUSTRESULTADO AS INTEGER, @CODPREST AS INTEGER,
  @CODCOMPRADOR AS INTEGER, @CODMEDRESPONSAVEL AS INTEGER, @QT AS INTEGER,
  @CODESPECGRUPO AS VARCHAR(5), @INCLUIDOPACOTE AS VARCHAR(1), @CODGASTO AS VARCHAR(2),
  @VALORCUSTOUNITARIO AS FLOAT, @QTDE AS FLOAT,
  @CPP AS INTEGER, @FATHOSP AS FLOAT, @FATREP AS FLOAT

SELECT @CODCOMPRADOR = CODCOMPRADOR, @CODMEDRESPONSAVEL = CODMEDRESPONSAVEL, @CODESPECGRUPO = CODESPECGRUPO
FROM SZATENDIMENTO
WHERE CODCOLIGADA   = @CODCOLIGADA 
AND NUMEROCONTA     = @NROCONTA
AND SEQUENCIALCONTA = @SEQCONTA


DECLARE P104 CURSOR FOR
  SELECT CODGASTO,QUANTIDADE,VALORTOTAL,CODCENTCUSTRESULTADO,VALORCUSTOUNITARIO FROM SZATENDGASTOPARTIC
  WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA
  AND CODCOLIGADA = @CODCOLIGADA AND ESTORNADO IS NULL
  AND SEQPARCIAL = @SEQPARCIAL

SELECT @CPP = B.CODGERAL
FROM SZPARCIALATEND A, SZUNIDATEND B
WHERE A.CODCOLIGADA   = @CODCOLIGADA
AND A.NUMEROCONTA     = @NROCONTA
AND A.SEQUENCIALCONTA = @SEQCONTA
AND A.SEQPARCIAL      = @SEQPARCIAL 
AND B.CODCOLIGADA     = A.CODCOLIGADA
AND B.IDUNIDATEND     = A.IDUNIDFAT

OPEN P104
FETCH NEXT FROM P104
  INTO @CODGASTO,@QTDE,@VALORTOTAL,@CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO

WHILE (@@FETCH_STATUS = 0)
BEGIN
  IF @CODCENTCUSTRESULTADO IS NULL
  BEGIN
    SELECT @CODCENTCUSTRESULTADO = -1
  END

  IF @CODMEDRESPONSAVEL IS NULL
  BEGIN
    SELECT @CODMEDRESPONSAVEL = -1
  END

  IF @CODESPECGRUPO IS NULL
  BEGIN
    SELECT @CODESPECGRUPO = -1
  END

  IF @VALORCUSTOUNITARIO IS NULL
  BEGIN
    SELECT @VALORCUSTOUNITARIO = 0
  END

  SELECT @VALORCUSTOUNITARIO = @VALORCUSTOUNITARIO * @QTDE

  IF @CODGASTO = '01'
  BEGIN
    SELECT @FATHOSP = 0
    SELECT @FATREP = 0
    
    IF @CODPREST = @CPP
    BEGIN
      SELECT @FATHOSP = @VALORTOTAL
    END
    ELSE
    BEGIN
      SELECT @FATREP = @VALORTOTAL
    END

    UPDATE SZATENDRESUMOCOMPCCUSTOESPEC
    SET FATHONO = FATHONO + @VALORTOTAL, FATHOSPHONO = FATHOSPHONO + @FATHOSP,
        FATREPHONO = FATREPHONO + @FATREP
    WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO
    AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
    AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
    AND CODCOLIGADA = @CODCOLIGADA
	  AND SEQPARCIAL = @SEQPARCIAL

    IF @@ROWCOUNT = 0
    BEGIN
      INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (CODCOLIGADA, NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR,
      CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,FATHONO,FATHOSPHONO,FATREPHONO,SEQPARCIAL)
      VALUES (@CODCOLIGADA, @NROCONTA, @SEQCONTA, @DATAGERACAO, @CODCOMPRADOR, @CODMEDRESPONSAVEL, @CODESPECGRUPO,
      @CODCENTCUSTRESULTADO, @VALORTOTAL, @FATHOSP, @FATREP, @SEQPARCIAL)
    END
  END

  IF @CODGASTO = '02'
  BEGIN
    UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTODIARIA = CUSTODIARIA + @VALORCUSTOUNITARIO,FATDIARIA = FATDIARIA + @VALORTOTAL
    WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO
    AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
    AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
    AND CODCOLIGADA = @CODCOLIGADA
	  AND SEQPARCIAL = @SEQPARCIAL

    IF @@ROWCOUNT = 0
    BEGIN
      INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (CODCOLIGADA, NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR,
      CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTODIARIA,FATDIARIA,SEQPARCIAL)
      VALUES (@CODCOLIGADA, @NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
      @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@SEQPARCIAL)
    END
  END

  IF @CODGASTO = '03'
  BEGIN
    UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOTAXA = CUSTOTAXA + @VALORCUSTOUNITARIO, FATTAXA = FATTAXA + @VALORTOTAL
    WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO
    AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
    AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
    AND CODCOLIGADA = @CODCOLIGADA
	  AND SEQPARCIAL = @SEQPARCIAL

    IF @@ROWCOUNT = 0
    BEGIN
      INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (CODCOLIGADA, NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR,
      CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOTAXA,FATTAXA,SEQPARCIAL)
      VALUES (@CODCOLIGADA,@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
      @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@SEQPARCIAL)
    END
  END

  IF @CODGASTO = '04'
  BEGIN
    UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOSERVICO = CUSTOSERVICO + @VALORCUSTOUNITARIO, FATSERVICO = FATSERVICO + @VALORTOTAL
    WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO
    AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
    AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
    AND CODCOLIGADA = @CODCOLIGADA
	  AND SEQPARCIAL = @SEQPARCIAL

    IF @@ROWCOUNT = 0
    BEGIN
      INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (CODCOLIGADA,NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR,
      CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOSERVICO,FATSERVICO,SEQPARCIAL)
      VALUES (@CODCOLIGADA,@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
      @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@SEQPARCIAL)
    END
  END

  IF @CODGASTO = '05'
  BEGIN
    UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOMED = CUSTOMED + @VALORCUSTOUNITARIO,FATMED = FATMED + @VALORTOTAL
    WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO
    AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
    AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
    AND CODCOLIGADA = @CODCOLIGADA
	  AND SEQPARCIAL = @SEQPARCIAL

    IF @@ROWCOUNT = 0
    BEGIN
      INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (CODCOLIGADA,NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR,
      CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOMED,FATMED,SEQPARCIAL)
      VALUES (@CODCOLIGADA,@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
      @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@SEQPARCIAL)
    END
  END

  IF @CODGASTO = '06'
  BEGIN
    UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOMAT = CUSTOMAT + @VALORCUSTOUNITARIO,FATMAT = FATMAT + @VALORTOTAL
    WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO
    AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
    AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
    AND CODCOLIGADA = @CODCOLIGADA
	  AND SEQPARCIAL = @SEQPARCIAL

    IF @@ROWCOUNT = 0
    BEGIN
      INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (CODCOLIGADA,NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR,
      CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOMAT,FATMAT,SEQPARCIAL)
      VALUES (@CODCOLIGADA,@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
      @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@SEQPARCIAL)
    END
  END

  IF @CODGASTO = '07'
  BEGIN
    UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOORTESE = CUSTOORTESE + @VALORCUSTOUNITARIO,FATORTESE = FATORTESE + @VALORTOTAL
    WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO
    AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
    AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
    AND CODCOLIGADA = @CODCOLIGADA
	  AND SEQPARCIAL = @SEQPARCIAL

    IF @@ROWCOUNT = 0
    BEGIN
      INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (CODCOLIGADA,NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR,
      CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOORTESE,FATORTESE,SEQPARCIAL)
      VALUES (@CODCOLIGADA,@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
      @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@SEQPARCIAL)
    END
  END

  IF @CODGASTO = '08'
  BEGIN
    UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET CUSTOPROTESE = CUSTOPROTESE + @VALORCUSTOUNITARIO,FATPROTESE = FATPROTESE + @VALORTOTAL
    WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO
    AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
    AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
    AND CODCOLIGADA = @CODCOLIGADA
	  AND SEQPARCIAL = @SEQPARCIAL

    IF @@ROWCOUNT = 0
    BEGIN
      INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (CODCOLIGADA,NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR,
      CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,CUSTOPROTESE,FATPROTESE,SEQPARCIAL)
      VALUES (@CODCOLIGADA,@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
      @CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO,@VALORTOTAL,@SEQPARCIAL)
    END
  END

  IF @CODGASTO = '10'
  BEGIN
    UPDATE SZATENDRESUMOCOMPCCUSTOESPEC SET FATPACOTE = FATPACOTE + @VALORTOTAL
    WHERE NUMEROCONTA = @NROCONTA AND SEQUENCIALCONTA = @SEQCONTA AND DATAFATURA=@DATAGERACAO
    AND CODCOMPRADOR = @CODCOMPRADOR AND CODMEDRESPONSAVEL = @CODMEDRESPONSAVEL
    AND CODESPECGRUPO = @CODESPECGRUPO AND CODCENTCUSTO = @CODCENTCUSTRESULTADO
    AND CODCOLIGADA = @CODCOLIGADA
	  AND SEQPARCIAL = @SEQPARCIAL

    IF @@ROWCOUNT = 0
    BEGIN
      INSERT INTO SZATENDRESUMOCOMPCCUSTOESPEC (CODCOLIGADA,NUMEROCONTA,SEQUENCIALCONTA,DATAFATURA,CODCOMPRADOR,
      CODMEDRESPONSAVEL,CODESPECGRUPO,CODCENTCUSTO,FATPACOTE,SEQPARCIAL)
      VALUES (@CODCOLIGADA,@NROCONTA,@SEQCONTA,@DATAGERACAO,@CODCOMPRADOR,@CODMEDRESPONSAVEL,@CODESPECGRUPO,
      @CODCENTCUSTRESULTADO,@VALORTOTAL,@SEQPARCIAL)
    END
  END

  FETCH NEXT FROM P104
  INTO @CODGASTO,@QTDE,@VALORTOTAL,@CODCENTCUSTRESULTADO,@VALORCUSTOUNITARIO
END
CLOSE P104
DEALLOCATE P104
GO
