USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tr_eventclasses]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tr_eventclasses]
  ()
RETURNS @result TABLE
  (
    cid         int           NOT NULL ,  -- Sort criteria
    eventclass  char(1)       NOT NULL ,  -- Class ID
    descript    nvarchar(64)      NULL ,  -- Descriptive text
    PRIMARY KEY CLUSTERED (cid)
  )
AS
BEGIN
-- Added Dec 1st 2003:
  INSERT INTO @result VALUES
    ( 1, 's', 'Basic Statement Analysis' )
  INSERT INTO @result VALUES
    ( 2, 'S', 'Statement Analysis with Execution Plan' )
  INSERT INTO @result VALUES
    ( 3, 'x', 'Expert Statement Analysis' )
  INSERT INTO @result VALUES
    ( 4, 'X', 'Expert Statement Analysis with Execution Plan' )
  INSERT INTO @result VALUES
    ( 5, 'l', 'Lock Waits' )
-- Original:
  INSERT INTO @result VALUES
    ( 6, 'D', 'SQL Profiler default events' )
  INSERT INTO @result VALUES
    ( 7, 'E', 'Errors and problems' )
  INSERT INTO @result VALUES
    ( 8, 'P', 'Performance relevant events' )
  INSERT INTO @result VALUES
    ( 9, 'L', 'Lock events' )
  INSERT INTO @result VALUES
    ( 10, 'C', 'DDL / catalog events' )
  INSERT INTO @result VALUES
    ( 11, '.', 'All events' )
  RETURN
END
 
GO
