USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[AtualizaZztblintermedsendmail]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE procedure [dbo].[AtualizaZztblintermedsendmail] @IdRequisicao int

as

Begin
		--Begin Try
					update zztblintermedsendmail
					   set Enviado = 1
					 where idreq=@IdRequisicao
		--End Try
		
		--Begin Catch
					--print 'Erro ao atualizar registro - Mensagem: '+error_message()
		--End Catch
End

GO
