USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_db_size_info]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_db_size_info]
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd       nvarchar(1024)
declare @pstr      nvarchar(126)
declare @db_size   bigint
declare @db_alloc  bigint
declare @log_size  bigint
declare @log_alloc bigint
-- get db and log size from sysfiles
set @cmd =
   N'use [' + @db_name + N'] ' +
   N'select @db_size = sum(convert(bigint, size))*8/1024 ' +
   N'from dbo.sysfiles ' +
   N'where fileproperty(name,''IsLogFile'') = 0'
select @pstr = N'@db_size bigint output'
exec sp_executesql @cmd, @pstr, @db_size output
set @cmd =
   N'use [' + @db_name + N'] ' +
   N'select @db_alloc = ' +
   N'sum(convert(bigint, fileproperty(name,''SpaceUsed'')))*8/1024 ' +
   N'from dbo.sysfiles ' +
   N'where fileproperty(name,''IsLogFile'') = 0'
select @pstr = N'@db_alloc bigint output'
exec sp_executesql @cmd, @pstr, @db_alloc output
set @cmd =
   N'use [' + @db_name + N'] ' +
   N'select @log_size = sum(convert(bigint, size))*8/1024 ' +
   N'from dbo.sysfiles ' +
   N'where fileproperty(name,''IsLogFile'') = 1'
select @pstr = N'@log_size bigint output'
exec sp_executesql @cmd, @pstr, @log_size output
set @cmd =
   N'use [' + @db_name + N'] ' +
   N'select @log_alloc = ' +
   N'sum(convert(bigint, fileproperty(name,''SpaceUsed'')))*8/1024 ' +
   N'from dbo.sysfiles ' +
   N'where fileproperty(name,''IsLogFile'') = 1'
select @pstr = N'@log_alloc bigint output'
exec sp_executesql @cmd, @pstr, @log_alloc output
-- return the information
select @db_size as 'db_size', @db_alloc as 'db_alloc',
       @log_size as 'log_size', @log_alloc as 'log_alloc'
END
 
GO
