USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSPROCEDIMENTOCID]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSPROCEDIMENTOCID]
AS
  SELECT CODCOLIGADA,
         CO_PROCEDIMENTO CODPROC,
         CO_CID          CODCID,
         ST_PRINCIPAL    PRINCIPAL
  FROM   GCOLIGADA,
         SZSUSTUPROCCID
GO
