USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SBOLETIMNOTAS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SBOLETIMNOTAS]
AS
SELECT M.*
	,SP.CODPERLET
	,SD.NUMCREDITOS
	,SD.CH
	,SD.CODDISC
	,SD.NOME NOMEDISC
	,SD.NOMEREDUZIDO
	,S.DESCRICAO STATUS
	,SR.DESCRICAO RESULTADO
	,N1.NOTAFALTA N1
	,N2.NOTAFALTA N2
	,N3.NOTAFALTA N3
	,N4.NOTAFALTA N4
	,N5.NOTAFALTA N5
	,N6.NOTAFALTA N6
	,N7.NOTAFALTA N7
	,N8.NOTAFALTA N8
	,N9.NOTAFALTA N9
	,N10.NOTAFALTA N10
	,N11.NOTAFALTA N11
	,N12.NOTAFALTA N12
	,N13.NOTAFALTA N13
	,N14.NOTAFALTA N14
	,N15.NOTAFALTA N15
	,N16.NOTAFALTA N16
	,N17.NOTAFALTA N17
	,N18.NOTAFALTA N18
	,N19.NOTAFALTA N19
	,N20.NOTAFALTA N20
FROM (
	SMATRICULA M  WITH (NOLOCK) /*N1*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 1
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N1 ON N1.CODCOLIGADA = M.CODCOLIGADA
		AND N1.IDTURMADISC = M.IDTURMADISC
		AND N1.RA = M.RA /*N2*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 2
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N2 ON N2.CODCOLIGADA = M.CODCOLIGADA
		AND N2.IDTURMADISC = M.IDTURMADISC
		AND N2.RA = M.RA /*N3*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 3
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N3 ON N3.CODCOLIGADA = M.CODCOLIGADA
		AND N3.IDTURMADISC = M.IDTURMADISC
		AND N3.RA = M.RA /*N4*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 4
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N4 ON N4.CODCOLIGADA = M.CODCOLIGADA
		AND N4.IDTURMADISC = M.IDTURMADISC
		AND N4.RA = M.RA /*N5*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 5
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N5 ON N5.CODCOLIGADA = M.CODCOLIGADA
		AND N5.IDTURMADISC = M.IDTURMADISC
		AND N5.RA = M.RA /*N6*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 6
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N6 ON N6.CODCOLIGADA = M.CODCOLIGADA
		AND N6.IDTURMADISC = M.IDTURMADISC
		AND N6.RA = M.RA /*N7*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 7
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N7 ON N7.CODCOLIGADA = M.CODCOLIGADA
		AND N7.IDTURMADISC = M.IDTURMADISC
		AND N7.RA = M.RA /*N8*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 8
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N8 ON N8.CODCOLIGADA = M.CODCOLIGADA
		AND N8.IDTURMADISC = M.IDTURMADISC
		AND N8.RA = M.RA /*N9*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 9
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N9 ON N9.CODCOLIGADA = M.CODCOLIGADA
		AND N9.IDTURMADISC = M.IDTURMADISC
		AND N9.RA = M.RA /*N10*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 10
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N10 ON N10.CODCOLIGADA = M.CODCOLIGADA
		AND N10.IDTURMADISC = M.IDTURMADISC
		AND N10.RA = M.RA /*N11*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 11
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N11 ON N11.CODCOLIGADA = M.CODCOLIGADA
		AND N11.IDTURMADISC = M.IDTURMADISC
		AND N11.RA = M.RA /*N12*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 12
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N12 ON N12.CODCOLIGADA = M.CODCOLIGADA
		AND N12.IDTURMADISC = M.IDTURMADISC
		AND N12.RA = M.RA /*N13*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 13
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N13 ON N13.CODCOLIGADA = M.CODCOLIGADA
		AND N13.IDTURMADISC = M.IDTURMADISC
		AND N13.RA = M.RA /*N14*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 14
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N14 ON N14.CODCOLIGADA = M.CODCOLIGADA
		AND N14.IDTURMADISC = M.IDTURMADISC
		AND N14.RA = M.RA /*N15*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 15
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N15 ON N15.CODCOLIGADA = M.CODCOLIGADA
		AND N15.IDTURMADISC = M.IDTURMADISC
		AND N15.RA = M.RA /*N16*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 16
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N16 ON N16.CODCOLIGADA = M.CODCOLIGADA
		AND N16.IDTURMADISC = M.IDTURMADISC
		AND N16.RA = M.RA /*N17*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 17
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N17 ON N17.CODCOLIGADA = M.CODCOLIGADA
		AND N17.IDTURMADISC = M.IDTURMADISC
		AND N17.RA = M.RA /*N18*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 18
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N18 ON N18.CODCOLIGADA = M.CODCOLIGADA
		AND N18.IDTURMADISC = M.IDTURMADISC
		AND N18.RA = M.RA /*N19*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 19
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N19 ON N19.CODCOLIGADA = M.CODCOLIGADA
		AND N19.IDTURMADISC = M.IDTURMADISC
		AND N19.RA = M.RA /*N20*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.NOTAFALTA
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 20
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS N20 ON N20.CODCOLIGADA = M.CODCOLIGADA
		AND N20.IDTURMADISC = M.IDTURMADISC
		AND N20.RA = M.RA
	LEFT OUTER JOIN SSTATUS S  WITH (NOLOCK) ON M.CODCOLIGADA = S.CODCOLIGADA
		AND M.CODSTATUS = S.CODSTATUS
	LEFT OUTER JOIN SSTATUS SR  WITH (NOLOCK) ON M.CODCOLIGADA = SR.CODCOLIGADA
		AND M.CODSTATUSRES = SR.CODSTATUS
	)
	,STURMADISC T  WITH (NOLOCK)
	,SPLETIVO SP  WITH (NOLOCK)
	,SDISCIPLINA SD  WITH (NOLOCK)
WHERE M.CODCOLIGADA = T.CODCOLIGADA
	AND M.IDTURMADISC = T.IDTURMADISC
	AND M.CODCOLIGADA = SP.CODCOLIGADA
	AND M.IDPERLET = SP.IDPERLET
	AND T.CODCOLIGADA = SD.CODCOLIGADA
	AND T.CODDISC = SD.CODDISC
GO
