USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_updatecolumns]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************/
/* sap_updatecolumns                                                  */
/* Juergen Thomas, Microsoft Corp.,   05/20/98                        */
/* Procedure is called by sap_updtstat to perform the update statistic*/
/* on a single table.                                                 */
/* Changes                                                            */
/* Do update if 5% of the rows are changed.    06/18/98   J.Th MS     */
/* Treatment of tables with less than 20 pages 07/14/98   J.Th MS     */
/* Inventing fullsample and forcefullsample, skipping recompute,      */
/* norecompute and firstrun                    10/25/98   J.Th MS     */
/**********************************************************************/
create procedure [dbo].[sap_updatecolumns] @tabname varchar(64),
                                   @statstype varchar(3) as
begin
declare @updatemode varchar(30),
        @printmessage varchar(30), @sum_changes int
declare @tabname2 sysname, @done_changes varchar(1),
        @smalldpages int
declare @stmt varchar(8000)
select @sum_changes = 0
select @sum_changes = (rows+1.0)/(rowmodctr+1.0)
  from sysindexes where id = object_id(@tabname) and
  indid <= 1 and (status&0x20) = 0
if @sum_changes < 20
begin
select @smalldpages = dpages from sysindexes with (nolock)
where id = object_id(@tabname) and
indid <= 1 and (status&0x20) = 0
-- if data pages less than one extent, don't update the statistics
if (@smalldpages <= 8)
begin
select @sum_changes = 100
end
end
select @tabname2 = quotename(@tabname)
select @done_changes ='N'
select @updatemode =
  case @statstype
    when 'FU' then 'FULLSCAN'
    when 'SA' then 'SAMPLE'
    when 'FS' then 'SAMPLE'
    when 'FF' then 'FULLSCAN'
    when 'SF' then 'FULLSCAN, INDEX'
    when 'SFF' then 'FULLSCAN, INDEX'
    else ' '
  end
select @printmessage =
case @statstype
when 'FU' then 'FULLSCAN Mode '
when 'SA' then 'SAMPLE Mode '
when 'FS' then 'FORCED SAMPLE Mode '
when 'FF' then 'FORCED FULLSCAN Mode '
when 'SF' then 'FULLSCAN mode (index) and SAMPLE mode (statistics) '
when 'SFF' then 'FORCED FULLSCAN mode(index)and SAMPLE mode(statistics)'
else ' '
end
if @statstype in ('FF', 'FS', 'SFF')
  select @done_changes = 'Y'
  /* Force to do update statistics, regardless of rowmodcntr  */
if @sum_changes < 20 or @done_changes = 'Y'
begin
  print 'Updating ' + @tabname + ' in ' + @printmessage
select @stmt = 'update statistics ' + @tabname2 +
  case when @statstype is null then '' else ' with ' + @updatemode end
exec(@stmt)
if @statstype = 'SF' or @statstype = 'SFF'
begin
select @stmt = 'update statistics ' + @tabname2 + ' with columns'
exec(@stmt)
end
end
else
begin
     print 'No update statistics on table ' + RTRIM(@tabname) +
           ' necessary'
end
end
 
GO
