USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_wmi_get]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_wmi_get] @wmi_alias nvarchar(30), @wmi_format nvarchar(30) = N'', @wmi_item nvarchar(30) = N'' AS begin declare @cmdline nvarchar(100) execute as login = 'sa' set nocount on /* Security test of the parameters */ if UPPER(@wmi_alias) not in (N'',N'OS',N'COMPUTERSYSTEM',N'CPU')   begin raiserror('alias not allowed',16,1) return end if UPPER(@wmi_format) not in (N'',N'LIST',N'TEXTVALUELIST',N'XML',  N'RAWXML',N'HFORM',N'HTABLE')   begin raiserror('format not allowed',16,1) return end if UPPER(@wmi_item) not in    (N'',N'NAME',N'VERSION',N'CSDVERSION',     N'INSTALLDATE',N'LASTBOOTUPTIME',N'SYSTEMTYPE',     N'OSLANGUAGE')   begin raiserror('wmic item not allowed',16,1) return end set @cmdline = N'WMIC.EXE ' + @wmi_alias set @cmdline = @cmdline + N' GET ' if @wmi_item <> N'' set @cmdline = @cmdline + @wmi_item if @wmi_format <> N'' set @cmdline = @cmdline + N' /format:' + @wmi_format exec xp_cmdshell @cmdline end
GO
