USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVOSUBUNIDADE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITIVOSUBUNIDADE]
AS
SELECT
  XADITTROCASUBUNIDADE.NUMVENDA,
  XADITTROCASUBUNIDADE.NUMADIT,
  XADITTROCASUBUNIDADE.CODPESSEMPRNOVO AS NEWCODPESSEMPR,
  XADITTROCASUBUNIDADE.NUMUNIDNOVO AS NEWNUMUNID,
  XADITTROCASUBUNIDADE.NUMSUBUNIDNOVO AS NEWNUMSUBUNID,
  XADITTROCASUBUNIDADE.CODPESSEMPRATUAL AS OLDCODPESSEMPR,
  XADITTROCASUBUNIDADE.NUMUNIDATUAL AS OLDNUMUNID,
  XADITTROCASUBUNIDADE.NUMSUBUNIDATUAL AS OLDNUMSUBUNID,
  XADITTROCASUBUNIDADE.RECCREATEDBY,
  XADITTROCASUBUNIDADE.RECCREATEDON,
  XADITTROCASUBUNIDADE.RECMODIFIEDBY,
  XADITTROCASUBUNIDADE.RECMODIFIEDON
FROM XADITTROCASUBUNIDADE
GO
