USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[KCODBARRASAPONTAMENTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[KCODBARRASAPONTAMENTO]
AS
(
		SELECT KAPTOCODBARRA.CODCOLIGADA
			,KAPTOCODBARRA.CODFILIAL
			,KAPTOCODBARRA.CODORDEM
			,KESTRUTURA.CODESTRUTURA
			,KMODELO.CODMODELO
			,ISNULL(KAPTOCODBARRA.IDATVORDEM, - 1) AS IDATV
			,TPRD.IDPRD AS IDPRODUTO
			,KESTRUTURA.NSEQITMGRD
			,TPRD.NOMEFANTASIA
			,TPRD.CODIGOPRD
			,TPRD.CODUNDCONTROLE
			,KAPTOCODBARRA.QTDAPONTAMENTO
			,KAPTOCODBARRA.DTHRINICIOPREV DTHRINICIAL
			,KAPTOCODBARRA.DTHRFINALPREV DTHRFINAL
		FROM KAPTOCODBARRA  WITH (NOLOCK)
		JOIN KESTRUTURA  WITH (NOLOCK) ON (
				KESTRUTURA.CODCOLIGADA = KAPTOCODBARRA.CODCOLIGADA
				AND KESTRUTURA.CODFILIAL = KAPTOCODBARRA.CODFILIAL
				AND KESTRUTURA.CODESTRUTURA = KAPTOCODBARRA.CODESTRUTURA
				)
		JOIN TPRD  WITH (NOLOCK) ON (
				TPRD.CODCOLIGADA = KESTRUTURA.CODCOLIGADA
				AND TPRD.IDPRD = KESTRUTURA.IDPRODUTO
				)
		JOIN KMODELO  WITH (NOLOCK) ON (
				KMODELO.CODCOLIGADA = KESTRUTURA.CODCOLIGADA
				AND KMODELO.CODFILIAL = KESTRUTURA.CODFILIAL
				AND KMODELO.CODESTRUTURA = KESTRUTURA.CODESTRUTURA
				)
		)
GO
