USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XHISTORICOSUBUNIDADE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XHISTORICOSUBUNIDADE]
AS
SELECT
  XLOGSUBUNIDADE.COD_PESS_EMPR,
  XLOGSUBUNIDADE.NUM_UNID,
  XLOGSUBUNIDADE.NUM_SUB_UNID,
  XLOGSUBUNIDADE.IDLOGSUBUNIDADE NUM_SEQ_HIST,
  XLOGSUBUNIDADE.COD_EVNT_SUB_UNID,
  XLOGSUBUNIDADE.DAT_ULT_MNT DAT_HIST,
  XLOGSUBUNIDADE.COD_PESS_ULT_MNT,
  XLOGSUBUNIDADE.DAT_ULT_MNT,
  XLOGSUBUNIDADE.RECCREATEDBY,
  XLOGSUBUNIDADE.RECCREATEDON,
  XLOGSUBUNIDADE.RECMODIFIEDBY,
  XLOGSUBUNIDADE.RECMODIFIEDON
FROM XLOGSUBUNIDADE (NOLOCK)
GO
