USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculoIndiceHorarioV2]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculoIndiceHorarioV2](@DIAS INT, @INDINICIOHOR INT, @MAX_INDICE INT)
RETURNS INT
BEGIN

	DECLARE @INDICE_CALC INT = 0;

	WHILE @DIAS > 0
	BEGIN
		SET @DIAS = @DIAS-1;
		SET @INDINICIOHOR = @INDINICIOHOR+1;
		IF @INDINICIOHOR > @MAX_INDICE
			SET @INDINICIOHOR = 1;
	
	END;
	
	RETURN @INDINICIOHOR;
	
END
GO
