USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_princdetail]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_get_princdetail]
AS
BEGIN
  SET NOCOUNT ON
  DECLARE @dbname sysname
  DECLARE @cmd    nvarchar(1024)
  DECLARE [dbname] CURSOR FAST_FORWARD FOR
    SELECT [name] FROM sys.databases
  IF ( object_id('tempdb..#result','U') IS NOT NULL )
    DROP TABLE #result
  CREATE TABLE #result
   (
    [DBNAME]          sysname     ,
    [PRINCIPAL]       sysname     ,
    [PRINC_ID]        varchar(16) ,
    [ROLE]            sysname     ,
    [SCHEMA_NAME]     sysname     ,
    [SCHEMA_ID]       varchar(16)
   )
  /*--- Server role membership ---------------------------------------*/
  SET @cmd = 'INSERT INTO #result SELECT '' '', SUSER_NAME(), ' +
             'SUSER_ID(), [name], '' '', '' '' FROM ' +
             'sys.server_principals WHERE principal_id IN ' +
             '( SELECT role_principal_id FROM ' +
             '  sys.server_role_members WHERE member_principal_id =' +
             '  SUSER_ID() )'
  BEGIN TRY
    EXEC sp_executesql @cmd
  END TRY
  BEGIN CATCH
  END CATCH
  /*--- Loop through all databases -----------------------------------*/
  OPEN dbname
  FETCH NEXT FROM dbname INTO @dbname
  WHILE @@FETCH_STATUS = 0
    BEGIN
      /*--- Database user record -------------------------------------*/
      SET @cmd = 'INSERT INTO #result SELECT ''' + @dbname +
                 ''', p.name, p.principal_id, '' '', ' +
                 'p.default_schema_name, s.[schema_id] FROM ' +
                 @dbname + '.sys.database_principals p, ' + @dbname +
                 '.sys.schemas s WHERE p.sid = suser_sid() AND ' +
                 's.name = p.default_schema_name'
      BEGIN TRY
        EXEC sp_executesql @cmd
      END TRY
      BEGIN CATCH
      END CATCH
      /*--- Database role membership ---------------------------------*/
      SET @cmd = 'INSERT INTO #result SELECT ''' + @dbname +
                 ''', p.name, p.principal_id, q.name, '' '', '' '' FROM ' +
                 @dbname + '.sys.database_principals p, ' + @dbname +
                 '.sys.database_principals q WHERE p.sid = SUSER_SID() ' +
                 'AND q.principal_id IN ( SELECT role_principal_id FROM ' +
                 @dbname + '.sys.database_role_members WHERE ' +
                 'member_principal_id = p.principal_id )'
      BEGIN TRY
        EXEC sp_executesql @cmd
      END TRY
      BEGIN CATCH
      END CATCH
      FETCH NEXT FROM dbname INTO @dbname
    END
    CLOSE dbname
    DEALLOCATE dbname
    SELECT * FROM #result ORDER BY [DBNAME], [ROLE]
    DROP TABLE #result
END
 
GO
