USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_use_var_MAX]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_use_var_MAX] as
begin
  declare @tabname sysname
  declare @colname sysname
  declare @datatype sysname
  declare @nullflag nvarchar(1)
  declare @cmd nvarchar(1024)
  declare @n_altered int
  declare c cursor for
  select so.name,sc.name,
    case sc.system_type_id
      when 35 then 'text'
      when 99 then 'ntext'
      when 34 then 'image' end,
      is_nullable from
      sys.columns sc with (nolock)
      inner join sys.objects so with (nolock)
      on sc.object_id = so.object_id
    where
     sc.system_type_id in (35,99,34) and -- text, ntext, image
     so.schema_id = schema_id() and
     so.type = 'U' and
     so.name not like 'sys%' and
     so.is_ms_shipped = 0
   order by so.name,sc.name
     option (force order, fast 1)
  open c
  set @n_altered = 0
  fetch next from c into @tabname,@colname,@datatype,@nullflag
  while (@@fetch_status <> -1)
  begin
    if (@@fetch_status <> -2)
    begin
      set @cmd = N'alter table [' + @tabname +
                  N'] alter column [' + @colname +
                  N'] '
      if @datatype = N'text'
        set @cmd = @cmd + N'varchar(MAX)'
      else if @datatype = N'ntext'
        set @cmd = @cmd + N'nvarchar(MAX)'
      else
        set @cmd = @cmd + N'varbinary(MAX)'
      if @nullflag = N'N'
          set @cmd = @cmd + ' NOT NULL'
      else
          set @cmd = @cmd + ' NULL'
      -- print @cmd
      exec( @cmd )
      set @n_altered = @n_altered + 1
    end
    fetch next from c into @tabname,@colname,@datatype,@nullflag
  end
  close c
  deallocate c
  select convert(varchar,@n_altered) + N' columns were altered'
end -- sap_use_var_MAX
 
GO
