USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SBOLETIMFALTAS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SBOLETIMFALTAS]
AS
SELECT 	M.*,
        SP.CODPERLET,
        SD.NUMCREDITOS,SD.CH,SD.CODDISC,SD.NOME NOMEDISC,SD.NOMEREDUZIDO,
	S.DESCRICAO STATUS, SR.DESCRICAO RESULTADO,
 	F1.NOTAFALTA F1,
        F2.NOTAFALTA F2,
        F3.NOTAFALTA F3,
        F4.NOTAFALTA F4,
        F5.NOTAFALTA F5,
        F6.NOTAFALTA F6,
        F7.NOTAFALTA F7,
        F8.NOTAFALTA F8,
        F9.NOTAFALTA F9,
        F10.NOTAFALTA F10,
        F11.NOTAFALTA F11,
        F12.NOTAFALTA F12,
        F13.NOTAFALTA F13,
        F14.NOTAFALTA F14,
        F15.NOTAFALTA F15,
        F16.NOTAFALTA F16,
        F17.NOTAFALTA F17,
        F18.NOTAFALTA F18,
        F19.NOTAFALTA F19,
        F20.NOTAFALTA F20
FROM (SMATRICULA M (NOLOCK)
/*F1*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 1
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F1 ON
      F1.CODCOLIGADA = M.CODCOLIGADA
AND   F1.IDTURMADISC = M.IDTURMADISC
AND   F1.RA = M.RA
/*F2*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 2
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F2 ON
      F2.CODCOLIGADA = M.CODCOLIGADA
AND   F2.IDTURMADISC = M.IDTURMADISC
AND   F2.RA = M.RA
/*F3*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 3
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F3 ON
      F3.CODCOLIGADA = M.CODCOLIGADA
AND   F3.IDTURMADISC = M.IDTURMADISC
AND   F3.RA = M.RA
/*F4*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 4
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F4 ON
      F4.CODCOLIGADA = M.CODCOLIGADA
AND   F4.IDTURMADISC = M.IDTURMADISC
AND   F4.RA = M.RA
/*F5*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 5
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F5 ON
      F5.CODCOLIGADA = M.CODCOLIGADA
AND   F5.IDTURMADISC = M.IDTURMADISC
AND   F5.RA = M.RA
/*F6*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 6
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F6 ON
      F6.CODCOLIGADA = M.CODCOLIGADA
AND   F6.IDTURMADISC = M.IDTURMADISC
AND   F6.RA = M.RA
/*F7*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 7
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F7 ON
      F7.CODCOLIGADA = M.CODCOLIGADA
AND   F7.IDTURMADISC = M.IDTURMADISC
AND   F7.RA = M.RA
/*F8*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 8
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F8 ON
      F8.CODCOLIGADA = M.CODCOLIGADA
AND   F8.IDTURMADISC = M.IDTURMADISC
AND   F8.RA = M.RA
/*F9*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 9
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F9 ON
      F9.CODCOLIGADA = M.CODCOLIGADA
AND   F9.IDTURMADISC = M.IDTURMADISC
AND   F9.RA = M.RA
/*F10*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 10
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F10 ON
      F10.CODCOLIGADA = M.CODCOLIGADA
AND   F10.IDTURMADISC = M.IDTURMADISC
AND   F10.RA = M.RA
/*F11*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 11
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F11 ON
      F11.CODCOLIGADA = M.CODCOLIGADA
AND   F11.IDTURMADISC = M.IDTURMADISC
AND   F11.RA = M.RA
/*F12*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 12
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F12 ON
      F12.CODCOLIGADA = M.CODCOLIGADA
AND   F12.IDTURMADISC = M.IDTURMADISC
AND   F12.RA = M.RA
/*F13*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 13
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F13 ON
      F13.CODCOLIGADA = M.CODCOLIGADA
AND   F13.IDTURMADISC = M.IDTURMADISC
AND   F13.RA = M.RA
/*F14*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 14
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F14 ON
      F14.CODCOLIGADA = M.CODCOLIGADA
AND   F14.IDTURMADISC = M.IDTURMADISC
AND   F14.RA = M.RA
/*F15*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 15
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F15 ON
      F15.CODCOLIGADA = M.CODCOLIGADA
AND   F15.IDTURMADISC = M.IDTURMADISC
AND   F15.RA = M.RA
/*F16*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 16
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F16 ON
      F16.CODCOLIGADA = M.CODCOLIGADA
AND   F16.IDTURMADISC = M.IDTURMADISC
AND   F16.RA = M.RA
/*F17*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 17
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F17 ON
      F17.CODCOLIGADA = M.CODCOLIGADA
AND   F17.IDTURMADISC = M.IDTURMADISC
AND   F17.RA = M.RA
/*F18*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 18
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F18 ON
      F18.CODCOLIGADA = M.CODCOLIGADA
AND   F18.IDTURMADISC = M.IDTURMADISC
AND   F18.RA = M.RA
/*F19*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 19
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F19 ON
      F19.CODCOLIGADA = M.CODCOLIGADA
AND   F19.IDTURMADISC = M.IDTURMADISC
AND   F19.RA = M.RA
/*F20*/
LEFT OUTER JOIN
  (SELECT SNOTAETAPA.NOTAFALTA, SMATRICULA.CODCOLIGADA, SMATRICULA.IDTURMADISC, SMATRICULA.RA
  FROM SMATRICULA  (NOLOCK)
  JOIN STURMADISC  (NOLOCK) ON
       SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
  AND  SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
  LEFT OUTER JOIN SETAPAS (NOLOCK) ON
       STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
  AND  STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
  AND  SETAPAS.TIPOETAPA = 'F'
  AND  SETAPAS.CODETAPA = 20
  LEFT OUTER JOIN SNOTAETAPA(NOLOCK)ON
       SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
  AND  SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
  AND  SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
  AND  SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
  AND  SMATRICULA.RA = SNOTAETAPA.RA
  )AS F20 ON
      F20.CODCOLIGADA = M.CODCOLIGADA
AND   F20.IDTURMADISC = M.IDTURMADISC
AND   F20.RA = M.RA
LEFT OUTER JOIN SSTATUS S (NOLOCK) ON
     M.CODCOLIGADA = S.CODCOLIGADA
AND  M.CODSTATUS = S.CODSTATUS
LEFT OUTER JOIN SSTATUS SR (NOLOCK) ON
     M.CODCOLIGADA = SR.CODCOLIGADA
AND  M.CODSTATUSRES = SR.CODSTATUS),
     STURMADISC T (NOLOCK),
     SPLETIVO SP (NOLOCK),
     SDISCIPLINA SD (NOLOCK)
WHERE  M.CODCOLIGADA = T.CODCOLIGADA
AND    M.IDTURMADISC = T.IDTURMADISC
AND    M.CODCOLIGADA = SP.CODCOLIGADA
AND    M.IDPERLET = SP.IDPERLET
AND    T.CODCOLIGADA = SD.CODCOLIGADA
AND    T.CODDISC = SD.CODDISC
GO
