USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFLOC]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFLOC] AS
SELECT CODCOLIGADA, CODFILIAL, CODLOC, NOME, GETDATE() AS DTHRATUALIZACAO 
FROM TLOC
GO
