USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[FXCXCONT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[FXCXCONT] AS
SELECT A.CODCOLIGADA, B.IDCONT AS IDXCXCONT, D.IDXCX, B.TIPO, B.VALOR,
C.CODFILIAL, C.CODDEPARTAMENTO, C.CODCCUSTO, C.CODHISTP, C.COMPLEMENTO AS COMPLHISTORICO,
C.CODCOLDEBITO AS CODCOLCONTA, DEBITO AS CODCONTA
FROM COPERACAO A, CCONT B, CPARTIDA C, FXCX D
WHERE A.CODCOLIGADA=D.CODCOLIGADA AND A.IDOPERACAO=D.IDOPERACAOCONT AND
A.CODCOLIGADA=B.CODCOLIGADA AND A.IDOPERACAO=B.IDOPERACAO AND
B.CODCOLIGADA=C.CODCOLIGADA AND B.IDPARTIDA=C.IDPARTIDA AND
B.TIPO IN (1,3) AND
D.MODELOCONTABILIZACAO <> 1 AND A.ORIGEM = 'FXCX'
UNION
SELECT A.CODCOLIGADA, B.IDCONT AS IDXCXCONT, D.IDXCX, B.TIPO, B.VALOR,
C.CODFILIAL, C.CODDEPARTAMENTO, C.CODCCUSTO, C.CODHISTP, C.COMPLEMENTO AS COMPLHISTORICO,
C.CODCOLCREDITO AS CODCOLCONTA, C.CREDITO AS CODCONTA
FROM COPERACAO A, CCONT B, CPARTIDA C, FXCX D
WHERE A.CODCOLIGADA=D.CODCOLIGADA AND A.IDOPERACAO=D.IDOPERACAOCONT AND
A.CODCOLIGADA=B.CODCOLIGADA AND A.IDOPERACAO=B.IDOPERACAO AND
B.CODCOLIGADA=C.CODCOLIGADA AND B.IDPARTIDA=C.IDPARTIDA AND
B.TIPO IN (2,3) AND
D.MODELOCONTABILIZACAO <> 1 AND A.ORIGEM = 'FXCX'
UNION
SELECT A.CODCOLIGADA, A.IDXCXCONT, A.IDXCX, A.TIPO, A.VALOR,
A.CODFILIAL, A.CODDEPARTAMENTO, A.CODCCUSTO, A.CODHISTP, A.COMPLHISTORICO,
A.CODCOLCONTA, A.CODCONTA
FROM FXCXCONTOLD A, FXCX B
WHERE A.CODCOLIGADA=B.CODCOLIGADA AND A.IDXCX=B.IDXCX AND B.MODELOCONTABILIZACAO=1
GO
