USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[PFFERIAS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[PFFERIAS] AS ( SELECT CODCOLIGADA, CHAPA, FIMPERAQUIS DTVENCIMENTO, (SELECT SUM(1) NRO FROM PFUFERIAS FER INNER JOIN PFUFERIASPER PER ON ( PER.CODCOLIGADA = FER.CODCOLIGADA AND PER.CHAPA = FER.CHAPA AND PER.FIMPERAQUIS = FER.FIMPERAQUIS AND PER.SITUACAOFERIAS IN('M','P','F')) WHERE FER.CODCOLIGADA = PFUFERIASVERBAS.CODCOLIGADA AND FER.CHAPA = PFUFERIASVERBAS.CHAPA AND FER.FIMPERAQUIS = PFUFERIASVERBAS.FIMPERAQUIS AND PER.DATAPAGTO <= PFUFERIASVERBAS.DATAPAGTO ) NROPERIODO, CODEVENTO, HORA, REF, VALOR FROM PFUFERIASVERBAS)
GO
