USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XTIPOAGENTECOMPLEMENTAR]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XTIPOAGENTECOMPLEMENTAR]
AS
SELECT
CODCOLIGADA * 10000 + CODCLIENTE COD_TIPO_AGENT_COMPL,
DESCRICAO DSC_TIPO_AGENT_COMPL,
'A' COD_SIT_OPRL,
RECMODIFIEDBY COD_PESS_ULT_MNT,
RECMODIFIEDON DAT_ULT_MNT,
RECCREATEDBY,
RECCREATEDON,
RECMODIFIEDBY,
RECMODIFIEDON
FROM GCONSIST G1
WHERE (G1.CODTABELA = 'XTIPOCOMP') AND
(G1.APLICACAO = 'X')
GO
