USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[fnBuscaSecaoData]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- ==============================================================
-- Author:		Raphael Vidal Domingues							=
-- Create date: 05/08/2023										=
-- Description:	Retorna o Nome da seção em data específica		=
-- Parametros:  Coligada, Chapa e Data							=
-- =============================================================


CREATE function [dbo].[fnBuscaSecaoData](@p_cvCodcoligada dcodcoligada,
										  @p_ccChapa       dchapa,
										  @p_cdData        datetime) 
										returns varchar(100)

begin

  declare
    @v_ccNome as varchar(100)
  
  begin  
          
select	@v_ccNome = concat(sec.codigo,' - ',sec.descricao)
  from	pfhstsec hst
		inner join psecao sec on hst.codcoligada = sec.codcoligada and hst.codsecao = sec.codigo
 where  hst.dtmudanca = (select max(hst1.dtmudanca)
						   from pfhstsec hst1
						  where hst1.codcoligada = hst.codcoligada
						    and hst1.chapa       = hst.chapa
						    and hst1.dtmudanca   <= @p_cdData)
       and hst.chapa       = @p_ccChapa
       and hst.codcoligada = @p_cvCodcoligada
  
    return @v_ccNome
  
  end

end



GO
