USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tf_qstats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tf_qstats]
        @top       int     ,
        @orderby   sysname
AS
BEGIN
  declare  @stmt    nvarchar(2048)
  declare  @schema  sysname
  if (@top > 9999)
    set @top = 9999
  else if (@top <= 0)
    set @top = 10
  set @schema = ( select schema_name(schema_id) from sys.objects
                    where object_id = @@PROCID )
  set @stmt =
   N'select top ' + cast(@top as nvarchar(4)) +
   N' (select db_name(dbid) from sys.dm_exec_sql_text(sql_handle))' +
   N' AS db_name, ' +
   N'substring((select text from sys.dm_exec_sql_text(sql_handle)),' +
   N'1,80) AS query, ' +
   N'[' + @schema + N']' +
   N'.sap_hex_conv(sql_handle) AS sql_handle, ' +
   N'[' + @schema + N']' +
   N'.sap_hex_conv(plan_handle) AS plan_handle, ' +
   N'creation_time ,' +
   N'execution_count ,' +
   N'total_worker_time ,' +
   N'total_physical_reads, ' +
   N'total_logical_writes, ' +
   N'total_logical_reads, ' +
   N'total_clr_time, ' +
   N'total_elapsed_time ' +
   N'FROM sys.dm_exec_query_stats'
  if ( @orderby IS NOT NULL and
       @orderby != ''       and
       @orderby != ' ' )
    set @stmt = @stmt + ' ORDER BY ' + @orderby + N' DESC'
  exec sp_executesql @stmt
END
 
GO
