USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VIEW_BW_TB_VATESTADO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_BW_TB_VATESTADO]  
AS  
  SELECT CODPESSOA     = ATE.CODPESSOA  
	   , CODCOLIGADA   = ATE.CODCOLIGADA  
	   , CHAPA         = FNC.CHAPA  
	   -- Seção e Centro de custo devem ser selecionados a partir do histórico de seção
	   , CCUSTO        = (  SELECT TOP 1
	                               SCO.NROCENCUSTOCONT
							  FROM VIEW_BW_TB_PFHSTSEC HS
							       INNER JOIN PSECAO SCO ON HS.CODCOLIGADA = SCO.CODCOLIGADA
								                        AND HS.CODSECAO    = SCO.CODIGO
							 WHERE HS.CHAPA       = FNC.CHAPA 
							   AND HS.DTMUDANCA  <= ATE.DTINICIO
							   AND HS.CODCOLIGADA = ATE.CODCOLIGADA 
						     ORDER BY HS.DTMUDANCA DESC
	                     ) 
	   , CODSECAO      = (  SELECT TOP 1
	                               HS.CODSECAO
							  FROM VIEW_BW_TB_PFHSTSEC HS
							 WHERE HS.CHAPA       = FNC.CHAPA 
							   AND HS.DTMUDANCA  <= ATE.DTINICIO
							   AND HS.CODCOLIGADA = ATE.CODCOLIGADA 
						     ORDER BY HS.DTMUDANCA DESC
	                     )
	   , IDATESTADO    = ATE.IDATESTADO  
	   , SEQATESTADO   = ATE.SEQATESTADO  
	   , DTINICIO      = ATE.DTINICIO  
	   , HORAINICIO    = IsNull(ATE.HORAINICIO, '0')  
	   -- Regra da data final: Quando não preenchido considerar a ultima data do mês da extração
	   , DTFINAL       = IsNull(ATE.DTFINAL, DateAdd(dd,-1,Substring(Convert(VARCHAR,DateAdd(mm,1,GetDate()),102),1,8) + '01'))
	   , HORAFINAL     = IsNull(ATE.HORAFINAL, '1440') 
	   , DTPREVFINAL   = ATE.DTPREVFINAL  
	   , CID           = ATE.CID   
	   , CODTPATESTADO = ATE.CODTPATESTADO  
	   , DATAPERICIA   = ATE.DATAPERICIA  
	   , OBSERVACOES   = CONVERT(VARCHAR(250),ATE.OBSERVACOES)  
	   , AVALRETORNO   = ATE.AVALRETORNO  
	   , CODMEDICO     = ATE.CODMEDICO  
	   , CODENTIDADE   = ATE.CODENTIDADE  
	   , OCUPACIONAL   = ATE.OCUPACIONAL  
	   , IDATESTADOPAI = ATE.IDATESTADOPAI  
	   , DTMODIFICACAO = ISNULL(CONVERT(VARCHAR(8),ATE.RECMODIFIEDON,112),'19990101')  
    FROM VATESTADO ATE  
		 LEFT JOIN PFUNC  FNC ON ATE.CODPESSOA   = FNC.CODPESSOA  
		                    -- Não utilizado código de coligada no join porque o funcionário pode migrar de uma coligada para outra
							 AND ATE.DTINICIO BETWEEN FNC.DATAADMISSAO   
							                      AND IsNull(FNC.DATADEMISSAO, GetDate()) 
							 AND (   (    FNC.CODSITUACAO <> 'D' )
							      OR (    FNC.CODSITUACAO = 'D'
								      AND IsNull(FNC.TIPODEMISSAO,'N') <> '5' 
								     )
							     )
GO
