USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[PROJETA_ESCALA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[PROJETA_ESCALA] (@P_DATA VARCHAR(10), @P_DATAFIM VARCHAR(10), @P_CHAPA VARCHAR(30), @P_CODCOLIGADA INT)
RETURNS @TESTE TABLE(CODHORARIO VARCHAR(10), DATA DATE, CODINDICE INT, CODCOLIGADA INT, TIPO VARCHAR(15), ENTRADA1 INT, SAIDA1 INT, ENTRADA2 INT, SAIDA2 INT)

AS

BEGIN

DECLARE @LOOP INT = 0;


-- PARAMETROS
DECLARE 
	@DATA_CONSULTA DATETIME = CONVERT(DATETIME, @P_DATA, 103),
	@P_DIAS INT = DATEDIFF(DAY, CONVERT(DATETIME, @P_DATA, 103), CONVERT(DATETIME, @P_DATAFIM, 103));


DECLARE
	@CODCOLIGADA INT = @P_CODCOLIGADA,
	@CHAPA VARCHAR(20) = @P_CHAPA,
	@CHECK_INDICE INT = 0;
	
DECLARE @CODINDICE INT = (SELECT dbo.CalculoIndiceHorario(INDINICIOHOR, CONVERT(VARCHAR, @DATA_CONSULTA, 103), CODHORARIO, CODCOLIGADA) INDICE FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @CHAPA AND DTMUDANCA = (SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @CHAPA AND DTMUDANCA <= @DATA_CONSULTA));
DECLARE @CODHORARIO VARCHAR(10) = (SELECT CODHORARIO FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @CHAPA AND DTMUDANCA = (SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @CHAPA AND DTMUDANCA <= @DATA_CONSULTA));
DECLARE @CODINDICE_H VARCHAR(10) = @CODINDICE;
DECLARE @CODHORARIO_H VARCHAR(10) = @CODHORARIO;
	
DECLARE @INDICE_MIN INT = (SELECT MIN(INDICE) FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO);
DECLARE @INDICE_MAX INT = (SELECT MAX(INDICE) FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO);



BEGIN

WHILE(@LOOP <= @P_DIAS)
BEGIN



SET @CODINDICE_H = (SELECT dbo.CalculoIndiceHorario(INDINICIOHOR, CONVERT(VARCHAR, @DATA_CONSULTA, 103), CODHORARIO, CODCOLIGADA) INDICE FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @CHAPA AND DTMUDANCA = (SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @CHAPA AND DTMUDANCA <= @DATA_CONSULTA));
SET @CODHORARIO_H = (SELECT CODHORARIO FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @CHAPA AND DTMUDANCA = (SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @CHAPA AND DTMUDANCA <= @DATA_CONSULTA));

SET @CHECK_INDICE = (SELECT COUNT(INDINICIOHOR) FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @CHAPA AND DTMUDANCA = @DATA_CONSULTA);
IF(@CHECK_INDICE > 0)
BEGIN
	SET @CODINDICE_H = (SELECT dbo.CalculoIndiceHorario(INDINICIOHOR, CONVERT(VARCHAR, @DATA_CONSULTA, 103), CODHORARIO, CODCOLIGADA) FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @P_CHAPA AND DTMUDANCA = @DATA_CONSULTA);
	SET @CODINDICE = @CODINDICE_H;
END

IF(@CODHORARIO_H <> @CODHORARIO)
	SET @CODINDICE = @CODINDICE_H
	SET @CODHORARIO = @CODHORARIO_H;

	
SET @INDICE_MIN = (SELECT MIN(INDICE) FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO);
SET @INDICE_MAX = (SELECT MAX(INDICE) FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO);


------

------
	

-- BATIDAS
WITH T_BATIDAS AS (
   SELECT MAX(FIM) BATIDA, 'CS' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 2 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
   UNION ALL
   SELECT MIN(INICIO) BATIDA, 'CE' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 2 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
   UNION ALL
   SELECT MIN(INICIO) BATIDA, 'DE' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 1 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
   UNION ALL
   SELECT MIN(BATINICIO) BATIDA, 'E' TIPO, CODCOLIGADA, CODHORARIO FROM AJORHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND INDINICIO = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
   UNION ALL
   SELECT MAX(FIM) BATIDA, 'DS' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 1 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
   UNION ALL
   SELECT MAX(BATFIM) BATIDA, 'S' TIPO, CODCOLIGADA, CODHORARIO FROM AJORHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND INDINICIO = @CODINDICE   
    GROUP BY CODCOLIGADA, CODHORARIO
)


-- REGISTROS 

INSERT INTO @TESTE 	
SELECT @CODHORARIO CODHORARIO, @DATA_CONSULTA DATA, @CODINDICE CODINDICE,


 @CODCOLIGADA CODCOLIGADA, *--, '--------------------', dbo.mintotime(ENTRADA1) ENTRADA1, dbo.mintotime(SAIDA1) SAIDA1, dbo.mintotime(ENTRADA2) ENTRADA2, dbo.mintotime(SAIDA2) SAIDA2 
FROM (

SELECT

   (SELECT
      MAX(CASE 
         WHEN D.BATIDA IS NOT NULL THEN 'DESCANSO'
         WHEN E.BATIDA IS NOT NULL THEN 'COMPENSADO'
         ELSE 'TRABALHO' END)
   FROM
      GCOLIGADA AA
      LEFT JOIN AJORHOR A ON A.CODCOLIGADA = AA.CODCOLIGADA AND A.CODCOLIGADA = @CODCOLIGADA AND A.CODHORARIO = @CODHORARIO AND @CODINDICE IN (A.INDINICIO, A.INDFIM)
      LEFT JOIN ABATHOR B ON B.CODCOLIGADA = AA.CODCOLIGADA AND B.CODHORARIO = @CODHORARIO AND (CASE WHEN A.INDINICIO = B.INDICE THEN A.INDINICIO ELSE A.INDFIM END) = B.INDICE AND B.INDICE = @CODINDICE AND B.TIPO IN (0)
      LEFT JOIN T_BATIDAS C ON C.CODCOLIGADA = @CODCOLIGADA AND C.CODHORARIO = @CODHORARIO AND C.TIPO = 'E'
      LEFT JOIN T_BATIDAS D ON D.CODCOLIGADA = @CODCOLIGADA AND D.CODHORARIO = @CODHORARIO AND D.TIPO = 'DE'
      LEFT JOIN T_BATIDAS E ON E.CODCOLIGADA = @CODCOLIGADA AND E.CODHORARIO = @CODHORARIO AND E.TIPO = 'CE'
   WHERE
      AA.CODCOLIGADA = @CODCOLIGADA
      ) TIPO,

   (SELECT
      MAX(CASE 
         WHEN D.BATIDA IS NOT NULL THEN D.BATIDA
         WHEN C.BATIDA IS NOT NULL THEN C.BATIDA 
         WHEN E.BATIDA IS NOT NULL THEN E.BATIDA
         ELSE A.BATINICIO END)
   FROM
      GCOLIGADA AA
      LEFT JOIN AJORHOR A ON A.CODCOLIGADA = AA.CODCOLIGADA AND A.CODCOLIGADA = @CODCOLIGADA AND A.CODHORARIO = @CODHORARIO AND @CODINDICE IN (A.INDINICIO, A.INDFIM)
      LEFT JOIN ABATHOR B ON B.CODCOLIGADA = AA.CODCOLIGADA AND B.CODHORARIO = @CODHORARIO AND (CASE WHEN A.INDINICIO = B.INDICE THEN A.INDINICIO ELSE A.INDFIM END) = B.INDICE AND B.INDICE = @CODINDICE AND B.TIPO IN (0)
      LEFT JOIN T_BATIDAS C ON C.CODCOLIGADA = @CODCOLIGADA AND C.CODHORARIO = @CODHORARIO AND C.TIPO = 'E'
      LEFT JOIN T_BATIDAS D ON D.CODCOLIGADA = @CODCOLIGADA AND D.CODHORARIO = @CODHORARIO AND D.TIPO = 'DE'
      LEFT JOIN T_BATIDAS E ON E.CODCOLIGADA = @CODCOLIGADA AND E.CODHORARIO = @CODHORARIO AND E.TIPO = 'CE'
   WHERE
      AA.CODCOLIGADA = @CODCOLIGADA
      ) ENTRADA1,
   
   (SELECT
      A.INICIO
   FROM
      ABATHOR A
   WHERE
         A.CODHORARIO = @CODHORARIO
      AND A.CODCOLIGADA = @CODCOLIGADA
      AND A.INDICE = @CODINDICE
      AND A.TIPO = 4) SAIDA1,
   
   (SELECT
      A.FIM
   FROM
      ABATHOR A
   WHERE
         A.CODHORARIO = @CODHORARIO
      AND A.CODCOLIGADA = @CODCOLIGADA
      AND A.INDICE = @CODINDICE
      AND A.TIPO = 4) ENTRADA2,
      
   (
   SELECT
      MAX(CASE 
         WHEN D.BATIDA IS NOT NULL THEN D.BATIDA
         WHEN C.BATIDA IS NOT NULL THEN C.BATIDA
         WHEN E.BATIDA IS NOT NULL THEN E.BATIDA 
         ELSE A.BATFIM END)
   FROM
      GCOLIGADA AA
      LEFT JOIN AJORHOR A ON A.CODCOLIGADA = AA.CODCOLIGADA AND A.CODCOLIGADA = @CODCOLIGADA AND A.CODHORARIO = @CODHORARIO AND @CODINDICE IN (A.INDINICIO, A.INDFIM)
      LEFT JOIN ABATHOR B ON B.CODCOLIGADA = AA.CODCOLIGADA AND B.CODHORARIO = @CODHORARIO AND (CASE WHEN A.INDINICIO = B.INDICE THEN A.INDINICIO ELSE A.INDFIM END) = B.INDICE AND B.INDICE = @CODINDICE AND B.TIPO IN (0)
      LEFT JOIN T_BATIDAS C ON C.CODCOLIGADA = @CODCOLIGADA AND C.CODHORARIO = @CODHORARIO AND C.TIPO = 'S'
      LEFT JOIN T_BATIDAS D ON D.CODCOLIGADA = @CODCOLIGADA AND D.CODHORARIO = @CODHORARIO AND D.TIPO = 'DS'
      LEFT JOIN T_BATIDAS E ON E.CODCOLIGADA = @CODCOLIGADA AND E.CODHORARIO = @CODHORARIO AND E.TIPO = 'CS'
   WHERE
      AA.CODCOLIGADA = @CODCOLIGADA
   ) SAIDA2
 )X 
 
 SET @LOOP= @LOOP+1
 SET @DATA_CONSULTA = @DATA_CONSULTA+1
 SET @CODINDICE = @CODINDICE+1;
 IF(@CODINDICE > @INDICE_MAX) SET @CODINDICE = @INDICE_MIN;
 IF(@CODINDICE < @INDICE_MIN) SET @CODINDICE = @INDICE_MAX;
 

 END -- END WHILE
END -- END BEGIN 
 
 RETURN
 
END
GO
