USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[pixeon_integracao]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[pixeon_integracao] AS
SELECT
CODIDENTGERADO AS na_accessionnumber, DESCRICAORETORNO AS dt_integracao
FROM SZLOGINTEGRACAOPACSLABRET
GO
