USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_syscachestats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_syscachestats]
   @dbname sysname,
   @sql nvarchar(1024) = null,
   @objtype nvarchar(32) = null,
   @compiled bit = null
as
begin
  declare @cmd nvarchar(4000)
  -- Create temp #sco table with syscacheobjects structure
  select top 1 * into #sco from master..syscacheobjects
  delete from #sco
  set @cmd = N'insert into #sco select * from master..syscacheobjects where ' +
             N'dbid < 32000 '
  if @compiled is not null
    set @cmd = @cmd + N'and (cacheobjtype = ''Executable Plan'' ' +
      N' or (cacheobjtype = ''Compiled Plan'' and ' +
      N'(refcounts = 1 or refcounts = 2))) '
  else
    set @cmd = @cmd + N' and cacheobjtype = ''Executable Plan'' '
  if @sql is not null
  begin
     set @sql = '%' + @sql + '%'
     set @cmd = @cmd + N'and sql like @sql '
     set @cmd = @cmd + N'and sql not like ''%sysobjects%'' '
  end
  if @objtype is not null
    set @cmd = @cmd + N'and objtype = @objtype '
  -- Fill the temp table #sco
  exec sp_executesql @cmd,
       N'@sql nvarchar(1024),@objtype nvarchar(32)',
       @sql,@objtype
  set @cmd = N'select s2.bucketid,s2.cacheobjtype,' +
    N's2.objtype,' +
    N'objname = (select name collate database_default from ' + @dbname +
    N'..sysobjects where db_name(s2.dbid) = @dbname ' +
    N' and id = s2.objid union select name ' +
    N'from tempdb..sysobjects where db_name(s2.dbid) = ''tempdb'' ' +
    N'and id = s2.objid ' +
    N'union select name from master..sysobjects where ' +
    N'db_name(s2.dbid) = ''master'' and id = s2.objid ' +
    N'union select name from msdb..sysobjects where ' +
    N'db_name(s2.dbid) = ''msdb'' and id = s2.objid),' +
      N's2.dbid,s2.uid,s2.refcounts,s2.usecounts,s2.pagesused,s2.setopts, ' +
      N's2.langid,s2.dateformat,s2.status,s2.sqlbytes,s2.sql,s2.lasttime, ' +
      N's2.maxexectime,s2.avgexectime,s2.lastreads,' +
      N's2.lastwrites from #sco as s2 ' +
    N'where db_name(s2.dbid) in (@dbname,''tempdb'',' +
    N'''master'',''msdb'')'
  -- print @cmd
  -- Select from #sco translating names
  exec sp_executesql @cmd,N'@dbname sysname',@dbname
end
 
GO
