USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[PROC_OCORRENCIAS]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_OCORRENCIAS]
	@COL INT,
	@INIC DATE,
	@FIM DATE,
	@ABONO VARCHAR(4)

AS
  BEGIN
  
  DROP TABLE TBL_OCORRENCIAS;
  
  SELECT * INTO TBL_OCORRENCIAS FROM OCORRENCIAS(@COL,@INIC,@FIM,@ABONO)

END
GO
