USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[StpRetornaLoteContabil]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[StpRetornaLoteContabil]  
( @BUKRS   VARCHAR(4)  
, @ZCODLOT VARCHAR(10)  
)  
AS  
BEGIN  
SET NOCOUNT ON  
  
DECLARE @EMPRESA_INT INT  
      , @VALOR40     NUMERIC(15,2)  
      , @VALOR50     NUMERIC(15,2)  
DECLARE @TLOTE       TABLE ( COLIGADA    SMALLINT      NOT NULL  
                           , CODFILIAL   SMALLINT      NOT NULL  
                           , CLCTLOTE    VARCHAR(6)    NOT NULL  
                           , EVENTO      VARCHAR(10)   NOT NULL  
                           , DATA        DATETIME      NOT NULL  
                           , CODCCUSTO   VARCHAR(25)   NOT NULL  
                           , CONTA       VARCHAR(40)   NOT NULL  
                           , CHAVE_CTA   VARCHAR(2)    NOT NULL  
                           , VALOR       NUMERIC(15,2) NOT NULL   
                           , COMPLEMENTO VARCHAR(60)       NULL  
                           , TEXTOCAB	 VARCHAR(60)       NULL 
                           --, PRIMARY KEY ( COLIGADA  
                           --              , CODFILIAL  
                           --              , CLCTLOTE  
                           --              , EVENTO  
                           --              , DATA  
                           --              , CODCCUSTO  
                           --              , CONTA  
                           --              , CHAVE_CTA  
                           --              )  
                           )  
  
  
SELECT @EMPRESA_INT = ( CASE WHEN @BUKRS = '1000'  
                             THEN 1
                             WHEN @BUKRS = '4000'  
                             THEN 4  
                             WHEN @BUKRS = '5000'  
                             THEN 5  
                             ELSE 9999  
                        END  
                      )  
  
-- INSERE LANÇAMENTOS PARA A CHAVE DE LANÇAMENTO 40 (DEBITOS)  
INSERT @TLOTE  
  SELECT COLIGADA    = CLCTLOTE.CODCOLIGADA  
       , CODFILIAL   = IsNull(DFILIAL.CAMPOLIVRE1, '9999')     --CLCTLOTE.CODFILIAL
       , LOTE        = CLCTLOTE.CODLOTE  
       , EVENTO      = IsNull(Substring(CLCTLOTE.COMPLEMENTO, 1, 10),'XX99999999')  
       , DATA        = CLCTLOTE.DATA  
	   -- 25/11/2015 - Maico Silveira --
	   -- ------- PROJETO NEW G/L ------           
       --, CODCCUSTO   = CASE WHEN CLCTLOTE.DEBITO LIKE '2%'   
       --                     THEN ''  
       --                     ELSE IsNull(CLCTLOTE.CODCCUSTO,'')  
       --                END   
       , CODCCUSTO   = IsNull(CLCTLOTE.CODCCUSTO,'')                         
       , CONTA       = CLCTLOTE.DEBITO   
       , CHAVE_CTA   = '40'                                    
       , VALOR       = Sum(CLCTLOTE.VALOR)  
       , COMPLEMENTO = Upper(IsNull(CLCTLOTE.COMPLEMENTO, 'XX99999999-EVENTO/ENCARGO NÃO DEFINIDO'))  
       , TEXTOCAB    = IsNull('ID_RM-' + Convert(VARCHAR, CLCTLOTE.IDLANCAMENTO) + '/' + 'DOC-' + Convert(VARCHAR, CLCTLOTE.DOCUMENTO),'')
    FROM CLCTLOTE  
         INNER JOIN CLOTE   ON CLCTLOTE.CODLOTE     = CLOTE.CODLOTE  
                           AND CLCTLOTE.CODCOLIGADA = CLOTE.CODCOLIGADA
         LEFT  JOIN DFILIAL ON CLCTLOTE.CODFILIAL   = DFILIAL.CODFILIAL  
                           AND CLCTLOTE.CODCOLIGADA = DFILIAL.CODCOLIGADA    WHERE CLCTLOTE.CODLOTE     = Convert(INT, @ZCODLOT)  
     AND CLCTLOTE.CODCOLIGADA = @EMPRESA_INT AND NOT CLCTLOTE.IDLANCAMENTO IS NULL 
   GROUP BY CLCTLOTE.CODCOLIGADA  
          , DFILIAL.CAMPOLIVRE1  
          , CLCTLOTE.CODLOTE  
          , IsNull(Substring(CLCTLOTE.COMPLEMENTO, 1, 10),'XX99999999')  
          , CLCTLOTE.DATA  
		  -- 25/11/2015 - Maico Silveira --
		  -- ------- PROJETO NEW G/L ------        
          --, CASE WHEN CLCTLOTE.DEBITO LIKE '2%'   
          --       THEN ''  
          --       ELSE IsNull(CLCTLOTE.CODCCUSTO,'')  
          --  END   
          , IsNull(CLCTLOTE.CODCCUSTO,'')            
          , CLCTLOTE.DEBITO     
          , CLCTLOTE.COMPLEMENTO  
          , 'ID_RM-' + Convert(VARCHAR, CLCTLOTE.IDLANCAMENTO) + '/' + 'DOC-' + Convert(VARCHAR, CLCTLOTE.DOCUMENTO)          
            
SELECT @VALOR40 = SUM(VALOR)  
  FROM @TLOTE  
 WHERE CHAVE_CTA = '40'         
 GROUP BY CHAVE_CTA                                
     
-- INSERE LANÇAMENTOS PARA A CHAVE DE LANÇAMENTO 50 (CRÉDITOS)  
INSERT @TLOTE  
  SELECT COLIGADA    = CLCTLOTE.CODCOLIGADA  
       , CODFILIAL   = IsNull(DFILIAL.CAMPOLIVRE1, '9999')   --CLCTLOTE.CODFILIAL
       , LOTE        = CLCTLOTE.CODLOTE  
       , EVENTO      = IsNull(Substring(CLCTLOTE.COMPLEMENTO, 1, 10),'XX99999999')  
       , DATA        = CLCTLOTE.DATA  
       -- 25/11/2015 - Maico Silveira --
       -- ------- PROJETO NEW G/L ------
       -- ------------------------------  
       --, CODCCUSTO   = CASE WHEN CLCTLOTE.CREDITO LIKE '2%'   
       --                     THEN ''  
       --                     ELSE IsNull(CLCTLOTE.CODCCUSTO,'')  
       --                END   
       , CODCCUSTO   = IsNull(CLCTLOTE.CODCCUSTO,'')  
       , CONTA       = CLCTLOTE.CREDITO   
       , CHAVE_CTA   = '50'   
       , VALOR       = Sum(CLCTLOTE.VALOR)  
       , COMPLEMENTO = Upper(IsNull(CLCTLOTE.COMPLEMENTO, 'XX99999999-EVENTO/ENCARGO NÃO DEFINIDO'))  
       , TEXTOCAB    = IsNull('ID_RM-' + Convert(VARCHAR, CLCTLOTE.IDLANCAMENTO) + '/' + 'DOC-' + Convert(VARCHAR, CLCTLOTE.DOCUMENTO),'')
    FROM CLCTLOTE  
         INNER JOIN CLOTE   ON CLCTLOTE.CODLOTE     = CLOTE.CODLOTE  
                           AND CLCTLOTE.CODCOLIGADA = CLOTE.CODCOLIGADA
         LEFT  JOIN DFILIAL ON CLCTLOTE.CODFILIAL   = DFILIAL.CODFILIAL  
                           AND CLCTLOTE.CODCOLIGADA = DFILIAL.CODCOLIGADA    WHERE CLCTLOTE.CODLOTE     = Convert(INT, @ZCODLOT)  
     AND CLCTLOTE.CODCOLIGADA = @EMPRESA_INT AND NOT CLCTLOTE.IDLANCAMENTO IS NULL     
   GROUP BY CLCTLOTE.CODCOLIGADA  
       , DFILIAL.CAMPOLIVRE1  
       , CLCTLOTE.CODLOTE  
       , IsNull(Substring(CLCTLOTE.COMPLEMENTO, 1, 10),'XX99999999')  
       , CLCTLOTE.DATA  
	   -- 25/11/2015 - Maico Silveira --
	   -- ------- PROJETO NEW G/L ------           
       --, CASE WHEN CLCTLOTE.CREDITO LIKE '2%'   
       --       THEN ''  
       --       ELSE IsNull(CLCTLOTE.CODCCUSTO,'')  
       --  END   
       , IsNull(CLCTLOTE.CODCCUSTO,'')                   
       , CLCTLOTE.CREDITO     
       , CLCTLOTE.COMPLEMENTO     
       , 'ID_RM-' + Convert(VARCHAR, CLCTLOTE.IDLANCAMENTO) + '/' + 'DOC-' + Convert(VARCHAR, CLCTLOTE.DOCUMENTO)         
            
SELECT @VALOR50 = SUM(VALOR)  
  FROM @TLOTE  
 WHERE CHAVE_CTA = '50'         
 GROUP BY CHAVE_CTA     
  
-- ANTES DE EXECUTAR O SELECT FINAL VERIFICA SE O VALOR TOTAL DE DÉBITOS E 
-- CRÉDITOS SÃO IGUAIS AOS PROCESSADOS PELO TOTVS  

IF NOT Exists ( SELECT 1  
                  FROM CLOTE  
                 WHERE CLOTE.CODLOTE                        = Convert(INT, @ZCODLOT)  
                   AND CLOTE.CODCOLIGADA                    = @EMPRESA_INT  
                   AND IsNull(CLOTE.TOTALDEBITOS,@VALOR40)  = @VALOR40  
                   AND IsNull(CLOTE.TOTALCREDITOS,@VALOR50) = @VALOR50  
              )   
BEGIN    
  DELETE @TLOTE          
END  


--SELECT @VALOR40, @VALOR50
  
SELECT BUKRS   = @BUKRS  
     , BUPLA   = FLPG.CODFILIAL  
     , ZCODLOT = REPLICATE('0',6 - LEN(FLPG.CLCTLOTE)) + FLPG.CLCTLOTE  
     , EVENTO  = FLPG.EVENTO  
     , BUDAT   = Convert(VARCHAR,FLPG.DATA, 112)  
     , WAERS   = 'BRL'  
     , BLDAT   = Convert(VARCHAR,FLPG.DATA, 112)  
     , XBLNR   = FLPG.EVENTO + '-' + Convert(VARCHAR,FLPG.CODFILIAL)  
     , BKTXT   = FLPG.TEXTOCAB
     , BSCHL   = FLPG.CHAVE_CTA  
     , SAKNR   = FLPG.CONTA  
     , DMBTR   = FLPG.VALOR  
     , ZFBDT   = Convert(VARCHAR,FLPG.DATA, 112)  
     , SGTXT   = FLPG.COMPLEMENTO  
     , KOSTL   = FLPG.CODCCUSTO     
  FROM @TLOTE FLPG  
       INNER JOIN CLOTE ON FLPG.CLCTLOTE = CLOTE.CODLOTE  
                       AND FLPG.COLIGADA = CLOTE.CODCOLIGADA    
  SET NOCOUNT OFF  
END                      
   
 


GO
