USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZLOTEAMOSTRAITENSVIEW]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZLOTEAMOSTRAITENSVIEW] AS
SELECT
		SZAMOSTRASLABAPOVIEW.CODGERAL,
		SZLOTEAMOSTRAS.STATUS,
		SZLOTEAMOSTRAS.DATACRIACAO,
		SZLOTEAMOSTRASITENS.CODCOLIGADA,
		SZLOTEAMOSTRASITENS.CODLOTE,
		SZLOTEAMOSTRASITENS.ORDEMSERVICO,
		SZLOTEAMOSTRASITENS.AMOSTRA,
		SZLOTEAMOSTRASITENS.ITEM,
		SZAMOSTRASLABAPOVIEW.DATAAMOSTRA,
		SZAMOSTRASLABAPOVIEW.RAZAOSOCIAL,
		SZAMOSTRASLABAPOVIEW.DESCEXAME,
		SZAMOSTRASLABAPOVIEW.CODPACIENTE,
		SZAMOSTRASLABAPOVIEW.NOMEPACIENTE
	FROM
		SZAMOSTRASLABAPOVIEW WITH (NOLOCK)
	INNER JOIN
		SZLOTEAMOSTRASITENS WITH (NOLOCK)
	ON
		SZAMOSTRASLABAPOVIEW.CODCOLIGADA = SZLOTEAMOSTRASITENS.CODCOLIGADA
		AND SZAMOSTRASLABAPOVIEW.AMOSTRA = SZLOTEAMOSTRASITENS.AMOSTRA
		AND SZAMOSTRASLABAPOVIEW.ORDEMSERVICO = SZLOTEAMOSTRASITENS.ORDEMSERVICO
	INNER JOIN
		SZLOTEAMOSTRAS WITH (NOLOCK)
	ON
		SZLOTEAMOSTRASITENS.CODCOLIGADA = SZLOTEAMOSTRAS.CODCOLIGADA
		AND SZLOTEAMOSTRASITENS.CODLOTE = SZLOTEAMOSTRAS.CODLOTE
GO
