USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[ZRMTAF_CONFINSSBASE2]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ZRMTAF_CONFINSSBASE2]
AS

SELECT DISTINCT 
	MATRIC_ESOCIAL, 
	COLIGADA, 
	CPF, 
	
	BASE_FOLHA, 
	DESC_FOLHA,
	
	BASE_13,
	DESC_13,
	
	INCSUSP_FOLHA,
	INCSUSP_13,
	
	SAL_FAMILIA,
	SAL_FAMILIA_13,
	
	SAL_MATERNIDADE,
	SAL_MATERNIDADE_13,
	
	INCSUSP_EMPREGADOR,
	INCSUSP_EMPREGADOR_13,
	
	BASE_FOLHA_APOSESP,
	BASE_FOLHA_APOSESP_13,
	
	BASE_FOLHA_EXC_EMP,
	BASE_FOLHA_EXC_EMP_13,
	
	BASE_FOLHA_EXC_EMPREGADO,
	BASE_FOLHA_EXC_EMPREGADO_13,
	
	PERIODO, 
	TIPO, 
	PROTOCOLO
FROM(

/*********************************************************************************/
/* COLIGADA 1*/
/*********************************************************************************/
	
	/*Retorno Ativo do S-1200*/
			SELECT
				'01' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))DESC_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))DESC_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA,
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE,
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO,
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR,
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR_13,
				
 				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP,
				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP_13,				
				
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP,
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP_13,
				

				B.T2M_PERAPU PERIODO,
				'S-1200' TIPO,
				C.C91_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R010 A
				
				LEFT JOIN TAF..T2M010 B ON
			          A.T2R_FILIAL  = B.T2M_FILIAL 
			      AND A.T2R_ID = B.T2M_ID 
			
				RIGHT JOIN TAF..C91010 C ON
			  	      B.T2M_NRRECI  = C.C91_PROTUL
			      AND C.C91_STATUS  = '4' 
				  AND C.C91_ATIVO   = '1' 
				  AND C.D_E_L_E_T_ <> '*'
				  AND B.D_E_L_E_T_ <> '*'
		   
				  	
			WHERE 
			A.T2R_TPVLR  IN ('000001','000004','000005','000006','000009','000010','000011','000018','000019') 

			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.C91_PROTUL, A.T2R_MATRIC
				
UNION			
	/*Retorno Ativo do S-2299*/
			SELECT
				SUBSTRING(A.T2R_FILIAL,1,2) COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))DESC_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))DESC_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA,
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE,
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO,
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR,
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR_13,
				
 				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP,
				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP_13,				
				
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP,
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP_13,
				

				B.T2M_PERAPU PERIODO,
				'S-2299' TIPO,
				C.CMD_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R010 A
				
				LEFT JOIN TAF..T2M010 B ON
			          A.T2R_FILIAL  = B.T2M_FILIAL 
			      AND A.T2R_ID = B.T2M_ID 
			
				RIGHT JOIN TAF..CMD010 C ON
			  	      B.T2M_NRRECI  = C.CMD_PROTUL
			      AND C.CMD_STATUS  = '4' 
				  AND C.CMD_ATIVO   = '1' 
				  AND C.D_E_L_E_T_ <> '*'
				  AND B.D_E_L_E_T_ <> '*'
		   
				  	
			WHERE 
			A.T2R_TPVLR  IN ('000001','000004','000005','000006','000009','000010','000011','000018','000019') 
			
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.CMD_PROTUL, A.T2R_MATRIC
 
 UNION			
	/*Retorno Ativo do S-2399*/
			SELECT
				SUBSTRING(A.T2R_FILIAL,1,2) COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))DESC_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))DESC_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA,
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE,
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO,
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR,
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR_13,
				
 				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP,
				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP_13,				
				
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP,
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP_13,
				

				B.T2M_PERAPU PERIODO,
				'S-2399' TIPO,
				C.T92_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R010 A
				
				LEFT JOIN TAF..T2M010 B ON
			          A.T2R_FILIAL  = B.T2M_FILIAL 
			      AND A.T2R_ID = B.T2M_ID 
			
				RIGHT JOIN TAF..T92010 C ON
			  	    B.T2M_NRRECI  = C.T92_PROTUL
			      AND C.T92_STATUS  = '4' 
				  AND C.T92_ATIVO   = '1' 
				  AND C.D_E_L_E_T_ <> '*'
				  AND B.D_E_L_E_T_ <> '*'
		   
				  	
			WHERE 
			A.T2R_TPVLR  IN ('000001','000004','000005','000006','000009','000010','000011','000018','000019') 
			
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.T92_PROTUL, A.T2R_MATRIC	


UNION ALL
/*********************************************************************************/
/* COLIGADA 4*/
/*********************************************************************************/
	
	/*Retorno Ativo do S-1200*/
			SELECT
				'04' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))DESC_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))DESC_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA,
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE,
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO,
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR,
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR_13,
				
 				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP,
				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP_13,				
				
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP,
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP_13,
				

				B.T2M_PERAPU PERIODO,
				'S-1200' TIPO,
				C.C91_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R040 A
				
				LEFT JOIN TAF..T2M040 B ON
			          A.T2R_FILIAL  = B.T2M_FILIAL 
			      AND A.T2R_ID = B.T2M_ID 
			
				RIGHT JOIN TAF..C91040 C ON
			  	      B.T2M_NRRECI  = C.C91_PROTUL
			      AND C.C91_STATUS  = '4' 
				  AND C.C91_ATIVO   = '1' 
				  AND C.D_E_L_E_T_ <> '*'
				  AND B.D_E_L_E_T_ <> '*'
		   
				  	
			WHERE 
			A.T2R_TPVLR  IN ('000001','000004','000005','000006','000009','000010','000011','000018','000019') 

			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.C91_PROTUL, A.T2R_MATRIC
				
UNION			
	/*Retorno Ativo do S-2299*/
			SELECT
				'04' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))DESC_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))DESC_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA,
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE,
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO,
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR,
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR_13,
				
 				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP,
				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP_13,				
				
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP,
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP_13,
				

				B.T2M_PERAPU PERIODO,
				'S-2299' TIPO,
				C.CMD_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R040 A
				
				LEFT JOIN TAF..T2M040 B ON
			          A.T2R_FILIAL  = B.T2M_FILIAL 
			      AND A.T2R_ID = B.T2M_ID 
			
				RIGHT JOIN TAF..CMD040 C ON
			  	      B.T2M_NRRECI  = C.CMD_PROTUL
			      AND C.CMD_STATUS  = '4' 
				  AND C.CMD_ATIVO   = '1' 
				  AND C.D_E_L_E_T_ <> '*'
				  AND B.D_E_L_E_T_ <> '*'
		   
				  	
			WHERE 
			A.T2R_TPVLR  IN ('000001','000004','000005','000006','000009','000010','000011','000018','000019') 
			
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.CMD_PROTUL, A.T2R_MATRIC
 
 UNION			
	/*Retorno Ativo do S-2399*/
			SELECT
				'04' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))DESC_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))DESC_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA,
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE,
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO,
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR,
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR_13,
				
 				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP,
				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP_13,				
				
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP,
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP_13,
				

				B.T2M_PERAPU PERIODO,
				'S-2399' TIPO,
				C.T92_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R040 A
				
				LEFT JOIN TAF..T2M040 B ON
			          A.T2R_FILIAL  = B.T2M_FILIAL 
			      AND A.T2R_ID = B.T2M_ID 
			
				RIGHT JOIN TAF..T92040 C ON
			  	    B.T2M_NRRECI  = C.T92_PROTUL
			      AND C.T92_STATUS  = '4' 
				  AND C.T92_ATIVO   = '1' 
				  AND C.D_E_L_E_T_ <> '*'
				  AND B.D_E_L_E_T_ <> '*'
		   
				  	
			WHERE 
			A.T2R_TPVLR  IN ('000001','000004','000005','000006','000009','000010','000011','000018','000019') 
			
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.T92_PROTUL, A.T2R_MATRIC	


UNION ALL
/*********************************************************************************/
/* COLIGADA 5*/
/*********************************************************************************/
	
	/*Retorno Ativo do S-1200*/
			SELECT
				'05' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))DESC_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))DESC_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA,
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE,
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO,
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR,
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR_13,
				
 				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP,
				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP_13,				
				
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP,
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP_13,
				

				B.T2M_PERAPU PERIODO,
				'S-1200' TIPO,
				C.C91_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R050 A
				
				LEFT JOIN TAF..T2M050 B ON
			          A.T2R_FILIAL  = B.T2M_FILIAL 
			      AND A.T2R_ID = B.T2M_ID 
			
				RIGHT JOIN TAF..C91050 C ON
			  	      B.T2M_NRRECI  = C.C91_PROTUL
			      AND C.C91_STATUS  = '4' 
				  AND C.C91_ATIVO   = '1' 
				  AND C.D_E_L_E_T_ <> '*'
				  AND B.D_E_L_E_T_ <> '*'
		   
				  	
			WHERE 
			A.T2R_TPVLR  IN ('000001','000004','000005','000006','000009','000010','000011','000018','000019') 

			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.C91_PROTUL, A.T2R_MATRIC
				
UNION			
	/*Retorno Ativo do S-2299*/
			SELECT
				'05' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))DESC_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))DESC_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA,
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE,
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO,
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR,
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR_13,
				
 				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP,
				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP_13,				
				
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP,
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP_13,
				

				B.T2M_PERAPU PERIODO,
				'S-2299' TIPO,
				C.CMD_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R050 A
				
				LEFT JOIN TAF..T2M050 B ON
			          A.T2R_FILIAL  = B.T2M_FILIAL 
			      AND A.T2R_ID = B.T2M_ID 
			
				RIGHT JOIN TAF..CMD050 C ON
			  	      B.T2M_NRRECI  = C.CMD_PROTUL
			      AND C.CMD_STATUS  = '4' 
				  AND C.CMD_ATIVO   = '1' 
				  AND C.D_E_L_E_T_ <> '*'
				  AND B.D_E_L_E_T_ <> '*'
		   
				  	
			WHERE 
			A.T2R_TPVLR  IN ('000001','000004','000005','000006','000009','000010','000011','000018','000019') 
			
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.CMD_PROTUL, A.T2R_MATRIC
 
 UNION			
	/*Retorno Ativo do S-2399*/
			SELECT
				'05' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000001' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))DESC_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000006' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))DESC_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_FOLHA,
				SUM((CASE WHEN A.T2R_TPVLR = '000011' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA,
				SUM((CASE WHEN A.T2R_TPVLR = '000009' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_FAMILIA_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE,
				SUM((CASE WHEN A.T2R_TPVLR = '000010' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))SAL_MATERNIDADE_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO,
				SUM((CASE WHEN A.T2R_TPVLR = '000018' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMPREGADO_13,
				
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR,
				SUM((CASE WHEN A.T2R_TPVLR = '000019' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))INCSUSP_EMPREGADOR_13,
				
 				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP,
				SUM((CASE WHEN A.T2R_TPVLR = '000004' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_APOSESP_13,				
				
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 0 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP,
				SUM((CASE WHEN A.T2R_TPVLR = '000005' AND A.T2R_INDDEC = 1 THEN A.T2R_VALOR ELSE 0 END))BASE_FOLHA_EXC_EMP_13,
				

				B.T2M_PERAPU PERIODO,
				'S-2399' TIPO,
				C.T92_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R050 A
				
				LEFT JOIN TAF..T2M050 B ON
			          A.T2R_FILIAL  = B.T2M_FILIAL 
			      AND A.T2R_ID = B.T2M_ID 
			
				RIGHT JOIN TAF..T92050 C ON
			  	    B.T2M_NRRECI  = C.T92_PROTUL
			      AND C.T92_STATUS  = '4' 
				  AND C.T92_ATIVO   = '1' 
				  AND C.D_E_L_E_T_ <> '*'
				  AND B.D_E_L_E_T_ <> '*'
		   
				  	
			WHERE 
			A.T2R_TPVLR  IN ('000001','000004','000005','000006','000009','000010','000011','000018','000019') 
			
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.T92_PROTUL, A.T2R_MATRIC	

  
)X
GO
