USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_index_recommend]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_index_recommend]
   @topn int = 300,
   @order_by nvarchar(6) = N' '
as
begin
-- Retrieve useful information from the db_missing_index dm-views
-- Sorting by the 'load' of the statement
  declare @cmd nvarchar(4000)
  declare @topn_str nvarchar(64)
  declare @order_by_str nvarchar(128)
-- Don't allow a select without a top
  if @topn <= 0
    set @topn = 300
  set @topn_str = N'TOP ' + convert(nvarchar,@topn)
  -- Sort the output
  select @order_by_str =
    case @order_by
      when 'STL' then N'order by statement_load desc '
      when 'UOP' then N'order by user_total_ops desc '
      when 'UQC' then N'order by unique_compiles desc '
      else   N'order by statement_load desc '
    end
set @cmd =
N'select '+ @topn_str +
  N'DBNAME = parsename(replace(replace(statement,@lbr,@emp),@rbr,@emp),3 ), ' +
  N'SCHEMANAME =  ' +
     N'parsename(replace(replace(statement,@lbr,@emp),@rbr,@emp),2 ), ' +
  N'TABNAME = ' +
     N'parsename(replace(replace(statement,@lbr,@emp ),@rbr,@emp),1 ), ' +
  N'statement_load =  convert(bigint,avg_total_user_cost * avg_user_impact *' +
       N'( user_seeks + user_scans ) ' +
       N'+ avg_total_system_cost * avg_system_impact * ' +
       N'( system_seeks + system_scans )) / 100,' +
  N'avg_total_user_cost,' +
  N'avg_user_impact,' +
  N'user_total_ops = user_seeks + user_scans,' +
  N'equality_columns = ' +
     N'replace(replace(equality_columns,@lbr,@emp ),@rbr,@emp),' +
  N'inequality_columns = ' +
     N'replace(replace(inequality_columns,@lbr,@emp ),@rbr,@emp),' +
  N'included_columns = ' +
       N'replace(replace(included_columns,@lbr,@emp ),@rbr,@emp),' +
  N'last_user_seek,' +
  N'last_user_scan,' +
  N'unique_compiles,' +
  N'avg_total_system_cost,' +
  N'avg_system_impact,' +
  N'system_total_ops = system_seeks + system_scans,' +
  N'last_system_seek, ' +
  N'last_system_scan ' +
  N'from sys.dm_db_missing_index_groups g ' +
    N'join sys.dm_db_missing_index_details d ' +
      N'on d.index_handle = g.index_handle ' +
    N'join sys.dm_db_missing_index_group_stats s ' +
      N'on s.group_handle = g.index_group_handle ' +
  N'where db_name(database_id) <> @msdb ' +
  @order_by_str
  exec sp_executesql @cmd,
    N'@lbr nchar(1),@rbr nchar(1),@emp nvarchar(1),@msdb nvarchar(10)',
    N'[',N']',N'',N'msdb'
end
 
GO
