USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tf_loglist]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tf_loglist]
  @schema   sysname
AS
BEGIN
  SET NOCOUNT ON
  declare  @procname  varchar(256)
  if ( @schema = '' or @schema = ' ' )
    set @schema = user
  /*--- Log file content --------------------------------------------*/
  create table #errlogoutput
  (
  arcNum     int,
  dmy        datetime null,
  prc        nvarchar(32),
  logText    nvarchar(MAX) null
  )
  /*--- List of log files -------------------------------------------*/
  create table #enumlogs
  ( arcType  nchar(1) null,
    arcNum   int      null,
    creDate  datetime null,
    logSize  int      null
  )
  /*--- Log file properties -----------------------------------------*/
  create table #logfiledata
  ( logType  nchar(1),
    numLog   int,
    dateLog  nchar(20),
    nameLog  sysname,
    flag17   nchar(1),
    flag20   nchar(1),
    filekb   int
  )
  /*--- Call DBACOCKPIT procedure -----------------------------------*/
  set @procname = @schema + '.sap_mon_sqlerrorlogs'
  EXECUTE @procname
  /*--- Return results ----------------------------------------------*/
  SELECT nameLog as FileName ,
         dateLog as LastEntry ,
         flag17  as ErrorSeverity17 ,
         flag20  as ErrorSeverity20 ,
         filekb  as FileSizeKB
    FROM #logfiledata
    ORDER BY logType DESC, numLog ASC
END
 
GO
