USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_update_job]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_update_job] @jobname varchar(100),
                        @enableflg int,
                        @rc int output as
begin
declare @retcode int
if (exists (select job_id from msdb..sysjobs where
        name = @jobname))
  begin
     Execute
       @retcode = msdb..sp_update_job @job_name =  @jobname,
               @enabled =  @enableflg
     select @rc = @retcode
  end
else
  select @rc = -1
end
select @rc
 
GO
