USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_checkobject]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Check existence of the object, called by CHECK_OBJECT_MSQ */
/* (DB02-Checks) */
create procedure [dbo].[sap_mon_checkobject] @tabname varchar(30),
                                     @dbname varchar(256) ='0'
as
  declare @existence char(1)
  declare @cmd1   varchar(240)
  declare @cnt int
  set nocount on
if @dbname = '0' or @dbname = db_name()
 begin
       if (exists(select name from sysobjects
       where id = object_id(@tabname) and (type = 'U'
               or type = 'S')))
          select @existence = 'y'
     else
         select @existence = 'n'
 end
else
 begin
  create table #rowcnt(cnt int)
  select @cmd1 = 'select count(*) from '
         + @dbname+'..sysobjects where id ='
         +'object_id('''+@dbname+'..'
         +@tabname+''') and (type = ''U'' or '
         +'type = ''S'')'
  insert into #rowcnt(cnt)
  exec (@cmd1)
  select @cnt = cnt from #rowcnt
  if @cnt > 0
    select @existence = 'y'
  else
    select @existence = 'n'
 end
 select @existence
 
GO
