USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_lock]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_lock]
 @tabname sysname = NULL
as
 if ((select sum(blocked) from master..sysprocesses) <> 0)
 begin
     print 'Blocking Locks'
     print '=============='
     print ' '
     select
         convert (smallint, req_spid) As spid,
         rsc_dbid As dbid,
         rsc_indid As IndId,
         substring (v.name, 1, 4) As Type,
         substring (rsc_text, 1, 16) as Resource,
         substring (u.name, 1, 8) As Mode,
         substring (x.name, 1, 5) As Status,
         substring(so.name,1,40) as 'On Table',
         p.blocked as Blocked_by,
         substring(pp.program_name,1,25) as 'From Connection',
         substring(pp.hostname,1,10) as 'On host',
         pp.cmd as 'with command'
     from
         sysobjects so with (nolock),
         master.dbo.syslockinfo with (nolock),
         master.dbo.spt_values v with (nolock),
         master.dbo.spt_values x with (nolock),
         master.dbo.spt_values u with (nolock),
         master.dbo.sysprocesses p  with (nolock) inner join
             master.dbo.sysprocesses pp  with (nolock) ON p.blocked = pp.spid
     where   so.id = rsc_objid and
             master.dbo.syslockinfo.rsc_type = v.number
             and v.type = 'LR'
             and master.dbo.syslockinfo.req_status = x.number
             and x.type = 'LS'
             and master.dbo.syslockinfo.req_mode + 1 = u.number
             and u.type = 'L'
             and req_spid = p.spid
             and p.blocked <> 0
             and v.name <> 'DB'
     order by object_name(rsc_objid)
 end
 else
 begin
     print 'No blocking locks found'
 end
 if @tabname is not NULL
 begin
     select  case rsc_objid when 0 then 'Not known'
     else substring (so.name,1,40) end as Tablename,
         convert (smallint, req_spid) As spid,
         rsc_dbid As dbid,
         rsc_indid As IndId,
         substring (v.name, 1, 4) As Type,
         substring (rsc_text, 1, 16) as Resource,
         substring (u.name, 1, 8) As Mode,
         substring (x.name, 1, 5) As Status,
         substring (p.program_name, 1,25) as Connection,
         rsc_objid As ObjId
     from sysobjects so  with (nolock),
         master.dbo.syslockinfo  with (nolock),
         master.dbo.spt_values v  with (nolock),
         master.dbo.spt_values x  with (nolock),
         master.dbo.spt_values u  with (nolock),
         master.dbo.sysprocesses p  with (nolock)
     where   so.id = rsc_objid and
             master.dbo.syslockinfo.rsc_type = v.number
             and v.type = 'LR'
             and master.dbo.syslockinfo.req_status = x.number
             and x.type = 'LS'
             and master.dbo.syslockinfo.req_mode + 1 = u.number
             and u.type = 'L'
             and rsc_objid = object_id(@tabname)
             and req_spid = p.spid
     order by object_name(rsc_objid)
 end
 /*
 **  No parameters, so show all the locks.
 */
 else
 begin
     select  case rsc_objid when 0 then 'Not known'
     else substring (so.name,1,40) end as Tablename,
         convert (smallint, req_spid) As spid,
         rsc_dbid As dbid,
         rsc_indid As IndId,
         substring (v.name, 1, 4) As Type,
         substring (rsc_text, 1, 16) as Resource,
         substring (u.name, 1, 8) As Mode,
         substring (x.name, 1, 5) As Status,
         substring (p.program_name, 1,25) as Connection,
         rsc_objid As ObjId
     from sysobjects so  with (nolock),
         master.dbo.syslockinfo  with (nolock),
         master.dbo.spt_values v  with (nolock),
         master.dbo.spt_values x  with (nolock),
         master.dbo.spt_values u  with (nolock),
         master.dbo.sysprocesses p  with (nolock)
     where so.id = rsc_objid
             and master.dbo.syslockinfo.rsc_type = v.number
             and v.type = 'LR'
             and master.dbo.syslockinfo.req_status = x.number
             and x.type = 'LS'
             and master.dbo.syslockinfo.req_mode + 1 = u.number
             and u.type = 'L'
             and v.name <> 'DB'
             and req_spid = p.spid
     order by object_name(rsc_objid)
 end
 
GO
