USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_NUMCRACHA_SENIOR_SAP]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_NUMCRACHA_SENIOR_SAP] 
AS 

SELECT CPF = numcpf 
, CHAPA = numcad 
, NUMFIS = CONVERT(VARCHAR, numcra) 
, NUMCRA = CONVERT(VARCHAR, numcra) 
FROM SENIOR.SENIOR.SENIOR.r034fun 
WHERE numcpf IS NOT NULL 


GO
