USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VIEW_BW_TB_VEXAMESPRONT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_BW_TB_VEXAMESPRONT]
AS
	SELECT CODPESSOA        = VEP.CODPESSOA
         , CODEXAME			= VEP.CODEXAME
         , DATAEXAME		= VEP.DATAEXAME
         , CODENTIDADE		= VEP.CODENTIDADE
         , CODCOLIGADA		= VEP.CODCOLIGADA
         , CID				= VEP.CID
         , RESULTNORMAL		= VEP.RESULTNORMAL
         , DESCANORMAL		= VEP.DESCANORMAL
         , APTO				= VEP.APTO
         , ATIVOOCUPACIONAL	= VEP.ATIVOOCUPACIONAL
         , CODMEMOOBS		= VEP.CODMEMOOBS
         , TIPOANORMALIDADE	= VEP.TIPOANORMALIDADE
         , EXAMEREFERENCIAL = VEP.EXAMEREFERENCIAL 
         , IDCONSULTA		= VEP.IDCONSULTA
         , TIPOEXAME		= VEP.TIPOEXAME
         , CODLAUDOEXAME	= VEP.CODLAUDOEXAME
         , INTERPREXM		= VEP.INTERPREXM
         , CODPROCEDIMENTO 	= VEP.CODPROCEDIMENTO 
         , EXAMERECUSADO	= VEP.EXAMERECUSADO
         , DTMODIFICACAO    = CONVERT(VARCHAR(8),ISNULL(VEP.RECMODIFIEDON, VEP.DATAEXAME),112)
	  FROM VEXAMESPRONT VEP

GO
