USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVOTROCAMUTUAIMOVEIS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITIVOTROCAMUTUAIMOVEIS]
AS
SELECT
  XADITTROCAMUTUASUBUNIDADE.NUMADIT,
  XADITTROCAMUTUASUBUNIDADE.CODPESSEMPRATUAL AS NUMVENDACORRENTE,
  XADITTROCAMUTUASUBUNIDADE.NUMVENDA AS CODPESSEMPRCORRENTE,
  XADITTROCAMUTUASUBUNIDADE.NUMUNIDATUAL AS NUMUNIDCORRENTE,
  XADITTROCAMUTUASUBUNIDADE.NUMSUBUNIDATUAL AS NUMSUBUNIDCORRENTE,
  XADITTROCAMUTUASUBUNIDADE.NUMVENDATROCA AS NUMVENDATROCA,
  XADITTROCAMUTUASUBUNIDADE.CODPESSEMPRTROCA AS CODPESSEMPRTROCA,
  XADITTROCAMUTUASUBUNIDADE.NUMUNIDTROCA AS NUMUNIDTROCA,
  XADITTROCAMUTUASUBUNIDADE.NUMSUBUNIDTROCA AS NUMSUBUNIDTROCA,
  NULL AS RENEGOCIOU,
  XADITTROCAMUTUASUBUNIDADE.RECCREATEDBY,
  XADITTROCAMUTUASUBUNIDADE.RECCREATEDON,
  XADITTROCAMUTUASUBUNIDADE.RECMODIFIEDBY,
  XADITTROCAMUTUASUBUNIDADE.RECMODIFIEDON
FROM XADITTROCAMUTUASUBUNIDADE
GO
