USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_INSERT_INTO_SELECT_HLEVEL]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_INSERT_INTO_SELECT_HLEVEL]
  @delta int,          /* look number of levels from groupby level*/
  @rdelta int,         /* distance of group by level from nodevar */
  @dest varchar(40),   /* name of temporary table                 */
  @inctab varchar(40), /* name of Inclusiontable                  */
  @nodevar int,        /* starting node in Inclusiontable         */
  @hiesid int,         /* Hierarchynumber in Inclusiontable       */
  @sver char(1)        /* version of the hierarchy                */
AS
begin
  set nocount on
  declare @nodevar_s varchar(14)
  declare @hiesid_s  varchar(14)
  declare @actstmt varchar(7168)
  declare @dbname sysname
  declare @rowcount int
  set @dbname = db_name()
  select @hiesid_s = cast(@hiesid AS varchar)
  select @nodevar_s = cast(@nodevar AS varchar)
  if /* @delta = 0  OR */ @rdelta = 0
    raiserror(
      'Delta: %d, rdelta: %d not allowed with %s',
      0, 1,
      @delta, @rdelta, 'sap_BW_INSERT_INTO_SELECT_LEVEL')
  else
  begin
    declare @ttprefix varchar(40)
    declare @numstr varchar(14)
    declare @wherepart varchar(256)
    declare @selectpart varchar(256)
    declare @unionpart varchar(256)
    /* prepare some fixed statement elements */
    if (@hiesid is NULL or @hiesid  > 0)
      select @wherepart = ' where (HIESID = ' + @hiesid_s + ' AND '
    else
      select @wherepart = ' where ('
    select @wherepart = @wherepart + 'SVER = ''' + @sver + ''') AND '
    select @selectpart = 'select distinct IT.SUCC, ' + @nodevar_s +
                         ' AS PRED into '
    select @numstr = 0
    exec sap_BW___drop_temptabs 'HIETT'
    select @ttprefix = '##HIETT_' + cast(@@SPID AS varchar) + '_'
    select @actstmt = @selectpart + @ttprefix + @numstr + ' from '
                      + @inctab + ' IT '
                      + @wherepart + ' PRED = ' + @nodevar_s
    /* select @actstmt */
    execute(@actstmt)
    declare @maxnumstr int
    declare @loopvar int
    set @loopvar = @rdelta - 1
    select @maxnumstr = @loopvar
    while @loopvar > 0 begin
      set @numstr = @numstr + 1
      set @actstmt =  @selectpart + @ttprefix + @numstr + ' from '
                      + @inctab + ' IT, '
                      + @ttprefix + cast(@numstr - 1 AS varchar)
                      + ' TT ' + @wherepart + ' TT.SUCC = IT.PRED'
      /* SELECT @actstmt */
      execute(@actstmt)
      set @rowcount = @@ROWCOUNT
      if @rowcount = 0
      begin
        declare @stmt varchar(100)
        set @stmt = 'drop table ' + @ttprefix + @numstr
        execute(@stmt)
        set @numstr = @numstr - 1
        break
      end
      set @loopvar = @loopvar - 1
    end
    select @maxnumstr = @numstr
    select @numstr = @numstr + 1
    select @selectpart =
              'select IT.SUCC, TT.SUCC AS PRED, IT.FACTOR into '
    select @unionpart =
              ' union select SUCC, PRED, FACTOR from '
              + @ttprefix + cast(@numstr - 1 AS varchar)
              + ' where SUCC >= 0'
    select @actstmt = @selectpart + @ttprefix + @numstr
              + ' from ' + @inctab + ' IT, '
              + @ttprefix + cast(@numstr - 1 AS varchar) + ' TT '
              + @wherepart + ' TT.SUCC = IT.PRED'
    /* SELECT @actstmt */
    execute(@actstmt)
    set @loopvar = @delta - 1
    select @maxnumstr = @loopvar
    select @selectpart =
             'select IT.SUCC, TT.PRED AS PRED, IT.FACTOR into '
    while @loopvar > 0
    begin
      set @numstr = @numstr + 1
      set @actstmt =  @selectpart + @ttprefix + @numstr
                      + ' from ' + @inctab + ' IT, '
                      + @ttprefix + cast(@numstr - 1 AS varchar)
                      + ' TT ' + @wherepart + ' TT.SUCC = IT.PRED'
      /* SELECT @actstmt */
      execute(@actstmt)
      if @rowcount = @@ROWCOUNT
      begin
        declare @stmt2 varchar(100)
        set @stmt2 = 'drop table ' + @ttprefix + @numstr
        execute(@stmt2)
        set @numstr = @numstr - 1
        break
      end
      set @loopvar = @loopvar - 1
    end
    select @maxnumstr = @numstr
    select @actstmt = 'insert into ' + @dest
    set @numstr = 0
    set @loopvar = @delta + @rdelta
    while @loopvar > 0
    begin
      /* select  @ttprefix + @numstr */
      /* declare @actstmt2 varchar(200)
      select @actstmt2 =
        'select * from ' + @ttprefix + @numstr
      exec (@actstmt2) */
      if @numstr < @rdelta
        select @actstmt = @actstmt
                          + ' select SUCC, SUCC, 1 FROM '
                          + @ttprefix + @numstr
      else
      begin
        if @delta = 0
          select @actstmt = @actstmt + ' select PRED, PRED, 1 FROM '
                            + @ttprefix + @numstr
        else
        begin
          if len(@actstmt) > 0 set @actstmt = @actstmt + ' all '
          select @actstmt = @actstmt
                            + ' select SUCC, PRED, FACTOR FROM '
                            + @ttprefix + @numstr
        end
      end
      if (@numstr < @maxnumstr)
        set @actstmt = @actstmt + ' WHERE SUCC > 0 union '
      else begin
        break
      end
      set @numstr = @numstr + 1
    end
    /* SELECT @actstmt */
    execute(@actstmt)
  end
end /* sap_BW_INSERT_INTO_SELECT_HLEVEL    */
 
GO
