USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tf_logdetail]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tf_logdetail]
  @schema     sysname ,
  @FileName   sysname
AS
BEGIN
  SET NOCOUNT ON
  DECLARE  @errLogNum  int
  DECLARE  @agtLogNum  int
  DECLARE  @procname   varchar(256)
  if ( @schema = '' or @schema = ' ' )
    set @schema = user
  /*--- Log file content --------------------------------------------*/
  create table #errlogoutput
  (
  arcNum     int,
  dmy        datetime null,
  prc        nvarchar(32),
  logText    nvarchar(MAX) null
  )
  /*--- Set sap_mon_sqlerrorlogs call parameters --------------------*/
  if ( @FileName = 'ERRORLOG' )
    BEGIN
      SET @errLogNum =  0
      SET @agtLogNum = -1
    END
  else if ( substring(@FileName, 1, 9) = 'ERRORLOG.' )
    BEGIN
      SET @FileName  = REPLACE(@FileName,'ERRORLOG.', '')
      SET @errLogNum = CAST(@FileName AS int)
      SET @agtLogNum = -1
    END
  else if ( @FileName = 'SQLAGENT.OUT' )
    BEGIN
      SET @errLogNum = -1
      SET @agtLogNum =  0
    END
  else if ( substring(@FileName, 1, 9) = 'SQLAGENT.' )
    BEGIN
      SET @FileName  = REPLACE(@FileName,'SQLAGENT.', '')
      SET @errLogNum = -1
      SET @agtLogNum = CAST(@FileName AS int)
    END
  /*--- Call DBACOCKPIT procedure -----------------------------------*/
  if ( @errLogNum IS NOT NULL )
    BEGIN
      set @procname = @schema + '.sap_mon_sqlerrorlogs'
      EXECUTE @procname @allLogData = 'N',
                        @errLogNum  = @errLogNum,
                        @agtLogNum  = @agtLogNum
    END
  /*--- Return results ----------------------------------------------*/
    SELECT CONVERT(nvarchar(8),dmy,112)+
           replace(CONVERT(nvarchar(16),dmy,108),':','')    AS Timestamp ,
           prc                            AS Source    ,
           CONVERT(nvarchar(1000),logText) AS Message
      FROM #errlogoutput ORDER BY dmy ASC
END
 
GO
