USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XTIPOVENDEDOR]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XTIPOVENDEDOR]
AS
SELECT
CODCOLIGADA * 10000 + CODCLIENTE COD_TIPO_VEND,
DESCRICAO DSC_TIPO_VEND,
NULL PERC_COMIS_TIPO,
'A' COD_SIT_OPRL,
NULL COD_PESS_ULT_MNT,
NULL DAT_ULT_MNT,
RECCREATEDBY,
RECCREATEDON,
RECMODIFIEDBY,
RECMODIFIEDON
FROM GCONSIST G1
WHERE (G1.CODTABELA = 'XTIPOVEND') AND
(G1.APLICACAO = 'X')
GO
