USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_perms]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sap_get_perms]
  @include_p   char(1)
AS
BEGIN
  SET NOCOUNT ON
  DECLARE @dbname sysname
  DECLARE @cmd    nvarchar(4000)
  DECLARE [dbname] CURSOR FAST_FORWARD FOR
    SELECT [name] FROM sys.databases
  IF ( object_id('tempdb..#result','U') IS NOT NULL )
    DROP TABLE #result
  CREATE TABLE #result
   (
    [DBNAME]          sysname       ,
    [CLASS_DESC]      nvarchar(60)  ,
    [OBJECT_OR_ID]    sysname       ,
    [MINOR_ID]        int           ,
    [PERMISSION]      nvarchar(128) ,
    [STATE_DESC]      nvarchar(60)
   )
  /*--- Server permissions -------------------------------------------*/
  IF ( @include_p = ' ' )
    BEGIN
      INSERT INTO #result
        SELECT ' ' ,
          class_desc ,
          CAST(major_id AS varchar(10)) ,
          minor_id ,
          permission_name ,
          state_desc
        FROM sys.server_permissions
        WHERE grantee_principal_id IN
          ( SELECT SUSER_ID()
            UNION
            SELECT role_principal_id FROM sys.server_role_members
              WHERE member_principal_id = SUSER_ID() )
    END
  ELSE
    BEGIN
      INSERT INTO #result
        SELECT ' ' ,
          class_desc ,
          CAST(major_id AS varchar(10)) ,
          minor_id ,
          permission_name ,
          state_desc
        FROM sys.server_permissions
        WHERE grantee_principal_id IN
          ( SELECT SUSER_ID()
            UNION
            SELECT SUSER_ID('public')
            UNION
            SELECT role_principal_id FROM sys.server_role_members
              WHERE member_principal_id = SUSER_ID() )
    END
  /*--- Loop through all databases -----------------------------------*/
  OPEN [dbname]
  FETCH NEXT FROM [dbname] INTO @dbname
  WHILE @@FETCH_STATUS = 0
    BEGIN
      /*--- Database permissions -------------------------------------*/
      SET @cmd = 'INSERT INTO #result SELECT ''' + @dbname +
        ''', class_desc, CASE class WHEN 1 THEN ( SELECT name FROM ' +
        @dbname + '.sys.all_objects WHERE [object_id] = major_id ) ' +
        'ELSE CAST(major_id AS varchar(10)) END, minor_id, ' +
        'permission_name, state_desc FROM ' + @dbname +
        '.sys.database_permissions WHERE grantee_principal_id IN ( ' +
        'SELECT principal_id FROM ' + @dbname +
        '.sys.database_principals WHERE sid = SUSER_SID() UNION '
      IF ( @include_p <> ' ' )
        SET @cmd = @cmd +
          'SELECT principal_id FROM ' + @dbname +
          '.sys.database_principals WHERE name = ''public'' UNION '
      SET @cmd = @cmd +
        'SELECT role_principal_id FROM ' + @dbname +
        '.sys.database_role_members a, ' + @dbname +
        '.sys.database_principals b WHERE a.member_principal_id = ' +
        'b.principal_id AND b.sid = SUSER_SID())'
      BEGIN TRY
        exec sp_executesql @cmd
      END TRY
      BEGIN CATCH
      END CATCH
      FETCH NEXT FROM [dbname] INTO @dbname
    END
  CLOSE [dbname]
  DEALLOCATE [dbname]
  SELECT * FROM #result ORDER BY [DBNAME], [CLASS_DESC]
  DROP TABLE #result
END
 
GO
