USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_coll_DBHex]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sap_coll_DBHex]
  @start_ts    varchar(14) ,   -- SAP timestamp UTC
  @end_ts      varchar(14)     -- SAP timestamp UTC
AS
BEGIN
  SET NOCOUNT ON
  /*--- Variable declarations ---------------------------------------*/
  declare  @from_time  datetime
  declare  @to_time    datetime
  declare  @aux        varchar(20)
  /*--- Table variables ---------------------------------------------*/
  declare @perfcntr TABLE (
      counter_id    int            NOT NULL ,
      obj_name      nvarchar(128)  NOT NULL ,
      cntr_name     nvarchar(128)  NOT NULL ,
      accumulat     nvarchar(10)   NOT NULL )
  CREATE TABLE #perfinfo
    (
      sid_now     int ,
      sid_old     int ,
      counter_id  int ,
      inst_name   nvarchar(128) ,
      accumulat   nvarchar(20) ,
      val_now     bigint ,
      val_old     bigint ,
      utc_now     datetime ,  -- UTC timestamp this measurement
      utc_end     datetime ,  -- UTC timestamp end of this measurement
      utc_old     datetime ,  -- UTC timestamp previous measurement
      loc_now     datetime ,  -- Local timestamp this measurement
      loc_old     datetime ,  -- Local timestamp previous measurement
      loc_start   datetime ,  -- Local timestamp SQL Server start
      delta_t     int ,
      timestmp    varchar(20)
    )
  /*--- Convert SAP timestamps to datetime --------------------------*/
  set @aux = SUBSTRING(@start_ts, 1,4) + '-' +
             SUBSTRING(@start_ts, 5,2) + '-' +
             SUBSTRING(@start_ts, 7,2) + ' ' +
             SUBSTRING(@start_ts, 9,2) + ':' +
             SUBSTRING(@start_ts,11,2) + ':' +
             SUBSTRING(@start_ts,13,2)
  set @from_time = cast( @aux as datetime )
  set @aux = SUBSTRING(@end_ts, 1,4) + '-' +
             SUBSTRING(@end_ts, 5,2) + '-' +
             SUBSTRING(@end_ts, 7,2) + ' ' +
             SUBSTRING(@end_ts, 9,2) + ':' +
             SUBSTRING(@end_ts,11,2) + ':' +
             SUBSTRING(@end_ts,13,2)
  set @to_time = cast( @aux as datetime )
/*--- Overall list of performance counters --------------------------*/
  INSERT INTO @perfcntr
    SELECT counter_id, obj_name, cntr_name, accumulat
      FROM sap_perfcntr
      WHERE counter_id < 10000
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      INSERT INTO @perfcntr
        SELECT counter_id, obj_name, cntr_name, accumulat
          FROM sap_clr_createcntr()
          WHERE counter_id < 10000
    END
/*--- Create list of valid counters ---------------------------------*/
  INSERT INTO #perfinfo
    SELECT a.sample_id  ,   -- sid_now
           NULL         ,   -- sid_old
           b.counter_id ,   -- counter_id
           b.inst_name  ,   -- inst_name
           c.accumulat  ,   -- accumulat
           NULL         ,   -- val_now
           NULL         ,   -- val_old
           a.utc_start  ,   -- utc_now : todo in sap_perfsample
           a.utc_end    ,   -- utc_end : todo in sap_perfsample
           NULL         ,   -- utc_old
           a.startat    ,   -- loc_now
           NULL         ,   -- loc_old
           a.alive      ,   -- loc_start
           NULL         ,   -- delta_t
           NULL             -- timestmp
      FROM sap_perfsample a ,
           sap_perfvali   b ,
           @perfcntr      c
      WHERE a.utc_start  >= @from_time
        AND a.utc_start  <= @to_time
        AND b.counter_id =  c.counter_id
        AND b.from_id    <= a.sample_id
        AND b.to_id      >= a.sample_id
/*--- Determine value at point of measurement -----------------------*/
  UPDATE #perfinfo
    SET val_now = b.cntr_value
    FROM #perfinfo a, sap_perfinfo b
    WHERE a.counter_id = b.counter_id
      AND a.inst_name  = b.inst_name
      AND b.resi_flag  = 0
      AND a.sid_now    = b.sample_id
/*--- Determine previous measurement point --------------------------*/
  UPDATE #perfinfo
    SET sid_old = ( SELECT TOP 1 b.sample_id FROM sap_perfinfo b
                      WHERE b.counter_id = a.counter_id
                        AND b.inst_name  = a.inst_name
                        AND b.resi_flag  = 0
                        AND b.sample_id  < a.sid_now
                        AND EXISTS
                          ( select counter_id from sap_perfvali c
                              where c.counter_id = a.counter_id
                                and c.inst_name  = a.inst_name
                                and c.from_id   <= b.sample_id
                                and c.to_id     >= b.sample_id )
                      ORDER BY sample_id desc )
    FROM #perfinfo a
/*--- Determine previous timestamps and values ----------------------*/
  UPDATE #perfinfo
    SET val_old = b.cntr_value ,
        loc_old = c.startat
    FROM #perfinfo a, sap_perfinfo b, sap_perfsample c
    WHERE a.sid_old    = b.sample_id
      AND a.counter_id = b.counter_id
      AND a.inst_name  = b.inst_name
      AND b.resi_flag  = 0
      AND a.sid_old    = c.sample_id
/*--- Set non-accumulative counters ---------------------------------*/
  UPDATE #perfinfo
    SET val_now = val_old
    WHERE accumulat = ' '
      AND val_now IS NULL
/*--- Set values for accumulative counters after system start -------*/
  UPDATE #perfinfo
    SET val_old = 0 ,
        delta_t = DATEDIFF(second,loc_start,loc_now)
    WHERE accumulat in ('int','bigint')
      AND loc_start >  loc_old
      AND val_now IS NOT NULL
/*--- Set time delta for all other accumulative counters ------------*/
  UPDATE #perfinfo
    SET utc_old = ( select top 1 utc_start
                      from sap_perfsample
                      where sample_id < sid_now
                      order by sample_id desc )
    WHERE accumulat in ('int','bigint')
      AND loc_start <  loc_old
  UPDATE #perfinfo
    SET delta_t = DATEDIFF(second,utc_old,utc_now) ,
        val_now = val_now - val_old
    WHERE accumulat in ('int','bigint')
      AND loc_start <  loc_old
      AND val_now IS NOT NULL
/*--- Convert to SAP timestamp --------------------------------------*/
  UPDATE #perfinfo
    SET timestmp = CONVERT(varchar(20),utc_now,120)
  UPDATE #perfinfo
    SET timestmp = SUBSTRING(timestmp, 1,4) +
                   SUBSTRING(timestmp, 6,2) +
                   SUBSTRING(timestmp, 9,2) +
                   SUBSTRING(timestmp,12,2) +
                   SUBSTRING(timestmp,15,2) +
                   SUBSTRING(timestmp,18,2)
/*--- Store the time deltas in the result table ---------------------*/
  SELECT DISTINCT cast(a.timestmp as varchar(14)) ,   -- TIMESTMP
                  b.obj_name                      ,   -- OBJ_NAME
                  b.cntr_name                     ,   -- CNTR_NAME
                  cast(' ' as nvarchar(128))      ,   -- INST_NAME
                  cast(a.delta_t as bigint)
    FROM #perfinfo a, @perfcntr b
    WHERE a.delta_t IS NOT NULL
      AND a.accumulat IN ('int','bigint')
      AND b.counter_id = 3501
  UNION ALL
  SELECT DISTINCT cast(a.timestmp as varchar(14)) ,
                  b.obj_name                      ,
                  b.cntr_name                     ,
                  cast(' ' as nvarchar(128))      ,
                  cast(DATEDIFF(second,a.utc_now,a.utc_end) as bigint)
    FROM #perfinfo a, @perfcntr b
    WHERE a.utc_now IS NOT NULL
      AND a.utc_end IS NOT NULL
      AND b.counter_id = 3502
  UNION ALL
  SELECT cast(a.timestmp as varchar(14))     ,
         b.obj_name                          ,
         b.cntr_name                         ,
         a.inst_name                         ,
         cast(ISNULL(a.val_now,0) as bigint)
    FROM #perfinfo a, @perfcntr b
    WHERE a.counter_id = b.counter_id
END
 
GO
