USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[fnBuscaCAEPI]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE function [dbo].[fnBuscaCAEPI](@codsec varchar(35),@codrisco varchar(16),@codepi varchar(10))
	 returns nvarchar(max)
as
begin
 declare @ccustos nvarchar(max) = '', 
		 @ccusto varchar(25), 
		 @linhas smallint;
 
 declare crs_ccustos cursor
 for
 select lot.ca, (select	 count(lot.ca) qtde
				 from	psecao sec
				  join	gcoligada col
				   on	col.codcoligada = sec.codcoligada
				  join	vppramedicoes ppras
				   on	ppras.codcoligada = sec.codcoligada
				    and	ppras.codsecao = sec.codigo
				  join	vpprariscos riscos
				   on	riscos.codcoligada = ppras.codcoligada
				    and	riscos.coditemrisco = ppras.coditemrisco
				  left join	vppramedicoesepi fon
				   on	ppras.codcoligada = fon.codcoligada
				    and	ppras.coditemrisco = fon.coditemrisco
				 	and	ppras.codsecao = fon.codsecaolot
				  left join	vcatalogoepi fgr
				   on	fgr.codcoligada = fon.codcoligada
				    and	fgr.codepi = fon.codepi
				  left join	vloteepi lot
				   on	lot.codcoligada = fgr.codcoligada
				    and	lot.codepi = fgr.codepi
				 where	sec.codigo = @codsec
				  and	ppras.coditemrisco = @codrisco
				  and	lot.invalido = 0
				  and	fgr.codepi = @codepi) as linhas 

   from	psecao sec
  join	gcoligada col
   on	col.codcoligada = sec.codcoligada
  join	vppramedicoes ppras
   on	ppras.codcoligada = sec.codcoligada
    and	ppras.codsecao = sec.codigo
  join	vpprariscos riscos
   on	riscos.codcoligada = ppras.codcoligada
    and	riscos.coditemrisco = ppras.coditemrisco
  left join	vppramedicoesepi fon
   on	ppras.codcoligada = fon.codcoligada
    and	ppras.coditemrisco = fon.coditemrisco
	and	ppras.codsecao = fon.codsecaolot
  left join	vcatalogoepi fgr
   on	fgr.codcoligada = fon.codcoligada
    and	fgr.codepi = fon.codepi
  left join	vloteepi lot
   on	lot.codcoligada = fgr.codcoligada
    and	lot.codepi = fgr.codepi

 where	sec.codigo = @codsec
  and	ppras.coditemrisco = @codrisco
  and	fgr.codepi = @codepi
  and	lot.invalido = 0
 
 open crs_ccustos;

  fetch next from crs_ccustos into @ccusto, @linhas;  
  
 while @@fetch_status = 0
  begin
   
   if (@linhas > 1)
    set @ccustos = @ccustos + @ccusto + ' ';
   else   
    set @ccustos = @ccustos + @ccusto;
  
  fetch next from crs_ccustos into @ccusto, @linhas;
  end
     
 deallocate crs_ccustos

       If @linhas > 1
          Begin 
               set @ccustos = reverse(substring(reverse(@ccustos),2,len(@ccustos)))
          End
       Else
          Begin
               set @ccustos = @ccustos
          End
 return @ccustos
end


GO
