USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_SAP_CONFIG_ELETRONICO]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[SP_SAP_CONFIG_ELETRONICO]
( @CPF         VARCHAR(11)
)
AS
BEGIN 

  DECLARE @CHAPA       VARCHAR(09)
  DECLARE @CHAPA15     VARCHAR(15)
  DECLARE @CODSIT      VARCHAR(02)
  
  SELECT @CHAPA    = F.CHAPA
       , @CODSIT   = F.CODSITUACAO
	FROM PPESSOA P
		 INNER JOIN PFUNC F ON P.CODIGO = F.CODPESSOA
   WHERE P.CPF        = @CPF  
     AND CODSITUACAO <> 'D'
  
  SET @CHAPA15  = (SELECT DISTINCT REPLICATE(0, 15 - LEN(@CHAPA)) + @CHAPA)   
  
  -- Verifica se o usuário esta habilitado no forponto para bater o ponto, se tiver não deve ir para o
  -- Chronus
  IF NOT EXISTS( SELECT 1 FROM FORPONTO.FORPONTO.FORPONTO.PFUNFPTO WHERE DFFUNCRACHA = @CHAPA15 )
  BEGIN
	  SELECT CODCOLIGADA    = F.CODCOLIGADA
		   , CHAPA          = F.CHAPA
		FROM PPESSOA P
			 INNER JOIN PFUNC   F ON P.CODIGO  = F.CODPESSOA
			 INNER JOIN APARFUN A ON A.CHAPA   = F.CHAPA 
	   WHERE P.CPF         = @CPF
		 AND F.CODSITUACAO = @CODSIT
  END
  ELSE
   BEGIN
	  SELECT CODCOLIGADA    = F.CODCOLIGADA
		   , CHAPA          = F.CHAPA
		FROM PPESSOA P
			 INNER JOIN PFUNC   F ON P.CODIGO  = F.CODPESSOA
	   WHERE P.CPF         = @CPF
		 AND F.CODSITUACAO = @CODSIT  
   END
END
GO
