USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[CLANCA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[CLANCA] AS
SELECT
CODCOLIGADA,IDLANCAMENTO,IDPARTIDA,LCTREF,CODFILIAL,CODLOTEORIGEM AS CODLOTE,DATA,
DEBITO,CREDITO,PARTIDA,VALOR,CODHISTP,
COMPLEMENTO,DATALIBERACAO,VALOR2,INTEGRAAPLICACAO,
INTEGRACHAVE,CODCOLDEBITO,CODCOLCREDITO,CODCOLPARTIDA,
CODCCUSTO,CODDEPARTAMENTO,DOCUMENTO,DATA2,
USUARIO,DATAINCLU,USUARIOALTER,DATAALTER,
CODDIARIO,SEQDIARIO,DATAINTEGRACAO, IDPARTICIPANTE, CODLOTE AS CODLOTEZERO
FROM CPARTIDA WHERE CODLOTE  = 0
GO
