USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[PFPERFER]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[PFPERFER] AS ( SELECT PFUFERIASRECIBO.CODCOLIGADA, PFUFERIASRECIBO.CHAPA, PFUFERIASRECIBO.FIMPERAQUIS DTVENCIMENTO, (SELECT SUM(1) NRO FROM PFUFERIAS FER INNER JOIN PFUFERIASPER PER ON ( PER.CODCOLIGADA = FER.CODCOLIGADA AND PER.CHAPA = FER.CHAPA AND PER.FIMPERAQUIS = FER.FIMPERAQUIS AND PER.SITUACAOFERIAS IN('M','P','F')) WHERE FER.CODCOLIGADA = PFUFERIASRECIBO.CODCOLIGADA AND FER.CHAPA = PFUFERIASRECIBO.CHAPA AND FER.FIMPERAQUIS = PFUFERIASRECIBO.FIMPERAQUIS AND PER.DATAPAGTO <= PFUFERIASPER.DATAPAGTO ) NROPERIODO, CAST (0 AS SMALLINT) VALORESFORCADOS, PFUFERIASRECIBO.DATAPAGTO AS DTPAGTO, PFUFERIASPER.DATAAVISO AS DTAVISO, PFUFERIASPER.OBSERVACAO OBSERVACAO, BASEINSS1, BASEINSS2 FROM PFUFERIASRECIBO INNER JOIN PFUFERIASPER ON ( PFUFERIASRECIBO.CODCOLIGADA = PFUFERIASPER.CODCOLIGADA AND PFUFERIASRECIBO.CHAPA = PFUFERIASPER.CHAPA AND PFUFERIASRECIBO.FIMPERAQUIS = PFUFERIASPER.FIMPERAQUIS AND PFUFERIASRECIBO.DATAPAGTO = PFUFERIASPER.DATAPAGTO))
GO
