USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_varbin_conversion]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_check_varbin_conversion]
  @result varchar(64) output
as
BEGIN
set nocount on
declare @rel char(3)
select @rel = VERSION from SVERS
if exists (select * from UVERS
             where COMPONENT = 'SAP_BASIS'
               and NEWRELEASE = @rel
               and substring(OLDRELEASE,1,2) < 40
               and PUTSTATUS = '+') and
   ((select object_id(user+'.mss_varbin_conversion','U'))
     IS NULL )
  select @result = 'Long Datatype Conversion not performed!'
else
  select @result = 'ok'
END
 
GO
