USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_partition_number]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_partition_number]
  @func_name        sysname,
  @boundary_value   nvarchar(20),
  @schema_name      sysname,
  @db_name          sysname,
  @part_num         int output
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
-- build the select statement
--select $partition.<part_func_name>(<boundary_value_in)
create table #numtab (pnum int)
set @cmd = N'select $partition.' + '[' + @func_name + ']' + '(' +
             @boundary_value + ')'
insert into #numtab exec ( @cmd )
set @part_num = (select pnum from #numtab)
drop table #numtab
--print @part_num
END
 
GO
