USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[PIRCTPT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[PIRCTPT] AS
SELECT PSINDIC.CODCOLIGADA,PSINDIC.CODIGO,PSINDIC.NOME,PSINDIC.RUA,PSINDIC.NUMERO,
	PSINDIC.COMPLEMENTO,PSINDIC.BAIRRO,PSINDIC.ESTADO,PSINDIC.CIDADE,PSINDIC.CEP,PSINDIC.PAIS,
	PSINDIC.SALARIOMINIMO,PSINDIC.PERCENTVALETR,PSINDIC.DESCUNICOVALETR,PSINDIC.USA30DIASVALETR,
	PSINDIC.DESCCONTRIBMESADM,PSINDIC.MEDIAMESRESCISAO,PSINDIC.PAGAFERIASPROP,
	PSINDIC.MINIMOFERPROPORC,PSINDIC.CONSIDANOANTERIOR,PSINDIC.PAGAMEDIA1APARC,
	PSINDIC.IGNORAEVTFERMEDIA,PSINDIC.MENOR18PARTIDAS,PSINDIC.MAIOR50PARTIDAS,
	PSINDIC.LICENCAMENOS1ANO,PSINDIC.PROPINTEGRAIS,PSINDIC.VENCIDASINTEGRAIS,
	PSINDIC.IGNORAFALTAS,PSINDIC.PGFERPERFUTURO,PSINDIC.MINIMOGARANTIDO,
	PSINDIC.FORMTERCOCONSTIT,PSINDIC.FORMBASEINDENIZ479,PSINDIC.FORMESTABILIDADE,
	PSINDIC.GRUPOINSALUBRID,PSINDIC.APLICACAO,PSINDIC.MESATUALMEDIAFERIAS,
	PSINDIC.COMPARASALCOMISSAO,PSINDIC.FORNUMDIASAVISO,PSINDIC.FORGARANTIASAL,
	PSINDIC.MESATUALMEDIA13O,PSINDIC.CNPJ,PSINDIC.CODENTIDADE,PSINDIC.MESATUALMENOR15DIAS,
	PSINDIC.DIAMESADMMEDIAFERIAS,PSINDIC.DIAMESADMMEDIA13,PSINDIC.DIAMESADMMEDIAAVISO,
	PSINDIC.USAMEDIAFERIASRESC,PSINDIC.TELEFONE,PSINDIC.NOMECONTATO,PSINDIC.TELEFONE1,
	PSINDIC.USAMEDIA13RESC,PSINDIC.DIASDEEXPERIENCIA,PSINDIC.CONSIDERAFORMADIC1APARC,
	PSINDIC.COMPLETAPERFERIAS,PSINDIC.IGNORAFALTASFERIASNORMAIS,PSINDICPT.NUMBOLETIM,
	PSINDICPT.DATAPUBLIC,PSINDICPT.DATATABSAL
FROM PSINDIC,PSINDICPT
WHERE 	PSINDIC.CODCOLIGADA=PSINDICPT.CODCOLIGADA AND
	PSINDIC.CODIGO=PSINDICPT.CODIGO
GO
