USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[GJOBXEXECUCAOVIEW]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GJOBXEXECUCAOVIEW] AS
SELECT
	IDJOB, IDEXECUCAO, DATAPROGRAMADA, SERVIDOR, DATAINIEXEC, DATAFIMEXEC, PERCPROGRESSO, STATUS, EMCANCELAMENTO, MENSAGEMSTATUS, TEXTOSTATUS, TEXTOPROGRESSO,
	RECCREATEDBY, RECCREATEDON, RECMODIFIEDBY, RECMODIFIEDON, EXCECAO, PROCESSID, RECTRIGGEDBY
FROM GJOBXEXECUCAO
UNION ALL
SELECT
	IDJOB, IDEXECUCAO, DATAPROGRAMADA, SERVIDOR, DATAINIEXEC, DATAFIMEXEC, PERCPROGRESSO, STATUS, EMCANCELAMENTO, MENSAGEMSTATUS, TEXTOSTATUS, TEXTOPROGRESSO,
	RECCREATEDBY, RECCREATEDON, RECMODIFIEDBY, RECMODIFIEDON, EXCECAO, PROCESSID, RECTRIGGEDBY
FROM GJOBXEXECUCAOHST
GO
