USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[GetColaborator]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE[dbo].[GetColaborator] 
AS
BEGIN
  
	IF Object_Id('TempDB..#Colaborador') IS NOT NULL              
	BEGIN    
	DROP TABLE #Colaborador              
	END  
    
	IF Object_Id('TempDB..#ColaboradorCPFDuplicado') IS NOT NULL              
	BEGIN    
	DROP TABLE #ColaboradorCPFDuplicado              
	END  
  
	IF Object_Id('TempDB..#ColaboradorCPFDemitido') IS NOT NULL              
	BEGIN    
	DROP TABLE #ColaboradorCPFDemitido              
	END 
  
	IF Object_Id('TempDB..#ColaboradorCPFAtivo') IS NOT NULL              
	BEGIN    
	DROP TABLE #ColaboradorCPFAtivo              
	END    
    
	CREATE TABLE #Colaborador   ( NOME                 VARCHAR(200)     NULL
                                , SEXO                 VARCHAR(1)       NULL
                                , CPF                  VARCHAR(11)      NULL
                                , DTNASCIMENTO         DATETIME         NULL
                                , CHAPA                VARCHAR(16)      NULL
                                , CODFUNCAO            VARCHAR(10)      NULL
                                , FUNCAO               VARCHAR(60)      NULL
                                , CODCARGO             VARCHAR(16)      NULL
                                , CARGO                VARCHAR(60)      NULL
                                , DIRETORIA            VARCHAR(50)      NULL
                                , EMAIL                VARCHAR(60)      NULL
                                , CODSITUACAO          VARCHAR(1)       NULL
                                , SITUACAO             VARCHAR(50)      NULL
                                , DT_ADM               DATETIME         NULL
                                , DT_DEM               DATETIME         NULL
								, TIPO_DEM			   VARCHAR(1)		NULL
								, DESC_TIPO_DEM		   VARCHAR(50)		NULL
                                , NOME_FILIAL          VARCHAR(150)     NULL
                                , CNPJ_FILIAL          VARCHAR(8000)    NULL
                                , RUA                  VARCHAR(140)     NULL
                                , NUMERO               VARCHAR(8)       NULL
                                , COMPLEMENTO          VARCHAR(100)     NULL
                                , BAIRRO               VARCHAR(100)     NULL
                                , CIDADE               VARCHAR(32)      NULL
                                , ESTADO               VARCHAR(2)       NULL
                                , CEP                  VARCHAR(9)       NULL
                                , PAIS                 VARCHAR(16)      NULL
                                , TELEFONE1            VARCHAR(15)      NULL
                                , TELEFONE2            VARCHAR(15)      NULL
                                , TELEFONE3            VARCHAR(15)      NULL
                                , CENTROCUSTO          VARCHAR(25)      NULL
                                , CODUSUARIO           VARCHAR(20)      NULL
                                , LOGINAD              VARCHAR(20)      NULL
                                , STATUS               SMALLINT         NULL
                                , CODSECAO             VARCHAR(50)      NULL
                                , SECAO                VARCHAR(300)     NULL
                                , PISPASEP             VARCHAR(11)      NULL
                                , CODCOLIGADA          SMALLINT         NULL
                                , CODFILIAL            SMALLINT         NULL
                                , CODPESSOA            INT              NULL
                                , EMAILPART            VARCHAR(60)      NULL
                                , CELULARCOM           VARCHAR(15)      NULL
                                , TELCOM               VARCHAR(15)      NULL
                                , RAMAL                VARCHAR(10)      NULL
                                , CPFGESTOR            VARCHAR(11)      NULL
                                , LIDER                VARCHAR(10)      NULL
                                , ORDEM                INT IDENTITY     NOT NULL
                                , CPFAPROVADOR         VARCHAR(11)      NULL
                                , CGERENCIADOPOR       VARCHAR(1)       NULL
                                , CARTIDENTIDADE       VARCHAR(15)      NULL
                                , CODESTCIVIL          VARCHAR(1)       NULL
                                , ESTCIVIL             VARCHAR(255)     NULL
                                , CODESCOLARIDADE      VARCHAR(1)       NULL
                                , ESCOLARIDADE         VARCHAR(255)     NULL
                                , CODEMPRESAERP        VARCHAR(4)       NULL
                                , IDIMAGEM             INT              NULL
                                , CODBANCOPAGTO        VARCHAR(3)       NULL
                                , CODAGENCIAPAGTO      VARCHAR(6)       NULL
                                , CONTAPAGAMENTO       VARCHAR(15)      NULL
                                , CODAREA              VARCHAR(4)       NULL
                                , DESCAREA             VARCHAR(100)     NULL
                                , CODDIVISAO           VARCHAR(4)       NULL
                                , DESCDIVISAO          VARCHAR(100)     NULL
                                , CODNEGOCIO           VARCHAR(4)       NULL
                                , DESCNEGOCIO          VARCHAR(100)     NULL
                                , CODDIREXECUT         VARCHAR(4)       NULL
                                , DESCDIREXECUT        VARCHAR(100)     NULL
                                , DCODDIRETORIA        VARCHAR(4)       NULL
                                , DESCDIRETORIA        VARCHAR(100)     NULL
                                , GRUPOEMPRESA         VARCHAR(50)      NULL
                                , DT_ULTIMA_MOD_PFUNC   DATETIME        NULL
                                , DT_ULTIMA_MOD_PPESSOA  DATETIME       NULL
                                , DT_ULTIMA_MOD_PFCOMPL  DATETIME       NULL
                                , PARTICIPA_AVD         VARCHAR(15)     NULL
								, TEMPO_EMPRESA         VARCHAR(15)     NULL
								, TEMPO_FCO_ATUAL       VARCHAR(15)     NULL
								, DT_INICIO_ULT_FCO     DATETIME        NULL
								, NOMCOLIGADA           VARCHAR(150)    NULL
								) 
    
                                       
  CREATE TABLE #ColaboradorCPFDuplicado ( CPF VARCHAR(11) ) 

  CREATE TABLE #ColaboradorCPFAtivo    ( CPF VARCHAR(11))

  CREATE TABLE #ColaboradorCPFDemitido    ( CPF VARCHAR(11) , DT_DEM DATETIME) 

  INSERT INTO #Colaborador ( NOME          
              , SEXO          
              , CPF           
              , DTNASCIMENTO
              , CHAPA 
              , CODFUNCAO       
              , FUNCAO   
              , CODCARGO
              , CARGO     
              , DIRETORIA     
              , EMAIL          
              , CODSITUACAO    
              , SITUACAO       
              , DT_ADM         
              , DT_DEM
			  , TIPO_DEM
			  , DESC_TIPO_DEM
              , NOME_FILIAL  
              , CNPJ_FILIAL  
              , RUA            
              , NUMERO         
              , COMPLEMENTO    
              , BAIRRO         
              , CIDADE         
              , ESTADO         
              , CEP            
              , PAIS           
              , TELEFONE1      
              , TELEFONE2      
              , TELEFONE3      
              , CENTROCUSTO    
              , CODUSUARIO  
              , LOGINAD  
              , STATUS  
              , CODSECAO  
              , SECAO  
              , PISPASEP
              , CODCOLIGADA
              , CODFILIAL         
              , CODPESSOA 
              , EMAILPART 
              , CELULARCOM 
              , TELCOM 
              , RAMAL 
              , CPFGESTOR 
              , LIDER      
              , CPFAPROVADOR   
              , CGERENCIADOPOR 
              , CARTIDENTIDADE
              , CODESTCIVIL
              , ESTCIVIL
              , CODESCOLARIDADE
              , ESCOLARIDADE       
              , CODEMPRESAERP      
              , IDIMAGEM 
              , CODBANCOPAGTO
              , CODAGENCIAPAGTO
              , CONTAPAGAMENTO           
              , CODAREA
              , DESCAREA 
              , CODDIVISAO
              , DESCDIVISAO 
              , CODNEGOCIO
              , DESCNEGOCIO
              , CODDIREXECUT
              , DESCDIREXECUT
              , DCODDIRETORIA
              , DESCDIRETORIA
              , GRUPOEMPRESA  
              , DT_ULTIMA_MOD_PFUNC   
              , DT_ULTIMA_MOD_PPESSOA 
              , DT_ULTIMA_MOD_PFCOMPL 
			  , PARTICIPA_AVD
			  , TEMPO_EMPRESA
			  , TEMPO_FCO_ATUAL
			  , DT_INICIO_ULT_FCO
			  , NOMCOLIGADA
              )                            
    SELECT PFUNC.NOME              AS NOME   
         , PPESSOA.SEXO            AS SEXO        
         , PPESSOA.CPF             AS CPF 
         , PPESSOA.DTNASCIMENTO    AS DTNASCIMENTO 
         , PFUNC.CHAPA             AS CHAPA
         , PFUNCAO.CODIGO          AS CODIGOFUNCAO
         , PFUNCAO.NOME            AS NOMEFUNCAO 
         , PCARGO.CODIGO           AS CODIGOCARGO
         , PCARGO.NOME             AS CARGO
         , NULL                    AS DIRETORIA  
         , PPESSOA.EMAIL           AS EMAIL 
         , CASE
           WHEN PFUNC.CODSITUACAO = 'A' AND PFUNC.DATADEMISSAO <= GETDATE() AND PFUNC.DATADEMISSAO IS NOT NULL  THEN 'D'
           WHEN PFUNC.CODSITUACAO = 'A' AND ISNULL(PFUFERIASPER.DATAINICIO,'1900-01-01') < GETDATE() AND ISNULL(PFUFERIASPER.DATAFIM,'1900-01-01') > GETDATE() THEN 'F'
           WHEN PFUNC.CODSITUACAO = 'F' AND ISNULL(PFUFERIASPER.DATAFIM,'1900-01-01') < CONVERT(DATETIME,CONVERT(VARCHAR,GETDATE(),101)) THEN 'A'
           WHEN PFUNC.CODSITUACAO = 'F' AND ISNULL(PFUFERIASPER.DATAINICIO,'1900-01-01') > CONVERT(DATETIME,CONVERT(VARCHAR,GETDATE(),101)) THEN 'A'
           WHEN PFUNC.CODSITUACAO = 'D' AND CONVERT(VARCHAR(8),PFUNC.DATADEMISSAO,112) >= CONVERT(VARCHAR(8),GETDATE(),112) AND PFUNC.DATADEMISSAO IS NOT NULL THEN 'A'
           WHEN PFUNC.CODSITUACAO = 'Z' THEN 'A'
           ELSE PFUNC.CODSITUACAO       
           END AS CODSITUACAO   
         , CASE
           WHEN PFUNC.CODSITUACAO = 'A' AND PFUNC.DATADEMISSAO <= GETDATE() AND PFUNC.DATADEMISSAO IS NOT NULL THEN 'Demitido'
           WHEN PFUNC.CODSITUACAO = 'A' AND ISNULL(PFUFERIASPER.DATAINICIO,'1900-01-01') < GETDATE() AND ISNULL(PFUFERIASPER.DATAFIM,'1900-01-01') > GETDATE() THEN 'Férias'
           WHEN PFUNC.CODSITUACAO = 'F' AND ISNULL(PFUFERIASPER.DATAFIM,'1900-01-01') < CONVERT(DATETIME,CONVERT(VARCHAR,GETDATE(),101)) THEN 'Ativo'
           WHEN PFUNC.CODSITUACAO = 'F' AND ISNULL(PFUFERIASPER.DATAINICIO,'1900-01-01') > CONVERT(DATETIME,CONVERT(VARCHAR,GETDATE(),101)) THEN 'Ativo'
           WHEN PFUNC.CODSITUACAO = 'D' AND CONVERT(VARCHAR(8),PFUNC.DATADEMISSAO,112) >= CONVERT(VARCHAR(8),GETDATE(),112) AND PFUNC.DATADEMISSAO IS NOT NULL THEN 'Ativo'
           WHEN PFUNC.CODSITUACAO = 'Z' THEN 'Ativo'
           ELSE PCODSITUACAO.DESCRICAO       
           END AS SITUACAO          
         , MAX(PFUNC.DATAADMISSAO) AS DTADMISSAO  
         , CASE WHEN PFUNC.DATADEMISSAO > GETDATE() THEN NULL ELSE PFUNC.DATADEMISSAO END AS DTDEMISSAO
		 , PFUNC.TIPODEMISSAO AS TIPO_DEM --TIPO DEMISSAO
		 , PTPDEMISSAO.DESCRICAO AS DESC_TIPO_DEM -- DESCRICAO TIPO DEMISSAO
         , GFILIAL.NOMEFANTASIA    AS NOMEFILIAL
         , REPLACE(REPLACE(REPLACE(GFILIAL.CGC,'/',''),'-',''),'.','')  AS CGCFILIAL
         , PPESSOA.RUA             AS RUA
         , PPESSOA.NUMERO          AS NUMERO 
         , PPESSOA.COMPLEMENTO     AS COMPLEMENTO 
         , PPESSOA.BAIRRO          AS BAIRRO 
         , PPESSOA.CIDADE          AS CIDADE          
         , PPESSOA.ESTADO          AS ESTADO 
         , PPESSOA.CEP             AS CEP
         , PPESSOA.PAIS            AS PAIS 
         , PPESSOA.TELEFONE1       AS TELEFONE1  
         , PPESSOA.TELEFONE2       AS TELEFONE2 
         , PPESSOA.TELEFONE3       AS TELEFONE3 
         , GCCUSTO.CODREDUZIDO     AS CODREDUZIDO  
         , GUSUARIO.CODUSUARIO     AS CODUSUARIO 
         , NULL                    AS LOGINAD
         , GUSUARIO.STATUS         AS STATUSFUNCIONARIO
         , PSECAO.CODIGO           AS CODIGOSECAO 
         , PSECAO.DESCRICAO        AS DESCRICAOSECAO
         , PFUNC.PISPASEP          AS PISPASEP
         , PFUNC.CODCOLIGADA       AS CODCOLIGADA 
         , PFUNC.CODFILIAL         AS CODFILIAL 
         , PFUNC.CODPESSOA         AS CODPESSOA
         , NULL                    AS EMAILPART
         , NULL                    AS CELULARCOM
         , NULL                    AS TELCOM
         , NULL                    AS RAMAL
         , NULL                    AS CPFGESTOR
         , NULL                    AS LIDER      
         , NULL                    AS CPFAPROVADOR     
         , NULL                    AS CGERENCIADOPOR 
         , PPESSOA.CARTIDENTIDADE  AS CARTIDENTIDADE
         , PPESSOA.ESTADOCIVIL     AS CODESTCIVIL
         , PCODESTCIVIL.DESCRICAO  AS ESTCIVIL
         , PPESSOA.GRAUINSTRUCAO   AS CODESCOLARIDADE
         , PCODINSTRUCAO.DESCRICAO AS ESCOLARIDADE
         , NULL                    AS CODEMPRESAERP   
         , PPESSOA.IDIMAGEM        AS IDIMAGEM
         , PFUNC.CODBANCOPAGTO     AS CODBANCOPAGTO
         , PFUNC.CODAGENCIAPAGTO   AS CODAGENCIAPAGTO
         , PFUNC.CONTAPAGAMENTO    AS CONTAPAGAMENTO
         , NULL                    AS COD_AREA          
         , NULL                    AS AREA             
         , NULL                    AS COD_DIVISAO       
         , NULL                    AS DIVISAO          
         , NULL                    AS COD_NEGOCIO      
         , NULL                    AS NEGOCIO          
         , NULL                    AS COD_DIREXECUT     
         , NULL                    AS DIREXECUT         
         , NULL                    AS COD_DIRETORIA     
         , NULL                    AS DIRETORIA 
         , GRUPOEMPRESA          = 'ELDORADO'
         , DT_ULTIMA_MOD_PFUNC   = PFUNC.RECMODIFIEDON
         , DT_ULTIMA_MOD_PPESSOA = PPESSOA.RECMODIFIEDON
         , DT_ULTIMA_MOD_PFCOMPL = PFCOMPL.RECMODIFIEDON     
		 , NULL                  AS PARTICIPA_AVD     
         , TEMPO_EMPRESA = CASE WHEN PFUNC.CODSITUACAO <> 'D' THEN CONVERT(VARCHAR(10), DATEDIFF(MONTH, PFUNC.DATAADMISSAO, GETDATE()) / 12) + 'a,' + ' '+CONVERT(VARCHAR(10), DATEDIFF(MONTH, PFUNC.DATAADMISSAO, GETDATE()) % 12) + 'm' 
                                ELSE  CONVERT(VARCHAR(10), DATEDIFF(MONTH, PFUNC.DATAADMISSAO, PFUNC.DATADEMISSAO) / 12) + 'a,' + ' '+CONVERT(VARCHAR(10), DATEDIFF(MONTH, PFUNC.DATAADMISSAO, PFUNC.DATADEMISSAO) % 12) + 'm' 
                           END 
         , TEMPO_FCO_ATUAL   = CONVERT(VARCHAR(10), DATEDIFF(MONTH, PFHSTFCO.DTMUDANCA, GETDATE()) / 12) + 'a,' + ' '+CONVERT(VARCHAR(10), DATEDIFF(MONTH, PFHSTFCO.DTMUDANCA, GETDATE()) % 12) + 'm' 
         , DT_INICIO_ULT_FCO = PFHSTFCO.DTMUDANCA  
		 , NOMCOLIGADA       = GCOLIGADA.NOME     
      FROM DBO.PFUNC PFUNC  WITH (NOLOCK)                
           INNER JOIN DBO.GFILIAL        GFILIAL       WITH (NOLOCK) ON PFUNC.CODCOLIGADA             = GFILIAL.CODCOLIGADA  
                                                                    AND PFUNC.CODFILIAL               = GFILIAL.CODFILIAL  
           INNER JOIN DBO.GCOLIGADA      GCOLIGADA     WITH (NOLOCK) ON PFUNC.CODCOLIGADA             = GCOLIGADA.CODCOLIGADA  
           INNER JOIN DBO.PSECAO         PSECAO        WITH (NOLOCK) ON PFUNC.CODCOLIGADA             = PSECAO.CODCOLIGADA  
                                                                    AND PFUNC.CODSECAO                = PSECAO.CODIGO  
           LEFT  JOIN DBO.PSUBSTCHEFE    PSUBSTCHEFE   WITH (NOLOCK) ON PFUNC.CODCOLIGADA             = PSUBSTCHEFE.CODCOLIGADA  
                                                                    AND PFUNC.CODSECAO                = PSUBSTCHEFE.CODSECAO  
                                                                    AND PSUBSTCHEFE.MASTER            = '1'
           LEFT  JOIN DBO.GCCUSTO        GCCUSTO       WITH (NOLOCK) ON PSECAO.CODCOLIGADA            = GCCUSTO.CODCOLIGADA  
                                                                    AND PSECAO.NROCENCUSTOCONT        = GCCUSTO.CODCCUSTO  
           INNER JOIN DBO.PFUNCAO        PFUNCAO       WITH (NOLOCK) ON PFUNC.CODCOLIGADA             = PFUNCAO.CODCOLIGADA  
                                                                    AND PFUNC.CODFUNCAO               = PFUNCAO.CODIGO  
           LEFT  JOIN DBO.PCARGO         PCARGO        WITH (NOLOCK) ON PFUNCAO.CODCOLIGADA           = PCARGO.CODCOLIGADA  
                                                                    AND PFUNCAO.CARGO                 = PCARGO.CODIGO  
           INNER JOIN DBO.PCODSITUACAO   PCODSITUACAO  WITH (NOLOCK) ON PFUNC.CODSITUACAO             = PCODSITUACAO.CODCLIENTE  
           INNER JOIN DBO.PPESSOA        PPESSOA       WITH (NOLOCK) ON PFUNC.CODPESSOA               = PPESSOA.CODIGO  
           LEFT  JOIN DBO.GUSUARIO       GUSUARIO      WITH (NOLOCK) ON PPESSOA.CODUSUARIO            = GUSUARIO.CODUSUARIO  
           LEFT  JOIN DBO.PFCOMPL        PFCOMPL       WITH (NOLOCK) ON PFCOMPL.CODCOLIGADA           = PFUNC.CODCOLIGADA   
                                                                    AND PFCOMPL.CHAPA                 = PFUNC.CHAPA  
           LEFT JOIN  DBO.PCODINTGER     PCODINTGER    WITH (NOLOCK) ON  PCODINTGER.CODCOLIGADA       = PFUNC.CODCOLIGADA
                                                                    AND SUBSTRING(PCODINTGER.DESCRICAO,1,12)   = SUBSTRING(PFUNC.CODSECAO,1,12)
           LEFT  JOIN ( SELECT CODCOLIGADA
                             , CHAPA
                             , MAX(DATAFIM) AS DATAFIM
                          FROM DBO.PFUFERIASPER PFUFERIASPER WITH (NOLOCK)
                         GROUP BY CODCOLIGADA, CHAPA ) X ON PFUNC.CODCOLIGADA = X.CODCOLIGADA
                                                        AND PFUNC.CHAPA       = X.CHAPA                                                                             
           LEFT  JOIN DBO.PFUFERIASPER  PFUFERIASPER   WITH (NOLOCK) ON PFUFERIASPER.CODCOLIGADA      = X.CODCOLIGADA
                                                                    AND PFUFERIASPER.CHAPA            = X.CHAPA 
                                                                    AND PFUFERIASPER.DATAFIM          = X.DATAFIM
           LEFT JOIN DBO.PCODINSTRUCAO  PCODINSTRUCAO  WITH (NOLOCK )ON PPESSOA.GRAUINSTRUCAO         = PCODINSTRUCAO.CODCLIENTE
           LEFT JOIN DBO.PCODESTCIVIL   PCODESTCIVIL   WITH (NOLOCK) ON PPESSOA.ESTADOCIVIL           = PCODESTCIVIL.CODCLIENTE 
		   LEFT JOIN dbo.PFHSTFCO       PFHSTFCO       WITH(NOLOCK) ON PFUNC.CODCOLIGADA              = PFHSTFCO.CODCOLIGADA
                                                                   AND PFUNC.CHAPA                    = PFHSTFCO.CHAPA
                                                                   AND PFUNC.CODFUNCAO                = PFHSTFCO.CODFUNCAO
                                                                   AND PFHSTFCO.DTMUDANCA             = (SELECT MAX(DTMUDANCA)
																									       FROM dbo.PFHSTFCO SUB
																										  WHERE PFHSTFCO.CODCOLIGADA = SUB.CODCOLIGADA
																										    AND PFHSTFCO.CHAPA       = SUB.CHAPA COLLATE SQL_Latin1_General_CP1_CI_AI
																								         )  

		   LEFT JOIN DBO.PTPDEMISSAO ON PTPDEMISSAO.CODCLIENTE = PFUNC.TIPODEMISSAO -- aqui


       GROUP BY PFUNC.NOME  
              , PPESSOA.SEXO       
              , PPESSOA.CPF 
              , PPESSOA.DTNASCIMENTO 
              , PFUNC.CHAPA  
              , PFUNCAO.CODIGO
              , PFUNCAO.NOME  
              , PCARGO.CODIGO 
              , PCARGO.NOME
              , PPESSOA.EMAIL  
              , PFUNC.CODSITUACAO  
              , PCODSITUACAO.DESCRICAO  
              , PFUNC.DATADEMISSAO 
			  , PFUNC.TIPODEMISSAO --aqui
			  , PTPDEMISSAO.DESCRICAO  -- aqui
              , GFILIAL.NOMEFANTASIA  
              , GFILIAL.CGC  
              , PPESSOA.RUA  
              , PPESSOA.NUMERO  
              , PPESSOA.COMPLEMENTO  
              , PPESSOA.BAIRRO  
              , PPESSOA.ESTADO  
              , PPESSOA.CIDADE  
              , PPESSOA.CEP  
              , PPESSOA.PAIS  
              , PPESSOA.TELEFONE1  
              , PPESSOA.TELEFONE2  
              , PPESSOA.TELEFONE3  
              , GCCUSTO.CODREDUZIDO      
              , GUSUARIO.CODUSUARIO
              , GUSUARIO.STATUS    
              , PSECAO.CODIGO  
              , PSECAO.DESCRICAO    
              , PFUNC.PISPASEP   
              , PFUFERIASPER.DATAINICIO
              , PFUFERIASPER.DATAFIM 
              , PFUNC.CODCOLIGADA
              , PFUNC.CODFILIAL
              , PFUNC.CODPESSOA 
              , PPESSOA.CARTIDENTIDADE  
              , PPESSOA.ESTADOCIVIL
              , PCODESTCIVIL.DESCRICAO
              , PPESSOA.GRAUINSTRUCAO
              , PCODINSTRUCAO.DESCRICAO
              , PPESSOA.IDIMAGEM
              , PFUNC.CODBANCOPAGTO
              , PFUNC.CODAGENCIAPAGTO
              , PFUNC.CONTAPAGAMENTO             
              , PFUNC.RECMODIFIEDON
              , PPESSOA.RECMODIFIEDON
              , PFCOMPL.RECMODIFIEDON
              , PFUNC.DATAADMISSAO 			 
              , PFHSTFCO.DTMUDANCA  
			  , GCOLIGADA.NOME            
          
  INSERT INTO #ColaboradorCPFDuplicado  
    SELECT CPF  
      FROM #Colaborador  
     GROUP BY CPF 
    HAVING COUNT(*) > 1  

  INSERT INTO #ColaboradorCPFAtivo    
    SELECT B.CPF  
      FROM #ColaboradorCPFDuplicado A
           INNER JOIN #Colaborador B ON B.CPF = A.CPF
     WHERE B.DT_DEM IS NULL 

  DELETE C  
    FROM #ColaboradorCPFAtivo B
         INNER JOIN #Colaborador C ON C.CPF = B.CPF
   WHERE C.SITUACAO = 'Demitido'     
   
  DELETE C  
    FROM #ColaboradorCPFAtivo B
         INNER JOIN #ColaboradorCPFDuplicado C ON C.CPF = B.CPF     
   
  INSERT INTO #ColaboradorCPFDemitido    
    SELECT B.CPF,MAX(B.DT_DEM)  
      FROM #ColaboradorCPFDuplicado A
           INNER JOIN #Colaborador B ON B.CPF = A.CPF
     GROUP BY B.CPF

  DELETE C  
    FROM #ColaboradorCPFDemitido A   
         INNER JOIN #Colaborador C ON C.CPF = A.CPF 
                                  AND C.DT_DEM <> A.DT_DEM 
                                  
  DELETE C
    FROM #Colaborador C 
   WHERE C.ORDEM NOT IN ( SELECT MIN(ORDEM) 
                            FROM #Colaborador CO
                           WHERE CO.CPF = C.CPF
                        )     
  
  SELECT NOME         
       , SEXO         
       , CPF          
       , CHAPA
       , FUNCAO   
       , DIRETORIA   
       , EMAIL        
       , CODSITUACAO  
       , SITUACAO     
       , DT_ADM       
       , DT_DEM  
	   , TIPO_DEM --aqui
	   , DESC_TIPO_DEM --aqui
       , CNPJ_FILIAL    
       , RUA            
       , NUMERO       
       , COMPLEMENTO  
       , BAIRRO       
       , CIDADE       
       , ESTADO       
       , CEP          
       , PAIS         
       , TELEFONE1    
       , TELEFONE2    
       , TELEFONE3    
       , CENTROCUSTO  
       , CODUSUARIO  
       , STATUS   
       , CODSECAO  
       , SECAO 
       , NOME_FILIAL  
       , LOGINAD  
       , CODFUNCAO          
       , CODCARGO
       , CARGO    
       , PISPASEP  
       , CODCOLIGADA
       , CODFILIAL  
       , CODPESSOA  
       , EMAILPART 
       , CELULARCOM 
       , TELCOM 
       , RAMAL  
       , DTNASCIMENTO 
       , CPFGESTOR 
       , LIDER  
       , CPFAPROVADOR  
       , CGERENCIADOPOR
       , CARTIDENTIDADE
       , CODESTCIVIL
       , ESTCIVIL
       , CODESCOLARIDADE
       , ESCOLARIDADE
       , CODEMPRESAERP
       , IDIMAGEM
       , CODBANCOPAGTO
       , CODAGENCIAPAGTO
       , CONTAPAGAMENTO
       , CODAREA
       , DESCAREA 
       , CODDIVISAO
       , DESCDIVISAO 
       , CODNEGOCIO
       , DESCNEGOCIO
       , CODDIREXECUT
       , DESCDIREXECUT
       , DCODDIRETORIA
       , DESCDIRETORIA 
       , GRUPOEMPRESA 
       , DT_ULTIMA_MOD_PFUNC   
       , DT_ULTIMA_MOD_PPESSOA  
       , DT_ULTIMA_MOD_PFCOMPL 
	   , PARTICIPA_AVD
	   , TEMPO_EMPRESA
	   , TEMPO_FCO_ATUAL
	   , DT_INICIO_ULT_FCO
	   , NOMCOLIGADA
    FROM #Colaborador
    
END

GO
