USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[fnExamePeriodico]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE function [dbo].[fnExamePeriodico] (@CodCol    varchar(35)
										 ,@CodPerfil varchar(16)
										 ,@CodExame  varchar(10))
	 returns nvarchar(max)
as
begin
 declare @ccustos nvarchar(max) = '', 
		 @ccusto varchar(25), 
		 @linhas smallint;
 
 declare crs_ccustos cursor
 for
		select	tp_exm.descricao, (select count(bateria.tipoexame)
									from  vbateriaexames bateria
								   where  bateria.codcoligada = @CodCol
									and	  bateria.codperfil = @CodPerfil
									and	  bateria.codexame = @CodExame) linhas
		 from	vbateriaexames bateria
		  join	vtipoexame tp_exm
		   on	tp_exm.codcliente = bateria.tipoexame
		where	bateria.tipoexame in ('A','D','P')
		 and	bateria.codcoligada = @CodCol
		 and	bateria.codperfil = @CodPerfil
		 and	bateria.codexame = @CodExame
 
 open crs_ccustos;

  fetch next from crs_ccustos into @ccusto, @linhas;  
  
 while @@fetch_status = 0
  begin
   
   if (@linhas > 1)
    set @ccustos = @ccustos + @ccusto + ' ';
   else   
    set @ccustos = @ccustos + @ccusto;
  
  fetch next from crs_ccustos into @ccusto, @linhas;
  end
     
 deallocate crs_ccustos

       If @linhas > 1
          Begin 
               set @ccustos = reverse(substring(reverse(@ccustos),2,len(@ccustos)))
          End
       Else
          Begin
               set @ccustos = @ccustos
          End
 return @ccustos
end



GO
