USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[SAUGETGRUPOGASTOTISS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SAUGETGRUPOGASTOTISS](@PCODCOLIGADA INT, @CODCONVENIO INT, @CODTIPOCONTRATO INT, @PCODITEM VARCHAR(10), @TIPOTABELA INT) RETURNS INT
  BEGIN
  DECLARE  @VCODPADRAOFATURAMENTO INT,
    @VCODGGASTO            VARCHAR(2),
    @VCODITEM              VARCHAR(10),
    @VQTD                  INT
    SET @VCODITEM = @PCODITEM
    SELECT @VCODPADRAOFATURAMENTO = CODPADRAOFAT
    FROM SZCONDCONTRAT
     WHERE CODCOLIGADA = @PCODCOLIGADA
     AND CODCONVENIO = @CODCONVENIO
     AND CODTIPOCONTRATO = @CODTIPOCONTRATO;
    IF (LEN(@VCODITEM) < 8)
    BEGIN
     SET @VCODITEM = REPLICATE('0', 8 - LEN(@VCODITEM)) + RTrim(@VCODITEM)
    END
    SELECT @VQTD = COUNT(*)
    FROM SZCODIFESPECMATMED
     WHERE CODCOLIGADA = @PCODCOLIGADA
     AND CODPADRAOFAT = @VCODPADRAOFATURAMENTO
     AND @VCODITEM BETWEEN INI AND FIM;
    IF (@VQTD > 0)
    BEGIN
      SELECT TOP 1 @VCODGGASTO = CODGGASTO
        FROM SZCODIFESPECMATMED
       WHERE CODCOLIGADA = @PCODCOLIGADA
         AND CODPADRAOFAT = @VCODPADRAOFATURAMENTO
         AND @VCODITEM BETWEEN INI AND FIM;
    END
    IF (@VCODGGASTO = '05')
      RETURN 2
    ELSE
    BEGIN
      IF (@VCODGGASTO = '06')
      RETURN 3
    END
    RETURN @TIPOTABELA
  END;
GO
