USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[MEDIDAS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MEDIDAS] AS

WITH MEDIDAS AS(
SELECT IDSEQUENCIAL,DESCRICAO,CODSECAOLOT,CODFUNCAOLOT 
	   
	 	
FROM(
SELECT
	ROW_NUMBER ( )OVER (PARTITION BY A.IDSEQUENCIAL ORDER by A.IDSEQUENCIAL )SEQ,
	A.CODCOLIGADA,
	A.IDSEQUENCIAL,
	A.CODSECAOLOT,
	A.CODFUNCAOLOT,
	B.MEDIDA + ' - ' + CONVERT(VARCHAR(MAX),DESCRICAO) DESCRICAO
	
FROM 
	VPPRAMEDICOESMEDIDAS A
	LEFT JOIN VMEDIDASPREVENTIVAS B ON A.CODMEDIDA = B.CODMEDIDAPREV AND A.CODCOLIGADA = B.CODCOLIGADA 
	

	)X)
	
	
SELECT
	IDSEQUENCIAL,CODSECAOLOT,CODFUNCAOLOT,
	STUFF((
       SELECT '||' + t1.DESCRICAO
         FROM MEDIDAS t1
        WHERE t1.IDSEQUENCIAL = t0.IDSEQUENCIAL
        ORDER BY t1.DESCRICAO
          FOR XML PATH('')), 1, LEN(','), '') AS MEDIDAS
          
FROM MEDIDAS t0
 GROUP BY t0.IDSEQUENCIAL, t0.CODSECAOLOT, t0.CODFUNCAOLOT
GO
