USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_schema_id]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_schema_id]
  @db_name sysname,
  @schema_name sysname,
  @schema_id int output
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(512)
declare @pstr nvarchar(256)
-- build the select statement
set @cmd = N'select @schema_id = schema_id ' +
             N'from ' + @db_name + N'.sys.schemas ' +
               N'where name = ''' + @schema_name + N''''
set @pstr = N'@schema_id int output'
-- get the id
exec sp_executesql @cmd, @pstr, @schema_id output
END
 
GO
