USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFSALDOITEM]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFSALDOITEM] AS
SELECT TSALDOITEM.CODCOLIGADA,TSALDOITEM.IDSALDOESTOQUE,TPRD.CODIGOPRD,TSALDOITEM.SALDOESTOQUE,GETDATE() AS DTHRATUALIZACAO
FROM TSALDOITEM,TPRD
WHERE TSALDOITEM.CODCOLIGADA=TPRD.CODCOLIGADA AND TSALDOITEM.IDPRD=TPRD.IDPRD
GO
