USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_sysprocesses]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_sysprocesses]
  @ex_status nvarchar(30) = NULL,
  @in_status nvarchar(30) = NULL,
  @sap_spids nchar(1) = 'Y',
  @res_locks nchar(1) = 'N'
as
begin
  set nocount on
  declare @cmdstr nvarchar(2048)
  declare @wclause nvarchar(128)
  declare @oclause nvarchar(128)
  declare @lin_status nvarchar(30)
  declare @lex_status nvarchar(30)
--
-- check input parameters
--
  if ( @ex_status IS NOT NULL )
    set @lex_status = lower(@ex_status)
  else
    set @lex_status = NULL
  if ( @in_status IS NOT NULL )
    set @lin_status = lower(@in_status)
  else
    set @lin_status = NULL
   if ( @lex_status IS NOT NULL )
    if ( @lex_status != 'runnable' and
         @lex_status != 'sleeping' and
         @lex_status != 'background' )
    begin
      print '@ex_status must be runnable, sleeping or background'
      return
    end
  if ( @lin_status IS NOT NULL )
    if ( @lin_status != 'runnable' and
         @lin_status != 'sleeping' and
         @lin_status != 'background' )
    begin
      print '@in_status must be runnable, sleeping or background'
      return
    end
  if ( @sap_spids IS NOT NULL and
       @sap_spids != 'Y' and
       @sap_spids != 'N' )
    begin
      print '@sap_spids must = Y(show sap spids),N( no sap spids) or NULL(all
spids)'
      return
    end
  if ( @res_locks != 'Y' and
       @res_locks != 'N' )
    begin
      print '@res_locks must = Y or N(default)'
      return
    end
/*****************************************************************/
  if @res_locks = 'N'
    set @cmdstr =
    'select spid, kpid, blocked, convert(int,waittype), waittime,
     case when convert(binary,substring(lastwaittype, len(lastwaittype), 1))
               = 0x00
          then substring(lastwaittype,1, len(lastwaittype) -1)
          else lastwaittype end,
     case when convert(binary,substring(waitresource, len(waitresource), 1))
               = 0x00 and len(waitresource) > 0
          then substring(waitresource,1, len(waitresource) -1)
          else waitresource end,
     case when convert(binary,substring(waitresource, len(waitresource), 1))
               = 0x00 and len(waitresource) > 0
          then substring(waitresource,1, len(waitresource) -1)
          else waitresource end,
     db_name( dbid), cpu, physical_io, memusage,
     convert(char(24),login_time,121), convert(char(24),last_batch,121)
     ,ecid, open_tran,status, suser_sname( sid ), hostname, program_name,
     hostprocess, cmd, nt_domain, nt_username, net_address, net_library
     from master..sysprocesses'
  else
    set @cmdstr =
    'select spid, kpid, blocked, convert(int,waittype) ,waittime,
     case when convert(binary,substring(lastwaittype, len(lastwaittype), 1))
               = 0x00
          then substring(lastwaittype,1, len(lastwaittype) -1)
          else lastwaittype end,
     case when len(waitresource) = 0
          then ''''
          else dbo.sap_mon_lockresolver( waitresource) end,
     case when convert(binary,substring(waitresource, len(waitresource), 1))
               = 0x00 and len(waitresource) > 0
          then substring(waitresource,1, len(waitresource) -1)
          else waitresource end,
     db_name( dbid), cpu, physical_io, memusage,
     convert(char(24),login_time,121), convert(char(24),last_batch,121)
     ,ecid, open_tran,status, suser_sname( sid ), hostname, program_name,
     hostprocess, cmd, nt_domain, nt_username, net_address, net_library
     from master..sysprocesses'
  set @oclause =
  ' order by hostname, substring( program_name,4,3), hostprocess, spid'
  set @wclause = ''
  if ( @lex_status IS NOT NULL )
    set @wclause = ' where lower(status) != '''+ @lex_status + ''''
  if ( @lin_status IS NOT NULL )
    if ( @wclause != '' )
      set @wclause = @wclause + ' and lower(status) = '''+@lin_status + ''''
    else
      set @wclause = ' where lower(status) = '''+ @lin_status + ''''
  if ( @sap_spids IS NOT NULL )
    begin
      if ( @wclause != '' )
        set @wclause = @wclause + ' and program_name ' +
           case when @sap_spids = 'N' then 'NOT ' else '' end + 'like ''R3%'''
      else
        set @wclause = ' where program_name ' +
           case when @sap_spids = 'N' then 'NOT ' else '' end + 'like ''R3%'''
    end
  set @cmdstr = @cmdstr + @wclause + @oclause
--  print @cmdstr
  exec ( @cmdstr)
end
 
GO
