USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVOPRORROGACAOVENCIMENTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITIVOPRORROGACAOVENCIMENTO]
AS
SELECT
  XADITPRORROGACAOVCTOPARC.NUMVENDA,
  XADITPRORROGACAOVCTOPARC.NUMADIT,
  XADITPRORROGACAOVCTOPARC.NUMPARC,
  XADITPRORROGACAOVCTOPARC.CODTIPOPARC,
  XADITPRORROGACAOVCTOPARC.CODGRUPO,
  XADITPRORROGACAOVCTOPARC.DATVCTONOVO AS NEWDATA,
  XADITPRORROGACAOVCTOPARC.DATVCTOATUAL AS OLDDATA,
  XADITPRORROGACAOVCTO.TAXAACORDO AS TAXAJUROS,
  XADITPRORROGACAOVCTO.FIXOACORDO AS VRJUROSACORDO,
  XADITPRORROGACAOVCTO.DSCTIPOPRORROGACAO AS TIPOPRORROGACAO,
  XADITPRORROGACAOVCTOPARC.VRPARCALTNOVO AS VRPARCNEW,
  XADITPRORROGACAOVCTOPARC.VRPARCALTATUAL AS VRPARCOLD,
  XADITPRORROGACAOVCTOPARC.RECCREATEDBY,
  XADITPRORROGACAOVCTOPARC.RECCREATEDON,
  XADITPRORROGACAOVCTOPARC.RECMODIFIEDBY,
  XADITPRORROGACAOVCTOPARC.RECMODIFIEDON
FROM XADITPRORROGACAOVCTO
     JOIN XADITPRORROGACAOVCTOPARC
     ON XADITPRORROGACAOVCTOPARC.CODCOLIGADA = XADITPRORROGACAOVCTO.CODCOLIGADA AND
        XADITPRORROGACAOVCTOPARC.NUMVENDA = XADITPRORROGACAOVCTO.NUMVENDA AND
        XADITPRORROGACAOVCTOPARC.NUMADIT = XADITPRORROGACAOVCTO.NUMADIT AND
        XADITPRORROGACAOVCTOPARC.CODTIPOADIT = XADITPRORROGACAOVCTO.CODTIPOADIT
GO
