USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_truncate_number]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_truncate_number]
@input_value decimal(17, 3),
@places_to_truncate int,
@output_value decimal(17, 3) output
as
begin
 declare @str_input varchar(80)
 declare @str_output varchar(80)
 declare @dot_pos int
 select @str_input 	= convert(varchar(80), @input_value)
 print 	@str_input
 select	@dot_pos 	= patindex('%.%', @str_input)
 print convert(varchar(10), @dot_pos)
 select @str_output 	= substring(@str_input, 1,
(@dot_pos+@places_to_truncate))
 print @str_output
 select @output_value	= convert(decimal(15, 5), @str_output)
end
 
GO
