USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[conta_caracter]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* FUNCTION - CONTA_CARACTER */

create  function [dbo].[conta_caracter] (@str varchar(2000),@coluna varchar(2000)) returns integer
begin

  declare @len integer
  declare @cont integer
  declare @quant integer
  declare @string varchar(10)
  
  set @quant=0
  set @len=len(@coluna)
  set @cont=1
  
  while @len > @cont
  begin
   set @string=substring(@coluna,@cont,1)
    if @string=@str
    begin
     set @quant=@quant+1
    end
   set @cont=@cont+1
  end
   return @quant
end
  
GO
