USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_ColaboratorAll]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_ColaboratorAll]  
AS 
 SELECT cNome                                             
    , cSexo         
    , cCPF          
    , cChapa        
    , cFuncao       
    , cDiretoria    
    , cEmail        
    , cSituacao     
    , cNmSituacao   
    , dAdmissao     
    , dDemissao    
	, cCodTipoDemissao
	, cDesTipoDemissao 
    , cCNPJEmpresa  
    , cRua          
    , cNumero       
    , cComplemento  
    , cBairro       
    , cCidade       
    , cEstado       
    , cCep          
    , cPais         
    , cTelefone     
    , cTelefone2    
    , cTelefone3    
    , cCentroCusto  
    , cCodUsuario  
    , iStatus   
    , cCodSecao  
    , cSecao    
    , NOME_FILIAL  
    , LOGINAD  
    , cCodFuncao  
    , cCodCargo  
    , cNmCargo  
    , cPisPasep    
    , cCodColigada  
    , cCodFilial                  
    , cCodPessoa   
    , cEmailPart     
    , cCelularCom    
    , cTelCom        
    , cRamal     
    , DTNASCIMENTO    
    , cCpfGestor  
    , cLider   
    , cCpfAprovador  
    , cGerenciadoPor
    , cCartIdentidade     
    , cCodEstCivil
    , cEstCivil
    , cCodEscolaridade
    , cEscolaridade    
    , CodEmpresaERP 
    , IdImagem
    , CodBancoPagto
    , CodAgenciaPagto
    , ContaPagamento    
    , cCodArea 
    , cDescArea 
    , cCodDivisao 
    , cDescDivisao 
    , cCodNegocio
    , cDescNegocio
    , cCodDireExecutiva
    , cDescDireExecutiva
    , cCodDiretoria
    , cDescDiretoria
    , cGrupoEmpresa
    , dDt_Ultima_Mod_PFunc
    , dDt_Ultima_Mod_PPessoa
    , dDt_Ultima_Mod_PFCompl
    , cParticipa_Avd
    , cTempo_Empresa
    , cTempo_Fco_Atual
    , dDt_Inicio_Ult_Fco
	, cNmColigada  
  FROM dbo.ColaboratorAll with(nolock)

GO
