USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_exec_dbcc_checkdb]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_exec_dbcc_checkdb]
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
-- build the dbcc command
set @cmd = N'dbcc checkdb([' + @db_name + N']) with no_infomsgs'
-- execute the dbcc command
exec (@cmd)
END
 
GO
