USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SPC_FILLCHAR]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Objetos criptografados */
/* Luciana Antunes Ribeiro - SD600_02 */
/*
  RM Sistemas
  RM Saldus
  Procedure auxiliar adaptável a preenchimento de
  caracteres à esquerda ou à direita de strings .
  Foi necessária na construção da SPC_INTEGRACAO_DE_LOTE .
*/
CREATE PROCEDURE [dbo].[SPC_FILLCHAR]
@ONDE CHAR,
@TAMANHO INT,
@STRING VARCHAR(200) OUTPUT
AS
BEGIN
  SET @STRING = LTRIM(RTRIM(@STRING))
  WHILE (LEN(@STRING) < @TAMANHO)
  BEGIN
    IF (@ONDE = 'E')
      SET @STRING = '0' + @STRING
    ELSE
      SET @STRING = @STRING + '0'
  END
END
GO
