USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_os_info]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Operating system info
create procedure [dbo].[sap_mon_os_info] as
begin
  set nocount on
  declare @cmd	  nvarchar(512)
  declare @wmi_proc    nvarchar(128)
  declare @header_line int
  declare @objsrc      sysname
  create table #osInfo
  ( varName   nvarchar(30) null,
    varValue  nvarchar(256) null
  )
  create table #output (
      n int identity(1,1),
      line nvarchar(4000),
	)
  select @objsrc = schema_name(schema_id) from sys.objects
     where object_id = @@PROCID
  set @wmi_proc = N'exec [' + @objsrc + N'].sap_wmi_get '
  set @cmd = @wmi_proc + '''os'','''',''Name'''
  insert #output(line) exec (@cmd)
  select @header_line = n from #output where
        line like 'Name%'
  insert into #osInfo
       select N'os_name',case patindex('%|%',line)
          when 0 then rtrim(REPLACE(line,CHAR(13),''))
          else substring(line,1,patindex('%|%',line)-1)
          end from #output
     where n = @header_line + 1
  delete #output
  set @cmd = @wmi_proc + '''os'','''',''Version'''
  insert #output(line) exec (@cmd)
  select @header_line = n from #output where
        line like 'Version%'
  insert into #osInfo
       select N'os_version',rtrim(REPLACE(line,CHAR(13),''))
           from #output
     where n = @header_line + 1
  delete #output
  set @cmd = @wmi_proc + '''os'','''',''CSDVersion'''
  insert #output(line) exec (@cmd)
  select @header_line = n from #output where
        line like 'CSDVersion%'
  insert into #osInfo
       select N'os_splevel',rtrim(REPLACE(line,CHAR(13),''))
           from #output
     where n = @header_line + 1
  delete #output
  set @cmd = @wmi_proc + '''os'','''',''InstallDate'''
  insert #output(line) exec (@cmd)
  select @header_line = n from #output where
        line like 'InstallDate%'
  insert into #osInfo
       select N'os_instdate',substring(line,1,14)
           from #output
     where n = @header_line + 1
  delete #output
  set @cmd = @wmi_proc + '''os'','''',''LastBootUpTime'''
  insert #output(line) exec (@cmd)
  select @header_line = n from #output where
        line like 'LastBootUpTime%'
  insert into #osInfo
       select N'os_lastboot',substring(line,1,14)
           from #output
     where n = @header_line + 1
  delete #output
  set @cmd = @wmi_proc + '''computersystem'','''',''SystemType'''
  insert #output(line) exec (@cmd)
  select @header_line = n from #output where
        line like 'SystemType%'
  insert into #osInfo
       select N'os_platform',rtrim(REPLACE(line,CHAR(13),''))
           from #output
     where n = @header_line + 1
  delete #output
  set @cmd = @wmi_proc + '''os'','''',''OSLanguage'''
  insert #output(line) exec (@cmd)
  select @header_line = n from #output where
        line like 'OSLanguage%'
  insert into #osInfo
       select N'os_language',
          case rtrim(REPLACE(line,CHAR(13),''))
            when '9' then N'English'
            when '1033' then N'English - United States'
            when '2057' then N'English - United Kingdom'
            when '1031' then N'German - Germany'
            when '1036' then N'French - France'
            when '1040' then N'Italian - Italy'
            when '1034' then N'Spanish - Traditional Sort'
            when '3082' then N'Spanish - International Sort'
            when '1041' then N'Japanese'
            else N'Other'
          end
  from #output
     where n = @header_line + 1
  select * from #osInfo
end
 
GO
