USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_restore_hist]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_restore_hist]
as
Begin
/*******************************************************************/
/* 02/25/2008 RR Added set nocount on                              */
/*                                                                 */
/*******************************************************************/
set nocount on
select convert(char(20),h.restore_date,113) N'restore_date',
    b.database_name,
    convert(decimal(12,2),((b.backup_size/1024)/1024)) N'backup_size',
    convert(char(20),b.backup_finish_date,113) N'Backup_date',
    backup_type =
       case h.restore_type
         when N'D' then N'Full'
         when N'F' then N'File'
         when N'G' then N'Filegroup'
         when N'I' then N'Differential'
         when N'L' then N'Log'
         when N'D' then N'Verifyonly'
       end,
     h.user_name,
     c.logical_device_name,
     devicetype =
       case c.device_type
         when 2 then N'Disk'
         when 5 then N'Tape'
         when 6 then N'Pipe'
         ELSE N'Permanent'
       end,
     d.name
from msdb..restorehistory h, msdb..backupset b,
     msdb..backupmediafamily c, msdb..backupmediaset d
where h.backup_set_id = b.backup_set_id  and
      b.media_set_id  = c.media_set_id   and
      b.media_set_id  = d.media_set_id
order by b.database_name, h.restore_date desc
End
 
GO
