USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VIEW_BW_TB_ASALDOBANCOHOR]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_BW_TB_ASALDOBANCOHOR]
AS
  SELECT CODCOLIGADA       = SLD.CODCOLIGADA
	   , CHAPA             = SLD.CHAPA
	   , CCUSTO            = SCO.NROCENCUSTOCONT
	   , INICIOPER         = SLD.INICIOPER
	   , FIMPER            = SLD.FIMPER
	   , EXTRAANT          = SLD.EXTRAANT
	   , ATRASOANT         = SLD.ATRASOANT
	   , FALTAANT          = SLD.FALTAANT
	   , EXTRAATU          = SLD.EXTRAATU
	   , ATRASOATU         = SLD.ATRASOATU
	   , FALTAATU          = SLD.FALTAATU
	   , DTMODIFICACAO     = ISNULL(CONVERT(VARCHAR(8),SLD.RECMODIFIEDON,112),'19990101')
	   , UTILIZA           = HST.UTILIZA
    FROM ASALDOBANCOHOR SLD
	     INNER JOIN AHSTUTILIZAPONTO HST ON SLD.CHAPA       = HST.CHAPA
                                        AND SLD.CODCOLIGADA = HST.CODCOLIGADA  
										AND HST.DATAINICIO  = (SELECT Max(G.DATAINICIO)
															 	 FROM AHSTUTILIZAPONTO G(NOLOCK)
															    WHERE G.CODCOLIGADA = SLD.CODCOLIGADA
															      AND G.CHAPA = SLD.CHAPA)
         LEFT  JOIN PFUNC FNC            ON SLD.CHAPA       = FNC.CHAPA
                                        AND SLD.CODCOLIGADA = FNC.CODCOLIGADA  
         LEFT  JOIN PSECAO SCO           ON FNC.CODSECAO    = SCO.CODIGO
GO
