USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSMODALIDADE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSMODALIDADE]
AS
  SELECT CODCOLIGADA,
         CO_MODALIDADE CODMOD,
         NO_MODALIDADE DESCRICAO,
         NULL          STATUS
  FROM   GCOLIGADA,
         SZSUSTUMODALIDADE
GO
