USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcc_perf_logspace]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcc_perf_logspace]
AS
  SET NOCOUNT ON
  CREATE TABLE #temp
    ( dbName          sysname,
      logSizeMB       decimal(20, 3) ,
      percentUsed     decimal(20, 3) ,
      status          int )
  INSERT #temp
    EXECUTE ('DBCC SQLPERF(LOGSPACE) with NO_INFOMSGS')
  SELECT * FROM #temp
  DROP TABLE #temp
 
GO
