USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[ZOUTSERV_DISTRIBUI_LANCTO_FINANC]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ZOUTSERV_DISTRIBUI_LANCTO_FINANC]

 
   (@ID_LAN INT, @COL INT)
	
AS

BEGIN

	

DELETE FROM FLANRATCCU WHERE CODCOLIGADA = @COL AND IDLAN = @ID_LAN ;

INSERT INTO FLANRATCCU (CODCOLIGADA, IDLAN, CODCCUSTO, VALOR, IDRATCCU, PERCENTUAL)

SELECT
	CODCOLIGADA
	,IDLAN
	,NROCENCUSTOCONT
	,SUM(VALOR)VALOR
	,(SELECT MAX(VALAUTOINC) FROM GAUTOINC WHERE CODAUTOINC = 'IDRATCCU' AND CODSISTEMA = 'F') + ROW_NUMBER() OVER (PARTITION BY CODCOLIGADA ORDER BY IDLAN) AS ID_RAT_CCU
   
   /* ,MAX(VALORORIGINAL)TOT*/
    
    ,ROUND(SUM(VALOR)/ MAX(VALORORIGINAL)*100,4) VL

    
    
    
    
FROM(
SELECT
    A.IDLAN
	,A.CODCOLIGADA
	,B.IDITEMLAN
	,D.DESCRICAO
	,YEAR(A.MESDECOMPETENCIA)ANO
	,MONTH(A.MESDECOMPETENCIA)MES
    ,B.VALOR
		,ISNULL((SELECT TOP 1 T.NROCENCUSTOCONT FROM PFHSTSEC S, PSECAO T 
	     WHERE S.CODCOLIGADA = T.CODCOLIGADA 
	            AND S.CODSECAO = T.CODIGO 
	            AND S.CODCOLIGADA = C.CODCOLIGADA 
	            AND S.CHAPA = C.CHAPA 
	            AND S.DTMUDANCA <= EOMONTH(A.MESDECOMPETENCIA,0) ORDER BY S.DTMUDANCA DESC),E.NROCENCUSTOCONT)NROCENCUSTOCONT
	,F.CODNATFINANCEIRA
	,A.CODCFO
	,A.DATACRIACAO
	,A.DATAEMISSAO
	,A.DATAVENCIMENTO
	,A.VALORORIGINAL
	
	,ROUND((B.VALOR/A.VALORORIGINAL)*100,8) VALOR_CCU
  
	
FROM
	FLAN A
	INNER JOIN PFITEMLAN  B ON B.IDLAN = A.IDLAN AND B.CODCOLIGADA = A.CODCOLIGADA
	INNER JOIN PFUNC C ON C.CODCOLIGADA = B.CODCOLIGADA AND C.CHAPA = B.CHAPA
	LEFT JOIN FTDO D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODTDO = A.CODTDO
	LEFT JOIN PSECAO E ON E.CODCOLIGADA = C.CODCOLIGADA AND E.CODIGO = C.CODSECAO
	LEFT JOIN PLANCFINANC F ON F.CODCOLIGADA = A.CODCOLIGADA AND A.CODTDO = F.CODTDO AND SUBSTRING(A.HISTORICO,1,4) = F.CODLANC
	
	
WHERE 	
	A.CODCOLIGADA = @COL
    AND A.IDLAN = @ID_LAN

)X

GROUP BY
	CODCOLIGADA
	,IDLAN
	,NROCENCUSTOCONT;


UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDRATCCU) FROM FLANRATCCU) WHERE CODAUTOINC = 'IDRATCCU' AND CODSISTEMA = 'F';

END
GO
