USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFPAR]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[TFPAR] AS
SELECT A.CODCOLIGADA, A.CODCALENDARIO, A.CPGFATURAPROXIMOMES, B.SEPARADOR,
(SELECT INTEIRO FROM FPARAM WHERE CODCOLIGADA=A.CODCOLIGADA AND ID=61) AS ACEITAVENCFIMSEM,
B.USAPRECOPROD1,B.USAPRECOPROD2,B.USAPRECOPROD3,B.USAPRECOPROD4,B.USAPRECOPROD5,B.NOMEDOPRECOPROD1,
B.NOMEDOPRECOPROD2,B.NOMEDOPRECOPROD3,B.NOMEDOPRECOPROD4,B.NOMEDOPRECOPROD5,
(SELECT FPARAM.INTEIRO FROM FPARAM WHERE FPARAM.CODCOLIGADA=A.CODCOLIGADA AND FPARAM.ID=1030) AS CODCFOSEQUENCIAL,
(SELECT FPARAM.TEXTO FROM FPARAM WHERE FPARAM.CODCOLIGADA=A.CODCOLIGADA AND FPARAM.ID=1001) AS MASCARACLIFOR,A.ARREDOUTRUNCA,
GETDATE() AS DTHRATUALIZACAO
FROM TPAR A, TPARPRODUTO B
WHERE A.CODCOLIGADA = B.CODCOLIGADA
GO
