USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[ZFimdoMes]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Function [dbo].[ZFimdoMes] (@mes int, @ano int)

Returns Datetime

Begin

----------------------------------------------------------------------------------

-- Função para gerar uma data com o último dia do mes,

-- recebendo como parametros apenas o mes e ano.

--

----------------------------------------------------------------------------------

Declare @FimdoMes Datetime

Select @FimdoMes = DateAdd(Month,1,(cast((Cast(@Ano as varchar)

+ '/' + cast(@Mes as varchar) + '/' + '01' ) as Datetime)))-1

Return (@FimdoMes)

---------------------------------------------------------------------------------

-- Para usar a função, deve sempre chamar como no exemplo abaixo:

-- Select dbo.ZFimdoMes(8,2006) ou Select dbo.ZFimdoMes( mescomp , anocomp )

---------------------------------------------------------------------------------

End
GO
