USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_ATUALIZA_FLOGVALORES]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_ATUALIZA_FLOGVALORES]
AS
-- COLIGADAS EXISTENTES
INSERT INTO FLOGVALORES (CODCOLIGADA, IDLAN, IDLOG, DATA, IDBAIXA, VALORORIGINAL,
VALORDESCONTO, VALORJUROS, VALORMULTA, VALORCAP, VALOROP1, VALOROP2, VALOROP3,
VALOROP4, VALOROP5, VALOROP6, VALOROP7, VALOROP8, VALORINSS, VALORIRRF, VALORSESTSENAT,
VALORDEVOLUCAO, VALORNOTACREDITO, VALORADIANTAMENTO, VALORJUROSVENDOR, VALORRETENCOES,
VALORPERDAFINANCEIRA, VALORLIQUIDO, VALORDESCONTOCALC, VALORJUROSCALC, VALORMULTACALC,
VALORCAPCALC, VALOROP1CALC,VALOROP2CALC, VALOROP3CALC, VALOROP4CALC, VALOROP5CALC,
VALOROP6CALC, VALOROP7CALC, VALOROP8CALC,OPERACAO)
SELECT CODCOLIGADA, IDLAN, 0/*IDLOG*/, ISNULL (DATABAIXA, GETDATE()), IDBAIXA, 0/*VALORORIGINAL*/, 0/*VALORDESCONTO*/, 0/*VALORJUROS*/, 0/*VALORMULTA*/, 0/*VALORCAP*/,  0/*VALOROP1*/,  0/*VALOROP2*/,
0/*VALOROP3*/,  0/*VALOROP4*/, 0/*VALOROP5*/,  0/*VALOROP6*/, 0/*VALOROP7*/,  0/*VALOROP8*/,0/*VALORINSS*/,0/*VALORIRRF*/, 0/*VALORSESTSENAT*/,0/*VALORDEVOLUCAO*/, 0/*VALORNOTACREDITO*/,
0/*VALORADIANTAMENTO*/, 0/*VALORJUROSVENDOR*/, 0/*VALORRETENCOES*/, 0/*VALORPERDAFINANCEIRA*/, 0/*VALORLIQUIDO*/, 0/*VALORDESCONTOCALC*/, 0/*VALORJUROSCALC*/,
0/*VALORMULTACALC*/, 0/*VALORCAPCALC*/, 0/*VALOROP1CALC*/, 0/*VALOROP2CALC*/,
0/*VALOROP3CALC*/, 0/*VALOROP4CALC*/, 0/*VALOROP5CALC*/, 0/*VALOROP6CALC*/,
0/*VALOROP7CALC*/, 0/*VALOROP8CALC*/, 0/*OPERACAO*/
FROM FLANBAIXA
GO
