USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sec_fixeddrives]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_sec_fixeddrives] AS begin set nocount on EXECUTE AS login = 'sa' exec xp_fixeddrives end
GO
