USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SPC_ACESSAGLOBAIS]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  RM Sistemas
  RM Saldus
  Funcionalidade "RegParams.AcessaGlobais" do
  aplicativo RM Saldus adaptada para uso em
  Stored Procedures MSSQL
*/
CREATE PROCEDURE [dbo].[SPC_ACESSAGLOBAIS]
@COLIGADA SMALLINT,
@RESULTADO BIT OUTPUT
AS
BEGIN
  SELECT @RESULTADO = INTEIRO
  FROM CPARAM
  WHERE CODCOLIGADA = @COLIGADA AND
        ID = 41 /*ID do Acessa Globais*/
END
GO
