USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_tipocampo]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_tipocampo] @idtabela int,@nomecampo sysname, @tipo varchar(100) output
as
  select @tipo = ( select
  (CASE WHEN (SYSTYPES.NAME = 'varchar' or SYSTYPES.NAME = 'char') THEN
  SUBSTRING(SYSTYPES.NAME,1,20)+ '(' +  LTRIM(REPLACE(STR((SYSCOLUMNS.LENGTH )), '-1', 'MAX') + ')')
  ELSE SUBSTRING(SYSTYPES.NAME,1,20)  END)
  FROM 	SYSCOLUMNS , SYSTYPES
  WHERE SYSCOLUMNS.XTYPE = SYSTYPES.XTYPE AND
	SYSCOLUMNS.XUSERTYPE = SYSTYPES.XUSERTYPE AND
        SYSCOLUMNS.ID=@idtabela and syscolumns.name=@nomecampo)
GO
