USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_max_precision]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_check_max_precision]
  @result varchar(64) output
as
BEGIN
set nocount on
if (select @@max_precision) = 38
  select @result = 'ok'
else
  select @result = 'MSSQL startup parameter -p not set!'
END
 
GO
