USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_Colaborator]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VW_Colaborator]  
AS    
SELECT c.cNome         
    , c.cSexo         
    , c.cCPF          
    , c.cChapa 
    , c.cFuncao 
    , c.cDiretoria    
    , c.cEmail        
    , c.cSituacao     
    , c.cNmSituacao   
    , c.dAdmissao     
    , c.dDemissao   
	, c.cCodTipoDemissao  
	, c.cDesTipoDemissao
    , c.cCNPJEmpresa  
    , c.cRua          
    , c.cNumero       
    , c.cComplemento  
    , c.cBairro       
    , c.cCidade       
    , c.cEstado       
    , c.cCep          
    , c.cPais         
    , c.cTelefone     
    , c.cTelefone2    
    , c.cTelefone3    
    , c.cCentroCusto  
    , c.cCodUsuario  
    , c.iStatus   
    , c.cCodSecao  
    , c.cSecao    
    , c.NOME_FILIAL  
    , c.LOGINAD
    , c.cCodFuncao 
    , cCodCargo        
    , cNmCargo
    , c.cPisPasep    
    , c.cCodColigada  
    , c.cCodFilial                  
    , c.cCodPessoa   
    , c.cEmailPart     
    , c.cCelularCom    
    , c.cTelCom        
    , c.cRamal     
    , c.DTNASCIMENTO    
    , c.cCpfGestor  
    , c.cLider   
    , c.cCpfAprovador  
    , c.cGerenciadoPor
    , c.cCartIdentidade     
    , c.cCodEstCivil
    , c.cEstCivil
    , c.cCodEscolaridade
    , c.cEscolaridade    
    , c.CodEmpresaERP 
    , c.IdImagem
    , c.CodBancoPagto
    , c.CodAgenciaPagto
    , c.ContaPagamento    
    , c.cCodArea 
    , c.cDescArea 
    , c.cCodDivisao 
    , c.cDescDivisao 
    , c.cCodNegocio
    , c.cDescNegocio
    , c.cCodDireExecutiva
    , c.cDescDireExecutiva
    , c.cCodDiretoria
    , c.cDescDiretoria
    , c.cGrupoEmpresa
    , c.dDt_Ultima_Mod_PFunc
    , c.dDt_Ultima_Mod_PPessoa
    , c.dDt_Ultima_Mod_PFCompl
	, c.cParticipa_Avd
    , c.cTempo_Empresa
    , c.cTempo_Fco_Atual
    , c.dDt_Inicio_Ult_Fco
	, c.cNmColigada  
  FROM dbo.Colaborator c with(nolock)


GO
