USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcc_perf_lrustats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcc_perf_lrustats]
AS
  SET NOCOUNT ON
  CREATE TABLE #temp
    ( statistic nvarchar(32),
      value     decimal(10,3) )
  INSERT #temp
    EXECUTE ('DBCC SQLPERF(LRUSTATS) with NO_INFOMSGS')
  SELECT * FROM #temp
  DROP TABLE #temp
 
GO
