USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_tableproperties]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_get_tableproperties]
     @dbname sysname,
     @obj_schema sysname,
     @tabname sysname
AS
BEGIN
declare @obj_id int
declare @prop_name sysname
declare @prop_value nvarchar(32)
declare @stmt nvarchar(512)
declare @args nvarchar(512)
declare @idx_id int
declare @pv int
declare @cdt datetime
declare @mdt datetime
declare @cmp nvarchar(60)
set nocount on
set @stmt = N'use ' + @dbname +
  N' select @obj_id = object_id from sys.objects where' +
  N'   schema_id = schema_id(@obj_schema) and' +
  N'   name = @tabname'
exec sp_executesql @stmt,
  N'@obj_id int output,@obj_schema sysname,@tabname sysname',
  @obj_id output,@obj_schema,@tabname
create table #props (prop_name sysname,prop_value nvarchar(32) )
insert into #props values( N'ObjectID',convert(nvarchar,@obj_id) )
-- Creation/modification date/time
set @stmt = N'use ' + @dbname +
  N' select @cdt = create_date,'+
  N'        @mdt = modify_date from sys.objects where '+
  N' object_id = @obj_id'
set @args = N'@cdt datetime output,@mdt datetime output,@obj_id int'
exec sp_executesql @stmt,@args,
    @cdt output,@mdt output,@obj_id
if @cdt is not null
begin
  insert into #props select N'Created',convert(nvarchar,@cdt)
  insert into #props select N'Modified',convert(nvarchar,@mdt)
end
-- Row/Page compression
set @stmt = N'use ' + @dbname +
  N' select @cmp = data_compression_desc from sys.partitions where '+
  N' object_id = @obj_id and index_id <= 1'
set @args = N'@cmp nvarchar(60) output,@obj_id int'
exec sp_executesql @stmt,@args,
    @cmp output,@obj_id
if @cmp is not null
  insert into #props select N'Data Compression',@cmp
-- Index locking options
set @stmt = N'use ' + @dbname +
  N' select @prop_name = N''IsPageLockDisallowed'',@prop_value = ' +
  N'   case si.allow_page_locks ' +
  N'		when NULL then N''Unknown'' ' +
  N'			when 0 then N''True'' ' +
  N'			else N''False''' +
  N'		end, ' +
  N'  @pv = si.allow_page_locks ' +
  N'     from sys.indexes as si join' +
  N'          sys.objects as so' +
  N'       on si.object_id = so.object_id' +
  N'    where  si.object_id = @obj_id and' +
  N'           si.index_id in (0,1) and' +
  N'        so.schema_id = schema_id(@obj_schema) '
set @args = N'@prop_name sysname output,@prop_value nvarchar(32) output,' +
  N'@obj_id int,@obj_schema sysname,@pv int output'
exec sp_executesql @stmt,@args,
        @prop_name output,@prop_value output,@obj_id,@obj_schema,@pv output
if @prop_name is not null
begin
  insert into #props values (@prop_name,@prop_value)
  -- Check that all secondary indexes are the same value
	set @stmt = N'use ' + @dbname +
	  N' select @idx_id = si.index_id from sys.indexes as si join' +
	  N'          sys.objects as so' +
	  N'       on si.object_id = so.object_id' +
	  N'    where  si.object_id = @obj_id and' +
	  N'           si.index_id > 1 and' +
	  N' si.allow_page_locks <> @pv and ' +
	  N'        so.schema_id = schema_id(@obj_schema) '
	set @args = N'@prop_name sysname,@pv int,' +
	  N'@obj_id int,@obj_schema sysname,@idx_id int output'
	
    exec sp_executesql @stmt,@args,
        @prop_name,@pv,@obj_id,@obj_schema,@idx_id output
    if @idx_id is not null
      insert into #props values (N'PageLocking on secondary index',
         N'At least one index <>' + @prop_value )
  --
end
set @stmt = N'use ' + @dbname +
  N' select @prop_name = N''IsRowLockDisallowed'',@prop_value = ' +
  N'  case si.allow_row_locks ' +
  N'		when NULL then N''Unknown'' ' +
  N'			when 0 then N''True'' ' +
  N'			else N''False''' +
  N'		end,' +
  N'     @pv = si.allow_row_locks ' +
  N' from sys.indexes as si join' +
  N'      sys.objects as so' +
  N'   on si.object_id = so.object_id' +
  N' where si.object_id = @obj_id and' +
  N'       si.index_id in (0,1) and' +
  N'       so.schema_id = schema_id(@obj_schema) '
set @args = N'@prop_name sysname output,@prop_value nvarchar(32) output,' +
  N'@obj_id int,@obj_schema sysname,@pv int output'
exec sp_executesql @stmt,@args,
        @prop_name output,@prop_value output,@obj_id,@obj_schema,@pv output
if @prop_name is not null
begin
  insert into #props values (@prop_name,@prop_value)
  -- Check that all secondary indexes are the same value:
	set @stmt = N'use ' + @dbname +
	  N' select @idx_id = si.index_id from sys.indexes as si join' +
	  N'          sys.objects as so' +
	  N'       on si.object_id = so.object_id' +
	  N'    where  si.object_id = @obj_id and' +
	  N'           si.index_id > 1 and' +
	  N' si.allow_row_locks <> @pv and ' +
	  N'        so.schema_id = schema_id(@obj_schema) '
	set @args = N'@prop_name sysname,@pv int,' +
	  N'@obj_id int,@obj_schema sysname,@idx_id int output'
	
    exec sp_executesql @stmt,@args,
        @prop_name,@pv,@obj_id,@obj_schema,@idx_id output
    if @idx_id is not null
      insert into #props values (N'RowLocking on secondary index',
         N'At least one index <>' + @prop_value )
  --
end
-- Process a number of boolean properties
set @stmt = N'use ' + @dbname +
	N' select @prop_value = ' +
	N'	  case  ' +
	N'		when OBJECTPROPERTY(@obj_id,@prop_name) is NULL then
N''Unknown'' ' +
	N'		when OBJECTPROPERTY(@obj_id,@prop_name) = 0     then
N''False'' ' +
	N'		else N''True''' +
	N'	end'
set @args = N'@prop_name sysname,@obj_id int,@prop_value nvarchar(32) output'
set @prop_value = NULL
set @prop_name = N'TableIsPinned'
exec sp_executesql @stmt,@args,@prop_name,@obj_id,@prop_value output
if @prop_value is not null insert into #props values (@prop_name,@prop_value)
set @prop_value = NULL
set @prop_name = N'TableIsLockedOnBulkLoad'
exec sp_executesql @stmt,@args,@prop_name,@obj_id,@prop_value output
if @prop_value is not null insert into #props values (@prop_name,@prop_value)
set @prop_value = NULL
set @prop_name = N'IsAnsiNullsOn'
exec sp_executesql @stmt,@args,@prop_name,@obj_id,@prop_value output
if @prop_value is not null insert into #props values (@prop_name,@prop_value)
set @prop_value = NULL
set @prop_name = N'TableHasTextImage'
exec sp_executesql @stmt,@args,@prop_name,@obj_id,@prop_value output
if @prop_value is not null insert into #props values (@prop_name,@prop_value)
set @prop_value = NULL
set @prop_name = N'TableTextInRowLimit'
exec sp_executesql @stmt,@args,@prop_name,@obj_id,@prop_value output
if @prop_value is not null insert into #props values (@prop_name,@prop_value)
set @prop_value = NULL
set @prop_name = N'TableHasVarDecimalStorageFormat'
exec sp_executesql @stmt,@args,@prop_name,@obj_id,@prop_value output
if @prop_value is not null insert into #props values (@prop_name,@prop_value)
select * from #props
END
 
GO
