USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_sm66locks]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_sm66locks]
as
begin
  create table #sm66locks
  ( object    sysname,
    objid     int,
    dbname    sysname,
    holdspid  smallint,
    holdproc  nchar(8),
    holdhost  sysname,
    reqspid   smallint,
    reqproc   nchar(8),
    reqhost   sysname,
    waittime  int
  )
  declare @fakeobjid   int
  declare @dbname      sysname
  declare @updcmd      nvarchar(512)
  declare updname_cursor cursor for
     select objid,dbname from #sm66locks
      where db_name() <> dbname
  SET NOCOUNT ON
  insert #sm66locks
     select
        case sl.rsc_dbid
        when db_id() then object_name(sl.rsc_objid)
        else '0' end,
        case sl.rsc_dbid
        when db_id() then 0
        else sl.rsc_objid end,
        db_name(sl.rsc_dbid),
        sl.req_spid,sp.hostprocess, sp.hostname,
        sp.blocked,sp2.hostprocess,sp2.hostname,
        cast( sp.waittime * 0.001 as int)
        from master..syslockinfo sl with (nolock)
        join master..sysprocesses sp with (nolock) on sl.req_spid = sp.spid
        join master..sysprocesses sp2 with (nolock) on sp.blocked = sp2.spid
       where sl.req_status = 3
 open updname_cursor
 fetch next from updname_cursor into @fakeobjid,@dbname
 while (@@fetch_status <> -1)
 begin
   select @updcmd = 'update #sm66locks set object = ' +
          ' ( select name from ' + @dbname +
          '..sysobjects where id = ' + convert(nchar(20), @fakeobjid) +
          ') where objid = ' + convert( nchar(20),@fakeobjid)
   exec ( @updcmd )
   fetch next from updname_cursor into @fakeobjid,@dbname
 end
 close  updname_cursor
 deallocate  updname_cursor
 select object,dbname,
        holdspid,holdproc,holdhost,
        reqspid, reqproc, reqhost,
        waittime
   from #sm66locks
end
 
GO
