USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[spf_set_idlanmovorigem_baixa_parcial]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spf_set_idlanmovorigem_baixa_parcial] @CODCOLIGADA INTEGER
	,@IDLAN INTEGER
	,@IDLANMOVORIGEM INTEGER
	,@STATUSLAN INTEGER OUTPUT
	,@IDLANSEARCH INTEGER OUTPUT
AS
DECLARE @FINALIZAINTERACAO INTEGER
DECLARE @IDLANREL INTEGER
DECLARE @STATUSLAN_INTERNO INTEGER
DECLARE @BAIXADOPARCIALMENTE SMALLINT
DECLARE @PARCELADO SMALLINT
BEGIN
	SET @BAIXADOPARCIALMENTE = 0
	SET @IDLANREL = - 1
	SET @FINALIZAINTERACAO = 0
	SET @IDLANSEARCH = @IDLAN
	SET @STATUSLAN_INTERNO = 1
	WHILE (@FINALIZAINTERACAO <> 1)
	BEGIN /* VERIFICA SE EXISTE PARCELAMENTO */
		EXECUTE spf_set_idlanmovorigem_parcelamento @CODCOLIGADA
			,@IDLANSEARCH
			,@IDLANMOVORIGEM
			,@STATUSLAN OUTPUT
			,@IDLANSEARCH
			,@PARCELADO OUTPUT
		SET @STATUSLAN_INTERNO = @STATUSLAN
		SET @IDLANREL = (
				SELECT FRELLAN.IDLANREL
				FROM FRELLAN  WITH (NOLOCK)
				JOIN FLAN  WITH (NOLOCK) ON (
						FLAN.CODCOLIGADA = FRELLAN.CODCOLIGADA
						AND FLAN.IDLAN = FRELLAN.IDLAN
						AND FRELLAN.TIPOREL = 11
						)
				WHERE FLAN.CODCOLIGADA = @CODCOLIGADA
					AND FLAN.IDLAN = @IDLANSEARCH
				)
		IF (ISNULL(@IDLANREL, 0) > 0)
		BEGIN
			UPDATE FLAN
			SET IDLANMOVORIGEM = @IDLANMOVORIGEM
			WHERE CODCOLIGADA = @CODCOLIGADA
				AND IDLAN = @IDLANREL
			SET @IDLANSEARCH = @IDLANREL
			SET @BAIXADOPARCIALMENTE = 1
			SET @IDLANREL = - 1
		END
		ELSE
		BEGIN
			SET @FINALIZAINTERACAO = 1
		END /* BUSCA O STATUS LAN DO ULTIMO LANÇAMENTO DE BAIXA PARCIAL */
		SET @STATUSLAN = (
				SELECT STATUSLAN
				FROM FLAN  WITH (NOLOCK)
				WHERE CODCOLIGADA = @CODCOLIGADA
					AND IDLAN = @IDLANSEARCH
				)
		IF (
				ISNULL(@BAIXADOPARCIALMENTE, - 1) = 1
				OR ISNULL(@PARCELADO, - 1) = 1
				)
		BEGIN /* TRATA STATUSLAN DOS PARCELAMENTOS */
			IF (ISNULL(@STATUSLAN_INTERNO, - 1) <> ISNULL(@STATUSLAN, - 1))
			BEGIN /* PARCIALMENTE BAIXADO */
				SET @STATUSLAN = 2
			END
		END
	END
END
GO
