USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedDataType [dbo].[tSessionItemShort]    Script Date: 02/08/2025 10:07:58 ******/
CREATE TYPE [dbo].[tSessionItemShort] FROM [varbinary](7000) NULL
GO
