USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XHISTORICOEMPREENDIMENTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XHISTORICOEMPREENDIMENTO]
AS
SELECT
  XLOGEMPREENDIMENTO.IDLOGEMPREENDIMENTO COD_HIST_EMPR,
  XLOGEMPREENDIMENTO.OLD_DAT_ENTR_EMPR,
  XLOGEMPREENDIMENTO.DESC_HIST_EMPR,
  XLOGEMPREENDIMENTO.DATA_ALTERACAO,
  XLOGEMPREENDIMENTO.RECMODIFIEDBY USUARIO,
  XLOGEMPREENDIMENTO.COD_PESS_EMPR,
  XLOGEMPREENDIMENTO.RECCREATEDBY,
  XLOGEMPREENDIMENTO.RECCREATEDON,
  XLOGEMPREENDIMENTO.RECMODIFIEDBY,
  XLOGEMPREENDIMENTO.RECMODIFIEDON
FROM XLOGEMPREENDIMENTO (NOLOCK)
GO
