USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_NUMCRACHA_SURICATO_SAP]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_NUMCRACHA_SURICATO_SAP]
AS

SELECT CPF    = C.NumeCpf
     , CHAPA  = C.CodiMatr
     , NUMFIS = CONVERT(VARCHAR, R.Icard)
     , NUMCRA = CONVERT(VARCHAR, R.NumeCrac)
  FROM suricato.suricato.suricato.TBCOLAB C 
       INNER JOIN suricato.suricato.suricato.TBHISTOCRACH H ON C.IdColab = H.IdColab
       INNER JOIN suricato.suricato.suricato.TBCADASCRACH R ON H.Icard   = R.Icard
 WHERE C.NumeCpf IS NOT NULL
 
GO
