USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[FLANAVP]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FLANAVP] AS
SELECT * FROM FAVP
GO
