USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_spid]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_spid]
  @spid    smallint,
  @fn_get_sql char(1) = ' ',
  @unicode char(1) = ' '
as
begin
  set nocount on
  declare @sqlcmd   nvarchar(512)
  declare @handle   binary(20)
  declare @uid      smallint
  declare @ltext    nvarchar(255)
  declare @lenChars int
  declare @ptrval   binary(16)
  declare @dbcc_output  nvarchar(255)
  create table #dbccinputbuffer
  ( eventType   nvarchar(30) null,
    params      int          null,
    eventInfo   nvarchar(255) null
  )
  select @handle = sql_handle,
         @uid = uid
    from master..sysprocesses with (nolock) where spid = @spid
  if @@rowcount = 0
  begin
    select N'Error: No spid',' '
    return
  end
  else
  if @uid <> user_id() and
     IS_SRVROLEMEMBER ('sysadmin') <> 1
  begin
    select N'Error: No permission - dbcc inputbuffer',' '
    return
  end
-- do the dbcc inputbuffer and set @dbcc_output
  else
  begin
    select @sqlcmd = 'dbcc inputbuffer(' + convert(varchar(6),@spid) +
                     ') with no_infomsgs'
    insert #dbccinputbuffer  exec(@sqlcmd)
    select @ltext = eventInfo,
           @lenChars = patindex('%;%',eventInfo) -1
      from #dbccinputbuffer
    set @ltext=replace(@ltext,char(10),' ')
    set @ltext=replace(@ltext,char(13),' ')
    select @dbcc_output = case when @lenChars <= 0 then @ltext
                               else left(@ltext,@lenChars) end
  end
-- make sure you can run fn_get_sql
-- if there is no row, can't join against fn_get_sql
-- so at least return dbcc_output
  if ( IS_SRVROLEMEMBER ('sysadmin') = 1 and @fn_get_sql <> ' ')
  begin
    if @unicode = 'X'
      if EXISTS ( select * from ::fn_get_sql(@handle))
         select @dbcc_output, convert(ntext,text)
         from ::fn_get_sql(@handle)
      else
         select @dbcc_output, N' '
    else
      if EXISTS ( select * from ::fn_get_sql(@handle))
         select @dbcc_output, text
         from ::fn_get_sql(@handle)
      else
         select @dbcc_output, ' '
  end
  else
    select @dbcc_output,case @unicode
                        when 'X' then convert(ntext,N'')
                        else convert(text,'') end
-- delete temporary tables
  drop table #dbccinputbuffer
end
 
GO
