USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[ZCRM_CONFEREIR_RM]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ZCRM_CONFEREIR_RM]
AS



--FERIAS
	SELECT
		'FERIAS' ANALISA,
		A.CODCOLIGADA,
		A.CODFILIAL,
		A.CHAPA,
		D.CODIGO CODPESSOA,
		D.CPF,
		A.NOME,
		S.DESCRICAO SECAO,
		A.DATAADMISSAO,
		A.DATADEMISSAO,
		A.DTTRANSFERENCIA,
		A.TIPODEMISSAO,
		A.CODTIPO TIPO_FUNC,
		A.VINCULORAIS VINC_RAIS,
		A.CODCATEGORIA CAT_SEFIP,
		A.CODCATEGORIAESOCIAL CAT_ESOCIAL,
		C.CODIGO,
		C.DESCRICAO,
		'0 - FERIAS_REC' PERIODO,
		B.DATAPAGTO DT_PAGTO,
		
		
	   	(CASE 
	   		WHEN C.CODIGOCALCULO = '127' THEN '3562'
			WHEN A.CODTIPO IN('D') AND A.VINCULORAIS = '7' AND A.CODCATEGORIA IN('5','11') THEN '0588' 
			WHEN A.CODTIPO IN('A','C','T') THEN '0588'
			ELSE '0561' END)TIPO,
		
		B.VALOR,
		
	    
	    YEAR(F.DATAPAGTO) ANOPAGTO,
	    MONTH(F.DATAPAGTO)MESPAGTO,
		YEAR(F.DATAPAGTO) ANOCOMP,
	    MONTH(F.DATAPAGTO)MESCOMP
	
      ,0 BASE_PFFINANC
	
	FROM 
		PFUNC A
		LEFT JOIN PFUFERIASVERBAS B ON B.CODCOLIGADA = A.CODCOLIGADA AND A.CHAPA = B.CHAPA
		LEFT JOIN PEVENTO         C ON C.CODCOLIGADA = B.CODCOLIGADA AND B.CODEVENTO = C.CODIGO
		LEFT JOIN PPESSOA         D ON D.CODIGO = A.CODPESSOA
		LEFT JOIN PSECAO          S ON A.CODCOLIGADA = S.CODCOLIGADA AND A.CODSECAO = S.CODIGO
		LEFT JOIN PFUFERIASPER    F ON F.CHAPA = B.CHAPA AND F.CODCOLIGADA = B.CODCOLIGADA AND F.FIMPERAQUIS = B.FIMPERAQUIS AND F.DATAPAGTO = B.DATAPAGTO
		
	
	WHERE
			B.DATAPAGTO >= (CASE WHEN DTTRANSFERENCIA IS NULL OR DTTRANSFERENCIA < CAST(CONVERT(VARCHAR, YEAR(F.DATAPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(F.DATAPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME)
									THEN CAST(CONVERT(VARCHAR, YEAR(F.DATAPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(F.DATAPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME) ELSE DTTRANSFERENCIA +5 END)
	    AND B.DATAPAGTO <= DateAdd(Day,-1, Dateadd(Month,1,CAST(CONVERT(VARCHAR, YEAR(F.DATAPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(F.DATAPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME)) )
		AND C.CODIGOCALCULO IN('30','107')


UNION

--PLR
	SELECT
		'PLR' ANALISA,
		A.CODCOLIGADA,
		A.CODFILIAL,
		A.CHAPA,
		D.CODIGO CODPESSOA,
		D.CPF,
		A.NOME,
		S.DESCRICAO SECAO,
		A.DATAADMISSAO,
		A.DATADEMISSAO,
		A.DTTRANSFERENCIA,
		A.TIPODEMISSAO,
		A.CODTIPO TIPO_FUNC,
		A.VINCULORAIS VINC_RAIS,
		A.CODCATEGORIA CAT_SEFIP,
		A.CODCATEGORIAESOCIAL CAT_ESOCIAL,
		C.CODIGO,
		C.DESCRICAO,
		CONVERT(VARCHAR,B.NROPERIODO) +' - '+ E.DESCRICAO PERIODO,
		B.DTPAGTO DT_PAGTO,
		
	   	(CASE 
	   		WHEN C.CODIGOCALCULO = '127' THEN '3562'
			WHEN A.CODTIPO IN('D') AND A.VINCULORAIS = '7' AND A.CODCATEGORIA IN('5','11') THEN '0588' 
			WHEN A.CODTIPO IN('A','C','T') THEN '0588'
			ELSE '0561' END)TIPO,
			
		B.VALOR,
  
	    YEAR(B.DTPAGTO) ANOPAGTO,
	    MONTH(B.DTPAGTO)MESPAGTO,
	    B.ANOCOMP,
	    B.MESCOMP,
 
	    
	    0 BASE_PFFINANC
			
	FROM 
		PFUNC A
		LEFT JOIN PFFINANC     B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
		LEFT JOIN PEVENTO      C ON C.CODCOLIGADA = B.CODCOLIGADA AND B.CODEVENTO = C.CODIGO
		LEFT JOIN PPESSOA      D ON D.CODIGO = A.CODPESSOA
		LEFT JOIN PDESCPERIODO E ON B.NROPERIODO = E.CODINTERNO
		LEFT JOIN PSECAO       S ON A.CODCOLIGADA = S.CODCOLIGADA AND A.CODSECAO = S.CODIGO
	  
	
	WHERE
		B.DTPAGTO >= (CASE WHEN DTTRANSFERENCIA IS NULL OR DTTRANSFERENCIA < CAST(CONVERT(VARCHAR, YEAR(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME)
									THEN CAST(CONVERT(VARCHAR, YEAR(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME) ELSE DTTRANSFERENCIA +5 END)
	    AND B.DTPAGTO <= DateAdd(Day,-1, Dateadd(Month,1,CAST(CONVERT(VARCHAR, YEAR(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME)) )
		AND C.CODIGOCALCULO IN('127')

UNION

--FOLHA
	SELECT 
		'FOLHA' ANALISA,
		A.CODCOLIGADA,
		A.CODFILIAL,
		A.CHAPA,
		D.CODIGO CODPESSOA,
		D.CPF,
		A.NOME,
		S.DESCRICAO SECAO,
		A.DATAADMISSAO,
		A.DATADEMISSAO,
		A.DTTRANSFERENCIA,
		A.TIPODEMISSAO,
		A.CODTIPO TIPO_FUNC,
		A.VINCULORAIS VINC_RAIS,
		A.CODCATEGORIA CAT_SEFIP,
		A.CODCATEGORIAESOCIAL CAT_ESOCIAL,
		C.CODIGO,
		C.DESCRICAO,
		CONVERT(VARCHAR,B.NROPERIODO) +' - '+ E.DESCRICAO PERIODO,
		B.DTPAGTO DT_PAGTO,
		
	   	(CASE 
	   		WHEN C.CODIGOCALCULO = '127' THEN '3562'
			WHEN A.CODTIPO IN('D') AND A.VINCULORAIS = '7' AND A.CODCATEGORIA IN('5','11') THEN '0588' 
			WHEN A.CODTIPO IN('A','C','T') THEN '0588'
			ELSE '0561' END)TIPO,
			
		(CASE WHEN C.CODIGOCALCULO IN ('52','122') THEN B.VALOR*-1 ELSE B.VALOR END) VALOR,
		
	    YEAR(B.DTPAGTO) ANOPAGTO,
	    MONTH(B.DTPAGTO)MESPAGTO,
	    B.ANOCOMP,
	    B.MESCOMP,
	    0 BASE_PFFINANC
			
	FROM 
		PFUNC A
		LEFT JOIN PFFINANC     B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
		LEFT JOIN PEVENTO      C ON C.CODCOLIGADA = B.CODCOLIGADA AND B.CODEVENTO = C.CODIGO
		LEFT JOIN PPESSOA      D ON D.CODIGO = A.CODPESSOA
		LEFT JOIN PDESCPERIODO E ON B.NROPERIODO = E.CODINTERNO
		LEFT JOIN PSECAO       S ON A.CODCOLIGADA = S.CODCOLIGADA AND A.CODSECAO = S.CODIGO
		
	
	WHERE
		B.DTPAGTO >= (CASE WHEN DTTRANSFERENCIA IS NULL OR DTTRANSFERENCIA < CAST(CONVERT(VARCHAR, YEAR(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME)
									THEN CAST(CONVERT(VARCHAR, YEAR(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME) ELSE DTTRANSFERENCIA +5 END)
	    AND B.DTPAGTO <= DateAdd(Day,-1, Dateadd(Month,1,CAST(CONVERT(VARCHAR, YEAR(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME)) ) 
		AND C.CODIGOCALCULO IN('4','84','207','346','49','106','215','340','347','61','211','348'   ,'52','122')


UNION ALL

/* BASE */
	SELECT 
		ANALISA, 
		CODCOLIGADA, 
		CODFILIAL, 
		CHAPA, 
		CODPESSOA, 
		CPF, 
		NOME, 
		SECAO, 
		DATAADMISSAO, 
		DATADEMISSAO, 
		DTTRANSFERENCIA, 
		TIPODEMISSAO, 
		TIPO_FUNC, 
		VINC_RAIS, 
		CAT_SEFIP, 
		CAT_ESOCIAL, 
		CODIGO, 
		DESCRICAO, 
		PERIODO, 
		DT_PAGTO, 
		TIPO, 
		VALOR, 
		ANOPAGTO, 
		MESPAGTO,
		ANOCOMP,
		MESCOMP, 
		SUM(BASE) BASE
	FROM (


		   	SELECT DISTINCT
				'BASE' ANALISA,
				A.CODCOLIGADA,
				A.CODFILIAL,
				A.CHAPA,
				D.CODIGO CODPESSOA,
				D.CPF,
				A.NOME,
				S.DESCRICAO SECAO,
				A.DATAADMISSAO,
				A.DATADEMISSAO,
				A.DTTRANSFERENCIA,
				A.TIPODEMISSAO,
				A.CODTIPO TIPO_FUNC,
				A.VINCULORAIS VINC_RAIS,
				A.CODCATEGORIA CAT_SEFIP,
				A.CODCATEGORIAESOCIAL CAT_ESOCIAL,
				C.CODIGO,
				C.DESCRICAO,
				'0 - BASE OUTROS' PERIODO,
				B.DTPAGTO DT_PAGTO,
				
			   	(CASE 
			   		WHEN C.CODIGOCALCULO = '127' THEN '3562'
					WHEN A.CODTIPO IN('D') AND A.VINCULORAIS = '7' AND A.CODCATEGORIA IN('5','11') THEN '0588' 
					WHEN A.CODTIPO IN('A','C','T') THEN '0588'
					ELSE '0561' END)TIPO,
					
				0 VALOR,
				
			    YEAR(B.DTPAGTO) ANOPAGTO,
			    MONTH(B.DTPAGTO)MESPAGTO,
			    B.ANOCOMP,
			    B.MESCOMP,
			    (CASE WHEN (PROVDESCBASE  = 'D' OR c.codigocalculo in ('381')) THEN B.VALOR*-1 ELSE B.VALOR END) BASE
					
			FROM 
				PFUNC A
				INNER JOIN PFFINANC     B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA 
				INNER JOIN PEVENTO      C ON C.CODCOLIGADA = B.CODCOLIGADA AND B.CODEVENTO = C.CODIGO
							AND ( 
						 			(C.INCIRRF = 1 OR C.ESTIRRF = 1 OR C.DEDUTIVELIRRF = 1)  /* Folha */    
					      			OR (C.INCIRRF13 = 1 OR C.ESTIRRF13 = 1) /* 13o Salário */    
					      			OR (C.INCIRRFFERIAS = 1 OR C.DEDUTIVELIRRFFERIAS = 1  or c.codigocalculo in ('381','126')) /* Dif. de Férias do envelope */
					      		)
				LEFT JOIN PPESSOA      D ON D.CODIGO = A.CODPESSOA
				LEFT JOIN PDESCPERIODO E ON B.NROPERIODO = E.CODINTERNO
				LEFT JOIN PSECAO       S ON A.CODCOLIGADA = S.CODCOLIGADA AND A.CODSECAO = S.CODIGO
				
			
			WHERE
				B.DTPAGTO >= (CASE WHEN DTTRANSFERENCIA IS NULL OR DTTRANSFERENCIA < CAST(CONVERT(VARCHAR, YEAR(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME)
											THEN CAST(CONVERT(VARCHAR, YEAR(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME) ELSE DTTRANSFERENCIA +5 END)
			    AND B.DTPAGTO <= DateAdd(Day,-1, Dateadd(Month,1,CAST(CONVERT(VARCHAR, YEAR(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DTPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME)) ) 
		
		
		--BASE DAS FÉRIAS
		UNION ALL
		
		
			SELECT 
			   	'BASE' ANALISA,
				A.CODCOLIGADA,
				A.CODFILIAL,
				A.CHAPA,
				D.CODIGO CODPESSOA,
				D.CPF,
				A.NOME,
				S.DESCRICAO SECAO,
				A.DATAADMISSAO,
				A.DATADEMISSAO,
				A.DTTRANSFERENCIA,
				A.TIPODEMISSAO,
				A.CODTIPO TIPO_FUNC,
				A.VINCULORAIS VINC_RAIS,
				A.CODCATEGORIA CAT_SEFIP,
				A.CODCATEGORIAESOCIAL CAT_ESOCIAL,
				C.CODIGO,
				C.DESCRICAO,
				'0 - BASE FERIAS' PERIODO,
				B.DATAPAGTO DT_PAGTO,
				
			   	(CASE 
			   		WHEN C.CODIGOCALCULO = '127' THEN '3562'
					WHEN A.CODTIPO IN('D') AND A.VINCULORAIS = '7' AND A.CODCATEGORIA IN('5','11') THEN '0588' 
					WHEN A.CODTIPO IN('A','C','T') THEN '0588'
					ELSE '0561' END)TIPO,
					
				0 VALOR,
				
			    YEAR(B.DATAPAGTO) ANOPAGTO,
			    MONTH(B.DATAPAGTO)MESPAGTO,
			    YEAR(B.DATAPAGTO) ANOCOMP,
			    MONTH(B.DATAPAGTO)MESCOMP,
			    
			    (CASE WHEN PROVDESCBASE  = 'D' THEN B.VALOR*-1 ELSE B.VALOR END) BASE
			    
			FROM PFUNC A
				INNER JOIN PFUFERIASVERBAS B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
				INNER  JOIN PEVENTO         C ON C.CODCOLIGADA = B.CODCOLIGADA AND B.CODEVENTO = C.CODIGO
							AND ( 
						 			(C.INCIRRF = 1 OR C.ESTIRRF = 1 OR C.DEDUTIVELIRRF = 1)  /* Folha */    
					      			OR (C.INCIRRF13 = 1 OR C.ESTIRRF13 = 1) /* 13o Salário */    
					      			OR (C.INCIRRFFERIAS = 1 OR C.DEDUTIVELIRRFFERIAS = 1  or c.codigocalculo in ('381')) /* Dif. de Férias do envelope */
					      		)
				LEFT JOIN PPESSOA      D ON D.CODIGO = A.CODPESSOA
				LEFT JOIN PSECAO       S ON A.CODCOLIGADA = S.CODCOLIGADA AND A.CODSECAO = S.CODIGO
				
			WHERE
					B.DATAPAGTO >= (CASE WHEN DTTRANSFERENCIA IS NULL OR DTTRANSFERENCIA < CAST(CONVERT(VARCHAR, YEAR(B.DATAPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DATAPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME)
												THEN CAST(CONVERT(VARCHAR, YEAR(B.DATAPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DATAPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME) ELSE DTTRANSFERENCIA +5 END)
				    AND B.DATAPAGTO <= DateAdd(Day,-1, Dateadd(Month,1,CAST(CONVERT(VARCHAR, YEAR(B.DATAPAGTO)) + '-' + CONVERT(VARCHAR, MONTH(B.DATAPAGTO)) + '-' + CONVERT(VARCHAR, 1) AS DATETIME)) ) 

)X

	GROUP BY ANALISA, CODCOLIGADA, CODFILIAL, CHAPA, CODPESSOA, CPF, NOME, SECAO, DATAADMISSAO, DATADEMISSAO, DTTRANSFERENCIA, TIPODEMISSAO, TIPO_FUNC, VINC_RAIS, 
		CAT_SEFIP, CAT_ESOCIAL, CODIGO, DESCRICAO, PERIODO, DT_PAGTO, TIPO, VALOR, ANOPAGTO, MESPAGTO, ANOCOMP, MESCOMP



	    	

/*

	OK- Restituição gerais, folha, ferias, PLR e 13o esta pegando?
	OK- ferias pega do envelope ou do recibo de ferias? (recibo pq é assim para o esocial)
		OK- Dif. de IR de ferias vai apenas no envelope? e qual Cod de calculo vai ficar 30? Sim apenas envelope cc61
	OK- Tenho que olhar as verbas de IR das verbas por diferenca?
		OK- Nao por ser data de pagto, e esse esta na frente, entao tenho q pegar a verba de Dif. de irrf de ferias!? Sim
	OK- Verbas por dif. por RRA 
	https://tdn.totvs.com/pages/releaseview.action?pageId=452719279

--> FERIAS
	30 - I.R.R.F. Férias
	107 - IRRF de férias calculado pelo usuário

--> PLR
	127 - I.R.R.F. Partic. nos Lucros

--> OUTROS
	----->Folha e Dif Folha
	4 - IRRF
	84 - I.R.R.F. calculado pelo usuário
	207 - IRRF RRA
	346 - IRRF Retificação

	----->13o Sal. e Dif 13o
	49 - I.R.R.F. 13º Salário
	106 - IRRF 13º calculado pelo usuário
	215 - IRRF RRA 13º Salário
	340 - Diferença de IRRF 13º Salário
	347 - IRRF 13° Retificação

	----->Dif. Férias que vai no envelope
	61 - IRRF FÉRIAS ENVELOPE
	211 - IRRF RRA Férias
	348 - IRRF Férias Retificação

----->Restituições
	52 - Restituição I.R.R.F. 13º Salário
	122 - Restituição de I.R.R.F.

*/;
GO
