USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZBANCO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZBANCO]
AS
SELECT	CODBANCO, NOME, RAZAO
FROM
   (
    SELECT RIGHT(REPLICATE('0',3)+CAST(CODBANCO AS VARCHAR(3)),3) AS CODBANCO, NOME, RAZAO
	FROM	SZBANCOSAUDE
	WHERE	SUBSTRING('000',1,3-LEN(CODBANCO))+CONVERT(VARCHAR,CODBANCO) NOT IN (SELECT NUMEROOFICIAL FROM GBANCO)
	AND SUBSTRING('000',1,3-LEN(CODBANCO))+CONVERT(VARCHAR,CODBANCO) NOT IN (SELECT NUMBANCO FROM GBANCO)
UNION
	SELECT	NUMBANCO AS CODBANCO,
	NOMEREDUZIDO AS NOME,
	NOME AS RAZAO
	FROM GBANCO
)SZBANCOSAUDE_EXTERNA
GO
