USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[EPIS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EPIS] AS

WITH EPI AS(
SELECT IDSEQUENCIAL,DESCRICAO,CODSECAOLOT,CODFUNCAOLOT 
	   
	 	
FROM(
SELECT
	ROW_NUMBER ( )OVER (PARTITION BY A.IDSEQUENCIAL ORDER by A.IDSEQUENCIAL )SEQ,
	A.CODCOLIGADA,
	A.IDSEQUENCIAL,
	A.CODSECAOLOT,
	A.CODFUNCAOLOT,
	B.NOME DESCRICAO
	
FROM 
	VPPRAMEDICOESEPI A
	LEFT JOIN VCATALOGOEPI B ON A.CODEPI = B.CODEPI AND A.CODCOLIGADA = B.CODCOLIGADA

	
WHERE 
	(B.TIPOEQUIPAMENTO IS NULL OR B.TIPOEQUIPAMENTO = '1')
	)X)
	
	
SELECT
	IDSEQUENCIAL,CODSECAOLOT,CODFUNCAOLOT,
	STUFF((
       SELECT '||' + t1.DESCRICAO
         FROM EPI t1
        WHERE t1.IDSEQUENCIAL = t0.IDSEQUENCIAL
        ORDER BY t1.DESCRICAO
          FOR XML PATH('')), 1, LEN(','), '') AS EPIS
          
FROM EPI t0
 GROUP BY t0.IDSEQUENCIAL, t0.CODSECAOLOT, t0.CODFUNCAOLOT
GO
