USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[INTEGRA_ENTRADA_SOLIC_SADT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[INTEGRA_ENTRADA_SOLIC_SADT] AS
SELECT IDINTEGRACAORET     CD_INTEGRA_ENTRADA_SOLIC_SADT,
TPINTEGRACAO        TP_INTEGRACAO,
DESCRICAORETORNO    DS_ERRO,
DTINTEGRACAO        DT_INTEGRACAO,
TPMOVIMENTO         TP_MOVIMENTO,
TPREGISTRO          TP_REGISTRO,
CODIDENTGERADO      CD_ITEM_PEDIDO,
CODLAUDO            CD_LAUDO,
DESCRICAOLAUDO      DS_LAUDO,
CODPRESTADORTECNICO CD_PRESTADOR_TECNICO,
CODUSUARIODIGITADOR CD_USUARIO_DIGITADOR,
CODPRESTADOREXEC    CD_PRESTADOR_EXEC
FROM SZLOGINTEGRACAOPACSLABRET
GO
