USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SLANMOV]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[SLANMOV] AS
SELECT CODCOLIGADA,IDMOV,IDLAN FROM TMOVLAN
GO
