USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[KRESERVAOP]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* GLAYSSON GONCALVES CHAGAS - FT1080_08 - OC.1567076 - 24/08/2009 *//* AJUSTE */
CREATE VIEW [dbo].[KRESERVAOP]
AS
SELECT X.CODCOLIGADA
	,X.CODFILIAL
	,X.CODORDEMORIGEM
	,X.CODESTRUTURAORIGEM
	,X.CODMODELOORIGEM
	,X.CODORDEMRESERVADA
	,X.CODESTRUTURARESERVADA
	,X.CODMODELORESERVADA
	,SUM(X.QUANTIDADERESERVADA) AS QUANTIDADERESERVADA
	,SUM(X.QUANTIDADELIBERADA) AS QUANTIDADELIBERADA
FROM (
	SELECT R.CODCOLIGADA
		,R.CODFILIAL
		,R.CODORDEMORIGEM
		,R.CODESTRUTURAORIGEM
		,R.CODMODELOORIGEM
		,R.CODORDEMRESERVADA
		,R.CODESTRUTURARESERVADA
		,R.CODMODELORESERVADA
		,R.QUANTIDADERESERVADA
		,R.QUANTIDADELIBERADA
	FROM KRESERVADEOP R  WITH (NOLOCK)
	UNION ALL
	SELECT RA.CODCOLIGADA
		,RA.CODFILIAL
		,RA.CODORDEM AS CODORDEMORIGEM
		,RA.CODESTRUTURA AS CODESTRUTURAORIGEM
		,RA.CODMODELO AS CODMODELOORIGEM
		,ROP.CODORDEM AS CODORDEMRESERVADA
		,ROP.CODESTRUTURA AS CODESTRUTURARESERVADA
		,ROP.CODMODELO AS CODMODELORESERVADA
		,SUM(ROP.QTDERESERVADA) AS QUANTIDADERESERVADA
		,SUM(ROP.QTDELIBERADA + ROP.QTDERESERVADAESTOQUE) AS QUANTIDADELIBERADA
	FROM KRESERVAATVORDEM RA  WITH (NOLOCK)
	JOIN KITEMRESERVAOP ROP  WITH (NOLOCK) ON (
			RA.CODCOLIGADA = ROP.CODCOLIGADA
			AND RA.CODFILIAL = ROP.CODFILIAL
			AND RA.IDRESERVA = ROP.IDRESERVA
			)
	WHERE ROP.STATUS <> 'C'
	GROUP BY RA.CODCOLIGADA
		,RA.CODFILIAL
		,RA.CODORDEM
		,RA.CODESTRUTURA
		,RA.CODMODELO
		,ROP.CODORDEM
		,ROP.CODESTRUTURA
		,ROP.CODMODELO
	) X
GROUP BY X.CODCOLIGADA
	,X.CODFILIAL
	,X.CODORDEMORIGEM
	,X.CODESTRUTURAORIGEM
	,X.CODMODELOORIGEM
	,X.CODORDEMRESERVADA
	,X.CODESTRUTURARESERVADA
	,X.CODMODELORESERVADA
GO
