USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[HISTORICO_FUNCIONARIO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[HISTORICO_FUNCIONARIO] (@VAR_CHAPA VARCHAR(20), @VAR_CODCOLIGADA INT, @VAR_DATA VARCHAR(10))
RETURNS  @HISTORICO TABLE(
	CODHORARIO VARCHAR(20),
	CODSECAO VARCHAR(50),
	CODFUNCAO VARCHAR(20),
	CODINDICE INT,
	CODSITUACAO VARCHAR(2)
)

AS

BEGIN

	INSERT INTO @HISTORICO
	SELECT
		 (SELECT TOP 1 CODHORARIO FROM PFHSTHOR WHERE CODCOLIGADA = @VAR_CODCOLIGADA AND CHAPA = @VAR_CHAPA AND DTMUDANCA <= @VAR_DATA ORDER BY DTMUDANCA DESC) CODHORARIO
		,(SELECT TOP 1 CODSECAO FROM PFHSTSEC WHERE CODCOLIGADA = @VAR_CODCOLIGADA AND CHAPA = @VAR_CHAPA AND DTMUDANCA <= @VAR_DATA ORDER BY DTMUDANCA DESC) CODSECAO
		,(SELECT TOP 1 CODFUNCAO FROM PFHSTFCO WHERE CODCOLIGADA = @VAR_CODCOLIGADA AND CHAPA = @VAR_CHAPA AND DTMUDANCA <= @VAR_DATA ORDER BY DTMUDANCA DESC) CODFUNCAO
		,(SELECT TOP 1 INDINICIOHOR FROM PFHSTHOR WHERE CODCOLIGADA = @VAR_CODCOLIGADA AND CHAPA = @VAR_CHAPA AND DTMUDANCA <= @VAR_DATA ORDER BY DTMUDANCA DESC) CODINDICE
		,(SELECT TOP 1 NOVASITUACAO FROM PFHSTSIT WHERE CODCOLIGADA = @VAR_CODCOLIGADA AND CHAPA = @VAR_CHAPA AND DATAMUDANCA <= @VAR_DATA ORDER BY DATAMUDANCA DESC) CODSITUACAO
		
	RETURN

END
GO
