USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_fileszhist]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_fileszhist]
  @db_name sysname = null,
  @obj_schema sysname = null,
  @from_dt datetime = null,
  @to_dt   datetime = null
AS
begin
  declare @stmt       nvarchar(max)
  declare @par        nvarchar(200)
  set nocount on
  create table #coll
   (
     TIMESTMP    datetime ,
     obj_name    varchar(128) ,
     cntr_name   varchar(128) ,
     INST_NAME   varchar(128) ,
     CNTR_VALUE  bigint ,
     SLOPE       float
   )
  create table #flist
    (
      dbname            sysname,
      fileid            int,
      groupname         sysname null,
      logicalname       sysname,
      physfilename      nvarchar(520)
    )
  if @db_name is null or @db_name = N''
    select @db_name = DB_NAME()
  if @obj_schema is null or @obj_schema = N''
     select @obj_schema = schema_name(schema_id) from sys.objects
     where object_id = @@PROCID
  if @to_dt is null or @to_dt = N''
    set @to_dt = GETDATE()
  if @from_dt is null or @from_dt = N''
    set @from_dt = DATEADD(YEAR,-3,@to_dt)
  set @stmt = N'exec [' + @obj_schema + N'].sap_coll_list '+
              N'@obj_schema,@cclass,@from_dt,@to_dt,@step,@stepunit'
  set @par = N'@obj_schema sysname,@cclass char(1),'+
             N'@from_dt datetime,@to_dt datetime,@step int,@stepunit char(1)'
  insert into #coll
    exec sp_executesql @stmt,@par,
       @obj_schema,'S',@from_dt,@to_dt,1,'D'
  delete from #coll where INST_NAME not like @db_name + ':%'
  set @stmt = N'exec [' + @obj_schema + N'].sap_file_list'
  insert into #flist
    exec sp_executesql @stmt
  --select * from #coll
  --select * from #flist
  /*--- Dynamically construct SELECT statement with PIVOT clause ----*/
  set @stmt = N'select sampledate,sampletime,'+
  N'logicalname,physfilename,groupname,' +
  N'"Device free[MB]",' +
  N'case when "Autogrowth[MB]" > 0 then ' +
         N'convert(varchar,"Autogrowth[MB]")+'' MB'' ' +
      N'else case when "Autogrowth[%]" > 0 then ' +
          N'convert(varchar,"Autogrowth[%]")+'' %'' else ' +
             N''''' end end as Growth,' +
  N'"Size [MB]",'  +
  N'case when "Used [MB]" is null then ''N/A'' else ' +
      N'convert(varchar,"Used [MB]") end as UsedMB,' +
  N'case when "Max.size[MB]" = -1 then ''No limit'' else ' +
      N'convert(varchar,"Max.size[MB]") end as MaxSizeMB ' +
  N'from ' +
  N'(select '+
  N'convert(nchar(8),TIMESTMP,112) as sampledate,'+
  N'replace(convert(nvarchar(8),TIMESTMP,8),N'':'',N'''') as sampletime,' +
  N'INST_NAME,(cntr_name) AS [Counter],' +
  N'cast(SLOPE AS bigint) AS [Value] from #coll) t ' +
  N'PIVOT (' +
  N'MAX([Value]) FOR [Counter] IN ('
  set @stmt = @stmt + N'"Size [MB]",'
  set @stmt = @stmt + N'"Used [MB]",'
  set @stmt = @stmt + N'"Max.size[MB]",'
  set @stmt = @stmt + N'"Device free[MB]",'
  set @stmt = @stmt + N'"Autogrowth[MB]",'
  set @stmt = @stmt + N'"Autogrowth[%]"'
  set @stmt = @stmt + N') ) AS PVT LEFT OUTER JOIN #flist on '+
    N'INST_NAME = dbname + '':'' + convert(varchar,fileid) '+
    N'ORDER BY sampledate desc,logicalname'
  /*--- Execute the select statement and clean-up temp table --------*/
  --print @stmt
  exec(@stmt)
  drop table #coll
end
 
GO
