USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_traceflag_1210]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_check_traceflag_1210]
  @result varchar(64) output
as
BEGIN
set nocount on
select @result = 'ok'
END
 
GO
