USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_sqltext]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_sqltext]
  @object_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @unicode char(1) = 'X'
AS
BEGIN
set nocount on
-- declare local variables
declare @colid int
declare @txt_piece nvarchar(4000)
declare @cmd nvarchar(1024)
declare @pstr nvarchar(128)
declare @ptr binary(16)
-- create temp. table
create table #sqldef (txt nvarchar(max))
-- select the SQL definiton statement text
set @cmd = N'use [' + @db_name + N'] '+
  N'select @txt_piece = c.text ' +
  N'from ' + @db_name + '.dbo.sysobjects o, ' +
             @db_name + '.dbo.syscomments c ' +
  N'where o.id = object_id(@schema_name+''.''+@object_name) ' +
                  N'and c.id = o.id ' +
                  N'and c.colid = @colid'
set @pstr = N'@object_name sysname,' +
            N'@schema_name sysname,' +
            N'@colid int,' +
            N'@txt_piece nvarchar(4000) output'
-- read the first text entry from syscomments,
-- raise an error if no text is found
set @colid = 1
exec sp_executesql @cmd,@pstr,@object_name,@schema_name,@colid,@txt_piece output
if @txt_piece is not null
  insert into #sqldef values (@txt_piece)
else
  begin
    drop table #sqldef
    raiserror('SQL text not found.',16,1)
    RETURN
  end
-- read the second text entry from syscomments
set @txt_piece = null
set @colid = @colid + 1
exec sp_executesql @cmd,@pstr,@object_name,@schema_name,@colid,@txt_piece output
-- append the text entry if it is not null and
-- read the next entry from syscomments
while @txt_piece is not null
  begin
    -- append sqldef.text
    update #sqldef set txt = txt + @txt_piece
    -- read the next text entry from syscomments
    set @txt_piece = null
    set @colid = @colid + 1
    exec sp_executesql @cmd,@pstr,@object_name,@schema_name,@colid,
                              @txt_piece output
  end
-- return the SQL definition statement text
if @unicode = 'X'
  select txt from #sqldef
else
  select convert(varchar(max),txt) from #sqldef
drop table #sqldef
END
 
GO
