USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_errorlogs]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_errorlogs]
  @find_phrase nvarchar(30) = NULL,
  @num_logs int = 0
as
begin
  set nocount on
  declare @cmdstr   nvarchar(1024)
  declare @lognum   nvarchar(11)
  declare @find_str nvarchar(30)
  declare @objsrc   sysname
  create table #output (
  dmy        datetime null,
  prc        nvarchar(32),
  logtxt     nvarchar(MAX) null
  )
  create table #enumout (
  archnum nvarchar(11),
  logdate nvarchar(256),
  logsize nvarchar(12)
  )
--
-- check input parameters
--
if @num_logs < 0 or @num_logs > 99
  return
-- Use this schema to call other sps
  select @objsrc = schema_name(schema_id) from sys.objects
     where object_id = @@PROCID
  set @objsrc = N'['+@objsrc+N']'
--
-- set up cmdstr
--
if @num_logs = 0
begin
  set @cmdstr = @objsrc + N'.sap_sec_readerrorlog'
  insert #output exec ( @cmdstr )
end
else if @num_logs != 99
begin
  set @cmdstr = @objsrc + N'.sap_sec_readerrorlog ''' +
        convert( nvarchar(10),@num_logs) + N''''
  insert #output exec ( @cmdstr )
end
else
begin
  set @cmdstr = @objsrc + N'.sap_sec_enumerrorlogs'
  insert into #enumout
     exec ( @cmdstr )
  declare lognum_cursor cursor for
    select archnum from #enumout order by convert(int,archnum)
  open lognum_cursor
  fetch next from lognum_cursor into @lognum
  while (@@fetch_status <> -1)
  begin
    set @cmdstr = @objsrc + N'.sap_sec_readerrorlog ''' +
        convert( nvarchar(11),@lognum) + N''''
    insert #output  exec ( @cmdstr )
    fetch next from lognum_cursor into @lognum
  end
  close  lognum_cursor
  deallocate  lognum_cursor
end
if @find_phrase is NULL
  select * from #output
else
begin
  set @find_str = UPPER( @find_phrase)
  set @cmdstr = 'select logtxt from #output where UPPER(logtxt) like ''%' +
        @find_str + '%'''
--  select @cmdstr
  exec ( @cmdstr)
end
delete #output
end
 
GO
