USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_table_columns]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_table_columns]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @names_only char(1)
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(1024)
-- build the select statement
-- For Yukon we have to take care for data types:
--     varbinary/varchar/nvarchar(max)
-- In this case the column length will be set to 0
-- and the column type will be set to ...(max)
if @names_only = '' or @names_only = ' '
  begin
    set @cmd = N'use ' + @db_name +
             N' select c.name, c.colid, ' +
--                    N't.name as ''type'', ' +
                      N'case ' +
                      N'when t.name = ''varbinary'' and c.length = -1 ' +
                      N'then ''varbinary(max)'' ' +
                      N'when t.name = ''varchar'' and c.length = -1 ' +
                      N'then ''varchar(max)'' ' +
                      N'when t.name = ''nvarchar'' and c.length = -1 ' +
                      N'then ''nvarchar(max)'' ' +
                      N'else t.name ' +
                      N'end as ''type'', ' +
--                    N'c.length,
                      N'case ' +
                      N'when t.name = ''varbinary'' and c.length = -1 ' +
                      N'then 0 ' +
                      N'when t.name = ''varchar'' and c.length = -1 ' +
                      N'then 0 ' +
                      N'when t.name = ''nvarchar'' and c.length = -1 ' +
                      N'then 0 ' +
                      N'else c.length ' +
                      N'end as ''length'', ' +
--                      N'c.prec,'
                      N'case ' +
                      N'when t.name = ''varbinary'' and c.length = -1 ' +
                      N'then 0 ' +
                      N'when t.name = ''varchar'' and c.length = -1 ' +
                      N'then 0 ' +
                      N'when t.name = ''nvarchar'' and c.length = -1 ' +
                      N'then 0 ' +
                      N'else c.prec ' +
                      N'end as ''prec'', ' +
                      N'c.scale, c.isnullable, ' +
                      N'object_name(c.cdefault) as ''default'' ' +
                 N'from ' + @db_name + N'.sys.objects o, ' +
                            @db_name + N'.sys.syscolumns c, ' +
                            @db_name + N'.sys.systypes t ' +
                   N'where o.name = @table_name ' +
                     N'and schema_name(o.schema_id) = @schema_name ' +
                     N'and c.id = o.object_id ' +
                     N'and t.xusertype = c.xusertype ' +
               N'order by c.colid'
  end
else if @names_only = 'X'
  begin
    set @cmd = N'use ' + @db_name +
             N' select c.name, c.colid ' +
                 N'from ' + @db_name + N'.sys.objects o, ' +
                          + @db_name + N'.sys.syscolumns c ' +
                   N'where o.name = @table_name ' +
                     N'and schema_name(o.schema_id) = @schema_name ' +
                     N'and c.id = o.object_id ' +
               N'order by c.colid'
  end
-- get the columns
exec sp_executesql @cmd,N'@table_name sysname,@schema_name sysname',
        @table_name,@schema_name
END
 
GO
