USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSCID]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSCID]
AS
  SELECT CODCOLIGADA,
         CO_CID    AS CID10,
         NO_CID    AS DESCR,
         NULL      AS OPC,
         NULL      AS CAT,
         NULL      AS SUBCAT,
         TP_AGRAVO AS AGRAVO,
         TP_SEXO   AS RESTRSEXO
  FROM   GCOLIGADA,
         SZSUSTUCID
GO
