USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[CSDANT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CSDANT] AS
  SELECT CODCOLIGADA,IDEXERCICIO,CODCONTA,CODGERENCIAL,CODFILIAL,VALOR,VALOR2,VALORMOEDA2,
  STATUS,CODCOLCONTA,CODCOLGERENCIAL,CODCCUSTO,CODDEPARTAMENTO,RECCREATEDBY,RECCREATEDON,RECMODIFIEDBY,RECMODIFIEDON
  FROM
  CSALDOEXERCICIO
  WHERE IDEXERCICIO = (
                         SELECT MAX(MAXIMO.IDEXERCICIO) FROM CSALDOEXERCICIO MAXIMO
                         WHERE CSALDOEXERCICIO.CODCOLIGADA = MAXIMO.CODCOLIGADA
                      )
GO
