USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tf_tlist]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tf_tlist] ()
RETURNS  @ergebnis TABLE
         (HIERARCHY  varchar(30) collate database_default,
          OBJNAME    varchar(64) collate database_default,
          OBJTYPE    varchar(1) ,
          ACTVT      varchar(2) ,
          HIDDEN     varchar(1) ,  -- 0710.0900.0010
          NRKEYS     smallint   ,
          DESCRIPT   varchar(80))
AS
BEGIN
  INSERT @ergebnis VALUES
    (' ', '1) Standard monitor data',
     ' ', ' ', ' ', 0, 'Performance analysis for end users')
  INSERT @ergebnis VALUES
    (' ', '2) Expert monitor data',
     ' ', ' ', ' ', 0, 'Collection of unfiltered data provider')
  INSERT @ergebnis VALUES
    (' ', '3) SAP internal data',
     ' ', ' ', ' ', 0, 'Troubleshooting of system tools')
  INSERT @ergebnis VALUES
    ('1) Standard monitor data', 'SQL memory',
     ' ', ' ', ' ', 0, 'SQL Server memory')
  INSERT @ergebnis VALUES
    ('SQL memory', 'sap_memusage',
     'P', '03', ' ', 3, 'Top N largest objects in MSSQL data cache')
  INSERT @ergebnis VALUES
    ('1) Standard monitor data', 'SQL statements',
     ' ', ' ', ' ', 0, 'SQL Server statement cache')
  INSERT @ergebnis VALUES
    ('SQL statements', 'sap_tf_qstats',
     'P', '71', ' ', 0, 'Most expensive queries in statement cache')
  INSERT @ergebnis VALUES
    ('SQL statements', 'sap_sp_recompile',
     'P', '23', ' ', 0, 'Mark object for recompile')
  INSERT @ergebnis VALUES
    ('1) Standard monitor data', 'Database error logs',
     ' ', ' ', ' ', 0, 'SQL Server and SQL agent error logs')
  INSERT @ergebnis VALUES
    ('1) Standard monitor data', 'SQL Server information',
     ' ', ' ', ' ', 0, 'SQL Server version and server info')
  INSERT @ergebnis VALUES
    ('SQL Server information', 'sap_std_MSS_release',
     'P', '03', ' ', 1,
    'Standard server version string and integer version values')
  INSERT @ergebnis VALUES
    ('SQL Server information', 'sap_tf_serverinfo',
     'P', '03', ' ', 1, 'Basic system attributes (sp_server_info)')
  INSERT @ergebnis VALUES
    ('SQL Server information', 'sap_tf_xpmsver',
     'P', '03', ' ', 1, 'master..xp_msver')
  INSERT @ergebnis VALUES
    ('SQL Server information', 'sap_mon_staticserver',
     'P', '03', ' ', 1, 'Miscellaneous server information')
  INSERT @ergebnis VALUES
    ('Database error logs', 'sap_tf_loglist',
     'P', '03', ' ', 1, 'SQL Server and SQL Agent error logs')
  INSERT @ergebnis VALUES
    ('1) Standard monitor data', 'DB performance collector',
     ' ', ' ', ' ', 0, 'SAP/MSSQL performance data')
  INSERT @ergebnis VALUES
    ('DB performance collector', 'sap_p_snapwrap',
     'F', '03', ' ', 1, 'Current DB performance counters')
  INSERT @ergebnis VALUES
    ('DB performance collector', 'sap_coll_wrap',
     'F', '03', ' ', 1, 'Performance history')
  INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'SQL statements (expert)',
     ' ', ' ', ' ', 0, 'SQL statement analysis')
  INSERT @ergebnis VALUES
    ('SQL statements (expert)', 'sap_tf_sqltext',
     'P', '71', ' ', 0, 'SQL command text')
  INSERT @ergebnis VALUES
    ('SQL statements (expert)', 'sap_tf_sqlplan',
     'P', '71', ' ', 0, 'Execution plan in XML format')
  INSERT @ergebnis VALUES
    ('SQL statements (expert)', 'sap_query_stats',
     'P', '71', ' ', 0, 'SQL statement statistics')
  INSERT @ergebnis VALUES
    ('SQL statements (expert)', 'sap_get_stmt_history',
     'P', '71', ' ', 0, 'SQL Statement workload history')
  INSERT @ergebnis VALUES
    ('SQL statements (expert)', 'sap_get_stmt_history_detail',
     'P', '71', ' ', 0, 'SQL Statement workload for a single period')
  INSERT @ergebnis VALUES
    ('SQL statements (expert)', 'sap_stmt_curr_plan',
     'P', '71', ' ', 0, 'Get current plan(s) for a statement')
  INSERT @ergebnis VALUES
    ('3) SAP internal data', 'MSSQL RAT system objects',
     ' ', ' ', 'X', 0, 'SAP RAT meta data')
  INSERT @ergebnis VALUES
    ('MSSQL RAT system objects', 'sap_tf_tlist',
     'F', '03', ' ', 1, 'All table objects, which can be displayed')
  INSERT @ergebnis VALUES
    ('MSSQL RAT system objects', 'sap_tf_inpars',
     'F', '03', ' ', 1,
     'Input parameters for a specific table function')
  INSERT @ergebnis VALUES
    ('MSSQL RAT system objects', 'sap_tf_outcols',
     'F', '03', ' ', 1, 'Output columns of a specific table object')
  INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'User DB system views',
     ' ', ' ', ' ', 0, 'System views in user database')
  INSERT @ergebnis VALUES
    ('User DB system views', 'sap_tf_sysusers',
     'F', '03', ' ', 0, 'sysusers system table')
  INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'master DB system views',
     ' ', ' ', ' ', 0, 'System views in master database')
  INSERT @ergebnis VALUES
    ('master DB system views', 'sap_tf_sysperfinfo',
     'F', '03', ' ', 2, 'sysperfinfo system table')
  INSERT @ergebnis VALUES
    ('master DB system views', 'sap_tf_sysprocesses',
     'F', '71', ' ', 0, 'sysprocesses system table')
  INSERT @ergebnis VALUES
    ('master DB system views', 'sap_tf_syslogins',
     'F', '71', ' ', 0, 'syslogins system table')
  INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'System functions',
     ' ', ' ', ' ', 0, 'SQL Server system functions')
  INSERT @ergebnis VALUES
    ('System functions', 'sap_tf_vfilestats',
     'F', '03', ' ', 2,
     '::fn_virtualfilestats(-1,-1) system function')
  INSERT @ergebnis VALUES
    ('System functions', 'sap_tf_vtlservernodes',
     'F', '03', ' ', 0, 'MSCS: Cluster nodes for SQL Server')
  INSERT @ergebnis VALUES
    ('System functions', 'sap_tf_svrshareddrives',
     'F', '03', ' ', 0, 'MSCS: Shared drives in cluster')
  INSERT @ergebnis VALUES
      ('System functions', 'sap_get_planguides',
       'P', '71', ' ', 1, 'Plan guides')
  INSERT @ergebnis VALUES
    ('User DB system views', 'sap_tf_sysfiles',
     'F', '03', ' ', 1, 'sysfiles system table')
  INSERT @ergebnis VALUES
    ('master DB system views', 'sap_tf_syscurconfigs',
     'F', '03', ' ', 0, 'syscurconfigs system table')
  INSERT @ergebnis VALUES
    ('master DB system views', 'sap_tf_syscacheobjects',
     'F', '71', ' ', 0, 'syscacheobjects system table')
  INSERT @ergebnis VALUES
    ('master DB system views', 'sap_tf_syslockinfo',
     'F', '03', ' ', 0, 'syslockinfo system table')
  INSERT @ergebnis VALUES
    ('master DB system views', 'sap_tf_syslocks',
     'F', '03', ' ', 0, 'sys.dm_tran_locks system table')
  INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'MSSQL DB Collector',
     ' ', '03', ' ', 0, 'SAP/MSSQL performance data')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector', 'sap_coll_list',
     'P', '03', ' ', 1, 'Performance counter history')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector', 'sap_p_snapshot',
     'P', '03', ' ', 4, 'Current performance data')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector', 'sap_p_now',
     'P', '03', ' ', 3, 'Formatted current performance data')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector', 'sap_coll_DBHex',
     'P', '03', ' ', 1, 'DBCOLL BW extractor')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector', 'sap_coll_tabsizes',
     'P', '03', ' ', 1, 'Table size BW extractor')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector', 'sap_coll_pivot',
     'P', '03', 'X', 1, 'Pivoted performance history')
  INSERT @ergebnis VALUES
    ('3) SAP internal data', 'MSSQL DB Collector (internal)',
     ' ', ' ', ' ', 0, 'SAP/MSSQL performance data collector')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector (internal)', 'sap_get_para',
     'F', '03', ' ', 1, 'MSSQL monitor parameters')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector (internal)', 'sap_set_para',
     'P', '23', 'X', 0, 'MSSQL monitor parameter maintenance')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector (internal)', 'sap_para_mutex',
     'P', '23', 'X', 0, 'MSSQL parameter state transition')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector (internal)', 'sap_perfsample',
     'T', '03', ' ', 1, 'Performance collector runs')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector (internal)', 'sap_perfcntr',
     'T', '03', ' ', 1, 'Performance collector counters')
  INSERT @ergebnis VALUES
    ('MSSQL DB Collector (internal)', 'sap_read_text',
     'F', '03', ' ', 1, 'Numbered text read function')
  INSERT @ergebnis VALUES
    ('master DB system views', 'sap_tf_sysdatabases',
     'F', '03', ' ', 2, 'sysdatabases system table')
  INSERT @ergebnis VALUES
    ('master DB system views', 'sap_tf_sysaltfiles',
     'F', '03', ' ', 0, 'sysaltfiles system table')
  INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'DBCC commands',
     ' ', ' ', ' ', 0, 'Old-style DBCC commands')
  INSERT @ergebnis VALUES
    ('DBCC commands', 'sap_dbcc_perf_waitstats',
     'P', '03', ' ', 0, 'DBCC SQLPERF(WAITSTATS)')
  INSERT @ergebnis VALUES
    ('DBCC commands', 'sap_dbcc_perf_logspace',
     'P', '03', ' ', 0, 'DBCC SQLPERF(LOGSPACE)')
  INSERT @ergebnis VALUES
    ('DBCC commands', 'sap_dbcc_perf_spinlockstats',
     'P', '03', ' ', 0, 'DBCC SQLPERF(SPINLOCKSTATS)')
  INSERT @ergebnis VALUES
    ('DBCC commands', 'sap_dbcc_perf_netstats',
     'P', '03', ' ', 0, 'DBCC SQLPERF(NETSTATS)')
  INSERT @ergebnis VALUES
    ('DBCC commands', 'sap_dbcc_perf_umsstats',
     'P', '03', ' ', 0, 'DBCC SQLPERF(UMSSTATS)')
  INSERT @ergebnis VALUES
    ('DBCC commands', 'sap_dbcc_perf_iostats',
     'P', '03', ' ', 0, 'DBCC SQLPERF(IOSTATS)')
  INSERT @ergebnis VALUES
    ('DBCC commands', 'sap_dbcc_perf_threads',
     'P', '03', ' ', 0, 'DBCC SQLPERF(THREADS)')
  INSERT @ergebnis VALUES
    ('DBCC commands', 'sap_dbcc_opentran',
     'P', '71', ' ', 0, 'DBCC OPENTRAN')
  INSERT @ergebnis VALUES
    ('DBCC commands', 'sap_dbcc_proccache',
     'P', '71', ' ', 0, 'DBCC PROCCACHE')
  INSERT @ergebnis VALUES
    ('DBCC commands', 'sap_dbcc_tracestatus',
     'P', '71', ' ', 0, 'DBCC TRACESTATUS(-1)')
  INSERT @ergebnis VALUES
    ('DBCC commands', 'sap_dbcc_useroptions',
     'P', '03', ' ', 0, 'DBCC USEROPTIONS')
  INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'SQL profiler functions',
     ' ', ' ', ' ', 0, 'SAP/MSSQL profiler integration')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr_env',
     'P', '71', ' ', 0, 'Show basic trace environment and settings')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr_list',
     'P', '71', ' ', 1, 'List of saved profiler traces')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr_eventclasses',
     'F', '71', ' ', 1, 'SAP defined trace event classes')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr_events',
     'F', '71', ' ', 1, 'Events for a specific event class')
-->>>>>>>>>>>>>>>>>> tr2
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_traces',
     'F', '71', 'X', 1, 'List of active traces')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_defview',
     'F', '71', 'X', 1, 'Trace templates and definitions')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_columns',
     'T', '03', 'X', 1, 'Trace columns')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_events',
     'T', '03', 'X', 2, 'Trace events')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_filterview',
     'F', '71', 'X', 1, 'List of filters for a given trace')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_filterins',
     'P', '71', 'X', 2, 'Save filters for a given trace')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_defiud',
     'P', '71', 'X', 1, 'Save trace template or definition')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_getlogdir',
     'P', '03', 'X', 1, 'Error log directory')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_dirs',
     'T', '71', 'X', 0, 'Well known trace directories')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_diriud',
     'P', '23', 'X', 1, 'Maintain list of trace drectories')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_filelist',
     'P', '71', 'X', 0, 'List of tracefiles in a given directory')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_gettable',
     'F', '71', 'X', 0, 'Interface to fn_trace_gettable()')
  INSERT @ergebnis VALUES
    ('SQL profiler functions', 'sap_tr2_setstatus',
     'P', '23', 'X', 0, 'Interface to sp_trace_setstatus')
  INSERT @ergebnis VALUES
    ('SQL profiler functions','sap_tr2_create',
     'P', '23', 'X', 0, 'Start a SQL trace')
  INSERT @ergebnis VALUES
    ('SQL profiler functions','sap_tr2_job',
     'P', '23', 'X', 0, 'Schedule a SQL trace')
  INSERT @ergebnis VALUES
    ('SQL profiler functions','sap_tr2_check',
     'P', '03', 'X', 0, 'SQL trace consistency defined/active')
  INSERT @ergebnis VALUES
    ('SQL profiler functions','sap_tr2_filedel',
     'P', '23', 'X', 0, 'Delete trace file')
--<<<<<<<<<<<<<<<<<< tr2
-- Principals, roles and permissions
  INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'Principals, Roles, Permissions',
     ' ', ' ', ' ', 0, 'Server and database access and permissions')
  INSERT @ergebnis VALUES
    ('Principals, Roles, Permissions', 'sap_get_princ',
     'F', '03', ' ', 0, 'Login, user, schema')
  INSERT @ergebnis VALUES
    ('Principals, Roles, Permissions', 'sap_get_princdetail',
     'P', '03', ' ', 0, 'Roles and schemas in server and databases')
  INSERT @ergebnis VALUES
    ('Principals, Roles, Permissions', 'sap_get_perms',
     'P', '03', ' ', 0, 'Permissions in server and databases')
-- End principals, roles and permissions
  INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'Dynamic Management Views',
     ' ', ' ', ' ', 0, 'SQL Server DMVs')
  INSERT @ergebnis VALUES -- Hidden, obsolete
    ('Dynamic Management Views', 'sap_query_stats_summary',
     'P', '03', 'X', 3, 'Execution Query Statistics Summary')
-- Replacement for sap_query_stats_summary
  INSERT @ergebnis VALUES
    ('Dynamic Management Views', 'sap_fn_query_stats_summary',
     'F', '03', ' ', 3, 'Execution Query Statistics Summary')
  INSERT @ergebnis VALUES
    ('Dynamic Management Views', 'sap_index_op_stats',
     'P', '71', ' ', 3, 'Index operational statistics')
  INSERT @ergebnis VALUES
    ('Dynamic Management Views', 'sap_index_use_stats',
     'P', '71', ' ', 3, 'Index usage statistics')
  INSERT @ergebnis VALUES
    ('Dynamic Management Views', 'sap_index_recommend',
     'P', '71', ' ', 3, 'Indexes recommended by SQL Server')
  INSERT @ergebnis VALUES
    ('Dynamic Management Views', 'sap_index_physical_stats',
     'P', '71', ' ', 1, 'Index physical statistics')
  INSERT @ergebnis VALUES
    ('Dynamic Management Views', 'sap_tf_sesconreq',
     'F', '71', ' ', 1, 'Sessions(s) Connections(c) Requests(r)')
  INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'Error logs',
     ' ', ' ', ' ', 0, 'SQL Server and SQL Agent error logs')
  INSERT @ergebnis VALUES
    ('Error logs', 'sap_tf_logdetail',
     'P', '03', ' ', 0, 'SQL Server and SQL Agent error logs')
  INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'Configuration',
     ' ', '03', ' ', 0, 'SQL Server configuration data')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_mon_os_info',
     'P', '03', ' ', 1, 'sap_mon_os_info')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_get_wmi_data',
     'P', '03', ' ', 1, 'sap_get_wmi_data')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_mon_startparams',
     'P', '03', ' ', 1, 'sap_mon_startparams')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_check_config',
     'P', '03', ' ', 1, 'sap_check_config')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_get_sqlagt_proplist',
     'P', '03', ' ', 1, 'sap_get_sqlagt_proplist')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_check_db_config',
     'P', '03', ' ', 1, 'sap_check_db_config')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_mon_db_coll_mismatch',
     'P', '03', ' ', 1, 'Databases with wrong collation')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_mon_cmpt_mismatch',
     'P', '03', ' ', 1, 'Databases with wrong compatibility level')
-- Non-SAP objects
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_repl_info',
     'P', '03', ' ', 1, 'Replication information')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_repltablist',
     'P', '03', ' ', 1, 'Replicated tables')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_cdc_info',
     'P', '03', ' ', 1, 'CDC information')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_get_all_snapshots',
     'P', '03', ' ', 1, 'Database Snapshots')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_get_assemblies',
     'P', '03', ' ', 1, 'Assemblies')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_get_linkedservers',
     'P', '03', ' ', 1, 'Linked servers')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_resgov_info',
     'P', '03', ' ', 1, 'Resource governor info')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_tf_resgov_wl_groups',
     'F', '03', ' ', 1, 'Resource governor workload groups')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_tf_resgov_pools',
     'F', '03', ' ', 1, 'Resource governor resource pools')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_policy_info',
     'P', '03', ' ', 1, 'Policy based management info')
  INSERT @ergebnis VALUES
    ('Configuration', 'sap_tf_policies',
     'F', '03', ' ', 1, 'Management Policies')
-- DB02
 INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'DB Information',
     ' ', '03', ' ', 0, 'DB files and object overview')
 INSERT @ergebnis VALUES
    ('DB Information', 'sap_mon_sqldbfiles',
     'P', '03', ' ', 1, 'Database files')
  INSERT @ergebnis VALUES
    ('DB Information', 'sap_get_dbobjects',
     'P', '03', ' ', 1, 'Summary of object types in database')
  INSERT @ergebnis VALUES
    ('DB Information', 'sap_get_top_tables',
     'P', '03', ' ', 1, 'Get the largest tables in the database')
 INSERT @ergebnis VALUES
    ('DB Information', 'sap_sec_db_bootpage',
     'P', '03', ' ', 1, 'Get database boot page information')
 INSERT @ergebnis VALUES
    ('DB Information', 'sap_get_last_dbcc_checkdb',
     'P', '03', ' ', 1, 'Last known good dbcc checkdb')
 INSERT @ergebnis VALUES
    ('DB Information', 'sap_dbszhist',
     'P', '03', ' ', 1, 'Database size history')
 INSERT @ergebnis VALUES
    ('DB Information', 'sap_fileszhist',
     'P', '03', ' ', 1, 'File size history')
-- Table Detailed Analysis
 INSERT @ergebnis VALUES
    ('2) Expert monitor data', 'Table Information',
     ' ', '03', ' ', 0, 'Single Table Analysis')
  INSERT @ergebnis VALUES
    ('Table Information', 'sap_get_tableproperties',
     'P', '03', ' ', 1, 'Get table properties')
  INSERT @ergebnis VALUES
    ('Table Information', 'sap_get_table_columns',
     'P', '03', ' ', 1, 'Get table columns')
  INSERT @ergebnis VALUES
    ('Table Information', 'sap_get_table_size_info',
     'P', '03', ' ', 1, 'Get basic table size information')
  INSERT @ergebnis VALUES
    ('Table Information', 'sap_get_table_size_detail',
     'P', '03', ' ', 1, 'Get detailed table size information')
  INSERT @ergebnis VALUES
    ('Table Information', 'sap_get_index_data',
     'P', '03', ' ', 1, 'Get basic index or statistics information')
  INSERT @ergebnis VALUES
    ('Table Information', 'sap_exec_dbcc_showhistogram',
     'P', '03', ' ', 1, 'DBCC show_statistics with histogram')
  INSERT @ergebnis VALUES
    ('Table Information', 'sap_mon_part_info',
     'P', '03', ' ', 1, 'Table partition information')
  INSERT @ergebnis VALUES
    ('Table Information', 'sap_mon_part_distribution',
     'P', '03', ' ', 1, 'Table partition data distribution')
  INSERT @ergebnis VALUES
    ('Table Information', 'sap_get_included_columns',
     'P', '03', ' ', 1, 'Included columns of an index')
-- Locks, blocking locks and all locks
  INSERT @ergebnis VALUES
    ('3) SAP internal data', 'Locks',
     ' ', ' ', ' ', 0, ' ')
  INSERT @ergebnis VALUES
    ('Locks', 'sap_mon_blocking_locks',
     'P', '03', ' ', 1, 'Get blocking locks')
  INSERT @ergebnis VALUES
    ('Locks', 'sap_mon_all_locks',
     'P', '03', ' ', 1, 'Get all locks')
-- Deadlocks
  INSERT @ergebnis VALUES
    ('3) SAP internal data', 'Deadlocks',
     ' ', ' ', ' ', 0, ' ')
  INSERT @ergebnis VALUES
    ('Deadlocks', 'sap_get_mssdeadlck',
     'P', '03', ' ', 1, 'Deadlocks recorded by ABAP stack')
-- Performance history
  INSERT @ergebnis VALUES
    ('3) SAP internal data', 'Performance History',
     ' ', ' ', ' ', 0, ' ')
  INSERT @ergebnis VALUES
    ('Performance History', 'sap_get_msqsnap',
     'P', '03', ' ', 1, 'Performance history recorded by abap job')
  RETURN
END
 
GO
