USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW008]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SAVW008] AS
SELECT DISTINCT A.CODCOLIGADA, A.CODPRESTADOR, A.SEQUENCIAL, A.CODPRESTPRINC, A.CODCOMPRADOR,
                A.NUMEROREMESSA, A.STATUS, A.GRUPOGASTO, A.CODITEM, A.NUMEROCONTA,
                A.SEQUENCIALCONTA, A.SEQDEBITO, A.DATALANC, A.COMPLEMENTO, A.VALORORIGINAL,
                A.VALORORIGINALUPD, A.VALORBASECALCULO, A.VALORBASECALCULOUPD, A.VALORDESCONTO,
                A.VALORDESCONTOUPD, A.VALORREPASSE, A.VALORREPASSEUPD, A.CODREPASSE, A.SEQREP,
                A.TIPOPRESTADOR, A.CODFUNCAOMEDICO, A.ESTORNADO, A.DATAAJUSTE, A.RESPAJUSTE,
                A.MOTIVOAJUSTE, A.VALORPAGO, A.DATAPAGTO, A.GLOSAEFETUADA, A.SITUACAOPAGTO,
                B.DISCRIMINACAOTAXAS DISCRIMINACAOHM, QUANTIDADETAXAS QUANTIDADEHM, 0.00 TOTALCH,
                0.0000 VALORCHHM, VALORTOTALTAXAS VALORTOTALHM, '' HONORARIOFORA, NULL NROFATURAHM,
                C.NUMEROREMESSA NREMESSAPAC, E.SIGLA, ISNULL(G.RAZAOSOCIAL, D.RAZAOSOCIAL) NOMEPRESTADOR,
                C.STATUSAUDITORIA2 REVISADA, A.TIPO, C.SEQPARCIAL,
                CASE A.CODPRESTADOR
                  WHEN C.CODPRESTADOR THEN
                   NULL
                  ELSE
                   B.CODGRUPO
                END CODGRUPO,
                CASE
                  WHEN F.CODPRESTADOR IS NOT NULL THEN
                   CASE
                     WHEN B.CODGRUPO IS NOT NULL THEN
                      F.CODPRESTADOR
                     ELSE
                      A.CODPRESTADOR
                   END
                  ELSE
                   ISNULL(B.CODPRESTADOR, A.CODPRESTADOR)
                END CODEXECUTANTE,
                H.NUMEROFATURA, I.IDUNIDATEND, I.DESCRICAO AS DESCUNIDATEND,
				C.IDUNIDFAT, H.DATAINIPERIODO, E.TIPOPGRUPOC
  FROM SZCONTROLREPASSE A
  LEFT JOIN SZCADGERAL D
    ON (D.CODCOLIGADA = A.CODCOLIGADA AND D.CODGERAL = A.CODPRESTADOR)
  LEFT JOIN SZFATURACONVENIO H
    ON (H.CODCOLIGADA = A.CODCOLIGADA AND H.CODPRESTADOR = A.CODPRESTPRINC AND
       H.CODCOMPRADOR = A.CODCOMPRADOR AND
       H.NUMEROREMESSA = A.NUMEROREMESSA)
  LEFT JOIN SZCONTROLREPASSEDIV F
    ON (F.CODCOLIGADA = A.CODCOLIGADA AND F.NUMEROCONTA = A.NUMEROCONTA AND
       F.SEQUENCIALCONTA = A.SEQUENCIALCONTA AND F.SEQDEBITO = A.SEQDEBITO AND
       F.CODITEM = A.CODITEM AND F.CODPRESTADOR = A.CODPRESTADOR AND F.GRUPOGASTO = A.GRUPOGASTO), SZATENDTAXASERV B
  LEFT JOIN SZCADGERAL G
    ON (G.CODCOLIGADA = B.CODCOLIGADA AND G.CODGERAL = B.CODPRESTADOR),
 SZPARCIALATEND C , SZCADGERAL E , SZUNIDATEND I
 WHERE A.CODCOLIGADA = B.CODCOLIGADA
   AND A.NUMEROCONTA = B.NUMEROCONTA
   AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA
   AND A.SEQDEBITO = B.SEQDEBITOTAXAS
   AND A.SEQPARCIAL = B.SEQPARCIAL
   AND A.CODCOLIGADA = C.CODCOLIGADA
   AND A.NUMEROCONTA = C.NUMEROCONTA
   AND A.SEQUENCIALCONTA = C.SEQUENCIALCONTA
   AND A.SEQPARCIAL = C.SEQPARCIAL
   AND A.GRUPOGASTO = '03'
   AND A.ESTORNADO IS NULL
   AND E.CODCOLIGADA = A.CODCOLIGADA
   AND E.CODGERAL = A.CODCOMPRADOR
   AND I.CODCOLIGADA = C.CODCOLIGADA
   AND I.IDUNIDATEND = C.IDUNIDATEND
   AND ((C.STATUS <> 'C') OR (C.STATUS IS NULL))
GO
