USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_repl_db13jobcmds]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_repl_db13jobcmds] @schema sysname
AS
Begin
/*******************************************************************/
/* Created  06/21/2007                                             */
/*This procedure replaces all the SAP ccms job commands            */
/*created by pre SP12 DB13 stored procedures to the new            */
/*backup and Dbcc commands                                         */
/* Changes:                                                        */
/* -Deleted @firstdb variable and Changed and used @firstDB        */
/*  variable to avoid errors during sp creation when used with case*/
/*         insensitive collation                                   */
/*                                               12/05/2010        */
/*******************************************************************/
declare @cmd1 nvarchar(100),
        @cmd2 nvarchar(100),
        @newcmd nvarchar(4000),
        @updcmd nvarchar(1000),
        @cmd nvarchar(1000)
declare @jobid uniqueidentifier,
        @oldcmd nvarchar(1000)
declare @initstr nvarchar(15),
        @formatstr nvarchar(15),
        @verifystr nvarchar(15),
        @unloadstr nvarchar(15),
        @expdaysstr nvarchar(20),
        @beg_exestr nvarchar(100),
        @end_exestr nvarchar(100),
        @oth_def_strs nvarchar(400),
        @init_cmd_str nvarchar(400),
        @jobName_str  nvarchar(128),
        @tmp          nvarchar(1000),
        @tmpcmd       nvarchar(1000),
        @backupcmd    nvarchar(1000),
        @verifycmd    nvarchar(2000),
        @execmd       nvarchar(2000),
        @subsys       nvarchar(10),
        @strpos      int,
        @newpos      int,
        @nextdbpos   int,
        @dbCnt       int,
        @stepid      int,
        @firstDb     int,
        @format_init int,
        @backuptype  nchar(1),
        @teststr    nvarchar(1000)
declare @initval    int,
        @formatval  int,
        @verifyval  int,
        @expdaysval int,
        @unloadval  int,
        @ver_unloadval int,
        @format_int int,
        @expdaysnum int,
        @r3Db       sysname,
        @bkupDb     sysname,
        @jobname    sysname,
        @dbname     sysname,
        @schname    nvarchar(10),
        @bdev       nvarchar(1000),
        @dbList     nvarchar(500),
        @dbList1    nvarchar(500),
        @nextrundt  nvarchar(10)
/* create temp table to store jobs */
create TABLE #jobsToUpdate(job_id uniqueidentifier not null,
                           jobname sysname,
                           cmd nvarchar(1000))
/* Initialization */
select @beg_exestr = N'declare @exeStmt nvarchar(2000) exec '
select @end_exestr = N' @exeStmt = @exeStmt OUTPUT'
select @subsys  = N'TSQL'
/* we want to select SQL Agent jobs which are added to SID DB */
select @dbname =  db_name()
/* get the current Date in the format YYYYMMDD */
select @nextrundt = convert(nvarchar(10),getdate(),112)
--select @dbname
/*****************************************************************/
/*  select jobs from the sysjobs                                 */
/*    - Jobs which does not contain the 'exeStmt'                */
/*      This means jobs are created with the pre SP11 cmd syntax */
/*    - Jobs which are created for this database                 */
/*         During the creation of jobs, the @database_name  in   */
/*         sysjobssteps contains the databse name(SID). select   */
/*         jobs which are created for this system                */
/*    - Jobs which are scheduled to run in the future            */
/*      next_run_date in the sysjobschedules contains the        */
/*      next_run_date                                            */
/*****************************************************************/
set @cmd = 'select a.job_id,a.name,b.command '              +
           ' from msdb..sysjobs a, msdb..sysjobsteps b, '   +
           ' msdb..sysjobschedules c '                      +
           ' where  a.job_id = b.job_id '                   +
         ' and (b.command like ''%'+@schema+'.sap_backup_%'' or ' +
         ' b.command like ''%'+@schema+'.sap_new_dbcheck%'')'     +
           ' and b.command not like ''%@exeStmt%'''         +
           ' and database_name = '''                        +
            @dbname + ''''                                  +
           ' and b.job_id = c.job_id '                      +
           ' and c.next_run_date >= ' + @nextrundt
--print @cmd
/* Select the jobs with the old backup command */
begin try
 insert into #jobsToUpdate
 exec ( @cmd )
end try
begin catch
end catch
/* declare the cussor */
declare job_steps_cursor CURSOR FOR
      select job_id, jobname, cmd
      from #jobsToUpdate
/* open the cursor */
open job_steps_cursor
fetch next from job_steps_cursor into @jobid,@jobname,@oldcmd
WHILE (@@FETCH_STATUS <> -1)
BEGIN
if CHARINDEX(N'sap_new_dbcheck',@oldcmd) > 0
 begin
 /* process sapdb job */
  select @newcmd = @beg_exestr
                  + @oldcmd + ','     +
                  + '@bkupSim = "N",' +
                   @end_exestr
  select @updcmd = replace(@newcmd,'@dbname','@dbName')
  begin try
   exec msdb..sp_update_jobstep @job_id = @jobid,
                               @step_id = 1,
                               @step_name = N'Step1 - BSP11',
                               @command = @updcmd
  end try
  begin catch
  end catch
 end
else
 begin
 --select @oldcmd
  select @initstr = initstr,       @initval = initval,
         @formatstr = formatstr,   @formatval = formatval ,
         @verifystr = verifystr,   @verifyval = verifyval,
         @unloadstr = unloadstr,   @unloadval = unloadval,
         @expdaysstr = expdaysstr, @expdaysnum = expdaysnum,
         @schname = schname,  @bdev = bdev,
         @dbList = dbList,    @r3Db = r3Db,
         @backuptype = backuptype, @init_cmd_str = init_cmd_str
    from sap_fn_jobrepair_vars( @oldcmd )
 -- select @initstr as 'initstr',    @initval as 'initval',
 --      @formatstr as 'formatstr',   @formatval as 'formatval' ,
 --      @verifystr as 'verifystr',   @verifyval as 'verifyval',
 --      @unloadstr as 'unloadstr',   @unloadval as 'unloadval',
 --      @expdaysstr as 'expdaysstr', @expdaysnum as 'expdaysnum',
 --      @schname as 'schname',  convert(nvarchar(20),@bdev) as bdev,
 --      convert(nvarchar(20),@dbList) as 'dbList',
 --      convert(nvarchar(10),@r3Db) as 'r3Db',
 --      @backuptype as 'backuptype',
 --      @init_cmd_str as 'init_cmd_str'
 select @dbList = LTRIM(RTRIM(@dbList))
 select @strpos = len(@dbList)
 select @dbList1 = @dbList
 select @oth_def_strs = N'@bkupChecksum = "N",' +
                       N'@bkupType = "'         +
                       @backuptype + '",'       +
                       N'@nativeBkup = "N",'    +
                       N'@exeDate = "0",'       +
                       N'@bkupSim = "N",'
/* reinitialize the variables for the next job */
 select @format_init = 0
 select @nextdbpos = 1
 select @firstDb = 1
 select @dbCnt = 0
 select @stepid = 0
 /* if the dblist and bdev are empty strings, then skip */
 if ( (LEN(@dbList) = 0) or
       (LEN(@bdev) = 0) )
  Begin
      set @newcmd =  @beg_exestr  + N' ' +
                     + @oldcmd  + N' ' +
                     @end_exestr
      begin try
        exec msdb..sp_update_jobstep @job_id = @jobid,
                   @step_id = 1,
                   @step_name = N'Step1 - BSP11 - CMDERR',
                   @command = @newcmd
     end try
     begin catch
     end catch
     --print 'No - dblist'
     select @nextdbpos = 0
  end
 while @nextdbpos <> 0
 begin
   /* get the next db pos */
   select @nextdbpos = CHARINDEX(',',@dbList)
   if @nextdbpos <> 0
       begin
         select @bkupDb =
         convert( varchar, SUBSTRING( @dbList,1,@nextdbpos-1))
         /* creates a dummy string with blanks             */
         select @tmp = SPACE( @nextdbpos )
         select @dbList = STUFF( @dbList,1,@nextdbpos,@tmp )
         /* remove the leading blanks */
         select @dbList = LTRIM( @dbList )
       end
    else
         select @bkupDb = @dbList
    --print @bkupDb
    /* update the stepid */
    select @stepid = @stepid + 1
   /* if firstDB, then update the job step */
    if @firstDb = 1
     begin
        set @newcmd =  @beg_exestr  +N' ' +
                        @init_cmd_str +
                        N'@dbList="'+ @dbList1  + '"' +
                        N',@r3Db="' + @r3Db     + '"' +
                        N',@bDev="' + @bdev     + '",' +
                        @expdaysstr+ ','  +
                        N'@jobName="' + @jobname+ '",' +
                        @oth_def_strs  +
                        @formatstr +
                        @initstr  +
                        N'@bkupDb="'+@bkupDb+ N'",'
        if @formatval = 1 or @initval = 1
          select @format_init = 1
        /* raj No Need to check for @nextdbpos */
        if @nextdbpos <>  0 or @verifyval = 1
           begin
            set @newcmd = @newcmd +
                            N'@unload=0,' +
                            @end_exestr
            --print '@first_db'
            --print @newcmd
            /*call to sp_update_jobstep  */
             begin try
              exec msdb..sp_update_jobstep @job_id = @jobid,
                        @step_id = 1,
                        @step_name = N'Step1 - BSP11',
                        @command = @newcmd,
                        @on_success_action = 3
             end try
             begin catch
             end catch
           end
        else
           begin
            if @verifyval = 1
               select  @newcmd =  @newcmd + N'@unload = 0,'
            else
             begin
               /*set the @unload option  */
              if @unloadval = 1
                 select @newcmd =  @newcmd + N'@unload = 1,'
              else
                 select @newcmd =  @newcmd + N'@unload = 0,'
             end
             /* Add the end @exestmt string    */
             select @newcmd = @newcmd + @end_exestr
             print @newcmd
            /*call to sp_update_jobstep  */
            if @verifyval = 1
             begin
               begin try
                exec msdb..sp_update_jobstep @job_id = @jobid,
                        @step_id = 1,
                        @step_name = N'Step1 - BSP11',
                        @command = @newcmd,
                        @on_success_action = 3
               end try
               begin catch
               end catch
             end
            else
             begin
               begin try
                exec msdb..sp_update_jobstep @job_id = @jobid,
                      @step_id = 1,
                      @step_name = N'Step1 - BSP11',
                      @command = @newcmd
               end try
               begin catch
               end catch
             end
           end
       select @firstDb = 0
     end   /*if @firstDb = 1 */
    else
     begin
     /****************************************************************/
     /* set format and init variables for other database backups     */
     /* if there are more then one databases, then no format or init */
     /* string appended to the backup command                        */
     /****************************************************************/
      select @formatstr = N'@format=0,'
      select @initstr = N'@init=0,'
      set @newcmd =  @beg_exestr  +N' ' +
                     @init_cmd_str +
                     N'@dbList="'+ @dbList1  +N'"' +
                     N',@r3Db="' + @r3Db     +N'"' +
                     N',@bDev="' + @bdev     +N'",' +
                     @expdaysstr+ ','  +
                     N'@jobName="' + @jobname+ N'",' +
                     @oth_def_strs  +
                     @formatstr +
                     @initstr  +
                     N'@bkupDb="'+@bkupDb+ N'",'
      /***************************************************************/
      /* Additioanl DBs to backup, then set @unload = 0. @unload     */
      /* option is set either in the next DB backup or in the Verify */
      /* command                                                     */
      /***************************************************************/
      if @nextdbpos <> 0 or @verifyval = 1
          select  @newcmd =  @newcmd + N'@unload = 0,'
      else
        begin
          /*set the @unload option  */
          if @unloadval = 1
            select @newcmd =  @newcmd + N'@unload = 1,'
          else
            select @newcmd =  @newcmd + N'@unload = 0,'
        end
      /* Add the end @exestmt string    */
      select @newcmd = @newcmd + @end_exestr
      --print '@newcmd'
      --print @newcmd
      set @execmd =N'exec msdb..sp_add_jobstep'
             +N' @job_id = null'
             +N',@job_name = ''' + @jobname + N''''
             +N',@step_id = ' + convert(varchar(2),@stepid)
             +N',@step_name = ''CCMS-step '
             +convert(varchar(2),@stepid)+N''''
             +N',@subsystem = ''' + @subsys + N''''
             +N',@command = ''' + @newcmd + N''''
             +N',@database_name = ''' + @r3Db + N''''
         /* set the job step to go to the next job step */
         if @nextdbpos <> 0 or @verifyval = 1
            begin
             set @execmd = @execmd + N',@on_success_action = 3'
            end
         --print @execmd
         begin try
          exec( @execmd )
         end try
         begin catch
         end catch
     end
   /******************************************************************/
   /* The following statements are called only if the verify options */
   /* are selected by the customer. Note: The verify option is       */
   /* selected by default and @verify=0 string is added to the old   */
   /* command only if the verify option is unchecked in the          */
   /* parameters selection screen.                                   */
   /******************************************************************/
   if @verifyval = 1
    begin
     select @dbCnt = @dbCnt + 1
     /* Increment the  stepid */
     select @stepid = @stepid + 1
     /* set the @unload only if it is last DB and Unload =1 */
     if @nextdbpos = 0 and  @unloadval = 1
       select @ver_unloadval = 1
     else
       select @ver_unloadval = 0
     /* Construct the @verify cmd  */
     set @verifycmd = @beg_exestr  + ' ' +
              @schname +'.'   +
              N'sap_verify_backups '     +
              N'@nativeBkup = "N",'      +
              N'@bkupSim = "N",'         +
              N'@bDev = "' +@bdev +N'",' +
              N'@bkupChecksum = "N",'    +
              N'@exeDate = "0",'           +
              N'@format_init = ' + convert(varchar(2),@format_init)+
              N',@unload =' + convert(varchar(2),@ver_unloadval)   +
              N',@dbCnt = ' + convert(varchar(2),@dbCnt)+ N','     +
              @end_exestr
       --print @verifycmd
       /* construct the jobstep command to add the
                       jobstep for verification */
       set @execmd = N'exec msdb..sp_add_jobstep'
             +N' @job_id = null'
             +N',@job_name = ''' + @jobname + N''''
             +N',@step_id = ' + convert(varchar(2),@stepid)
             +N',@step_name = ''CCMS-step '
             +convert(varchar(2),@stepid)+N''''
             +N',@subsystem = ''' + @subsys + N''''
             +N',@command = ''' + @verifycmd + N''''
             +N',@database_name = ''' + @r3Db + N''''
       /* Add the next step parameter if still Db's exist to backup */
       if @nextdbpos <> 0
           set @execmd = @execmd + N',@on_success_action = 3'
         --print @execmd
         begin try
          exec( @execmd )
         end try
         begin catch
         end catch
    end
 end
end /* check for sap_new_dbcheck cmd */
 /* Get the next job row with the old syntax */
 fetch next from job_steps_cursor into @jobid,@jobname,@oldcmd
end /* end of while loop */
--select * from #jobsToUpdate
close job_steps_cursor
deallocate job_steps_cursor
drop table #jobsToUpdate
END
 
GO
