USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[pc_PainelFunc]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pc_PainelFunc]
( @AnoComp VARCHAR(4)
, @MesComp  VARCHAR(2)
)
AS 
BEGIN

BEGIN
INSERT INTO SAP_RM_FUNC ( Ano
                                      , Mes
                                      , CodColigada
                                      , Chapa
                                      , NomeColigada
                                      , Divisao
                                      , AgrupDir
                                      , Diretoria
                                      , Filial
                                      , Setor
                                      , Nome
                                      , Cargo
                                      , Funcao
                                      , CodSituacao
                                      , NomeSituacao
                                      , DTAdmissao
                                      , TipoAdmissao
                                      , CodTipoAdmissao
                                      , DTDemissao
                                      , TipoDemissao
                                      , CodTipoDemissao
                                      , Sexo
                                      , FeriasMes
                                      , HsTrabMes
                                      , DTNascimento
                                      , MotivoDemissao
                                      , Salario
                                      , CodDivisao
                                      , CodDir
                                      , ChapaDir
                                      , CodSecao
                                      , CodCargo
                                      , CodFuncao
                                      , CodReduzido
                                      , DtInicioFerias
                                      , DtFimFerias
                                      , CPF
                                      )
     SELECT Ano            = a.AnoComp
          , Mes            = a.MesComp
          , CodCol         = a.CodColigada
          , Chapa          = a.Chapa
          , NomeCol        = IsNull(b.Nome,'')
          , Divisao        = ''
          , AgrupDir       = ''
          , Diretoria      = ''
          , Filial         = ''
          , Setor          = IsNull(j.Descricao,'')
          , Nome           = IsNull(a.Nome, '')
          , Cargo          = IsNull(k.Nome, '')
          , Funcao         = IsNull(l.Nome, '')
          , Situacao       = IsNull(a.CodSituacao, '')
          , NomeSitu       = IsNull(m.Descricao, '')
          , Adm            = IsNull(a.DtAdm, '')
          , TipoAdm        = IsNull(n.Descricao, '')
          , CodTpAdm       = IsNull(c.TipoAdmissao, '')
          , Dem            = IsNull(a.DtDm,'')
          , TipoDem        = IsNull(o.Descricao,'')
          , CodTpDem       = IsNull(c.TipoDemissao,'')
          , Sexo           = IsNull(d.Sexo,'')
          , FeriasMes      = CASE WHEN (a.CodSituacao = 'F' OR z.COnt >= 1)
                                  THEN 'S'
                                  ELSE 'N'
                             END
          , HsTrabMes      = CASE WHEN y.re Is NULL
                                  THEN 0
                                  ELSE (y.Re * 7.334)
                             END
          , DTNascimento   = IsNull(d.DTNascimento,'')
          , MotivoDemissao = IsNull(c.MotivoDemissao,'')
          , Salario        = a.SalarioA
          , CodDivisao     = ''
          , CodDir         = ''
          , ChapaDir       = IsNull(a.ChapaDir,'')
          , CodSecao       = IsNull(a.CodSecao,'')
          , CodCargo       = IsNull(a.CodCargo,'')
          , CodFuncao      = IsNull(a.CodFuncao,'')
          , CodReduzido    = IsNull(p.CODREDUZIDO,'')
          , DtInicioFerias = IsNull(DtInicioFerias,'')
          , DtFimFerias    = IsNull(DtFimFerias,'')
          , CPF	           = IsNull(d.CPF,'')
       FROM Hst_FUNCIONARIO           a WITH (NOLOCK)
            INNER JOIN GColigada      b WITH (NOLOCK) ON a.CodColigada  = b.CodColigada
            INNER JOIN PFunc          c WITH (NOLOCK) ON a.CodColigada  = c.CodColigada
                                                                     AND a.Chapa        = c.Chapa
            INNER JOIN PPessoa        d WITH (NOLOCK) ON c.CodPessoa    = d.Codigo
            LEFT  JOIN PSubstChefe    e WITH (NOLOCK) ON a.CodColigada  = e.CodColigada
                                                                     AND a.CodSecao     = e.CodSecao
            LEFT  JOIN PSecao         j WITH (NOLOCK) ON a.CodColigada  = j.CodColigada
                                                                     AND a.CodSecao     = j.Codigo   
            LEFT  JOIN GCCUSTO        p WITH (NOLOCK) ON j.CODCOLIGADA      = p.CODCOLIGADA
                                                                     AND j.NROCENCUSTOCONT  = p.CODCCUSTO                                                       
            LEFT  JOIN PCargo         k WITH (NOLOCK) ON a.CodColigada  = k.CodColigada
                                                                     AND a.CodCargo     = k.Codigo  
            LEFT  JOIN PFuncao        l WITH (NOLOCK) ON a.CodColigada  = l.CodColigada
                                                                     AND a.CodFuncao    = l.Codigo
            LEFT  JOIN PCodSituacao   m WITH (NOLOCK) ON a.CodSituacao  = m.CodCliente   
            LEFT  JOIN PtpAdmissao    n WITH (NOLOCK) ON c.TipoAdmissao = n.CodCliente
            LEFT  JOIN PtpDemissao    o WITH (NOLOCK) ON c.TipoDemissao = o.CodCliente
            LEFT  JOIN (SELECT Col = CodColigada
                             , Ch  = Chapa
                             , Re  = Ref
                          FROM PFFinanc WITH (NOLOCK)
                         WHERE AnoComp     =@AnoComp
                           AND MesComp     =@MesComp
                           AND NroPeriodo  =2
                           AND CodEvento   ='464' /*'0002'*/)  y ON a.CodColigada  = y.Col
                                                      AND a.Chapa        = y.Ch
            LEFT  JOIN (SELECT Top 1
                               Col   = CodColigada
                             , Cha   = Chapa
                             , Cont  = Count(Chapa)                            
                          FROM PFHstFer WITH (NOLOCK)
                         WHERE Year (DTIniGozo)=@AnoComp
                           AND Month(DTIniGozo)=@MesComp
                      GROUP BY CodColigada
                             , Chapa)              z ON a.CodColigada  = z.Col
                                                    AND a.Chapa        = z.Cha
            LEFT  JOIN (SELECT Col   = CodColigada
                             , Cha   = Chapa                             
                             , DtInicioFerias = DataInicio
                             , DtFimFerias    = DataFim
                          FROM PFUFERIASPER WITH (NOLOCK)
                          WHERE Year(DataInicio)= @AnoComp
                           AND Month(DataInicio)= @MesComp )  x ON a.CodColigada  = x.Col
                                                                AND a.Chapa        = x.Cha
      WHERE a.AnoComp = @AnoComp
        AND a.MesComp = @MesComp
        
END

END
GO
