USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[BATIDAS_TIPO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BATIDAS_TIPO](@COLIGADA INT, @CHAPA VARCHAR(16), @DATAINIC DATE,@DATAFIM DATE)
RETURNS TABLE AS

RETURN (

WITH

BATIDA AS(
	SELECT 
		* 
	FROM(
	
		SELECT
		    ROW_NUMBER() OVER(PARTITION BY ISNULL(A.DATAREFERENCIA,A.DATA), A.CHAPA ORDER BY ISNULL(A.DATAREFERENCIA,A.DATA)) SEQ,
			A.CODCOLIGADA,
			A.CHAPA,
			A.DATA,
			ISNULL(A.DATAREFERENCIA,DATA) DATAREFERENCIA,
			A.BATIDA,
			A.STATUS
			
		FROM 
			ABATFUN A (NOLOCK)
			
		WHERE 
		A.CODCOLIGADA = @COLIGADA 
		AND A.CHAPA = @CHAPA
		AND ISNULL(A.DATAREFERENCIA,DATA) BETWEEN @DATAINIC AND @DATAFIM
		)
	X)
	
SELECT
	CODCOLIGADA, CHAPA, DATAREFERENCIA, COUNT(CHAPA) QTDE,
	STUFF((
       SELECT CONCAT((CASE WHEN t1.DATAREFERENCIA < t1.DATA THEN ' +' 
			        WHEN t1.DATAREFERENCIA > t1.DATA THEN ' -'
			        ELSE '  ' END), dbo.mintotime(t1.BATIDA), t1.STATUS)
         FROM BATIDA t1 (NOLOCK)
        WHERE t1.CODCOLIGADA = t0.CODCOLIGADA AND t1.CHAPA = t0.CHAPA AND t1.DATAREFERENCIA = t0.DATAREFERENCIA
        ORDER BY t1.SEQ
          FOR XML PATH('')), 1, LEN(','), '') AS BATIDAS
          
FROM BATIDA t0
 GROUP BY t0.CODCOLIGADA, t0.CHAPA, t0.DATAREFERENCIA
);
GO
