USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW___drop_temptabs]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW___drop_temptabs]
  @prefix varchar(40)
AS
begin
  declare @stmt varchar(128)
  declare @name varchar(128)
  declare @dbname sysname
  set @dbname = db_name()
  select @prefix = '##' + @prefix + '_'
                   + cast(@@SPID as varchar) + '_'
  select @stmt =
        'select name from tempdb.dbo.sysobjects where name like '''
        + @prefix + '%'''
  declare @cursstmt varchar(128)
  select @cursstmt = 'declare temptabdropper insensitive cursor for '
                     + @stmt
  exec(@cursstmt)
  open temptabdropper
  fetch next from temptabdropper into @name
  while (@@fetch_status <> -1)
  begin
      if (@@fetch_status <> -2)
      begin
          set @stmt = 'drop table ' + @name
          execute(@stmt)
      end
      fetch next from temptabdropper into @name
  end
  close temptabdropper
  deallocate temptabdropper
  set @stmt = 'drop table "' + @prefix + '_xx"'
end /* sap_BW___drop_temptabs  */
 
GO
