USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tf_tabhist_runtime]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tf_tabhist_runtime]( )
RETURNS  @sample TABLE (
        hours_runtime int,
        mins_runtime  int,
        secs_runtime  int,
    totalseconds  int
)
AS
BEGIN
  declare @totalseconds int
  declare @hours int
  declare @mins int
  declare @secs int
  select @totalseconds = convert(int,sum(sap.lastduration)/1000)
    from sap_tabstats sap join sap_tabstats_V_newest new on
         sap.tablename = new.tablename and
         sap.sampledate = new.sampledate
  select @secs = @totalseconds
  if @secs >= 3600
  begin
    select @hours = @secs / 3600
    select @secs = @secs -  ( @hours * 3600 )
    if @hours > 99
      select @hours = 99
  end
  else
    select @hours = 0
  if @secs >= 60
  begin
    select @mins = @secs / 60
    select @secs = @secs -  ( @mins * 60 )
  end
  else
    select @mins = 0
  insert @sample values (@hours,@mins,@secs,@totalseconds)
  RETURN
END
 
GO
