USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_startparams]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_startparams] as
begin
  set nocount on
  declare @cmd varchar(200)
  create table #output (
		par_name   varchar(4000),
		par_val    varchar(4000)
	)
  set @cmd = N'[' + OBJECT_SCHEMA_NAME(@@PROCID) + '].sap_sec_startparams'
  insert #output exec (@cmd)
  select par_val as 'par_val' from #output
end
 
GO
