USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_montatrigger]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_montatrigger] @nometabela sysname
as
  exec sp_montatriggerdelete @nometabela
  exec sp_montatriggerinsert @nometabela
  exec sp_montatriggerupdate @nometabela
GO
