USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_databases]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_databases]
AS
BEGIN
set nocount on
-- get the databases, check to which access is permitted
select name,
       case has_dbaccess(name)
         when 0 then 'NO'
         when 1 then 'YES'
       end as 'access'
  from sys.databases
END
 
GO
