USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SPC_HA_LCTS_COLIGADA]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  RM Sistemas
  RM Saldus
  Tradução do procedimento "ExisteLct"
  da SDcFunc.pas para Stored Procedure MSSQL
*/
CREATE PROCEDURE [dbo].[SPC_HA_LCTS_COLIGADA]
@COLIGADA SMALLINT,
@RESULTADO BIT OUTPUT
AS
DECLARE @TABELA CURSOR
SET @TABELA = CURSOR STATIC FOR
SELECT DISTINCT 1 FROM CLANCA
WHERE CODCOLIGADA = @COLIGADA
OPEN @TABELA
IF @@CURSOR_ROWS > 0
  SET @RESULTADO = 1
ELSE
  SET @RESULTADO = 0
CLOSE @TABELA
DEALLOCATE @TABELA
GO
