USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sfBuscaBatidasPto]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[sfBuscaBatidasPto](@codcoligada int,@chapa varchar(16),@DataRef datetime)
	 returns nvarchar(max)
as
begin
 declare @cbatidas nvarchar(max) = '', 
		 @cbatida varchar(25), 
		 @linhas smallint;
 
 declare crs_cbatidas cursor
 for
 select cast(floor(batida/60) as varchar)+':'+right('00'+cast(floor((batida%60)) as varchar),2), (select count(batida) 
                      from abatfun 
                     where codcoligada = @codcoligada 
                       and chapa       = @chapa
					   and data		   = @dataref) as linhas 
   from abatfun 
  where codcoligada = @codcoligada 
    and chapa       = @chapa
	and data		= @dataref
 
 
 open crs_cbatidas;

  fetch next from crs_cbatidas into @cbatida, @linhas;  
  
 while @@fetch_status = 0
  begin
   
   if (@linhas > 1)
    set @cbatidas = @cbatidas + @cbatida + ' ';
   else   
    set @cbatidas = @cbatidas + @cbatida;
  
  fetch next from crs_cbatidas into @cbatida, @linhas;
  end
     
 deallocate crs_cbatidas

       If @linhas > 1
          Begin 
               set @cbatidas = reverse(substring(reverse(@cbatidas),2,len(@cbatidas)))
          End
       Else
          Begin
               set @cbatidas = @cbatidas
          End
 return @cbatidas
end
GO
