USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SAP_BPC_AtualizaTabelasTemporarias]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SAP_BPC_AtualizaTabelasTemporarias]
AS
BEGIN 
  SET NOCOUNT ON

  TRUNCATE TABLE SAP_BPC_PLANT
  TRUNCATE TABLE SAP_BPC_FUNCTION
  TRUNCATE TABLE SAP_BPC_EVENT  
  TRUNCATE TABLE SAP_BPC_BASELINE  
  
  INSERT SAP_BPC_PLANT
    SELECT [ID]
         , [DESCRIPTION]
         , [ENTITY]
      FROM dbo.ufn_BPC_RetornaTabelaFilial()

  INSERT SAP_BPC_FUNCTION
    SELECT [ID]
         , [DESCRIPTION]
      FROM dbo.ufn_BPC_RetornaTabelaCargo()
    
  INSERT SAP_BPC_EVENT
    SELECT [ID]
         , [DESCRIPTION]
      FROM dbo.ufn_BPC_RetornaTabelaEvento()     

  INSERT SAP_BPC_BASELINE
    SELECT [ENTITY]
         , [PLANT]
         , [COSTCENTER]
         , [FUNCTION]
         , [TIME]
         , [EVENT]
         , [UM]
         , [VALUE]
      FROM dbo.ufn_BPC_RetornaBaselineTOTVS()    

  SET NOCOUNT OFF
END
GO
