USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_table_storpars]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_table_storpars]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @object_type char(2)
declare @filegroup sysname
declare @identity sysname
declare @pstr nvarchar(128)
-- check whether the table exists
exec sap_get_object_type @table_name, @schema_name, @db_name,
                         @object_type output
if @object_type is null or
   @object_type not in ('U', 'S')
  begin
    raiserror('Table not found.',16,1)
    RETURN
  end
-- get the filegroup
set @cmd = N'select @filegroup = g.groupname ' +
             N'from ' + @db_name +  N'.sys.objects o, ' +
                        @db_name +  N'.sys.schemas sch, ' +
                        @db_name +  N'.sys.sysindexes i, ' +
                        @db_name +  N'.sys.sysfilegroups g ' +
               N'where o.name = @table_name ' +
                 N'and o.schema_id = sch.schema_id ' +
                 N'and sch.name = @schema_name ' +
                 N'and i.id = o.object_id ' +
                 N'and i.indid < 2 ' +
                 N'and g.groupid = i.groupid'
set @pstr = N'@filegroup sysname output,' +
            N'@table_name sysname,@schema_name sysname'
exec sp_executesql @cmd, @pstr, @filegroup output,
       @table_name,@schema_name
if @filegroup is null -- Maybe the table is partitioned?
begin
-- get the name of the scheme and return this as the filegroup
  set @cmd = N'select @filegroup = ps.name ' +
               N'from ' + @db_name +  N'.sys.objects o, ' +
                          @db_name +  N'.sys.schemas sch, ' +
                          @db_name +  N'.sys.indexes i, ' +
                          @db_name +  N'.sys.partition_schemes ps ' +
                 N'where o.name = @table_name ' +
                   N'and o.schema_id = sch.schema_id ' +
                   N'and sch.name = @schema_name ' +
                   N'and i.object_id = o.object_id ' +
                   N'and i.index_id < 2 ' +
                   N'and ps.data_space_id = i.data_space_id'
  exec sp_executesql @cmd, @pstr, @filegroup output,
       @table_name,@schema_name
end
-- get the identity column
set @cmd = N'select @identity = c.name ' +
             N'from ' + @db_name +  N'.sys.objects o, ' +
                        @db_name +  N'.sys.schemas sch, ' +
                        @db_name +  N'.sys.syscolumns c ' +
               N'where o.name = @table_name ' +
                 N'and o.schema_id = sch.schema_id ' +
                 N'and sch.name = @schema_name ' +
                 N'and c.id = o.object_id ' +
                 N'and columnproperty(c.id,c.name,''IsIdentity'') = 1'
set @pstr = N'@identity sysname output,' +
            N'@table_name sysname,@schema_name sysname'
exec sp_executesql @cmd, @pstr, @identity output,
            @table_name,@schema_name
-- return the storage parameters
select @table_name as 'tabname', @filegroup as 'filegroup',
       @identity as 'identity'
END
 
GO
