USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_xml_plan]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_get_xml_plan]
    @hdl varbinary(64),
    @unicode char(1) = 'X'
as
begin
  if @unicode = 'X'
    select convert(nvarchar(max),query_plan)
        from sys.dm_exec_query_plan(@hdl)
   else
    select convert(varchar(max),query_plan)
        from sys.dm_exec_query_plan(@hdl)
end
 
GO
