USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[XDATABAIXAPARCELAPAGAMENTOHST]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[XDATABAIXAPARCELAPAGAMENTOHST](
  @CODCOLIGADA SMALLINT,
  @IDLAN INT,
  @STATUSLAN INT,
  @IDHISTORICO INT
)
RETURNS DATETIME
AS
BEGIN
    DECLARE @DATALIQUIDACAO DATETIME
    SELECT @DATALIQUIDACAO = ISNULL(FLANHST.DATACHEQUE, FLANHST.DATABAIXA)
    FROM FLANHST (NOLOCK)
    WHERE FLANHST.CODCOLIGADA = @CODCOLIGADA AND
          FLANHST.IDLAN = @IDLAN AND
          FLANHST.IDHISTORICO = @IDHISTORICO
    RETURN @DATALIQUIDACAO
END
GO
