USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_index_type]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_index_type]
  @index_name sysname,
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @no_stats char(1) = 'X'
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @num_btables int
declare @object_id int
declare @pstr nvarchar(128)
-- if @table_name is not specified, get the name(s) of the table(s)
-- having an index called @index_name
if (@table_name = N'' or @table_name = N' ') and
   (@index_name <> N'' and @index_name <> N' ')
  begin
    create table #btables (name sysname)
    insert into #btables
      exec sap_get_tables_of_index @index_name, @schema_name, @db_name
    select @num_btables = count(name) from #btables
    if @num_btables = 0
      begin
        drop table #btables
        raiserror('Table not found.',16,1)
        RETURN
      end
    if @num_btables > 1  -- ?? can this really occur?
      begin
        drop table #btables
        raiserror('Multiple tables found.',16,1)
        RETURN
      end
    select @table_name = name from #btables
    drop table #btables
  end
-- get the id of @table_name
set @cmd =  N'use ' + @db_name +
            N' select @object_id = o.object_id ' +
            N'from ' + @db_name + N'.sys.objects o ' +
            N'where o.name = @table_name ' +
            N'  and schema_name(o.schema_id) = @schema_name '
set @pstr = N'@object_id int output,@table_name sysname,@schema_name sysname'
exec sp_executesql @cmd, @pstr, @object_id output,@table_name,@schema_name
-- build the select statement
set @cmd = N'use ' + @db_name +
           N' select i.name, ' +
                  N'case ' +
                  N'when exists ' +
                    N'(select name ' +
                       N'from ' + @db_name + N'.sys.sysobjects ' +
                         N'where parent_obj = @object_id ' +
                           N'and xtype = ''PK'' ' +
                           N'and name = i.name) ' +
                  N'then 1 else 0 end as ''is_pkc'', ' +
                  --N'indexproperty(o.id,i.name,''IsUnique'') ' +
                  N'case (i.status & 2) ' +
                    N'when 2 then 1 ' +
                    N'else 0 ' +
                  N'end ' +
                    N'as ''is_unique'', ' +
                  --N'indexproperty(o.id,i.name,''IsStatistics'') ' +
                  N'case (i.status & 64) ' +
                    N'when 64 then 1 ' +
                    N'else 0 ' +
                  N'end ' +
                    N'as ''is_stats'', ' +
                  --N'indexproperty(o.id,i.name,' +
                  --              N'''IsAutoStatistics'') ' +
                  N'case (i.status & 8388608) ' +
                    N'when 8388608 then 1 ' +
                    N'else 0 ' +
                  N'end ' +
                    N'as ''is_autostats'' ' +
             N'from ' + @db_name + N'.sys.sysindexes i ' +
               N'where i.id = @object_id ' +
                 N'and i.indid > 0 ' +
                 N'and i.indid < 255 '
set @pstr = N'@object_id int'
if @index_name <> N'' and @index_name <> N' '
  begin
    set @cmd = @cmd +  N'and i.name = @index_name '
    set @pstr = @pstr + N',@index_name sysname'
    -- get the type(s)
    exec sp_executesql @cmd,@pstr,@object_id,@index_name
  end
else
  begin
    if @no_stats = 'X'
      set @cmd = @cmd +
               --N'and indexproperty(o.id,i.name,''IsStatistics'') = 0 '
                 N'and i.status & 64 <> 64 '
    set @cmd = @cmd + N'order by i.name'
    -- get the type(s)
    exec sp_executesql @cmd,@pstr,@object_id
  end
END
 
GO
