USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_sqlerrorlogs]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_sqlerrorlogs]
  @allLogData nvarchar(1) = 'Y',
  @errLogNum int = -1,
  @agtLogNum int = -1
as
begin
set nocount on
declare @locNumLog  int
declare @cmdstr nvarchar(1024)
declare @noOutput int
declare @objsrc sysname
 -- Use this schema to call other sps
 select @objsrc = schema_name(schema_id) from sys.objects
  where object_id = @@PROCID
/*********************************************************/
/* set @noOutput if called from RAT ( #tables exist)     */
set @noOutput = 0
if ( object_id( 'tempdb..#errlogoutput') is NOT NULL )
  set @noOutput = 1
else
  create table #errlogoutput
  (
  arcNum     int,
  dmy        datetime null,
  prc        nvarchar(32),
  logText    nvarchar(MAX) null
  )
/*********************************************************/
/* get data on all the error and agent logs */
if @allLogData = 'Y'
begin
  if ( object_id( 'tempdb..#enumlogs') is NULL )
    create table #enumlogs
    ( arcType  nchar(1) null,
      arcNum   int      null,
      creDate  datetime null,
      logSize  int      null
    )
  if ( object_id( 'tempdb..#logfiledata') is NULL )
    create table #logfiledata
    ( logType  nchar(1),
      numLog   int,
      dateLog  nchar(20),
      nameLog  sysname,
      flag17   nchar(1),
      flag20   nchar(1),
      filekb   int
    )
/*********************************************************/
-- get number of each log type
--
  set @cmdstr = N'[' + @objsrc + N'].sap_sec_enumerrorlogs'
  insert #enumlogs(arcNum,creDate,logSize)
    exec(@cmdstr)
  update #enumlogs set arcType = N'E' where arcType IS NULL
  set @cmdstr = N'[' + @objsrc + N'].sap_sec_enumerrorlogs ''2'''
  insert #enumlogs(arcNum,creDate,logSize)
    exec(@cmdstr)
  update #enumlogs set arcType = N'A' where arcType IS NULL
  declare lognum_cursor cursor for
    select arcNum from #enumlogs where arcType = N'E' and logSize < 999999999
              order by arcNum
  open lognum_cursor
  fetch next from lognum_cursor into @locNumLog
  while (@@fetch_status <> -1)
  begin
    set @cmdstr = N'[' + @objsrc + N'].sap_sec_readerrorlog ''' +
                  convert( nvarchar(11),@locNumLog)  + N',1,Severity'''
    insert #errlogoutput(dmy,prc,logText)
      exec ( @cmdstr )
    update #errlogoutput set arcNum = @locNumLog where arcNum is NULL
    fetch next from lognum_cursor into @locNumLog
  end
  close  lognum_cursor
  deallocate  lognum_cursor
  delete from #errlogoutput where logText not like '%Severity%'
  insert #logfiledata( logType,numLog,dateLog,nameLog,flag17,flag20,filekb)
  select arcType,arcNum, creDate,
      case arcNum
        when 0 then N'ERRORLOG'
        when 1 then N'ERRORLOG.1'
        when 2 then N'ERRORLOG.2'
        when 3 then N'ERRORLOG.3'
        when 4 then N'ERRORLOG.4'
        when 5 then N'ERRORLOG.5'
        when 6 then N'ERRORLOG.6'
        when 7 then N'ERRORLOG.7'
        when 8 then N'ERRORLOG.8'
        when 9 then N'ERRORLOG.9'
        when 10 then N'ERRORLOG.10'
        when 11 then N'ERRORLOG.11'
        when 12 then N'ERRORLOG.12'
        when 13 then N'ERRORLOG.13'
        when 14 then N'ERRORLOG.14'
        when 15 then N'ERRORLOG.15'
        when 16 then N'ERRORLOG.16'
        when 17 then N'ERRORLOG.17'
        when 18 then N'ERRORLOG.18'
        when 19 then N'ERRORLOG.19'
        when 20 then N'ERRORLOG.20'
        when 21 then N'ERRORLOG.21'
        when 22 then N'ERRORLOG.22'
        when 23 then N'ERRORLOG.23'
        when 24 then N'ERRORLOG.24'
        when 25 then N'ERRORLOG.25'
        when 26 then N'ERRORLOG.26'
        when 27 then N'ERRORLOG.27'
        when 28 then N'ERRORLOG.28'
        when 29 then N'ERRORLOG.29'
        else N'ARCHIVE-OLD'
      end,
      N'N',
      N'N',
     ( logSize / 1024.0 )
  from #enumlogs where arcType = 'E' and arcNum < 30
  insert #logfiledata( logType,numLog,dateLog,nameLog,flag17,flag20,filekb)
  select arcType,arcNum,creDate,
      case arcNum
        when 0 then N'SQLAGENT.OUT'
        when 1 then N'SQLAGENT.1'
        when 2 then N'SQLAGENT.2'
        when 3 then N'SQLAGENT.3'
        when 4 then N'SQLAGENT.4'
        when 5 then N'SQLAGENT.5'
        when 6 then N'SQLAGENT.6'
        when 7 then N'SQLAGENT.7'
        when 8 then N'SQLAGENT.8'
        when 9 then N'SQLAGENT.9'
        when 10 then N'SQLAGENT.10'
        when 11 then N'SQLAGENT.11'
        when 12 then N'SQLAGENT.12'
        when 13 then N'SQLAGENT.13'
        when 14 then N'SQLAGENT.14'
        when 15 then N'SQLAGENT.15'
        when 16 then N'SQLAGENT.16'
        when 17 then N'SQLAGENT.17'
        when 18 then N'SQLAGENT.18'
        when 19 then N'SQLAGENT.19'
        else N'ARCHIVE-OLD'
      end,
      N'N',
      N'N',
     ( logSize / 1024.0 )
  from #enumlogs where arcType = 'A'
--
-- update flag17
--
  update #logfiledata set flag17 = 'Y'
   where
   #logfiledata.logType = 'E' and
   exists
   ( select * from #errlogoutput el
        where
          #logfiledata.numLog = el.arcNum and
          el.logText like '%Severity: 1[789]%' )
--          el.logText like '%Warning:%' )
--
-- update flag20
--
  update #logfiledata set flag20 = 'Y'
   where
   #logfiledata.logType = 'E' and
   exists
   ( select * from #errlogoutput el
        where
          #logfiledata.numLog = el.arcNum and
          el.logText like '%Severity: 2%' )
--          el.logText like '%Warning:%' )
--
-- output
--
  if @noOutput = 0
    select * from #logfiledata order by logType desc, numLog asc
end
/*********************************************************/
/* get data on a specific error or agent log             */
else
begin
  if @errLogNum >= 0
  begin
    set @cmdstr =
      N'[' + @objsrc + N'].sap_sec_readerrorlog ''' +
         convert( nvarchar(11),@errLogNum) + N''''
    insert #errlogoutput(dmy,prc,logText)
      exec ( @cmdstr )
    update #errlogoutput set arcNum = @errLogNum
    if @noOutput = 0
      select arcNum, convert(nvarchar(256),
          convert(nvarchar(32),dmy) + ' ' +
          convert(nvarchar(32),prc) + ' ' +
          convert(nvarchar(1000),logText)),0
        from #errlogoutput order by dmy asc
  end
/*********************************************************/
/* get data on a specific agent log                      */
  else
  begin
    if @agtLogNum >= 0
    begin
      set @cmdstr =
      N'[' + @objsrc + N'].sap_sec_readerrorlog ''' +
        convert( nvarchar(11),@agtLogNum) + ',2'''
      insert #errlogoutput(dmy,prc,logText)
        exec ( @cmdstr )
      update #errlogoutput set arcNum = @agtLogNum
    end
    if @noOutput = 0
      select arcNum, convert(nvarchar(256),
        convert(nvarchar(32),dmy) + ' ' +
        convert(nvarchar(32),prc) + ' ' +
        convert(nvarchar(1000),logText)),0
      from #errlogoutput order by dmy asc
  end
end
end /* sap_mon_sqlerrorlogs */
 
GO
