USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculoCicloHorario]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculoCicloHorario](@INDICEHOR INT, @CODHORARIO VARCHAR(10), @CODCOLIGADA VARCHAR(5))
RETURNS INT
BEGIN
	DECLARE @INDICE INT = @INDICEHOR;
	DECLARE @CICLOS INT = (SELECT (COUNT(CODCOLIGADA) / 7) FROM (
		SELECT DISTINCT CODCOLIGADA, CODHORARIO, INDICE FROM ABATHOR WHERE CODHORARIO = @CODHORARIO AND CODCOLIGADA = @CODCOLIGADA AND TIPO = 0
	)X);
	DECLARE @CICLOS_TRAB INT = (SELECT COUNT(CODCOLIGADA) FROM (
		SELECT DISTINCT CODCOLIGADA, CODHORARIO, INDICE FROM ABATHOR WHERE CODHORARIO = @CODHORARIO AND CODCOLIGADA = @CODCOLIGADA
	)X);
	DECLARE @LINHA INT = 1;
	DECLARE @INDICE_HORARIO INT = 1;
	DECLARE @CODCICLO INT = 1;
	DECLARE @QTDECICLO INT = 0;
	DECLARE @LIMITE INT = 1;
	
	IF(@CICLOS < 1) SET @CICLOS = 1;
	
	DECLARE @MAXCICLO INT = @CICLOS_TRAB / @CICLOS;
	
	WHILE(@LINHA <= @CICLOS_TRAB)
	BEGIN
	
		SET @QTDECICLO = @QTDECICLO+1;
		
		IF (@QTDECICLO = @MAXCICLO AND @LIMITE < @CICLOS)
			BEGIN
				SET @CODCICLO = @CODCICLO+1;
				SET @QTDECICLO = 0;
				SET @LIMITE = @LIMITE+1;
			END
	
	
		IF(@INDICE = @LINHA)
		BEGIN
			
			SET @INDICE_HORARIO = @CODCICLO;
		END
		SET @LINHA = @LINHA+1;
		
		
		
	END
	
	RETURN @INDICE_HORARIO;
	
END
GO
