USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_BW_TB_ZMDHC_OFFSHORES]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_BW_TB_ZMDHC_OFFSHORES]
AS
    SELECT 
         CHAPA 
        ,NOME
        ,CODFUNCAO
        ,FUNCAO
        ,CONVERT(VARCHAR(8),ISNULL(DTADMISSAO, DTADMISSAO),112) AS DTADMISSAO
        ,CONVERT(VARCHAR(8),ISNULL(DTDEMISSAO, DTDEMISSAO),112) AS DTDEMISSAO
        ,CENTROCUSTO
        ,GENERO
        ,TPFUNCIONARIO
        ,SITUACAO
        ,OBS
        ,RECCREATEDBY
        ,CONVERT(VARCHAR(8),ISNULL(RECCREATEDON, RECCREATEDON),112) AS RECCREATEDON 
        ,RECMODIFIEDBY
        ,CONVERT(VARCHAR(8),ISNULL(RECMODIFIEDON, RECMODIFIEDON),112) AS RECMODIFIEDON 
    FROM ZMDHC_OFFSHORES;
GO
