USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[ZCRM_ATUALIZA_EXPERIENCIA_FUNCIONARIOS]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---PRODUÇÃO



/** [[ PROCEDURE DESENVOLVIDA PARA AUTOMATIZAR ATUALIZAÇÃO DE DADOS PARA PERÍODO DE EXPERIENCIA - ATIVADA VIA FORMUAL VISUAL ]]  **/


--- [[ CRIACAÇÃO DA PROCEDURE ]] **/

	CREATE PROCEDURE [dbo].[ZCRM_ATUALIZA_EXPERIENCIA_FUNCIONARIOS]
		AS
	BEGIN
    	SET NOCOUNT ON; --- [[ DESATIVADO O CONTADOR DE LINHAS PARA TEMPO DE ENTREGA SER REDUZIDO ]] 
   

--- [[ VARIÁVEIS ]] 

	DECLARE @ONTEM DATE =  DATEADD(DAY, -1, CONVERT(DATE, GETDATE(),103)); --- [[ CONVERTIDO GETDATE PARA RETORNAR HORAS ZERADAS ]] 

    
--- [[ ETAPA 1 ]] 

--- [[ COMENTÁRIOS SOBRE: primeiro passo é gravar log na tabela PFCOMPL com base nas pessoas que serão atualizadas, afim de gerar backup dados originais ]] 

    UPDATE 
    	PFCOMPL 
    SET LOG2 = CONVERT(VARCHAR(10), PFUNC.CODCOLIGADA, 1) + ' - ' + CONVERT(VARCHAR(10), PFUNC.CHAPA, 1) + ' - FIM_1o_PER:' + CONVERT(VARCHAR(10), FIMPRAZOCONTR, 103) +
               ' - FIM_ORIGEM_COMPL:' + CONVERT(VARCHAR(10), PFCOMPL.PRAZO, 103) + ' - ULT_ALT:' + CONVERT(VARCHAR(10), PFUNC.RECMODIFIEDON, 108) + ' - ' + PFUNC.RECMODIFIEDBY, 
--- [[ Linha acima é o log com a concatenação dos dados para backup ]]

        PFCOMPL.RECMODIFIEDBY = 'FV_CONTRATOSEXP', 
        PFCOMPL.RECMODIFIEDON = CONVERT(DATE, GETDATE(),103)
--- [[ Linhas acima são controle de alterações para uso na etapa seguinte ]]
        
    FROM PFCOMPL (NOLOCK)
    INNER JOIN PFUNC (NOLOCK) ON PFCOMPL.CODCOLIGADA = PFUNC.CODCOLIGADA AND PFCOMPL.CHAPA = PFUNC.CHAPA
    WHERE (PFCOMPL.PRAZO IS NOT NULL OR PFCOMPL.PRAZO > CONVERT(DATE, GETDATE(),103))
      AND (PFUNC.CODSITUACAO <> 'D' OR PFUNC.DATADEMISSAO IS NULL)
      AND PFUNC.CODTIPO NOT IN ('T')
      AND PFUNC.TEMPRAZOCONTR = 1
      AND PFUNC.TIPOCONTRATOPRAZO IN ('D', 'E')
      AND PFUNC.FIMPRAZOCONTR = @ONTEM
--- [[ linhas abaixo validam possível requisição de desligamento já solicitada no portal rh para não proceder para com a alteração do periodo de experiencia ]]
      AND PFUNC.CHAPA COLLATE Latin1_General_CI_AS NOT IN (
      														SELECT CHAPA 
      														FROM PortalRHPRD..zcrmportal_demissao_req AS PORTAL 
      														WHERE PORTAL.idemp = PFUNC.CODCOLIGADA AND PORTAL.chapa = PFUNC.CHAPA COLLATE Latin1_General_CI_AS);
 
      
--- [[FIM ETAPA 1]]

      





--- [[ ETAPA 2 ]] 

--- [[ COMENTÁRIOS SOBRE: inserir na PESOCIALEVENTOS o gatilho S-2206 com as pessoas localizadas no etapa 1 antes de limpar os campos da PFCOMPL ou alterar a PFUNC ]] 


--- [[ WITH inserido para retornar as chapas que devem ter o gatilho inserido, mesma validação da etapa 1 ]]  
    WITH
	CHAPAS  AS  (
			SELECT PFUNC.CODCOLIGADA, PFUNC.CHAPA, PFUNC.CODSITUACAO, PFUNC.FIMPRAZOCONTR, PFCOMPL.PRAZO,PFCOMPL.LOG2, PFCOMPL.RECCREATEDBY,  PFCOMPL.RECCREATEDON, PFCOMPL.RECMODIFIEDBY, PFCOMPL.RECMODIFIEDON 
			FROM PFCOMPL (NOLOCK)
			    INNER JOIN PFUNC (NOLOCK) ON PFCOMPL.CODCOLIGADA = PFUNC.CODCOLIGADA AND PFCOMPL.CHAPA = PFUNC.CHAPA
			    WHERE PFCOMPL.PRAZO IS NOT NULL
			      AND (PFUNC.CODSITUACAO <> 'D' OR PFUNC.DATADEMISSAO IS NULL)
			      AND PFUNC.CODTIPO NOT IN ('T')
			      AND PFUNC.TEMPRAZOCONTR = 1
      			  AND PFUNC.TIPOCONTRATOPRAZO = 'E'
			      AND PFUNC.FIMPRAZOCONTR = DATEADD(DAY, -1, CONVERT(DATE, GETDATE(),103))
--- [[ linhas abaixo validam possível requisição de desligamento já solicitada no portal rh para não proceder para com a alteração do periodo de experiencia ]]
      			  AND PFUNC.CHAPA COLLATE Latin1_General_CI_AS NOT IN (
      														SELECT CHAPA 
      														FROM PortalRHPRD..zcrmportal_demissao_req AS PORTAL 
      														WHERE PORTAL.idemp = PFUNC.CODCOLIGADA AND PORTAL.chapa = PFUNC.CHAPA COLLATE Latin1_General_CI_AS)) 
			      
--- [[ INSERT na pesocialeventos com vinculação do WITH para saber se já não existe um mesmo evento S-2206 com data do evento igual ao ser inserido ]]			            
		      
  INSERT INTO PESOCIALEVENTOS
		(ID, 
		 CODCOLIGADA, 
		 CHAPA, 
		 DATAEVENTO,  
		 TIPOEVENTO, 
		 STATUS, 
		 TPOPERACAO, 
		 DATAALTERACAO,
		 GRUPO, 
		 INSERIDOMANUAL, 
		 AFASTAMENTOFERIAS, 
		 CONSOLIDADO, 
		 INTEGRADOTAF, 
		 RECCREATEDBY, 
		 RECCREATEDON, 
		 RECMODIFIEDBY, 
		 RECMODIFIEDON, 
		 INCLUIDOTAF, 
		 FORAPRAZOENVIO)

--- [[ para testes, inserir o with aqui e executar com SELECT abaixo ]]
	      
	      
	SELECT
		'ID1' + REPLACE(SUBSTRING(C.CGC, 1, 10), '.', '') + '000000' + CONVERT(VARCHAR(14), GETDATE(), 112) + REPLACE(CONVERT(VARCHAR(8), GETDATE(), 108), ':', '') + RIGHT('00000' + CAST(ROW_NUMBER() OVER (ORDER BY CHAPAS.CHAPA) AS VARCHAR(5)), 5) AS ID, 
		CHAPAS.CODCOLIGADA, 
		CHAPAS.CHAPA,  
	    CONVERT(DATE, GETDATE(),103), 
	    'S-2206', 
	    0,
	    2,
	    CONVERT(DATE, GETDATE(),103), 
	    3, 
	    1, 
	    0,
	    0, 
	    0, 
	    'FV_CONTRATOSEXP', 
		CONVERT(DATE, GETDATE(),103), 
		'FV_CONTRATOSEXP', 
		CONVERT(DATE, GETDATE(),103), 
	    0, 
	    0


	 FROM 
	 	CHAPAS,
	 	GCOLIGADA C (NOLOCK)
	 WHERE
	 	CHAPAS.CODCOLIGADA = C.CODCOLIGADA;

--- [[ Linhas acima validam se existe um XML com status < 3 para as pessoas da ETAPA 1 com a mesma data de alteração do evento a ser inserido, se existir, não poe um novo ]]

--- [[FIM ETAPA 2]]






--- [[ ETAPA 3 ]] 

--- [[ COMENTÁRIOS SOBRE: usar os dados da tabela PFCOMPL campo PRAZO, para gravar o novo período de experiencia na PFUNC campo FIMPRAZOCONTR ]]      

    UPDATE PFUNC
    SET FIMPRAZOCONTR = PFCOMPL.PRAZO
	FROM PFUNC (NOLOCK)
    INNER JOIN PFCOMPL (NOLOCK) ON PFUNC.CODCOLIGADA = PFCOMPL.CODCOLIGADA AND PFUNC.CHAPA = PFCOMPL.CHAPA
    WHERE (PFCOMPL.PRAZO IS NOT NULL OR PFCOMPL.PRAZO > CONVERT(DATE, GETDATE(),103))
      AND (PFUNC.CODSITUACAO <> 'D' OR PFUNC.DATADEMISSAO IS NULL)
      AND PFUNC.CODTIPO NOT IN ('T')
      AND PFUNC.TEMPRAZOCONTR = 1
      AND PFUNC.TIPOCONTRATOPRAZO IN ('D', 'E')
      AND PFUNC.FIMPRAZOCONTR = @ONTEM
      AND PFCOMPL.LOG2 IS NOT NULL
--- [[ linhas abaixo validam possível requisição de desligamento já solicitada no portal rh para não proceder para com a alteração do periodo de experiencia ]]
      AND PFUNC.CHAPA COLLATE Latin1_General_CI_AS NOT IN (
      														SELECT CHAPA 
      														FROM PortalRHPRD..zcrmportal_demissao_req AS PORTAL 
      														WHERE PORTAL.idemp = PFUNC.CODCOLIGADA AND PORTAL.chapa = PFUNC.CHAPA COLLATE Latin1_General_CI_AS);
--- [[ Linhas acima são controle de alterações onde é validado o backup dos dados na ETAPA 1, dentre demissão e fim de prazo na PFCOMPL maior que a data atual ]]      

--- [[FIM ETAPA 3]]




      

--- [[ ETAPA 4 ]] 

--- [[ COMENTÁRIOS SOBRE: quarto passo após atualizar a PFUNC campo FIMPRAZOCONTR e inserir o gatilho da alteração deve ser feita a remoção dos dados na tabela PFCOMPL, campo PRAZO ]] 

    UPDATE PFCOMPL
    SET PRAZO = NULL
    FROM PFCOMPL (NOLOCK)
    INNER JOIN PFUNC (NOLOCK) ON PFCOMPL.CODCOLIGADA = PFUNC.CODCOLIGADA AND PFCOMPL.CHAPA = PFUNC.CHAPA
    WHERE (PFCOMPL.PRAZO IS NOT NULL OR PFCOMPL.PRAZO > CONVERT(DATE, GETDATE(),103))
      AND PFCOMPL.RECMODIFIEDBY = 'FV_CONTRATOSEXP'
      AND CONVERT(DATE, GETDATE(),103) =  CONVERT(DATE, PFCOMPL.RECMODIFIEDON, 103)
      AND PFUNC.CODTIPO NOT IN ('T') 
      AND PFUNC.TEMPRAZOCONTR = 1
      AND PFUNC.TIPOCONTRATOPRAZO  IN ('D', 'E')
      AND PFCOMPL.LOG2 IS NOT NULL
--- [[ linhas abaixo validam possível requisição de desligamento já solicitada no portal rh para não proceder para com a alteração do periodo de experiencia ]]
      AND PFUNC.CHAPA COLLATE Latin1_General_CI_AS NOT IN (
      														SELECT CHAPA 
      														FROM PortalRHPRD..zcrmportal_demissao_req AS PORTAL 
      														WHERE PORTAL.idemp = PFUNC.CODCOLIGADA AND PORTAL.chapa = PFUNC.CHAPA COLLATE Latin1_General_CI_AS);
--- [[ Linhas acima são controle de alterações onde é validado o usuário de alteração, se o log esta preenchido, assim como outros de data de alteração ou prazo ]] 

 
END;
GO
