USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFSALDO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFSALDO] AS
SELECT CODCOLIGADA,IDSALDOESTOQUE,GRUPO,DATAGERACAO,TIPOGERACAO,STATUS,GETDATE() AS DTHRATUALIZACAO
FROM TSALDO
GO
