USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_view_base_tables]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_view_base_tables]
  @view_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(512)
-- build the select statement
set @cmd = N'select distinct o2.name ' +
     N'from ' + @db_name + N'.sys.objects o1, ' +
                @db_name + N'.sys.objects o2, ' +
                @db_name + N'.sys.schemas sch, ' +
                @db_name + N'.sys.sql_dependencies d ' +
       N'where o1.name = @view_name ' +
         N'and o1.schema_id = sch.schema_id ' +
         N'and sch.name = @schema_name ' +
         N'and d.object_id = o1.object_id ' +
         N'and o2.object_id = d.referenced_major_id ' +
         N'order by o2.name'
-- get the name(s) of the base table(s)
exec sp_executesql @cmd,N'@view_name sysname,@schema_name sysname',
   @view_name,@schema_name
END
 
GO
