USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tf_sqltext]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tf_sqltext]
        @sql_handle  varchar(130)
AS
BEGIN
  set nocount on
  declare  @bin_h   varbinary(64)
  declare  @stmt    nvarchar(1024)
  declare  @text    nvarchar(max)
  declare  @start   int
  declare  @leng    int
  declare  @schema  sysname
  declare  @edibuf  nvarchar(128)
  declare @result table
     ( offset  int          ,
       line    nvarchar(128) )
  set @schema = ( select schema_name(schema_id) from sys.objects
                    where object_id = @@PROCID )
  set @stmt = N'set @bin_h = [' + @schema +
               '].sap_bin_conv( @sql_handle )'
  exec sp_executesql
       @stmt ,
       N'@sql_handle varchar(130), @bin_h varbinary(64) output' ,
       @sql_handle = @sql_handle ,
       @bin_h = @bin_h output
  select @text = text from sys.dm_exec_sql_text(@bin_h)
  set @start = 1
  while ( @start <= len(@text) )
    begin
      set @leng = charindex(nchar(10), @text, @start)
      if ( @leng <= 0 )
        set @leng = 128
      else
        set @leng = @leng - @start + 1
      if ( @leng > 128 )
        set @leng = 128
      if ( @start + @leng > len(@text) )
        set @leng = len(@text) - @start + 1
      set @edibuf = substring(@text, @start, @leng)
      set @edibuf = RTRIM ( REPLACE(@edibuf,nchar(10),'') )
      set @edibuf = REPLACE (@edibuf,nchar(13),'')
      insert into @result
        values ( @start, @edibuf )
      set @start = @start + @leng
    end
  select line as 'SQLText' from @result order by offset asc
END
 
GO
