USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW015]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SAVW015]
AS
SELECT DISTINCT B.CODCOLIGADA, A.NUMERO, (A.TIPO+A.STATUSENCERRAMENTO) AS NUMEROREMESSA,
A.DESCONTO, A.TOTALNOTA, A.VALORLIQUIDO, A.TOTALDEPOSITO,
SUM(A.VALORLIQUIDO+CONVERT(NUMERIC,'0'+CONVERT(VARCHAR,A.TOTALDEPOSITO))) AS VALORTOTALREMESSA,
B.CODCOMPRADOR, B.CODPRESTADOR, 
( SELECT SUM(C.VALORREPASSEUPD) FROM  SZCONTROLREPASSE C
  WHERE C.NUMEROCONTA = B.NUMEROCONTA
  AND C.SEQUENCIALCONTA = B.SEQUENCIALCONTA
  AND C.CODCOLIGADA = B.CODCOLIGADA
  AND C.CODPRESTADOR <> C.CODPRESTPRINC
  AND B.STATUSNF <= 5 AND B.STATUSCONTA ='L'
  AND ( (B.NOTAFISCAL = A.NUMERO) OR
  (B.NOTAFISCALCONVENIO = A.NUMERO) OR
  (B.NUMERORECIBO = A.NUMERO) OR
  (B.NUMERORECIBOCONVENIO = A.NUMERO) )
  AND C.ESTORNADO IS NULL
) AS TOTALREPASSE,
A.DATAEMISSAO, A.STATUS, B.STATUSCONTA, SUM(VALORRECEBIDO) VRECEBIDO, PROCEDIMENTO
FROM SZNFRECIBO A, SZATENDIMENTO B
WHERE A.CODPACIENTE IS NOT NULL
AND A.PROCEDIMENTO = '2'
AND B.CODPACIENTE = A.CODPACIENTE
AND B.CODATENDIMENTO = A.CODATENDIMENTO
AND B.CODCOLIGADA = A.CODCOLIGADA
GROUP BY B.CODCOLIGADA, A.NUMERO,A.TOTALNOTA,A.TOTALDEPOSITO,A.DESCONTO,A.DATAEMISSAO,A.STATUS,A.VALORLIQUIDO,
B.STATUSCONTA, B.STATUSNF,A.TIPO,B.NUMEROCONTA,B.SEQUENCIALCONTA,
B.CODCOMPRADOR,B.CODPRESTADOR,A.STATUSENCERRAMENTO,
B.NOTAFISCAL, B.NOTAFISCALCONVENIO,B.NUMERORECIBO,B.NUMERORECIBOCONVENIO, PROCEDIMENTO
GO
