USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XHISTORICOCONTRATO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XHISTORICOCONTRATO]
AS
SELECT
  XLOGCONTRATO.COD_SIT_CONT,
  XLOGCONTRATO.COD_PESS_ULT_MNT COD_USU_ULT_MNT,
  XLOGCONTRATO.DAT_ULT_MNT DAT_SIT_CONT,
  XLOGCONTRATO.DAT_ULT_MNT,
  XLOGCONTRATO.NUM_CONT,
  XLOGCONTRATO.IDLOGCONTRATO NUM_SEQ_HIST_CONT,
  XLOGCONTRATO.OBS_HIST,
  XLOGCONTRATO.RECCREATEDBY,
  XLOGCONTRATO.RECCREATEDON,
  XLOGCONTRATO.RECMODIFIEDBY,
  XLOGCONTRATO.RECMODIFIEDON
FROM XLOGCONTRATO (NOLOCK)
GO
