USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_index_storpars]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_index_storpars]
  @index_name sysname,
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @num_btables int
-- if @table_name is not specified, get the name(s) of the table(s)
-- having an index called @index_name
if (@table_name = N'' or @table_name = N' ') and
   (@index_name <> N'' and @index_name <> N' ')
  begin
    create table #btables (name sysname)
    insert into #btables
      exec sap_get_tables_of_index @index_name, @schema_name, @db_name
    select @num_btables = count(name) from #btables
    if @num_btables = 0
      begin
        drop table #btables
        raiserror('Index not found.',16,1)
        RETURN
      end
    if @num_btables > 1
      begin
        drop table #btables
        raiserror('Multiple indexes found.',16,1)
        RETURN
      end
    select @table_name = name from #btables
    drop table #btables
  end
-- build the select statement
set @cmd = N'use [' + @db_name + N'] ' +
--           N'select i.name, ' +
--                  --N'indexproperty(o.id,i.name,''IsClustered''), ' +
--                  N'case i.indid ' +
--                    N'when 1 then 1 ' +
--                    N'else 0 ' +
--                  N'end, ' +
--                  N'filegroup_name(i.groupid), ' +
--                  --N'indexproperty(o.id,i.name,' +
--                  --              N'''IndexFillFactor''), ' +
--                  N'i.OrigFillFactor, ' +
--                  --N'indexproperty(o.id,i.name,''IsPadIndex'') ' +
--                  N'case (i.status & 256) ' +
--                    N'when 256 then 1 ' +
--                    N'else 0 ' +
--                  N'end ' +
--             N'from ' + N'dbo.sysobjects o, ' +
--                        N'dbo.sysusers u, ' +
--                        N'dbo.sysindexes i ' +
--               N'where o.name = ''' + @table_name + N''' ' +
--                 N'and o.uid = u.uid ' +
--                 N'and u.name = ''' + @schema_name + N''' ' +
--                 N'and i.id = o.id ' +
--                 N'and i.indid > 0 ' +
--                 N'and i.indid < 255 '
-- Workaround until SQL Server comes up with a solution for
-- the arithmetic overflow in sysindexes and sysfilegroups
           N'select i.name, ' +
                  N'case i.index_id ' +
                    N'when 1 then 1 ' +
                    N'else 0 ' +
                  N'end, ' +
                  N'g.groupname, ' +
                  N'i.fill_factor, ' +
                  N'i.is_padded  ' +
             N'from ' + N'sys.objects o, ' +
                        N'sys.schemas sch, ' +
                        N'sys.indexes i, ' +
                        N'dbo.sysfilegroups g  ' +
               N'where o.name = @table_name ' +
                 N'and o.schema_id = sch.schema_id ' +
                 N'and sch.name = @schema_name ' +
                 N'and i.object_id = o.object_id ' +
                 N'and g.groupid = i.data_space_id ' +
                 N'and i.index_id > 0 ' +
                 N'and i.index_id < 255 '
if @index_name <> N'' and @index_name <> N' '
  set @cmd = @cmd +  N'and i.name = @index_name '
--else
--  set @cmd = @cmd + N'order by i.name'
-- Now consider partitioning info (upper select would then
-- return now rows
set @cmd = @cmd + N' union ' +
           N'select i.name, ' +
                  N'case i.index_id ' +
                    N'when 1 then 1 ' +
                    N'else 0 ' +
                  N'end, ' +
                  N'ps.name, ' +
                  N'i.fill_factor, ' +
                  N'i.is_padded  ' +
             N'from ' + N'sys.objects o, ' +
                        N'sys.schemas sch, ' +
                        N'sys.indexes i, ' +
                        N'sys.partition_schemes ps  ' +
               N'where o.name = @table_name ' +
                 N'and o.schema_id = sch.schema_id ' +
                 N'and sch.name = @schema_name ' +
                 N'and i.object_id = o.object_id ' +
                 N'and ps.data_space_id = i.data_space_id ' +
                 N'and i.index_id > 0 ' +
                 N'and i.index_id < 255 '
if @index_name <> N'' and @index_name <> N' '
  set @cmd = @cmd +  N'and i.name = @index_name '
else
  set @cmd = @cmd + N'order by i.name'
-- get the storage parameters
exec sp_executesql @cmd,
    N'@table_name sysname,@schema_name sysname,@index_name sysname',
    @table_name,@schema_name,@index_name
END
 
GO
