USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_p_retrieve]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_p_retrieve]
    @cclass  char(1)
AS
  SET NOCOUNT ON
-- Initialize selection criteria
  DECLARE @cntr_tab TABLE
    (
      counter_id   int
    )
  INSERT INTO @cntr_tab
    SELECT counter_id FROM sap_perfcntr
      WHERE required like '%' + @cclass + '%'
-- Enter all the counter values ...
  INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select a.counter_id, '', b.cntr_value
          from sap_perfcntr a, master..sysperfinfo b
         where a.counter_id between 1000 and 1100
           and a.counter_id IN (select counter_id from @cntr_tab)
           and b.object_name collate database_default like
               replace(a.obj_name, 'SQLServer', '%') + '%'
           and a.cntr_name = b.counter_name collate database_default
  INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select a.counter_id, '_Total', b.cntr_value
          from sap_perfcntr a, master..sysperfinfo b
         where a.counter_id between 1100 and 1200
           and a.counter_id IN (select counter_id from @cntr_tab)
           and b.object_name collate database_default like
               replace(a.obj_name, 'SQLServer', '%') + '%'
           and a.cntr_name = b.counter_name collate database_default
           and b.instance_name = '_Total'
  INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select a.counter_id, b.instance_name, b.cntr_value
          from sap_perfcntr a, master..sysperfinfo b
         where a.counter_id between 1200 and 1300
           and a.counter_id IN (select counter_id from @cntr_tab)
           and b.object_name collate database_default like
               replace(a.obj_name, 'SQLServer', '%') + '%'
           and a.cntr_name = b.counter_name collate database_default
  INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select a.counter_id, b.instance_name, b.cntr_value
          from sap_perfcntr a, master..sysperfinfo b
         where a.counter_id between 1300 and 1400
           and a.counter_id IN (select counter_id from @cntr_tab)
           and b.object_name collate database_default like
               replace(a.obj_name, 'SQLServer', '%') + '%'
           and a.cntr_name = b.counter_name collate database_default
  IF ( exists (select * from @cntr_tab where counter_id = 2001) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          select 2001,
                 db_name(DbId) + ':' + cast (FileId AS varchar(4)),
                 NumberReads
            from ::fn_virtualfilestats(-1, -1)
  IF ( exists (select * from @cntr_tab where counter_id = 2002) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          select 2002,
                 db_name(DbId) + ':' + cast (FileId AS varchar(4)),
                 NumberWrites
            from ::fn_virtualfilestats(-1, -1)
  IF ( exists (select * from @cntr_tab where counter_id = 2003) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          select 2003,
                 db_name(DbId) + ':' + cast (FileId AS varchar(4)),
                 BytesRead
            from ::fn_virtualfilestats(-1, -1)
  IF ( exists (select * from @cntr_tab where counter_id = 2004) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          select 2004,
                 db_name(DbId) + ':' + cast (FileId AS varchar(4)),
                 BytesWritten
            from ::fn_virtualfilestats(-1, -1)
  IF ( exists (select * from @cntr_tab where counter_id = 2005) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          select 2005,
                 db_name(DbId) + ':' + cast (FileId AS varchar(4)),
                 IoStallMS
            from ::fn_virtualfilestats(-1, -1)
  IF ( exists (select * from @cntr_tab where counter_id = 2006) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          select 2006,
                 db_name(DbId) + ':' + cast (FileId AS varchar(4)),
                 IoStallReadMS
            from ::fn_virtualfilestats(-1, -1)
  IF ( exists (select * from @cntr_tab where counter_id = 2007) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          select 2007,
                 db_name(DbId) + ':' + cast (FileId AS varchar(4)),
                 IoStallWriteMS
            from ::fn_virtualfilestats(-1, -1)
  IF ( exists (select * from @cntr_tab where counter_id = 3001) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      select 3001, '', @@CPU_BUSY
  IF ( exists (select * from @cntr_tab where counter_id = 3002) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      select 3002, '', @@IO_BUSY
  IF ( exists (select * from @cntr_tab where counter_id = 3003) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      select 3003, '', @@IDLE
  IF ( exists (select * from @cntr_tab where counter_id = 3004) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      select 3004, '', @@PACK_RECEIVED
  IF ( exists (select * from @cntr_tab where counter_id = 3005) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      select 3005, '', @@PACK_SENT
  IF ( exists (select * from @cntr_tab where counter_id = 3006) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      select 3006, '', @@PACKET_ERRORS
  IF ( exists (select * from @cntr_tab where counter_id = 3007) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      select 3007, '', @@TOTAL_READ
  IF ( exists (select * from @cntr_tab where counter_id = 3008) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      select 3008, '', @@TOTAL_WRITE
  IF ( exists (select * from @cntr_tab where counter_id = 3009) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      select 3009, '', @@TOTAL_ERRORS
  IF ( exists (select * from @cntr_tab where counter_id = 3010) )
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      select 3010, '', @@CONNECTIONS
/*--- Wait stats : needs to be done in two steps, because most ------*/
/*--- counters where added later and did not fit into the      ------*/
/*--- available counter_id interval.                           ------*/
  IF ( exists ( select * from @cntr_tab
                  where counter_id BETWEEN 3100 AND 3200 ) )
  BEGIN
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      SELECT a.counter_id, 'Requests',
             cast(b.waiting_tasks_count as bigint)
        FROM sap_perfcntr a, sys.dm_os_wait_stats b
        WHERE a.counter_id BETWEEN 3100 AND 3200
          AND a.counter_id IN ( select counter_id from @cntr_tab )
          AND a.cntr_name = b.wait_type collate database_default
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      SELECT a.counter_id, 'Wait Time', cast(b.wait_time_ms as bigint)
        FROM sap_perfcntr a, sys.dm_os_wait_stats b
        WHERE a.counter_id BETWEEN 3100 AND 3200
          AND a.counter_id IN ( select counter_id from @cntr_tab )
          AND a.cntr_name = b.wait_type collate database_default
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      SELECT a.counter_id, 'Signal Wait Time',
             cast(b.signal_wait_time_ms as bigint)
        FROM sap_perfcntr a, sys.dm_os_wait_stats b
        WHERE a.counter_id BETWEEN 3100 AND 3200
          AND a.counter_id IN ( select counter_id from @cntr_tab )
          AND a.cntr_name = b.wait_type collate database_default
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      SELECT a.counter_id, 'Requests',
             cast(b.waiting_tasks_count as bigint)
        FROM sap_perfcntr a, sys.dm_os_wait_stats b
        WHERE a.counter_id BETWEEN 3600 AND 3800
          AND a.counter_id IN ( select counter_id from @cntr_tab )
          AND a.cntr_name = b.wait_type collate database_default
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      SELECT a.counter_id, 'Wait Time', cast(b.wait_time_ms as bigint)
        FROM sap_perfcntr a, sys.dm_os_wait_stats b
        WHERE a.counter_id BETWEEN 3600 AND 3800
          AND a.counter_id IN ( select counter_id from @cntr_tab )
          AND a.cntr_name = b.wait_type collate database_default
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      SELECT a.counter_id, 'Signal Wait Time',
             cast(b.signal_wait_time_ms as bigint)
        FROM sap_perfcntr a, sys.dm_os_wait_stats b
        WHERE a.counter_id BETWEEN 3600 AND 3800
          AND a.counter_id IN ( select counter_id from @cntr_tab )
          AND a.cntr_name = b.wait_type collate database_default
  END
/*--- Data for text storage ----------------------------------------*/
  DECLARE  @id    int
  DECLARE  @proc  sysname
  IF ( exists (select * from @cntr_tab where counter_id = 3901) )
    BEGIN
      DECLARE  @pv  varchar(64)
      SET @pv = CAST(SERVERPROPERTY('ProductVersion') AS varchar(64))
      SET @proc = OBJECT_SCHEMA_NAME(@@PROCID) + '.sap_store_text'
      EXEC @proc
        @id   =  @id     OUTPUT  ,
        @area = 'SERVERPROPERTY' ,
        @key  = 'ProductVersion' ,
        @data =  @pv
      INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        SELECT 3901 ,
               ' '  ,
               cast(@id as bigint)
    END
  IF ( exists (select * from @cntr_tab where counter_id = 3902) )
    BEGIN
      DECLARE  @nb    nvarchar(64)
      SET @nb = CAST(SERVERPROPERTY('ComputerNamePhysicalNetBIOS')
                     AS nvarchar(64))
      SET @proc = OBJECT_SCHEMA_NAME(@@PROCID) + '.sap_store_text'
      EXEC @proc
        @id   =  @id     OUTPUT  ,
        @area = 'SERVERPROPERTY' ,
        @key  = 'NetBiosHost'    ,
        @data =  @nb
      INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        SELECT 3902 ,
               ' '  ,
               cast(@id as bigint)
    END
  IF ( exists (select * from @cntr_tab where counter_id = 3903) )
    BEGIN
      DECLARE  @sn    nvarchar(64)
      SET @sn = CAST(SERVERPROPERTY('ServerName')
                     AS nvarchar(64))
      SET @proc = OBJECT_SCHEMA_NAME(@@PROCID) + '.sap_store_text'
      EXEC @proc
        @id   =  @id     OUTPUT  ,
        @area = 'SERVERPROPERTY' ,
        @key  = 'ServerName'     ,
        @data =  @sn
      INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        SELECT 3903 ,
               ' '  ,
               cast(@id as bigint)
    END
  IF ( exists (select * from @cntr_tab where counter_id = 3201) )
    BEGIN
      INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select 3201, name, cast(value_in_use as bigint)
          from sys.configurations
    END
  IF ( exists (select * from @cntr_tab where counter_id = 3202) )
    BEGIN
      INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select 3202, ' ', CNTR_VALUE from #perfinfo
          where COUNTER_ID = 3901
    END
  -- Database options
  BEGIN try
    IF ( exists (select * from @cntr_tab where counter_id
              between 3203 and 3230 ) )  -- Range reserved for db_options
      BEGIN
        -- Use sap_tf_dboptions to fill values for each database
        declare @dbname sysname
        declare dbs cursor for select name from sys.databases
        OPEN dbs
        FETCH next FROM dbs INTO @dbname
        WHILE (@@fetch_status <> -1)
        BEGIN
          INSERT INTO #perfinfo (COUNTER_ID,INST_NAME,CNTR_VALUE)
            SELECT opt_collcntr,@dbname,opt_value
              from sap_tf_dboptions( @dbname )
          FETCH next FROM dbs INTO @dbname
        END
        CLOSE dbs
        DEALLOCATE dbs
      END
  END try
  BEGIN catch
  END catch
  -- Database decimal compression
  BEGIN try
    create table #dbs_dec ( dbname sysname,onoff nvarchar(10) )
    insert into #dbs_dec
      EXEC sp_db_vardecimal_storage_format
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      SELECT 3240,dbname,
          CASE onoff
            WHEN 'ON' then 1
            ELSE 0
          END FROM #dbs_dec
  END try
  BEGIN catch
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      SELECT 3240,name, 0
        FROM sys.databases
  END catch
  -- File statistics
  IF (exists (select * from @cntr_tab where counter_id between 3301 and 3399))
  BEGIN try
    -- 3301 Size MB
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          SELECT 3301,
                 db.name + ':' + cast (mf.file_id AS varchar(4)),
                 mf.size/128
          FROM sys.master_files as mf join
               sys.databases as db
          ON mf.database_id = db.database_id
    -- 3302 Used MB
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          SELECT 3302,
                 db.name + ':' + cast (mf.file_id AS varchar(4)),
                 usedsizemb = case
                   when fileproperty(mf.name,'SpaceUsed') < mf.size
                   then fileproperty(mf.name,'SpaceUsed')/128
                   else mf.size/128
                 end
          FROM sys.master_files as mf join
               sys.databases as db
          ON mf.database_id = db.database_id
          WHERE mf.type <> 1
    -- 3303 Max.size[MB]
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          SELECT 3303,
                 db.name + ':' + cast (mf.file_id AS varchar(4)),
                 case when mf.max_size =  -1
                      then -1
                      else mf.max_size/128
                 end
          FROM sys.master_files as mf join
               sys.databases as db
          ON mf.database_id = db.database_id
    -- 3305 Autogrowth[MB]
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          SELECT 3305,
                 db.name + ':' + cast (mf.file_id AS varchar(4)),
                 case when mf.is_percent_growth = 1
                      then 0 else mf.growth/128 end
          FROM sys.master_files as mf join
               sys.databases as db
          ON mf.database_id = db.database_id
    -- 3306 Autogrowth[%]
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          SELECT 3306,
                 db.name + ':' + cast (mf.file_id AS varchar(4)),
                 case when mf.is_percent_growth = 1
                      then mf.growth else 0 end
          FROM sys.master_files as mf join
               sys.databases as db
          ON mf.database_id = db.database_id
  END try
  BEGIN catch
  END catch
  -- Use a separate try/catch for getting the Device free[MB]
  -- in case of problems with xp_fixeddrives
  IF ( exists (select * from @cntr_tab where counter_id = 3304) )
  BEGIN try
    create table #xpfixeddrives
    (
      xpdrive  nvarchar(5)    null,
      xpSize   bigint         null
    )
    INSERT INTO #xpfixeddrives exec master..xp_fixeddrives
    -- 3304 Device free[MB]
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
          SELECT 3304,
                 db.name + ':' + cast (mf.file_id AS varchar(4)),
                 fixd.xpSize
          FROM sys.master_files as mf join
               sys.databases as db
          ON mf.database_id = db.database_id join
               #xpfixeddrives as fixd
          ON upper(substring(mf.physical_name,1,1)) =
                upper(substring(fixd.xpdrive,1,1))
  END try
  BEGIN catch
  END catch
  -- Database analysis (Detail and sizes):
  IF (exists (select * from @cntr_tab
                where counter_id between 3400 and 3450))
  BEGIN
    INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
      SELECT counter_id - 100000,
             inst_name,
             cntr_value
        FROM sap_perfinfo
        WHERE counter_id between 103400 and 103450
  END
 
GO
