USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_schema_size_info]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_schema_size_info]
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
declare @schema_id int
declare @schema_id_cnv nvarchar(10)
declare @cmd nvarchar(1024)
declare @pstr nvarchar(256)
declare @reserved decimal(15)
declare @data decimal(15)
declare @index decimal(15)
declare @used decimal(15)
declare @unused decimal(15)
declare @numtabs int
declare @numinds int
declare @numprocs int
-- get the id of the schema
set @cmd = N'select @schema_id = schema_id ' +
             N'from [' + @db_name + N'].sys.schemas ' +
               N'where name = ''' + @schema_name + N''''
set @pstr = N'@schema_id int output'
exec sp_executesql @cmd, @pstr, @schema_id output
set @schema_id_cnv = convert(nvarchar,@schema_id)
-- get reserved, used and data size from sysindexes
set @cmd = N'select ' +
   N'@reserved = sum(a.total_pages) * 8,' +
   N'@used = sum(a.used_pages) * 8,' +
   N'@data = ' +
   N'sum(CASE ' +
    N'When it.internal_type IN (202,204) Then 0 ' +
    N'When a.type <> 1 Then a.used_pages ' +
    N'When p.index_id < 2 Then a.data_pages ' +
    N'Else 0 ' +
  N'END) * 8 ' +
N'from [' + @db_name + N'].sys.partitions p ' +
    N'join ' +
N'[' + @db_name + N'].sys.objects so ' +
    N'on so.object_id = p.object_id ' +
    N'join ' +
N'[' + @db_name + N'].sys.allocation_units a ' +
    N'on p.partition_id = a.container_id ' +
    N'left join ' +
N'[' + @db_name + N'].sys.internal_tables it ' +
    N'on p.object_id = it.object_id ' +
   N'where so.schema_id = ' + @schema_id_cnv +
   N' and so.type = ''U'''
set @pstr = N'@reserved decimal(15) output,' +
            N'@used decimal(15) output,' +
            N'@data decimal(15) output'
exec sp_executesql @cmd, @pstr,
    @reserved output,
    @used output,
    @data output
set @index = @used - @data
set @unused = @reserved - @used
-- count objects
set @cmd = N'select @numtabs = count(name) ' +
               N'from [' + @db_name + N'].sys.objects ' +
                 N'where type = ''U'' ' +
                   N'and schema_id = ' + @schema_id_cnv
select @pstr = N'@numtabs int output'
exec sp_executesql @cmd, @pstr, @numtabs output
set @cmd = N'select @numinds = count(i.name) ' +
    N'from [' + @db_name + N'].sys.objects o join [' +
                @db_name + N'].sys.indexes i ' +
        N'on o.object_id = i.object_id where ' +
           N'o.type = ''U'' and ' +
           N'o.schema_id = ' + @schema_id_cnv
select @pstr = N'@numinds int output'
exec sp_executesql @cmd, @pstr, @numinds output
set @cmd = N'select @numprocs = count(name) ' +
               N'from [' + @db_name + N'].sys.objects ' +
                 N'where type = ''P'' ' +
                   N'and schema_id = ' + @schema_id_cnv
select @pstr = N'@numprocs int output'
exec sp_executesql @cmd, @pstr, @numprocs output
-- return the information
select @reserved as 'reserved',
       @numtabs as 'numtabs', @data as 'tabdata',
       @numinds as 'numinds', @index as 'inddata',
       @unused as 'unused',
       @numprocs as 'numprocs'
END
 
GO
