USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_RetornaSecoesDesabilitadas]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RetornaSecoesDesabilitadas]
( @BUKRS INT
)
AS
BEGIN
  SET NOCOUNT ON
  DECLARE @COLIGADA INT
  
  SELECT @COLIGADA = CASE WHEN @BUKRS = 1000
                          THEN 1
                          ELSE 0
                     END 
                    
  SELECT BUKRS = TMP.COLIGADA
       , PLANS = TMP.CODSECAO
       , BEGDA = TMP.DATAINICIO
       , ENDDA = TMP.DATAFIM
    FROM PTMP_DESABILITASECAOSAP TMP                       
   WHERE TMP.COLIGADA   = @COLIGADA
     AND TMP.PROCESSADO = 'N'
END

GO
