USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_columnlist]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************* sap_get_columnlist *************************/
create procedure [dbo].[sap_get_columnlist]  @tabid int = 0
as
begin
  select name,type from syscolumns where id = @tabid
end
 
GO
