USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[FLANRAT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FLANRAT] AS
SELECT CCONTRAT.CODCOLIGADA, CCONTRAT.IDCONT AS IDLANCONT, FLAN.IDLAN, CCONT.TIPO, 4 AS INCOUBX,
	   CPARTIDA.CODCOLDEBITO AS CODCOLCONTA, CPARTIDA.DEBITO AS CODCONTA,
	   CCONTRAT.CODCOLCONTAGER, CCONTRAT.CODCONTAGER, CCONTRAT.VALOR
FROM CCONTRAT
JOIN CCONT ON CCONT.CODCOLIGADA = CCONTRAT.CODCOLIGADA AND CCONT.IDCONT = CCONTRAT.IDCONT
JOIN CPARTIDA  ON CPARTIDA.CODCOLIGADA = CCONT.CODCOLIGADA AND CPARTIDA.IDPARTIDA = CCONT.IDPARTIDA
JOIN CCONTA    ON CCONTA.CODCOLIGADA = CPARTIDA.CODCOLDEBITO AND CCONTA.CODCONTA = CPARTIDA.DEBITO
JOIN FLAN      ON FLAN.CODCOLIGADA= CCONT.CODCOLIGADA AND FLAN.IDOPERACAO = CCONT.IDOPERACAO
JOIN COPERACAO ON COPERACAO.CODCOLIGADA = CCONT.CODCOLIGADA AND COPERACAO.IDOPERACAO = CCONT.IDOPERACAO
WHERE CCONT.TIPO IN (1,3) AND CCONTA.RATEIO = 1 AND FLAN.MODELOCONTABILIZACAO <>1 AND COPERACAO.ORIGEM='FLAN'
UNION
SELECT CCONTRAT.CODCOLIGADA, CCONTRAT.IDCONT AS IDLANCONT, FLAN.IDLAN, CCONT.TIPO, 4 AS INCOUBX,
	   CPARTIDA.CODCOLCREDITO AS CODCOLCONTA, CPARTIDA.CREDITO AS CODCONTA,
       CCONTRAT.CODCOLCONTAGER, CCONTRAT.CODCONTAGER, CCONTRAT.VALOR
FROM CCONTRAT JOIN CCONT ON CCONT.CODCOLIGADA = CCONTRAT.CODCOLIGADA
AND CCONT.IDCONT = CCONTRAT.IDCONT
JOIN CPARTIDA ON CPARTIDA.CODCOLIGADA = CCONT.CODCOLIGADA AND CPARTIDA.IDPARTIDA = CCONT.IDPARTIDA
JOIN CCONTA   ON CCONTA.CODCOLIGADA = CPARTIDA.CODCOLCREDITO AND CCONTA.CODCONTA = CPARTIDA.CREDITO
JOIN FLAN     ON FLAN.CODCOLIGADA= CCONTA.CODCOLIGADA AND FLAN.IDOPERACAO = CCONT.IDOPERACAO
JOIN COPERACAO ON COPERACAO.CODCOLIGADA = CCONT.CODCOLIGADA AND COPERACAO.IDOPERACAO = CCONT.IDOPERACAO
WHERE CCONT.TIPO IN (2,3) AND CCONTA.RATEIO = 1  AND FLAN.MODELOCONTABILIZACAO <>1 AND COPERACAO.ORIGEM='FLAN'
UNION
SELECT CCONTRAT.CODCOLIGADA, CCONTRAT.IDCONT AS IDLANCONT, FLANBAIXA.IDLAN, CCONT.TIPO, 3 AS INCOUBX,
	   CPARTIDA.CODCOLDEBITO AS CODCOLCONTA, CPARTIDA.DEBITO AS CODCONTA,
	   CCONTRAT.CODCOLCONTAGER, CCONTRAT.CODCONTAGER, CCONTRAT.VALOR
FROM CCONTRAT
JOIN CCONT ON CCONT.CODCOLIGADA = CCONTRAT.CODCOLIGADA AND CCONT.IDCONT = CCONTRAT.IDCONT
JOIN CPARTIDA  ON CPARTIDA.CODCOLIGADA = CCONT.CODCOLIGADA AND CPARTIDA.IDPARTIDA = CCONT.IDPARTIDA
JOIN CCONTA    ON CCONTA.CODCOLIGADA = CPARTIDA.CODCOLDEBITO AND CCONTA.CODCONTA = CPARTIDA.DEBITO
JOIN FLANBAIXA ON FLANBAIXA.CODCOLIGADA= CCONT.CODCOLIGADA AND FLANBAIXA.IDOPERACAO = CCONT.IDOPERACAO
JOIN COPERACAO ON COPERACAO.CODCOLIGADA = CCONT.CODCOLIGADA AND COPERACAO.IDOPERACAO = CCONT.IDOPERACAO
WHERE CCONT.TIPO IN (1,3) AND CCONTA.RATEIO = 1 AND FLANBAIXA.MODELOCONTABILIZACAO <>1 AND COPERACAO.ORIGEM='FLANBAIXA'
UNION
SELECT CCONTRAT.CODCOLIGADA, CCONTRAT.IDCONT AS IDLANCONT, FLANBAIXA.IDLAN, CCONT.TIPO, 3 AS INCOUBX,
	   CPARTIDA.CODCOLCREDITO AS CODCOLCONTA, CPARTIDA.CREDITO AS CODCONTA,
	   CCONTRAT.CODCOLCONTAGER, CCONTRAT.CODCONTAGER, CCONTRAT.VALOR
FROM CCONTRAT JOIN CCONT ON CCONT.CODCOLIGADA = CCONTRAT.CODCOLIGADA AND CCONT.IDCONT = CCONTRAT.IDCONT
JOIN CPARTIDA  ON CPARTIDA.CODCOLIGADA = CCONT.CODCOLIGADA AND CPARTIDA.IDPARTIDA = CCONT.IDPARTIDA
JOIN CCONTA    ON CCONTA.CODCOLIGADA = CPARTIDA.CODCOLCREDITO AND CCONTA.CODCONTA = CPARTIDA.CREDITO
JOIN FLANBAIXA ON FLANBAIXA.CODCOLIGADA= CCONT.CODCOLIGADA AND FLANBAIXA.IDOPERACAO = CCONT.IDOPERACAO
JOIN COPERACAO ON COPERACAO.CODCOLIGADA = CCONT.CODCOLIGADA AND COPERACAO.IDOPERACAO = CCONT.IDOPERACAO
WHERE CCONT.TIPO IN (2,3) AND CCONTA.RATEIO = 1  AND FLANBAIXA.MODELOCONTABILIZACAO <>1 AND COPERACAO.ORIGEM='FLANBAIXA'
UNION
SELECT A.CODCOLIGADA, A.IDLANCONT, A.IDLAN, A.TIPO, A.INCOUBX,
	   A.CODCOLCONTA, A.CODCONTA, A.CODCOLCONTAGER, A.CODCONTAGER, A.VALOR
FROM FLANRATOLD A, FLAN B
WHERE A.CODCOLIGADA=B.CODCOLIGADA AND A.IDLAN=B.IDLAN AND A.INCOUBX=4 AND B.MODELOCONTABILIZACAO=1
UNION
SELECT A.CODCOLIGADA, A.IDLANCONT, A.IDLAN, A.TIPO, A.INCOUBX,
	   A.CODCOLCONTA, A.CODCONTA, A.CODCOLCONTAGER, A.CODCONTAGER, A.VALOR
FROM FLANRATOLD A, FLAN B
WHERE A.CODCOLIGADA=B.CODCOLIGADA AND A.IDLAN=B.IDLAN AND A.INCOUBX=3 AND B.MODELOCONTABILIZACAOBAIXA=1
GO
