USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[gera_fks_tabela]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Stored Procedure dbo.gera_fks_tabela    Script Date: 6/4/2001 16:24:15 ******/


/* GERA FOREGIN KEYS DA TABELA */

CREATE  procedure [dbo].[gera_fks_tabela]
    @tabela varchar(30),@sgbd varchar(30)
as

set nocount on

declare  @objid int,@indid int,@cnstdes varchar(255),@cnstname varchar(30),@tptr varbinary(16)
	,@i int,@thiskey varchar(32),@cnstid int,@cnststatus int,@numkeys int,@rkeyid int
	,@fkeyid int,@dbname varchar(30)

declare  @fkey1  int ,@fkey2  int ,@fkey3  int ,@fkey4  int ,@fkey5  int
        ,@fkey6  int ,@fkey7  int ,@fkey8  int ,@fkey9  int ,@fkey10 int
        ,@fkey11 int ,@fkey12 int ,@fkey13 int ,@fkey14 int ,@fkey15 int
        ,@fkey16 int

declare  @rkey1  int ,@rkey2  int ,@rkey3  int ,@rkey4  int ,@rkey5  int
        ,@rkey6  int ,@rkey7  int ,@rkey8  int ,@rkey9  int ,@rkey10 int
        ,@rkey11 int ,@rkey12 int ,@rkey13 int ,@rkey14 int ,@rkey15 int
        ,@rkey16 int

declare @bitDisabled           integer
       ,@bitNotForReplication  integer


if not exists (select 1 from sysobjects where id=object_id(@tabela))
begin
  print '/**** TABELA NÃO EXISTE ****/'
  return(0)
end

declare @str varchar(8000)

declare @t1 varchar(30), @t2 varchar(30), @fk varchar(30), @c1 varchar(2000), @c2 varchar (2000)

select  @bitDisabled= 0x4000,@bitNotForReplication= 0x200000


if @tabela like '%.%.%'
   and  substring(@tabela, 1, charindex('.', @tabela) - 1) <> db_name()
   begin
    raiserror(15250,-1,-1)
    return (1)
   end

select @objid = object_id(@tabela)

if @objid is NULL
   begin
    select @dbname=db_name()
    raiserror(15009,-1,-1,@tabela,@dbname)
    return (1)
   end


declare cnst_csr insensitive cursor for
     select constid,object_name(constid) from sysreferences where (fkeyid = @objid)

create table #spcnsttab
(
    rowid               int           NOT NULL  identity
   ,cnst_type           varchar(48)   NOT NULL
   ,cnst_name           varchar(30)   NOT NULL
   ,cnst_nonblank_name  varchar(30)   NOT NULL
   ,cnst_status         integer           NULL
   ,cnst_keys           text              NULL
   ,constid             int           NOT NULL
)

create table #spcnstkeys
(
    cnst_colid int NOT NULL
)


open cnst_csr

fetch cnst_csr into @cnstid, @cnstname

while @@fetch_status >= 0
   begin
     select @cnstdes = 'FOREIGN KEY'
     select
       @fkeyid = fkeyid, @rkeyid = rkeyid,
       @fkey1=fkey1, @fkey2=fkey2, @fkey3=fkey3,
       @fkey4=fkey4, @fkey5=fkey5, @fkey6=fkey6,
       @fkey7=fkey7, @fkey8=fkey8, @fkey9=fkey9,
       @fkey10=fkey10, @fkey11=fkey11,
       @fkey12=fkey12, @fkey13=fkey13,
       @fkey14=fkey14, @fkey15=fkey15,
       @fkey16=fkey16,
       @rkey1=rkey1, @rkey2=rkey2, @rkey3=rkey3,
       @rkey4=rkey4, @rkey5=rkey5, @rkey6=rkey6,
       @rkey7=rkey7, @rkey8=rkey8, @rkey9=rkey9,
       @rkey10=rkey10, @rkey11=rkey11,
       @rkey12=rkey12, @rkey13=rkey13,
       @rkey14=rkey14, @rkey15=rkey15,
       @rkey16=rkey16
     from  sysreferences where constid = @cnstid

     insert into #spcnstkeys values(@fkey1)
     insert into #spcnstkeys values(@fkey2)
     insert into #spcnstkeys values(@fkey3)
     insert into #spcnstkeys values(@fkey4)
     insert into #spcnstkeys values(@fkey5)
     insert into #spcnstkeys values(@fkey6)
     insert into #spcnstkeys values(@fkey7)
     insert into #spcnstkeys values(@fkey8)
     insert into #spcnstkeys values(@fkey9)
     insert into #spcnstkeys values(@fkey10)
     insert into #spcnstkeys values(@fkey11)
     insert into #spcnstkeys values(@fkey12)
     insert into #spcnstkeys values(@fkey13)
     insert into #spcnstkeys values(@fkey14)
     insert into #spcnstkeys values(@fkey15)
     insert into #spcnstkeys values(@fkey16)

     delete from #spcnstkeys where cnst_colid = 0

    -- create unique index ind1 on #spcnstkeys(cnst_colid)

     execute('declare fkey_curs cursor for select cnst_colid from #spcnstkeys for read only')

     open fkey_curs

     fetch fkey_curs into @i

     select @numkeys=1


     while @@fetch_status >= 0
        begin
          select @thiskey = col_name(@fkeyid, @i)

          if @numkeys = 1
             begin
              insert into #spcnsttab (cnst_type,cnst_name,cnst_nonblank_name,cnst_keys,constid)
                 values (@cnstdes, @cnstname,@cnstname, @thiskey,@cnstid)
                 select @tptr = textptr(cnst_keys) from #spcnsttab
             end
          else
             begin
               select @thiskey = ', ' + @thiskey
               if @tptr is not null
                   updatetext #spcnsttab.cnst_keys @tptr null null @thiskey
             end
          select @numkeys=@numkeys+1
          fetch fkey_curs into @i
        end
     truncate table #spcnstkeys

     --drop index #spcnstkeys.ind1

     deallocate fkey_curs

     insert into #spcnstkeys values(@rkey1)
     insert into #spcnstkeys values(@rkey2)
     insert into #spcnstkeys values(@rkey3)
     insert into #spcnstkeys values(@rkey4)
     insert into #spcnstkeys values(@rkey5)
     insert into #spcnstkeys values(@rkey6)
     insert into #spcnstkeys values(@rkey7)
     insert into #spcnstkeys values(@rkey8)
     insert into #spcnstkeys values(@rkey9)
     insert into #spcnstkeys values(@rkey10)
     insert into #spcnstkeys values(@rkey11)
     insert into #spcnstkeys values(@rkey12)
     insert into #spcnstkeys values(@rkey13)
     insert into #spcnstkeys values(@rkey14)
     insert into #spcnstkeys values(@rkey15)
     insert into #spcnstkeys values(@rkey16)

     delete from #spcnstkeys where cnst_colid = 0

    -- create unique index ind1 on #spcnstkeys(cnst_colid)

     insert into #spcnsttab (cnst_type,cnst_name,cnst_nonblank_name,cnst_keys,constid)
     select ' ' ,' ' ,@cnstname,'',@cnstid from  sysreferences where constid = @cnstid


     select @tptr = textptr(cnst_keys) from #spcnsttab
     execute('declare rkey_curs cursor for select cnst_colid from #spcnstkeys for read only')

     open rkey_curs
     fetch rkey_curs into @i

     select @numkeys=1


     while @@fetch_status >= 0
        begin
           select @thiskey = col_name(@rkeyid, @i)

           if @numkeys <> 1
             select @thiskey = ', ' + @thiskey

           if @tptr is not null
             updatetext #spcnsttab.cnst_keys @tptr null null @thiskey

           select @numkeys=@numkeys+1

           fetch rkey_curs into @i
         end --loop


     truncate table #spcnstkeys

     --drop index #spcnstkeys.ind1

     deallocate rkey_curs
     fetch cnst_csr into @cnstid, @cnstname
   end


update #spcnsttab set cnst_status = cs.status from  #spcnsttab tt1 ,sysconstraints cs
where cs.constid = OBJECT_ID( tt1.cnst_name)

update #spcnsttab set cnst_status = 0 where cnst_status is null

CREATE TABLE #saida
        (TAB1 VARCHAR(30) ,
         TAB2 VARCHAR(30)  ,
         FKNAME     VARCHAR(30)  ,
         TAB1FIELDS VARCHAR(2000),
         TAB2FIELDS VARCHAR(2000))


if (select count(*) from #spcnsttab) <> 0
 insert into #saida
   select (select object_name(fkeyid) from sysreferences where constid=#spcnsttab.constid),
   (select object_name(rkeyid) from sysreferences where constid=#spcnsttab.constid),cnst_name,
   convert(varchar(2000),cnst_keys),
   (select convert(varchar(2000),i.cnst_keys) from #spcnsttab i where cnst_type=' ' and i.constid=#spcnsttab.constid)
 from #spcnsttab
 where cnst_type='FOREIGN KEY'
 order by  cnst_nonblank_name ,cnst_name desc

deallocate cnst_csr

declare cur cursor for select tab1,tab2,fkname,tab1fields,tab2fields from #saida
open cur

fetch next from cur into @t1,@t2,@fk,@c1,@c2

while @@fetch_status=0
begin
  set @str = 'ALTER TABLE ' + @t1 + ' ADD CONSTRAINT ' + @fk + ' FOREIGN KEY (' + @c1 + ') REFERENCES ' + @t2 + '(' + @c2 + ')'
  if @sgbd='SQL'
  begin
    print @str
    print 'GO'
  end
  else
    print @str + ';'
  fetch next from cur into @t1,@t2,@fk,@c1,@c2
end
close cur
deallocate cur

return (0)




GO
