USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_BW_OCORRENCIAS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_BW_OCORRENCIAS] AS 

SELECT * FROM OUTSERV_VW_OCORRENCIA3 ('1','2024-09-16','2045-12-31')
UNION ALL
SELECT * FROM OUTSERV_VW_OCORRENCIA3 ('4','2024-09-16','2045-12-31')
UNION ALL
SELECT * FROM OUTSERV_VW_OCORRENCIA3 ('5','2024-09-16','2045-12-31')

GO
