USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_rz20_dbbackup]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_rz20_dbbackup]
AS
BEGIN
select  convert ( char(10), database_name),
        datediff( day,backup_start_date,getdate()), type
from msdb..backupset
where database_name = 'master' and
  backup_start_date =
  ( select max( backup_start_date)
    from msdb..backupset bu1
     where database_name = 'master' and type <> 'L' )
union
select  convert ( char(10), database_name),
        datediff( day,backup_start_date,getdate()), type
from msdb..backupset
where database_name = 'msdb' and
  backup_start_date =
  ( select max( backup_start_date)
    from msdb..backupset bu1
    where database_name = 'msdb' and type <> 'L' )
union
select convert ( char(10), database_name) ,
       datediff( day,backup_start_date,getdate()), type
from msdb..backupset
where database_name = db_name() and
  backup_start_date =
   ( select max( backup_start_date)
     from msdb..backupset bu1
     where database_name = db_name() and type <> 'L' )
end
 
GO
