USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_density]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_density]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @collist nvarchar(3000),
  @numrows decimal(15)
AS
BEGIN
set nocount on
-- declare locale variables
declare @object_type char(2)
declare @cmd nvarchar(4000)
declare @pstr nvarchar(256)
-- check whether the table exists
-- build the select statement
set @cmd = N'use ' + @db_name +
           N' select @object_type = o.type ' +
             N'from ' + @db_name + N'.sys.objects o ' +
               N'where o.name = @table_name ' +
                 N'and schema_name(o.schema_id) = @schema_name'
set @pstr = N'@object_type char(2) output,' +
            N'@table_name sysname,@schema_name sysname'
-- get the type
exec sp_executesql @cmd, @pstr, @object_type output,
        @table_name,@schema_name
if @object_type is null or @object_type not in ('U', 'S')
  begin
    raiserror('Table not found.',16,1)
    RETURN
  end
-- build the select statement
set @cmd = N'select ' +
           N'density = ' +
             N'sum(power(convert(decimal(20),t.colcount),2)) / ' +
             N'power(convert(decimal(20),' +
                             convert(nvarchar,@numrows) + N'),2), ' +
           N'tuples = count(*), ' +
           N'average = avg(t.colcount), ' +
           N'standarddev = stdevp(t.colcount), ' +
           N'maximum = max(t.colcount), ' +
           N'minimum = min(t.colcount) ' +
             N'from (select colcount = convert(decimal(20),count(*)) ' +
                     N'from [' + @db_name + N'].[' + @schema_name +
                        N'].[' + @table_name +
                     N'] group by ' + @collist + N') as t'
-- get the density
exec( @cmd )
END
 
GO
