USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITPRORROGACAOVCTOPARC]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITPRORROGACAOVCTOPARC]
AS
SELECT
  XADITVCTOPARC.CODCOLIGADA,
  XADITVCTOPARC.NUMVENDA,
  XADITVCTOPARC.NUMADIT,
  'A3' AS CODTIPOADIT,
  XADITVCTOPARC.CODGRUPO,
  XADITVCTOPARC.CODTIPOPARC,
  XADITVCTOPARC.NUMPARC,
  XADITVCTOPARC.DATVCTOATUAL,
  XADITVCTOPARC.DATVCTONOVO,
  XADITVCTOPARC.VRPARCALTATUAL,
  XADITVCTOPARC.VRPARCALTNOVO,
  XADITVCTOPARC.VRPARCJUROSACORDO,
  XADITVCTOPARC.VRMULTAATRASOPARCALT,
  XADITVCTOPARC.VRJUROSMORAPARCALT,
  XADITVCTOPARC.IGNORARREAJUSTE,
  XADITVCTOPARC.RECCREATEDBY,
  XADITVCTOPARC.RECCREATEDON,
  XADITVCTOPARC.RECMODIFIEDBY,
  XADITVCTOPARC.RECMODIFIEDON
FROM XADITVCTOPARC
WHERE XADITVCTOPARC.CODTIPOVENCIMENTO = 2
GO
