USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFPRDCODIGO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFPRDCODIGO] AS
SELECT A.CODCOLIGADA,A.CODIGO,B.CODIGOPRD,A.CODUND,A.PRECOVENDA,GETDATE() AS DTHRATUALIZACAO
FROM TPRDCODIGO A, TPRD B 
WHERE A.CODCOLIGADA=B.CODCOLIGADA AND A.IDPRD=B.IDPRD
GO
