USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VVRSPESSOASTRIAGEM]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VVRSPESSOASTRIAGEM](
	CODPESSOA,
	NOME,
	IDADE,
	DTNASCIMENTO,
	ESTADOCIVIL,
	SEXO,
	GRAUINSTRUCAO,
	ESTADO,
	CIDADE,
	EMAIL,
	DEFICIENTEFISICO,
	FUMANTE,
	DATAAPROVACAOCURR,
	EXFUNCIONARIO,
	FUNCIONARIO,
	DATACADASTRAMENTO,
	PRETENSAOSALARIAL,
	DTULTALTWEB,
	CODAREA1,
	CODAREA2,
	PRETENSAOSALNEGOCIAVEL,
	TEMPOEXPPROF,
	EXPERIENCIAAREACURR1,
	EXPERIENCIAAREACURR2,
	CONTRAINDICADO,
	MOTIVOCONTRAINDICACAO,
	DISPONIVEL,
	TRABALHANDO,
	CODPERFILCURR,
	IDRESUMOQUALIF,
	CODNIVELHIERARQUICO,
	DEFICIENTEAUDITIVO,
	DEFICIENTEFALA,
	DEFICIENTEMENTAL,
	DEFICIENTEMOBREDUZIDA,
	DEFICIENTEVISUAL,
	DEFICIENTEINTELECTUAL,
    BRPDH)
AS
SELECT
	PPESSOA.CODIGO,
	PPESSOA.NOME,
	DATEDIFF(year, DTNASCIMENTO, GETDATE()) AS IDADE,
	PPESSOA.DTNASCIMENTO,
	PPESSOA.ESTADOCIVIL,
	PPESSOA.SEXO,
	PPESSOA.GRAUINSTRUCAO,
	PPESSOA.ESTADO,
	PPESSOA.CIDADE,
	PPESSOA.EMAIL,
	PPESSOA.DEFICIENTEFISICO,
	PPESSOA.FUMANTE,
	PPESSOA.DATAAPROVACAOCURR,
	PPESSOA.EXFUNCIONARIO,
	PPESSOA.FUNCIONARIO,
	VCANDIDATOS.DATACADASTRAMENTO,
	VCANDIDATOS.PRETENSAOSALARIAL,
	VCANDIDATOS.DTULTALTWEB,
	VCANDIDATOS.CODAREA1,
	VCANDIDATOS.CODAREA2,
	VCANDIDATOS.PRETENSAOSALNEGOCIAVEL,
	VCANDIDATOS.TEMPOEXPPROF,
	VCANDIDATOS.EXPERIENCIAAREACURR1,
	VCANDIDATOS.EXPERIENCIAAREACURR2,
	VCANDIDATOS.CONTRAINDICADO,
	VCANDIDATOS.MOTIVOCONTRAINDICACAO,
	VCANDIDATOS.DISPONIVEL,
	VCANDIDATOS.TRABALHANDO,
	VCANDIDATOS.CODPERFILCURR,
	VCANDIDATOS.IDRESUMOQUALIF,
	VCANDIDATOS.CODNIVELHIERARQUICO,
	PPESSOA.DEFICIENTEAUDITIVO,
	PPESSOA.DEFICIENTEFALA,
	PPESSOA.DEFICIENTEMENTAL,
	PPESSOA.DEFICIENTEMOBREDUZIDA,
	PPESSOA.DEFICIENTEVISUAL,
    PPESSOA.DEFICIENTEINTELECTUAL,
    PPESSOA.BRPDH --
FROM
	PPESSOA
	JOIN VCANDIDATOS ON (VCANDIDATOS.CODPESSOA = PPESSOA.CODIGO);
GO
