USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_mssdeadlck]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_get_mssdeadlck]
  @schema_name sysname = null,
  @db_name     sysname = null
AS
BEGIN
  declare @cmd nvarchar(256)
  set nocount on
  if @db_name is null or @db_name = N''
    select @db_name = db_name()
  if @schema_name is null or @schema_name = N''
    select @schema_name = user_name()
  set @cmd = N'select * from [' +
    @db_name + N'].[' +
    @schema_name + N'].MSSDEADLCK'
  exec sp_executesql @cmd
END
 
GO
