USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_RetornaFuncDiario]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RetornaFuncDiario] 
( @BUKRS INT 
)
AS
BEGIN
  SET NOCOUNT ON
  DECLARE @SYSDATE  DATETIME
        , @COLIGADA INT
        
	DECLARE @tFuncionario TABLE ( ACAO     VARCHAR(1)   NOT NULL
								, ZPERNR   VARCHAR(16)  NOT NULL
								, VORNA    VARCHAR(120) NOT NULL
								, NACHN    VARCHAR(1)   NOT NULL
								, GBDAT    VARCHAR(8)   NOT NULL
								, SPRSL    VARCHAR(2)   NOT NULL
								, NATIO    VARCHAR(2)   NOT NULL
								, GESCH    INT          NOT NULL
								, BEGDA    VARCHAR(8)   NOT NULL
								, ENDDA    VARCHAR(8)   NOT NULL
								, MASSN    VARCHAR(2)   NOT NULL
								, MASSG    VARCHAR(2)   NOT NULL
								, STAT1    VARCHAR(1)   NOT NULL
								, STAT2    VARCHAR(1)   NOT NULL
								, STAT3    VARCHAR(2)   NOT NULL
								, PLANS    VARCHAR(35)  NOT NULL
								, STEXT    VARCHAR(60)  NOT NULL
								, GEST     VARCHAR(1)   NOT NULL
								, WERKS    VARCHAR(4)   NOT NULL
								, PERSG    VARCHAR(1)   NOT NULL
								, PERSK    VARCHAR(12)  NOT NULL
								, BTRTL    VARCHAR(12)  NOT NULL
								, GSBER    VARCHAR(1)   NOT NULL
								, BUKRS    VARCHAR(12)  NOT NULL
								, STRAS    VARCHAR(140) NOT NULL
								, HSNMR    VARCHAR(8)   NOT NULL
								, POSTA    VARCHAR(60)  NOT NULL
								, ORT02    VARCHAR(80)  NOT NULL
								, ORT01    VARCHAR(32)  NOT NULL
								, PSTLZ    VARCHAR(9)   NOT NULL
								, LAND1    VARCHAR(2)   NOT NULL
								, STATE    VARCHAR(2)   NOT NULL
								, TXJCD    VARCHAR(2)   NOT NULL
								, BANKS    VARCHAR(2)   NOT NULL
								, BANKL    VARCHAR(3)   NOT NULL
								, BANKN    VARCHAR(21)  NOT NULL
								, BKONT    VARCHAR(2)   NOT NULL
								, ZLSCH    VARCHAR(1)   NOT NULL
								, WAERS    VARCHAR(3)   NOT NULL
								, KOSTL    VARCHAR(25)  NOT NULL
								, CPF_NR   VARCHAR(11)  NOT NULL
								, ELEC_NR  VARCHAR(14)  NOT NULL
								, PIS_NR   VARCHAR(11)  NOT NULL
								, MIL_NR   VARCHAR(40)  NOT NULL
								, IDFOR_NR VARCHAR(1)   NOT NULL
								, DRIVE_NR VARCHAR(15)  NOT NULL
								, PASSP_NR VARCHAR(15)  NOT NULL
								, NIT_NR   VARCHAR(15)  NOT NULL
                                , NUMCRA   VARCHAR(15)      NULL
                                , NUMFIS   VARCHAR(15)      NULL
                                , PC       VARCHAR(20)      NULL
                                , STELL    VARCHAR(10)      NULL		
                                )          
  
  SELECT @SYSDATE  = Convert(VARCHAR, GETDATE(), 112)
  SELECT @COLIGADA = CASE WHEN @BUKRS = 1000
                          THEN 1
                          WHEN @BUKRS = 4000
                          THEN 4
                          ELSE 0
                     END     

  INSERT INTO @tFuncionario
    SELECT ACAO   = CASE WHEN TMP.ACAO = 'T'
                         THEN 'D'
                         ELSE TMP.ACAO
                    END
         , ZPERNR = PF.CHAPA
         , VORNA  = PF.NOME
		 , NACHN  =	''
		 , GBDAT  = CONVERT(varchar,PP.DTNASCIMENTO,112)
		 , SPRSL  = 'PT'
		 , NATIO  = 'BR'
		 , GESCH  = CASE WHEN PP.SEXO = 'M' 
		                 THEN 1  
		                 WHEN PP.SEXO = 'F' 
		                 THEN 2 
		                 ELSE 4 
		             END
         -- 25.03.2013 -- Quando for um registro de desligamento deve retroagir um dia a data que foi executa a ação para possibilitar a readmissão quando for o caso
                       -- Quando for uma transferencia considerar a data de transferencia ao invez da data de admissão
		 , BEGDA  = CASE WHEN TMP.ACAO = 'A' 
		                 THEN CONVERT(VARCHAR, IsNull(PF.DTTRANSFERENCIA, IsNull(TMP.DATAINICIO, PF.DATAADMISSAO)), 112)
		                 WHEN TMP.ACAO IN ('D', 'T')
		                 THEN CONVERT(VARCHAR, IsNull(DateAdd(dd, -1, TMP.DATAFIM) , '99991231'), 112)
		            END
		 , ENDDA  = CASE WHEN TMP.ACAO = 'A' 
		                 THEN CONVERT(VARCHAR, IsNull(TMP.DATAFIM, '99991231'), 112)
		                 WHEN TMP.ACAO IN ('D','T')
		                 THEN '99991231'
		            END
		 , MASSN  = CASE WHEN TMP.ACAO = 'A' 
		                 THEN '01'
		                 WHEN TMP.ACAO = 'D' 
		                 THEN '10'
		                 ELSE '01' 
		            END
		 , MASSG = CASE WHEN TMP.ACAO = 'A' 
			            THEN '01' 
			            WHEN TMP.ACAO = 'D' 
			            THEN '03' 
			            WHEN TMP.ACAO = 'T' 
			            THEN '04' 
			            ELSE '04' 
			       END
	     , STAT1 = ''
	     , STAT2 = CASE WHEN TMP.ACAO = 'T'
	                    THEN '2' 
	                    ELSE '3' 
	               END
	     , STAT3 = '01'
		 , PLANS = TMP.CODSECAO
		 , STEXT = PS.DESCRICAO
		 , GEST  = CASE WHEN TMP.TABELA = 'PSUBSTCHEFE'
		                THEN 'S' 
		                ELSE 'N' 
		           END
		 , WERKS = '1000'
		 , PERSG = CASE WHEN PF.CODTIPO = 'N' 
		                THEN '1' 
		                WHEN PF.CODTIPO = 'A' 
		                THEN '9' 
		                WHEN PF.CODTIPO = 'T' 
		                THEN '4' 
		                WHEN PF.CODTIPO = 'P' 
		                THEN '2' 
		                ELSE '1' 
		           END
		 , PERSK = CASE WHEN PF.CODRECEBIMENTO='M' 
		                THEN 'BA' 
		                WHEN PF.CODRECEBIMENTO='H' 
		                THEN 'BB' 
		                WHEN PF.CODRECEBIMENTO='S' 
		                THEN 'BC' 
		                WHEN PF.CODRECEBIMENTO='O' 
		                THEN 'BD' 
		                ELSE 'NÃO DEFINIDO' 
		           END
		 , BTRTL = CASE WHEN PF.CODCOLIGADA=1 
		                THEN '0001' 
		                WHEN PF.CODCOLIGADA=2 
		                THEN '0002' 
		                ELSE 'NÃO DEFINIDO' 
		           END
		 , GSBER = ''
		 , BUKRS = CASE WHEN PF.CODCOLIGADA=1 
		                THEN '1000' 
		                WHEN PF.CODCOLIGADA=2 
		                THEN '2000' 
		                WHEN PF.CODCOLIGADA=4 
		                THEN '4000' 
		                ELSE 'NÃO DEFINIDO' 
		           END
		 , STRAS = ISNULL(PP.RUA,'')
		 , HSNMR = ISNULL(PP.NUMERO,'')
		 , POSTA = ISNULL(PP.COMPLEMENTO, '')
		 , ORT02 = ISNULL(PP.BAIRRO,'')
		 , ORT01 = ISNULL(PP.CIDADE,'')
		 , PSTLZ = ISNULL(PP.CEP,'')
		 , LAND1 = 'BR' 
		 , STATE = ISNULL(PP.ESTADO,'')
		 , TXJCD = ISNULL(PP.ESTADO,'')
		 , BANKS = 'BR'
		 , BANKL = ISNULL(PF.CODBANCOPAGTO,'')
		 , BANKN = ISNULL(PF.CODAGENCIAPAGTO+PF.CONTAPAGAMENTO,'')
		 , BKONT = '01'
		 , ZLSCH = ''
		 , WAERS = 'BRL'
		 , KOSTL = ISNULL(PS.NROCENCUSTOCONT,'')
		 , CPF_NR = PP.CPF
		 , ELEC_NR  = ISNULL (PP.TITULOELEITOR,'')
		 , PIS_NR   = ISNULL(PF.PISPARAFGTS,'')
		 , MIL_NR   = ISNULL(PP.CERTIFRESERV,'')
		 , IDFOR_NR = ''
		 , DRIVE_NR = ISNULL(PP.CARTMOTORISTA,'')
		 , PASSP_NR = ISNULL(PP.NPASSAPORTE,'')
		 , NIT_NR   = ISNULL(PP.CARTIDENTIDADE,'1') 
		 , NUMCRA   = IsNull(CRACHA.NUMCRA, '')
		 , NUMFIS   = IsNull(CRACHA.NUMFIS, '')
		 , PC       = IsNull(SUBSTRING(TMP.HOSTNAME, 1, 20),'')
		 , STELL    = PF.CODFUNCAO
      FROM PTMP_ATUALIZAESTRUTURASAP TMP
           INNER JOIN PFUNC   PF     ON TMP.COLIGADA   = PF.CODCOLIGADA
                                    AND TMP.CHAPA      = PF.CHAPA
           INNER JOIN PPESSOA PP     ON PF.CODPESSOA   = PP.CODIGO 
           INNER JOIN PSECAO  PS     ON TMP.CODSECAO   = PS.CODIGO 
                                    AND TMP.COLIGADA   = PS.CODCOLIGADA 
		   LEFT  JOIN ( SELECT r034fun.NUMCPF
							 , r034fun.NUMCRA
						  FROM VETORH_LK.SENIOR.senior.r034fun r034fun   
							   INNER JOIN ( SELECT MAXDATADM.NUMCPF
												 , MAXDATADM = MAX(MAXDATADM.DATADM)
											  FROM VETORH_LK.SENIOR.senior.r034fun MAXDATADM
											 GROUP BY MAXDATADM.NUMCPF
										  ) tMAXDATADM ON r034fun.NUMCPF = tMAXDATADM.NUMCPF 
													  AND r034fun.DATADM = tMAXDATADM.MAXDATADM
					  ) FUNC_SENIOR  ON PP.CPF         = FUNC_SENIOR.NUMCPF
           LEFT  JOIN VETORH_LK.SENIOR.senior.r070con CRACHA
                                     ON CRACHA.numcra  = FUNC_SENIOR.numcra		                                    
     WHERE PF.CODCOLIGADA = @COLIGADA
       AND TMP.PROCESSADO = 'N'
            
  SELECT t.*
    FROM @tFuncionario t
   ORDER BY t.CPF_NR
          , t.BEGDA

  SET NOCOUNT OFF                
END	
GO
