USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_semana]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_semana] (
    @COLIGADA INT, 
    @CHAPA VARCHAR(16), 
    @INIC DATE, 
    @FIM DATE,
    @SEMANA INT
)

RETURNS @Result TABLE
(
    CODCOLIGADA INT,
    CHAPA VARCHAR(16),
    NOME VARCHAR(100),
    semana INT,
    PERIODO VARCHAR(50),
    HOR VARCHAR(20),
    QTD INT,
    EXCESSO_JORNADA_SEMANAL INT
)
AS
BEGIN

   
    -- CTE para gerar a lista de datas entre @INIC e @FIM
    WITH DateCTE AS (
          
        SELECT CAST(@INIC AS DATE) AS DateValue
        UNION ALL
        SELECT DATEADD(DAY, 1, DateValue)
        FROM DateCTE
        WHERE DateValue < @FIM AND DateValue < DATEADD(DAY, 365, @INIC)  -- Limitar a recursão a 365 dias
    )
    
    INSERT INTO @Result
    SELECT TOP 1
        CODCOLIGADA,
        CHAPA,
        NOME,
        semana,
        CONCAT(CONVERT(VARCHAR, MIN(DateValue), 103), ' - ', CONVERT(VARCHAR, MAX(DateValue), 103)) AS PERIODO,
        HOR,
        SUM(QTD) AS QTD
        ,(ISNULL((SELECT MAX(z.EXCESSO_JORNADA_SEMANAL) FROM Z_OUTSERV_MELHORIAS3 z WHERE z.CODHORARIO = HOR AND z.CODCOLIGADA = CODCOLIGADA),0)) EXCESSO_JORNADA_SEMANAL
    FROM (
        SELECT 
            B.CODCOLIGADA,
            B.CHAPA,
            B.NOME,
            DateValue,
            DATEPART(WEEK, DateValue) AS semana,
            (SELECT TOP 1 C.CODHORARIO 
             FROM PFHSTHOR C 
             WHERE C.CODCOLIGADA = B.CODCOLIGADA 
             AND C.CHAPA = B.CHAPA 
             AND C.DTMUDANCA <= DateValue 
             ORDER BY C.DTMUDANCA DESC) AS HOR,
            1 AS QTD
        FROM 
            DateCTE A
        INNER JOIN PFUNC B ON 1 = 1
    ) X
    WHERE 
        CODCOLIGADA = @COLIGADA
        AND CHAPA   = @CHAPA
        AND semana  = @SEMANA
    GROUP BY
        CODCOLIGADA,
        CHAPA,
        NOME,
        HOR,
        semana
    ORDER BY
        CODCOLIGADA,
        CHAPA,
        semana,
        SUM(QTD) DESC;

    RETURN;
END;




--SELECT * FROM fn_semana('1','050003175','2023-08-01','2023-10-30','40')
GO
