USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZEXAMEITEM]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZEXAMEITEM] AS
SELECT
    SZPEDEXAMEITEM.CODCOLIGADA,
    SZPEDEXAMEITEM.ORDEMSERVICO,
    SZPEDEXAMEITEM.CODEXAME,
    SZLABEXAME.MNEMONICO,
    SZPEDEXAMEITEM.SEQEXAME,
    SZPEDEXAMEITEM.CANCELADO,
    SZLABEXAME.DESCEXAME,
    SZPEDEXAMEITEM.TIPOEXAME,
    SZLABMATERIALEXAME.CODMATERIAL,
    SZLABMATERIALEXAME.DESCMATERIAL,
    SZPEDEXAMEITEM.DATACOLETA,
    SZPEDEXAMEITEM.CODLOCAL,
	SZLABEXAME.CODMODALIDADE
FROM
    SZPEDEXAMEITEM (NOLOCK)
INNER JOIN
    SZLABEXAME (NOLOCK)
ON
    SZPEDEXAMEITEM.CODCOLIGADA = SZLABEXAME.CODCOLIGADA
    AND SZPEDEXAMEITEM.CODEXAME = SZLABEXAME.CODEXAME
LEFT JOIN
    SZLABMATERIALEXAME (NOLOCK)
ON
    SZPEDEXAMEITEM.CODCOLIGADA = SZLABMATERIALEXAME.CODCOLIGADA
    AND SZPEDEXAMEITEM.CODMATERIAL = SZLABMATERIALEXAME.CODMATERIAL
GO
