USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZVWFILAATEND]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZVWFILAATEND] AS
SELECT C.SENHA,
       A.CODCOLIGADA,
       A.IDUNIDATEND,
       A.TIPOFILA,
       C.FASE,
       A.RECMODIFIEDON
  FROM SZFILAATEND A
  LEFT JOIN SZSENHACLASSIF C
    ON A.CODCOLIGADA = C.CODCOLIGADA
   AND A.CODCLASSIFICACAORISCO = C.SEQSENHA
 WHERE A.CHAMADO = 'T'
GO
