USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tf_sqlplan]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tf_sqlplan]
        @plan_handle  varchar(130)
AS
BEGIN
  set nocount on
  declare  @bin_h   varbinary(64)
  declare  @stmt    nvarchar(1024)
  declare  @schema  sysname
  set @schema = ( select schema_name(schema_id) from sys.objects
                    where object_id = @@PROCID )
  set @stmt = N'set @bin_h = [' + @schema +
               '].sap_bin_conv( @plan_handle )'
  exec sp_executesql
       @stmt ,
       N'@plan_handle varchar(130), @bin_h varbinary(64) output' ,
       @plan_handle = @plan_handle ,
       @bin_h = @bin_h output
  select query_plan
     from sys.dm_exec_text_query_plan(@bin_h,default,default)
END
 
GO
