USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[DNATUREZA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*BRUNO LEONARDO DE OLIVEIRA LADEIRA MORAES - LI.2017.09_04 - OC.:FISCAL01-1702 - 11/07/2018 VERSAO.: 12.1.19 - EQUIPE:MANUT  */
CREATE VIEW [dbo].[DNATUREZA]
AS
  SELECT DC.CODCOLIGADA,
         DC.IDNAT,
         DC.CODNAT,
         DC.FLAGEST,
         DC.CODETD,
         DC.FLAGCF,
         DC.CODCOLCFO,
         DC.CODCFO,
         DC.FLAGPRD,
         DC.IDREGIAO,
         DC.IDPRD,
         DC.TIPOPRD,
         DC.NOME,
         DC.TIPOMOVIMENTO,
         DC.ORIGEMDESTINO,
         DC.FISCAL,
         DC.TIPONATICMS,
         DC.INTEGRACAO,
         DC.TIPOIPI,
         DC.CODIGODIPI,
         DC1.IDNAT                      NATREVERSA,
         ISNULL(ICMS.BASEICMSCOMIPI, 0) BASEICMSCOMIPI,
         ICMS.ALIQSUBST,
         DC.VALOROPCNAT1,
         DC.VALOROPCNAT2,
         DC.VALOROPCNAT3,
         ICMS.ALIQICMS,
         ICMS.FATORICMS,
         ICMS.FATORSUBST,
         DC.ALFAOPCNAT1,
         DC.ALFAOPCNAT2,
         DC.ALFAOPCNAT3,
         DC.TIPODEVOLUCAO,
         DC.CREDPRESUMIDO,
         CASE
           WHEN ( ( ICMS.CONTROLAFECHAMENTO > 0 )
                   OR IPI.CONTROLAFECHAMENTO = 1 ) THEN 1
           ELSE 0
         END                            'CONTROLAFECHAMENTO',
         CASE
           WHEN ( ( ICMS.CONTROLAFECHAMENTO = 1
                     OR ICMS.CONTROLAFECHAMENTO = 3 )
                  AND IPI.CONTROLAFECHAMENTO = 1 ) THEN 'A'
           WHEN ( ( ICMS.CONTROLAFECHAMENTO = 1
                     OR ICMS.CONTROLAFECHAMENTO = 3 )
                  AND IPI.CONTROLAFECHAMENTO <> 1 )THEN 'S'
           WHEN ( ( IPI.CONTROLAFECHAMENTO = 1 )
                  AND ( ICMS.CONTROLAFECHAMENTO <> 1
                        AND ICMS.CONTROLAFECHAMENTO <> 3 ) )THEN 'I'
         END                            'TIPOFECHAMENTO',
         DC.TIPONATPRESUMIDO,
         DC.TIPONATDIPI,
         CASE
           WHEN ( ICMS.CONTROLAFECHAMENTO = 2
                   OR ICMS.CONTROLAFECHAMENTO = 3 ) THEN 1
           ELSE 0
         END                            'FECHAMENTOST',
         DC.CODEVENTO,
         DC.CODFILIALCFO,
         DC.CODTCFO,
         DC.CODEVENTORMLIBER,
         ICMS.LANCAIPIEMOUTROSOUISENTOS,
         DC.CONTROLAVLRCONTABIL,
         DC.USAALIQUOTADAPI,
         DC.NIVELFISCALCFOP,
         DC.CONTRIBUINTE,
         DC.CODFILIAL,
         DC.TIPOOPERNESPECIFICA,
         DC.CLASSIFCFOP,
         DC.CONTABILIZAPORTOTAL,
         DC.ORIGEMVALORES,
         DC.PRAZORETORNO,
         DC.NUMPRORROGACAO,
         ICMS.VALORESCONDICIONAIS       ICMSSEMDESCONTO,
         ICMS.FATORREDST,
         ICMS.COLOCARREDUCAOEM,
         ICMS.SITTRIBUTARIA,
         ICMS.AFETABASEICMSST,
         ICMS.ICMSDOBRO,
         IPI.IPISEMDESCONTO,
         ICMS.LANCAREDPRODISENTOOUOUTROS,
         ICMS.ICMSDENTRO,
         DC.DEDUZMATERIAIS,
         DC.DEDUZSUBEMPREITADA,
         DC.TIPOOPCCIVIL,
         DC.CLASSIFOPCCIVIL,
         DC.CREDITOOUTORGADO,
         ICMS.ICMSINDEXADO,
         CASE
           WHEN ( DC.TIPOIPI <> 'D' ) THEN IPI.NAFETABASEIPI
           WHEN ( DC.TIPOIPI = 'D'
                  AND IPI.NAFETABASEIPI = 1 ) THEN 0
           WHEN ( DC.TIPOIPI = 'D'
                  AND IPI.NAFETABASEIPI = 7 ) THEN 6
           WHEN ( DC.TIPOIPI = 'D'
                  AND IPI.NAFETABASEIPI = 9 ) THEN 8
           WHEN ( DC.TIPOIPI = 'D'
                  AND IPI.NAFETABASEIPI = 11 ) THEN 10
           WHEN ( DC.TIPOIPI = 'D'
                  AND IPI.NAFETABASEIPI = 13 ) THEN 12
           WHEN ( DC.TIPOIPI = 'D'
                  AND IPI.NAFETABASEIPI = 15 ) THEN 14
         END                            'AFETABASEIPI',
         DC.CODREDBASECALC,
         DC.ATIVO,
         DC.ID_EXERCICIO,
         DC.OPERACAOREFOUTRANF,
         DC.DESCRICAOCOMPLETA,
         ICMS.REDNAFETACAMPOS,
         DC.CODLOTESALDUS,
         DC.OPERRETEMCONTRIBSOCIAL,
         ICMS.ICMSMETADE,
         DC.OPERACAOESPECIALCAFE,
         ICMS.TIPOICMSNCONTABIL,
         ICMS.ICMSSTANTECIPADO,
         DC.IDGRUPO,
         ICMS.AFETABASEICMS,
         DC.MOVIMENTACAO,
         DC.OPERACAOREFGUIAREC,
         ICMS.ALIQUOTAFIXADIFERENCIAL,
         DC.CODANTECIPACAOTRIBUTARIA,
         DC.IDREGRAICMS,
         DC.IDREGRAIPI,
         ICMS.SOMAICMSDENTROVLRCONT,
         ICMS.SOMAICMSSTVLRCONTABIL,
         ICMS.UTILIZAMVAAJUSTADA,
         ICMS.CSOSN,
         ICMS.ICMSDESONERADO,
         ICMS.MOTDESICMS,
         ICMS.ICMSSTREDUCPROP,
         ICMS.PERICMSESTDESTINO,
         ICMS.PERICMSFCP,
         DC.IDDETALHEOPERACAO,
         DC.CFPS
  FROM   DCFOP DC
         LEFT JOIN DREGRAICMS ICMS
                ON ( ICMS.CODCOLIGADA = DC.CODCOLIGADA
                     AND ICMS.IDREGRAICMS = DC.IDREGRAICMS )
         LEFT JOIN DREGRAIPI IPI
                ON ( IPI.CODCOLIGADA = DC.CODCOLIGADA
                     AND IPI.IDREGRAIPI = DC.IDREGRAIPI )
         LEFT JOIN DPARAMETROS P
                ON ( P.CODCOLIGADA = DC.CODCOLIGADA )
         LEFT JOIN DCFOP DC1
                ON ( DC1.CODCOLIGADA = DC.CODCOLIGADA
                     AND DC1.CODNAT = DC.CODNATINVERSA
                     AND DC1.ID_EXERCICIO = DC.ID_EXERCICIO
                     AND DC1.CODCOLIGADA = P.CODCOLIGADA
                     AND ( ( P.NATUREZAGLOBAL <> 0
                             AND DC1.CODFILIAL IS NULL )
                            OR ( P.NATUREZAGLOBAL = 0
                                 AND DC1.CODFILIAL = DC.CODFILIAL ) ) )
GO
