USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_tables_of_index]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_tables_of_index]
  @index_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(1024)
-- build the select statement
set @cmd = N'select o.name ' +
           N'from ' + @db_name + N'.sys.objects o, ' +
                      @db_name + N'.sys.schemas sch, ' +
                      @db_name + N'.sys.indexes i ' +
           N'where o.schema_id = sch.schema_id ' +
               N'and sch.name = @schema_name ' +
               N'and i.object_id = o.object_id ' +
               N'and i.name = @index_name ' +
               N'and i.index_id > 0 ' +
               N'and i.index_id < 255'
-- get the name(s) of the table(s)
exec sp_executesql @cmd,N'@schema_name sysname,@index_name sysname',
                   @schema_name,@index_name
END
 
GO
