USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VIEW_BW_TB_VCTRLVACINAL]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_BW_TB_VCTRLVACINAL]
AS
	 SELECT CODPESSOA     = CTV.CODPESSOA    
		  , CODVACINA     = CTV.CODVACINA    
		  , DTAPLICACAO   = CTV.DTAPLICACAO  
		  , NRDOSE        = ISNULL(CTV.NRDOSE,1)       
		  , IMUNIDADE     = ISNULL(CTV.IMUNIDADE,1)    
		  , CODVACINALOTE = CTV.CODVACINALOTE
		  , DTMODIFICACAO = CONVERT(VARCHAR(8),ISNULL(CTV.RECMODIFIEDON, CTV.DTAPLICACAO),112)
	   FROM VCTRLVACINAL CTV
GO
