USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_RetornaFuncPorMesCPF]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RetornaFuncPorMesCPF]
( 
 @CPF   VARCHAR(11) = NULL
)
AS
BEGIN
    SET NOCOUNT ON
	DECLARE @DATAINICIO   DATETIME
		  , @DATAFIM      DATETIME
		  , @COLIGADA     INT 
		  , @MES          INT        
		  
	CREATE TABLE #tFuncionario 
	( ACAO     VARCHAR(1)   NOT NULL
	, ZPERNR   VARCHAR(16)  NOT NULL
	, VORNA    VARCHAR(120) NOT NULL
	, NACHN    VARCHAR(1)   NOT NULL
	, GBDAT    VARCHAR(8)   NOT NULL
	, SPRSL    VARCHAR(2)   NOT NULL
	, NATIO    VARCHAR(2)   NOT NULL
	, GESCH    INT          NOT NULL
	, BEGDA    VARCHAR(8)   NOT NULL
	, ENDDA    VARCHAR(8)   NOT NULL
	, MASSN    VARCHAR(2)   NOT NULL
	, MASSG    VARCHAR(2)   NOT NULL
	, STAT1    VARCHAR(1)   NOT NULL
	, STAT2    VARCHAR(1)   NOT NULL
	, STAT3    VARCHAR(2)   NOT NULL
	, PLANS    VARCHAR(35)  NOT NULL
	, STEXT    VARCHAR(60)  NOT NULL
	, GEST     VARCHAR(1)   NOT NULL
	, WERKS    VARCHAR(4)   NOT NULL
	, PERSG    VARCHAR(1)   NOT NULL
	, PERSK    VARCHAR(12)  NOT NULL
	, BTRTL    VARCHAR(12)  NOT NULL
	, GSBER    VARCHAR(1)   NOT NULL
	, BUKRS    VARCHAR(12)  NOT NULL
	, STRAS    VARCHAR(140) NOT NULL
	, HSNMR    VARCHAR(8)   NOT NULL
	, POSTA    VARCHAR(60)  NOT NULL
	, ORT02    VARCHAR(80)  NOT NULL
	, ORT01    VARCHAR(32)  NOT NULL
	, PSTLZ    VARCHAR(9)   NOT NULL
	, LAND1    VARCHAR(2)   NOT NULL
	, STATE    VARCHAR(2)   NOT NULL
	, TXJCD    VARCHAR(2)   NOT NULL
	, BANKS    VARCHAR(2)   NOT NULL
	, BANKL    VARCHAR(3)   NOT NULL
	, BANKN    VARCHAR(21)  NOT NULL
	, BKONT    VARCHAR(2)   NOT NULL
	, ZLSCH    VARCHAR(1)   NOT NULL
	, WAERS    VARCHAR(3)   NOT NULL
	, KOSTL    VARCHAR(25)  NOT NULL
	, CPF_NR   VARCHAR(11)  NOT NULL
	, ELEC_NR  VARCHAR(14)  NOT NULL
	, PIS_NR   VARCHAR(11)  NOT NULL
	, MIL_NR   VARCHAR(40)  NOT NULL
	, IDFOR_NR VARCHAR(1)   NOT NULL
	, DRIVE_NR VARCHAR(15)  NOT NULL
	, PASSP_NR VARCHAR(15)  NOT NULL
	, NIT_NR   VARCHAR(15)  NOT NULL
	, NUMCRA   VARCHAR(15)      NULL
	, NUMFIS   VARCHAR(15)      NULL
	, PC       VARCHAR(20)      NULL
	, STELL    VARCHAR(10)      NULL
	)               
        
  IF IsNull(@MES,0) BETWEEN 1 AND 12
  BEGIN
    SET @DATAINICIO = Convert(DATETIME, Convert(VARCHAR,Year(Getdate())) + '/' + Convert(VARCHAR,@MES) + '/01')
    
    IF @MES = 12 
      SET @DATAFIM = Convert(DATETIME,Convert(VARCHAR,Year(Getdate())+1) + '/01/01')
    ELSE
      SET @DATAFIM = Convert(DATETIME, Convert(VARCHAR,Year(Getdate())) + '/' + Convert(VARCHAR,@MES+1) + '/01')
  END
  
 /* 
    SELECT @COLIGADA = CASE WHEN @BUKRS = 1000
                          THEN 1
                          WHEN @BUKRS = 4000
                          THEN 4
                          ELSE 0
                     END   
*/

  INSERT INTO #tFuncionario
     -- RETORNA INFORMAÇÃO DE TERCEIROS - SISTEMA SENIOR --
     EXEC SP_RetornaTerceirosSenior @MES
                 
           
   INSERT INTO #tFuncionario
     -- RETORNA INFORMAÇÂO DE ADMISSÃO --
     SELECT 'ACAO'      = 'A' 
		  , 'ZPERNR'    = PF.CHAPA
		  , 'VORNA'     = PF.NOME
		  , 'NACHN'     = '' 
		  , 'GBDAT'     = CONVERT(varchar,PP.DTNASCIMENTO,112)
		  , 'SPRSL'     = 'PT'
		  , 'NATIO'     = 'BR'
		  , 'GESCH'     = CASE WHEN PP.SEXO='M' 
							   THEN 1 
							   WHEN PP.SEXO='F' 
							   THEN 2 
							   ELSE 4 
						  END
		  , 'BEGDA'     = CONVERT(VARCHAR, IsNull(PF.DTTRANSFERENCIA, PF.DATAADMISSAO), 112)
		  , 'ENDDA'     = CASE WHEN CODSITUACAO = 'D'
		                       THEN ISNULL(CONVERT(VARCHAR, PF.DATADEMISSAO, 112),'99991231')
		                       ELSE '99991231'
		                  END
		  , 'MASSN'     = '01' 
		  , 'MASSG'     = '01'
		  , 'STAT1'     = ''
		  , 'STAT2'     = '3' 
		  , 'STAT3'     = '01'
		  , 'PLANS'     = ISNULL(PC.CODSECAO,PF.CODSECAO) 
		  , 'STEXT'     = ISNULL(PSECAO_PC.DESCRICAO, PS.DESCRICAO)
		  , 'GEST'      = CASE WHEN PC.CODSECAO IS NULL 
						 	   THEN 'N' 
							   ELSE 'S' 
						  END 
		  , 'WERKS'     = '1000' 
		  , 'PERSG'     = CASE WHEN PF.CODTIPO='N' 
						 	   THEN '1' 
							   WHEN PF.CODTIPO='A' 
							   THEN '9' 
							   WHEN PF.CODTIPO='T' 
							   THEN '4' 
							   WHEN PF.CODTIPO='P' 
							   THEN '2' 
							   ELSE '1' 
						  END
		  , 'PERSK'     = CASE WHEN PF.CODRECEBIMENTO = 'M' 
							   THEN 'BA' 
							   WHEN PF.CODRECEBIMENTO = 'H' 
							   THEN 'BB' 
							   WHEN PF.CODRECEBIMENTO = 'S' 
							   THEN 'BC' 
							   WHEN PF.CODRECEBIMENTO = 'O' 
							   THEN 'BD' 
							   ELSE 'NÃO DEFINIDO' 
						  END
		  , 'BTRTL'     = CASE WHEN PF.CODCOLIGADA = 1 
							   THEN '0001' 
							   WHEN PF.CODCOLIGADA = 2 
							   THEN '0002' 
							   WHEN PF.CODCOLIGADA = 4 
							   THEN '0004' 
							   ELSE 'NÃO DEFINIFO' 
						  END
		  , 'GSBER'     = ''
		  , 'BUKRS'     = CASE WHEN PF.CODCOLIGADA = 1 
							   THEN '1000' 
							   WHEN PF.CODCOLIGADA = 2 
							   THEN '1000' 
							   WHEN PF.CODCOLIGADA = 4 
							   THEN '4000' 
							   ELSE 'NÃO DEFINIDO' 
						  END
		  , 'STRAS'     = ISNULL(PP.RUA,'')         
		  , 'HSNMR'     = ISNULL(PP.NUMERO,'') 
		  , 'POSTA'     = ISNULL(PP.COMPLEMENTO, '')
		  , 'ORT02'     = ISNULL(PP.BAIRRO,'')
		  , 'ORT01'     = ISNULL(PP.CIDADE,'')
		  , 'PSTLZ'     = ISNULL(PP.CEP,'')
		  , 'LAND1'     = 'BR' 
		  , 'STATE'     = ISNULL(PP.ESTADO,'')
		  , 'TXJCD'     = ISNULL(PP.ESTADO,'')
		  , 'BANKS'     = 'BR' 
		  , 'BANKL'     = ISNULL(PF.CODBANCOPAGTO,'') 
		  , 'BANKN'     = ISNULL(PF.CODAGENCIAPAGTO+PF.CONTAPAGAMENTO,'') 
		  , 'BKONT'     = '01' 
		  , 'ZLSCH'     = '' 
		  , 'WAERS'     = 'BRL' 
		  , 'KOSTL'     = ISNULL(PS.NROCENCUSTOCONT,'') 
		  , 'CPF_NR'    = ISNULL(PP.CPF,'') 
		  , 'ELEC_NR'   = ISNULL (PP.TITULOELEITOR,'') 
		  , 'PIS_NR'    = ISNULL(PF.PISPARAFGTS,'') 
		  , 'MIL_NR'    = ISNULL(PP.CERTIFRESERV,'')
		  , 'IDFOR_NR'  = ''
		  , 'DRIVE_NR'  = ISNULL(PP.CARTMOTORISTA,'') 
		  , 'PASSP_NR'  = ISNULL(PP.NPASSAPORTE,'') 
		  , 'NIT_NR'    = ISNULL(PP.CARTIDENTIDADE,'1') 
		  , 'NUMCRA'    = IsNull(CRACHA.NUMCRA,'')
		  , 'NUMFIS'    = IsNull(CRACHA.NUMFIS,'')
		  , 'PC'        = ''
		  , 'STELL'     = PF.CODFUNCAO
	   FROM PFUNC PF INNER JOIN PPESSOA     PP ON PF.CODPESSOA   = PP.CODIGO 
					 INNER JOIN PSECAO      PS ON PF.CODSECAO    = PS.CODIGO 
											  AND PF.CODCOLIGADA = PS.CODCOLIGADA 
					 LEFT  JOIN PSUBSTCHEFE PC ON PF.CODCOLIGADA = PC.CODCOLSUBST
											  AND PF.CHAPA       = PC.CHAPASUBST
		             LEFT  JOIN PSECAO PSECAO_PC ON PC.CODSECAO  = PSECAO_PC.CODIGO											  
		                                        AND PC.CODCOLIGADA = PSECAO_PC.CODCOLIGADA		             
					 LEFT  JOIN ( SELECT r034fun.NUMCPF
									   , r034fun.NUMCRA
									FROM VETORH_LK.SENIOR.senior.r034fun r034fun   
										 INNER JOIN ( SELECT MAXDATADM.NUMCPF
										   				   , MAXDATADM = MAX(MAXDATADM.DATADM)
														FROM VETORH_LK.SENIOR.senior.r034fun MAXDATADM
													   GROUP BY MAXDATADM.NUMCPF
													) tMAXDATADM ON r034fun.NUMCPF = tMAXDATADM.NUMCPF 
													   		    AND r034fun.DATADM = tMAXDATADM.MAXDATADM
								) FUNC_SENIOR  ON PP.CPF         = FUNC_SENIOR.NUMCPF 
                     LEFT  JOIN VETORH_LK.SENIOR.senior.r070con CRACHA
                                               ON CRACHA.numcra  = FUNC_SENIOR.numcra											  
	   /*
	   WHERE PF.CODCOLIGADA = @COLIGADA 
		 AND (  
	    */ 
		WHERE     ( IsNull(@MES,0) = 99
		          )
		       OR (     IsNull(@MES,0) > 0
					AND IsNull(@MES,0) BETWEEN 1 AND 12
					AND (   PF.DATAADMISSAO between @DATAINICIO AND @DATAFIM 
					     OR PF.DATADEMISSAO between @DATAINICIO AND @DATAFIM 
					    )
				  )
			   OR (     IsNull(@CPF,'0') <> '0'
					AND PP.CPF LIKE '%' + @CPF + '%'
				  )
 /*			 )*/


   INSERT INTO #tFuncionario             
     -- RETORNA INFORMAÇÂO DE DEMISSÃO --
     SELECT 'ACAO'      = 'D'
		  , 'ZPERNR'    = PF.CHAPA
		  , 'VORNA'     = PF.NOME
		  , 'NACHN'     = '' 
		  , 'GBDAT'     = CONVERT(varchar,PP.DTNASCIMENTO,112)
		  , 'SPRSL'     = 'PT'
		  , 'NATIO'     = 'BR'
		  , 'GESCH'     = CASE WHEN PP.SEXO='M' 
							   THEN 1 
							   WHEN PP.SEXO='F' 
							   THEN 2 
							   ELSE 4 
						  END
		  , 'BEGDA'     = CONVERT(VARCHAR, IsNull(DateAdd(dd,-1,PF.DATADEMISSAO), IsNull(PF.DTTRANSFERENCIA, PF.DATAADMISSAO)), 112)
		  , 'ENDDA'     = '99991231'
		  , 'MASSN'     = '10'
		  , 'MASSG'     = '03' 
		  , 'STAT1'     = ''
		  , 'STAT2'     = '3' 
		  , 'STAT3'    = '01'
		  , 'PLANS'    = ISNULL(PC.CODSECAO,PF.CODSECAO) 
		  , 'STEXT'    = ISNULL(PSECAO_PC.DESCRICAO, PS.DESCRICAO)
		  , 'GEST'     = CASE WHEN PC.CODSECAO IS NULL 
							  THEN 'N' 
							  ELSE 'S' 
						 END 
		  , 'WERKS'    = '1000' 
		  , 'PERSG'    = CASE WHEN PF.CODTIPO='N' 
							  THEN '1' 
							  WHEN PF.CODTIPO='A' 
							  THEN '9' 
							  WHEN PF.CODTIPO='T' 
							  THEN '4' 
							  WHEN PF.CODTIPO='P' 
							  THEN '2' 
							  ELSE '1' 
						 END
		  , 'PERSK'    = CASE WHEN PF.CODRECEBIMENTO = 'M' 
							  THEN 'BA' 
							  WHEN PF.CODRECEBIMENTO = 'H' 
							  THEN 'BB' 
							  WHEN PF.CODRECEBIMENTO = 'S' 
							  THEN 'BC' 
							  WHEN PF.CODRECEBIMENTO = 'O' 
							  THEN 'BD' 
							  ELSE 'NÃO DEFINIDO' 
						 END
		  , 'BTRTL'    = CASE WHEN PF.CODCOLIGADA = 1 
							  THEN '0001' 
							  WHEN PF.CODCOLIGADA=2 
							  THEN '0002' 
							  ELSE 'NÃO DEFINIFO' 
						 END
		  , 'GSBER'    = ''
		  , 'BUKRS'    = CASE WHEN PF.CODCOLIGADA = 1 
							  THEN '1000' 
							  ELSE 'NÃO DEFINIFO' 
						 END
		  , 'STRAS'    = ISNULL(PP.RUA,'')         
		  , 'HSNMR'    = ISNULL(PP.NUMERO,'') 
		  , 'POSTA'    = ISNULL(PP.COMPLEMENTO, '')
		  , 'ORT02'    = ISNULL(PP.BAIRRO,'')
		  , 'ORT01'    = ISNULL(PP.CIDADE,'')
		  , 'PSTLZ'    = ISNULL(PP.CEP,'')
		  , 'LAND1'    = 'BR' 
		  , 'STATE'    = ISNULL(PP.ESTADO,'')
		  , 'TXJCD'    = ISNULL(PP.ESTADO,'')
		  , 'BANKS'    = 'BR' 
		  , 'BANKL'    = ISNULL(PF.CODBANCOPAGTO,'') 
		  , 'BANKN'    = ISNULL(PF.CODAGENCIAPAGTO+PF.CONTAPAGAMENTO,'') 
		  , 'BKONT'    = '01' 
		  , 'ZLSCH'    = '' 
		  , 'WAERS'    = 'BRL' 
		  , 'KOSTL'    = ISNULL(PS.NROCENCUSTOCONT,'') 
		  , 'CPF_NR'   = ISNULL(PP.CPF, '') 
		  , 'ELEC_NR'  = ISNULL(PP.TITULOELEITOR,'') 
		  , 'PIS_NR'   = ISNULL(PF.PISPARAFGTS,'') 
		  , 'MIL_NR'   = ISNULL(PP.CERTIFRESERV,'')
		  , 'IDFOR_NR' = ''
		  , 'DRIVE_NR' = ISNULL(PP.CARTMOTORISTA,'') 
		  , 'PASSP_NR' = ISNULL(PP.NPASSAPORTE,'') 
		  , 'NIT_NR'   = ISNULL(PP.CARTIDENTIDADE,'1') 
		  , 'NUMCRA'   = IsNull(CRACHA.NUMCRA,'')
		  , 'NUMFIS'   = IsNull(CRACHA.NUMFIS,'') 
		  , 'PC'       = ''
		  , 'STELL'    = PF.CODFUNCAO
	   FROM PFUNC PF INNER JOIN PPESSOA     PP   ON PF.CODPESSOA   = PP.CODIGO 
					 INNER JOIN PSECAO      PS   ON PF.CODSECAO    = PS.CODIGO 
											    AND PF.CODCOLIGADA = PS.CODCOLIGADA 
					 LEFT  JOIN PSUBSTCHEFE PC   ON PF.CODCOLIGADA = PC.CODCOLSUBST
											    AND PF.CHAPA       = PC.CHAPASUBST 
		             LEFT  JOIN PSECAO PSECAO_PC ON PC.CODSECAO    = PSECAO_PC.CODIGO
		                                        AND PC.CODCOLIGADA = PSECAO_PC.CODCOLIGADA
					 LEFT  JOIN ( SELECT r034fun.NUMCPF
									   , r034fun.NUMCRA
									FROM VETORH_LK.SENIOR.senior.r034fun r034fun   
										 INNER JOIN ( SELECT MAXDATADM.NUMCPF
										   				   , MAXDATADM = MAX(MAXDATADM.DATADM)
														FROM VETORH_LK.SENIOR.senior.r034fun MAXDATADM
													   GROUP BY MAXDATADM.NUMCPF
													) tMAXDATADM ON r034fun.NUMCPF = tMAXDATADM.NUMCPF 
													   		    AND r034fun.DATADM = tMAXDATADM.MAXDATADM
								) FUNC_SENIOR  ON PP.CPF         = FUNC_SENIOR.NUMCPF 
                     LEFT  JOIN VETORH_LK.SENIOR.senior.r070con CRACHA
                                               ON CRACHA.numcra  = FUNC_SENIOR.numcra
	   WHERE PF.CODSITUACAO = 'D'
--	     AND PF.CODCOLIGADA = @COLIGADA   
		 AND (    (     IsNull(@MES,0) > 0
					AND IsNull(@MES,0) BETWEEN 1 AND 12
					AND PF.DATADEMISSAO between @DATAINICIO AND @DATAFIM 
				  )
			   OR (     IsNull(@CPF,'0') <> '0'
					AND PP.CPF LIKE '%' + @CPF + '%'
				  )
			 ) 

     -- RETORNA SELECT FINAL --
	SELECT DISTINCT * 
  	  FROM #tFuncionario tFuncionario 
	 ORDER BY tFuncionario.CPF_NR
	        , tFuncionario.BEGDA


  SET NOCOUNT OFF
END
	
GO
