USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[VERIFICAGLOSAGG]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VERIFICAGLOSAGG]
       @NCONTA CHAR(14),
       @SCONTA INTEGER,
       @GGASTO CHAR(2),
       @TIPO CHAR(1),
       @CODCOLIGADA INTEGER,
       @SEQPARCIAL INTEGER,
       @RESULTADO INTEGER OUTPUT,
       @RESULTREP INTEGER OUTPUT
AS
BEGIN
  DECLARE @CODCOMPRADOR INTEGER,
          @CODPRESTADOR INTEGER,
          @CPP INTEGER
  SELECT @RESULTADO = 1
  SELECT @RESULTREP = 0
  SELECT @CPP = B.CODGERAL,
         @CODPRESTADOR = CODPRESTADOR,
         @CODCOMPRADOR = CODCONVENIO
  FROM SZPARCIALATEND A(NOLOCK),
       SZUNIDATEND B(NOLOCK)
  WHERE A.CODCOLIGADA = @CODCOLIGADA
        AND A.NUMEROCONTA = @NCONTA
        AND A.SEQUENCIALCONTA = @SCONTA
        AND A.SEQPARCIAL = @SEQPARCIAL
        AND B.CODCOLIGADA = A.CODCOLIGADA
        AND B.IDUNIDATEND = A.IDUNIDFAT
  IF (SELECT COALESCE(GLOSATOTCONTA, 'F')
        FROM SZATENDRESUMOGLOSA(NOLOCK)
       WHERE CODCOLIGADA = @CODCOLIGADA
         AND NUMEROCONTA = @NCONTA
         AND SEQUENCIALCONTA = @SCONTA
         AND SEQPARCIAL = @SEQPARCIAL
     ) = 'T'
  BEGIN
    SELECT @RESULTADO = 0
  END
  ELSE
  BEGIN
    IF (@GGASTO = '02')
    BEGIN
      IF (SELECT COUNT(*)
            FROM SZATENDDIARIASGLOSA(NOLOCK)
           WHERE CODCOLIGADA = @CODCOLIGADA
             AND NUMEROCONTA = @NCONTA
             AND SEQUENCIALCONTA = @SCONTA
             AND CODGGASTO = @GGASTO
             AND SEQPARCIAL = @SEQPARCIAL
             AND ( ESTORNADO IS NULL OR ESTORNADO = 'F' )
         ) = 0
      BEGIN
        SELECT @RESULTADO = 1
      END
    ELSE
      SELECT @RESULTADO = 0
    END
    IF ( (@GGASTO = '03') OR (@GGASTO = '04') )
    BEGIN
      IF (SELECT COUNT(*)
            FROM SZATENDTAXASERVGLOSA(NOLOCK)
           WHERE CODCOLIGADA = @CODCOLIGADA
             AND NUMEROCONTA = @NCONTA
             AND SEQUENCIALCONTA = @SCONTA
             AND CODGGASTO = @GGASTO
             AND SEQPARCIAL = @SEQPARCIAL
             AND ( ESTORNADO IS NULL OR ESTORNADO = 'F' )
         ) = 0
      BEGIN
        SELECT @RESULTADO = 1
      END
    ELSE
      SELECT @RESULTADO = 0
    END
    IF ( (@GGASTO = '05') OR (@GGASTO = '06') OR (@GGASTO = '07') OR (@GGASTO = '08') )
    BEGIN
      IF (SELECT COUNT(*)
            FROM SZATENDMATMEDGLOSA(NOLOCK)
           WHERE CODCOLIGADA = @CODCOLIGADA
             AND NUMEROCONTA = @NCONTA
             AND SEQUENCIALCONTA = @SCONTA
             AND CODGGASTO = @GGASTO
             AND SEQPARCIAL = @SEQPARCIAL
             AND ( ESTORNADO IS NULL OR ESTORNADO = 'F' )
         ) = 0
      BEGIN
        SELECT @RESULTADO = 1
      END
    ELSE
      SELECT @RESULTADO = 0
    END
    IF (@GGASTO = '91')
    BEGIN
      IF (SELECT COUNT(*)
            FROM SZATENDSADTGLOSA(NOLOCK)
           WHERE CODCOLIGADA = @CODCOLIGADA
             AND NUMEROCONTA = @NCONTA
             AND SEQUENCIALCONTA = @SCONTA
             AND CODPRESTADOR = @CODPRESTADOR
             AND SEQPARCIAL = @SEQPARCIAL
             AND ( ESTORNADO IS NULL OR ESTORNADO = 'F' )
             AND ( (EXAMEFORA IS NULL) OR (EXAMEFORA = '') OR (EXAMEFORA = 'F') )
         ) = 0
      BEGIN
        SELECT @RESULTADO = 1
      END
    ELSE
      SELECT @RESULTADO = 0
    END
    IF (@GGASTO = '92')
    BEGIN
      IF (SELECT COUNT(*)
            FROM SZATENDSADTGLOSA(NOLOCK)
           WHERE CODCOLIGADA = @CODCOLIGADA
             AND NUMEROCONTA = @NCONTA
             AND SEQUENCIALCONTA = @SCONTA
             AND SEQPARCIAL = @SEQPARCIAL
             AND ( ESTORNADO IS NULL OR ESTORNADO = 'F' )
             AND ( (EXAMEFORA IS NULL) OR (EXAMEFORA = '') OR (EXAMEFORA = 'F') )
             AND ( (CODPRESTADOR <> @CODPRESTADOR) OR (CODPRESTADOR IS NULL) )
          ) = 0
      BEGIN
        SELECT @RESULTADO = 1
      END
    ELSE
      SELECT @RESULTADO = 0
    END
    IF (@GGASTO = '11')
    BEGIN
      IF (SELECT COUNT(*)
            FROM SZATENDHONORARIOGLOSA(NOLOCK)
           WHERE CODCOLIGADA = @CODCOLIGADA
             AND NUMEROCONTA = @NCONTA
             AND SEQUENCIALCONTA = @SCONTA
             AND SEQPARCIAL = @SEQPARCIAL
             AND ( ESTORNADO IS NULL OR ESTORNADO = 'F' )
             AND ( (HONORARIOFORA IS NULL) OR (HONORARIOFORA = '') OR (HONORARIOFORA = 'F') )
             AND ( (
                   CODPRESTADOR IN ( SELECT CODPRESTADOR
                                       FROM SZCREDENCIAMENTO(NOLOCK)
                                      WHERE CODCOLIGADA = @CODCOLIGADA
                                        AND CODCOMPRADOR = @CODCOMPRADOR
                                        AND CODPRESTADOR <> @CPP
                                        AND CREDDIRETO = 'T' )
                   )
                OR
                   (
                   CODPRESTADOR IN ( SELECT A.CODPRESTADOR
                                       FROM SZCREDENCIAMENTO A(NOLOCK)
                                      WHERE A.CODCOLIGADA = @CODCOLIGADA
                                        AND A.CODCOMPRADOR = @CODCOMPRADOR
                                        AND A.CREDDIRETO = 'F' )
                   )
                 )
          ) = 0
      BEGIN
        SELECT @RESULTADO = 1
      END
    ELSE
      SELECT @RESULTADO = 0
    END
    IF (@GGASTO = '12')
    BEGIN
      IF (SELECT COUNT(*)
            FROM SZATENDHONORARIOGLOSA(NOLOCK)
           WHERE CODCOLIGADA = @CODCOLIGADA
             AND NUMEROCONTA = @NCONTA
             AND SEQUENCIALCONTA = @SCONTA
             AND SEQPARCIAL = @SEQPARCIAL
             AND ( ESTORNADO IS NULL OR ESTORNADO = 'F' )
             AND ( (HONORARIOFORA IS NULL) OR (HONORARIOFORA = '') OR (HONORARIOFORA = 'F') )
             AND (
                   NOT CODPRESTADOR IN ( SELECT CODPRESTADOR
                                           FROM SZCREDENCIAMENTO(NOLOCK)
                                          WHERE CODCOLIGADA = @CODCOLIGADA
                                            AND CODCOMPRADOR = @CODCOMPRADOR )
                  OR
                   CODPRESTADOR IN ( SELECT CODPRESTADOR
                                       FROM SZCREDENCIAMENTO(NOLOCK)
                                      WHERE CODCOLIGADA = @CODCOLIGADA
                                        AND CODCOMPRADOR = @CODCOMPRADOR
                                        AND CODPRESTADOR = @CPP
                                        AND CREDDIRETO = 'T' )
                 )
          ) = 0
      BEGIN
        SELECT @RESULTADO = 1
      END
    ELSE
      SELECT @RESULTADO = 0
    END
    IF ( (@GGASTO = '12') OR (@GGASTO = '11') )
    BEGIN
      IF (SELECT COUNT(*)
            FROM SZCONTROLREPASSE(NOLOCK)
           WHERE CODCOLIGADA = @CODCOLIGADA
             AND NUMEROCONTA = @NCONTA
             AND SEQUENCIALCONTA = @SCONTA
             AND SEQPARCIAL = @SEQPARCIAL
             AND ( ESTORNADO IS NULL OR ESTORNADO = 'F' )
             AND GRUPOGASTO IN ('01', 'X1')
          ) = 0
        SELECT @RESULTREP = 0
      ELSE
        SELECT @RESULTREP = 1
      END
    ELSE
    BEGIN
      IF ( (@GGASTO = '91') OR (@GGASTO = '92') )
      BEGIN
        IF ( SELECT COUNT(*)
               FROM SZCONTROLREPASSE(NOLOCK)
              WHERE CODCOLIGADA = @CODCOLIGADA
                AND NUMEROCONTA = @NCONTA
                AND SEQUENCIALCONTA = @SCONTA
                AND ( ESTORNADO IS NULL OR ESTORNADO = 'F' )
                AND GRUPOGASTO IN ('09', 'X9')
                AND SEQPARCIAL = @SEQPARCIAL
           ) = 0
          SELECT @RESULTREP = 0
        ELSE
          SELECT @RESULTREP = 1
        END
      ELSE
      BEGIN
        IF (SELECT COUNT(*)
              FROM SZCONTROLREPASSE(NOLOCK)
             WHERE CODCOLIGADA = @CODCOLIGADA
               AND NUMEROCONTA = @NCONTA
               AND SEQUENCIALCONTA = @SCONTA
               AND GRUPOGASTO = @GGASTO
               AND SEQPARCIAL = @SEQPARCIAL
               AND ( ESTORNADO IS NULL OR ESTORNADO = 'F' )
            ) = 0
          SELECT @RESULTREP = 0
        ELSE
          SELECT @RESULTREP = 1
        IF ( @GGASTO = '10' )
        BEGIN
          SELECT @RESULTREP = 0
          SELECT @RESULTADO = 1
        END
      END
    END
  END
END
GO
