USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_table_data_read]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_table_data_read]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
  set nocount on
  -- declare local variables
  declare @cmd nvarchar(1024)
  declare @last_updstat datetime
  -- create temp. table
  create table #space_used (tabname sysname,
    [rows] char(11),
    reserved varchar(18),
    data varchar(18),
    [index] varchar(18),
    unused varchar(18))
-- collect the size information
-- execute sp_spaceused
  set @cmd =  @db_name + '.dbo.' + 'sp_spaceused ''' +
      @schema_name + '.' + @table_name + ''''
  insert into #space_used exec( @cmd )
  -- check the existence of the object
  if (select count(tabname) from #space_used) = 0
  begin
    drop table #space_used
    raiserror('Table not found.',16,1)
    RETURN
  end
  -- get the last update statistics date
  set @cmd =
  N'use [' + @db_name + N'] ' +
   N'select top 1 @last_updstat = stats_date(o.object_id, i.indid)' +
   N'from sys.objects o,sys.sysindexes i ' +
   N'where o.name = @table_name ' +
     N'and schema_name(o.schema_id) = @schema_name ' +
     N'and i.id = o.object_id order by stats_date(o.object_id, i.indid) desc'
  exec sp_executesql @cmd,
    N'@table_name sysname,@schema_name sysname,@last_updstat datetime output',
    @table_name,@schema_name,@last_updstat output
  -- maybe @last_updstat is null, but then R/3 just receives blanks.
  -- return the information
  select
    convert(int,substring(reserved,1,charindex(' ',reserved)-1)) as reserved,
    convert(int,substring(data,1,charindex(' ',data)-1)) as data,
    convert(int,substring([index],1,charindex(' ',[index])-1)) as [index],
    convert(int,substring(unused,1,charindex(' ',unused)-1)) as unused,
    convert(int,rows) as rows,
    convert(nvarchar(8),@last_updstat,112) +
      substring(replace(convert(nvarchar(8),@last_updstat,8),N':',N''),
        1,4) as last_updstat_time
  from #space_used
  -- drop temp. tables
  drop table #space_used
END
 
GO
