USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitString]
(
   @String NVARCHAR(MAX),
   @Delimiter NVARCHAR(255)
)
RETURNS @Result TABLE (Value NVARCHAR(255))
AS
BEGIN
   DECLARE @Start INT, @End INT;

   SET @Start = 1;
   SET @End = CHARINDEX(@Delimiter, @String);

   WHILE @End > 0
   BEGIN
      INSERT INTO @Result (Value) VALUES (SUBSTRING(@String, @Start, @End - @Start));

      SET @Start = @End + 1;
      SET @End = CHARINDEX(@Delimiter, @String, @Start);
   END;

   INSERT INTO @Result (Value) VALUES (SUBSTRING(@String, @Start, LEN(@String) - @Start + 1));

   RETURN;
END;
GO
