USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tr_columns]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tr_columns]
  @traceid   int ,
  @eventid   int
AS
-- Initialisations
  set nocount on
  declare  @bit_on  bit
  declare  @retval  int
  set @bit_on = 1
-- Activate event
  EXECUTE @retval = sp_trace_setevent @traceid ,
                                      @eventid ,
                                      NULL     ,
                                      @bit_on
  IF @retval <> 0
    RETURN @retval
-- Activate the various columns
  EXECUTE sp_trace_setevent @traceid, @eventid,  1, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid,  3, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid,  8, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid,  9, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid, 10, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid, 11, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid, 13, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid, 14, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid, 16, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid, 17, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid, 18, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid, 27, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid, 31, @bit_on
  EXECUTE sp_trace_setevent @traceid, @eventid, 34, @bit_on
  RETURN 0
 
GO
