USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFPRD]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TFPRD]
AS
SELECT TPRODUTODEF.CODCOLIGADA
	,CODIGOPRD
	,NOMEFANTASIA
	,TIPO
	,DESCRICAO
	,PRECO1
	,PRECO2
	,PRECO3
	,PRECO4
	,PRECO5
	,REFERENCIACP
	,PESAVEL
	,COR
	,INATIVO
	,USANUMDECPRECO
	,NUMDECPRECO
	,TRIBUTACAOECF
	,CODGRD
	,CODUNDVENDA
	,IDIMAGEM
	,ULTIMONIVEL
	,GETDATE() AS DTHRATUALIZACAO
	,DATAULTALTERACAO
	,TPRODUTO.IDPRD
FROM TPRODUTO WITH (NOLOCK)
JOIN TPRODUTODEF WITH (NOLOCK) ON TPRODUTO.IDPRD = TPRODUTODEF.IDPRD
GO
