USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_new_dbcheck]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sap_new_dbcheck]
   @dbName sysname,
   @outputfile nvarchar(500)= NULL,
   @bkupSim    nchar(1)       = N'N',
   @exeStmt    nvarchar(2000) output
As
begin
  declare @command  nvarchar(1000)
  SET NOCOUNT ON
  -- for testing:
  -- select @dbname = 'master'
  /* execute as 'sa' */
  execute as login = 'sa'
  declare @msg varchar(255)
  select @msg = 'DBCC CHECKDB (' + @dbName + ') started at '
  select @msg = @msg + cast(getdate() as varchar)
  select @msg = @msg + ' with Logfile: ' + @outputfile
  if user_name() = 'dbo'
      exec( 'raiserror(''' + @msg + ''',0,1) with log' )
  else
      print @msg
  select @command = N'dbcc checkdb( ' + @dbName
                   +N' ) with no_infomsgs'
  if @bkupSim = N'N'
    begin
     select @@version
     EXECUTE( @command )
     select @msg = 'DBCC CHECKDB (' + @dbName + ') finished at '
     select @msg = @msg + cast(getdate() as varchar)
     select @msg
    end
   else
     select @exeStmt = @command
end
 
GO
