USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[V_FLAN]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[V_FLAN] AS
SELECT FLAN.CODCOLIGADA, FLAN.IDLAN, FLAN.NUMERODOCUMENTO,
FLAN.CODIGOBARRA, FLAN.IPTE, FLAN.CNABNOSSONUMERO,
FLAN.NFOUDUP, FLAN.CLASSIFICACAO, FLAN.PAGREC,
FLAN.STATUSLAN, FLAN.CODAPLICACAO, FLAN.CODCOLXCX,
FLAN.IDFAT, FLAN.IDMOV, FLAN.IDSESSAO,
FLAN.IDPGTO, FLAN.CODCCUSTO, FLAN.HISTORICO,
FLAN.DATACRIACAO, FLAN.DATAVENCIMENTO, FLAN.DATAEMISSAO,
FLAN.DATAPREVBAIXA, FLAN.DATACONTABILIZ,
FLAN.DATACANCELAMENTO, FLAN.DATACANCELBAIXA,
FLAN.DATAESTORNOLAN,
FLAN.DATAVENCIMENTOANTECIP, FLAN.DATAOP1, FLAN.DATAOP2,
FLAN.DATAOP3, FLAN.DATAOP4, FLAN.DATAOP5, FLAN.DATAPAG,
FLAN.MESDECOMPETENCIA, FLAN.VALORORIGINAL, FLAN.VALORBAIXADO,
FLAN.VALORCAP, FLAN.VALORJUROS, FLAN.VALORDESCONTO,
FLAN.VALOROP1, FLAN.VALOROP2, FLAN.VALOROP3,
FLAN.VALOROP4, FLAN.VALOROP5, FLAN.VALOROP6, FLAN.VALOROP7,
FLAN.VALOROP8, FLAN.VALORMULTA, FLAN.VALORAUXILIAR,
FLAN.VALORBASEIRRF, FLAN.VALORIRRF, FLAN.VALORREPASSE,
FLAN.VALORVENCIMENTOANTECIP, FLAN.VALORNOTACREDITO,
FLAN.VALORADIANTAMENTO, FLAN.VALORDEVOLUCAO, FLAN.JUROSDIA,
FLAN.CAPMENSAL, FLAN.DESCONTOCOMERCIAL, FLAN.TAXASVENDOR,
FLAN.JUROSVENDOR, FLAN.CODCOLCFO, FLAN.CODCFO, FLAN.CODCOLCXA,
FLAN.CODCXA, FLAN.CODTDO, FLAN.CODFILIAL, FLAN.CODDEPARTAMENTO,
FLAN.SERIEDOCUMENTO, FLAN.IDADIANTAMENTO,
FLAN.IDNOTACREDITO, FLAN.IDLANREPASSE, FLAN.IDDEVOLUCAO,
FLAN.IDBAIXAPARCIAL, FLAN.IDIRRF, FLAN.IDCNT, FLAN.CODTB1FLX,
FLAN.CODTB2FLX, FLAN.CODTB3FLX, FLAN.CODTB4FLX, FLAN.CODTB5FLX,
FLAN.TIPOCONTABILLAN, FLAN.CODMOEVALORORIGINAL, FLAN.CODINDEXADOR,
FLAN.FILIALCONTABIL, FLAN.NUMEROCONTABIL, FLAN.SEGUNDONUMERO,
FLAN.LIBAUTORIZADA, FLAN.STATUSEXPORTACAO, FLAN.NUMLOTECONTABIL,
FLAN.STATUSEXTRATO, FLAN.CAMPOALFAOP1, FLAN.CAMPOALFAOP2,
FLAN.CAMPOALFAOP3, FLAN.CANCELADOFAT, FLAN.FATURADOFAT,
FLAN.CNABCARTEIRA, FLAN.CNABCOMANDO, FLAN.CNABACEITE,
FLAN.CNABINSTRUCAOCOD1, FLAN.CNABINSTRUCAOCOD2, FLAN.CNABSTATUS,
FLAN.CNABBANCO, FLAN.REEMBOLSAVEL, FLAN.CODVEN, FLAN.TIPOSAC,
FLAN.PERLETIVO, FLAN.PARCELA, FLAN.COTA, FLAN.CODBAIXA,
FLAN.MENSBAIXA, FLAN.LOCPAG, FLAN.LOTE, FLAN.NUMRECIBO,
FLAN.VRDEP, FLAN.SERVEXTRA, FLAN.DTALT, FLAN.HRALT,
FLAN.USUARIO, FLAN.CODRPR, FLAN.BAIXAAUTORIZADA,
FLAN.TEMCHEQUEPARCIAL, FLAN.JAIMPRIMIU, FLAN.EMITIDO,
FLAN.NUMBLOQUEIOS, FLAN.CODUSUDESBLOQUEIO1,
FLAN.CODUSUDESBLOQUEIO2, FLAN.CODEVENTO,
FLAN.CODEVENTOBAIXA, FLAN.CHAPA, FLAN.COTACAOINCLUSAO,
FLAN.COTACAOBAIXA, FLAN.CARENCIAJUROS, FLAN.TIPOJUROSDIA,
FLAN.USUARIOCRIACAO, FLAN.DATAALTERACAO, FLAN.ALTERACAOBLOQUEADA,
FLAN.MULTADIA, FLAN.IDFORMAPAGTO, FLAN.VALOROPERACAODESCONTO,
FLAN.DESCONTADO, FLAN.VALORINSS, FLAN.VALORDEDUCAO,
FLAN.NUMLOTECONTABILBX, FLAN.CNABAUTENTICACAO, FLAN.CODDIARIO,
FLAN.SEQDIARIO, FLAN.APLICFORMULA, FLAN.FORMULAJUROS,
FLAN.FORMULADESCONTO, FLAN.FORMULAMULTA,
FLAN.FORMULACAPITALIZACAO, FLAN.FORMULAVALOROP1,
FLAN.FORMULAVALOROP2, FLAN.FORMULAVALOROP3, FLAN.FORMULAVALOROP4,
FLAN.FORMULAVALOROP5, FLAN.FORMULAVALOROP6, FLAN.FORMULAVALOROP7,
FLAN.FORMULAVALOROP8, FLAN.INSSEMOUTRAEMPRESA,
FLAN.PERCENTBASEINSS, FLAN.OCAUTONOMO, FLAN.CODDIARIOBAIXA,
FLAN.SEQDIARIOBAIXA, FLAN.SEQDIARIOESTORNOBAIXA,
FLAN.SEQDIARIOESTORNO, FLAN.NSEQITMCNT, FLAN.DATAFATCNT,
FLAN.NUMSEQRECIBO, FLAN.DATARECIBO, FLAN.CODRECEITA,
FLAN.ALIQUOTA, FLAN.IDGUIA, FLAN.PERCBASEINSSEMPREGADO,
FLAN.IMPOSTOEDITADO, FLAN.REUTILIZACAO, FLAN.CNABCODRETORNO,
FLAN.MOEDAVINCULO, FLAN.IDBOLETO, FLAN.CATEGORIAAUTONOMO,
FLAN.VALORSESTSENAT, FLAN.CONVENIO, FLAN.DIGCONVENIO,
FLAN.CODCOLCFOORIGEM, FLAN.CODCFOORIGEM, FLAN.VRPERDAFINANCEIRA,
FLAN.VRBASEINSSOUTRAEMPRESA, FLAN.NSEQITMPREVISAO,
FLAN.VALORSERVICO, FLAN.VRBASEINSS, FLAN.VRBASEIRRF,
FLAN.IDHISTORICO, FLAN.STATUSDDA,
FLAN.VALORDEDUCAODEPENDENTES, FLAN.BAIXAPENDENTE,
FLAN.MULTAFIXA, FLAN.STATUSAVP,
FLAN.IDBORDERO, FLAN.RECCREATEDBY, FLAN.RECCREATEDON,
FLAN.RECMODIFIEDBY, FLAN.RECMODIFIEDON, FLAN.VALORORIGINALBX,
FLAN.VALORDESCONTOBX, FLAN.VALORJUROSBX, FLAN.VALORMULTABX,
FLAN.VALORCAPBX, FLAN.VALOROP1BX, FLAN.VALOROP2BX,
FLAN.VALOROP3BX, FLAN.VALOROP4BX, FLAN.VALOROP5BX,
FLAN.VALOROP6BX, FLAN.VALOROP7BX, FLAN.VALOROP8BX,
FLAN.VALORINSSBX, FLAN.VALORIRRFBX, FLAN.VALORSESTSENATBX,
FLAN.VALORDEVOLUCAOBX, FLAN.VALORNOTACREDITOBX,
FLAN.VALORADIANTAMENTOBX, FLAN.VALORJUROSVENDORBX,
FLAN.VALORRETENCOESBX, FLAN.VALORPERDAFINANCEIRABX,
FLAN.VALORVINCULADO, FLAN.MODELOCONTABILIZACAO,
FLAN.MODELOCONTABILIZACAOBAIXA, FLAN.IDOPERACAO,
FLAN.IDOPERACAOBAIXA, FLAN.VALORDESCONTODUPLICATA,
FLAN.IDLANMOVORIGEM, FLAN.VALORDESCONTOACORDO,
FLAN.VALORJUROSACORDO, FLAN.VALORACRESCIMOACORDO,
FLAN.MODOCALCULOBX,
FLANBAIXA.IDXCX,
FLANBAIXA.DATABAIXA,
FLANBAIXA.DATACONTABILIZBX,
FLANBAIXA.NUMCONTABILBX,
FLANBAIXA.DATABAIXA AS DATACHEQUE,
FLANBAIXA.VALORBAIXA AS VALORCHEQUE,
FLANBAIXA.NUMEROCHEQUE
FROM FLAN LEFT JOIN FLANBAIXA ON FLANBAIXA.CODCOLIGADA = FLAN.CODCOLIGADA AND FLANBAIXA.IDLAN = FLAN.IDLAN
GO
