USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[INTEGRA_SAIDA_SOLICITACAO_SADT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[INTEGRA_SAIDA_SOLICITACAO_SADT] AS
SELECT CD_INTEGRA_SAIDA_SOLIC_SADT,
TP_INTEGRACAO,
DS_ERRO,
DT_INTEGRACAO,
TP_MOVIMENTO,
TP_REGISTRO,
CD_FILIAL_INTEGRA,
TP_PEDIDO,
DT_PEDIDO,
HR_PEDIDO,
NM_PRESTADOR_SOLICITANTE,
NR_CONSELHO_SOLICITANTE,
TP_CONSELHO_SOLICITANTE,
UF_CONSELHO_SOLICITANTE,
CD_CONVENIO,
NM_CONVENIO,
CD_PLANO,
DS_PLANO,
CD_PACIENTE,
NM_PACIENTE,
DT_NASCIMENTO,
TP_SEXO,
CD_PEDIDO,
CD_ITEM_PEDIDO,
CD_EXAME,
DS_EXAME,
CD_MODALIDADE_EXAME,
DS_SIGLA_MODALIDADE_EXAME,
DT_AGENDAMENTO,
HR_AGENDAMENTO,
CD_SETOR_SOLICITANTE,
DS_SETOR_SOLICITANTE
FROM SZINTEGRASAIDASOLICSADT
GO
