USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[KCOMPONENTEMODELO_TEMP71]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[KCOMPONENTEMODELO_TEMP71] AS
SELECT 	A.CODMODELO, C.CODCOLIGADA ,C.CODESTRUTURA ,C.IDPRODUTO ,C.QTDUSADA ,C.DATINIVALIDADE ,
C.DATFIMVALIDADE ,C.IDPRODUTORAIZ ,C.CODATIVIDADE ,C.NSEQITMGRD ,
C.USAGRADE ,C.OBRIGASERMATERIAPRIMA ,C.CODATIVIDADERAIZ ,C.NSEQITMGRDRAIZ ,C.FAZPARTEMODELOBASE ,
C.PERMITEEXCLUSAO ,C.CODMODELOCOMPONENTE
FROM KATVESTRUTURAMODELO A, KCOMPONENTE C, KMODELO M, TPRD P
WHERE	A.CODCOLIGADA  = M.CODCOLIGADA AND A.CODESTRUTURA = M.CODESTRUTURA AND A.CODMODELO    = M.CODMODELO AND
A.CODCOLIGADA  = C.CODCOLIGADA AND A.CODESTRUTURA = C.CODESTRUTURA AND A.CODATIVIDADE = C.CODATIVIDADE AND
C.CODCOLIGADA  = P.CODCOLIGADA AND C.IDPRODUTO    = P.IDPRD
AND	NOT EXISTS(SELECT 1 FROM KCOMPMODELO CM
WHERE CM.CODCOLIGADA  = C.CODCOLIGADA AND CM.CODESTRUTURA = CM.CODESTRUTURA AND
CM.CODMODELO = M.CODMODELO AND CM.IDPRODUTO = C.IDPRODUTO AND
CM.CODATIVIDADE = C.CODATIVIDADE AND CM.OPERACAO = 0)
AND	NOT EXISTS(SELECT 1 FROM KCOMPMODELO CM
WHERE CM.CODCOLIGADA = C.CODCOLIGADA AND CM.CODESTRUTURA  = CM.CODESTRUTURA AND
CM.CODMODELO = M.CODMODELO AND CM.IDPRODUTORAIZ = C.IDPRODUTO
AND CM.CODATIVIDADERAIZ = C.CODATIVIDADE)
AND	((C.FAZPARTEMODELOBASE = 1) OR EXISTS(SELECT 1 FROM KCOMPMODELO CM
WHERE CM.CODCOLIGADA  = C.CODCOLIGADA AND CM.CODESTRUTURA = CM.CODESTRUTURA AND
CM.CODMODELO    = M.CODMODELO AND  CM.IDPRODUTO    = C.IDPRODUTO AND
CM.CODATIVIDADE    = C.CODATIVIDADE AND  CM.OPERACAO     = 1) OR
EXISTS(SELECT 1 FROM KCOMPMODELO CM
WHERE CM.CODCOLIGADA   = C.CODCOLIGADA AND CM.CODESTRUTURA  = CM.CODESTRUTURA AND
CM.CODMODELO     = M.CODMODELO AND CM.IDPRODUTO     = C.IDPRODUTO AND
CM.CODATIVIDADE    = C.CODATIVIDADE AND  CM.IDPRODUTORAIZ IS NOT NULL))
GO
