USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_logsize]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_get_logsize] @dbname varchar(256) as
begin
 declare @cmdstr varchar(128)
 create table #x ( dbasename varchar(256),
                  logsize float,
                  logfree float,
                  logstatus int)
 set nocount on
 select @cmdstr = 'dbcc sqlperf(logspace)'
 insert into #x
 exec( @cmdstr )
 select convert(decimal(13,3),logsize),
       freesz = convert(decimal(13,3),logsize) -
                convert(decimal(13,3),(logsize * logfree)/100)
  from #x
 where dbasename = @dbname
 drop table #x
 set nocount off
end
 
GO
