USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZRESULTPAREXAME]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZRESULTPAREXAME] AS
SELECT
	SZLABPARAMEXAMES.CODCOLIGADA,
	VWSZEXAMEITEMMET.ORDEMSERVICO,
	vwPEDIDOEXAME.CODPACIENTE,
	SZLABPARAMEXAMES.CODEXAME,
	VWSZEXAMEITEMMET.SEQEXAME,
	VWSZEXAMEITEMMET.DESCEXAME,
	VWSZEXAMEITEMMET.CODMETODO,
	SZLABPARAMEXAMES.CODPARAMETRO,
	SZLABPARAMEXAMES.DESCPARAMETRO,
	SZLABPARAMEXAMES.UNIDADE,
	SZLABUNIDADE.DESCUNIDADE,
	SZLABPARAMEXAMES.SUBTITULO,
	SZLABPARAMEXAMES.RESULTPADRAO,
	SZLABPARAMEXAMES.UTILIZATEXTO,
	SZLABPARAMEXAMES.ORDEMIMPRESSAO,
	SZLABPARAMEXAMES.PERCPARAMETRO,
	SZLABPARAMEXAMES.ESPACO,
	SZLABPARAMEXAMES.EXPRESSAO,
	SZLABPARAMEXAMES.CASASDECIMAIS,
	SZPEDEXAMERESULT.RESULTADO,
	SZPEDEXAMERESULT.PANICO,
	SZLABPARAMEXAMES.COMENTARIO
FROM
	SZLABPARAMEXAMES (NOLOCK)
LEFT JOIN
	VWSZEXAMEITEMMET (NOLOCK)
ON
	VWSZEXAMEITEMMET.CODCOLIGADA = SZLABPARAMEXAMES.CODCOLIGADA
	AND VWSZEXAMEITEMMET.CODEXAME = SZLABPARAMEXAMES.CODEXAME
	AND SZLABPARAMEXAMES.CODMETODO = VWSZEXAMEITEMMET.CODMETODO
INNER JOIN
	vwPEDIDOEXAME (NOLOCK)
ON
	vwPEDIDOEXAME.CODCOLIGADA = VWSZEXAMEITEMMET.CODCOLIGADA
	AND vwPEDIDOEXAME.ORDEMSERVICO = VWSZEXAMEITEMMET.ORDEMSERVICO
LEFT JOIN
	SZLABUNIDADE (NOLOCK)
ON
	SZLABPARAMEXAMES.CODCOLIGADA = SZLABUNIDADE.CODCOLIGADA
	AND SZLABPARAMEXAMES.UNIDADE = SZLABUNIDADE.CODUNIDADE
	AND (SZLABPARAMEXAMES.ESPACO IS NULL OR SZLABPARAMEXAMES.ESPACO = 'F')
	AND (SZLABPARAMEXAMES.COMENTARIO IS NULL OR SZLABPARAMEXAMES.COMENTARIO = 'F')
LEFT JOIN
	SZPEDEXAMERESULT (NOLOCK)
ON
	SZPEDEXAMERESULT.CODCOLIGADA = VWSZEXAMEITEMMET.CODCOLIGADA
	AND SZPEDEXAMERESULT.ORDEMSERVICO = VWSZEXAMEITEMMET.ORDEMSERVICO
	AND SZPEDEXAMERESULT.CODEXAME = VWSZEXAMEITEMMET.CODEXAME
	AND SZPEDEXAMERESULT.CODMETODO = VWSZEXAMEITEMMET.CODMETODO
	AND SZPEDEXAMERESULT.CODPARAMETRO = SZLABPARAMEXAMES.CODPARAMETRO
	AND SZPEDEXAMERESULT.SEQEXAME = VWSZEXAMEITEMMET.SEQEXAME
GO
