USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[RMV_CIRURGIA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RMV_CIRURGIA]
AS
  		SELECT SZREGINFCIRURGIA.CODCOLIGADA,
	        CASE WHEN SZPACIENTE.PRONTUARIO IS NULL
	        THEN SZPACIENTE.CODPACIENTE
	        ELSE SZPACIENTE.PRONTUARIO END AS PRONTUARIO,
		SUBSTRING(SZPACIENTE.NOMEPACIENTE,1,50) AS PACIENTE,
		SZESPECIALIDADE.CODESPECGRUPO AS CODESPECIALIDADE,
		CLASSEATENDIMENTO AS TIPOCIRURGIA,
		SZREGINFCIRURGIA.GRAUCONTAMINACAO TIPOFERIDA,
		DATAHORAINICIR DATAHORAINICIO,
		DATAHORAFIMCIR DATAHORATERMINO,
	        CASE WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'I' THEN 1
	             WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'II' THEN 2
	             WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'III' THEN 3
	             WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'IV' THEN 4
	             WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'V' THEN 5
	             WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'VI' THEN 6
		     WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'IE' THEN 1
	             WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'IIE' THEN 2
	             WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'IIIE' THEN 3
	             WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'IVE' THEN 4
	             WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'VE' THEN 5
	             WHEN SZREGINFCIRURGIA.ESTFISICOASA = 'VIE' THEN 6
		     ELSE NULL END AS ASA,
		IDENTIDADEPROF CRMANESTESISTA,
		CASE SZREGINFCIRURGIA.TECANEST
			WHEN 'G' then 'G'
			WHEN 'C' then 'B'
			ELSE 'L' END TIPOANESTESIA,
		(SZREGINFCIRURGIA.SEQINFCIRURGIA * 100) + SZREGINFCIRURGIA.CODCOLIGADA CODCIRURGIA
	FROM  SZREGINFCIRURGIA LEFT JOIN SZREGINFCIRURGIAPREST A ON (
	                 SZREGINFCIRURGIA.CODCOLIGADA    = A.CODCOLIGADA
	             AND SZREGINFCIRURGIA.SEQINFCIRURGIA = A.SEQINFCIRURGIA
	             AND A.CODFUNCAOMEDICO = 'A')
	                       LEFT JOIN SZCADGERAL ON (
	                            A.CODCOLIGADA = SZCADGERAL.CODCOLIGADA
	                        AND A.CODGERAL    = SZCADGERAL.CODGERAL)
	, SZATENDIMENTO LEFT JOIN SZESPECIALIDADE ON (SZATENDIMENTO.CODESPECGRUPO = SZESPECIALIDADE.CODESPECGRUPO),
	  SZPACIENTE
	WHERE SZREGINFCIRURGIA.NUMEROCONTA = SZATENDIMENTO.NUMEROCONTA AND
		SZREGINFCIRURGIA.SEQUENCIALCONTA = SZATENDIMENTO.SEQUENCIALCONTA AND
		SZATENDIMENTO.CODPACIENTE = SZPACIENTE.CODPACIENTE
GO
