USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tf_sysaltfiles]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tf_sysaltfiles] ()
RETURNS TABLE
AS
	RETURN SELECT * FROM master..sysaltfiles
 
GO
