USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_tabstats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_tabstats] @tabname varchar(30),
                                  @dbname varchar(256) ='0'
as
/**************************************************************/
/* Use sp_spaceused's theory, called by DB02-> detail analysis*/
/* returns to structure MSQSTABSTATS:                         */
/*     reserved, data size, index size,unused,  #rows         */
/* minlen, maxlen,rowmodctr                                   */
/* for a given table.                                         */
/**************************************************************/
 declare @reserved     int,
         @pages         int,
          @indsize      int,
          @unused       int,
          @rows         int,
          @pagesize     int,
          @id           int,
          @nonclusz     int,
          @imagepages   int,
          @usedpages    int
 declare @minlen        int,
         @maxlen        int,
         @rowmodctr     int,
         @schemaver     int
 declare @cmd1   varchar(240)
 declare @cmd2   varchar(240)
 set nocount on
 select @pagesize = low / 1024
 from master..spt_values
 where number = 1
  and type = 'E'
select @id = object_id(@tabname)
if @dbname = '0' or @dbname = db_name()
 begin
  select @reserved = isnull(sum(reserved), 0)
  from sysindexes
  where  id = @id
  and indid in (0,1,255)
--  and (status & 0x20 ) != 0x20
 /*
 ** data: sum(dpages) where indid < 2
 ** sum(used) where indid = 255 (text)
 */
 select @pages = isnull(sum(dpages), 0)
 from sysindexes
 where id = @id
 and indid < 2
 select @pages = @pages + isnull(sum(used), 0)
 from sysindexes
 where id = @id
 and indid = 255
  /* index: sum(used) where indid in (0, 1, 255) - data */
  select @indsize = isnull(sum(used), 0)
  from sysindexes
  where id = @id
  and indid in (0, 1, 255)
  select @nonclusz = isnull(sum(used), 0)
  from sysindexes
  where id = @id
  and indid > 1 and indid < 255
   and (status & 0x20 ) != 0x20
  /* index size  */
  select @indsize = @indsize - @pages
   /*unused: sum(reserved)- sum(used) where indid in (0,1,255)*/
  select @unused = isnull(sum(used), 0)
  from sysindexes
  where id = @id
  and indid in (0,1,255)
--  and (status & 0x20 ) != 0x20
  select @unused = @reserved - @unused
  select @rows = rows, @minlen = minlen,
   @maxlen = xmaxlen, @rowmodctr = rowmodctr
   from sysindexes i
   where i.id = @id
     and i.indid < 2
  /* get stats_shema_ver */
  select @schemaver = stats_schema_ver from sysobjects
  where id = object_id( @tabname )
 end
else
 begin
  /* for other databases  */
  /*****************************************************************
   *  Need to create seperate temp tables as                       *
   *  Changes in database context last only until the end of the   *
   *  EXECUTE statement and exec stmt does not clearly recognize   *
   *  the local variables if executed with 'use database' stmt     *
   *                                                               *
   *****************************************************************/
  create table #reserved(reservpgs int,
                         unusedpgs int)
  create table #image(imagepgs int)
  create table #used(usedpgs   int)
  create table #unused(unusedpgs   int)
  create table #index(indsize  int)
  create table #nonclusz(nonclusz int)
  create table #cnters(minlen    int,
                       rows      int,
                       maxlen    int,
                       rowmodctr int)
  create table #schemaver(schemaver int)
  select @cmd1 = 'use ' +@dbname + ' '
         + 'select isnull(sum(reserved),0),isnull(sum(used),0)'
         + ' from sysindexes where id ='
         +'object_id('''+@dbname+'..'
         +@tabname+''')'
         + ' and indid in (0,1,255)'
   insert into #reserved(reservpgs,unusedpgs)
   exec (@cmd1)
   select @reserved = reservpgs, @unused = unusedpgs
         from #reserved
   select @cmd1 = 'use ' +@dbname + ' '
    + 'select isnull(sum(dpages),0) from sysindexes where id ='
    +'object_id('''+@dbname+'..'
    +@tabname+''')'
    + ' and indid < 2'
   insert into #used(usedpgs)
   exec (@cmd1)
   select @usedpages = usedpgs from #used
   select @cmd1 = 'use ' +@dbname + ' '
    + 'select isnull(sum(used),0) from sysindexes where id ='
    +'object_id('''+@dbname+'..'
    +@tabname+''')'
    + ' and indid = 255'
   insert into #image(imagepgs)
   exec (@cmd1)
   select @imagepages = imagepgs from #image
 /* index: sum(used) where indid in (0, 1, 255) - data */
 select @cmd1 = 'use ' +@dbname + ' '
    + 'select isnull(sum(used),0) from sysindexes where id ='
    +'object_id('''+@dbname+'..'
    +@tabname+''')'
    + ' and indid in (0,1,255)'
   insert into #index(indsize)
   exec (@cmd1)
   select @indsize = indsize from #index
  select @cmd1 = 'use ' +@dbname + ' '
    + 'select isnull(sum(used),0) from sysindexes where id ='
    +'object_id('''+@dbname+'..'
    +@tabname+''')'
    + ' and indid > 1 and indid < 255'
    + ' and (status & 0x20 ) != 0x20'
   insert into #nonclusz(nonclusz)
   exec (@cmd1)
   select @nonclusz = nonclusz from #nonclusz
  /* index size  */
  select @pages = @usedpages + @imagepages
  select @indsize = @indsize - @pages  /* @nonclusz */
  /*unused: sum(reserved)- sum(used) where indid in (0,1,255)*/
  select @cmd1 = 'use ' +@dbname + ' '
        + 'select isnull(sum(used),0) from sysindexes where id ='
        +'object_id('''+@dbname+'..'
        +@tabname+''')'
        + ' and indid in (0,1,255)'
  insert into #unused(unusedpgs)
  exec (@cmd1)
  select @unused = unusedpgs from #unused
  select @unused = @reserved - @unused
  /*rows,minlen,maxlen,rowmodctr */
  select @cmd1 = 'use ' +@dbname + ' '
       +' select  rows,'
       +'minlen,xmaxlen, rowmodctr '
       + ' from sysindexes where id = '
       + 'object_id('''+@dbname+'..'
       +@tabname+''')'
       + ' and indid < 2'
 insert into #cnters(rows,minlen,maxlen,rowmodctr)
 exec (@cmd1)
/*  @rows = rows, */
 select @minlen = minlen,
        @rows = rows,
        @maxlen = maxlen,
        @rowmodctr = rowmodctr
        from #cnters
/* get stats_shema_ver */
  select @cmd1 = 'use ' +@dbname + ' '
       +' select  stats_schema_ver '
       + ' from sysobjects where id = '
       + 'object_id('''+@dbname+'..'
       +@tabname+''')'
 insert into #schemaver(schemaver)
 exec (@cmd1)
 select @schemaver = schemaver from #schemaver
  drop table #reserved
  drop table #image
  drop table #used
  drop table #index
  drop table #nonclusz
  drop table #cnters
  drop table #schemaver
end
select @reserved * @pagesize, @pages* @pagesize,
       @indsize * @pagesize,
       @unused* @pagesize, @rows,@minlen,@maxlen,
       @rowmodctr, @schemaver
 
GO
