USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_last_dbcc_checkdb]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_last_dbcc_checkdb]
  @db_name sysname = null
AS
BEGIN
  set nocount on
  declare @cmd nvarchar(1024)
  declare @objsrc sysname
  create table #dbcc_out(
  [ParentObject] nvarchar(200),
  [Object]       nvarchar(200),
  [Field]        nvarchar(200),
  [VALUE]        nvarchar(200))
  select @objsrc = schema_name(schema_id) from sys.objects
     where object_id = @@PROCID
  set @objsrc = N'['+@objsrc+N']'
  set @cmd = N'exec ' + @objsrc +
      '.sap_sec_db_bootpage @db_name'
  insert into #dbcc_out
     exec sp_executesql @cmd,N'@db_name sysname',@db_name
  select top 1
    convert(nchar(8),convert(datetime,[VALUE]),112)
      as last_good_dbcc_date,
    replace(convert(nvarchar(8),convert(datetime,[VALUE]),8),N':',N'')
      as last_good_dbcc_time
  from #dbcc_out
    where [Field] like N'%dbccLastKnownGood%'
END
 
GO
