USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW003]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SAVW003]
AS
SELECT CODCOLIGADA, CODINDICADOPOR, CODITEM, NOMEPACIENTE, TIPOPACIENTE, CODPACIENTE, CODATENDIMENTO,
	DESCITEM, DATAREALIZACAO, NUMEROCONTA,SEQUENCIALCONTA, SEQDEBITO, QTDE ,TOTALCH, VALORCHHM,
	VALORTOTALHM , VALORBASECALCULO,VALORDESCONTO, VALORREPASSE, VALORORIGINAL,NROFATURAHM,
	STATUSCONTA,NUMEROREMESSA, CODCOMPRADOR, HONORARIOFORA, CODPRESTADOR
FROM SAVW001
UNION
SELECT CODCOLIGADA, CODINDICADOPOR, CODITEM, NOMEPACIENTE, TIPOPACIENTE, CODPACIENTE,CODATENDIMENTO,
	DESCITEM,DATAREALIZACAO, NUMEROCONTA, SEQUENCIALCONTA, SEQDEBITO,QTDE,TOTALCH,VALORCHSADT,
	VALORTOTALSADT,VALORBASECALCULO, VALORDESCONTO,VALORREPASSE ,VALORORIGINAL ,NROFATURAHM,
	STATUSCONTA,NUMEROREMESSA,CODCOMPRADOR,EXAMEFORA, CODPRESTADOR
FROM SAVW002
GO
