USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VVRSSELECOESVAGAREG]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VVRSSELECOESVAGAREG] (
	CODCOLIGADA
	,CODVAGA
	,IDREQ
	,CODSOLICITACAO
	,JUSTIFICATIVA
	,DATAABERTURA
	,CODFILIAL
	,CODSECAO
	,CODFUNCAO
	,CODSTATUS
	,VLRSALARIO
	,NUMVAGAS
	,ATENDIDOS
	,ORIGEM
	,NOME_SECAO
	,NOME_REQUISITANTE
	,CIDADE
	,ESTADO
	)
AS
SELECT VRSSOLICITACOES.CODCOLIGADA
	,VRSSOLICITACOES.CODVAGA
	,NULL AS IDREQ
	,VRSSOLICITACOES.CODSOLICITACAO
	,VRSSOLICITACOES.JUSTIFICATIVA
	,VRSSOLICITACOES.DATAABERTURA
	,PSECAO.CODFILIAL
	,VRSSOLICITACOES.CODSECAO
	,VRSSOLICITACOES.CODFUNCAO
	,VRSSOLICITACOES.CODSTATUS
	,VRSSOLICITACOES.VLRSALARIO
	,VRSSOLICITACOES.NUMVAGAS
	,(
		SELECT COUNT(CODPESSOA)
		FROM VRSSOLICITACOESPESSOAS  WITH (NOLOCK)
		WHERE VRSSOLICITACOESPESSOAS.CODCOLIGADA = VRSSOLICITACOES.CODCOLIGADA
			AND VRSSOLICITACOESPESSOAS.CODVAGA = VRSSOLICITACOES.CODVAGA
			AND VRSSOLICITACOESPESSOAS.CODSOLICITACAO = VRSSOLICITACOES.CODSOLICITACAO
		) AS ATENDIDOS
	,'SOLICITACOES' AS ORIGEM
	,PSECAO.DESCRICAO AS NOME_SECAO
	,PFUNC.NOME AS NOME_REQUISITANTE
	,GFILIAL.CIDADE
	,GFILIAL.ESTADO
FROM VRSSOLICITACOES  WITH (NOLOCK)
JOIN PSECAO  WITH (NOLOCK) ON (
		PSECAO.CODCOLIGADA = VRSSOLICITACOES.CODCOLIGADA
		AND PSECAO.CODIGO = VRSSOLICITACOES.CODSECAO
		)
JOIN PFUNC  WITH (NOLOCK) ON (
		PFUNC.CODCOLIGADA = VRSSOLICITACOES.CODCOLREQUISITANTE
		AND PFUNC.CHAPA = VRSSOLICITACOES.CHAPAREQUISITANTE
		)
JOIN GFILIAL  WITH (NOLOCK) ON (
		GFILIAL.CODCOLIGADA = PSECAO.CODCOLIGADA
		AND GFILIAL.CODFILIAL = PSECAO.CODFILIAL
		)
UNION
SELECT VRSVAGAS.CODCOLIGADA
	,VRSVAGAS.CODVAGA
	,VVRSREQUISICOES.IDREQ
	,NULL AS CODSOLICITACAO
	,VVRSREQUISICOES.JUSTIFICATIVA
	,VVRSREQUISICOES.DATAABERTURA
	,VVRSREQUISICOES.CODFILIAL
	,VVRSREQUISICOES.CODSECAO
	,VVRSREQUISICOES.CODFUNCAO
	,VVRSREQUISICOES.CODSTATUS
	,VVRSREQUISICOES.VLRSALARIO
	,VVRSREQUISICOES.NUMVAGAS
	,(
		SELECT COUNT(CODPESSOA)
		FROM VRECRUTAMENTO  WITH (NOLOCK)
		WHERE VRECRUTAMENTO.CODCOLIGADA = VVRSREQUISICOES.CODCOLREQUISICAO
			AND VRECRUTAMENTO.IDREQ = VVRSREQUISICOES.IDREQ
		) AS ATENDIDOS
	,VVRSREQUISICOES.ORIGEM
	,VVRSREQUISICOES.NOME_SECAO
	,VVRSREQUISICOES.NOME_REQUISITANTE
	,VVRSREQUISICOES.CIDADE
	,VVRSREQUISICOES.ESTADO
FROM VRSVAGAS  WITH (NOLOCK)
JOIN VVRSREQUISICOES  WITH (NOLOCK) ON (
		VVRSREQUISICOES.CODCOLREQUISICAO = VRSVAGAS.CODCOLIGADA
		AND VVRSREQUISICOES.CODFUNCAO = VRSVAGAS.CODFUNCAO
		)
GO
