USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZRESANTEXMLAYOUTHPD]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZRESANTEXMLAYOUTHPD] AS
SELECT
  SZHPDREQUISICAO.CODCOLIGADA,
  SZLOTEPEDIDOITENS.ORDEMSERVICO,
  vwPEDIDOEXAME.CODPACIENTE,
  SZLABEXAME.CODEXAME,
  SZHPDRESULTADOSUPEREXAME.SEQUENCIAL,
  0 CODMETODO,
  SZHPDITEMEXAME.IDITEMDEEXAME,
  SZHPDITEMEXAME.NOMEITEMEXAME,
  vwPEDIDOEXAME.DATAEXAME,
  SZHPDVALOR.VALOR,
  SZPEDEXAME.CANCELADO PEDIDOCANCELADO,
  SZPEDEXAMEITEM.CANCELADO EXAMECANCELADO
FROM
  SZHPDREQUISICAO (NOLOCK)
INNER JOIN
  SZHPDCONTROLELOTE (NOLOCK)
ON
 SZHPDCONTROLELOTE.IDREQUISICAO = SZHPDREQUISICAO.ID
INNER JOIN
  SZHPDRESULTPEDIDO (NOLOCK)
ON
  SZHPDRESULTPEDIDO.IDHPDREQUISICAO = SZHPDCONTROLELOTE.IDREQUISICAO
INNER JOIN
  SZHPDPERIODO (NOLOCK)
ON
  SZHPDPERIODO.IDHPDCONTROLELOTE = SZHPDCONTROLELOTE.ID
INNER JOIN
  SZHPDRESULTADOSUPEREXAME (NOLOCK)
ON
  SZHPDRESULTADOSUPEREXAME.IDHPDRESULTADOPEDIDO = SZHPDRESULTPEDIDO.ID
INNER JOIN
  SZHPRESULTADOEXAME (NOLOCK)
ON
  SZHPRESULTADOEXAME.IDHPDRESULTADOSUPEREXAME = SZHPDRESULTADOSUPEREXAME.ID
INNER JOIN
  SZHPDITEMEXAME (NOLOCK)
ON
  SZHPDITEMEXAME.IDHPDRESULTADOEXAME = SZHPRESULTADOEXAME.ID
INNER JOIN
  SZHPDRESULTADOITEMEXAME (NOLOCK)
ON
  SZHPDRESULTADOITEMEXAME.IDHPDITEMEXAME = SZHPDITEMEXAME.ID
INNER JOIN
  SZHPDVALOR (NOLOCK)
ON
  SZHPDVALOR.IDHPDRESULTADOITEMEXAME = SZHPDRESULTADOITEMEXAME.ID
INNER JOIN
  SZLOTEPEDIDOS (NOLOCK)
ON
  SZLOTEPEDIDOS.IDLOTEENVIADO = SZHPDREQUISICAO.IDREQUISICAO
INNER JOIN
  SZLOTEPEDIDOITENS (NOLOCK)
ON
  SZLOTEPEDIDOS.CODCOLIGADA = SZLOTEPEDIDOITENS.CODCOLIGADA
AND SZLOTEPEDIDOS.CODLOTE = SZLOTEPEDIDOITENS.CODLOTE
INNER JOIN
  vwPEDIDOEXAME (NOLOCK)
ON
  SZLOTEPEDIDOITENS.CODCOLIGADA = vwPEDIDOEXAME.CODCOLIGADA
AND SZLOTEPEDIDOITENS.ORDEMSERVICO = vwPEDIDOEXAME.ORDEMSERVICO
INNER JOIN
  SZHERMESPARDINIEXAME (NOLOCK)
ON
    SZHERMESPARDINIEXAME.CODCOLIGADA = SZHPDRESULTADOSUPEREXAME.CODCOLIGADA
AND SZHERMESPARDINIEXAME.MNEXAME = SZHPDRESULTADOSUPEREXAME.MNEXAME
INNER JOIN
  SZLABEXAME (NOLOCK)
ON
  SZHERMESPARDINIEXAME.CODCOLIGADA = SZLABEXAME.CODCOLIGADA
AND SZHERMESPARDINIEXAME.CODEXAME = SZLABEXAME.CODEXAME
INNER JOIN
    SZPEDEXAME (NOLOCK)
ON
    SZLOTEPEDIDOITENS.CODCOLIGADA = SZPEDEXAME.CODCOLIGADA AND
    SZLOTEPEDIDOITENS.ORDEMSERVICO = SZPEDEXAME.ORDEMSERVICO
INNER JOIN
    SZPEDEXAMEITEM (NOLOCK)
ON
    SZLOTEPEDIDOITENS.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA AND
    SZLOTEPEDIDOITENS.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO AND
    SZLABEXAME.CODEXAME = SZPEDEXAMEITEM.CODEXAME
GO
