USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_task_hist]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_task_hist] @task smallint
as
  /*
   * This stored procedure reports the backup history
   * of the server. It only shows the backups
   * was executed via task handler.
   * Where task = 1 database
   *              2 transaction
   */
  declare @task_like varchar(21)
  declare @ccms_like varchar(21)
  declare @command   varchar(1024)
  if @task = 1
  begin
    select @task_like = '''backup data%'''
    select @ccms_like = ''' sap_backup_d%'''
  end
  else if @task = 2
  begin
    select @task_like = '''backup log%'''
    select @ccms_like = ''' sap_backup_log%'''
  end
   select @command = 'select run_date, run_time, database_name,
   message, sql_message_id, sql_severity,command
   from msdb..sysjobs t, msdb..sysjobsteps y, msdb..sysjobhistory
   where t.job_id  = y.job_id and
   y.step_id = msdb..sysjobhistory.step_id and
   t.job_id  = msdb..sysjobhistory.job_id
   and (command like upper(' + @task_like +')' +
   'or  command like '+ @task_like + 'or command like '+ @ccms_like  +
   ') order by database_name, run_date desc, run_time desc '
   exec(@command)
 
GO
