USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_coll_list]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- @STEPUNIT  'M'  minutes
--            'H'  hours
--            'D'  days
--            'W'  weeks
CREATE PROCEDURE [dbo].[sap_coll_list]
  @obj_source  sysname = ' ' , -- source schema
  @cclass      char(1) = 'E' , -- see sap_perfcntr
  @FROM_TIME   datetime      ,
  @UNTIL_TIME  datetime      ,
  @STEP        int     =  1  ,
  @STEPUNIT    char(1) = 'M'
AS
BEGIN
  SET NOCOUNT ON
-- Scalar variables
  declare  @gridline    datetime
  declare  @sample_id   int
  declare  @startat     datetime
  declare  @alive       datetime
-- Table variables and temp tables
  declare  @sampler
     TABLE ( sample_id  int      ,  -- My sample_id
             refer_id   int      ,  -- Reference (-1 : system restart)
             startat    datetime ,
             refer_ts   datetime ,
             alive      datetime )
  declare @perfcntr TABLE (
      counter_id    int            NOT NULL ,
      obj_name      nvarchar(128)  NOT NULL ,
      cntr_name     nvarchar(128)  NOT NULL ,
      required      varchar(32)    NOT NULL ,
      visible       varchar(32)    NOT NULL ,
      accumulat     nvarchar(10)   NOT NULL )
  IF object_id('tempdb..#perfinfo') IS NOT NULL
    drop table #perfinfo
-- TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE
  CREATE TABLE #perfinfo
   ( COUNTER_ID    int           ,
     INST_NAME     nvarchar(128) ,
     sample_id     int           ,
     refer_id      int           ,
     TIMESTMP      datetime      ,
     refer_ts      datetime      ,
     CNTR_VALUE    bigint        ,
     refer_val     bigint        ,
     SLOPE         float         ,
     alive         datetime      ,
     accumulat     nvarchar(20)  ,
     PRIMARY KEY CLUSTERED (TIMESTMP, COUNTER_ID, INST_NAME) )
-- Initialize variables
  IF @obj_source <> ' '
    SET @obj_source = @obj_source + '.'
-- Initialize grid step width and offset
  set @gridline = convert (datetime,
                           convert(varchar(10), @UNTIL_TIME, 112))
  set @gridline = dateadd (Day, 1, @gridline)
  if @STEPUNIT = 'W'
    BEGIN
      set @gridline = dateadd(Day, 7 - datepart(weekday, @gridline),
                              @gridline)
    END
-- Initialize table variable with sample grid
  DECLARE curs CURSOR FAST_FORWARD FOR
    SELECT sample_id, startat, alive FROM sap_perfsample
      WHERE startat   <= @UNTIL_TIME
        AND resi_flag  =  0
      ORDER BY startat DESC
  OPEN curs
  FETCH NEXT FROM curs INTO @sample_id, @startat, @alive
  WHILE @@FETCH_STATUS = 0
  BEGIN
---- Insert @sampler record
    IF @startat < @gridline
      BEGIN
        while @startat <= @gridline
          if @STEPUNIT = 'M'
            set @gridline = DATEADD (minute, - @STEP, @gridline)
          else if @STEPUNIT = 'H'
            set @gridline = DATEADD (Hour, - @STEP, @gridline)
          else if @STEPUNIT = 'D'
            set @gridline = DATEADD (Day, - @STEP, @gridline)
          else             -- 'W'
            set @gridline = DATEADD (Week, - @STEP, @gridline)
        INSERT INTO @sampler
          VALUES (@sample_id, -1, @startat, '19000101', @alive)
      END
---- Fetch next record
    IF @startat < @FROM_TIME
      BREAK
    ELSE
      FETCH NEXT FROM curs INTO @sample_id, @startat, @alive
  END
---- Cleanup cursor
  CLOSE curs
  DEALLOCATE curs
-- Define start timestamps for all intervals
  UPDATE @sampler
    SET
      a.refer_id = ( SELECT TOP 1 sample_id
                       FROM  @sampler b
                       WHERE b.sample_id < a.sample_id
                       ORDER BY sample_id DESC )
    FROM
      @sampler a
  UPDATE @sampler
    SET
      a.refer_ts = ( SELECT TOP 1 b.startat FROM @sampler b
                       WHERE b.sample_id = a.refer_id )
    FROM
      @sampler a
  DELETE TOP (1) FROM @sampler
    WHERE sample_id = ( SELECT MIN(sample_id) FROM @sampler )
  --SELECT * FROM @sampler ORDER BY sample_id
/*--- Overall list of performance counters --------------------------*/
  INSERT INTO @perfcntr
    SELECT counter_id, obj_name, cntr_name,
           required, visible, accumulat
      FROM sap_perfcntr
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      INSERT INTO @perfcntr
        SELECT counter_id, obj_name, cntr_name,
               required, visible, accumulat
          FROM sap_clr_createcntr()
    END
-- Initialize #perfinfo
  INSERT INTO #perfinfo
    SELECT
     c.counter_id AS COUNTER_ID ,
     c.inst_name AS INST_NAME   ,
     a.sample_id                ,
     a.refer_id                 ,
     a.startat AS TIMESTMP      ,
     a.refer_ts                 ,
     ( SELECT TOP 1 cntr_value FROM sap_perfinfo d
         WHERE d.counter_id = c.counter_id AND
               d.inst_name  = c.inst_name  AND
               d.resi_flag  = 0            AND
               d.sample_id  <= a.sample_id
         ORDER BY sample_id DESC ) AS CNTR_VALUE  ,
     ( SELECT TOP 1 cntr_value FROM sap_perfinfo d
         WHERE d.counter_id = c.counter_id AND
               d.inst_name  = c.inst_name  AND
               d.resi_flag  = 0            AND
               d.sample_id  <= a.refer_id
         ORDER BY sample_id DESC ) AS refer_val   ,
     0.0 AS SLOPE  ,
     a.alive       ,
     b.accumulat
    FROM
      @sampler      a ,
      @perfcntr     b ,
      sap_perfvali  c
    WHERE
      b.required LIKE '%' + @cclass + '%' AND
      b.counter_id = c.counter_id         AND
      a.sample_id  >= c.from_id           AND
      a.sample_id  <= c.to_id
-- Restarts: overwrite reference timestamp and value
  UPDATE #perfinfo
    SET
      refer_ts = alive, refer_val = 0
    WHERE
      refer_ts < alive
-- Calculate SLOPE
  UPDATE #perfinfo
    SET
      SLOPE = cast ( CNTR_VALUE - refer_val as FLOAT ) /
              datediff(second, refer_ts, TIMESTMP)
    WHERE
      accumulat IN ('int','bigint') AND
      datediff(second, refer_ts, TIMESTMP) > 0
  UPDATE #perfinfo
    SET
      SLOPE = cast ( CNTR_VALUE as FLOAT )
    WHERE
      accumulat NOT IN ('int','bigint')
-- Derived values
  EXECUTE ('exec ' + @obj_source + 'sap_p_abstract ' +
           '''' + @cclass + '''')
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      EXECUTE ('exec ' + @obj_source + 'sap_clr_abstract ' +
               '''' + @cclass + '''')
    END
  --select * from #perfinfo
  --  ORDER BY TIMESTMP, COUNTER_ID, INST_NAME
-- Return result set
  SELECT a.TIMESTMP, b.obj_name, b.cntr_name, a.INST_NAME,
         a.CNTR_VALUE, a.SLOPE
    FROM #perfinfo a, @perfcntr b
    WHERE a.COUNTER_ID = b.counter_id
      AND b.visible LIKE '%' + @cclass + '%'
    ORDER BY a.TIMESTMP, b.obj_name, b.cntr_name, a.INST_NAME
  --DROP TABLE #perfinfo
END
 
GO
