USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFTRIBUTACAOECF]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFTRIBUTACAOECF] AS
SELECT A.CODCOLIGADA, A.TRIBUTACAOECF, A.TIPO, A.ALIQUOTA, A.INATIVO, A.ALIQUOTAREDUZIDA, B.TIPOTRIBFISC, 
GETDATE() AS DTHRATUALIZACAO 
FROM TTRIBUTACAOECF A LEFT JOIN DTRIBUTO B 
ON A.CODCOLIGADA=B.CODCOLIGADA AND A.CODTRB=B.CODTRB
GO
