USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XLANBAIXA_MULTAJUROS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XLANBAIXA_MULTAJUROS] WITH SCHEMABINDING
AS
SELECT FLANBAIXA.CODCOLIGADA,
       FLANBAIXA.IDLAN,
       MAX(FLANBAIXA.RECCREATEDBY) AS RECCREATEDBY,
       MAX(FLANBAIXA.RECCREATEDON) AS RECCREATEDON,
       MAX(FLANBAIXA.RECMODIFIEDBY) AS RECMODIFIEDBY,
       MAX(FLANBAIXA.RECMODIFIEDON) AS RECMODIFIEDON,
       SUM(FLANBAIXA.VALORMULTA) AS VALORMULTA,
       SUM(FLANBAIXA.VALORJUROS) AS VALORJUROS
FROM DBO.FLANBAIXA (NOLOCK)
WHERE (FLANBAIXA.STATUS IN (0, 4))
GROUP BY FLANBAIXA.CODCOLIGADA,
         FLANBAIXA.IDLAN
HAVING SUM(FLANBAIXA.VALORMULTA) > 0 OR
       SUM(FLANBAIXA.VALORJUROS) > 0
GO
