USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_p_abstract]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_p_abstract]
    @cclass  char(1)
AS
  SET NOCOUNT ON
-- Local data
  DECLARE  @timestmp  datetime
-- Initialize selection criteria
  DECLARE @cntr_tab TABLE
    (
      counter_id   int
    )
  INSERT INTO @cntr_tab
    SELECT counter_id FROM sap_perfcntr
      WHERE counter_id > 10000
        AND visible like '%' + @cclass + '%'
-- Cursor over all distinct timestamps in #perfinfo
  DECLARE curs CURSOR FAST_FORWARD FOR
    SELECT DISTINCT TIMESTMP FROM #perfinfo
  OPEN curs
  FETCH NEXT FROM curs INTO @timestmp
  WHILE @@FETCH_STATUS = 0
  BEGIN
------ Buffer cache hit ratio [%] ------------------------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10001 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10001, ' ', 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN ( 1. - a.SLOPE / b.SLOPE ) * 100.
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 1020
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 1017
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Page lookups / batch ------------------------------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10002 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10002, ' ', 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN a.SLOPE / b.SLOPE
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 1017
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 1036
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Average latch wait time [ms] ----------------------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10003 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10003, ' ', 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN a.SLOPE / b.SLOPE
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 1023
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 1024
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Page reads / Readahead pages ----------------------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10004 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10004, ' ', 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN a.SLOPE / b.SLOPE
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 1020
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 1019
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Page reads / Page lookups -------------------------------------
      IF ( exists ( select counter_id from @cntr_tab
                      where counter_id = 10005 ) )
      BEGIN
        INSERT INTO #perfinfo
           (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
          SELECT @timestmp, 10005, ' ', 0,
                 CASE
                   WHEN b.SLOPE > 1.E-10
                     THEN a.SLOPE / b.SLOPE
                   ELSE
                     0.
                 END
            FROM #perfinfo a, #perfinfo b
            WHERE a.COUNTER_ID = 1020
              AND a.TIMESTMP   = @timestmp
              AND b.COUNTER_ID = 1017
              AND b.TIMESTMP   = @timestmp
              AND a.INST_NAME  = b.INST_NAME
      END
------ Cache hit ratio -----------------------------------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10101 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10101, '_Total', 0,
               CASE
                 WHEN b.CNTR_VALUE > 0
                   THEN ( cast(a.CNTR_VALUE as float) /
                          cast(b.CNTR_VALUE as float) ) * 100.
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 1104
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 1105
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Average lock wait time [ms] -----------------------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10201 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10201, a.INST_NAME, 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN a.SLOPE / b.SLOPE
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 1201
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 1202
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Overall lock wait time [ms] -----------------------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10202 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10202, a.INST_NAME, 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN a.SLOPE / b.SLOPE
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 1205
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 1206
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Virtual Filestats (File) : kB read / sec ----------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10301 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10301, INST_NAME,
               CNTR_VALUE / 1024, SLOPE / 1024
          FROM #perfinfo
          WHERE COUNTER_ID = 2003
            AND TIMESTMP   = @timestmp
    END
------ Virtual Filestats (File) : kB written / sec -------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10302 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10302, INST_NAME,
               CNTR_VALUE / 1024, SLOPE / 1024
          FROM #perfinfo
          WHERE COUNTER_ID = 2004
            AND TIMESTMP   = @timestmp
    END
------ Virtual Filestats (File) : kB read / request ------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10303 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10303, a.INST_NAME, 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN ( a.SLOPE / b.SLOPE ) / 1024
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 2003
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 2001
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Virtual Filestats (File) : kB written / request ---------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10304 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10304, a.INST_NAME, 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN ( a.SLOPE / b.SLOPE ) / 1024
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 2004
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 2002
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Virtual Filestats (File) : [ms] / request ----------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10305 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10305, a.INST_NAME, 0,
               CASE
                 WHEN (b.SLOPE + c.SLOPE) > 1.E-10
                   THEN a.SLOPE / ( b.SLOPE + c.SLOPE )
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b, #perfinfo c
          WHERE a.COUNTER_ID = 2005
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 2001
            AND c.COUNTER_ID = 2002
            AND b.TIMESTMP   = @timestmp
            AND c.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
            AND a.INST_NAME  = c.INST_NAME
    END
------ Virtual Filestats (File) :Read [ms] / read request -----------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10306 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10306, a.INST_NAME, 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN a.SLOPE /  b.SLOPE
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 2006
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 2001
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Virtual Filestats (File) :Write [ms] / write request -----------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10307 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10307, a.INST_NAME, 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN a.SLOPE /  b.SLOPE
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 2007
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 2002
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Virtual Filestats (Database) : NumberReads --------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10401 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10401, b.name, SUM(a.CNTR_VALUE),
               SUM(a.SLOPE)
          FROM #perfinfo a, master..sysdatabases b
          WHERE a.COUNTER_ID = 2001
            AND a.TIMESTMP   = @timestmp
            AND a.INST_NAME LIKE b.name collate database_default
                                 + ':' + '[0-9]' + '%'
          GROUP BY b.name
    END
------ Virtual Filestats (Database) : NumberWrites -------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10402 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10402, b.name, SUM(a.CNTR_VALUE),
               SUM(a.SLOPE)
          FROM #perfinfo a, master..sysdatabases b
          WHERE a.COUNTER_ID = 2002
            AND a.TIMESTMP   = @timestmp
            AND a.INST_NAME LIKE b.name collate database_default
                                 + ':' + '[0-9]' + '%'
          GROUP BY b.name
    END
------ Virtual Filestats (Database) : kB read / sec ------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10403 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10403, b.name,
               SUM(a.CNTR_VALUE) / 1024,
               SUM(a.SLOPE) / 1024
          FROM #perfinfo a, master..sysdatabases b
          WHERE a.COUNTER_ID = 2003
            AND a.TIMESTMP   = @timestmp
            AND a.INST_NAME LIKE b.name collate database_default
                                 + ':' + '[0-9]' + '%'
          GROUP BY b.name
    END
------ Virtual Filestats (Database) : kB written / sec ---------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10404 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10404, b.name,
               SUM(a.CNTR_VALUE) / 1024,
               SUM(a.SLOPE) / 1024
          FROM #perfinfo a, master..sysdatabases b
          WHERE a.COUNTER_ID = 2004
            AND a.TIMESTMP   = @timestmp
            AND a.INST_NAME LIKE b.name collate database_default
                                 + ':' + '[0-9]' + '%'
          GROUP BY b.name
    END
------ Virtual Filestats (Database) : [ms] /  request ------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10405 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10405, c.name, 0,
              CASE
                WHEN ( SUM(b.SLOPE) + SUM(d.SLOPE) ) > 1.E-10
                  THEN
                    SUM(a.SLOPE) / ( SUM(b.SLOPE) + SUM(d.SLOPE) )
                  ELSE
                    0.
              END
          FROM #perfinfo a, #perfinfo b, master..sysdatabases c, #perfinfo d
          WHERE a.COUNTER_ID = 2005
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 2001
            AND d.COUNTER_ID = 2002
            AND b.TIMESTMP   = @timestmp
            AND d.TIMESTMP   = @timestmp
            AND a.INST_NAME LIKE c.name collate database_default
                                 + ':' + '[0-9]' + '%'
            AND a.INST_NAME  = b.INST_NAME
            AND a.INST_NAME  = d.INST_NAME
          GROUP BY c.name
    END
------ Virtual Filestats (Database) : [ms] /  read request ------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10406 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10406, c.name, 0,
               CASE
              WHEN SUM(b.SLOPE) > 1.E-10
                      THEN SUM(a.SLOPE) / SUM(b.SLOPE)
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b, master..sysdatabases c
          WHERE a.COUNTER_ID = 2006
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 2001
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME LIKE c.name collate database_default
                                 + ':' + '[0-9]' + '%'
            AND a.INST_NAME  = b.INST_NAME
          GROUP BY c.name
    END
------ Virtual Filestats (Database) : [ms] /  write request ------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10407 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10407, c.name, 0,
               CASE
              WHEN SUM(b.SLOPE) > 1.E-10
                      THEN SUM(a.SLOPE) / SUM(b.SLOPE)
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b, master..sysdatabases c
          WHERE a.COUNTER_ID = 2007
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 2002
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME LIKE c.name collate database_default
                                 + ':' + '[0-9]' + '%'
            AND a.INST_NAME  = b.INST_NAME
          GROUP BY c.name
    END
------ Virtual Filestats (Server) : NumberReads ----------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10501 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10501, ' ', SUM(CNTR_VALUE), SUM(SLOPE)
          FROM #perfinfo
          WHERE COUNTER_ID = 2001
            AND TIMESTMP   = @timestmp
    END
------ Virtual Filestats (Server) : NumberWrites ---------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10502 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10502, ' ', SUM(CNTR_VALUE), SUM(SLOPE)
          FROM #perfinfo
          WHERE COUNTER_ID = 2002
            AND TIMESTMP   = @timestmp
    END
------ Virtual Filestats (Server) : kB read / sec --------------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10503 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10503, ' ',
               SUM(CNTR_VALUE) / 1024, SUM(SLOPE) / 1024
          FROM #perfinfo
          WHERE COUNTER_ID = 2003
            AND TIMESTMP   = @timestmp
    END
------ Virtual Filestats (Server) : kB written / sec -----------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10504 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10504, ' ',
               SUM(CNTR_VALUE) / 1024, SUM(SLOPE) / 1024
          FROM #perfinfo
          WHERE COUNTER_ID = 2004
            AND TIMESTMP   = @timestmp
    END
------ Virtual Filestats (Server) : [ms] / request --------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10505 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10505, ' ', 0,
               CASE
                 WHEN ( SUM(b.SLOPE) + SUM(c.SLOPE) ) > 1.E-10
                   THEN SUM(a.SLOPE) / ( SUM(b.SLOPE) + SUM(c.SLOPE) )
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b , #perfinfo c
          WHERE a.COUNTER_ID = 2005
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 2001
            AND c.COUNTER_ID = 2002
            AND b.TIMESTMP   = @timestmp
            AND c.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
            AND a.INST_NAME  = c.INST_NAME
    END
------ Virtual Filestats (Server) : Read [ms] / read request --------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10506 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10506, ' ', 0,
               CASE
                 WHEN SUM(b.SLOPE) > 1.E-10
                   THEN SUM(a.SLOPE) / SUM(b.SLOPE)
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 2006
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 2001
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ Virtual Filestats (Server) : Write [ms] /write request --------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10507 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10507, ' ', 0,
               CASE
                 WHEN SUM(b.SLOPE) > 1.E-10
                   THEN SUM(a.SLOPE) / SUM(b.SLOPE)
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 2007
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 2002
            AND b.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
    END
------ I/O counters (Overview) : PAGEIOLATCH_SH [ms] / request -------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10601 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10601, ' ', 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN a.SLOPE / b.SLOPE
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 3105
            AND a.TIMESTMP   = @timestmp
            AND a.INST_NAME  = 'Wait Time'
            AND b.COUNTER_ID = 3105
            AND b.TIMESTMP   = @timestmp
            AND b.INST_NAME  = 'Requests'
    END
------ I/O counters (Overview) : WRITELOG [ms] / request -------------
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10602 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10602, ' ', 0,
               CASE
                 WHEN b.SLOPE > 1.E-10
                   THEN a.SLOPE / b.SLOPE
                 ELSE
                   0.
               END
          FROM #perfinfo a, #perfinfo b
          WHERE a.COUNTER_ID = 3106
            AND a.TIMESTMP   = @timestmp
            AND a.INST_NAME  = 'Wait Time'
            AND b.COUNTER_ID = 3106
            AND b.TIMESTMP   = @timestmp
            AND b.INST_NAME  = 'Requests'
    END
------ SQLSERVR.EXE: CPU busy
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10701 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10701, ' ',
               (CNTR_VALUE * @@timeticks) / 1000000,
               (SLOPE * @@timeticks) / 1000000
          FROM #perfinfo
          WHERE COUNTER_ID = 3001
            AND TIMESTMP   = @timestmp
    END
------ SQLSERVR.EXE: IO busy
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10702 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10702, ' ',
               (CNTR_VALUE * @@timeticks) / 1000000,
               (SLOPE * @@timeticks) / 1000000
          FROM #perfinfo
          WHERE COUNTER_ID = 3002
            AND TIMESTMP   = @timestmp
    END
------ SQLSERVR.EXE: CPU idle <0..#CPUs>
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10703 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10703, ' ',
               (CNTR_VALUE * @@timeticks) / 1000000,
               (SLOPE * @@timeticks) / 1000000
          FROM #perfinfo
          WHERE COUNTER_ID = 3003
            AND TIMESTMP   = @timestmp
    END
------ Counters renamed in SQL2005
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id BETWEEN 10801 AND 10805 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, COUNTER_ID + 9700,
               INST_NAME, CNTR_VALUE, SLOPE
          FROM #perfinfo
          WHERE COUNTER_ID IN
             ( select counter_id - 9700 from @cntr_tab
                 where counter_id between 10801 and 10805 )
            AND TIMESTMP   = @timestmp
    END
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10811 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10811, ' ', CNTR_VALUE, SLOPE
          FROM #perfinfo
          WHERE COUNTER_ID = 1101
            AND TIMESTMP   = @timestmp
    END
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10821 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10821, INST_NAME, CNTR_VALUE, SLOPE
          FROM #perfinfo
          WHERE COUNTER_ID = 1009
            AND TIMESTMP   = @timestmp
    END
    -- Database Used[MB]: 10901 = sum(3302)
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10901 ) )
    BEGIN
      INSERT INTO #perfinfo
           (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
      SELECT @timestmp,10901,CASE charindex(':',INST_NAME)
           WHEN 0 THEN INST_NAME
           ELSE substring(INST_NAME,1,charindex(':',INST_NAME)-1 )
           END AS DBNAME,
           SUM(ISNULL(CNTR_VALUE,0)),SUM(ISNULL(SLOPE,0))
      FROM #perfinfo
          WHERE COUNTER_ID = 3302
            AND TIMESTMP   = @timestmp
          GROUP BY (CASE charindex(':',INST_NAME)
           WHEN 0 THEN INST_NAME
           ELSE substring(INST_NAME,1,charindex(':',INST_NAME)-1 )
           END)
    END
    -- Database Unused[MB]: 10902 = (3401 - (3403 + 3405))
    IF ( exists ( select counter_id from @cntr_tab
                    where counter_id = 10902 ) )
    BEGIN
      INSERT INTO #perfinfo
         (TIMESTMP, COUNTER_ID, INST_NAME, CNTR_VALUE, SLOPE)
        SELECT @timestmp, 10902, a.INST_NAME,
             a.CNTR_VALUE - b.CNTR_VALUE - c.CNTR_VALUE,
             a.SLOPE - b.SLOPE - c.SLOPE
          FROM #perfinfo a, #perfinfo b, #perfinfo c
          WHERE a.COUNTER_ID = 3401
            AND a.TIMESTMP   = @timestmp
            AND b.COUNTER_ID = 3403
            AND b.TIMESTMP   = @timestmp
            AND c.COUNTER_ID = 3405
            AND c.TIMESTMP   = @timestmp
            AND a.INST_NAME  = b.INST_NAME
            AND c.INST_NAME  = b.INST_NAME
    END
    FETCH NEXT FROM curs INTO @timestmp
  END
-- Clean-up
  CLOSE curs
  DEALLOCATE curs
 
GO
