USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPIVIEW_INTERESSES]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XPIVIEW_INTERESSES]
AS
  SELECT PESSOA_ID,
         COUNT(*) TOTAL_INTERESSES_QUENTES,
         0        TOTAL_INTERESSES_MORNOS,
         0        TOTAL_INTERESSES_FRIOS
  FROM   XPIPESSOAINTERESSE
  WHERE  SITUACAOINTERESSENOME = 'ABERTO'
         AND TERMOMETRO = 'QUENTE'
  GROUP  BY PESSOA_ID
  UNION
  SELECT PESSOA_ID,
         0        TOTAL_INTERESSES_QUENTES,
         COUNT(*) TOTAL_INTERESSES_MORNOS,
         0        TOTAL_INTERESSES_FRIOS
  FROM   XPIPESSOAINTERESSE
  WHERE  SITUACAOINTERESSENOME = 'ABERTO'
         AND TERMOMETRO = 'MORNO'
  GROUP  BY PESSOA_ID
  UNION
  SELECT PESSOA_ID,
         0        TOTAL_INTERESSES_QUENTES,
         0        TOTAL_INTERESSES_MORNOS,
         COUNT(*) TOTAL_INTERESSES_FRIOS
  FROM   XPIPESSOAINTERESSE
  WHERE  SITUACAOINTERESSENOME = 'ABERTO'
         AND TERMOMETRO = 'FRIO'
  GROUP  BY PESSOA_ID
GO
