USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPIVIEWANOTACAOTAREFAAGENDADA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XPIVIEWANOTACAOTAREFAAGENDADA]
AS
  SELECT PESSOA_ID,
         XPIANOTACAOTAREFA.DATAINICIO,
         COUNT(*) AS QUANTIDADE
  FROM   XPIANOTACAOPESSOA
         JOIN XPIANOTACAOTAREFA
           ON XPIANOTACAOTAREFA.ANOTACAOPESSOA_ID = XPIANOTACAOPESSOA.ID
  WHERE  EXECUTADA = 0
  GROUP  BY PESSOA_ID,
            XPIANOTACAOTAREFA.DATAINICIO
GO
