USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sfACUltDiaMes]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Data		 : 14/04/2011
--Autor		 : Simone Souza
--Finalidade : Retorna o último dia da competência atual

CREATE function [dbo].[sfACUltDiaMes]  ( @c_mescomp	int,
										 @c_anocomp	int )
returns smalldatetime
as
	begin
 		  declare @v_lastday   as smalldatetime
          declare @c_dataaux   as varchar(10)

          if @c_mescomp = 12
             begin
                 set @c_mescomp = 1
                 set @c_anocomp = @c_anocomp + 1
             end
          else
             begin
                 set @c_mescomp = @c_mescomp + 1
             end

          set @c_dataaux = dbo.lpad(@c_anocomp,'0',4)+ '-' + dbo.lpad(@c_mescomp,'0',2) + '-' + '01'

		  begin
     			set @v_lastday = convert(datetime, @c_dataaux, 102)-1
				--***
				return @v_lastday
				--***
		  end

	end
GO
