USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_perf_job_add]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_perf_job_add]
  @objsource  sysname = NULL,
  @area       nvarchar(64) = 'DBCOLL'
AS
  DECLARE  @rc            int           -- Procedure return value
  DECLARE  @jobname       sysname       -- Depends on DB and USER
  DECLARE  @schedule_name sysname
  DECLARE  @command       nvarchar(512) -- Command to execute
  DECLARE  @descript      nvarchar(512) -- Description
  DECLARE  @username      sysname
  DECLARE  @frequency     int
  DECLARE  @enabled       smallint
  DECLARE  @job_exists    smallint
  DECLARE @freq_subday_type        int
  DECLARE @freq_recurrence_factor  int
  DECLARE @freq_type               int
  DECLARE @freq_interval           int
  DECLARE @freq_subday_interval    int
  DECLARE @active_start_time       int
  DECLARE @tabstats_freq           nvarchar(20)
--- Initialisations --------------------------------------------------
  SET NOCOUNT ON
  SET @rc = 0
  if ( @objsource = ' ' or @objsource IS NULL )
    set @username = user
  else
    set @username = @objsource
-- Initialise job related data ---------------------------------------
  SELECT @jobname = [value]
    FROM sap_get_para(@area,'jobname')
  SELECT @command = CASE @area
    WHEN 'DBCOLL' THEN 'EXECUTE sap_dbcoll'
    WHEN 'TABSTATS' THEN 'EXECUTE sap_update_tabstats'
    WHEN 'LOCKSTATS' THEN 'EXECUTE sap_insert_locks'
    END
  -- Set frequency variables
  -- @frequency, @freq_type,@freq_interval,@freq_subday_type,
  -- and @freq_subday_interval
  IF @area = 'TABSTATS'  -- Either once per day or once weekly
  BEGIN
    SET @freq_subday_type = 1
    SELECT @tabstats_freq = [value]
      FROM sap_get_para(@area,'frequency')
    SELECT @active_start_time = cast([value] AS int) * 10000
      FROM sap_get_para(@area,'hour')
    IF @tabstats_freq like 'weekly%'
    BEGIN
      SET @freq_recurrence_factor = 1
      SET @freq_type = 8 -- weekly
      IF @tabstats_freq = 'weekly_sun'
        SET @freq_interval = 1  -- sunday
      ELSE
        SET @freq_interval = 64 -- saturday
    END
    ELSE  -- daily
    BEGIN
      SET @freq_type = 0x4 -- daily
      SET @freq_interval = 1 -- every day
      SET @freq_recurrence_factor = 0
    END
  END
  ELSE IF @area = 'LOCKSTATS' -- Every "frequency" seconds
  begin
    SELECT @frequency = cast([value] AS int)
      FROM sap_get_para(@area,'frequency')
    SET @freq_type = 0x4
    SET @freq_interval = 1
    SET @freq_subday_type = 0x2   -- seconds
    SET @freq_subday_interval = @frequency
  END
  ELSE
  BEGIN
    SELECT @frequency = cast([value] AS int)
      FROM sap_get_para(@area,'frequency')
    SET @freq_type = 0x4
    SET @freq_interval = 1
    SET @freq_subday_type = 0x4  -- minutes
    SET @freq_subday_interval = @frequency
  END
  -- Done setting frequency variables.
  SELECT @enabled = cast([value] as smallint)
    FROM sap_get_para(@area,'enabled')
  SELECT @job_exists = cast([value] as smallint)
    FROM sap_get_para(@area,'job_exists')
  SELECT @descript = CASE @area
     WHEN 'DBCOLL' THEN N'Regular SAP job to collect the database ' +
                   N'performance counters. ' +
                   N'Scheduled by sap_perf_job_add.'
     WHEN 'TABSTATS' THEN N'CCMS Update Table Statistics. ' +
                   N'Scheduled by sap_perf_job_add.'
     WHEN 'LOCKSTATS' THEN N'CCMS Lock Statistics. ' +
                   N'Scheduled by sap_perf_job_add.'
     END
-- Don't run if job already exists -----------------------------------
  if ( @job_exists > 0 )
    return 1
-- Create job and enable according to sap_mon_para entry -------------
  EXECUTE @rc = msdb..sp_add_job @job_name=@jobname,
                                 @description=@descript,
                                 @enabled = @enabled
  IF ( @rc > 0 )
    RETURN @rc
-- Create job step ---------------------------------------------------
  DECLARE  @dbname  sysname
  set @dbname = db_name()
  IF ( user = 'dbo' )
    EXECUTE @rc = msdb..sp_add_jobstep @job_name = @jobname,
                   @step_name = @area,  -- just name it the same as the "area"
                   @command = @command,
                   @on_fail_action = 1,
                   @database_name = @dbname,
                   @database_user_name = @username
  ELSE     -- Y7AK007578
    EXECUTE @rc = msdb..sp_add_jobstep @job_name = @jobname,
                   @step_name = @area,
                   @command = @command,
                   @on_fail_action = 1,
                   @database_name = @dbname
  IF ( @rc > 0 )
    RETURN @rc
-- Schedule job
  SELECT @schedule_name = CASE
    WHEN @area = 'TABSTATS' OR @area = 'LOCKSTATS' THEN 'Step 1'
    ELSE 'SAP_COLLECTOR' END
  EXECUTE @rc = msdb..sp_add_jobschedule @job_name = @jobname,
                      @name = @schedule_name,
                      @enabled = @enabled,
                      @freq_type = @freq_type,
                      @freq_recurrence_factor = @freq_recurrence_factor,
                      @freq_interval = @freq_interval,
                      @freq_subday_type = @freq_subday_type,
                      @freq_subday_interval = @freq_subday_interval,
                      @active_start_time = @active_start_time
  IF ( @rc > 0 )
    RETURN @rc
-- Add job server
  EXECUTE @rc = msdb..sp_add_jobserver @job_name = @jobname
  IF ( @rc > 0 )
    RETURN @rc
  RETURN @rc
 
GO
