USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tr_filter]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tr_filter]
  @permid      int                 , -- Permanent trace ID
  @hostname    nvarchar(256) = NULL, -- Client host name
  @hostpid     int           = NULL, -- Client process ID
  @duration    bigint        = NULL, -- Min duration in milliseconds
  @reads       bigint        = NULL, -- Min number of logical reads
  @writes      bigint        = NULL, -- Min number of physical writes
  @object_name sysname       = NULL, -- Object name to trace
  @DBuser      sysname       = NULL  -- DB user name
AS
-- Initialisations
  set nocount on
  declare  @retval   int
  declare  @traceid  int
  set @traceid = ( select traceid from sap_tr_header
                   where permid = @permid )
  set @retval = 0
-- Set filter(s)
  if @hostname IS NOT NULL AND
     @hostname <> '' AND @hostname <> ' '
    execute @retval = sp_trace_setfilter @traceid ,
                                          8       , -- column ID
                                          0       , -- AND
                                          0       , -- '='
                                         @hostname
  if @hostpid IS NOT NULL AND @hostpid <> 0 AND
     @retval = 0
    execute @retval = sp_trace_setfilter @traceid ,
                                          9       , -- column ID
                                          0       , -- AND
                                          0       , -- '='
                                         @hostpid
  if @duration IS NOT NULL AND @duration <> 0 AND
     @retval = 0
    execute @retval = sp_trace_setfilter @traceid ,
                                          13      , -- column ID
                                          0       , -- AND
                                          4       , -- '>='
                                         @duration
  if @reads IS NOT NULL AND @reads <> 0 AND
     @retval = 0
    execute @retval = sp_trace_setfilter @traceid ,
                                          16      , -- column ID
                                          0       , -- AND
                                          4       , -- '>='
                                         @reads
  if @writes IS NOT NULL AND @writes <> 0 AND
     @retval = 0
    execute @retval = sp_trace_setfilter @traceid ,
                                          17      , -- column ID
                                          0       , -- AND
                                          4       , -- '>='
                                         @writes
  if @object_name IS NOT NULL AND
     @object_name <> '' AND @object_name <> ' ' AND
     @retval = 0
    execute @retval = sp_trace_setfilter @traceid ,
                                          34      , -- column ID
                                          0       , -- AND
                                          6       , -- 'LIKE'
                                         @object_name
  if @DBuser IS NOT NULL AND
     @DBuser <> '' AND @DBuser <> ' ' AND
     @retval = 0
    execute @retval = sp_trace_setfilter @traceid ,
                                          40      , -- column ID
                                          0       , -- AND
                                          0       , -- '='
                                         @DBuser
  if @retval <> 0
    RETURN ( 100 + @retval)
  RETURN 0
 
GO
