USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SPC_ATUALIZA_LOTE_BONUM]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  RM Sistemas
  RM Saldus
  Tradução do procedimento "AtualizaLote"
  da BNIntegraSaldus.pas para Stored Procedure MSSQL
*/
CREATE PROCEDURE [dbo].[SPC_ATUALIZA_LOTE_BONUM]
@COLIGADA SMALLINT,
@DATAINICIAL DATETIME,
@DATAFINAL DATETIME
AS
BEGIN
  DECLARE @LOTESALDUS INT,
          @TABELA     CURSOR
  SET @TABELA = CURSOR STATIC FOR
  SELECT CAST(TEXTO AS INTEGER)
  FROM IPARAMETROS
  WHERE CODCOLIGADA = @COLIGADA AND
  NOME = 'CODLOTESALDUS'
  OPEN @TABELA
  FETCH NEXT FROM @TABELA INTO @LOTESALDUS
  IF (@LOTESALDUS IS NOT NULL) AND (@LOTESALDUS > 0)
  BEGIN
    UPDATE CLOTE SET
    DATAINICIAL = @DATAINICIAL,
    DATAFINAL   = @DATAFINAL
    WHERE CODCOLIGADA = @COLIGADA AND
          CODLOTE     = @LOTESALDUS
  END
  CLOSE @TABELA
  DEALLOCATE @TABELA
END
GO
