USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tr_delete]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tr_delete]
  @permid   int    -- Permanent ID in sap_tr_header
AS
-- Initialisations
  set nocount on
  declare  @traceid  int
  declare  @status   int
  declare  @command  nvarchar(360)
  declare  @retval   int
-- Check whether the trace is still active
  set @traceid = ( select traceid from sap_tr_header
                   where permid = @permid )
  set @status  = ( select cast(value as int)
                   from ::fn_trace_getinfo(@traceid)
                   where property = 5 )
  if @status = 1
    BEGIN
      set @status = 0
      execute sp_trace_setstatus @traceid, 0
    END
  if @status = 0
    execute sp_trace_setstatus @traceid, 2
  if exists (select name from master..sysobjects
                         where name = 'xp_cmdshell' )
  begin
-- Delete the trace file
      set @command = ( select tracef from sap_tr_header
                   where permid = @permid )
      set @command = 'del "' + @command + '.trc"'
      execute @retval = master..xp_cmdshell @command, no_output
  end
-- Delete the sap_tr_header entry
-- Do so even if the file could not be deleted
  DELETE FROM sap_tr_header WHERE permid = @permid
  IF @retval <> 0
    RETURN 1
  RETURN 0
 
GO
