USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_droproc]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_droproc]
  @tabname varchar(64) = NULL
as
BEGIN
set nocount on
declare @name sysname
declare @dbname char(30)
declare @type char(2)
declare @n int
declare @msg nvarchar(128)
set @n = 0
select @dbname = d.name from master.dbo.sysdatabases d,
                             master.dbo.sysprocesses p
  where d.dbid = p.dbid
    and p.spid = @@spid
if @dbname = 'master'
begin
  print 'Should not be run in master database'
  RETURN
end
if @tabname is not null
begin
  select @type = type from sysobjects with (nolock)
    where id = object_id(@tabname)
  if (@type = 'U' or @type = 'V')
  begin
    -- object is a table or a view
    select distinct name = so.name into #tnames
            from sysobjects so with (nolock),
                 sysdepends sd with (nolock)
              where sd.depid = object_id(@tabname)
                and so.id = sd.id
                and so.type = 'P'
                and (so.name like 'Y%' or
                     name like 'SAP%')
    declare tnames cursor static for select name
         from #tnames order by name
    open tnames
    fetch next from tnames into @name
    while (@@fetch_status <> -1)
    begin
      if (@@fetch_status <> -2)
      begin
        print @name
        exec('drop procedure ' + @name )
        set @n = @n + 1
      end
      fetch next from tnames into @name
    end
    close tnames
    deallocate tnames
  end
end
else
begin
  if exists (select * from sysobjects with (nolock)
               where id = object_id('module_numbers')
                 and type = 'U')
    exec( 'drop table module_numbers' )
  select name into #allnames
          from sysobjects with (nolock)
            where type = 'P'
              and (name like 'Y%' or name like 'SAP%')
              and user_name(uid) = user
  declare allnames cursor static for select name
        from #allnames order by name
  open allnames
  fetch next from allnames into @name
  while (@@fetch_status <> -1)
    begin
      if (@@fetch_status <> -2)
        begin
          print @name
          exec('drop procedure ' + @name )
          set @n = @n + 1
        end
      fetch next from allnames into @name
    end
  close allnames
  deallocate allnames
end
set @msg = N'DONE!! ' + convert(nvarchar,@n) + N' procedures were dropped.'
print @msg
if @n = 0
begin
  print N'WARNING: on schema systems you must first enter "setuser ''<sid>''"'
  print N'         where "<sid>" is the System ID in lowercase'
  print N'         before running this procedure!'
end
set nocount off
END
 
GO
