USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[OUTSERV_HIERARQUIA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[OUTSERV_HIERARQUIA] (@CODCOLIGADA INT, @CHAPA VARCHAR(16))
RETURNS TABLE
AS
RETURN (
SELECT 
	TOP 1 
	A.CODCOLIGADA,
	A.CHAPA,
	A.NOME,
	A.CODSECAO,
	GP.CPF AS CPF_GESTOR_IMEDIATO,
	(GT.CODCOLIGADA) AS COLIGADA_GESTOR_IMEDIATO,
	(GT.CHAPA) AS CHAPA_GESTOR_IMEDIATO,
	(CASE
		WHEN SUBSTRING(A3.descricao,1,2)  = '00' AND A4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(A4.CHAPA,' || ', A4.NOME, ' || ', A3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(B3.descricao,1,2)  = '00' AND B4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(B4.CHAPA,' || ', B4.NOME, ' || ', B3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(C3.descricao,1,2)  = '00' AND C4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(C4.CHAPA,' || ', C4.NOME, ' || ', C3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(D3.descricao,1,2)  = '00' AND D4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(D4.CHAPA,' || ', D4.NOME, ' || ', D3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(AA3.descricao,1,2) = '00' AND AA4.CHAPA IS NOT NULL AND AA4.CHAPA <> @CHAPA THEN CONCAT(AA4.CHAPA,' || ', AA4.NOME, ' || ', AA3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(BB3.descricao,1,2) = '00' AND BB4.CHAPA IS NOT NULL AND BB4.CHAPA <> @CHAPA THEN CONCAT(BB4.CHAPA,' || ', BB4.NOME, ' || ', BB3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(CC3.descricao,1,2) = '00' AND CC4.CHAPA IS NOT NULL AND CC4.CHAPA <> @CHAPA THEN CONCAT(CC4.CHAPA,' || ', CC4.NOME, ' || ', CC3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(DD3.descricao,1,2) = '00' AND DD4.CHAPA IS NOT NULL AND DD4.CHAPA <> @CHAPA THEN CONCAT(DD4.CHAPA,' || ', DD4.NOME, ' || ', DD3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(HGC.descricao,1,2) = '00' AND GT.CHAPA IS NOT NULL AND GT.CHAPA <> @CHAPA THEN CONCAT(GT.CHAPA,' || ', GT.NOME, ' || ', HGC.descricao COLLATE Latin1_General_CI_AS)
		ELSE NULL
	END) NIVEL_01,
	(CASE
		WHEN SUBSTRING(A3.descricao,1,2)  = '01' AND A4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(A4.CHAPA,' || ', A4.NOME, ' || ', A3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(B3.descricao,1,2)  = '01' AND B4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(B4.CHAPA,' || ', B4.NOME, ' || ', B3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(C3.descricao,1,2)  = '01' AND C4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(C4.CHAPA,' || ', C4.NOME, ' || ', C3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(D3.descricao,1,2)  = '01' AND D4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(D4.CHAPA,' || ', D4.NOME, ' || ', D3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(AA3.descricao,1,2) = '01' AND AA4.CHAPA IS NOT NULL AND AA4.CHAPA <> @CHAPA THEN CONCAT(AA4.CHAPA,' || ', AA4.NOME, ' || ', AA3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(BB3.descricao,1,2) = '01' AND BB4.CHAPA IS NOT NULL AND BB4.CHAPA <> @CHAPA THEN CONCAT(BB4.CHAPA,' || ', BB4.NOME, ' || ', BB3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(CC3.descricao,1,2) = '01' AND CC4.CHAPA IS NOT NULL AND CC4.CHAPA <> @CHAPA THEN CONCAT(CC4.CHAPA,' || ', CC4.NOME, ' || ', CC3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(DD3.descricao,1,2) = '01' AND DD4.CHAPA IS NOT NULL AND DD4.CHAPA <> @CHAPA THEN CONCAT(DD4.CHAPA,' || ', DD4.NOME, ' || ', DD3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(HGC.descricao,1,2) = '01' AND GT.CHAPA IS NOT NULL AND GT.CHAPA <> @CHAPA THEN CONCAT(GT.CHAPA,' || ', GT.NOME, ' || ', HGC.descricao COLLATE Latin1_General_CI_AS)
		ELSE NULL
	END) NIVEL_02,
	(CASE
		WHEN SUBSTRING(A3.descricao,1,2)  = '02' AND A4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(A4.CHAPA,' || ', A4.NOME, ' || ', A3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(B3.descricao,1,2)  = '02' AND B4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(B4.CHAPA,' || ', B4.NOME, ' || ', B3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(C3.descricao,1,2)  = '02' AND C4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(C4.CHAPA,' || ', C4.NOME, ' || ', C3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(D3.descricao,1,2)  = '02' AND D4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(D4.CHAPA,' || ', D4.NOME, ' || ', D3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(AA3.descricao,1,2) = '02' AND AA4.CHAPA IS NOT NULL AND AA4.CHAPA <> @CHAPA THEN CONCAT(AA4.CHAPA,' || ', AA4.NOME, ' || ', AA3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(BB3.descricao,1,2) = '02' AND BB4.CHAPA IS NOT NULL AND BB4.CHAPA <> @CHAPA THEN CONCAT(BB4.CHAPA,' || ', BB4.NOME, ' || ', BB3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(CC3.descricao,1,2) = '02' AND CC4.CHAPA IS NOT NULL AND CC4.CHAPA <> @CHAPA THEN CONCAT(CC4.CHAPA,' || ', CC4.NOME, ' || ', CC3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(DD3.descricao,1,2) = '02' AND DD4.CHAPA IS NOT NULL AND DD4.CHAPA <> @CHAPA THEN CONCAT(DD4.CHAPA,' || ', DD4.NOME, ' || ', DD3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(HGC.descricao,1,2) = '02' AND GT.CHAPA IS NOT NULL AND GT.CHAPA <> @CHAPA THEN CONCAT(GT.CHAPA,' || ', GT.NOME, ' || ', HGC.descricao COLLATE Latin1_General_CI_AS)
		ELSE NULL
	END) NIVEL_03,
	(CASE
		WHEN SUBSTRING(A3.descricao,1,2)  = '03' AND A4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(A4.CHAPA,' || ', A4.NOME, ' || ', A3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(B3.descricao,1,2)  = '03' AND B4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(B4.CHAPA,' || ', B4.NOME, ' || ', B3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(C3.descricao,1,2)  = '03' AND C4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(C4.CHAPA,' || ', C4.NOME, ' || ', C3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(D3.descricao,1,2)  = '03' AND D4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(D4.CHAPA,' || ', D4.NOME, ' || ', D3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(AA3.descricao,1,2) = '03' AND AA4.CHAPA IS NOT NULL AND AA4.CHAPA <> @CHAPA THEN CONCAT(AA4.CHAPA,' || ', AA4.NOME, ' || ', AA3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(BB3.descricao,1,2) = '03' AND BB4.CHAPA IS NOT NULL AND BB4.CHAPA <> @CHAPA THEN CONCAT(BB4.CHAPA,' || ', BB4.NOME, ' || ', BB3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(CC3.descricao,1,2) = '03' AND CC4.CHAPA IS NOT NULL AND CC4.CHAPA <> @CHAPA THEN CONCAT(CC4.CHAPA,' || ', CC4.NOME, ' || ', CC3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(DD3.descricao,1,2) = '03' AND DD4.CHAPA IS NOT NULL AND DD4.CHAPA <> @CHAPA THEN CONCAT(DD4.CHAPA,' || ', DD4.NOME, ' || ', DD3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(HGC.descricao,1,2) = '03' AND GT.CHAPA IS NOT NULL AND GT.CHAPA <> @CHAPA THEN CONCAT(GT.CHAPA,' || ', GT.NOME, ' || ', HGC.descricao COLLATE Latin1_General_CI_AS)
		ELSE NULL
	END) NIVEL_04,
	(CASE
		WHEN SUBSTRING(A3.descricao,1,2)  = '04' AND A4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(A4.CHAPA,' || ', A4.NOME, ' || ', A3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(B3.descricao,1,2)  = '04' AND B4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(B4.CHAPA,' || ', B4.NOME, ' || ', B3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(C3.descricao,1,2)  = '04' AND C4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(C4.CHAPA,' || ', C4.NOME, ' || ', C3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(D3.descricao,1,2)  = '04' AND D4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(D4.CHAPA,' || ', D4.NOME, ' || ', D3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(AA3.descricao,1,2) = '04' AND AA4.CHAPA IS NOT NULL AND AA4.CHAPA <> @CHAPA THEN CONCAT(AA4.CHAPA,' || ', AA4.NOME, ' || ', AA3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(BB3.descricao,1,2) = '04' AND BB4.CHAPA IS NOT NULL AND BB4.CHAPA <> @CHAPA THEN CONCAT(BB4.CHAPA,' || ', BB4.NOME, ' || ', BB3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(CC3.descricao,1,2) = '04' AND CC4.CHAPA IS NOT NULL AND CC4.CHAPA <> @CHAPA THEN CONCAT(CC4.CHAPA,' || ', CC4.NOME, ' || ', CC3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(DD3.descricao,1,2) = '04' AND DD4.CHAPA IS NOT NULL AND DD4.CHAPA <> @CHAPA THEN CONCAT(DD4.CHAPA,' || ', DD4.NOME, ' || ', DD3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(HGC.descricao,1,2) = '04' AND GT.CHAPA IS NOT NULL AND GT.CHAPA <> @CHAPA THEN CONCAT(GT.CHAPA,' || ', GT.NOME, ' || ', HGC.descricao COLLATE Latin1_General_CI_AS)
		ELSE NULL
	END) NIVEL_05,
	(CASE
		WHEN SUBSTRING(A3.descricao,1,2)  = '05' AND A4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(A4.CHAPA,' || ', A4.NOME, ' || ', A3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(B3.descricao,1,2)  = '05' AND B4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(B4.CHAPA,' || ', B4.NOME, ' || ', B3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(C3.descricao,1,2)  = '05' AND C4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(C4.CHAPA,' || ', C4.NOME, ' || ', C3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(D3.descricao,1,2)  = '05' AND D4.CHAPA IS NOT NULL AND A4.CHAPA <> @CHAPA THEN CONCAT(D4.CHAPA,' || ', D4.NOME, ' || ', D3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(AA3.descricao,1,2) = '05' AND AA4.CHAPA IS NOT NULL AND AA4.CHAPA <> @CHAPA THEN CONCAT(AA4.CHAPA,' || ', AA4.NOME, ' || ', AA3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(BB3.descricao,1,2) = '05' AND BB4.CHAPA IS NOT NULL AND BB4.CHAPA <> @CHAPA THEN CONCAT(BB4.CHAPA,' || ', BB4.NOME, ' || ', BB3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(CC3.descricao,1,2) = '05' AND CC4.CHAPA IS NOT NULL AND CC4.CHAPA <> @CHAPA THEN CONCAT(CC4.CHAPA,' || ', CC4.NOME, ' || ', CC3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(DD3.descricao,1,2) = '05' AND DD4.CHAPA IS NOT NULL AND DD4.CHAPA <> @CHAPA THEN CONCAT(DD4.CHAPA,' || ', DD4.NOME, ' || ', DD3.descricao COLLATE Latin1_General_CI_AS)
		WHEN SUBSTRING(HGC.descricao,1,2) = '05' AND GT.CHAPA IS NOT NULL AND GT.CHAPA <> @CHAPA THEN CONCAT(GT.CHAPA,' || ', GT.NOME, ' || ', HGC.descricao COLLATE Latin1_General_CI_AS)
		ELSE NULL
	END) NIVEL_06
FROM
	PFUNC A (NOLOCK)
	
	LEFT JOIN PortalRHPRD..zcrmportal_frente_trabalho FT (NOLOCK) ON FT.codsecao = A.CODSECAO COLLATE Latin1_General_CI_AS
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_frentetrabalho HF (NOLOCK) ON HF.id_frentetrabalho = FT.id
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_chapa HC (NOLOCK) ON HC.id_hierarquia = HF.id_hierarquia
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia H (NOLOCK) ON H.id = HC.id_hierarquia AND H.inativo IS NULL
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_grupocargo HGC (NOLOCK) ON HGC.id = H.id_grupocargo
	-- gestor imediato
	LEFT JOIN PFUNC GT (NOLOCK) ON GT.CHAPA = HC.chapa COLLATE Latin1_General_CI_AS AND GT.CODCOLIGADA = HC.coligada
	LEFT JOIN PPESSOA GP (NOLOCK) ON GP.CODIGO = GT.CODPESSOA
	-- niveis abaixo 1
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia A1 (NOLOCK) ON A1.id_hierarquia = H.id AND A1.inativo IS NULL
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_chapa A2 (NOLOCK) ON A2.id_hierarquia = A1.id
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_grupocargo A3 (NOLOCK) ON A3.id = A1.id_grupocargo
	LEFT JOIN PFUNC A4 (NOLOCK) ON A4.CHAPA = A2.chapa COLLATE Latin1_General_CI_AS AND A4.CODCOLIGADA = COALESCE(A2.coligada_origem,A1.coligada)
	-- niveis abaixo 2
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia B1 (NOLOCK) ON B1.id_hierarquia = A1.id AND B1.inativo IS NULL
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_chapa B2 (NOLOCK) ON B2.id_hierarquia = B1.id
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_grupocargo B3 (NOLOCK) ON B3.id = B1.id_grupocargo
	LEFT JOIN PFUNC B4 (NOLOCK) ON B4.CHAPA = B2.chapa COLLATE Latin1_General_CI_AS AND B4.CODCOLIGADA = COALESCE(B2.coligada_origem,B1.coligada)
	-- niveis abaixo 3
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia C1 (NOLOCK) ON C1.id_hierarquia = B1.id AND C1.inativo IS NULL
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_chapa C2 (NOLOCK) ON C2.id_hierarquia = C1.id
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_grupocargo C3 (NOLOCK) ON C3.id = C1.id_grupocargo
	LEFT JOIN PFUNC C4 (NOLOCK) ON C4.CHAPA = C2.chapa COLLATE Latin1_General_CI_AS AND C4.CODCOLIGADA = COALESCE(C2.coligada_origem,C1.coligada)
	-- niveis abaixo 4
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia D1 (NOLOCK) ON D1.id_hierarquia = C1.id AND D1.inativo IS NULL
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_chapa D2 (NOLOCK) ON D2.id_hierarquia = D1.id
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_grupocargo D3 (NOLOCK) ON D3.id = D1.id_grupocargo
	LEFT JOIN PFUNC D4 (NOLOCK) ON D4.CHAPA = D2.chapa COLLATE Latin1_General_CI_AS AND D4.CODCOLIGADA = COALESCE(D2.coligada_origem,D1.coligada)
	
	-- niveis acima 1
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia AA1 (NOLOCK) ON AA1.id = H.id_hierarquia AND AA1.inativo IS NULL
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_chapa AA2 (NOLOCK) ON AA2.id_hierarquia = AA1.id
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_grupocargo AA3 (NOLOCK) ON AA3.id = AA1.id_grupocargo
	LEFT JOIN PFUNC AA4 (NOLOCK) ON AA4.CHAPA = AA2.chapa COLLATE Latin1_General_CI_AS AND AA4.CODCOLIGADA = COALESCE(AA2.coligada_origem,AA1.coligada)
	-- niveis acima 2
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia BB1 (NOLOCK) ON BB1.id = AA1.id_hierarquia AND BB1.inativo IS NULL
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_chapa BB2 (NOLOCK) ON BB2.id_hierarquia = BB1.id
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_grupocargo BB3 (NOLOCK) ON BB3.id = BB1.id_grupocargo
	LEFT JOIN PFUNC BB4 (NOLOCK) ON BB4.CHAPA = BB2.chapa COLLATE Latin1_General_CI_AS AND BB4.CODCOLIGADA = COALESCE(BB2.coligada_origem,BB1.coligada)
	-- niveis acima 3
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia CC1 (NOLOCK) ON CC1.id = BB1.id_hierarquia AND CC1.inativo IS NULL
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_chapa CC2 (NOLOCK) ON CC2.id_hierarquia = CC1.id
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_grupocargo CC3 (NOLOCK) ON CC3.id = CC1.id_grupocargo
	LEFT JOIN PFUNC CC4 (NOLOCK) ON CC4.CHAPA = CC2.chapa COLLATE Latin1_General_CI_AS AND CC4.CODCOLIGADA = COALESCE(CC2.coligada_origem,CC1.coligada)
	-- niveis acima 4
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia DD1 (NOLOCK) ON DD1.id = CC1.id_hierarquia AND DD1.inativo IS NULL
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_chapa DD2 (NOLOCK) ON DD2.id_hierarquia = DD1.id
	LEFT JOIN PortalRHPRD..zcrmportal_hierarquia_grupocargo DD3 (NOLOCK) ON DD3.id = DD1.id_grupocargo
	LEFT JOIN PFUNC DD4 (NOLOCK) ON DD4.CHAPA = DD2.chapa COLLATE Latin1_General_CI_AS AND DD4.CODCOLIGADA = COALESCE(DD2.coligada_origem,DD1.coligada)
	
	
	
WHERE
		A.CODCOLIGADA = @CODCOLIGADA
	AND A.CHAPA = @CHAPA
	
)
GO
