USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[vwLOTEPEDIDOSEXAME]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwLOTEPEDIDOSEXAME] AS
   SELECT vwPEDIDOEXAME.CODCOLIGADA, SZLOTEPEDIDOS.ID, SZLOTEPEDIDOS.CODLOTE, SZLOTEPEDIDOS.CODLOTELAB, SZLOTEPEDIDOS.DATALOTE, SZLOTEPEDIDOS.TIPO, SZLOTEPEDIDOS.PROTOCOLO, SZLOTEPEDIDOS.IDLOTEENVIADO, SZLOTEPEDIDOS.CONTEUDOREQUISICAO,
     vwPEDIDOEXAME.ORDEMSERVICO, SZPEDEXAMEITEM.CODEXAME, SZLABEXAME.DESCEXAME, SZPEDEXAMEITEM.SEQEXAME, SZLABEXAME.MNEMONICO, ATENDIMENTOEXAME.IDUNIDATEND, ATENDIMENTOEXAME.DESCRICAO, vwPEDIDOEXAME.DATAEXAME,
     vwPEDIDOEXAME.INFCLINICAS, vwPEDIDOEXAME.CODPACIENTE, vwPEDIDOEXAME.NOMEPACIENTE, vwPEDIDOEXAME.SEXO, vwPEDIDOEXAME.DATANASC, vwPEDIDOEXAME.CPF, SZLABMATERIALEXAME.CODMATERIAL, SZLABMATERIALEXAME.DESCMATERIAL,
     SZLABEXAME.INSTCOLETA, SZPEDEXAMEITEM.DATACOLETA, SZCONSERVANTES.DESCRICAO AS DESCRICONSERVANTE, SZLOTEPEDIDOS.CODGERAL, SZLABLOCEXECEXTERNA.NOMELOCAL, SZINTEGRALABIDENT.USUARIO, SZINTEGRALABIDENT.SENHA,
     SZINTEGRALABIDENT.LAYOUT, SZHERMESPARDINIEXAME.MNMATERIAL, SZHERMESPARDINIEXAME.MNEXAME, SZHERMESPARDINIEXAME.DESCRICAOEXAME, SZHERMESPARDINIEXAME.ORIGEMADMISSIVEL, SZHERMESPARDINIEXAME.DESCRICAOMATERIAL,
     SZHERMESPARDINIEXAME.DESCRICAOCONSERVANTE, DADOSCOMPLEMENTARES.PESO, DADOSCOMPLEMENTARES.LINFOCITOSABSOLUTO, DADOSCOMPLEMENTARES.ALTURA, DADOSCOMPLEMENTARES.TEMPODIURESE, DADOSCOMPLEMENTARES.VOLUMEDIURESE
        FROM vwPEDIDOEXAME (NOLOCK)
    INNER JOIN SZPEDEXAMEITEM (NOLOCK) ON SZPEDEXAMEITEM.CODCOLIGADA = vwPEDIDOEXAME.CODCOLIGADA
         AND SZPEDEXAMEITEM.ORDEMSERVICO = vwPEDIDOEXAME.ORDEMSERVICO
         AND SZPEDEXAMEITEM.CANCELADO != 'T'
    INNER JOIN SZLOTEPEDIDOITENS (NOLOCK) ON SZLOTEPEDIDOITENS.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
         AND SZLOTEPEDIDOITENS.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO
    INNER JOIN SZLOTEPEDIDOS (NOLOCK) ON SZLOTEPEDIDOS.CODCOLIGADA = SZLOTEPEDIDOITENS.CODCOLIGADA
         AND SZLOTEPEDIDOS.CODLOTE = SZLOTEPEDIDOITENS.CODLOTE
    INNER JOIN SZPEDEXAME (NOLOCK) ON SZPEDEXAME.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
         AND SZPEDEXAME.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO
    INNER JOIN SZLABLOCEXECEXTERNA (NOLOCK) ON SZPEDEXAMEITEM.CODCOLIGADA = SZLABLOCEXECEXTERNA.CODCOLIGADA
         AND SZPEDEXAMEITEM.CODLOCAL = SZLABLOCEXECEXTERNA.CODLOCAL
    INNER JOIN SZHERMESPARDINIEXAME (NOLOCK) ON SZHERMESPARDINIEXAME.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
         AND SZHERMESPARDINIEXAME.CODEXAME = SZPEDEXAMEITEM.CODEXAME
    LEFT JOIN SZEXAMECONSERVANTE (NOLOCK) ON SZEXAMECONSERVANTE.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
         AND SZEXAMECONSERVANTE.CODEXAME = SZPEDEXAMEITEM.CODEXAME
   LEFT OUTER JOIN SZINTEGRALABIDENT (NOLOCK) ON SZINTEGRALABIDENT.CODCOLIGADA = SZLABLOCEXECEXTERNA.CODCOLIGADA
         AND SZINTEGRALABIDENT.CODGERAL = SZLABLOCEXECEXTERNA.CODGERAL
   LEFT OUTER JOIN SZLABEXAME (NOLOCK) ON SZLABEXAME.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
         AND SZLABEXAME.CODEXAME = SZPEDEXAMEITEM.CODEXAME
   LEFT OUTER JOIN SZLABMATERIALEXAME (NOLOCK) ON SZLABMATERIALEXAME.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
         AND SZLABMATERIALEXAME.CODMATERIAL = SZPEDEXAMEITEM.CODMATERIAL
   LEFT OUTER JOIN SZCONSERVANTES (NOLOCK) ON SZCONSERVANTES.CODCOLIGADA = SZEXAMECONSERVANTE.CODCOLIGADA
         AND SZCONSERVANTES.CODCONSERVANTE = SZEXAMECONSERVANTE.CODCONSERVANTE
   LEFT OUTER JOIN SZUNIDATEND AS ATENDIMENTOEXAME (NOLOCK) ON ATENDIMENTOEXAME.CODCOLIGADA = SZPEDEXAME.CODCOLIGADA
         AND ATENDIMENTOEXAME.IDUNIDATEND = SZPEDEXAME.IDUNIDATEND
   LEFT OUTER JOIN SZCADGERAL (NOLOCK) ON SZLABLOCEXECEXTERNA.CODCOLIGADA = SZCADGERAL.CODCOLIGADA
         AND SZLABLOCEXECEXTERNA.CODGERAL = SZCADGERAL.CODGERAL
        JOIN (SELECT SZPEDEXAMEITEM.CODCOLIGADA, SZPEDEXAMEITEM.ORDEMSERVICO, SZPEDEXAMEITEM.CODEXAME, INFCOMPALTURA.ALTURA, INFCOMPPESO.PESO, INFCOMPLINFOCITOSABSOLUTO.LINFOCITOSABSOLUTO, INFCOMPTEMPODIURESE.TEMPODIURESE, INFCOMPVOLUMEDIURESE.VOLUMEDIURESE
          FROM SZPEDEXAMEITEM (NOLOCK)
             LEFT OUTER JOIN
       (SELECT SZINFCOMEXAPEDIDO.ORDEMSERVICO, SZINFCOMEXAPEDIDO.CODEXAME, SZINFCOMEXAPEDIDO.INFORMACAO ALTURA, SZINFCOMPEXAME.DESCRICAO
                FROM SZINFCOMEXAPEDIDO (NOLOCK)
                JOIN SZINFCOMPEXAME (NOLOCK)
                  ON SZINFCOMPEXAME.CODCOLIGADA = SZINFCOMEXAPEDIDO.CODCOLIGADA
                 AND SZINFCOMPEXAME.CODIGO = SZINFCOMEXAPEDIDO.CODINFORMACAO)
        INFCOMPALTURA
          ON INFCOMPALTURA.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO
                 AND INFCOMPALTURA.CODEXAME = SZPEDEXAMEITEM.CODEXAME
                 AND UPPER(INFCOMPALTURA.DESCRICAO) = 'ALTURA'
             LEFT OUTER JOIN
       (SELECT SZINFCOMEXAPEDIDO.ORDEMSERVICO, SZINFCOMEXAPEDIDO.CODEXAME, SZINFCOMEXAPEDIDO.INFORMACAO PESO, SZINFCOMPEXAME.DESCRICAO
                FROM SZINFCOMEXAPEDIDO (NOLOCK)
                JOIN SZINFCOMPEXAME (NOLOCK)
                  ON SZINFCOMPEXAME.CODCOLIGADA = SZINFCOMEXAPEDIDO.CODCOLIGADA
                 AND SZINFCOMPEXAME.CODIGO = SZINFCOMEXAPEDIDO.CODINFORMACAO)
          INFCOMPPESO
                  ON INFCOMPPESO.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO
                 AND INFCOMPPESO.CODEXAME = SZPEDEXAMEITEM.CODEXAME
                 AND UPPER(INFCOMPPESO.DESCRICAO) = 'PESO'
      LEFT OUTER JOIN
       (SELECT SZINFCOMEXAPEDIDO.ORDEMSERVICO, SZINFCOMEXAPEDIDO.CODEXAME, SZINFCOMEXAPEDIDO.INFORMACAO LINFOCITOSABSOLUTO, SZINFCOMPEXAME.DESCRICAO
                FROM SZINFCOMEXAPEDIDO (NOLOCK)
                JOIN SZINFCOMPEXAME (NOLOCK)
                  ON SZINFCOMPEXAME.CODCOLIGADA = SZINFCOMEXAPEDIDO.CODCOLIGADA
                 AND SZINFCOMPEXAME.CODIGO = SZINFCOMEXAPEDIDO.CODINFORMACAO)
          INFCOMPLINFOCITOSABSOLUTO
                  ON INFCOMPLINFOCITOSABSOLUTO.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO
                 AND INFCOMPLINFOCITOSABSOLUTO.CODEXAME = SZPEDEXAMEITEM.CODEXAME
                 AND UPPER(INFCOMPLINFOCITOSABSOLUTO.DESCRICAO) = 'LINFOCITOSABSOLUTO'
             LEFT OUTER JOIN
       (SELECT SZINFCOMEXAPEDIDO.ORDEMSERVICO,SZINFCOMEXAPEDIDO.CODEXAME, SZINFCOMEXAPEDIDO.INFORMACAO TEMPODIURESE,SZINFCOMPEXAME.DESCRICAO
                FROM SZINFCOMEXAPEDIDO (NOLOCK)
                JOIN SZINFCOMPEXAME (NOLOCK)
                  ON SZINFCOMPEXAME.CODCOLIGADA = SZINFCOMEXAPEDIDO.CODCOLIGADA
                 AND SZINFCOMPEXAME.CODIGO = SZINFCOMEXAPEDIDO.CODINFORMACAO)
       INFCOMPTEMPODIURESE
                  ON INFCOMPTEMPODIURESE.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO
                 AND INFCOMPTEMPODIURESE.CODEXAME = SZPEDEXAMEITEM.CODEXAME
                 AND UPPER(INFCOMPTEMPODIURESE.DESCRICAO) = 'TEMPODIURESE'
             LEFT OUTER JOIN
       (SELECT SZINFCOMEXAPEDIDO.ORDEMSERVICO, SZINFCOMEXAPEDIDO.CODEXAME, SZINFCOMEXAPEDIDO.INFORMACAO VOLUMEDIURESE, SZINFCOMPEXAME.DESCRICAO
                FROM SZINFCOMEXAPEDIDO (NOLOCK)
                JOIN SZINFCOMPEXAME (NOLOCK)
                  ON SZINFCOMPEXAME.CODCOLIGADA = SZINFCOMEXAPEDIDO.CODCOLIGADA
                 AND SZINFCOMPEXAME.CODIGO = SZINFCOMEXAPEDIDO.CODINFORMACAO)
        INFCOMPVOLUMEDIURESE
          ON INFCOMPVOLUMEDIURESE.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO
         AND INFCOMPVOLUMEDIURESE.CODEXAME = SZPEDEXAMEITEM.CODEXAME
         AND UPPER(INFCOMPVOLUMEDIURESE.DESCRICAO) = 'VOLUMEDIURESE'
      )
    DADOSCOMPLEMENTARES
     ON DADOSCOMPLEMENTARES.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
      AND DADOSCOMPLEMENTARES.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO
      AND DADOSCOMPLEMENTARES.CODEXAME = SZPEDEXAMEITEM.CODEXAME
GO
