USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[pc_PainelHst]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[pc_PainelHst]
AS
BEGIN
  DECLARE @DataIniA DATETIME   -- data início do mês atual
        , @DataIni  DATETIME   -- data início do mês a alimentar histórico
        , @DataFim  DATETIME   -- data fim do mês a alimentar histórico
        , @AnoComp  VARCHAR(4) -- Ano para alimentar histórico
        , @MesComp  VARCHAR(2) -- Mês para alimentar histórico

  SET @DataIniA = Convert(VARCHAR(6), GetDate(), 112) + '01'
  SET @DataFim  = DateAdd (Day,-1, @DataIniA)
  SET @DataIni  = Convert(VARCHAR(6), @DataFim, 112) + '01'
  SET @AnoComp  = Year(@DataIni)
  SET @MesComp  = Month(@DataIni)


  BEGIN
  INSERT INTO HST_FUNCIONARIO  ( AnoComp
                               , MesComp
                               , DtAdm
                               , DtDm
                               , CodSituacao
                               , CodColigada
                               , ChapaDir
                               , CodFilial
                               , CodSecao
                               , Chapa
                               , CodCargo
                               , Nome
                               , CodFuncao
                               , Mobra
                               , SalarioA
                               --, SalarioB
                               --, SalarioC
                               , Aposentado
                               , DeficienteFisico
                               )

       SELECT @AnoComp
            , @MesComp
            , a.DataAdmissao
            , a.DataDemissao
            , a.CodSituacao
            , a.CodColigada
            , c.ChapaSubst 
            , a.CodFilial
            , a.CodSecao
            , a.Chapa
            , e.Codigo
            , a.Nome
            , a.Codfuncao
            , b.Vtcodlocal
            , a.Salario
            --, Valor = 0
            --, g.Simuladoc
            , a.Aposentado
            , f.DeficienteFisico
         FROM Pfunc a
              LEFT  JOIN PFCompl     g  ON a.CodColigada = g.CodColigada
                                       AND a.Chapa       = g.Chapa 
              LEFT JOIN PSecao      b  ON a.CodColigada = b.CodColigada
                                       AND a.CodSecao    = b.Codigo
              LEFT JOIN PSubstChefe c  ON a.CodColigada = c.CodColigada
                                       AND a.CodSecao    = c.CodSecao
              LEFT JOIN PFuncao     d  ON a.CodColigada = d.CodColigada
                                       AND a.CodFuncao   = d.Codigo
              LEFT JOIN PCargo      e  ON a.CodColigada = e.CodColigada
                                       AND d.Cargo       = e.Codigo
              INNER JOIN PPessoa     f  ON a.CodPessoa   = f.Codigo
        WHERE a.CodSituacao  <> 'D'
          AND a.DataAdmissao <= @DataFim

  UNION

       SELECT @AnoComp
            , @MesComp
            , a.DataAdmissao
            , a.DataDemissao
            , a.CodSituacao
            , a.CodColigada
            , c.ChapaSubst 
            , a.CodFilial
            , a.CodSecao
            , a.Chapa
            , e.Codigo
            , a.Nome
            , a.Codfuncao
            , b.Vtcodlocal
            , a.Salario
            --, Valor = 0
            --, g.Simuladoc
            , a.Aposentado
            , f.DeficienteFisico
         FROM Pfunc a
              LEFT  JOIN PFCompl     g  ON a.CodColigada = g.CodColigada
                                       AND a.Chapa       = g.Chapa
              LEFT JOIN PSecao      b  ON a.CodColigada = b.CodColigada
                                       AND a.CodSecao    = b.Codigo
              LEFT JOIN PSubstChefe c  ON a.CodColigada = c.CodColigada
                                       AND a.CodSecao    = c.CodSecao
              LEFT JOIN PFuncao     d  ON a.CodColigada = d.CodColigada
                                       AND a.CodFuncao   = d.Codigo 
              LEFT JOIN PCargo      e  ON a.CodColigada = e.CodColigada
                                       AND d.Cargo       = e.Codigo
              INNER JOIN PPessoa     f  ON a.CodPessoa   = f.Codigo
        WHERE a.CodSituacao = 'D'
          AND (    a.DataDemissao >= @DataIni
               AND a.DataDemissao <= @DataFim
              )
     ORDER BY a.Chapa
  END
END

GO
