USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_rz20_tlogcheck]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_rz20_tlogcheck] @time nchar(4) = 'mins'
AS
BEGIN
declare @tlogMins int
declare @logUsed float
create table #dbccout
( dbName    sysname,
  logSizeMB float,
  logUsed   float,
  status    int
 )
set nocount on
if @time = 'mins'
  select @tlogMins = datediff( minute,
   max( backup_start_date),getdate() )
  from msdb..backupset
  where type = 'L' and database_name = db_name()
else if @time = 'days'
  select @tlogMins = datediff( day,
   max( backup_start_date),getdate() )
   from msdb..backupset
   where type = 'L' and database_name = db_name()
insert into #dbccout
  EXECUTE ('DBCC sqlperf(logspace) WITH NO_INFOMSGS')
select @logUsed = logUsed from #dbccout where dbName = db_name()
select @tlogMins as tlog_time, convert(int,@logUsed) as log_used
end
 
GO
