USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XAGENTECOMPLEMENTAR]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XAGENTECOMPLEMENTAR]
AS
SELECT
C.IDCOMPRADOR COD_AGENT_COMPL,
C.CODCOLIGADA,
C.CODCFO,
C.NUM_VENDA,
C.CODCOLIGADA * 10000 + CC.TIPOCOMPRADOR COD_TIPO_AGENT_COMPL,
NULL COD_SIT_OPRL,
C.RECMODIFIEDBY COD_PESS_ULT_MNT,
C.RECMODIFIEDON DAT_ULT_MNT,
C.PARTICIPACAO PER_AGENT_COMPL,
NULL COD_PESS,
NULL CODCFOVENDA,
C.DATAENTRADAPLANO DATAINCLUSAO,
C.DATASAIDAPLANO DATAEXCLUSAO,
C.RECCREATEDBY,
C.RECCREATEDON,
C.RECMODIFIEDBY,
C.RECMODIFIEDON
FROM XCOMPRADOR C JOIN
XCOMPRADORCOMPL CC
ON (C.CODCOLIGADA = CC.CODCOLIGADA) AND
(C.NUM_VENDA = CC.NUM_VENDA) AND
(C.IDCOMPRADOR = CC.IDCOMPRADOR)
WHERE (C.PRINCIPAL <> 1)
GO
