USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sys_jobsteps]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_sys_jobsteps] as
begin
declare @command1  varchar(80)
declare @command2  varchar(80)
declare @command3  varchar(80)
declare @command4  varchar(80)
declare @command5  varchar(80)
declare @command6  varchar(80)
declare @command7  varchar(80)
declare @command8  varchar(80)
declare @command9  varchar(80)
declare @command10  varchar(80)
select @command1   =  'select job_id, step_id, step_name, ' +
                      'subsystem, '
select @command2   =  'comm = SUBSTRING(command,1,520),'
select @command3   =  'cmdexec_success_code, on_success_action, '
select @command4   =  'on_success_step_id, on_fail_action, ' +
                      'on_fail_step_id,'
select @command5   =  'database_name, '
select @command6   =  'database_user_name,'
select @command7   =  'retry_attempts, retry_interval, ' +
                      'output_file_name,'
select @command8   =  'last_run_outcome, last_run_duration, ' +
                      'last_run_retries, '
select @command9   =  'last_run_date, last_run_time '
select @command10  =  ' from msdb..sysjobsteps'
exec(@command1+@command2+@command3+@command4+@command5+
     @command6+@command7+@command8+@command9+@command10)
end
 
GO
