USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[KXESTRUTURAPRODUTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*$Versao=FT1120*/
/*GLAYSSON GONCALVES CHAGAS - FT1120_01 - OC.: 1815048 - 11/06/2010 */
CREATE VIEW [dbo].[KXESTRUTURAPRODUTO] AS
SELECT TPRD.CODCOLIGADA,TPRD.IDPRD,TPRD.CODIGOPRD,TPRD.NOMEFANTASIA,TPRD.CODIGOREDUZIDO,TPRD.CODFAB,
TPRD.NUMNOFABRIC,TPRD.ULTIMONIVEL,TPRD.TIPO,TPRD.DESCRICAO,TPRD.CODIGOAUXILIAR,TPRD.CODUNDCONTROLE,
TPRD.SALDOGERALFISICO,TPRD.CONTROLADOPORLOTE,TPRD.USANUMSERIE,TPRD.INATIVO,KESTRUTURA.CODTIPO,KESTRUTURA.CODFILIAL,
KESTRUTURA.CODCCUSTO,KESTRUTURA.CODESTRUTURA,KESTRUTURA.QTDLOTE,KESTRUTURA.NSEQITMGRD,KESTRUTURA.USAGRADE,
KESTRUTURA.LOTEMINIMO,KESTRUTURA.LOTEMULTIPLO,KESTRUTURA.STATUSESTR,TPRD.CODGRD
FROM   TPRD,KESTRUTURA
WHERE  TPRD.CODCOLIGADA=KESTRUTURA.CODCOLIGADA AND
TPRD.IDPRD=KESTRUTURA.IDPRODUTO AND
KESTRUTURA.CODTIPO <> 'N'
GO
