USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZCENTROCUSTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*JULIANO GLADSTON PRATES MOREIRA - SA1180_23 - OC. - 11/1/2012 */
CREATE VIEW [dbo].[SZCENTROCUSTO] AS
SELECT DISTINCT SZUNIDATENDGCCUSTO.CODCOLIGADA, SZUNIDATENDGCCUSTO.CODSAUDE CODIGO,
GCCUSTO.NOME DESCRICAO, SZUNIDATENDGCCUSTO.CODGLOBAL CODINTEGRACAO, 'F' COROBR, 'F' BLOQLANCITENSEST,
CASE WHEN GCCUSTO.ATIVO = 'F' OR GCCUSTO.PERMITELANC = 'F' THEN 'T' ELSE 'F' END NAOEXIBIR
FROM GCCUSTO,SZUNIDATENDGCCUSTO
LEFT JOIN SZUNIDATEND
ON SZUNIDATEND.CODCOLIGADA = SZUNIDATENDGCCUSTO.CODCOLIGADA
AND SZUNIDATEND.CODGCCUSTO = SZUNIDATENDGCCUSTO.CODGLOBAL
WHERE GCCUSTO.CODCOLIGADA = SZUNIDATENDGCCUSTO.CODCOLIGADA
AND GCCUSTO.CODCCUSTO = SZUNIDATENDGCCUSTO.CODGLOBAL
GO
