USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[vwPEDIDOEXAME]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwPEDIDOEXAME] AS
SELECT SZPEDEXAME.CODCOLIGADA,
       SZPEDEXAME.ORDEMSERVICO,
       SZUNIDATEND.INTEGRALAB,
       SZPEDEXAME.DATAEXAME,
       SZPEDEXAME.INFCLINICAS,
       SZUNIDATEND.IDUNIDATEND,
       SZUNIDATEND.DESCRICAO NOMEUNID,
       UNIDADEPEDEXAME.IDUNIDATEND IDUNIDATENDPED,
       UNIDADEPEDEXAME.DESCRICAO NOMEUNIDPED,
       SZATENDIMENTO.CODATENDIMENTO,
       SZATENDIMENTO.NUMEROCONTA,
       SZATENDIMENTO.SEQUENCIALCONTA,
       SZPACIENTE.CODPACIENTE,
       SZPACIENTE.PRONTUARIO,
       SZPACIENTE.NOMEPACIENTE,
       SZPACIENTE.NOMESOCIAL,
       SZPACIENTE.DATANASC,
       SZPACIENTE.SEXO,
       SZPACIENTE.CPF,
       SZPACIENTE.UFIDENTIDADE,
       SZPACIENTE.IDENTIDADE,
       SZPACIENTE.ORGAOEMISSOR,
       SZPACIENTE.NOMEMAE,
       SZPACIENTE.CODESTADOCIVIL,
       SZPACIENTE.NOMECONJUGE,
       SZPACIENTE.ENDERECO,
       SZPACIENTE.NUMERO,
       SZPACIENTE.COMPLEMENTO,
       SZPACIENTE.BAIRRO,
       SZPACIENTE.CIDADE,
       SZPACIENTE.UFENDERECO,
       SZPACIENTE.CEP,
       SZPACIENTE.EMAIL,
       SZPACIENTE.DDDTELRES,
       SZPACIENTE.TELRES,
       SZPACIENTE.DDDTELCOM,
       SZPACIENTE.TELCOM,
       SZPACIENTE.NUMCARTAOSUS,
       SZPACIENTE.CODIGOCARTEIRACONVENIO,
       SZRNACOMPANHANTE.SEQRNACOMP,
       SZRNACOMPANHANTE.DATAHORANASC AS DATANASCRN,
       SZRNACOMPANHANTE.SEXO AS SEXORN,
       SZRNACOMPANHANTE.IDPULSEIRA,
       SZRNACOMPANHANTE.CODPEDIATRARESP,
       SZRNACOMPANHANTE.PRONTUARIO AS PRONTUARIORN,
       MEDRESPREGISTRO.RAZAOSOCIAL AS MEDRESPREGISTRORN,
       CONVENIO.CODGERAL AS CODCONVENIO,
       CONVENIO.RAZAOSOCIAL AS NOMECONVENIO,
       CONVENIO.SIGLA AS SIGLACONVENIO,
       SZPLANOSCONVENIO.CODPLANO,
	   SZPLANOSCONVENIO.DESCPLANO,
	   SZATENDIMENTO.CODIGOUSUARIO,
	   SZATENDIMENTO.VALIDADECARTEIRA,
       MEDICOATENDIMENTO.CODGERAL AS CODMEDICORESP,
       MEDICOATENDIMENTO.RAZAOSOCIAL AS NOMEMEDRESP,
       MEDICOATENDIMENTO.CODCONSPROF,
       CONSELHOPROF.NOMECONSPROF,
       MEDICOATENDIMENTO.IDENTIDADEPROF,
       MEDICOATENDIMENTO.UFIDENTIDADEPROF,
       SZLEITO.CODLEITO,
       SZLEITO.NROLEITO,
       SZLEITO.ANDARLEITO,
       CASE UNIDADEPEDEXAME.LABORATORIO WHEN 'T' THEN 'L' ELSE 'I' END TIPOUNIDADE
FROM
	SZPEDEXAME (NOLOCK)
INNER JOIN
	SZATENDIMENTO (NOLOCK)
ON
	SZATENDIMENTO.CODCOLIGADA = SZPEDEXAME.CODCOLIGADA
	AND SZATENDIMENTO.SEQUENCIALCONTA = SZPEDEXAME.SEQUENCIALCONTA
	AND SZATENDIMENTO.NUMEROCONTA = SZPEDEXAME.NUMEROCONTA
INNER JOIN
	SZPLANOSCONVENIO
ON
	SZATENDIMENTO.CODCOLIGADA = SZPLANOSCONVENIO.CODCOLIGADA
	AND SZATENDIMENTO.CODCOMPRADOR = SZPLANOSCONVENIO.CODCOMPRADOR
	AND SZATENDIMENTO.CODPLANO = SZPLANOSCONVENIO.CODPLANO
INNER JOIN
	SZUNIDATEND (NOLOCK)
ON
	SZUNIDATEND.CODCOLIGADA = SZATENDIMENTO.CODCOLIGADA
	AND SZUNIDATEND.IDUNIDATEND = SZATENDIMENTO.IDUNIDATEND
INNER JOIN
	SZUNIDATEND UNIDADEPEDEXAME(NOLOCK)
ON
	UNIDADEPEDEXAME.CODCOLIGADA = SZPEDEXAME.CODCOLIGADA
	AND UNIDADEPEDEXAME.IDUNIDATEND = SZPEDEXAME.IDUNIDATEND
INNER JOIN
	SZPACIENTE (NOLOCK)
ON
	SZPACIENTE.CODCOLIGADA = SZATENDIMENTO.CODCOLIGADA
	AND SZPACIENTE.CODPACIENTE = SZATENDIMENTO.CODPACIENTE
LEFT JOIN
	SZRNACOMPANHANTE (NOLOCK)
ON
	SZPACIENTE.CODCOLIGADA = SZRNACOMPANHANTE.CODCOLIGADA
	AND SZPACIENTE.CODPACIENTE = SZRNACOMPANHANTE.CODPACIENTE
LEFT JOIN
	SZCADGERAL MEDRESPREGISTRO (NOLOCK)
ON
	MEDRESPREGISTRO.CODCOLIGADA = SZRNACOMPANHANTE.CODCOLIGADA
	AND MEDRESPREGISTRO.CODGERAL = SZRNACOMPANHANTE.CODPEDIATRARESP
LEFT JOIN
	SZCADGERAL CONVENIO(NOLOCK)
ON
	CONVENIO.CODCOLIGADA = SZATENDIMENTO.CODCOLIGADA
	AND CONVENIO.CODGERAL = SZATENDIMENTO.CODCOMPRADOR
LEFT JOIN
	SZCADGERAL MEDICOATENDIMENTO (NOLOCK)
ON
	MEDICOATENDIMENTO.CODCOLIGADA = SZATENDIMENTO.CODCOLIGADA
	AND MEDICOATENDIMENTO.CODGERAL = SZATENDIMENTO.CODMEDRESPONSAVEL
LEFT JOIN
	SZCONSPROF CONSELHOPROF (NOLOCK)
ON
	CONSELHOPROF.CODCONSPROF = MEDICOATENDIMENTO.CODCONSPROF
LEFT JOIN
	SZLEITO (NOLOCK)
ON
	SZLEITO.CODCOLIGADA = SZATENDIMENTO.CODCOLIGADA
	AND SZLEITO.CODLEITO = SZATENDIMENTO.CODLEITO
GO
