USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_dbnames]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_get_dbnames] as
begin
 select name from master..sysdatabases
end
 
GO
