USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_create_cntr]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_create_cntr]
  @enforce  tinyint = 0   -- 0 : Do not delete any existing data
                          -- 1 : Drop and re-create all objects
AS
-- =============================================
-- Create table sap_perfcntr
-- =============================================
  SET NOCOUNT ON
  DECLARE @value nvarchar(255)
  if  (object_id(user + '.' + 'sap_perfcntr', 'U') IS NOT NULL )
    DROP TABLE sap_perfcntr
-- Explanation of accumulat:
--     NULL or blank : fixed value, no growth rate defined
--     int           : growing counter based on int,
--                     expect wrap-arounds at ( 2**31 - 1 )
--     bigint        : growing counter based on bigint, no overflows
-- Classification
--   'O' : Overview
--   '4' : ST04 main screen data
--   '5' : Collector main screen data
--   'v' : Virtual Filestats (Server)
--   'V' : Virtual Filestats (Database)
--   'F' : Virtual Filestats (File)
--   'i' : I/O counters (Overview)
--   'I' : I/O counters (Detailed)
--   'm' : Memory (Overview)
--   'M' : Memory (Detailed)
--   'l' : Locks (Overview)
--   'L' : Locks (Detailed)
--   'e' : All data, supress redundant primary counters
--   'E' : Literally everything
--   'C' : Configuration data
--   's' : Database size statistics
--   'S' : Datafile size statistics
  CREATE TABLE sap_perfcntr
    ( counter_id    int            NOT NULL ,
      obj_name      nvarchar(128)  NOT NULL ,
      cntr_name     nvarchar(128)  NOT NULL ,
      required      varchar(32)    NOT NULL , -- classes for primary
                                              -- data selection
      visible       varchar(32)    NOT NULL , -- classes for data
                                              -- output
      accumulat     nvarchar(10)   NOT NULL ,
      PRIMARY KEY CLUSTERED (counter_id)    )
-- Fill table sap_perfcntr
  SET @value =
     (select [value] from sap_get_para ('SAPMonWin','DisableSQLCntr'))
  IF ( @value IS NULL OR @value <> 'X' )
    BEGIN
      INSERT INTO sap_perfcntr
        SELECT * FROM sap_tsql_createcntr()
    END
-- =============================================
-- Create table sap_perfsample
-- =============================================
  IF  ((object_id(user + '.' + 'sap_perfsample', 'U') IS NOT NULL )
       AND @enforce = 1)
    DROP TABLE sap_perfsample
-- startat   : timestamp of sample
-- sample_id : unique ID
-- alive     : creation timestamp of tempdb
-- utc_start : UTC timestamp of sample (start of measurement)
-- utc_end   : UTC timestamp of sample (end of measurement)
  IF  ((select object_id(user + '.' + 'sap_perfsample', 'U')) IS NULL )
    CREATE TABLE sap_perfsample
      ( startat       datetime       NOT NULL ,
        resi_flag     tinyint        NOT NULL ,  -- New in 6.40
        sample_id     int            IDENTITY ,
        alive         datetime       NOT NULL ,
        utc_start     datetime                ,  -- New in 701
        utc_end       datetime                ,  -- New in 701
        PRIMARY KEY CLUSTERED (startat, resi_flag, sample_id))
-- =============================================
-- Create table sap_perfinfo
-- =============================================
  IF  ((object_id(user + '.' + 'sap_perfinfo', 'U') IS NOT NULL )
       AND @enforce = 1)
    DROP TABLE sap_perfinfo
-- counter_id : foreign key to sap_perfcntr
  IF  ((select object_id(user + '.' + 'sap_perfinfo', 'U')) IS NULL )
    CREATE TABLE sap_perfinfo
      ( sample_id     int            NOT NULL  ,
        counter_id    int            NOT NULL  ,
        inst_name     nvarchar(128)  NOT NULL  ,
        resi_flag     tinyint        NOT NULL  ,  -- New in 6.40
--      zeit          datetime       NOT NULL  ,     Removed in 6.40
        cntr_value    bigint             NULL  ,
--      slope         decimal(16,2)  DEFAULT 0 ,     Removed in 6.40
        PRIMARY KEY CLUSTERED (counter_id, inst_name, resi_flag, sample_id))
 
GO
