USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_hier_create]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_hier_create]
@tmp varchar(40),        /* in: name of temporary table name */
@i_hiertab varchar(40),  /* in: hierarchy table */
@rsdrh_succ varchar(40),   /* in: rsdrh-name for successor field */
@rsdrh_pred varchar(40),   /* in: rsdrh-name for predecessor field */
@rsdrh_factor varchar(40)  /* in: rsdrh-name for factor (may be NULL) */
as
begin
declare @actstmt varchar(1024)
select @actstmt =
  'if exists(select 1 from tempdb..sysobjects' +
  ' where name = ''' + @tmp + ''') drop table ' + @tmp
exec ( @actstmt )
select @actstmt =
  'select 1 as hlevel, ' + @rsdrh_succ + ' as succ, '+
  @rsdrh_pred + ' as pred'
if @rsdrh_factor is not NULL
  select @actstmt = @actstmt + ', ' + @rsdrh_factor + ' as factor'
select @actstmt =
  @actstmt + ' into  '+ @tmp + ' from [' +
  @i_hiertab + '] where 1 = 0'
exec ( @actstmt )
select @actstmt =
  'create index ' + @tmp + '_idx on ' + @tmp + ' ( hlevel, succ )'
exec ( @actstmt )
end
 
GO
