USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_file_list]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_file_list] as
begin
    set nocount on
    select
      db.name          as dbname,
      mf.file_id       as fileid,
      ds.name          as groupname,
      mf.name          as logicalname,
      mf.physical_name as physfilename
    from sys.master_files as mf
      join
        sys.databases as db
        ON mf.database_id = db.database_id
      left outer join
        sys.data_spaces as ds
        ON ds.data_space_id = mf.data_space_id
    order by dbname,fileid
end
 
GO
