USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[ZRMTAF_CONFINSSSEG1]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ZRMTAF_CONFINSSSEG1]
AS

	
	SELECT DISTINCT MATRIC_ESOCIAL, COLIGADA, CPF, VALOR, PERIODO--, TIPO, PROTOCOLO
	FROM(

/*********************************************************************************/
/* COLIGADA 1*/
/*********************************************************************************/
	
	/*Retorno Ativo do S-1200*/
			SELECT 
				'01' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM(A.T2R_VALOR) VALOR,
				B.T2M_PERAPU PERIODO,
				'S-1200' TIPO,
				C.C91_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R010 A
					LEFT JOIN TAF..T2M010  B ON A.T2R_FILIAL = B.T2M_FILIAL AND A.T2R_ID = B.T2M_ID AND A.T2R_VERSAO = B.T2M_VERSAO
					RIGHT JOIN TAF..C91010 C ON B.T2M_NRRECI = C.C91_PROTUL AND B.T2M_PERAPU = C.C91_PERAPU
				      AND C.C91_STATUS  = '4' 
					  AND C.C91_ATIVO   = '1' 
					  AND C.D_E_L_E_T_ <> '*'
					  AND B.D_E_L_E_T_ <> '*'
					
			WHERE 
			A.T2R_TPVLR  IN ('000006') 
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.C91_PROTUL, REPLACE(A.T2R_MATRIC,' ','')
	
	UNION ALL
	
	/*Retorno Ativo do S-2299*/
			SELECT 
				'01' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM(A.T2R_VALOR) VALOR,
				B.T2M_PERAPU PERIODO,
				'S-2299' TIPO,
				C.CMD_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R010 A
					LEFT JOIN TAF..T2M010  B ON A.T2R_FILIAL = B.T2M_FILIAL  AND A.T2R_ID = B.T2M_ID AND A.T2R_VERSAO = B.T2M_VERSAO
					RIGHT JOIN TAF..CMD010 C ON B.T2M_NRRECI  = C.CMD_PROTUL 
				      AND C.CMD_STATUS  = '4'
					  AND C.CMD_ATIVO   = '1' 
					  AND C.D_E_L_E_T_ <> '*'
					  AND B.D_E_L_E_T_ <> '*'
					
			WHERE 
			A.T2R_TPVLR  IN ('000006') 
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.CMD_PROTUL, REPLACE(A.T2R_MATRIC,' ','')
	
	UNION ALL
	
	/*Retorno Ativo do S-2399*/
			SELECT 
				'01' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM(A.T2R_VALOR) VALOR,
				B.T2M_PERAPU PERIODO,
				'S-2399' TIPO,
				C.T92_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R010 A
					LEFT JOIN TAF..T2M010  B ON A.T2R_FILIAL  = B.T2M_FILIAL AND A.T2R_ID = B.T2M_ID AND A.T2R_VERSAO = B.T2M_VERSAO
					RIGHT JOIN TAF..T92010 C ON B.T2M_NRRECI  = C.T92_PROTUL
	  		  	      AND C.T92_STATUS  = '4' 
					  AND C.T92_ATIVO   = '1' 
					  AND C.D_E_L_E_T_ <> '*'
					  AND B.D_E_L_E_T_ <> '*'
					
			WHERE 
			A.T2R_TPVLR  IN ('000006') 
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.T92_PROTUL, REPLACE(A.T2R_MATRIC,' ','')

UNION ALL
/*********************************************************************************/
/* COLIGADA 4*/
/*********************************************************************************/
	
	/*Retorno Ativo do S-1200*/
			SELECT 
				'01' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM(A.T2R_VALOR) VALOR,
				B.T2M_PERAPU PERIODO,
				'S-1200' TIPO,
				C.C91_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R040 A
					LEFT JOIN TAF..T2M040  B ON A.T2R_FILIAL = B.T2M_FILIAL AND A.T2R_ID = B.T2M_ID AND A.T2R_VERSAO = B.T2M_VERSAO
					RIGHT JOIN TAF..C91040 C ON B.T2M_NRRECI = C.C91_PROTUL AND B.T2M_PERAPU = C.C91_PERAPU
				      AND C.C91_STATUS  = '4' 
					  AND C.C91_ATIVO   = '1' 
					  AND C.D_E_L_E_T_ <> '*'
					  AND B.D_E_L_E_T_ <> '*'
					
			WHERE 
			A.T2R_TPVLR  IN ('000006') 
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.C91_PROTUL, REPLACE(A.T2R_MATRIC,' ','')
	
	UNION ALL
	
	/*Retorno Ativo do S-2299*/
			SELECT 
				'01' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM(A.T2R_VALOR) VALOR,
				B.T2M_PERAPU PERIODO,
				'S-2299' TIPO,
				C.CMD_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R040 A
					LEFT JOIN TAF..T2M040  B ON A.T2R_FILIAL = B.T2M_FILIAL  AND A.T2R_ID = B.T2M_ID AND A.T2R_VERSAO = B.T2M_VERSAO
					RIGHT JOIN TAF..CMD040 C ON B.T2M_NRRECI  = C.CMD_PROTUL 
				      AND C.CMD_STATUS  = '4'
					  AND C.CMD_ATIVO   = '1' 
					  AND C.D_E_L_E_T_ <> '*'
					  AND B.D_E_L_E_T_ <> '*'
					
			WHERE 
			A.T2R_TPVLR  IN ('000006') 
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.CMD_PROTUL, REPLACE(A.T2R_MATRIC,' ','')
	
	UNION ALL
	
	/*Retorno Ativo do S-2399*/
			SELECT 
				'01' COLIGADA,
				B.T2M_CPFTRB CPF, 
				SUM(A.T2R_VALOR) VALOR,
				B.T2M_PERAPU PERIODO,
				'S-2399' TIPO,
				C.T92_PROTUL PROTOCOLO,
				REPLACE(A.T2R_MATRIC,' ','') MATRIC_ESOCIAL
				
			FROM 
				TAF..T2R040 A
					LEFT JOIN TAF..T2M040  B ON A.T2R_FILIAL  = B.T2M_FILIAL AND A.T2R_ID = B.T2M_ID AND A.T2R_VERSAO = B.T2M_VERSAO
					RIGHT JOIN TAF..T92040 C ON B.T2M_NRRECI  = C.T92_PROTUL
	  		  	      AND C.T92_STATUS  = '4' 
					  AND C.T92_ATIVO   = '1' 
					  AND C.D_E_L_E_T_ <> '*'
					  AND B.D_E_L_E_T_ <> '*'
					
			WHERE 
			A.T2R_TPVLR  IN ('000006') 
			AND A.D_E_L_E_T_ <> '*'
				GROUP BY A.T2R_FILIAL, B.T2M_CPFTRB, B.T2M_PERAPU,C.T92_PROTUL, REPLACE(A.T2R_MATRIC,' ','')



)X
GO
