USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[TrataGrupoExtenso]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TrataGrupoExtenso](
@GRUPO DECIMAL(18, 5), @SINGULAR VARCHAR(50),
@PLURAL VARCHAR(50), @FLAG_E INT, @STR_EXT VARCHAR(255))
RETURNS @RESULTADO TABLE (FLAG_E INT, STR_EXT varchar(250))
AS
BEGIN
DECLARE
@RETORNO VARCHAR(255),
@FLAG INT

SET @RETORNO = @STR_EXT
SET @FLAG = @FLAG_E

IF (@GRUPO <> 0)
BEGIN
IF (@FLAG_E = 1) SET @RETORNO = @RETORNO + ' e'
SET @FLAG_E = 1
SET @RETORNO = @RETORNO + (SELECT dbo.GrupoExtenso(@grupo))
IF (@GRUPO = 1) SET @RETORNO = @RETORNO + @SINGULAR
ELSE SET @RETORNO = @RETORNO + @PLURAL
END
INSERT @RESULTADO
(FLAG_E, STR_EXT) VALUES (@FLAG, @RETORNO)
RETURN
END
GO
