USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_DW_PREDITIVO_FUNC]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*VIEW CRIADA PARA O PROJETO PREDITIVO RH */
CREATE VIEW [dbo].[VW_DW_PREDITIVO_FUNC] AS

WITH
MASKING AS 
(SELECT 1 ROWNUMBER, 1 MASKING)
--MASKING AS 
--(
--SELECT  
--	TOP (30000) ROWNUMBER, 
--	1 MASKING
--	--(case when random1>1 then random1 else random2 end)/40 AS MASKING
--FROM 
--	(
--	SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS ROWNUMBER
--		  ,((RAND(CHECKSUM(NEWID())) * 10) + 1) AS random1
--		  ,((CHECKSUM(NEWID())) % 100 + 1)/10 AS random2
--	FROM sys.objects
--	) MASK
--)

,DEPENDENTE AS
(	SELECT 
		 CODCOLIGADA
		,CHAPA
		,SUM(CASE WHEN NRODEPEND IN ( '1', '3', '5' ) THEN 1 ELSE 0 END) AS NUM_DEPENDENTE_IRPF
		,SUM(CASE WHEN NRODEPEND IN ( '1', '3' ) THEN 1 ELSE 0 END) AS NUM_DEPENDENTE_FAMILIA
	FROM CorporeRMPRD.dbo.PFDEPEND
	GROUP BY CODCOLIGADA, CHAPA
)

,CENTROCUSTO AS
(
	SELECT 
		 CODCOLIGADA
		,CODCCUSTO
		,NOME NM_CENTROCUSTO
	FROM CorporeRMPRD.dbo.PCCUSTO
)

,EXAMES AS
(
	SELECT * FROM 
		(
		SELECT 
		     CODPESSOA
		    ,RESULTNORMAL
		    ,DATAEXAME
		    ,ROW_NUMBER()
		       OVER (
		         PARTITION BY CODPESSOA
		         ORDER BY DATAEXAME DESC) AS SEQ
		      FROM CorporeRMPRD.dbo.VEXAMESPRONT
		) EXAMES
	WHERE SEQ = 1
)

--Consignado pegava o ultimo mês ()
,CONSIGNADO AS
(
	SELECT * FROM 
		(
		SELECT 
			PFFINANC.CHAPA
	       ,PFFINANC.CODCOLIGADA
	       ,PFFINANC.DTPAGTO
	       ,CASE WHEN MONTH(PFFINANC.DTPAGTO) = MONTH(DATEADD(MONTH, -1, Getdate())) AND
	       			  YEAR(PFFINANC.DTPAGTO) = YEAR(DATEADD(MONTH, -1, Getdate()))
	       		 THEN 1 
	       		 ELSE 0
	       	END CONSIGNADO
	       ,ROW_NUMBER()
			       OVER (
			         PARTITION BY PFFINANC.CHAPA
			         ORDER BY PFFINANC.DTPAGTO DESC) AS SEQ
	    FROM CorporeRMPRD.dbo.PFFINANC
	    WHERE CODEVENTO = '0632'
	    ) CONSIGNADO 
	WHERE SEQ = 1
)

-- Tratamento de coligada com código função sem salario
,FAIXA_SALARIAL AS
(
SELECT CODFUNCAO,
       SALARIO,
       DATAFORMATADA,
       COLIGADA
FROM (SELECT 
		   FUNCAO.CODFUNCAO
          ,FUNCAO.COLIGADA
          ,CONVERT(VARCHAR, FUNCAO.DTCAD, 103) AS DATAFORMATADA
          ,FUNCAO.DTCAD
          ,CASE WHEN SALARIO.SALARIO IS NOT NULL THEN SALARIO.SALARIO ELSE SAL_NULL.SALARIO END AS SALARIO
          ,ROW_NUMBER()
           OVER (
             PARTITION BY FUNCAO.CODFUNCAO, FUNCAO.COLIGADA
             ORDER BY FUNCAO.DTCAD DESC) AS SEQ
          FROM   PORTALRHPRD..zcrmportal_posicao_funcao FUNCAO
                 LEFT JOIN PORTALRHPRD..zcrmportal_posicao_salario SALARIO
                        ON FUNCAO.ID = SALARIO.ID_POSICAO_FUNCAO
                       AND FUNCAO.COLIGADA = SALARIO.COLIGADA
                 LEFT JOIN (SELECT DISTINCT
							    FUNCAO.CODFUNCAO,
						        SALARIO
				            FROM   PORTALRHPRD..zcrmportal_posicao_funcao FUNCAO
				                   LEFT JOIN PORTALRHPRD..zcrmportal_posicao_salario SALARIO
				                          ON FUNCAO.ID = SALARIO.ID_POSICAO_FUNCAO
				                         AND FUNCAO.COLIGADA = SALARIO.COLIGADA
				            WHERE  FUNCAO.INATIVO = 0) AS SAL_NULL   
		         	    ON FUNCAO.CODFUNCAO = SAL_NULL.CODFUNCAO
          WHERE  FUNCAO.INATIVO = 0) AS FAIXASALARIAL
WHERE  SEQ = 1
)

,QTD_FUNCAO AS
(
SELECT 
	 CHAPA
	,CODCOLIGADA
	,COUNT(CODFUNCAO) AS QTD_FUNCOES
FROM CorporeRMPRD.dbo.PFHSTFCO
GROUP BY CHAPA, CODCOLIGADA
)

,QTD_SALARIO AS
(
SELECT 
	 CHAPA
	,CODCOLIGADA
	,COUNT(DTMUDANCA) AS QTD_SALARIOS
FROM CorporeRMPRD.dbo.PFHSTSAL
GROUP BY CHAPA, CODCOLIGADA
)

,QTD_ATESTADO AS
(
SELECT 
	 CODPESSOA
	,CODCOLIGADA
	,COUNT(SEQATESTADO) AS QTD_ATESTADOS
	,CASE WHEN SUM(DATEDIFF(DAY, DTINICIO, DTFINAL) + 1) IS NULL THEN 0 ELSE SUM(DATEDIFF(DAY, DTINICIO, DTFINAL) + 1) END AS DIAS_ATESTADO
FROM  CorporeRMPRD.dbo.VATESTADO
GROUP BY CODPESSOA, CODCOLIGADA
)

,FUNCAO_SALARIO AS
(
	SELECT FUNCAO.* FROM 
	   PORTALRHPRD..zcrmportal_salario_funcao FUNCAO
	   INNER JOIN (SELECT 
	   				  COLIGADA, 
	   				  CODIGO, 
	   				  MAX(DTCAD) DTCAD
	   			   FROM PORTALRHPRD..zcrmportal_salario_funcao
	   			   GROUP BY  COLIGADA, CODIGO
	   			   ) DTCAD
	   		  ON FUNCAO.COLIGADA = DTCAD.COLIGADA
	   		 AND FUNCAO.CODIGO = DTCAD.CODIGO
	   		 AND FUNCAO.DTCAD = DTCAD.DTCAD
)

,HIER AS
(
select 
	CHAPA,
	CODSECAO,
	REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1)) AS [CODNIVEL_01], 
	REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3)) AS [GRPCARGO_NIVEL_01], 
	REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2)) AS [NMNIVEL_01], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 1)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1))
			) AS [CODNIVEL_02], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 3)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3))
			) AS [GRPCARGO_NIVEL_02], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 2)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2))
			) AS [NMNIVEL_02], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 1)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1))
			) AS [CODNIVEL_03], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 3)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3))
			) AS [GRPCARGO_NIVEL_03], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 2)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2))
			) AS [NMNIVEL_03], 	
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 1)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1))
			) AS [CODNIVEL_04], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3))
			) AS [GRPCARGO_NIVEL_04], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 2)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2))
			) AS [NMNIVEL_04], 	
	COALESCE(
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 1)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1))
			) AS [CODNIVEL_05], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3))
			) AS [GRPCARGO_NIVEL_05], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 2)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2))
			) AS [NMNIVEL_05],
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 1)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1))
			) AS [CODNIVEL_06], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3))
			) AS [GRPCARGO_NIVEL_06], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 2)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2))
			) AS [NMNIVEL_06]

from CorporeRMPRD.dbo.CRM_HIERARQUIA3
WHERE NIVEL_01 IS NOT NULL
)

,SALARIO_DADOS as
(
	SELECT * 
	FROM PORTALRHPRD..zcrmportal_salario_dados
		WHERE ISNUMERIC(valor_texto) = 1
)

,CARREIRA AS
(
	SELECT id, descricao
	FROM PORTALRHPRD..zcrmportal_salario_alternativas_itens a
		WHERE isnumeric(substring(a.descricao,1,1)) = 1
		AND len(substring(a.descricao, 1, charindex('-', a.descricao) - 1)) = 1
)

,ALTERNATIVA_ITENS AS
(
SELECT a.*, substring(a.descricao,1,1) AS id_carreira, CARREIRA.descricao AS carreira
FROM PORTALRHPRD..zcrmportal_salario_alternativas_itens a
LEFT JOIN CARREIRA
	ON substring(a.descricao,1,1) = CARREIRA.id
	WHERE isnumeric(substring(a.descricao,1,1)) = 1
	AND len(substring(a.descricao, 1, charindex('-', a.descricao) - 1)) > 1
)

,CATEGORIAS_SALARIO AS
(
SELECT  DISTINCT 
        CAST(DADOS.COLIGADA AS INT) COLIGADA
	   ,CAST(DADOS.ID_FUNCAO AS INT) ID_FUNCAO
	   ,CAST(DADOS.ID_ITEM AS INT) ID_ITEM
	   ,CAST(DADOS.VALOR_TEXTO AS INT) VALOR_TEXTO
	   ,CAST(ALTER_ITENS.DESCRICAO AS NVARCHAR(100)) DESCRICAO 
	   ,ALTER_ITENS.ID_CARREIRA AS CODCARREIRA
	   ,CAST(ALTER_ITENS.CARREIRA AS NVARCHAR(100)) CARREIRA
	   FROM SALARIO_DADOS DADOS
	   INNER JOIN (SELECT COLIGADA 
	   					 ,ID_FUNCAO 
	   					 ,MAX(DTCAD) DTCAD from SALARIO_DADOS
				   GROUP BY COLIGADA, ID_FUNCAO) DTCAD
			  ON DADOS.COLIGADA = DTCAD.COLIGADA
			 AND DADOS.ID_FUNCAO = DTCAD.ID_FUNCAO
	   LEFT JOIN PORTALRHPRD..zcrmportal_salario_grupos GRUPOS
	          ON DADOS.id_grupo = grupos.id
	   LEFT JOIN PORTALRHPRD..zcrmportal_salario_subgrupo SUBGRUPOS
	          ON DADOS.id_subgrupo = subgrupos.id
	   LEFT JOIN PORTALRHPRD..zcrmportal_salario_itens_subgrupo ITENS
	          ON DADOS.id_item = ITENS.id
	   LEFT JOIN ALTERNATIVA_ITENS ALTER_ITENS
	          ON DADOS.valor_texto = alter_itens.id 
WHERE ITENS.ID IN ( '2' ) 
)


SELECT 
	 CHAPA
	,NOME
	,CPF
	,CIDADE_RESIDENTE
	,CODCOLIGADA
	,COLIGADA
	,CODFUNCAO
	,FUNCAO
	,CODCCUSTO
	,NMCCUSTO
  	,CODNIVEL_01
  	,GRPCARGO_NIVEL_01
  	,NMNIVEL_01
  	,CODNIVEL_02
  	,GRPCARGO_NIVEL_02
  	,NMNIVEL_02
  	,CODNIVEL_03
  	,GRPCARGO_NIVEL_03
  	,NMNIVEL_03
  	,CODNIVEL_04
  	,GRPCARGO_NIVEL_04
  	,NMNIVEL_04
  	,CODNIVEL_05
  	,GRPCARGO_NIVEL_05
  	,NMNIVEL_05
  	,CODNIVEL_06
  	,GRPCARGO_NIVEL_06
  	,NMNIVEL_06
  	,DIRETORIA
  	,CODSINDICATO
	,SINDICATO
	,CODTPADMISSAO
	,TPADMISSAO
	,CODMOTIVO_ADMISSAO
	,MOTIVO_ADMISSAO
	,CODFILIAL
	,FILIAL
	,CIDADE_ALOCADO
	,CASE WHEN ROUND(SALARIO * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(SALARIO * MASKING, 2) END AS SALARIO
	,NUM_DEPENDENTE_IRPF
	,NUM_DEPENDENTE_FAMILIA
	,CODAPOSENTADO
	,APOSENTADO
	,CODJORNADA
	,JORNADA
	,CODHORARIO
	,HORARIO_ESCALA
	,CODESTADO_CIVIL
	,ESTADO_CIVIL
	,CODGENERO
	,GENERO
	,CODINSTRUCAO
	,GRAU_INSTRUCAO
	,CODESTADO
	,ESTADO
	,TPCNH
	,CODCOR_RACA
	,COR_RACA
	,QTD_FUNCOES
	,QTD_SALARIOS
	--,CODCARREIRA
	,CARREIRA
	,FORMAT(CASE WHEN ROUND(TETO_SALARIAL * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(TETO_SALARIAL * MASKING, 2) END, '#.##') AS CODTETO_SALARIAL
	,FORMAT(CASE WHEN ROUND(TETO_SALARIAL * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(TETO_SALARIAL * MASKING, 2) END, 'C', 'pt-BR') AS TETO_SALARIAL
    ,CASE
	     WHEN (CASE WHEN ROUND(SALARIO * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(SALARIO * MASKING, 2) END) < 2090 THEN 'E'
	 	 WHEN (CASE WHEN ROUND(SALARIO * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(SALARIO * MASKING, 2) END) BETWEEN 2090.01 AND 4180 THEN 'D'
	 	 WHEN (CASE WHEN ROUND(SALARIO * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(SALARIO * MASKING, 2) END) BETWEEN 4180.01 AND 10450 THEN 'C'
	 	 WHEN (CASE WHEN ROUND(SALARIO * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(SALARIO * MASKING, 2) END) BETWEEN 10450.01 AND 20900 THEN 'B'
     ELSE 'A'
     END AS CODCLASSE_SOCIAL
	,CASE
	     WHEN (CASE WHEN ROUND(SALARIO * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(SALARIO * MASKING, 2) END) < 2090 THEN 'Classe E - Abaixo de 2.090'
	 	 WHEN (CASE WHEN ROUND(SALARIO * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(SALARIO * MASKING, 2) END) BETWEEN 2090.01 AND 4180 THEN 'Classe D - 2.090 até 4.180'
	 	 WHEN (CASE WHEN ROUND(SALARIO * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(SALARIO * MASKING, 2) END) BETWEEN 4180.01 AND 10450 THEN 'Classe C - 4.180 até 10.450'
	 	 WHEN (CASE WHEN ROUND(SALARIO * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(SALARIO * MASKING, 2) END) BETWEEN 10450.01 AND 20900 THEN 'Classe B - 10.450 até 20.900'
     ELSE 'Classe A - Acima de 20.900'
     END AS CLASSE_SOCIAL
    ,CODDEFICIENTE
    ,DEFICIENTE
    ,CODGERACAO
    ,GERACAO
    ,TEMPO_EMPRESA
    ,CODDISTANCIA_TRABALHO
    ,DISTANCIA_TRABALHO
    ,CODCONSIGNADO
    ,CONSIGNADO
  ,CODPREVIDENCIA
    ,PREVIDENCIA
   ,QTD_ATESTADOS
    ,DIAS_ATESTADO
    ,CODRETENCAO
    ,RETENCAO
    ,CODPERIODICO_ANORMAIS
    ,PERIODICO_ANORMAIS
FROM
(
	SELECT 
		ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS ROWNUMBER
	   ,QUERY.* 
	FROM (
		SELECT REPLICATE('0', 7) + PFUNC.CHAPA AS CHAPA, PFUNC.NOME AS NOME
			  ,PPESSOA.CPF
			  ,PFUNC.CODCOLIGADA
		      ,CONCAT(PFUNC.CODCOLIGADA, '-', GCOLIGADA.NOMEFANTASIA) AS COLIGADA
		      ,DADOS_SALARIO.VALOR_TEXTO AS CODFUNCAO
		      ,DADOS_SALARIO.DESCRICAO  AS FUNCAO
		      ,PSECAO.NROCENCUSTOCONT AS CODCCUSTO
		      ,CC.NM_CENTROCUSTO AS NMCCUSTO
		      ,REPLICATE('0', 7) + HIER.CODNIVEL_01 AS CODNIVEL_01
		      ,HIER.GRPCARGO_NIVEL_01
		      ,HIER.NMNIVEL_01
		      ,REPLICATE('0', 7) + HIER.CODNIVEL_02 AS CODNIVEL_02
		      ,HIER.GRPCARGO_NIVEL_02
		      ,HIER.NMNIVEL_02
		      ,REPLICATE('0', 7) + HIER.CODNIVEL_03 AS CODNIVEL_03
		      ,HIER.GRPCARGO_NIVEL_03
		      ,HIER.NMNIVEL_03
		      ,REPLICATE('0', 7) + HIER.CODNIVEL_04 AS CODNIVEL_04
		      ,HIER.GRPCARGO_NIVEL_04
		      ,HIER.NMNIVEL_04
		      ,REPLICATE('0', 7) + HIER.CODNIVEL_05 AS CODNIVEL_05
		      ,HIER.GRPCARGO_NIVEL_05
		      ,HIER.NMNIVEL_05
		      ,REPLICATE('0', 7) + HIER.CODNIVEL_06 AS CODNIVEL_06
		      ,HIER.GRPCARGO_NIVEL_06
		      ,HIER.NMNIVEL_06
			  ,CASE 
					WHEN HIER.CODNIVEL_02 = '050005309' THEN 'Dir. Industrial'
					WHEN HIER.CODNIVEL_02 = '050005337' THEN 'Dir. Florestal'
					WHEN HIER.CODNIVEL_02 = '050005376' THEN 'Dir. RH. Sustent e CI'
					WHEN HIER.CODNIVEL_02 = '050005308' THEN 'Dir. Comercial e Logística'
					WHEN HIER.CODNIVEL_02 = '050005383' THEN 'Dir. Transportadora'
					WHEN HIER.CODNIVEL_02 = '050002052' THEN 'Dir. Financeira'
					WHEN PSECAO.NROCENCUSTOCONT in ('70001','70002', '70004', '71001') THEN 'Dir. Comercial e Logística'
				 	WHEN PSECAO.NROCENCUSTOCONT in ('32602','32603', '32605', '32601', '32606', '32604') THEN 'TI'
					WHEN PSECAO.NROCENCUSTOCONT in ('30010','30013','30001') THEN 'Presidência'
					WHEN PSECAO.NROCENCUSTOCONT in ('32707', '32701', '32708', '32710') THEN 'Dir. Jurídica'
			   ELSE 'Sem informações' END AS DIRETORIA
			  ,PSIND.CODIGO AS CODSINDICATO
		      ,CONCAT(PFUNC.CODCOLIGADA, '/', REPLACE(PSIND.CODIGO, '0', ''), '-', PSIND.NOME)  AS SINDICATO
		      ,PFUNC.TIPOADMISSAO AS CODTPADMISSAO
		      ,CONCAT(PFUNC.TIPOADMISSAO, '-', PTPADMISSAO.DESCRICAO) AS TPADMISSAO
		      ,PFUNC.MOTIVOADMISSAO AS CODMOTIVO_ADMISSAO
		      ,CONCAT(PFUNC.MOTIVOADMISSAO, '-', PMOTADMISSAO.DESCRICAO) AS MOTIVO_ADMISSAO
		      ,PFUNC.CODFILIAL
		      ,CONCAT(PFUNC.CODCOLIGADA, '/', PFUNC.CODFILIAL, '-', GFILIAL.CIDADE) AS FILIAL 
		      ,UPPER(CONCAT(GFILIAL.CIDADE, '-',GFILIAL.ESTADO)) AS CIDADE_ALOCADO
		      ,PFUNC.SALARIO AS SALARIO
		      ,CASE WHEN PFDEPEND.NUM_DEPENDENTE_IRPF IS NULL THEN 0 ELSE PFDEPEND.NUM_DEPENDENTE_IRPF END AS NUM_DEPENDENTE_IRPF
		      ,CASE WHEN PFDEPEND.NUM_DEPENDENTE_FAMILIA IS NULL THEN 0 ELSE PFDEPEND.NUM_DEPENDENTE_FAMILIA END AS NUM_DEPENDENTE_FAMILIA
		      ,CASE WHEN PFUNC.APOSENTADO = '1' THEN 1 ELSE 0 END AS CODAPOSENTADO
		      ,CASE WHEN PFUNC.APOSENTADO = '1' THEN 'Sim' ELSE 'Não' END AS APOSENTADO
		      ,PFUNC.JORNADAMENSAL AS CODJORNADA
		      ,CONCAT(PFUNC.JORNADAMENSAL / 60, ' ', 'Horas') AS JORNADA
		      ,PFUNC.CODHORARIO
		      ,CONCAT(PFUNC.CODCOLIGADA, '/', PFUNC.CODHORARIO, '-', AHORARIO.DESCRICAO) AS HORARIO_ESCALA
		      ,PCODESTCIVIL.CODINTERNO AS CODESTADO_CIVIL
		      ,PCODESTCIVIL.DESCRICAO AS ESTADO_CIVIL
		      ,CASE WHEN PPESSOA.SEXO = 'M' THEN 1 ELSE 0 END AS CODGENERO
		      ,CASE WHEN PPESSOA.SEXO = 'M' THEN 'Masculino' ELSE 'Feminino' END AS GENERO
		      ,PCODINSTRUCAO.CODINTERNO AS CODINSTRUCAO
		      ,CASE WHEN PPESSOA.GRAUINSTRUCAO LIKE '%[^0-9]%' 
		      	THEN PPESSOA.GRAUINSTRUCAO + '-' + PCODINSTRUCAO.DESCRICAO 
		      	ELSE RIGHT ('00'+PPESSOA.GRAUINSTRUCAO, 3) + '-' + PCODINSTRUCAO.DESCRICAO 
		       END AS GRAU_INSTRUCAO
		      ,GETD.CODETD AS CODESTADO
		      ,GETD.NOME AS ESTADO
		      ,UPPER(ISNULL(PPESSOA.TIPOCARTHABILIT, '-')) AS TPCNH
		      ,PCORRACA.CODINTERNO AS CODCOR_RACA
		 	  ,PCORRACA.DESCRICAO AS COR_RACA
		      ,QTD_FUNCAO.QTD_FUNCOES
		      ,QTD_SALARIO.QTD_SALARIOS
		      --,DADOS_SALARIO.CODCARREIRA
		      ,DADOS_SALARIO.CARREIRA
		      ,FAIXA_SALARIAL.SALARIO AS TETO_SALARIAL
		      ,CASE
			 	WHEN PPESSOA.DEFICIENTEFALA = 3
			      OR PPESSOA.DEFICIENTEAUDITIVO = 2
			      OR PPESSOA.DEFICIENTEFISICO = 1
			      OR PPESSOA.DEFICIENTEINTELECTUAL = 6
			      OR PPESSOA.DEFICIENTEMENTAL = 5
			      OR PPESSOA.DEFICIENTEMOBREDUZIDA = 8
			      OR PPESSOA.DEFICIENTEVISUAL = 4
			      OR PPESSOA.BRPDH = 7 THEN 1
			    ELSE 0
			    END AS CODDEFICIENTE
		      ,CASE
			 	WHEN PPESSOA.DEFICIENTEFALA = 3
			      OR PPESSOA.DEFICIENTEAUDITIVO = 2
			      OR PPESSOA.DEFICIENTEFISICO = 1
			      OR PPESSOA.DEFICIENTEINTELECTUAL = 6
			      OR PPESSOA.DEFICIENTEMENTAL = 5
			      OR PPESSOA.DEFICIENTEMOBREDUZIDA = 8
			      OR PPESSOA.DEFICIENTEVISUAL = 4
			      OR PPESSOA.BRPDH = 7 THEN 'Sim'
			    ELSE 'Não'
			    END AS DEFICIENTE
			   ,CASE
		         WHEN Year(PPESSOA.DTNASCIMENTO) <= '1964' THEN 'BB'
		         WHEN Year(PPESSOA.DTNASCIMENTO) BETWEEN '1965' AND '1980' THEN 'X'
		         WHEN Year(PPESSOA.DTNASCIMENTO) BETWEEN '1981' AND '1996' THEN 'Y'
		         WHEN Year(PPESSOA.DTNASCIMENTO) BETWEEN '1997' AND '2010' THEN 'Z'
		        END AS CODGERACAO
			   ,CASE
		         WHEN Year(PPESSOA.DTNASCIMENTO) <= '1964' THEN 'Baby Boomers: Entre 1946 e 1964'
		         WHEN Year(PPESSOA.DTNASCIMENTO) BETWEEN '1965' AND '1980' THEN 'Geração X: Entre 1965 e 1980'
		         WHEN Year(PPESSOA.DTNASCIMENTO) BETWEEN '1981' AND '1996' THEN 'Geração Y: Entre 1981 e 1996'
		         WHEN Year(PPESSOA.DTNASCIMENTO) BETWEEN '1997' AND '2010' THEN 'Geração Z: Entre 1997 e 2010'
		        END AS GERACAO
		       ,DATEDIFF(DAY, PFUNC.DATAADMISSAO, Getdate()) / 30.44 AS TEMPO_EMPRESA
		       ,NULL AS CODDISTANCIA_TRABALHO
		       ,NULL AS DISTANCIA_TRABALHO
		       ,CASE WHEN CONSIGNADO.CHAPA IS NULL THEN 0 ELSE 1 END AS CODCONSIGNADO
		       ,CASE WHEN CONSIGNADO.CHAPA IS NULL THEN 'Não' ELSE 'Sim' END AS CONSIGNADO
		       ,CASE WHEN PFCOMPL.PERCENTUAL = '00' OR PFCOMPL.PERCENTUAL IS NULL THEN 0 ELSE 1 END AS CODPREVIDENCIA 
		       ,CASE WHEN PFCOMPL.PERCENTUAL = '00' OR PFCOMPL.PERCENTUAL IS NULL THEN 'Não' ELSE 'Sim' END AS PREVIDENCIA 
		       ,CASE WHEN QTD_ATESTADO.QTD_ATESTADOS IS NULL THEN 0 ELSE QTD_ATESTADO.QTD_ATESTADOS END AS QTD_ATESTADOS
		       ,CASE WHEN QTD_ATESTADO.DIAS_ATESTADO IS NULL THEN 0 ELSE QTD_ATESTADO.DIAS_ATESTADO END AS DIAS_ATESTADO
		       ,NULL AS CODRETENCAO
		       ,NULL AS RETENCAO
		       ,CASE WHEN VEXAMES.RESULTNORMAL = '1' THEN 1 ELSE 0 END AS CODPERIODICO_ANORMAIS
		       ,CASE WHEN VEXAMES.RESULTNORMAL = '1' THEN 'Sim' ELSE 'Não' END AS PERIODICO_ANORMAIS
		       ,UPPER(CONCAT(PPESSOA.CIDADE, '-', PPESSOA.ESTADO)) AS CIDADE_RESIDENTE
			FROM CorporeRMPRD.dbo.PFUNC 
		       LEFT JOIN CorporeRMPRD.dbo.GCOLIGADA
		              ON PFUNC.CODCOLIGADA = GCOLIGADA.CODCOLIGADA
		       LEFT JOIN CorporeRMPRD.dbo.PFUNCAO
		              ON PFUNCAO.CODIGO = PFUNC.CODFUNCAO
		             AND PFUNCAO.CODCOLIGADA = PFUNC.CODCOLIGADA
		       LEFT JOIN CorporeRMPRD.dbo.PSECAO
		              ON PSECAO.CODIGO = PFUNC.CODSECAO
		             AND PSECAO.CODCOLIGADA = PFUNC.CODCOLIGADA
		       LEFT JOIN CENTROCUSTO CC
		              ON PSECAO.NROCENCUSTOCONT = CC.CODCCUSTO
		             AND PSECAO.CODCOLIGADA = CC.CODCOLIGADA	
		       LEFT JOIN HIER
		       		  ON PFUNC.CHAPA = HIER.CHAPA
					 AND PFUNC.CODSECAO = HIER.CODSECAO
		       LEFT JOIN CorporeRMPRD.dbo.PSINDIC PSIND
		              ON PSIND.CODIGO = PFUNC.CODSINDICATO
		             AND PSIND.CODCOLIGADA = PFUNC.CODCOLIGADA
		       LEFT JOIN CorporeRMPRD.dbo.GFILIAL
		              ON PFUNC.CODFILIAL = GFILIAL.CODFILIAL
		             AND PFUNC.CODCOLIGADA = GFILIAL.CODCOLIGADA
		       LEFT JOIN DEPENDENTE PFDEPEND
		              ON PFUNC.CHAPA = PFDEPEND.CHAPA
		             AND PFUNC.CODCOLIGADA = PFDEPEND.CODCOLIGADA
		       LEFT JOIN CorporeRMPRD.dbo.AHORARIO
		      ON PFUNC.CODHORARIO = AHORARIO.CODIGO
		             AND PFUNC.CODCOLIGADA = AHORARIO.CODCOLIGADA
		       LEFT JOIN CorporeRMPRD.dbo.PPESSOA
		              ON PPESSOA.CODIGO = PFUNC.CODPESSOA
		       LEFT JOIN CorporeRMPRD.dbo.PCODESTCIVIL
		              ON PPESSOA.ESTADOCIVIL = PCODESTCIVIL.CODCLIENTE
		       LEFT JOIN CorporeRMPRD.dbo.PTPADMISSAO
		              ON PFUNC.TIPOADMISSAO = PTPADMISSAO.CODCLIENTE
		       LEFT JOIN CorporeRMPRD.dbo.PMOTADMISSAO
		              ON PFUNC.MOTIVOADMISSAO = PMOTADMISSAO.CODCLIENTE
		             AND PMOTADMISSAO.CODCOLIGADA = PFUNC.CODCOLIGADA
		       LEFT JOIN CorporeRMPRD.dbo.PCODINSTRUCAO
		              ON PPESSOA.GRAUINSTRUCAO = PCODINSTRUCAO.CODCLIENTE
		       LEFT JOIN CorporeRMPRD.dbo.GETD
		              ON PPESSOA.ESTADO = GETD.CODETD
		       LEFT JOIN CorporeRMPRD.dbo.PCORRACA
		              ON PPESSOA.CORRACA = PCORRACA.CODCLIENTE
		       LEFT JOIN QTD_FUNCAO                
		       		  ON QTD_FUNCAO.CHAPA = PFUNC.CHAPA
		             AND QTD_FUNCAO.CODCOLIGADA = PFUNC.CODCOLIGADA
		       LEFT JOIN QTD_SALARIO                
		       		  ON QTD_SALARIO.CHAPA = PFUNC.CHAPA
		             AND QTD_SALARIO.CODCOLIGADA = PFUNC.CODCOLIGADA
		       LEFT JOIN QTD_ATESTADO                
		       		  ON QTD_ATESTADO.CODPESSOA = PFUNC.CODPESSOA
		             AND QTD_ATESTADO.CODCOLIGADA = PFUNC.CODCOLIGADA
		       LEFT JOIN CorporeRMPRD.dbo.PFCOMPL
		              ON PFCOMPL.CHAPA = PFUNC.CHAPA
		             AND PFCOMPL.CODCOLIGADA = PFUNC.CODCOLIGADA
		       LEFT JOIN EXAMES VEXAMES
		              ON PFUNC.CODPESSOA = VEXAMES.CODPESSOA
		       LEFT JOIN CONSIGNADO 
		              ON CONSIGNADO.CHAPA = PFUNC.CHAPA
		             AND CONSIGNADO.CODCOLIGADA = PFUNC.CODCOLIGADA
		       LEFT JOIN FAIXA_SALARIAL
		              ON FAIXA_SALARIAL.CODFUNCAO = PFUNC.CODFUNCAO COLLATE LATIN1_GENERAL_CI_AS
		             AND FAIXA_SALARIAL.coligada = PFUNC.CODCOLIGADA
		       LEFT JOIN FUNCAO_SALARIO
		              ON PFUNC.CODFUNCAO COLLATE LATIN1_GENERAL_CI_AS = FUNCAO_SALARIO.codigo
		             AND PFUNC.CODCOLIGADA = FUNCAO_SALARIO.COLIGADA
		       LEFT JOIN CATEGORIAS_SALARIO DADOS_SALARIO
		              ON FUNCAO_SALARIO.ID = DADOS_SALARIO.ID_FUNCAO
		             AND PFUNC.CODCOLIGADA = DADOS_SALARIO.COLIGADA
			WHERE --PTPADMISSAO.CODINTERNO NOT IN ('E', 'T')
				  /*AND*/ PFUNC.CODSITUACAO NOT IN ('D')
				  AND DADOS_SALARIO.DESCRICAO IS NOT NULL
	) QUERY
) QUERY,  MASKING 
--	ON QUERY.ROWNUMBER = MASKING.ROWNUMBER;
GO
