USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VMAPACONHECIMENTOVIEW]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VMAPACONHECIMENTOVIEW]
AS
SELECT VWM.IDENTIFICADOR, VWM.CODCOLIGADA,
	   VWM.CHAPA, PPESSOA.NOME,
       VWM.CODFUNCAO, PFUNCAO.NOME NOMEFUNCAO,
       VWM.CODSECAO, PSECAO.DESCRICAO NOMESECAO,
       VWM.CODCOMPETENCIA, VCOMPETENCIA.NOME NOMECOMPETENCIA,
       VWM.CODGRADUACAO, VGRADUACAOCOMP.NOME NOMEGRADUACAO, VGRADUACAOCOMP.ORDEM,
       VWM.CODREQUISITO,  VREQUISITOACESSO.NOME NOMEREQUISITO,
       VWM.TIPO, VREQUISITOSPESSOA.DATAVALIDADE, VREQUISITOSPESSOA.HABILITADO,
       VCOMPETENCIAPESSOA.CODCOMPETENCIA POSSUICOMPETENCIA, VCOMPETENCIAPESSOA.DATAINCLUSAO,
       VWM.TEMEXPIRACAO, VWM.DIASEXPIRACAO, VWM.TIPOVINCULO,
       VWM.CHAPAFUNC, VWM.CODPESSOAFUNC,
       PFUNC.CODFUNCAO CODFUNCAOPFUNC,
       PFUNC.CODSECAO CODSECAOPFUNC,
       VWM.CODTAREFA, VTAREFA.NOMETAREFA,
       VWM.CODPOSTO, VPOSTOTRABALHO.DESCRICAO AS NOMEPOSTOTRABALHO, VREQUISITOACESSO.CODCERTIFICACAO,
       VWM.CODTABELASALARIAL, VTABSALARIAIS.NOMETABELA, VWM.CODNIVELSALARIAL, VNIVELFUNCAO.NOMENIVEL
FROM
(
	SELECT IDENTIFICADOR, CODCOLIGADA, NULL CODCOMPETENCIA, NULL CODGRADUACAO, CODREQUISITO,
	CHAPA, CODFUNCAO, CODSECAO, CODPOSTO, CODTAREFA,
	TIPO, TEMEXPIRACAO, DIASEXPIRACAO, CHAPAFUNC, TIPOVINCULO, CODPESSOAFUNC, CODTABELASALARIAL, CODNIVELSALARIAL
	FROM (
		SELECT MCRA.IDENTIFICADOR, MCRA.CODCOLIGADA, MCRA.CODREQUISITO, MCRA.CHAPA, MCRA.CODFUNCAO, MCRA.CODSECAO, MCRA.CODPOSTO, MCRA.CODTAREFA, MCRA.TIPO, MCRA.TEMEXPIRACAO, MCRA.DIASEXPIRACAO, PFUNC.CHAPA AS CHAPAFUNC, 'FUNCIONARIO' TIPOVINCULO, CODPESSOA CODPESSOAFUNC, MCRA.CODTABELASALARIAL, MCRA.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOREQACESSO MCRA, PFUNC
		WHERE PFUNC.CHAPA = MCRA.CHAPA AND PFUNC.CODCOLIGADA = MCRA.CODCOLIGADA AND MCRA.ATIVO = 1
		UNION ALL
		SELECT MCRA.IDENTIFICADOR, MCRA.CODCOLIGADA, MCRA.CODREQUISITO, MCRA.CHAPA, MCRA.CODFUNCAO, MCRA.CODSECAO, MCRA.CODPOSTO, MCRA.CODTAREFA, MCRA.TIPO, MCRA.TEMEXPIRACAO, MCRA.DIASEXPIRACAO, PFUNC.CHAPA AS CHAPAFUNC, 'FUNCAO' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCRA.CODTABELASALARIAL, MCRA.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOREQACESSO MCRA, PFUNC
		WHERE PFUNC.CODFUNCAO = MCRA.CODFUNCAO AND PFUNC.CODCOLIGADA = MCRA.CODCOLIGADA AND MCRA.CODSECAO IS NULL AND MCRA.CODTABELASALARIAL IS NULL AND MCRA.CODNIVELSALARIAL IS NULL AND MCRA.CODPOSTO IS NULL AND MCRA.ATIVO = 1
		UNION ALL
		SELECT MCRA.IDENTIFICADOR, MCRA.CODCOLIGADA, MCRA.CODREQUISITO, MCRA.CHAPA, MCRA.CODFUNCAO, MCRA.CODSECAO, MCRA.CODPOSTO, MCRA.CODTAREFA, MCRA.TIPO, MCRA.TEMEXPIRACAO, MCRA.DIASEXPIRACAO, PFUNC.CHAPA AS CHAPAFUNC, 'SECAO' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCRA.CODTABELASALARIAL, MCRA.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOREQACESSO MCRA, PFUNC
		WHERE PFUNC.CODSECAO = MCRA.CODSECAO AND PFUNC.CODCOLIGADA = MCRA.CODCOLIGADA AND MCRA.CODFUNCAO IS NULL AND MCRA.ATIVO = 1
		UNION ALL
		SELECT MCRA.IDENTIFICADOR, MCRA.CODCOLIGADA, MCRA.CODREQUISITO, MCRA.CHAPA, MCRA.CODFUNCAO, MCRA.CODSECAO, MCRA.CODPOSTO, MCRA.CODTAREFA, MCRA.TIPO, MCRA.TEMEXPIRACAO, MCRA.DIASEXPIRACAO, PFUNC.CHAPA AS CHAPAFUNC, 'LOTACAO' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCRA.CODTABELASALARIAL, MCRA.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOREQACESSO MCRA, PFUNC
		WHERE PFUNC.CODFUNCAO = MCRA.CODFUNCAO AND PFUNC.CODCOLIGADA = MCRA.CODCOLIGADA AND PFUNC.CODSECAO = MCRA.CODSECAO AND MCRA.CODTABELASALARIAL IS NULL AND MCRA.CODNIVELSALARIAL IS NULL AND MCRA.ATIVO = 1
		UNION ALL
		SELECT MCRA.IDENTIFICADOR, MCRA.CODCOLIGADA, MCRA.CODREQUISITO, MCRA.CHAPA, MCRA.CODFUNCAO, MCRA.CODSECAO, MCRA.CODPOSTO, MCRA.CODTAREFA, MCRA.TIPO, MCRA.TEMEXPIRACAO, MCRA.DIASEXPIRACAO, PFUNC.CHAPA AS CHAPAFUNC, 'POSTODETRABALHO' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCRA.CODTABELASALARIAL, MCRA.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOREQACESSO MCRA, PFUNC, VPOSTOSFUNC
		WHERE PFUNC.CODFUNCAO = MCRA.CODFUNCAO AND PFUNC.CODCOLIGADA = MCRA.CODCOLIGADA AND VPOSTOSFUNC.CHAPA = PFUNC.CHAPA AND VPOSTOSFUNC.CODPOSTO = MCRA.CODPOSTO AND VPOSTOSFUNC.CODCOLIGADA = MCRA.CODCOLIGADA AND MCRA.ATIVO = 1
		UNION ALL
		SELECT MCRA.IDENTIFICADOR, MCRA.CODCOLIGADA, MCRA.CODREQUISITO, MCRA.CHAPA, MCRA.CODFUNCAO, MCRA.CODSECAO, MCRA.CODPOSTO, MCRA.CODTAREFA, MCRA.TIPO, MCRA.TEMEXPIRACAO, MCRA.DIASEXPIRACAO, PFUNC.CHAPA AS CHAPAFUNC, 'TAREFA' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCRA.CODTABELASALARIAL, MCRA.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOREQACESSO MCRA, PFUNC, VPPRAHISTTAREFAPESSOAL
		WHERE VPPRAHISTTAREFAPESSOAL.CODCOLIGADA = MCRA.CODCOLIGADA AND VPPRAHISTTAREFAPESSOAL.CODTAREFA = MCRA.CODTAREFA AND VPPRAHISTTAREFAPESSOAL.CHAPA = PFUNC.CHAPA  AND PFUNC.CODCOLIGADA = VPPRAHISTTAREFAPESSOAL.CODCOLIGADA AND VPPRAHISTTAREFAPESSOAL.DATASAIDA IS NULL AND MCRA.ATIVO = 1
		UNION ALL
		SELECT MCRA.IDENTIFICADOR, MCRA.CODCOLIGADA, MCRA.CODREQUISITO, MCRA.CHAPA, MCRA.CODFUNCAO, MCRA.CODSECAO, MCRA.CODPOSTO, MCRA.CODTAREFA, MCRA.TIPO, MCRA.TEMEXPIRACAO, MCRA.DIASEXPIRACAO, PFUNC.CHAPA AS CHAPAFUNC, 'TAREFA' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCRA.CODTABELASALARIAL, MCRA.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOREQACESSO MCRA, PFUNC, VPPRAHISTTAREFASFUNCAO
		WHERE VPPRAHISTTAREFASFUNCAO.CODCOLIGADA = MCRA.CODCOLIGADA AND VPPRAHISTTAREFASFUNCAO.CODTAREFA = MCRA.CODTAREFA AND VPPRAHISTTAREFASFUNCAO.CODFUNCAO = PFUNC.CODFUNCAO  AND PFUNC.CODCOLIGADA = VPPRAHISTTAREFASFUNCAO.CODCOLIGADA AND VPPRAHISTTAREFASFUNCAO.DATASAIDA IS NULL AND MCRA.ATIVO = 1
		UNION ALL
		SELECT MCRA.IDENTIFICADOR, MCRA.CODCOLIGADA, MCRA.CODREQUISITO, MCRA.CHAPA, MCRA.CODFUNCAO, MCRA.CODSECAO, MCRA.CODPOSTO, MCRA.CODTAREFA, MCRA.TIPO, MCRA.TEMEXPIRACAO, MCRA.DIASEXPIRACAO, PFUNC.CHAPA AS CHAPAFUNC, 'TAREFA' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCRA.CODTABELASALARIAL, MCRA.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOREQACESSO MCRA, PFUNC, VPPRAHISTTAREFALOTACAO
		WHERE VPPRAHISTTAREFALOTACAO.CODCOLIGADA = MCRA.CODCOLIGADA AND VPPRAHISTTAREFALOTACAO.CODTAREFA = MCRA.CODTAREFA AND VPPRAHISTTAREFALOTACAO.CODFUNCAO = PFUNC.CODFUNCAO AND VPPRAHISTTAREFALOTACAO.CODSECAO = PFUNC.CODSECAO AND PFUNC.CODCOLIGADA = VPPRAHISTTAREFALOTACAO.CODCOLIGADA AND VPPRAHISTTAREFALOTACAO.DATASAIDA IS NULL AND MCRA.ATIVO = 1
		UNION ALL
		SELECT MCRA.IDENTIFICADOR, MCRA.CODCOLIGADA, MCRA.CODREQUISITO, MCRA.CHAPA, MCRA.CODFUNCAO, MCRA.CODSECAO, MCRA.CODPOSTO, MCRA.CODTAREFA, MCRA.TIPO, MCRA.TEMEXPIRACAO, MCRA.DIASEXPIRACAO, PFUNC.CHAPA AS CHAPAFUNC, 'TAREFA' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCRA.CODTABELASALARIAL, MCRA.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOREQACESSO MCRA, PFUNC, VPOSTOFUNCAO, VPPRAHISTAREFAFUNCAOPOSTO
		WHERE VPPRAHISTAREFAFUNCAOPOSTO.CODCOLIGADA = MCRA.CODCOLIGADA AND VPPRAHISTAREFAFUNCAOPOSTO.CODTAREFA = MCRA.CODTAREFA AND VPPRAHISTAREFAFUNCAOPOSTO.CODFUNCAO = PFUNC.CODFUNCAO AND PFUNC.CODCOLIGADA = VPPRAHISTAREFAFUNCAOPOSTO.CODCOLIGADA AND VPPRAHISTAREFAFUNCAOPOSTO.CODPOSTO = VPOSTOFUNCAO.CODPOSTO AND VPPRAHISTAREFAFUNCAOPOSTO.CODFUNCAO = VPOSTOFUNCAO.CODFUNCAO AND VPPRAHISTAREFAFUNCAOPOSTO.CODCOLIGADA = VPOSTOFUNCAO.CODCOLIGADA AND VPPRAHISTAREFAFUNCAOPOSTO.DATASAIDA IS NULL AND MCRA.ATIVO = 1
		UNION ALL
		SELECT MCRA.IDENTIFICADOR, MCRA.CODCOLIGADA, MCRA.CODREQUISITO, MCRA.CHAPA, MCRA.CODFUNCAO, MCRA.CODSECAO, MCRA.CODPOSTO, MCRA.CODTAREFA, MCRA.TIPO, MCRA.TEMEXPIRACAO, MCRA.DIASEXPIRACAO, PFUNC.CHAPA AS CHAPAFUNC, 'NIVELCARREIRA' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCRA.CODTABELASALARIAL, MCRA.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOREQACESSO MCRA, PFUNC, VTABSALARIAIS, VNIVELFUNCAO
		WHERE PFUNC.CODFUNCAO = MCRA.CODFUNCAO AND PFUNC.CODCOLIGADA = MCRA.CODCOLIGADA AND MCRA.ATIVO = 1 AND MCRA.CODCOLIGADA = VTABSALARIAIS.CODCOLIGADA AND MCRA.CODTABELASALARIAL = VTABSALARIAIS.CODTABELA AND MCRA.CODCOLIGADA = VNIVELFUNCAO.CODCOLIGADA AND MCRA.CODNIVELSALARIAL = VNIVELFUNCAO.CODNIVEL
		AND MCRA.CODNIVELSALARIAL = PFUNC.CODNIVELSAL
	) REQACESSO
	UNION ALL
	SELECT IDENTIFICADOR, MAPACOMP.CODCOLIGADA, MAPACOMP.CODCOMPETENCIA, CODGRADUACAO, VCOMPETENCIAREQUISITO.CODREQUISITO,
			CHAPA, CODFUNCAO, CODSECAO, CODPOSTO, CODTAREFA,
			TIPO, 0 TEMEXPIRACAO, 0 DIASEXPIRACAO, CHAPAFUNC, TIPOVINCULO, CODPESSOAFUNC, CODTABELASALARIAL, CODNIVELSALARIAL
	FROM (
		SELECT MCC.IDENTIFICADOR, MCC.CODCOLIGADA, MCC.CODCOMPETENCIA, MCC.CODGRADUACAO, MCC.CHAPA, MCC.CODFUNCAO, MCC.CODSECAO, MCC.CODPOSTO, MCC.CODTAREFA, MCC.TIPO, PFUNC.CHAPA AS CHAPAFUNC, 'FUNCIONARIO' TIPOVINCULO, CODPESSOA CODPESSOAFUNC, MCC.CODTABELASALARIAL, MCC.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOCOMPETENCIA MCC, PFUNC
		WHERE PFUNC.CHAPA = MCC.CHAPA AND PFUNC.CODCOLIGADA = MCC.CODCOLIGADA AND MCC.ATIVO = 1
		UNION ALL
		SELECT MCC.IDENTIFICADOR, MCC.CODCOLIGADA, MCC.CODCOMPETENCIA, MCC.CODGRADUACAO, MCC.CHAPA, MCC.CODFUNCAO, MCC.CODSECAO, MCC.CODPOSTO, MCC.CODTAREFA, MCC.TIPO, PFUNC.CHAPA AS CHAPAFUNC, 'FUNCAO' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCC.CODTABELASALARIAL, MCC.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOCOMPETENCIA MCC, PFUNC
		WHERE PFUNC.CODFUNCAO = MCC.CODFUNCAO AND PFUNC.CODCOLIGADA = MCC.CODCOLIGADA AND MCC.CODSECAO IS NULL AND MCC.CODTABELASALARIAL IS NULL AND MCC.CODNIVELSALARIAL IS NULL AND MCC.CODPOSTO IS NULL AND MCC.ATIVO = 1
		UNION ALL
		SELECT MCC.IDENTIFICADOR, MCC.CODCOLIGADA, MCC.CODCOMPETENCIA, MCC.CODGRADUACAO, MCC.CHAPA, MCC.CODFUNCAO, MCC.CODSECAO, MCC.CODPOSTO, MCC.CODTAREFA, MCC.TIPO, PFUNC.CHAPA AS CHAPAFUNC, 'SECAO' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCC.CODTABELASALARIAL, MCC.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOCOMPETENCIA MCC, PFUNC
		WHERE PFUNC.CODSECAO = MCC.CODSECAO AND PFUNC.CODCOLIGADA = MCC.CODCOLIGADA AND MCC.CODFUNCAO IS NULL AND MCC.ATIVO = 1
		UNION ALL
		SELECT MCC.IDENTIFICADOR, MCC.CODCOLIGADA, MCC.CODCOMPETENCIA, MCC.CODGRADUACAO, MCC.CHAPA, MCC.CODFUNCAO, MCC.CODSECAO, MCC.CODPOSTO, MCC.CODTAREFA, MCC.TIPO, PFUNC.CHAPA AS CHAPAFUNC, 'LOTACAO' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCC.CODTABELASALARIAL, MCC.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOCOMPETENCIA MCC, PFUNC
		WHERE PFUNC.CODFUNCAO = MCC.CODFUNCAO AND PFUNC.CODCOLIGADA = MCC.CODCOLIGADA AND PFUNC.CODSECAO = MCC.CODSECAO AND MCC.CODTABELASALARIAL IS NULL AND MCC.CODNIVELSALARIAL IS NULL AND MCC.ATIVO = 1
		UNION ALL
		SELECT MCC.IDENTIFICADOR, MCC.CODCOLIGADA, MCC.CODCOMPETENCIA, MCC.CODGRADUACAO, MCC.CHAPA, MCC.CODFUNCAO, MCC.CODSECAO, MCC.CODPOSTO, MCC.CODTAREFA, MCC.TIPO, PFUNC.CHAPA AS CHAPAFUNC, 'POSTODETRABALHO' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCC.CODTABELASALARIAL, MCC.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOCOMPETENCIA MCC, PFUNC, VPOSTOSFUNC
		WHERE PFUNC.CODFUNCAO = MCC.CODFUNCAO AND PFUNC.CODCOLIGADA = MCC.CODCOLIGADA AND VPOSTOSFUNC.CHAPA = PFUNC.CHAPA AND VPOSTOSFUNC.CODPOSTO = MCC.CODPOSTO AND VPOSTOSFUNC.CODCOLIGADA = MCC.CODCOLIGADA AND MCC.ATIVO = 1
		UNION ALL
		SELECT MCC.IDENTIFICADOR, MCC.CODCOLIGADA, MCC.CODCOMPETENCIA, MCC.CODGRADUACAO, MCC.CHAPA, MCC.CODFUNCAO, MCC.CODSECAO, MCC.CODPOSTO, MCC.CODTAREFA, MCC.TIPO, PFUNC.CHAPA AS CHAPAFUNC, 'TAREFA' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCC.CODTABELASALARIAL, MCC.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOCOMPETENCIA MCC, PFUNC, VPPRAHISTTAREFAPESSOAL
		WHERE VPPRAHISTTAREFAPESSOAL.CODCOLIGADA = MCC.CODCOLIGADA AND VPPRAHISTTAREFAPESSOAL.CODTAREFA = MCC.CODTAREFA AND VPPRAHISTTAREFAPESSOAL.CHAPA = PFUNC.CHAPA  AND PFUNC.CODCOLIGADA = VPPRAHISTTAREFAPESSOAL.CODCOLIGADA AND VPPRAHISTTAREFAPESSOAL.DATASAIDA IS NULL AND MCC.ATIVO = 1
		UNION ALL
		SELECT MCC.IDENTIFICADOR, MCC.CODCOLIGADA, MCC.CODCOMPETENCIA, MCC.CODGRADUACAO, MCC.CHAPA, MCC.CODFUNCAO, MCC.CODSECAO, MCC.CODPOSTO, MCC.CODTAREFA, MCC.TIPO, PFUNC.CHAPA AS CHAPAFUNC, 'TAREFA' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCC.CODTABELASALARIAL, MCC.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOCOMPETENCIA MCC, PFUNC, VPPRAHISTTAREFASFUNCAO
		WHERE VPPRAHISTTAREFASFUNCAO.CODCOLIGADA = MCC.CODCOLIGADA AND VPPRAHISTTAREFASFUNCAO.CODTAREFA = MCC.CODTAREFA AND VPPRAHISTTAREFASFUNCAO.CODFUNCAO = PFUNC.CODFUNCAO  AND PFUNC.CODCOLIGADA = VPPRAHISTTAREFASFUNCAO.CODCOLIGADA AND VPPRAHISTTAREFASFUNCAO.DATASAIDA IS NULL AND MCC.ATIVO = 1
		UNION ALL
		SELECT MCC.IDENTIFICADOR, MCC.CODCOLIGADA, MCC.CODCOMPETENCIA, MCC.CODGRADUACAO, MCC.CHAPA, MCC.CODFUNCAO, MCC.CODSECAO, MCC.CODPOSTO, MCC.CODTAREFA, MCC.TIPO, PFUNC.CHAPA AS CHAPAFUNC, 'TAREFA' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCC.CODTABELASALARIAL, MCC.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOCOMPETENCIA MCC, PFUNC, VPPRAHISTTAREFALOTACAO
		WHERE VPPRAHISTTAREFALOTACAO.CODCOLIGADA = MCC.CODCOLIGADA AND VPPRAHISTTAREFALOTACAO.CODTAREFA = MCC.CODTAREFA AND VPPRAHISTTAREFALOTACAO.CODFUNCAO = PFUNC.CODFUNCAO  AND VPPRAHISTTAREFALOTACAO.CODSECAO = PFUNC.CODSECAO AND PFUNC.CODCOLIGADA = VPPRAHISTTAREFALOTACAO.CODCOLIGADA AND VPPRAHISTTAREFALOTACAO.DATASAIDA IS NULL AND MCC.ATIVO = 1
		UNION ALL
		SELECT MCC.IDENTIFICADOR, MCC.CODCOLIGADA, MCC.CODCOMPETENCIA, MCC.CODGRADUACAO, MCC.CHAPA, MCC.CODFUNCAO, MCC.CODSECAO, MCC.CODPOSTO, MCC.CODTAREFA, MCC.TIPO, PFUNC.CHAPA AS CHAPAFUNC, 'TAREFA' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCC.CODTABELASALARIAL, MCC.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOCOMPETENCIA MCC, PFUNC, VPOSTOFUNCAO, VPPRAHISTAREFAFUNCAOPOSTO
		WHERE VPPRAHISTAREFAFUNCAOPOSTO.CODCOLIGADA = MCC.CODCOLIGADA AND VPPRAHISTAREFAFUNCAOPOSTO.CODTAREFA = MCC.CODTAREFA AND VPPRAHISTAREFAFUNCAOPOSTO.CODFUNCAO = PFUNC.CODFUNCAO AND PFUNC.CODCOLIGADA = VPPRAHISTAREFAFUNCAOPOSTO.CODCOLIGADA AND VPPRAHISTAREFAFUNCAOPOSTO.CODPOSTO = VPOSTOFUNCAO.CODPOSTO AND VPPRAHISTAREFAFUNCAOPOSTO.CODFUNCAO = VPOSTOFUNCAO.CODFUNCAO AND VPPRAHISTAREFAFUNCAOPOSTO.CODCOLIGADA = VPOSTOFUNCAO.CODCOLIGADA AND VPPRAHISTAREFAFUNCAOPOSTO.DATASAIDA IS NULL AND MCC.ATIVO = 1
		UNION ALL
		SELECT MCC.IDENTIFICADOR, MCC.CODCOLIGADA, MCC.CODCOMPETENCIA, MCC.CODGRADUACAO, MCC.CHAPA, MCC.CODFUNCAO, MCC.CODSECAO, MCC.CODPOSTO, MCC.CODTAREFA, MCC.TIPO, PFUNC.CHAPA AS CHAPAFUNC, 'NIVELCARREIRA' TIPOVINCULO, PFUNC.CODPESSOA CODPESSOAFUNC, MCC.CODTABELASALARIAL, MCC.CODNIVELSALARIAL
		FROM VMAPACONHECIMENTOCOMPETENCIA MCC, PFUNC, VTABSALARIAIS, VNIVELFUNCAO
		WHERE PFUNC.CODFUNCAO = MCC.CODFUNCAO AND PFUNC.CODCOLIGADA = MCC.CODCOLIGADA AND MCC.ATIVO = 1 AND MCC.CODCOLIGADA = VTABSALARIAIS.CODCOLIGADA AND MCC.CODTABELASALARIAL = VTABSALARIAIS.CODTABELA AND MCC.CODCOLIGADA = VNIVELFUNCAO.CODCOLIGADA AND MCC.CODNIVELSALARIAL = VNIVELFUNCAO.CODNIVEL
		      AND MCC.CODNIVELSALARIAL = PFUNC.CODNIVELSAL
	) MAPACOMP
	LEFT JOIN VCOMPETENCIAREQUISITO ON VCOMPETENCIAREQUISITO.CODCOLIGADA = MAPACOMP.CODCOLIGADA AND VCOMPETENCIAREQUISITO.CODCOMPETENCIA = MAPACOMP.CODCOMPETENCIA
) VWM
LEFT JOIN PFUNC ON (PFUNC.CHAPA = VWM.CHAPAFUNC AND PFUNC.CODCOLIGADA = VWM.CODCOLIGADA)
LEFT JOIN PFUNCAO ON (PFUNCAO.CODIGO = PFUNC.CODFUNCAO AND PFUNCAO.CODCOLIGADA = PFUNC.CODCOLIGADA)
LEFT JOIN PSECAO ON (PSECAO.CODIGO = PFUNC.CODSECAO AND PSECAO.CODCOLIGADA = PFUNC.CODCOLIGADA)
LEFT JOIN VTAREFA ON (VTAREFA.CODTAREFA = VWM.CODTAREFA AND VTAREFA.CODCOLIGADA = VWM.CODCOLIGADA)
LEFT JOIN VPOSTOTRABALHO ON (VPOSTOTRABALHO.CODPOSTO = VWM.CODPOSTO AND VPOSTOTRABALHO.CODCOLIGADA = VWM.CODCOLIGADA)
LEFT JOIN VCOMPETENCIA ON (VCOMPETENCIA.CODCOMPETENCIA = VWM.CODCOMPETENCIA AND VCOMPETENCIA.CODCOLIGADA = VWM.CODCOLIGADA)
LEFT JOIN VGRADUACAOCOMP ON (VGRADUACAOCOMP.CODGRADUACAO = VWM.CODGRADUACAO AND VGRADUACAOCOMP.CODCOLIGADA = VWM.CODCOLIGADA)
LEFT JOIN VREQUISITOACESSO ON (VREQUISITOACESSO.CODREQUISITO = VWM.CODREQUISITO AND VREQUISITOACESSO.CODCOLIGADA = VWM.CODCOLIGADA)
LEFT JOIN PPESSOA ON (PPESSOA.CODIGO = PFUNC.CODPESSOA)
LEFT JOIN VTABSALARIAIS ON (VTABSALARIAIS.CODCOLIGADA = VWM.CODCOLIGADA AND VTABSALARIAIS.CODTABELA = VWM.CODTABELASALARIAL)
LEFT JOIN VNIVELFUNCAO ON (VNIVELFUNCAO.CODCOLIGADA = VWM.CODCOLIGADA AND VNIVELFUNCAO.CODNIVEL = VWM.CODNIVELSALARIAL)
LEFT JOIN VREQUISITOSPESSOA ON (VREQUISITOSPESSOA.CODPESSOA = PFUNC.CODPESSOA AND VREQUISITOSPESSOA.CODCOLIGADA = VWM.CODCOLIGADA AND VREQUISITOSPESSOA.CODREQUISITO = VWM.CODREQUISITO AND VREQUISITOSPESSOA.HABILITADO = 1)
LEFT JOIN VCOMPETENCIAPESSOA ON (VCOMPETENCIAPESSOA.CODPESSOA = PFUNC.CODPESSOA AND VCOMPETENCIAPESSOA.CODCOLIGADA = VWM.CODCOLIGADA AND VCOMPETENCIAPESSOA.CODCOMPETENCIA = VWM.CODCOMPETENCIA)
GO
