USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_index_data]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_get_index_data]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname = NULL
AS
BEGIN
  declare @cmd nvarchar(2400)
  declare @pstr nvarchar(1024)
  declare @fullname sysname
  declare @indname sysname
  declare @indid int
  declare @colname sysname
  declare @colid int
  declare @nrc_mask int
  declare @is_desc int
  set nocount on
  create table #idxlist (
    id             int,
    indid          int,
    index_name     sysname collate database_default,
    descr          nvarchar(255) collate database_default,
    depth          int,
    rowminlen      int,
    rowmaxlen      int,
    rowmodctr      int,
    autostats      nvarchar(3),
    statsdate      nvarchar(20),
    datasz         bigint,
    reservedsz     bigint,
    usedsz         bigint )
  create table #idxcolumns (
    index_name sysname collate database_default,
    colnames   nvarchar(1000) )
  if @db_name is null
    select @db_name = db_name()
  set @fullname = @schema_name + N'.' + @table_name
  set @nrc_mask = 16777216
  set @cmd = N'use [' + @db_name + N']'+
    N' insert into #idxlist select ssi.id,' +
    N'indid = ssi.indid,index_name = ssi.name,' +
-- Begin building descr
    N' descr = case indexproperty(ssi.id,ssi.name,''IsClustered'')' +
    N'   when 1 then ''clustered'' else ' +
    N'     case indexproperty(ssi.id,ssi.name,''IsStatistics'')' +
    N'   when 1 then ''statistics'' else ''nonclustered'' end end + ' +
-- Add uniqueness
    N'   case indexproperty(ssi.id,ssi.name,''IsUnique'')'+
    N'   when 1 then '',unique'' else '''' end + ' +
-- Add pk'ey ness
    N'   case when exists ' +
    N'(select so.name ' +
    N'from [' + @db_name + N'].sys.sysobjects so ' +
    N'where parent_obj = object_id(@fullname) ' +
    N'and so.xtype = ''PK'' ' +
    N'and so.name = ssi.name) then '',primary key'' else '''' end + ' +
-- Add autocreate-ness
    N'   case indexproperty(ssi.id,ssi.name,''IsAutoStatistics'')' +
    N'   when 1 then '', auto create'' else '''' end, ' +
-- Data columns from sap_get_misc_index_info
    N'depth = indexproperty(ssi.id,ssi.name,''IndexDepth''),' +
    N'rowminlen = ssi.minlen,' +
    N'rowmaxlen = ssi.xmaxlen, ' +
    N'rowmodctr = case (indexproperty(ssi.id,ssi.name,''IsClustered'')) ' +
    N'  when 1 ' +
    N'  then ssi.rowmodctr ' +
    N'  else -1 ' +
    N'end, ' +
    N'autostats = case (ssi.status & @nrc_mask) ' +
    N'  when @nrc_mask '  +
    N' then ''OFF'' ' +
    N'  else ''ON'' ' +
    N'end,' +
    N'statsdate = convert(nvarchar(20),stats_date(ssi.id,ssi.indid)),' +
    N'dpagesKB = ssi.dpages*8,' +
    N'reservedKB = ssi.reserved*8,' +
    N'usedKB = ssi.used*8 ' +
-- End of column list
    N'from [' + @db_name + N'].sys.sysindexes ssi ' +
    N'where ' +
    N'    ssi.id = object_id(@fullname) ' +
    N'and ssi.indid > 0 ' +
    N'and ssi.indid < 255 order by ssi.name'
  set @pstr = N'@fullname sysname,@nrc_mask int'
  exec sp_executesql @cmd,@pstr,@fullname,@nrc_mask
  -- The following cmd/pstr will be used within the loops over
  -- indexes and columns to get the name and desc/asc property of each column
  set @cmd = N'use [' + @db_name + N']'+
    N' select @colname = col_name(so.object_id,sc.column_id),'+
    N'    @is_desc = sc.is_descending_key ' +
    N' from ' +
    N'  sys.objects so ' +
    N'  join ' +
    N'  sys.indexes si ' +
    N'on so.object_id = si.object_id ' +
    N'  join ' +
    N'  sys.index_columns sc ' +
    N'on si.object_id = sc.object_id and ' +
    N'   si.index_id = sc.index_id ' +
    N'where schema_id(@schema_name) = so.schema_id '+
    N'and so.name = @table_name '+
    N'and si.index_id = @indid and sc.key_ordinal = @colid'
  set @pstr = N'@table_name sysname,@schema_name sysname,'+
    N'@indid int,@colid int,@colname sysname output,@is_desc int output'
	
  -- Calculate column lists and insert into table #idxcolumns
  declare all_indexes cursor
    for select index_name,indid from #idxlist
  open all_indexes
  fetch next from all_indexes into @indname, @indid
  while (@@fetch_status <> -1)
  begin
    if (@@fetch_status <> -2)
      begin
        set @colname = null
        set @is_desc = 0
        exec sp_executesql @cmd,@pstr,
          @table_name,@schema_name,@indid,1,
          @colname output,@is_desc output
        if @is_desc > 0 and @colname is not null
          set @colname = @colname + '(-)'
        if @colname is null -- Could be a statistics column
          set @colname = index_col(@db_name+'.'+@schema_name+'.'+
                                 @table_name,@indid,1)
        set @colid = 1
        if @colname is null
          insert into #idxcolumns values( @indname,N'' )
        else
          insert into #idxcolumns values( @indname,@colname )
        while (@colname is not null)
        begin
          if @colid > 1
              update #idxcolumns set colnames = colnames + ',' + @colname
                where index_name = @indname
          set @colid = @colid + 1
          set @colname = null
          set @is_desc = 0
          exec sp_executesql @cmd,@pstr,
              @table_name,@schema_name,@indid,@colid,
              @colname output,@is_desc output
          if @is_desc > 0 and @colname is not null
            set @colname = @colname + '(-)'
          if @colname is null -- Could be a statistics column
            set @colname = index_col(@db_name+'.'+@schema_name+'.'+
                                 @table_name,@indid,@colid)
        end
      end
    fetch next from all_indexes into @indname, @indid
  end
  close all_indexes
  deallocate all_indexes
  -- Select output and Add "located on" to the description
  set @cmd = N'use [' + @db_name + N']' +
  N' select x1.index_name as indname,x1.descr + ' +
  N'   case when g.groupname is null then ' +
  N'     '''' else '',located on '' + g.groupname end '+
       N'as description, ' +
  N'x2.colnames as columns, '+
  N'x1.depth, '+
  N'x1.rowminlen, '+
  N'x1.rowmaxlen, '+
  N'x1.rowmodctr, '+
  N'x1.autostats, '+
  N'x1.statsdate, '+
  N'x1.datasz, '+
  N'x1.reservedsz, '+
  N'x1.usedsz,'+
  N'(select top 1 data_compression_desc from sys.partitions '+
      N'where object_id = si.object_id and index_id = si.index_id) '+
  N'as compression '+
-- End of column list
  N'from #idxlist x1 join #idxcolumns x2 on x1.index_name = x2.index_name ' +
  N' left outer join sys.indexes si ' +
  N'   on x1.id = si.object_id and x1.index_name = si.name ' +
  N' left outer join dbo.sysfilegroups g ' +
  N'   on g.groupid = si.data_space_id '
  set @pstr = N'@fullname sysname'
  exec sp_executesql @cmd,@pstr,@fullname
END
 
GO
