USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sheet_contents]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_sheet_contents]
   @sheet_name nvarchar(128) = null
as
begin
  declare @schema sysname
  declare @dbname sysname
  set nocount on
  select @dbname = DB_NAME()
  select @schema = object_schema_name(@@PROCID)
  declare @rats table (
    sheet_name   nvarchar(128),
    rat_desc     nvarchar(100),
    rat_provider nvarchar(128),
    rat_params   nvarchar(256)
  )
  insert into @rats values
    ('st04_data','Static server data','sap_mon_staticserver','')
  insert into @rats values
    ('st04_data','DBCC tracestatus','sap_dbcc_tracestatus','')
  insert into @rats values
    ('db02_data','Databases','sap_tf_sysdatabases','')
  insert into @rats values
    ('db02_data','DBCC opentran','sap_dbcc_opentran','')
  insert into @rats values
    ('db02_data','Files of database','sap_mon_sqldbfiles',
                                @schema+','+@dbname)
  insert into @rats values
    ('db02_data','Objects of database','sap_get_dbobjects',@dbname)
  insert into @rats values
    ('db02_data',
     'Last known good dbcc checkdb','sap_get_last_dbcc_checkdb',@dbname)
  insert into @rats values
    ('memusage','Top N largest objects in memory','sap_memusage','')
  if @sheet_name is null or @sheet_name = ' '
    select * from @rats
  else
    select * from @rats where sheet_name = @sheet_name
end
 
GO
