USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_RETORNALINHAPRODUTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNC_RETORNALINHAPRODUTO]()
   RETURNS VARCHAR
AS
BEGIN
   DECLARE @LINHA_PRODUTO VARCHAR(02)
	SELECT @LINHA_PRODUTO = VALORSTR
	  FROM HCPARAMETROS
	 WHERE NOMECOLUNA LIKE 'KPI_LINHAPRODUTO'
	   AND CODCOLIGADA = 0;
   /* Retorna o valor default caso o parâmetro não tenha sido atribuido */
   IF @LINHA_PRODUTO IS NULL OR LTRIM(RTRIM(@LINHA_PRODUTO)) = ''
   BEGIN
	  SET @LINHA_PRODUTO = 'R '
   END
   RETURN @LINHA_PRODUTO
END
GO
