USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XITEMCONTACORRENTE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XITEMCONTACORRENTE]
AS
SELECT
V.NUM_VENDA * 100 + V.IDVENDEDOR COD_VEND,
C.CODCOMISSAO NUM_SEQ_CC,
C.CODCOMISSAO NUM_SEQ_ITEM,
C.VR_TOT_COMISSAO VALOR_ITEM,
NULL BASE_CALCULO,
NULL COMISSAO,
C.CODCOLIGADA CODCOLCONTA,
C.RECCREATEDBY,
C.RECCREATEDON,
C.RECMODIFIEDBY,
C.RECMODIFIEDON
FROM XCOMISSAO C JOIN
XVENDEDOR V
ON (C.CODCOLIGADA = V.CODCOLIGADA) AND
(C.NUMVENDA = V.NUM_VENDA) AND
(C.IDVENDEDOR = V.IDVENDEDOR)
GO
