USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPARCELAPAGAMENTOREAJUSTEVIEW]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XPARCELAPAGAMENTOREAJUSTEVIEW]
AS
SELECT
XPARCELAPAGAMENTOREAJUSTE.NUM_VENDA,
XPARCELAPAGAMENTOREAJUSTE.COD_GRUPO,
XPARCELAPAGAMENTOREAJUSTE.COD_TIPO_PARC,
XPARCELAPAGAMENTOREAJUSTE.NUM_PARC,
XPARCELAPAGAMENTOREAJUSTE.DAT_FINAL,
XPARCELAPAGAMENTOREAJUSTE.DAT_INICIAL,
XPARCELAPAGAMENTOREAJUSTE.PERIODO_DIAS,
XPARCELAPAGAMENTOREAJUSTE.COD_TIPO_SIT_PARC,
XPARCELAPAGAMENTOREAJUSTE.DAT_VCTO,
XPARCELAPAGAMENTOREAJUSTE.VRPRINCIPAL,
XPARCELAPAGAMENTOREAJUSTE.VRJUROSANTES + XPARCELAPAGAMENTOREAJUSTE.VRJUROSAPOS VRJUROS,
XPARCELAPAGAMENTOREAJUSTE.VRCMANTES + XPARCELAPAGAMENTOREAJUSTE.VRCMAPOS VRCM,
XPARCELAPAGAMENTOREAJUSTE.VRJUROSATRASO,
XPARCELAPAGAMENTOREAJUSTE.VRMULTA,
XPARCELAPAGAMENTOREAJUSTE.VROUTROS,
XPARCELAPAGAMENTOREAJUSTE.VRBAIXADO,
XPARCELAPAGAMENTOREAJUSTE.VRDESCONTO,
XPARCELAPAGAMENTOREAJUSTE.VRSALDODEVEDOR,
XPARCELAPAGAMENTOREAJUSTE.VRACUMULADOJUROSANTES + XPARCELAPAGAMENTOREAJUSTE.VRACUMULADOJUROSAPOS VRACUMULADOJUROS,
XPARCELAPAGAMENTOREAJUSTE.VRACUMULADOCMANTES + XPARCELAPAGAMENTOREAJUSTE.VRACUMULADOCMAPOS VRACUMULADOCM,
XPARCELAPAGAMENTOREAJUSTE.ENTREGUE
FROM XPARCELAPAGAMENTOREAJUSTE
GO
