USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_jobhistory]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_get_jobhistory] @from_date int = 0,
                                    @ccms_only int = 1,
                                    @jobid nvarchar(32) = ' '
AS
BEGIN
/**********************************************************************/
/* @ccms_only = 1 selects only jobs with jobname starts  'SAP CCMS'   */
/*                                              (used in DB12 Tcode)  */
/* @ccms_only = 2 selects only jobs with jobname starts  'SAP CCMS '  */
/*                (used in DB13 Tcode - only jobs scheduled by DB13)  */
/*  If procedure is used to get all details for a particuler jobid    */
/*       then it returns the logs of all the steps in the job.  This  */
/*      sp with jobid is called in DB13 from the function module      */
/*      Mss_job_get_program_log                                       */
/*  if the procedure is called to get job details of all the jobs for */
/*       a particular time frame, then the stored procedure returns   */
/*       the job status of step = 0. This procedure with the          */
/*       parameters @ccms_only = 2 and for a particular time frame    */
/*       is called from MSS_LOG_READ function module(DB13)            */
/*       This procedure with the  parameters @ccms_only = 1   and     */
/*       a particular time frame is called from DB12 reports          */
/**********************************************************************/
set nocount on
-- declare local variable
declare @cmd nvarchar(4000)
declare @fromdt_str nvarchar(8)
select @fromdt_str = @from_date
if @jobid = ' '
 begin
  set @cmd = 'select convert(varbinary,e.job_id),d.step_id,'        +
            'd.sql_message_id,d.sql_severity,'                      +
            'd.message,d.run_status,d.run_date,d.run_time,'         +
            'd.run_duration,c.freq_type,'                           +
            'c.active_start_time'                                   +
            ' from  msdb..sysjobs e,'                               +
            'msdb..sysschedules c,msdb..sysjobhistory d,'           +
            'msdb..sysjobschedules f'
  if @ccms_only = 0
   set @cmd = @cmd +
            ',msdb..sysjobsteps b'                                  +
            ' where b.job_id =  e.job_id and'                       +
            '       e.job_id =  d.job_id and'                       +
            '       d.job_id  = f.job_id  and'                      +
            '       f.schedule_id = c.schedule_id'
  else if @ccms_only = 1
   set @cmd = @cmd +
            ',msdb..sysjobsteps b'                                  +
            ' where b.job_id =  e.job_id and'                       +
            '       e.job_id =  d.job_id and'                       +
            '       d.job_id  = f.job_id  and'                      +
            '       f.schedule_id = c.schedule_id and'              +
            '   e.name like ''%SAP CCMS%'''
  else if @ccms_only = 2
   set @cmd = @cmd +
            ' where e.job_id =  d.job_id and'                       +
            '       d.job_id  = f.job_id  and'                      +
            '       f.schedule_id = c.schedule_id and'              +
            '       d.step_id = 0 '                                 +
            ' and e.name like ''%SAP CCMS %'''
  if @from_date <> 0
         set @cmd = @cmd +
             ' and ( d.run_date >= ' +@fromdt_str +
             ' or e.date_created >= convert(char(20),' +
               @fromdt_str +',126))'
 end
else
 begin
  set @cmd =  'select convert(varbinary,b.job_id),b.step_id,'        +
            'd.sql_message_id,d.sql_severity,'                       +
            'd.message,d.run_status,d.run_date,d.run_time,'          +
            'd.run_duration,c.freq_type,'                            +
            'c.active_start_time'                                    +
            ' from msdb..sysjobsteps b, msdb..sysjobs e,'            +
            ' msdb..sysschedules c,msdb..sysjobhistory d,'           +
            ' msdb..sysjobschedules f'                               +
            ' where e.job_id = b.job_id  and'                        +
            '       b.job_id = d.job_id and'                         +
            '       b.step_id = d.step_id and'                       +
            '       d.job_id  = f.job_id  and'                       +
            '       f.schedule_id = c.schedule_id'
  set @cmd = @cmd + ' and e.job_id = 0x' + @jobid
 end
-- print @cmd
 exec (@cmd)
END
 
GO
