USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[StpApagaTabTempDiario]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StpApagaTabTempDiario]
( @CPF   VARCHAR(11)
, @CHAPA VARCHAR(16)
, @PLANS VARCHAR(22)
, @ACAO  CHAR(1)
)
AS
BEGIN
  UPDATE PTMP_ATUALIZAESTRUTURASAP
     SET PROCESSADO = 'S'
   WHERE CPF      = @CPF   
     AND CHAPA    = @CHAPA 
     AND @ACAO    = CASE WHEN ACAO = 'T'
                         THEN 'D'
                         ELSE ACAO
                    END
     AND CODSECAO = @PLANS
     
  INSERT PTMP_ATUALIZAESTRUTURASAP_LOG ( COLIGADA
                                       , CPF
                                       , CHAPA
                                       , CODSECAO
                                       , ACAO
                                       , DATA
                                       , TABELA
                                       , DATAINICIO
                                       , DATAFIM
                                       , HOSTNAME
                                       , ID
                                       )
    SELECT COLIGADA
         , CPF
         , CHAPA
         , CODSECAO
         , ACAO
         , DATA
         , TABELA
         , DATAINICIO
         , DATAFIM
         , HOSTNAME
         , ID
      FROM PTMP_ATUALIZAESTRUTURASAP
     WHERE DATA       <= DateAdd(wk,-1,GETDATE())
       AND PROCESSADO  = 'S'
     
  DELETE
    FROM PTMP_ATUALIZAESTRUTURASAP
   WHERE DATA       <= DateAdd(wk,-1,GETDATE())     
     AND PROCESSADO  = 'S'   
END
GO
