USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_mon_lockresolver]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[sap_mon_lockresolver]
(  @inres nvarchar(32)
) returns nvarchar(80)
as
begin
  declare @lockres   nvarchar(32)
  declare @realres nvarchar(80)
  declare @lclause nvarchar(80)
  declare @p1 int
  declare @p2 int
  declare @p3 int
  declare @p4 int
  declare @p5 int
  declare @len1 int
  declare @len2 int
  set @realres = ''
  select @lockres = replace(@inres,char(13),char(32))
  select @lockres = replace(@lockres,char(10),char(32))
  select @lockres = replace(@lockres,char(0),char(32))
--
-- key resource
--
  if charindex( 'KEY', upper(@lockres) ) != 0
  begin
    set @p1 = charindex(':', @lockres )
    set @p2 = charindex(':', @lockres, @p1+1)
    set @p3 = charindex(':', @lockres,@p2+1)
    if ( @p3 != 0 )
    begin
      set @p4 = charindex(' ', @lockres,@p3)
      set @len1 = @p3 - @p2 - 1
      set @len2 = @p4 - @p3 -1
      select @realres = name from sysindexes
        where id = convert(int,substring(@lockres,@p2+1,@len1)) and
           indid = convert(int,substring(@lockres,@p3+1,@len2))
    end
    else
    begin
      set @p3 = charindex(' ', @lockres,@p2)
      set @len1 = @p3 - @p2 - 1
      select @realres =
         object_name(convert(int,substring(@lockres,@p2+1,@len1)))
    end
    return @realres
  end
--
-- page resource
--
  if charindex( 'PAG', upper(@lockres) ) != 0
  begin
    set @p1 = charindex(':', @lockres )
    set @p2 = charindex(':', @lockres, @p1+1) + 1
    set @p3 = charindex(':', @lockres,@p2+1)
    set @p4 = len(rtrim(@lockres))
    set @len1 = @p4 - @p2
    set @lclause =  substring(@lockres,@p2,@len1)+'%'
    select @realres = convert(nvarchar(80),object_name( rsc_objid))
      from master..syslockinfo
      where req_status = 3
        and rsc_text collate database_default like @lclause
    return @realres
  end
--
-- table resource
--
  if charindex( 'TAB', upper(@lockres) ) != 0
  begin
    set @p1 = charindex(':', @lockres )
    set @p2 = charindex(':', @lockres, @p1+1) + 1
    set @p3 = charindex(' ', @lockres,@p2)
    set @len1 = @p3 - @p2
    select @realres =
      object_name(convert(int,substring(@lockres,@p2,@len1)))
    return @realres
  end
--
-- rid resource
--
  if charindex( 'RID', upper(@lockres) ) != 0
  begin
    set @p1 = charindex(':', @lockres )
    set @p2 = charindex(':', @lockres, @p1+1)
    set @p3 = charindex(':', @lockres,@p2+1)
    set @p4 = charindex(':', @lockres,@p3+1)
    set @p5 = len(rtrim(@lockres))
    set @len1 = @p5 - @p2
    set @lclause =  substring(@lockres,@p2+1,@len1)+'%'
--    select @realres = @lclause
    select @realres = convert(nvarchar(80),object_name( rsc_objid))
      from master..syslockinfo
      where req_status = 3
        and rsc_text collate database_default like @lclause
    return @realres
  end
--
-- return '' if not one of the KEY,PAG,TAB,RID
--
  return @realres
end
 
GO
