USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_std_MSS_release]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_std_MSS_release]
AS
begin
  set nocount on
  declare @pv_rest varchar(15)
  declare @pv_rest_len int
  declare @dot_pos int
  declare @product_version varchar(16)
  declare @major int
  declare @minor int
  declare @build int
  declare @special_build int
  create table #ProdVer
    (  [Index]  int,
       [Name]   sysname,
       [IntVal] int,
       [CharVal] varchar(16) )
  insert into #ProdVer exec( 'master..xp_msver ProductVersion' )
  select @product_version = [CharVal] from #ProdVer
  set @pv_rest = @product_version
  -- @major is left from 1st dot in @product_version
  set @dot_pos = charindex('.',@pv_rest)
  set @major = convert(int,substring(@pv_rest,1,@dot_pos-1))
  set @pv_rest_len = len(@pv_rest)
  set @pv_rest = substring(@pv_rest,@dot_pos+1,@pv_rest_len-@dot_pos)
  -- @minor is between 1st and 2nd dot in @product_version
  set @dot_pos = charindex('.',@pv_rest)
  set @minor = convert(int,substring(@pv_rest,1,@dot_pos-1))
  set @pv_rest_len = len(@pv_rest)
  set @pv_rest = substring(@pv_rest,@dot_pos+1,@pv_rest_len-@dot_pos)
  -- @build is right from 2nd dot but left from any further dot
  select @dot_pos = charindex('.',@pv_rest)
  if @dot_pos > 0
    select @build = convert(int,substring(@pv_rest,1,@dot_pos-1))
  else
    select @build = @pv_rest
  -- @special_build is right from 3rd dot - if there is one
  select @dot_pos = charindex('.',@pv_rest)
  set @pv_rest_len = len(@pv_rest)
  if @dot_pos > 0
    select @special_build =
      convert(int,substring(@pv_rest,@dot_pos+1,@pv_rest_len-@dot_pos))
  else
    select @special_build = 0
  declare @major_part nvarchar(2)
  declare @minor_part nvarchar(2)
  declare @build_part nvarchar(4)
  declare @special_build_part nvarchar(2)
  if @major < 10
    set @major_part = N'0' + CONVERT(nvarchar,@major)
  else
    set @major_part = CONVERT(nvarchar,@major)
  if @minor < 10
    set @minor_part = N'0' + CONVERT(nvarchar,@minor)
  else
    set @minor_part = CONVERT(nvarchar,@minor)
  if @build < 10
    set @build_part = N'000' + CONVERT(nvarchar,@build)
  else if @build < 100
    set @build_part = N'00' + CONVERT(nvarchar,@build)
  else if @build < 1000
    set @build_part = N'0' + CONVERT(nvarchar,@build)
  else
    set @build_part = CONVERT(nvarchar,@build)
  if @special_build < 10
    set @special_build_part = N'0' + CONVERT(nvarchar,@special_build)
  else
    set @special_build_part = CONVERT(nvarchar,@special_build)
  -- Deliver the standardized release string
  -- and the three release numbers
  select @major_part + N'.' +
         @minor_part + N'.' +
         @build_part + N'.' +
         @special_build_part as product_version,
  @major as major,
  @minor as minor,
  @build as build,
  @special_build as special_build
end
 
GO
