USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFGRPPONTOVENDA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFGRPPONTOVENDA] AS
SELECT CODCOLIGADA,GRUPO,DESCRICAO,DIRETORIOENTRADA,DIRETORIOSAIDA,CODFILIAL,CODLOC, GETDATE() AS DTHRATUALIZACAO 
FROM TGRPPONTOVENDA 
GO
