USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ConsultaFuncionarios]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ConsultaFuncionarios](
    @DATA_REFI DATE,
    @DATA_REFF DATE,
    @COL INT
)
RETURNS TABLE
AS
RETURN
(
    WITH DateRange AS (
        -- Gerar uma lista de datas entre @DATA_REFI e @DATA_REFF
        SELECT @DATA_REFI AS DateValue
        UNION ALL
        SELECT DATEADD(DAY, 1, DateValue)
        FROM DateRange
        WHERE DateValue < @DATA_REFF
    )
    SELECT 
        D.DateValue, -- Adiciona a data para cada linha
        A.CODCOLIGADA,
        A.CODFILIAL,
        GFIL.NOMEFANTASIA AS FIL,
        A.CHAPA,
        A.NOME,
        -- Situação
        ISNULL((SELECT TOP 1 SS.CODCLIENTE 
                FROM PFHSTSIT SIT
                INNER JOIN PCODSITUACAO SS ON SS.CODCLIENTE = SIT.NOVASITUACAO
                WHERE SIT.CODCOLIGADA = A.CODCOLIGADA
                  AND SIT.CHAPA = A.CHAPA
                  AND SIT.DATAMUDANCA <= D.DateValue
                ORDER BY SIT.DATAMUDANCA DESC
               ), S.DESCRICAO) AS COD_SIT,
        ISNULL((SELECT TOP 1 SS.DESCRICAO 
                FROM PFHSTSIT SIT
                INNER JOIN PCODSITUACAO SS ON SS.CODCLIENTE = SIT.NOVASITUACAO
                WHERE SIT.CODCOLIGADA = A.CODCOLIGADA
                  AND SIT.CHAPA = A.CHAPA
                  AND SIT.DATAMUDANCA <= D.DateValue
                ORDER BY SIT.DATAMUDANCA DESC
               ), S.DESCRICAO) AS SITUACAO,
        -- Centro de custo
        ISNULL((SELECT TOP 1 S.NROCENCUSTOCONT 
                FROM PFHSTSEC SEC 
                INNER JOIN PSECAO S ON SEC.CODCOLIGADA = S.CODCOLIGADA AND S.CODIGO = SEC.CODSECAO 
                WHERE SEC.CODCOLIGADA = A.CODCOLIGADA
                  AND SEC.CHAPA = A.CHAPA
                  AND SEC.DTMUDANCA <= D.DateValue
                ORDER BY SEC.DTMUDANCA DESC      
               ), B.NROCENCUSTOCONT) AS CC,
        ISNULL((SELECT TOP 1 T.NOME
                FROM PFHSTSEC SEC 
                INNER JOIN PSECAO S ON SEC.CODCOLIGADA = S.CODCOLIGADA AND S.CODIGO = SEC.CODSECAO 
                LEFT JOIN PCCUSTO T ON T.CODCOLIGADA = S.CODCOLIGADA AND T.CODCCUSTO = S.NROCENCUSTOCONT
                WHERE SEC.CODCOLIGADA = A.CODCOLIGADA
                  AND SEC.CHAPA = A.CHAPA
                  AND SEC.DTMUDANCA <= D.DateValue
                ORDER BY SEC.DTMUDANCA DESC      
               ), B.NROCENCUSTOCONT) AS DESCRICAO_CC,
        -- Função
        ISNULL((SELECT TOP 1 F.CODIGO 
                FROM PFHSTFCO FC 
                INNER JOIN PFUNCAO F ON FC.CODCOLIGADA = F.CODCOLIGADA AND F.CODIGO = FC.CODFUNCAO 
                WHERE FC.CODCOLIGADA = A.CODCOLIGADA
                  AND FC.CHAPA = A.CHAPA
                  AND FC.DTMUDANCA <= D.DateValue
                ORDER BY FC.DTMUDANCA DESC 
               ), C.CODIGO) AS COD_FUNCAO,
        ISNULL((SELECT TOP 1 F.NOME 
                FROM PFHSTFCO FC 
                INNER JOIN PFUNCAO F ON FC.CODCOLIGADA = F.CODCOLIGADA AND F.CODIGO = FC.CODFUNCAO 
                WHERE FC.CODCOLIGADA = A.CODCOLIGADA
                  AND FC.CHAPA = A.CHAPA
                  AND FC.DTMUDANCA <= D.DateValue
                ORDER BY FC.DTMUDANCA DESC 
               ), C.NOME) AS NOME_FUNCAO,
        -- Outras colunas da tabela original
        A.DATAADMISSAO AS ADM,
        (CASE WHEN A.DTTRANSFERENCIA >= D.DateValue THEN NULL ELSE A.DTTRANSFERENCIA END) AS DT_TRANSF,
        (CASE WHEN A.DATADEMISSAO BETWEEN @DATA_REFI AND @DATA_REFF THEN A.DATADEMISSAO ELSE NULL END) AS DEM,
        
        U.CODPARCOL AS COD_SINDIC_FONTO,
        V.DESCRICAO AS SINDIC_PONTO,
        T.CODIGO AS COD_SINDIC_FOLHA,
        T.NOME AS SINDIC_FOLHA,
        @DATA_REFI AS INIC,
        @DATA_REFF AS FIM,
        A.DATADEMISSAO
       
	,ISNULL((SELECT TOP 1 H.CODIGO 
	  FROM PFHSTHOR HOR, AHORARIO H 
	  
	  WHERE 
	         HOR.CODCOLIGADA = H.CODCOLIGADA
	        AND HOR.CODHORARIO = H.CODIGO 
	        AND HOR.CODCOLIGADA = A.CODCOLIGADA
	        AND HOR.CHAPA = A.CHAPA
	        AND HOR.DTMUDANCA <= D.DateValue
      ORDER BY HOR.DTMUDANCA DESC
      ),A.CODHORARIO)COD_HOR  
        
    ,ISNULL((SELECT TOP 1 H.DESCRICAO 
	  FROM PFHSTHOR HOR, AHORARIO H 
	  
	  WHERE 
	         HOR.CODCOLIGADA = H.CODCOLIGADA
	        AND HOR.CODHORARIO = H.CODIGO 
	        AND HOR.CODCOLIGADA = A.CODCOLIGADA
	        AND HOR.CHAPA = A.CHAPA
	        AND HOR.DTMUDANCA <= D.DateValue
      ORDER BY HOR.DTMUDANCA DESC
      ),A.CODHORARIO)HOR          
        
        
        
        
        
        
        
        
    FROM 
        DateRange D
    CROSS JOIN 
        PFUNC A
    INNER JOIN PSECAO B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CODSECAO = B.CODIGO
    INNER JOIN PFUNCAO C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = A.CODFUNCAO
    LEFT JOIN GFILIAL GFIL ON GFIL.CODCOLIGADA = A.CODCOLIGADA AND GFIL.CODFILIAL = A.CODFILIAL
    LEFT JOIN PCODSITUACAO S ON S.CODCLIENTE = A.CODSITUACAO
    LEFT JOIN PSINDIC T ON T.CODCOLIGADA = A.CODCOLIGADA AND T.CODIGO = A.CODSINDICATO
    LEFT JOIN APARFUN U ON U.CODCOLIGADA = A.CODCOLIGADA AND U.CHAPA = A.CHAPA
    LEFT JOIN APARCOL V ON V.CODCOLIGADA = U.CODCOLIGADA AND V.CODIGO = U.CODPARCOL

    WHERE 
        A.CODCOLIGADA = @COL
        AND A.DATAADMISSAO <= D.DateValue
        AND (A.DATADEMISSAO IS NULL OR A.DATADEMISSAO >= D.DateValue)
        AND (A.DTTRANSFERENCIA IS NULL OR A.DTTRANSFERENCIA <= D.DateValue)
);
GO
