USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPIVIEW_QTE_INTERESSE_PESSOA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XPIVIEW_QTE_INTERESSE_PESSOA]
AS
  SELECT PESSOA_ID,
         COUNT(*) AS TOTAL
  FROM   XPIPESSOAINTERESSE
  GROUP  BY XPIPESSOAINTERESSE.PESSOA_ID
GO
