USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_chk_agentjob_exists]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************/
/* sap_chk_agentjob_exists                created on 08/25/2003 */
/*                                                              */
/*                                                              */
/****************************************************************/
create procedure [dbo].[sap_chk_agentjob_exists] @jobname nvarchar(100)=' ',
                                         @jobid nvarchar(32) = ' '
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(4000)
set @cmd = 'select job_id,name from msdb..sysjobs where '
if @jobname = ' '
   set @cmd = @cmd + ' job_id = 0x' + @jobid
else
 set @cmd = @cmd + ' name = ''' + @jobname + ''''
exec (@cmd)
end
 
GO
