USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_CPF]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_CPF] (@CPF CHAR(11))

RETURNS CHAR(14)

AS

BEGIN
  DECLARE @RETORNO VARCHAR(14)
  SET @RETORNO = SUBSTRING(@CPF,1,3)+'.'+SUBSTRING(@CPF,4,3)+'.'+SUBSTRING(@CPF,7,3)+'-'+SUBSTRING(@CPF,10,2) 
  RETURN @RETORNO

END
GO
