USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_query_stats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_query_stats]
                 @sortby int = 11,
                 @nrows  int = 50
AS
BEGIN
  declare  @cmdString           nvarchar(3800)
  declare  @argString           nvarchar(500)
  declare  @sum_execution_count bigint,
           @sum_physical_reads  bigint,
           @sum_logical_writes  bigint,
           @sum_logical_reads   bigint,
           @sum_elapsed_time    bigint,
           @sum_worker_time     bigint,
           @sum_clr_time        bigint
  declare  @crlf                nvarchar(2)
  set nocount on
  set @crlf = char(13) + char(10)
  create table #out_data(
    SQLHANDLE           varbinary(64),
    OBJECT_NAME	        sysname null,
    EXEC_COUNT	        bigint,
    PCT_EXEC_COUNT	    decimal(5,2),
    TTL_LOGICAL_READS   bigint,
    PCT_LOGICAL_READS	  decimal(5,2),
    AVG_LOGICAL_READS	  bigint,
    MAX_LOGICAL_READS	  bigint,
    MIN_LOGICAL_READS	  bigint,
    LAST_LOGICAL_READS	bigint,
    TTL_ELAPSED_TIME	  bigint,
    PCT_ELAPSED_TIME	  decimal(5,2),
    AVG_ELAPSED_TIME	  bigint,
    MAX_ELAPSED_TIME	  bigint,
    MIN_ELAPSED_TIME	  bigint,
    LAST_ELAPSED_TIME	  bigint,
    TTL_CPU_TIME	      bigint,
    PCT_CPU_TIME	      decimal(5,2),
    AVG_CPU_TIME	      bigint,
    MAX_CPU_TIME	      bigint,
    MIN_CPU_TIME	      bigint,
    LAST_CPU_TIME	      bigint,
    TTL_PHYS_READS	    bigint,
    PCT_PHYS_READS	    decimal(5,2),
    AVG_PHYS_READS	    bigint,
    MAX_PHYS_READS	    bigint,
    MIN_PHYS_READS	    bigint,
    LAST_PHYS_READS	    bigint,
    TTL_LOG_WRITES	    bigint,
    PCT_LOG_WRITES	    decimal(5,2),
    AVG_LOG_WRITES	    bigint,
    MAX_LOG_WRITES	    bigint,
    MIN_LOG_WRITES	    bigint,
    LAST_LOG_WRITES	    bigint,
    TTL_CLR_TIME	      bigint,
    PCT_CLR_TIME	      decimal(5,2),
    AVG_CLR_TIME	      bigint,
    MAX_CLR_TIME	      bigint,
    MIN_CLR_TIME	      bigint,
    LAST_CLR_TIME	      bigint,
    WAIT_FACTOR	        bigint,
    EXECS_PER_HOUR      decimal(20,4),
    STMT_START_OFFSET   int,
    STMT_END_OFFSET     int,
    SQLTEXT	            nvarchar(100),
    ABAP_NAME	          nvarchar(40) null,
    ABAP_LOC	          int null,
    PLAN_GEN_NUM	      bigint,
    PLAN_HANDLE	        varbinary(64),
    CREATION_TIME	      datetime,
    LAST_EXEC_TIME      datetime,
    COMMENT_TXT         nvarchar(512)
  )
  -- Get totals in order to calculate pct values
  SELECT
    @sum_execution_count = sum(execution_count),
    @sum_physical_reads = sum(total_physical_reads),
    @sum_logical_writes = sum(total_logical_writes),
    @sum_logical_reads = sum(total_logical_reads),
    @sum_elapsed_time = sum(total_elapsed_time),
    @sum_worker_time = sum(total_worker_time),
    @sum_clr_time = sum(total_clr_time)
  FROM sys.dm_exec_query_stats
  SET @cmdString = 'insert into #out_data ' +
  'select top ' + convert(varchar(10),@nrows) + ' ' +
  'sql_handle as sqlhandle,null as abap_name,' +
  'execution_count as exec_count,' +
  'case @sum_execution_count when 0 then 0 else ' +
    'execution_count * 100.0/@sum_execution_count end as pct_exec_count,' +
-- Logical reads section
  'total_logical_reads as ttl_logical_reads,' +
  'case @sum_logical_reads when 0 then 0 else ' +
    'total_logical_reads * 100.0/@sum_logical_reads end as pct_logical_reads,' +
    'avg_logical_reads = total_logical_reads/execution_count,' +
    'max_logical_reads,min_logical_reads,last_logical_reads,' +
-- Elapsed time section
  'total_elapsed_time as ttl_elapsed_time,' +
  'case @sum_elapsed_time when 0 then 0 else ' +
    'total_elapsed_time * 100.0/@sum_elapsed_time end as pct_elapsed_time,' +
    'avg_elapsed_time = total_elapsed_time/execution_count,' +
    'max_elapsed_time,min_elapsed_time,last_elapsed_time,' +
-- CPU time section
  'total_worker_time as ttl_cpu_time,' +
  'case @sum_worker_time when 0 then 0 else ' +
    'total_worker_time * 100.0/@sum_worker_time end as pct_cpu_time,' +
  'avg_cpu_time = total_worker_time/execution_count,' +
  'max_worker_time as max_cpu_time,min_worker_time as min_cpu_time,'+
  'last_worker_time as last_cpu_time,' +
-- Physical reads section
  'total_physical_reads as ttl_phys_reads,' +
  'case @sum_physical_reads when 0 then 0 else ' +
  'total_physical_reads * 100.0/@sum_physical_reads end ' +
  '  as pct_phys_reads,' +
  'avg_phys_reads = total_physical_reads/execution_count,' +
  'max_physical_reads as max_phys_reads,' +
  'min_physical_reads as min_phys_reads,' +
  'last_physical_reads as last_phys_reads,' +
-- Logical writes section
  'total_logical_writes as ttl_log_writes,' +
  'case @sum_logical_writes when 0 then 0 else ' +
    'total_logical_writes * 100.0/@sum_logical_writes end ' +
    ' as pct_log_writes,' +
    'avg_log_writes = total_logical_writes/execution_count,' +
    'max_logical_writes as max_log_writes,' +
    'min_logical_writes as min_log_writes,' +
    'last_logical_writes as last_log_writes,' +
-- CLR time section
  'total_clr_time as ttl_clr_time,' +
  'case @sum_clr_time when 0 then 0 else ' +
    'total_clr_time * 100.0/@sum_clr_time end as pct_clr_time,' +
    'avg_clr_time = total_clr_time/execution_count,' +
    'max_clr_time,min_clr_time,last_clr_time,' +
-- Wait factor
  'case total_worker_time when 0 then 0 else ' +
    'total_elapsed_time/total_worker_time end as wait_factor,' +
-- Executions per hour
  'case datediff(second,creation_time,last_execution_time) '+
  ' when 0 then 0 else ' +
  '  convert(decimal(20,4),convert(float,execution_count) / ' +
  '(datediff(second,creation_time,last_execution_time) / 3600.0)) '+
  'end as execs_per_hour, ' +
-- Offsets
  'statement_start_offset as stmt_start_offset,' +
  'statement_end_offset as stmt_end_offset,' +
-- SQL text cutoff at 100 characters
-- Replace crlf, TAB, LF, CR by space, in that order
  'replace(replace(replace(replace((select convert(nvarchar(100),'+
  ' SUBSTRING(text,statement_start_offset/2 + 1,100)) '+
  ' from sys.dm_exec_sql_text(sql_handle)),' +
  ' @crlf,N'' '' ),CHAR(9),N'' ''),' +
  ' CHAR(10),N'' ''),CHAR(13),N'' '') as sqltext,' +
-- Created later
  'null as abap_name,null as abap_loc,' +
-- Plan info
  'plan_generation_num, plan_handle,' +
  'creation_time,last_execution_time,' +
-- Grab the comment text if it's there
  '(select convert(nvarchar(512),'+
  ' SUBSTRING(text,patindex(''%/* R3:%'',text),' +
    '(case  when patindex(''%/* R3:%'',text) <> 0' +
    ' then  len(convert(nvarchar(max), text)) * 2' +
    ' else 0 end))) ' +
    'from sys.dm_exec_sql_text(sql_handle)) as COMMENT_TXT ' +
-- Get everything from the DMV
  ' from sys.dm_exec_query_stats where execution_count > 0 order by ' +
    convert(varchar(2),@sortby) + ' desc'
-- Setup the execution
  set @argString = N'@nrows INT, @sortby INT,' +
    N'@sum_execution_count bigint,@sum_physical_reads bigint,' +
    N'@sum_logical_writes bigint,@sum_logical_reads bigint,' +
    N'@sum_elapsed_time bigint,@sum_worker_time bigint,' +
    N'@sum_clr_time bigint,@crlf nvarchar(2)'
  EXEC sp_executesql @cmdString,@argString,
    @nrows, @sortby,@sum_execution_count,@sum_physical_reads,
    @sum_logical_writes,@sum_logical_reads,@sum_elapsed_time,
    @sum_worker_time,@sum_clr_time,@crlf
-- Now we have all the data in #out_data
-- Let's first fill fields
--       OBJECT_NAME,ABAP_NAME,ABAP_LOC
--
  begin try -- We don't want errors here to cause failures
    update #out_data set
      [OBJECT_NAME] =
      SUBSTRING(COMMENT_TXT,patindex('% T:%',COMMENT_TXT)+ 3,
        -- length: <location of first space after ' T:'> -
        --         <location of ' T:'> - 3 (the length of ' T:')
        charindex(' ',COMMENT_TXT,patindex('% T:%',COMMENT_TXT)+1) -
        patindex('% T:%',COMMENT_TXT) - 3),
      [ABAP_NAME] =
      SUBSTRING(COMMENT_TXT,patindex('% R3:%',COMMENT_TXT)+ 4,
        -- length: <location of first colon after ' R3:'> -
        --         <location of ' R3:'> - 4 (the length of ' R3:')
        charindex(':',COMMENT_TXT,patindex('% R3:%',COMMENT_TXT)+4) -
        patindex('% R3:%',COMMENT_TXT) - 4),
      [ABAP_LOC] =
      convert(int,
         substring(COMMENT_TXT,
          charindex(':',COMMENT_TXT,charindex(':',COMMENT_TXT,1)+1)+1,
            charindex(' ',COMMENT_TXT,4) -
            charindex(':',COMMENT_TXT,charindex(':',COMMENT_TXT,1)+1)))
    where COMMENT_TXT like '%/* R3:%:% */%'
  end try
  begin catch
  end catch
  -- Deliver the data
  select * from #out_data
END
 
GO
