USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_config]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_check_config] as
begin
  set nocount on
  CREATE TABLE #out_data
        (  par_name    nvarchar(70),
           par_value   int,          -- run value
           reason_i    int,          -- reason code
           reason      nvarchar(128) -- reason text
         )
  CREATE TABLE #knwn (par_name nvarchar(70))
  CREATE TABLE #chks
        ( par_name nvarchar(70),
          expected int,
          reason_i int )
  CREATE TABLE #configs
        ( cfg_name       nvarchar(70) ,
          minimum        int ,
          maximum        int ,
          config_value   int ,
          run_value      int )
  INSERT INTO #configs
        EXEC ('execute sp_configure')
-- List of known parameters from SQL Server 9.00.3042.00 (SP2)
--
-- These statements were generated from:
-- select 'INSERT INTO #knwn VALUES(N'''+cfg_name+''')'
--     from #configs
-- Where #configs is created like shown above
--
INSERT INTO #knwn VALUES(N'Ad Hoc Distributed Queries')
INSERT INTO #knwn VALUES(N'affinity I/O mask')
INSERT INTO #knwn VALUES(N'affinity mask')
INSERT INTO #knwn VALUES(N'affinity64 I/O mask')
INSERT INTO #knwn VALUES(N'affinity64 mask')
INSERT INTO #knwn VALUES(N'Agent XPs')
INSERT INTO #knwn VALUES(N'allow updates')
INSERT INTO #knwn VALUES(N'awe enabled')
INSERT INTO #knwn VALUES(N'blocked process threshold')
INSERT INTO #knwn VALUES(N'c2 audit mode')
INSERT INTO #knwn VALUES(N'clr enabled')
INSERT INTO #knwn VALUES(N'cost threshold for parallelism')
INSERT INTO #knwn VALUES(N'cross db ownership chaining')
INSERT INTO #knwn VALUES(N'cursor threshold')
INSERT INTO #knwn VALUES(N'Database Mail XPs')
INSERT INTO #knwn VALUES(N'default full-text language')
INSERT INTO #knwn VALUES(N'default language')
INSERT INTO #knwn VALUES(N'default trace enabled')
INSERT INTO #knwn VALUES(N'disallow results from triggers')
INSERT INTO #knwn VALUES(N'fill factor (%)')
INSERT INTO #knwn VALUES(N'ft crawl bandwidth (max)')
INSERT INTO #knwn VALUES(N'ft crawl bandwidth (min)')
INSERT INTO #knwn VALUES(N'ft notify bandwidth (max)')
INSERT INTO #knwn VALUES(N'ft notify bandwidth (min)')
INSERT INTO #knwn VALUES(N'in-doubt xact resolution')
INSERT INTO #knwn VALUES(N'index create memory (KB)')
INSERT INTO #knwn VALUES(N'lightweight pooling')
INSERT INTO #knwn VALUES(N'locks')
INSERT INTO #knwn VALUES(N'max degree of parallelism')
INSERT INTO #knwn VALUES(N'max full-text crawl range')
INSERT INTO #knwn VALUES(N'max server memory (MB)')
INSERT INTO #knwn VALUES(N'max text repl size (B)')
INSERT INTO #knwn VALUES(N'max worker threads')
INSERT INTO #knwn VALUES(N'media retention')
INSERT INTO #knwn VALUES(N'min memory per query (KB)')
INSERT INTO #knwn VALUES(N'min server memory (MB)')
INSERT INTO #knwn VALUES(N'nested triggers')
INSERT INTO #knwn VALUES(N'network packet size (B)')
INSERT INTO #knwn VALUES(N'Ole Automation Procedures')
INSERT INTO #knwn VALUES(N'open objects')
INSERT INTO #knwn VALUES(N'PH timeout (s)')
INSERT INTO #knwn VALUES(N'precompute rank')
INSERT INTO #knwn VALUES(N'priority boost')
INSERT INTO #knwn VALUES(N'query governor cost limit')
INSERT INTO #knwn VALUES(N'query wait (s)')
INSERT INTO #knwn VALUES(N'recovery interval (min)')
INSERT INTO #knwn VALUES(N'remote access')
INSERT INTO #knwn VALUES(N'remote admin connections')
INSERT INTO #knwn VALUES(N'remote login timeout (s)')
INSERT INTO #knwn VALUES(N'remote proc trans')
INSERT INTO #knwn VALUES(N'remote query timeout (s)')
INSERT INTO #knwn VALUES(N'Replication XPs')
INSERT INTO #knwn VALUES(N'scan for startup procs')
INSERT INTO #knwn VALUES(N'server trigger recursion')
INSERT INTO #knwn VALUES(N'set working set size')
INSERT INTO #knwn VALUES(N'show advanced options')
INSERT INTO #knwn VALUES(N'SMO and DMO XPs')
INSERT INTO #knwn VALUES(N'SQL Mail XPs')
INSERT INTO #knwn VALUES(N'transform noise words')
INSERT INTO #knwn VALUES(N'two digit year cutoff')
INSERT INTO #knwn VALUES(N'user connections')
INSERT INTO #knwn VALUES(N'user options')
INSERT INTO #knwn VALUES(N'Web Assistant Procedures')
INSERT INTO #knwn VALUES(N'xp_cmdshell')
INSERT INTO #knwn VALUES(N'common criteria compliance enabled')
INSERT INTO #knwn VALUES(N'blocked process threshold (s)')
INSERT INTO #knwn VALUES(N'access check cache bucket count')
INSERT INTO #knwn VALUES(N'access check cache quota')
INSERT INTO #knwn VALUES(N'backup compression default')
INSERT INTO #knwn VALUES(N'EKM provider enabled')
INSERT INTO #knwn VALUES(N'filestream access level')
INSERT INTO #knwn VALUES(N'optimize for ad hoc workloads')
INSERT INTO #knwn VALUES(N'contained database authentication')
-- List of expected values and reason codes
INSERT INTO #chks VALUES ( N'affinity I/O mask',0,1 )
INSERT INTO #chks VALUES ( N'affinity mask',0,1 )
INSERT INTO #chks VALUES ( N'affinity64 I/O mask',0,1 )
INSERT INTO #chks VALUES ( N'affinity64 mask',0,1 )
INSERT INTO #chks VALUES ( N'allow updates',0,1 )
INSERT INTO #chks VALUES ( N'blocked process threshold',0,1 )
INSERT INTO #chks VALUES ( N'c2 audit mode',0,1 )
INSERT INTO #chks VALUES ( N'clr enabled',0,1 )
INSERT INTO #chks VALUES ( N'common criteria compliance enabled',0,1 )
INSERT INTO #chks VALUES ( N'cost threshold for parallelism',5,1 )
INSERT INTO #chks VALUES ( N'cursor threshold',-1,1 )
INSERT INTO #chks VALUES ( N'default language',0,1 )
INSERT INTO #chks VALUES ( N'disallow results from triggers',0,1 )
INSERT INTO #chks VALUES ( N'fill factor (%)',0,1 )
INSERT INTO #chks VALUES ( N'index create memory (KB)',0,1 )
INSERT INTO #chks VALUES ( N'lightweight pooling',0,1 )
INSERT INTO #chks VALUES ( N'locks',0,1 )
INSERT INTO #chks VALUES ( N'max degree of parallelism',1,2 )
INSERT INTO #chks VALUES ( N'max text repl size (B)',65536,1 )
INSERT INTO #chks VALUES ( N'min memory per query (KB)',1024,1 )
INSERT INTO #chks VALUES ( N'network packet size (B)',4096,1 )
INSERT INTO #chks VALUES ( N'open objects',0,1 )
INSERT INTO #chks VALUES ( N'priority boost',0,1 )
INSERT INTO #chks VALUES ( N'query governor cost limit',0,1 )
INSERT INTO #chks VALUES ( N'query wait (s)',-1,1 )
INSERT INTO #chks VALUES ( N'recovery interval (min)',-0,1 )
INSERT INTO #chks VALUES ( N'Replication XPs',0,1 )
INSERT INTO #chks VALUES ( N'set working set size',0,1 )
INSERT INTO #chks VALUES ( N'two digit year cutoff',2049,1 )
INSERT INTO #chks VALUES ( N'user connections',0,1 )
INSERT INTO #chks VALUES ( N'user options',0,1 )
-- Show advanced options always appears at the TOP
  INSERT INTO #out_data
     SELECT cfg_name,run_value,2,N'Does not conform to SAP standard'
       FROM #configs
     WHERE upper(cfg_name) = upper(N'show advanced options') and
                  run_value <> 1
-- Then a check for run_value <> config_value
  INSERT INTO #out_data
     SELECT cfg_name,run_value,3,N'Run value does not match configured value'
       FROM #configs
     WHERE run_value <> config_value
-- Then a check for unknown parameters
  INSERT INTO #out_data
     SELECT cfg_name,run_value,4,N'Unknown parameter' FROM
       #configs
     WHERE upper(cfg_name) not in (select upper(par_name) from #knwn)
-- Now all the parameters that don't have expected values
  INSERT INTO #out_data
     SELECT cfg_name,run_value,ch.reason_i,
         case reason_i
            when 1 then N'Not SQL default'
            when 2 then N'Does not conform to SAP standard'
            else N'Unknown reason'
         end
      FROM #configs co,#chks ch
      WHERE
         upper(co.cfg_name) = upper(ch.par_name) and
                  run_value <> ch.expected
  SELECT * FROM #out_data
end
 
GO
