USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[GETTOTALVALORBAIXADO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*LUCAS FIGUEIREDO DE MATTOS - SG1150_12 - Oc. - 30/06/2011*/
CREATE FUNCTION [dbo].[GETTOTALVALORBAIXADO] (
	@CODCOLIGADA INT
	,@IDLAN INT
	)
RETURNS MONEY
AS
BEGIN
	DECLARE @IDBAIXAPARCIAL INT
	DECLARE @TOTAL MONEY
	DECLARE @TOTALBAIXADO MONEY
	DECLARE CurBaixa CURSOR
	FOR
	(
			SELECT IDLAN
				,CODCOLIGADA
				,IDBAIXAPARCIAL
			FROM FLAN
			WHERE CODCOLIGADA = @CODCOLIGADA
				AND IDBAIXAPARCIAL = @IDLAN
			)
	OPEN CurBaixa
	SET @TOTAL = 0
	SET @TOTALBAIXADO = 0
	FETCH NEXT
	FROM CurBaixa
	INTO @IDLAN
		,@CODCOLIGADA
		,@IDBAIXAPARCIAL
	WHILE @@fetch_status = 0
	BEGIN
		SELECT @total = SUM(flan.VALORBAIXADO)
		FROM FLAN  WITH (NOLOCK)
		WHERE FLAN.IDLAN = @IDBAIXAPARCIAL
			AND CODCOLIGADA = @CODCOLIGADA
		DECLARE CurBaixaParcial CURSOR
		FOR
		(
				SELECT FLAN.IDLAN
					,FLAN.CODCOLIGADA
				FROM FLAN  WITH (NOLOCK)
				WHERE FLAN.IDLAN = @IDLAN
					AND CODCOLIGADA = @CODCOLIGADA
				) (
				SELECT @totalbaixado = VALORBAIXADO
				FROM FLAN  WITH (NOLOCK)
				WHERE FLAN.IDLAN = @IDLAN
					AND CODCOLIGADA = @CODCOLIGADA
				)
		OPEN CurBaixaParcial
		DECLARE @IDLANBAIXA INT
			,@CODCOLIGADABAIXA INT
		FETCH NEXT
		FROM CurBaixaParcial
		INTO @IDLANBAIXA
			,@CODCOLIGADABAIXA
		WHILE @totalbaixado != 0
		BEGIN
			SELECT @total = @total + sum(flan.VALORBAIXADO)
			FROM FLAN  WITH (NOLOCK)
			WHERE FLAN.IDLAN = @IDLANBAIXA
				AND CODCOLIGADA = @CODCOLIGADABAIXA
			SELECT @totalbaixado = sum(flan.VALORBAIXADO)
			FROM FLAN  WITH (NOLOCK)
			WHERE FLAN.IDBAIXAPARCIAL = @IDLANBAIXA
				AND CODCOLIGADA = @CODCOLIGADABAIXA
			SELECT @IDLANBAIXA = IDLAN
			FROM FLAN  WITH (NOLOCK)
			WHERE FLAN.IDBAIXAPARCIAL = @IDLANBAIXA
				AND CODCOLIGADA = @CODCOLIGADABAIXA
			SELECT @CODCOLIGADABAIXA = CODCOLIGADA
			FROM FLAN  WITH (NOLOCK)
			WHERE FLAN.IDBAIXAPARCIAL = @IDLANBAIXA
				AND CODCOLIGADA = @CODCOLIGADABAIXA
		END;
		FETCH NEXT
		FROM CurBaixa
		INTO @IDLAN
			,@CODCOLIGADA
			,@IDBAIXAPARCIAL
		CLOSE CurBaixaParcial
		DEALLOCATE CurBaixaParcial
	END
	CLOSE CurBaixa
	DEALLOCATE CurBaixa
	RETURN @total
END
GO
