USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_INTRA_ANIVERSARIANTES]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_INTRA_ANIVERSARIANTES] AS

SELECT PP.CPF,
PF.CHAPA,
PF.NOME,
PP.DTNASCIMENTO as "DATA_NASCIMENTO",
PF.DATAADMISSAO as "DATA_ADMISSAO",
PS.DESCRICAO AS "AREA",
PFU.NOME as "CARGO",
GF.CIDADE AS "CIDADE",
PF.CODSITUACAO AS "SITUACAO",
PF.DATADEMISSAO AS "DATA_DEMISSAO",
PFD.NOME AS "NOME_MAE"


FROM PFUNC PF
JOIN PPESSOA PP ON PF.CODPESSOA = PP.CODIGO
INNER JOIN PFUNCAO PFU ON (((PF.CODCOLIGADA = PFU.CODCOLIGADA) AND (PF.CODFUNCAO = PFU.CODIGO)))
INNER JOIN PSECAO PS ON (((PF.CODCOLIGADA = PS.CODCOLIGADA) AND (PF.CODSECAO = PS.CODIGO)))
INNER JOIN GFILIAL GF ON PF.CODFILIAL = GF.CODFILIAL AND PF.CODCOLIGADA = GF.CODCOLIGADA
LEFT JOIN PFDEPEND PFD ON (PFD.CODCOLIGADA = PF.CODCOLIGADA AND PFD.CHAPA = PF.CHAPA)

WHERE PF.CODCOLIGADA IN ('1','4','5') AND (PF.TIPODEMISSAO NOT IN ('6','5') OR PF.TIPODEMISSAO IS NULL) AND PFD.GRAUPARENTESCO='7'





GO
