USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SPC_RESETID]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  RM Sistemas
  RM Saldus
  Tradução do procedimento "ResetID"
  da SDGenNewId.pas para Stored Procedure MSSQL
*/
CREATE PROCEDURE [dbo].[SPC_RESETID]
@COLIGADA INT,
@KEYID INT
AS
BEGIN
  UPDATE CGENID SET ID = 0
  WHERE CODCOLIGADA = @COLIGADA AND
  KEYID = @KEYID
END
GO
