USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_locked_tables]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_locked_tables]
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(1024)
declare @schema_id int
-- get the id of the schema
exec sap_get_schema_id @db_name, @schema_name, @schema_id output
-- build the select statement
set @cmd = N'select distinct o.name ' +
             N'from ' + @db_name + N'.sys.objects o, ' +
                             N'master.dbo.syslockinfo l ' +
               N'where o.type = ''U'' ' +
                 N'and o.schema_id = @schema_id ' +
                 N'and l.rsc_objid = o.object_id ' +
                 N'and l.rsc_dbid = db_id(''' + @db_name + N''') ' +
           N'order by o.name'
exec sp_executesql @cmd,N'@schema_id int',@schema_id
END
 
GO
