USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_get_para]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Well known keys :
--   frequency
--   retention
--   enabled
--   jobname
--   job_exists
--   job_enabled
CREATE FUNCTION  [dbo].[sap_get_para] ( @area nvarchar(255) = N' ' ,
                                @key  nvarchar(255) = N' ' )
  RETURNS @result TABLE
    (
       [area]      nvarchar(255),
       [key]       nvarchar(255),
       [value]     nvarchar(255),
       [default]   nvarchar(255)
    )
AS
BEGIN
-- Local data declarations -------------------------------------------
  declare  @curr_freq    int
  declare  @curr_retent  int
  declare  @jobname      sysname
  declare  @defname      sysname
  declare  @username     sysname
  declare  @value        nvarchar(255)
  declare  @curr_area    nvarchar(255)
-- Set correct user name according to input schema @objsource---------
  SET @username = ( select top 1 user_name(uid) from sysobjects
                      where id = @@PROCID )
/*=== Process [key] parameter =======================================*/
  DECLARE @job_areas TABLE ( ar nvarchar(255) )
  IF @area = ' '
  BEGIN
    INSERT INTO @job_areas VALUES( 'DBCOLL' )
    INSERT INTO @job_areas VALUES( 'TABSTATS' )
    INSERT INTO @job_areas VALUES( 'LOCKSTATS' )
  END
  ELSE
    INSERT INTO @job_areas VALUES (@area)
  DECLARE ja_cursor CURSOR FOR SELECT ar FROM @job_areas
  OPEN ja_cursor
  FETCH NEXT FROM ja_cursor into @curr_area
  WHILE (@@fetch_status = 0)
  BEGIN
    SELECT @defname = CASE @curr_area
      WHEN 'TABSTATS' THEN
        'SAP CCMS_' + @username + '_' + db_name() + '_Update_Tabstats'
      WHEN 'LOCKSTATS' THEN
        'SAP CCMS_' + @username + '_' + db_name() + '_Blocking_Lockstats'
      ELSE 'SAP_' + @username + '_' + db_name() +
                 '_MSSQL_COLLECTOR'
      END
  /*----- Job name ----------------------------------------------------*/
    if ( @key = ' ' or
         @key = 'jobname' )
      BEGIN
        SET @jobname = (select [value] from sap_mon_para
                       where [area] = @curr_area and [key] = 'jobname')
        if (@jobname IS NULL)
          SET @jobname = @defname
        insert into @result
          ([area],[key],[value],[default])
          VALUES
          (@curr_area, 'jobname', @jobname, @defname)
      END
/*----- Check job existence -----------------------------------------*/
    if ( @key = ' ' or
       @key = 'job_exists' )
      BEGIN
        SET @jobname = (select [value] from sap_mon_para
                       where [area] = @curr_area and [key] = 'jobname')
        if (@jobname IS NULL)
          SET @jobname = @defname
        IF ( EXISTS ( SELECT enabled FROM msdb..sysjobs
                      WHERE [name] = @jobname ) )
          SET @value = '1'
        ELSE
          SET @value = '0'
        INSERT INTO @result
          ([area],[key],[value],[default])
          VALUES ( @curr_area, 'job_exists', @value, '1' )
        SET @value = NULL
      END
/*----- Job status --------------------------------------------------*/
    if ( @key = ' ' or
       @key = 'job_enabled' )
      BEGIN
        SET @jobname = (select [value] from sap_mon_para
                       where [area] = @curr_area and [key] = 'jobname')
        if (@jobname IS NULL)
          SET @jobname = @defname
        SELECT @value = cast(enabled AS nvarchar(32))
          FROM msdb..sysjobs
          WHERE [name] = @jobname
        INSERT INTO @result
          ([area],[key],[value],[default])
          VALUES ( @curr_area, 'job_enabled', @value, '1' )
        SET @value = NULL
      END
    FETCH NEXT FROM ja_cursor into @curr_area
  END /* End loop over job areas */
  CLOSE ja_cursor
  DEALLOCATE ja_cursor
/*----- SQL Agent status --------------------------------------------*/
  if ( @area = ' ' or
       @area = 'SYSTEM' and @key = ' ' or
       @area = 'SYSTEM' and @key = 'AgentState' )
    BEGIN
      if ( exists (select * from master..sysprocesses
                     where program_name like 'SQLAgent%') )
        SET @value = '1'
      else
        SET @value = '0'
      INSERT INTO @result
        ([area],[key],[value],[default])
        VALUES ( 'SYSTEM', 'AgentState', @value, '1' )
      SET @value = NULL
    END
/*----- Return specific key -----------------------------------------*/
  if ( @area <> ' ' AND
       @key NOT IN ('job_name','job_exists','job_enabled',
                    'AgentState',' ') )
    INSERT INTO @result ([area],[key],[value],[default])
      SELECT [area],[key],[value],[default]
        FROM sap_mon_para
        WHERE [area] = @area and [key] = @key
/*----- Return all keys for a given area ----------------------------*/
  if ( @area <> ' ' and @key = ' ' )
    INSERT INTO @result ([area],[key],[value],[default])
      SELECT [area],[key],[value],[default]
        FROM sap_mon_para
        WHERE [area] = @area AND
              [key] NOT IN ('job_name','job_exists','job_enabled',
                            'AgentState')
/*----- Return all keys ---------------------------------------------*/
  if ( @area = ' ' )
    INSERT INTO @result ([area],[key],[value],[default])
      SELECT [area],[key],[value],[default]
        FROM sap_mon_para
        WHERE [key] NOT IN ('job_name','job_exists','job_enabled',
                            'AgentState')
  RETURN
END
 
GO
