USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_index_use_stats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_index_use_stats]
   @dbname  sysname = N' ',  -- '*' - ALL, ' ' - current
   @schema  sysname = N' ',  -- @schema and @tabname are either both set
   @tabname sysname = N' ',  -- or both ' ' (which means ALL).
   @idxname sysname = N' ',  -- ' ' - ALL
   @topn int = 300,
   @order_by nvarchar(3) = N' ' -- Default 'UT' - user totalops
          -- 'USE' user seeks, 'USC' user scans,
          -- 'UL' user lookups, 'UU' user updates
          -- 'SSC' system scans
as
begin
  declare @dbid int
  declare @cmd nvarchar(2048)
  declare @outcols nvarchar(1024)
  declare @outcols_rest nvarchar(1024)
  declare @objname sysname
  declare @topn_str nvarchar(64)
  declare @order_by_str nvarchar(128)
  set nocount on
-- Don't allow a select without a top
  if @topn <= 0
    set @topn = 300
  set @topn_str = N'TOP ' + convert(nvarchar,@topn)
  -- The output consists of DBNAME,SCHEMANAME,TABNAME,INDEXNAME,<datacolumns>
  -- These are the data columns:
  set @outcols_rest =
    N'user_seeks,' +
    N'user_scans,' +
    N'user_lookups,' +
    N'user_updates,' +
    N'user_totalops =user_seeks+user_scans+user_lookups+user_updates,' +
    N'last_user_seek,' +
    N'last_user_scan,' +
    N'last_user_lookup,' +
    N'last_user_update,' +
    N'system_seeks,' +
    N'system_scans,' +
    N'system_lookups,' +
    N'system_updates,' +
    N'last_system_seek,' +
    N'last_system_scan,' +
    N'last_system_lookup,' +
    N'last_system_update '
  -- How to sort the output
  -- Default (space) is 'UT' - user totalops
      -- 'USE' user seeks,   'USC' user scans,
      -- 'UL'  user lookups, 'UU'  user updates
      -- 'SSC' system scans
  if @order_by = N'USE'
    set @order_by_str = N'order by user_seeks desc'
  else if @order_by = N'USC'
    set @order_by_str = N'order by user_scans desc'
  else if @order_by = N'UL'
    set @order_by_str = N'order by user_lookups desc'
  else if @order_by = N'UU'
    set @order_by_str = N'order by user_updates desc'
  else if @order_by = N'SSC'
    set @order_by_str = N'order by system_scans desc'
  else
    set @order_by_str = N'order by user_totalops desc'
  if @dbname = N'*' -- special case, get all objects and look up their names
  begin
    -- save all the data in a temp table
    select * into ##tmp_op from
        sys.dm_db_index_usage_stats
    select distinct database_id into ##dbids from ##tmp_op
    create table ##id_nm_map(
              dbname sysname,dbid int,objid int,indid int,
              schname sysname,tabname sysname,idxname sysname )
    declare dbs cursor for select database_id from ##dbids
    open dbs
    fetch next from dbs into @dbid
    while (@@fetch_status <> -1)
    begin
      if (@@fetch_status <> -2)
        set @dbname = db_name(@dbid)
        set @cmd = N'use [' + @dbname + N'] ' +
           N'insert into ##id_nm_map select ''' + @dbname + ''',' +
           N'    tp.database_id,tp.object_id,tp.index_id,' +
           N'  schema_name(so.schema_id),so.name,si.name ' +
           N'from ##tmp_op tp,sys.objects so,' +
           N'     sys.indexes si ' +
           N'  where tp.database_id = @dbid and ' +
                   N'tp.object_id = so.object_id and ' +
                   N'so.object_id = si.object_id and ' +
                   N'si.index_id = tp.index_id and si.name is not null'
        exec sp_executesql @cmd,N'@dbid int',@dbid
      fetch next from dbs into @dbid
    end
    close dbs
    deallocate dbs
    set @outcols = @topn_str +
                   N' DBNAME = m.dbname,' +
                   N'SCHEMANAME = m.schname,' +
                   N'TABNAME = m.tabname,' +
				   N'INDEXNAME = m.idxname,' + @outcols_rest
    set @cmd = N'select ' + @outcols +
      N'from ##id_nm_map m,##tmp_op tmpo ' +
      N'  where m.dbid = tmpo.database_id and ' +
      N'        m.objid = tmpo.object_id and ' +
      N'        m.indid = tmpo.index_id ' +
         @order_by_str
    exec sp_executesql @cmd
    drop table ##id_nm_map
    drop table ##tmp_op
    drop table ##dbids
  end
  else
  begin -- Dbname is specified, i.e. data for only one db is returned
    set @outcols = @topn_str +
        N' DBNAME = db_name(),' +
        N'SCHEMANAME = schema_name(so.schema_id),' +
        N'TABNAME = object_name(si.object_id),' +
        N'INDEXNAME = ISNULL(si.name,si.type_desc),' + @outcols_rest
    if @dbname = N' '
      set @dbname = db_name()
    if @schema = N' '
      set @schema = schema_name()
    if @tabname = N' '
    begin
      set @cmd = N'use [' + @dbname + N'] ' +
        N'select ' + @outcols +
        N'from ' +
        N'sys.dm_db_index_usage_stats su,' +
          N'sys.indexes si,sys.objects so ' +
        N'where ' +
            N'si.object_id = so.object_id and ' +
            N'su.object_id = si.object_id and ' +
            N'su.index_id = si.index_id ' +
            @order_by_str
      exec sp_executesql @cmd
    end
    else
    begin
      set @objname = N'[' + @schema + N'].[' + @tabname + N']'
      if @idxname = N' '
      begin
        set @cmd = N'use [' + @dbname + N'] ' +
          N'select ' + @outcols +
          N'from ' +
          N'sys.dm_db_index_usage_stats su,' +
            N'sys.indexes si,sys.objects so ' +
          N'where ' +
            N'si.object_id = so.object_id and ' +
            N'si.object_id = object_id(@objname) and ' +
            N'su.object_id = si.object_id and ' +
            N'su.index_id = si.index_id '
        exec sp_executesql @cmd,N'@objname sysname',@objname
      end
      else
      begin
        set @cmd = N'use [' + @dbname + N'] ' +
          N'select ' + @outcols +
          N'from ' +
          N'sys.dm_db_index_usage_stats su,' +
            N'sys.indexes si,sys.objects so ' +
          N'where ' +
            N'si.object_id = so.object_id and ' +
            N'si.object_id = object_id(@objname) and ' +
            N'su.object_id = si.object_id and ' +
            N'su.index_id = si.index_id and ' +
            N'si.name = @idxname '
        exec sp_executesql @cmd,N'@objname sysname,@idxname sysname',
            @objname,@idxname
      end
    end
  end
end
 
GO
