USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sys_jobs]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_sys_jobs] as
begin
-- new test
declare @command1  varchar(80)
declare @command2  varchar(80)
declare @command3  varchar(80)
declare @command4  varchar(80)
declare @command5  varchar(80)
declare @command6  varchar(80)
declare @command7  varchar(80)
declare @command8  varchar(80)
declare @command9  varchar(80)
select @command1   =  'select job_id, originating_server,' +
                      ' name, enabled,'
select @command2   =  'description = SUBSTRING(description,1,500),'
select @command3   =  'start_step_id, category_id, owner_sid, ' +
                      'notify_level_eventlog,'
select @command4   =  'notify_level_email, notify_level_netsend,' +
                      ' notify_level_page,'
select @command5   =  'notify_email_operator_id, ' +
                      'notify_netsend_operator_id,'
select @command6   =  'notify_page_operator_id, delete_level, '
select @command7   =  'crdate = convert(char(8),date_created,1),'
select @command8   =  'moddate = convert(char(8),' +
                      'date_modified,1), version_number'
select @command9   =  ' from msdb..sysjobs'
exec(@command1+@command2+@command3+@command4+@command5+
     @command6+@command7+@command8+@command9)
end
 
GO
