USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_dbsize]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_get_dbsize] as
begin
declare @dbfreesize int
declare @dbusedsize int
declare @dbsize int
select @dbsize = 0
select @dbfreesize = 0
select @dbfreesize = 0
create table #dbsize(filetype int,
                     dbsize   int,
                     dbused   int)
insert into #dbsize
  select FileType, sum(size) as Size, sum (Used) as Used from
       (select FILEPROPERTY (name, 'islogfile') as
         FileType,size, FILEPROPERTY (name, 'spaceused') as Used
       from sysfiles)
       AS UsedResults
       group by FileType
 select @dbsize = dbsize, @dbusedsize = dbused from #dbsize
        where filetype = 0
 select @dbfreesize = @dbsize - @dbusedsize
 select @dbsize/128, @dbfreesize/128
end
 
GO
