USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_getparamstring]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_mon_getparamstring]
  @startOffset   int,
  @sqlHandle     varbinary(64)
 AS
BEGIN
  set nocount on
  declare @lParam  nvarchar(MAX)
  declare @params  nvarchar(MAX)
  declare @tmp nvarchar(max)
  declare @param_end int
  select @lParam = convert(nvarchar(MAX),
  SUBSTRING(text,1,@startOffset / 2))
  from sys.dm_exec_sql_text(@sqlHandle)
-- strip out enclosing ( ) from parameter string
  if (substring( @lParam,1,11 ) = N'CREATE PROC' or
      substring( @lParam,1,11 ) = N'create proc' ) and
      patindex( N'% Y%',@lParam ) < 30 -- a permanent r3 sp
  begin
   -- get the parameters
    set @param_end = 0
    select @param_end = patindex( N'% AS%',@lParam )
    if @param_end = 0
      select @param_end = patindex( N'%AS BEGIN%',@lParam )
    else
      select @param_end = @param_end + 1 -- point to the AS
    if @param_end > 0
    begin
      select @lParam = substring( @lParam,1,@param_end - 1 )
      if patindex( N'%@P%',@lParam ) > 0 -- there are parameters
      begin
        select @lParam = right( @lParam,len(@lParam) -
          patindex(N'%@P%',@lParam ) + 2 )
      end
      else
        select @lParam = N''
    end
    while len(@lParam) > 0 and
     (ascii( substring(@lParam,1,1) ) = 10  or
      ascii( substring(@lParam,1,1) ) = 13  or
      substring( @lParam,1,1 ) = N' ')
    begin
      if len(@lParam) > 0
         select @lParam = substring( @lParam,2,len(@lParam) - 1 )
    end
  end
 if substring( @lParam,1,2 ) = N'(@'
  begin
    select @lParam = right( @lParam,len(@lParam) -1 )
    if patindex( N'%))%',@lParam ) > 0 or
       patindex( N'%int)%',@lParam ) > 0 or
       patindex( N'%output)%',@lParam ) > 0 or
       patindex( N'%image)%',@lParam ) > 0
         select @lParam = left( @lParam,len(@lParam) - 1 )
  end
-- return parameter string
  select @lParam
END
 
GO
