USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_coll_pivot]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sap_coll_pivot]
  @obj_source  sysname ,
  @link_id     char(2)
AS
BEGIN
  SET NOCOUNT ON
  DECLARE @procname   sysname
  DECLARE @cclass     char(1)
  DECLARE @start_ts   datetime
  DECLARE @end_ts     datetime
  DECLARE @step       int
  DECLARE @stepunit   char(1)
  DECLARE @stmt       nvarchar(max)
  declare @counter    nvarchar(256)
  if (object_id('tempdb..#coll','U') IS NOT NULL)
    drop table #coll
  create table #coll
   (
     TIMESTMP    datetime ,
     obj_name    varchar(128) ,
     cntr_name   varchar(128) ,
     INST_NAME   varchar(128) ,
     CNTR_VALUE  bigint ,
     SLOPE       float
   )
  set @procname = @obj_source + '.' + 'sap_coll_list'
  SET @cclass = SUBSTRING(@link_id,1,1)
  set @end_ts = getdate()
  /*--- Last 48 hours -----------------------------------------------*/
  if (SUBSTRING(@link_id,2,1) = '1')
  BEGIN
    set @start_ts = DATEADD(hour, -48, @end_ts)
    set @step     =  1
    set @stepunit = 'M'
  END
  /*--- Last 7 days -------------------------------------------------*/
  else if (SUBSTRING(@link_id,2,1) = '2')
  BEGIN
    set @start_ts = DATEADD(day, -7, @end_ts)
    set @step     =  2
    set @stepunit = 'H'
  END
  else
  /*--- Last 30 days ------------------------------------------------*/
  BEGIN
    set @start_ts = DATEADD(day, -30, @end_ts)
    set @step     =  4
    set @stepunit = 'H'
  END
  /*--- Execute sap_coll_list ---------------------------------------*/
  insert into #coll
    execute @procname
      @obj_source,
      @cclass,
      @start_ts,
      @end_ts,
      @step,
      @stepunit
  /*--- INST_NAME can contain trailing blanks -----------------------*/
  update #coll set INST_NAME = rtrim(INST_NAME)
  /*--- Dynamically construct SELECT statement with PIVOT clause ----*/
  set @stmt = 'select * from ' +
  '(select ' +
    'convert(nvarchar(8),TIMESTMP,112) as DT,' +
    'convert(nvarchar(6),' +
    'replace(convert(nvarchar(8),TIMESTMP,8),N'':'',N'''')) as TM' +
  ',(cntr_name + '' '' + INST_NAME) AS [Counter],' +
           'cast(SLOPE AS decimal(15,3)) AS [Value] from #coll) t ' +
  'PIVOT (' +
  'MAX([Value]) FOR [Counter] IN ('
  declare curs cursor fast_forward for
    select (cntr_name + ' ' + INST_NAME) AS [Counter] from #coll
      where TIMESTMP = (select min(TIMESTMP) from #coll)
      order by obj_name, cntr_name, INST_NAME
  open curs
  fetch next from curs into @counter
  /*----- Loop through all counter/instance combinations ------------*/
  while @@fetch_status = 0
  begin
    set @stmt = @stmt + '"' + @counter + '"'
    fetch next from curs into @counter
    if @@fetch_status = 0
      set @stmt = @stmt + ','
    else
      set @stmt = @stmt + ') ) AS PVT ORDER BY DT DESC,TM DESC'
  end
  close curs
  deallocate curs
  /*--- Execute the select statement and clean-up temp table --------*/
  -- print @stmt
  exec(@stmt)
  drop table #coll
END
 
GO
