USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW098]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SAVW098]
AS
SELECT 	CODPRESTADOR, SEQUENCIAL,CODPRESTPRINC, CODCOMPRADOR,NUMEROREMESSA, STATUS, GRUPOGASTO,
	CODITEM, NUMEROCONTA,SEQUENCIALCONTA,SEQDEBITO, DATALANC,COMPLEMENTO,VALORORIGINAL, VALORORIGINALUPD, 
	VALORBASECALCULO,VALORBASECALCULOUPD, VALORDESCONTO,VALORDESCONTOUPD,VALORREPASSE, 
	VALORREPASSEUPD, CODREPASSE, SEQREP, TIPOPRESTADOR,CODFUNCAOMEDICO, ESTORNADO,DATAAJUSTE, 
	RESPAJUSTE,MOTIVOAJUSTE,VALORPAGO,DATAPAGTO,GLOSAEFETUADA, SITUACAOPAGTO, 
	DISCRIMINACAOHM,QUANTIDADEHM, TOTALCH, VALORCHHM, VALORTOTALHM, 
	HONORARIOFORA,NROFATURAHM, NREMESSAPAC,SIGLA,NOMEPRESTADOR, 
	REVISADA,CODGRUPO,TIPO
FROM SAVW004
UNION
SELECT 	CODPRESTADOR, SEQUENCIAL, CODPRESTPRINC, CODCOMPRADOR,NUMEROREMESSA,STATUS, GRUPOGASTO, CODITEM, 
	NUMEROCONTA,SEQUENCIALCONTA, SEQDEBITO,DATALANC, COMPLEMENTO,VALORORIGINAL,VALORORIGINALUPD, 
	VALORBASECALCULO,VALORBASECALCULOUPD,VALORDESCONTO, VALORDESCONTOUPD,VALORREPASSE,VALORREPASSEUPD, 
	CODREPASSE, SEQREP,TIPOPRESTADOR,CODFUNCAOMEDICO,ESTORNADO, DATAAJUSTE, RESPAJUSTE, MOTIVOAJUSTE,
	VALORPAGO, DATAPAGTO, GLOSAEFETUADA,SITUACAOPAGTO, 
	DISCRIMINACAOHM,QUANTIDADEHM, TOTALCH,VALORCHHM , VALORTOTALHM ,HONORARIOFORA,NROFATURAHM, 
	NREMESSAPAC,SIGLA, NOMEPRESTADOR ,REVISADA,CODGRUPO,TIPO
FROM SAVW005
GO
