USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_index_physical_stats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_index_physical_stats]
  @db_name sysname,
  @schema_name sysname,
  @table_name sysname,
  @index_name sysname,
  @mode sysname
as
begin
  declare @cmd nvarchar(1024)
  declare @par nvarchar(1024)
  declare @fulltabname nvarchar(1024)
  declare @index_id int
  set nocount on
  if @db_name is null or @db_name = N''
    select @db_name = db_name()
  if @schema_name is null or @schema_name = N''
    select @schema_name = user_name()
  set @fulltabname = @schema_name + N'.' + @table_name
-- Get the index id from the name
  set @cmd = N'use [' + @db_name + N'] ' +
    N'select @index_id = index_id from sys.indexes '+
    N'where object_id = object_id(@fulltabname) and '+
               N'name = @index_name'
  set @par = N'@index_id int output,@fulltabname nvarchar(1024),'+
             N'@index_name sysname'
  exec sp_executesql @cmd,@par,
    @index_id output,@fulltabname,@index_name
  if @index_id is null
  begin
   raiserror('Index not found.',16,1)
   return
  end
  set @cmd = N'use [' + @db_name + N'] ' +
    N'select index_id,' +
    N'partition_number,index_type_desc,alloc_unit_type_desc,'+
    N'index_depth,index_level,avg_fragmentation_in_percent,'+
    N'fragment_count,avg_fragment_size_in_pages,page_count,'+
    N'avg_page_space_used_in_percent,record_count,'+
    N'ghost_record_count,version_ghost_record_count,'+
    N'min_record_size_in_bytes,max_record_size_in_bytes,'+
    N'avg_record_size_in_bytes,forwarded_record_count '+
    N',compressed_page_count  '+
    N'from sys.dm_db_index_physical_stats('+
       N'db_id(@db_name),object_id(@fulltabname),@index_id, NULL ,@mode)'+
    N' where object_id(@fulltabname) is not null'
  set @par =
    N'@db_name sysname,@fulltabname nvarchar(1024),'+
          N'@index_id int,@mode sysname'
  exec sp_executesql @cmd,@par,
    @db_name,@fulltabname,@index_id,@mode
end
 
GO
