USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_dbstats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_dbstats] @dbname char(256) = '0'
as
  declare @totabnum  int
  declare @totabsize int
  declare @tabused   int
  declare @toindnum  int
  declare @toindsize int
  declare @tospnum   int
  declare @tospsize  int
  declare @dbsize    int
  declare @dbfresize int
  declare @dbunused  int
  declare @temp      int
  declare @id        int
  declare @totnonclu   int
  declare @dbusedsize int
  declare @cmd1 varchar(80),
          @cmd2 varchar(80),
          @cmd3 varchar(80),
          @cmd4 varchar(80),
          @cmd5 varchar(80),
          @cmd6 varchar(80)
  /************************************************************/
  /* DB size and free size calculation is not done in this sp */
  /* as this info is calculated in a ABAP function. So the    */
  /* db-size variables are set to zero. But the return        */
  /* structure is not changed as this structure is used MONI  */
  /* table and MSQSNAP table                                  */
  /************************************************************/
  if @dbname = '0' or @dbname = db_name()
  begin
   select @dbname = db_name()
 /* Total number of tables */
   select @totabnum = count(*) from sysobjects
  where type = 'U'
 /* Total number of indexes  - systables indexes - ncSYS entries*/
    select @toindnum = count(*) from sysindexes
  where (indid > 0 and indid < 255)
  and name not like '%sys%'
  and (status & 0x20 ) != 0x20
 /* Total number of stored procedures */
    select @tospnum = count(*) from sysobjects
  where type = 'P'
  /* Total data pages(leaf) size of all the tables */
    select @totabsize = sum(dpages)
     from sysindexes
     where indid < 2
  /* Image & Text data size */
    select @tabused = isnull(sum(used), 0)
    from sysindexes
    where indid = 255
  /* Total size of index : cluster and noncluster  */
    select @toindsize = sum(used) from sysindexes
   where indid in  (0,1)
  /* non - clustered indexes */
   select @totnonclu = sum(used) from sysindexes
   where indid > 1 and indid < 255
       and (status & 0x20 ) != 0x20
  end /* end if */
 else
  begin
    /* Total number of tables */
    exec('declare tabnum_cursor cursor for select count(*) from '+
     @dbname+'..sysobjects where type = ''' + 'U' + ''' for read only')
    open tabnum_cursor
    fetch tabnum_cursor into @totabnum
   deallocate tabnum_cursor
    /* Total number of indexes */
    exec('declare indnum_cursor cursor for select count(*) from '
    +@dbname+'..sysindexes where  indid > 0 and indid < 255'
 + ' and (status & 0x20 ) != 0x20 and name not like ''' +'%sys%'
 + ''' for read only')
    open indnum_cursor
    fetch indnum_cursor into @toindnum
    deallocate indnum_cursor
 /* Total number of stored procedures */
    exec('declare spnum_cursor cursor for select count(*) from '
         + @dbname +'..sysobjects'
 +' where type = ''' + 'P' +''' for read only')
    open spnum_cursor
    fetch spnum_cursor into @tospnum
    deallocate spnum_cursor
    /* Total size of all the tables (leaf-level dpages) */
    exec('declare tabsize_cursor cursor for select sum(dpages) from '
  +@dbname+'..sysindexes where indid < 2 for read only' )
    open tabsize_cursor
    fetch tabsize_cursor into @totabsize
    deallocate tabsize_cursor
   /* Total textimage size of all the tables (used) */
    exec('declare tabused_cursor cursor for select '
         + 'isnull(sum(used),0) from '
  + @dbname+'..sysindexes where indid = 255'+ ' for read only')
    open tabused_cursor
    fetch tabused_cursor into @tabused
    deallocate tabused_cursor
   /* Total size of indexes: cluster and noncluster */
    exec('declare indsize_cursor cursor for select sum(used) from '
 + @dbname+'..sysindexes where  indid in (0,1)'
 + ' for read only')
    open indsize_cursor
    fetch indsize_cursor into @toindsize
    deallocate indsize_cursor
   /* Total size of indexes: noncluster */
    exec('declare nonclu_cursor cursor for select sum(used) from '
 + @dbname+'..sysindexes where  indid > 1 and indid < 255'
 + ' and (status & 0x20 ) != 0x20'
 + ' for read only')
    open nonclu_cursor
    fetch nonclu_cursor into @totnonclu
    deallocate nonclu_cursor
    /* Total number of characters of stored procedures */
  end /* end of else */
  select @dbsize = 0,
         @dbusedsize = 0,
         @dbunused  = 0,
         @dbfresize = 0,
         @tospsize = 0
 select @toindsize = @toindsize - @totabsize
/* check for any negative number */
 if  @toindsize > 0
      select  @toindsize = @toindsize * 8
 else
     select @toindsize = 0
  select @totabsize = (@totabsize + @tabused) * 8 /* convert to KB */
  select @dbname,@dbsize, @dbusedsize, @dbfresize,@dbunused,
  @totabnum,@totabsize,@toindnum, @toindsize, @tospnum, @tospsize
 
GO
