USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_db_size_details]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_db_size_details]
  @db_name sysname
AS
BEGIN
set nocount on
declare @cmd      nvarchar(1024)
declare @pstr     nvarchar(512)
declare @reserved decimal(15)
declare @data     decimal(15)
declare @index    decimal(15)
declare @used     decimal(15)
declare @unused   decimal(15)
declare @numtabs  int
declare @numinds  int
declare @numprocs int
-- get reserved size
-- get data size
-- get index size
set @cmd = N'select ' +
   N'@reserved = sum(a.total_pages) * 8,' +
   N'@used = sum(a.used_pages) * 8,' +
   N'@data = ' +
   N'sum(CASE ' +
    N'When it.internal_type IN (202,204) Then 0 ' +
    N'When a.type <> 1 Then a.used_pages ' +
    N'When p.index_id < 2 Then a.data_pages ' +
    N'Else 0 ' +
  N'END) * 8 ' +
N'from [' + @db_name + N'].sys.partitions p ' +
    N'join ' +
N'[' + @db_name + N'].sys.objects so ' +
    N'on so.object_id = p.object_id ' +
    N'join ' +
N'[' + @db_name + N'].sys.allocation_units a ' +
    N'on p.partition_id = a.container_id ' +
    N'left join ' +
N'[' + @db_name + N'].sys.internal_tables it ' +
    N'on p.object_id = it.object_id ' +
   N'where so.type = ''U'''
set @pstr = N'@reserved decimal(15) output,' +
            N'@used decimal(15) output,' +
            N'@data decimal(15) output'
exec sp_executesql @cmd, @pstr,
    @reserved output,
    @used output,
    @data output
set @index = @used - @data
set @unused = @reserved - @used
-- count objects
-- tables
set @cmd = N'select @numtabs =  count(name) from ' +
           N'[' + @db_name + N'].sys.objects ' +
                 N'where type = ''U'' '
-- indexes
set @cmd = @cmd + N'select @numinds = count(isnull(i.name,'''')) ' +
    N'from [' + @db_name + N'].sys.objects o join [' +
                @db_name + N'].sys.indexes i ' +
        N'on o.object_id = i.object_id where ' +
           N'o.type = ''U'''
-- procedures
set @cmd = @cmd + N'select @numprocs = count(name) from ' +
           N'[' + @db_name + N'].sys.objects ' +
                  N'where type = ''P'''
select @pstr =
   N'@numtabs int output,@numinds int output,@numprocs int output'
exec sp_executesql @cmd, @pstr,
    @numtabs output,@numinds output,@numprocs output
-- return the information
select isnull(@reserved,0) as 'reserved',
       isnull(@numtabs,0) as 'numtabs', isnull(@data,0) as 'tabdata',
       isnull(@numinds,0) as 'numinds', isnull(@index,0) as 'inddata',
       isnull(@unused,0) as 'unused',
       isnull(@numprocs,0) as 'numprocs'
END
 
GO
