USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TMOVCFO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[TMOVCFO] AS
SELECT  CODCOLIGADA, IDHISTORICO AS ID, CODCOLIGADA AS CODCOLCFO, CODCFO,
1 AS TIPOENDERECO, 1 AS SEQ, PESSOAFISOUJUR AS FISICAJURIDICA,
CGCCFO AS CNPJCPF, INSCRESTADUAL AS INSCRICAOESTADUAL,
INSCRMUNICIPAL AS INSCRICAOMUNICIPAL, NOMEFANTASIA, NOME,
RUA AS ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, CODMUNICIPIO,
CIDADE, CODETD, PAIS, CEP, TELEFONE, FAX, CONTATO, EMAIL,
DATACRIACAO AS DATACADASTRO, 'T' CODSISTEMA, TIPORUA
FROM FCFOHISTORICO
GO
