USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_all_part_objs]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_all_part_objs]
  @schema_name      sysname,
  @db_name          sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
select distinct object_name(i.object_id)
from (sys.indexes i inner join sys.partition_schemes ps
on (i.data_space_id = ps.data_space_id)) order by 1
END
 
GO
