USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZVLREFELAYOTHPD]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZVLREFELAYOTHPD] AS
SELECT
  SZHPDREQUISICAO.CODCOLIGADA,
  SZLOTEPEDIDOITENS.ORDEMSERVICO,
  SZHPDRESULTPEDIDO.NOME,
  vwPEDIDOEXAME.CODPACIENTE,
  vwPEDIDOEXAME.SEXO,
  vwPEDIDOEXAME.DATANASC,
  SZHPDRESULTADOSUPEREXAME.CODEXMAPOIO,
  SZHPDRESULTADOSUPEREXAME.MNEXAME,
  0 CODEXAME,
  2 TIPOVALREF,
  2 TIPO,
  SZHPDRESULTADOSUPEREXAME.VALORREFERENCIABLOCOTEXTO,
  0 VALORMINIMO,
  0 VALORMAXIMO
FROM
  SZHPDREQUISICAO (NOLOCK)
INNER JOIN
  SZHPDCONTROLELOTE (NOLOCK)
ON
 SZHPDCONTROLELOTE.IDREQUISICAO = SZHPDREQUISICAO.ID
INNER JOIN
  SZHPDRESULTPEDIDO (NOLOCK)
ON
  SZHPDRESULTPEDIDO.IDHPDREQUISICAO = SZHPDCONTROLELOTE.IDREQUISICAO
INNER JOIN
  SZHPDPERIODO (NOLOCK)
ON
  SZHPDPERIODO.IDHPDCONTROLELOTE = SZHPDCONTROLELOTE.ID
INNER JOIN
  SZHPDRESULTADOSUPEREXAME (NOLOCK)
ON
  SZHPDRESULTADOSUPEREXAME.IDHPDRESULTADOPEDIDO = SZHPDRESULTPEDIDO.ID
INNER JOIN
  SZHPRESULTADOEXAME (NOLOCK)
ON
  SZHPRESULTADOEXAME.IDHPDRESULTADOSUPEREXAME = SZHPDRESULTADOSUPEREXAME.ID
INNER JOIN
  SZHPDITEMEXAME (NOLOCK)
ON
  SZHPDITEMEXAME.IDHPDRESULTADOEXAME = SZHPRESULTADOEXAME.ID
INNER JOIN
  SZHPDRESULTADOITEMEXAME (NOLOCK)
ON
  SZHPDRESULTADOITEMEXAME.IDHPDITEMEXAME = SZHPDITEMEXAME.ID
INNER JOIN
  SZHPDVALOR (NOLOCK)
ON
  SZHPDVALOR.IDHPDRESULTADOITEMEXAME = SZHPDRESULTADOITEMEXAME.ID
INNER JOIN
  SZLOTEPEDIDOS (NOLOCK)
ON
  SZLOTEPEDIDOS.IDLOTEENVIADO = SZHPDREQUISICAO.IDREQUISICAO
INNER JOIN
  SZLOTEPEDIDOITENS (NOLOCK)
ON
  SZLOTEPEDIDOS.CODCOLIGADA = SZLOTEPEDIDOITENS.CODCOLIGADA
AND SZLOTEPEDIDOS.CODLOTE = SZLOTEPEDIDOITENS.CODLOTE
INNER JOIN
  vwPEDIDOEXAME (NOLOCK)
ON
  SZLOTEPEDIDOITENS.CODCOLIGADA = vwPEDIDOEXAME.CODCOLIGADA
AND SZLOTEPEDIDOITENS.ORDEMSERVICO = vwPEDIDOEXAME.ORDEMSERVICO
GO
