USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VIEW_BW_TB_VEXAPRONTINFCLINICA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_BW_TB_VEXAPRONTINFCLINICA]
AS
SELECT CODCOLIGADA     = EPIC.CODCOLIGADA
     , CODPESSOA       = EPIC.CODPESSOA
	 , CODEXAME        = EPIC.CODEXAME
	 , IDCONSULTA      = EPIC.IDCONSULTA
	 , DATAEXAME	   = EPIC.DATAEXAME
	 , CODTPINFCLINICA = EPIC.CODTPINFCLINICA
	 , RESULTADO       = CASE WHEN EPIC.CODEXAME IN (3,6,23)
							   -- para resultados de Optometria, Hemograma completo e audiometria, onde o resultado é texto, retornar apenas o valor '1' indicando que o colaborador realizou o teste
	                          THEN 1
							  ELSE CASE WHEN IsNumeric(SUBSTRING(CONVERT(VARCHAR(8000), MEM.VALMEMO),1,1)) = 0
							                 -- verifica se valor do campo memo é númerico. Se não for executa função de limpeza de caracteres texto
	                                    THEN CASE WHEN EPIC.VALTEXTO IS NULL
										               -- verificar se campo de resultado texto é nulo. Caso não seja nulo faz limpeza de caracteres texto
						                          THEN CASE WHEN EPIC.VALNUMERICO IS NULL
												                 -- verifica se valor de campo de resultado numérico é nulo. Caso não seja, converte para texto e elimina pontos
							   		                        THEN CASE WHEN EPIC.CODCLIENTE IN ('NÃO','NSA')
															               -- campo de resultado CODCLIENTE é boleado. Dessa forma é substituido os valores texto por '0' ou '1'
											                          THEN 0
													                  WHEN EPIC.CODCLIENTE IN ('SIM')
											                          THEN 1 
													                  ELSE dbo.FNC_BW_LIMPATEXTO(EPIC.CODCLIENTE)
												                 END
												            ELSE EPIC.VALNUMERICO
													   END
												  ELSE dbo.FNC_BW_LIMPATEXTO(EPIC.VALTEXTO)
								             END
										ELSE dbo.FNC_BW_LIMPATEXTO(CONVERT(VARCHAR(8000), MEM.VALMEMO))
				                   END
						 END   
     , DTMODIFICACAO   = CONVERT(VARCHAR(8),EPIC.RECMODIFIEDON,112)
  FROM VEXAMESPRONTINFCLINICA EPIC
       INNER JOIN VEXAMESPRONT VEP ON EPIC.CODCOLIGADA     = VEP.CODCOLIGADA
	                              AND EPIC.CODPESSOA       = VEP.CODPESSOA  
							      AND EPIC.IDCONSULTA      = VEP.IDCONSULTA 
								  AND EPIC.CODEXAME        = VEP.CODEXAME   
								  AND EPIC.DATAEXAME       = VEP.DATAEXAME  
	   LEFT JOIN VMEMO         MEM ON VEP.CODMEMOOBS       = MEM.ID 
-- CLAUSULA WHERE DEFINIDA POIS IDENTIFICAMOS DIVERSOS LANÇAMENTOS COM VALORES NULOS E PORTANDO SEM NECESSIDADE NO BW
 WHERE ( CASE WHEN EPIC.CODEXAME IN (3,6,23)
  	          THEN 1
			  ELSE CASE WHEN IsNumeric(SUBSTRING(CONVERT(VARCHAR(8000), MEM.VALMEMO),1,1)) = 0
			            THEN CASE WHEN EPIC.VALTEXTO IS NULL
				   		          THEN CASE WHEN EPIC.VALNUMERICO IS NULL
							   		        THEN CASE WHEN EPIC.CODCLIENTE IS NOT NULL
											          THEN 1 
													  ELSE EPIC.CODCLIENTE
												 END
										    ELSE EPIC.VALNUMERICO 
									  END
								 ELSE dbo.FNC_BW_LIMPATEXTO(EPIC.VALTEXTO)
							 END
					    ELSE dbo.FNC_BW_LIMPATEXTO(CONVERT(VARCHAR(8000), MEM.VALMEMO))
			  END
		 END
       ) IS NOT NULL
GO
