USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[FNC_BW_LIMPATEXTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FNC_BW_LIMPATEXTO](@texto VARCHAR(8000))
RETURNS DECIMAL(20,4)
BEGIN
	DECLARE @n         INT
		  , @c         VARCHAR(1)
		  , @novoTexto VARCHAR(1000)
		  , @v         INT

    SET @texto     = REPLACE(@texto,'.',',')
	SET @novoTexto = ''
	SET @v         = 0
	SET @n         = LEN(@texto)

	-- LIMITA O TAMANHO DO CONTEUDO DO TEXTO EM ATÉ O NÚMERO TENHA COMPRIMENTO DE 16 CARCTERES (PRECISÃO DA VARIAVEL RETORNO) + QUANTIDADE NECESSÁRIAS DE PONTOS E VIRGULAS (ex.: 100.000.000.000,0000)
	IF @n <= 18
	BEGIN
		WHILE @n > 0
		BEGIN  
		  SET @c = SUBSTRING(@texto, @n, 1)

		  -- CONSIDERA APENAS VALORES NUMÉRICOS + VIRGULA
		  IF @c IN ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9',',')
		  BEGIN
			IF @c = ','
			BEGIN
			  -- ELIMINA VIRGULAS DESNECESSÁRIAS
			  SET @v = @v + 1 
			  IF @v > 1
			  BEGIN 
				SET @n = @n - 1
				CONTINUE
			  END
			  SET @c = '.'
			END
			SET @novoTexto = @c +  @novoTexto
		  END

		  SET @n = @n - 1
		END
    END

	-- RETORNA VALOR NULO CASO NÃO ENCONTRE NENHUM NÚMERO
	-- CASO ENCONTRE APENAS VIRGULAS CONSIDERAR TAMBÉM COMO NULO PARA NÃO HAVER ERRO DE CONVERSÃO
	IF @novoTexto IN ('',',','.')
	  SET @novoTexto = NULL

	RETURN CONVERT(NUMERIC(20,4),@novoTexto)
END
GO
