USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_selectivity]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_selectivity]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @collist nvarchar(3000),
  @selectivity int output
AS
BEGIN
set nocount on
-- declare local variables
declare @object_type sysname
declare @mod_collist nvarchar(4000)
declare @cmd nvarchar(4000)
declare @pstr nvarchar(128)
declare @caststr nvarchar(40)
set @caststr = 'convert(nvarchar(3000),'
-- check whether the table exists
-- build the select statement
set @cmd = N'use [' + @db_name + N'] ' +
           N'select @object_type = o.type ' +
             N'from sys.objects o ' +
               N'where o.name = @table_name ' +
                 N'and schema_name(o.schema_id) = @schema_name'
set @pstr = N'@object_type char(2) output,' +
            N'@table_name sysname,@schema_name sysname'
-- get the type
exec sp_executesql @cmd, @pstr, @object_type output,
                   @table_name,@schema_name
if @object_type is null or @object_type not in ('U', 'S')
  begin
    raiserror('Table not found.',16,1)
    RETURN
  end
-- build the select statement
set @mod_collist = replace(@collist,N',',N')+' + @caststr)
set @mod_collist = @caststr + @mod_collist + ')'
set @cmd = N'select @selectivity = count(distinct ' +
                                         @mod_collist + N' ) from [' +
                    @db_name + N'].[' + @schema_name + N'].[' +
                    @table_name + N']'
set @pstr = N'@selectivity int output'
-- get the selectivity
exec sp_executesql @cmd, @pstr, @selectivity output
END
 
GO
