USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[fnSplitString]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnSplitString]
(
   @sString nvarchar(2048)

)
RETURNS @tParts TABLE ( part nvarchar(2048) )
--WITH ENCRYPTION
AS
BEGIN
-- comment: sp_password
 DECLARE @cDelimiter nchar(1)
 SET @cDelimiter = ','
   if @sString is null return
   declare	 @iStart int,
		    @iPos int
   if substring( @sString, 1, 1 ) = @cDelimiter
   begin
    set	 @iStart = 2
    insert into @tParts
    values( null )
   end
   else
    set	 @iStart = 1
   while 1=1
   begin
    set	 @iPos = charindex( @cDelimiter, @sString, @iStart )
    if @iPos = 0
		    set	 @iPos = len( @sString )+1
    if @iPos - @iStart > 0				 
		    insert into @tParts
		    values  ( substring( @sString, @iStart, @iPos-@iStart ))
    else
		    insert into @tParts
		    values( null )
    set	 @iStart = @iPos+1
    if @iStart > len( @sString )
		    break
   end
   RETURN
END

GO
