USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_BPC_RetornaTabelaFilial]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_BPC_RetornaTabelaFilial]()
RETURNS TABLE
AS
RETURN
(
	SELECT ID            = CONVERT(INT, D.CAMPOLIVRE1)
		 , [DESCRIPTION] = Substring(G.NOMEFANTASIA + ' ' + UPPER(G.CIDADE) + ' (' + G.CGC + ')', 1, 60)
		 , ENTITY        = 1000
	  FROM GFILIAL G
		   INNER JOIN DFILIAL D ON G.CODFILIAL   = D.CODFILIAL
							   AND G.CODCOLIGADA = D.CODCOLIGADA
	 WHERE G.CODCOLIGADA = 1                           
)

GO
