USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[ZCRM_CONFEREINSS_ESOCIAL]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
BUGs
	- Ultimo recibo, rescisao ele estava somando os recibos retificados e atual, como trazer apenas o último sem recibo e sem ID?
	- Falta pegar os dados dos Autonomos Externos para trazer o CPF e NOME (estao vindo como NULL)
	- por algum motivo na eldorado da erro al tentar filtrar a view, dando erro no ANOCOMP e MESCOMP, mesmo dando convert ele da erro, parando apenas se ficar como VARCHAR
	- Teste na eldorado deu 5300 linhas em 00:01:33 hhmmss em 05-07-2023 (falta parte do RM ainda)
*/

CREATE VIEW [dbo].[ZCRM_CONFEREINSS_ESOCIAL] AS 

SELECT 
         MAX(ID) ID
		,CODCOLIGADA
		,CPF
		,NOME
		,CODPESSOA
	    ,ANOCOMP
	    ,MESCOMP
	    ,TIPOEVENTO
	    ,STATUS
	    ,RECIBO
	    ,SUM(CASE WHEN TIPO IN ('11') AND INC13 = 0 THEN CONVERT(MONEY,VALOR) ELSE 0 END)BASE_FOLHA
	    ,SUM(CASE WHEN TIPO IN ('11') AND INC13 = 1 THEN CONVERT(MONEY,VALOR) ELSE 0 END)BASE_13
	    
	    ,SUM(CASE WHEN TIPO IN ('12') AND INC13 = 0 THEN CONVERT(MONEY,VALOR) ELSE 0 END)APO_ESP15_FOLHA
	    ,SUM(CASE WHEN TIPO IN ('12') AND INC13 = 1 THEN CONVERT(MONEY,VALOR) ELSE 0 END)APO_ESP15_13
	    
	    ,SUM(CASE WHEN TIPO IN ('13') AND INC13 = 0 THEN CONVERT(MONEY,VALOR) ELSE 0 END)APO_ESP20_FOLHA
	    ,SUM(CASE WHEN TIPO IN ('13') AND INC13 = 1 THEN CONVERT(MONEY,VALOR) ELSE 0 END)APO_ESP20_13
	    
	    ,SUM(CASE WHEN TIPO IN ('14') AND INC13 = 0 THEN CONVERT(MONEY,VALOR) ELSE 0 END)APO_ESP25_FOLHA
	    ,SUM(CASE WHEN TIPO IN ('14') AND INC13 = 1 THEN CONVERT(MONEY,VALOR) ELSE 0 END)APO_ESP25_13
	    
	    ,SUM(CASE WHEN TIPO IN ('21') AND INC13 = 0 THEN CONVERT(MONEY,VALOR) ELSE 0 END)DESC_FOLHA
	    ,SUM(CASE WHEN TIPO IN ('21') AND INC13 = 1 THEN CONVERT(MONEY,VALOR) ELSE 0 END)DESC_13
 
	    ,SUM(CASE WHEN TIPO IN ('19') AND INC13 = 0 THEN CONVERT(MONEY,VALOR) ELSE 0 END)EST_FOLHA19
	    ,SUM(CASE WHEN TIPO IN ('19') AND INC13 = 1 THEN CONVERT(MONEY,VALOR) ELSE 0 END)EST_13_19    
	    
	    ,SUM(CASE WHEN TIPO IN ('31') AND INC13 = 0 THEN CONVERT(MONEY,VALOR) ELSE 0 END)SAL_FAMILIA_FOLHA
	    ,SUM(CASE WHEN TIPO IN ('31') AND INC13 = 1 THEN CONVERT(MONEY,VALOR) ELSE 0 END)SAL_FAMILIA_13  
	    
	    ,SUM(CASE WHEN TIPO IN ('32') AND INC13 = 0 THEN CONVERT(MONEY,VALOR) ELSE 0 END)MATER_FOLHA
	    ,SUM(CASE WHEN TIPO IN ('32') AND INC13 = 1 THEN CONVERT(MONEY,VALOR) ELSE 0 END)MATER_13  
	    
	    
FROM (

	SELECT
		 ID
		,CODCOLIGADA
		,CPF
		,NOME
		,CODPESSOA
		,ANOCOMP
		,MESCOMP
		,TIPOEVENTO
		,STATUS
		,RECIBO
	    ,XMLCOL.MENSAGEMRETORNO.value('ind13[1]',  'VARCHAR(MAX)') AS INC13
	    ,XMLCOL.MENSAGEMRETORNO.value('tpValor[1]','VARCHAR(MAX)') AS TIPO
	    ,XMLCOL.MENSAGEMRETORNO.value('valor[1]',  'VARCHAR(MAX)') AS VALOR
	   
	  -- ,RET
	   
	FROM (
	
	    SELECT
	    CONVERT(SMALLINT,substring(MENSAGEMRETORNO,CHARINDEX('<perApur>',MENSAGEMRETORNO,1)+9,4)) MERDA1,
	    
	    
	         A.ID
			,A.CODCOLIGADA
			,ISNULL(B.CPF, D.CPF) CPF
			,ISNULL(B.NOME, C.NOME) NOME
			,ISNULL(A.CODPESSOA, C.CODPESSOA) CODPESSOA
		    ,substring(MENSAGEMRETORNO,CHARINDEX('<perApur>',MENSAGEMRETORNO,1)+9,4) ANOCOMP
		    ,substring(MENSAGEMRETORNO,CHARINDEX('<perApur>',MENSAGEMRETORNO,1)+14,2) MESCOMP
		    ,A.TIPOEVENTO
		    ,A.STATUS
		    ,A.RECIBO
		    ,CAST(replace(A.MENSAGEMRETORNO,'xmlns','crm') AS XML) AS MENSAGEMRETORNO_XML
		   -- ,A.MENSAGEMRETORNO RET
	    
	    FROM PESOCIALEVENTOS A
	          LEFT JOIN PPESSOA B ON A.CODPESSOA = B.CODIGO
	          LEFT JOIN PFUNC   C ON A.CODCOLIGADA = C.CODCOLIGADA AND A.CHAPA = C.CHAPA
	          LEFT JOIN PPESSOA D ON C.CODPESSOA = D.CODIGO
	    WHERE
	        	A.TIPOEVENTO IN('S-1200','S-2299','S-2399')
	        AND A.STATUS = '10'
	        AND A.MENSAGEMRETORNO IS NOT NULL
			AND CHARINDEX('<perApur>',MENSAGEMRETORNO,1) > 0 /* necessário para não trazer linhas que o RETORNO nao seja um XML */
			/*
	        AND ISNULL(A.ANOCOMP,CONVERT(INT,substring(MENSAGEMRETORNO,CHARINDEX('<perApur>',MENSAGEMRETORNO,1)+9,4))) = 2023
	        AND ISNULL(A.MESCOMP,CONVERT(INT,substring(MENSAGEMRETORNO,CHARINDEX('<perApur>',MENSAGEMRETORNO,1)+14,2))) = 4
			*/

	) AS T
	CROSS APPLY T.MENSAGEMRETORNO_XML.nodes('/evento/tot/eSocial/evtBasesTrab/infoCp/ideEstabLot/infoCategIncid/infoBaseCS') AS XMLCOL(MENSAGEMRETORNO)
	
	
)X 
GROUP BY 	
         CODCOLIGADA
		,CPF
		,NOME
		,CODPESSOA
	    ,ANOCOMP
	    ,MESCOMP
	    ,TIPOEVENTO
	    ,STATUS
	    ,RECIBO
GO
