USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_RetornaCadFuncao]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RetornaCadFuncao]
( @BUKRS INT
)
AS
BEGIN
  SET NOCOUNT ON
  
  DECLARE @COLIGADA     INT 
  
  SELECT  @COLIGADA = CASE WHEN @BUKRS = 1000
                           THEN 1
                           WHEN @BUKRS = 4000
                           THEN 4
                           ELSE 0
                      END 
                     
  SELECT STELL = F.CODIGO
  	   , STLTX = F.NOME 
	   , CBO   = F.CBO2002
    FROM PFUNCAO F
   WHERE F.CODCOLIGADA = @COLIGADA
     AND F.INATIVA     = 0

  SET NOCOUNT OFF  
END
GO
