USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[CALCULOINSS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CALCULOINSS] (@COLIGADA INT, @DATA DATE, @BASE NUMERIC(15,2))

RETURNs NUMERIC(15,2)

BEGIN
DECLARE
	@VALOR NUMERIC(15,2)


SET @VALOR =
	(
 

SELECT 
	sum(VALOR)
FROM (







--CALCULO NOVO MAIS FAIXAS
	SELECT 
		'Novo' TIPO,
		SUM(DESCONTAR) VALOR
	FROM(
								
			SELECT
				BASE, 
				INICIOVIGENCIA, 
				NROFAIXA, 
				LIMITESUPERIOR, 
				PERCENTUAL, 
				FAIXA_ANT, 
				FAIXA_PROX
				,(CASE WHEN NROFAIXA = 1 AND BASE  < LIMITESUPERIOR THEN cast(cast((BASE*PERCENTUAL) *(power(10.00, 2)) as int) / power(10.00, 2) as numeric(21,2))
					   WHEN NROFAIXA = 1 AND BASE >= LIMITESUPERIOR THEN cast(cast((LIMITESUPERIOR*PERCENTUAL) *(power(10.00, 2)) as int) / power(10.00, 2) as numeric(21,2))
					   
					   WHEN NROFAIXA = 2 AND BASE  < FAIXA_ANT THEN 0
					   WHEN NROFAIXA = 2 AND BASE  < LIMITESUPERIOR THEN cast(cast(((BASE-(FAIXA_ANT+0.01))*PERCENTUAL) *(power(10.00, 2)) as int) / power(10.00, 2) as numeric(21,2))
					   WHEN NROFAIXA = 2 AND BASE >= LIMITESUPERIOR THEN cast(cast(((LIMITESUPERIOR-(FAIXA_ANT+0.01))*PERCENTUAL) *(power(10.00, 2)) as int) / power(10.00, 2) as numeric(21,2))
					   
					   WHEN NROFAIXA = 3 AND BASE  < FAIXA_ANT THEN 0
					   WHEN NROFAIXA = 3 AND BASE  < LIMITESUPERIOR THEN cast(cast(((BASE-(FAIXA_ANT+0.01))*PERCENTUAL) *(power(10.00, 2)) as int) / power(10.00, 2) as numeric(21,2))
					   WHEN NROFAIXA = 3 AND BASE >= LIMITESUPERIOR THEN cast(cast(((LIMITESUPERIOR-(FAIXA_ANT+0.01))*PERCENTUAL) *(power(10.00, 2)) as int) / power(10.00, 2) as numeric(21,2))
					   
					   WHEN NROFAIXA = 4 AND BASE  < FAIXA_ANT THEN 0
					   WHEN NROFAIXA = 4 AND BASE  < LIMITESUPERIOR THEN cast(cast(((BASE-(FAIXA_ANT+0.01))*PERCENTUAL) *(power(10.00, 2)) as int) / power(10.00, 2) as numeric(21,2))
					   WHEN NROFAIXA = 4 AND BASE >= LIMITESUPERIOR THEN cast(cast(((LIMITESUPERIOR-(FAIXA_ANT+0.01))*PERCENTUAL) *(power(10.00, 2)) as int) / power(10.00, 2) as numeric(21,2))
				 END) DESCONTAR
			
			FROM(							
			
					SELECT
						@BASE BASE, 
						A.INICIOVIGENCIA, 
						A.NROFAIXA, 
						A.LIMITESUPERIOR, 
						A.PERCENTUAL/100 PERCENTUAL
								
						,ISNULL((SELECT LIMITESUPERIOR FROM PCALCVLR M 
							WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CODTABCALC = M.CODTABCALC AND A.INICIOVIGENCIA = M.INICIOVIGENCIA 
							AND M.NROFAIXA = (CASE WHEN A.NROFAIXA = 1 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 0
												   WHEN A.NROFAIXA = 1 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 2 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 1
												   WHEN A.NROFAIXA = 2 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 3 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 2
												   WHEN A.NROFAIXA = 3 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 4 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 3
												   WHEN A.NROFAIXA = 4 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 5 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 4
												   WHEN A.NROFAIXA = 5 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 6 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 5
												   WHEN A.NROFAIXA = 6 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1 END)),0) FAIXA_ANT
				
						,ISNULL((SELECT LIMITESUPERIOR FROM PCALCVLR M 
							WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CODTABCALC = M.CODTABCALC AND A.INICIOVIGENCIA = M.INICIOVIGENCIA 
							AND M.NROFAIXA = (CASE WHEN A.NROFAIXA = 1 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 2
												   WHEN A.NROFAIXA = 1 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)
												   
												   WHEN A.NROFAIXA = 2 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 3
												   WHEN A.NROFAIXA = 2 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)
												   
												   WHEN A.NROFAIXA = 3 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 4
												   WHEN A.NROFAIXA = 3 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)
												   
												   WHEN A.NROFAIXA = 4 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 5
												   WHEN A.NROFAIXA = 4 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)
												   
												   WHEN A.NROFAIXA = 5 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 6
												   WHEN A.NROFAIXA = 5 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)
												   
												   WHEN A.NROFAIXA = 6 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 7
												   WHEN A.NROFAIXA = 6 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) END)),0) FAIXA_PROX
						
						,(SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) QTDE_FAIXA
						
					FROM PCALCVLR A, PTABCALC B
					WHERE 
						A.CODCOLIGADA    = B.CODCOLIGADA
					AND A.CODTABCALC     = B.CODIGO
					AND A.INICIOVIGENCIA = B.INICIOVIGENCIA
					AND A.CODCOLIGADA    = @COLIGADA
					AND B.FINALIDADE    IN ('5')
					AND @DATA BETWEEN B.INICIOVIGENCIA AND B.FINALVIGENCIA
					AND B.INICIOVIGENCIA >= '2020-03-01'
										  
			)X						
	)Y

UNION ALL

--calculo faixas antigas, apenas 3

   						
   			SELECT
   				'Antigo' TIPO,
				(CASE WHEN NROFAIXA = 4 
					THEN cast(cast((FAIXA_ANT*PERCENTUAL) *(power(10.00, 2)) as int) / power(10.00, 2) as numeric(21,2))
					ELSE cast(cast((BASE*PERCENTUAL) *(power(10.00, 2)) as int) / power(10.00, 2) as numeric(21,2))
				 END) VALOR
	   
  	  	FROM(							
			
					SELECT
						@BASE BASE, 
						A.INICIOVIGENCIA, 
						A.NROFAIXA, 
					    A.LIMITESUPERIOR, 
						A.PERCENTUAL/100 PERCENTUAL
								
						,ISNULL((SELECT LIMITESUPERIOR FROM PCALCVLR M 
							WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CODTABCALC = M.CODTABCALC AND A.INICIOVIGENCIA = M.INICIOVIGENCIA 
							AND M.NROFAIXA = (CASE WHEN A.NROFAIXA = 1 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 0
												   WHEN A.NROFAIXA = 1 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 2 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 1
												   WHEN A.NROFAIXA = 2 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 3 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 2
												   WHEN A.NROFAIXA = 3 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 4 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 3
												   WHEN A.NROFAIXA = 4 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 5 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 4
												   WHEN A.NROFAIXA = 5 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1
												   
												   WHEN A.NROFAIXA = 6 AND A.NROFAIXA < (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN 5
												   WHEN A.NROFAIXA = 6 AND A.NROFAIXA = (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA) THEN (SELECT COUNT(*) FROM PCALCVLR N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CODTABCALC = N.CODTABCALC AND A.INICIOVIGENCIA = N.INICIOVIGENCIA)-1 END)),0) FAIXA_ANT
				
					FROM PCALCVLR A, PTABCALC B
					WHERE 
						A.CODCOLIGADA    = B.CODCOLIGADA
					AND A.CODTABCALC     = B.CODIGO
					AND A.INICIOVIGENCIA = B.INICIOVIGENCIA
					AND A.CODCOLIGADA    = @COLIGADA
					AND B.FINALIDADE    IN ('1')
					AND @DATA BETWEEN B.INICIOVIGENCIA AND B.FINALVIGENCIA
					AND B.FINALVIGENCIA <= '2020-02-29'
			   
			   UNION ALL
			   
			   SELECT
						@BASE BASE, 
						A.INICIOVIGENCIA, 
						4 NROFAIXA, 
					    '999999.99' LIMITESUPERIOR, 
						A.PERCENTUAL/100 PERCENTUAL
								
						,A.LIMITESUPERIOR FAIXA_ANT
				
					FROM PCALCVLR A, PTABCALC B
					WHERE 
						A.CODCOLIGADA    = B.CODCOLIGADA
					AND A.CODTABCALC     = B.CODIGO
					AND A.INICIOVIGENCIA = B.INICIOVIGENCIA
					AND A.CODCOLIGADA    = 1
					AND B.FINALIDADE    IN ('1')
					AND @DATA BETWEEN B.INICIOVIGENCIA AND B.FINALVIGENCIA
					AND NROFAIXA = 3
					AND B.FINALVIGENCIA <= '2020-02-29'
  
			
										  
   	 	)X
   	    WHERE
   	       	BASE BETWEEN FAIXA_ANT AND 	LIMITESUPERIOR	



	) Z
	 WHERE 
	 	TIPO = (CASE WHEN tipo = 'Novo' AND valor > 0 THEN 'Novo' ELSE 'Antigo' END)




)

RETURN @VALOR

END
GO
