USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_add_job]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_add_job] @jobname varchar(100),
                              @dbname varchar(64),
                              @jobdesc varchar(500),
                              @ena int,
                              @cmd varchar(3328),
                              @subsys varchar(60),
                              @stepname varchar(60),
                              @startdate int,
                              @starttime int,
                              @fretype int,
                              @freint int,
                              @stepid int,
                              @freuntyp int,
                              @freunint int,
                              @frerecurfac int = 0,
                              @owner  sysname = ''
                              as
begin
/*****************************************************************/
/* Added the parameter @frerecurfac int = 0, to the              */
/* procedure.This procedure is used to create the SAP            */
/* locks job.(procedure sap_z_setup_lockjobs)                    */
/*                                           - RR  11/14/2006    */
/*********************** sap_add_job *****************************/
declare @delcmd1 varchar(80)
declare @taskid varbinary(16)
select @taskid = 0x0
declare @jobena smallint
declare @retcode int
if @ena = 1
   select @jobena =  1
else
   select @jobena =  0
-- prepare the delete cmd if add job fails in the middle.
select @delcmd1 = 'msdb..sp_delete_job @job_name = ''' + @jobname +
                  ''''
if @owner = ''
  Execute @retcode = msdb..sp_add_job @originating_server = '(local)',
                   @job_name = @jobname, @enabled = @jobena,
                   @description = @jobdesc,
                   @start_step_id = 1, @category_name = null,
                   @category_id = null
else
  Execute @retcode = msdb..sp_add_job @originating_server = '(local)',
                   @job_name = @jobname, @enabled = @jobena,
                   @description = @jobdesc,
                   @start_step_id = 1, @category_name = null,
                   @category_id = null,@owner_login_name = @owner
if @retcode = 0
  begin
    Execute @retcode = msdb..sp_add_jobstep @job_id = null,
                       @job_name = @jobname,
                       @step_id = @stepid,
                       @step_name = @stepname,
                       @subsystem = @subsys,
                       @command = @cmd,
                       @database_name = @dbname
   if @retcode = 0
     begin
       Execute @retcode = msdb..sp_add_jobschedule @job_id = null,
                          @job_name = @jobname,
                          @name = @stepname,
                          @enabled = 1,
                          @freq_type = @fretype,
                          @freq_interval = @freint,
                          @freq_subday_type = @freuntyp,
                          @freq_subday_interval = @freunint,
                          @active_start_date = @startdate,
                          @active_start_time = @starttime,
                          @freq_recurrence_factor = @frerecurfac
       if @retcode = 0
          begin
            Execute @retcode =  msdb..sp_add_jobserver
                                @job_name = @jobname,
                                @server_name = '(local)'
             if @retcode != 0
                  exec(@delcmd1) -- delete cmd
          end
        else  -- if sp fails in add job schedule
             exec(@delcmd1) -- delete cmd
     end
   else -- if fails in add jobstep
       exec(@delcmd1) -- delete cmd
  end
end
 
GO
