USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZAMOSTRASLABAPOVIEW]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZAMOSTRASLABAPOVIEW] AS
SELECT
	SZAMOSTRAS.CODCOLIGADA,
	SZAMOSTRAS.AMOSTRA,
	SZAMOSTRAS.ORDEMSERVICO,
	SZCADGERAL.CODGERAL,
	SZAMOSTRAS.DATAAMOSTRA,
	SZCADGERAL.RAZAOSOCIAL,
	SZPEDEXAMEITEM.CODEXAME,
	SZPEDEXAMEITEM.SEQEXAME,
	SZLABEXAME.DESCEXAME,
	SZPACIENTE.CODPACIENTE,
	CASE
		WHEN SZPACIENTE.NOMESOCIAL IS NULL THEN SZPACIENTE.NOMEPACIENTE
		ELSE SZPACIENTE.NOMESOCIAL
	END NOMEPACIENTE
FROM
	SZAMOSTRAS WITH (NOLOCK)
INNER JOIN
	SZPEDEXAMEITEM WITH (NOLOCK)
ON
	SZAMOSTRAS.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
	AND SZAMOSTRAS.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO
	AND SZAMOSTRAS.CODMATERIAL = SZPEDEXAMEITEM.CODMATERIAL
INNER JOIN
	SZLABEXAME WITH (NOLOCK)
ON
	SZPEDEXAMEITEM.CODCOLIGADA = SZLABEXAME.CODCOLIGADA
	AND SZPEDEXAMEITEM.CODEXAME = SZLABEXAME.CODEXAME
INNER JOIN
	SZLABLOCEXECEXTERNA WITH (NOLOCK)
ON
	SZPEDEXAMEITEM.CODCOLIGADA = SZLABLOCEXECEXTERNA.CODCOLIGADA
	AND SZPEDEXAMEITEM.CODLOCAL = SZLABLOCEXECEXTERNA.CODLOCAL
INNER JOIN
	SZCADGERAL WITH (NOLOCK)
ON
	SZLABLOCEXECEXTERNA.CODCOLIGADA = SZCADGERAL.CODCOLIGADA
	AND SZLABLOCEXECEXTERNA.CODGERAL = SZCADGERAL.CODGERAL
INNER JOIN
	SZPEDEXAME WITH (NOLOCK)
ON
	SZAMOSTRAS.CODCOLIGADA = SZPEDEXAME.CODCOLIGADA
	AND SZAMOSTRAS.ORDEMSERVICO = SZPEDEXAME.ORDEMSERVICO
INNER JOIN
	SZATENDIMENTO WITH (NOLOCK)
ON
	SZATENDIMENTO.CODCOLIGADA = SZPEDEXAME.CODCOLIGADA
	AND SZATENDIMENTO.NUMEROCONTA = SZPEDEXAME.NUMEROCONTA
	AND SZATENDIMENTO.SEQUENCIALCONTA = SZPEDEXAME.SEQUENCIALCONTA
INNER JOIN
	SZPACIENTE WITH (NOLOCK)
ON
	SZATENDIMENTO.CODCOLIGADA = SZPACIENTE.CODCOLIGADA
	AND SZATENDIMENTO.CODPACIENTE = SZPACIENTE.CODPACIENTE
GO
