USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_pkc]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_pkc]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @pk_constraint sysname output
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @object_type char(2)
declare @pstr nvarchar(256)
-- check whether the table exists
exec sap_get_object_type @table_name, @schema_name, @db_name,
                         @object_type output
if @object_type is null or @object_type not in ('U', 'S')
  begin
    raiserror('Table not found.',16,1)
    RETURN
  end
-- build the select statement
set @cmd = N'select @pk_constraint = oc.name ' +
             N'from ' + @db_name + N'.sys.objects ot, ' +
                        @db_name + N'.sys.schemas sch, ' +
                        @db_name + N'.sys.indexes i, ' +
                        @db_name + N'.sys.objects oc ' +
               N'where ot.name = @table_name ' +
                 N'and ot.schema_id = sch.schema_id ' +
                 N'and sch.name = @schema_name ' +
                 N'and oc.parent_object_id = ot.object_id ' +
                 N'and oc.type = ''PK'''
set @pstr = N'@table_name sysname,@schema_name sysname,' +
            N'@pk_constraint sysname output'
-- get the primary key name
exec sp_executesql @cmd, @pstr, @table_name, @schema_name,@pk_constraint output
END
 
GO
