USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sfDataPorExtenso]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =================================================================================================+
-- Data           ► 01/07/2013                                                                      +
-- Autor          ► Raphael Vidal Domingues                                                         +
-- Finalidade     ► Retorna Data por Extenso
-- =================================================================================================+

CREATE function [dbo].[sfDataPorExtenso] (@p_cdData	datetime)
returns varchar(200)
as
Begin

 	declare @v_cdData as varchar(200)

    begin 

       select @v_cdData = 
							dbo.lpad(datepart(day,@p_cdData),'0',2)         
								   + ' de '         
								   + case when month(@p_cdData) = 1                     
											   then 'Janeiro'                
										  when month(@p_cdData) = 2                     
											   then 'Fevereiro'                
										  when month(@p_cdData) = 3                     
											   then 'Março'                
										  when month(@p_cdData) = 4                     
											   then 'Abril'                
										  when month(@p_cdData) = 5                     
											   then 'Maio'                
										  when month(@p_cdData) = 6                     
											   then 'Junho'                
										  when month(@p_cdData) = 7                     
											   then 'Julho'                
										  when month(@p_cdData) = 8                     
											   then 'Agosto'                
										  when month(@p_cdData) = 9                     
											   then 'Setembro'                
										  when month(@v_cdData) = 10                     
											   then 'Outubro'                
										  when month(@p_cdData) = 11                     
											   then 'Novembro'                
										  when month(@p_cdData) = 12                     
											   then 'Dezembro'           
									 end           
								   + ' de ' 
								   + convert(varchar(04),year(@p_cdData))    
  end

  return @v_cdData

End
GO
