USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW013]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[SAVW013]
AS
SELECT A.CODPRESTADOR, A.DISCRIMINACAOSADT, A.CODESPECIALIDADE, A.CODGRUPOITENS,
A.CODITEM, A.DATAREALIZACAOSADT, A.VALORTOTALSADT, A.VALORTOTALSADTMFILME,
C.ORDEMSERVICO, C.CODMEDSOLICITANTE,
D.CODPACIENTE, D.CODATENDIMENTO, D.TIPOPACIENTE, D.CODESPECGRUPO, D.CODSETOR,
E.CODGERAL, E.SIGLA, E.TIPOPGRUPOC, E.TIPOFATURAMENTO,F.NOMEPACIENTE, F.PRONTUARIO,C.CODSETOR SETORPEDIDO,A.CODCOLIGADA
FROM 	SZATENDSADT A, SZPEDEXAMEREFSADT B, SZPEDEXAME C, SZATENDIMENTO D, SZCADGERAL E, SZPACIENTE F
WHERE 	A.CODPROCVINC IS NULL AND A.ESTORNADO IS NULL AND (A.EXAMEFORA = 'F' OR A.EXAMEFORA IS NULL)
AND A.SEQDEBITOSADT = B.SEQDEBITOSADT
AND B.ORDEMSERVICO = C.ORDEMSERVICO
AND A.NUMEROCONTA = D.NUMEROCONTA
AND A.SEQUENCIALCONTA = D.SEQUENCIALCONTA
AND D.CODCOMPRADOR = E.CODGERAL
AND D.CODPACIENTE = F.CODPACIENTE
AND A.CODCOLIGADA = B.CODCOLIGADA
AND B.CODCOLIGADA = C.CODCOLIGADA
AND C.CODCOLIGADA = D.CODCOLIGADA
AND D.CODCOLIGADA = E.CODCOLIGADA
AND E.CODCOLIGADA = F.CODCOLIGADA
GO
