USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_staticserver]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_staticserver]
as
begin
  set nocount on
  declare @objsrc sysname
  declare @errloc nvarchar( 256)
  declare @errlen int
  declare @buildnum nvarchar(10)
  declare @build    sysname
  declare @tempvar  nvarchar(128)
  declare @regkey   nvarchar(256)
  declare @tempint  int
  declare @tempint2 int
  declare @numsql   int
  declare @ndiv   int
  declare @nmod   int
  declare @nmin   int
  declare @nmax   int
  declare @cmd nvarchar(100)
  create table #serverData
  ( varName   nvarchar(30) null,
    varType   nvarchar(20) null,
    varLen    int         null,
    varValue  nvarchar(128) null
  )
  create table #xpmsver
  (
  xpIndex     nvarchar(6)    null,
  xpName      nvarchar(32)   null,
  IntValue    int           null,
  CharValue   nvarchar(128)  null
  )
  create table #errlogoutput
  (
  dmy        datetime null,
  prc        nvarchar(32),
  x          nvarchar(512) null
  )
  create table #traceflags
  ( flag      int,
    status    int
  )
  declare traceflag_cursor cursor for
     select flag, status from #traceflags
  create table #regdata
  ( value     nvarchar(256),
    data      nvarchar(256)
  )
  create table #sqlagentprops
  ( auto_start           int,
    msx_server_name      nvarchar(30) NULL,
    sqlagent_type        int,
    startup_account      nvarchar(102) NULL ,
    sqlserver_restart    int,
    jobhistory_max_rows  int,
    jobhistory_max_rows_per_job int,
    errorlog_file        sysname NULL,
    errorlogging_level   int,
    error_recipient      nvarchar(30) NULL,
    monitor_autostart    int,
    local_host_server    nvarchar(30) NULL,
    job_shutdown_timeout int,
    cmdexec_account      sysname NULL,
    regular_connections  int,
    host_login_name      sysname NULL,
    host_login_password  sysname NULL,
    login_timeout        int,
    idle_cpu_percent     int,
    idle_cpu_duration    int,
    oem_errorlog         int,
    sysadmin_only        int,
    email_profile        sysname NULL,
    email_save_in_sent_folder  int,
    cpu_poller_enabled   int,
	alert_replace_runtime_tokens int
  )
  select @objsrc = schema_name(schema_id) from sys.objects
     where object_id = @@PROCID
--
-- insert data into temporary tables to read out of later
--
begin try
  set @cmd = @objsrc + N'.sap_sec_readerrorlog'
  insert #errlogoutput
  exec @cmd
end try
begin catch
end catch
begin try
  insert #sqlagentprops
    exec msdb..sp_get_sqlagent_properties
end try
begin catch
end catch
begin try
  insert #xpmsver
  exec master..xp_msver
end try
begin catch
end catch
  insert into #serverData
    select N'hostname', N'nvarchar', 128, convert(nvarchar(128),
          serverproperty('ServerName'))
  -- Get the first line of @@version or the first 60 characters
  select @tempvar = substring(@@version,1,
     case when ( patindex('%'+char(10)+'%',@@version ) between 1 and 60 )
          then patindex('%'+char(10)+'%',@@version )
          else 60
     end )
  -- Compress the information a little bit
  select @tempvar = replace( @tempvar,'Microsoft','MS' )
  -- save the first 50 characters of the result
  insert into #serverData
    select N'sqlversion', N'nvarchar', 50,
       convert(nvarchar(50),substring(@tempvar,1,50) )
  select @build = convert(varchar,serverproperty('ProductVersion'))
  select @tempint  = charindex('.',@build)  -- 1st dot
  select @tempint2 = charindex('.',@build,@tempint+1)  -- 2nd dot
  select @tempint = charindex('.',@build,@tempint2+1)  -- 3rd dot maybe
  if @tempint > 0
    select @buildnum =
      convert(varchar(10),
             substring(@build,@tempint2+1,(@tempint -@tempint2-1)))
  else
    select @buildnum =
     convert(varchar(10),
             substring(@build,@tempint2+1,(len(@build)-@tempint2+1)))
 insert into #serverData
     select N'prodversion', N'nvarchar', 128 , @build
 insert into #serverData
     select N'sqlbuildnm', N'int', 10 , @buildnum
 insert into #serverData
    select N'sqllang', N'nvarchar', 32, convert(nvarchar(32),CharValue)
      from #xpmsver where xpName = 'Language'
 insert into #serverData
    select N'sqlcoll',N'nvarchar',32,collation_name
      from sys.databases where name = N'master'
 insert into #serverData
    select N'sqlcompat',N'nvarchar',10,convert(nvarchar(10),compatibility_level)
      from sys.databases where name = 'master'
 insert into #serverData
    select N'prodlevel', N'nvarchar', 5,
    convert(nvarchar,serverproperty('ProductLevel'))
  insert into #serverData
    select N'iscluster', N'nchar', 1,
      case when ( serverproperty('IsClustered') = 1 )
           then N'Y' else N'N' end
  -- Get startup date from tempdb creation datetime
  insert into #serverData
    select N'sqlstarttm', N'nvarchar',20,
     convert( nvarchar(10),crdate,101 ) + N' ' +
     convert( nvarchar(8),crdate,108 )
           from master..sysdatabases
                         WHERE name = 'tempdb'
  select @tempint = patindex('%Enterprise%',
             convert(varchar,SERVERPROPERTY('Edition')))
  insert into #serverData
    select N'sqlee', N'nchar', 1, case when (@tempint = 0)
                                       then N'N' else N'Y' end
  insert into #serverData
    select N'sqledition',N'nvarchar',128,
        convert(nvarchar(128),serverproperty('edition'))
  select  @tempint = patindex('% on %',@@version) + 4
  select  @tempint2 = patindex('%)%',
           substring( @@version,@tempint,len(@@version)))
  insert into #serverData
    select N'winver', N'nvarchar', 80 ,
      convert(nvarchar(80),substring( @@version , @tempint, @tempint2 ))
  insert into #serverData
    select N'chip', N'nvarchar', 20, convert(nvarchar(20),CharValue)
      from #xpmsver where xpName = 'Platform'
  insert into #serverData
    select N'phymem', N'int', 10, convert(int,IntValue)
      from #xpmsver where xpName = 'PhysicalMemory'
  insert into #serverData
    select N'numcpus', N'int', 10, convert(int,CharValue)
      from #xpmsver where xpName = 'ProcessorCount'
  select @tempint =
    ( select value from master..syscurconfigs where
            comment like '%affinity mask%' )
  if ( @tempint <> 0 )
  begin
    select @numsql = 0
    select @ndiv = @tempint
    while ( @ndiv >= 2 )
    begin
      select @ndiv = @tempint / 2
      select @nmod = @tempint % 2
      select @tempint = @ndiv
      if ( @ndiv = 1 )
         select @numsql = @numsql + 1
      if ( @nmod = 1 )
         select @numsql = @numsql + 1
    end
    insert into #serverData
      select N'sqlcpus', N'int', 10, @numsql
  end
  else
  insert into #serverData
    select N'sqlcpus', N'int', 10,
    convert(int,CharValue) from #xpmsver where xpName = 'ProcessorCount'
  select @nmin =
    ( select value from master..syscurconfigs where
    UPPER(comment) like UPPER('Minimum size of server memory%' ) )
  select @nmax =
    ( select value from master..syscurconfigs where
    UPPER(comment) like UPPER('Maximum size of server memory%' ) )
  select @tempint =
     ( select value from master..syscurconfigs where
        UPPER(comment) like UPPER('AWE%') )
  if ( @tempint = 1 )
    insert into #serverData
      select N'memsetting', 'nchar', 10,
        case when (@nmin = 0) then N'AUTO-AWE'
             when (@nmin = @nmax ) then N'FIXED-AWE'
             else N'RANGE-AWE'
        end
  else
    insert into #serverData
      select N'memsetting', 'nchar', 10,
        case when (@nmin = 0) then N'AUTO'
             when (@nmin = @nmax ) then N'FIXED'
             else N'RANGE'
        end
  insert into #serverData
      select N'isawe','nchar', 1,
        case when (@tempint = 1) then N'Y'
             else  N'N'
        end
  select @tempint = 0 -- default to Y
  begin try
    exec master..xp_regread N'HKEY_LOCAL_MACHINE',
                              N'SYSTEM\CurrentControlSet\Services\Diskperf',
                              N'Start',
                              @tempint OUTPUT,
                              N'no_output'
  end try
  begin catch
  end catch
  insert into #serverData
       select N'diskperf', 'nchar', 1, case when (@tempint = 0)
                                            then N'Y' else N'N' end
  select @tempint = 0 -- default to N
  select @tempint2 = 0 -- default to N
  set @tempvar = ''
  begin try
    exec master..xp_regread N'HKEY_LOCAL_MACHINE',
      N'SYSTEM\CurrentControlSet\Control',
      N'SystemStartOptions',
      @tempvar OUTPUT,
      N'no_output'
  end try
  begin catch
  end catch
  select  @tempint = patindex('%3G%',upper(@tempvar))
  select  @tempint2 = patindex('%PAE%',upper(@tempvar))
  insert into #serverData
    select 'os_startopt',N'nvarchar',128,@tempvar
  insert into #serverData
    select N'is3GB', N'nchar', 1,
        case when (@tempint = 0 ) then N'N'
             else N'Y'
        end
  insert into #serverData
    select N'isPAE', N'nchar', 1,
        case when (@tempint2 = 0 ) then N'N'
             else N'Y'
        end
  -- Get the user of the SQL Server service
  declare @svcpath varchar(1024)
  set @tempvar = ''
  if serverproperty('InstanceName') is NOT NULL
    select @svcpath =
      N'SYSTEM\CurrentControlSet\Services\MSSQL$' + @@SERVICENAME
  else
    select @svcpath =
      N'SYSTEM\CurrentControlSet\Services\MSSQLSERVER'
  begin try
       exec master..xp_regread N'HKEY_LOCAL_MACHINE',
                               @svcpath,
                               N'ObjectName',
                               @tempvar OUTPUT,
                               N'no_output'
       insert into #serverData
         select N'svc_user',N'nvarchar',128,@tempvar
  end try
  begin catch
  end catch
  select @tempvar = ''
  select @tempvar = convert(nvarchar(128),errorlog_file)
    from #sqlagentprops
  insert into #serverData
       select N'agtlogloc', 'nvarchar', 128, @tempvar
  select @errloc = substring( x,patindex('%file%',x),256)
    from #errlogoutput where x like '%Logging SQL Server messages%'
  select @errlen = patindex('%''.%',@errloc) - 7
  insert into #serverData
    select N'errlogloc', 'nvarchar', 128,
     convert(nvarchar(128),substring(@errloc,7,@errlen))
  -- Current utc date/time formatted for abap
  insert into #serverData
    select N'utcdate', 'nvarchar', 128,
      replace(
        replace(
          replace(
    convert(varchar(22),getutcdate(),120),':',''),'-',''),' ','')
  select * from #serverData
--
-- delete temporary tables
--
  drop table #serverData
  drop table #errlogoutput
  drop table #xpmsver
  drop table #traceflags
  drop table #regdata
  drop table #sqlagentprops
end
 
GO
