USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_Funcionarios_Ats]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_Funcionarios_Ats]
AS


SELECT     Pes_Nome						 = F.cNome
         , Paf_Cpf                       = F.cCPF
         , Pst_Codigo                    = CASE WHEN F.cSituacao = 'D' THEN '9'
                                                ELSE '8' END 
         , Pat_Dat_Cadastro				 = F.dAdmissao
         , Pmo_Matricula				 = F.cChapa
         , Paj_Cod_Externo				 = F.cCodSindicato
		 , Clo_Cod_Externo				 = ''
         , Pfu_Dat_Admissao				 = F.dAdmissao
         , Cargo                         = F.cCodFuncao
         , Cnpj_Filial                   = F.cCNPJEmpresa
         , Paf_Rg                        = F.cCartIdentidade
         , Paf_nro_Cnh                   = F.CCARTMOTORISTA
         , Paf_Val_Cnh                   = F.DDTVENCHABILIT
         , Paf_Cat_Cnh                   = F.CTIPOCARTHABILIT
         , Paf_Dat_Nascimento			 = F.dNascimento
         , Setor                         = ''
		 , TipCol                        = '18'
         , Tpr_Codigo                    = '5'
         , cCODSECAO					 = F.cCODSECAO
         , DataDemissao					 = F.dDemissao
         , DesCargo                      = F.cNmFuncao
		 , Alteracao                     = f.dAlteracao
FROM   ColaboradorTRP F with(nolock)





GO
