USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[KXCOMPONENTEPRODUTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[KXCOMPONENTEPRODUTO] AS
SELECT TPRD.CODCOLIGADA,TPRD.IDPRD,TPRD.CODIGOPRD,TPRD.NOMEFANTASIA,TPRD.CODIGOREDUZIDO,TPRD.CODFAB,
TPRD.NUMNOFABRIC,TPRD.ULTIMONIVEL,TPRD.TIPO,TPRD.DESCRICAO,TPRD.CODIGOAUXILIAR,TPRD.CODUNDCONTROLE,
TPRD.SALDOGERALFISICO,TPRD.CONTROLADOPORLOTE,TPRD.USANUMSERIE,TPRD.INATIVO,
KCOMPONENTE.CODESTRUTURA,KCOMPONENTE.IDAUTOINC,KCOMPONENTE.QTDUSADA,KCOMPONENTE.IDPRODUTORAIZ,
KCOMPONENTE.NSEQITMGRD,KCOMPONENTE.USAGRADE,KCOMPONENTE.OBRIGASERMATERIAPRIMA,TPRD.CODGRD,KCOMPONENTE.CODFILIAL
FROM TPRD,KCOMPONENTE
WHERE TPRD.CODCOLIGADA=KCOMPONENTE.CODCOLIGADA AND
TPRD.IDPRD=KCOMPONENTE.IDPRODUTO
GO
