USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XLANINTEGRACAOHST]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*MARCOS KAZIMOTO - SG.2015.08_02 - OC.:PVR_R_V12-166 - 27/08/2015 VERSAO.: 12.1.7 - EQUIPE:INOV  */
CREATE VIEW [dbo].[XLANINTEGRACAOHST]
AS
SELECT
 FLANINTEGRACAOHST.CODCOLIGADA,
 FLANINTEGRACAOHST.IDHISTORICO,
 FLANINTEGRACAOHST.IDCAMPO,
 FLANINTEGRACAOHST.IDLAN,
 ISNULL(FLANINTEGRACAOHST.VALOR, 0) AS VALOR,
 CAST(FLANINTEGRACAOHST.MEMORIACALCULO AS VARCHAR(MAX)) AS MEMORIACALCULO,
 FLANINTEGRACAOHST.RECCREATEDBY,
 FLANINTEGRACAOHST.RECCREATEDON,
 FLANINTEGRACAOHST.RECMODIFIEDBY,
 FLANINTEGRACAOHST.RECMODIFIEDON,
 ISNULL(FLANINTEGRACAOHST.VALORBX, 0) AS VALORBX
FROM FLANINTEGRACAOHST (NOLOCK)
UNION ALL
SELECT
     FLANHST.CODCOLIGADA,
     FLANHST.IDHISTORICO,
     XCOMPONENTEVRINTEGRACAO.IDCAMPO,
     FLANHST.IDLAN,
     CASE XCOMPONENTE.COD_TIPO_COMPN
     WHEN 12 THEN ISNULL(FLANHST.VALORJUROSBX, 0)
     WHEN 13 THEN ISNULL(FLANHST.VALORMULTABX, 0)
     END AS VALOR,
     CAST(NULL AS VARCHAR(MAX)) AS MEMORIACALCULO,
     FLANHST.RECCREATEDBY,
     FLANHST.RECCREATEDON,
     FLANHST.RECMODIFIEDBY,
     FLANHST.RECMODIFIEDON,
     CASE XCOMPONENTE.COD_TIPO_COMPN
     WHEN 12 THEN ISNULL(FLANHST.VALORJUROSBX, 0)
     WHEN 13 THEN ISNULL(FLANHST.VALORMULTABX, 0)
     END AS VALORBX
FROM FLANHST (NOLOCK) JOIN
     XCOMPONENTEVRINTEGRACAO (NOLOCK)
     ON (XCOMPONENTEVRINTEGRACAO.CODCOLIGADA = FLANHST.CODCOLIGADA) JOIN
     XCOMPONENTE (NOLOCK)
     ON (XCOMPONENTE.COD_COMPN = XCOMPONENTEVRINTEGRACAO.CODCOMPN) AND
        (XCOMPONENTE.COD_TIPO_COMPN IN (12, 13))
GO
