USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_p_doreset]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_p_doreset]
  @obj_source  sysname = ' ' ,
  @SAMPLE_ID   int  OUTPUT
AS
  SET NOCOUNT ON
-- Local data
  DECLARE    @t_new      datetime    -- Current time
  DECLARE    @t_old      datetime    -- Last auto measurement
  DECLARE    @id_old     int         -- Last auto measurement
  DECLARE    @t_boot     datetime    -- Last DB start time
  DECLARE    @flag       tinyint     -- Auxiliary
  DECLARE    @stage_t    bigint      -- Last stage area refresh
  /*--- Table variables ---------------------------------------------*/
  declare @perfcntr TABLE (
      counter_id    int            NOT NULL ,
      accumulat     nvarchar(10)   NOT NULL )
-- Prepare schema name
  IF @obj_source <> ' '
    SET @obj_source = @obj_source + '.'
/*--- Overall list of performance counters --------------------------*/
  INSERT INTO @perfcntr
    SELECT counter_id, accumulat
      FROM sap_perfcntr
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      INSERT INTO @perfcntr
        SELECT counter_id, accumulat
          FROM sap_clr_createcntr()
    END
-- Create temp table to receive raw performance counters
  IF object_id('tempdb..#perfinfo') IS NOT NULL
    drop table #perfinfo
  CREATE TABLE #perfinfo
   ( TIMESTMP      datetime      ,
     COUNTER_ID    int           ,
     INST_NAME     nvarchar(128) ,
     val_old       bigint        , -- Last auto measurement
     CNTR_VALUE    bigint        , -- sap_p_retrieve
     accumulat     nvarchar(10)  ,
     PRIMARY KEY CLUSTERED (COUNTER_ID, INST_NAME) )
-- Check whether the staging area needs to be refreshed
-- counter_id 3431 + 100000 contains the timestamp
  SET @stage_t = ( SELECT cntr_value FROM sap_perfinfo
                     WHERE counter_id = 103431
                       AND inst_name  = N' '
                       AND resi_flag  =  0
                       AND sample_id  =  0 )
  IF ( @stage_t IS NULL OR
       @stage_t <> (cast(convert(varchar(8),getdate(),112) as bigint)))
  BEGIN
    BEGIN TRANSACTION
    EXECUTE ('exec ' + @obj_source + 'sap_p_stage')
    TRUNCATE TABLE #perfinfo
    COMMIT TRANSACTION
  END
-- Retrieve the new sample
  EXECUTE ('exec ' + @obj_source + 'sap_p_retrieve ''E''')
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      EXECUTE ('exec ' + @obj_source + 'sap_clr_retrieve ''E''')
    END
-- Get timestamps
  set @t_new  =  GETDATE()
  SET @t_boot = ( SELECT crdate from master..sysdatabases
                         WHERE name = 'tempdb' )
-- Provide accumulat and TIMESTMP
  UPDATE #perfinfo SET accumulat = b.accumulat,
                       TIMESTMP  = @t_new
    FROM #perfinfo a, @perfcntr b
    WHERE b.counter_id = a.COUNTER_ID
-- Get header data of last auto measurement
  SELECT TOP 1 @t_old = startat, @id_old = sample_id
    FROM sap_perfsample WITH (READCOMMITTED)
    ORDER BY startat DESC
-- Fill val_old for overflow correction
  IF @t_old > @t_boot
    BEGIN
      UPDATE #perfinfo
         SET val_old =
           ( SELECT TOP 1 cntr_value FROM sap_perfinfo b
               WHERE b.counter_id  = a.COUNTER_ID
                 AND b.inst_name   = a.INST_NAME
                 AND b.resi_flag   = 0
                 AND b.sample_id   <= @id_old
               ORDER BY b.sample_id DESC )
         FROM #perfinfo a
    END
  ELSE
    UPDATE #perfinfo SET val_old = 0
--- Correct for integer overflows
  UPDATE #perfinfo
    SET CNTR_VALUE =
        ((val_old - CNTR_VALUE) / cast(4294967296 AS bigint) + 1) *
         cast(4294967296 AS bigint) + CNTR_VALUE
    WHERE ( CNTR_VALUE < val_old )
      AND accumulat = 'int'
--- Insert into sap_perfinfo and sap_perfsample
  BEGIN TRANSACTION
--- Create the sap_perfsample entry
    INSERT INTO sap_perfsample WITH (TABLOCKX SERIALIZABLE)
        (startat, alive, resi_flag)
        VALUES ( @t_new, @t_boot, 1 )
    SET @SAMPLE_ID = @@IDENTITY
--- Flush data to sap_perfinfo
    INSERT INTO sap_perfinfo
        (sample_id, counter_id, inst_name, resi_flag, cntr_value)
      SELECT @SAMPLE_ID, COUNTER_ID, INST_NAME, 1, CNTR_VALUE
        FROM   #perfinfo
--- Commit transaction
  COMMIT TRANSACTION
  DROP TABLE #perfinfo
--- Cleanup old resi_flag=1 entries
---  (the dbcoll job is not necessarily enabled)
  DECLARE curs CURSOR FAST_FORWARD FOR
    SELECT TOP 10 startat, sample_id, resi_flag FROM sap_perfsample
      WHERE DATEDIFF(hour, startat, @t_new) > 48
      ORDER BY startat DESC
  OPEN curs
  FETCH NEXT FROM curs INTO @t_old, @id_old, @flag
  WHILE @@FETCH_STATUS = 0
    BEGIN
      IF @flag = 1
        BEGIN
          DELETE FROM sap_perfsample
            WHERE startat   = @t_old
              AND sample_id = @id_old
              AND resi_flag =  1
          DELETE FROM sap_perfinfo
            WHERE sample_id = @id_old
              AND resi_flag =  1
        END
      FETCH NEXT FROM curs INTO @t_old, @id_old, @flag
    END
  CLOSE curs
  DEALLOCATE curs
 
GO
