USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_get_qualified_name]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_get_qualified_name]
    @fullname   varchar(7168)   output,
    @input      varchar(7168)
as
begin
    declare @objectname varchar(1024)
    declare @ownername  varchar(1024)
    declare @dbname     varchar(1024)
    declare @svrname    varchar(1024)
    select @objectname = parsename(@input, 1)
    if ( @objectname is NULL )
        select @objectname = ''
    else
        select @objectname = '[' + @objectname + ']'
    select @ownername = parsename(@input, 2)
    if ( @ownername is NULL )
        select @ownername = '[' + user_name() +']'
    else
        select @ownername = '[' + @ownername + ']'
    select @dbname = parsename(@input, 3)
    if ( @dbname is NULL )
        select @dbname = '[' + db_name() + ']'
    else
        select @dbname = '[' + @dbname + ']'
    select @svrname = parsename(@input, 4)
    if ( @svrname is NULL )
        select @svrname = ''
    else
        select @svrname = '[' + @svrname + ']'
    select @fullname =
        @dbname    + '.' +
        @ownername + '.' +
        @objectname
end
 
GO
