USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_parttab_storpars]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_parttab_storpars]
  @table_name   sysname,
  @schema_name  sysname,
  @db_name      sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @object_type   char(2)
declare @pstr          nvarchar(64)
declare @mytabname     sysname
declare @myfuncname    sysname
declare @myschemename  sysname
declare @myis_right    int
declare @myleft_right  nvarchar(30)
declare @myparttype    nvarchar(30)
declare @mycoltype     nvarchar(30)
declare @mycollength   int
declare @mycolprec     int
declare @mycolscale    int
declare @mycolstring   nvarchar(30)
declare @mylenstring     nvarchar(30)
declare @mycolname     sysname
declare @myvalue       nvarchar(100)
declare @myfilegroup   sysname
declare @myboundary_id int
declare @posnr         int
declare @is_char       int
declare @scheme_check  sysname
declare @mypart_count  int
declare @mssstorage table
(
  dbsys     nvarchar(3),
  tabname   sysname,
  indname   sysname,
  useflag   nvarchar(1),
  posnr     int,
  sign      nvarchar(1),
  parname   sysname null,
  parvalue  sysname null
)
-- performance tuning measurement: First check if table is partitioned at all.
-- If it's not partitioned, return an empty row set.
-- If table is partitioned retrieve whole partition info.
-- By doing that we do not punish all the non-partitoned tables
select distinct @scheme_check = ps.name
        from (sys.indexes i inner join sys.partition_schemes ps
                    on (i.data_space_id = ps.data_space_id))
        where (i.object_id = object_id(@table_name))
if @scheme_check = '' or @scheme_check = ' ' or @scheme_check is null
begin
  select * from @mssstorage
  return
end
create table #parttab_info
(
  tabname        sysname,
  function_id    int,
  function_name  sysname,
  part_type      nvarchar(10),
  is_right       nvarchar(10),
  scheme_name    sysname,
  dataspace_id   int,
  column_type    sysname,
  part_col_no    int,
  part_col_name  sysname,
  column_length  int,
  column_prec    int,
  column_scale   int
)
create table #partfunc_info
(
  funcname       sysname,
  function_id    int,
  part_type      nvarchar(10), --RANGE, HASH, ..
  is_right       nvarchar(10),
  boundary_id    int null,
  parameter_id   int null,
  boundary_value sysname null
)
create table #partscheme_info
(
  schemename        sysname,
  data_space_id_fg  int,
  function_id       int,
  data_space_type   sysname,
  destination_id    int,
  data_space_id     sysname,
  data_space_name   sysname null
)
insert into #parttab_info
  execute sap_get_part_info 'T', @table_name, @schema_name, @db_name
-- assign columns to check for existence and to continue
-- processing if partitioned
select @mytabname    = tabname,
       @myfuncname   = function_name,
       @myschemename = scheme_name,
       @myis_right   = is_right,
       @myparttype   = part_type,
       @mycoltype    = column_type,
       @mycollength  = column_length,
       @mycolprec    = column_prec,
       @mycolscale   = column_scale,
       @mycolname    = part_col_name
 from #parttab_info
-- if table name is not set table has a weird partitioning status
-- because we already found out that table is partitioned
if @mytabname = ' ' or @mytabname = '' or @mytabname is null
begin
  drop table #parttab_info
  drop table #partfunc_info
  drop table #partscheme_info
  raiserror('Error getting partition information',16,1)
  return
end
-- 'R' means 'RANGE' --> convert it, otherwise bring error
if @myparttype = 'R'
  set @myparttype = 'RANGE'
else
begin
    drop table #parttab_info
    drop table #partfunc_info
    drop table #partscheme_info
    raiserror('Wrong partition type',16,1)
    return
end
-- '0' means that partition is not RIGHT (our default) but LEFT
if @myis_right = 1
  set @myleft_right = 'RIGHT'
else begin
  drop table #parttab_info
  drop table #partfunc_info
  drop table #partscheme_info
  raiserror('Currently only RIGHT partitioning supported',16,1)
  return
end
-- Init the position in MSSSTORAGE
set @posnr = 1
-- now build the data type string
if  @mycoltype = N'varchar' or @mycoltype = N'nvarchar'
  set @mylenstring = '(' + convert(nvarchar(3), @mycollength) + ')'
else if @mycoltype = N'decimal'
  set @mylenstring = '(' + convert(nvarchar(3), @mycolprec) + ')'
else if @mycoltype = N'int'
  set @mylenstring = ' '
else
begin
  drop table #parttab_info
  drop table #partfunc_info
  drop table #partscheme_info
  raiserror('Column type not in ([n]varchar,decimal,int)',16,1)
  return
end
set @mycolstring = @mycoltype + @mylenstring
-- Fill appropriate temp tables for later use
insert into #partfunc_info
  execute sap_get_part_info 'F', @myfuncname, @schema_name, @db_name
insert into #partscheme_info
  execute sap_get_part_info 'S', @myschemename, @schema_name, @db_name
-- First fill mssstorage with the single values (without cursor)
insert into @mssstorage values
('MSS', @table_name, ' ', ' ', @posnr, ' ', 'PART_TYPE', @myparttype)
set @posnr = @posnr + 1
insert into @mssstorage values
('MSS', @table_name, ' ', ' ', @posnr, ' ', 'PART_COLNAME', @mycolname)
set @posnr = @posnr + 1
insert into @mssstorage values
('MSS', @table_name, ' ', ' ', @posnr, ' ', 'VALUE_TYPE', @mycolstring)
set @posnr = @posnr + 1
insert into @mssstorage values
('MSS', @table_name, ' ', ' ', @posnr, ' ', 'LEFT_RIGHT', @myleft_right)
set @posnr = @posnr + 1
-- The number of partitions has to be filled here even if we could
-- derive it later from the number of boundaries.
-- But SE14 wants to have the values exactly in the table position
-- where you want to display it.
-- Number of partitions = number of boundaries + 1
select @mypart_count = count(*) from #partfunc_info
where boundary_id is not null
set @mypart_count = @mypart_count + 1.
insert into @mssstorage values
('MSS', @table_name, ' ', ' ', @posnr, ' ', 'PART_COUNT', @mypart_count)
set @posnr = @posnr + 1
insert into @mssstorage values
('MSS', @table_name, ' ', ' ', @posnr, ' ', 'SCHEME_NAME', @myschemename)
set @posnr = @posnr + 1
insert into @mssstorage values
('MSS', @table_name, ' ', ' ', @posnr, ' ', 'FUNC_NAME', @myfuncname)
set @posnr = @posnr + 1
-- get data type. If it's a char wrap the values in quotes since
-- SQL Server does not do that, but it requires it for all
-- DDL stuff
if patindex(N'%varchar%',@mycoltype) > 0
  set @is_char = 1
else
  set @is_char = 0
-- If no rows are fetched from the next select, @myboundary_id
-- should be set to 0 because we need it for further processing
set @myboundary_id = 0
declare func_cursor cursor for
  select boundary_id, boundary_value
  from #partfunc_info
  where boundary_id is not null and boundary_value is not null
  order by boundary_id
open func_cursor
fetch next from func_cursor into @myboundary_id, @myvalue
while (@@fetch_status <> -1)
begin
  if @is_char = 1
  begin
    if patindex(N'nvarchar%',@mycoltype) > 0
      set @myvalue = 'N''' + @myvalue + ''''
    else
      set @myvalue = '''' + @myvalue + ''''
  end
  insert into @mssstorage values
  ('MSS', @table_name, ' ', ' ', @posnr, ' ', 'PART_VALUE', @myvalue)
  set @posnr = @posnr + 1
  set @myfilegroup = ' '
  select @myfilegroup = data_space_name
    from #partscheme_info where destination_id = @myboundary_id
  insert into @mssstorage values
  ('MSS', @table_name, ' ', ' ', @posnr, ' ', 'FILEGROUP_P', @myfilegroup)
  set @posnr = @posnr + 1
  fetch next from func_cursor into @myboundary_id, @myvalue
end
close func_cursor
deallocate func_cursor
--now read the last filegroup which belongs to the next
--(non-existing) boundary_id which is one higher than the last
--existing boundary_id
set @myboundary_id = @myboundary_id + 1
set @myfilegroup = ' '
select @myfilegroup = data_space_name
  from #partscheme_info where destination_id = @myboundary_id
insert into @mssstorage values
('MSS', @table_name, ' ', ' ', @posnr, ' ', 'PART_VALUE', 'MAXVAL_ALLOWED')
set @posnr = @posnr + 1
insert into @mssstorage values
('MSS', @table_name, ' ', ' ', @posnr, ' ', 'FILEGROUP_P', @myfilegroup)
drop table #parttab_info
drop table #partfunc_info
drop table #partscheme_info
select * from @mssstorage
END
 
GO
