USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VVRSREQUISICOES]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE VIEW [dbo].[VVRSREQUISICOES] (CODCOLREQUISICAO,
	     					     JUSTIFICATIVA,
	     					     IDREQ,
	     					     DATAABERTURA,
	     					     CODFILIAL,
	     					     CODSECAO,
	     					     CODFUNCAO,
	     					     CODSTATUS,
	     					     VLRSALARIO,
	     					     NUMVAGAS,
	     					     CODCOLREQUISITANTE,
	     					     CHAPAREQUISITANTE,
	     					     ORIGEM,
	     					     NOME_SECAO,
	     					     NOME_REQUISITANTE,
	     					     CIDADE,
	     					     ESTADO) AS (SELECT VREQAUMENTOQUADRO.CODCOLREQUISICAO,
												    CAST(VREQAUMENTOQUADRO.JUSTIFICATIVA AS VARCHAR(8000)) AS JUSTIFICATIVA,
												    VREQAUMENTOQUADRO.IDREQ,
												    VREQAUMENTOQUADRO.DATAABERTURA,
												    VREQAUMENTOQUADRO.CODFILIAL,
												    VREQAUMENTOQUADRO.CODSECAO,
												    VREQAUMENTOQUADRO.CODFUNCAO,
												    VREQAUMENTOQUADRO.CODSTATUS,
												    VREQAUMENTOQUADRO.VLRSALARIO,
												    VREQAUMENTOQUADRO.NUMVAGAS,
												    VREQAUMENTOQUADRO.CODCOLREQUISITANTE,
												    VREQAUMENTOQUADRO.CHAPAREQUISITANTE,
												    'AUMENTOQUADRO' AS ORIGEM,
												    PSECAO.DESCRICAO AS NOME_SECAO,
												    PFUNC.NOME AS NOME_REQUISITANTE,
												    GFILIAL.CIDADE,
												    GFILIAL.ESTADO
											   FROM VREQAUMENTOQUADRO (NOLOCK)
											   JOIN GFILIAL (NOLOCK)
	  										     ON GFILIAL.CODCOLIGADA = VREQAUMENTOQUADRO.CODCOLREQUISICAO AND
											        GFILIAL.CODFILIAL = VREQAUMENTOQUADRO.CODFILIAL
											   JOIN PSECAO (NOLOCK)
											     ON PSECAO.CODCOLIGADA = VREQAUMENTOQUADRO.CODCOLREQUISICAO AND
											        PSECAO.CODIGO = VREQAUMENTOQUADRO.CODSECAO
											   JOIN PFUNC (NOLOCK)
											     ON PFUNC.CODCOLIGADA = VREQAUMENTOQUADRO.CODCOLREQUISITANTE AND
											        PFUNC.CHAPA = VREQAUMENTOQUADRO.CHAPAREQUISITANTE
										  UNION ALL
											 SELECT VREQSUBSTITUICAO.CODCOLREQUISICAO,
												    CAST(VREQSUBSTITUICAO.JUSTIFICATIVA AS VARCHAR(8000)) AS JUSTIFICATIVA,
												    VREQSUBSTITUICAO.IDREQ,
												    VREQSUBSTITUICAO.DATAABERTURA,
												    VREQSUBSTITUICAO.CODFILIAL,
												    VREQSUBSTITUICAO.CODSECAO,
												    VREQSUBSTITUICAO.CODFUNCAO,
												    VREQSUBSTITUICAO.CODSTATUS,
												    VREQSUBSTITUICAO.VLRSALARIO,
												    1 AS NUMVAGAS,
												    VREQSUBSTITUICAO.CODCOLREQUISITANTE,
												    VREQSUBSTITUICAO.CHAPAREQUISITANTE,
												    'SUBSTITUICAO' AS ORIGEM,
												    PSECAO.DESCRICAO AS NOME_SECAO,
												    PFUNC.NOME AS NOME_REQUISITANTE,
												    GFILIAL.CIDADE,
												    GFILIAL.ESTADO
											   FROM VREQSUBSTITUICAO (NOLOCK)
											   JOIN GFILIAL (NOLOCK)
											     ON GFILIAL.CODCOLIGADA = VREQSUBSTITUICAO.CODCOLREQUISICAO AND
											        GFILIAL.CODFILIAL = VREQSUBSTITUICAO.CODFILIAL
											   JOIN PSECAO (NOLOCK)
											     ON PSECAO.CODCOLIGADA = VREQSUBSTITUICAO.CODCOLREQUISICAO AND
	  										        PSECAO.CODIGO = VREQSUBSTITUICAO.CODSECAO
											   JOIN PFUNC (NOLOCK)
											     ON PFUNC.CODCOLIGADA = VREQSUBSTITUICAO.CODCOLREQUISITANTE AND
											        PFUNC.CHAPA = VREQSUBSTITUICAO.CHAPAREQUISITANTE)
GO
