USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWPFUNCHIERARQUIA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VWPFUNCHIERARQUIA]
AS
SELECT VIEWPSUBSTCHEFE.CODUSUARIO CODUSUARIOCHEFE, PFUNC.*
FROM PFUNC,
     (SELECT PSUBSTCHEFE.CODCOLIGADA, PSUBSTCHEFE.CODSECAO, PPESSOA.CODUSUARIO
      FROM PSUBSTCHEFE, PFUNC, (SELECT * FROM PPESSOA WHERE CODUSUARIO IS NOT NULL) PPESSOA
      WHERE DATAINICIO <= GETDATE() AND (DATAFIM >= GETDATE() OR DATAFIM IS NULL) AND
            PFUNC.CODCOLIGADA = PSUBSTCHEFE.CODCOLSUBST AND PFUNC.CHAPA = PSUBSTCHEFE.CHAPASUBST AND
            PPESSOA.CODIGO = PFUNC.CODPESSOA) VIEWPSUBSTCHEFE
WHERE PFUNC.CODCOLIGADA = VIEWPSUBSTCHEFE.CODCOLIGADA AND PFUNC.CODSECAO LIKE VIEWPSUBSTCHEFE.CODSECAO+'%'
UNION
SELECT VIEWPSUBSTSUP.CODUSUARIO CODUSUARIOCHEFE, PFUNC.*
FROM PFUNC,
     (SELECT PSUBSTSUP.CODCOLIGADA, PSUBSTSUP.CODSECAO, PSUBSTSUP.CODEQUIPE, PPESSOA.CODUSUARIO
      FROM PSUBSTSUP, PFUNC, (SELECT * FROM PPESSOA WHERE CODUSUARIO IS NOT NULL) PPESSOA
      WHERE DATAINICIO <= GETDATE() AND (DATAFIM >= GETDATE() OR DATAFIM IS NULL) AND
            PFUNC.CODCOLIGADA = PSUBSTSUP.CODCOLIGADA AND PFUNC.CHAPA = PSUBSTSUP.CHAPASUBST AND
            PPESSOA.CODIGO = PFUNC.CODPESSOA) VIEWPSUBSTSUP
WHERE PFUNC.CODCOLIGADA = VIEWPSUBSTSUP.CODCOLIGADA AND PFUNC.CODSECAO = VIEWPSUBSTSUP.CODSECAO AND PFUNC.CODEQUIPE = VIEWPSUBSTSUP.CODEQUIPE
GO
