USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFCFOGRUPOCF]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFCFOGRUPOCF] AS
SELECT CODCOLIGADA, GRUPOCF, CODCOLCFO, CODCFO, GETDATE() AS DTHRATUALIZACAO FROM TCFOGRUPOCF
GO
