USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_BPC_RetornaTabelaEvento]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_BPC_RetornaTabelaEvento]()
RETURNS TABLE
AS
RETURN
(
	SELECT ID            = LEFT(E.COMPLHISTORICO, 6)
		 , [DESCRIPTION] = SUBSTRING(E.COMPLHISTORICO, 8, 100)
	  FROM PEVENTO E
		   INNER JOIN ( SELECT DISTINCT FF.CODEVENTO
									  , FF.CODCOLIGADA
						  FROM PFFINANC FF
					  ) EF ON E.CODIGO      = EF.CODEVENTO
						  AND E.CODCOLIGADA = EF.CODCOLIGADA
	 WHERE E.CODCOLIGADA = 1
	 UNION ALL
	 SELECT ID            = LEFT(E.COMPLHISTORICO, 6)
          , [DESCRIPTION] = SUBSTRING(E.COMPLHISTORICO, 8, 100)
       FROM PENCARGO E
            INNER JOIN ( SELECT DISTINCT 
                                CODENCARDO = SUBSTRING(COMPLEMENTO, 3, 6) 
                              , CODCOLIGADA
                           FROM CLCTLOTE 
                          WHERE LEFT(COMPLEMENTO,2) = 'EN'
                        ) EF ON E.CODIGO      = EF.CODENCARDO
                            AND E.CODCOLIGADA = EF.CODCOLIGADA
	 WHERE E.CODCOLIGADA = 1      
	 UNION ALL
	 SELECT ID            = 'HCOUNT'
	      , [DESCRIPTION] = 'HEADCOUNT'
)
GO
