USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[LICHECK_STARTUP]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[LICHECK_STARTUP] AS
    select NR = 1,STARTUP_TIME = create_date
from master.sys.databases where name = 'tempdb'
 
GO
