USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tf_vtlservernodes]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tf_vtlservernodes] ()
RETURNS TABLE
AS
	RETURN SELECT * FROM ::fn_virtualservernodes()
 
GO
