USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_add_dbccjob]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[sap_add_dbccjob] @jobName sysname,
                                   @dbName sysname,
                                   @jobDesc nvarchar(500),
                                   @ena int =1,
                                   @cmd nvarchar(2000),
                                   @subsys nvarchar(40) = 'TSQL',
                                   @stepname sysname = 'Step1',
                                   @startdate int,
                                   @starttime int,
                                   @fretype int =1,
                                   @freint int =1,
                                   @stepid int =1,
                                   @freuntyp int =0,
                                   @freunint int =0,
-- M. Merdes 10\1\98
                                   @frerecurfac int =0,
                                   @enddate int = 0,
                                   @endtime int = 0,
                                   @outputfile nvarchar(200) =NULL,
                                   @flagsfile int =0,
                                   @bkupSim nchar(1) = 'N',
                                   @sname  sysname = ''
--
as
begin
/******************************************************************/
/** Added the parameters @enddate @ endtime for DB13 move to DB6 **/
/**            DB6 Framework                01/11/2005      -RR  **/
/**                                                              **/
/** Added the SQL2005 Token to the outputfile filename in SP.    **/
/** (Moved the code here from ABAP)                              **/
/**                                         06/06/2005      -RR  **/
/**                                                              **/
/** Removed the check for RTM(SQL 2005) and deleted all the      **/
/**  code which checks for RTM version & dropped temp table      **/
/**                                         10/17/2007       -RR **/
/** Added set the login to sa or user and the parameter          **/
/**   @owner_login_name tp sp_add_job       10/10/2009       -RR **/
/******************************************************************/
declare @delcmd1 varchar(200)
declare @jobena     smallint,
        @retcode    int,
        @jobcre_ok  int,
        @execmd     nvarchar(4000),
        @rmsg       nvarchar(1000),
        @enastr     nchar(1),
        @sp_cmd     nvarchar(500),
        @pdef       nvarchar(1000),
        @exeStmt    nvarchar(2000),
        @prod_level nvarchar(20),
        @cmd1       nvarchar(500),
        @curr_login sysname,
        @errSeverity INT
set nocount on
/* Get the current Login */
select @curr_login = SUSER_NAME( )
/* execute as 'sa' */
execute as login = 'sa'
/*create temp table to store SQL statements */
 create table #sqlstmts(stmttext nvarchar(2000))
set @sp_cmd = N'exec '+ @sname +N'.sap_new_dbcheck '
             + N'@dbName = @dbName,'
             + N'@outputfile = @outputfile,'
             + N'@bkupSim = @bkupSim,'
             + N'@exeStmt = @exeStmt OUTPUT'
set @pdef = N'@dbName sysname,'
          + N'@outputfile nvarchar(500),'
          + N'@bkupSim  nchar(1),'
          + N'@exeStmt nvarchar(2000) output'
-- set the enable flag
if @ena = 1
   select @jobena =  1
else
   select @jobena =  0
set @enastr = @ena
set @jobcre_ok  = 1
set @outputfile = '$(ESCAPE_NONE(SQLDIR))'+LTRIM(RTRIM(@outputfile))
/* Add the outputfilename to the command */
--if IS_SRVROLEMEMBER ('sysadmin') = 1
set @cmd = @cmd + N','+ N'@outputfile="'+ @outputfile+ N'"'
-- prepare the delete cmd if add job fails in the middle.
set @delcmd1 = 'msdb..sp_delete_job @job_name = ''' + @jobName +
                  ''''
-- construct sql cmd for msdb..sp_add_job
  select @execmd = 'exec msdb..sp_add_job '
    +' @originating_server = ''(local)'''
                +',@job_name = "' + @jobName + '"'
                +',@owner_login_name = "' + @curr_login + '"'
                +',@enabled = ' + @enastr
                +',@description = "' + @jobDesc + '"'
                +',@start_step_id = 1, @category_name = NULL'
                +',@category_id = NULL'
  if @bkupSim = N'N'
    begin
     begin try
       exec( @execmd )
       select @retcode = @@error
     end try
     begin catch
        set @jobcre_ok  = 0
        select @retcode = ERROR_NUMBER()
        select @rmsg = ERROR_MESSAGE()
        select @errSeverity = ERROR_SEVERITY()
        insert into #sqlstmts(stmttext)
        select @rmsg
     end catch
    end
  else
   begin
    insert into #sqlstmts(stmttext)
    select @execmd
    /* set the return code */
    select @retcode = 0
   end
  if @retcode = 0
   begin
      set @cmd = N'declare @exeStmt nvarchar(2000) exec ' + @cmd
               + N',@bkupSim = "' + @bkupSim  + N'"'
               + N',@exeStmt = @exeStmt OUTPUT'
        /* set the command for the job step */
         set @execmd = 'exec msdb..sp_add_jobstep'
             +' @job_id = null'
             +',@job_name = ''' + @jobName + ''''
             +',@step_id = ' + convert(varchar(2),@stepid)
             +',@step_name = ''CCMS-Step1 '''
             +',@subsystem = ''' + @subsys +''''
             +',@command = ''' + @cmd + ''''
             +',@database_name = ''' + @dbName + ''''
             +',@output_file_name =  ''' + @outputfile + ''''
             +',@flags = ' + convert(varchar(2),@flagsfile)
      if @bkupSim = N'N'
          begin
            begin try
               exec( @execmd )
            end try
            begin catch
                select @retcode = ERROR_NUMBER()
                select @rmsg = ERROR_MESSAGE()
                select @errSeverity = ERROR_SEVERITY()
                insert into #sqlstmts(stmttext)
                select @rmsg
            end catch
          end
         else
           begin
               /*insert the sp_addjobstep */
               insert into #sqlstmts(stmttext)
               select @execmd
              /* insert the @dbcc cmd */
              EXECUTE sp_executesql @cmd = @sp_cmd, @params = @pdef,
                @dbName     = @dbName,
                @outputfile = @outputfile,
                @bkupSim    = @bkupSim,
                @exeStmt    = @exeStmt OUTPUT
              /* get the backupcmd */
              insert into #sqlstmts(stmttext)
              select @exeStmt
               /* set the return code */
               select @retcode = 0
           end
      /* If Add step is successful */
      if @retcode = 0
        begin
         if @enddate = 0
           set @execmd =   'exec msdb..sp_add_jobschedule @job_id = null'
            + ',@job_name = ''' + @jobName + ''''
            + ',@name = ''CCMS-sche1'''
            + ',@enabled = 1'
            + ',@freq_type =' + convert(varchar(3),@fretype)
            + ',@freq_interval = ' + convert(varchar(2),@freint)
            + ',@freq_subday_type = ' + convert(varchar(2),@freuntyp)
            + ',@freq_subday_interval = ' + convert(varchar(2),@freunint)
            + ',@active_start_date = ' + convert(char(8),@startdate)
            + ',@active_start_time = ' + convert(char(6),@starttime)
            + ',@freq_recurrence_factor = ' + convert(varchar(2),@frerecurfac)
         else
           set @execmd =   'exec msdb..sp_add_jobschedule @job_id = null'
            + ',@job_name = ''' + @jobName + ''''
            + ',@name = ''CCMS-sche1'''
            + ',@enabled = 1'
            + ',@freq_type =' + convert(varchar(3),@fretype)
            + ',@freq_interval = ' + convert(varchar(2),@freint)
            + ',@freq_subday_type = ' + convert(varchar(2),@freuntyp)
            + ',@freq_subday_interval = ' + convert(varchar(2),@freunint)
            + ',@active_start_date = ' + convert(char(8),@startdate)
            + ',@active_start_time = ' + convert(char(6),@starttime)
            + ',@freq_recurrence_factor = ' + convert(varchar(2),@frerecurfac)
            + ',@active_end_date = ' + convert(char(8),@enddate)
            + ',@active_end_time = ' + convert(char(8),@endtime)
        if @bkupSim = N'N'
           begin
              begin try
                exec( @execmd )
              end try
              begin catch
                 select @retcode = ERROR_NUMBER()
                 select @rmsg = ERROR_MESSAGE()
                 insert into #sqlstmts(stmttext)
                 select @rmsg
              end catch
            end
          else
            begin
              insert into #sqlstmts(stmttext)
              select @execmd
              select @retcode = 0
            end
          /* Add Job Schedule */
          if @retcode = 0
            begin
              set @execmd = 'exec msdb..sp_add_jobserver '
                        +' @job_name = ''' + @jobName + ''''
                        +',@server_name = ''(local)'''
               if @bkupSim = N'N'
                 begin
                   begin try
                     exec( @execmd )
                   end try
                   begin catch
                    select @retcode = ERROR_NUMBER()
                    select @rmsg = ERROR_MESSAGE()
                    insert into #sqlstmts(stmttext)
                      select @rmsg
                   end catch
                 end
               else
                 begin
                  insert into #sqlstmts(stmttext)
                  select @execmd
                  select @retcode = 0
                 end
    end  --if @retcode = 0
   end  --if @retcode = 0
  end  --if @retcode = 0
  if  @bkupSim = N'Y'
   begin
     select stmttext from #sqlstmts
     drop table #sqlstmts
   end
  else
   begin
    drop table #sqlstmts
    if @retcode <> 0
     Begin
      if @jobcre_ok <> 1
        exec(@delcmd1) -- delete cmd
      raiserror (@rmsg,
                 18,   --- Severity > 16 creates the SQL exception.
                 1)
     return
    end
   end
  set nocount off
end
 
GO
