USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_varbin_MAX]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_check_varbin_MAX] @result varchar(64) output
as
BEGIN
  declare @major int
  declare @colcnt int
  select @result = 'ok'
  select top 1 @colcnt = 1 from
     sys.columns sc with (nolock,FASTFIRSTROW )
     inner join sys.objects so with (nolock,FASTFIRSTROW )
     on sc.object_id = so.object_id
   where
     sc.system_type_id in (35,99,34) and -- text, ntext, image
     so.schema_id = schema_id() and
     so.type = 'U' and
     so.name not like 'sys%' and
     so.name not like 'sap%' and
     so.is_ms_shipped = 0
     option (force order, fast 1)
  if @colcnt > 0
    select @result =
      'Wrong long datatypes. Perform SQL Server after upgrade steps.'
END
 
GO
