USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_read_text]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
    @id   @area   @key    action
    -----------------------------------------------------------------
    <>0                   Return the row with the specified ID
    ==0   ==' '   ==' '   Return all rows
    ==0   <>' '   ==' '   Return all rows for the specified AREA
    ==0   <>' '   <>' '   Return row(s) with the specified AREA + KEY
*/
CREATE FUNCTION [dbo].[sap_read_text]
  (
    @id         int           ,
    @area       nvarchar(64)  ,
    @key        nvarchar(128)
  )
  RETURNS @resi TABLE
  (
    [ID]        int           ,
    [AREA]      nvarchar(64)  ,
    [KEY]       nvarchar(128) ,
    [TIMESTMP]  varchar(14)   ,
    [DATA]      nvarchar(255)
  )
AS
BEGIN
  IF ( @id <> 0 )
    INSERT INTO @resi
      SELECT * FROM sap_mon_text WHERE [ID] = @id
  ELSE IF ( @area = ' ' AND @key = ' ' )
    INSERT INTO @resi
      SELECT * FROM sap_mon_text
  ELSE IF ( @key = ' ' )
    INSERT INTO @resi
      SELECT * FROM sap_mon_text WHERE [AREA] = @area
  ELSE
    INSERT INTO @resi
      SELECT * FROM sap_mon_text WHERE [AREA] = @area AND [KEY] = @key
  RETURN
END
 
GO
