USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tf_syscacheobjects]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tf_syscacheobjects] ()
RETURNS TABLE
AS
	RETURN SELECT bucketid, cacheobjtype, objtype,
                      object_name(objid) AS NAME, dbid, dbidexec,
                      uid, refcounts, usecounts,
                      pagesused, lasttime, maxexectime,
                      avgexectime, lastreads, lastwrites,
                      setopts, langid, dateformat,
                      status, sqlbytes, SUBSTRING(sql, 1, 256) AS SQL
                 FROM master..syscacheobjects
--              WHERE cacheobjtype = 'Executable Plan'
 
GO
