USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_atomic_BW_create_as_select]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_atomic_BW_create_as_select]
    @dst    varchar(1024),
    @sel    nvarchar(max)
as
begin
  declare @expr nvarchar(max)
  declare @indx int
    /* OLD WAY DELETED: OBSOLET WITH VERSIONS >= 6.20 (>=8.0) */
    /* NEW WAY */
     begin
      execute sap_BW_get_qualified_name @dst output, @dst
      if object_id(@dst, 'U') is not null
      begin
        select @expr = 'drop table ' + @dst
        execute (@expr)
      end
      select @indx = patindex('%FROM%', upper(@sel))
      if @indx = 0 return
      select @expr = substring(@sel, 0, @indx) +
		   ' into ' + @dst + ' ' +
		   substring(@sel, @indx, len(@sel) - @indx + 1)
      execute (@expr)
     end
end
 
GO
