USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_part_info]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_mon_part_info]
  @tabname          sysname,
  @schema_name      sysname,
  @db_name          sysname
AS
begin
  declare @cmd nvarchar(2000)
  set nocount on
   set @cmd =
      N'use [' + @db_name + N'] ' +
    N'select column_name = sc.name,' +
      -- N'pf.function_id,' +
      N'func_name = pf.name,' +
      N'pf.type_desc,' +
      N'direction = case pf.boundary_value_on_right ' +
            N'when 1 then ''Right'' else ''Left'' end,' +
      N'pf.fanout,' +
      N'crdt = convert(nchar(8),pf.create_date,112),' +
      N'crtm = replace(convert(nvarchar(8),pf.create_date,8),N'':'',N''''),' +
      N'moddt = convert(nchar(8),pf.modify_date,112),' +
      N'modtm = replace(convert(nvarchar(8),pf.modify_date,8),N'':'',N''''),' +
      N'scheme_name = ps.name,' +
      -- N'ps.data_space_id,' +
      N'data_type = st.name,' +
      N'sic.partition_ordinal ' +
    N'from sys.partition_schemes ps,' +
      N'sys.partition_functions pf,' +
      N'sys.partition_parameters spp,' +
      N'sys.indexes si,' +
      N'sysobjects so,' +
      N'sysusers su,' +
      N'systypes st,' +
      N'sys.index_columns sic,' +
      N'sys.columns sc ' +
    N'where so.name = @tabname ' +
      N'and so.uid = su.uid                          ' +
      N'and su.name = @schema_name ' +
      N'and so.id = si.object_id ' +
      N'and si.data_space_id = ps.data_space_id ' +
      N'and pf.function_id = ps.function_id ' +
      N'and pf.function_id = spp.function_id ' +
      N'and spp.system_type_id = st.xtype ' +
      N'and sic.object_id = si.object_id ' +
      N'and sc.object_id = si.object_id ' +
      N'and sc.column_id = sic.column_id ' +
      N'and si.index_id = sic.index_id ' +
      N'and si.type in (0, 1) ' +
      N'and sic.partition_ordinal > 0 '
  exec sp_executesql @cmd,
    N'@tabname sysname,@schema_name sysname',
    @tabname,@schema_name
end
 
GO
