USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_removetrigger]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_removetrigger] @nometabela sysname
as
declare @nometabelacomp varchar(30)
set @nometabelacomp = @nometabela;
if (len(@nometabelacomp) >= 20)
   	set @nometabelacomp = '_' + substring (@nometabelacomp, len(@nometabelacomp)-19, 30)
  IF EXISTS (SELECT name FROM sysobjects
        WHERE name = 'logdelete'+@nometabelacomp AND type = 'TR')
  execute ('drop trigger logdelete'+@nometabelacomp )
  IF EXISTS (SELECT name FROM sysobjects
        WHERE name = 'loginsert'+@nometabelacomp AND type = 'TR')
  execute ('drop trigger loginsert'+@nometabelacomp )
  IF EXISTS (SELECT name FROM sysobjects
        WHERE name = 'logupdate'+@nometabelacomp AND type = 'TR')
  execute ('drop trigger logupdate'+@nometabelacomp )
GO
