USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_get_owner_name]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_get_owner_name]
    @ownername  varchar(1024)   output,
    @input      varchar(7168)
as
begin
    select @ownername = parsename(@input, 2)
    if ( @ownername is NULL )
      select @ownername = user_name()
end
 
GO
