USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_sqlagt_properties]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[sap_get_sqlagt_properties]
as
begin
  set nocount on
/*******************************************************************/
/** In Yukon CTP16, the msdb sp sp_get_sqlagent_properties        **/
/**  returns an additional column alert replace runtime tokens    **/
/**  So created a separate stor proc for SQL 2000 and SQL 2005.   **/
/**  Function module calls this stor proc to get sql agent        **/
/**  properties.                                                  **/
/**                                         09/29/2005     -RR    **/
/**                                                               **/
/*******************************************************************/
  create table #sqlagtprops
  ( auto_start                int,
    msx_server_name           nvarchar(30) NULL,
    sqlagent_type             int,
    startup_account           nvarchar(102) NULL ,
    sqlserver_restart         int,
    jobhistory_max_rows       int,
    jobhist_max_rows_per_job  int,
    errorlog_file             sysname NULL,
    errorlogging_level        int,
    error_recipient           nvarchar(30) NULL,
    monitor_autostart         int,
    local_host_server         nvarchar(30) NULL,
    job_shutdown_timeout      int,
    cmdexec_account           sysname NULL,
    regular_connections       int,
    host_login_name           sysname NULL,
    host_login_password       sysname NULL,
    login_timeout             int,
    idle_cpu_percent          int,
    idle_cpu_duration         int,
    oem_errorlog              int,
    sysadmin_only             int,
    email_profile             sysname NULL,
    email_save_in_sent_folder int,
    cpu_poller_enabled        int,
    alert_rep_runtime_tokens  int
  )
--execute msdb stored procedures.
  insert #sqlagtprops
  exec msdb..sp_get_sqlagent_properties
 select auto_start,
        msx_server_name,
        sqlagent_type,
        startup_account,
        sqlserver_restart,
        jobhistory_max_rows,
        jobhist_max_rows_per_job,
        errorlog_file,
        errorlogging_level,
        error_recipient,
        monitor_autostart,
        local_host_server,
        job_shutdown_timeout,
        cmdexec_account,
        regular_connections,
        host_login_name,
        host_login_password,
        login_timeout,
        idle_cpu_percent,
        idle_cpu_duration,
        oem_errorlog,
        sysadmin_only,
        email_profile,
        email_save_in_sent_folder,
        cpu_poller_enabled,
        alert_rep_runtime_tokens
  from  #sqlagtprops
drop table #sqlagtprops
end
 
GO
