USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_CAD_PONTOSEC]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[VW_CAD_PONTOSEC] AS
 
 SELECT  DISTINCT PF.CHAPA,
									 PF.NOME,
									CASE WHEN (LEN(FH.numcra) = 4) THEN
									'001870'+CAST(FH.numcra AS VARCHAR(20))
									WHEN (LEN(FH.numcra) = 5) THEN
									'00187'+CAST(FH.numcra AS VARCHAR(20))
									END AS NUMCRA,
							 --consegui fazer a concatenação dos textos. Primeiro converti em char, depois adicionei os numeros
									'07.401.436/0002-12' AS EMPRESA,
									CASE WHEN PF.CODSITUACAO <> 'D' THEN 0
									ELSE 2
									END AS ATIVO,
									'PADRAO' AS HORARIO,
									PF.PISPASEP,
									PF.DATAADMISSAO
FROM PFUNC PF
INNER JOIN SENIOR.SENIOR.SENIOR.r034fun F
ON (PF.CHAPA = F.numcad) 
INNER JOIN SENIOR.SENIOR.SENIOR.R038HCH FH
ON (FH.NUMCAD = F.NUMCAD) and (PF.CHAPA = FH.NUMCAD)
 where PF.CODSITUACAO <> 'D' AND PF.CODCOLIGADA = '1' AND FH.numcra IS NOT NULL AND FH.staatu = '1' AND PF.CODFILIAL IN ('09','10','11','12','16','17')
GO
