USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFPRDGRUPOCF]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFPRDGRUPOCF] AS
SELECT A.CODCOLIGADA, B.CODIGOPRD, A.GRUPOCF, A.PRECOVENDA, GETDATE() AS DTHRATUALIZACAO
FROM TPRDGRUPOCF A, TPRD B
WHERE  A.CODCOLIGADA=B.CODCOLIGADA AND A.IDPRD=B.IDPRD
GO
