USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSPROCMODALIDADE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSPROCMODALIDADE]
AS
  SELECT CODCOLIGADA,
         CO_PROCEDIMENTO CODPROC,
         CO_MODALIDADE   CODMOD,
         DT_COMPETENCIA  CMPTINI,
         NULL            CMPTFIM
  FROM   GCOLIGADA,
         SZSUSTUPROCMODALIDADE
GO
