USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_perf_job_drop]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_perf_job_drop]
  @area       nvarchar(64) = 'DBCOLL'
AS
  DECLARE  @rc          int
  DECLARE  @jobname     sysname       -- Depends on DB and USER
  DECLARE  @job_exists  smallint
-- Initialisations ---------------------------------------------------
  SET NOCOUNT ON
  SET @rc = 0
  SELECT @jobname = [value]
    FROM sap_get_para(@area,'jobname')
  SELECT @job_exists = cast([value] as smallint)
    FROM sap_get_para(@area,'job_exists')
-- Job deletion -------------------------------------------------------
  IF ( @job_exists <> 0 )
    BEGIN
      EXECUTE @rc = msdb..sp_delete_job @job_name=@jobname
    END
  RETURN @rc
 
GO
