USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_lstbkup_date]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_get_lstbkup_date] @dbname varchar(255) = null as
begin
 declare @cmd1 varchar(80)
 declare @cmd2 varchar(80)
 declare @cmd3 varchar(80)
 declare @cmd4 varchar(80)
 declare @bkupdt varchar(10)
 declare @lstbackup char(8)
 create table #bkup(bkupdt char(10) null)
 select @cmd1 = 'select '
 select @cmd2 = ' max(convert(char(10),backup_start_date,20)) '
 select @cmd3 = 'from msdb..backupset where type = '''+ 'D' +''''
 select @cmd4 = ' and database_name = '''+@dbname + ''''
 insert into #bkup
 exec (@cmd1+@cmd2+@cmd3+@cmd4)
 select @bkupdt = bkupdt from #bkup
 if @bkupdt is null
    select @lstbackup = '19000101'
 else
    select @lstbackup = SUBSTRING(@bkupdt,1,4)+
                        SUBSTRING(@bkupdt,6,2)+
                        SUBSTRING(@bkupdt,9,2)
 select @lstbackup
end
 
GO
