USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITTROCASUBUNIDADE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITTROCASUBUNIDADE]
AS
SELECT
  CODCOLIGADA,
  NUMVENDA,
  NUMADIT,
  CODTIPOADIT,
  CODPESSEMPRANTES AS CODPESSEMPRATUAL,
  NUMUNIDANTES AS NUMUNIDATUAL,
  NUMSUBUNIDANTES AS NUMSUBUNIDATUAL,
  VRITEMANTES AS VRITEMATUAL,
  VRITEMDESCANTES AS VRITEMDESCATUAL,
  CODCOLTABPRECOANTES AS CODCOLTABPRECOATUAL,
  NUMTABPRECOANTES AS NUMTABPRECOATUAL,
  CODPESSEMPRAPOS AS CODPESSEMPRNOVO,
  NUMUNIDAPOS AS NUMUNIDNOVO,
  NUMSUBUNIDAPOS AS NUMSUBUNIDNOVO,
  VRITEMAPOS AS VRITEMNOVO,
  VRITEMDESCAPOS AS VRITEMDESCNOVO,
  CODCOLTABPRECOAPOS AS CODCOLTABPRECONOVO,
  NUMTABPRECOAPOS AS NUMTABPRECONOVO,
  RECCREATEDBY,
  RECCREATEDON,
  RECMODIFIEDBY,
  RECMODIFIEDON
FROM XADITTRCSUBUNIDADE
WHERE TIPOTROCA = 0
GO
