USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sec_readerrorlog]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_sec_readerrorlog] @params nvarchar(128) = N'' AS begin declare @cmd nvarchar(200) execute as login = 'sa' set nocount on set @cmd = N'xp_readerrorlog ' + @params exec(@cmd) end
GO
