USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_estimate_count_rows]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_estimate_count_rows]
@table_name sysname,
@count_rows bigint out
as
select @count_rows = sum([rows])
from sys.partitions
where object_id = object_id(@table_name)
and index_id in (0,1)
 
GO
