USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_DB13_jobcmds]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_check_DB13_jobcmds]
  @result varchar(64) output
as
/**************************************************************/
/*  sap_check_DB13_jobcmds                                    */
/**************************************************************/
BEGIN
--  sap_check_DB13_jobcmds
--  ***************************
declare @cmd nvarchar(1000),
        @sch_name sysname,
        @dbname sysname,
        @nextrundt  nvarchar(10)
select @result = 'ok'
select @dbname = db_name()
select @sch_name = user_name()
select @nextrundt = convert(nvarchar(10),getdate(),112)
create TABLE #jobsToUpdate(job_id uniqueidentifier not null,
                           jobname sysname)
                           --cmd nvarchar(1000))
set @cmd = 'select a.job_id,a.name '                        +
           ' from msdb..sysjobs a, msdb..sysjobsteps b, '   +
           ' msdb..sysjobschedules c '                      +
           ' where  a.job_id = b.job_id '                   +
    ' and (b.command like ''%'+@sch_name+'.sap_backup_%'' or ' +
    ' b.command like ''%'+@sch_name+'.sap_new_dbcheck%'')'     +
           ' and b.command not like ''%@exeStmt%'''         +
           ' and database_name = '''                        +
            @dbname + ''''                                  +
           ' and b.job_id = c.job_id '                      +
           ' and c.next_run_date >= ' + @nextrundt
insert into #jobsToUpdate
exec ( @cmd )
if @@ROWCOUNT > 0
  select @result =
    'Jobs are created with old backup/checkdb commands - PRESP12'
else
   select @result = 'ok'
drop table #jobsToUpdate
END
 
GO
