USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_jobsteps]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************/
/* sap_get_jobsteps                       created on 08/01/2003 */
/*                                                              */
/*                                                              */
/****************************************************************/
create procedure [dbo].[sap_get_jobsteps] @from_date int = 0,
                                  @ccms_only int = 1,
                                  @jobid nvarchar(32) = ' '
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(4000)
declare @fromdt_str nvarchar(8)
select @fromdt_str = @from_date
set @cmd = 'select convert(varbinary,t.job_id),step_id,'          +
           'step_name,subsystem,command,'                         +
           'cmdexec_success_code,on_success_action,'              +
           'on_success_step_id,on_fail_action,'                   +
           'on_fail_step_id,database_name,database_user_name,'    +
           'retry_attempts,retry_interval,output_file_name,'      +
           'last_run_outcome,last_run_duration,last_run_retries,' +
           'last_run_date,last_run_time from msdb..sysjobs t,'    +
           'msdb..sysjobsteps k where t.job_id = '                +
           'k.job_id'
if @jobid = ' '
 begin
  if @ccms_only = 1
    set @cmd = @cmd +
            ' and t.name like ''%SAP CCMS%'''
  if @from_date <> 0
     set @cmd = @cmd +
             ' and ( k.last_run_date >= ' +@fromdt_str +
             ' or t.date_created >= convert(char(20),' +
               @fromdt_str +',126))'
 end
else
 begin
 set @cmd = @cmd + ' and t.job_id = 0x' + @jobid
 end
-- print @cmd
exec (@cmd)
END
 
GO
