USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[SAUGETCODTABXMLMATMEDTISS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SAUGETCODTABXMLMATMEDTISS](@PCODCOLIGADA INT, @CODCONVENIO INT, @CODTIPOCONTRATO INT, @PCODITEM VARCHAR(10), @PCODTAB VARCHAR(10)) RETURNS VARCHAR(10)
	BEGIN
	DECLARE  @VCODPADRAOFATURAMENTO INT,
	  @VCODTISS              VARCHAR(10),
	  @VCODTUSS              VARCHAR(10),
	  @VCODITEM              VARCHAR(10),
	  @VQTD                  INT,
	  @VCODTAB               VARCHAR(2)
	  SET @VCODITEM = @PCODITEM
	  SET @VCODTAB = @PCODTAB
	  SELECT @VCODPADRAOFATURAMENTO = CODPADRAOFAT
		FROM SZCONDCONTRAT
	   WHERE CODCOLIGADA = @PCODCOLIGADA
		 AND CODTIPOCONTRATO =@CODTIPOCONTRATO
	  IF (LEN(@VCODITEM) < 8)
	  BEGIN
		SET @VCODITEM = REPLICATE('0', 8 - LEN(@VCODITEM)) + RTrim(@VCODITEM)
	  END
	  SELECT @VQTD = COUNT(*)
		FROM SZCODIFESPECMATMED
	   WHERE CODCOLIGADA = @PCODCOLIGADA
		 AND CODPADRAOFAT = @VCODPADRAOFATURAMENTO
		 AND @VCODITEM BETWEEN INI AND FIM;
	  IF (@VQTD > 0)
	  BEGIN
		SELECT TOP 1 @VCODTISS = CODTISS, @VCODTUSS = CODTUSS
		  FROM SZCODIFESPECMATMED
		 WHERE CODCOLIGADA = @PCODCOLIGADA
		   AND CODPADRAOFAT = @VCODPADRAOFATURAMENTO
		   AND @VCODITEM BETWEEN INI AND FIM
		IF (@VCODTUSS IS NOT NULL)
		BEGIN
		  SET @VCODTAB = @VCODTUSS;
		END
	  END
	  RETURN @VCODTAB;
	END
GO
