USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_dep_partobjs]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_dep_partobjs]
  @tabname          sysname,
  @schema_name      sysname,
  @db_name          sysname,
  @func_name        sysname output,
  @scheme_name      sysname output
AS
BEGIN
set nocount on
-- declare local variables
  declare @cmd nvarchar(1024)
  select @func_name = pf.name,
         @scheme_name = ps.name
         from sys.partition_schemes ps,
         sys.partition_functions pf,
         sys.indexes si,
         sys.objects so,
         sys.schemas sch
  where so.name            = @tabname
    and so.schema_id       = sch.schema_id
    and sch.name           = @schema_name
    and so.object_id       = si.object_id
    and si.data_space_id   = ps.data_space_id
    and pf.function_id     = ps.function_id
    and si.type in (0, 1)
END
 
GO
