USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_stats_schema_ver]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_stats_schema_ver]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @stats_schema_ver int output
AS
BEGIN
set nocount on
-- declare local variables
declare @object_type sysname
declare @cmd nvarchar(1024)
declare @pstr nvarchar(128)
-- check whether the table exists
exec sap_get_object_type @table_name, @schema_name, @db_name,
                         @object_type output
if @object_type is null or @object_type not in ('U', 'S')
  begin
    raiserror('Table not found.',16,1)
    RETURN
  end
set @cmd = N'select @stats_schema_ver = stats_schema_ver ' +
             N'from ' + @db_name + N'.dbo.sysobjects o, ' +
                        @db_name + N'.sys.schemas sch ' +
               N'where o.name = @table_name ' +
                 N'and o.uid = sch.schema_id ' +
                 N'and sch.name = @schema_name '
set @pstr = N'@table_name sysname,@schema_name sysname,' +
            N'@stats_schema_ver int output'
-- get the schema version
exec sp_executesql @cmd, @pstr,@table_name,@schema_name,
  @stats_schema_ver output
END
 
GO
