USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_update_tabstats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_update_tabstats]
           @mins2run              int = 45,
           @maxTabstatsSizeKB dec(15) = 200000        -- 200 MB
AS
BEGIN
set nocount on
-- declare local variables
declare @tabname sysname,
        @fulltabname sysname,
        @sch sysname,
        @objid int,
        @indname sysname,
        @schema_id smallint,
        @db_name sysname
declare @today datetime,
        @runstart_time datetime,
        @tabstart_time datetime,
        @tables_done int
declare @rowmodctr int,
        @rows dec(15),
        @reserved dec(15),
        @data dec(15),
        @index dec(15)
declare @num_inds int,
        @num_stats int
declare @stats_schema_ver int
declare @clus_index sysname,
        @auto_update char(1),
        @page_locks char(1),
        @row_locks char(1),
        @index_depth int,
        @stats_date datetime,
        @pintable char(1),
        @table_locked char(1),
        @table_opts char(10)
declare @newdate datetime,
        @olddate datetime
declare @timeflag    int,
        @cmd         nvarchar(800)
-- create table variables
declare @ins_stats table (
    [sampledate]   datetime        NOT NULL,
    [tablename]    [varchar] (128) NOT NULL,
    [uid]          [smallint]      NOT NULL,
    [totalrows]    [decimal](15, 0) ,
    [datasize]     [decimal](15, 0) ,
    [reserved]     [decimal](15, 0) ,
    [indexsize]    [decimal](15, 0) ,
    [rowmodctr]    [int]  ,
    [statsschver]  [int]  ,
    [indexdepth]   [int]  ,
    [numindexes]   [int]  ,
    [numstats]     [int]  ,
    [statsdate]    datetime  ,
    [tableoptions] [varchar] (10) ,
    [lastduration] [int]    -- milliseconds for analyzing this table
)
declare @upd_stats table (
    [sampledate]   datetime        NOT NULL,
    [tablename]    [varchar] (128) NOT NULL,
    [uid]          [smallint]      NOT NULL,
    [newsampledate] datetime ,
    [lastduration]  int
    )
declare @size_sample table
     (
       new_sampledate datetime,
       old_sampledate datetime,
       [object_id]    int    ,
       [tablename]    sysname,
       [schema_id]    int    ,
       [index_id]     int    ,
       USED_KB        bigint ,
       RESERVED_KB    bigint ,
       ROW_COUNT      bigint ,
       STATS_DATE     datetime,
       NUM_INDEXES    int,
       NUM_STATS      int
       PRIMARY KEY CLUSTERED ([object_id],[index_id])
     )
-- create permanent tables/views
if ((select object_id(user+'.sap_tabstats','U') ) IS NULL)
begin
  create table sap_tabstats(
    [sampledate]   datetime        NOT NULL ,
    [tablename]    [varchar] (128) NOT NULL ,
    [uid]          [smallint]      NOT NULL ,
    [totalrows]    [decimal](15, 0) ,
    [datasize]     [decimal](15, 0) ,
    [reserved]     [decimal](15, 0) ,
    [indexsize]    [decimal](15, 0) ,
    [rowmodctr]    [int]    ,
    [statsschver]  [int]    ,
    [indexdepth]   [int]    ,
    [numindexes]   [int]    ,
    [numstats]     [int]    ,
    [statsdate]    datetime ,
    [tableoptions] [varchar] (10) ,
    [lastduration] [int]            -- ms for analyzing this table
  )
  set @cmd = 'ALTER TABLE sap_tabstats WITH NOCHECK' +
              ' ADD CONSTRAINT [sap_tabstats~0]' +
              ' PRIMARY KEY NONCLUSTERED( sampledate, tablename,uid  )'
  execute ( @cmd )
  set @cmd = 'CREATE CLUSTERED INDEX [sap_tabstats~1]' +
                 ' ON sap_tabstats (tablename,uid )'
  execute ( @cmd )
  set @cmd = 'CREATE NONCLUSTERED INDEX [sap_tabstats~2]' +
                 ' ON sap_tabstats (totalrows, datasize, ' +
           'reserved, indexsize, rowmodctr, statsschver, ' +
           'indexdepth, numindexes, numstats, tableoptions )'
  execute ( @cmd )
end
-- views needed for old_tables cursor
if ((select object_id(user+'.sap_tabstats_V_oldest','V')) IS NULL)
begin
  set @cmd = 'create view sap_tabstats_V_oldest as' +
    ' select MIN(sampledate) as sampledate,tablename,uid' +
    ' from sap_tabstats group by tablename,uid'
execute ( @cmd)
end
if ((select object_id(user+'.sap_tabstats_V_newest','V')) IS NULL)
begin
  set @cmd = 'create view sap_tabstats_V_newest as' +
    ' select MAX(sampledate) as sampledate,tablename,uid' +
    ' from sap_tabstats group by tablename,uid'
  execute ( @cmd)
end
--
-- declare cursor for going through new size data
--
declare relevant_tables cursor for
  select MAX(new_sampledate),MAX(old_sampledate),MAX(ss.tablename),
   MAX(ss.schema_id),ss.object_id,
   MAX(ss.USED_KB)as DATA_KB,SUM(RESERVED_KB) as RESERVED,
   (SUM(ss.USED_KB)- MAX(ss.USED_KB))as INDEX_SZ, MAX(ss.ROW_COUNT)
   as ROW_COUNT,MAX(ISNULL(ss.STATS_DATE,'')) ,MAX(NUM_INDEXES),MAX(NUM_STATS)
   from @size_sample ss
   group by ss.object_id
-- initialization
select @db_name = db_name()
set @today = getdate()
set @timeflag   = 1
set @tables_done = 0
--
-- get relevant tables
--
  INSERT INTO @size_sample
      select MAX(ISNULL(new.sampledate,'')),
             MAX(ISNULL(old.sampledate,'')),
             [object_id],
             OBJECT_NAME(OBJECT_ID)                      AS [NAME] ,
             schema_id(object_schema_name([object_id]))  AS [SCHEMA] ,
             [index_id] ,
             sum(used_page_count) * 8 AS USED_KB,
             sum(reserved_page_count) * 8 AS RESERVED_KB,
             sum(row_count) AS ROW_COUNT,
             stats_date([object_id],[index_id]) AS [STATS_DATE],
             ( select count(*) from sys.indexes
               where object_id = ps.object_id and
               indexproperty(object_id,name,'IsStatistics')
                                                     = 0 ) AS NUM_INDEXES,
             (   select count(*) from sys.stats
                  where object_id = ps.object_id
                 and indexproperty(object_id,name,'IsStatistics')
                                                     = 1 ) AS NUM_STATS
        from  sys.dm_db_partition_stats ps left outer join
              sap_tabstats_V_newest new
          on  ps.object_id = object_id( new.tablename ) and
              schema_id(object_schema_name([object_id])) = new.uid
              left outer join sap_tabstats_V_oldest old
          on  ps.object_id = object_id( old.tablename ) and
              schema_id(object_schema_name([object_id]))   = old.uid
        where ps.object_id > 100
         group by [object_id],[index_id]
        having sum(reserved_page_count) > 0
-- delete tables from sap_tabstats which don't exist anymore
delete from sap_tabstats where
     tablename + convert(nvarchar,uid) not in
   ( select name + convert(nvarchar,schema_id) from sys.objects
     where type = 'U' )
-- see if sap_tabstats is getting too big
select @reserved = SUM(RESERVED_KB)
  from @size_sample ts join sys.objects so on
          ts.object_id = so.object_id
  where OBJECT_NAME(ts.object_id) = 'sap_tabstats' and
        so.schema_id = user_id (user)
if @reserved > @maxTabstatsSizeKB
  delete from sap_tabstats where sampledate =
    ( select MIN(sampledate) from sap_tabstats )
--select
set @runstart_time = getdate()
-- analyze the tables and update the info on them in sap_tabstats
open relevant_tables
  fetch next from relevant_tables into @newdate,@olddate,@tabname,@schema_id,
                                       @objid,@data,@reserved,@index,
                                       @rows,@stats_date,@num_inds,@num_stats
while (@@fetch_status <> -1 and @timeflag = 1)
begin
  if ( @@fetch_status <> -2  )
  BEGIN
    -- Need to survive schema_id != user_id but still remain
    -- db release independent
    if ((@@MICROSOFTVERSION & 0xff000000) / 0x1000000) < 9
      exec sp_executesql N'select @sch = user_name(@schema_id)',
           N'@schema_id int,@sch sysname output',
           @schema_id,@sch output
    else
      exec sp_executesql N'select @sch = schema_name(@schema_id)',
           N'@schema_id int,@sch sysname output',
           @schema_id,@sch output
--     print 'schema: ' + @sch
--     print 'TABLE: ' + @tabname
    set @tabstart_time = getdate()
    -- rowmodctr, filgroup
    select @rowmodctr = 0
    select @stats_schema_ver = 0
    --select @rowmodctr = rowmodctr
    --  from dbo.sysindexes where object_id = @objid and indid < 2
    -- number of indexes and statistics
    -- clustered index settings
    select @clus_index  = name,
           @auto_update = case indexproperty(@objid,name,
                                             'IsAutoStatistics')
                            when 0 then 'F'
                            else 'T'
                          end,
           @page_locks  = case indexproperty(@objid,name,
                                             'IsPageLockDisallowed')
                            when 0 then 'T'
                            else 'F'
                          end,
           @row_locks   = case indexproperty(@objid,name,
                                             'IsRowLockDisallowed')
                            when 0 then 'T'
                            else 'F'
                          end,
           @index_depth = indexproperty(@objid,name,'IndexDepth')
     from sys.indexes where object_id = @objid and index_id = 1
    if @clus_index is null
      select @auto_update = '-', @page_locks = '-', @row_locks = '-',
             @index_depth = 0
 --   set @stats_date = stats_date(@objid,1)
 --   if @stats_date is null
 --     set @stats_date = stats_date(@objid,2)
    -- pintable
    set @pintable = case objectproperty(@objid,'TableIsPinned')
                      when 0 then 'F'
                      else 'T'
                    end
    -- table lock on bulk load
    set @table_locked = case objectproperty(@objid,
                                            'TableIsLockedOnBulkLoad')
                            when 0 then 'F'
                            else 'T'
                          end
    -- build table option string
    set @table_opts = @auto_update +
                      @pintable +
                      @table_locked +
                      @page_locks +
                      @row_locks +
                      '-----'
   -- Check if we can save space by only recording changes
   -- Always store at least two datapoints for a table (the first and last)
   if ( @olddate <> @newdate and @newdate IS NOT NULL and
                                 @olddate is NOT NULL and
        EXISTS( select *
       from sap_tabstats s
        where
            s.sampledate =@newdate
        and s.tablename = @tabname
        and s.uid = @schema_id
        and s.totalrows = @rows
        and s.datasize = @data
        and s.reserved = @reserved
        and s.indexsize = @index
        and s.indexdepth = @index_depth
        and s.numindexes = @num_inds
        and s.numstats = @num_stats
        and tableoptions = @table_opts ))
        -- Save records to update in sap_tabstats later
          insert into @upd_stats values
          (@newdate,
           @tabname,
           @schema_id,
           @today,
           datediff(ms,@tabstart_time,getdate()) )
   -- insert into table variable
   else
     insert into @ins_stats (
       sampledate,
       tablename,
       uid,
       totalrows,
       datasize,
       reserved,
       indexsize,
       rowmodctr,
       statsschver,
       indexdepth,
       numindexes,
       numstats,
       statsdate,
       tableoptions,
       lastduration)
     values
      (@today,
       @tabname,
       @schema_id,
       @rows,
       @data,
       @reserved,
       @index ,
       @rowmodctr,
       @stats_schema_ver,
       @index_depth,
       @num_inds,
       @num_stats,
       ISNULL(@stats_date,' '),
       @table_opts,
       datediff(ms,@tabstart_time,getdate()))
     -- check to see if time is up, if @mins2run = 0 process all tables
    set @tables_done = @tables_done + 1
    if @tables_done % 100 = 0 and @tables_done > 100 and @mins2run > 0
    begin
      if (@mins2run - datediff( mi, @runstart_time, getdate()) ) <  2
         select @timeflag = 0
    end
    if @timeflag = 1
    begin
      fetch next from relevant_tables into @newdate,@olddate,@tabname,
                               @schema_id,@objid,@data,@reserved,@index,
                               @rows,@stats_date,@num_inds,@num_stats
    end
  end -- @@fetchstats <> -2
end   -- @@fetchstats <> -1
close relevant_tables
-- deallocate the cursors
deallocate relevant_tables
-- fix lastduration oddities
update @ins_stats
  set lastduration = 0 where lastduration < 0
-- perform the inserts
--select * from @ins_stats
--select * from @upd_stats
insert into sap_tabstats
  select * from @ins_stats
update sap_tabstats
  set sampledate = us.newsampledate,
      lastduration = us.lastduration
from sap_tabstats ts inner join @upd_stats us
on ts.sampledate = us.sampledate and
   ts.tablename = us.tablename and
   ts.uid = us.uid
END
 
GO
