USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tabhist_dl_list]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_tabhist_dl_list]
  @period nchar(1) = 'D',
  @schema sysname = ''
AS
BEGIN
set nocount on
declare @daysdiff int,
        @sch_id int
if @schema = ''
  select @schema = user
-- create table variables
declare @return_data table (
    [tablename]    sysname NOT NULL ,
    [date]         [nchar] (8)  NOT NULL,
    [date_dl]      [nchar] (8)  ,
    [datasize]     [decimal](15, 0)  ,
    [datasize_dl]  [decimal](15, 0)  ,
    [indexsize]    [decimal](15, 0) ,
    [indexsize_dl] [decimal](15, 0) ,
    [reserved]     [decimal](15, 0)  ,
    [reserved_dl]  [decimal](15, 0)  ,
    [totalrows]    [decimal](15, 0) ,
    [totalrows_dl] [decimal](15, 0)
    )
declare @samples table (
    [sampledate]   datetime NOT NULL,
    [tablename]    [varchar] (128) NOT NULL ,
    [totalrows]    [decimal](15, 0) ,
    [datasize]     [decimal](15, 0)  ,
    [reserved]     [decimal](15, 0)  ,
    [indexsize]    [decimal](15, 0) ,
    [sampledate2]   datetime NOT NULL,
    [tablename2]    [varchar] (128) NOT NULL ,
    [totalrows2]    [decimal](15, 0) ,
    [datasize2]     [decimal](15, 0)  ,
    [reserved2]     [decimal](15, 0)  ,
    [indexsize2]    [decimal](15, 0)
    )
-- check input
   if @period <> 'D' and @period <> 'W' and @period <> 'M'
     return
  select @daysdiff = case @period
        when 'M' then 30
        when 'W' then 7
        else 1 end
  select top 1 @sch_id = uid from sysobjects
     where id = object_id(@schema+'.'+name)
  insert @samples
    select
    s.sampledate,
    s.tablename,
    s.totalrows,
    s.datasize,
    s.reserved,
    s.indexsize,
    s2.sampledate,
    s2.tablename,
    s2.totalrows,
    s2.datasize,
    s2.reserved,
    s2.indexsize
    from sap_tabstats s join sap_tabstats s2 on
         s.tablename  = s2.tablename and
         s.uid        = s2.uid
   where s.uid = @sch_id and
         s.sampledate >= ALL
          ( select MAX(sampledate) from sap_tabstats
             where tablename = s.tablename and
                   uid = s.uid )
     and
         s2.sampledate =
          ( select MAX(sampledate) from sap_tabstats
             where datediff( dd,sampledate,s.sampledate) >= @daysdiff
               and tablename = s.tablename and
                   uid = s.uid )
-- calculate the return data
  insert @return_data
    select
      tablename,
      convert(nchar(8),sampledate,112),
      convert(nchar(8),sampledate2,112),
      datasize,
      datasize - datasize2,
      indexsize,
      indexsize - indexsize2,
      reserved,
      reserved - reserved2,
      totalrows,
      totalrows - totalrows2
    from @samples
  select * from @return_data
    where datasize_dl <> 0
    order by datasize_dl desc, datasize desc
END
 
GO
