USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tr2_gettable]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tr2_gettable]
  (
    @filename   nvarchar(256) ,
    @numfiles   int = -1
  )
  RETURNS TABLE AS RETURN
  (
    SELECT
     TextData AS TEXTDATA,
     BinaryData AS BINARYDATA,
     cast(TextData as nvarchar(128)) AS TEXTSHORT,
     cast(BinaryData as varbinary(128)) AS BINARYSHORT,
     DatabaseID AS DATABASEID,
     TransactionID AS TRANSACTIONID,
     LineNumber AS LINENUMBER,
     cast(NTUserName as nvarchar(128)) AS NTUSERNAME,
     cast(NTDomainName as nvarchar(128)) AS NTDOMAINNAME,
     cast(HostName as nvarchar(128)) AS HOSTNAME,
     ClientProcessID AS CLIENTPROCESSID,
     cast(ApplicationName as nvarchar(128)) AS APPLICATIONNAME,
     cast(LoginName as nvarchar(128)) AS LOGINNAME,
     SPID,
     Duration AS DURATION,
     convert(varchar(24),StartTime,21) AS STARTTIME,
     convert(varchar(24),Endtime,21) AS ENDTIME,
     Reads AS READS,
     Writes AS WRITES,
     CPU,
     Permissions AS PERMISSIONS,
     Severity AS SEVERITY,
     cast(EventSubClass as varchar(10)) + ' - ' +
      (select cast(subclass_name as nvarchar(51))
        from sys.trace_subclass_values
        where trace_event_id  = EventClass and
              trace_column_id = 21 and
              subclass_value  = EventSubClass) AS EVENTSUBCLASS,
     ObjectID AS OBJECTID,
     Success AS SUCCESS,
     IndexID AS INDEXID,
     IntegerData AS INTEGERDATA,
     cast(ServerName as nvarchar(128)) AS SERVERNAME,
     cast(EventClass as varchar(10)) + ' - ' +
      (select cast(name as nvarchar(51)) from sys.trace_events
        where trace_event_id = EventClass) AS EVENTCLASS,
     cast(ObjectType as varchar(10)) + ' - ' +
      (select cast(subclass_name as nvarchar(51))
        from sys.trace_subclass_values
        where trace_event_id  = EventClass and
              trace_column_id = 28 and
              subclass_value  = ObjectType) AS OBJECTTYPE,
     NestLevel AS NESTLEVEL,
     cast(State as varchar(10)) + ' - ' +
      (select cast(subclass_name as nvarchar(51))
        from sys.trace_subclass_values
        where trace_event_id  = EventClass and
              trace_column_id = 30 and
              subclass_value  = State) AS STATE,
     cast(Error as varchar(10)) + ' - ' +
      (select cast(subclass_name as nvarchar(51))
        from sys.trace_subclass_values
        where trace_event_id  = EventClass and
              trace_column_id = 31 and
              subclass_value  = Error) AS ERROR,
     cast(Mode as varchar(10)) + ' - ' +
      (select cast(subclass_name as nvarchar(51))
        from sys.trace_subclass_values
        where trace_event_id  = EventClass and
              trace_column_id = 32 and
              subclass_value  = Mode) AS MODE,
     Handle AS HANDLE,
     cast(ObjectName as nvarchar(128)) AS OBJECTNAME,
     cast(DatabaseName as nvarchar(128)) AS DATABASENAME,
     cast(FileName as nvarchar(128)) AS FILENAME,
     cast(OwnerName as nvarchar(128)) AS OWNERNAME,
     cast(RoleName as nvarchar(128)) AS ROLENAME,
     cast(TargetUserName as nvarchar(128)) AS TARGETUSERNAME,
     cast(DBUserName as nvarchar(128)) AS DBUSERNAME,
     cast(LoginSid as varbinary(128)) AS LOGINSID,
     cast(TargetLoginName as nvarchar(128)) AS TARGETLOGINNAME,
     cast(TargetLoginSid as varbinary(128)) AS TARGETLOGINSID,
     ColumnPermissions AS COLUMNPERMISSIONS,
     cast(LinkedServerName as nvarchar(128)) AS LINKEDSERVERNAME,
     cast(ProviderName as nvarchar(128)) AS PROVIDERNAME,
     cast(MethodName as nvarchar(128)) AS METHODNAME,
     RowCounts AS ROWCOUNTS,
     RequestID AS REQUESTID,
     XactSequence AS XACTSEQUENCE,
     EventSequence AS EVENTSEQUENCE,
     BigintData1 AS BIGINTDATA1,
     BigintData2 AS BIGINTDATA2,
     cast(GUID as varbinary(16)) AS GUID,
     cast(IntegerData2 as varchar(10)) + ' - ' +
      (select cast(subclass_name as nvarchar(51))
        from sys.trace_subclass_values
        where trace_event_id  = EventClass and
              trace_column_id = 55 and
              subclass_value  = IntegerData2) AS INTEGERDATA2,
     ObjectID2 AS OBJECTID2,
     cast([Type] as varchar(10)) + ' - ' +
      (select cast(subclass_name as nvarchar(51))
        from sys.trace_subclass_values
        where trace_event_id  = EventClass and
              trace_column_id = 57 and
              subclass_value  = [Type]) AS [TYPE],
     cast(OwnerID as varchar(10)) + ' - ' +
      (select cast(subclass_name as nvarchar(51))
        from sys.trace_subclass_values
        where trace_event_id  = EventClass and
              trace_column_id = 58 and
              subclass_value  = OwnerID) AS OWNERID,
     cast(ParentName as nvarchar(128)) AS PARENTNAME,
     IsSystem AS ISSYSTEM,
     Offset AS OFFSET,
     SourceDatabaseID AS SOURCEDATABASEID,
     cast(SqlHandle as varbinary(128)) AS SQLHANDLE,
     cast(SessionLoginName as nvarchar(128)) AS SESSIONLOGINNAME,
     cast(PlanHandle as varbinary(128)) AS PLANHANDLE
    FROM sys.fn_trace_gettable(@filename, @numfiles)
  )
 
GO
