USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFGRUPOCF]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFGRUPOCF] AS
SELECT CODCOLIGADA, GRUPOCF, DESCRICAO, GETDATE() AS DTHRATUALIZACAO FROM TGRUPOCF
GO
