USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcc_perf_spinlockstats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcc_perf_spinlockstats]
AS
  SET NOCOUNT ON
  CREATE TABLE #temp
    ( spinlockName    nvarchar(30),
      collisions      bigint,
      spins           bigint,
      spinsPerColl    decimal(10,3),
      sleeptime       bigint,
      backoffs        bigint )
  INSERT #temp
    EXECUTE ('DBCC SQLPERF(spinlockstats) with NO_INFOMSGS')
  SELECT * FROM #temp
  DROP TABLE #temp
 
GO
