USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[CLCTLOTE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[CLCTLOTE] AS
SELECT
IDPARTIDA,CODCOLIGADA,LCTREF,CODFILIAL,DATA,DEBITO,CREDITO,PARTIDA,VALOR,CODHISTP,COMPLEMENTO,DATALIBERACAO,VALOR2,
INTEGRAAPLICACAO,INTEGRACHAVE,CODCOLDEBITO,CODCOLCREDITO,CODCOLPARTIDA,CODLOTE,CODCCUSTO,CODDEPARTAMENTO,DOCUMENTO,DATA2,
USUARIO,DATAINCLU,USUARIOALTER,DATAALTER,CODDIARIO,SEQDIARIO,IDPARTICIPANTE, IDLANCAMENTO, CODLOTEORIGEM
FROM CPARTIDA
WHERE CODLOTE <> 0
UNION
SELECT -- Dados da Tabela do RMLabore
PPARTIDA.IDPARTIDA, PPARTIDA.CODCOLIGADA, PPARTIDA.IDPARTIDA LCTREF, PPARTIDA.CODFILIAL, PPARTIDA.DATA, PPARTIDA.DEBITO,
PPARTIDA.CREDITO, NULL PARTIDA, PPARTIDA.VALOR, PPARTIDA.CODHISTP, PPARTIDA.COMPLEMENTO, NULL DATALIBERACAO, 0 VALOR2,
'P' INTEGRAAPLICACAO, NULL INTEGRACHAVE, PPARTIDA.CODCOLDEBITO, PPARTIDA.CODCOLCREDITO, NULL CODCOLPARTIDA, PPARTIDA.CODLOTE,
PPARTIDA.CODCCUSTO, PPARTIDA.CODDEPARTAMENTO, PPARTIDA.DOCUMENTO, NULL DATA2, PPARTIDA.RECCREATEDBY USUARIO, PPARTIDA.RECCREATEDON DATAINCLU,
PPARTIDA.RECMODIFIEDBY USUARIOALTER, PPARTIDA.RECMODIFIEDON DATAALTER, NULL CODDIARIO, NULL SEQDIARIO, NULL IDPARTICIPANTE,
NULL IDLANCAMENTO, PPARTIDA.CODLOTE CODLOTEORIGEM
FROM PPARTIDA JOIN PCONTABILIZACAO
ON(PCONTABILIZACAO.CODCOLIGADA = PPARTIDA.CODCOLIGADA AND
PCONTABILIZACAO.CODLOTE = PPARTIDA.CODLOTE)
WHERE PPARTIDA.CODLOTE <> 0
AND ((PCONTABILIZACAO.STATUS = 5) AND (EXISTS (SELECT 1 FROM GINTEGRACAO
WHERE GINTEGRACAO.CODCOLIGADA = PPARTIDA.CODCOLIGADA
AND(((CODSISTEMA1 = 'C' AND CODSISTEMA2 = 'P') AND INTEGRADO = 'T')OR
((CODSISTEMA1 = 'P' AND CODSISTEMA2 = 'C') AND INTEGRADO = 'T')))))
OR ( NOT EXISTS (SELECT 1 FROM GINTEGRACAO
WHERE GINTEGRACAO.CODCOLIGADA = PPARTIDA.CODCOLIGADA
AND(((CODSISTEMA1 = 'C' AND CODSISTEMA2 = 'P') AND INTEGRADO = 'T')OR
((CODSISTEMA1 = 'P' AND CODSISTEMA2 = 'C') AND INTEGRADO = 'T'))))
GO
