USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[ZSPAY_ATUALIZA_ESTAB_SIND]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ZSPAY_ATUALIZA_ESTAB_SIND] AS

DECLARE @CODIGO_INICIAL AS INT;
DECLARE @I AS INT = 1;
DECLARE @QTDE_LOOP AS INT = 5;

-- Variável de tabela para guardar o resultado do SELECT
DECLARE @ESTABILIDADE_BASE TABLE (
	LINHA INT,
    CODCOLIGADA INT,
	CHAPA VARCHAR(16),
    CODMOTIVOESTABILIDADE VARCHAR(20),
    DATAINICIO DATE,
    DATAFIM DATE,
    OBSERVACAO VARCHAR(255)
);

WITH SEL_FUNC AS
(
SELECT FUN.CODCOLIGADA, FUN.CHAPA, FUN.CODSINDICATO, SEC.CODSINDIC, FUN.RECMODIFIEDON, FUN.RECMODIFIEDBY, FUN.CHAPAANTERIORTRANSF AS CHAPAANT
  FROM PFUNC FUN
  LEFT JOIN PSECAOCOMPL SEC ON SEC.CODCOLIGADA = FUN.CODCOLIGADA AND SEC.CODIGO = FUN.CODSECAO
 WHERE FORMAT(FUN.RECMODIFIEDON, 'yyyy-MM-dd')  >= FORMAT(GETDATE(), 'yyyy-MM-dd') 
   AND FUN.CHAPAANTERIORTRANSF IS NOT NULL
   
)

,SEL_FUNC_ESTAB AS
(
SELECT A.CODCOLIGADA, A.CHAPA, A.CHAPAANT 
  FROM SEL_FUNC A
 WHERE A.CHAPA NOT IN (SELECT CHAPA FROM PESTABILIDADE WHERE CODCOLIGADA = A.CODCOLIGADA )
)


-- Faz o SELECT apenas uma vez
INSERT INTO @ESTABILIDADE_BASE
 SELECT
		ROW_NUMBER() OVER(ORDER BY CODIGO) AS LINHA,
        P.CODCOLIGADA,
        E.CHAPA,
        P.CODMOTIVOESTABILIDADE,
        P.DATAINICIO,
        P.DATAFIM,
        P.OBSERVACAO
    FROM PESTABILIDADE P
   INNER JOIN SEL_FUNC_ESTAB E ON E.CHAPAANT = P.CHAPA

-- Pega o maior código atual
SELECT @CODIGO_INICIAL = ISNULL(MAX(CODIGO), 0) FROM PESTABILIDADE;
SELECT @QTDE_LOOP = ISNULL(COUNT(CODCOLIGADA), 0) FROM @ESTABILIDADE_BASE;

-- Loop para inserir os dados
WHILE @I <= @QTDE_LOOP
BEGIN
    INSERT INTO PESTABILIDADE (
        CODIGO,
        CODCOLIGADA,
        CHAPA,
        CODMOTIVOESTABILIDADE,
        DATAINICIO,
        DATAFIM,
        OBSERVACAO
    )
    SELECT 
        @CODIGO_INICIAL + @I,
        CODCOLIGADA,
        CHAPA,
        CODMOTIVOESTABILIDADE,
        DATAINICIO,
        DATAFIM,
        OBSERVACAO
    FROM @ESTABILIDADE_BASE
	WHERE LINHA = @I;

    SET @I = @I + 1;
END;

UPDATE GAUTOINC 
   SET VALAUTOINC = @CODIGO_INICIAL + @I
 WHERE CODAUTOINC = 'PESTABILIDADE' 
   AND CODCOLIGADA = 0 ;


BEGIN

WITH SEL_FUNC AS
(
SELECT FUN.CODCOLIGADA, FUN.CHAPA, FUN.CODSINDICATO, SEC.CODSINDIC, FUN.RECMODIFIEDON, FUN.RECMODIFIEDBY, FUN.CHAPAANTERIORTRANSF AS CHAPAANT
  FROM PFUNC FUN
  LEFT JOIN PSECAOCOMPL SEC ON SEC.CODCOLIGADA = FUN.CODCOLIGADA AND SEC.CODIGO = SUBSTRING(FUN.CODSECAO,1,3)
 WHERE FORMAT(FUN.RECMODIFIEDON, 'yyyy-MM-dd')  >= FORMAT(GETDATE(), 'yyyy-MM-dd') 
   AND FUN.CHAPAANTERIORTRANSF IS NOT NULL
   AND FUN.CODCOLIGADA = 1
)

UPDATE FUN
   SET FUN.CODSINDICATO = SEL.CODSINDIC
  FROM PFUNC AS FUN
 INNER JOIN SEL_FUNC SEL ON SEL.CODCOLIGADA = FUN.CODCOLIGADA AND SEL.CHAPA = FUN.CHAPA 
  LEFT JOIN PSECAOCOMPL SEC ON SEC.CODCOLIGADA = FUN.CODCOLIGADA AND SEC.CODIGO = SUBSTRING(FUN.CODSECAO,1,3)
END

GO
