USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_table_size_info]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_table_size_info]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(1024)
-- create temp. tables
create table #space_used (tabname sysname,
                          [rows] char(11),
                          [reserved] varchar(18),
                          [data] varchar(18),
                          [index] varchar(18),
                          unused varchar(18))
create table #row_info (rowminlen smallint,
                        rowmaxlen smallint,
                        rowmodctr bigint)
-- collect the size information
-- execute sp_spaceused
set @cmd =  @db_name + '.dbo.' + 'sp_spaceused ''' +
            @schema_name + '.' + @table_name + ''''
insert into #space_used
  exec( @cmd )
-- check the existence of the object
if (select count(tabname) from #space_used) = 0
  begin
    drop table #space_used
    drop table #row_info
    raiserror('Table not found.',16,1)
    RETURN
  end
-- collect the row information
set @cmd = N'use [' + @db_name + N'] insert into #row_info ' +
             N'select i.minlen, i.xmaxlen, i.rowmodctr ' +
               N'from sys.objects o,sys.sysindexes i ' +
                 N'where o.name = @table_name ' +
                   N'and schema_name(o.schema_id) = @schema_name ' +
                   N'and i.id = o.object_id ' +
                   N'and i.indid < 2'
exec sp_executesql @cmd,N'@table_name sysname,@schema_name sysname',
            @table_name,@schema_name
-- return the information
select convert(bigint,substring([reserved],1,charindex(' ',[reserved])-1))
         as [reserved],
       convert(bigint,substring([data],1,charindex(' ',[data])-1))
         as [data],
       convert(bigint,substring([index],1,charindex(' ',[index])-1))
         as [index],
       convert(bigint,substring([unused],1,charindex(' ',[unused])-1))
         as [unused],
       convert(bigint,[rows])
         as [rows],
       rowminlen, rowmaxlen, rowmodctr
   into #result
   from #space_used, #row_info
-- Make sure all data is >= 0 because of possible wrong data
-- in sysindexes because dbcc updateusage is needed
select case when [reserved] < 0 then 0 else [reserved] end as [reserved],
  case when [data] < 0 then 0 else [data] end as [data],
  case when [index] < 0 then 0 else [index] end as [index],
  case when [unused] < 0 then 0 else [unused] end as [unused],
  case when [rows] < 0 then 0 else [rows] end as [rows],
  case when rowminlen < 0 then 0 else rowminlen end as rowminlen,
  case when rowmaxlen < 0 then 0 else rowmaxlen end as rowmaxlen,
  case when rowmodctr < 0 then 0 else rowmodctr end as rowmodctr
from #result
END
 
GO
