USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tr_filename]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tr_filename]
  @schema   sysname       = N' ',  -- Target schema
  @fpath    nvarchar(256) = NULL,  -- Desired drive and directory
  @fname    nvarchar(64)  = NULL,  -- Desired file name
  @min_MB   int           = NULL,  -- Minimum free MB in drive
  @tracef   nvarchar(320)  OUTPUT  -- Drive:\Path\Name
AS
  declare  @command  varchar(256)
  declare  @retval   int
  declare  @isdir    int
  declare  @drive    char(1)
  declare  @chposit  int
  declare  @proc     varchar(256)
  set nocount on
  IF @fpath IS NULL OR @fpath = '' OR @fpath = ' '
    BEGIN
-- Default path : (1) Retrieve location of master.mdf
--                (2) cd ..
--                (3) cd TRACE
      set @fpath = (select filename
                    from master..sysfiles where name = 'master')
      set @fpath   = REVERSE(UPPER(RTRIM(@fpath)))
      set @chposit = CHARINDEX('\', @fpath, 1) + 1
      set @chposit = CHARINDEX('\', @fpath, @chposit)
      set @fpath   = SUBSTRING(@fpath, @chposit,
                               LEN(@fpath) - @chposit + 1)
      set @fpath   = REVERSE(@fpath) + 'TRACE\'
-- Check whether the directory exists. If this is not the case,
-- try to create it.
      create table #x(ist int,isd int,pe int)
      insert into #x exec master..xp_fileexist @fpath
      select @isdir = isd from #x
      drop table #x
      IF @isdir = 0
      BEGIN
        -- We can only create it if xp_cmdshell is usable.
        if exists (select name from master..sysobjects where
                   name = 'xp_cmdshell' )
        begin
          set @command = 'mkdir "' + @fpath + '"'
          print @command
          EXECUTE @retval = master..xp_cmdshell @command, no_output
          IF @retval <> 0
            RETURN 2 -- can't execute creation
          -- successfully created it.
        end
        else
            RETURN 1 -- doesn't exist, can't create it
      END
  END
-- Check the formal correctness of the path, add '\' to the end,
-- if necessary
  IF SUBSTRING(@fpath, 2, 1) <> ':'
    RETURN 3
  IF SUBSTRING(REVERSE(@fpath), 1, 1) <> '\'
    SET @fpath = @fpath + '\'
-- Check the freespace in the drive where the path resides
-- Be optimistic, if sap_tr_freespace fails to return the freespace
  if @schema = ' ' or @schema IS NULL
    set @proc = 'sap_tr_freespace'
  else
    set @proc = @schema + '.sap_tr_freespace'
  SET @drive = SUBSTRING(@fpath, 1, 1)
  IF @min_MB IS NOT NULL and @min_MB > 0
    BEGIN
      EXECUTE @proc @drive, @retval OUTPUT
      IF @retval IS NOT NULL and @retval < @min_MB
        RETURN 4
    END
-- Construct filename (SAP + GUID + .trc)
  IF @fname IS NULL OR @fname = '' OR @fname = ' '
    BEGIN
      SET @fname = NEWID()
      SET @fname = 'SAP' + REPLACE(@fname, '-', '')
    END
-- Construct the full name
  set @tracef  = @fpath + @fname
  RETURN 0
 
GO
