USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[get_MSSQL_CLIENT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[get_MSSQL_CLIENT]() returns nvarchar(3) 
 as 
 begin 
    return (rtrim(substring(cast(context_info() as nvarchar(64)), 1, 3))) 
 end 

GO
