USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_hier_select_into]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_hier_select_into]
@i_hiertab varchar(40),  /* in: hierarchy table */
@i_delta int,            /* in: maximal level of CONNECT BY PRIOR */
@i_nodesid int,          /* in: starting node */
@i_hiesid int,           /* in: hierarchy number */
@i_sver varchar(1),      /* in: hierarchy version */
@i_groupby varchar(1),   /* in: 'X' groupby */
@i_succ varchar(40),     /* in: successor column returned */
@i_pred varchar(40),     /* in: predecessor column returned */
@rsdrh_succ varchar(40), /* in: rsdrh-name of successor field */
@rsdrh_pred varchar(40), /* in: rsdrh-name of predecessor field */
@rsdrh_hiesid varchar(40),   /* in: rsdrh-name of hier. number field */
@rsdrh_sver varchar(40)      /* in: rsdrh-name of version field */
as
begin
declare @tmp varchar(40) /* temporary intermediant table, will hold
                            SELECT CONNECT BY PRIOR result */
declare @actstmt varchar(7168) /* buffer for SQL statements */
declare @i_delta_c varchar(14) /* i_delta as string */
select @i_delta_c = cast ( @i_delta AS varchar )
/* determine name for @tmp, create the table */
select @tmp = '##HIETT_' + cast(@@spid as varchar) + '_1'
execute sap_BW_hier_create @tmp, @i_hiertab, @rsdrh_succ,
                           @rsdrh_pred, NULL
/* fill @tmp */
execute sap_BW_hier_build
  @tmp, @i_hiertab, @i_delta, @i_nodesid, @i_hiesid, @i_sver,
  @rsdrh_succ, @rsdrh_pred, NULL, @rsdrh_hiesid, @rsdrh_sver
/* now return the relevant data */
select @actstmt =
  'select succ from ' + @tmp
  + ' where succ >= 0 or hlevel = ' + @i_delta_c
if @i_groupby = 'X'
  select @actstmt = @actstmt + ' group by succ'
exec ( @actstmt )
end
/**
 ** sap_BW_hier_select_into
 **/
 
GO
