USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_jobid]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_get_jobid] @jobname varchar(100)
as
begin
 select job_id from msdb..sysjobs where name = @jobname
end
 
GO
