USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_top_tabview]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_top_tabview]
  @dbname sysname,
  @schema_name sysname,
  @topn int,
  @pattern sysname
AS
BEGIN
declare @cmd nvarchar(1024)
set nocount on
-- build the select statement
set @cmd = N'use [' + @dbname + N'] ' +
   N'select top ' + convert(nvarchar,@topn) +
     N' name as tabname ' +
       N'from dbo.sysobjects with (nolock) ' +
         N'where (id = object_id(@schema_name+''.''+name,''U'') or ' +
         N'       id = object_id(@schema_name+''.''+name,''V'')) and ' +
           N'name like @pattern ' +
     N'order by name '
-- get the tables
exec sp_executesql @cmd,N'@schema_name sysname,@pattern sysname',
         @schema_name,@pattern
END
 
GO
