USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tf_version]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tf_version]
        @CHALLENGE    varchar(16) ,
        @SUPPORT      varchar(1)    OUTPUT ,
        @VERSION      varchar(16)   OUTPUT
AS
        IF ( SUBSTRING (@CHALLENGE, 1, 4) = '6.10' )
          SELECT @SUPPORT = 'X'
        ELSE
          SELECT @SUPPORT = ' '
-- Do NOT change the format of the @VERSION line
-- Do NOT add or remove any spaces
--
-- KKKK : SAP App Server Release ('0710' et cetera)
-- SSSS : SQL Server release ('0900' et cetera)
-- VVVV : Version number
--
--  !!!   ALWAYS increment VVVV when modifying and transporting
--        MSSPROCS scripts  !!!
--
--                         KKKK.SSSS.VVVV
        SELECT @VERSION = '0730.1000.0025'
 
GO
