USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[RMV_CID]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RMV_CID]
AS
  	SELECT
		SZATENDIMENTO.CODCOLIGADA COLIGADA,
		SZATENDIMENTO.CODCOLIGADA,
		SZPACIENTE.PRONTUARIO,
		SUBSTRING(SZPACIENTE.NOMEPACIENTE,1,50) AS NOMEPACIENTE,
		SZATENDIMENTO.DATAENTRADA AS DATAINTERNACAO,
		SZATENDIMENTO.HORAENTRADA AS HORAINTERNACAO,
		CASE WHEN SZATENDIMENTO.CODCID IS NOT NULL THEN SZATENDIMENTO.CODCID ELSE SZATENDIMENTO.CODCIDINTERNACAO END CODCID,
		'P' TIPO,
		CASE WHEN SZATENDIMENTO.CODCID IS NOT NULL THEN 'A' ELSE 'I' END MOMENTO,
		CASE WHEN SZATENDIMENTO.CODCID IS NOT NULL THEN SZCID.CODVERSAOCID ELSE CIDINT.CODVERSAOCID END CODVERSAOCID
	FROM SZATENDIMENTO (NOLOCK)
	LEFT JOIN SZANSATEND (NOLOCK) ON
		SZANSATEND.CODCOLIGADA = SZATENDIMENTO.CODCOLIGADA AND
		SZANSATEND.CODPACIENTE = SZATENDIMENTO.CODPACIENTE AND
		SZANSATEND.CODATENDIMENTO = SZATENDIMENTO.CODATENDIMENTO
	INNER JOIN SZPACIENTE (NOLOCK) ON SZATENDIMENTO.CODCOLIGADA = SZPACIENTE.CODCOLIGADA AND SZATENDIMENTO.CODPACIENTE = SZPACIENTE.CODPACIENTE
	LEFT OUTER JOIN SZCID (NOLOCK) ON SZATENDIMENTO.CODCID = SZCID.CODCID
    LEFT OUTER JOIN SZCID CIDINT (NOLOCK) ON SZATENDIMENTO.CODCIDINTERNACAO = CIDINT.CODCID
	WHERE SZATENDIMENTO.TIPOPACIENTE = 'I'
GO
