USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcc_opentran]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcc_opentran]
  @database   sysname = ''
AS
  SET NOCOUNT ON
-- Create temp table and populate it with DBCC OPENTRAN
  CREATE TABLE #tran
    ( Item          varchar(64)  ,
      Value         varchar(255) )
  declare @cmd         nvarchar(256)
  declare @curr_schema sysname
  declare @l_uid       smallint
  declare @OLDACT_SPID int
  declare @OLDACT_LSN  varchar(20)
  declare @OLDACT_SID  varbinary(85)
  declare @sid_str     varchar(255)
  declare @OLDACT_STARTTIME datetime
  declare @is_user_transaction bit,
          @is_local bit,
          @is_enlisted bit,
          @is_bound bit
  declare @lfn bigint,
          @loffset bigint,
          @lseq bigint
-- default database
  IF @database = '' or @database = db_name()
  begin
     select @database = db_name( )
  end
SELECT TOP 1
  @OLDACT_SPID = t.session_id,
  @OLDACT_LSN = d.database_transaction_begin_lsn,
  @lfn =
  LEFT(convert(varchar,d.database_transaction_begin_lsn),
     LEN(convert(varchar,d.database_transaction_begin_lsn)) - 15),
  @loffset = substring(RIGHT(
        convert(varchar,d.database_transaction_begin_lsn),15),1,10),
  @lseq = RIGHT(
        convert(varchar,d.database_transaction_begin_lsn),5),
  @OLDACT_SID = s.security_id,
  @OLDACT_STARTTIME = d.database_transaction_begin_time,
  @is_user_transaction = t.is_user_transaction,
  @is_local = t.is_local,
  @is_enlisted = t.is_enlisted,
  @is_bound = t.is_bound
FROM
 (
   (sys.dm_tran_database_transactions d
    JOIN
    sys.dm_tran_active_transactions a
    ON a.transaction_id=d.transaction_id
    )
      JOIN sys.dm_tran_session_transactions t
      ON a.transaction_id=t.transaction_id
  )
  JOIN sys.dm_exec_sessions s
  ON s.session_id = t.session_id
WHERE d.database_id = db_id(@database) and
  d.database_transaction_begin_time is not null
ORDER BY d.database_transaction_begin_time
-- Exit if there are no open transactions
  IF @OLDACT_LSN is null
    BEGIN
      SELECT * FROM #tran
      DROP TABLE #tran
      RETURN
    END
  INSERT INTO #tran VALUES( 'OLDACT_SPID',@OLDACT_SPID )
  -- INSERT INTO #tran VALUES( 'OLDACT_UID',@OLDACT_UID )
  if @is_user_transaction != 0
    INSERT INTO #tran VALUES( 'OLDACT_NAME','user_transaction' )
  if @is_enlisted != 0
    INSERT INTO #tran VALUES( 'OLDACT_DTC','enlisted' )
  if not @is_local != 0
    INSERT INTO #tran VALUES( 'OLDACT_TYPE','dtc or enlisted bound session' )
  INSERT INTO #tran VALUES( 'OLDACT_LSN',@OLDACT_LSN )
  INSERT INTO #tran VALUES( 'OLDACT_LSN_STR','(' +
     CONVERT(varchar,@lfn) + ':' +
     CONVERT(varchar,@loffset) + ':' +
     CONVERT(varchar,@lseq) + ')' )
  INSERT INTO #tran VALUES( 'OLDACT_STARTTIME',@OLDACT_STARTTIME )
  select @curr_schema = schema_name(schema_id)
       from sys.objects where object_id = @@PROCID
  set @cmd = N'select @sid_str = ' + @curr_schema +
     N'.sap_hex_conv(@OLDACT_SID)'
  exec sp_executesql @cmd,
   N'@sid_str nvarchar(255) output,@OLDACT_SID varbinary(85)',
     @sid_str output,@OLDACT_SID
  INSERT INTO #tran VALUES( 'OLDACT_SID',@sid_str )
-- Fill in the user name, hostname and some other useful information
  IF @database = db_name( )
    INSERT #tran
      SELECT 'USER', name FROM sysusers
        WHERE uid = (SELECT Value FROM #tran WHERE Item = 'OLDACT_UID')
  ELSE
  begin
    SELECT @l_uid = convert(smallint,Value) FROM #tran WHERE Item = 'OLDACT_UID'
    SELECT @cmd = 'SELECT ''USER'', name FROM '+ @database + '.sys.sysusers '+
        'WHERE uid = ' + convert(nvarchar(5), @l_uid )
    begin try
      INSERT #tran
        EXECUTE ( @cmd )
    end try
    begin catch
    end catch
  end
  INSERT #tran
    SELECT 'SERVER', hostname from master..sysprocesses
      WHERE spid = (SELECT Value FROM #tran WHERE Item = 'OLDACT_SPID')
  INSERT #tran
    SELECT 'SERVERPROC', program_name from master..sysprocesses
      WHERE spid = (SELECT Value FROM #tran WHERE Item = 'OLDACT_SPID')
  INSERT #tran
    SELECT 'SERVERPID', hostprocess from master..sysprocesses
      WHERE spid = (SELECT Value FROM #tran WHERE Item = 'OLDACT_SPID')
-- Provide the last statement of the oldest transaction
  CREATE TABLE #inputbuffer
    ( EventType    varchar(30)  ,
      Parameters   integer      ,
      EventInfo    varchar(255) ,
      PRIMARY KEY CLUSTERED (Parameters) )
  DECLARE @spid varchar(16)
  SET @spid = (SELECT Value FROM #tran WHERE Item = 'OLDACT_SPID')
  begin try
  INSERT #inputbuffer
    EXECUTE ('DBCC INPUTBUFFER (' + @spid + ')')
  INSERT #tran
    SELECT EventType + ' (' + CAST (Parameters AS varchar(10)) + ')',
           SUBSTRING( REPLACE (EventInfo, CHAR(13)+CHAR(10), '  '),1,250)
      FROM #inputbuffer
   end try
   begin catch
   end catch
-- Provide the runtime
  INSERT #tran
    SELECT 'RUNTIME(mins)', datediff(mi,Value,getdate())
      FROM #tran WHERE Item = 'OLDACT_STARTTIME'
-- Return the result set and clean up
  SELECT * FROM #tran
 
GO
