USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITALTERACAOVCTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITALTERACAOVCTO]
AS
SELECT DISTINCT
XADITVCTO.CODCOLIGADA,
XADITVCTO.NUMVENDA,
XADITVCTO.NUMADIT,
'A6' AS CODTIPOADIT,
XADITVCTO.VRTOTALMULTAATRASOPARCALT,
XADITVCTO.VRTOTALJUROSMORAPARCALT,
XADITVCTO.RECCREATEDBY,
XADITVCTO.RECCREATEDON,
XADITVCTO.RECMODIFIEDBY,
XADITVCTO.RECMODIFIEDON
FROM XADITVCTO (NOLOCK)
LEFT JOIN XADITVCTOPARC (NOLOCK)
ON (XADITVCTO.CODCOLIGADA = XADITVCTOPARC.CODCOLIGADA AND
XADITVCTO.NUMVENDA = XADITVCTOPARC.NUMVENDA AND
XADITVCTO.NUMADIT = XADITVCTOPARC.NUMADIT AND
XADITVCTO.CODTIPOADIT = XADITVCTOPARC.CODTIPOADIT)
WHERE XADITVCTOPARC.CODTIPOVENCIMENTO = 1
UNION
SELECT DISTINCT
XADIT.CODCOLIGADA,
XADIT.NUMVENDA,
XADIT.NUMADIT,
'A6' AS CODTIPOADIT,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALMULTAATRASOPARCALT,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALJUROSMORAPARCALT,
XADIT.RECCREATEDBY,
XADIT.RECCREATEDON,
XADIT.RECMODIFIEDBY,
XADIT.RECMODIFIEDON
FROM XADIT (NOLOCK)
JOIN XADITTIPOADITIVO (NOLOCK)
ON XADITTIPOADITIVO.CODCOLIGADA = XADIT.CODCOLIGADA AND
XADITTIPOADITIVO.NUMVENDA = XADIT.NUMVENDA AND
XADITTIPOADITIVO.NUMADIT = XADIT.NUMADIT AND
XADITTIPOADITIVO.CODTIPOADITANTREV = 'A6'
WHERE NOT EXISTS (SELECT 1
FROM XADITVCTOPARC (NOLOCK)
WHERE XADITVCTOPARC.CODCOLIGADA = XADIT.CODCOLIGADA AND
XADITVCTOPARC.NUMVENDA = XADIT.NUMVENDA AND
XADITVCTOPARC.NUMADIT = XADIT.NUMADIT)
GO
