USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFFERIADO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFFERIADO] AS
SELECT CODCALENDARIO,DIAFERIADO,NOME,HORAFINAL,HORAINICIO,FERIADO,TIPO,GETDATE() AS DTHRATUALIZACAO 
FROM   GFERIADO
GO
