USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sys_dm_exec_query_stats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_sys_dm_exec_query_stats]
                 @sortby int = 10,
                 @nrows  int = 50
AS
BEGIN
  declare  @cmdString           nvarchar(2800)
  declare  @argString           nvarchar(500)
  declare  @sum_execution_count bigint,
           @sum_physical_reads  bigint,
           @sum_logical_writes  bigint,
           @sum_logical_reads   bigint,
           @sum_elapsed_time    bigint,
           @sum_worker_time     bigint,
           @sum_clr_time        bigint
  set nocount on
  SELECT
    @sum_execution_count = sum(execution_count),
    @sum_physical_reads = sum(total_physical_reads),
    @sum_logical_writes = sum(total_logical_writes),
    @sum_logical_reads = sum(total_logical_reads),
    @sum_elapsed_time = sum(total_elapsed_time),
    @sum_worker_time = sum(total_worker_time),
    @sum_clr_time = sum(total_clr_time)
  FROM sys.dm_exec_query_stats
  SET @cmdString = 'select top ' + convert(varchar(10),@nrows) + ' ' +
  'sql_handle,execution_count,' +
  'case @sum_execution_count when 0 then 0 else ' +
    'execution_count * 100.0/@sum_execution_count end as pct_execution_count,' +
  'total_worker_time,' +
  'case @sum_worker_time when 0 then 0 else ' +
    'total_worker_time * 100.0/@sum_worker_time end as pct_worker_time,' +
  'avg_worker_time = total_worker_time/execution_count,' +
  'last_worker_time,min_worker_time,max_worker_time,' +
  'total_physical_reads,' +
  'case @sum_physical_reads when 0 then 0 else ' +
    'total_physical_reads * 100.0/@sum_physical_reads end ' +
    'as pct_physical_reads,' +
    'avg_physical_reads = total_physical_reads/execution_count,' +
    'last_physical_reads,min_physical_reads,max_physical_reads,' +
  'total_logical_writes,' +
  'case @sum_logical_writes when 0 then 0 else ' +
    'total_logical_writes * 100.0/@sum_logical_writes end ' +
    ' as pct_logical_writes,' +
    'avg_logical_writes = total_logical_writes/execution_count,' +
    'last_logical_writes,min_logical_writes,max_logical_writes,' +
  'total_logical_reads,' +
  'case @sum_logical_reads when 0 then 0 else ' +
    'total_logical_reads * 100.0/@sum_logical_reads end as pct_logical_reads,' +
    'avg_logical_reads = total_logical_reads/execution_count,' +
    'last_logical_reads,min_logical_reads,max_logical_reads,' +
  'total_elapsed_time,' +
  'case @sum_elapsed_time when 0 then 0 else ' +
    'total_elapsed_time * 100.0/@sum_elapsed_time end as pct_elapsed_time,' +
    'avg_elapsed_time = total_elapsed_time/execution_count,' +
    'last_elapsed_time,min_elapsed_time,max_elapsed_time,' +
  'total_clr_time,' +
  'case @sum_clr_time when 0 then 0 else ' +
    'total_clr_time * 100.0/@sum_clr_time end as pct_clr_time,' +
    'avg_clr_time = total_clr_time/execution_count,' +
    'last_clr_time,min_clr_time,max_clr_time,' +
  'case total_worker_time when 0 then 0 else ' +
    'total_elapsed_time/total_worker_time end as wait_factor,' +
  'statement_start_offset,statement_end_offset,' +
  '(select convert(nvarchar(50),'+
  ' SUBSTRING(text,statement_start_offset/2 + 1, 50))'+
  'from sys.dm_exec_sql_text(sql_handle)) as query_text,' +
  '(select convert(nvarchar(100),'+
  ' SUBSTRING  ( text, patindex(''%/* R3:%'' , text),' +
    '(case  when patindex(''%/* R3:%'',text) <> 0' +
    '       then  len(convert(nvarchar(max), text)) * 2' +
    '       else 0 end))) ' +
    'from sys.dm_exec_sql_text(sql_handle)) as abloc,' +
  'plan_generation_num, plan_handle,' +
  'creation_time,last_execution_time' +
  ' from sys.dm_exec_query_stats where execution_count > 0 order by ' +
    convert(varchar(2),@sortby) + ' desc'
  set @argString = N'@nrows INT, @sortby INT,' +
    N'@sum_execution_count bigint,@sum_physical_reads bigint,' +
    N'@sum_logical_writes bigint,@sum_logical_reads bigint,' +
    N'@sum_elapsed_time bigint,@sum_worker_time bigint,' +
    N'@sum_clr_time bigint'
  EXEC sp_executesql @cmdString,@argString,
    @nrows, @sortby,@sum_execution_count,@sum_physical_reads,
    @sum_logical_writes,@sum_logical_reads,@sum_elapsed_time,
    @sum_worker_time,@sum_clr_time
END
 
GO
