USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_DB13_initproblems]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_check_DB13_initproblems]
  @result varchar(64) output
as
/**************************************************************/
/* For CKDB(CheckDb) jobs, no entry is created in SDBAR tables*/
/* For all other Backup jobs, Check for a Row in sdbar for    */
/* each job with the RESTYPE = 'I'. If there are no row with  */
/* RESTYPE = 'I' in SDBAR table for the backup job, then the  */
/* job is created with incorrect entries. Delete the jobs     */
/* in SQL server and all the corresponding entries in SAP     */
/* tables SDBAP and SDBAR                                     */
/* SQL server Jobname  starts with                            */
/* SAP CCMS.....  *[CRETSTMP-DAYE-TIMEE]                      */
/**************************************************************/
BEGIN
--  sap_check_DB13_initproblems
--  ***************************
select @result = 'ok'
if exists (Select * from SDBAP a, SDBAC b
            where BTYPE in ('LOGBK','DBBK','DBIBK','USRBK')
             and a.BTYPE = b.SHORTCUT
             and b.DBSYS = 'MSSQL'
             and  NOT EXISTS
               ( Select * from SDBAR where
                a.CRETSTMP = SDBAR.CRETSTMP
                and a.SYSID = SDBAR.SYSID
                 and a.TIMEE =  SDBAR.TIMEE
                  and SDBAR.RESTYPE = 'I'))
begin
  select @result = 'Jobs are created with wrong backup parameters.'
end
END
 
GO
