USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_BW_MOVIMENTACOES]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_BW_MOVIMENTACOES] AS 

/* Dados portal */
WITH TEMP_PORTAL
     AS (SELECT dFuncao.coligada        AS COLIGADA,
                dFuncao.codigo          AS CODFUNCAO,
                dFuncao.descricao       AS DESCRICAO,
                Filtro_Funcao.descricao AS GRUPO_CARGO
         FROM   PORTALRHPRD..zcrmportal_salario_funcao dFuncao
                LEFT JOIN PORTALRHPRD..zcrmportal_salario_dados rFuncao
                       ON rFuncao.id_funcao = dFuncao.id
                LEFT JOIN PORTALRHPRD..zcrmportal_salario_alternativas_itens Filtro_Funcao
                       ON TRY_CAST(rFuncao.valor_texto AS BIGINT) = Filtro_Funcao.id
         WHERE  Filtro_Funcao.id_item = '3'),
     TEMP_3
     AS (
        /* Query Função */
        SELECT 'Tab_função'                                                                                            AS ORIGEM,
               HFUNC.CODCOLIGADA,
               PFUNC.CODPESSOA,
               HFUNC.CHAPA,
               PFUNC.NOME,
               PPESSOA.SEXO,
               PPESSOA.NACIONALIDADE,
               PCODNACAO.DESCRICAO                                                                                     AS DESC_NACIONALIDADE,
               CONVERT(VARCHAR, DTNASCIMENTO, 103)                                                                     AS DTNASCIMENTO,
               Datepart(YEAR, Getdate()) - Datepart(YEAR, DTNASCIMENTO)                                                AS IDADE,
               Datepart(YEAR, HFUNC.DTMUDANCA) - Datepart(YEAR, DTNASCIMENTO)                                          AS IDADE_MUDANÇA,
               CONVERT(VARCHAR, HFUNC.DTMUDANCA, 103)                                                                  AS DTMUDANCA,
	       CONVERT(VARCHAR, HFUNC.DTMUDANCA, 112)                                                                  AS DTMUDANCA_BW,
               PMOTMUDFUNCAO.DESCRICAO                                                                                 AS MOTIVO,
              /* CASE
                 WHEN CONVERT(VARCHAR, PFUNC.DATAADMISSAO, 103) = CONVERT(VARCHAR, HFUNC.DTMUDANCA, 103) THEN CONVERT(VARCHAR, PFUNC.DATAADMISSAO, 103)
                 ELSE ''
               END                                                                                                     AS DATAADMISSAO,*/
               PFUNC.DATAADMISSAO,																		
               CONVERT(VARCHAR, PFUNC.DATADEMISSAO, 103)                                                               AS DATADEMISSAO,
               HFUNC.CODFUNCAO,
               PFUNCAO.NOME                                                                                            AS FUNCAO,
               TEMP_PORTAL.GRUPO_CARGO,
               NROCENCUSTOCONT                                                                                         AS CENTRO_CUSTO,
               CASE
                 WHEN Datediff(DAY, LAG(HFUNC.DTMUDANCA, 1)
                                      OVER (
                                        PARTITION BY HFUNC.CODCOLIGADA, HFUNC.CHAPA
                                        ORDER BY HFUNC.DTMUDANCA), HFUNC.DTMUDANCA) < 365 THEN 'Sim'
                 ELSE 'Não'
               END                                                                                                     AS MOVIMENTACAO_MENOS_DE_UM_ANO,
               GS,
               dFuncao.CBO2002,
               CONVERT(VARCHAR, COALESCE(LEAD(HFUNC.DTMUDANCA, 1)
                                           OVER (
                                             PARTITION BY HFUNC.CODCOLIGADA, HFUNC.CHAPA
                                             ORDER BY HFUNC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate())), 103) AS PROXIMA_DTMUDANCA,
               CASE
                 WHEN Datediff(DAY, COALESCE(HFUNC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HFUNC.DTMUDANCA, 1)
                                                                                                         OVER (
                                                                                                           PARTITION BY HFUNC.CODCOLIGADA, HFUNC.CHAPA
                                                                                                           ORDER BY HFUNC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) IS NULL THEN 'N/A'
                 ELSE CONCAT(CASE
                               WHEN Floor(Datediff(DAY, COALESCE(HFUNC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HFUNC.DTMUDANCA, 1)
                                                                                                                             OVER (
                                                                                                                               PARTITION BY HFUNC.CODCOLIGADA, HFUNC.CHAPA
                                                                                                                               ORDER BY HFUNC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) / 365.25) > 0 THEN CONCAT(Floor(Datediff(DAY, COALESCE(HFUNC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HFUNC.DTMUDANCA, 1)
                                                                                                                                                                                                                                                                                                                       OVER (
                                                                                                                                                                                                                                                                                                                         PARTITION BY HFUNC.CODCOLIGADA, HFUNC.CHAPA
                                                                                                                                                                                                                                                                                                                         ORDER BY HFUNC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) / 365.25), ' ano(s) ')
                               ELSE ''
                             END, CASE
                                    WHEN Floor(( Datediff(DAY, COALESCE(HFUNC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HFUNC.DTMUDANCA, 1)
                                                                                                                                    OVER (
                                                                                                                                      PARTITION BY HFUNC.CODCOLIGADA, HFUNC.CHAPA
                                                                                                                                      ORDER BY HFUNC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) % 365.25 ) / 30.44) > 0 THEN CONCAT(Floor(( Datediff(DAY, COALESCE(HFUNC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HFUNC.DTMUDANCA, 1)
                                                                                                                                                                                                                                                                                                                                          OVER (
                                                                                                                                                                                                                                                                                                                                            PARTITION BY HFUNC.CODCOLIGADA, HFUNC.CHAPA
                                                                                                                                                                                                                                                                                                                                            ORDER BY HFUNC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) % 365.25 ) / 30.44), ' mês(es)')
                                    ELSE ''
                                  END)
               END                                                                                                     AS TEMPO_PARA_ALTERAÇÃO,
               NULL                                                                                                    AS SALARIO,
               NULL                                                                                                    AS PERCENTAPLICADO
         FROM   PFHSTFCO HFUNC
                LEFT JOIN PMOTMUDFUNCAO
                       ON HFUNC.MOTIVO = PMOTMUDFUNCAO.CODCLIENTE
                          AND HFUNC.CODCOLIGADA = PMOTMUDFUNCAO.CODCOLIGADA
                LEFT JOIN PFUNC
                       ON PFUNC.CHAPA = HFUNC.CHAPA
                          AND PFUNC.CODCOLIGADA = HFUNC.CODCOLIGADA
                LEFT JOIN PPESSOA
                       ON PPESSOA.CODIGO = PFUNC.CODPESSOA
                LEFT JOIN PCODNACAO
                       ON PPESSOA.NACIONALIDADE = PCODNACAO.CODCLIENTE
                LEFT JOIN PFUNCAO
                       ON HFUNC.CODFUNCAO = PFUNCAO.CODIGO
                          AND HFUNC.CODCOLIGADA = PFUNCAO.CODCOLIGADA
                LEFT JOIN PORTALRHPRD..zcrmportal_salario_funcao dFuncao
                       ON dFuncao.codigo = PFUNCAO.CODIGO COLLATE LATIN1_GENERAL_CI_AS
                          AND dFuncao.coligada = PFUNCAO.CODCOLIGADA
                LEFT JOIN TEMP_PORTAL
                       ON PFUNCAO.CODIGO COLLATE LATIN1_GENERAL_CI_AS = TEMP_PORTAL.CODFUNCAO
                          AND PFUNCAO.CODCOLIGADA = TEMP_PORTAL.COLIGADA
                /*join para trazer a informação de Centro de custo da data de alteração de função*/
                LEFT JOIN PFHSTSEC
                       ON PFHSTSEC.CHAPA = HFUNC.CHAPA
                          AND PFHSTSEC.CODCOLIGADA = HFUNC.CODCOLIGADA
                          AND PFHSTSEC.DTMUDANCA = (SELECT Max(SEC2.DTMUDANCA)
                                                    FROM   PFHSTSEC SEC2
                                                    WHERE  SEC2.CODCOLIGADA = HFUNC.CODCOLIGADA
                                                           AND SEC2.CHAPA = HFUNC.CHAPA
                                                           AND SEC2.DTMUDANCA <= HFUNC.DTMUDANCA)
                LEFT JOIN PSECAO
                       ON PFHSTSEC.CODSECAO = PSECAO.CODIGO
                          AND PFHSTSEC.CODCOLIGADA = PSECAO.CODCOLIGADA
         WHERE  HFUNC.DTMUDANCA >= '2018-01-01'),
     /* Query Salarial */
     TEMP_PORTAL_SALARIAL
     AS (SELECT dFuncao.coligada        AS COLIGADA,
                dFuncao.codigo          AS CODFUNCAO,
                Filtro_Funcao.descricao AS GRUPO_CARGO
         FROM   PORTALRHPRD..zcrmportal_salario_funcao dFuncao
                LEFT JOIN PORTALRHPRD..zcrmportal_salario_dados rFuncao
                       ON rFuncao.id_funcao = dFuncao.id
                LEFT JOIN PORTALRHPRD..zcrmportal_salario_alternativas_itens Filtro_Funcao
                       ON TRY_CAST(rFuncao.valor_texto AS BIGINT) = Filtro_Funcao.id
         WHERE  Filtro_Funcao.id_item = '3'),
     TEMP_4
     AS (SELECT 'Tab_Salarial'                                                                                         AS ORIGEM,
                HSAL.CODCOLIGADA,
                PFUNC.CODPESSOA,
                HSAL.CHAPA,
                PFUNC.NOME,
                PPESSOA.SEXO,
                PPESSOA.NACIONALIDADE,
                PCODNACAO.DESCRICAO                                                                                    AS DESC_NACIONALIDADE,
                CONVERT(VARCHAR, DTNASCIMENTO, 103)                                                                    AS DTNASCIMENTO,
                Datepart(YEAR, Getdate()) - Datepart(YEAR, DTNASCIMENTO)                                               AS IDADE,
                Datepart(YEAR, HSAL.DTMUDANCA) - Datepart(YEAR, DTNASCIMENTO)                                          AS IDADE_MUDANÇA,
                CONVERT(VARCHAR, HSAL.DTMUDANCA, 103)                                                                  AS DTMUDANCA,
	        CONVERT(VARCHAR, HSAL.DTMUDANCA, 112)                                                                  AS DTMUDANCA_BW,
                PMOTMUDSAL.DESCRICAO                                                                                   AS MOTIVO,
                /*CASE
                  WHEN CONVERT(VARCHAR, PFUNC.DATAADMISSAO, 103) = CONVERT(VARCHAR, HSAL.DTMUDANCA, 103) THEN CONVERT(VARCHAR, PFUNC.DATAADMISSAO, 103)
                  ELSE ''
                END                                                                                                    AS DATAADMISSAO,*/
                PFUNC.DATAADMISSAO,
                CONVERT(VARCHAR, PFUNC.DATADEMISSAO, 103)                                                              AS DATADEMISSAO,
                F.CODFUNCAO,
                PFUNCAO.NOME                                                                                           AS FUNCAO,
                TEMP_PORTAL_SALARIAL.GRUPO_CARGO,
                NROCENCUSTOCONT                                                                                        AS CENTRO_CUSTO,
                NULL                                                                                                   AS MOVIMENTACAO_MENOS_DE_UM_ANO,
                NULL                                                                                                   AS GS,
                NULL                                                                                                   AS CBO2002,
                CONVERT(VARCHAR, COALESCE(LEAD(HSAL.DTMUDANCA, 1)
                                            OVER (
                                              PARTITION BY HSAL.CODCOLIGADA, HSAL.CHAPA
                                              ORDER BY HSAL.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate())), 103) AS PROXIMA_DTMUDANCA,
                CASE
                  WHEN Datediff(DAY, COALESCE(HSAL.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSAL.DTMUDANCA, 1)
                                                                                                         OVER (
                                                                                                           PARTITION BY HSAL.CODCOLIGADA, HSAL.CHAPA
                                                                                                           ORDER BY HSAL.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) IS NULL THEN 'N/A'
                  ELSE CONCAT(CASE
                                WHEN Floor(Datediff(DAY, COALESCE(HSAL.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSAL.DTMUDANCA, 1)
                                                                                                                             OVER (
                                                                                                                               PARTITION BY HSAL.CODCOLIGADA, HSAL.CHAPA
                                                                                                                               ORDER BY HSAL.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) / 365.25) > 0 THEN CONCAT(Floor(Datediff(DAY, COALESCE(HSAL.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSAL.DTMUDANCA, 1)
                                                                                                                                                                                                                                                                                                                     OVER (
                                                                                                                                                                                                                                                                                                                       PARTITION BY HSAL.CODCOLIGADA, HSAL.CHAPA
                                                                                                                                                                                                                                                                                                                       ORDER BY HSAL.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) / 365.25), ' ano(s) ')
                                ELSE ''
                              END, CASE
                                     WHEN Floor(( Datediff(DAY, COALESCE(HSAL.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSAL.DTMUDANCA, 1)
                                                                                                                                    OVER (
                                                                                                                                      PARTITION BY HSAL.CODCOLIGADA, HSAL.CHAPA
                                                                                                                                      ORDER BY HSAL.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) % 365.25 ) / 30.44) > 0 THEN CONCAT(Floor(( Datediff(DAY, COALESCE(HSAL.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSAL.DTMUDANCA, 1)
                                                                                                                                                                                                                                                                                                                                        OVER (
                                                                                                                                                                                                                                                                                                                                          PARTITION BY HSAL.CODCOLIGADA, HSAL.CHAPA
                                                                                                                                                                                                                                                                                                                                          ORDER BY HSAL.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) % 365.25 ) / 30.44), ' mês(es)')
                                     ELSE ''
                                   END)
                END                                                                                                    AS TEMPO_PARA_ALTERAÇÃO,
                HSAL.SALARIO,
                HSAL.PERCENTAPLICADO
         FROM   PFHSTSAL HSAL
                LEFT JOIN PFUNC
                       ON PFUNC.CHAPA = HSAL.CHAPA
                          AND PFUNC.CODCOLIGADA = HSAL.CODCOLIGADA
                LEFT JOIN PPESSOA
                       ON PPESSOA.CODIGO = PFUNC.CODPESSOA
                LEFT JOIN PCODNACAO
                       ON PPESSOA.NACIONALIDADE = PCODNACAO.CODCLIENTE
                LEFT JOIN PMOTMUDSAL
                       ON PMOTMUDSAL.CODCLIENTE = HSAL.MOTIVO
                          AND PMOTMUDSAL.CODCOLIGADA = HSAL.CODCOLIGADA
                /*join para trazer a informação de função da data de alteração de salário*/
                LEFT JOIN PFHSTFCO F
                       ON HSAL.CODCOLIGADA = F.CODCOLIGADA
                          AND HSAL.CHAPA = F.CHAPA
                          AND F.DTMUDANCA = (SELECT Max(F2.DTMUDANCA)
                                             FROM   PFHSTFCO F2
                                             WHERE  F2.CODCOLIGADA = HSAL.CODCOLIGADA
                                                    AND F2.CHAPA = HSAL.CHAPA
                                                    AND F2.DTMUDANCA <= HSAL.DTMUDANCA)
                /*join para trazer a informação de Centro de custo da data de alteração de salário*/
                LEFT JOIN PFHSTSEC
                       ON PFHSTSEC.CHAPA = HSAL.CHAPA
                          AND PFHSTSEC.CODCOLIGADA = HSAL.CODCOLIGADA
                          AND PFHSTSEC.DTMUDANCA = (SELECT Max(SEC2.DTMUDANCA)
                                                    FROM   PFHSTSEC SEC2
                                                    WHERE  SEC2.CODCOLIGADA = HSAL.CODCOLIGADA
                                                           AND SEC2.CHAPA = HSAL.CHAPA
                                                           AND SEC2.DTMUDANCA <= HSAL.DTMUDANCA)
                LEFT JOIN PSECAO
                       ON PFHSTSEC.CODSECAO = PSECAO.CODIGO
                          AND PFHSTSEC.CODCOLIGADA = PSECAO.CODCOLIGADA
                LEFT JOIN PFUNCAO
                       ON PFUNCAO.CODIGO = F.CODFUNCAO
                          AND PFUNCAO.CODCOLIGADA = F.CODCOLIGADA
                LEFT JOIN TEMP_PORTAL_SALARIAL
                       ON PFUNCAO.CODIGO COLLATE LATIN1_GENERAL_CI_AS = TEMP_PORTAL_SALARIAL.CODFUNCAO
                          AND PFUNCAO.CODCOLIGADA = TEMP_PORTAL_SALARIAL.COLIGADA
         WHERE  HSAL.DTMUDANCA >= '2018-01-01'),
     TABELA_SEÇÕES
     AS (SELECT 'Tab_Seção'                                                                                            AS ORIGEM,
                HSEC.CODCOLIGADA,
                PFUNC.CODPESSOA,
                HSEC.CHAPA,
                PFUNC.NOME,
                PPESSOA.SEXO,
                PPESSOA.NACIONALIDADE,
                PCODNACAO.DESCRICAO                                                                                    AS DESC_NACIONALIDADE,
                CONVERT(VARCHAR, DTNASCIMENTO, 103)                                                                    AS DTNASCIMENTO,
                Datepart(YEAR, Getdate()) - Datepart(YEAR, DTNASCIMENTO)                                               AS IDADE,
                Datepart(YEAR, HSEC.DTMUDANCA) - Datepart(YEAR, DTNASCIMENTO)                                          AS IDADE_MUDANÇA,
                CONVERT(VARCHAR, HSEC.DTMUDANCA, 103)                                                                  AS DTMUDANCA,
		CONVERT(VARCHAR, HSEC.DTMUDANCA, 112)                                                                  AS DTMUDANCA_BW,
                PMOTMUDSECAO.DESCRICAO,
              /*CASE
                  WHEN CONVERT(VARCHAR, PFUNC.DATAADMISSAO, 103) = CONVERT(VARCHAR, HSEC.DTMUDANCA, 103) THEN CONVERT(VARCHAR, PFUNC.DATAADMISSAO, 103)
                  ELSE ''
                END                                                                                                    AS DATAADMISSAO,*/
                PFUNC.DATAADMISSAO,
                CONVERT(VARCHAR, PFUNC.DATADEMISSAO, 103)                                                              AS DATADEMISSAO,
                F.CODFUNCAO,
                PFUNCAO.NOME                                                                                           AS FUNCAO,
                NULL                                                                                                   AS GRUPO_CARGO,
                NROCENCUSTOCONT                                                                                        AS CENTRO_CUSTO,
                NULL                                                                                                   AS MOVIMENTACAO_MENOS_DE_UM_ANO,
                NULL                                                                                                   AS GS,
                NULL                                                                                                   AS CBO2002,
                CONVERT(VARCHAR, COALESCE(LEAD(HSEC.DTMUDANCA, 1)
                                            OVER (
                                              PARTITION BY HSEC.CODCOLIGADA, HSEC.CHAPA
                                              ORDER BY HSEC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate())), 103) AS PROXIMA_DTMUDANCA,
                CASE
                  WHEN Datediff(DAY, COALESCE(HSEC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSEC.DTMUDANCA, 1)
                                                                                                         OVER (
                                                                                                           PARTITION BY HSEC.CODCOLIGADA, HSEC.CHAPA
                                                                                                           ORDER BY HSEC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) IS NULL THEN 'N/A'
                  ELSE
                    CASE
                      WHEN Datediff(DAY, COALESCE(HSEC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSEC.DTMUDANCA, 1)
                                                                                                             OVER (
                                                                                                               PARTITION BY HSEC.CODCOLIGADA, HSEC.CHAPA
                                                                                                               ORDER BY HSEC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) <= 30 THEN CONCAT(Datediff(DAY, COALESCE(HSEC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSEC.DTMUDANCA, 1)
                                                                                                                                                                                                                                                                                       OVER (
                                                                                                                                                                                                                                                                                         PARTITION BY HSEC.CODCOLIGADA, HSEC.CHAPA
                                                                                                                                                                                                                                                                                         ORDER BY HSEC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))), ' dia(s)')
                      ELSE CONCAT(CASE
                                    WHEN Floor(Datediff(DAY, COALESCE(HSEC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSEC.DTMUDANCA, 1)
                                                                                                                                 OVER (
                                                                                                                                   PARTITION BY HSEC.CODCOLIGADA, HSEC.CHAPA
                                                                                                                                   ORDER BY HSEC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) / 365.25) > 0 THEN CONCAT(Floor(Datediff(DAY, COALESCE(HSEC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSEC.DTMUDANCA, 1)
                                                                                                                                                                                                                                                                                                                         OVER (
                                                                                                                                                                                                                                                                                                                           PARTITION BY HSEC.CODCOLIGADA, HSEC.CHAPA
                                                                                                                                                                                                                                                                                                                           ORDER BY HSEC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) / 365.25), ' ano(s) ')
                                    ELSE ''
                                  END, CASE
                                         WHEN Floor(( Datediff(DAY, COALESCE(HSEC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSEC.DTMUDANCA, 1)
                                                                                                                                        OVER (
                                                                                                                                          PARTITION BY HSEC.CODCOLIGADA, HSEC.CHAPA
                                                                                                                                          ORDER BY HSEC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) % 365.25 ) / 30.44) > 0 THEN CONCAT(Floor(( Datediff(DAY, COALESCE(HSEC.DTMUDANCA, PFUNC.DATADEMISSAO, Getdate()), COALESCE(LEAD(HSEC.DTMUDANCA, 1)
                                                                                                                                                                                                                                                                                                                                            OVER (
                                                                                                                                                                                                                                                                                                                                              PARTITION BY HSEC.CODCOLIGADA, HSEC.CHAPA
                                                                                                                                                                                                                                                                                                                                              ORDER BY HSEC.DTMUDANCA), COALESCE(PFUNC.DATADEMISSAO, Getdate()))) % 365.25 ) / 30.44), ' mês(es)')
                                         ELSE ''
                                       END)
                    END
                END                                                                                                    AS TEMPO_PARA_ALTERAÇÃO,
                NULL                                                                                                   AS SALARIO,
                NULL                                                                                                   AS PERCENTAPLICADO
         FROM   PFHSTSEC HSEC
                LEFT JOIN PFUNC
                       ON PFUNC.CHAPA = HSEC.CHAPA
                          AND PFUNC.CODCOLIGADA = HSEC.CODCOLIGADA
                LEFT JOIN PPESSOA
                       ON PPESSOA.CODIGO = PFUNC.CODPESSOA
                LEFT JOIN PCODNACAO
                       ON PPESSOA.NACIONALIDADE = PCODNACAO.CODCLIENTE
                LEFT JOIN PMOTMUDSECAO
                       ON HSEC.MOTIVO = PMOTMUDSECAO.CODCLIENTE
                          AND HSEC.CODCOLIGADA = PMOTMUDSECAO.CODCOLIGADA
                LEFT JOIN PFHSTFCO F
                       ON HSEC.CODCOLIGADA = F.CODCOLIGADA
                          AND HSEC.CHAPA = F.CHAPA
                          AND F.DTMUDANCA = (SELECT Max(F2.DTMUDANCA)
                                             FROM   PFHSTFCO F2
                                             WHERE  F2.CODCOLIGADA = HSEC.CODCOLIGADA
                                                    AND F2.CHAPA = HSEC.CHAPA
                                                    AND F2.DTMUDANCA <= HSEC.DTMUDANCA)
                LEFT JOIN PFUNCAO
                       ON F.CODFUNCAO = PFUNCAO.CODIGO
                          AND F.CODCOLIGADA = PFUNCAO.CODCOLIGADA
                LEFT JOIN PSECAO
                       ON HSEC.CODSECAO = PSECAO.CODIGO
                          AND HSEC.CODCOLIGADA = PSECAO.CODCOLIGADA
         WHERE  HSEC.DTMUDANCA >= '2010-01-01'),
     TEMP_UNION
     AS (SELECT *
         FROM   TEMP_3

         UNION ALL
         SELECT *
         FROM   TEMP_4

         UNION ALL
         SELECT *
         FROM   TABELA_SEÇÕES)
SELECT *
FROM   TEMP_UNION
GO
