USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_objectid]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_objectid]
   @tabname varchar(30),
   @objtype smallint
as
begin
  /*
   * objtype 0 = table
   * objtype 1 = stored procedure
   */
     select object_id( @tabname )
end
 
GO
