USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_get_db_name]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_get_db_name]
    @dbname     varchar(1024)   output,
    @input      varchar(7168)
as
begin
    select @dbname = parsename(@input, 3)
    if ( @dbname is NULL )
      select @dbname = db_name()
end
 
GO
