USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_backup_devices]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_get_backup_devices]
AS
BEGIN
    select name,physical_name,type
      from sys.backup_devices
     where type IN (2,5,6)
        and  name <> 'diskdump'
      order by type desc, physical_name asc
END
 
GO
