USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_atomic_BWHC_create_indexP]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_atomic_BWHC_create_indexP]
  @fact_table sysname
as
BEGIN
-- Declaring local variables
declare @ind_name sysname
declare @ind_col sysname
declare @col_str varchar(1024)
declare @col_str_len int
declare @cmd varchar(1024)
-- Collecting the columns of the R/3 primary key and
-- building the column string for the creation of
-- the DD index P
declare all_pk_cols cursor
  for select FIELDNAME from DD03L
        where TABNAME = @fact_table
          and AS4LOCAL = 'A'
          and KEYFLAG = 'X'
      order by POSITION
select @col_str = '('
open all_pk_cols
fetch next from all_pk_cols
  into @ind_col
while (@@fetch_status <> -1)
  begin
    if (@@fetch_status <> -2)
      select @col_str = @col_str + ' [' + @ind_col + '],'
    fetch next from all_pk_cols
      into @ind_col
  end
close all_pk_cols
deallocate all_pk_cols
select @col_str_len = len(@col_str)
select @col_str = substring(@col_str, 1, @col_str_len-1) + ')'
-- Creating the DD index P
select @cmd = 'create index [' + @fact_table + '~P] on [' +
              @fact_table + '] ' + @col_str
exec( @cmd )
END
 
GO
