USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_showcontigall]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_showcontigall]
as
begin
  declare @command char(80)
  declare @tableid int
  declare @indexid smallint
  CREATE TABLE #dbcc_output
  (dbccres varchar(100))
  declare id_cursor cursor for  select id, indid
    from   sysindexes
    where  indid < 255
       and id in ( select id
            from  sysobjects
            where id = object_id(user+'.'+name,'U'))
  open id_cursor
  fetch next from id_cursor into @tableid, @indexid
  while (@@fetch_status <> -1)
  begin
    if (@@fetch_status <> -2)
    begin
    select @command = 'dbcc showcontig ( '
            + convert(char(10), @tableid) + ','
            + convert(char(3),  @indexid) + ')'
                        + ' WITH TABLERESULTS'
         insert into #dbcc_output
    exec (@command)
    end
  fetch next from id_cursor into @tableid, @indexid
  end
  deallocate id_cursor
  select * from #dbcc_output
end
 
GO
