USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sp_BPC_RetornaBaselineTOTVS]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BPC_RetornaBaselineTOTVS]
( @PERIODO CHAR(2) = '')
AS
BEGIN
  DECLARE @iPERIODO INTEGER
        , @iPER_ANT INTEGER
        , @cTIME    VARCHAR(7)
  
  IF ISNUMERIC(@PERIODO) = 0
  BEGIN 
    SET @iPERIODO = 0
    SET @iPER_ANT = MONTH(DATEADD(mm,-1,GETDATE()))    
    SET @cTIME    = Convert(VARCHAR, Year(DATEADD(mm,-1,GETDATE()))) + '.' + REPLICATE('0', 2-LEN(MONTH(DATEADD(mm,-1,GETDATE())))) + Convert(VARCHAR, MONTH(DATEADD(mm,-1,GETDATE()))) 
  END ELSE
  BEGIN
    SET @iPERIODO = CASE WHEN @PERIODO BETWEEN 1 AND 12
                         THEN @PERIODO
                         ELSE 0
                    END
    SET @iPER_ANT = @iPERIODO-1
    SET @cTIME    = MONTH(DATEADD(mm,-1,GETDATE())) + '.' + YEAR(GETDATE())
  END

  SELECT ENTITY
       , PLANT
       , COSTCENTER
       , [FUNCTION]
       , [TIME] = @cTIME
       , [EVENT]
       , [ACCOUNTPAY] = ''
       , UM
       , VALUE = Avg(VALUE)
    FROM dbo.ufn_BPC_RetornaMEDIAHORA(@PERIODO)
   GROUP BY ENTITY
          , PLANT
          , COSTCENTER
          , [FUNCTION]
          , [EVENT]
          , UM  

   UNION ALL

  SELECT ENTITY
       , PLANT
       , COSTCENTER
       , [FUNCTION]
       , [TIME] = @cTIME
       , [EVENT]
       , [ACCOUNTPAY] = ''
       , UM
       , VALUE = Avg(VALUE)
    FROM dbo.ufn_BPC_RetornaMEDIAVALOR(@PERIODO)
   GROUP BY ENTITY
          , PLANT
          , COSTCENTER
          , [FUNCTION]
          , [EVENT]
          , UM  

   UNION ALL

  SELECT ENTITY
       , PLANT
       , COSTCENTER
       , [FUNCTION]
       , [TIME] = @cTIME
       , [EVENT]
       , [ACCOUNTPAY] = ''
       , UM
       , VALUE = Avg(VALUE)
    FROM dbo.ufn_BPC_RetornaMEDIASALARIO(@iPER_ANT)
   GROUP BY ENTITY
          , PLANT
          , COSTCENTER
          , [FUNCTION]
          , [EVENT]
          , UM 
           
   UNION ALL
  
  SELECT ENTITY
       , PLANT
       , COSTCENTER
       , [FUNCTION]
       , [TIME] = @cTIME
       , [EVENT]
       , [ACCOUNTPAY] = ''
       , UM
       , VALUE = Avg(VALUE)
    FROM dbo.ufn_BPC_RetornaHEADCOUNT(@iPER_ANT) 
   GROUP BY ENTITY
          , PLANT
          , COSTCENTER
          , [FUNCTION]
          , [EVENT]
          , UM 
    
END
GO
