USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_fn_jobrepair_vars]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[sap_fn_jobrepair_vars]
(
        @oldcmd AS nvarchar(1000)
)
RETURNS  @vars table
(
initstr    nvarchar(15),
initval    int,
formatstr  nvarchar(15),
formatval  int,
verifystr  nvarchar(15),
verifyval  int,
unloadstr  nvarchar(15),
unloadval  int,
expdaysstr nvarchar(20),
expdaysnum int,
schname    nvarchar(10),
bdev       nvarchar(1000),
dbList     nvarchar(500),
r3Db       sysname,
backuptype nchar(1),
init_cmd_str nvarchar(300)
)
AS
BEGIN
declare @strpos     int,
        @newpos     int,
        @tmpLen     int,
        @tmp        nvarchar(1000),
        @tmpcmd     nvarchar(1000)
declare @initstr    nvarchar(15),
        @initval    int,
        @formatstr  nvarchar(15),
        @formatval  int,
        @verifystr  nvarchar(15),
        @verifyval  int,
        @unloadstr  nvarchar(15),
        @unloadval  int,
        @expdaysstr nvarchar(20),
        @expdaysnum int,
        @schname    nvarchar(10),
        @bdev       nvarchar(1000),
        @dbList     nvarchar(500),
        @r3Db       sysname,
        @backuptype  nchar(1),
        @init_cmd_str nvarchar(300)
  /*Check for @init=1 str in the @cmd */
  select @strpos = CHARINDEX( N'@init=1',@oldcmd)
  if @strpos <> 0
  begin
    select @initval = 1
    select @initstr = N'@init=1,'
  end
  else
  begin
    select @initval = 0
    select @initstr = N'@init=0,'
  end
 /*Check for @format=1 str in the @cmd */
  select @strpos = 0
  select @strpos = CHARINDEX( N'@format=1',@oldcmd)
  if @strpos <> 0
  begin
    select @formatval = 1
    select @formatstr = N'@format=1,'
  end
  else
  begin
    select @formatval = 0
    select @formatstr = N'@format=0,'
  end
 /*Check for @unload str in the @cmd */
  select @strpos = 0
  select @strpos = CHARINDEX( N'@unload',@oldcmd)
  if @strpos <> 0
  begin
    select @unloadval = 0
    select @unloadstr = N'@unload=0,'
  end
  else
  begin
    select @unloadval = 1
    select @unloadstr = N'@unload=1,'
  end
  /*Check for @verify str in the @cmd */
  select @strpos = 0
  select @strpos = CHARINDEX( N'@verify',@oldcmd)
  if @strpos <> 0
  begin
    select @verifyval = 0
    select @verifystr = N'@verify=0,'
  end
  else
  begin
    select @verifyval = 1
    select @verifystr = N'@verify=1,'
  end
  /*Check for @expdays str in the @cmd */
  select @tmpcmd = @oldcmd
  select @strpos = CHARINDEX( N'@EXPDAYS=',UPPER(@tmpcmd))
  if @strpos <> 0
  begin
    select @strpos = @strpos + LEN('@EXPDAYS=')
    select @newpos = CHARINDEX(N',',@tmpcmd,@strpos) -1
    select @tmpLen = @newpos - @strpos
    if @tmpLen > 0
    begin
      select @tmp = LTRIM(RTRIM(SUBSTRING(@tmpcmd,@strpos+1,@tmpLen)))
      select @tmpLen = LEN(@tmp)
      if @tmpLen > 0 and @tmpLen < 3
        select @expdaysnum = SUBSTRING(@tmp,1,@tmpLen)
      else
        select @expdaysnum = 27
      select @expdaysstr = N'@expDays='
                          +convert(nvarchar(2),@expdaysnum)
    end
    else
    begin
      select @expdaysstr = N'@expDays=27'
      select @expdaysnum = 27
    end
  end
  else
  begin
    select @expdaysstr = N'@expDays=27'
    select @expdaysnum = 27
  end
 /*get the schema name */
  select @strpos = CHARINDEX( N'.',@oldcmd)
  if @strpos > 0
  begin
    select @newpos = @strpos
    select @strpos = @strpos
    while ( @strpos > 0 and
             SUBSTRING(@oldcmd,@strpos-1,1) <> ' ' and
             SUBSTRING(@oldcmd,@strpos-1,1) <> '.' )
     begin
--       select SUBSTRING(@oldcmd,@strpos-1,1)
       select @strpos = @strpos - 1
     end
     if @newpos > @strpos
       select @schname = LTRIM(RTRIM(convert(nvarchar,SUBSTRING(@oldcmd,
                                         @strpos,@newpos - @strpos))))
     else
       select @schname = ''
   end
   else
     select @schname = ''
 /*Check for @bdev str in the @cmd */
  select @strpos = 0
  select @tmpcmd = @oldcmd
  select @strpos = CHARINDEX( N'@BDEV="',UPPER(@tmpcmd))
  if @strpos <> 0
  begin
    select @strpos = @strpos + LEN(N'@BDEV="')
    /* search for next '"' from the start location */
    select @newpos = CHARINDEX( N'"',@tmpcmd,@strpos)
    if @newpos > @strpos
      select @bdev = convert(nvarchar,SUBSTRING(@tmpcmd,@strpos,
                                         (@newpos - @strpos )))
    else
      select @bdev = ''
   end
   else
     select @bdev = ''
 /*Check for @dblist str in the @cmd */
  select @strpos = 0
  select @newpos = 0
  select @tmpcmd = @oldcmd
  select @strpos = CHARINDEX( '@DBLIST="',UPPER(@tmpcmd))
  if @strpos <> 0
  begin
    select @init_cmd_str = convert(nvarchar(300),
             SUBSTRING(@tmpcmd,1,@strpos-1 ))
    select @strpos = @strpos + LEN(N'@DBLIST="')
    /* search for next '"' from the start location */
    select @newpos = CHARINDEX( N'"',@tmpcmd,@strpos)
    if @newpos > @strpos
      select @dbList = convert(nvarchar,SUBSTRING(@tmpcmd,@strpos,
                                       (@newpos - @strpos )))
    else
     begin
      select @init_cmd_str = ''
      select @dbList = ''
     end
  end
  else
  begin
    select @strpos = CHARINDEX( '@DBNAMES="',UPPER(@tmpcmd))
    if @strpos <> 0
    begin
      select @init_cmd_str = convert(nvarchar(300),
             SUBSTRING(@oldcmd,1,@strpos-1))
      select @strpos = @strpos + LEN(N'@DBNAMES="')
      /* search for next '"' from the start location */
      select @newpos = CHARINDEX( N'"',@tmpcmd,@strpos)
      if @newpos > @strpos
        select @dbList = convert(nvarchar,SUBSTRING(@tmpcmd,@strpos,
                                                (@newpos - @strpos )))
      else
       begin
        select @dbList = ''
        select @init_cmd_str = ''
       end
     end
  end
 /*Check for @r3Db str in the @cmd */
  select @strpos = 0
  select @newpos = 0
  select @tmpcmd = @oldcmd
  select @strpos = CHARINDEX( N'@R3DB="',UPPER(@tmpcmd))
  if @strpos <> 0
  begin
    select @strpos = @strpos + LEN(N'@R3DB="')
    /* search ',' from the start location */
    select @newpos = CHARINDEX( N'"',@tmpcmd,@strpos)
    if @newpos > @strpos
      select @r3Db = convert(nvarchar,SUBSTRING(@tmpcmd,@strpos,
                                         (@newpos - @strpos )))
    else
      select @r3Db = ''
   end
  else
     select @r3Db = ''
 /* search for sp names and set the backup types */
  set @backuptype = N''
  if CHARINDEX(N'sap_backup_databases',@oldcmd) > 0
    select @backuptype = N'F'
  else
  begin
    if CHARINDEX(N'sap_backup_diff_databases',@oldcmd) > 0
      begin
      select @backuptype = N'D'
      select @init_cmd_str =
       replace(@init_cmd_str,N'sap_backup_diff_databases',
                          N'sap_backup_databases')
      end
    else
      if CHARINDEX(N'sap_backup_log',@oldcmd) > 0
      begin
        select @strpos = 0
        select @tmpcmd = @oldcmd
        select @backuptype = N'L'
        select @r3Db = db_name()
        select @dbList = db_name()
        select @strpos = CHARINDEX( N'@R3DB="',UPPER(@tmpcmd))
        if @strpos <> 0
          begin
            select @init_cmd_str = convert(nvarchar(300),
             SUBSTRING(@tmpcmd,1,@strpos-1))
            select @init_cmd_str =
              replace(@init_cmd_str,N'sap_backup_log',
                          N'sap_backup_databases')
         end
      end
  end
  /* Get the bkuptype in the sap_backup_userdb sp */
  if CHARINDEX(N'sap_backup_userdb',@oldcmd) > 0
  begin
    select @r3Db = db_name()
    select @tmpcmd = @oldcmd
    /* set @backuptype = parameter @bkuptype */
    select @strpos = CHARINDEX( N'@BKUPTYPE="',UPPER(@tmpcmd))
    if @strpos <> 0
    begin
      select @strpos = @strpos + LEN(N'@BKUPTYPE="')
      /* search ',' from the start location */
      select @newpos = CHARINDEX( N'"',@tmpcmd,@strpos)
      if @newpos > @strpos
      select @backuptype  = convert(nvarchar,SUBSTRING(@tmpcmd,@strpos,
                                         (@newpos - @strpos )))
    else
      select @backuptype = ''
   end
    select @init_cmd_str =
          replace(@init_cmd_str,N'sap_backup_userdb',
                          N'sap_backup_databases')
  end
  insert into @vars values ( @initstr,   @initval,
                             @formatstr, @formatval,
                             @verifystr, @verifyval,
                             @unloadstr, @unloadval,
                             @expdaysstr,@expdaysnum,
                             @schname, @bdev,
                             @dbList,    @r3Db,
                             @backuptype, @init_cmd_str )
  RETURN
END
 
GO
