USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_copy_indexes]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_copy_indexes]
@old_table sysname,
@new_table sysname,
@ex_result int out
as
begin
declare @create_command varchar(2000)
declare @tabname_search sysname
declare @indexname sysname
declare @indid smallint
declare @delimiter varchar(1)
declare @colpos smallint
declare @colname sysname
declare @status int
declare @col_count_old int
declare @col_count_new int
declare @col_count_both int
declare @index_count int
/* Check if Indexes existing */
select @ex_result=0
select @index_count = count(*) from sysindexes where id =
 object_id(@old_table)
	and StatVersion = 0 and
	indid > 0 and indid < 255 and
	name not like '_WA_Sys%'
if @index_count = 0
	begin
	/* No indexes -> nothing to do */
	select @ex_result = 0
	-- print 'No indexes'
	return
	end
else
	begin
	/* Check if we do have the same structure */
	select @col_count_old = count(*) from syscolumns where
id=object_id(@old_table)
	select @col_count_new = count(*) from syscolumns where
id=object_id(@new_table)
	select @col_count_both = count(*) from syscolumns a, syscolumns b
 where
					a.name = b.name and a.
id=object_id(@old_table) and
					b.id = object_id(@new_table)
	-- print 'STEP 1'
	if (@col_count_old = @col_count_new) and (@col_count_new =
@col_count_both)
		begin
		-- print 'STEP 2'
		select @tabname_search = @old_table
		declare c_table_indexes cursor for
			select indid, name, status from sysindexes where
			id = object_id(@old_table) and StatVersion = 0 and
			indid > 0 and indid < 255 and
			name not like '_WA_Sys%'
		open c_table_indexes
		fetch c_table_indexes into @indid, @indexname, @status
		while @@FETCH_STATUS = 0
			begin
			select @create_command = 'if not exists ( select
name from sysindexes where name = '
						+ '''' + @indexname + ''''
					        + ' and id = ' +
convert(varchar, object_id(@new_table)) + ')'
						+ 'create '
			if @status & 0x2 = 2
				begin
				select @create_command = @create_command + '
 unique '
				end
			if @indid = 1
				begin
				select @create_command = @create_command + '
 clustered '
				end
			select @create_command = @create_command + 'index
[' +  @indexname +
						 '] on [' +  @new_table + ']('
			select @colpos = 1
			while INDEX_COL(@tabname_search, @indid, @colpos)
is not null
				begin
				if @colpos > 1
					begin
					select @create_command =
@create_command + @delimiter
					end
				if INDEX_COL(@tabname_search, @indid,
@colpos) is not null
				begin
					select @create_command =
@create_command +
					INDEX_COL(@tabname_search, @indid,
@colpos)
				end
				select @colpos = @colpos + 1
				end
			select @create_command = @create_command + ')'
			execute(@create_command)
			-- print 'Excuted : ' +  @create_command
			fetch c_table_indexes into @indid, @indexname,
@status
			end
		close c_table_indexes
		deallocate c_table_indexes
		end
	else
		begin
		/* Table Structures are different so stop processing */
		select @ex_result = 1
		-- print 'Wrong Structure'
		end
	end
end
 
GO
