USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFLICENCA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFLICENCA] AS
SELECT CODCOLIGADA, CODSISTEMA, NROSERIE, GETDATE() AS DTHRATUALIZACAO 
FROM   GLICENCA
WHERE  CODSISTEMA='T'
GO
