USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[GETPARAMPERCENT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GETPARAMPERCENT](@CODCOLIGADA INT, @CODEXAME INT, @CODMETODO INT, @CODPARAMETRO INT)
RETURNS INT
AS
BEGIN
	DECLARE @PARAMPERCENT INT;
	DECLARE @PARAM INT;
	SELECT @PARAMPERCENT = PERCPARAMETRO, @PARAM = CODPARAMETRO FROM SZLABPARAMEXAMES
	WHERE CODCOLIGADA = @CODCOLIGADA
	AND CODEXAME = @CODEXAME
	AND CODMETODO = @CODMETODO
	AND CODPARAMETRO = @CODPARAMETRO;
	IF (@PARAMPERCENT IS NOT NULL)
	SET @PARAM = DBO.GETPARAMPERCENT(@CODCOLIGADA, @CODEXAME, @CODMETODO, @PARAMPERCENT);
	RETURN @PARAM;
END
GO
