USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW006]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SAVW006] AS
SELECT A.CODCOLIGADA, A.CODPRESTADOR, A.SEQUENCIAL, A.CODPRESTPRINC, A.CODCOMPRADOR,
       A.NUMEROREMESSA, A.STATUS, A.GRUPOGASTO, A.CODITEM, A.NUMEROCONTA,
       A.SEQUENCIALCONTA, A.SEQDEBITO, A.DATALANC, A.COMPLEMENTO, A.VALORORIGINAL,
       A.VALORORIGINALUPD, A.VALORBASECALCULO, A.VALORBASECALCULOUPD, A.VALORDESCONTO,
       A.VALORDESCONTOUPD, A.VALORREPASSE, A.VALORREPASSEUPD, A.CODREPASSE, A.SEQREP,
       A.TIPOPRESTADOR, A.CODFUNCAOMEDICO, A.ESTORNADO, A.DATAAJUSTE, A.RESPAJUSTE,
       A.MOTIVOAJUSTE, A.VALORPAGO, A.DATAPAGTO, A.GLOSAEFETUADA, A.SITUACAOPAGTO,
       B.DISCRIMINACAOMATMED DISCRIMINACAOHM, (QUANTIDADEMATMED - COALESCE(QTDDEVOLVIDA, 0)) QUANTIDADEHM, 0.0000 TOTALCH,
       0.0000 VALORCHHM, VALORTOTALMATMED VALORTOTALHM, '' HONORARIOFORA, NULL NROFATURAHM,
       C.NUMEROREMESSA NREMESSAPAC, E.SIGLA SIGLA, G.RAZAOSOCIAL NOMEPRESTADOR, C.STATUSAUDITORIA2 REVISADA,
       NULL CODGRUPO, A.TIPO, C.SEQPARCIAL, H.NUMEROFATURA, A.CODPRESTADOR AS CODEXECUTANTE,
       I.IDUNIDATEND, I.DESCRICAO AS DESCUNIDATEND,
		C.IDUNIDFAT, H.DATAINIPERIODO, E.TIPOPGRUPOC
  FROM SZCONTROLREPASSE A (NOLOCK)
  LEFT JOIN SZFATURACONVENIO H (NOLOCK)
    ON (H.CODCOLIGADA = A.CODCOLIGADA AND H.CODPRESTADOR = A.CODPRESTPRINC AND
       H.CODCOMPRADOR = A.CODCOMPRADOR AND
       H.NUMEROREMESSA = A.NUMEROREMESSA), SZATENDMATMED B (NOLOCK),
 SZPARCIALATEND C (NOLOCK), SZCADGERAL E (NOLOCK), SZCADGERAL G (NOLOCK), SZUNIDATEND I (NOLOCK)
 WHERE A.CODCOLIGADA = B.CODCOLIGADA
   AND A.NUMEROCONTA = B.NUMEROCONTA
   AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA
   AND A.SEQDEBITO = B.SEQDEBITOMATMED
   AND A.SEQPARCIAL = B.SEQPARCIAL
   AND A.CODCOLIGADA = C.CODCOLIGADA
   AND A.NUMEROCONTA = C.NUMEROCONTA
   AND A.SEQUENCIALCONTA = C.SEQUENCIALCONTA
   AND A.SEQPARCIAL = C.SEQPARCIAL
   AND A.GRUPOGASTO IN ('05', '06', '07', '08')
   AND A.ESTORNADO IS NULL
   AND E.CODCOLIGADA = A.CODCOLIGADA
   AND E.CODGERAL = A.CODCOMPRADOR
   AND G.CODCOLIGADA = A.CODCOLIGADA
   AND G.CODGERAL = A.CODPRESTADOR
   AND I.CODCOLIGADA = C.CODCOLIGADA
   AND I.IDUNIDATEND = C.IDUNIDATEND
   AND ((C.STATUS <> 'C') OR (C.STATUS IS NULL))
GO
