USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[CRM_HIERARQUIA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CRM_HIERARQUIA] AS

SELECT 
	CODCOLIGADA, 
	CHAPA, 
	NOME, 
	CODFUNCAO, 
	CODSECAO 
	/*Nivel_6_Nome Nivel_6, 
	Nivel_5_Nome Nivel_5, 
	Nivel_4_Nome Nivel_4, 
	Nivel_3_Nome Nivel_3, 
	Nivel_2_Nome Nivel_2, 
	Nivel_1_Nome Nivel_1*/
	,(CASE WHEN SUBSTRING(Nivel_1_Nome,1,9) = CHAPA THEN NULL         ELSE Nivel_6_Nome END) Nivel_6
	,(CASE WHEN SUBSTRING(Nivel_1_Nome,1,9) = CHAPA THEN Nivel_6_Nome ELSE Nivel_5_Nome END) Nivel_5
	,(CASE WHEN SUBSTRING(Nivel_1_Nome,1,9) = CHAPA THEN Nivel_5_Nome ELSE Nivel_4_Nome END) Nivel_4
	,(CASE WHEN SUBSTRING(Nivel_1_Nome,1,9) = CHAPA THEN Nivel_4_Nome ELSE Nivel_3_Nome END) Nivel_3
	,(CASE WHEN SUBSTRING(Nivel_1_Nome,1,9) = CHAPA THEN Nivel_3_Nome ELSE Nivel_2_Nome END) Nivel_2
	,(CASE WHEN SUBSTRING(Nivel_1_Nome,1,9) = CHAPA THEN Nivel_2_Nome ELSE Nivel_1_Nome END) Nivel_1
FROM(

		/*---------NIVEL 6-------MOSTRA DESCRIÇÕES DO NIVEL 1,2,3,4,5,6 E COD DO NIVEL 7-----------------------------------------------------------*/
		SELECT CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO, Nivel_1_Nome, Nivel_2_Nome, Nivel_3_Nome, Nivel_4_Nome, Nivel_5_Nome, Nivel_6_ID
		,(SELECT Q.CHAPA FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND K.Nivel_6_ID = Q.id_hierarquia) Nivel_6_Chapa
		,ISNULL((SELECT R.CHAPA + ' || ' + R.NOME  FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND K.Nivel_6_ID = Q.id_hierarquia),'' ) + 
				(SELECT ' || ' + T.DESCRICAO FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = K.CODCOLIGADA AND S.ID = K.Nivel_6_ID) COLLATE Latin1_General_CI_AI Nivel_6_Nome
		,(SELECT S.id_hierarquia FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.COLIGADA = K.CODCOLIGADA AND S.ID = K.Nivel_6_ID) Nivel_7_ID
		FROM(
		/*---------NIVEL 5-------MOSTRA DESCRIÇÕES DO NIVEL 1, 2, 3, 4, 5 E COD DO NIVEL 6---------------------------------------------------------*/
				SELECT CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO, Nivel_1_Nome, Nivel_2_Nome, Nivel_3_Nome, Nivel_4_Nome, Nivel_5_ID
				,(SELECT Q.CHAPA FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND W.Nivel_5_ID = Q.id_hierarquia) Nivel_5_Chapa
				,(SELECT R.CHAPA + ' || ' + R.NOME  FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND W.Nivel_5_ID = Q.id_hierarquia) + 
					(SELECT ' || ' + T.DESCRICAO FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = W.CODCOLIGADA AND S.ID = W.Nivel_5_ID) COLLATE Latin1_General_CI_AI Nivel_5_Nome
				,(SELECT S.id_hierarquia FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.COLIGADA = W.CODCOLIGADA AND S.ID = W.Nivel_5_ID) Nivel_6_ID
				FROM(
		/*---------NIVEL 4-------MOSTRA DESCRIÇÕES DO NIVEL 1, 2, 3, 4 E COD DO NIVEL 5------------------------------------------------------------*/
						SELECT CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO, Nivel_1_Nome, Nivel_2_Nome, Nivel_3_Nome, Nivel_4_ID
						,(SELECT Q.CHAPA FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND Z.Nivel_4_ID = Q.id_hierarquia) Nivel_4_Chapa
						,(SELECT R.CHAPA + ' || ' + R.NOME  FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND Z.Nivel_4_ID = Q.id_hierarquia) + 
							(SELECT ' || ' + T.DESCRICAO FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = Z.CODCOLIGADA AND S.ID = Z.Nivel_4_ID)COLLATE Latin1_General_CI_AI  Nivel_4_Nome
						,(SELECT S.id_hierarquia FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.COLIGADA = Z.CODCOLIGADA AND S.ID = Z.Nivel_4_ID) Nivel_5_ID
						FROM(
		/*---------NIVEL 3---------MOSTRA DESCRIÇÕES DO NIVEL 1, 2, 3 E COD DO NIVEL 4-------------------------------------------------------------*/
								SELECT CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO, Nivel_1_Nome, Nivel_2_Nome, Nivel_3_ID
								,(SELECT Q.CHAPA FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND Y.Nivel_3_ID = Q.id_hierarquia) Nivel_3_Chapa
								,(SELECT R.CHAPA + ' || ' + R.NOME  FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND Y.Nivel_3_ID = Q.id_hierarquia) + 
									(SELECT ' || ' + T.DESCRICAO FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = Y.CODCOLIGADA AND S.ID = Y.Nivel_3_ID) COLLATE Latin1_General_CI_AI  Nivel_3_Nome
								,(SELECT S.id_hierarquia FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.COLIGADA = Y.CODCOLIGADA AND S.ID = Y.Nivel_3_ID) Nivel_4_ID
								FROM(
		/*---------NIVEL 2------------MOSTRA DESCRIÇÕES DO NIVEL 1, 2 E COD DO NIVEL 3-------------------------------------------------------------*/
										SELECT CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO, Nivel_1 Nivel_1_Chapa
										,(SELECT CHAPA + ' || ' + NOME FROM PFUNC R WHERE X.CODCOLIGADA = R.CODCOLIGADA AND X.Nivel_1 COLLATE Latin1_General_CI_AI = R.CHAPA) + ' - ' + GrupoCargo_1 COLLATE Latin1_General_CI_AI  Nivel_1_Nome
							--,CASE WHEN NIVEL_1 COLLATE Latin1_General_CI_AI = CHAPA THEN NULL ELSE (SELECT NOME FROM PFUNC R WHERE X.CODCOLIGADA = R.CODCOLIGADA AND X.Nivel_1 COLLATE Latin1_General_CI_AI = R.CHAPA) + ' - ' + GrupoCargo_1 COLLATE Latin1_General_CI_AI END  Nivel_1_Nome
										,Nivel_Sup_1 Nivel_2_ID
										,(SELECT Q.CHAPA FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND X.Nivel_Sup_1 = Q.id_hierarquia) Nivel_2_Chapa
										,(SELECT R.CHAPA + ' || ' + R.NOME FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND X.Nivel_Sup_1 = Q.id_hierarquia) + 
											(SELECT ' || ' + T.DESCRICAO FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = X.CODCOLIGADA AND S.ID = X.Nivel_Sup_1) COLLATE Latin1_General_CI_AI Nivel_2_Nome
										,(SELECT S.id_hierarquia FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.COLIGADA = X.CODCOLIGADA AND S.ID = X.Nivel_Sup_1) Nivel_3_ID
										FROM(
		/*---------NIVEL 1-----------------MOSTRA APENAS CODIGOS DO NIVEL 1------------------------------------------------------------------------*/
												SELECT 
												  CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO
												   
												  ,(SELECT O.CHAPA
												  		--'FT_'+convert(VARCHAR,M.ID)+' - '+'HFT_'+convert(VARCHAR,N.id_hierarquia)+' - '+ 'HC_'+O.chapa + ' - ' +'H_nivel'+convert(VARCHAR,P.NIVEL)+' - '+'H_N_Sup'+convert(VARCHAR,P.id_hierarquia)
												  		FROM 
												  		  PortalRHPRD..zcrmportal_frente_trabalho M, 
												  		  PortalRHPRD..zcrmportal_hierarquia_frentetrabalho N,
												  		  PortalRHPRD..zcrmportal_hierarquia_chapa O,
												  		  PortalRHPRD..zcrmportal_hierarquia P,
												  		  PortalRHPRD..zcrmportal_hierarquia_grupocargo T
												  		  
												  		WHERE 
												  		      A.CODCOLIGADA   = M.COLIGADA
												          AND A.CODSECAO COLLATE Latin1_General_CI_AI = REPLICATE('0', 3 - LEN(M.filial)) + RTrim(M.filial)+'.'+M.centrocusto+'.'+M.codigo 
												          AND M.ID            = N.id_frentetrabalho
												          AND M.COLIGADA      = O.COLIGADA
												          AND N.id_hierarquia = O.id_hierarquia
												          AND M.COLIGADA      = P.COLIGADA
												          AND N.id_hierarquia = P.id
												          AND P.COLIGADA      = T.COLIGADA 
												          AND P.ID_GRUPOCARGO = T.ID ) Nivel_1
												   
												   ,(SELECT ' || ' + T.DESCRICAO
												  		--'FT_'+convert(VARCHAR,M.ID)+' - '+'HFT_'+convert(VARCHAR,N.id_hierarquia)+' - '+ 'HC_'+O.chapa + ' - ' +'H_nivel'+convert(VARCHAR,P.NIVEL)+' - '+'H_N_Sup'+convert(VARCHAR,P.id_hierarquia)
												  		FROM 
												  		  PortalRHPRD..zcrmportal_frente_trabalho M, 
												  		  PortalRHPRD..zcrmportal_hierarquia_frentetrabalho N,
												  		  PortalRHPRD..zcrmportal_hierarquia_chapa O,
												  		  PortalRHPRD..zcrmportal_hierarquia P,
												  		  PortalRHPRD..zcrmportal_hierarquia_grupocargo T
												  		  
												  		WHERE 
												  		      A.CODCOLIGADA   = M.COLIGADA
												          AND A.CODSECAO COLLATE Latin1_General_CI_AI = REPLICATE('0', 3 - LEN(M.filial)) + RTrim(M.filial)+'.'+M.centrocusto+'.'+M.codigo 
												          AND M.ID            = N.id_frentetrabalho
												          AND M.COLIGADA      = O.COLIGADA
												          AND N.id_hierarquia = O.id_hierarquia
												          AND M.COLIGADA      = P.COLIGADA
												          AND N.id_hierarquia = P.id
												          AND P.COLIGADA      = T.COLIGADA 
												          AND P.ID_GRUPOCARGO = T.ID ) GrupoCargo_1
				
												
												  ,(SELECT  P.id_hierarquia
												  		--'FT_'+convert(VARCHAR,M.ID)+' - '+'HFT_'+convert(VARCHAR,N.id_hierarquia)+' - '+ 'HC_'+O.chapa + ' - ' +'H_nivel'+convert(VARCHAR,P.NIVEL)+' - '+'H_N_Sup'+convert(VARCHAR,P.id_hierarquia)
												  		FROM 
												  		  PortalRHPRD..zcrmportal_frente_trabalho M, 
												  		  PortalRHPRD..zcrmportal_hierarquia_frentetrabalho N,
												  		  PortalRHPRD..zcrmportal_hierarquia_chapa O,
												  		  PortalRHPRD..zcrmportal_hierarquia P
												  		WHERE 
												  		      A.CODCOLIGADA   = M.COLIGADA
												          AND A.CODSECAO COLLATE Latin1_General_CI_AI = REPLICATE('0', 3 - LEN(M.filial)) + RTrim(M.filial)+'.'+M.centrocusto+'.'+M.codigo 
												          AND M.ID            = N.id_frentetrabalho
												          AND M.COLIGADA      = O.COLIGADA
												          AND N.id_hierarquia = O.id_hierarquia
												          AND M.COLIGADA      = P.COLIGADA
												          AND N.id_hierarquia = P.id) Nivel_Sup_1
										
												   
												FROM 
												  PFUNC A
											   	--WHERE CODCOLIGADA = 1 AND A.CHAPA IN ('002001252','002001192','001000240','001002489','001001885','001001487')
										)X
								)Y		
						)Z
				)W
		)K
)XX
GO
