USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tf_inpars]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tf_inpars]
       ( @DBSCHEMA  sysname ,
         @OBJNAME   varchar(64) )
RETURNS  @ergebnis TABLE
         (COLNAME    varchar(64),
          COLTYPE    varchar(64),
          COLLENGTH  smallint   ,
          COLPREC    smallint   ,
          COLSCALE   int        ,
          COLID      smallint   ,
          INITIO     char(1)    ,
          DEFWERT    varchar(64))
AS
BEGIN
-- syscolumns
  declare  @full_name  sysname
  declare  @initial  TABLE
    ( OBJNAME  varchar(64) ,
      COLNAME  varchar(64) ,
      INITIO   char(1)     ,
      DEFWERT  varchar(64) )
  INSERT @initial
     SELECT 'sap_p_snapshot', '@obj_source', 'S', ' '
       UNION ALL
     SELECT 'sap_p_snapshot', '@cclass', 'X', 'E'
       UNION ALL
     SELECT 'sap_p_snapshot', '@since', 'X', '0'
       UNION ALL
     SELECT 'sap_p_now', '@cclass', 'X', 'E'
       UNION ALL
     SELECT 'sap_p_now', '@culture', 'C', ',.LF'
       UNION ALL
     SELECT 'sap_memusage', '@top', 'X', '50'
       UNION ALL
     SELECT 'sap_tf_outcols', '@DBSCHEMA', 'S', ' '
       UNION ALL
     SELECT 'sap_tf_qstats', '@top', 'X', '15'
       UNION ALL
     SELECT 'sap_tf_qstats', '@orderby', 'X', 'total_logical_reads'
       UNION ALL
     SELECT 'sap_tr_events', '@eventclass', 'X', '.'
       UNION ALL
     SELECT 'sap_tf_loglist', '@schema', 'S', ' '
       UNION ALL
     SELECT 'sap_get_mssdeadlck', '@schema_name', 'S', ' '
       UNION ALL
     SELECT 'sap_get_msqsnap', '@schema_name', 'S', ' '
       UNION ALL
     SELECT 'sap_tf_logdetail', '@schema', 'S', ' '
       UNION ALL
     SELECT 'sap_query_stats', '@sortby','X', '11'
       UNION ALL
     SELECT 'sap_query_stats', '@nrows','X', '50'
       UNION ALL
     SELECT 'sap_coll_pivot','@link_id','X','O1'
       UNION ALL
     SELECT 'sap_coll_pivot','@culture','C',',.LF'
       UNION ALL
     SELECT 'sap_tf_sesconreq', '@actReqsOnly','X', 'N'
       UNION ALL
     SELECT 'sap_tf_sesconreq', '@engConnsInc','X', 'N'
       UNION ALL
     SELECT 'sap_tf_sesconreq', '@oneLogin','X', 'N'
       UNION ALL
     SELECT 'sap_tf_sesconreq', '@oneHost','X', 'N'
       UNION ALL
     SELECT 'sap_tf_sesconreq', '@oneWP','X', 'N'
  if @DBSCHEMA = '' or @DBSCHEMA = ' ' or @DBSCHEMA IS NULL
    SET @full_name = @OBJNAME
  else
    SET @full_name = @DBSCHEMA + '.' + @OBJNAME
  INSERT @ergebnis
    SELECT SUBSTRING(a.name, 2, 64) as COLNAME ,
           b.name    as COLTYPE   ,
           a.length  as COLLENGTH ,
           a.prec    as COLPREC   ,
           a.scale   as COLSCALE  ,
           a.colid   as COLID     ,
           i.INITIO  as INITIO    ,
           i.DEFWERT as DEFWERT
      FROM syscolumns a JOIN systypes b
        ON ( a.xtype    = b.xtype  and
             a.usertype = b.usertype )
        LEFT OUTER JOIN @initial i
        ON ( i.COLNAME = a.name AND
             i.OBJNAME  = @OBJNAME )
      WHERE
            a.id = object_id(@full_name)
        AND
            a.name like '@%'
  RETURN
END
 
GO
