USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPARCELACOMPONENTE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*ROBSON ALEXANDRE DE OLIVEIRA - SG.2016.07_02 - OC.:CPTIN001-95 - 15/07/2016 VERSAO.: 12.1.12 - EQUIPE:INOV  */
CREATE VIEW [dbo].[XPARCELACOMPONENTE] AS
  WITH
  XCOMPONENTE_IDCAMPO
  AS (
    SELECT FLANINTEGRACAODEF.CODCOLIGADA,
           FLANINTEGRACAODEF.IDCAMPO,
           XCOMPONENTE.COD_COMPN,
           XCOMPONENTE.COD_TIPO_COMPN,
           XCOMPONENTE.TIPOENTREGACORRECAO,
           FLANINTEGRACAODEF.ORDEM,
           FLANINTEGRACAODEF.ACAO,
           CASE FLANINTEGRACAODEF.ACAO
             WHEN 1 THEN 1
             WHEN 2 THEN -1
                    ELSE 0
           END SINAL
    FROM FLANINTEGRACAODEF (NOLOCK) JOIN
         XCOMPONENTEVRINTEGRACAO (NOLOCK)
         ON (XCOMPONENTEVRINTEGRACAO.CODCOLIGADA = FLANINTEGRACAODEF.CODCOLIGADA) AND
            (XCOMPONENTEVRINTEGRACAO.IDCAMPO = FLANINTEGRACAODEF.IDCAMPO) JOIN
         XCOMPONENTE (NOLOCK)
         ON (XCOMPONENTE.COD_COMPN = XCOMPONENTEVRINTEGRACAO.CODCOMPN)
  ),
  XLANBAIXA
  AS (
       SELECT
         XVENDAPARCELA.CODCOLIGADA,
         XVENDAPARCELA.NUMVENDA,
         XVENDAPARCELA.CODGRUPO,
         XVENDAPARCELA.CODTIPOPARC,
         XVENDAPARCELA.NUMPARC,
         XVENDAPARCELA.CODCOLLAN,
         XVENDAPARCELA.IDLAN,
         SUM(FLANBAIXA.VALORORIGINAL) AS VALORORIGINALBX,
         SUM(FLANBAIXA.VALORDESCONTO) AS VALORDESCONTOBX,
         SUM(FLANBAIXA.VALORBAIXA) AS VALORBAIXABX,
         SUM(FLANBAIXA.VALORMULTA) AS VALORMULTABX,
         SUM(FLANBAIXA.VALORJUROS) AS VALORJUROSBX,
         MAX(FLANBAIXA.RECCREATEDBY) AS RECCREATEDBY,
         MAX(FLANBAIXA.RECCREATEDON) AS RECCREATEDON,
         MAX(FLANBAIXA.RECMODIFIEDBY) AS RECMODIFIEDBY,
         MAX(FLANBAIXA.RECMODIFIEDON) AS RECMODIFIEDON
       FROM XVENDAPARCELA (NOLOCK) JOIN
            FLANBAIXA (NOLOCK)
            ON (XVENDAPARCELA.CODCOLLAN = FLANBAIXA.CODCOLIGADA) AND
               (XVENDAPARCELA.IDLAN = FLANBAIXA.IDLAN)
       WHERE (FLANBAIXA.STATUS IN (0, 4))
       GROUP BY
         XVENDAPARCELA.CODCOLIGADA,
         XVENDAPARCELA.NUMVENDA,
         XVENDAPARCELA.CODGRUPO,
         XVENDAPARCELA.CODTIPOPARC,
         XVENDAPARCELA.NUMPARC,
         XVENDAPARCELA.CODCOLLAN,
         XVENDAPARCELA.IDLAN
     ) ,
  XLANBAIXA_MULTAJUROS
  AS (
       SELECT
         XVENDAPARCELA.CODCOLIGADA,
         XVENDAPARCELA.NUMVENDA,
         XVENDAPARCELA.CODGRUPO,
         XVENDAPARCELA.CODTIPOPARC,
         XVENDAPARCELA.NUMPARC,
         XVENDAPARCELA.CODCOLLAN,
         XVENDAPARCELA.IDLAN,
         SUM(FLANBAIXA.VALORMULTA) AS VALORMULTABX,
         SUM(FLANBAIXA.VALORJUROS) AS VALORJUROSBX,
         MAX(FLANBAIXA.RECCREATEDBY) AS RECCREATEDBY,
         MAX(FLANBAIXA.RECCREATEDON) AS RECCREATEDON,
         MAX(FLANBAIXA.RECMODIFIEDBY) AS RECMODIFIEDBY,
         MAX(FLANBAIXA.RECMODIFIEDON) AS RECMODIFIEDON
       FROM XVENDAPARCELA (NOLOCK) JOIN
            FLANBAIXA (NOLOCK)
            ON (XVENDAPARCELA.CODCOLLAN = FLANBAIXA.CODCOLIGADA) AND
               (XVENDAPARCELA.IDLAN = FLANBAIXA.IDLAN)
       WHERE (FLANBAIXA.STATUS IN (0, 4))
       GROUP BY
         XVENDAPARCELA.CODCOLIGADA,
         XVENDAPARCELA.NUMVENDA,
         XVENDAPARCELA.CODGRUPO,
         XVENDAPARCELA.CODTIPOPARC,
         XVENDAPARCELA.NUMPARC,
         XVENDAPARCELA.CODCOLLAN,
         XVENDAPARCELA.IDLAN
     ) ,
  XLANBAIXAINTEGRACAO
  AS (
       SELECT
         XVENDAPARCELA.CODCOLIGADA,
         XVENDAPARCELA.NUMVENDA,
         XVENDAPARCELA.CODGRUPO,
         XVENDAPARCELA.CODTIPOPARC,
         XVENDAPARCELA.NUMPARC,
         XVENDAPARCELA.CODCOLLAN,
         XVENDAPARCELA.IDLAN,
         FLANBAIXAINTEGRACAO.IDCAMPO,
         SUM(FLANBAIXAINTEGRACAO.VALOR) AS VR_BAIXA
       FROM XVENDAPARCELA (NOLOCK) JOIN
            FLANBAIXA (NOLOCK)
            ON (XVENDAPARCELA.CODCOLLAN = FLANBAIXA.CODCOLIGADA) AND
               (XVENDAPARCELA.IDLAN = FLANBAIXA.IDLAN)
            JOIN
            FLANBAIXAINTEGRACAO (NOLOCK)
            ON (FLANBAIXAINTEGRACAO.CODCOLIGADA = FLANBAIXA.CODCOLIGADA) AND
               (FLANBAIXAINTEGRACAO.IDLAN = FLANBAIXA.IDLAN) AND
               (FLANBAIXAINTEGRACAO.IDBAIXA = FLANBAIXA.IDBAIXA)
       WHERE (FLANBAIXA.STATUS IN (0, 4))
       GROUP BY
         XVENDAPARCELA.CODCOLIGADA,
         XVENDAPARCELA.NUMVENDA,
         XVENDAPARCELA.CODGRUPO,
         XVENDAPARCELA.CODTIPOPARC,
         XVENDAPARCELA.NUMPARC,
         XVENDAPARCELA.CODCOLLAN,
         XVENDAPARCELA.IDLAN,
         FLANBAIXAINTEGRACAO.IDCAMPO
     ),
  XLANINTEGRACAO
  AS (
       SELECT
         XVENDAPARCELA.CODCOLIGADA,
         XVENDAPARCELA.NUMVENDA,
         XVENDAPARCELA.CODGRUPO,
         XVENDAPARCELA.CODTIPOPARC,
         XVENDAPARCELA.NUMPARC,
         XVENDAPARCELA.CODCOLLAN,
         XVENDAPARCELA.IDLAN,
         FLANINTEGRACAO.IDCAMPO,
         FLANINTEGRACAO.VALOR * XCOMPONENTE_IDCAMPO.SINAL AS VR_COMPN,
         FLANINTEGRACAO.RECCREATEDBY,
         FLANINTEGRACAO.RECCREATEDON,
         FLANINTEGRACAO.RECMODIFIEDBY,
         FLANINTEGRACAO.RECMODIFIEDON
       FROM XVENDAPARCELA (NOLOCK) JOIN
            FLANINTEGRACAO (NOLOCK)
            ON (XVENDAPARCELA.CODCOLLAN = FLANINTEGRACAO.CODCOLIGADA) AND
               (XVENDAPARCELA.IDLAN = FLANINTEGRACAO.IDLAN) JOIN
            XCOMPONENTE_IDCAMPO
            ON (XCOMPONENTE_IDCAMPO.CODCOLIGADA = FLANINTEGRACAO.CODCOLIGADA) AND
               (XCOMPONENTE_IDCAMPO.IDCAMPO = FLANINTEGRACAO.IDCAMPO)
     ),
  XCOMPONENTE_MULTAJUROS
  AS (
       SELECT XCOMPONENTE_IDCAMPO.*
       FROM XCOMPONENTE_IDCAMPO
       WHERE (XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN IN (12, 13)) AND
              XCOMPONENTE_IDCAMPO.COD_COMPN IN (SELECT MIN(C2.COD_COMPN)
                                                FROM XCOMPONENTE_IDCAMPO C2
                                                WHERE C2.CODCOLIGADA = XCOMPONENTE_IDCAMPO.CODCOLIGADA AND
                                                      C2.COD_TIPO_COMPN = XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
                                                )
     ),
  XLANINTEGRACAO_MULTAJUROS
  AS (
    SELECT
      XVENDAPARCELA.CODCOLIGADA,
      XVENDAPARCELA.NUMVENDA,
      XVENDAPARCELA.CODGRUPO,
      XVENDAPARCELA.CODTIPOPARC,
      XVENDAPARCELA.NUMPARC,
      XVENDAPARCELA.CODCOLLAN,
      XVENDAPARCELA.IDLAN,
      XCOMPONENTE_MULTAJUROS.IDCAMPO,
      XCOMPONENTE_MULTAJUROS.COD_COMPN,
      XCOMPONENTE_MULTAJUROS.ORDEM,
      CASE (XCOMPONENTE_MULTAJUROS.COD_TIPO_COMPN)
      WHEN 12 THEN XLANBAIXA_MULTAJUROS.VALORJUROSBX
      WHEN 13 THEN XLANBAIXA_MULTAJUROS.VALORMULTABX
      END AS VALOR,
      XLANBAIXA_MULTAJUROS.RECCREATEDBY,
      XLANBAIXA_MULTAJUROS.RECCREATEDON,
      XLANBAIXA_MULTAJUROS.RECMODIFIEDBY,
      XLANBAIXA_MULTAJUROS.RECMODIFIEDON
     FROM XVENDAPARCELA (NOLOCK) JOIN
          XLANBAIXA_MULTAJUROS
          ON (XVENDAPARCELA.CODCOLIGADA = XLANBAIXA_MULTAJUROS.CODCOLIGADA) AND
             (XVENDAPARCELA.NUMVENDA = XLANBAIXA_MULTAJUROS.NUMVENDA) AND
             (XVENDAPARCELA.CODGRUPO = XLANBAIXA_MULTAJUROS.CODGRUPO) AND
             (XVENDAPARCELA.CODTIPOPARC = XLANBAIXA_MULTAJUROS.CODTIPOPARC) AND
             (XVENDAPARCELA.NUMPARC = XLANBAIXA_MULTAJUROS.NUMPARC) AND
             (XVENDAPARCELA.CODCOLLAN = XLANBAIXA_MULTAJUROS.CODCOLLAN) AND
             (XVENDAPARCELA.IDLAN = XLANBAIXA_MULTAJUROS.IDLAN)
          JOIN
          XCOMPONENTE_MULTAJUROS
          ON (XVENDAPARCELA.CODCOLLAN = XCOMPONENTE_MULTAJUROS.CODCOLIGADA)
     )
  SELECT
    XVENDAPARCELA.CODCOLIGADA,
    XVENDAPARCELA.NUMVENDA AS NUM_VENDA,
    XVENDAPARCELA.CODGRUPO AS COD_GRUPO,
    XVENDAPARCELA.NUMPARC AS NUM_PARC,
    XVENDAPARCELA.CODTIPOPARC AS COD_TIPO_PARC,
    XCOMPONENTE_IDCAMPO.COD_COMPN,
    XVENDAPARCELA.CODCOLLAN,
    XVENDAPARCELA.IDLAN,
    (CASE WHEN XVENDAPARCELA.CODTIPOPARC = 3 AND XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN IN (1, 2, 50, 103)
          THEN DATEADD(MONTH, -1, FLAN.DATAVENCIMENTO)
          ELSE FLAN.DATAVENCIMENTO
     END) AS DAT_BASE,
    COALESCE(CASE WHEN XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN IN (1, 2, 50, 103)
          THEN FLAN.VALORORIGINAL
          ELSE XLANINTEGRACAO.VR_COMPN
     END, 0) AS VR_COMPN,
    COALESCE(CASE WHEN XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN IN (1, 2, 50, 103)
          THEN XLANBAIXA.VALORORIGINALBX
          ELSE XLANBAIXAINTEGRACAO.VR_BAIXA
     END, 0) AS VR_BAIXA,
    CAST(0 AS INT) AS ANT_VR_COMPN,
    (CASE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
     WHEN 1 THEN DBO.XVALORPARCELACOMPONENTE(XVENDAPARCELA.CODCOLLAN, XVENDAPARCELA.IDLAN, 4, 0)
     WHEN 2 THEN DBO.XVALORPARCELACOMPONENTE(XVENDAPARCELA.CODCOLLAN, XVENDAPARCELA.IDLAN, 4, 0)
     ELSE 0
     END) AS VRCMANTES,
    (CASE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
     WHEN 1 THEN DBO.XVALORPARCELACOMPONENTE(XVENDAPARCELA.CODCOLLAN, XVENDAPARCELA.IDLAN, 4, 1)
     WHEN 2 THEN DBO.XVALORPARCELACOMPONENTE(XVENDAPARCELA.CODCOLLAN, XVENDAPARCELA.IDLAN, 4, 1)
     ELSE 0
     END) AS VRCMAPOS,
    (CASE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
     WHEN 1 THEN DBO.XVALORPARCELACOMPONENTE(XVENDAPARCELA.CODCOLLAN, XVENDAPARCELA.IDLAN, 3, 0)
     WHEN 2 THEN DBO.XVALORPARCELACOMPONENTE(XVENDAPARCELA.CODCOLLAN, XVENDAPARCELA.IDLAN, 3, 0)
     ELSE 0
     END) AS VRJUROSANTES,
    (CASE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
     WHEN 1 THEN DBO.XVALORPARCELACOMPONENTE(XVENDAPARCELA.CODCOLLAN, XVENDAPARCELA.IDLAN, 3, 1)
     WHEN 2 THEN DBO.XVALORPARCELACOMPONENTE(XVENDAPARCELA.CODCOLLAN, XVENDAPARCELA.IDLAN, 3, 1)
     ELSE 0
     END) AS VRJUROSAPOS,
    CAST(COALESCE(XCOMPONENTE_IDCAMPO.ORDEM, 0) AS INT) AS PRIORIDADEBAIXA,
    CAST(NULL AS INT) AS IDOPERACAO,
    XVENDAPARCELA.CODSITOPRL AS COD_SIT_OPRL,
    CAST(NULL AS VARCHAR(MAX)) AS MEMOCALCULO,
    XLANINTEGRACAO.RECMODIFIEDBY AS COD_PESS_ULT_MNT,
    XLANINTEGRACAO.RECMODIFIEDON AS DAT_ULT_MNT,
    XLANINTEGRACAO.RECCREATEDBY AS RECCREATEDBY,
    XLANINTEGRACAO.RECCREATEDON AS RECCREATEDON,
    XLANINTEGRACAO.RECMODIFIEDBY AS RECMODIFIEDBY,
    XLANINTEGRACAO.RECMODIFIEDON AS RECMODIFIEDON
  FROM XVENDAPARCELA (NOLOCK)
       JOIN
       FLAN (NOLOCK)
       ON FLAN.CODCOLIGADA = XVENDAPARCELA.CODCOLLAN AND
          FLAN.IDLAN = XVENDAPARCELA.IDLAN
       JOIN
       XLANINTEGRACAO
       ON XLANINTEGRACAO.CODCOLIGADA = XVENDAPARCELA.CODCOLIGADA AND
          XLANINTEGRACAO.NUMVENDA = XVENDAPARCELA.NUMVENDA AND
          XLANINTEGRACAO.CODGRUPO = XVENDAPARCELA.CODGRUPO AND
          XLANINTEGRACAO.CODTIPOPARC = XVENDAPARCELA.CODTIPOPARC AND
          XLANINTEGRACAO.NUMPARC = XVENDAPARCELA.NUMPARC AND
          XLANINTEGRACAO.CODCOLLAN = XVENDAPARCELA.CODCOLLAN AND
          XLANINTEGRACAO.IDLAN = XVENDAPARCELA.IDLAN
       JOIN
       XCOMPONENTE_IDCAMPO
       ON XCOMPONENTE_IDCAMPO.CODCOLIGADA = XLANINTEGRACAO.CODCOLIGADA AND
          XCOMPONENTE_IDCAMPO.IDCAMPO = XLANINTEGRACAO.IDCAMPO
       LEFT JOIN
       XLANBAIXA
       ON (XVENDAPARCELA.CODCOLIGADA = XLANBAIXA.CODCOLIGADA) AND
          (XVENDAPARCELA.NUMVENDA = XLANBAIXA.NUMVENDA) AND
          (XVENDAPARCELA.CODGRUPO = XLANBAIXA.CODGRUPO) AND
          (XVENDAPARCELA.CODTIPOPARC = XLANBAIXA.CODTIPOPARC) AND
          (XVENDAPARCELA.NUMPARC = XLANBAIXA.NUMPARC) AND
          (XVENDAPARCELA.CODCOLLAN = XLANBAIXA.CODCOLLAN) AND
          (XVENDAPARCELA.IDLAN = XLANBAIXA.IDLAN)
       LEFT JOIN
       XLANBAIXAINTEGRACAO
       ON (XVENDAPARCELA.CODCOLIGADA = XLANBAIXAINTEGRACAO.CODCOLIGADA) AND
          (XVENDAPARCELA.NUMVENDA = XLANBAIXAINTEGRACAO.NUMVENDA) AND
          (XVENDAPARCELA.CODGRUPO = XLANBAIXAINTEGRACAO.CODGRUPO) AND
          (XVENDAPARCELA.CODTIPOPARC = XLANBAIXAINTEGRACAO.CODTIPOPARC) AND
          (XVENDAPARCELA.NUMPARC = XLANBAIXAINTEGRACAO.NUMPARC) AND
          (XVENDAPARCELA.CODCOLLAN = XLANBAIXAINTEGRACAO.CODCOLLAN) AND
          (XVENDAPARCELA.IDLAN = XLANBAIXAINTEGRACAO.IDLAN) AND
          (XLANINTEGRACAO.IDCAMPO = XLANBAIXAINTEGRACAO.IDCAMPO)
 WHERE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN NOT IN (12, 13)
 UNION ALL
  SELECT
    XVENDAPARCELA.CODCOLIGADA,
    XVENDAPARCELA.NUMVENDA AS NUM_VENDA,
    XVENDAPARCELA.CODGRUPO AS COD_GRUPO,
    XVENDAPARCELA.NUMPARC AS NUM_PARC,
    XVENDAPARCELA.CODTIPOPARC AS COD_TIPO_PARC,
    XLANINTEGRACAO_MULTAJUROS.COD_COMPN,
    XVENDAPARCELA.CODCOLLAN,
    XVENDAPARCELA.IDLAN,
    FLAN.DATAVENCIMENTO AS DAT_BASE,
    XLANINTEGRACAO_MULTAJUROS.VALOR AS VR_COMPN,
    XLANINTEGRACAO_MULTAJUROS.VALOR AS VR_BAIXA,
    CAST(0 AS NUMERIC(15,4)) AS ANT_VR_COMPN,
    CAST(0 AS NUMERIC(15,4)) AS VRCMANTES,
    CAST(0 AS NUMERIC(15,4)) AS VRCMAPOS,
    CAST(0 AS NUMERIC(15,4)) AS VRJUROSANTES,
    CAST(0 AS NUMERIC(15,4)) AS VRJUROSAPOS,
    CAST(COALESCE(XLANINTEGRACAO_MULTAJUROS.ORDEM, 0) AS INT) AS PRIORIDADEBAIXA,
    CAST(NULL AS INT) AS IDOPERACAO,
    XVENDAPARCELA.CODSITOPRL AS COD_SIT_OPRL,
    CAST(NULL AS VARCHAR(MAX)) AS MEMOCALCULO,
    XLANINTEGRACAO_MULTAJUROS.RECMODIFIEDBY AS COD_PESS_ULT_MNT,
    XLANINTEGRACAO_MULTAJUROS.RECMODIFIEDON AS DAT_ULT_MNT,
    XLANINTEGRACAO_MULTAJUROS.RECCREATEDBY AS RECCREATEDBY,
    XLANINTEGRACAO_MULTAJUROS.RECCREATEDON AS RECCREATEDON,
    XLANINTEGRACAO_MULTAJUROS.RECMODIFIEDBY AS RECMODIFIEDBY,
    XLANINTEGRACAO_MULTAJUROS.RECMODIFIEDON AS RECMODIFIEDON
  FROM XVENDAPARCELA (NOLOCK)
       JOIN
       FLAN (NOLOCK)
       ON FLAN.CODCOLIGADA = XVENDAPARCELA.CODCOLLAN AND
          FLAN.IDLAN = XVENDAPARCELA.IDLAN
       JOIN
       XLANINTEGRACAO_MULTAJUROS
       ON XLANINTEGRACAO_MULTAJUROS.CODCOLIGADA = XVENDAPARCELA.CODCOLIGADA AND
          XLANINTEGRACAO_MULTAJUROS.NUMVENDA = XVENDAPARCELA.NUMVENDA AND
          XLANINTEGRACAO_MULTAJUROS.CODGRUPO = XVENDAPARCELA.CODGRUPO AND
          XLANINTEGRACAO_MULTAJUROS.CODTIPOPARC = XVENDAPARCELA.CODTIPOPARC AND
          XLANINTEGRACAO_MULTAJUROS.NUMPARC = XVENDAPARCELA.NUMPARC AND
          XLANINTEGRACAO_MULTAJUROS.CODCOLLAN = XVENDAPARCELA.CODCOLLAN AND
          XLANINTEGRACAO_MULTAJUROS.IDLAN = XVENDAPARCELA.IDLAN
GO
