USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcc_tracestatus]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcc_tracestatus]
AS
  SET NOCOUNT ON
  CREATE TABLE #temp (
    traceFlag   int,
    status      int,
    glob        int,
    session     int
    )
  INSERT INTO #temp
    EXEC ('DBCC TRACESTATUS (-1) WITH NO_INFOMSGS')
  SELECT traceFlag,status FROM #temp
  DROP TABLE #temp
 
GO
