USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_TRI_CURSOS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_TRI_CURSOS] AS

select	 [NAME]						= pes.nome
		,[CPF]						= pes.cpf
	--	,[Cod_Situacao]				= fun.codsituacao
		--,[Nome_Situacao]			= sit.descricao
		,[COD_CURSO]				= acad.codcurso
		,[NOME_INSTITUICAO]			= case when acad.codentidade is not null then instituto.nomefantasia else acad.nomeentidade end
	--	,[Cod_Instituicao]			= acad.codentidade
		,[NOME_CURSO]				= curso.nome
		,[DT_INICIO]				= acad.dtinicio
		,[DT_CONCLUSAO]				= acad.dttermino
		,[GRAU_ESCOLARIDADE]		= grau_inst.descricao
		,[COD_GRAU_ESCOLARIDADE]	= acad.codgrau
	--	,[Cod_Andamento]			= acad.andamento
		,[ANDAMENTO]			= case when acad.andamento = 'A' then 'Em Andamento'
										   when acad.andamento = 'C' then 'Concluído'
										   when acad.andamento = 'I' then 'Interrompido'
										   when acad.andamento = 'T' then 'Trancado'
									  end

 from	ppessoa pes
  join	vformacaoacad acad
   on	acad.codpessoa = pes.codigo
  join	vcursoacad curso
   on	curso.codcurso = acad.codcurso
  left join	ventidades instituto
   on	instituto.codentidade = acad.codentidade
  left join	vgrauinstrucao grau_inst
   on	grau_inst.codgrau = acad.codgrau
  join	pfunc fun
   on	fun.codpessoa = pes.codigo
  join	pcodsituacao sit
   on	sit.codcliente = fun.codsituacao

union all

select	 [NAME]						= pes.nome
		,[CPF]						= pes.cpf
	--	,[Cod_Situacao]				= fun.codsituacao
	--	,[Nome_Situacao]			= sit.descricao
		,[COD_CURSO]				= null
		,[NOME_INSTITUICAO]			= case when acad.codentidade is not null then instituto.nomefantasia else acad.nomeentidade end
		--,[Cod_Instituicao]			= acad.codentidade
		,[NOME_CURSO]				= acad.nomecurso
		,[DT_INICIO]				= acad.dtinicio
		,[DT_CONCLUSAO]				= acad.dttermino
		,[GRAU_ESCOLARIDADE]		= grau_inst.descricao
		,[COD_GRAU_ESCOLARIDADE]	= acad.codclassifformadic
		--,[Cod_Andamento]			= null
		,[ANDAMENTO]			= null

 from	ppessoa pes
  join	vformacaoadic acad
   on	acad.codpessoa = pes.codigo
  left join	ventidades instituto
   on	instituto.codentidade = acad.codentidade
  left join	vclassifformadic grau_inst
   on	grau_inst.codclassifformadic = acad.codclassifformadic
  join	pfunc fun
   on	fun.codpessoa = pes.codigo
  join	pcodsituacao sit
   on	sit.codcliente = fun.codsituacao
GO
