USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XVENDAREAJUSTE]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XVENDAREAJUSTE]
AS
SELECT
XPARCELAPAGAMENTOREAJUSTE.NUM_VENDA,
XPARCELAPAGAMENTOREAJUSTE.DAT_FINAL,
XPARCELAPAGAMENTOREAJUSTE.DAT_INICIAL,
XPARCELAPAGAMENTOREAJUSTE.PERIODO_DIAS,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRPRINCIPAL) VRPRINCIPAL,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRJUROSANTES) VRJUROSANTES,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRJUROSAPOS) VRJUROSAPOS,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRCMANTES) VRCMANTES,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRCMAPOS) VRCMAPOS,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRJUROSATRASO) VRJUROSATRASO,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRMULTA) VRMULTA,
SUM(XPARCELAPAGAMENTOREAJUSTE.VROUTROS) VROUTROS,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRBAIXADO) VRBAIXADO,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRDESCONTO) VRDESCONTO,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRSALDODEVEDOR) VRSALDODEVEDOR,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRACUMULADOJUROSANTES) VRACUMULADOJUROSANTES,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRACUMULADOJUROSAPOS) VRACUMULADOJUROSAPOS,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRACUMULADOCMANTES) VRACUMULADOCMANTES,
SUM(XPARCELAPAGAMENTOREAJUSTE.VRACUMULADOCMAPOS) VRACUMULADOCMAPOS
FROM XPARCELAPAGAMENTOREAJUSTE
GROUP BY
XPARCELAPAGAMENTOREAJUSTE.NUM_VENDA,
XPARCELAPAGAMENTOREAJUSTE.DAT_FINAL,
XPARCELAPAGAMENTOREAJUSTE.DAT_INICIAL,
XPARCELAPAGAMENTOREAJUSTE.PERIODO_DIAS
GO
