USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_db_coll_mismatch]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_db_coll_mismatch] as
-- Databases with different collation:
select name from sys.databases where collation_name not in
(select collation_name from sys.databases where name = 'master')
 
GO
