USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_repltables]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_repltables]
  @schema_name sysname = null,
  @db_name sysname = null
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(1024)
if @schema_name is null
   set @schema_name = schema_name()
if @db_name is null
   set @db_name = db_name()
-- build the select statement
set @cmd = N'use [' + @db_name + N'] ' +
     N'select distinct replicated_tablename = st.name ' +
         N'from sys.tables st '             +
         N'where st.schema_id = schema_id(@schema_name) '     +
                 N'and (is_replicated = 1 or '     +
         N'has_replication_filter = 1 or '         +
         N'is_merge_published = 1 or '             +
         N'is_sync_tran_subscribed = 1) '          +
         N'order by st.name'
-- get the objects
exec sp_executesql @cmd,N'@schema_name sysname',@schema_name
END
 
GO
