USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XCONTACORRENTEVENDEDOR]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XCONTACORRENTEVENDEDOR]
AS
SELECT
V.NUM_VENDA * 100 + V.IDVENDEDOR COD_VEND,
C.CODCOMISSAO NUM_SEQ_CC,
NULL DAT_MOV,
NULL TIPO_MOV_CC,
NULL DAT_VENC,
NULL SIT_CC,
NULL DSC_LANC,
C.VR_TOT_COMISSAO VR_MOV,
'A' COD_SIT_OPRL,
C.RECMODIFIEDBY COD_PESS_ULT_MNT,
C.RECMODIFIEDON DAT_ULT_MNT,
C.NUMVENDA NUM_VENDA,
NULL COD_TIPO_PARC,
NULL NUM_PARC,
NULL FLG_INCI_SAL,
NULL COD_LANC,
V.CODCFO,
V.CODCOLCFO CODCOLIGADA,
NULL IDLAN,
NULL DATA_PG,
NULL VALOR_DESC,
C.MEMO_CALC_COMISSAO OBS,
C.CODCOLIGADA CODCOLCONTA,
C.RECCREATEDBY,
C.RECCREATEDON,
C.RECMODIFIEDBY,
C.RECMODIFIEDON
FROM XCOMISSAO C JOIN
XVENDEDOR V
ON (C.CODCOLIGADA = V.CODCOLIGADA) AND
(C.NUMVENDA = V.NUM_VENDA) AND
(C.IDVENDEDOR = V.IDVENDEDOR)
GO
