USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[FLANCONT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FLANCONT] AS
SELECT A.CODCOLIGADA,B.IDCONT AS IDLANCONT, D.IDLAN, B.TIPO,3 AS INCOUBX,B.VALOR,
       C.CODFILIAL,C.CODDEPARTAMENTO,C.CODCCUSTO,C.CODHISTP,C.COMPLEMENTO AS COMPLHISTORICO,
       C.CODCOLDEBITO AS CODCOLCONTA,DEBITO AS CODCONTA,C.CODLOTE AS NUMLOTECONTABIL,1 AS ATIVO
FROM COPERACAO A,CCONT B,CPARTIDA C,FLANBAIXA D
WHERE
	A.CODCOLIGADA=D.CODCOLIGADA AND A.IDOPERACAO=D.IDOPERACAO AND
	A.CODCOLIGADA=B.CODCOLIGADA AND A.IDOPERACAO=B.IDOPERACAO AND
	B.CODCOLIGADA=C.CODCOLIGADA AND B.IDPARTIDA=C.IDPARTIDA AND
	D.MODELOCONTABILIZACAO<>1 AND A.ORIGEM = 'FLANBAIXA' AND
	B.TIPO IN (1,3)
UNION
SELECT A.CODCOLIGADA,B.IDCONT AS IDLANCONT, D.IDLAN,B.TIPO,4 AS INCOUBX,B.VALOR,
	   C.CODFILIAL,C.CODDEPARTAMENTO,C.CODCCUSTO,C.CODHISTP,C.COMPLEMENTO AS COMPLHISTORICO,
	   C.CODCOLDEBITO AS CODCOLCONTA,DEBITO AS CODCONTA,C.CODLOTE AS NUMLOTECONTABIL,1 AS ATIVO
FROM COPERACAO A,CCONT B,CPARTIDA C,FLAN D
WHERE
	A.CODCOLIGADA=D.CODCOLIGADA AND A.IDOPERACAO=D.IDOPERACAO AND
	A.CODCOLIGADA=B.CODCOLIGADA AND A.IDOPERACAO=B.IDOPERACAO AND
	B.CODCOLIGADA=C.CODCOLIGADA AND B.IDPARTIDA=C.IDPARTIDA AND
	D.MODELOCONTABILIZACAO<>1 AND A.ORIGEM = 'FLAN' AND
	B.TIPO IN (1,3)
UNION
SELECT A.CODCOLIGADA,B.IDCONT AS IDLANCONT, D.IDLAN,B.TIPO,3 AS INCOUBX,B.VALOR,
	   C.CODFILIAL,C.CODDEPARTAMENTO,C.CODCCUSTO,C.CODHISTP,C.COMPLEMENTO AS COMPLHISTORICO,
	   C.CODCOLCREDITO AS CODCOLCONTA,C.CREDITO AS CODCONTA,C.CODLOTE AS NUMLOTECONTABIL,1 AS ATIVO
FROM COPERACAO A,CCONT B,CPARTIDA C,FLANBAIXA D
WHERE
	A.CODCOLIGADA=D.CODCOLIGADA AND A.IDOPERACAO=D.IDOPERACAO AND
	A.CODCOLIGADA=B.CODCOLIGADA AND A.IDOPERACAO=B.IDOPERACAO AND
	B.CODCOLIGADA=C.CODCOLIGADA AND B.IDPARTIDA=C.IDPARTIDA AND
	D.MODELOCONTABILIZACAO<>1 AND A.ORIGEM = 'FLANBAIXA' AND
	B.TIPO IN (2,3)
UNION
SELECT A.CODCOLIGADA,B.IDCONT AS IDLANCONT, D.IDLAN,B.TIPO,4 AS INCOUBX,B.VALOR,
	   C.CODFILIAL,C.CODDEPARTAMENTO,C.CODCCUSTO,C.CODHISTP,C.COMPLEMENTO AS COMPLHISTORICO,
	   C.CODCOLCREDITO AS CODCOLCONTA,C.CREDITO AS CODCONTA,C.CODLOTE AS NUMLOTECONTABIL,1 AS ATIVO
FROM COPERACAO A,CCONT B,CPARTIDA C,FLAN D
WHERE
	A.CODCOLIGADA=D.CODCOLIGADA AND A.IDOPERACAO=D.IDOPERACAO AND
	A.CODCOLIGADA=B.CODCOLIGADA AND A.IDOPERACAO=B.IDOPERACAO AND
	B.CODCOLIGADA=C.CODCOLIGADA AND B.IDPARTIDA=C.IDPARTIDA AND
	D.MODELOCONTABILIZACAO<>1 AND A.ORIGEM = 'FLAN' AND
	B.TIPO IN (2,3)
UNION
SELECT A.CODCOLIGADA,A.IDLANCONT,A.IDLAN,A.TIPO,A.INCOUBX,A.VALOR,A.CODFILIAL,
	   A.CODDEPARTAMENTO,A.CODCCUSTO,A.CODHISTP,A.COMPLHISTORICO,A.CODCOLCONTA,A.CODCONTA,
	   A.NUMLOTECONTABIL,A.ATIVO
FROM FLANCONTOLD A,FLAN B
WHERE
	A.CODCOLIGADA=B.CODCOLIGADA AND A.IDLAN=B.IDLAN AND
	B.MODELOCONTABILIZACAO=1 AND A.INCOUBX=4
UNION
SELECT A.CODCOLIGADA,A.IDLANCONT,A.IDLAN,A.TIPO,A.INCOUBX,A.VALOR,A.CODFILIAL,
	   A.CODDEPARTAMENTO,A.CODCCUSTO,A.CODHISTP,A.COMPLHISTORICO,A.CODCOLCONTA,A.CODCONTA,
	   A.NUMLOTECONTABIL,A.ATIVO
FROM FLANCONTOLD A,FLAN B
WHERE
	A.CODCOLIGADA=B.CODCOLIGADA AND A.IDLAN=B.IDLAN AND
	B.MODELOCONTABILIZACAOBAIXA=1 AND A.INCOUBX=3
GO
