USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sys_configures]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_sys_configures]  as
begin
declare @command1  varchar(80)
select @command1 = 'select * from master..sysconfigures'
exec(@command1)
end
 
GO
