USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[OUTSERV_VW_OCORRENCIA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[OUTSERV_VW_OCORRENCIA] (@DATA_INIC DATE, @DATA_FIM DATE)

RETURNS TABLE
AS
RETURN (
            
WITH 

PAR AS 
	(
	SELECT 
		COLIGADA = '0'
		, INICIO   =  @DATA_INIC
		, FIM      = @DATA_FIM
		--, HORARIO  = '020,	0012,	0013,	0005,	0033,	Cons.010,	0004,	0055,	006,	0017,	0011,	007,	07,	0202,	0203,	015,	TESTE,	019,	Cons.009,	0007,	0208,	0027,	0023,	108,	110,	092,	104,	084,	118,	0207,	0204,	113,	095,	0032,	03,	100,	0048,	0041,	0042,	0043,	0044,	0026,	0040'        
		, ABONO    = '029'
	)


SELECT DISTINCT	
 CODCOLIGADA
	, CHAPA
	, NOME
	--, CODFUNCAO
	, NOMEFUNCAO
	, CODSECAO
	, NOMESECAO 
    ,(SELECT NROCENCUSTOCONT FROM PCCUSTO C, PSECAO D WHERE C.CODCOLIGADA = D.CODCOLIGADA AND C.CODCCUSTO = D.NROCENCUSTOCONT AND D.CODCOLIGADA = Z.CODCOLIGADA AND D.CODIGO = Z.CODSECAO)CC
    ,(SELECT C.NOME FROM PCCUSTO C, PSECAO D WHERE C.CODCOLIGADA = D.CODCOLIGADA AND C.CODCCUSTO = D.NROCENCUSTOCONT AND D.CODCOLIGADA = Z.CODCOLIGADA AND D.CODIGO = Z.CODSECAO)DESC_CC
	,(SELECT CONCAT(CONVERT(VARCHAR,P.INICIOMENSAL,103),' a ', CONVERT(VARCHAR,P.FIMMENSAL,103)) FROM APERIODO P WHERE P.CODCOLIGADA = Z.CODCOLIGADA AND Z.DATA BETWEEN P.INICIOMENSAL AND P.FIMMENSAL)PERIODO 

	, DATA
	--, HORARIO
	--, OCORRENCIA
	 ,(CASE	 
		WHEN OCORRENCIA = 'excesso_abono_gestor'        THEN 'Excesso de Abono Gestor (Superior a 5 dias consecutivos)'
		WHEN OCORRENCIA = 'extra_permitido'             THEN 'Extra Acima do Permitido'
		WHEN OCORRENCIA = 'extra'                       THEN 'Extra em Escala Especial'
		WHEN OCORRENCIA = 'interjornada'                THEN 'Interjornada'
		WHEN OCORRENCIA = 'intrajornada'                THEN 'Intrajornada'
		WHEN OCORRENCIA = 'jornada'                     THEN 'Excesso de jornada'
		WHEN OCORRENCIA = 'registro_britanico'          THEN 'Registro Britânico'             	
		WHEN OCORRENCIA = 'registro_manual'             THEN 'Registro Manual'
		WHEN OCORRENCIA = 'pendente_termo_aditivo'      THEN 'Req. troca de escala pendente termo aditivo'
		WHEN OCORRENCIA = 'sobreaviso'                  THEN 'Sobreaviso'
		WHEN OCORRENCIA = 'trabalho_dsr_folga'          THEN 'Trabalho em DSR ou Folga'
		WHEN OCORRENCIA = 'trabalho_dsr_folga_descanso' THEN 'Excesso de jornada semanal'
		WHEN OCORRENCIA = 'trabalho_ferias_afastamento' THEN 'Trabalho em Férias ou Afastamentos'
		WHEN OCORRENCIA = 'trabalho_6dias'              THEN 'Trabalho superior à 6 (seis) dias consecutivos sem folga'
		WHEN OCORRENCIA = 'troca_menor_10_dias'         THEN 'Troca de escala menor que 3 dias'
		WHEN OCORRENCIA = 'troca_menor_6_meses'         THEN 'Troca de escala menor que 6 meses'
		ELSE '' END)OCORRENCIA
	--, COMPLEMENTO
	--, (VALOR)VALOR2
	
	
	,(CASE 
	    WHEN SISTEMA <> 'RM'                           THEN COMPLEMENTO
		WHEN OCORRENCIA = 'extra_permitido'            THEN DBO.MINTOTIME(VALOR)
		WHEN OCORRENCIA = 'extra'                      THEN DBO.MINTOTIME(VALOR)
		WHEN OCORRENCIA = 'jornada'                    THEN DBO.MINTOTIME(VALOR)
		WHEN OCORRENCIA = 'trabalho_dsr_folga'         THEN DBO.MINTOTIME(VALOR)
		WHEN OCORRENCIA = 'trabalho_dsr_folga_descanso'THEN DBO.MINTOTIME(VALOR)
		WHEN OCORRENCIA = 'trabalho_ferias_afastamento' AND VALOR = 1 THEN CONCAT('Férias',' ')
		WHEN OCORRENCIA = 'trabalho_ferias_afastamento' AND VALOR <> 1 THEN CONCAT('Afastamento',' ')
		WHEN OCORRENCIA = 'registro_manual'            THEN DBO.MINTOTIME(VALOR)
		WHEN OCORRENCIA = 'trabalho_6dias'             THEN COMPLEMENTO
		WHEN OCORRENCIA = 'excesso_abono_gestor'       THEN COMPLEMENTO
		WHEN OCORRENCIA = 'interjornada'               THEN COMPLEMENTO
		WHEN OCORRENCIA = 'intrajornada'               THEN COMPLEMENTO
		WHEN OCORRENCIA = 'registro_britanico'         THEN COMPLEMENTO			
		WHEN OCORRENCIA = 'sobreaviso'                 THEN DBO.MINTOTIME(VALOR)		
		WHEN OCORRENCIA = 'troca_menor_6_meses'        THEN COMPLEMENTO				
		WHEN OCORRENCIA = 'troca_menor_10_dias'        THEN CONCAT(VALOR,' dia(s)')
		WHEN OCORRENCIA = 'pendente_termo_aditivo'     THEN CONCAT('Nº Req. ',DBO.MINTOTIME(VALOR))
	  ELSE '--' END
	 )VALOR	
    
    , descricao_motivo AS 'DETALHAMENTO DA OCORRÊNCIA'
    , observacao AS 'INFORMAÇÃO COMPLEMENTAR'


     ,SISTEMA
     
	 
	 /* CODCOLIGADA
	, CHAPA
	, NOME
	, CODFUNCAO
	, NOMEFUNCAO
	, CODSECAO
	, NOMESECAO
    ,(SELECT NROCENCUSTOCONT FROM PCCUSTO C, PSECAO D WHERE C.CODCOLIGADA = D.CODCOLIGADA AND C.CODCCUSTO = D.NROCENCUSTOCONT AND D.CODCOLIGADA = Z.CODCOLIGADA AND D.CODIGO = Z.CODSECAO)CC
    ,(SELECT C.NOME FROM PCCUSTO C, PSECAO D WHERE C.CODCOLIGADA = D.CODCOLIGADA AND C.CODCCUSTO = D.NROCENCUSTOCONT AND D.CODCOLIGADA = Z.CODCOLIGADA AND D.CODIGO = Z.CODSECAO)DESC_CC
	,(SELECT CONCAT(CONVERT(VARCHAR,P.INICIOMENSAL,103),' a ', CONVERT(VARCHAR,P.FIMMENSAL,103)) FROM APERIODO P WHERE P.CODCOLIGADA = Z.CODCOLIGADA AND Z.DATA BETWEEN P.INICIOMENSAL AND P.FIMMENSAL)PERIODO 
	
	, DATA
	, HORARIO
	, OCORRENCIA
	, COMPLEMENTO
	, VALOR
	, BASE
	, HTRAB
	, EXTRAEXECUTADO
	, COMPENSADO
	, DESCANSO
	, FERIADO
	, SISTEMA
	, codmotivo
	, descricao_motivo
	, log_ocorrencia
	, observacao
	, gestor*/

FROM(
					  
            SELECT
                X.*,
                Z.codmotivo,
                
                Z.ocorrencia log_ocorrencia,
                Z.observacao,
                Z.gestor,
                ZZ.DESCRICAO descricao_motivo
        


					FROM (

					/***************************************************************************************************************/
					/* Horas Extras acima do permitido                                                                             */
					/***************************************************************************************************************/
						SELECT 
							* ,
							'RM' SISTEMA
						FROM (
							SELECT
								  A.CODCOLIGADA
								, A.CHAPA
								, A.NOME
								, A.CODFUNCAO
								, C.NOME NOMEFUNCAO
								, A.CODSECAO
								, D.DESCRICAO NOMESECAO
								, B.DATA
								, (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
									(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) HORARIO
								, 'extra_permitido' OCORRENCIA
								, NULL COMPLEMENTO
								, (CASE WHEN BASE  = 420 AND EXTRAEXECUTADO > 120 AND FERIADO = 0 THEN EXTRAEXECUTADO
										WHEN BASE  = 480 AND EXTRAEXECUTADO > 120 AND FERIADO = 0 THEN EXTRAEXECUTADO
										WHEN BASE  = 528 AND EXTRAEXECUTADO >  72 AND FERIADO = 0 THEN EXTRAEXECUTADO
										WHEN BASE  = 540 AND EXTRAEXECUTADO >  60 AND FERIADO = 0 THEN EXTRAEXECUTADO
										WHEN BASE  = 440 AND EXTRAEXECUTADO >  120 AND FERIADO = 0 THEN EXTRAEXECUTADO
										WHEN (COMPENSADO > 0 OR DESCANSO > 0) AND FERIADO = 0 AND HTRAB > 0 THEN HTRAB
										WHEN FERIADO > 0 AND HTRAB > 0
										AND (SELECT O.CONSFERIADO FROM PFHSTHOR (NOLOCK) N, AHORARIO (NOLOCK) O WHERE N.CODCOLIGADA = O.CODCOLIGADA AND N.CODHORARIO = O.CODIGO AND A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
																(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) = 0
															THEN HTRAB 
										ELSE 0 END) VALOR
							
								, BASE, HTRAB, EXTRAEXECUTADO, COMPENSADO, DESCANSO, FERIADO
							FROM 
								PFUNC (NOLOCK) A
									LEFT  JOIN AAFHTFUN (NOLOCK) B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
									INNER JOIN PFUNCAO  (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = A.CODFUNCAO
									INNER JOIN PSECAO   (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = A.CODSECAO
									INNER JOIN PAR               M ON 1=1 --A.CODCOLIGADA = M.COLIGADA
							
							WHERE
									B.DATA BETWEEN M.INICIO AND M.FIM
							--	  AND A.CODSECAO IN ('001.30002.001')  
								AND A.CODSITUACAO NOT IN ('D')
								AND (CASE WHEN BASE  = 420 AND EXTRAEXECUTADO > 120 AND FERIADO = 0 THEN EXTRAEXECUTADO
										  WHEN BASE  = 480 AND EXTRAEXECUTADO > 120 AND FERIADO = 0 THEN EXTRAEXECUTADO
										  WHEN BASE  = 528 AND EXTRAEXECUTADO >  72 AND FERIADO = 0 THEN EXTRAEXECUTADO
										  WHEN BASE  = 540 AND EXTRAEXECUTADO >  60 AND FERIADO = 0 THEN EXTRAEXECUTADO
										  WHEN BASE  = 440 AND EXTRAEXECUTADO >  120 AND FERIADO = 0 THEN EXTRAEXECUTADO
										  WHEN (COMPENSADO > 0 OR DESCANSO > 0) AND FERIADO = 0 AND HTRAB > 0 THEN HTRAB
										  WHEN FERIADO > 0 AND HTRAB > 0
										  AND (SELECT O.CONSFERIADO FROM PFHSTHOR (NOLOCK) N, AHORARIO (NOLOCK) O WHERE N.CODCOLIGADA = O.CODCOLIGADA AND N.CODHORARIO = O.CODIGO AND A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
																	(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) = 0
															THEN HTRAB
									   ELSE 0 END) > 0
									   /*AND (SELECT extra_acima FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/
						)XX
						 WHERE XX.HORARIO COLLATE Latin1_General_CI_AS NOT IN(SELECT CODIGO FROM PortalRHPRD..zcrmportal_ocorrencia_horario WHERE coligada >=  (SELECT COLIGADA FROM PAR)  )

					UNION ALL

					/***************************************************************************************************************/
					/* Horas Extras em escalas específicas (Zero HE)                                                               */
					/***************************************************************************************************************/
						/* Horários 12x36 */
						SELECT
							  A.CODCOLIGADA
							, A.CHAPA
							, A.NOME
							, A.CODFUNCAO
							, C.NOME NOMEFUNCAO
							, A.CODSECAO
							, D.DESCRICAO NOMESECAO
							, B.DATA
							, (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
								(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) HORARIO
							, 'extra' OCORRENCIA
							, NULL COMPLEMENTO
							, (CASE WHEN BASE  > 540 AND HTRAB > 0 AND EXTRAEXECUTADO > 0 AND FERIADO = 0 THEN EXTRAEXECUTADO
								   ELSE 0 END) VALOR
							
							, BASE, HTRAB, EXTRAEXECUTADO, COMPENSADO, DESCANSO, FERIADO ,
							'RM' SISTEMA
						FROM 
							PFUNC (NOLOCK) A
								LEFT  JOIN AAFHTFUN (NOLOCK) B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
								INNER JOIN PFUNCAO  (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = A.CODFUNCAO
								INNER JOIN PSECAO   (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = A.CODSECAO
								INNER JOIN PAR               M ON 1=1 --A.CODCOLIGADA = M.COLIGADA
						
						WHERE
								B.DATA BETWEEN M.INICIO AND M.FIM
							--  AND A.CODSECAO IN ('001.30002.001')  
							 --AND A.CODSITUACAO NOT IN ('D')
							AND (CASE WHEN BASE  > 540 AND HTRAB > 0 AND EXTRAEXECUTADO > 0 AND FERIADO = 0 THEN EXTRAEXECUTADO
								   ELSE 0 END) > 0
							/*AND (SELECT extra_especial FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/
						
						UNION ALL
						
						/* Horários de Revezamento */
						SELECT 
							* ,
							'RM' SISTEMA
						FROM (
						  
							SELECT
								  A.CODCOLIGADA
								, A.CHAPA
								, A.NOME
								, A.CODFUNCAO
								, C.NOME NOMEFUNCAO
								, A.CODSECAO
								, D.DESCRICAO NOMESECAO
								, B.DATA
								, (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
									(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) HORARIO
								, 'extra' OCORRENCIA
								, NULL COMPLEMENTO
								, (CASE WHEN EXTRAEXECUTADO > 0 AND FERIADO = 0 THEN EXTRAEXECUTADO
										WHEN (COMPENSADO > 0 OR DESCANSO > 0) AND FERIADO = 0 AND HTRAB > 0 THEN HTRAB
										WHEN FERIADO > 0 AND HTRAB > 0
										AND (SELECT O.CONSFERIADO FROM PFHSTHOR (NOLOCK) N, AHORARIO (NOLOCK) O WHERE N.CODCOLIGADA = O.CODCOLIGADA AND N.CODHORARIO = O.CODIGO AND A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
																(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) = 0
															 THEN HTRAB
										ELSE 0 END) VALOR
								
								, BASE, HTRAB, EXTRAEXECUTADO, COMPENSADO, DESCANSO, FERIADO
							FROM 
								PFUNC (NOLOCK) A
									LEFT  JOIN AAFHTFUN (NOLOCK) B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
									INNER JOIN PFUNCAO  (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = A.CODFUNCAO
									INNER JOIN PSECAO   (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = A.CODSECAO
									INNER JOIN PAR               M ON 1=1 --A.CODCOLIGADA = M.COLIGADA
							
							WHERE
									B.DATA BETWEEN M.INICIO AND M.FIM
							--	 AND A.CODSECAO IN ('001.30002.001') 
								--AND A.CODSITUACAO NOT IN ('D')
								AND (CASE WHEN EXTRAEXECUTADO > 0 AND FERIADO = 0 THEN EXTRAEXECUTADO
										WHEN (COMPENSADO > 0 OR DESCANSO > 0) AND FERIADO = 0 AND HTRAB > 0 THEN HTRAB
										WHEN FERIADO > 0 AND HTRAB > 0
										AND (SELECT O.CONSFERIADO FROM PFHSTHOR (NOLOCK) N, AHORARIO (NOLOCK) O WHERE N.CODCOLIGADA = O.CODCOLIGADA AND N.CODHORARIO = O.CODIGO AND A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
																(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) = 0
															 THEN HTRAB
										ELSE 0 END) > 0
								/*AND (SELECT extra_especial FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/
						)XX
						 WHERE XX.HORARIO COLLATE Latin1_General_CI_AS  IN(SELECT CODIGO FROM PortalRHPRD..zcrmportal_ocorrencia_horario WHERE coligada >=  (SELECT COLIGADA FROM PAR)  )

					UNION ALL
					/***************************************************************************************************************/
					/* Jornada Diária acima de 11 e 10 horas                                                                       */
					/***************************************************************************************************************/
						SELECT *,
							'RM' SISTEMA FROM(
							SELECT

								  A.CODCOLIGADA
								, A.CHAPA
								, A.NOME
								, A.CODFUNCAO
								, C.NOME NOMEFUNCAO
								, A.CODSECAO
								, D.DESCRICAO NOMESECAO
								, B.DATA
								, (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
										(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) HORARIO
								, 'jornada' OCORRENCIA
								, NULL COMPLEMENTO
								, B.HTRAB VALOR
								
								, BASE, HTRAB, EXTRAAUTORIZADO, COMPENSADO, DESCANSO, FERIADO
							FROM 
								PFUNC (NOLOCK) A 
									LEFT  JOIN AAFHTFUN (NOLOCK) B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
									INNER JOIN PFUNCAO  (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = A.CODFUNCAO
									INNER JOIN PSECAO   (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = A.CODSECAO
									INNER JOIN PAR               M ON 1=1 --A.CODCOLIGADA = M.COLIGADA
							
							WHERE
									B.DATA BETWEEN M.INICIO AND M.FIM
								AND B.HTRAB > 600
								/*AND (SELECT excesso_jornada FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/
								AND B.BASE <= 540
								--  AND A.CODSECAO IN ('001.30002.001') 
								 --AND A.CODSITUACAO NOT IN ('D')
							)x where  
								(SELECT O.CONSFERIADO FROM PFHSTHOR (NOLOCK) N, AHORARIO (NOLOCK) O WHERE N.CODCOLIGADA = O.CODCOLIGADA AND N.CODHORARIO = O.CODIGO AND x.CODCOLIGADA = N.CODCOLIGADA AND x.CHAPA = N.CHAPA AND N.DTMUDANCA = 
									(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE x.CODCOLIGADA = N.CODCOLIGADA AND x.CHAPA = N.CHAPA AND N.DTMUDANCA <= x.DATA)) = 0
										
					UNION ALL
					/***************************************************************************************************************/
					/* Falta de registro adequado de jornada de trabalho (Registro Manual)                                         */
					/***************************************************************************************************************/
						SELECT
							  A.CODCOLIGADA
							, A.CHAPA
							, B.NOME
							, B.CODFUNCAO
							, C.NOME NOMEFUNCAO
							, B.CODSECAO
							, D.DESCRICAO NOMESECAO
							, A.DATA
							, (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
									(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= A.DATA)) HORARIO	    
							, 'registro_manual' OCORRENCIA
							, NULL COMPLEMENTO
							, A.BATIDA VALOR
							
							, NULL BASE, NULL HTRAB, NULL EXTRAAUTORIZADO, NULL COMPENSADO, NULL DESCANSO, NULL FERIADO,
							'RM' SISTEMA
						FROM 
							ABATFUN (NOLOCK) A
							INNER JOIN PFUNC   (NOLOCK) B ON B.CODCOLIGADA = A.CODCOLIGADA AND B.CHAPA = A.CHAPA
							INNER JOIN PFUNCAO (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = B.CODFUNCAO
							INNER JOIN PSECAO  (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = B.CODSECAO
							INNER JOIN PAR              M ON 1=1 --M.COLIGADA = A.CODCOLIGADA
						
						WHERE
								A.DATA BETWEEN M.INICIO AND M.FIM
							AND A.STATUS = 'D'
						--	  AND B.CODSECAO IN ('001.30002.001') 
							 --AND B.CODSITUACAO NOT IN ('D')
							 /*AND (SELECT registro_manual FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/
									
							 UNION ALL
							 /***************************************************************************************************************/
							 /* Trabalho em DSR ou Folga [COMPENSADO]        JORNADA SEMANAL                                                                  */
							 /***************************************************************************************************************/
								 SELECT
									   A.CODCOLIGADA
									 , A.CHAPA
									 , A.NOME
									 , A.CODFUNCAO
									 , C.NOME NOMEFUNCAO
									 , A.CODSECAO
									 , D.DESCRICAO NOMESECAO
									 , B.DATA
									 , (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
										 (SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) HORARIO
									 , 'trabalho_dsr_folga_descanso' OCORRENCIA
									 , NULL COMPLEMENTO
									 , (CASE WHEN (COMPENSADO > 0) AND FERIADO = 0 AND HTRAB > 0 THEN HTRAB    ------> COLOCAR COMPENSADO?
											 --WHEN FERIADO > 0 AND HTRAB > 0
												 --AND (SELECT O.CONSFERIADO FROM PFHSTHOR (NOLOCK) N, AHORARIO (NOLOCK) O WHERE N.CODCOLIGADA = O.CODCOLIGADA AND N.CODHORARIO = O.CODIGO AND A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
											--							 (SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) = 0
											--					  THEN HTRAB
											 ELSE 0 END) VALOR
								 
									 , BASE, HTRAB, EXTRAAUTORIZADO, COMPENSADO, DESCANSO, FERIADO,
									'RM' SISTEMA
									 
								 FROM 
									 PFUNC (NOLOCK) A
										 LEFT  JOIN AAFHTFUN (NOLOCK) B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
										 INNER JOIN PFUNCAO  (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = A.CODFUNCAO
										 INNER JOIN PSECAO   (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = A.CODSECAO
										 INNER JOIN PAR               M ON 1=1 --A.CODCOLIGADA = M.COLIGADA
								 
								 WHERE
										 B.DATA BETWEEN M.INICIO AND M.FIM
									--	 AND A.CODSECAO IN ('001.30002.001') 
										--AND A.CODSITUACAO NOT IN ('D')
									 AND (CASE WHEN (COMPENSADO > 0) AND FERIADO = 0 AND HTRAB > 0 THEN HTRAB   ----- 
										--	 WHEN FERIADO > 0 AND HTRAB > 0
											--	 AND (SELECT O.CONSFERIADO FROM PFHSTHOR (NOLOCK) N, AHORARIO (NOLOCK) O WHERE N.CODCOLIGADA = O.CODCOLIGADA AND N.CODHORARIO = O.CODIGO AND A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
												--						 (SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) = 0
													--			  THEN HTRAB
											 ELSE 0 END) > 0
								 /*AND (SELECT trabalho_dsr FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1 */
									 
							 
							 
							 UNION ALL
							 
							 /***************************************************************************************************************/
							 /* Trabalho em DSR ou Folga [DESCANSO]                                                                            */
							 /***************************************************************************************************************/
								 SELECT
									   A.CODCOLIGADA
									 , A.CHAPA
									 , A.NOME
									 , A.CODFUNCAO
									 , C.NOME NOMEFUNCAO
									 , A.CODSECAO
									 , D.DESCRICAO NOMESECAO
									 , B.DATA
									 , (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
										 (SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) HORARIO
									 , 'trabalho_dsr_folga' OCORRENCIA 
									 , NULL COMPLEMENTO
									 , (CASE WHEN (DESCANSO > 0) AND FERIADO = 0 AND HTRAB > 0 THEN HTRAB
											 WHEN FERIADO > 0 AND HTRAB > 0
												 AND (SELECT O.CONSFERIADO FROM PFHSTHOR (NOLOCK) N, AHORARIO (NOLOCK) O WHERE N.CODCOLIGADA = O.CODCOLIGADA AND N.CODHORARIO = O.CODIGO AND A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
																		 (SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) = 0
																  THEN HTRAB
											 ELSE 0 END) VALOR
								 
									 , BASE, HTRAB, EXTRAAUTORIZADO, COMPENSADO, DESCANSO, FERIADO,
									'RM' SISTEMA
									 
								 FROM 
									 PFUNC (NOLOCK) A
										 LEFT  JOIN AAFHTFUN (NOLOCK) B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
										 INNER JOIN PFUNCAO  (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = A.CODFUNCAO
										 INNER JOIN PSECAO   (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = A.CODSECAO
										 INNER JOIN PAR               M ON 1=1 --A.CODCOLIGADA = M.COLIGADA
								 
								 WHERE
										 B.DATA BETWEEN M.INICIO AND M.FIM
								--	 AND A.CODSECAO IN ('001.30002.001') 
									--AND A.CODSITUACAO NOT IN ('D')
									 AND (CASE WHEN (DESCANSO > 0) AND FERIADO = 0 AND HTRAB > 0 THEN HTRAB
											 WHEN FERIADO > 0 AND HTRAB > 0
												 AND (SELECT O.CONSFERIADO FROM PFHSTHOR (NOLOCK) N, AHORARIO (NOLOCK) O WHERE N.CODCOLIGADA = O.CODCOLIGADA AND N.CODHORARIO = O.CODIGO AND A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
																		 (SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) = 0
																  THEN HTRAB
											 ELSE 0 END) > 0
									/*AND (SELECT trabalho_dsr_descanso FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/               

								
					UNION ALL
					/***************************************************************************************************************/
					/* Trabalho em Férias ou Afastamentos                                                                             */
					/***************************************************************************************************************/

						SELECT
							  CODCOLIGADA
							, CHAPA
							, NOME
							, CODFUNCAO
							, NOMEFUNCAO
							, CODSECAO
							, NOMESECAO
							, DATA
							, HORARIO
							, OCORRENCIA
							, CASE 
								WHEN FERIAS IS NOT NULL THEN 'Férias'
								WHEN AFAST IS NOT NULL THEN 'Afastamento/Atestado'
								ELSE NULL
							  END COMPLEMENTO
							, CASE 
								WHEN FERIAS IS NOT NULL THEN 1
								WHEN AFAST IS NOT NULL THEN 2
								ELSE NULL
							  END VALOR
							, NULL BASE
							, NULL HTRAB
							, NULL EXTRAAUTORIZADO
							, NULL COMPENSADO
							, NULL DESCANSO
							, NULL FERIADO,
							'RM' SISTEMA
							
						FROM (
						
							SELECT 
								AX.* 
							FROM(
							
								SELECT
									  A.CODCOLIGADA
									, A.CHAPA
									, A.NOME
									, A.CODFUNCAO
									, C.NOME NOMEFUNCAO
									, A.CODSECAO
									, D.DESCRICAO NOMESECAO
									, B.DATA
									, (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
										(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) HORARIO
									, 'trabalho_ferias_afastamento' OCORRENCIA
									, (SELECT 'Férias' FROM PFUFERIASPER (NOLOCK) F  WHERE F.CODCOLIGADA = A.CODCOLIGADA AND F.CHAPA = A.CHAPA AND B.DATA BETWEEN F.DATAINICIO AND F.DATAFIM) FERIAS
									, (SELECT 'Afastamento' FROM PFHSTAFT (NOLOCK) H WHERE H.CODCOLIGADA = A.CODCOLIGADA AND H.CHAPA = A.CHAPA AND B.DATA BETWEEN H.DTINICIO AND  ISNULL(H.DTFINAL, '2050-12-01') ) AFAST
									, (SELECT COUNT(*) FROM ABATFUN (NOLOCK) G WHERE G.CODCOLIGADA = A.CODCOLIGADA AND G.CHAPA = A.CHAPA AND ISNULL(G.DATAREFERENCIA,G.DATA) = B.DATA) BAT
									, B.ABONO
								
								FROM 
									PFUNC (NOLOCK) A
									LEFT  JOIN AAFHTFUN (NOLOCK) B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
									INNER JOIN PFUNCAO  (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = A.CODFUNCAO
									INNER JOIN PSECAO   (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = A.CODSECAO
									INNER JOIN PAR               M ON 1=1 --A.CODCOLIGADA = M.COLIGADA
									
								
								WHERE
									B.DATA BETWEEN M.INICIO AND M.FIM
								--	 AND A.CODSECAO IN ('001.30002.001') 
									 --AND A.CODSITUACAO NOT IN ('D')
								/*AND (SELECT trabalho_AfastFerias FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/
													
							
							)AX
							WHERE	
								(AX.FERIAS IS NOT NULL OR AX.AFAST IS NOT NULL) AND AX.BAT > 0 AND ( ABONO = 0 OR ABONO >= 240) /* A pedido ignorado se o abono foi menor que 4horas*/
												
						)BX
								   


					UNION ALL
					/***************************************************************************************************************/
					/* InterJornada                                                                                                */
					/***************************************************************************************************************/

					SELECT 
						  CODCOLIGADA
						, CHAPA
						, NOME
						, CODFUNCAO
						, NOMEFUNCAO
						, CODSECAO
						, NOMESECAO
						, DATAREFERENCIA
						, HORARIO
						, OCORRENCIA
						, AVISO + ' [' +
							(CASE WHEN DBO.MINTOTIME(DATEDIFF(minute ,BAT_anterior, BAT_atual)) IS NULL or DATEDIFF(minute ,BAT_anterior, BAT_atual) > 660 THEN '[Bat.Inválida]'
								  ELSE DBO.MINTOTIME(DATEDIFF(minute ,BAT_anterior, BAT_atual)) END) 
							+ ']' COMPLEMENTO
						, 1 VALOR

						, NULL BASE
						, NULL HTRAB
						, NULL EXTRAAUTORIZADO
						, NULL COMPENSADO
						, NULL DESCANSO
						, NULL FERIADO,
						'RM' SISTEMA

					FROM(

						SELECT
							  A.CODCOLIGADA
							, A.CHAPA
							, B.NOME
							, B.CODFUNCAO
							, C.NOME NOMEFUNCAO
							, B.CODSECAO
							, D.DESCRICAO NOMESECAO
							, A.DATAREFERENCIA
							, (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
								(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= A.DATAREFERENCIA)) HORARIO
							, 'interjornada' OCORRENCIA
							, 1 VALOR
							, AAVISO.DESCRICAO AVISO 
							,(SELECT MAX(CONVERT(DATETIME, CONVERT(CHAR, ISNULL(CASE WHEN DATA > DATAREFERENCIA THEN DATAREFERENCIA +1 ELSE DATAREFERENCIA END,DATA),23) + ' ' + CONVERT(CHAR, dbo.MINTOTIME(BATIDA),8))) FROM ABATFUN M WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CHAPA = M.CHAPA AND A.DATAREFERENCIA-1 = M.DATAREFERENCIA AND NATUREZA = 1) BAT_anterior
							,(SELECT MIN(CONVERT(DATETIME, CONVERT(CHAR, ISNULL(CASE WHEN DATA > DATAREFERENCIA THEN DATAREFERENCIA +1 ELSE DATAREFERENCIA END,DATA),23) + ' ' + CONVERT(CHAR, dbo.MINTOTIME(BATIDA),8))) FROM ABATFUN M WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CHAPA = M.CHAPA AND A.DATAREFERENCIA = M.DATAREFERENCIA AND NATUREZA = 0) BAT_atual
						
						FROM 
							AAVISOCALCULADO A (NOLOCK)
								INNER JOIN PFUNC   (NOLOCK) B ON B.CODCOLIGADA = A.CODCOLIGADA AND B.CHAPA = A.CHAPA
								INNER JOIN PFUNCAO (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = B.CODFUNCAO
								INNER JOIN PSECAO  (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = B.CODSECAO
							, 
							AAVISO,
							PAR
							
						WHERE 
								
								
								 A.CODAVISO = AAVISO.CODAVISO 
								AND A.CODCOLIGADA >= '1'
								AND A.DATAREFERENCIA BETWEEN PAR.INICIO AND PAR.FIM
								AND A.CODAVISO = '1'
								-- AND B.CODSECAO IN ('001.30002.001') 
							   --	AND B.CODSITUACAO NOT IN ('D')
								/*AND (SELECT interjornada FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/
								

								)X
						UNION ALL
						/***************************************************************************************************************/
						/* IntraJornada    [tipo de retorno COMPLEMENTO]                                                               */
						/***************************************************************************************************************/
						  
						  SELECT 
							  CODCOLIGADA
							, CHAPA
							, NOME
							, CODFUNCAO
							, NOMEFUNCAO
							, CODSECAO
							, NOMESECAO
							, DATA
							, HORARIO
							, OCORRENCIA
							, ' Tempo Mínimo de refeição (IntraJornada) ' + dbo.mintotime(REF_OBRIGATORIO) + ' ' + 'não realizado [' + dbo.mintotime(REF_REALIZADO) + ']' COMPLEMENTO
							, VALOR
							
							, BASE
							  , HTRAB
							  , EXTRAAUTORIZADO
							  , COMPENSADO
							  , DESCANSO
							  , FERIADO,
							'RM' SISTEMA
						  FROM (
						  
							SELECT 
							 		ISNULL((SELECT (FIM-INICIO) TEMPO
									FROM ABATHOR M
									WHERE 
									M.CODCOLIGADA = XX.CODCOLIGADA
									AND M.CODHORARIO  = XX.HORARIO
									AND TIPO = 4 
									AND INDICE = 1
									),0) REF_OBRIGATORIO
							  , *
								
							FROM (
						  
							  SELECT
									A.CODCOLIGADA
								  , A.CHAPA
								  , A.NOME
								  , A.CODFUNCAO
								  , C.NOME NOMEFUNCAO
								  , A.CODSECAO
								  , D.DESCRICAO NOMESECAO
								  , B.DATA
								  , (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
									(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= B.DATA)) HORARIO
								  , 'intraJornada' OCORRENCIA
								  , NULL VALOR
								  
								  ,ISNULL((SELECT SUM(DATEDIFF(MINUTE,INICIO,FIM)) FROM AOCORRENCIACALCULADA P
								  WHERE 
									A.CODCOLIGADA >= 1
								  AND A.CHAPA = P.CHAPA 
								  AND B.DATA = P.DATAREFERENCIA
								  AND TIPOOCORRENCIA IN ('AREF')),0) REF_REALIZADO
							  
								  , BASE, HTRAB, EXTRAAUTORIZADO, COMPENSADO, DESCANSO, FERIADO
							  FROM 
								  PFUNC (NOLOCK) A
									  LEFT  JOIN AAFHTFUN (NOLOCK) B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
									  INNER JOIN PFUNCAO  (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = A.CODFUNCAO
									  INNER JOIN PSECAO   (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = A.CODSECAO
									  INNER JOIN PAR               M ON 1=1 --A.CODCOLIGADA = M.COLIGADA
							  
							  WHERE
									B.DATA BETWEEN M.INICIO AND M.FIM
								  AND B.HTRAB > 0
								  /*AND (SELECT interjornada FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1 */
								--   AND A.CODSECAO IN ('001.30002.001')  
								   --AND A.CODSITUACAO NOT IN ('D')
						  
							)XX
							   WHERE XX.HORARIO IN(
													  SELECT 
														DISTINCT CODHORARIO
													  FROM ABATHOR, PAR
													  WHERE ABATHOR.CODCOLIGADA >='1'
													  AND TIPO = 5
												 )
						  )XY
						  WHERE REF_OBRIGATORIO-REF_REALIZADO > 10


						UNION ALL
						/***************************************************************************************************************/
						/* Registros britânicos (Apontamentos Manuais)    [tipo de retorno COMPLEMENTO]                                */
						/***************************************************************************************************************/ 
						 
						  SELECT
								A.CODCOLIGADA
							  , A.CHAPA
							  , B.NOME
							  , B.CODFUNCAO
							  , D.NOME NOMEFUNCAO
							  , B.CODSECAO
							  , C.DESCRICAO NOMESECAO
							  , A.DATA
							  , (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
								(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= A.DATA)) HORARIO
							  , 'registro_britanico' OCORRENCIA
							  , CONCAT(dbo.mintotime(MIN(B1.BATIDA)), ' ', dbo.mintotime(MAX(B1.BATIDA))) COMPLEMENTO
							  , 1 VALOR
								
							  , NULL BASE
							  , NULL HTRAB
							  , NULL EXTRAAUTORIZADO
							  , NULL COMPENSADO
							  , NULL DESCANSO
							  , NULL FERIADO,
								'RM' SISTEMA
							  
							  
						  FROM AAFHTFUN (NOLOCK) A
							  INNER JOIN PFUNC   (NOLOCK) B  ON B.CODCOLIGADA = A.CODCOLIGADA AND B.CHAPA = A.CHAPA
							  INNER JOIN PSECAO  (NOLOCK) C  ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = B.CODSECAO
							  INNER JOIN PFUNCAO (NOLOCK) D  ON D.CODCOLIGADA = B.CODCOLIGADA AND D.CODIGO = B.CODFUNCAO
							  INNER JOIN ABATFUN (NOLOCK) B1 ON B1.CODCOLIGADA = A.CODCOLIGADA AND B1.CHAPA = A.CHAPA AND ISNULL(B1.DATAREFERENCIA, B1.DATA) = A.DATA AND B1.STATUS NOT IN ('T')
							  INNER JOIN AJORHOR (NOLOCK) J1 ON J1.CODCOLIGADA = A.CODCOLIGADA AND J1.CODHORARIO = (SELECT CODHORARIO FROM PFHSTHOR (NOLOCK) M WHERE M.CODCOLIGADA = A.CODCOLIGADA AND M.CHAPA = A.CHAPA AND DTMUDANCA = 
										  (SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) M WHERE M.CODCOLIGADA = A.CODCOLIGADA AND M.CHAPA = A.CHAPA AND DTMUDANCA <= A.DATA))
							  LEFT  JOIN PAR P ON 1=1 --P.COLIGADA = A.CODCOLIGADA
						  
							  
						  WHERE
								  A.CODCOLIGADA >= 1
							  AND A.DATA BETWEEN P.INICIO AND P.FIM
							 --  AND B.CODSECAO IN ('001.30002.001') 
							   --AND B.CODSITUACAO NOT IN ('D')
							   /*AND (SELECT registro_bri FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/ 
							  
						  GROUP BY
							  A.CODCOLIGADA,
							  A.CHAPA,
							  A.DATA,
							  B.NOME,
							  B.CODSECAO,
							  C.DESCRICAO,
							  B.CODFUNCAO,
							  D.NOME
						  
						  HAVING
								  MIN(B1.BATIDA) = MIN(J1.BATINICIO)
							  AND MAX(B1.BATIDA) = MAX(J1.BATFIM)
										

						UNION ALL
						/***************************************************************************************************************/
						/* TROCA DE ESCALA MENOS DE 6 MESES    [tipo de retorno COMPLEMENTO]                                           */
						/***************************************************************************************************************/ 
						 
						  SELECT
								CODCOLIGADA
							  , CHAPA
							  , NOME
							  , CODFUNCAO
							  , NOMEFUNCAO
							  , CODSECAO
							  , NOMESECAO
							  , ULT_MUD_DATA DATA
							  , NULL HORARIO
							  , 'troca_menor_6_meses' OCORRENCIA
							  , CONVERT(VARCHAR(2),DATEDIFF(MONTH, PEN_MUD_DATA, ULT_MUD_DATA)) +
								+ (CASE WHEN DATEDIFF(MONTH, PEN_MUD_DATA, ULT_MUD_DATA) > 1 THEN ' (meses) --->' ELSE ' (mês) --->' END) 
								+ CONVERT(VARCHAR(10),ULT_MUD_DATA,103) + ' ['+ULT_MUD_CODHOR+']' + ' - ' + CONVERT(VARCHAR(10),PEN_MUD_DATA,103) + ' [' + PEN_MUD_CODHOR + ']'  COMPLEMENTO
							  , DATEDIFF(MONTH, PEN_MUD_DATA, ULT_MUD_DATA) VALOR
							  
							  , NULL BASE
							  , NULL HTRAB
							  , NULL EXTRAAUTORIZADO
							  , NULL COMPENSADO
							  , NULL DESCANSO
							  , NULL FERIADO,
							'RM' SISTEMA
						  FROM (
						  
							SELECT
								  A.CODCOLIGADA
								, A.CHAPA
								, A.NOME
								, A.CODFUNCAO
								, B.NOME NOMEFUNCAO
								, A.CODSECAO
								, C.DESCRICAO NOMESECAO
								, (SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM) ULT_MUD_DATA
								
								, (SELECT CODHORARIO FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA  AND DTMUDANCA <= P.FIM AND DTMUDANCA = 
									(SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM) ) ULT_MUD_CODHOR
							  
						  		,(SELECT MIN(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA 
						  			AND DTMUDANCA >
										  			(SELECT 
										  				CASE WHEN (SELECT COUNT(DISTINCT CODHORARIO) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM) < 3 THEN MAX(DTMUDANCA)-1
										  					  		ELSE MAX(DTMUDANCA) END
										  			 FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM 
										  				AND DTMUDANCA <=
															  (SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM 
																  	AND DTMUDANCA <> 
																  		(SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM)
																   	AND CODHORARIO <> 
																	  	(SELECT CODHORARIO FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM AND DTMUDANCA = 
																	  		(SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM)) )		  	
										  				AND CODHORARIO <> 
										  					  (SELECT 
										  					  		CASE WHEN (SELECT COUNT(DISTINCT CODHORARIO) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM) < 3 THEN 'XYZ'
										  					  		ELSE CODHORARIO END
										  					  	FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA = 
											  					  (SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM 
																	  	AND DTMUDANCA <> 
																	  		(SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM)
																	   	AND CODHORARIO <> 
																		  	(SELECT CODHORARIO FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM AND DTMUDANCA = 
																		  		(SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM)) )		  		
															 )
										  			)	
						  	   	 ) PEN_MUD_DATA
			  	
			  					,(SELECT CODHORARIO FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA = 
				   				    (SELECT MIN(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA 
							  			AND DTMUDANCA >
											  			(SELECT 
											  				CASE WHEN (SELECT COUNT(DISTINCT CODHORARIO) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM) < 3 THEN MAX(DTMUDANCA)-1
											  					  		ELSE MAX(DTMUDANCA) END
											  			 FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM 
											  				AND DTMUDANCA <=
																  (SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM 
																	  	AND DTMUDANCA <> 
																	  		(SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM)
																	   	AND CODHORARIO <> 
																		  	(SELECT CODHORARIO FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM AND DTMUDANCA = 
																		  		(SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM)) )		  	
											  				AND CODHORARIO <> 
											  					  (SELECT 
											  					  		CASE WHEN (SELECT COUNT(DISTINCT CODHORARIO) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM) < 3 THEN 'XYZ'
											  					  		ELSE CODHORARIO END
											  					  	FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA = 
												  					  (SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM 
																		  	AND DTMUDANCA <> 
																		  		(SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM)
																		   	AND CODHORARIO <> 
																			  	(SELECT CODHORARIO FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM AND DTMUDANCA = 
																			  		(SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM)) )		  		
																 )
											  			)	
							  	   	)
						  	   	) PEN_MUD_CODHOR

							FROM
								PFUNC A
								INNER JOIN PFUNCAO (NOLOCK) B ON B.CODCOLIGADA = A.CODCOLIGADA AND B.CODIGO = A.CODFUNCAO
								INNER JOIN PSECAO  (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = A.CODSECAO
								INNER JOIN PAR              P ON 1=1 -- P.COLIGADA = A.CODCOLIGADA
						  
							WHERE
									A.CODSITUACAO NOT IN ('D')
								AND (SELECT MAX(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = A.CODCOLIGADA AND CHAPA = A.CHAPA AND DTMUDANCA <= P.FIM) BETWEEN P.INICIO AND P.FIM
								/*AND (SELECT troca_menor6 FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/ 
								-- AND A.CODSECAO IN ('001.30002.001')  
								--AND A.CODSITUACAO NOT IN ('D')

							  
						  )X
							 WHERE 
								DATEDIFF(MONTH, PEN_MUD_DATA, ULT_MUD_DATA) < 6 
						  
						  
						  
						  
						  
						UNION ALL
						/***************************************************************************************************************/
						/* TROCA DE ESCALA MENOR DE 10 DIAS    [tipo de retorno VALOR]                                                 */
						/***************************************************************************************************************/					  
						  SELECT
								CODCOLIGADA
							  , CHAPA
							  , NOME
							  , CODFUNCAO
							  , NOMEFUNCAO
							  , CODSECAO
							  , NOMESECAO
							  , DTMUDANCA DATA
							  , NULL HORARIO
							  , 'troca_menor_10_dias' OCORRENCIA
							  , NULL COMPLEMENTO
							  , (DATEDIFF(DAY, DATAALTERACAO, DTMUDANCA)) VALOR


							  , NULL BASE
							  , NULL HTRAB
							  , NULL EXTRAAUTORIZADO
							  , NULL COMPENSADO
							  , NULL DESCANSO
							  , NULL FERIADO,
							'RM' SISTEMA
						
						  FROM(
							  SELECT 
							  	  A.CODCOLIGADA 
							  	, A.CHAPA
							  	, B.NOME
							  	, B.CODFUNCAO
							  	, C.NOME NOMEFUNCAO
							  	, B.CODSECAO
							  	, D.DESCRICAO NOMESECAO
							  	, A.DTMUDANCA
							  	, A.CODHORARIO
							  	, A.DATAALTERACAO 
							  	, (SELECT M.DTMUDANCA FROM PFHSTHOR M WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CHAPA = M.CHAPA AND M.DTMUDANCA = 
							  			(SELECT MAX(DTMUDANCA) FROM PFHSTHOR M WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CHAPA = M.CHAPA AND M.DTMUDANCA < A.DTMUDANCA) ) PEN_DTMUDANCA
							    , ISNULL((SELECT M.CODHORARIO FROM PFHSTHOR M WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CHAPA = M.CHAPA AND M.DTMUDANCA = 
							  				(SELECT MAX(DTMUDANCA) FROM PFHSTHOR M WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CHAPA = M.CHAPA AND M.DTMUDANCA < A.DTMUDANCA) ),A.CODHORARIO) PEN_CODHORARIO
							  	
	
	
							  FROM PFHSTHOR A
							  	INNER JOIN PFUNC   (NOLOCK) B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
							  	LEFT  JOIN PFUNCAO (NOLOCK) C ON B.CODCOLIGADA = C.CODCOLIGADA AND B.CODFUNCAO = C.CODIGO
							  	LEFT  JOIN PSECAO  (NOLOCK) D ON B.CODCOLIGADA = D.CODCOLIGADA AND B.CODSECAO = D.CODIGO
							  	INNER JOIN PAR              P ON 1=1 --P.COLIGADA = A.CODCOLIGADA
							  WHERE 
							  	--B.CODSITUACAO NOT IN ('D') AND
							   A.DTMUDANCA BETWEEN P.INICIO AND P.FIM
								/*AND (SELECT troca_menor10 FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/
								-- AND B.CODSECAO IN ('001.30002.001') 
							   
						  )X 
							WHERE (DATEDIFF(DAY, DATAALTERACAO, DTMUDANCA)) < 3
							AND CODHORARIO <> PEN_CODHORARIO

						  
						  
						UNION ALL
						/***************************************************************************************************************/
						/* TROCA DE ESCALA SEM ANEXO DO TERMO ADITIVO    [tipo de retorno VALOR]                                       */
						/***************************************************************************************************************/
									
						  SELECT 
								B.CODCOLIGADA
							  , B.CHAPA
							  , B.NOME
							  , B.CODFUNCAO
							  , C.NOME NOMEFUNCAO
							  , B.CODSECAO
							  , D.DESCRICAO NOMESECAO
							  , A.datamudanca DATA
							  , NULL HORARIO
							  , 'pendente_termo_aditivo' OCORRENCIA
							  , NULL COMPLEMENTO
							  , A.id VALOR
							  
							  , NULL BASE
							  , NULL HTRAB
							  , NULL EXTRAAUTORIZADO
							  , NULL COMPENSADO
							  , NULL DESCANSO
							  , NULL FERIADO,
							'RM' SISTEMA
						  FROM 
							  PortalRHPRD..zcrmportal_escala A
							  INNER JOIN PFUNC   (NOLOCK) B ON B.CHAPA = A.chapa COLLATE Latin1_General_CI_AS AND B.CODCOLIGADA = A.coligada
							  INNER JOIN PFUNCAO (NOLOCK) C ON C.CODCOLIGADA = B.CODCOLIGADA AND C.CODIGO = B.CODFUNCAO
							  INNER JOIN PSECAO  (NOLOCK) D ON D.CODCOLIGADA = B.CODCOLIGADA AND D.CODIGO = B.CODSECAO
							  INNER JOIN PAR              P ON 1=1 --P.COLIGADA = A.coligada
						  WHERE
								  CAST(A.documento AS VARCHAR(10)) IS NULL
							  AND A.datamudanca BETWEEN P.INICIO AND P.FIM
							  /*AND (SELECT req_troca FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1 */
							  --  AND B.CODSECAO IN ('001.30002.001')  
							 --AND B.CODSITUACAO NOT IN ('D')
							 
							 
							  
						UNION ALL
						/***************************************************************************************************************/
						/* SOBREAVISO     [tipo de retorno VALOR]                                                                      */
						/***************************************************************************************************************/
						  
						  SELECT 
								B.CODCOLIGADA
							  , B.CHAPA
							  , B.NOME
							  , B.CODFUNCAO
							  , C.NOME NOMEFUNCAO
							  , B.CODSECAO
							  , D.DESCRICAO NOMESECAO
							  , CONVERT(DATE, A.dtcad, 3) DATA
							  , NULL HORARIO
							  , 'sobreaviso' OCORRENCIA
							, NULL COMPLEMENTO
							  , SUM(A.HORAS) VALOR

							  , NULL BASE
							  , NULL HTRAB
							  , NULL EXTRAAUTORIZADO
							  , NULL COMPENSADO
							  , NULL DESCANSO
							  , NULL FERIADO,
							'RM' SISTEMA
							  
							  --,DATEADD(DAY,6,P.INICIO) INICIO
							  --,DATEADD(DAY,6,P.FIM) FIM
							  
						  FROM 
							  PortalRHPRD..zcrmportal_substituicao_sobreaviso (NOLOCK) A
								  INNER JOIN PFUNC   (NOLOCK) B ON B.CHAPA = A.chapa COLLATE Latin1_General_CI_AS AND B.CODCOLIGADA = A.coligada
								  INNER JOIN PFUNCAO (NOLOCK) C ON C.CODCOLIGADA = B.CODCOLIGADA AND C.CODIGO = B.CODFUNCAO
								  INNER JOIN PSECAO  (NOLOCK) D ON D.CODCOLIGADA = B.CODCOLIGADA AND D.CODIGO = B.CODSECAO
								  INNER JOIN PAR              P ON 1=1 --A.COLIGADA = P.COLIGADA
							  
						  WHERE 
								A.dtcad BETWEEN DATEADD(DAY,6,P.INICIO) AND DATEADD(DAY,6,P.FIM)
							  AND A.situacao = 2
							  /*AND (SELECT sobreaviso FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/ 
							   -- AND B.CODSECAO IN ('001.30002.001') 
							    --AND B.CODSITUACAO NOT IN ('D')
							  
						  GROUP BY 
							  B.CODCOLIGADA,
							  B.CHAPA,
							  B.NOME,
							  B.CODFUNCAO,
							  C.NOME,
							  B.CODSECAO,
							  D.DESCRICAO,
							  CONVERT(DATE, A.dtcad, 3)
							
						  HAVING 
							  SUM(A.horas) > 5760
						  
						  
										
						UNION ALL
						/***************************************************************************************************************/
						/* Excesso de Abono Gestor (Superior a 5 dias consecutivos)    [tipo de retorno COMPLEMENTO]                   */
						/***************************************************************************************************************/ 

						  SELECT
								CODCOLIGADA
							  , CHAPA
							  , NOME
							  , CODFUNCAO
							  , NOMEFUNCAO
							  , CODSECAO
							  , NOMESECAO
							  , DATA
							  , NULL HORARIO
							  , 'excesso_abono_gestor' OCORRENCIA
							  , '5 dias de ' + CONVERT(VARCHAR(10),DATA,103) + ' à ' + CONVERT(VARCHAR(10),DATAFINAL,103)   COMPLEMENTO
							  , (UM + DOIS + TRES + QUATRO + CINCO) VALOR
							  
							  , BASE
							  , HTRAB
							  , EXTRAAUTORIZADO
							  , COMPENSADO
							  , DESCANSO
							  , FERIADO,
							'RM' SISTEMA
						  FROM(
						  
							  SELECT
									A.CODCOLIGADA
								  , A.CHAPA
								  , B.NOME
								  , B.CODFUNCAO
								  , C.NOME NOMEFUNCAO
								  , B.CODSECAO
								  , D.DESCRICAO NOMESECAO
								  , A.DATA
								  , P.ABONO
								  , A.BASE
								, A.HTRAB
								, A.EXTRAAUTORIZADO
								, A.COMPENSADO
								, A.DESCANSO
								, A.FERIADO
						  
								  ,(CASE WHEN (SELECT COUNT(*) FROM AABONFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND A.DATA   = B.DATA AND B.CODABONO = P.ABONO AND A.BASE > 0)>0 THEN 1 ELSE 0 END)UM
								  ,(CASE WHEN (SELECT COUNT(*) FROM AABONFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND B.CODABONO = P.ABONO AND A.BASE > 0 
																											  AND 
																											(SELECT DATA FROM (
																											  SELECT TOP 5 AA.DATA ,ROW_NUMBER() OVER(ORDER BY AA.DATA DESC) SEQ
																											  FROM AAFHTFUN AA WHERE A.CODCOLIGADA = AA.CODCOLIGADA AND A.CHAPA = AA.CHAPA AND AA.DATA < A.DATA AND AA.BASE > 0 
																											  )X WHERE seq = 1) 
																											= B.DATA )>0 THEN 1 ELSE 0 END) DOIS
								  ,(CASE WHEN (SELECT COUNT(*) FROM AABONFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND B.CODABONO = P.ABONO AND A.BASE > 0 
																											  AND 
																											(SELECT DATA FROM (
																											  SELECT TOP 5 AA.DATA ,ROW_NUMBER() OVER(ORDER BY AA.DATA DESC) SEQ
																											  FROM AAFHTFUN AA WHERE A.CODCOLIGADA = AA.CODCOLIGADA AND A.CHAPA = AA.CHAPA AND AA.DATA < A.DATA AND AA.BASE > 0 
																											  )X WHERE seq = 2) 
																											= B.DATA )>0 THEN 1 ELSE 0 END) TRES
																											
							  ,(CASE WHEN (SELECT COUNT(*) FROM AABONFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND B.CODABONO = P.ABONO AND A.BASE > 0 
																											  AND 
																											(SELECT DATA FROM (
																											  SELECT TOP 5 AA.DATA ,ROW_NUMBER() OVER(ORDER BY AA.DATA DESC) SEQ
																											  FROM AAFHTFUN AA WHERE A.CODCOLIGADA = AA.CODCOLIGADA AND A.CHAPA = AA.CHAPA AND AA.DATA < A.DATA AND AA.BASE > 0 
																											  )X WHERE seq = 3) 
																											= B.DATA )>0 THEN 1 ELSE 0 END) QUATRO                                                                            
							  ,(CASE WHEN (SELECT COUNT(*) FROM AABONFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND B.CODABONO = P.ABONO AND A.BASE > 0 
																											  AND 
																											(SELECT DATA FROM (
																											  SELECT TOP 5 AA.DATA ,ROW_NUMBER() OVER(ORDER BY AA.DATA DESC) SEQ
																											  FROM AAFHTFUN AA WHERE A.CODCOLIGADA = AA.CODCOLIGADA AND A.CHAPA = AA.CHAPA AND AA.DATA < A.DATA AND AA.BASE > 0 
																											  )X WHERE seq = 4) 
																											= B.DATA )>0 THEN 1 ELSE 0 END) CINCO                                                                           
							  , (SELECT DATA 
								FROM (
								  SELECT TOP 5 AA.DATA ,ROW_NUMBER() OVER(ORDER BY AA.DATA DESC) SEQ
								  FROM AAFHTFUN AA WHERE A.CODCOLIGADA = AA.CODCOLIGADA AND A.CHAPA = AA.CHAPA AND AA.DATA < A.DATA AND AA.BASE > 0 
								  )X WHERE seq = 4) DATAFINAL
								  
							  FROM AAFHTFUN (NOLOCK) A
								  INNER JOIN PAR              P ON 1=1 --P.COLIGADA = A.CODCOLIGADA
								  INNER JOIN PFUNC   (NOLOCK) B ON B.CODCOLIGADA = A.CODCOLIGADA AND B.CHAPA = A.CHAPA
								  INNER JOIN PFUNCAO (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = B.CODFUNCAO
								  INNER JOIN PSECAO  (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = B.CODSECAO
								  
							  WHERE
								  A.DATA BETWEEN P.INICIO AND P.FIM
								  /*AND (SELECT excesso_gestor FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/ 
								--   AND B.CODSECAO IN ('001.30002.001') 
								  --AND B.CODSITUACAO NOT IN ('D')
								  
						  
						  )X
						   WHERE UM = 1 AND DOIS = 1 AND TRES = 1 AND QUATRO = 1 AND CINCO = 1


						  
						UNION ALL
						/***************************************************************************************************************/
						/* Trabalho superior à 6 (seis) dias consecutivos sem folga  [tipo de retorno COMPLEMENTO]                     */
						/***************************************************************************************************************/

						  SELECT
								CODCOLIGADA
							  , CHAPA
							  , NOME
							  , CODFUNCAO
							  , NOMEFUNCAO
							  , CODSECAO
							  , NOMESECAO
							  , DATA
							  , HORARIO
							  , 'trabalho_6dias' OCORRENCIA
							  , '7 dias de ' + CONVERT(VARCHAR(10),DATAFINAL,103) + ' à ' + CONVERT(VARCHAR(10),DATA,103)  COMPLEMENTO
							  , (UM + DOIS + TRES + QUATRO + CINCO + SEIS + SETE) VALOR
							
								, BASE
							  , HTRAB
							  , EXTRAAUTORIZADO
							  , COMPENSADO
							  , DESCANSO
							  , FERIADO,
							'RM' SISTEMA
						  FROM(
						  
							  SELECT
									A.CODCOLIGADA
								  , A.CHAPA
								  , B.NOME
								  , B.CODFUNCAO
								  , C.NOME NOMEFUNCAO
								  , B.CODSECAO
								  , D.DESCRICAO NOMESECAO
								  , A.DATA
								  , (SELECT N.CODHORARIO FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA = 
								(SELECT MAX(DTMUDANCA) FROM PFHSTHOR (NOLOCK) N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND N.DTMUDANCA <= A.DATA)) HORARIO
								  , (SELECT COUNT(B.CHAPA) FROM AAFHTFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND A.DATA   = B.DATA AND B.HTRAB >0)UM
								  , (SELECT COUNT(B.CHAPA) FROM AAFHTFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND A.DATA-1 = B.DATA AND B.HTRAB >0)DOIS
								  , (SELECT COUNT(B.CHAPA) FROM AAFHTFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND A.DATA-2 = B.DATA AND B.HTRAB >0)TRES
								  , (SELECT COUNT(B.CHAPA) FROM AAFHTFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND A.DATA-3 = B.DATA AND B.HTRAB >0)QUATRO
								  , (SELECT COUNT(B.CHAPA) FROM AAFHTFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND A.DATA-4 = B.DATA AND B.HTRAB >0)CINCO
								  , (SELECT COUNT(B.CHAPA) FROM AAFHTFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND A.DATA-5 = B.DATA AND B.HTRAB >0)SEIS
								  , (SELECT COUNT(B.CHAPA) FROM AAFHTFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND A.DATA-6 = B.DATA AND B.HTRAB >0)SETE
								  
								  ,(SELECT B.DATA FROM AAFHTFUN (NOLOCK) B WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA AND A.DATA-6 = B.DATA AND B.HTRAB >0)DATAFINAL
								  
								  , A.BASE
								, A.HTRAB
								, A.EXTRAAUTORIZADO
								, A.COMPENSADO
								, A.DESCANSO
								, A.FERIADO
								  
							  FROM AAFHTFUN (NOLOCK) A
								  INNER JOIN PAR              P ON 1=1 --P.COLIGADA = A.CODCOLIGADA
								  INNER JOIN PFUNC   (NOLOCK) B ON B.CODCOLIGADA = A.CODCOLIGADA AND B.CHAPA = A.CHAPA
								  INNER JOIN PFUNCAO (NOLOCK) C ON C.CODCOLIGADA = A.CODCOLIGADA AND C.CODIGO = B.CODFUNCAO
								  INNER JOIN PSECAO  (NOLOCK) D ON D.CODCOLIGADA = A.CODCOLIGADA AND D.CODIGO = B.CODSECAO
								  
							  WHERE
								  A.DATA BETWEEN P.INICIO AND P.FIM
								  /*AND (SELECT trabalho_sup6 FROM PortalRHPRD..zcrmportal_ocorrencia_tipo where id = 1) = 1*/ 
								  --  AND B.CODSECAO IN ('001.30002.001') 
									--AND B.CODSITUACAO NOT IN ('D')
								  
								  
						  )X
							WHERE UM = 1 AND DOIS = 1 AND TRES = 1 AND QUATRO = 1 AND CINCO = 1 AND SEIS = 1 AND SETE = 1


                            /*************************************************************************************
							 * ocorrencias de outros sistema
							 *************************************************************************************/		
								UNION ALL

								SELECT 
									CAST(a.codcoligada AS INT) CODCOLIGADA,
									a.chapa COLLATE Latin1_General_CI_AS CHAPA,
									b.NOME,
									b.CODFUNCAO,
									c.NOME NOMEFUNCAO,
									b.CODSECAO,
									d.DESCRICAO NOMESECAO,
									a.data DATA,
									NULL HORARIO,
									a.ocorrencia OCORRENCIA,
									a.resultado COLLATE Latin1_General_CI_AS COMPLEMENTO,
									NULL VALOR
									, NULL BASE
									, NULL HTRAB
									, NULL EXTRAAUTORIZADO
									, NULL COMPENSADO
									, NULL DESCANSO
									, NULL FERIADO
									, a.sistema SISTEMA
								FROM 
									PortalRHPRD..zcrmportal_ocorrencia a (NOLOCK)
									INNER JOIN PFUNC b (NOLOCK) ON b.CHAPA COLLATE Latin1_General_CI_AS = a.chapa AND b.CODCOLIGADA = a.codcoligada COLLATE Latin1_General_CI_AS
									INNER JOIN PFUNCAO c (NOLOCK) ON c.CODIGO = b.CODFUNCAO AND c.CODCOLIGADA = b.CODCOLIGADA
									INNER JOIN PSECAO d (NOLOCK) ON d.CODIGO = b.CODSECAO AND d.CODCOLIGADA = b.CODCOLIGADA
									INNER JOIN PAR p ON 1=1 --p.COLIGADA = CAST(a.codcoligada AS INT) 
								WHERE 
										a.codcoligada >= 1 
									AND a.sistema NOT IN ('RM')
									AND a.data BETWEEN p.INICIO AND p.FIM
									-- AND b.CODSECAO IN ('001.30002.001') 
									 AND a.codmotivo IS NULL 
									 --AND b.CODSITUACAO NOT IN ('D')
									/*AND 1 = 
										CASE
											WHEN a.ocorrencia = 'excesso_abono_gestor' THEN (SELECT excesso_gestor FROM PortalRHPRD..zcrmportal_ocorrencia_tipo WHERE coligada = a.codcoligada )
											WHEN a.ocorrencia = 'extra_permitido' THEN (SELECT extra_acima FROM PortalRHPRD..zcrmportal_ocorrencia_tipo WHERE coligada = a.codcoligada )
											WHEN a.ocorrencia = 'extra' THEN 1
											WHEN a.ocorrencia = 'jornada' THEN 1
											WHEN a.ocorrencia = 'trabalho_dsr_folga' THEN 1
											WHEN a.ocorrencia = 'trabalho_dsr_folga_descanso' THEN (SELECT trabalho_dsr_descanso FROM PortalRHPRD..zcrmportal_ocorrencia_tipo WHERE coligada = a.codcoligada )
											WHEN a.ocorrencia = 'trabalho_ferias_afastamento' THEN 1
											WHEN a.ocorrencia = 'registro_manual' THEN (SELECT registro_manual FROM PortalRHPRD..zcrmportal_ocorrencia_tipo WHERE coligada = a.codcoligada )
											WHEN a.ocorrencia = 'trabalho_6dias' THEN (SELECT trabalho_sup6 FROM PortalRHPRD..zcrmportal_ocorrencia_tipo WHERE coligada = a.codcoligada )
											WHEN a.ocorrencia = 'interjornada' THEN (SELECT interjornada FROM PortalRHPRD..zcrmportal_ocorrencia_tipo WHERE coligada = a.codcoligada )
											WHEN a.ocorrencia = 'registro_britanico' THEN (SELECT registro_bri FROM PortalRHPRD..zcrmportal_ocorrencia_tipo WHERE coligada = a.codcoligada )
											WHEN a.ocorrencia = 'sobreaviso' THEN (SELECT sobreaviso FROM PortalRHPRD..zcrmportal_ocorrencia_tipo WHERE coligada = a.codcoligada )
											WHEN a.ocorrencia = 'troca_menor_6_meses' THEN (SELECT troca_menor6 FROM PortalRHPRD..zcrmportal_ocorrencia_tipo WHERE coligada = a.codcoligada )
											WHEN a.ocorrencia = 'troca_menor_10_dias' THEN (SELECT troca_menor10 FROM PortalRHPRD..zcrmportal_ocorrencia_tipo WHERE coligada = a.codcoligada )
											WHEN a.ocorrencia = 'pendente_termo_aditivo' THEN (SELECT req_troca FROM PortalRHPRD..zcrmportal_ocorrencia_tipo WHERE coligada = a.codcoligada )
											ELSE 1
										END*/

					)X

					LEFT JOIN PortalRHPRD..zcrmportal_ocorrencia (NOLOCK) Z ON Z.chapa = X.CHAPA  AND Z.codcoligada = X.CODCOLIGADA AND Z.data = X.DATA --AND Z.ocorrencia = X.OCORRENCIA
                    LEFT JOIN PortalRHPRD..zcrmportal_ocorrencia_motivo (NOLOCK) ZZ ON ZZ.ID = Z.codmotivo
)Z

)
GO
