USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_triggers]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_triggers]
  @tabname     sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(1024)
-- build the select statement
set @cmd = N'select so1.name ' +
     N'from ' + @db_name + N'.sys.objects so1, ' +
                @db_name + N'.sys.objects so2, ' +
                @db_name + N'.sys.schemas sch  ' +
       N'where so1.schema_id = sch.schema_id '        +
         N'and sch.name = @schema_name '              +
         N'and so1.type = ''TR'' '                    +
         N'and so1.parent_object_id = so2.object_id ' +
         N'and so2.name = @tabname '                  +
   N'order by so1.name'
exec sp_executesql @cmd,N'@schema_name sysname,@tabname sysname',
   @schema_name,@tabname
END
 
GO
