USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFFILIAL]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFFILIAL] AS
SELECT CODCOLIGADA,CODFILIAL,NOMEFANTASIA,CGC,NOME,INSCRICAOESTADUAL,GETDATE() AS DTHRATUALIZACAO 
FROM   GFILIAL
GO
