USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_plan_attributes]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_get_plan_attributes]
    @hdl varbinary(64)
as
begin
  select attribute,
    is_cache_key = case when is_cache_key = 'False' then 'False'
                   else 'True'
                   end,
    value from sys.dm_exec_plan_attributes(@hdl)
end
 
GO
