USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_FECHAMENTO_PONTO_COL1]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_FECHAMENTO_PONTO_COL1] AS 
     
            WITH
            PAR AS (
            SELECT
            COLIGADA = '1'
            ,INICIO   = '2025-02-16'
            ,FIM      = '2025-03-15'
            ),

            FAIXAS AS (

            SELECT 
            P.CODCOLIGADA, CODPARCOL, CODEVEPTO, CODEVEREL, PORCINCID 
            ,(SELECT CODCALC FROM AEVECALC R WHERE P.CODCOLIGADA = R.CODCOLIGADA AND P.CODEVEPTO = R.CODEVENTO) FAIXA
            FROM AEVEPCOL P, PEVENTO Q
            WHERE 
            P.CODCOLIGADA = Q.CODCOLIGADA
            AND P.CODEVEREL = Q.CODIGO
            AND concat(P.CODCOLIGADA,' - ',P.CODEVEPTO) IN (
            --eventos de cálculos
            SELECT concat(codcoligada,' - ',codevento) CHAVE FROM AEVECALC
            WHERE CODCALC BETWEEN '0018' AND '0027'
            )

            )

            --SELECT * FROM FAIXAS WHERE CODPARCOL = '012' AND CODCOLIGADA = 1 AND 

            SELECT COLIGADA,CODIGO_FILIAL,CHAPA,NOME,CODIGO_FUNCAO,FUNCAO,CC,DESCRICAO_CC,SECAO,DESCRICAO_SECAO,CODIGO_SINDICATO,SINDICATO,DATA,DIA_SEMANA,ESCALA,HORARIO,DESC_HORARIO,ENTRADA,HR_REFEICAO,HRS_DIRECAO,HRS_EM_ESPERA,HRS_PARADO,TIPO_ABONO,HRS_NORMAIS,HRS_ABONADAS,HRS_FALTAS,HRS_ATRASOS,HRS_ESPERA,HRS_50,HRS_60,HRS_80,HRS_100,AD_NOTURNO_25,AD_NOTURNO_30,AD_NOTURNO_35,AD_NOTURNO_40,DEBITO_BH,SALDO_BH_COM_ACRESCIMO,JUSTIFICATIVA_EXTRA FROM (
                SELECT 
                A.CODCOLIGADA      AS COLIGADA
                ,B.CODFILIAL        AS CODIGO_FILIAL
                ,A.CHAPA            AS CHAPA
                ,B.NOME             AS NOME
                ,B.CODFUNCAO        AS CODIGO_FUNCAO
                ,D.NOME             AS FUNCAO
                ,C.NROCENCUSTOCONT  AS CC
                ,E.NOME             AS DESCRICAO_CC
                ,B.CODSECAO         AS SECAO
                ,C.DESCRICAO        AS DESCRICAO_SECAO
                ,F.CODPARCOL        AS CODIGO_SINDICATO
                ,G.DESCRICAO        AS SINDICATO
                ,CONVERT(varchar, A.DATA, 103)  AS DATA
                ,(SELECT
                    max(CONCAT(bb.id, ' - ', CAST(bb.descricao AS VARCHAR)))
                FROM
                    PortalRHPRD..zcrmportal_ponto_justificativa_func aa
                    JOIN PortalRHPRD..zcrmportal_ponto_motivos bb ON bb.id = aa.justificativa
                WHERE
                        aa.chapa = A.CHAPA COLLATE Latin1_General_CI_AS
                    AND aa.coligada = A.CODCOLIGADA
                    AND aa.dtponto = A.DATA
                ) JUSTIFICATIVA_EXTRA
                ,(CASE WHEN DATEPART(WEEKDAY,A.DATA) = 1 THEN 'Domingo'
                WHEN DATEPART(WEEKDAY,A.DATA) = 2 THEN 'Segunda' 
                WHEN DATEPART(WEEKDAY,A.DATA) = 3 THEN 'Terça'
                WHEN DATEPART(WEEKDAY,A.DATA) = 4 THEN 'Quarta'
                WHEN DATEPART(WEEKDAY,A.DATA) = 5 THEN 'Quinta'
                WHEN DATEPART(WEEKDAY,A.DATA) = 6 THEN 'Sexta'
                WHEN DATEPART(WEEKDAY,A.DATA) = 7 THEN 'Sabado'
                END) AS DIA_SEMANA

                ,(SELECT 
                CONCAT('IndiceDia ', CODINDICE, '  --> ') +
                COALESCE(dbo.MINTOTIME(ENTRADA1),'') + (CASE WHEN dbo.MINTOTIME(ENTRADA1) IS NULL THEN '' ELSE '  ' END) +
                COALESCE(dbo.MINTOTIME(SAIDA1),'')   + (CASE WHEN dbo.MINTOTIME(SAIDA1)   IS NULL THEN '' ELSE '  ' END) +
                COALESCE(dbo.MINTOTIME(ENTRADA2),'') + (CASE WHEN dbo.MINTOTIME(ENTRADA2) IS NULL THEN '' ELSE '  ' END) +
                COALESCE(dbo.MINTOTIME(SAIDA2),'') ESCALA
                FROM dbo.CALCULO_HORARIO_PT4 (CONVERT(VARCHAR(10),A.DATA,103), A.CHAPA, A.CODCOLIGADA, 0) 
                ) ESCALA
                
                ,dbo.MINTOTIME(BASE) AS JORNADA
                ,(SELECT 
                TOP 1 P.CODHORARIO
                FROM PFHSTHOR P
                INNER JOIN AHORARIO Q ON P.CODCOLIGADA = Q.CODCOLIGADA AND P.CODHORARIO = Q.CODIGO 
                WHERE A.CODCOLIGADA = P.CODCOLIGADA AND A.CHAPA = P.CHAPA AND P.DTMUDANCA <= A.DATA
                ORDER BY DTMUDANCA DESC) AS HORARIO

                ,(SELECT 
                TOP 1 Q.DESCRICAO
                FROM PFHSTHOR P
                INNER JOIN AHORARIO Q ON P.CODCOLIGADA = Q.CODCOLIGADA AND P.CODHORARIO = Q.CODIGO 
                WHERE A.CODCOLIGADA = P.CODCOLIGADA AND A.CHAPA = P.CHAPA AND P.DTMUDANCA <= A.DATA
                ORDER BY DTMUDANCA DESC) AS DESC_HORARIO

                ,(SELECT BATIDAS FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)) ENTRADA

                ,(CASE WHEN (SELECT QTDE FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)) IS NULL THEN NULL
                WHEN (SELECT QTDE FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)) <= 3 THEN dbo.MINTOTIME('0')
                WHEN (SELECT QTDE FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)) >= 4
                THEN CASE WHEN (DATEDIFF(minute, 0, SUBSTRING((SELECT replace(replace(replace(BATIDAS,' ',''),'+',''),'-','') FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)),11,5))
                - DATEDIFF(minute, 0, SUBSTRING((SELECT replace(replace(replace(BATIDAS,' ',''),'+',''),'-','') FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)),6,5)) ) IS NULL THEN ''
                ELSE CASE WHEN (DATEDIFF(minute, 0, SUBSTRING((SELECT replace(replace(replace(BATIDAS,' ',''),'+',''),'-','') FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)),11,5)) <
                      DATEDIFF(minute, 0, SUBSTRING((SELECT replace(replace(replace(BATIDAS,' ',''),'+',''),'-','') FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)),6,5)) )
                      THEN  
                  dbo.MINTOTIME((DATEDIFF(minute, 0, SUBSTRING((SELECT replace(replace(replace(BATIDAS,' ',''),'+',''),'-','') FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)),11,5))+1440
                - DATEDIFF(minute, 0, SUBSTRING((SELECT replace(replace(replace(BATIDAS,' ',''),'+',''),'-','') FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)),6,5)) ) )      
                  ELSE     
                dbo.MINTOTIME((DATEDIFF(minute, 0, SUBSTRING((SELECT replace(replace(replace(BATIDAS,' ',''),'+',''),'-','') FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)),11,5))
                - DATEDIFF(minute, 0, SUBSTRING((SELECT replace(replace(replace(BATIDAS,' ',''),'+',''),'-','') FROM BATIDAS(A.CODCOLIGADA,A.CHAPA,A.DATA,A.DATA)),6,5)) ) )
                  END
                END
                END ) HR_REFEICAO

                ,ISNULL((
                    SELECT
						case when ta.horas_de_direcao = 0 then null
						else
							RIGHT('0' + CAST(ta.horas_de_direcao / 60 AS VARCHAR), 2) + ':' +
							RIGHT('0' + CAST(ta.horas_de_direcao % 60 AS VARCHAR), 2) 
						end HHMM
                    FROM
                        PortalRHPRD..zcrmportal_ponto_ats_totalizador ta
                        INNER JOIN PPESSOA tc ON tc.CODIGO = B.CODPESSOA
                    WHERE
                            tc.CPF = ta.cpf COLLATE Latin1_General_CI_AS
                        and ta.data_gravacao = A.DATA

                ),'') HRS_DIRECAO
                

                ,ISNULL((

                    SELECT
						case when ta.horas_em_espera = 0 then null
						else
							RIGHT('0' + CAST(ta.horas_em_espera / 60 AS VARCHAR), 2) + ':' +
							RIGHT('0' + CAST(ta.horas_em_espera % 60 AS VARCHAR), 2) 
						end HHMM
                    FROM
                        PortalRHPRD..zcrmportal_ponto_ats_totalizador ta
                        INNER JOIN PPESSOA tc ON tc.CODIGO = B.CODPESSOA
                    WHERE
                            tc.CPF = ta.cpf COLLATE Latin1_General_CI_AS
                        and ta.data_gravacao = A.DATA

                ),'') HRS_EM_ESPERA
                

                ,ISNULL((

                    SELECT
						case when ta.horas_parado = 0 then null
						else
							RIGHT('0' + CAST(ta.horas_parado / 60 AS VARCHAR), 2) + ':' +
							RIGHT('0' + CAST(ta.horas_parado % 60 AS VARCHAR), 2) 
						end HHMM
                    FROM
                        PortalRHPRD..zcrmportal_ponto_ats_totalizador ta
                        INNER JOIN PPESSOA tc ON tc.CODIGO = B.CODPESSOA
                    WHERE
                            tc.CPF = ta.cpf COLLATE Latin1_General_CI_AS
                        and ta.data_gravacao = A.DATA

                ),'') HRS_PARADO
                

                ,(SELECT TOP 1 R.DESCRICAO  
                FROM AOCORRENCIACALCULADA P, AABONFUN Q, AABONO R 
                WHERE A.CODCOLIGADA = P.CODCOLIGADA AND A.CHAPA = P.CHAPA AND A.DATA = P.DATAREFERENCIA AND P.TIPOOCORRENCIA IN ('ABO')
                AND P.CODCOLIGADA = Q.CODCOLIGADA AND P.CHAPA = Q.CHAPA AND FORMAT(P.INICIO, 'yyyy-MM-dd 00:00:00') = Q.DATA 
                AND DATEDIFF(minute, 0, CONVERT(VARCHAR(8),P.INICIO,108)) = Q.HORAINICIO AND DATEDIFF(minute, 0, CONVERT(VARCHAR(8),FIM,108)) = Q.HORAFIM 
                AND Q.CODCOLIGADA = R.CODCOLIGADA AND Q.CODABONO = R.CODIGO) TIPO_ABONO
                ,(CASE WHEN HTRAB = 0 THEN '' ELSE dbo.MINTOTIME(A.HTRAB) END) HRS_NORMAIS
                /* Se no horario estiver que tem q fazer no MINIMo X minutos, vai aparecer mesmo q ele tenha apenas 2 batidas no dia || Se no horario nao for flexivel o horario, não entrará como AREF e sim atraso compensado e extra compensado mesmo ele fazendo 1h e vai aparece apenas o tempo q for dentro do horario de refeicao do horario*/
                ,(CASE WHEN ABONO = 0 THEN '' ELSE dbo.MINTOTIME(A.ABONO) END) HRS_ABONADAS
                ,(CASE WHEN FALTA = 0 THEN '' ELSE dbo.MINTOTIME(A.FALTA) END) HRS_FALTAS
                ,(CASE WHEN ATRASO = 0 THEN '' ELSE dbo.MINTOTIME(A.ATRASO) END) HRS_ATRASOS
                ,(SELECT dbo.MINTOTIME(SUM(HORAFIM-HORAINICIO)) FROM AEESPFUN P WHERE A.CODCOLIGADA = P.CODCOLIGADA AND A.CHAPA = P.CHAPA AND A.DATA = P.DATA) HRS_ESPERA

                ,(SELECT CASE WHEN SUM(ISNULL(HORA,0)) > 0 THEN dbo.mintotime(SUM(ISNULL(HORA,0))) ELSE '' END
                FROM(
                /* 1a FAIXA AMOVFUNDIA*/
                SELECT 
                SUM(ISNULL(NUMHORAS,0)) HORA
                FROM AMOVFUNDIA P, PEVENTO Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVE      = Q.CODIGO
                AND Q.PORCINCID   = 1.5

                UNION ALL

                /* 1a FAIXA BANCO DE HORAS - Tem percentual ao enviar para o Banco de horas, por isso a Qtde Executada nao bate*/
                SELECT 
                SUM(ISNULL(VALOR,0)) HORA
                FROM ABANCOHORFUNDETALHE P, FAIXAS Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVENTO   = Q.CODEVEPTO
                AND F.CODPARCOL   = Q.CODPARCOL
                AND Q.PORCINCID   = 1.5
                )X 
                ) HRS_50

                ,(SELECT CASE WHEN SUM(ISNULL(HORA,0)) > 0 THEN dbo.mintotime(SUM(ISNULL(HORA,0))) ELSE '' END
                FROM(
                /* 1a FAIXA AMOVFUNDIA*/
                SELECT 
                SUM(ISNULL(NUMHORAS,0)) HORA
                FROM AMOVFUNDIA P, PEVENTO Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVE      = Q.CODIGO
                AND Q.PORCINCID   = 1.6

                UNION ALL

                /* 1a FAIXA BANCO DE HORAS - Tem percentual ao enviar para o Banco de horas, por isso a Qtde Executada nao bate*/
                SELECT 
                SUM(ISNULL(VALOR,0)) HORA
                FROM ABANCOHORFUNDETALHE P, FAIXAS Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVENTO   = Q.CODEVEPTO
                AND F.CODPARCOL   = Q.CODPARCOL
                AND Q.PORCINCID   = 1.6
                )X 
                ) HRS_60

                ,(SELECT CASE WHEN SUM(ISNULL(HORA,0)) > 0 THEN dbo.mintotime(SUM(ISNULL(HORA,0))) ELSE '' END
                FROM(
                /* 1a FAIXA AMOVFUNDIA*/
                SELECT 
                SUM(ISNULL(NUMHORAS,0)) HORA
                FROM AMOVFUNDIA P, PEVENTO Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVE      = Q.CODIGO
                AND Q.PORCINCID   = 1.8

                UNION ALL

                /* 1a FAIXA BANCO DE HORAS - Tem percentual ao enviar para o Banco de horas, por isso a Qtde Executada nao bate*/
                SELECT 
                SUM(ISNULL(VALOR,0)) HORA
                FROM ABANCOHORFUNDETALHE P, FAIXAS Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVENTO   = Q.CODEVEPTO
                AND F.CODPARCOL   = Q.CODPARCOL
                AND Q.PORCINCID   = 1.8
                )X 
                ) HRS_80

                ,(SELECT CASE WHEN SUM(ISNULL(HORA,0)) > 0 THEN dbo.mintotime(SUM(ISNULL(HORA,0))) ELSE '' END
                FROM(
                /* 1a FAIXA AMOVFUNDIA*/
                SELECT 
                SUM(ISNULL(NUMHORAS,0)) HORA
                FROM AMOVFUNDIA P, PEVENTO Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVE      = Q.CODIGO
                AND Q.PORCINCID   = 2.0

                UNION ALL

                /* 1a FAIXA BANCO DE HORAS - Tem percentual ao enviar para o Banco de horas, por isso a Qtde Executada nao bate*/
                SELECT 
                SUM(ISNULL(VALOR,0)) HORA
                FROM ABANCOHORFUNDETALHE P, FAIXAS Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVENTO   = Q.CODEVEPTO
                AND F.CODPARCOL   = Q.CODPARCOL
                AND Q.PORCINCID   = 2.0
                )X 
                ) HRS_100

                ,(SELECT CASE WHEN SUM(ISNULL(HORA,0)) > 0 THEN dbo.mintotime(SUM(ISNULL(HORA,0))) ELSE '' END
                FROM(
                SELECT 
                SUM(ISNULL(NUMHORAS,0)) HORA
                FROM AMOVFUNDIA P, PEVENTO Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVE      = Q.CODIGO
                AND Q.PORCINCID   = 0.25
                )X 
                ) AD_NOTURNO_25

                ,(SELECT CASE WHEN SUM(ISNULL(HORA,0)) > 0 THEN dbo.mintotime(SUM(ISNULL(HORA,0))) ELSE '' END
                FROM(
                SELECT 
                SUM(ISNULL(NUMHORAS,0)) HORA
                FROM AMOVFUNDIA P, PEVENTO Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVE      = Q.CODIGO
                AND Q.PORCINCID   = 0.30
                )X 
                ) AD_NOTURNO_30 

                ,(SELECT CASE WHEN SUM(ISNULL(HORA,0)) > 0 THEN dbo.mintotime(SUM(ISNULL(HORA,0))) ELSE '' END
                FROM(
                SELECT 
                SUM(ISNULL(NUMHORAS,0)) HORA
                FROM AMOVFUNDIA P, PEVENTO Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVE      = Q.CODIGO
                AND Q.PORCINCID   = 0.35
                )X 
                ) AD_NOTURNO_35

                ,(SELECT CASE WHEN SUM(ISNULL(HORA,0)) > 0 THEN dbo.mintotime(SUM(ISNULL(HORA,0))) ELSE '' END
                FROM(
                SELECT 
                SUM(ISNULL(NUMHORAS,0)) HORA
                FROM AMOVFUNDIA P, PEVENTO Q
                WHERE 
                A.CODCOLIGADA = P.CODCOLIGADA
                AND A.CHAPA       = P.CHAPA
                AND A.DATA        = P.DATA
                AND P.CODCOLIGADA = Q.CODCOLIGADA
                AND P.CODEVE      = Q.CODIGO
                AND Q.PORCINCID   = 0.40
                )X 
                ) AD_NOTURNO_40
                
                ,(SELECT (CASE WHEN SUM(VALOR) > 0 THEN '-' ELSE '' END) + dbo.mintotime(SUM(VALOR)) 
                FROM ABANCOHORFUNDETALHE P 
                WHERE A.CODCOLIGADA = P.CODCOLIGADA AND A.CHAPA = P.CHAPA AND A.DATA = P.DATA AND P.CODEVENTO IN ('001','002')) DEBITO_BH
                
                ,(SELECT CONCAT((CASE WHEN SUM(CASE WHEN CODEVENTO IN ('001','002') THEN VALOR*-1 ELSE VALOR END) < 0 
                    THEN '-'
                            WHEN SUM(CASE WHEN CODEVENTO IN ('001','002') THEN VALOR*-1 ELSE VALOR END) > 0 THEN '+' 
                            ELSE '' END),
                dbo.MINTOTIME(SUM(CASE WHEN (CASE WHEN CODEVENTO IN ('001','002') THEN VALOR*-1 ELSE VALOR END) < 0 
                                    THEN (CASE WHEN CODEVENTO IN ('001','002') THEN VALOR*-1 ELSE VALOR END)*-1 
                                    ELSE (CASE WHEN CODEVENTO IN ('001','002') THEN VALOR*-1 ELSE VALOR END) END)) )


               

                FROM ABANCOHORFUNDETALHE P 
                WHERE A.CODCOLIGADA = P.CODCOLIGADA AND A.CHAPA = P.CHAPA AND A.DATA = P.DATA) SALDO_BH_COM_ACRESCIMO

                FROM AAFHTFUN (NOLOCK) A
                INNER JOIN PFUNC   (NOLOCK) B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA 
                INNER JOIN PSECAO  (NOLOCK) C ON B.CODCOLIGADA = C.CODCOLIGADA AND B.CODSECAO = C.CODIGO 
                INNER JOIN PFUNCAO (NOLOCK) D ON B.CODCOLIGADA = D.CODCOLIGADA AND B.CODFUNCAO = D.CODIGO
                LEFT  JOIN PCCUSTO (NOLOCK) E ON C.CODCOLIGADA = E.CODCOLIGADA AND C.NROCENCUSTOCONT = E.CODCCUSTO
                INNER JOIN APARFUN (NOLOCK) F ON A.CODCOLIGADA = F.CODCOLIGADA AND A.CHAPA = F.CHAPA
                INNER JOIN APARCOL (NOLOCK) G ON F.CODCOLIGADA = G.CODCOLIGADA AND F.CODPARCOL = G.CODIGO
                INNER JOIN PAR              M ON A.CODCOLIGADA = M.COLIGADA AND A.DATA BETWEEN M.INICIO AND M.FIM


                WHERE
                B.CODSITUACAO NOT IN ('D')
                AND A.DATA BETWEEN '2025-02-16' AND '2025-03-15'
                
                
                
                

            )X


        
GO
