USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[GCAMPOS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[GCAMPOS] AS
SELECT TABELA,COLUNA,DESCRICAO DESCRICAO,RELATORIO RELATORIO,APLICACOES
FROM GDIC
GO
