USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SHORARIOSUBTURMA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SHORARIOSUBTURMA]
AS
(
		SELECT CODCOLIGADA
			,IDTURMADISC
			,CODSUBTURMA
			,IDHORARIOTURMAVINC AS IDHORARIOTURMA
			,RECCREATEDBY
			,RECCREATEDON
			,RECMODIFIEDBY
			,RECMODIFIEDON
		FROM SHORARIOTURMA  WITH (NOLOCK)
		WHERE IDHORARIOTURMAVINC IS NOT NULL
		)
GO
