USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFVEN]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFVEN] AS
SELECT CODCOLIGADA,CODVEN,NOME,COMISSAO1,COMISSAO2,COMISSAO3,CODPESSOA,
INATIVO,SENHA,VENDECOMPRA,PFVENDEDOR,PFCAIXA,PFSUPERVISOR,PFGERENTE,GETDATE() AS DTHRATUALIZACAO
FROM TVEN
GO
