USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_curr_db_size_details]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[sap_curr_db_size_details]()
returns @dbszdetl table (
		[reserved]    decimal(15, 0),
		[numtabs]     int,
		[tabdata]     decimal(15, 0),
		[numinds]     int,
		[inddata]     decimal(15, 0),
		[unused]      decimal(15, 0),
		[numprocs]    int )
as
BEGIN
  declare @reserved decimal(15)
  declare @data     decimal(15)
  declare @index    decimal(15)
  declare @used     decimal(15)
  declare @unused   decimal(15)
  declare @numtabs  int
  declare @numinds  int
  declare @numprocs int
  -- get reserved size
  -- get data size
  -- get index size
  select @reserved = sum(a.total_pages) * 8,
		@used = sum(a.used_pages) * 8,
		@data =
		sum(CASE
		 When it.internal_type IN (202,204) Then 0
		 When a.type <> 1 Then a.used_pages
		 When p.index_id < 2 Then a.data_pages
		 Else 0
	   END) * 8
	 from sys.partitions p
		 join sys.objects so
		 on so.object_id = p.object_id
		 join sys.allocation_units a
	   on p.partition_id = a.container_id
		left join
			  sys.internal_tables it
		on p.object_id = it.object_id
		where so.type = 'U'
  set @index = @used - @data
  set @unused = @reserved - @used
  -- count objects
  -- tables
  select @numtabs =  count(name) from
			   sys.objects where type = 'U'
  -- indexes
  select @numinds = count(i.name)
		from sys.objects o join sys.indexes i
			on o.object_id = i.object_id where
			   o.type = 'U'
  -- procedures
  select @numprocs = count(name) from
		  sys.objects where type = 'P'
  -- save the information in the temp table
  insert into @dbszdetl
    values(@reserved,@numtabs,@data,@numinds,@index,
			   @unused,@numprocs)
  return
END
 
GO
