USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tf_tabhist]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tf_tabhist](@tablename sysname, @schema sysname)
RETURNS  @sample TABLE (
    [tablename]    [varchar] (128),
    [sampledate]   [nchar](8) ,
    [sampletime]   [nvarchar](8),
    [totalrows]    [decimal](15, 0) ,
    [datasize]     [decimal](15, 0)  ,
    [reserved]     [decimal](15, 0)  ,
    [indexsize]    [decimal](15, 0) ,
    [rowmodctr]    [int] ,
    [statsschver]  [int]  ,
    [indexdepth]   [int]  ,
    [numindexes]   [int]  ,
    [numstats]     [int]  ,
    [statsdate]    [varchar] (20) ,
    [tableoptions] [varchar] (10) ,
    [lastduration] [int]   -- milliseconds for analyzing this table
)
AS
BEGIN
  declare @sch_id int
  if @schema = ''
    select @schema = user
  select top 1 @sch_id = uid from sysobjects
     where id = object_id(@schema+'.'+name)
  if @tablename IS NOT NULL
  begin
    INSERT into @sample
      SELECT
        sap.tablename,
        convert(nchar(8),sap.sampledate,112),
        replace(convert(nvarchar(8),sap.sampledate,8),N':',N''),
        sap.totalrows,
        sap.datasize,
        sap.reserved,
        sap.indexsize,
        sap.rowmodctr,
        sap.statsschver,
        sap.indexdepth,
        sap.numindexes,
        sap.numstats,
        sap.statsdate,
        sap.tableoptions,
        sap.lastduration
      FROM  sap_tabstats sap
      WHERE sap.tablename = @tablename and
         sap.uid = @sch_id
      ORDER BY sap.sampledate desc
  end
  RETURN
END
 
GO
