USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tr_nlines]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tr_nlines] @permid int
as
begin
  declare @tracef nvarchar(320)
  set nocount on
  set @tracef = ( select tracef from sap_tr_header
                  where permid = @permid )
  set @tracef = @tracef + '.trc'
  select Error FROM ::fn_trace_gettable (@tracef, default)
end
 
GO
