USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_all_locks]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_mon_all_locks]
  @one_sid int = 0,
  @one_obj bigint = 0,
  @one_db sysname = ''
AS
begin
  set nocount off
  SELECT
    LCK.request_session_id as [sess_id],
    LCK.resource_associated_entity_id as [entity_id],
    case
      when LCK.resource_type = 'OBJECT'
			and db_name(LCK.resource_database_id) = db_name()
				then isnull(OBJ2.name, '.')
			when LCK.resource_type in ('PAGE','KEY','RID')
			and db_name(LCK.resource_database_id) = db_name()
				then isnull(left(OBJ.name,24), '.')
			else '.'
      end as [obj_name],
		
    db_name(LCK.resource_database_id) as [db_name],
		
    case
      when LCK.resource_type in ('PAGE','KEY','RID')
         and db_name(LCK.resource_database_id) = db_name()
      then isnull(PART.index_id,-1)
      else -1
    end as [ind_id],
		
    left(LCK.resource_type,16) as waitrsc,
    left(LCK.request_mode,16) as req_mode,
		
    LCK.request_status as req_status,		
    left(LCK.resource_description,48) as res_desc,
    case
      when LCK.resource_type = 'OBJECT'
        then LCK.resource_associated_entity_id
      when LCK.resource_type in ('PAGE','KEY','RID')
	and db_name(LCK.resource_database_id) = db_name()
        then isnull(PART.object_id,-1)
	 else -1
      end as [obj_id]
    FROM sys.dm_tran_locks as LCK
	left outer join sys.partitions as PART with (nolock)
		on LCK.resource_associated_entity_id = PART.hobt_id
	left outer join sys.objects as OBJ with (nolock)
		on OBJ.object_id = PART.object_id
	left outer join sys.objects as OBJ2 with (nolock)
		on OBJ2.object_id = LCK.resource_associated_entity_id
	WHERE
        LCK.request_session_id <> @@spid
        and request_type = 'LOCK'
        and not (left(LCK.request_mode,1)='S' and LCK.resource_type
                = 'DATABASE' and LCK.request_status = 'GRANT')
        and not (left(LCK.request_mode,1)='I' and LCK.resource_type
                = 'PAGE'     and LCK.request_status = 'GRANT')
        and not (left(LCK.request_mode,1)='I' and LCK.resource_type
                = 'OBJECT'   and LCK.request_status = 'GRANT')
        -- Filters:
        and (@one_sid = 0 or LCK.request_session_id = @one_sid)
        and (@one_obj = 0 or LCK.resource_associated_entity_id = @one_obj
                          or PART.object_id = @one_obj)
        and (@one_db = N'' or db_name(LCK.resource_database_id) = @one_db)
	ORDER BY
		LCK.request_session_id,
		[obj_id]
end
 
GO
