USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TMOVCONT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[TMOVCONT] AS
SELECT TMOVCTB.IDOPERACAO,
CCONT.CODCOLIGADA, CCONT.IDCONT AS IDMOVCONT, TMOVCTB.IDMOV,
CASE WHEN CCONT.TIPO = 3  THEN 1
ELSE CCONT.TIPO END AS TIPO,
CPARTIDA.CODCOLDEBITO AS CODCOLCONTA, CPARTIDA.DEBITO AS CODCONTA,
CCONT.VALOR, CPARTIDA.CODFILIAL, CPARTIDA.CODDEPARTAMENTO, CPARTIDA.CODCCUSTO,
CPARTIDA.CODHISTP, CPARTIDA.COMPLEMENTO AS COMPLHISTORICO, CPARTIDA.CODLOTE,
CASE WHEN CPARTIDA.CODLOTE = 0  THEN NULL
ELSE CPARTIDA.LCTREF END AS LCTREF,
CASE WHEN CPARTIDA.CODLOTE = 0 THEN CPARTIDA.LCTREF
ELSE NULL            END AS LCTREFINT,
CASE WHEN CCONT.STATUS = 'C'    THEN 1
ELSE 0               END AS ATIVO,
CPARTIDA.IDPARTIDA
FROM CPARTIDA JOIN CCONT
ON CCONT.CODCOLIGADA = CPARTIDA.CODCOLIGADA AND
CCONT.IDPARTIDA = CPARTIDA.IDPARTIDA
JOIN TMOVCTB
ON TMOVCTB.CODCOLIGADA = CCONT.CODCOLIGADA AND
TMOVCTB.IDOPERACAO = CCONT.IDOPERACAO
WHERE CCONT.TIPO IN (1,3) AND (CCONT.STATUS IN ('I','C'))
UNION
SELECT TMOVCTB.IDOPERACAO,
CCONT.CODCOLIGADA, CCONT.IDCONT AS IDMOVCONT, TMOVCTB.IDMOV,
CASE WHEN CCONT.TIPO = 3  THEN 2
ELSE CCONT.TIPO END AS TIPO,
CPARTIDA.CODCOLCREDITO AS CODCOLCONTA, CPARTIDA.CREDITO AS CODCONTA,
CCONT.VALOR, CPARTIDA.CODFILIAL, CPARTIDA.CODDEPARTAMENTO, CPARTIDA.CODCCUSTO,
CPARTIDA.CODHISTP, CPARTIDA.COMPLEMENTO AS COMPLHISTORICO, CPARTIDA.CODLOTE,
CASE WHEN CPARTIDA.CODLOTE = 0  THEN NULL
ELSE CPARTIDA.LCTREF END AS LCTREF,
CASE WHEN CPARTIDA.CODLOTE = 0 THEN CPARTIDA.LCTREF
ELSE NULL            END AS LCTREFINT,
CASE WHEN CCONT.STATUS = 'C'    THEN 1
ELSE 0               END AS ATIVO,
CPARTIDA.IDPARTIDA
FROM CPARTIDA JOIN CCONT
ON CCONT.CODCOLIGADA = CPARTIDA.CODCOLIGADA AND
CCONT.IDPARTIDA = CPARTIDA.IDPARTIDA
JOIN TMOVCTB
ON TMOVCTB.CODCOLIGADA = CCONT.CODCOLIGADA AND
TMOVCTB.IDOPERACAO = CCONT.IDOPERACAO
WHERE CCONT.TIPO IN (2,3) AND (CCONT.STATUS IN ('I','C'))
GO
