USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[FONTEGERA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FONTEGERA] AS

WITH FONTEGERA AS(
SELECT IDSEQUENCIAL,DESCRICAO,CODSECAOLOT,CODFUNCAOLOT 
	   
	 	
FROM(
SELECT
	ROW_NUMBER ( )OVER (PARTITION BY A.IDSEQUENCIAL ORDER by A.IDSEQUENCIAL )SEQ,
	A.CODCOLIGADA,
	A.IDSEQUENCIAL,
	A.CODSECAOLOT,
	A.CODFUNCAOLOT,
	B.NOME DESCRICAO
	
FROM 
	VPPRAMEDICOESFONTEGERA A
	LEFT JOIN VPPRAFONTEGERA B ON A.CODFONTEGERA = B.CODFONTEGERA  
	

	)X)
	
	
SELECT
	IDSEQUENCIAL,CODSECAOLOT,CODFUNCAOLOT,
	STUFF((
       SELECT '||' + t1.DESCRICAO
         FROM FONTEGERA t1
        WHERE t1.IDSEQUENCIAL = t0.IDSEQUENCIAL
        ORDER BY t1.DESCRICAO
          FOR XML PATH('')), 1, LEN(','), '') AS FONTE
          
FROM FONTEGERA t0
 GROUP BY t0.IDSEQUENCIAL, t0.CODSECAOLOT, t0.CODFUNCAOLOT
GO
