USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_backup_detail]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_backup_detail] @dbname varchar(255),
                                       @type smallint, @backupid int
as
begin
/*******************************************************************/
/* Retrieves tapes details for restore the last successful backup  */
/* from backupset including the Log backup, incremental backup.    */
/*                                                                 */
/* 02/25/2008    Added set nocount on and convert stmt to          */
/*                            backup_finish_date            RR     */
/* 03/16/2010    Added a select for differential backups    RR     */
/*******************************************************************/
  declare @lst_succ_backup_date datetime
  set nocount on
  if @type = 1
   begin
    select @lst_succ_backup_date = max(backup_finish_date)
       from  msdb..backupset s, msdb..backupmediafamily r,
             msdb..backupmediaset q
      where  s.media_set_id  = r.media_set_id
        and  s.media_set_id  = q.media_set_id
        and  s.media_set_id >= @backupid
        and  s.database_name = @dbname
        and  s.type = 'D'
    select t.database_name,
        backup_type =
          case t.type
             when N'D' then N'Full'
             when N'F' then N'File'
             when N'G' then N'Filegroup'
             when N'I' then N'Differential'
             when N'L' then N'Log'
           end,
        convert(varchar(20),t.backup_finish_date,120),
        h.logical_device_name,
        j.name,
        t.backup_set_id,
        t.name,
        t.description,
        convert(decimal(12,2),((t.backup_size/1024)/1024))N'backup_size',
        convert(char(8),(t.backup_finish_date - t.backup_start_date),108)
    from  msdb..backupset t, msdb..backupmediafamily h,
         msdb..backupmediaset j
    where  t.media_set_id  = h.media_set_id
     and  t.media_set_id  = j.media_set_id
     and  t.media_set_id >= @backupid
     and  t.database_name = @dbname
     and  t.type = 'D'
     and  t.backup_finish_date >= @lst_succ_backup_date
     order by t.backup_finish_date asc
    end
  else
    if @type = 2
      begin
       select @lst_succ_backup_date = max(backup_finish_date)
       from  msdb..backupset s, msdb..backupmediafamily r,
             msdb..backupmediaset q
       where  s.media_set_id  = r.media_set_id
        and  s.media_set_id  = q.media_set_id
        and  s.media_set_id >= @backupid
        and  s.database_name = @dbname
        and  s.type = 'D'
       select TOP 1 t.database_name,
        backup_type =
          case t.type
             when N'D' then N'Full'
             when N'F' then N'File'
             when N'G' then N'Filegroup'
             when N'I' then N'Differential'
             when N'L' then N'Log'
           end,
        convert(varchar(20),t.backup_finish_date,120),
        h.logical_device_name,
        j.name,
        t.backup_set_id,
        t.name,
        t.description,
        convert(decimal(12,2),((t.backup_size/1024)/1024))N'backup_size',
        convert(char(8),(t.backup_finish_date - t.backup_start_date),108)
       from  msdb..backupset t, msdb..backupmediafamily h,
         msdb..backupmediaset j
       where  t.media_set_id  = h.media_set_id
        and  t.media_set_id  = j.media_set_id
        and  t.media_set_id >= @backupid
        and  t.database_name = @dbname
        and   t.type = 'I'
        and  t.backup_finish_date >= @lst_succ_backup_date
        order by t.backup_finish_date desc
      end
    else
      begin
      select @lst_succ_backup_date = max(backup_finish_date)
       from  msdb..backupset s, msdb..backupmediafamily r,
             msdb..backupmediaset q
      where  s.media_set_id  = r.media_set_id
        and  s.media_set_id  = q.media_set_id
        and  s.media_set_id >= @backupid
        and  s.database_name = @dbname
        and  ( s.type = 'D' or s.type = 'I' )
   select t.database_name,
        backup_type =
        case t.type
            when N'D' then N'Full'
            when N'F' then N'File'
            when N'G' then N'Filegroup'
            when N'I' then N'Differential'
            when N'L' then N'Log'
         end,
         convert(varchar(20),t.backup_finish_date,120),
         h.logical_device_name,
         j.name,
         t.backup_set_id,
         t.name,
         t.description,
         convert(decimal(12,2),((t.backup_size/1024)/1024))N'backup_size',
         convert(char(8),(t.backup_finish_date - t.backup_start_date),108)
      from  msdb..backupset t, msdb..backupmediafamily h,
            msdb..backupmediaset j
      where  t.media_set_id  = h.media_set_id
       and  t.media_set_id  = j.media_set_id
       and  t.media_set_id >= @backupid
       and  t.database_name = @dbname
       and  t.type = 'L'
       and  t.backup_finish_date > @lst_succ_backup_date
      order by t.backup_finish_date asc
   end
end
 
GO
