USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[tira_colchetes]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* FUNCTION - TIRA COLCHETES */

create  function [dbo].[tira_colchetes] (@str varchar(2000)) returns varchar(2000)
begin
  declare @straux varchar(2000)
  declare @pos int
  set @straux=@str
  set @pos = charindex('[',@straux)
  while @pos > 0
  begin
    set @straux= (substring(@straux,1,@pos-1) + substring(@straux,@pos+1,len(@straux)-@pos))
    set @pos = charindex('[',@straux)
  end
  set @pos = charindex(']',@straux)
  while @pos > 0
  begin
    set @straux= (substring(@straux,1,@pos-1) + substring(@straux,@pos+1,len(@straux)-@pos))
    set @pos = charindex(']',@straux)
  end
    return @straux
end



GO
