USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_PTMP_ATUALIZAESTRUTURASAP]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_PTMP_ATUALIZAESTRUTURASAP]
AS 
  SELECT *
    FROM ( SELECT COLIGADA 
                , CPF         
                , CHAPA            
                , CODSECAO                            
                , ACAO 
                , DATA                    
                , PROCESSADO 
                , TABELA                                                                                                                                                                                                                            
                , DATAINICIO              
                , DATAFIM                 
                , HOSTNAME                                                                                                                         
                , ID
             FROM PTMP_ATUALIZAESTRUTURASAP
            UNION ALL
           SELECT COLIGADA
                , CPF
                , CHAPA
                , CODSECAO
                , ACAO
                , DATA
                , PROCESSADO = 'S'
                , TABELA
                , DATAINICIO
                , DATAFIM
                , HOSTNAME
                , ID
             FROM PTMP_ATUALIZAESTRUTURASAP_LOG
         ) t
         
GO
