USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[CVDICIONARIOTABELAS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CVDICIONARIOTABELAS] AS
SELECT TABELA , DESCRICAO, 
	CASE SUBSTRING(TABELA, 1, 1) 
		WHEN 'O' THEN 'N'
		WHEN 'N' THEN 'W'
		WHEN 'S' THEN CASE SUBSTRING(TABELA,1,2)
						WHEN 'SZ' THEN 'O'
						ELSE 'S' END
		ELSE SUBSTRING(TABELA,1,1) END AS CODSISTEMA
FROM GCAMPOS
WHERE COLUNA = '#' 
GO
