USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[lpad]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Data		 : 14/04/2011
--Autor		 : Simone Souza
--Finalidade : Complementar com qualquer tipo de caracter a esquerda, alinhados a direita

CREATE FUNCTION [dbo].[lpad](@Text NVARCHAR(4000),@Character NVARCHAR(1), @CellWeight INT)
RETURNS NVARCHAR(4000)
AS
	BEGIN
		RETURN REPLICATE(@Character,@CellWeight-LEN(@Text))+RTRIM(@Text)
	END
GO
