USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_add_backupjob]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_add_backupjob] @jobName sysname,
                                   @r3Db sysname,
                                   @jobDesc nvarchar(500),
--Added for simulation
                                   @dbList   nvarchar(1280) = '',
                                   @bdevA    nvarchar(2000),
                                   @expdaysA int = 27,
                                   @unloadA  tinyint = 1,
                                   @verifyA  tinyint = 1,
                                   @initA    int  = 0,
                                   @formatA  int = 0,
                                   @bkupChecksumA nchar(1)= 'N',
                                   @bkupCompressA nchar(1)= 'Y',
--Added for simulation
                                   @cmd nvarchar(2000),
                                   @ena int =1,
                                   @subsys nvarchar(40)= 'TSQL',
                                   @stepname sysname = 'Step1',
                                   @startdate int,
                                   @starttime int,
                                   @fretype int =1,
                                   @freint int =1,
                                   @freuntyp int =0,
                                   @freunint int =0,
                                   @frerecurfac int =0,
                                   @enddate int = 0,
                                   @endtime int = 0,
                                   @bkupType nchar(1) = 'F',
                                   @exeDate  nchar(14) = '',
                                   @nativeBkup nchar(1) = 'N',
                                   @bkupSim nchar(1) = 'N',
                                   @sname  sysname = ''
as
begin
/**********************************************************************/
/* Changes:                                                           */
/* -Deleted @firstdb variable and Changed and used @firstDB variable  */
/*         to avoid errors duing sp creation when used with case      */
/*         insensitive collation                                      */
/*                                               12/05/2010           */
/**********************************************************************/
declare @delcmd1    nvarchar(124),
        @jobena     smallint,
        @retcode    int,
        @retStmt    nvarchar(4000),
        @execmd     nvarchar(4000),
        @stepcmd    nvarchar(4000),
        @step2cmd   nvarchar(500),
        @enastr     nchar,
        @formatstr  nchar,
        @initstr    nchar,
        @nextdb_pos int,
        @bkupDb     sysname,
        @unload_opt smallint,
        @stepid     int,
        @firstDb    int,
        @saveRcode  int,
        @tmp        nvarchar(128),
        @dbListS    nvarchar(1280),
        @bDev       nvarchar(2000),
        @verify     tinyint,
        @unload     tinyint,
        @format     int,
        @init       int,
        @expDays    int,
        @bkupChecksum nchar(1),
        @bkupCompress nchar(1),
        @format_init int,
        @dbCnt       int,
        @r3Db_j       sysname
/* sp_executesql commands */
declare @sp_cmd    nvarchar(MAX)
declare @ver_cmd   nvarchar(2000)
declare @pdef      nvarchar(1000)
declare @pdef1     nvarchar(1000)
declare @pdefv     nvarchar(1000)
declare @exeStmt   nvarchar(2000)
declare @verifyCmd nvarchar(500),
        @rmsg      nvarchar(1000)
set nocount on
select @enastr       = @ena
select @formatstr    = @formatA
select @initstr      = @initA
select @unload_opt   = @unloadA
select @stepid       = 1
select @firstDb      = 1
select @dbListS      = @dbList
select @bDev         = @bdevA
select @verify       = @verifyA
select @format       = @formatA
select @init         = @initA
select @expDays      = @expdaysA
select @format_init  = 0
select @bkupChecksum = @bkupChecksumA
select @bkupCompress = @bkupCompressA
select @dbCnt        = 0
/* Check for test Database.    */
if @r3Db = ''
  select @r3Db_j = db_name()
else
  select @r3Db_j = @r3Db
--create temp table to store SQL statements
--if  @bkupSim = 'Y'
 create table #sqlstmts(stmttext nvarchar(2000))
-- prepare the delete cmd if add job fails in the middle.
select @delcmd1 = 'msdb..sp_delete_job @job_name = ''' + @jobName
                  +''''
   set @sp_cmd = N'exec '+ @sname +N'.sap_backup_databases '
           + N'@dbList = @dbList,'
           + N'@r3Db  =  @r3Db,'
           + N'@bDev =  @bDev,'
           +N'@expDays = @expDays,'
           +N'@jobName = @jobName,'
           +N'@bkupChecksum = @bkupChecksum,'
           +N'@bkupCompress = @bkupCompress,'
           +N'@bkupType = @bkupType,'
           +N'@nativeBkup = @nativeBkup,'
           +N'@exeDate = @exeDate,'
           +N'@bkupSim = @bkupSim,'
           +N'@format  = @format,'
           +N'@init    = @init,'
           +N'@bkupDb  = @bkupDb,'
           +N'@unload  = @unload,'
           +N'@exeStmt = @exeStmt OUTPUT'
    set @pdef = N'@dbList nvarchar(500),'
         +N'@r3Db       sysname,'
         +N'@bDev       nvarchar(2000),'
         +N'@expDays    int,'
         +N'@jobName    nvarchar(128),'
         +N'@bkupChecksum nchar(1),'
         +N'@bkupCompress nchar(1),'
         +N'@bkupType   nchar(1),'
         +N'@nativeBkup nchar(1),'
         +N'@exeDate    nchar(14),'
         +N'@bkupSim    nchar(1),'
         +N'@format     tinyint,'
         +N'@init       tinyint,'
         +N'@bkupDb     sysname,'
         +N'@unload     tinyint,'
         +N'@exeStmt    nvarchar(2000) output'
    set @ver_cmd = N'exec '+ @sname + N'.sap_verify_backups '
                     +N'@nativeBkup = @nativeBkup,'
                     +N'@bkupSim = @bkupSim,'
                     +N'@bDev = @bDev,'
                     +N'@bkupChecksum = @bkupChecksum,'
                     +N'@exeDate = @exeDate,'
                     +N'@format_init = @format_init,'
                     +N'@unload  = @unload,'
                     +N'@dbCnt = @dbCnt,'
                     +N'@exeStmt = @exeStmt OUTPUT'
   set @pdef1 = N'@nativeBkup nchar(1),'
                +N'@bkupSim   nchar(1),'
                +N'@bDev   nvarchar(2000),'
                +N'@bkupChecksum nchar(1),'
                +N'@exeDate    nchar(14),'
                +N'@format_init int,'
                +N'@unload      tinyint,'
                +N'@dbCnt       int,'
                +N'@exeStmt nvarchar(2000) OUTPUT'
-- construct sql cmd for msdb..sp_add_job
  select @execmd = 'exec msdb..sp_add_job '
                +' @originating_server = ''(local)'''
                +',@job_name = "' + @jobName + '"'
                +',@enabled = ' + @enastr
                +',@description = "' + @jobDesc + '"'
                +',@start_step_id = 1, @category_name = NULL'
                +',@category_id = NULL'
 if @bkupSim = 'N'
    begin
     exec( @execmd )
     select @retcode = @@error
    end
  else
   begin
    insert into #sqlstmts(stmttext)
    select @execmd
    select @retcode = 0
   end
if @retcode = 0
  begin
     /* initialize */
     select @nextdb_pos = 1
     /* Add Job-steps */
     WHILE @nextdb_pos <> 0
       BEGIN
        /* Construct the verifycmd */
        select @verifyCmd = 'declare @exeStmt nvarchar(2000) exec '
              + @sname + '.sap_verify_backups '
              +'@nativeBkup = "' + @nativeBkup + '"'
              +',@bkupSim = "' + @bkupSim + '"'
              +',@bDev = "' + @bdevA + '"'
              +',@bkupChecksum = "' + @bkupChecksumA + '"'
              +',@exeDate = "' + @exeDate  + '"'
        /* get the nextdb_pos */
        select @nextdb_pos = CHARINDEX( ',',@dbListS)
        /* get the next database */
        if @nextdb_pos <> 0
          begin
           select @bkupDb =
            CONVERT( varchar, SUBSTRING( @dbListS,1,@nextdb_pos-1))
           /* creates a dummy string with blanks             */
           select @tmp = SPACE( @nextdb_pos )
           select @dbListS = STUFF( @dbListS,1,@nextdb_pos,@tmp )
           /* remove the leading blanks */
           select @dbListS = LTRIM( @dbListS )
          end
        else
          select @bkupDb = @dbListS
        /* if firstDB, then add the formt and init str */
          if @firstDb = 1
            begin
             set @stepcmd = 'declare @exeStmt nvarchar(2000) exec ' + @cmd
                + ',@exeDate = "' + @exeDate  + '"'
                + ',@bkupSim = "' + @bkupSim  + '"'
                + ',@format = '   + @formatstr
                + ',@init = '     + @initstr
                + ',@bkupDb = "'  + @bkupDb   + '"'
              if @format = 1 or @init = 1
               begin
                  select @verifyCmd = @verifyCmd + ',@format_init = 1'
                 select @format_init = 1
               end
             set @firstDb = 0
            end
          else
            begin
              set @format = 0
              set @init = 0
              if @format_init = 1
                select @verifyCmd = @verifyCmd + ',@format_init = 1'
              set @stepcmd = 'declare @exeStmt nvarchar(2000) exec ' + @cmd
                            + ',@exeDate = "' + @exeDate  + '"'
                            + ',@bkupSim = "' + @bkupSim  + '"'
                            + ',@bkupDb = "' + @bkupDb + '"'
            end
         /* Add the @unload option */
         if @nextdb_pos = 0   /* No other database to backup */
            begin
             if @verifyA = 0
               begin
                if @unloadA = 1
                  begin
                   set @unload = 1
                   select @stepcmd = @stepcmd + ',@unload = 1'
                  end
                else
                  begin
                    set @unload = 0
                   select @stepcmd = @stepcmd + ',@unload = 0'
                  end
               end
             else
               begin
                select @stepcmd = @stepcmd + ',@unload = 0'
                if  @unloadA = 1
                 begin
                    select  @verifyCmd = @verifyCmd + ',@unload = 1'
                    set @unload = 0
                 end
                else
                 begin
                  select  @verifyCmd = @verifyCmd + ',@unload = 0'
                  set @unload = 0
                 end
               end
            end
          else /* additional database to backup */
            begin
             set @unload = 0
             select @stepcmd = @stepcmd + ',@unload = 0'
             select  @verifyCmd = @verifyCmd + ',@unload = 0'
            end
         select @stepcmd = @stepcmd +
                         ',@exeStmt = @exeStmt OUTPUT'
         --print @stepcmd
         /* set the command for the job step */
         set @execmd = 'exec msdb..sp_add_jobstep'
             +' @job_id = null'
             +',@job_name = ''' + @jobName + ''''
             +',@step_id = ' + convert(varchar(2),@stepid)
             +',@step_name = ''CCMS-step ' +convert(varchar(2),@stepid)+''''
             +',@subsystem = ''' + @subsys +''''
             +',@command = ''' + @stepcmd + ''''
             +',@database_name = ''' + @r3Db_j + ''''
         /* set the job step to go to the next job step */
         if @nextdb_pos <> 0 or @verifyA = 1
            begin
             set @execmd = @execmd + ',@on_success_action = 3'
            end
         if @bkupSim = 'N'
          begin
            begin try
               exec( @execmd )
            end try
            begin catch
                select @retcode = ERROR_NUMBER()
                select @rmsg = ERROR_MESSAGE()
                insert into #sqlstmts(stmttext)
                select @rmsg
            end catch
            if @retcode <> 0
              break
          end
         else
           begin
               /*insert the sp_addjobstep */
               insert into #sqlstmts(stmttext)
               select @execmd
               /*insert the backupcmd */
              EXECUTE sp_executesql @cmd = @sp_cmd, @params = @pdef,
              @dbList = @dbList,
              @r3Db  =  @r3Db,
              @bDev  =  @bDev,
              @expDays = @expDays,
              @jobName = @jobName,
              @bkupChecksum = @bkupChecksum,
              @bkupCompress = @bkupCompress,
              @bkupType =  @bkupType,
              @nativeBkup = @nativeBkup,
              @exeDate = @exeDate,
              @bkupSim =  @bkupSim,
              @format =  @format,
              @init  = @init,
              @bkupDb = @bkupDb,
              @unload  = @unload,
              @exeStmt = @exeStmt OUTPUT
              /* get the backupcmd */
              insert into #sqlstmts(stmttext)
              select @exeStmt
              /* set the return code */
              select @retcode = 0
           end
        select @stepid = @stepid + 1
        /* verify the backups */
        if @retcode = 0
          begin
           select @dbCnt = @dbCnt + 1
           if @verifyA = 1
            begin
             select  @verifyCmd = @verifyCmd + ',@dbCnt  ='
                                + convert(varchar(2),@dbCnt)
                                + ',@exeStmt = @exeStmt OUTPUT'
             --added for testing remove it
             --if @nextdb_pos = 0
             --     select @stepid = @stepid - 1
             set @execmd = 'exec msdb..sp_add_jobstep'
             +' @job_id = null'
             +',@job_name = ''' + @jobName + ''''
             +',@step_id = ' + convert(varchar(2),@stepid)
             +',@step_name = ''CCMS-step ' +convert(varchar(2),@stepid)+''''
             +',@subsystem = ''' + @subsys +''''
             +',@command = ''' + @verifyCmd + ''''
             +',@database_name = ''' + @r3Db_j + ''''
             if @nextdb_pos <> 0
               set @execmd = @execmd + ',@on_success_action = 3'
             if @bkupSim = 'N'
               begin
                 begin try
                   exec( @execmd )
                 end try
                 begin catch
                   select @retcode = ERROR_NUMBER()
                   select @rmsg = ERROR_MESSAGE()
                   insert into #sqlstmts(stmttext)
                   select @rmsg
                 end catch
                 if @retcode <> 0
                   break
               end
             else
               begin
                  /* Add to temp table for display */
                  insert into #sqlstmts(stmttext)
                  select @execmd
                  /* set the @unload parameter if it is the last database */
                  if @nextdb_pos = 0 and @unloadA = 1
                      set @unload = 1
                  /* get the verify cmd */
                  EXECUTE sp_executesql @cmd = @ver_cmd, @params = @pdef1,
                   @nativeBkup      = @nativeBkup,
                   @bkupSim         = @bkupSim,
                   @bDev            = @bDev,
                   @bkupChecksum    = @bkupChecksum,
                   @exeDate         = @exeDate,
                   @format_init     = @format_init,
                   @unload          = @unload,
                   @dbCnt           = @dbCnt,
                   @exeStmt         = @exeStmt OUTPUT;
                  /* insert the verify cmd */
                  insert into #sqlstmts(stmttext)
                  select @exeStmt
                  select @retcode = 0
               end
             select @stepid = @stepid + 1
            end /* if @verifyA = 1 */
          end /* if @retcode = 0 sp_add_jobstep for backup stmt */
      END /* @nextdb_pos <> 0  Add Job-steps */
  /* If Add step is successful */
   if @retcode = 0
     begin
       if @enddate = 0
          set @execmd =   'exec msdb..sp_add_jobschedule @job_id = null'
              + ',@job_name = ''' + @jobName + ''''
              + ',@name = ''CCMS-sche1'''
              + ',@enabled = 1'
              + ',@freq_type =' + convert(varchar(3),@fretype)
              + ',@freq_interval = ' + convert(varchar(2),@freint)
              + ',@freq_subday_type = ' + convert(varchar(2),@freuntyp)
              + ',@freq_subday_interval = ' + convert(varchar(2),@freunint)
              + ',@active_start_date = ' + convert(char(8),@startdate)
              + ',@active_start_time = ' + convert(char(6),@starttime)
              + ',@freq_recurrence_factor = ' + convert(varchar(2),@frerecurfac)
          else
            set @execmd =   'exec msdb..sp_add_jobschedule @job_id = null'
              + ',@job_name = ''' + @jobName + ''''
              + ',@name = ''CCMS-sche1'''
              + ',@enabled = 1'
              + ',@freq_type =' + convert(varchar(3),@fretype)
              + ',@freq_interval = ' + convert(varchar(2),@freint)
              + ',@freq_subday_type = ' + convert(varchar(2),@freuntyp)
              + ',@freq_subday_interval = ' + convert(varchar(2),@freunint)
              + ',@active_start_date = ' + convert(char(8),@startdate)
              + ',@active_start_time = ' + convert(char(6),@starttime)
              + ',@freq_recurrence_factor = ' + convert(varchar(2),@frerecurfac)
              + ',@active_end_date = ' + convert(char(8),@enddate)
              + ',@active_end_time = ' + convert(char(8),@endtime)
        if @bkupSim = 'N'
          begin
                 begin try
                   exec( @execmd )
                 end try
                 begin catch
                   select @retcode = ERROR_NUMBER()
                   select @rmsg = ERROR_MESSAGE()
                   insert into #sqlstmts(stmttext)
                   select @rmsg
                 end catch
          end
        else
          begin
             insert into #sqlstmts(stmttext)
             select @execmd
             select @retcode = 0
          end
        if @retcode = 0
          begin
            set @execmd = 'exec msdb..sp_add_jobserver '
                        +' @job_name = ''' + @jobName + ''''
                        +',@server_name = ''(local)'''
            if @bkupSim= 'N'
              begin
                 begin try
                   exec( @execmd )
                 end try
                 begin catch
                   select @retcode = ERROR_NUMBER()
                   select @rmsg = ERROR_MESSAGE()
                   insert into #sqlstmts(stmttext)
                   select @rmsg
                 end catch
              end
            else
              begin
                 insert into #sqlstmts(stmttext)
                 select @execmd
                 select @retcode = 0
              end
             if @retcode != 0
                  exec(@delcmd1) -- delete cmd
          end
        else  -- if sp fails in add job schedule
             exec(@delcmd1) -- delete cmd
     end
   else -- if fails in add jobstep
      begin
        exec(@delcmd1) -- delete cmd
      end
  end /* if @retcode = 0 add_jobstep*/
  select stmttext from #sqlstmts
  drop table #sqlstmts
  set nocount off
end
 
GO
