USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[IRAZAOFILIAL]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[IRAZAOFILIAL]
AS
SELECT ICALCULORAZAOFILIAL.CODCOLIGADA
	,IPATRIMONIO.CODPATRIMONIO CODBEM
	,ICALCULORAZAOFILIAL.DATA
	,ICALCULORAZAOFILIAL.TAXADEPRECIACAOPERIODO TAXAMES
	,0 TAXAMESMOEDA
	,ICALCULORAZAOFILIAL.TAXADEPRECIACAOACUMULADA TAXAACUMULADA
	,0 TAXAACUMULADAMOEDA
	,ICALCULORAZAOFILIAL.VALORBASEINDICE VRBASEINDICE
	,ICALCULORAZAOFILIAL.VALORBASECORRIGIDO VRBASECORRIGIDO
	,0 VRMOEDA
	,ICALCULORAZAOFILIAL.DEPRECIACAOACUMULADAINDICE DEPRECINDICE
	,ICALCULORAZAOFILIAL.DEPRECIACAOACUMULADACORRIGIDA DEPRECCORRIGIDA
	,0 DEPRECMOEDA
	,0 DEPMESINDICE
	,0 DEPMESCORRIGIDA
	,0 DEPMESMOEDA
	,ICALCULORAZAOFILIAL.VALORCORRECAO CORRECAO
	,ICALCULORAZAOFILIAL.VALORCORRECAODEPRECACUMULADA CORRECAODEPREC
	,ICALCULORAZAOFILIAL.VALORCOTACAOINDICEFIMPERIODO VRDOINDICEFIMMES
	,ICALCULORAZAOFILIAL.VALORINDICEMEDIO VRDOINDICEMEDIO
	,0 AQUISICAOINDICE
	,0 AQUISICAOCORRIGIDA
	,0 AQUISICAOMOEDA
	,0 AQUISICAODEPINDICE
	,0 AQUISICAODEPCORRIGIDA
	,0 AQUISICAODEPMOEDA
	,0 BAIXAINDICE
	,0 BAIXACORRIGIDA
	,0 BAIXAMOEDA
	,0 BAIXADEPINDICE
	,0 BAIXADEPCORRIGIDA
	,0 BAIXADEPMOEDA
	,0 DEPSBAIXAINDICE
	,0 DEPSBAIXACORRIGIDA
	,0 DEPSBAIXAMOEDA
	,0 CORRECAOBAIXA
	,0 CORRECAODEPBAIXA
	,0 VRTRANSFINDICE
	,0 VRTRANSFCORRIGIDO
	,0 VRTRANSFMOEDA
	,0 TRANSFDEPINDICE
	,0 TRANSFDEPCORRIGIDA
	,0 TRANSFDEPMOEDA
	,0 DEPSTRANSFINDICE
	,0 DEPSTRANSFCORRIGIDA
	,0 DEPSTRANSFMOEDA
	,0 CORRECAOTRANSF
	,0 CORRECAODEPTRANSF
	,0 VRDETRANSFINDICE
	,0 VRDETRANSFCORRIGIDO
	,0 VRDETRANSFMOEDA
	,0 VRDETRANSFDEPINDICE
	,0 VRDETRANSFDEPCORRIGIDO
	,0 VRDETRANSFDEPMOEDA
	,0 ACRESCIMOINDICE
	,0 ACRESCIMOCORRIGIDO
	,0 ACRESCIMOMOEDA
	,ICALCULORAZAOFILIAL.CODFILIAL CODFILIAL
	,ICALCULORAZAOFILIAL.DEPRECIACAOAJUSTADA DEPMESFILIAL
	,ICALCULORAZAOFILIAL.DEPRECIACAOAJUSTADAINDICE DEPMESFILIALINDICE
	,0 DEPMESFILIALMOEDA
	,ICALCULORAZAOFILIAL.VALORBASEINDICE ENTRADAFILIALINDICE
	,ICALCULORAZAOFILIAL.VALORBASECORRIGIDO ENTRADAFILIAL
	,0 ENTRADAFILIALMOEDA
	,ICALCULORAZAOFILIAL.DEPRECIACAOACUMULADAINDICE ENTRADAFILIALDEPRECINDICE
	,ICALCULORAZAOFILIAL.DEPRECIACAOACUMULADACORRIGIDA ENTRADAFILIALDEPREC
	,0 ENTRADAFILIALDEPRECMOEDA
	,ICALCULORAZAOFILIAL.SAIDAVRBASEINDICE SAIDAFILIALINDICE
	,ICALCULORAZAOFILIAL.SAIDAVRBASECORRIGIDO SAIDAFILIAL
	,0 SAIDAFILIALMOEDA
	,ICALCULORAZAOFILIAL.SAIDADEPACUMULADAINDICE SAIDAFILIALDEPRECINDICE
	,ICALCULORAZAOFILIAL.SAIDADEPACUMULADA SAIDAFILIALDEPREC
	,0 SAIDAFILIALDEPRECMOEDA
	,ICALCULORAZAOFILIAL.PRIORIDADE PRIORIDADE
	,ICALCULORAZAOFILIAL.RECCREATEDBY
	,ICALCULORAZAOFILIAL.RECCREATEDON
	,ICALCULORAZAOFILIAL.RECMODIFIEDBY
	,ICALCULORAZAOFILIAL.RECMODIFIEDON
FROM ICALCULORAZAOFILIAL WITH (NOLOCK)
	,IPATRIMONIO  WITH (NOLOCK)
WHERE IPATRIMONIO.CODCOLIGADA = ICALCULORAZAOFILIAL.CODCOLIGADA
	AND IPATRIMONIO.IDPATRIMONIO = ICALCULORAZAOFILIAL.IDPATRIMONIO
GO
