USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_RetornaDependentes]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RetornaDependentes]
( @CPF VARCHAR(11) = ''
)
AS 
DECLARE @aCPF VARCHAR(12)
BEGIN
    SET NOCOUNT ON
    SET @aCPF = '%'+@CPF+'%'

	SELECT CHAPA          = DP.CHAPA
		 , CPF_FUNC       = P.CPF
		 , NOME           = DP.NOME
		 , SEXO           = IsNull(DP.SEXO, '')
		 , DTNASCIMENTO   = IsNull(Convert(VARCHAR, DP.DTNASCIMENTO,112),'')
		 , GRAUPARENTESCO = DP.GRAUPARENTESCO
		 , CPF            = IsNull(DP.CPF,'')
	  FROM PFDEPEND DP
		   INNER JOIN PFUNC   F ON DP.CODCOLIGADA = F.CODCOLIGADA
							   AND DP.CHAPA       = F.CHAPA
		   INNER JOIN PPESSOA P ON F.CODPESSOA     = P.CODIGO
	 WHERE F.CODCOLIGADA = 1
	   AND F.CODSITUACAO = 'A'       
       AND P.CPF LIKE @aCPF
       
    SET NOCOUNT OFF       
END

GO
