USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPESSOAVENDEDOR]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XPESSOAVENDEDOR]
AS
SELECT
V.NUM_VENDA * 100 + V.IDVENDEDOR COD_VEND,
V.CODCOLIGADA * 10000 + VC.TIPOVENDEDOR COD_TIPO_VEND,
V.NUM_VENDA,
NULL PERC_COMIS,
NULL TIPO_COMIS,
NULL VR_SALAR,
NULL NUM_CRECI,
'A' COD_SIT_OPRL,
NULL COD_PESS_ULT_MNT,
NULL DAT_ULT_MNT,
V.CHAPA,
NULL FLAG_GERENTE,
NULL COD_GERENTE,
V.RECCREATEDBY,
V.RECCREATEDON,
V.RECMODIFIEDBY,
V.RECMODIFIEDON
FROM XVENDEDOR V JOIN
XVENDEDORCOMPL VC
ON (V.CODCOLIGADA = VC.CODCOLIGADA) AND
(V.NUM_VENDA = VC.NUM_VENDA) AND
(V.IDVENDEDOR = VC.IDVENDEDOR)
GO
