USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_updtstat]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_updtstat] @name varchar(30) = NULL,
                              @statstype varchar(20) = NULL as
begin
  declare @vname sysname
        declare @forceflag varchar(3), @time1 datetime,
                @time2 datetime, @timediff int
  declare @tmpstore varchar(30), @pmessage varchar(60),
          @forceflag2 varchar(3)
  set nocount on
  select @time1 = getdate()
  if @name is NULL
  begin
    select @name = 'ALL'
  end
  else
  begin
    select @forceflag = 'EM'
    select @forceflag2 = 'EM'
    if @statstype is not NULL
    begin
      select @forceflag =
        case @statstype
          when 'fullmode' then 'FU'
          when 'samplemode'  then 'SA'
          when 'forcesample' then 'FS'
          when 'forcefull' then 'FF'
  when 'forcefullsample'  then 'SFF'
  when 'fullsample'  then 'SF'
          when 'helpmode' then 'HE'
          else 'SA'
        end
    end
    if @forceflag = 'EM' and @name <> 'ALL'
    begin
      select @forceflag2 =
        case lower(@name)
          when 'fullmode' then 'FU'
          when 'samplemode'  then 'SA'
          when 'forcesample' then 'FS'
          when 'forcefull' then 'FF'
          when 'norecompute' then 'NR'
          when 'recompute' then 'RE'
          when 'firstrun' then 'FR'
  when 'forcefullsample'  then 'SFF'
  when 'fullsample'  then 'SF'
          when 'helpmode' then 'HE'
          else 'AL'
        end
    end
  end
  if @forceflag = 'HE' or @forceflag2 = 'HE'
  begin
    print ' sap_updtstat is updating table and index statistics.' +
          ' Per default the row modification counter is '
    print ' used to decide, whether a update statistics has to be' +
          ' performed on a table or not. Per default a '
    print ' update statistics is performed if 5% of the rows are' +
          ' modified. If no specific parameter is'
    print ' specified, the default sample mode is used. '
    print ' Call: '
    print ' sap_updtstat [tablename], [fullmode|samplemode|' +
          'forcefull|forcesample|forcefullsample|fullsample' +
          'helpmode]'
    print ' tablename:   Name of one table, if not specified, all' +
          ' tables of the database will be updated'
    print ' fullmode:    A full scan over the tables is performed' +
          ' during the upgrade'
    print ' samplemode:  The default sampling rate is used for the' +
          ' update statistics'
    print ' forcefull:   The row modification counter is not used.' +
          ' The table is updated in '
    print '              full scan mode, regardless whether it would' +
          ' be necessary or not'
    print ' forcesample: The row modification counter is not used.' +
          ' The table is updated in '
    print '              sample scan mode, regardless whether it ' +
          'would be necessary or not'
    print ' fullsample:  The update is done with full scan for ' +
          'indexes. The columns statistics will be updated in sample ' +
          'mode. The row modification counter is used to estimate, ' +
          'whether an update statistics is necessary '
    print ' forcefullsample: The update is done with full scan for ' +
          'indexes. The columns statistics will be updated in sample ' +
          'mode. The row modification is not regarded. This means the' +
          'update statistics is executed on all tables '
    print ' helpmode:    This explaination is coming up with no' +
          ' further action'
  end
  else
  begin
    if @name = 'ALL' or @forceflag2 not in ('EM', 'AL')
    begin
      declare c1 cursor for select name from sysobjects where
          uid = user_id() and
          type in ('U') order by name
      select @name = 'ALL'
    end
    else
    begin
      if not exists (select name from sysobjects where
         uid = user_id() and name = @name)
      begin
        print 'Table does not exist!'
        return(-1)
      end
      select @vname = @name
    end
          if @name = 'ALL'
          begin
                 open c1
                 fetch c1 into @vname
                 while @@fetch_status <> -1
                 begin
                    exec sap_updatecolumns @vname, @forceflag2
        fetch c1 into @vname
                 end
                 deallocate c1
          end
    else
          begin
      if @forceflag = 'EM'     /* no forceflag specified  */
        select @forceflag = 'SA'       /* perform sampling */
                exec sap_updatecolumns @name, @forceflag
          end
    set nocount off
  end
  select @time2 = getdate()
  select @timediff = datediff(ms, @time1, @time2)
  Select @pmessage =  'Time needed in milliseconds: ' +
                      convert(varchar,@timediff)
  print @pmessage
  set nocount off
end
 
GO
