USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[CONTROLAAUDIT]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CONTROLAAUDIT] @CONDIC CHAR(1), @NREMESSA CHAR(4), @CCOMPRAD INT, @CPRESTAD INT, @CODCOLIGADA INT
AS
BEGIN
  IF @CONDIC = 'S'
  BEGIN
    IF EXISTS( SELECT NUMAUDITORES FROM SZFATURACONVENIO
               WHERE NUMAUDITORES IS NULL AND NUMEROREMESSA = @NREMESSA
               AND CODPRESTADOR = @CPRESTAD AND CODCOMPRADOR = @CCOMPRAD AND CODCOLIGADA = @CODCOLIGADA)
      UPDATE SZFATURACONVENIO
      SET NUMAUDITORES = 1
      WHERE NUMEROREMESSA = @NREMESSA
      AND CODPRESTADOR = @CPRESTAD AND CODCOMPRADOR = @CCOMPRAD AND CODCOLIGADA = @CODCOLIGADA
    ELSE
      UPDATE SZFATURACONVENIO
      SET NUMAUDITORES = NUMAUDITORES + 1
      WHERE NUMEROREMESSA = @NREMESSA
      AND CODPRESTADOR = @CPRESTAD AND CODCOMPRADOR = @CCOMPRAD AND CODCOLIGADA = @CODCOLIGADA

    IF ( SELECT NUMAUDITORES FROM SZFATURACONVENIO
         WHERE CODCOLIGADA = @CODCOLIGADA AND NUMEROREMESSA = @NREMESSA 
         AND CODPRESTADOR = @CPRESTAD AND CODCOMPRADOR = @CCOMPRAD ) >= 1
    BEGIN
      UPDATE SZPARCIALATEND
      SET STATUSAUDITORIA = 'I'
      WHERE CODCOLIGADA = @CODCOLIGADA AND NUMEROREMESSA = @NREMESSA 
      AND CODPRESTADOR = @CPRESTAD AND CODCONVENIO = @CCOMPRAD AND STATUSAUDITORIA = 'A'

      /*UPDATE SZATENDIMENTO
      SET STATUSAUDITORIA = 'I'
      WHERE NUMEROREMESSA = @NREMESSA AND CODPRESTADOR = @CPRESTAD
      AND CODCOMPRADOR = @CCOMPRAD AND  STATUSAUDITORIA = 'A' AND CODCOLIGADA = @CODCOLIGADA

      UPDATE SZATENDIMENTOREC
      SET STATUSAUDITORIA = 'I'
      WHERE NUMEROREMESSA = @NREMESSA AND CODPRESTADOR = @CPRESTAD
      AND CODCOMPRADOR = @CCOMPRAD AND  STATUSAUDITORIA = 'A' AND CODCOLIGADA = @CODCOLIGADA*/
    END
  END
  ELSE
  BEGIN
    IF EXISTS( SELECT NUMAUDITORES FROM SZFATURACONVENIO
               WHERE NUMAUDITORES > 0 AND NUMEROREMESSA = @NREMESSA
               AND CODPRESTADOR = @CPRESTAD AND CODCOMPRADOR = @CCOMPRAD AND CODCOLIGADA = @CODCOLIGADA)
      UPDATE SZFATURACONVENIO
      SET NUMAUDITORES = NUMAUDITORES - 1
      WHERE CODCOLIGADA = @CODCOLIGADA AND NUMEROREMESSA = @NREMESSA
      AND CODPRESTADOR = @CPRESTAD AND CODCOMPRADOR = @CCOMPRAD
  END
END
GO
