USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_backup_files]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_get_backup_files]
AS
BEGIN
   select  backup_set_id,filegroup_name,page_size,
          file_number,backed_up_page_count,file_type,
          source_file_block_size,file_size,
         logical_name,physical_drive,physical_name
    from msdb..backupfile
END
 
GO
