USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_rz20_errorlog]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_rz20_errorlog]
as
begin
set nocount on
declare @cmdstr nvarchar(1024)
declare @now  datetime
declare @then datetime
declare @noOutput int
declare @rowcnt int
declare @objsrc sysname
declare @messages table
( rownum      int,
  severity    nvarchar(1),
  logtime     datetime,
  rz20message nvarchar(80)
)
declare @phrases table
( phrase     nvarchar(80)
)
/*********************************************************/
/* set @noOutput if called from RAT ( #tables exist)     */
set @noOutput = 0
if ( object_id( 'tempdb..#errlogoutput') is NOT NULL )
  set @noOutput = 1
else
  create table #errlogoutput
  (
  ident      int IDENTITY(1,1),
  dmy        datetime null,
  prc        nvarchar(32),
  logText    nvarchar(MAX) null
  )
--
-- phrases to check
--
--  insert @phrases values ( N'%: 18456%')     -- testing Login failed
  insert @phrases values ( N'%: 18204,%')    -- Backup device %s failed
  insert @phrases values ( N'%: 18210,%')    -- Backup device %s failed
  insert @phrases values ( N'%Severity: 2%')
--
-- retrieve error log for last 24 hours
--
  select @now = getdate()
  select @then = dateadd( dd,-1,@now)
--
-- get data from error  log
--
  -- Use this schema to call other sps
  select @objsrc = schema_name(schema_id) from sys.objects
    where object_id = @@PROCID
  set @cmdstr = N'[' + @objsrc +
     N'].sap_sec_readerrorlog ''-1, 1, N'''''''', N'''''''',''''' +
            convert(nvarchar(100),@then) + ''''',''''' +
            convert(nvarchar(100),@now) + ''''''''
  insert #errlogoutput(dmy,prc,logText)
    exec ( @cmdstr )
--  select * from #errlogoutput
--
-- search for phrases
--
   insert into @messages
     select ident + 1, N'R',dmy,convert(nvarchar(80),logText)
       from #errlogoutput join @phrases
       on logText like phrase
--       where logText like  '%Severity: 2%'
 update @messages
  set rz20message = convert(nvarchar(20),dmy) +N' ' +
                    convert(nvarchar(60),logText)
  from #errlogoutput where ident = rownum
--
-- if no errors return 'G' , no problems
--
 select @rowcnt = ( select count(*) from @messages )
 if @rowcnt = 0
    insert into @messages
    values( 1 ,N'G',convert(nvarchar(20),getdate()),N'No errors')
 select severity, rz20message from @messages order by logtime asc
end
 
GO
