USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSGRUPOPROC]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSGRUPOPROC]
AS
  SELECT CODCOLIGADA,
         CO_GRUPO CODGRUPOPROC,
         NO_GRUPO DESCRICAO
  FROM   GCOLIGADA,
         SZSUSTUGRUPO
GO
