USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITANTECIPACAO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITANTECIPACAO]
AS
SELECT DISTINCT
XADITVCTO.CODCOLIGADA,
XADITVCTO.NUMVENDA,
XADITVCTO.NUMADIT,
'A7' AS CODTIPOADIT,
CASE
WHEN XADITVCTOPARC.CODTIPOCALCVENCIMENTO = 11
THEN 1
WHEN XADITVCTOPARC.CODTIPOCALCVENCIMENTO = 12
THEN 2
WHEN XADITVCTOPARC.CODTIPOCALCVENCIMENTO = 13
THEN 3
WHEN XADITVCTOPARC.CODTIPOCALCVENCIMENTO = 14
THEN 4
WHEN XADITVCTOPARC.CODTIPOCALCVENCIMENTO = 15
THEN 5
WHEN XADITVCTOPARC.CODTIPOCALCVENCIMENTO = 16
THEN 6
WHEN XADITVCTOPARC.CODTIPOCALCVENCIMENTO = 17
THEN 7
WHEN XADITVCTOPARC.CODTIPOCALCVENCIMENTO = 18
THEN 8
WHEN XADITVCTOPARC.CODTIPOCALCVENCIMENTO = 19
THEN 9
ELSE 0
END CODTIPOANTECIPACAO,
XADITVCTOPARC.DSCTIPOCALCVENCIMENTO DSCTIPOANTECIPACAO,
XADITVCTOPARC.PERCENTUALPARC,
XADITVCTOPARC.TAXAVENCIMENTO TAXADESCONTO,
XADITVCTOPARC.FIXOVENCIMENTO FIXODESCONTO,
XADITVCTO.VRTOTALPARCALTATUAL,
XADITVCTO.VRTOTALPARCALTNOVO,
XADITVCTO.VRTOTALPARCDESCONTO,
XADITVCTO.VRTOTALMULTAATRASOPARCALT,
XADITVCTO.VRTOTALJUROSMORAPARCALT,
XADITVCTO.RECCREATEDBY,
XADITVCTO.RECCREATEDON,
XADITVCTO.RECMODIFIEDBY,
XADITVCTO.RECMODIFIEDON
FROM XADITVCTO
LEFT JOIN XADITVCTOPARC
ON (XADITVCTO.CODCOLIGADA = XADITVCTOPARC.CODCOLIGADA AND
XADITVCTO.NUMVENDA = XADITVCTOPARC.NUMVENDA AND
XADITVCTO.NUMADIT = XADITVCTOPARC.NUMADIT AND
XADITVCTO.CODTIPOADIT = XADITVCTOPARC.CODTIPOADIT)
WHERE XADITVCTOPARC.CODTIPOVENCIMENTO = 3
UNION
SELECT DISTINCT
XADIT.CODCOLIGADA,
XADIT.NUMVENDA,
XADIT.NUMADIT,
'A7' AS CODTIPOADIT,
0 AS CODTIPOANTECIPACAO,
CAST(NULL AS VARCHAR(50)) AS DSCTIPOANTECIPACAO,
CAST(NULL AS NUMERIC(15,4)) AS PERCENTUALPARC,
CAST(NULL AS NUMERIC(15,4)) AS TAXADESCONTO,
CAST(NULL AS NUMERIC(15,4)) AS FIXODESCONTO,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALPARCALTATUAL,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALPARCALTNOVO,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALPARCDESCONTO,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALMULTAATRASOPARCALT,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALJUROSMORAPARCALT,
XADIT.RECCREATEDBY,
XADIT.RECCREATEDON,
XADIT.RECMODIFIEDBY,
XADIT.RECMODIFIEDON
FROM XADIT (NOLOCK)
JOIN XADITTIPOADITIVO (NOLOCK)
ON XADITTIPOADITIVO.CODCOLIGADA = XADIT.CODCOLIGADA AND
XADITTIPOADITIVO.NUMVENDA = XADIT.NUMVENDA AND
XADITTIPOADITIVO.NUMADIT = XADIT.NUMADIT AND
XADITTIPOADITIVO.CODTIPOADITANTREV = 'A7'
WHERE NOT EXISTS (SELECT 1
FROM XADITVCTOPARC (NOLOCK)
WHERE XADITVCTOPARC.CODCOLIGADA = XADIT.CODCOLIGADA AND
XADITVCTOPARC.NUMVENDA = XADIT.NUMVENDA AND
XADITVCTOPARC.NUMADIT = XADIT.NUMADIT)
GO
