USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sec_db_bootpage]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_sec_db_bootpage] @db_name sysname = null AS begin declare @cmd nvarchar(1024) execute as login = 'sa' set nocount on if @db_name is null or @db_name = N'' select @db_name = DB_NAME() DBCC TRACEON (3604) set @cmd = N'DBCC PAGE ([' + @db_name + N'], 1, 9, 3) with tableresults' exec(@cmd) end
GO
