USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW017]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SAVW017] AS
SELECT DISTINCT A.CODCOLIGADA, A.CODPRESTADOR, A.SEQUENCIAL, A.CODPRESTPRINC, A.CODCOMPRADOR,
                A.NUMEROREMESSA, A.STATUS, A.GRUPOGASTO, A.CODITEM, A.NUMEROCONTA,
                A.SEQUENCIALCONTA, A.SEQDEBITO, A.DATALANC, A.COMPLEMENTO, A.VALORORIGINAL,
                A.VALORORIGINALUPD, A.VALORBASECALCULO, A.VALORBASECALCULOUPD, A.VALORDESCONTO,
                A.VALORDESCONTOUPD, A.VALORREPASSE, A.VALORREPASSEUPD, A.CODREPASSE, A.SEQREP,
                A.TIPOPRESTADOR, A.CODFUNCAOMEDICO, A.ESTORNADO, A.DATAAJUSTE, A.RESPAJUSTE,
                A.MOTIVOAJUSTE, A.VALORPAGO, A.DATAPAGTO, A.GLOSAEFETUADA, A.SITUACAOPAGTO,
                B.DISCRIMINACAO DISCRIMINACAOHM, B.QUANTIDADE QUANTIDADEHM, B.CH TOTALCH,
                B.VALORCH VALORCHHM, B.VALORTOTAL VALORTOTALHM, HONORARIOFORA, NULL NROFATURAHM,
                C.NUMEROREMESSA NREMESSAPAC, A.TIPO, C.SEQPARCIAL, F.SIGLA SIGLA, G.RAZAOSOCIAL NOMEPRESTADOR,
                C.STATUSAUDITORIA2 REVISADA, H.NUMEROFATURA,
                CASE A.CODPRESTADOR
                  WHEN C.CODPRESTADOR THEN
                   NULL
                  ELSE
                   B.CODGRUPO
                END CODGRUPO,
                CASE
                  WHEN D.CODPRESTADOR IS NOT NULL THEN
                   D.CODPRESTADOR
                  ELSE
                   B.CODPRESTADOR
                END CODEXECUTANTE,
                I.IDUNIDATEND, I.DESCRICAO AS DESCUNIDATEND,
				C.IDUNIDFAT, H.DATAINIPERIODO, F.TIPOPGRUPOC
  FROM SZCONTROLREPASSE A
  LEFT JOIN SZCONTROLREPASSEDIV D
    ON (D.CODCOLIGADA = A.CODCOLIGADA AND D.NUMEROCONTA = A.NUMEROCONTA AND
       D.SEQUENCIALCONTA = A.SEQUENCIALCONTA AND D.SEQDEBITO = A.SEQDEBITO AND
       D.CODITEM = A.CODITEM AND D.CODPRESTADOR = A.CODPRESTADOR AND D.GRUPOGASTO = A.GRUPOGASTO)
  LEFT JOIN SZFATURACONVENIO H
    ON (H.CODCOLIGADA = A.CODCOLIGADA AND H.CODPRESTADOR = A.CODPRESTPRINC AND
       H.CODCOMPRADOR = A.CODCOMPRADOR AND
       H.NUMEROREMESSA = A.NUMEROREMESSA), SZATENDGASTOPARTIC B ,
 SZPARCIALATEND C , SZCADGERAL F , SZCADGERAL G , SZUNIDATEND I
 WHERE A.CODCOLIGADA = B.CODCOLIGADA
   AND A.NUMEROCONTA = B.NUMEROCONTA
   AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA
   AND A.SEQDEBITO = B.SEQLANCAMENTO
   AND A.SEQPARCIAL = B.SEQPARCIAL
   AND A.CODCOLIGADA = C.CODCOLIGADA
   AND A.NUMEROCONTA = C.NUMEROCONTA
   AND A.SEQUENCIALCONTA = C.SEQUENCIALCONTA
   AND A.SEQPARCIAL = C.SEQPARCIAL
   AND A.GRUPOGASTO IN ('GP')
   AND A.ESTORNADO IS NULL
   AND F.CODCOLIGADA = A.CODCOLIGADA
   AND F.CODGERAL = A.CODCOMPRADOR
   AND G.CODCOLIGADA = B.CODCOLIGADA
   AND G.CODGERAL = B.CODPRESTADOR
   AND I.CODCOLIGADA = C.CODCOLIGADA
   AND I.IDUNIDATEND = C.IDUNIDATEND
   AND ((C.STATUS <> 'C') OR (C.STATUS IS NULL))
GO
