USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSORIGEMPROCUNIF]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSORIGEMPROCUNIF]
AS
  SELECT CODCOLIGADA,
         CO_PROCEDIMENTO         CODPROC,
         CO_PROCEDIMENTO_SIA_SIH CODPROCORIGEM,
         TP_PROCEDIMENTO         TIPO
  FROM   GCOLIGADA,
         SZSUSTUPROCSIASIH
GO
