USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_RETORNAINSTANCIA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNC_RETORNAINSTANCIA]()
   RETURNS VARCHAR(02)
AS
BEGIN
   DECLARE @INSTANCIA VARCHAR(02)
	SELECT @INSTANCIA = VALORSTR
	  FROM HCPARAMETROS
	 WHERE NOMECOLUNA LIKE 'KPI_INSTANCIA'
	   AND CODCOLIGADA = 0
   /* Retorna o valor default caso o parâmetro não tenha sido atribuido */
   IF @INSTANCIA IS NULL OR LTRIM(RTRIM(@INSTANCIA)) = ''
   BEGIN
	  SET @INSTANCIA = '01'
   END
   RETURN @INSTANCIA
END
GO
