USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFFORMAPAGTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFFORMAPAGTO] AS
SELECT CODCOLIGADA,IDFORMAPAGTO,CODFORMAPAGTO,DESCFORMAPAGTO,TIPOFORMAPAGTO,INATIVO,
GETDATE() AS DTHRATUALIZACAO,REDECARTAO,TIPOTRANSACAO 
FROM TFORMAPAGTO
GO
