USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tf_dboptions]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[sap_tf_dboptions]
  ( @dbname sysname )
RETURNS @result TABLE
  ( opt_collcntr int,
    opt_name     nvarchar(128) ,
    opt_value    int,
    opt_valdescr nvarchar(128) )
AS
begin
  declare @collation_name sysname,
       @compatibility_level tinyint,
       @is_auto_close_on bit,
       @is_auto_create_stats_on bit,
       @is_auto_shrink_on bit,
       @is_auto_update_stats_on bit,
       @is_auto_update_stats_async_on bit,
       @is_cursor_close_on_commit_on bit,
       @is_distributor bit,
       @is_in_standby bit,
       @is_local_cursor_default bit,
       @is_master_key_encrypted_by_server bit,
       @is_merge_published bit,
       @is_numeric_roundabort_on bit,
       @is_parameterization_forced bit,
       @is_published bit,
       @is_read_committed_snapshot_on bit,
       @is_read_only bit,
       @is_subscribed bit,
       @is_supplemental_logging_enabled bit,
       @is_ansi_nulls_on bit,
       @recovery_model tinyint,
       @recovery_model_desc nvarchar(60),
       @snapshot_isolation_state tinyint,
       @snapshot_isolation_state_desc nvarchar(60),
       @page_verify_option tinyint,
       @page_verify_option_desc nvarchar(60),
       @mirrored bit
  SELECT
  @collation_name = collation_name,
  @compatibility_level = compatibility_level,
  @is_auto_close_on = is_auto_close_on,
  @is_auto_create_stats_on = is_auto_create_stats_on,
  @is_auto_shrink_on = is_auto_shrink_on,
  @is_auto_update_stats_on = is_auto_update_stats_on,
  @is_auto_update_stats_async_on = is_auto_update_stats_async_on,
  @is_cursor_close_on_commit_on = is_cursor_close_on_commit_on,
  @is_distributor = is_distributor,
  @is_in_standby = is_in_standby,
  @is_local_cursor_default = is_local_cursor_default,
  @is_master_key_encrypted_by_server = is_master_key_encrypted_by_server,
  @is_merge_published = is_merge_published,
  @is_numeric_roundabort_on = is_numeric_roundabort_on,
  @is_parameterization_forced = is_parameterization_forced,
  @is_published = is_published,
  @is_read_committed_snapshot_on = is_read_committed_snapshot_on,
  @is_read_only = is_read_only,
  @is_subscribed = is_subscribed,
  @is_supplemental_logging_enabled = is_supplemental_logging_enabled,
  @is_ansi_nulls_on = is_ansi_nulls_on,
  @recovery_model = recovery_model,
  @recovery_model_desc = recovery_model_desc,
  @snapshot_isolation_state = snapshot_isolation_state,
  @snapshot_isolation_state_desc = snapshot_isolation_state_desc,
  @page_verify_option = page_verify_option,
  @page_verify_option_desc = page_verify_option_desc
  FROM sys.databases WHERE name = @dbname
  insert into @result
    select 3203,N'collation_name',
         case @collation_name
          when 'SQL_Latin1_General_CP850_BIN2' then 1
          when 'SQL_Latin1_General_CP850_BIN'  then 2
          else 3
         end,@collation_name
  insert into @result
      select 3204,N'compatibility_level',@compatibility_level,N''
  insert into @result
      select 3205,N'is_auto_close_on',@is_auto_close_on,N''
  insert into @result
      select 3206,N'is_auto_create_stats_on',@is_auto_create_stats_on,N''
  insert into @result
      select 3207,N'is_auto_shrink_on',@is_auto_shrink_on,N''
  insert into @result
      select 3208,N'is_auto_update_stats_on',@is_auto_update_stats_on,N''
  insert into @result
      select 3209,N'is_auto_update_stats_async_on',
@is_auto_update_stats_async_on,N''
  insert into @result
      select 3210,N'is_cursor_close_on_commit_on',
@is_cursor_close_on_commit_on,N''
  insert into @result
      select 3211,N'is_distributor',@is_distributor,N''
  insert into @result
      select 3212,N'is_in_standby',@is_in_standby,N''
  insert into @result
      select 3213,N'is_local_cursor_default',@is_local_cursor_default,N''
  insert into @result
      select 3214,N'is_master_key_encrypted_by_server',
@is_master_key_encrypted_by_server,N''
  insert into @result
      select 3215,N'is_merge_published',@is_merge_published,N''
  insert into @result
      select 3216,N'is_numeric_roundabort_on',@is_numeric_roundabort_on,N''
  insert into @result
      select 3217,N'is_parameterization_forced',@is_parameterization_forced,N''
  insert into @result
      select 3218,N'is_published',@is_published,N''
  insert into @result
      select 3219,N'is_read_committed_snapshot_on',
          @is_read_committed_snapshot_on,N''
  insert into @result
      select 3220,N'is_read_only',@is_read_only,N''
  insert into @result
      select 3221,N'is_subscribed',@is_subscribed,N''
  insert into @result
      select 3222,N'is_supplemental_logging_enabled',
           @is_supplemental_logging_enabled,N''
  insert into @result
      select 3223,N'is_ansi_nulls_on',@is_ansi_nulls_on,N''
  insert into @result
      select 3224,N'recovery_model',
         @recovery_model,
         @recovery_model_desc
  insert into @result
      select 3225,N'snapshot_isolation_state',
         @snapshot_isolation_state,
         @snapshot_isolation_state_desc
  insert into @result
      select 3226,N'page_verify_option',
         @page_verify_option,
         @page_verify_option_desc
  if exists( select dm.mirroring_guid
    from sys.databases sd join
       sys.database_mirroring dm
       on sd.database_id = dm.database_id
       where dm.mirroring_guid is not null and
             sd.name = @dbname )
     set @mirrored = 1
  else
     set @mirrored = 0
  insert into @result
      select 3227,N'mirrored',
         @mirrored,N''
  RETURN
END
 
GO
