USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_updstats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_updstats]
as
begin
  SELECT o.name,  'Index Name' = i.name,
    'Rows' = i.rows,
    'Statistics Date' = STATS_DATE(i.id, i.indid)
  FROM sysobjects o, sysindexes i
  WHERE o.id = i.id
     AND o.id = object_id(user+'.'+o.name,'U')
end
 
GO
