USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVOFIADOR]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITIVOFIADOR]
AS
SELECT
  XVENDA.NUM_CONT AS NUMCONTRATO,
  XADITTROCAFIADOR.NUMADIT AS NUMADITIVO,
  XADITTROCAFIADOR.CODFIADOR,
  XADITTROCAFIADOR.NUMVENDA,
  XADITTROCAFIADOR.CODSITOPRL,
  XADITTROCAFIADOR.RECCREATEDBY,
  XADITTROCAFIADOR.RECCREATEDON,
  XADITTROCAFIADOR.RECMODIFIEDBY,
  XADITTROCAFIADOR.RECMODIFIEDON
FROM XADITTROCAFIADOR
     JOIN XVENDA
     ON XVENDA.NUM_VENDA = XADITTROCAFIADOR.NUMVENDA
GO
