USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[RMV_INTERALTA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RMV_INTERALTA]
AS
	SELECT  SZATENDIMENTO.CODCOLIGADA AS COLIGADA,
	        COALESCE(SZPACIENTE.PRONTUARIO,SZPACIENTE.CODPACIENTE) AS PRONTUARIO,
			SUBSTRING(SZPACIENTE.NOMEPACIENTE,1,50) AS NOMEPACIENTE,
			SZPACIENTE.DATANASC AS DATANASCIMENTO,
			SZATENDIMENTO.DATAENTRADA AS DATAADMISSAO,
			SZATENDIMENTO.HORAENTRADA AS HORAADMISSAO,
			SZPACIENTE.SEXO AS SEXO,
			NULL AS PESO,
			SUBSTRING(SZPACIENTE.ENDERECO + ' ' + SZPACIENTE.COMPLEMENTO,1,40) AS ENDERECO,
			SZPACIENTE.BAIRRO AS BAIRRO,
			SUBSTRING(SZPACIENTE.CIDADE + ' / ' + SZPACIENTE.UFENDERECO,1,25) AS CIDADE,
			SUBSTRING(SZPACIENTE.DDDTELCONT + ' ' + SZPACIENTE.TELCONT,1,14) AS TELEFONE,
			SZPACIENTE.CEP AS CEP,
			CONVERT(VARCHAR(20), SZATENDIMENTO.CODCOMPRADOR) AS CODCONVENIO,
			CONVERT(VARCHAR(20), SZLEITO.IDUNIDATEND) AS CODCLINICA,
			SZATENDIMENTO.CODESPECGRUPO AS CODESPECIALIDADE,
			SZPACIENTE.EMAIL AS EMAIL,
			SZATENDIMENTO.DATASAIDA AS DATAALTA,
			SZATENDIMENTO.HORASAIDA AS HORAALTA,
			(CASE SZATENDIMENTO.DATASAIDA
		         WHEN NULL THEN NULL
		         ELSE
		         CASE CODMOTIVOALTA
				WHEN 'O' THEN 'O'
				WHEN 'T' THEN 'T'
				WHEN 'A' THEN 'A'
				WHEN 'V' THEN 'A'
				WHEN 'N' THEN 'A'
		         ELSE CODMOTIVOALTA END
		         END) AS TIPOALTA
	FROM SZPACIENTE
	INNER JOIN SZATENDIMENTO ON
		SZPACIENTE.CODCOLIGADA = SZATENDIMENTO.CODCOLIGADA AND
		SZPACIENTE.CODPACIENTE = SZATENDIMENTO.CODPACIENTE
	INNER JOIN SZLEITO ON
		SZATENDIMENTO.CODCOLIGADA = SZLEITO.CODCOLIGADA AND
		SZATENDIMENTO.CODLEITO = SZLEITO.CODLEITO
	WHERE (SZATENDIMENTO.TIPOPACIENTE = 'I') AND ((SZATENDIMENTO.STATUSCONTA IS NULL) OR
		(SZATENDIMENTO.STATUSCONTA <> 'C')) AND (SZATENDIMENTO.OCUPALEITO = 'T')
GO
