USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SPC_INTEGRACAO_DE_LOTE]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  RM Sistemas
  RM Saldus
  Tradução do procedimento "IntegraLote"
  da SDVLote.pas para Stored Procedure MSSQL
*/
CREATE PROCEDURE [dbo].[SPC_INTEGRACAO_DE_LOTE]
/*Variáveis de Input*/
@COLIGADA            SMALLINT,
@LOTE                INT,
@DATAINICIAL         DATETIME,
@DATAFINAL           DATETIME,
@FILTROCLCTLOTE      VARCHAR(8000) = NULL,
/*------------------*/
/*Variáveis de Output*/
@TOTALCREDITOS       NUMERIC(15,2) OUTPUT,
@TOTALDEBITOS        NUMERIC(15,2) OUTPUT,
@LCTSINTEGRADOS      INT OUTPUT,
@LCTSDOLOTE          INT OUTPUT,
@LCTREFINI           INT OUTPUT,
@LCTREFFIM           INT OUTPUT
/*-------------------*/
AS
BEGIN
  SET NOCOUNT ON
  DECLARE @STRCONSULTA      VARCHAR(8000),
          @ISLIBER          BIT,
          @ISNUCLEUS        BIT,
          @NUCLEUSEOF       BIT,
          @LIBEREOF         BIT,
          @PRIMEIROLCT      BIT,
          @SEM_MODIFICACOES BIT,
          @CURSORLIBER      CURSOR,
          @CURSORNUCLEUS    CURSOR,
          /*Variáveis para o FETCH dos lcts em lote*/
          @CODCOLIGADA      SMALLINT,
          @LCTREF           INT,
          @LCTREFANTERIOR   INT,
          @CODFILIAL        SMALLINT,
          @DATA             DATETIME,
          @DEBITO           VARCHAR(40),
          @CREDITO          VARCHAR(40),
          @PARTIDA          VARCHAR(40),
          @VALOR            NUMERIC(15,2),
          @CODHISTP         VARCHAR(10),
          @COMPLEMENTO      VARCHAR(250),
          @DATALIBERACAO    DATETIME,
          @VALOR2           NUMERIC(15,4),
          @INTEGRAAPLICACAO VARCHAR(2),
          @INTEGRACHAVE     VARCHAR(25),
          @CODCOLDEBITO     SMALLINT,
          @CODCOLCREDITO    SMALLINT,
          @CODCOLPARTIDA    SMALLINT,
          @CODLOTE          INT,
          @CODCCUSTO        VARCHAR(25),
          @CODDEPARTAMENTO  VARCHAR(25),
          @DOCUMENTO        VARCHAR(20),
          @DATA2            DATETIME,
          @USUARIO          VARCHAR(20),
          @DATAINCLU        DATETIME,
          @USUARIOALTER     VARCHAR(20),
          @DATAALTER        DATETIME,
          @CODDIARIO        VARCHAR(5),
          @SEQDIARIO        VARCHAR(9),
          /*-------*/
          /*Variável para guardar a Data/Hora da integração*/
          @DATAINTEGRACAO   DATETIME,
          /*-------*/
          /*Variáveis para FETCH dos Cursores Nucleus e Liber*/
          @LCTREFTMOVCONT   INT,
          @LCTREFDLAFCONT   INT,
          @IDMOVCONT        INT,
          /*-------*/
          /*Constantes da sdAplconst.pas*/
          /*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
          @ctGenNewReferencia INT,
          /*!!!!!!!!!!!!!!!!!!!!!!!!!!*/
          /*--------------------------*/
          /*"Booleanos" para tratar liberação de cursores*/
          @NUCLEUSABERTO    BIT,
          @LIBERABERTO      BIT,
          @LCTSABERTO       BIT,
          /*-------*/
          /*Parâmetros do aplicativo RM Saldus*/
          @REGPARAMS_DTINICIAL DATETIME,
          @REGPARAMS_DTFINAL   DATETIME,
          @REGPARAMS_USAVALOR2 BIT,
          @DATATEMP VARCHAR(10),
          /*-------*/
          /*Variável de erro local para passagem de mensagens de erro
            mais complexas (RAISERROR não aceita concatenações de strings
            como primeiro parâmetro)*/
          @MSG_ERRO VARCHAR(8000)
          /*-------*/
          /*Esta Stored Procedure depende da string RMSGlobal.ctcLetraAplicacao
            estar respondendo com 'C' para correto funcionamento da limpeza
            do ID Documento do Lote .*/
  /*Verificação de Parâmetros passados*/
  IF (@COLIGADA IS NULL) OR (@COLIGADA < 0)
  BEGIN
    RAISERROR('O código da Coligada do Lote sendo integrado não é válido .',18,1)
    GOTO INSUCESSO
  END
  IF (@LOTE IS NULL) OR (@LOTE <= 0)
  BEGIN
    RAISERROR('O código do Lote sendo integrado não é válido .',18,1)
    GOTO INSUCESSO
  END
  IF (@DATAINICIAL IS NULL)
  BEGIN
    RAISERROR('A Data Inicial informada não é válida .',18,1)
    GOTO INSUCESSO
  END
  IF (@DATAFINAL IS NULL)
  BEGIN
    RAISERROR('A Data Final informada não é válida .',18,1)
    GOTO INSUCESSO
  END
  /*-------*/
  /*Inicialização de Variáveis*/
  SET @ISLIBER          = 0
  SET @ISNUCLEUS        = 0
  SET @LCTSINTEGRADOS   = 0
  SET @NUCLEUSEOF       = 0
  SET @LIBEREOF         = 0
  SET @NUCLEUSABERTO    = 0
  SET @LIBERABERTO      = 0
  SET @LCTSABERTO       = 0
  SET @PRIMEIROLCT      = 0
  SET @SEM_MODIFICACOES = 1
  /*-------*/
  /*Inicializa a variável de Data/Hora de integração do lote*/
  SELECT @DATAINTEGRACAO = (CONVERT(VARCHAR(20),GETDATE(),120))
  /*-------*/
  /*Inicialização de Parâmetros*/
  /*@REGPARAMS_DTINICIAL pode ser inicializada direto na cláusula SELECT .
    Criamos @DATATEMP apenas para ficar mais legível .*/
  /*Data Inicial do Período*/
  SELECT @DATATEMP = TEXTO FROM CPARAM
  WHERE CODCOLIGADA = @COLIGADA AND ID = 24
  /*Passando para o formato mm/dd/yyyy*/
  SET @DATATEMP = SUBSTRING(@DATATEMP,4,2)+'/'+SUBSTRING(@DATATEMP,1,2)+'/'+SUBSTRING(@DATATEMP,7,4)
  /*-------*/
  SET @REGPARAMS_DTINICIAL = CAST(@DATATEMP AS DATETIME);
  /*-------*/
  /*Data Final do Período*/
  SELECT @DATATEMP = TEXTO FROM CPARAM
  WHERE CODCOLIGADA = @COLIGADA AND ID = 25
  /*Passando para o formato mm/dd/yyyy*/
  SET @DATATEMP = SUBSTRING(@DATATEMP,4,2)+'/'+SUBSTRING(@DATATEMP,1,2)+'/'+SUBSTRING(@DATATEMP,7,4)
  /*-------*/
  SET @REGPARAMS_DTFINAL = CAST(@DATATEMP AS DATETIME);
  /*-------*/
  /*Uso de Segundo Valor*/
  SELECT @REGPARAMS_USAVALOR2 = INTEIRO FROM CPARAM
  WHERE CODCOLIGADA = @COLIGADA AND ID = 29
  /*-------*/
  /*Inicializando constantes do Código Fonte Delphi (ver DECLARE)*/
  SET @ctGenNewReferencia = 1
  /*----------------------------------------------*/
  /*Setando os flags de outras aplicações*/
  SELECT @INTEGRAAPLICACAO = INTEGRAAPLICACAO
  FROM CLOTE
  WHERE CODCOLIGADA = @COLIGADA AND CODLOTE = @LOTE
  IF SUBSTRING(@INTEGRAAPLICACAO,1,1) = 'T'
    SET @ISNUCLEUS = 1
  IF SUBSTRING(@INTEGRAAPLICACAO,1,1) = 'D'
    SET @ISLIBER = 1
  /*-------*/
  /*Montando consulta de Lançamentos em Lote*/
  SET @STRCONSULTA = 'DECLARE LCTSLOTE CURSOR FOR ' +
                     'SELECT * FROM CLCTLOTE ' +
                     'WHERE CODCOLIGADA = ' + CAST(@COLIGADA AS VARCHAR(5)) +
                     ' AND CODLOTE = ' + CAST(@LOTE AS VARCHAR(10)) +
                     ' AND DATA >= ''' + CONVERT(VARCHAR(10),@DATAINICIAL,101) + '''' +
                     ' AND DATA <= ''' + CONVERT(VARCHAR(10),@DATAFINAL,101) + ''''
  IF @FILTROCLCTLOTE IS NOT NULL
    SET @STRCONSULTA = @STRCONSULTA + ' AND (' + @FILTROCLCTLOTE + ')'
  SET @STRCONSULTA = @STRCONSULTA + ' ORDER BY LCTREF'
  EXEC (@STRCONSULTA)
  IF @@ERROR <> 0
  BEGIN
    RAISERROR('Erro durante a declaração do CURSOR dos Lançamentos a serem integrados .',18,1)
    GOTO INSUCESSO
  END
  ELSE
    SET @LCTSABERTO = 1
  /*-------*/
  /*Soma de Débitos do Lote*/
  SET @STRCONSULTA = 'DECLARE QUERYTOTALDEB CURSOR FOR '+
                     'SELECT SUM(ROUND(VALOR,2)) '+
                     'FROM CLCTLOTE '+
                     'WHERE CODCOLIGADA = ' + CAST(@COLIGADA AS VARCHAR(5)) +
                     ' AND CODLOTE = ' + CAST(@LOTE AS VARCHAR(10)) +
                     ' AND DATA >= ''' + CONVERT(VARCHAR(10),@DATAINICIAL,101) + '''' +
                     ' AND DATA <= ''' + CONVERT(VARCHAR(10),@DATAFINAL,101) + '''' +
                     ' AND NOT (DEBITO IS NULL)'
  IF @FILTROCLCTLOTE IS NOT NULL
    SET @STRCONSULTA = @STRCONSULTA + ' AND (' + @FILTROCLCTLOTE + ')'
  EXEC (@STRCONSULTA)
  IF @@ERROR <> 0
  BEGIN
    RAISERROR('Erro durante a declaração da totalização de Débitos sendo integrados .',18,1)
    GOTO INSUCESSO
  END
  OPEN QUERYTOTALDEB
  IF @@ERROR <> 0
  BEGIN
    RAISERROR('Erro durante a abertura da totalização de Débitos sendo integrados .',18,1)
    GOTO INSUCESSO
  END
  FETCH NEXT FROM QUERYTOTALDEB INTO @TOTALDEBITOS
  CLOSE QUERYTOTALDEB
  DEALLOCATE QUERYTOTALDEB
  /*-------*/
  /*Soma de Créditos do Lote*/
  SET @STRCONSULTA = 'DECLARE QUERYTOTALCRED CURSOR FOR '+
                     'SELECT SUM(ROUND(VALOR,2)) '+
                     'FROM CLCTLOTE '+
                     'WHERE CODCOLIGADA = ' + CAST(@COLIGADA AS VARCHAR(5)) +
                     ' AND CODLOTE = ' + CAST(@LOTE AS VARCHAR(10)) +
                     ' AND DATA >= ''' + CONVERT(VARCHAR(10),@DATAINICIAL,101) + '''' +
                     ' AND DATA <= ''' + CONVERT(VARCHAR(10),@DATAFINAL,101) + '''' +
                     ' AND NOT (CREDITO IS NULL)'
  IF @FILTROCLCTLOTE IS NOT NULL
    SET @STRCONSULTA = @STRCONSULTA + ' AND (' + @FILTROCLCTLOTE + ')'
  EXEC (@STRCONSULTA)
  IF @@ERROR <> 0
  BEGIN
    RAISERROR('Erro durante a declaração da totalização de Créditos sendo integrados .',18,1)
    GOTO INSUCESSO
  END
  OPEN QUERYTOTALCRED
  IF @@ERROR <> 0
  BEGIN
    RAISERROR('Erro durante a abertura da totalização de Créditos sendo integrados .',18,1)
    GOTO INSUCESSO
  END
  FETCH NEXT FROM QUERYTOTALCRED INTO @TOTALCREDITOS
  CLOSE QUERYTOTALCRED
  DEALLOCATE QUERYTOTALCRED
  /*-------*/
  /*Retornando o número total de LCTS para a variável de OUTPUT*/
  SELECT @LCTSDOLOTE = COUNT(*) FROM CLCTLOTE
  WHERE CODCOLIGADA = @COLIGADA AND CODLOTE = @LOTE
  /*-------*/
  IF @ISNUCLEUS = 1
  BEGIN
    /*Selecionando Contabilização do Nucleus*/
    SET @CURSORNUCLEUS = CURSOR FOR
    SELECT LCTREF,IDMOVCONT FROM TMOVCONT
    WHERE CODCOLIGADA = @COLIGADA AND
          CODLOTE     = @LOTE
    ORDER BY LCTREF
    /*-------*/
    OPEN @CURSORNUCLEUS
    IF @@ERROR <> 0
    BEGIN
      RAISERROR('Erro durante a abertura da Contabilização do RM Nucleus .',18,1)
      GOTO INSUCESSO
    END
    ELSE
      SET @NUCLEUSABERTO = 1
    IF @@CURSOR_ROWS = 0
      SET @NUCLEUSEOF = 1
    ELSE
      FETCH NEXT FROM @CURSORNUCLEUS INTO @LCTREFTMOVCONT,@IDMOVCONT
  END
  IF @ISLIBER = 1
  BEGIN
    /*Selecionando Contabilização do Liber*/
    SET @CURSORLIBER = CURSOR FOR
    SELECT LCTREF FROM DLAFCONT
    WHERE CODCOLIGADA = @COLIGADA AND
          CODLOTE     = @LOTE
    ORDER BY LCTREF
    /*-------*/
    OPEN @CURSORLIBER
    IF @@ERROR <> 0
    BEGIN
      RAISERROR('Erro durante a abertura da Contabilização do RM Liber .',18,1)
      GOTO INSUCESSO
    END
    ELSE
      SET @LIBERABERTO = 1
    IF @@CURSOR_ROWS = 0
      SET @LIBEREOF = 1
    ELSE
      FETCH NEXT FROM @CURSORLIBER INTO @LCTREFDLAFCONT
  END
  OPEN LCTSLOTE /*Lançamentos em Lote que serão integrados*/
  IF @@ERROR <> 0
  BEGIN
    RAISERROR('Erro durante a abertura do CURSOR dos Lançamentos a serem integrados .',18,1)
    GOTO INSUCESSO
  END
  /*Início da Transação*/
  BEGIN TRANSACTION IntegracaodeLote
  SET @SEM_MODIFICACOES = 0
  /*Liberando Rateios do Nucleus*/
  IF @ISNUCLEUS = 1
  BEGIN
    SET @STRCONSULTA = 'UPDATE TMOVRAT SET '+
                       'CODLOTE = NULL ,'+
                       'LCTREF  = NULL '+
                       'WHERE CODCOLIGADA = ' + CAST(@COLIGADA AS VARCHAR(5)) +
                       ' AND CODLOTE = ' + CAST(@LOTE AS VARCHAR(10)) +
                       ' AND LCTREF IN (' +
                       'SELECT LCTREF FROM CLCTLOTE ' +
                       'WHERE CODCOLIGADA = ' + CAST(@COLIGADA AS VARCHAR(5)) +
                       ' AND CODLOTE = ' + CAST(@LOTE AS VARCHAR(10)) +
                       ' AND DATA >= ''' + CONVERT(VARCHAR(10),@DATAINICIAL,101) + '''' +
                       ' AND DATA <= ''' + CONVERT(VARCHAR(10),@DATAFINAL,101) + ''''
    IF @FILTROCLCTLOTE IS NOT NULL
      SET @STRCONSULTA = @STRCONSULTA + ' AND (' + @FILTROCLCTLOTE + '))'
    ELSE
      SET @STRCONSULTA = @STRCONSULTA + ')'
    EXEC (@STRCONSULTA)
    IF @@ERROR <> 0
    BEGIN
      RAISERROR('Erro durante a liberação dos rateios do RM Nucleus .',18,1)
      GOTO INSUCESSO
    END
  END
  /*-------*/
  FETCH NEXT FROM LCTSLOTE INTO @CODCOLIGADA,@LCTREFANTERIOR,@CODFILIAL,@DATA,@DEBITO,@CREDITO,
  @PARTIDA,@VALOR,@CODHISTP,@COMPLEMENTO,@DATALIBERACAO,@VALOR2,@INTEGRAAPLICACAO,@INTEGRACHAVE,
  @CODCOLDEBITO,@CODCOLCREDITO,@CODCOLPARTIDA,@CODLOTE,@CODCCUSTO,@CODDEPARTAMENTO,@DOCUMENTO,
  @DATA2,@USUARIO,@DATAINCLU,@USUARIOALTER,@DATAALTER,@CODDIARIO,@SEQDIARIO
  IF @@ERROR <> 0
  BEGIN
    RAISERROR('Erro durante a Leitura (FETCH INICIAL) dos Lançamentos sendo integrados .',18,1)
    GOTO INSUCESSO
  END
  WHILE @@FETCH_STATUS = 0
  BEGIN
    /*Verificando a Data do Lançamento*/
    IF (
         (@DATA < @REGPARAMS_DTINICIAL) OR
         (@DATA > @REGPARAMS_DTFINAL)
       )
    BEGIN
      SET @MSG_ERRO = 'Erro : O Lançamento de referência ' + CAST(@LCTREFANTERIOR AS VARCHAR(10)) +
                      ' está fora do Período Contábil . O Lote não pode ser integrado .'
      RAISERROR(@MSG_ERRO,18,1)
      GOTO INSUCESSO
    END
    /*-------*/
    /*Verificando Validade do Valor do Lançamento*/
    IF (
         (
           (@REGPARAMS_USAVALOR2 = 0)
           AND
           (@VALOR <= 0.0)
         )
         OR
         (
           (@REGPARAMS_USAVALOR2 = 1)
           AND
           (@VALOR <= 0.0)
           AND
           (@VALOR2 <= 0.0)
         )
       )
    BEGIN
      SET @MSG_ERRO = 'Erro : O Lançamento de referência ' + CAST(@LCTREF AS VARCHAR(10)) +
                      ' tem valor(es) inválido(s) . O Lote não pode ser integrado .'
      RAISERROR(@MSG_ERRO,18,1)
      GOTO INSUCESSO
    END
    /*-------*/
    /*Obtendo nova referência para o lançamento*/
    EXEC SPC_GETNEWID @COLIGADA,@ctGenNewReferencia,@LCTREF OUTPUT
    IF @@ERROR <> 0
    BEGIN
      RAISERROR('Erro na obtenção de nova referência para o Lançamento sendo integrado .',18,1)
      GOTO INSUCESSO
    END
    /*-------*/
    IF (@PRIMEIROLCT = 0)
    BEGIN
      SET @LCTREFINI = @LCTREF
      SET @PRIMEIROLCT = 1
    END
    SET @LCTREFFIM = @LCTREF
    /*Inserindo Dados*/
    INSERT INTO CLANCA (CODCOLIGADA , LCTREF , CODFILIAL , DATA ,
                        DEBITO , CREDITO , PARTIDA , VALOR , CODHISTP , COMPLEMENTO,
                        DATALIBERACAO , VALOR2 , INTEGRAAPLICACAO , INTEGRACHAVE ,
                        CODCOLDEBITO , CODCOLCREDITO , CODCOLPARTIDA , CODLOTE ,
                        CODCCUSTO , CODDEPARTAMENTO , DOCUMENTO , DATA2 , USUARIO ,
                        DATAINCLU , USUARIOALTER , DATAALTER, CODDIARIO, SEQDIARIO,
                        DATAINTEGRACAO)
                VALUES (@CODCOLIGADA , @LCTREF , @CODFILIAL , @DATA ,
                        @DEBITO , @CREDITO , @PARTIDA , @VALOR , @CODHISTP , @COMPLEMENTO,
                        @DATALIBERACAO , @VALOR2 , @INTEGRAAPLICACAO , @INTEGRACHAVE ,
                        @CODCOLDEBITO , @CODCOLCREDITO , @CODCOLPARTIDA , @CODLOTE ,
                        @CODCCUSTO , @CODDEPARTAMENTO , @DOCUMENTO , @DATA2 , @USUARIO ,
                        @DATAINCLU , @USUARIOALTER , @DATAALTER, @CODDIARIO, @SEQDIARIO,
                        @DATAINTEGRACAO)
    IF @@ERROR <> 0
    BEGIN
      SET @MSG_ERRO = 'Erro durante a inserção dos lançamentos em lote na tabela de lançamentos . LCTREF (Anterior) : '
                      + CAST(@LCTREFANTERIOR AS VARCHAR(10))
      RAISERROR(@MSG_ERRO,18,1)
      GOTO INSUCESSO
    END
    SET @LCTSINTEGRADOS = @LCTSINTEGRADOS + 1
    /*-------*/
    /*Liberando Rateios do Liber*/
    IF @ISLIBER = 1
    BEGIN
      UPDATE DLAFRAT SET
      CODLOTE = NULL,
      LCTREF  = NULL
      WHERE CODCOLIGADA = @COLIGADA AND
            LCTREF = @LCTREFANTERIOR AND
            CODLOTE = @LOTE
      IF @@ERROR <> 0
      BEGIN
        RAISERROR('Erro durante a liberação dos rateios do RM Liber .',18,1)
        GOTO INSUCESSO
      END
    END
    /*-------*/
    /*Liberando Lançamentos Gerenciais*/
    UPDATE CRATEIOLC SET
    CODLOTE = 0,
    LCTREF  = @LCTREF
    WHERE CODCOLIGADA = @COLIGADA AND
          LCTREF = @LCTREFANTERIOR AND
          CODLOTE = @LOTE
    IF @@ERROR <> 0
    BEGIN
      SET @MSG_ERRO = 'Erro durante a liberação dos rateios do RM Saldus . LCTREF : '
                      + CAST(@LCTREFANTERIOR AS VARCHAR(10))
      RAISERROR(@MSG_ERRO,18,1)
      GOTO INSUCESSO
    END
    /*-------*/
    /*Liberando Campos Complementares*/
    UPDATE CLCOMPL SET
    CODLOTE = 0,
    LCTREF  = @LCTREF
    WHERE CODCOLIGADA = @COLIGADA AND
          LCTREF = @LCTREFANTERIOR AND
          CODLOTE = @LOTE
    IF @@ERROR <> 0
    BEGIN
      SET @MSG_ERRO = 'Erro durante a liberação dos Campos Complementares do RM Saldus . LCTREF : '
                      + CAST(@LCTREFANTERIOR AS VARCHAR(10))
      RAISERROR(@MSG_ERRO,18,1)
      GOTO INSUCESSO
    END
    /*-------*/
    /*Atualizando informações da Integração Contábil do Nucleus*/
    IF @ISNUCLEUS = 1
    BEGIN
      /*Desprezando Lançamentos Inválidos*/
      WHILE ((@LCTREFTMOVCONT IS NULL) AND (@NUCLEUSEOF = 0))
      BEGIN
        FETCH NEXT FROM @CURSORNUCLEUS INTO @LCTREFTMOVCONT,@IDMOVCONT
        IF @@FETCH_STATUS <> 0
          SET @NUCLEUSEOF = 1
      END
      /*-------*/
      WHILE (@LCTREFANTERIOR >= @LCTREFTMOVCONT)
            AND
            (@NUCLEUSEOF = 0)
      BEGIN
        IF @LCTREFANTERIOR = @LCTREFTMOVCONT
        BEGIN
          /*Integra Lançamento*/
          UPDATE TMOVCONT SET
          CODLOTE = 0,LCTREF = NULL,LCTREFINT = @LCTREF
          WHERE CURRENT OF @CURSORNUCLEUS
          IF @@ERROR <> 0
          BEGIN
            SET @MSG_ERRO = 'Erro durante a Integração do lançamento ' + CAST(@LCTREFANTERIOR AS VARCHAR(10)) + ' da TMOVCONT'
            RAISERROR(@MSG_ERRO,18,1)
            GOTO INSUCESSO
          END
          /*-------*/
          /*Integra Rateio*/
          UPDATE TMOVRAT SET
          CODLOTE = 0,LCTREFINT = @LCTREF
          WHERE CODCOLIGADA = @COLIGADA AND IDMOVCONT = @IDMOVCONT
          AND LCTREF IS NULL AND CODLOTE IS NULL
          IF @@ERROR <> 0
          BEGIN
            SET @MSG_ERRO = 'Erro durante a Integração dos rateios da TMOVRAT : ' + CAST(@IDMOVCONT AS VARCHAR(10))
            RAISERROR(@MSG_ERRO,18,1)
            GOTO INSUCESSO
          END
          /*-------*/
        END
        FETCH NEXT FROM @CURSORNUCLEUS INTO @LCTREFTMOVCONT,@IDMOVCONT
        IF @@FETCH_STATUS <> 0
          SET @NUCLEUSEOF = 1
      END
    END
    /*-------*/
    /*-------*/
    /*Atualizando informações da Integração Contábil do Liber*/
    IF @ISLIBER = 1
    BEGIN
      /*Desprezando Lançamentos Inválidos*/
      WHILE ((@LCTREFDLAFCONT IS NULL) AND (@LIBEREOF = 0))
      BEGIN
        FETCH NEXT FROM @CURSORLIBER INTO @LCTREFDLAFCONT
        IF @@FETCH_STATUS <> 0
          SET @LIBEREOF = 1
      END
      /*-------*/
      WHILE (@LCTREFANTERIOR >= @LCTREFDLAFCONT)
            AND
            (@LIBEREOF = 0)
      BEGIN
        IF @LCTREFANTERIOR = @LCTREFDLAFCONT
        BEGIN
          /*Integra Lançamento*/
          UPDATE DLAFCONT SET
          CODLOTE = 0,LCTREF = NULL,LCTREFINT = @LCTREF
          WHERE CURRENT OF @CURSORLIBER
          /*-------*/
          IF @@ERROR <> 0
          BEGIN
            SET @MSG_ERRO = 'Erro durante a Integração do lançamento ' + CAST(@LCTREFANTERIOR AS VARCHAR(10)) + ' da DLAFCONT'
            RAISERROR(@MSG_ERRO,18,1)
            GOTO INSUCESSO
          END
        END
        FETCH NEXT FROM @CURSORLIBER INTO @LCTREFDLAFCONT
        IF @@FETCH_STATUS <> 0
          SET @LIBEREOF = 1
      END
      UPDATE DLAFRAT SET
      CODLOTE = 0,LCTREFINT = @LCTREF
      WHERE CODCOLIGADA = @COLIGADA AND
            LCTREF  IS NULL AND
            CODLOTE IS NULL
      IF @@ERROR <> 0
      BEGIN
        RAISERROR('Erro durante a Integração dos rateios da DLAFRAT',18,1)
        GOTO INSUCESSO
      END
    END
    /*-------*/
    FETCH NEXT FROM LCTSLOTE INTO @CODCOLIGADA,@LCTREFANTERIOR,@CODFILIAL,@DATA,@DEBITO,@CREDITO,
    @PARTIDA,@VALOR,@CODHISTP,@COMPLEMENTO,@DATALIBERACAO,@VALOR2,@INTEGRAAPLICACAO,@INTEGRACHAVE,
    @CODCOLDEBITO,@CODCOLCREDITO,@CODCOLPARTIDA,@CODLOTE,@CODCCUSTO,@CODDEPARTAMENTO,@DOCUMENTO,
    @DATA2,@USUARIO,@DATAINCLU,@USUARIOALTER,@DATAALTER,@CODDIARIO,@SEQDIARIO
    IF @@ERROR <> 0
    BEGIN
      SET @MSG_ERRO = 'Erro durante a Leitura (FETCH LOOP) dos Lançamentos sendo integrados . Último LCTREF : '
                      + CAST(@LCTREFANTERIOR AS VARCHAR(10))
      RAISERROR(@MSG_ERRO,18,1)
      GOTO INSUCESSO
    END
  END
  /*-------*/
  /*Deletando Lançamentos feitos em Lote*/
  SET @STRCONSULTA = 'DELETE FROM CLCTLOTE ' +
                     'WHERE CODCOLIGADA = ' + CAST(@COLIGADA AS VARCHAR(5)) +
                     ' AND CODLOTE = ' + CAST(@LOTE AS VARCHAR(10)) +
                     ' AND DATA >= ''' + CONVERT(VARCHAR(10),@DATAINICIAL,101) + '''' +
                     ' AND DATA <= ''' + CONVERT(VARCHAR(10),@DATAFINAL,101) + ''''
  IF @FILTROCLCTLOTE IS NOT NULL
    SET @STRCONSULTA = @STRCONSULTA + ' AND (' + @FILTROCLCTLOTE + ')'
  EXEC(@STRCONSULTA)
  IF @@ERROR <> 0
  BEGIN
    RAISERROR('Erro durante a deleção dos Lançamentos em Lote após sua integração.',18,1)
    GOTO INSUCESSO
  END
  /*-------*/
  /*Verificando necessidade de limpar ID Documento do Lote*/
  DECLARE EXISTELCT CURSOR FOR
  SELECT TOP 1 1 FROM CLCTLOTE
  WHERE CODCOLIGADA = @COLIGADA AND
        CODLOTE = @LOTE
  OPEN EXISTELCT
  IF @@CURSOR_ROWS = 0
  BEGIN
    DECLARE @STRLOTE VARCHAR(10)
    SET @STRLOTE = CAST(@LOTE AS VARCHAR(10))
    EXEC SPC_FILLCHAR 'E',10,@STRLOTE OUTPUT
    DELETE FROM GAUTOINC
    WHERE CODCOLIGADA = @COLIGADA
    AND CODSISTEMA = 'C'
    AND CODAUTOINC = '''LOTE'+@STRLOTE+''''
    IF @@ERROR <> 0
    BEGIN
      RAISERROR('Erro na atualização de ID Documento do Lote.',18,1)
      GOTO INSUCESSO
    END
  END
  CLOSE EXISTELCT
  DEALLOCATE EXISTELCT
  /*-------*/
  /*Liberando Cursores*/
  IF (@ISNUCLEUS = 1)
  BEGIN
    CLOSE @CURSORNUCLEUS
    DEALLOCATE @CURSORNUCLEUS
  END
  IF (@ISLIBER = 1)
  BEGIN
    CLOSE @CURSORLIBER
    DEALLOCATE @CURSORLIBER
  END
  IF (@LCTSABERTO = 1)
  BEGIN
    CLOSE LCTSLOTE
    DEALLOCATE LCTSLOTE
  END
  /*-------*/
  COMMIT TRANSACTION IntegracaodeLote
  RETURN(0)
INSUCESSO:
  /*Liberando Cursores*/
  IF (@NUCLEUSABERTO = 1)
  BEGIN
    CLOSE @CURSORNUCLEUS
    DEALLOCATE @CURSORNUCLEUS
  END
  IF (@LIBERABERTO = 1)
  BEGIN
    CLOSE @CURSORLIBER
    DEALLOCATE @CURSORLIBER
  END
  IF (@LCTSABERTO = 1)
  BEGIN
    CLOSE LCTSLOTE
    DEALLOCATE LCTSLOTE
  END
  /*-------*/
  IF (@SEM_MODIFICACOES = 0)
    ROLLBACK TRANSACTION IntegracaodeLote
  RAISERROR('Não foi possível realizar a Integração de Lote . Processo cancelado .',18,1)
  RETURN(1)
END
GO
