USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_linkedservers]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_get_linkedservers]
as
begin
  set nocount on
  create table #tmp_srv(
    srv_name sysname not null,
    srv_providername nvarchar(128) null,
    srv_product nvarchar(128) null,
    srv_datasource nvarchar(4000) null,
    srv_providerstring nvarchar(4000) null,
    srv_location nvarchar(4000) null,
    srv_cat sysname null
  )
  insert into #tmp_srv exec sp_linkedservers
  select * from #tmp_srv where srv_name <> @@servername
end
 
GO
