USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[InsertColaborator]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[InsertColaborator]
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	SET NOCOUNT ON  
    
	IF Object_Id('TempDB..#ColaboratorTemp') IS NOT NULL              
	BEGIN    
		DROP TABLE #ColaboratorTemp              
	END
  
	IF Object_Id('TempDB..#ColaboratorTempAll') IS NOT NULL              
	BEGIN    
		DROP TABLE #ColaboratorTempAll              
	END
  
	CREATE TABLE #ColaboratorTemp(
	[cNome] [varchar](250) NULL,
	[cSexo] [varchar](1) NULL,
	[cCPF] [varchar](11) NULL,
	[cChapa] [varchar](16) NULL,
	[cFuncao] [varchar](80) NULL,
	[cDiretoria] [varchar](50) NULL,
	[cEmail] [varchar](80) NULL,
	[cSituacao] [varchar](1) NULL,
	[cNmSituacao] [varchar](50) NULL,
	[dAdmissao] [datetime] NULL,
	[dDemissao] [datetime] NULL,
	[cCodTipoDemissao] [varchar] (1) NULL,
	[cDesTipoDemissao] [varchar] (50) NULL,
	[cCNPJEmpresa] [varchar](8000) NULL,
	[cRua] [varchar](140) NULL,
	[cNumero] [varchar](8) NULL,
	[cComplemento] [varchar](100) NULL,
	[cBairro] [varchar](100) NULL,
	[cCidade] [varchar](32) NULL,
	[cEstado] [varchar](2) NULL,
	[cCep] [varchar](9) NULL,
	[cPais] [varchar](16) NULL,
	[cTelefone] [varchar](20) NULL,
	[cTelefone2] [varchar](20) NULL,
	[cTelefone3] [varchar](20) NULL,
	[cCentroCusto] [varchar](35) NULL,
	[cCodUsuario] [varchar](20) NULL,
	[iStatus] [smallint] NULL,
	[cCODSECAO] [varchar](60) NULL,
	[cSECAO] [varchar](300) NULL,
	[NOME_FILIAL] [varchar](150) NULL,
	[LOGINAD] [varchar](20) NULL,
	[cCodFuncao] [varchar](10) NULL,
	[cCodCargo] [varchar](16) NULL,
	[cNmCargo] [varchar](80) NULL,
	[cPisPasep] [varchar](11) NULL,
	[cCodColigada] [smallint] NULL,
	[cCodFilial] [smallint] NULL,
	[cCodPessoa] [int] NULL,
	[cEmailPart] [varchar](60) NULL,
	[cCelularCom] [varchar](15) NULL,
	[cTelCom] [varchar](15) NULL,
	[cRamal] [varchar](10) NULL,
	[dNascimento] [datetime] NULL,
	[cCpfGestor] [varchar](11) NULL,
	[cLider] [varchar](10) NULL,
	[cCpfAprovador] [varchar](11) NULL,
	[cGerenciadoPor] [varchar](1) NULL,
	[cCartIdentidade] [varchar](15) NULL,
	[cCodEstCivil] [varchar](1) NULL,
	[cEstCivil] [varchar](255) NULL,
	[cCodEscolaridade] [varchar](1) NULL,
	[cEscolaridade] [varchar](255) NULL ,
	[CodEmpresaERP]  [varchar](4) NULL,
	[IdImagem] [int] NULL,
	[CodBancoPagto] [varchar](3) NULL,
	[CodAgenciaPagto] [varchar](6) NULL,
	[ContaPagamento] [varchar](15) NULL ,
	[cCodArea] [varchar](4) NULL ,
	[cDescArea] [varchar](100) NULL ,
	[cCodDivisao] [varchar](4) NULL ,
	[cDescDivisao] [varchar](100) NULL,
	[cCodNegocio] [varchar](4) NULL ,
	[cDescNegocio] [varchar](100) NULL ,
	[cCodDireExecutiva] [varchar](4) NULL ,
	[cDescDireExecutiva] [varchar](100) NULL ,
	[cCodDiretoria] [varchar](4) NULL ,
	[cDescDiretoria] [varchar](100) NULL , 
	[cGrupoEmpresa][varchar](50) NULL,
	[dDt_Ultima_Mod_PFunc] [datetime] NULL,
	[dDt_Ultima_Mod_PPessoa] [datetime] NULL,
	[dDt_Ultima_Mod_PFCompl] [datetime] NULL ,
	[cParticipa_Avd] [varchar](15)    NULL,
	[cTempo_Empresa] [varchar](15)    NULL, 
	[cTempo_Fco_Atual] [varchar](15)  NULL, 
	[dDt_Inicio_Ult_Fco] [datetime]   NULL,
	[cNmColigada] [varchar](200)  NULL
	)  
    
	INSERT INTO #ColaboratorTemp
	EXECUTE dbo.GetColaborator
    
	BEGIN TRAN

		TRUNCATE TABLE dbo.Colaborator   
		 
		INSERT INTO dbo.Colaborator		   
			SELECT *
			FROM #ColaboratorTemp 
			 
	COMMIT TRAN


	CREATE TABLE #ColaboratorTempAll(
	[cNome] [varchar](250) NULL,
	[cSexo] [varchar](1) NULL,
	[cCPF] [varchar](11) NULL,
	[cChapa] [varchar](16) NULL,
	[cFuncao] [varchar](80) NULL,
	[cDiretoria] [varchar](50) NULL,
	[cEmail] [varchar](60) NULL,
	[cSituacao] [varchar](1) NULL,
	[cNmSituacao] [varchar](50) NULL,
	[dAdmissao] [datetime] NULL,
	[dDemissao] [datetime] NULL,
	[cCodTipoDemissao] [varchar] (1) NULL,
	[cDesTipoDemissao] [varchar] (50) NULL,
	[cCNPJEmpresa] [varchar](8000) NULL,
	[cRua] [varchar](140) NULL,
	[cNumero] [varchar](8) NULL,
	[cComplemento] [varchar](100) NULL,
	[cBairro] [varchar](100) NULL,
	[cCidade] [varchar](32) NULL,
	[cEstado] [varchar](2) NULL,
	[cCep] [varchar](9) NULL,
	[cPais] [varchar](16) NULL,
	[cTelefone] [varchar](20) NULL,
	[cTelefone2] [varchar](20) NULL,
	[cTelefone3] [varchar](20) NULL,
	[cCentroCusto] [varchar](35) NULL,
	[cCodUsuario] [varchar](20) NULL,
	[iStatus] [smallint] NULL,
	[cCODSECAO] [varchar](60) NULL,
	[cSECAO] [varchar](300) NULL,
	[NOME_FILIAL] [varchar](150) NULL,
	[LOGINAD] [varchar](20) NULL,
	[cCodFuncao] [varchar](10) NULL,
	[cCodCargo] [varchar](16) NULL,
	[cNmCargo] [varchar](80) NULL,
	[cPisPasep] [varchar](11) NULL,
	[cCodColigada] [smallint] NULL,
	[cCodFilial] [smallint] NULL,
	[cCodPessoa] [int] NULL,
	[cEmailPart] [varchar](60) NULL,
	[cCelularCom] [varchar](15) NULL,
	[cTelCom] [varchar](15) NULL,
	[cRamal] [varchar](10) NULL,
	[dNascimento] [datetime] NULL,
	[cCpfGestor] [varchar](11) NULL,
	[cLider] [varchar](10) NULL,
	[cCpfAprovador] [varchar](11) NULL,
	[cGerenciadoPor] [varchar](1) NULL,
	[cCartIdentidade] [varchar](15) NULL,
	[cCodEstCivil] [varchar](1) NULL,
	[cEstCivil] [varchar](255) NULL,
	[cCodEscolaridade] [varchar](1) NULL,
	[cEscolaridade] [varchar](255) NULL ,
	[CodEmpresaERP]  [varchar](4) NULL,
	[IdImagem] [int] NULL,
	[CodBancoPagto] [varchar](3) NULL,
	[CodAgenciaPagto] [varchar](6) NULL,
	[ContaPagamento] [varchar](15) NULL ,
	[cCodArea] [varchar](4) NULL ,
	[cDescArea] [varchar](100) NULL ,
	[cCodDivisao] [varchar](4) NULL ,
	[cDescDivisao] [varchar](100) NULL,
	[cCodNegocio] [varchar](4) NULL ,
	[cDescNegocio] [varchar](100) NULL ,
	[cCodDireExecutiva] [varchar](4) NULL ,
	[cDescDireExecutiva] [varchar](100) NULL ,
	[cCodDiretoria] [varchar](4) NULL ,
	[cDescDiretoria] [varchar](100) NULL , 
	[cGrupoEmpresa][varchar](50) NULL,
	[dDt_Ultima_Mod_PFunc] [datetime] NULL,
	[dDt_Ultima_Mod_PPessoa] [datetime] NULL,
	[dDt_Ultima_Mod_PFCompl] [datetime] NULL,
	[cParticipa_Avd] [varchar](15)    NULL,
	[cTempo_Empresa] [varchar](15)    NULL, 
	[cTempo_Fco_Atual] [varchar](15)  NULL, 
	[dDt_Inicio_Ult_Fco] [datetime]   NULL,
	[cNmColigada] [varchar](200)  NULL 
	)  
    
	INSERT INTO #ColaboratorTempAll
	EXECUTE dbo.GetColaboratorAll
    
	BEGIN TRAN

		TRUNCATE TABLE dbo.ColaboratorAll
    
		INSERT INTO dbo.ColaboratorAll
			SELECT *
			FROM #ColaboratorTempAll
  
	COMMIT TRAN    
END


GO
