USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[IBEM]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[IBEM]
								AS
								SELECT IPATRIMONIO.CODCOLIGADA,
									IPATRIMONIO.CODPATRIMONIO CODBEM,
									IPATRIMONIO.DESCRICAO,
									IPATRIMONIO.TIPOPATRIMONIO TITULO,
									IPATRIMONIO.DATAAQUISICAO DTAQUISICAO,
									ICALCULOPATRIMONIO.DATAINICIOVIGENCIA DTINICIODEPRECIACAO,
									ISNULL(ISALDOCALCULOPATRIMONIOMOEDA.DATABASEPATRIMONIO, IPATRIMONIO.DATAAQUISICAO) DTBASE,
									IPATRIMONIO.REAVALIADO,
									IPATRIMONIOMOEDA.VALORINDICEDATAAQUISICAO VRDOINDICEDTAQUISICAO,
									ISNULL(ISALDOCALCULOPATRIMONIOMOEDA.VALORINDICEDATABASE, IPATRIMONIOMOEDA.VALORCOTACAOINDICE) VRDOINDICEDTBASE,
									ISNULL(IPATRIMONIOMOEDA.AQUISICAO, IPATRIMONIO.AQUISICAO) VRAQUISICAO,
									IPATRIMONIOMOEDA.AQUISICAOINDICE VRAQUISICAOINDICE,
									ISNULL(ISALDOCALCULOPATRIMONIOMOEDA.VALORBASEINDICE,IPATRIMONIOMOEDA.AQUISICAOINDICE)  VRBASEINDICE,
									ISNULL(ISALDOCALCULOPATRIMONIOMOEDA.VALORBASECORRIGIDO, ISNULL(IPATRIMONIOMOEDA.AQUISICAOCORRIGIDO, IPATRIMONIO.AQUISICAO)) VRBASE,
									ISNULL(ISALDOCALCULOPATRIMONIOMOEDA.DEPRECIACAOACUMULADAINDICE, 0) DEPRECINDICE,
									ISNULL(ISALDOCALCULOPATRIMONIOMOEDA.DEPRECIACAOACUMULADACORRIGIDA,0) DEPRECIACAO,
									IPATRIMONIO.TIPOOCORRENCIA,
									ITAXADEPRECIACAO.VALOR TAXAMES1,
									ITAXADEPRECIACAO.VALOR TAXAMES2,
									ITAXADEPRECIACAO.VALOR TAXAMES3,
									ITAXADEPRECIACAO.VALOR TAXAMES4,
									ITAXADEPRECIACAO.VALOR TAXAMES5,
									ITAXADEPRECIACAO.VALOR TAXAMES6,
									ITAXADEPRECIACAO.VALOR TAXAMES7,
									ITAXADEPRECIACAO.VALOR TAXAMES8,
									ITAXADEPRECIACAO.VALOR TAXAMES9,
									ITAXADEPRECIACAO.VALOR TAXAMES10,
									ITAXADEPRECIACAO.VALOR TAXAMES11,
									ITAXADEPRECIACAO.VALOR TAXAMES12,
									IGRUPOPATRIMONIO.CODGRUPOPATRIMONIO CODCONTAS,
									null CODCONTASREAV,
									IPATRIMONIO.PATRIMONIO,
									IPATRIMONIO.QUANTIDADE,
									IPATRIMONIO.UNIDADE,
									IPATRIMONIO.CODFILIAL,
									IPATRIMONIO2.CODPATRIMONIO AGREGADO,
									IPATRIMONIO.CODFORNECEDOR CODFORNEC,
									IAPOLICESEGURO.NUMERO NUMAPOLICE,
									IAPOLICESEGURO.DESCRICAO DESCAPOLICE,
									IAPOLICESEGURO.INICIOVIGENCIA,
									IAPOLICESEGURO.FIMVIGENCIA,
									IAPOLICESEGURO.BENEFICIARIO,
									'' SEGURADORA,
									IAPOLICESEGURO.CORRETOR,
									IAPOLICESEGURO.VALORSEGURADO,
									IAPOLICESEGURO.PREMIO,
									IAPOLICESEGURO.FRANQUIA,
									IAPOLICESEGURO.COBERTURAS,
									IAPOLICESEGURO.MOEDAAPOLICE,
									IAPOLICESEGURO.NUMEROPARCELAS NPARCELAS,
									0 VRMOEDADTAQUIS,
									0 VRAQUISMOEDA,
									0 VRBASEMOEDA,
									0 DEPRECMOEDA,
									0 TAXAMOEDA,
									IPATRIMONIO.OBSERVACOES,
									IPATRIMONIO.CODIGOBARRA,
									IPATRIMONIO.CODCOLIGADAFORNECEDOR CODCOLFORNEC,
									IPATRIMONIO.ATIVO,
									IPATRIMONIO.TIPODOCUMENTO,
									IPATRIMONIO.SERIEDOCUMENTO,
									IPATRIMONIO.NUMERODOCUMENTO,
									0 TAXAMOEDA2,	0 TAXAMOEDA3,	0 TAXAMOEDA4,	0 TAXAMOEDA5,	0 TAXAMOEDA6, 0	TAXAMOEDA7,	0 TAXAMOEDA8,
									0 TAXAMOEDA9,	0 TAXAMOEDA10,  0 TAXAMOEDA11,	0 TAXAMOEDA12,
									null CHAVENUCLEUS,
									IPATRIMONIO.IDIMAGEM,
									IPATRIMONIO.DATACRIACAO DATAINCLUSAO,
									IPATRIMONIO.USUARIOCRIACAO USUARIOINCLUSAO,
									IPATRIMONIO.DATAALTERACAO,
									IPATRIMONIO.USUARIOALTERACAO,
									null VLRMERCADOSOLUM,
									IPATRIMONIO.IDENTIFPRODUTO IDPRD,
									IPATRIMONIO.CODCENTROCUSTO CODCCUSTOATUAL,
									null DATACCUSTOATUAL,
									IPATRIMONIO.CODRESPONSAVEL CODRESPATUAL,
									null DATARESPATUAL,
									IPATRIMONIO.CHAPA CHAPAFUNCATUAL,
									null DATAFUNCATUAL,
									IPATRIMONIO.CODDEPARTAMENTO CODDEPTOATUAL,
									null DATADEPTATUAL,
									IPATRIMONIO.CODLOCAL CODLOCALATUAL,
									null DATALOCALATUAL,
									null SALDOBEM,
									IPATRIMONIO.INTEGRADO INTEGRAAPLICACAO,
									null DATAFILIALATUAL,
									IPATRIMONIO.CONTABILIZARAQUISICAO,
									IPATRIMONIO.IDOBJOF,
									0 REAVALIACAONEGATIVA,
									IPATRIMONIO.STATUSAVALIACAO,
									IPATRIMONIO.RECCREATEDBY,
									IPATRIMONIO.RECCREATEDON,
									IPATRIMONIO.RECMODIFIEDBY,
									IPATRIMONIO.RECMODIFIEDON,
									IPATRIMONIO.IDMOVSAIDA,
									IPATRIMONIO.STATUSINTEGRACAO STATUSNUCLEUS
								FROM IPATRIMONIO (NOLOCK)
								LEFT JOIN (SELECT CODCOLIGADA, IDPATRIMONIO, MAX(IDAPOLICE) IDAPOLICE
											FROM IAPOLICEPATRIMONIO (NOLOCK)
											GROUP BY CODCOLIGADA, IDPATRIMONIO) IAPOLICEPATRIMONIO ON
										(IPATRIMONIO.CODCOLIGADA  = IAPOLICEPATRIMONIO.CODCOLIGADA AND
										IPATRIMONIO.IDPATRIMONIO = IAPOLICEPATRIMONIO.IDPATRIMONIO)
								LEFT JOIN IAPOLICESEGURO (NOLOCK) ON
									(IAPOLICEPATRIMONIO.CODCOLIGADA  = IAPOLICESEGURO.CODCOLIGADA AND
										IAPOLICEPATRIMONIO.IDAPOLICE = IAPOLICESEGURO.IDAPOLICE)
								LEFT JOIN IGRUPOPATRIMONIO (NOLOCK) ON
										(IGRUPOPATRIMONIO.CODCOLIGADA = IPATRIMONIO.CODCOLIGADA AND
										IGRUPOPATRIMONIO.IDGRUPOPATRIMONIO = IPATRIMONIO.IDGRUPOPATRIMONIO)
								LEFT JOIN IPATRIMONIO AS IPATRIMONIO2 (NOLOCK) ON
											(IPATRIMONIO2.CODCOLIGADA = IPATRIMONIO.CODCOLIGADA AND
											IPATRIMONIO2.IDPATRIMONIO = IPATRIMONIO.IDPATRIMONIOAGREGADOR AND
											IPATRIMONIO.IDPATRIMONIOAGREGADOR IS NOT NULL)
								LEFT JOIN (SELECT CODCOLIGADA, IDPATRIMONIO, IDPATRIMONIOMOEDA, AQUISICAO, AQUISICAOINDICE, VALORCOTACAOMOEDAINDICE,
											VALORINDICEDATAAQUISICAO, VALORCOTACAOINDICE, AQUISICAOCORRIGIDO
											FROM IPATRIMONIOMOEDA (NOLOCK)
											WHERE  IPATRIMONIOMOEDA.REAVALIACAO = 0 AND
											IPATRIMONIOMOEDA.IDPATRIMONIOMOEDA = (SELECT MIN(IDPATRIMONIOMOEDA) FROM IPATRIMONIOMOEDA IPATRIMONIOMOEDA2  (NOLOCK)
											WHERE IPATRIMONIOMOEDA2.CODCOLIGADA  = IPATRIMONIOMOEDA.CODCOLIGADA AND
											IPATRIMONIOMOEDA2.IDPATRIMONIO = IPATRIMONIOMOEDA.IDPATRIMONIO AND
											IPATRIMONIOMOEDA2.REAVALIACAO = 0 )
											) IPATRIMONIOMOEDA ON
									(IPATRIMONIO.CODCOLIGADA  = IPATRIMONIOMOEDA.CODCOLIGADA AND
									IPATRIMONIO.IDPATRIMONIO = IPATRIMONIOMOEDA.IDPATRIMONIO)
								LEFT JOIN ICALCULOPATRIMONIO (NOLOCK) ON
									(IPATRIMONIOMOEDA.CODCOLIGADA  = ICALCULOPATRIMONIO.CODCOLIGADA AND
										IPATRIMONIOMOEDA.IDPATRIMONIOMOEDA = ICALCULOPATRIMONIO.IDPATRIMONIOMOEDA AND
										ICALCULOPATRIMONIO.IDCENARIOCALCULO = 1 AND
										ICALCULOPATRIMONIO.IDCALCULO =1)
								LEFT JOIN ITAXADEPRECIACAO (NOLOCK) ON
										ITAXADEPRECIACAO.CODCOLIGADA  = ICALCULOPATRIMONIO.CODCOLIGADA AND
										ITAXADEPRECIACAO.IDCALCULOPATRIMONIO = ICALCULOPATRIMONIO.IDCALCULOPATRIMONIO  AND
										ITAXADEPRECIACAO.IDTAXADEPRECIACAO =
										(SELECT MAX(X.IDTAXADEPRECIACAO) FROM ITAXADEPRECIACAO X
										WHERE X.CODCOLIGADA = ICALCULOPATRIMONIO.CODCOLIGADA AND
											X.IDCALCULOPATRIMONIO = ICALCULOPATRIMONIO.IDCALCULOPATRIMONIO AND
											X.DATAINICIOVIGENCIA < (SELECT DATEADD(MONTH,1,
																	(SELECT TEXTO FROM IPARAMETROS WHERE CODCOLIGADA = X.CODCOLIGADA AND NOME ='ANOCALCULO')+'-'+
																	(SELECT TEXTO FROM IPARAMETROS WHERE CODCOLIGADA = X.CODCOLIGADA AND NOME ='MESCALCULO')+'-01')))
								LEFT JOIN ISALDOCALCULOPATRIMONIOMOEDA (NOLOCK) ON
									(ISALDOCALCULOPATRIMONIOMOEDA.CODCOLIGADA  = ICALCULOPATRIMONIO.CODCOLIGADA AND
										ISALDOCALCULOPATRIMONIOMOEDA.IDCALCULOPATRIMONIO = ICALCULOPATRIMONIO.IDCALCULOPATRIMONIO AND
										ISALDOCALCULOPATRIMONIOMOEDA.CODCOLIGADA  =  IPATRIMONIOMOEDA.CODCOLIGADA AND
										ISALDOCALCULOPATRIMONIOMOEDA.IDPATRIMONIOMOEDA = IPATRIMONIOMOEDA.IDPATRIMONIOMOEDA)
GO
