USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_index_id]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_index_id]
  @index_name sysname,
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @index_id smallint output
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @pstr nvarchar(128)
-- build the select statement
set @cmd = N'select @index_id = i.indid ' +
             N'from ' + @db_name + N'.sys.objects o, ' +
                        @db_name + N'.sys.schemas sch, ' +
                        @db_name + N'.sys.sysindexes i ' +
               N'where o.name = @table_name ' +
                 N'and o.schema_id = sch.schema_id ' +
                 N'and sch.name = @schema_name ' +
                 N'and i.id = o.object_id ' +
                 N'and i.name = @index_name ' +
                 N'and i.indid > 0 ' +
                 N'and i.indid < 255'
set @pstr = N'@table_name sysname,@schema_name sysname,'+
            N'@index_name sysname, @index_id smallint output'
-- get the id
exec sp_executesql @cmd, @pstr, @table_name, @schema_name,
            @index_name, @index_id output
END
 
GO
