USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[gera_base_oracle]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE  procedure [dbo].[gera_base_oracle] 
as

declare @versao varchar(10)
declare @tabela varchar(30)
declare tabelas cursor for select name from sysobjects where type='U' and name not like 'Z%' order by name
open tabelas
fetch next from tabelas into @tabela
select @versao=versaobase from gparams
print '/* Tabelas ' + @versao + ' */'
print ''
while @@fetch_status=0
begin
  exec gera_tabela_oracle @tabela
  fetch next from tabelas into @tabela
end
close tabelas
print ''
print ''
open tabelas
fetch next from tabelas into @tabela
print '/* Indices ' + @versao + ' */'
print ''
while @@fetch_status=0
begin
  exec gera_ind_pk @tabela,0,'Oracle'
  fetch next from tabelas into @tabela
end
close tabelas
print ''
print ''
open tabelas
fetch next from tabelas into @tabela
print '/* Foreign Keys ' + @versao + ' */'
print ''
while @@fetch_status=0
begin
  exec gera_fks_tabela @tabela,'Oracle'
  fetch next from tabelas into @tabela
end
close tabelas
deallocate tabelas



GO
