USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[ZCRM_CONFEREIR_ESOCIAL]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ZCRM_CONFEREIR_ESOCIAL] AS 

SELECT 
         MAX(ID)ID
		,CODCOLIGADA
		,CPF
		,NOME
		,CODPESSOA
	    ,ANOCOMP
	    ,MESCOMP
	    ,TIPOEVENTO
	    ,STATUS
	    ,RECIBO
	    ,SUM(CASE WHEN TIPO IN ('31','32','33','34') THEN CONVERT(MONEY,VALOR) ELSE 0 END)DESCONTADO
	    ,SUM(CASE WHEN TIPO IN ('11','12','13','14') THEN CONVERT(MONEY,VALOR) ELSE 0 END)
	    	- SUM(CASE WHEN TIPO IN ('51') THEN CONVERT(MONEY,VALOR) ELSE 0 END) BASE
FROM

(

SELECT
         ID
		,CODCOLIGADA
		,CPF
		,NOME
		,CODPESSOA
	    ,ANOCOMP
	    ,MESCOMP
	    ,TIPOEVENTO
	    ,STATUS
	    ,RECIBO
   ,XMLCOL.MENSAGEMRETORNO.value('tpInfoIR[1]', 'VARCHAR(MAX)') AS TIPO 
   ,XMLCOL.MENSAGEMRETORNO.value('valor[1]', 'VARCHAR(MAX)') AS VALOR
   
   
   --,RET
   
FROM (
    SELECT
        
         ID
		,A.CODCOLIGADA
		,ISNULL(B.CPF,A.CPF) CPF
		,B.NOME
		,A.CODPESSOA
	    ,A.ANOCOMP
	    ,A.MESCOMP
	    ,A.TIPOEVENTO
	    ,A.STATUS
	    ,A.RECIBO
	    ,CAST(replace(A.MENSAGEMRETORNO,'xmlns','crm') AS XML) AS MENSAGEMRETORNO_XML
	    --,A.MENSAGEMRETORNO RET
    
    FROM PESOCIALEVENTOS A
          LEFT JOIN PPESSOA B ON A.CODPESSOA = B.CODIGO
    WHERE
        A.TIPOEVENTO = 'S-1210'
        AND A.STATUS = '10'
        AND A.MENSAGEMRETORNO IS NOT NULL
      
        
) AS T
CROSS APPLY T.MENSAGEMRETORNO_XML.nodes('/evento/tot/eSocial/evtIrrfBenef/ideTrabalhador/dmDev/infoIR') AS XMLCOL(MENSAGEMRETORNO)
)X 
 WHERE TIPO IN (11,12,13,14    ,31,32,33,34   ,51)
GROUP BY 	
         CODCOLIGADA
		,CPF
		,NOME
		,CODPESSOA
	    ,ANOCOMP
	    ,MESCOMP
	    ,TIPOEVENTO
	    ,STATUS
	    ,RECIBO
GO
