USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[fnLiqEnvelope]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE function [dbo].[fnLiqEnvelope]    (	
													@p_coligada  smallint       ,
													@p_chapa     varchar(16)	,  
													@p_mescomp   smallint       ,
													@p_anocomp   smallint       ,
													@p_periodo   smallint        
												 )
returns numeric(15,2) 
as

begin
 
declare @cvValor numeric(15,2)

		begin
				set @cvValor = 0
				--***
				select @cvValor = sum(case when ev.provdescbase = 'P' 
											    then ff.valor
											    else ff.valor * (-1)
									  end)
				  from pffinanc ff (nolock), pevento ev (nolock)
				 where ff.codcoligada     = ev.codcoligada
				   and ff.codevento       = ev.codigo
				   and ev.provdescbase   <> 'B'
				   and ff.nroperiodo      = @p_periodo
				   and ff.mescomp         = @p_mescomp
				   and ff.anocomp         = @p_anocomp
				   and ff.chapa           = @p_chapa
				   and ff.codcoligada     = @p_coligada
		end
   
		return isnull(@cvValor,0)
end
GO
