USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VIEW_BW_TB_VCONSULTASPRONT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_BW_TB_VCONSULTASPRONT]
AS
SELECT CODCOLIGADA            = VCP.CODCOLIGADA
     , IDCONSULTA			  = VCP.IDCONSULTA
     , CODPESSOA			  = VCP.CODPESSOA
     , CHAPA				  = ISNULL(VCP.CHAPA, FNC.CHAPA)
	 , CCUSTO                 = SCO.NROCENCUSTOCONT
     , CODCONSULTAPRONT		  = VCP.CODCONSULTAPRONT
     , DATACONSULTA			  = VCP.DATACONSULTA
     , APTO					  = VCP.APTO
     , CODTIPOCONSULTA		  = VCP.CODTIPOCONSULTA
     , CODMEDICO			  =	VCP.CODMEDICO
     , CODTIPOCONSULTAESOCIAL =	VCP.CODTIPOCONSULTAESOCIAL
     , TIPO					  = VCP.TIPO
     , CODENTIDADE			  = VCP.CODENTIDADE
     , DATAASO				  = VCP.DATAASO
     , DTMODIFICACAO          = CONVERT(VARCHAR(8),ISNULL(VCP.RECMODIFIEDON, VCP.DATACONSULTA),112)
  FROM VCONSULTASPRONT VCP
  	   LEFT JOIN PFUNC                   FNC ON VCP.CODPESSOA       = FNC.CODPESSOA
	                                        AND VCP.CODCOLIGADA     = FNC.CODCOLIGADA
			  	                            AND VCP.DATACONSULTA BETWEEN IsNull(FNC.DTTRANSFERENCIA, FNC.DATAADMISSAO) 
										                             AND IsNull(FNC.DATADEMISSAO, GetDate())
	   LEFT JOIN PSECAO                  SCO ON FNC.CODSECAO         = SCO.CODIGO
	                                        AND FNC.CODCOLIGADA      = SCO.CODCOLIGADA
 WHERE VCP.DATACONSULTA IS NOT NULL
GO
