USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_MESCLADATAHORA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MESCLADATAHORA] (@CAMPODATA DATETIME, @CAMPOHORA VARCHAR(4)) RETURNS DATETIME
BEGIN
  /*Ex. campoData = '31/12/2000 00:00:00' (DateTime)
  	 campoHora = '1230' (varchar(4))
  	 resultado = '31/12/2000 12:30:00' (DateTime)
  */
  DECLARE @DATA AS DATETIME
  SET @DATA = CONVERT(DATETIME, (CONVERT(VARCHAR(10), @CAMPODATA, 103) + ' ' + SUBSTRING(@CAMPOHORA, 0,3) + ':' + SUBSTRING(@CAMPOHORA, 3,2) + ':00'), 103)
  RETURN @DATA
END
GO
