USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcc_perf_waitstats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcc_perf_waitstats]
AS
  SET NOCOUNT ON
-- New method which matches the old dbcc sqlperf(waitstats)
  select wait_type,waiting_tasks_count,wait_time_ms,
         signal_wait_time_ms
   from sys.dm_os_wait_stats
 
GO
