USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[CALCULO_HORARIO_PT2]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CALCULO_HORARIO_PT2] (@P_DATA VARCHAR(10), @P_CODHORARIO VARCHAR(10), @P_CODINDICE INT, @P_CODCOLIGADA INT, @P_DIAS INT, @P_CHAPA VARCHAR(30))
RETURNS @TESTE TABLE(CODHORARIO VARCHAR(10), DATA DATE, CODINDICE INT, CODCOLIGADA INT, TIPO VARCHAR(15), ENTRADA1 INT, SAIDA1 INT, ENTRADA2 INT, SAIDA2 INT)

AS

BEGIN

DECLARE @LOOP INT = 0;


    
-- PARAMETROS
DECLARE 
	@DATA_CONSULTA DATETIME = CONVERT(DATETIME, @P_DATA, 103),
	@DATA_PARAM DATETIME = CONVERT(DATETIME, @P_DATA, 103),
	@CODHORARIO VARCHAR(10) = @P_CODHORARIO,
	@CODCOLIGADA INT = @P_CODCOLIGADA,
	--@DIAS INT = 10,
	@CODINDICE INT = @P_CODINDICE,
	@CHECK_INDICE INT = 0;

DECLARE @HORARIO_FUTURO INT = 0;

DECLARE @INDICE_MIN INT = 1;
DECLARE @INDICE_MAX INT = (SELECT MAX(INDICE) FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO);


BEGIN

WHILE(@LOOP <= 10)
BEGIN


 SET @HORARIO_FUTURO = (SELECT COUNT(DTMUDANCA) FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @P_CHAPA AND DTMUDANCA = @DATA_CONSULTA);
 
IF(@HORARIO_FUTURO > 0)
BEGIN
	SET @CODINDICE = (SELECT INDINICIOHOR FROM PFHSTHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CHAPA = @P_CHAPA AND DTMUDANCA = @DATA_CONSULTA);
END

-- VERIFICA SE POSSUI HORARIO FUTURO
IF(@HORARIO_FUTURO > 0)
BEGIN

	INSERT INTO @TESTE SELECT * FROM dbo.CALCULO_HORARIO_PT4(CONVERT(VARCHAR, @DATA_CONSULTA, 103), @P_CHAPA, @CODCOLIGADA, (@P_DIAS-1) - @LOOP);
 	BREAK;

END;

-- BATIDAS
WITH T_BATIDAS AS (
   SELECT MAX(FIM) BATIDA, 'CS' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 2 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
   UNION ALL
   SELECT MIN(INICIO) BATIDA, 'CE' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 2 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
   UNION ALL
   SELECT MIN(INICIO) BATIDA, 'DE' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 1 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
   UNION ALL
   SELECT MIN(BATINICIO) BATIDA, 'E' TIPO, CODCOLIGADA, CODHORARIO FROM AJORHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND INDINICIO = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
   UNION ALL
   SELECT MAX(FIM) BATIDA, 'DS' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 1 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
   UNION ALL
   SELECT MAX(BATFIM) BATIDA, 'S' TIPO, CODCOLIGADA, CODHORARIO FROM AJORHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND INDINICIO = @CODINDICE   
    GROUP BY CODCOLIGADA, CODHORARIO
)

-- REGISTROS 

INSERT INTO @TESTE 	
SELECT @CODHORARIO CODHORARIO, @DATA_CONSULTA DATA, @CODINDICE CODINDICE, @CODCOLIGADA CODCOLIGADA, *--, '--------------------', dbo.mintotime(ENTRADA1) ENTRADA1, dbo.mintotime(SAIDA1) SAIDA1, dbo.mintotime(ENTRADA2) ENTRADA2, dbo.mintotime(SAIDA2) SAIDA2 
FROM (

SELECT

   (SELECT
      MAX(CASE 
         WHEN D.BATIDA IS NOT NULL THEN 'DESCANSO'
         WHEN E.BATIDA IS NOT NULL THEN 'COMPENSADO'
         ELSE 'TRABALHO' END)
   FROM
      GCOLIGADA AA
      LEFT JOIN AJORHOR A ON A.CODCOLIGADA = AA.CODCOLIGADA AND A.CODCOLIGADA = @CODCOLIGADA AND A.CODHORARIO = @CODHORARIO AND @CODINDICE IN (A.INDINICIO, A.INDFIM)
      LEFT JOIN ABATHOR B ON B.CODCOLIGADA = AA.CODCOLIGADA AND B.CODHORARIO = @CODHORARIO AND (CASE WHEN A.INDINICIO = B.INDICE THEN A.INDINICIO ELSE A.INDFIM END) = B.INDICE AND B.INDICE = @CODINDICE AND B.TIPO IN (0)
      LEFT JOIN T_BATIDAS C ON C.CODCOLIGADA = @CODCOLIGADA AND C.CODHORARIO = @CODHORARIO AND C.TIPO = 'E'
      LEFT JOIN T_BATIDAS D ON D.CODCOLIGADA = @CODCOLIGADA AND D.CODHORARIO = @CODHORARIO AND D.TIPO = 'DE'
      LEFT JOIN T_BATIDAS E ON E.CODCOLIGADA = @CODCOLIGADA AND E.CODHORARIO = @CODHORARIO AND E.TIPO = 'CE'
   WHERE
      AA.CODCOLIGADA = @CODCOLIGADA
      ) TIPO,

   (SELECT
      MAX(CASE 
         WHEN D.BATIDA IS NOT NULL THEN D.BATIDA
         WHEN C.BATIDA IS NOT NULL THEN C.BATIDA 
         WHEN E.BATIDA IS NOT NULL THEN E.BATIDA
         ELSE A.BATINICIO END)
   FROM
      GCOLIGADA AA
      LEFT JOIN AJORHOR A ON A.CODCOLIGADA = AA.CODCOLIGADA AND A.CODCOLIGADA = @CODCOLIGADA AND A.CODHORARIO = @CODHORARIO AND @CODINDICE IN (A.INDINICIO, A.INDFIM)
      LEFT JOIN ABATHOR B ON B.CODCOLIGADA = AA.CODCOLIGADA AND B.CODHORARIO = @CODHORARIO AND (CASE WHEN A.INDINICIO = B.INDICE THEN A.INDINICIO ELSE A.INDFIM END) = B.INDICE AND B.INDICE = @CODINDICE AND B.TIPO IN (0)
      LEFT JOIN T_BATIDAS C ON C.CODCOLIGADA = @CODCOLIGADA AND C.CODHORARIO = @CODHORARIO AND C.TIPO = 'E'
      LEFT JOIN T_BATIDAS D ON D.CODCOLIGADA = @CODCOLIGADA AND D.CODHORARIO = @CODHORARIO AND D.TIPO = 'DE'
      LEFT JOIN T_BATIDAS E ON E.CODCOLIGADA = @CODCOLIGADA AND E.CODHORARIO = @CODHORARIO AND E.TIPO = 'CE'
   WHERE
      AA.CODCOLIGADA = @CODCOLIGADA
      ) ENTRADA1,
   
   (SELECT
      TOP 1 A.INICIO
   FROM
      ABATHOR A
   WHERE
         A.CODHORARIO = @CODHORARIO
      AND A.CODCOLIGADA = @CODCOLIGADA
      AND A.INDICE = @CODINDICE
      AND A.TIPO = 4 ORDER BY A.RECMODIFIEDON DESC) SAIDA1,
   
   (SELECT
      TOP 1 A.FIM
   FROM
      ABATHOR A
   WHERE
         A.CODHORARIO = @CODHORARIO
      AND A.CODCOLIGADA = @CODCOLIGADA
      AND A.INDICE = @CODINDICE
      AND A.TIPO = 4 ORDER BY A.RECMODIFIEDON DESC) ENTRADA2,
      
   (
   SELECT
      MAX(CASE 
         WHEN D.BATIDA IS NOT NULL THEN D.BATIDA
         WHEN C.BATIDA IS NOT NULL THEN C.BATIDA
         WHEN E.BATIDA IS NOT NULL THEN E.BATIDA 
         ELSE A.BATFIM END)
   FROM
      GCOLIGADA AA
      LEFT JOIN AJORHOR A ON A.CODCOLIGADA = AA.CODCOLIGADA AND A.CODCOLIGADA = @CODCOLIGADA AND A.CODHORARIO = @CODHORARIO AND @CODINDICE IN (A.INDINICIO, A.INDFIM)
      LEFT JOIN ABATHOR B ON B.CODCOLIGADA = AA.CODCOLIGADA AND B.CODHORARIO = @CODHORARIO AND (CASE WHEN A.INDINICIO = B.INDICE THEN A.INDINICIO ELSE A.INDFIM END) = B.INDICE AND B.INDICE = @CODINDICE AND B.TIPO IN (0)
      LEFT JOIN T_BATIDAS C ON C.CODCOLIGADA = @CODCOLIGADA AND C.CODHORARIO = @CODHORARIO AND C.TIPO = 'S'
      LEFT JOIN T_BATIDAS D ON D.CODCOLIGADA = @CODCOLIGADA AND D.CODHORARIO = @CODHORARIO AND D.TIPO = 'DS'
      LEFT JOIN T_BATIDAS E ON E.CODCOLIGADA = @CODCOLIGADA AND E.CODHORARIO = @CODHORARIO AND E.TIPO = 'CS'
   WHERE
      AA.CODCOLIGADA = @CODCOLIGADA
   ) SAIDA2
 )X
 
 
 SET @LOOP= @LOOP+1
 
 
  IF(@LOOP = @P_DIAS)
 	BEGIN
 		INSERT INTO @TESTE SELECT * FROM dbo.CALCULO_HORARIO_PT3(CONVERT(VARCHAR, @DATA_CONSULTA, 103), @P_CHAPA, @CODCOLIGADA, 9 - @P_DIAS);
 		BREAK;
 	END
 
 SET @DATA_CONSULTA = @DATA_CONSULTA+1
 SET @CODINDICE = @CODINDICE+1;
 IF(@CODINDICE > @INDICE_MAX) SET @CODINDICE = @INDICE_MIN;
 
 
 

END -- END BEGIN
END -- END WHILE 

RETURN

 END
--SELECT *, dbo.MINTOTIME(ENTRADA1) ENT1, dbo.MINTOTIME(SAIDA1) SAI1, dbo.MINTOTIME(ENTRADA2) ENT2, dbo.MINTOTIME(SAIDA2) SAI2 FROM @TESTE
GO
