USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_DW_PREDITIVO_ADMIS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*VIEW CRIADA PARA O PROJETO PREDITIVO RH */

CREATE  VIEW [dbo].[VW_DW_PREDITIVO_ADMIS] AS
WITH
MASKING AS 
(SELECT 1 ROWNUMBER, 1 MASKING)
--MASKING AS 
--(
--SELECT  
--	TOP (30000) ROWNUMBER, 
--	(case when random1>1 then random1 else random2 end)/40 AS MASKING
--FROM 
--	(
--	SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS ROWNUMBER
--		  ,((RAND(CHECKSUM(NEWID())) * 10) + 1) AS random1
--		  ,((CHECKSUM(NEWID())) % 100 + 1)/10 AS random2
--	FROM sys.objects
--	) MASK
--)

,FAIXA_SALARIAL AS
(
SELECT CODFUNCAO,
       SALARIO,
       DATAFORMATADA,
       COLIGADA
FROM (SELECT 
		   FUNCAO.CODFUNCAO
          ,FUNCAO.COLIGADA
          ,CONVERT(VARCHAR, FUNCAO.DTCAD, 103) AS DATAFORMATADA
          ,FUNCAO.DTCAD
          ,CASE WHEN SALARIO.SALARIO IS NOT NULL THEN SALARIO.SALARIO ELSE SAL_NULL.SALARIO END AS SALARIO
          ,ROW_NUMBER()
           OVER (
             PARTITION BY FUNCAO.CODFUNCAO, FUNCAO.COLIGADA
             ORDER BY FUNCAO.DTCAD DESC) AS SEQ
          FROM   PORTALRHPRD..zcrmportal_posicao_funcao FUNCAO
                 LEFT JOIN PORTALRHPRD..zcrmportal_posicao_salario SALARIO
                        ON FUNCAO.ID = SALARIO.ID_POSICAO_FUNCAO
                       AND FUNCAO.COLIGADA = SALARIO.COLIGADA
                 LEFT JOIN (SELECT DISTINCT
							    FUNCAO.CODFUNCAO,
						        SALARIO
				            FROM   PORTALRHPRD..zcrmportal_posicao_funcao FUNCAO
				                   LEFT JOIN PORTALRHPRD..zcrmportal_posicao_salario SALARIO
				                          ON FUNCAO.ID = SALARIO.ID_POSICAO_FUNCAO
				                         AND FUNCAO.COLIGADA = SALARIO.COLIGADA
				            WHERE  FUNCAO.INATIVO = 0) AS SAL_NULL   
		         	    ON FUNCAO.CODFUNCAO = SAL_NULL.CODFUNCAO

          WHERE  FUNCAO.INATIVO = 0) AS FAIXASALARIAL
WHERE  SEQ = 1
)

,CARREIRA AS
(
	SELECT id, descricao
	FROM PORTALRHPRD..zcrmportal_salario_alternativas_itens a
		WHERE isnumeric(substring(a.descricao,1,1)) = 1
		AND len(substring(a.descricao, 1, charindex('-', a.descricao) - 1)) = 1
)

,ALTERNATIVA_ITENS AS
(
SELECT a.*, substring(a.descricao,1,1) AS id_carreira, CARREIRA.descricao AS carreira
FROM PORTALRHPRD..zcrmportal_salario_alternativas_itens a
LEFT JOIN CARREIRA
	ON substring(a.descricao,1,1) = CARREIRA.id
	WHERE isnumeric(substring(a.descricao,1,1)) = 1
	AND len(substring(a.descricao, 1, charindex('-', a.descricao) - 1)) > 1
)
,SALARIO_DADOS as
(
	SELECT * 
	FROM PORTALRHPRD..zcrmportal_salario_dados
		WHERE ISNUMERIC(valor_texto) = 1
)
,CATEGORIAS_SALARIO AS
(
SELECT  DISTINCT 
        CAST(DADOS.COLIGADA AS INT) COLIGADA
	   ,CAST(DADOS.ID_FUNCAO AS INT) ID_FUNCAO
	   ,CAST(DADOS.ID_ITEM AS INT) ID_ITEM
	   ,CAST(DADOS.VALOR_TEXTO AS INT) VALOR_TEXTO
	   ,CAST(ALTER_ITENS.DESCRICAO AS NVARCHAR(100)) DESCRICAO 
	   ,ALTER_ITENS.ID_CARREIRA AS CODCARREIRA
	   ,CAST(ALTER_ITENS.CARREIRA AS NVARCHAR(100)) CARREIRA
	   FROM SALARIO_DADOS DADOS
	   INNER JOIN (SELECT COLIGADA 
	   					 ,ID_FUNCAO 
	   					 ,MAX(DTCAD) DTCAD from SALARIO_DADOS
				   GROUP BY COLIGADA, ID_FUNCAO) DTCAD
			  ON DADOS.COLIGADA = DTCAD.COLIGADA
			 AND DADOS.ID_FUNCAO = DTCAD.ID_FUNCAO
	   LEFT JOIN PORTALRHPRD..zcrmportal_salario_grupos GRUPOS
	          ON DADOS.id_grupo = grupos.id
	   LEFT JOIN PORTALRHPRD..zcrmportal_salario_subgrupo SUBGRUPOS
	          ON DADOS.id_subgrupo = subgrupos.id
	   LEFT JOIN PORTALRHPRD..zcrmportal_salario_itens_subgrupo ITENS
	          ON DADOS.id_item = ITENS.id
	   LEFT JOIN ALTERNATIVA_ITENS ALTER_ITENS
	          ON DADOS.valor_texto = alter_itens.id 
WHERE ITENS.ID IN ( '2' ) 
)
,FUNCAO_SALARIO AS
(
	SELECT FUNCAO.* FROM 
	   PORTALRHPRD..zcrmportal_salario_funcao FUNCAO
	   INNER JOIN (SELECT 
	   				  COLIGADA, 
	   				  CODIGO, 
	   				  MAX(DTCAD) DTCAD
	   			   FROM PORTALRHPRD..zcrmportal_salario_funcao
	   			   GROUP BY  COLIGADA, CODIGO
	   			   ) DTCAD
	   		  ON FUNCAO.COLIGADA = DTCAD.COLIGADA
	   		 AND FUNCAO.CODIGO = DTCAD.CODIGO
	   		 AND FUNCAO.DTCAD = DTCAD.DTCAD
)

,HIER AS
(
select 
	CHAPA,
	CODSECAO,
	REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1)) AS [CODNIVEL_01], 
	REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3)) AS [GRPCARGO_NIVEL_01], 
	REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2)) AS [NMNIVEL_01], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 1)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1))
			) AS [CODNIVEL_02], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 3)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3))
			) AS [GRPCARGO_NIVEL_02], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 2)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2))
			) AS [NMNIVEL_02], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 1)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1))
			) AS [CODNIVEL_03], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 3)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3))
			) AS [GRPCARGO_NIVEL_03], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 2)),  
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2))
			) AS [NMNIVEL_03], 	
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 1)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1))
			) AS [CODNIVEL_04], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3))
			) AS [GRPCARGO_NIVEL_04], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 2)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2))
			) AS [NMNIVEL_04], 	
	COALESCE(
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 1)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1))
			) AS [CODNIVEL_05], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3))
			) AS [GRPCARGO_NIVEL_05], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 2)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2))
			) AS [NMNIVEL_05],
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 1)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 1)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 1))
			) AS [CODNIVEL_06], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 3)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 3))
			) AS [GRPCARGO_NIVEL_06], 
	COALESCE(REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_06), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_05), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_04), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_03), '||', '.'), 2)), 
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_02), '||', '.'), 2)),
			 REVERSE(PARSENAME(REPLACE(REVERSE(NIVEL_01), '||', '.'), 2))
			) AS [NMNIVEL_06]

from CRM_HIERARQUIA3
WHERE NIVEL_01 IS NOT NULL
)

SELECT RP
	  ,RPCOLETIVA
	  ,CODCOLIGADA
	  ,COLIGADA
	  ,TP_FUNC
	  ,FUNCAO
	  ,POSICAO
	  ,RESPONSAVELVAGA
	  ,DTAABERTURA
	  ,STATUS
	  ,GESTOREQ
	  ,DIRETORIA
	  ,CODCCUSTO
	  ,NMCCUSTO
	  ,SECAO
	  ,CODSINDICATO
	  ,SINDICATO
	  ,TP_ADMISSAO
	  ,CODMOTIVO_ADMISSAO
	  ,MOTIVO_ADMISSAO
	  ,CODFILIAL
	  ,FILIAL
	  ,NUM_DEPENDENTE_IRPF
	  ,NUM_DEPENDENTE_FAMILIA
      ,CODAPOSENTADO
      ,APOSENTADO
      ,CODJORNADA
      ,JORNADA
      ,CODHORARIO
      ,HORARIO_ESCALA
      ,CODESTADO_CIVIL
      ,ESTADO_CIVIL
      ,CODGENERO
      ,GENERO
      ,CODINSTRUCAO
      ,GRAU_INSTRUCAO
      ,CODESTADO
      ,ESTADO
      ,TP_CNH
      ,CODCOR_RACA
      ,COR_RACA
 	  ,CODCARREIRA
	  ,CARREIRA
	  ,FORMAT(CASE WHEN ROUND(TETO_SALARIAL * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(TETO_SALARIAL * MASKING, 2) END, '#.##') AS CODTETO_SALARIAL
	  ,CASE WHEN ROUND(SALARIO * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(SALARIO * MASKING, 2) END AS SALARIO
	  ,CASE WHEN ROUND(TETO_SALARIAL * MASKING, 2) < 1412.00 THEN 1412.00 ELSE ROUND(TETO_SALARIAL * MASKING, 2) END AS TETO_SALARIAL
      ,CASE
           WHEN SALARIO * MASKING < 2090 THEN 'E'
           WHEN SALARIO * MASKING BETWEEN 2090.01 AND 4180 THEN 'D'
           WHEN SALARIO * MASKING BETWEEN 4180.01 AND 10450 THEN 'C'
           WHEN SALARIO * MASKING BETWEEN 10450.01 AND 20900 THEN 'B'
       ELSE 'A'
       END AS CODCLASSE_SOCIAL
      ,CASE
           WHEN SALARIO * MASKING < 2090 THEN 'Classe E - Abaixo de 2.090'
           WHEN SALARIO * MASKING BETWEEN 2090.01 AND 4180 THEN 'Classe D - 2.090 até 4.180'
           WHEN SALARIO * MASKING BETWEEN 4180.01 AND 10450 THEN 'Classe C - 4.180 até 10.450'
           WHEN SALARIO * MASKING BETWEEN 10450.01 AND 20900 THEN 'Classe B - 10.450 até 20.900'
       ELSE 'Classe A - Acima de 20.900'
       END AS CLASSE_SOCIAL
  	  ,CODDEFICIENTE
      ,DEFICIENTE
      ,CODGERACAO
      ,GERACAO
      ,DISTANCIA_TRABALHO
FROM (
	  SELECT  ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS ROWNUMBER, QUERY.*
	  FROM 
	  	(SELECT
			  CONCAT(REPLICATE('0', 10 - LEN(VAGAS.RP)),VAGAS.RP) RP,
			  VAGAS.RPCOLETIVA,
			  VAGAS.COLIGADA AS CODCOLIGADA,
              CONCAT(VAGAS.COLIGADA, '-', GCOLIGADA.NOMEFANTASIA) AS COLIGADA,
              'Normal' AS TP_FUNC,
              VAGAS.POSICAO,
              UPPER(VAGAS.RESPONSAVELVAGA) AS RESPONSAVELVAGA,
              VAGAS.DTAABERTURA,
              VAGAS.STATUS,
              DADOS_SALARIO.DESCRICAO  AS FUNCAO,
			  HIER.CODNIVEL_01, 
			  HIER.GRPCARGO_NIVEL_01, 
			  HIER.NMNIVEL_01, 
			  HIER.CODNIVEL_02, 
			  HIER.GRPCARGO_NIVEL_02, 
			  HIER.NMNIVEL_02, 
			  HIER.CODNIVEL_03, 
			  HIER.GRPCARGO_NIVEL_03, 
			  HIER.NMNIVEL_03, 
			  HIER.CODNIVEL_04, 
			  HIER.GRPCARGO_NIVEL_04, 
			  HIER.NMNIVEL_04, 
			  HIER.CODNIVEL_05, 
			  HIER.GRPCARGO_NIVEL_05, 
			  HIER.NMNIVEL_05, 
			  HIER.CODNIVEL_06, 
			  HIER.GRPCARGO_NIVEL_06, 
			  HIER.NMNIVEL_06, 
              CONCAT(REPLICATE('0', 7), GESTOREQ) AS GESTOREQ,
			  CASE 
					WHEN HIER.CODNIVEL_02 = '050005309' THEN 'Dir. Industrial'
					WHEN HIER.CODNIVEL_02 = '050005337' THEN 'Dir. Florestal'
					WHEN HIER.CODNIVEL_02 = '050005376' THEN 'Dir. RH. Sustent e CI'
					WHEN HIER.CODNIVEL_02 = '050005308' THEN 'Dir. Comercial e Logística'
					WHEN HIER.CODNIVEL_02 = '050005383' THEN 'Dir. Transportadora'
					WHEN HIER.CODNIVEL_02 = '050002052' THEN 'Dir. Financeira'
					WHEN PSECAO.NROCENCUSTOCONT in ('70001','70002', '70004', '71001') THEN 'Dir. Comercial e Logística'
				 	WHEN PSECAO.NROCENCUSTOCONT in ('32602','32603', '32605', '32601', '32606', '32604') THEN 'TI'
					WHEN PSECAO.NROCENCUSTOCONT in ('30010','30013','30001') THEN 'Presidência'
					WHEN PSECAO.NROCENCUSTOCONT in ('32707', '32701', '32708', '32710') THEN 'Dir. Jurídica'
			   ELSE 'Sem informações' END AS DIRETORIA,
			  PSECAO.NROCENCUSTOCONT AS CODCCUSTO,
			  PSECAO.DESCRICAO AS NMCCUSTO,
			  VAGAS.SECAO,
              CASE
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 11 THEN '013'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 12 THEN '017'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 18 THEN '008'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 19 THEN '012'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 110 THEN '004'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 111 THEN '002'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 112 THEN '005'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 116 THEN '003'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 117 THEN '001'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 135 THEN '012'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 142 THEN '016'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 145 THEN '014'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 51
              AND VAGAS.POSICAO = 'Auxiliar Serviços Gerais'
      OR VAGAS.POSICAO = 'Mecânico II'
                      OR VAGAS.POSICAO = 'Mecânico I'
                      OR VAGAS.POSICAO = 'Auxiliar Op. Logística (P)'
                      OR VAGAS.POSICAO = 'Auxiliar Op. Logística'
                      OR VAGAS.POSICAO = 'Técnico Mecânico'
                      OR VAGAS.POSICAO = 'Técnico Eletromecânica III'
                      OR VAGAS.POSICAO = 'Técnico Eletromecânica II'
                      OR VAGAS.POSICAO = 'Técnico Eletromecânica I' THEN '002'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 516
                     AND VAGAS.POSICAO = 'Operador Equipamentos III'
                      OR VAGAS.POSICAO = 'Operador Equipamentos II'
                      OR VAGAS.POSICAO = 'Operador Equipamentos I' THEN '4/16-SIN OPER AP GUINDAST EMP MAQ EQUIP TRANSP CARGA'
                ELSE '001'
              END  AS CODSINDICATO,
              
              CASE
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 11 THEN '1/13-SINDICATO DOS TRAB. IND. DE PAPEL E CELULOSE'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 12 THEN '1/17-SINDICATO DOS TRABALHADORES NAS INDUSTRIAS DO PAPEL, CELULOSE E PASTA DE MADEIRA PARA PAPEL E PAPELAO DE SAO PAULO'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 18 THEN '1/8-SINDICATO DOS TRABALHADORES E TRABALHADORAS ASSALARIADOS RURAIS DE TRÊS LAGOAS - MS'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 19 THEN '1/12-SINDICATO DOS TRABALHADORES E TRABALHADORAS ASSALARIADOS RURAIS DE TRÊS LAGOAS - MS'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 110 THEN '1/4-SINDICATO DOS TRAB. RURAIS DE SELVÍRIA'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 111 THEN '1/2-SINDICATO DOS TRAB. RURAIS DE SANTA RITA DO PARDO'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 112 THEN '1/5-SINDICATO DOS TRAB. RURAIS DE AGUA CLARA'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 116 THEN '1/3-SINDICATO DOS TRAB. RURAIS DE BARRA DO GARÇAS'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 117 THEN '1/1-SINDICATO DOS TRAB RURAIS DE ANDRADINA'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 135 THEN '1/12-SINDICATO DOS TRABALHADORES E TRABALHADORAS ASSALARIADOS RURAIS DE TRÊS LAGOAS - MS'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 142 THEN '1/16-SINDICATO DOS TRABALHADORES  RURAIS DE BRASILANDIA - MS'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 145 THEN '1/14-SINDICATO DOS TRAB. RURAIS DE RIBAS DO RIO PARDO'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 51
                     AND VAGAS.POSICAO = 'Auxiliar Serviços Gerais'
                      OR VAGAS.POSICAO = 'Mecânico II'
                      OR VAGAS.POSICAO = 'Mecânico I'
                      OR VAGAS.POSICAO = 'Auxiliar Op. Logística (P)'
                      OR VAGAS.POSICAO = 'Auxiliar Op. Logística'
                      OR VAGAS.POSICAO = 'Técnico Mecânico'
                      OR VAGAS.POSICAO = 'Técnico Eletromecânica III'
                      OR VAGAS.POSICAO = 'Técnico Eletromecânica II'
                      OR VAGAS.POSICAO = 'Técnico Eletromecânica I' THEN '5/2-SINTRAPORT'
                WHEN CONCAT(VAGAS.COLIGADA, VAGAS.FILIAL) = 516
                     AND VAGAS.POSICAO = 'Operador Equipamentos III'
                      OR VAGAS.POSICAO = 'Operador Equipamentos II'
                      OR VAGAS.POSICAO = 'Operador Equipamentos I' THEN '4/16-SIN OPER AP GUINDAST EMP MAQ EQUIP TRANSP CARGA'
                ELSE '5/1-SINDAPORT'
              END  AS SINDICATO,
              NULL AS TP_ADMISSAO,
              CASE
                WHEN VAGAS.CLASSIFICACAO = 'Aumento Quadro' THEN 1
                ELSE 5 
              END AS CODMOTIVO_ADMISSAO,
              CASE
                WHEN VAGAS.CLASSIFICACAO = 'Aumento Quadro' THEN '01-Aumento de quadro'
                ELSE '05-' + VAGAS.CLASSIFICACAO
              END AS MOTIVO_ADMISSAO,
              GFILIAL.CODFILIAL,
              CONCAT(VAGAS.COLIGADA, '/', VAGAS.FILIAL, '-', GFILIAL.CIDADE) AS FILIAL,
              NULL AS NUM_DEPENDENTE_IRPF,
              NULL AS NUM_DEPENDENTE_FAMILIA,
              NULL AS CODAPOSENTADO,
              NULL AS APOSENTADO,
              NULL AS CODJORNADA,
              NULL AS JORNADA,
              REQ.CODHORARIO,
              CONCAT(vagas.COLIGADA, '/', req.codhorario, '-', AHORARIO.DESCRICAO COLLATE LATIN1_GENERAL_CI_AS) AS HORARIO_ESCALA,
              NULL AS CODESTADO_CIVIL,
              NULL AS ESTADO_CIVIL,
              NULL AS CODGENERO,
              NULL AS GENERO,
              NULL AS CODINSTRUCAO,
              NULL AS GRAU_INSTRUCAO,
              NULL AS CODESTADO,
              NULL AS ESTADO,
              NULL AS TP_CNH,
              NULL AS CODCOR_RACA,
              NULL AS COR_RACA,
 		      DADOS_SALARIO.CODCARREIRA,
		      DADOS_SALARIO.CARREIRA,
              VAGAS.SALARIO  AS SALARIO,
              FAIXA_SALARIAL.SALARIO AS TETO_SALARIAL,
              NULL AS CODDEFICIENTE,
              NULL AS DEFICIENTE,
              NULL AS CODGERACAO,
              NULL AS GERACAO,
              NULL AS DISTANCIA_TRABALHO
		FROM   ZMDVAGASRS VAGAS
		LEFT JOIN GCOLIGADA
		       ON VAGAS.COLIGADA = GCOLIGADA.CODCOLIGADA
		LEFT JOIN PFUNCAO
		       ON PFUNCAO.NOME = VAGAS.POSICAO
		      AND VAGAS.COLIGADA = PFUNCAO.CODCOLIGADA
		LEFT JOIN GFILIAL
		       ON VAGAS.FILIAL = GFILIAL.CODFILIAL
		      AND VAGAS.COLIGADA = GFILIAL.CODCOLIGADA
		LEFT JOIN FAIXA_SALARIAL
		       ON FAIXA_SALARIAL.CODFUNCAO = PFUNCAO.CODIGO COLLATE LATIN1_GENERAL_CI_AS
		      AND FAIXA_SALARIAL.coligada = PFUNCAO.CODCOLIGADA  
		LEFT JOIN FUNCAO_SALARIO
		       ON PFUNCAO.CODIGO COLLATE LATIN1_GENERAL_CI_AS = FUNCAO_SALARIO.CODIGO
		      AND PFUNCAO.CODCOLIGADA = FUNCAO_SALARIO.COLIGADA
		LEFT JOIN CATEGORIAS_SALARIO DADOS_SALARIO
		       ON FUNCAO_SALARIO.ID = DADOS_SALARIO.ID_FUNCAO
		      AND PFUNCAO.CODCOLIGADA = DADOS_SALARIO.COLIGADA 
		LEFT JOIN PORTALRHPRD..zcrmportal_requisicao_aq REQ
		       ON REQ.id = VAGAS.RP
		LEFT JOIN AHORARIO
		       ON REQ.codhorario = AHORARIO.CODIGO COLLATE LATIN1_GENERAL_CI_AS
		      AND REQ.coligada = AHORARIO.CODCOLIGADA   
		LEFT JOIN HIER
			   ON VAGAS.SECAO = HIER.CODSECAO
			  AND VAGAS.GESTOREQ = HIER.CHAPA
        LEFT JOIN PSECAO
               ON VAGAS.SECAO = PSECAO.CODIGO
              AND VAGAS.COLIGADA = PSECAO.CODCOLIGADA
		WHERE DADOS_SALARIO.CODCARREIRA IS NOT NULL 
		  AND PFUNCAO.INATIVA=0
		  AND REQ.CODHORARIO IS NOT NULL
	) QUERY
) QUERY, MASKING 
	--ON QUERY.ROWNUMBER = MASKING.ROWNUMBER;
GO
