USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_p_stage]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_p_stage]
AS
BEGIN
  SET NOCOUNT ON
  declare @cmd        nvarchar(1024)
  declare @target_db  sysname
  declare @obj_source sysname
  declare @cntr_vali  bigint
  select @obj_source = schema_name(schema_id) from
    sys.objects where object_id = @@PROCID
  if @obj_source is null
    set @obj_source = user_name()
  -------------- db_size_details -------------------------------
  create table #dbszdetl (
    [reserved]    decimal(15, 0),
    [numtabs]     int,
    [tabdata]     decimal(15, 0),
    [numinds]     int,
    [inddata]     decimal(15, 0),
    [unused]      decimal(15, 0),
    [numprocs]    int )
  -- Select only those databases where we are sure we can
  -- execute a "use" and examine sys.objects etc.
  declare dbs cursor for select name from sys.databases
     where HAS_PERMS_BY_NAME(name,'DATABASE','ANY') <> 0
     order by name
  OPEN dbs
  FETCH next FROM dbs INTO @target_db
  WHILE (@@fetch_status <> -1)
    BEGIN
      truncate table #dbszdetl
      BEGIN try
        set @cmd = N'insert into #dbszdetl exec '+
            @obj_source + N'.sap_get_db_size_details @target_db'
        exec sp_executesql @cmd,N'@target_db sysname',@target_db
        -- 3401 Reserved[MB]
        INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select 3401,
               @target_db,
               reserved / 1024 -- in MB
          from #dbszdetl
        -- 3402 # of tables
        INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select 3402,
               @target_db,
               numtabs
          from #dbszdetl
        -- 3403 Table data size[MB]
        INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select 3403,
               @target_db,
               tabdata / 1024 -- MB
          from #dbszdetl
        -- 3404 # of indexes
        INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select 3404,
               @target_db,
               numinds
          from #dbszdetl
        -- 3405 Index data size[MB]
        INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select 3405,
               @target_db,
               inddata / 1024  -- MB
          from #dbszdetl
        -- 3406 # of procedures
        INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select 3406,
               @target_db,
               numprocs
          from #dbszdetl
      END try
      BEGIN catch
      END catch
      FETCH next FROM dbs INTO @target_db
    END
  CLOSE dbs
  DEALLOCATE dbs
  -------------- db_size_info -------------------------------
  create table #dbszinfo (
     db_size int,
     db_alloc int,
     log_size int,
     log_alloc int )
  declare dbs cursor for select name from sys.databases
     where HAS_PERMS_BY_NAME(name,'DATABASE','ANY') <> 0
     order by name
  OPEN dbs
  FETCH next FROM dbs INTO @target_db
  WHILE (@@fetch_status <> -1)
    BEGIN
      delete from #dbszinfo
      BEGIN try
        set @cmd = N'insert into #dbszinfo exec '+
            @obj_source + N'.sap_get_db_size_info @target_db'
        exec sp_executesql @cmd,N'@target_db sysname',@target_db
        -- 3407 Database size[MB]
        INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select 3407,
               @target_db,
               db_size
          from #dbszinfo
        -- 3408 Log size[MB]
        INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select 3408,
               @target_db,
               log_size
          from #dbszinfo
        -- 3409 Log allocated[MB]
        INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
        select 3409,
               @target_db,
               log_alloc
          from #dbszinfo
      END try
      BEGIN catch
      END catch
      FETCH next FROM dbs INTO @target_db
    END
  CLOSE dbs
  DEALLOCATE dbs
  /*--- Move data into the staging area. These are not too many   ---*/
  /*--- records, therefore we use a simple delete/insert logic    ---*/
  DELETE FROM sap_perfinfo
    WHERE counter_id > 100000 and counter_id < 200000
  set @cntr_vali = cast(convert(varchar(8),getdate(),112) as bigint)
  -- counter_id 100000 + 3431 = timestamp of this calculation
  INSERT INTO #perfinfo (COUNTER_ID, INST_NAME, CNTR_VALUE)
    VALUES ( 3431, N' ' , @cntr_vali )
  INSERT INTO sap_perfinfo
    SELECT 0, COUNTER_ID + 100000, INST_NAME, 0, CNTR_VALUE
      FROM #perfinfo
      ORDER BY COUNTER_ID
END
 
GO
