USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SBOLETIMCONCEITOS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SBOLETIMCONCEITOS]
AS
SELECT M.*
	,SP.CODPERLET
	,SD.NUMCREDITOS
	,SD.CH
	,SD.CODDISC
	,SD.NOME NOMEDISC
	,SD.NOMEREDUZIDO
	,S.DESCRICAO STATUS
	,SR.DESCRICAO RESULTADO
	,C1.CODCONCEITO C1
	,C2.CODCONCEITO C2
	,C3.CODCONCEITO C3
	,C4.CODCONCEITO C4
	,C5.CODCONCEITO C5
	,C6.CODCONCEITO C6
	,C7.CODCONCEITO C7
	,C8.CODCONCEITO C8
	,C9.CODCONCEITO C9
	,C10.CODCONCEITO C10
	,C11.CODCONCEITO C11
	,C12.CODCONCEITO C12
	,C13.CODCONCEITO C13
	,C14.CODCONCEITO C14
	,C15.CODCONCEITO C15
	,C16.CODCONCEITO C16
	,C17.CODCONCEITO C17
	,C18.CODCONCEITO C18
	,C19.CODCONCEITO C19
	,C20.CODCONCEITO C20
FROM (
	SMATRICULA M  WITH (NOLOCK) /*C1*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 1
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C1 ON C1.CODCOLIGADA = M.CODCOLIGADA
		AND C1.IDTURMADISC = M.IDTURMADISC
		AND C1.RA = M.RA /*C2*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 2
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C2 ON C2.CODCOLIGADA = M.CODCOLIGADA
		AND C2.IDTURMADISC = M.IDTURMADISC
		AND C2.RA = M.RA /*C3*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 3
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C3 ON C3.CODCOLIGADA = M.CODCOLIGADA
		AND C3.IDTURMADISC = M.IDTURMADISC
		AND C3.RA = M.RA /*C4*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 4
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C4 ON C4.CODCOLIGADA = M.CODCOLIGADA
		AND C4.IDTURMADISC = M.IDTURMADISC
		AND C4.RA = M.RA /*C5*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 5
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C5 ON C5.CODCOLIGADA = M.CODCOLIGADA
		AND C5.IDTURMADISC = M.IDTURMADISC
		AND C5.RA = M.RA /*C6*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 6
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C6 ON C6.CODCOLIGADA = M.CODCOLIGADA
		AND C6.IDTURMADISC = M.IDTURMADISC
		AND C6.RA = M.RA /*C7*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 7
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C7 ON C7.CODCOLIGADA = M.CODCOLIGADA
		AND C7.IDTURMADISC = M.IDTURMADISC
		AND C7.RA = M.RA /*C8*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 8
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C8 ON C8.CODCOLIGADA = M.CODCOLIGADA
		AND C8.IDTURMADISC = M.IDTURMADISC
		AND C8.RA = M.RA /*C9*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 9
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C9 ON C9.CODCOLIGADA = M.CODCOLIGADA
		AND C9.IDTURMADISC = M.IDTURMADISC
		AND C9.RA = M.RA /*C10*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 10
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C10 ON C10.CODCOLIGADA = M.CODCOLIGADA
		AND C10.IDTURMADISC = M.IDTURMADISC
		AND C10.RA = M.RA /*C11*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 11
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C11 ON C11.CODCOLIGADA = M.CODCOLIGADA
		AND C11.IDTURMADISC = M.IDTURMADISC
		AND C11.RA = M.RA /*C12*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 12
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C12 ON C12.CODCOLIGADA = M.CODCOLIGADA
		AND C12.IDTURMADISC = M.IDTURMADISC
		AND C12.RA = M.RA /*C13*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 13
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C13 ON C13.CODCOLIGADA = M.CODCOLIGADA
		AND C13.IDTURMADISC = M.IDTURMADISC
		AND C13.RA = M.RA /*C14*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 14
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C14 ON C14.CODCOLIGADA = M.CODCOLIGADA
		AND C14.IDTURMADISC = M.IDTURMADISC
		AND C14.RA = M.RA /*C15*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 15
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C15 ON C15.CODCOLIGADA = M.CODCOLIGADA
		AND C15.IDTURMADISC = M.IDTURMADISC
		AND C15.RA = M.RA /*C16*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 16
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C16 ON C16.CODCOLIGADA = M.CODCOLIGADA
		AND C16.IDTURMADISC = M.IDTURMADISC
		AND C16.RA = M.RA /*C17*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 17
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C17 ON C17.CODCOLIGADA = M.CODCOLIGADA
		AND C17.IDTURMADISC = M.IDTURMADISC
		AND C17.RA = M.RA /*C18*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 18
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C18 ON C18.CODCOLIGADA = M.CODCOLIGADA
		AND C18.IDTURMADISC = M.IDTURMADISC
		AND C18.RA = M.RA /*C19*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 19
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C19 ON C19.CODCOLIGADA = M.CODCOLIGADA
		AND C19.IDTURMADISC = M.IDTURMADISC
		AND C19.RA = M.RA /*C20*/
	LEFT OUTER JOIN (
		SELECT SNOTAETAPA.CODCONCEITO
			,SMATRICULA.CODCOLIGADA
			,SMATRICULA.IDTURMADISC
			,SMATRICULA.RA
		FROM SMATRICULA  WITH (NOLOCK)
		JOIN STURMADISC  WITH (NOLOCK) ON SMATRICULA.CODCOLIGADA = STURMADISC.CODCOLIGADA
			AND SMATRICULA.IDTURMADISC = STURMADISC.IDTURMADISC
		LEFT OUTER JOIN SETAPAS  WITH (NOLOCK) ON STURMADISC.CODCOLIGADA = SETAPAS.CODCOLIGADA
			AND STURMADISC.IDTURMADISC = SETAPAS.IDTURMADISC
			AND SETAPAS.TIPOETAPA = 'N'
			AND SETAPAS.CODETAPA = 20
		LEFT OUTER JOIN SNOTAETAPA WITH (NOLOCK) ON SETAPAS.CODCOLIGADA = SNOTAETAPA.CODCOLIGADA
			AND SETAPAS.IDTURMADISC = SNOTAETAPA.IDTURMADISC
			AND SETAPAS.CODETAPA = SNOTAETAPA.CODETAPA
			AND SETAPAS.TIPOETAPA = SNOTAETAPA.TIPOETAPA
			AND SMATRICULA.RA = SNOTAETAPA.RA
		) AS C20 ON C20.CODCOLIGADA = M.CODCOLIGADA
		AND C20.IDTURMADISC = M.IDTURMADISC
		AND C20.RA = M.RA
	LEFT OUTER JOIN SSTATUS S  WITH (NOLOCK) ON M.CODCOLIGADA = S.CODCOLIGADA
		AND M.CODSTATUS = S.CODSTATUS
	LEFT OUTER JOIN SSTATUS SR  WITH (NOLOCK) ON M.CODCOLIGADA = SR.CODCOLIGADA
		AND M.CODSTATUSRES = SR.CODSTATUS
	)
	,STURMADISC T  WITH (NOLOCK)
	,SPLETIVO SP  WITH (NOLOCK)
	,SDISCIPLINA SD  WITH (NOLOCK)
WHERE M.CODCOLIGADA = T.CODCOLIGADA
	AND M.IDTURMADISC = T.IDTURMADISC
	AND M.CODCOLIGADA = SP.CODCOLIGADA
	AND M.IDPERLET = SP.IDPERLET
	AND T.CODCOLIGADA = SD.CODCOLIGADA
	AND T.CODDISC = SD.CODDISC
GO
