USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[spf_set_idlanmovorigem_parcelamento]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spf_set_idlanmovorigem_parcelamento] @CODCOLIGADA INTEGER
	,@IDLAN INTEGER
	,@IDLANMOVORIGEM INTEGER
	,@STATUSLAN INTEGER OUTPUT
	,@IDLANSEARCH INTEGER
	,@PARCELADO SMALLINT OUTPUT
AS
DECLARE @TOTALBAIXAPARCIAL INTEGER
DECLARE @IDLANREL INTEGER
DECLARE @STATUSLAN_INTERNO INTEGER
DECLARE @CONT INTEGER
DECLARE @MAX INTEGER
BEGIN /* INICIALIZA COMO NÃO PARCELADO */
	SET @PARCELADO = 0
	/* INICIALIZA COMO BAIXADO */
	SET @STATUSLAN_INTERNO = 1
	/* SELECT PARA VER SE EXISTE PARCELAMENTO */
	SET @TOTALBAIXAPARCIAL = (
			SELECT COUNT(FRELLAN.IDLAN)
			FROM FRELLAN  WITH (NOLOCK)
			WHERE CODCOLIGADA = @CODCOLIGADA
				AND IDLAN = @IDLAN
			)
	/* VERIFICA SE EXISTE PARCELAMENTO */
	IF (ISNULL(@TOTALBAIXAPARCIAL, 0) > 1)
	BEGIN
		/* EXISTE PARACELAMENTO */
		SET @PARCELADO = 1
		/* ATUALIZA IDLANMOVORIGEM DOS PARCELAMENTOS */
		UPDATE FLAN
		SET FLAN.IDLANMOVORIGEM = @IDLANMOVORIGEM
		FROM FLAN  WITH (NOLOCK)
		WHERE CODCOLIGADA = @CODCOLIGADA
			AND IDLAN IN (
				SELECT FRELLAN.IDLANREL
				FROM FRELLAN  WITH (NOLOCK)
				JOIN FLAN  WITH (NOLOCK) ON (
						FLAN.CODCOLIGADA = FRELLAN.CODCOLIGADA
						AND FLAN.IDLAN = FRELLAN.IDLAN
						AND FRELLAN.TIPOREL = 11
						)
				WHERE FLAN.CODCOLIGADA = @CODCOLIGADA
					AND FLAN.IDLAN = @IDLAN
				)
		/* VERIFICA SE EXISTE PARCELAMENTO DE BAIXA PARCIAL */
		DECLARE PARCELAMENTO_CURSOR CURSOR LOCAL
		FOR
		SELECT FRELLAN.IDLANREL
		FROM FRELLAN  WITH (NOLOCK)
		JOIN FLAN  WITH (NOLOCK) ON (
				FLAN.CODCOLIGADA = FRELLAN.CODCOLIGADA
				AND FLAN.IDLAN = FRELLAN.IDLAN
				AND FRELLAN.TIPOREL = 11
				)
		WHERE FLAN.CODCOLIGADA = @CODCOLIGADA
			AND FLAN.IDLAN = @IDLAN
		OPEN PARCELAMENTO_CURSOR
		FETCH NEXT
		FROM PARCELAMENTO_CURSOR
		INTO @IDLANREL
		WHILE (@@FETCH_STATUS = 0)
		BEGIN
			EXECUTE spf_set_idlanmovorigem_baixa_parcial @CODCOLIGADA
				,@IDLANREL
				,@IDLANMOVORIGEM
				,@STATUSLAN OUTPUT
				,@IDLANSEARCH
			/* TRATA STATUSLAN DOS PARCELAMENTOS */
			IF (ISNULL(@STATUSLAN, - 1) <> 1)
			BEGIN
			/* PARCIALMENTE BAIXADO */
				SET @STATUSLAN_INTERNO = 2
			END
			/* EXCLUI REGISTROS DA FRELLAN */
			DELETE
			FROM FRELLAN
			WHERE CODCOLIGADA = @CODCOLIGADA
				AND IDLAN = @IDLAN
				AND IDLANREL = @IDLANREL
			/* EXCLUI REGISTROS DA TMOVLAN */
			DELETE
			FROM TMOVLAN
			WHERE CODCOLIGADA = @CODCOLIGADA
				AND IDLAN = @IDLANREL
			FETCH NEXT
			FROM PARCELAMENTO_CURSOR
			INTO @IDLANREL
		END
		CLOSE PARCELAMENTO_CURSOR
		DEALLOCATE PARCELAMENTO_CURSOR
	END
	/* ATUALIZA O STATUS LAN */
	SET @STATUSLAN = @STATUSLAN_INTERNO
END
GO
