USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sec_startparams]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_sec_startparams] AS begin set nocount on EXECUTE AS login = 'sa' exec xp_instance_regenumvalues N'HKEY_LOCAL_MACHINE', N'SOFTWARE\Microsoft\MSSQLServer\MSSQLServer\Parameters' end
GO
