USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VIEW_BW_TB_PFHSTAFT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_BW_TB_PFHSTAFT]
AS
	SELECT CODCOLIGADA            = HAF.CODCOLIGADA
		 , CHAPA                  = HAF.CHAPA
		 , CODPESSOA              = PES.CODIGO
		 , DTINICIO               = HAF.DTINICIO
		 , DTFINAL                = HAF.DTFINAL
		 , TIPO                   = HAF.TIPO
		 , MOTIVO                 = HAF.MOTIVO
		 , OBSERVACAO             = HAF.OBSERVACAO
		 , ESTTEMPOSERVICO        = HAF.ESTTEMPOSERVICO
		 , CODCOLTOMADOR          = HAF.CODCOLTOMADOR
		 , CODTOMADOR             = HAF.CODTOMADOR
		 , TPTOMADOR              = HAF.TPTOMADOR
		 , DATAREQUERIMENTO       = HAF.DATAREQUERIMENTO
		 , CEI                    = HAF.CEI
		 , CODCID                 = HAF.CODCID
		 , INFOONUS               = HAF.INFOONUS
		 , CODMEDICO              = HAF.CODMEDICO
		 , TIPOACIDENTETRANSITO   = HAF.TIPOACIDENTETRANSITO
		 , ACIDENTETRANSITO       = HAF.ACIDENTETRANSITO
		 , CNPJSINDICATO          = HAF.CNPJSINDICATO
		 , INFOONUSREMUNERACAO    = HAF.INFOONUSREMUNERACAO
		 , CODESTABILIDADE        = HAF.CODESTABILIDADE
		 , DOENCANOTIFCOMPULSORIA = HAF.DOENCANOTIFCOMPULSORIA
		 , CNPJORGAOCEDIDO        = HAF.CNPJORGAOCEDIDO
		 , DTINICONTINUIDADEAFT   = HAF.DTINICONTINUIDADEAFT
		 , GATILHOPENDENTE        = HAF.GATILHOPENDENTE
		 , DTMOFIFICACAO          = CONVERT(VARCHAR(8),ISNULL(HAF.RECMODIFIEDON, HAF.DTINICIO),112)
	  FROM PFHSTAFT HAF
	       INNER JOIN PFUNC FNC ON HAF.CODCOLIGADA = FNC.CODCOLIGADA
		                       AND HAF.CHAPA       = FNC.CHAPA
           INNER JOIN PPESSOA PES ON FNC.CODPESSOA = PES.CODIGO
     WHERE (   FNC.TIPODEMISSAO NOT IN ('5','6') 
	        OR FNC.TIPODEMISSAO IS NULL
		   )
GO
