USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_db_config]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_check_db_config] @db_name sysname as
begin
  set nocount on
  if @db_name is null or @db_name = N' '
    select @db_name = db_name()
  CREATE TABLE #out_data
        (  par_name    nvarchar(128),
           par_value   nvarchar(128), -- run value
           reason_i    int,          -- reason code
           reason      nvarchar(128) -- reason text
         )
  CREATE TABLE #chks
        ( opt_name nvarchar(70),
          expected int,
          reason_i int )
  INSERT INTO #out_data
    SELECT me.opt_name,me.opt_valdescr,1,N'Different from server setting'
       FROM sap_tf_dboptions( @db_name ) me,sap_tf_dboptions( N'master' ) ms
         WHERE me.opt_name = ms.opt_name AND
               me.opt_name = N'collation_name' AND
               me.opt_value <> ms.opt_value
  INSERT INTO #out_data
    SELECT me.opt_name,me.opt_value,2,N'Different from server version'
       FROM sap_tf_dboptions( @db_name ) me,sap_tf_dboptions( N'master' ) ms
         WHERE me.opt_name = ms.opt_name AND
               me.opt_name = N'compatibility_level' AND
               me.opt_value <> ms.opt_value
  insert into #chks values(N'is_auto_close_on',0,3)
  insert into #chks values(N'is_auto_create_stats_on',1,3)
  insert into #chks values(N'is_auto_shrink_on',0,3)
  insert into #chks values(N'is_auto_update_stats_on',1,4)
  insert into #chks values(N'is_cursor_close_on_commit_on',0,3)
  insert into #chks values(N'is_distributor',0,3)
  insert into #chks values(N'is_in_standby',0,3)
  insert into #chks values(N'is_local_cursor_default',0,3)
  insert into #chks values(N'is_master_key_encrypted_by_server',0,3)
  insert into #chks values(N'is_merge_published',0,3)
  insert into #chks values(N'is_numeric_roundabort_on',0,3)
  insert into #chks values(N'is_parameterization_forced',0,3)
  insert into #chks values(N'is_published',0,3)
  insert into #chks values(N'is_read_committed_snapshot_on',0,3)
  insert into #chks values(N'is_read_only',0,3)
  insert into #chks values(N'is_subscribed',0,3)
  insert into #chks values(N'is_supplemental_logging_enabled',0,3)
  insert into #chks values(N'is_ansi_nulls_on',1,4)
  insert into #chks values(N'snapshot_isolation_state',0,3)
  INSERT INTO #out_data
    SELECT op.opt_name,
           case op.opt_name
             when N'snapshot_isolation_state' then op.opt_valdescr
             else ltrim(convert(varchar,op.opt_value))
           end,
           ch.reason_i,
           case ch.reason_i
             when 3 then N'Not SQL default'
             when 4 then N'Not SAP standard'
             else N'Unknown reason'
           end
    FROM sap_tf_dboptions( @db_name ) op,#chks ch
       WHERE op.opt_name = ch.opt_name collate database_default AND
             op.opt_value <> ch.expected
  -- Check recovery model in a different way
  -- because two values must be checked
  INSERT INTO #out_data
    SELECT opt_name,opt_valdescr,4,N'Not SAP standard'
    FROM sap_tf_dboptions( @db_name )
       WHERE opt_name = N'recovery_model' AND
             opt_value <> 1 and opt_value <> 2
  SELECT * FROM #out_data
end
 
GO
