USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFCPG]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFCPG] AS
  SELECT CODCOLIGADA, CODCPG, NOME, ARREDPRIMOUULT, ARREDDEZOUCENT, NUMVETCONDICOES, 
    VALORPAGAMENTO1, QUANTASVEZES1, PERIODOEMDIAS1, PRAZO1, CONTAGEMDIAS1, TIPO1,
    VALORPAGAMENTO2, QUANTASVEZES2, PERIODOEMDIAS2, PRAZO2, CONTAGEMDIAS2, TIPO2,
    VALORPAGAMENTO3, QUANTASVEZES3, PERIODOEMDIAS3, PRAZO3, CONTAGEMDIAS3, TIPO3,
    VALORPAGAMENTO4, QUANTASVEZES4, PERIODOEMDIAS4, PRAZO4, CONTAGEMDIAS4, TIPO4,
    VALORPAGAMENTO5, QUANTASVEZES5, PERIODOEMDIAS5, PRAZO5, CONTAGEMDIAS5, TIPO5,
    DIACARENCIA, TAXAJUROS, JUROSCOMPOSTO, PLANOPAGTO, GETDATE() AS DTHRATUALIZACAO
  FROM TCPG
GO
