USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSSUBGRUPOPROC]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSSUBGRUPOPROC]
AS
  SELECT CODCOLIGADA,
         CO_GRUPO     CODGRUPOPROC,
         CO_SUB_GRUPO CODSUBGRUPOPROC,
         NO_SUB_GRUPO DESCRICAO
  FROM   GCOLIGADA,
         SZSUSTUSUBGRUPO
GO
