USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[CRM_HIERARQUIA4]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CRM_HIERARQUIA4]
AS


SELECT CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO
	,(CASE WHEN SUBSTRING(NIVEL_01,1,9) = CHAPA THEN NULL ELSE NIVEL_01 END) NIVEL_01
	,(CASE WHEN SUBSTRING(NIVEL_02,1,9) = CHAPA THEN NULL ELSE NIVEL_02 END) NIVEL_02
	,(CASE WHEN SUBSTRING(NIVEL_03,1,9) = CHAPA THEN NULL ELSE NIVEL_03 END) NIVEL_03
	,(CASE WHEN SUBSTRING(NIVEL_04,1,9) = CHAPA THEN NULL ELSE NIVEL_04 END) NIVEL_04
	,(CASE WHEN SUBSTRING(NIVEL_05,1,9) = CHAPA THEN NULL ELSE NIVEL_05 END) NIVEL_05
	,(CASE WHEN SUBSTRING(NIVEL_06,1,9) = CHAPA THEN NULL ELSE NIVEL_06 END) NIVEL_06
FROM(

	SELECT 
		CODCOLIGADA, 
		CHAPA, 
		NOME, 
		CODFUNCAO, 
		CODSECAO,
		
		CASE 
			WHEN grupocargo_101 = '00' THEN Nivel_1_Nome 
			WHEN grupocargo_102 = '00' THEN Nivel_2_Nome
			WHEN grupocargo_103 = '00' THEN Nivel_3_Nome
			WHEN grupocargo_104 = '00' THEN Nivel_4_Nome
			WHEN grupocargo_105 = '00' THEN Nivel_5_Nome
			WHEN grupocargo_106 = '00' THEN Nivel_6_Nome
		END NIVEL_01,
		
		CASE 
			WHEN grupocargo_101 = '01' THEN Nivel_1_Nome 
			WHEN grupocargo_102 = '01' THEN Nivel_2_Nome
			WHEN grupocargo_103 = '01' THEN Nivel_3_Nome
			WHEN grupocargo_104 = '01' THEN Nivel_4_Nome
			WHEN grupocargo_105 = '01' THEN Nivel_5_Nome
			WHEN grupocargo_106 = '01' THEN Nivel_6_Nome
		END NIVEL_02,
		
		CASE 
			WHEN grupocargo_101 = '02' THEN Nivel_1_Nome 
			WHEN grupocargo_102 = '02' THEN Nivel_2_Nome
			WHEN grupocargo_103 = '02' THEN Nivel_3_Nome
			WHEN grupocargo_104 = '02' THEN Nivel_4_Nome
			WHEN grupocargo_105 = '02' THEN Nivel_5_Nome
			WHEN grupocargo_106 = '02' THEN Nivel_6_Nome
		END NIVEL_03,
		
		CASE 
			WHEN grupocargo_101 = '03' THEN Nivel_1_Nome 
			WHEN grupocargo_102 = '03' THEN Nivel_2_Nome
			WHEN grupocargo_103 = '03' THEN Nivel_3_Nome
			WHEN grupocargo_104 = '03' THEN Nivel_4_Nome
			WHEN grupocargo_105 = '03' THEN Nivel_5_Nome
			WHEN grupocargo_106 = '03' THEN Nivel_6_Nome
		END NIVEL_04,
		
		CASE 
			WHEN grupocargo_101 = '04' THEN Nivel_1_Nome 
			WHEN grupocargo_102 = '04' THEN Nivel_2_Nome
			WHEN grupocargo_103 = '04' THEN Nivel_3_Nome
			WHEN grupocargo_104 = '04' THEN Nivel_4_Nome
			WHEN grupocargo_105 = '04' THEN Nivel_5_Nome
			WHEN grupocargo_106 = '04' THEN Nivel_6_Nome
		END NIVEL_05,
		
		CASE 
			WHEN grupocargo_101 = '05' THEN Nivel_1_Nome 
			WHEN grupocargo_102 = '05' THEN Nivel_2_Nome
			WHEN grupocargo_103 = '05' THEN Nivel_3_Nome
			WHEN grupocargo_104 = '05' THEN Nivel_4_Nome
			WHEN grupocargo_105 = '05' THEN Nivel_5_Nome
			WHEN grupocargo_106 = '05' THEN Nivel_6_Nome
		END NIVEL_06
		
		
		
		
		
		
		
		
		
	FROM(
	
			/*---------NIVEL 6-------MOSTRA DESCRIÇÕES DO NIVEL 1,2,3,4,5,6 E COD DO NIVEL 7-----------------------------------------------------------*/
			SELECT CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO, Nivel_1_Nome, Nivel_2_Nome, Nivel_3_Nome, Nivel_4_Nome, Nivel_5_Nome, Nivel_6_ID
			,(SELECT Q.CHAPA FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND K.Nivel_6_ID = Q.id_hierarquia) Nivel_6_Chapa
			,ISNULL((SELECT R.CHAPA +' || '+ R.NOME  FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND K.Nivel_6_ID = Q.id_hierarquia),'' ) + 
					(SELECT ' || ' + T.DESCRICAO FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.inativo IS NULL AND  S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = K.CODCOLIGADA AND S.ID = K.Nivel_6_ID) COLLATE Latin1_General_CI_AI Nivel_6_Nome
			,(SELECT S.id_hierarquia FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.inativo IS NULL AND  S.COLIGADA = K.CODCOLIGADA AND S.ID = K.Nivel_6_ID) Nivel_7_ID
			,(SELECT S.nivel FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.inativo IS NULL AND  S.COLIGADA = K.CODCOLIGADA AND S.ID = K.Nivel_6_ID) codigo_nivel_6
			,codigo_nivel_1
			,codigo_nivel_2
			,codigo_nivel_3
			,codigo_nivel_4
			,codigo_nivel_5
			,grupocargo_101
			,grupocargo_102
			,grupocargo_103
			,grupocargo_104
			,grupocargo_105
			,(SELECT SUBSTRING(T.DESCRICAO,1,2) FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.inativo IS NULL AND S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = K.CODCOLIGADA AND S.ID = K.Nivel_6_ID) COLLATE Latin1_General_CI_AI grupocargo_106
			FROM(
			/*---------NIVEL 5-------MOSTRA DESCRIÇÕES DO NIVEL 1, 2, 3, 4, 5 E COD DO NIVEL 6---------------------------------------------------------*/
					SELECT CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO, Nivel_1_Nome, Nivel_2_Nome, Nivel_3_Nome, Nivel_4_Nome, Nivel_5_ID
					,(SELECT Q.CHAPA FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND W.Nivel_5_ID = Q.id_hierarquia) Nivel_5_Chapa
					,(SELECT R.CHAPA +' || '+ R.NOME  FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND W.Nivel_5_ID = Q.id_hierarquia) + 
						(SELECT ' || ' + T.DESCRICAO FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.inativo IS NULL AND  S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = W.CODCOLIGADA AND S.ID = W.Nivel_5_ID) COLLATE Latin1_General_CI_AI Nivel_5_Nome
					,(SELECT S.id_hierarquia FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.inativo IS NULL AND  S.COLIGADA = W.CODCOLIGADA AND S.ID = W.Nivel_5_ID) Nivel_6_ID
					,(SELECT S.nivel FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.inativo IS NULL AND  S.COLIGADA = W.CODCOLIGADA AND S.ID = W.Nivel_5_ID) codigo_nivel_5
					,codigo_nivel_1
					,codigo_nivel_2
					,codigo_nivel_3
					,codigo_nivel_4
					,grupocargo_101
					,grupocargo_102
					,grupocargo_103
					,grupocargo_104
					,(SELECT SUBSTRING(T.DESCRICAO,1,2) FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.inativo IS NULL AND  S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = W.CODCOLIGADA AND S.ID = W.Nivel_5_ID) COLLATE Latin1_General_CI_AI grupocargo_105
					FROM(
			/*---------NIVEL 4-------MOSTRA DESCRIÇÕES DO NIVEL 1, 2, 3, 4 E COD DO NIVEL 5------------------------------------------------------------*/
							SELECT CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO, Nivel_1_Nome, Nivel_2_Nome, Nivel_3_Nome, Nivel_4_ID
							,(SELECT Q.CHAPA FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND Z.Nivel_4_ID = Q.id_hierarquia) Nivel_4_Chapa
							,(SELECT R.CHAPA +' || '+ R.NOME  FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND Z.Nivel_4_ID = Q.id_hierarquia) + 
								(SELECT ' || ' + T.DESCRICAO FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.inativo IS NULL AND  S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = Z.CODCOLIGADA AND S.ID = Z.Nivel_4_ID)COLLATE Latin1_General_CI_AI  Nivel_4_Nome
							,(SELECT S.id_hierarquia FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.inativo IS NULL AND  S.COLIGADA = Z.CODCOLIGADA AND S.ID = Z.Nivel_4_ID) Nivel_5_ID
							,(SELECT S.nivel FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.inativo IS NULL AND  S.COLIGADA = Z.CODCOLIGADA AND S.ID = Z.Nivel_4_ID) codigo_nivel_4
							,codigo_nivel_1
							,codigo_nivel_2
							,codigo_nivel_3
							,grupocargo_101
							,grupocargo_102
							,grupocargo_103
							,(SELECT SUBSTRING(T.DESCRICAO,1,2) FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.inativo IS NULL AND  S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = Z.CODCOLIGADA AND S.ID = Z.Nivel_4_ID)COLLATE Latin1_General_CI_AI  grupocargo_104
							FROM(
			/*---------NIVEL 3---------MOSTRA DESCRIÇÕES DO NIVEL 1, 2, 3 E COD DO NIVEL 4-------------------------------------------------------------*/
									SELECT CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO, Nivel_1_Nome, Nivel_2_Nome, Nivel_3_ID
									,(SELECT Q.CHAPA FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND Y.Nivel_3_ID = Q.id_hierarquia) Nivel_3_Chapa
									,(SELECT R.CHAPA +' || '+ R.NOME  FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND Y.Nivel_3_ID = Q.id_hierarquia) + 
										(SELECT ' || ' + T.DESCRICAO FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.inativo IS NULL AND  S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = Y.CODCOLIGADA AND S.ID = Y.Nivel_3_ID) COLLATE Latin1_General_CI_AI  Nivel_3_Nome
									,(SELECT S.id_hierarquia FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.inativo IS NULL AND  S.COLIGADA = Y.CODCOLIGADA AND S.ID = Y.Nivel_3_ID) Nivel_4_ID
									,(SELECT S.nivel FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.inativo IS NULL AND  S.COLIGADA = Y.CODCOLIGADA AND S.ID = Y.Nivel_3_ID) codigo_nivel_3
									,codigo_nivel_1
									,codigo_nivel_2
									,grupocargo_101
									,grupocargo_102
									,(SELECT SUBSTRING(T.DESCRICAO,1,2) FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.inativo IS NULL AND  S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = Y.CODCOLIGADA AND S.ID = Y.Nivel_3_ID) COLLATE Latin1_General_CI_AI  grupocargo_103
									FROM(
			/*---------NIVEL 2------------MOSTRA DESCRIÇÕES DO NIVEL 1, 2 E COD DO NIVEL 3-------------------------------------------------------------*/
											SELECT CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO, Nivel_1 Nivel_1_Chapa
											,(SELECT CHAPA +' || '+ NOME FROM PFUNC R WHERE X.CODCOLIGADA = R.CODCOLIGADA AND X.Nivel_1 COLLATE Latin1_General_CI_AI = R.CHAPA) + GrupoCargo_1 COLLATE Latin1_General_CI_AI  Nivel_1_Nome
											,Nivel_Sup_1 Nivel_2_ID
											,codigo_nivel_1
											,(SELECT Q.CHAPA FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND X.Nivel_Sup_1 = Q.id_hierarquia) Nivel_2_Chapa
											,(SELECT R.CHAPA +' || '+ R.NOME FROM PortalRHPRD..zcrmportal_hierarquia_chapa Q, PFUNC R WHERE Q.COLIGADA = R.CODCOLIGADA AND Q.CHAPA COLLATE Latin1_General_CI_AI = R.CHAPA AND X.Nivel_Sup_1 = Q.id_hierarquia) + 
												(SELECT ' || ' + T.DESCRICAO FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.inativo IS NULL AND  S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = X.CODCOLIGADA AND S.ID = X.Nivel_Sup_1) COLLATE Latin1_General_CI_AI Nivel_2_Nome
											,(SELECT S.id_hierarquia FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.inativo IS NULL AND  S.COLIGADA = X.CODCOLIGADA AND S.ID = X.Nivel_Sup_1) Nivel_3_ID
											,(SELECT S.nivel FROM PortalRHPRD..zcrmportal_hierarquia S WHERE S.inativo IS NULL AND  S.COLIGADA = X.CODCOLIGADA AND S.ID = X.Nivel_Sup_1) codigo_nivel_2
											,grupocargo_101
											,(SELECT SUBSTRING(T.DESCRICAO,1,2) FROM PortalRHPRD..zcrmportal_hierarquia S, PortalRHPRD..zcrmportal_hierarquia_grupocargo T WHERE S.inativo IS NULL AND  S.COLIGADA = T.COLIGADA AND S.ID_GRUPOCARGO = T.ID AND S.COLIGADA = X.CODCOLIGADA AND S.ID = X.Nivel_Sup_1) COLLATE Latin1_General_CI_AI grupocargo_102
											FROM(
			/*---------NIVEL 1-----------------MOSTRA APENAS CODIGOS DO NIVEL 1------------------------------------------------------------------------*/
													SELECT 
													  CODCOLIGADA, CHAPA, NOME, CODFUNCAO, CODSECAO
													   
													  ,(SELECT TOP 1 O.CHAPA
													  		--'FT_'+convert(VARCHAR,M.ID)+' - '+'HFT_'+convert(VARCHAR,N.id_hierarquia)+' - '+ 'HC_'+O.chapa + ' - ' +'H_nivel'+convert(VARCHAR,P.NIVEL)+' - '+'H_N_Sup'+convert(VARCHAR,P.id_hierarquia)
													  		FROM 
													  		  PortalRHPRD..zcrmportal_frente_trabalho M, 
													  		  PortalRHPRD..zcrmportal_hierarquia_frentetrabalho N,
													  		  PortalRHPRD..zcrmportal_hierarquia_chapa O,
													  		  PortalRHPRD..zcrmportal_hierarquia P,
													  		  PortalRHPRD..zcrmportal_hierarquia_grupocargo T
													  		  
													  		WHERE 
													  		      A.CODCOLIGADA   = M.COLIGADA
													          AND A.CODSECAO COLLATE Latin1_General_CI_AI = REPLICATE('0', 3 - LEN(M.filial)) + RTrim(M.filial)+'.'+M.centrocusto+'.'+M.codigo 
													          AND M.ID            = N.id_frentetrabalho
													          AND M.COLIGADA      = O.COLIGADA
													          AND N.id_hierarquia = O.id_hierarquia
													          AND M.COLIGADA      = P.COLIGADA
													          AND N.id_hierarquia = P.id
													          AND P.COLIGADA      = T.COLIGADA 
													          AND P.inativo IS NULL AND N.inativo IS NULL 
													          AND P.ID_GRUPOCARGO = T.ID ) Nivel_1
													   
													   ,(SELECT TOP 1 ' || ' + T.DESCRICAO
													  		--'FT_'+convert(VARCHAR,M.ID)+' - '+'HFT_'+convert(VARCHAR,N.id_hierarquia)+' - '+ 'HC_'+O.chapa + ' - ' +'H_nivel'+convert(VARCHAR,P.NIVEL)+' - '+'H_N_Sup'+convert(VARCHAR,P.id_hierarquia)
													  		FROM 
													  		  PortalRHPRD..zcrmportal_frente_trabalho M, 
													  		  PortalRHPRD..zcrmportal_hierarquia_frentetrabalho N,
													  		  PortalRHPRD..zcrmportal_hierarquia_chapa O,
													  		  PortalRHPRD..zcrmportal_hierarquia P,
													  		  PortalRHPRD..zcrmportal_hierarquia_grupocargo T
													  		  
													  		WHERE 
													  		      A.CODCOLIGADA   = M.COLIGADA
													          AND A.CODSECAO COLLATE Latin1_General_CI_AI = REPLICATE('0', 3 - LEN(M.filial)) + RTrim(M.filial)+'.'+M.centrocusto+'.'+M.codigo 
													          AND M.ID            = N.id_frentetrabalho
													          AND M.COLIGADA      = O.COLIGADA
													          AND N.id_hierarquia = O.id_hierarquia
													          AND M.COLIGADA      = P.COLIGADA
													          AND N.id_hierarquia = P.id
													          AND P.COLIGADA      = T.COLIGADA 
													          AND P.inativo IS NULL AND N.inativo IS NULL 
													          AND P.ID_GRUPOCARGO = T.ID ) GrupoCargo_1
													   
													   ,(SELECT TOP 1 SUBSTRING(T.DESCRICAO,1,2)
													  		--'FT_'+convert(VARCHAR,M.ID)+' - '+'HFT_'+convert(VARCHAR,N.id_hierarquia)+' - '+ 'HC_'+O.chapa + ' - ' +'H_nivel'+convert(VARCHAR,P.NIVEL)+' - '+'H_N_Sup'+convert(VARCHAR,P.id_hierarquia)
													  		FROM 
													  		  PortalRHPRD..zcrmportal_frente_trabalho M, 
													  		  PortalRHPRD..zcrmportal_hierarquia_frentetrabalho N,
													  		  PortalRHPRD..zcrmportal_hierarquia_chapa O,
													  		  PortalRHPRD..zcrmportal_hierarquia P,
													  		  PortalRHPRD..zcrmportal_hierarquia_grupocargo T
													  		  
													  		WHERE 
													  		      A.CODCOLIGADA   = M.COLIGADA
													          AND A.CODSECAO COLLATE Latin1_General_CI_AI = REPLICATE('0', 3 - LEN(M.filial)) + RTrim(M.filial)+'.'+M.centrocusto+'.'+M.codigo 
													          AND M.ID            = N.id_frentetrabalho
													          AND M.COLIGADA      = O.COLIGADA
													          AND N.id_hierarquia = O.id_hierarquia
													          AND M.COLIGADA      = P.COLIGADA
													          AND N.id_hierarquia = P.id
													          AND P.COLIGADA      = T.COLIGADA 
													          AND P.inativo IS NULL AND N.inativo IS NULL 
													          AND P.ID_GRUPOCARGO = T.ID ) GrupoCargo_101
					
													
													  ,(SELECT TOP 1 P.id_hierarquia
													  		--'FT_'+convert(VARCHAR,M.ID)+' - '+'HFT_'+convert(VARCHAR,N.id_hierarquia)+' - '+ 'HC_'+O.chapa + ' - ' +'H_nivel'+convert(VARCHAR,P.NIVEL)+' - '+'H_N_Sup'+convert(VARCHAR,P.id_hierarquia)
													  		FROM 
													  		  PortalRHPRD..zcrmportal_frente_trabalho M, 
													  		  PortalRHPRD..zcrmportal_hierarquia_frentetrabalho N,
													  		  PortalRHPRD..zcrmportal_hierarquia_chapa O,
													  		  PortalRHPRD..zcrmportal_hierarquia P
													  		WHERE 
													  		      A.CODCOLIGADA   = M.COLIGADA
													          AND A.CODSECAO COLLATE Latin1_General_CI_AI = REPLICATE('0', 3 - LEN(M.filial)) + RTrim(M.filial)+'.'+M.centrocusto+'.'+M.codigo 
													          AND M.ID            = N.id_frentetrabalho
													          AND M.COLIGADA      = O.COLIGADA
													          AND N.id_hierarquia = O.id_hierarquia
													          AND M.COLIGADA      = P.COLIGADA
													          AND P.inativo IS NULL AND N.inativo IS NULL 
													          AND N.id_hierarquia = P.id) Nivel_Sup_1
													          
													   ,(SELECT TOP 1  P.nivel
													  		--'FT_'+convert(VARCHAR,M.ID)+' - '+'HFT_'+convert(VARCHAR,N.id_hierarquia)+' - '+ 'HC_'+O.chapa + ' - ' +'H_nivel'+convert(VARCHAR,P.NIVEL)+' - '+'H_N_Sup'+convert(VARCHAR,P.id_hierarquia)
													  		FROM 
													  		  PortalRHPRD..zcrmportal_frente_trabalho M, 
													  		  PortalRHPRD..zcrmportal_hierarquia_frentetrabalho N,
													  		  PortalRHPRD..zcrmportal_hierarquia_chapa O,
													  		  PortalRHPRD..zcrmportal_hierarquia P
													  		WHERE 
													  		      A.CODCOLIGADA   = M.COLIGADA
													          AND A.CODSECAO COLLATE Latin1_General_CI_AI = REPLICATE('0', 3 - LEN(M.filial)) + RTrim(M.filial)+'.'+M.centrocusto+'.'+M.codigo 
													          AND M.ID            = N.id_frentetrabalho
													          AND M.COLIGADA      = O.COLIGADA
													          AND N.id_hierarquia = O.id_hierarquia
													          AND M.COLIGADA      = P.COLIGADA
													          AND P.inativo IS NULL AND N.inativo IS NULL 
													          AND N.id_hierarquia = P.id) codigo_nivel_1
											
													   
													FROM 
													  PFUNC A 
													  --WHERE CHAPA = '001002401'
													
											)X
									)Y		
							)Z
					)W
			)K
	)XX

)XY	
--WHERE CHAPA = '002001361'
GO
