USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[PRCCDIFERENCA]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[PRCCDIFERENCA] AS
DECLARE @CREDITO RMDVALOR2
DECLARE @DEBITO RMDVALOR2
DECLARE @CODCOLIGADA SMALLINT
DECLARE @CODLOTE INTEGER
DECLARE @IDLANCAMENTO INTEGER
DECLARE @IDDIFERENCA INTEGER
DECLARE @CODFILIAL SMALLINT
DECLARE @TOTAL RMDVALOR2
DECLARE @PARAMETRO INTEGER
DECLARE CURSOR_COLIGADA CURSOR FOR
SELECT DISTINCT CODCOLIGADA
FROM CPARTIDA
BEGIN
OPEN CURSOR_COLIGADA
FETCH NEXT FROM CURSOR_COLIGADA INTO @CODCOLIGADA
WHILE (@@FETCH_STATUS = 0)
BEGIN
SET @IDDIFERENCA=1
SELECT @PARAMETRO=INTEIRO FROM CPARAM WHERE ID = 42 AND CODCOLIGADA = @CODCOLIGADA
/* PERMITE DIFERENÇA ENTRE FILIAIS*/
IF (@PARAMETRO = 1)
BEGIN
DECLARE CURSOR_CPARTIDA1 CURSOR FOR
SELECT SUM(VALOR), CODLOTE,IDLANCAMENTO, MIN(CODFILIAL) CODFILIAL FROM (
SELECT -SUM(VALOR) VALOR, CODCOLIGADA, CODLOTE, IDLANCAMENTO, CODFILIAL FROM
(SELECT SUM(VALOR) VALOR,CODCOLIGADA,CODLOTE,IDLANCAMENTO,CODFILIAL
FROM CPARTIDA
WHERE DEBITO IS NOT NULL AND CREDITO IS NULL AND CODCOLIGADA=@CODCOLIGADA
GROUP BY CODCOLIGADA,CODLOTE,IDLANCAMENTO,CODFILIAL
UNION ALL
SELECT SUM(VALOR) VALOR,CODCOLIGADA,CODLOTE,IDLANCAMENTO,CODFILIAL
FROM CPARTIDA
WHERE CREDITO IS NOT NULL AND DEBITO IS NULL AND CODCOLIGADA=@CODCOLIGADA
GROUP BY CODCOLIGADA,CODLOTE,IDLANCAMENTO,CODFILIAL) X
GROUP BY CODCOLIGADA,CODLOTE,IDLANCAMENTO,CODFILIAL
HAVING SUM(VALOR) <> 0) Z
GROUP BY CODCOLIGADA,CODLOTE,IDLANCAMENTO
HAVING SUM(VALOR) <> 0
OPEN CURSOR_CPARTIDA1
FETCH NEXT FROM CURSOR_CPARTIDA1 INTO @TOTAL,@CODLOTE,@IDLANCAMENTO,@CODFILIAL
WHILE (@@FETCH_STATUS = 0)
BEGIN
INSERT INTO CDIFERENCA(CODCOLIGADA,IDDIFERENCA,CODLOTE,IDLANCAMENTO,CODUSUARIO,
CODFILIAL,VALOR)
VALUES(@CODCOLIGADA,@IDDIFERENCA,@CODLOTE,@IDLANCAMENTO,NULL,@CODFILIAL,@TOTAL)
/*Bloqueia o lançamento, pois o mesmo possui diferença, o usuário 'Conversão' não existe ele
é utilizado indicar o bloqueio e neste caso qualquer usuário poderá alterar o lançamento no
sistema*/
UPDATE CLANCAMENTO SET CODUSUARIO = 'Conversão' WHERE
CODCOLIGADA = @CODCOLIGADA AND IDLANCAMENTO = @IDLANCAMENTO
SET @IDDIFERENCA=@IDDIFERENCA+1
FETCH NEXT FROM CURSOR_CPARTIDA1 INTO @TOTAL,@CODLOTE,@IDLANCAMENTO,@CODFILIAL
END
CLOSE CURSOR_CPARTIDA1
DEALLOCATE CURSOR_CPARTIDA1
END
/*NÃO PERMITE DIFERENÇA ENTRE FILIAIS*/
ELSE IF(@PARAMETRO = 0)
BEGIN
DECLARE CURSOR_CPARTIDA2 CURSOR FOR
SELECT -SUM(VALOR) VALOR, CODLOTE, IDLANCAMENTO, CODFILIAL
FROM
(SELECT SUM(VALOR) VALOR,CODCOLIGADA,CODLOTE,IDLANCAMENTO,CODFILIAL
FROM CPARTIDA
WHERE DEBITO IS NOT NULL AND CREDITO IS NULL AND
CODCOLIGADA=@CODCOLIGADA
GROUP BY CODCOLIGADA,CODLOTE,IDLANCAMENTO,CODFILIAL
UNION ALL
SELECT SUM(VALOR) VALOR,CODCOLIGADA,CODLOTE,IDLANCAMENTO,CODFILIAL
FROM CPARTIDA
WHERE CREDITO IS NOT NULL AND DEBITO IS NULL AND
CODCOLIGADA=@CODCOLIGADA
GROUP BY CODCOLIGADA,CODLOTE,IDLANCAMENTO,CODFILIAL) X
GROUP BY CODCOLIGADA,CODLOTE,IDLANCAMENTO,CODFILIAL
HAVING SUM(VALOR) <> 0
OPEN CURSOR_CPARTIDA2
FETCH NEXT FROM CURSOR_CPARTIDA2 INTO @TOTAL,@CODLOTE,@IDLANCAMENTO,@CODFILIAL
WHILE (@@FETCH_STATUS = 0)
BEGIN
INSERT INTO CDIFERENCA(CODCOLIGADA,IDDIFERENCA,CODLOTE,IDLANCAMENTO,CODUSUARIO,
CODFILIAL,VALOR)
VALUES(@CODCOLIGADA,@IDDIFERENCA,@CODLOTE,@IDLANCAMENTO,NULL,@CODFILIAL,@TOTAL)
/*Bloqueia o lançamento, pois o mesmo possui diferença, o usuário 'Conversão' não existe ele
é utilizado indicar o bloqueio e neste caso qualquer usuário poderá alterar o lançamento no
sistema*/
UPDATE CLANCAMENTO SET CODUSUARIO = 'Conversão' WHERE
CODCOLIGADA = @CODCOLIGADA AND IDLANCAMENTO = @IDLANCAMENTO
SET @IDDIFERENCA=@IDDIFERENCA+1
FETCH NEXT FROM CURSOR_CPARTIDA2 INTO @TOTAL,@CODLOTE,@IDLANCAMENTO,@CODFILIAL
END
CLOSE CURSOR_CPARTIDA2
DEALLOCATE CURSOR_CPARTIDA2
END
FETCH NEXT FROM CURSOR_COLIGADA INTO @CODCOLIGADA
END
CLOSE CURSOR_COLIGADA
DEALLOCATE CURSOR_COLIGADA
END
GO
