USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[MXMTRFCRONOG]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MXMTRFCRONOG] AS
SELECT	A.CODCOLIGADA, A.IDPRJ, A.IDTRF, A.CODTRF, A.NOME, A.IDPERIODO, A.DTINICIO, A.DTFIM,
	C.PERCPLANEJADO, C.QUANTPLANEJADO, C.VALORPLANEJADO, C.VALOR VALORTAREFAVIGENCIAPLANEJADO,
	D.PERCREALIZADO, D.QUANTREAL, D.VALORREAL, D.VALOR VALORTAREFAVIGENCIAREAL,
	E.PERCMEDIDO, E.QUANTMEDIDA, E.VALORMEDIDO, E.VALOR VALORTAREFAVIGENCIAMEDIDO,
	C.CAMPOINFORMADO CAMPOINFORMADOPLAN, D.CAMPOINFORMADO CAMPOINFORMADOREAL,E.CAMPOINFORMADO CAMPOINFORMADOMED
FROM 	(SELECT A.CODCOLIGADA, A.IDPRJ, B.IDTRF, B.CODTRF, B.NOME, A.IDPERIODO, A.DTINICIO, A.DTFIM
	FROM MPERIODO A LEFT OUTER JOIN
	MTRF B ON (A.CODCOLIGADA = B.CODCOLIGADA AND A.IDPRJ = B.IDPRJ)) A LEFT OUTER JOIN
	MTRFPLAN C ON (A.CODCOLIGADA = C.CODCOLIGADA AND A.IDPRJ = C.IDPRJ AND A.IDTRF = C.IDTRF AND A.IDPERIODO = C.NUMPERIODO) LEFT OUTER JOIN
	MTRFREAL D ON (A.CODCOLIGADA = D.CODCOLIGADA AND A.IDPRJ = D.IDPRJ AND A.IDTRF = D.IDTRF AND A.IDPERIODO = D.NUMPERIODO) LEFT OUTER JOIN
	MTRFMEDIDO E ON (A.CODCOLIGADA = E.CODCOLIGADA AND A.IDPRJ = E.IDPRJ AND A.IDTRF = E.IDTRF AND A.IDPERIODO = E.NUMPERIODO)
GO
