USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VIEW_BW_TB_PFHSTSEC]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_BW_TB_PFHSTSEC]
AS

SELECT CODCOLIGADA    = S.CODCOLIGADA
     , CHAPA          = S.CHAPA
	 , DTMUDANCA      = S.DTMUDANCA
	 , MOTIVO         = S.MOTIVO
	 , CODSECAO       = S.CODSECAO
	 , DT_ATUALIZACAO = CONVERT(VARCHAR, ISNULL(S.RECMODIFIEDON,ISNULL(S.RECCREATEDON,S.DTMUDANCA)), 112) 
  FROM PFHSTSEC S
GO
