USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_configparams]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_get_configparams]  as
begin
select s.name, convert(varchar(12),c.value) from master..syscurconfigs c,
        master.sys.configurations s
where c.config = s.configuration_id
end
 
GO
