USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[XSTATUSPARCELAPAGAMENTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[XSTATUSPARCELAPAGAMENTO](@STATUSLAN INT, @VRPARCELA NUMERIC(15,4), @VRPARCELABX NUMERIC(15,4))
RETURNS INT WITH SCHEMABINDING
AS BEGIN
  DECLARE @RETORNO INT
  IF @STATUSLAN = 0 AND @VRPARCELABX = 0
  BEGIN
	  SET @RETORNO = 1
  END
  ELSE IF @STATUSLAN = 0 AND @VRPARCELABX > 0 AND @VRPARCELABX < @VRPARCELA
  BEGIN
	  SET @RETORNO = 3
  END
  ELSE IF @STATUSLAN = 0 AND @VRPARCELABX > 0 AND @VRPARCELABX >= @VRPARCELA
  BEGIN
	  SET @RETORNO = 2
  END
  ELSE IF @STATUSLAN = 1 OR @STATUSLAN = 3 OR @STATUSLAN = 5
  BEGIN
	  SET @RETORNO = 2
  END
  ELSE IF @STATUSLAN = 4 AND @VRPARCELABX > 0 AND @VRPARCELABX < @VRPARCELA
  BEGIN
	  SET @RETORNO = 3
  END
  ELSE IF @STATUSLAN = 4 AND @VRPARCELABX > 0 AND @VRPARCELABX >= @VRPARCELA
  BEGIN
	  SET @RETORNO = 2
  END
  ELSE IF @STATUSLAN = 2
  BEGIN
	  SET @RETORNO = 9
  END
  ELSE
  BEGIN
	  SET @RETORNO = 1
  END
  RETURN @RETORNO
END
GO
