USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcc_proccache]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcc_proccache]
AS
  SET NOCOUNT ON
  CREATE TABLE #temp
    ( numProcBuffs      int,
      numProcBuffsUsed  int,
      numProcBuffsAct   int,
      procCacheSize     int,
      procCacheUsed     int,
      procCacheAct      int )
  INSERT #temp
    EXECUTE ('DBCC PROCCACHE with NO_INFOMSGS')
  SELECT * FROM #temp
  DROP TABLE #temp
 
GO
