USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_p_counter]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_p_counter]
  ( @zeit  datetime = NULL )
RETURNS @result TABLE
  ( obj_name   nvarchar(128) ,
    cntr_name  nvarchar(128) ,
    inst_name  nvarchar(128) ,
    accumulat  nvarchar(10)  )
AS
BEGIN
  declare  @sample_id  int
  if @zeit IS NULL
    set @sample_id = ( select max(sample_id) from sap_perfsample )
  else
    set @sample_id = ( select max(sample_id) from sap_perfsample
                         where startat < @zeit )
  if @sample_id IS NULL
    set @sample_id = 1
  INSERT INTO @result
    SELECT A.obj_name, A.cntr_name, B.inst_name, A.accumulat
      FROM sap_perfcntr A, sap_perfvali B
      WHERE B.from_id   <= @sample_id
        AND B.to_id     >= @sample_id
        AND B.counter_id = A.counter_id
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      INSERT INTO @result
        SELECT A.obj_name, A.cntr_name, B.inst_name, A.accumulat
          FROM sp_clr_createcntr() A, sap_perfvali B
          WHERE B.from_id   <= @sample_id
            AND B.to_id     >= @sample_id
            AND B.counter_id = A.counter_id
    END
  RETURN
END
 
GO
