USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[ZCRM_MODOCORRENCIA_DEL]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ZCRM_MODOCORRENCIA_DEL]

(@COLIGADA INT, @DATA_D DATETIME, @DATAfim_D DATETIME, @FILIAL_INI INT, @FILIAL_FIM INT, @CHAPA_INI VARCHAR(16), @CHAPA_FIM VARCHAR(16))

AS

BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--1.1 - LIMPANDO OS REGISTROS JÁ EXISTENTES NA AMODIFICAOCORRENCIAORIGEM
DELETE AMODIFICAOCORRENCIAORIGEM WHERE CODCOLIGADA = @coligada AND IDMODIFICACAO IN (
		SELECT IDMODIFICACAO FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada AND DATAINICIO >= @data_d AND DATAINICIO < DATEADD(DAY,2,@DATAfim_D)
			AND CHAPA IN (SELECT CHAPA FROM PFUNC WHERE CODCOLIGADA = @coligada AND CODFILIAL >= @filial_ini AND CODFILIAL <= @filial_fim ) AND JUSTIFICATIVA LIKE '%LANÇADO VIA PROCEDURE%')
			AND CHAPA >= @CHAPA_INI AND CHAPA <= @CHAPA_FIM;

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--1.2 - LIMPANDO OS REGISTROS JÁ EXISTENTES NA AMODIFICAOCORRENCIA
DELETE AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada AND DATAINICIO >= @data_d AND DATAINICIO < DATEADD(DAY,2,@DATAfim_D)
			AND CHAPA IN (SELECT CHAPA FROM PFUNC WHERE CODCOLIGADA = @coligada AND CODFILIAL >= @filial_ini AND CODFILIAL <= @filial_fim )
			AND CHAPA >= @CHAPA_INI AND CHAPA <= @CHAPA_FIM
			AND JUSTIFICATIVA LIKE '%LANÇADO VIA PROCEDURE%';

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--1.3 - ATUALIZANDO A GAUTOINC DEPOIS DO DELETE
UPDATE GAUTOINC SET VALAUTOINC = (SELECT CASE WHEN MAX(IDMODIFICACAO) IS NULL THEN 1 ELSE MAX(IDMODIFICACAO) END FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA';

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	
	
END
GO
