USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_chk_sqlagent_status]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************/
/* sap_chk_sqlagent_status                created on 09/01/2004 */
/*                                                              */
/*                                                              */
/****************************************************************/
create procedure [dbo].[sap_chk_sqlagent_status]
                 @age_stat nchar(1) output
as
begin
 declare @agentstat nchar(1)
 declare @agentcnt int
  /* Check for SQLAgent string in the column program_name of the
     system table sysprocesses. If exists, then SQL agent is
     running else SQLAgent is not running */
  select @agentcnt = count(*) from master..sysprocesses
    where program_name like 'SQLAgent%'
  if @agentcnt > 0
      select @age_stat = N'Y'
  else
      select @age_stat = N'N'
  select @age_stat
end
 
GO
