USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_clustered_index]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_clustered_index]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @clus_index sysname output
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @object_type char(2)
declare @pstr nvarchar(128)
-- check whether the table exists
exec sap_get_object_type @table_name, @schema_name, @db_name,
                         @object_type output
if @object_type is null or @object_type not in ('U', 'S')
  begin
    raiserror('Table not found.',16,1)
    RETURN
  end
-- build the select statement
set @cmd = N'select @clus_index = i.name ' +
             N'from ' + @db_name + N'.sys.objects o, ' +
                        @db_name + N'.sys.schemas sch, ' +
                        @db_name + N'.sys.indexes i ' +
               N'where o.name = @table_name ' +
                 N'and o.schema_id = sch.schema_id ' +
                 N'and sch.name = @schema_name ' +
                 N'and i.object_id = o.object_id ' +
                 N'and i.index_id = 1'
set @pstr = N'@table_name sysname,@schema_name sysname,@clus_index sysname
output'
-- get the clustered index name
exec sp_executesql @cmd, @pstr, @table_name, @schema_name, @clus_index output
END
 
GO
