USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SHISTORICO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SHISTORICO]
AS
SELECT M.CODCOLIGADA
	,SP.CODPERLET
	,M.RA
	,T.CODDISC
	,M.CODSTATUS
	,M.CODSTATUSRES
	,SD.NUMCREDITOS
	,NOTA.NOTAFALTA NOTAFINAL
	,FALTA.NOTAFALTA FALTAFINAL
	,CONCEITO.CODCONCEITO CONCEITOFINAL
	,SD.CH
	,M.OBSHISTORICO
	,T.IDTURMADISC
	,S.DESCRICAO STATUS
	,SR.DESCRICAO RESULTADO
	,SD.NOME NOMEDISC
	,SD.NOMEREDUZIDO
	,M.IDHABILITACAOFILIAL
	,SP.IDPERLET
FROM (
	SMATRICULA M  WITH (NOLOCK)
	LEFT OUTER JOIN /*BUSCO A NOTA FINAL DA SMATRICULA*/ (
		SELECT M.CODCOLIGADA
			,M.IDTURMADISC
			,M.RA
			,SN.NOTAFALTA
		FROM SMATRICULA M  WITH (NOLOCK)
		INNER JOIN STURMADISC T  WITH (NOLOCK) ON M.CODCOLIGADA = T.CODCOLIGADA
			AND M.IDTURMADISC = T.IDTURMADISC
		LEFT OUTER JOIN SETAPAS SE  WITH (NOLOCK) ON T.CODCOLIGADA = SE.CODCOLIGADA
			AND T.IDTURMADISC = SE.IDTURMADISC
			AND SE.ETAPAFINAL = 'S'
			AND SE.TIPOETAPA = 'N'
		LEFT OUTER JOIN SNOTAETAPA SN  WITH (NOLOCK) ON SE.CODCOLIGADA = SN.CODCOLIGADA
			AND SE.IDTURMADISC = SN.IDTURMADISC
			AND SE.CODETAPA = SN.CODETAPA
			AND SE.TIPOETAPA = SN.TIPOETAPA
			AND M.CODCOLIGADA = SN.CODCOLIGADA
			AND M.IDTURMADISC = SN.IDTURMADISC
			AND M.RA = SN.RA
		) NOTA ON M.CODCOLIGADA = NOTA.CODCOLIGADA
		AND M.IDTURMADISC = NOTA.IDTURMADISC
		AND M.RA = NOTA.RA
	LEFT OUTER JOIN /*BUSCO A FALTA FINAL DA SMATRICULA*/ (
		SELECT M.CODCOLIGADA
			,M.IDTURMADISC
			,M.RA
			,SN.NOTAFALTA
		FROM SMATRICULA M  WITH (NOLOCK)
		INNER JOIN STURMADISC T  WITH (NOLOCK) ON M.CODCOLIGADA = T.CODCOLIGADA
			AND M.IDTURMADISC = T.IDTURMADISC
		LEFT OUTER JOIN SETAPAS SE  WITH (NOLOCK) ON T.CODCOLIGADA = SE.CODCOLIGADA
			AND T.IDTURMADISC = SE.IDTURMADISC
			AND SE.ETAPAFINAL = 'S'
			AND SE.TIPOETAPA = 'F'
		LEFT OUTER JOIN SNOTAETAPA SN  WITH (NOLOCK) ON SE.CODCOLIGADA = SN.CODCOLIGADA
			AND SE.IDTURMADISC = SN.IDTURMADISC
			AND SE.CODETAPA = SN.CODETAPA
			AND SE.TIPOETAPA = SN.TIPOETAPA
			AND M.RA = SN.RA
		) FALTA ON M.CODCOLIGADA = FALTA.CODCOLIGADA
		AND M.IDTURMADISC = FALTA.IDTURMADISC
		AND M.RA = FALTA.RA
	LEFT OUTER JOIN /*BUSCO O CONCEITO FINAL DA SMATRICULA*/ (
		SELECT M.CODCOLIGADA
			,M.IDTURMADISC
			,M.RA
			,SN.CODCONCEITO
		FROM SMATRICULA M  WITH (NOLOCK)
		INNER JOIN STURMADISC T  WITH (NOLOCK) ON M.CODCOLIGADA = T.CODCOLIGADA
			AND M.IDTURMADISC = T.IDTURMADISC
		LEFT OUTER JOIN SETAPAS SE  WITH (NOLOCK) ON T.CODCOLIGADA = SE.CODCOLIGADA
			AND T.IDTURMADISC = SE.IDTURMADISC
			AND SE.ETAPAFINAL = 'S'
			AND SE.TIPOETAPA = 'N'
		LEFT OUTER JOIN SNOTAETAPA SN  WITH (NOLOCK) ON SE.CODCOLIGADA = SN.CODCOLIGADA
			AND SE.IDTURMADISC = SN.IDTURMADISC
			AND SE.CODETAPA = SN.CODETAPA
			AND SE.TIPOETAPA = SN.TIPOETAPA
			AND M.RA = SN.RA
		) CONCEITO ON M.CODCOLIGADA = CONCEITO.CODCOLIGADA
		AND M.IDTURMADISC = CONCEITO.IDTURMADISC
		AND M.RA = CONCEITO.RA
	LEFT OUTER JOIN SSTATUS S  WITH (NOLOCK) ON M.CODCOLIGADA = S.CODCOLIGADA
		AND M.CODSTATUS = S.CODSTATUS
	LEFT OUTER JOIN SSTATUS SR  WITH (NOLOCK) ON M.CODCOLIGADA = SR.CODCOLIGADA
		AND M.CODSTATUSRES = SR.CODSTATUS
	)
	,STURMADISC T  WITH (NOLOCK)
	,SPLETIVO SP  WITH (NOLOCK)
	,SDISCIPLINA SD  WITH (NOLOCK)
WHERE M.CODCOLIGADA = T.CODCOLIGADA
	AND M.IDTURMADISC = T.IDTURMADISC
	AND M.CODCOLIGADA = SP.CODCOLIGADA
	AND M.IDPERLET = SP.IDPERLET
	AND T.CODCOLIGADA = SD.CODCOLIGADA
	AND T.CODDISC = SD.CODDISC
UNION /*BUSCO A NOTA,FALTA E CONCEITO FINAL DA SHISTDISCFAC*/
SELECT H.CODCOLIGADA
	,SP.CODPERLET
	,H.RA
	,H.CODDISC
	,NULL
	,H.CODSTATUS
	,SD.NUMCREDITOS
	,H.NOTA
	,H.FALTAS
	,H.CONCEITO
	,SD.CH
	,NULL
	,NULL
	,NULL
	,S.DESCRICAO RESULTADO
	,SD.NOME NOMEDISC
	,SD.NOMEREDUZIDO
	,H.IDHABILITACAOFILIAL
	,SP.IDPERLET
FROM (
	SHISTDISCFAC H  WITH (NOLOCK)
	LEFT OUTER JOIN SSTATUS S  WITH (NOLOCK) ON H.CODCOLIGADA = S.CODCOLIGADA
		AND H.CODSTATUS = S.CODSTATUS
	)
	,SPLETIVO SP  WITH (NOLOCK)
	,SDISCIPLINA SD  WITH (NOLOCK)
WHERE H.CODCOLIGADA = SP.CODCOLIGADA
	AND H.IDPERLET = SP.IDPERLET
	AND H.CODCOLIGADA = SD.CODCOLIGADA
	AND H.CODDISC = SD.CODDISC
GO
