USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZPEDIDOEXAMELABAPOVIEW]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZPEDIDOEXAMELABAPOVIEW] AS
SELECT
  SZPEDEXAMEITEM.CODCOLIGADA, SZPEDEXAMEITEM.ORDEMSERVICO, SZPEDEXAMEITEM.CODEXAME, SZPEDEXAMEITEM.CANCELADO, SZLABEXAME.DESCEXAME, SZPEDEXAMEITEM.DATACOLETA, vwPEDIDOEXAME.DATAEXAME, SZPEDEXAMEITEM.SEQEXAME,
  vwPEDIDOEXAME.CODPACIENTE, vwPEDIDOEXAME.NOMEPACIENTE, SZLABLOCEXECEXTERNA.NOMELOCAL, SZPEDEXAMEITEM.CODLOCAL, CADASTROGERAL.CODGERAL
FROM SZPEDEXAMEITEM (NOLOCK)
INNER JOIN
  vwPEDIDOEXAME (NOLOCK)
ON vwPEDIDOEXAME.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
AND vwPEDIDOEXAME.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO
INNER JOIN
  SZLABEXAME (NOLOCK)
ON SZLABEXAME.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
AND SZLABEXAME.CODEXAME = SZPEDEXAMEITEM.CODEXAME
INNER JOIN
  SZLABLOCEXECEXTERNA WITH (NOLOCK)
ON SZPEDEXAMEITEM.CODCOLIGADA = SZLABLOCEXECEXTERNA.CODCOLIGADA
AND  SZPEDEXAMEITEM.CODLOCAL = SZLABLOCEXECEXTERNA.CODLOCAL
INNER JOIN
  SZCADGERAL CADASTROGERAL WITH (NOLOCK)
ON SZLABLOCEXECEXTERNA.CODCOLIGADA = CADASTROGERAL.CODCOLIGADA
AND SZLABLOCEXECEXTERNA.CODGERAL = CADASTROGERAL.CODGERAL
LEFT JOIN
  SZCADGERAL WITH (NOLOCK)
ON SZLABLOCEXECEXTERNA.CODCOLIGADA = SZCADGERAL.CODCOLIGADA
AND SZLABLOCEXECEXTERNA.CODGERAL = SZCADGERAL.CODGERAL
GO
