USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_BW_ADVERTENCIAS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_BW_ADVERTENCIAS] AS

SELECT PF.CODCOLIGADA,
       PF.CODFILIAL,
       PF.CHAPA,
       PF.NOME,
       PF.CODSITUACAO,
       CONVERT(VARCHAR, ISNULL(PF.DATAADMISSAO,ISNULL(PF.DATAADMISSAO,PF.DATAADMISSAO)), 112) AS 'DATA ADMISSAO', --PF.DATAADMISSAO,
       CASE 
        WHEN PF.DATADEMISSAO IS NULL THEN '00000000'
        ELSE CONVERT(VARCHAR, ISNULL(PF.DATADEMISSAO,ISNULL(PF.DATADEMISSAO,PF.DATADEMISSAO)), 112)--PF.DATADEMISSAO,
       END AS 'DATA DEMISSAO',
       PS.CODIGO AS 'CODIGO SEÇÃO',
       PS.DESCRICAO AS 'DESCRIÇÃO SEÇÃO',
       PS.NROCENCUSTOCONT,
       PC.NOME AS 'DESCRICAO CC',
       PFU.CODIGO AS 'CODIGO FUNÇÃO',
      PFU.NOME as 'DESCRIÇÃO FUNÇÃO',
      CASE VA.CODMOTADVERT
         WHEN '001' THEN 'Falta(s) injustificada(s)'
        WHEN '002' THEN 'Indicência Bafômetro'
        WHEN '003' THEN 'Insubordinação' 
      END 'MOTIVO ADV',
       CONVERT(VARCHAR, ISNULL(VA.DATAHORA,ISNULL(VA.DATAHORA,VA.DATAHORA)), 112) AS 'DATA ADVERTENCIA', --VA.DATAHORA,
       CASE VA.TIPOADVERT
        WHEN '1' THEN 'Verbal'
        WHEN '2' THEN 'Escrita' 
       END 'TIPO ADV',  
       CASE VA.CODPUNICAO
        WHEN '001' THEN 'Advertência'
        WHEN '002' THEN 'Suspensão'
         WHEN '003' THEN 'Demissão por Justa Causa' 
       END 'PUNIÇÃO',
       VA.CODTESTEMUN1,
       VA.CODTESTEMUN2,
       VA.DESCRICAO,
       VA.RECCREATEDON AS 'CRIADO EM',
       CONVERT(VARCHAR, ISNULL(VA.RECMODIFIEDON,ISNULL(VA.RECMODIFIEDON,VA.RECMODIFIEDON)), 112) AS 'ALTERADO EM'
  
FROM PFUNC PF WITH (NOLOCK)
INNER JOIN PPESSOA PP ON PF.CODPESSOA = PP.CODIGO 
INNER JOIN PFUNCAO PFU ON (((PF.CODCOLIGADA = PFU.CODCOLIGADA) AND (PF.CODFUNCAO = PFU.CODIGO)))
INNER JOIN PSECAO PS ON (((PF.CODCOLIGADA = PS.CODCOLIGADA) AND (PF.CODSECAO = PS.CODIGO)))
INNER JOIN PCCUSTO PC ON PC.CODCOLIGADA = PS.CODCOLIGADA AND PC.CODCCUSTO = PS.NROCENCUSTOCONT
INNER JOIN AHORARIO AH ON PF.CODHORARIO = AH    .CODIGO AND PF.CODCOLIGADA = AH.CODCOLIGADA
FULL OUTER JOIN VADVERTENCIA VA ON VA.CODCOLIGADA = PF.CODCOLIGADA AND VA.CHAPA = PF.CHAPA 
WHERE PF.CODCOLIGADA IN('1','5','4')
and va.CODMOTADVERT IS NOT NULL;
GO
