USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPIVIEW_ULTIMA_ANOTACAOPESSOA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XPIVIEW_ULTIMA_ANOTACAOPESSOA]
AS
  SELECT PESSOA_ID,
         MAX(DATAHORA) AS ULTIMA_ATUALIZACAO
  FROM   XPIANOTACAOPESSOA
  GROUP  BY PESSOA_ID
GO
