USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[DANOSAUDE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DANOSAUDE] AS

WITH DANOSAUDE AS(
SELECT IDSEQUENCIAL,DESCRICAO,CODSECAOLOT,CODFUNCAOLOT 
	   
	 	
FROM(
SELECT
	ROW_NUMBER ( )OVER (PARTITION BY A.IDSEQUENCIAL ORDER by A.IDSEQUENCIAL )SEQ,
	A.CODCOLIGADA,
	A.IDSEQUENCIAL,
	A.CODSECAOLOT,
	A.CODFUNCAOLOT,
	B.DANOSAUDE DESCRICAO
	
FROM 
	VPPRAMEDICOESDANOSAUDE A
	LEFT JOIN VPPRADANOSAUDE B ON A.CODDANOSAUDE = B.CODDANOSAUDE AND A.CODCOLIGADA = B.CODCOLIGADA  
	

	)X)
	
	
SELECT
	IDSEQUENCIAL,CODSECAOLOT,CODFUNCAOLOT,
	STUFF((
       SELECT '||' + t1.DESCRICAO
         FROM DANOSAUDE t1
        WHERE t1.IDSEQUENCIAL = t0.IDSEQUENCIAL
        ORDER BY t1.DESCRICAO
          FOR XML PATH('')), 1, LEN(','), '') AS DANO
          
FROM DANOSAUDE t0
 GROUP BY t0.IDSEQUENCIAL, t0.CODSECAOLOT, t0.CODFUNCAOLOT
GO
