USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_exec_dbcc_showcontig]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_exec_dbcc_showcontig]
  @table_name sysname,
  @index_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @fast char(1),
  @all_levels char(1)
AS
BEGIN
set nocount on
-- declare local variables
declare @object_type char(2)
declare @cmd nvarchar(1024)
declare @pstr nvarchar(512)
declare @indid smallint
-- check whether the table exists
-- build the select statement
set @cmd = N'use [' + @db_name + N'] ' +
             N'select @object_type = o.type ' +
             N'from sys.objects o ' +
               N'where o.name = @table_name ' +
                 N'and schema_name(o.schema_id) = @schema_name'
set @pstr = N'@object_type char(2) output,' +
            N'@table_name sysname,@schema_name sysname'
-- get the type
exec sp_executesql @cmd, @pstr, @object_type output,
            @table_name,@schema_name
if @object_type is null or @object_type not in ('U', 'S')
  begin
    raiserror('Table not found-sap_exec_dbcc_showcontig',16,1)
    RETURN
  end
-- check whether the index exists, if specified
if @index_name <> N'' and @index_name <> N' '
  begin
    -- build the select statement
    set @cmd = N'use [' + @db_name + N'] ' +
             N'select @index_id = i.indid ' +
             N'from ' + @db_name + N'.sys.objects o, ' +
                        @db_name + N'.dbo.sysindexes i ' +
               N'where o.name = @table_name ' +
                 N'and schema_name(o.schema_id) = @schema_name ' +
                 N'and i.id = o.object_id ' +
                 N'and i.name = @index_name ' +
                 N'and i.indid > 0 ' +
                 N'and i.indid < 255'
    set @pstr = N'@index_id smallint output,' +
                N'@table_name sysname,@schema_name sysname,' +
                N'@index_name sysname'
    -- get the id
    exec sp_executesql @cmd, @pstr, @indid output,
             @table_name,@schema_name,@index_name
    if @indid is null
      begin
        raiserror('Index not found-sap_exec_dbcc_showcontig',16,1)
        RETURN
      end
  end
-- build the dbcc command
set @cmd = N'use [' + @db_name +
           N'] dbcc showcontig([' + @schema_name + N'.' +
                                    @table_name + N']'
if @indid is null
  set @cmd = @cmd + N') '
else
  set @cmd = @cmd + N',' + convert(nvarchar(5),@indid) + N') '
set @cmd = @cmd + N'with no_infomsgs, tableresults'
if @fast = 'X'
  set @cmd = @cmd + N', fast'
if @all_levels = 'X'
  set @cmd = @cmd + N', all_levels'
-- get the information
exec (@cmd)
END
 
GO
