USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[FXCXRAT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FXCXRAT] AS
SELECT CCONTRAT.CODCOLIGADA, CCONTRAT.IDCONT AS IDXCXCONT, FXCX.IDXCX, CCONT.TIPO, CPARTIDA.CODCOLDEBITO AS CODCOLCONTA,
CPARTIDA.DEBITO AS CODCONTA, CCONTRAT.CODCOLCONTAGER, CCONTRAT.CODCONTAGER, CCONTRAT.VALOR
FROM CCONTRAT
JOIN CCONT ON CCONT.CODCOLIGADA = CCONTRAT.CODCOLIGADA AND CCONT.IDCONT = CCONTRAT.IDCONT
JOIN CPARTIDA ON CPARTIDA.CODCOLIGADA = CCONT.CODCOLIGADA AND CPARTIDA.IDPARTIDA = CCONT.IDPARTIDA
JOIN CCONTA ON CCONTA.CODCOLIGADA = CPARTIDA.CODCOLDEBITO AND CCONTA.CODCONTA = CPARTIDA.DEBITO
JOIN CRATEIOLC ON CRATEIOLC.CODCOLIGADA = CCONTRAT.CODCOLIGADA AND CRATEIOLC.IDRATEIO = CCONTRAT.IDRATEIO AND CRATEIOLC.CODCOLCONTA = CCONTA.CODCOLIGADA AND CRATEIOLC.CODCONTA = CCONTA.CODCONTA
JOIN FXCX ON FXCX.CODCOLIGADA = CCONT.CODCOLIGADA AND FXCX.IDOPERACAOCONT = CCONT.IDOPERACAO
WHERE CCONT.TIPO IN (1, 3) AND CCONTA.RATEIO = 1 AND FXCX.MODELOCONTABILIZACAO <> 1
UNION
SELECT CCONTRAT.CODCOLIGADA, CCONTRAT.IDCONT AS IDXCXCONT, FXCX.IDXCX, CCONT.TIPO, CPARTIDA.CODCOLCREDITO AS CODCOLCONTA,
CPARTIDA.CREDITO AS CODCONTA, CCONTRAT.CODCOLCONTAGER, CCONTRAT.CODCONTAGER, CCONTRAT.VALOR
FROM CCONTRAT
JOIN CCONT ON CCONT.CODCOLIGADA = CCONTRAT.CODCOLIGADA AND CCONT.IDCONT = CCONTRAT.IDCONT
JOIN CPARTIDA ON CPARTIDA.CODCOLIGADA = CCONT.CODCOLIGADA AND CPARTIDA.IDPARTIDA = CCONT.IDPARTIDA
JOIN CCONTA ON CCONTA.CODCOLIGADA = CPARTIDA.CODCOLCREDITO AND CCONTA.CODCONTA = CPARTIDA.CREDITO
JOIN CRATEIOLC ON CRATEIOLC.CODCOLIGADA = CCONTRAT.CODCOLIGADA AND CRATEIOLC.IDRATEIO = CCONTRAT.IDRATEIO AND CRATEIOLC.CODCOLCONTA = CCONTA.CODCOLIGADA AND CRATEIOLC.CODCONTA = CCONTA.CODCONTA
JOIN FXCX ON FXCX.CODCOLIGADA = CCONT.CODCOLIGADA AND FXCX.IDOPERACAOCONT = CCONT.IDOPERACAO
WHERE CCONT.TIPO IN (2, 3) AND CCONTA.RATEIO = 1 AND FXCX.MODELOCONTABILIZACAO <> 1
UNION
SELECT A.CODCOLIGADA, A.IDXCXCONT, A.IDXCX, A.TIPO, A.CODCOLCONTA, A.CODCONTA, A.CODCOLCONTAGER, A.CODCONTAGER, A.VALOR
FROM FXCXRATOLD A, FXCX B
WHERE A.CODCOLIGADA = B.CODCOLIGADA AND A.IDXCX = B.IDXCX AND B.MODELOCONTABILIZACAO = 1
GO
