USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[RMV_MOVIMENTACAO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RMV_MOVIMENTACAO]
AS
		SELECT SZATENDIMENTO.CODCOLIGADA AS COLIGADA,
		COALESCE(SZPACIENTE.PRONTUARIO,SZPACIENTE.CODPACIENTE) AS PRONTUARIO,
		SUBSTRING(SZPACIENTE.NOMEPACIENTE,1,50) AS NOMEPACIENTE,
		CONVERT(DATETIME,CONVERT(VARCHAR,SZATENDIMENTO.DATAENTRADA,103),103) AS DTENTRINTERNACAO,
		SZATENDIMENTO.HORAENTRADA AS HRENTRINTERNACAO,
		CAST(DATATRANSF AS DATE) AS DATAENTRADA,
		SUBSTRING('00', 1, 2 - LEN(DATEPART(HOUR, DATATRANSF))) +
		       CAST(DATEPART(HOUR, DATATRANSF) AS VARCHAR(2)) +
		       SUBSTRING('00', 1, 2 - LEN(DATEPART(MINUTE, DATATRANSF))) +
		       CAST(DATEPART(MINUTE, DATATRANSF) AS VARCHAR(2)) AS HORAENTRADA,
		'' AS DATASAIDA,
		'' AS HORASAIDA,
		CONVERT(VARCHAR(20),SZLEITO.IDUNIDATEND) AS CODCLINICA,
		SZLEITO.NROLEITO AS CODLEITO
		FROM SZPACIENTE INNER JOIN SZATENDIMENTO ON
		         SZPACIENTE.CODCOLIGADA = SZATENDIMENTO.CODCOLIGADA
		     AND SZPACIENTE.CODPACIENTE = SZATENDIMENTO.CODPACIENTE
		     INNER JOIN SZMUDANCALEITO ON
		         SZATENDIMENTO.CODCOLIGADA = SZMUDANCALEITO.CODCOLIGADA
		     AND SZATENDIMENTO.CODPACIENTE = SZMUDANCALEITO.CODPACIENTE
		     AND SZATENDIMENTO.CODATENDIMENTO = SZMUDANCALEITO.CODATENDIMENTO
		     INNER JOIN SZLEITO ON
		         SZMUDANCALEITO.CODCOLIGADA = SZLEITO.CODCOLIGADA
		     AND SZMUDANCALEITO.CODLEITOTRANSF = SZLEITO.CODLEITO
		WHERE (SZATENDIMENTO.TIPOPACIENTE = 'I')
		  AND (( SZATENDIMENTO.STATUSCONTA IS NULL) OR (SZATENDIMENTO.STATUSCONTA <> 'C'))
		  AND (SZATENDIMENTO.OCUPALEITO = 'T')
GO
