USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[hipertenso1]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[hipertenso1] as select CODEXAME,CODPESSOA,DATAEXAME,EX.CODCOLIGADA,IDCONSULTA, EX.CODCLIENTE  from  VEXAMESPRONTINFCLINICA EX JOIN VINFCLINICA INF ON EX.CODCOLIGADA=INF.CODCOLIGADA  AND EX.CODTPINFCLINICA=INF.CODTPINFCLINICA WHERE EX.CODTPINFCLINICA  = '10'
GO
