USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPESSOAVENDEDORCOMPL]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XPESSOAVENDEDORCOMPL]
AS
SELECT
V.NUM_VENDA * 100 + V.IDVENDEDOR COD_VEND,
VC.*
FROM XVENDEDOR V JOIN
XVENDEDORCOMPL VC
ON (VC.CODCOLIGADA = V.CODCOLIGADA) AND
(VC.NUM_VENDA = V.NUM_VENDA) AND
(VC.IDVENDEDOR = V.IDVENDEDOR)
GO
