USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZRESULTEXAME]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZRESULTEXAME] AS
SELECT
	SZPEDEXAMERESULT.CODCOLIGADA,
	SZPEDEXAMERESULT.ORDEMSERVICO,
	SZATENDIMENTO.CODPACIENTE,
	SZPEDEXAMERESULT.CODEXAME,
	SZPEDEXAMERESULT.SEQEXAME,
	SZPEDEXAMERESULT.CODMETODO,
	SZPEDEXAMERESULT.CODPARAMETRO,
	SZPEDEXAME.DATAEXAME,
	SZPEDEXAME.CANCELADO PEDIDOCANCELADO,
	SZPEDEXAMEITEM.CANCELADO EXAMECANCELADO,
	SZPEDEXAMERESULT.PANICO,
	SZPEDEXAMERESULT.RESULTADO
FROM
	SZATENDIMENTO (NOLOCK)
INNER JOIN
	SZPEDEXAME (NOLOCK)
ON
	SZATENDIMENTO.CODCOLIGADA = SZPEDEXAME.CODCOLIGADA AND
	SZATENDIMENTO.NUMEROCONTA = SZPEDEXAME.NUMEROCONTA AND
	SZATENDIMENTO.SEQUENCIALCONTA = SZPEDEXAME.SEQUENCIALCONTA
INNER JOIN
	SZPEDEXAMEITEM (NOLOCK)
ON
	SZPEDEXAME.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA AND
	SZPEDEXAME.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO
INNER JOIN
	SZLABPARAMEXAMES (NOLOCK)
ON
	SZLABPARAMEXAMES.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA AND
	SZLABPARAMEXAMES.CODEXAME = SZPEDEXAMEITEM.CODEXAME
INNER JOIN
	SZPEDEXAMERESULT (NOLOCK)
ON
	SZPEDEXAMERESULT.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA AND
	SZPEDEXAMERESULT.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO AND
	SZPEDEXAMERESULT.CODEXAME = SZPEDEXAMEITEM.CODEXAME AND
	SZPEDEXAMERESULT.CODMETODO = SZLABPARAMEXAMES.CODMETODO AND
	SZPEDEXAMERESULT.CODPARAMETRO = SZLABPARAMEXAMES.CODPARAMETRO AND
	SZPEDEXAMERESULT.SEQEXAME = SZPEDEXAMEITEM.SEQEXAME
GO
