USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_MSS_release]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sap_MSS_release]
    @product_version varchar(16) OUTPUT,
    @major int OUTPUT,
    @minor int OUTPUT,
    @build int OUTPUT
AS
BEGIN
set nocount on
declare @pv_rest varchar(15)
declare @pv_rest_len int
declare @dot_pos int
create table #ProdVer ([Index] int, Name sysname, IntVal int,
                       CharVal varchar(16))
insert into #ProdVer exec( 'master..xp_msver ProductVersion' )
select @product_version = CharVal from #ProdVer
set @pv_rest = @product_version
-- @major is left from 1st dot in @product_version
set @dot_pos = charindex('.',@pv_rest)
set @major = convert(int,substring(@pv_rest,1,@dot_pos-1))
set @pv_rest_len = len(@pv_rest)
set @pv_rest = substring(@pv_rest,@dot_pos+1,@pv_rest_len-@dot_pos)
-- @minor is between 1st and 2nd dot in @product_version
set @dot_pos = charindex('.',@pv_rest)
set @minor = convert(int,substring(@pv_rest,1,@dot_pos-1))
set @pv_rest_len = len(@pv_rest)
set @pv_rest = substring(@pv_rest,@dot_pos+1,@pv_rest_len-@dot_pos)
-- @build is right from 2nd dot but left from any further dot
select @dot_pos = charindex('.',@pv_rest)
if @dot_pos > 0
  select @build = convert(int,substring(@pv_rest,1,@dot_pos-1))
else
  select @build = @pv_rest
drop table #ProdVer
END
 
GO
