USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_rz20_opentrx]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_rz20_opentrx]
as
begin
set nocount on
declare @trancnt int
declare @cmd     nvarchar(200)
declare @returndata table
( item     nvarchar(10),   -- block or trx
  seconds  int,
  descr    nvarchar(100)
)
declare @blocked table
( spid         int,
  program_name nvarchar(50),
  waittime     bigint,
  waitresource nvarchar(50)
)
 CREATE TABLE #tran
( item         varchar(64)  ,
  val          varchar(255)
)
--
-- get a snapshot of sysproceses
--
insert into @blocked
 select spid,convert(nvarchar(50),program_name), waittime,
             convert(nvarchar(50),waitresource)
    from sys.sysprocesses with(nolock) where blocked <> 0
 union
 select 0,N'No blocking',0,N''
insert @returndata
select top 1 'block',(waittime /1000 ),
       convert(nvarchar(100), program_name + ' ' + waitresource)
  from @blocked b1 where b1.waittime =
   ( select MAX(waittime) from @blocked )
--
-- retrieve oldest transaction
--
  set @cmd = N'[' + OBJECT_SCHEMA_NAME(@@PROCID) + N'].sap_sec_opentran'
  insert #tran
    execute (@cmd)
  select @trancnt = count(*) from #tran
  if @trancnt > 0
    insert @returndata
      select top 1 'trx', datediff(ss,val,getdate()),N''
        from #tran where item = 'OLDACT_STARTTIME'
  else
    insert @returndata select N'trx',0,N'no open trx'
--
-- return data
--
select * from @returndata
end
 
GO
