USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XLOGPARCELAPAGAMENTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XLOGPARCELAPAGAMENTO] AS
WITH
VALORES AS
    (SELECT XLOGPARCELACOMPONENTE.CODCOLIGADA,
      XLOGPARCELACOMPONENTE.NUM_VENDA,
      XLOGPARCELACOMPONENTE.COD_GRUPO,
      XLOGPARCELACOMPONENTE.COD_TIPO_PARC,
      XLOGPARCELACOMPONENTE.NUM_PARC,
      XLOGPARCELACOMPONENTE.CODCOLLAN,
      XLOGPARCELACOMPONENTE.IDLAN,
      XLOGPARCELACOMPONENTE.IDHISTORICO,
      ROUND(SUM(XLOGPARCELACOMPONENTE.VR_COMPN), 2) VRPARCELA,
      ROUND(SUM(XLOGPARCELACOMPONENTE.VR_BAIXA), 2) VRPARCELABX,
      SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN IN (1, 2)
      THEN XLOGPARCELACOMPONENTE.VR_COMPN
      ELSE 0
       END) VRORIGINAL,
      SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN IN (1, 2)
      THEN XLOGPARCELACOMPONENTE.VR_BAIXA
      ELSE 0
       END) VRORIGINALBX,
      SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 3
      THEN XLOGPARCELACOMPONENTE.VR_COMPN
      ELSE 0
       END) VRJUROS,
      SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 3
      THEN XLOGPARCELACOMPONENTE.VR_BAIXA
      ELSE 0
       END) VRJUROSBX,
      SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 4
      THEN XLOGPARCELACOMPONENTE.VR_COMPN
      ELSE 0
       END) VRCM,
      SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 4
      THEN XLOGPARCELACOMPONENTE.VR_BAIXA
      ELSE 0
       END) VRCMBX,
      SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 900
      THEN XLOGPARCELACOMPONENTE.VR_COMPN
      ELSE 0
       END) VRDESCONTO,
      SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 19
      THEN XLOGPARCELACOMPONENTE.VR_COMPN - XLOGPARCELACOMPONENTE.VR_BAIXA
      ELSE 0
       END) VRSEGURO
   FROM XLOGPARCELACOMPONENTE  WITH(NOLOCK/*AZURE*/) JOIN
                      XCOMPONENTE  WITH(NOLOCK/*AZURE*/)
                      ON (XCOMPONENTE.COD_COMPN = XLOGPARCELACOMPONENTE.COD_COMPN)
                 WHERE (XLOGPARCELACOMPONENTE.IDHISTORICO IS NOT NULL)
   GROUP BY
      XLOGPARCELACOMPONENTE.CODCOLIGADA,
      XLOGPARCELACOMPONENTE.NUM_VENDA,
      XLOGPARCELACOMPONENTE.COD_GRUPO,
      XLOGPARCELACOMPONENTE.COD_TIPO_PARC,
      XLOGPARCELACOMPONENTE.NUM_PARC,
      XLOGPARCELACOMPONENTE.CODCOLLAN,
      XLOGPARCELACOMPONENTE.IDLAN,
      XLOGPARCELACOMPONENTE.IDHISTORICO
  ),
 XREGRAGERADORA
 AS
           (
              SELECT
                XREGRACOMPONENTEVENDA.NUM_VENDA,
                XREGRACOMPONENTEVENDA.COD_GRUPO,
                XREGRACOMPONENTEVENDA.COD_COMPN,
                XREGRACOMPONENTEVENDA.ORIGEMREGRA,
                XREGRACOMPONENTEVENDA.CODCOLNATFINANCEIRAPAG,
                XREGRACOMPONENTEVENDA.CODNATFINANCEIRAPAG,
                XREGRACOMPONENTEVENDA.CODCOLNATFINANCEIRAREC,
                XREGRACOMPONENTEVENDA.CODNATFINANCEIRAREC,
                XCOMPONENTE.COD_TIPO_COMPN,
                XCOMPONENTE.COD_TIPO_PARC
              FROM XREGRACOMPONENTEVENDA  WITH(NOLOCK/*AZURE*/) JOIN
                   XCOMPONENTE  WITH(NOLOCK/*AZURE*/)
                   ON (XCOMPONENTE.COD_COMPN = XREGRACOMPONENTEVENDA.COD_COMPN)
              WHERE (XCOMPONENTE.COD_TIPO_PARC IS NOT NULL)
           ),
XITEMVENDA_PRIMEIRO
           AS
           (
             SELECT
               XITEMVENDA.NUM_VENDA,
               XITEMVENDA.COD_PESS_EMPR,
               XITEMVENDA.NUM_UNID,
               XITEMVENDA.NUM_SUB_UNID
             FROM XITEMVENDA  WITH(NOLOCK/*AZURE*/)
             WHERE XITEMVENDA.NUM_SUB_UNID IN (SELECT MIN(XITEMVENDA2.NUM_SUB_UNID)
                                               FROM XITEMVENDA XITEMVENDA2  WITH(NOLOCK/*AZURE*/)
                                               WHERE XITEMVENDA2.NUM_VENDA = XITEMVENDA.NUM_VENDA AND
                                                     XITEMVENDA2.COD_PESS_EMPR = XITEMVENDA.COD_PESS_EMPR AND
                                                     XITEMVENDA2.NUM_UNID = XITEMVENDA.NUM_UNID
                            )
           ),
XLANHST_TEMP AS
(
SELECT
   XVENDAPARCELA.CODCOLIGADA,
   XVENDAPARCELA.NUMVENDA,
   XVENDAPARCELA.CODGRUPO,
   XVENDAPARCELA.CODTIPOPARC,
   XVENDAPARCELA.NUMPARC,
   XVENDAPARCELA.CODCOLLAN,
   XVENDAPARCELA.IDLAN,
   FLANHST.IDHISTORICO,
   FLANHST.RECMODIFIEDON,
   (SELECT MIN(RECMODIFIEDON)
    FROM XLOGVENDAPARCELA
    WHERE IDLOGVENDAPARCELA =  (SELECT MIN(L2.IDLOGVENDAPARCELA)
      FROM XLOGVENDAPARCELA L2  WITH(NOLOCK/*AZURE*/)
      WHERE L2.CODCOLLAN = FLANHST.CODCOLIGADA AND
            L2.IDLAN = FLANHST.IDLAN AND
            L2.RECMODIFIEDON >= FLANHST.RECMODIFIEDON
      )) DATA_PARCE,
     CASE WHEN PROCESSOAPLICACAO IS NOT NULL THEN
     COALESCE(
     (SELECT MIN(L2.IDLOGVENDAPARCELA)
      FROM XLOGVENDAPARCELA L2  WITH(NOLOCK/*AZURE*/)
      WHERE L2.CODCOLLAN = FLANHST.CODCOLIGADA AND
            L2.IDLAN = FLANHST.IDLAN AND
            L2.RECMODIFIEDON >= FLANHST.RECMODIFIEDON
      ),
     (SELECT MAX(L2.IDLOGVENDAPARCELA)
      FROM XLOGVENDAPARCELA L2  WITH(NOLOCK/*AZURE*/)
      WHERE L2.CODCOLLAN = FLANHST.CODCOLIGADA AND
            L2.IDLAN = FLANHST.IDLAN AND
            L2.RECMODIFIEDON < FLANHST.RECMODIFIEDON
      ))
      ELSE
      COALESCE(
     (SELECT MAX(L2.IDLOGVENDAPARCELA)
      FROM XLOGVENDAPARCELA L2  WITH(NOLOCK/*AZURE*/)
      WHERE L2.CODCOLLAN = FLANHST.CODCOLIGADA AND
            L2.IDLAN = FLANHST.IDLAN AND
            L2.RECMODIFIEDON < FLANHST.RECMODIFIEDON
      ),
     (SELECT MIN(L2.IDLOGVENDAPARCELA)
      FROM XLOGVENDAPARCELA L2  WITH(NOLOCK/*AZURE*/)
      WHERE L2.CODCOLLAN = FLANHST.CODCOLIGADA AND
            L2.IDLAN = FLANHST.IDLAN AND
            L2.RECMODIFIEDON >= FLANHST.RECMODIFIEDON
      ))
      END
      IDLOGVENDAPARCELA
FROM XVENDAPARCELA  WITH(NOLOCK/*AZURE*/) JOIN
     FLANHST  WITH(NOLOCK/*AZURE*/)
     ON (XVENDAPARCELA.CODCOLLAN = FLANHST.CODCOLIGADA) AND
        (XVENDAPARCELA.IDLAN = FLANHST.IDLAN)
)
SELECT
 XLOGPARCELAPAGAMENTO_OLD1217.CODCOLPARCELA,
 XLOGPARCELAPAGAMENTO_OLD1217.IDLOGPARCELAPAGAMENTO,
 CAST(NULL AS INT) IDPROCESSOFIN,
 XLOGPARCELAPAGAMENTO_OLD1217.IDPROCESSO,
 XLOGPARCELAPAGAMENTO_OLD1217.DTREFERENCIA,
 XLOGPARCELAPAGAMENTO_OLD1217.CODLOGSITOPRL,
 XLOGPARCELAPAGAMENTO_OLD1217.NUM_VENDA,
 XLOGPARCELAPAGAMENTO_OLD1217.COD_GRUPO,
 XLOGPARCELAPAGAMENTO_OLD1217.NUM_PARC,
 XLOGPARCELAPAGAMENTO_OLD1217.COD_TIPO_PARC,
 XLOGPARCELAPAGAMENTO_OLD1217.CODCOLIGADA,
 XLOGPARCELAPAGAMENTO_OLD1217.IDLAN,
 XLOGPARCELAPAGAMENTO_OLD1217.COD_TIPO_SIT_PARC,
 XLOGPARCELAPAGAMENTO_OLD1217.VR_PARC,
 XLOGPARCELAPAGAMENTO_OLD1217.VR_ORIG,
 XLOGPARCELAPAGAMENTO_OLD1217.VR_SALD_DEV,
 XLOGPARCELAPAGAMENTO_OLD1217.VR_PARC_JUROS,
 XLOGPARCELAPAGAMENTO_OLD1217.VRJUROSCONTRATO,
 XLOGPARCELAPAGAMENTO_OLD1217.CM_ATUAL,
 XLOGPARCELAPAGAMENTO_OLD1217.VRCORRECAOMONETARIA,
 XLOGPARCELAPAGAMENTO_OLD1217.VRDESCONTO,
 XLOGPARCELAPAGAMENTO_OLD1217.SALDOPRINCIPAL,
 XLOGPARCELAPAGAMENTO_OLD1217.SALDOJUROS,
 XLOGPARCELAPAGAMENTO_OLD1217.SALDOCM,
 XLOGPARCELAPAGAMENTO_OLD1217.SALDOOUTROS,
 XLOGPARCELAPAGAMENTO_OLD1217.VRBAIXADO,
 XLOGPARCELAPAGAMENTO_OLD1217.VR_BASE,
 XLOGPARCELAPAGAMENTO_OLD1217.VR_BASE_RESIDUO,
 XLOGPARCELAPAGAMENTO_OLD1217.VR_SEG,
 XLOGPARCELAPAGAMENTO_OLD1217.DAT_VCTO,
 XLOGPARCELAPAGAMENTO_OLD1217.DAT_LIQ_PARC,
 XLOGPARCELAPAGAMENTO_OLD1217.DATACANCELAMENTO,
 XLOGPARCELAPAGAMENTO_OLD1217.DATA_EMISSAO,
 XLOGPARCELAPAGAMENTO_OLD1217.DATGERACAOBOLETO,
 XLOGPARCELAPAGAMENTO_OLD1217.CODCCUSTO,
 XLOGPARCELAPAGAMENTO_OLD1217.CODDEPARTAMENTO,
 XLOGPARCELAPAGAMENTO_OLD1217.CODTB1FLX,
 XLOGPARCELAPAGAMENTO_OLD1217.CODTB2FLX,
 XLOGPARCELAPAGAMENTO_OLD1217.CODTB3FLX,
 XLOGPARCELAPAGAMENTO_OLD1217.CODTB4FLX,
 XLOGPARCELAPAGAMENTO_OLD1217.CODTB5FLX,
 XLOGPARCELAPAGAMENTO_OLD1217.COD_PESS_EMPR,
 XLOGPARCELAPAGAMENTO_OLD1217.NUM_UNID,
 XLOGPARCELAPAGAMENTO_OLD1217.NUM_SUB_UNID,
 XLOGPARCELAPAGAMENTO_OLD1217.DATULTREAJUSTE,
 XLOGPARCELAPAGAMENTO_OLD1217.DATA_GER_RES,
 XLOGPARCELAPAGAMENTO_OLD1217.RESIDUO,
 XLOGPARCELAPAGAMENTO_OLD1217.RESIDUO_CORRIGIDO,
 XLOGPARCELAPAGAMENTO_OLD1217.COD_GRUPO_RESIDUO,
 XLOGPARCELAPAGAMENTO_OLD1217.RESIDUO_VENC_PAGA,
 XLOGPARCELAPAGAMENTO_OLD1217.RESIDUO_CM_APOS,
 XLOGPARCELAPAGAMENTO_OLD1217.RESIDUO_CM_ANTES,
 XLOGPARCELAPAGAMENTO_OLD1217.RESIDUO_JUROS_APOS,
 XLOGPARCELAPAGAMENTO_OLD1217.RESIDUO_JUROS_ANTES,
 XLOGPARCELAPAGAMENTO_OLD1217.VR_CUSTO_DIF,
 XLOGPARCELAPAGAMENTO_OLD1217.NUM_NOTA_PROMISSORIA,
 XLOGPARCELAPAGAMENTO_OLD1217.ANO_IPTU,
 XLOGPARCELAPAGAMENTO_OLD1217.COD_TIPO_RECEITA,
 XLOGPARCELAPAGAMENTO_OLD1217.COD_TIPO_BEN,
 XLOGPARCELAPAGAMENTO_OLD1217.COD_BEN,
 XLOGPARCELAPAGAMENTO_OLD1217.NUMADITPAI,
 XLOGPARCELAPAGAMENTO_OLD1217.NUMADITCANCEL,
 XLOGPARCELAPAGAMENTO_OLD1217.IGNORARREAJUSTE,
 XLOGPARCELAPAGAMENTO_OLD1217.COD_SIT_OPRL,
 XLOGPARCELAPAGAMENTO_OLD1217.IDOPERACAOSEGUROPRESTAMISTA,
 XLOGPARCELAPAGAMENTO_OLD1217.DAT_VCTO_ORIG,
 XLOGPARCELAPAGAMENTO_OLD1217.JUROS_ACM,
 XLOGPARCELAPAGAMENTO_OLD1217.IDREFINANCIAMENTO,
 XLOGPARCELAPAGAMENTO_OLD1217.VR_LIQ_ANT,
 XLOGPARCELAPAGAMENTO_OLD1217.MES_PARC,
 XLOGPARCELAPAGAMENTO_OLD1217.FLAG_REPAC,
 XLOGPARCELAPAGAMENTO_OLD1217.DATAPRE01,
 XLOGPARCELAPAGAMENTO_OLD1217.DATAPRE02,
 XLOGPARCELAPAGAMENTO_OLD1217.JAIMPRIMIU,
 XLOGPARCELAPAGAMENTO_OLD1217.NUMBANCO,
 XLOGPARCELAPAGAMENTO_OLD1217.NUMAGENCIA,
 XLOGPARCELAPAGAMENTO_OLD1217.NUMCONTA,
 XLOGPARCELAPAGAMENTO_OLD1217.NUMCHEQUE,
 XLOGPARCELAPAGAMENTO_OLD1217.NUMPARCELAPARCIAL,
 XLOGPARCELAPAGAMENTO_OLD1217.IDNUMPARCELA,
 CAST(NULL AS VARCHAR(200)) AS DESCRICAOCANCELAMENTO,
 XLOGPARCELAPAGAMENTO_OLD1217.IDMOTIVO,
 XLOGPARCELAPAGAMENTO_OLD1217.CODCOLMOTIVO,
 XLOGPARCELAPAGAMENTO_OLD1217.HISTORICO,
 XLOGPARCELAPAGAMENTO_OLD1217.IDLANFILHO,
 XLOGPARCELAPAGAMENTO_OLD1217.MEMOCALCULO,
 XLOGPARCELAPAGAMENTO_OLD1217.CODCOLNATFINANCEIRAPAG,
 XLOGPARCELAPAGAMENTO_OLD1217.CODNATFINANCEIRAPAG,
 XLOGPARCELAPAGAMENTO_OLD1217.CODCOLNATFINANCEIRAREC,
 XLOGPARCELAPAGAMENTO_OLD1217.CODNATFINANCEIRAREC,
 XLOGPARCELAPAGAMENTO_OLD1217.CODFILIAL,
 XLOGPARCELAPAGAMENTO_OLD1217.CODCOLCFO,
 XLOGPARCELAPAGAMENTO_OLD1217.CODCFO,
 XLOGPARCELAPAGAMENTO_OLD1217.ORIGEMPARCELA,
 XLOGPARCELAPAGAMENTO_OLD1217.CHEQUEASSOCIADO,
 XLOGPARCELAPAGAMENTO_OLD1217.COD_PESS_ULT_MNT,
 XLOGPARCELAPAGAMENTO_OLD1217.DAT_ULT_MNT,
 XLOGPARCELAPAGAMENTO_OLD1217.CONTROLE,
 XLOGPARCELAPAGAMENTO_OLD1217.RECCREATEDBY,
 XLOGPARCELAPAGAMENTO_OLD1217.RECCREATEDON,
 XLOGPARCELAPAGAMENTO_OLD1217.RECMODIFIEDBY,
 XLOGPARCELAPAGAMENTO_OLD1217.RECMODIFIEDON,
 CAST(NULL AS INT) IDHISTORICO
FROM XLOGPARCELAPAGAMENTO_OLD1217  WITH(NOLOCK/*AZURE*/)
UNION ALL
SELECT
  XVENDAPARCELA.CODCOLIGADA AS CODCOLPARCELA,
  FLANHST.IDHISTORICO AS IDLOGPARCELAPAGAMENTO,
  FLANHST.PROCESSO AS IDPROCESSOFIN,
  CAST(CASE FLANHST.PROCESSO
       WHEN 5 THEN 7
       WHEN 6 THEN 8
       ELSE FLANHST.PROCESSOAPLICACAO
       END AS SMALLINT
       ) IDPROCESSO,
  FLANHST.DATAPROCESSO AS DTREFERENCIA,
  COALESCE(FLANHST.OPERACAOREGISTRO, 'U') AS CODLOGSITOPRL,
  XVENDAPARCELA.NUMVENDA AS NUM_VENDA,
  XVENDAPARCELA.CODGRUPO AS COD_GRUPO,
  XVENDAPARCELA.NUMPARC AS NUM_PARC,
  XVENDAPARCELA.CODTIPOPARC AS COD_TIPO_PARC,
  XVENDAPARCELA.CODCOLLAN AS CODCOLIGADA,
  XVENDAPARCELA.IDLAN,
  DBO.XSTATUSPARCELAPAGAMENTO(FLANHST.STATUSLAN, VALORES.VRPARCELA, VALORES.VRPARCELABX) AS COD_TIPO_SIT_PARC,
  VALORES.VRPARCELA AS VR_PARC,
  VALORES.VRORIGINAL AS VR_ORIG,
  VALORES.VRPARCELA - VALORES.VRPARCELABX AS VR_SALD_DEV,
  VALORES.VRJUROS AS VR_PARC_JUROS,
  VALORES.VRJUROS AS VRJUROSCONTRATO,
  VALORES.VRCM AS CM_ATUAL,
  VALORES.VRCM AS VRCORRECAOMONETARIA,
  VALORES.VRDESCONTO AS VRDESCONTO,
  VALORES.VRORIGINAL - VALORES.VRORIGINALBX AS SALDOPRINCIPAL,
  VALORES.VRJUROS - VALORES.VRJUROSBX AS SALDOJUROS,
  VALORES.VRCM - VALORES.VRCMBX AS SALDOCM,
  ((VALORES.VRPARCELA - (VALORES.VRORIGINAL +  VALORES.VRJUROS +  VALORES.VRCM)) -
        (VALORES.VRPARCELABX - (VALORES.VRORIGINALBX +  VALORES.VRJUROSBX + VALORES.VRCMBX))) AS SALDOOUTROS,
  VALORES.VRPARCELABX AS VRBAIXADO,
  VALORES.VRPARCELA AS VR_BASE,
  VALORES.VRPARCELA AS VR_BASE_RESIDUO,
  VALORES.VRSEGURO AS VR_SEG,
  FLANHST.DATAVENCIMENTO AS DAT_VCTO,
  DBO.XDATABAIXAPARCELAPAGAMENTOHST(FLANHST.CODCOLIGADA, FLANHST.IDLAN, FLANHST.STATUSLAN, FLANHST.IDHISTORICO) DAT_LIQ_PARC,
  FLANHST.DATACANCELAMENTO,
  FLANHST.DATAEMISSAO AS DATA_EMISSAO,
  CAST(NULL AS DATE) DATGERACAOBOLETO,
  FLANHST.CODCCUSTO,
  FLANHST.CODDEPARTAMENTO,
  CAST(NULL AS VARCHAR(25)) CODTB1FLX,
  CAST(NULL AS VARCHAR(25)) CODTB2FLX,
  CAST(NULL AS VARCHAR(25)) CODTB3FLX,
  CAST(NULL AS VARCHAR(25)) CODTB4FLX,
  CAST(NULL AS VARCHAR(25)) CODTB5FLX,
  XITEMVENDA_PRIMEIRO.COD_PESS_EMPR,
  XITEMVENDA_PRIMEIRO.NUM_UNID,
  XITEMVENDA_PRIMEIRO.NUM_SUB_UNID,
  XLOGVENDAPARCELA.DATULTREAJUSTE,
  XLOGVENDAPARCELA.DATAGERRES AS DATA_GER_RES,
  XLOGVENDAPARCELA.RESIDUO,
  XLOGVENDAPARCELA.RESIDUOCORRIGIDO AS RESIDUO_CORRIGIDO,
  XLOGVENDAPARCELA.CODGRUPORESIDUO AS COD_GRUPO_RESIDUO,
  XLOGVENDAPARCELA.RESIDUOVENCPAGA AS RESIDUO_VENC_PAGA,
  XLOGVENDAPARCELA.RESIDUOCMAPOS AS RESIDUO_CM_APOS,
  XLOGVENDAPARCELA.RESIDUOCMANTES AS RESIDUO_CM_ANTES,
  XLOGVENDAPARCELA.RESIDUOJUROSAPOS AS RESIDUO_JUROS_APOS,
  XLOGVENDAPARCELA.RESIDUOJUROSANTES AS RESIDUO_JUROS_ANTES,
  XLOGVENDAPARCELA.VRCUSTODIF AS VR_CUSTO_DIF,
  XLOGVENDAPARCELA.NUMNOTAPROMISSORIA AS NUM_NOTA_PROMISSORIA,
  XLOGVENDAPARCELA.ANOIPTU AS ANO_IPTU,
  XLOGVENDAPARCELA.CODTIPORECEITA AS COD_TIPO_RECEITA,
  XLOGVENDAPARCELA.CODTIPOBEN AS COD_TIPO_BEN,
  XLOGVENDAPARCELA.CODBEN AS COD_BEN,
  XLOGVENDAPARCELA.NUMADITPAI,
  XLOGVENDAPARCELA.NUMADITCANCEL AS NUMADITCANCEL,
  XLOGVENDAPARCELA.IGNORARREAJUSTE AS IGNORARREAJUSTE,
  XLOGVENDAPARCELA.CODSITOPRL AS COD_SIT_OPRL,
  XLOGVENDAPARCELA.IDOPERACAOSEGUROPRESTAMISTA,
  CAST(NULL AS DATE) DAT_VCTO_ORIG,
  CAST(NULL AS NUMERIC(15,4)) JUROS_ACM,
  CAST(NULL AS INT) IDREFINANCIAMENTO,
  CAST(NULL AS NUMERIC(15,4)) VR_LIQ_ANT,
  CAST(NULL AS INT) MES_PARC,
  CAST(NULL AS INT) FLAG_REPAC,
  CAST(NULL AS DATE) DATAPRE01,
  CAST(NULL AS DATE) DATAPRE02,
  CAST(NULL AS SMALLINT) JAIMPRIMIU,
  CAST(NULL AS VARCHAR(3)) NUMBANCO,
  CAST(NULL AS VARCHAR(6)) NUMAGENCIA,
  CAST(NULL AS VARCHAR(15)) NUMCONTA,
  CAST(NULL AS VARCHAR(20)) NUMCHEQUE,
  CAST(NULL AS VARCHAR(5)) NUMPARCELAPARCIAL,
  CAST(NULL AS INT) IDNUMPARCELA,
  CAST(NULL AS VARCHAR(200)) DESCRICAOCANCELAMENTO,
  CAST(NULL AS INT) IDMOTIVO,
  CAST(NULL AS SMALLINT) CODCOLMOTIVO,
  CAST(NULL AS VARCHAR(255)) HISTORICO,
  CAST(NULL AS INT) IDLANFILHO,
  FLANHST.MEMORIACALCULO AS MEMOCALCULO,
  XREGRAGERADORA.CODCOLNATFINANCEIRAPAG,
  XREGRAGERADORA.CODNATFINANCEIRAPAG,
  XREGRAGERADORA.CODCOLNATFINANCEIRAREC,
  XREGRAGERADORA.CODNATFINANCEIRAREC,
  FLANHST.CODFILIAL,
  FLANHST.CODCOLCFO,
  FLANHST.CODCFO,
  XREGRAGERADORA.ORIGEMREGRA AS ORIGEMPARCELA,
  CAST(CASE
       WHEN FLANHST.DATACHEQUE IS NOT NULL AND FLANHST.STATUSLAN = 0 THEN 1
       WHEN FLANHST.DATACHEQUE IS NOT NULL AND FLANHST.STATUSLAN = 1 THEN 2
       ELSE 0
       END AS INT) CHEQUEASSOCIADO,
  FLANHST.RECMODIFIEDBY COD_PESS_ULT_MNT,
  FLANHST.RECMODIFIEDON DAT_ULT_MNT,
  CAST(NULL AS SMALLINT) CONTROLE,
  FLANHST.RECCREATEDBY,
  FLANHST.RECCREATEDON,
  FLANHST.RECMODIFIEDBY,
  FLANHST.RECMODIFIEDON,
  FLANHST.IDHISTORICO
FROM XVENDAPARCELA  WITH(NOLOCK/*AZURE*/)
     JOIN
     FLANHST  WITH(NOLOCK/*AZURE*/)
     ON (XVENDAPARCELA.CODCOLLAN = FLANHST.CODCOLIGADA) AND
        (XVENDAPARCELA.IDLAN = FLANHST.IDLAN)
     JOIN
     XLANHST_TEMP
     ON (XVENDAPARCELA.CODCOLIGADA = XLANHST_TEMP.CODCOLIGADA) AND
        (XVENDAPARCELA.NUMVENDA = XLANHST_TEMP.NUMVENDA) AND
        (XVENDAPARCELA.CODGRUPO = XLANHST_TEMP.CODGRUPO) AND
        (XVENDAPARCELA.CODTIPOPARC = XLANHST_TEMP.CODTIPOPARC) AND
        (XVENDAPARCELA.NUMPARC = XLANHST_TEMP.NUMPARC) AND
        (XVENDAPARCELA.CODCOLLAN = XLANHST_TEMP.CODCOLLAN) AND
        (XVENDAPARCELA.IDLAN = XLANHST_TEMP.IDLAN) AND
        (FLANHST.IDHISTORICO = XLANHST_TEMP.IDHISTORICO)
     JOIN
     VALORES
     ON (VALORES.CODCOLIGADA = XVENDAPARCELA.CODCOLIGADA) AND
        (VALORES.NUM_VENDA = XVENDAPARCELA.NUMVENDA) AND
        (VALORES.COD_GRUPO = XVENDAPARCELA.CODGRUPO) AND
        (VALORES.NUM_PARC = XVENDAPARCELA.NUMPARC) AND
        (VALORES.COD_TIPO_PARC = XVENDAPARCELA.CODTIPOPARC) AND
        (VALORES.CODCOLLAN = XVENDAPARCELA.CODCOLLAN) AND
        (VALORES.IDLAN = XVENDAPARCELA.IDLAN) AND
        (VALORES.IDHISTORICO = FLANHST.IDHISTORICO)
     LEFT JOIN
     XLOGVENDAPARCELA  WITH(NOLOCK/*AZURE*/)
     ON (XLOGVENDAPARCELA.CODCOLIGADA = XVENDAPARCELA.CODCOLIGADA) AND
        (XLOGVENDAPARCELA.NUMVENDA = XVENDAPARCELA.NUMVENDA) AND
        (XLOGVENDAPARCELA.CODGRUPO = XVENDAPARCELA.CODGRUPO) AND
        (XLOGVENDAPARCELA.CODTIPOPARC = XVENDAPARCELA.CODTIPOPARC) AND
        (XLOGVENDAPARCELA.NUMPARC = XVENDAPARCELA.NUMPARC) AND
        (XLOGVENDAPARCELA.CODCOLLAN = XVENDAPARCELA.CODCOLLAN) AND
        (XLOGVENDAPARCELA.IDLAN = XVENDAPARCELA.IDLAN) AND
        (XLOGVENDAPARCELA.IDLOGVENDAPARCELA = XLANHST_TEMP.IDLOGVENDAPARCELA)
     LEFT JOIN
     XITEMVENDA_PRIMEIRO
     ON (XITEMVENDA_PRIMEIRO.NUM_VENDA = XVENDAPARCELA.NUMVENDA)
     LEFT JOIN
     XREGRAGERADORA
     ON (XVENDAPARCELA.NUMVENDA = XREGRAGERADORA.NUM_VENDA) AND
        (XVENDAPARCELA.CODGRUPO = XREGRAGERADORA.COD_GRUPO) AND
        (XVENDAPARCELA.CODTIPOPARC = XREGRAGERADORA.COD_TIPO_PARC)
GO
