USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[AY_CRITICAS_UNIFICADAS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[AY_CRITICAS_UNIFICADAS](@CODCOLIGADA INT, @DATAINIC DATE, @DATAFIM DATE)
RETURNS TABLE AS

RETURN (
SELECT 
  C.CODCOLIGADA,
  C.CHAPA,
  C.NOME,
  C.CODSECAO,
  C.CODTIPO,
  C.CODFILIAL,
  C.DATA,
  C.BATIDAS_PORTAL,
  C.ESCALA,
  C.ATRASO_CASE,
  C.FALTA_CASE,
  C.EXTRAEXECUTADO_CASE,
  C.SEM_PAR_CORRESPONDENTE,
  C.SEM_PAR_CORRESPONDENTE_DESC,
  C.INTERJORNADA,
  C.JORNADA_MAIOR_10HORAS,
  C.JORNADA_MAIOR_12HORAS,
  C.INTERJORNADA_DESC,
  C.JORNADA_MAIOR_10HORAS_DESC,
  C.JORNADA_MAIOR_12HORAS_DESC,
  C.BANCO_HORA,
  C.JUSTIFICATIVA,
  C.JUSTIFICATIVA_CODIGO,
  C.QTDE_ABONO,
  C.ABONO_PENDENTE_RH,
  C.JUSTIFICATIVA_ATITUDE,
  C.USABANCOHORAS,
  C.CPF,
  C.CODSITUACAO,
  C.IS_MOTORISTA,
  B.BATIDA AS BATIDA_BATIDA,
  B.NATUREZA AS BATIDA_NATUREZA,
  B.DATAREFERENCIA AS BATIDA_DATAREFERENCIA,
  B.DATAREFERENCIA2 AS BATIDA_DATAREFERENCIA2,
  B.IDAAFDT AS BATIDA_IDAAFDT,
  B.STATUS AS BATIDA_STATUS,
  B.JUSTIFICATIVA_BATIDA AS BATIDA_JUSTIFICATIVA,
  A.ent1 AS BATIDA_APONTADA_ENT1,
  A.sai1 AS BATIDA_APONTADA_SAI1,
  A.ent2 AS BATIDA_APONTADA_ENT2,
  A.sai2 AS BATIDA_APONTADA_SAI2,
  A.ent3 AS BATIDA_APONTADA_ENT3,
  A.sai3 AS BATIDA_APONTADA_SAI3,
  A.ent4 AS BATIDA_APONTADA_ENT4,
  A.sai4 AS BATIDA_APONTADA_SAI4,
  A.ent5 AS BATIDA_APONTADA_ENT5,
  A.sai5 AS BATIDA_APONTADA_SAI5,
  A.status AS BATIDA_APONTADA_STATUS,
  A.motivo_reprova AS BATIDA_APONTADA_MOTIVO_REPROVA,
  A.natureza AS BATIDA_APONTADA_NATUREZA,
  A.data_referencia AS BATIDA_APONTADA_DATA_REFERENCIA
FROM AY_CRITICAS(@CODCOLIGADA, @DATAINIC, @DATAFIM) C
LEFT JOIN AY_CRITICAS_BATIDAS(@CODCOLIGADA, @DATAINIC, @DATAFIM) B ON B.CODCOLIGADA = C.CODCOLIGADA AND B.CHAPA = C.CHAPA AND B.DATA = C.DATA
LEFT JOIN AY_CRITICAS_BATIDAS_APONTADAS(@CODCOLIGADA, @DATAINIC, @DATAFIM) A ON A.COLIGADA = C.CODCOLIGADA AND A.dtponto = C.DATA AND A.CHAPA = C.CHAPA COLLATE Latin1_General_CI_AS
);
GO
