USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[UHISTORICO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UHISTORICO]
AS
SELECT CODCOLIGADA
	,PERLETIVO
	,MATALUNO
	,CODCUR
	,CODPER
	,GRADE
	,CODMAT
	,STATUS
	,CREDITOS
	,A0 AS NOTA
	,C0 AS CONCEITO
	,F0 AS FALTA
	,CARGAHORARIA
	,OBSDISCIPLINA
	,TRANSFERENCIA
FROM UMATALUN  WITH (NOLOCK)
UNION
SELECT CODCOLIGADA
	,ANOSEMESTRE
	,MATALUNO
	,CODCUR
	,CODPER
	,GRADE
	,CODMAT
	,STATUS
	,CREDITOS
	,NOTA
	,CONCEITO
	,FALTA
	,CARGAHORARIA
	,OBSDISCIPLINA
	,TRANSFERENCIA
FROM UHISTMATALUN  WITH (NOLOCK)
GO
