USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_index_columns]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_index_columns]
  @index_name sysname,
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @object_type char(2)
declare @pstr nvarchar(128)
declare @indid smallint
declare @colid tinyint
declare @colname sysname
declare @num_btables int
declare @cols table (colid tinyint, colname sysname)
-- if @table_name is not specified, get the name(s) of the table(s)
-- having an index called @index_name
if (@table_name = N'' or @table_name = N' ') and
   (@index_name <> N'' and @index_name <> N' ')
  begin
    create table #btables (name sysname)
    insert into #btables
      exec sap_get_tables_of_index @index_name, @schema_name, @db_name
    select @num_btables = count(name) from #btables
    if @num_btables = 0
      begin
        drop table #btables
        raiserror('Index not found.',16,1)
        RETURN
      end
    if @num_btables > 1
      begin
        drop table #btables
        raiserror('Multiple indexes found.',16,1)
        RETURN
      end
    select @table_name = name from #btables
    drop table #btables
  end
-- get the id of the index, raise an error if the index doesn't exist
exec sap_get_index_id @index_name, @table_name, @schema_name, @db_name,
                      @indid output
if @indid is null
  begin
    raiserror('Index not found.',16,1)
    RETURN
  end
-- collect the columns
set @colname = index_col(@db_name+'.'+@schema_name+'.'+@table_name,
                         @indid,1)
set @colid = 1
while (@colname is not null)
  begin
    insert into @cols values (@colid, @colname)
    set @colid = @colid + 1
    set @colname = index_col(@db_name+'.'+@schema_name+'.'+@table_name,
                             @indid,@colid)
  end
-- return the columns
select @index_name as indname, colid, colname
  from @cols order by colid
END
 
GO
