USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tr_show]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tr_show]
  ( @permid   int )          -- Permanent trace ID in sap_tr_header
RETURNS @result TABLE
  ( ord bigint,
    EventText         nvarchar(64)  NULL ,
    TextData          ntext         NULL ,
    HostName          nvarchar(128) NULL ,
    ClientProcessID   int           NULL ,
    ApplicationName   nvarchar(64)  NULL ,
    Duration          bigint        NULL ,
    StartTime         varchar(26)   NULL ,
    Reads             bigint        NULL ,
    Writes            bigint        NULL ,
    CPU               int           NULL ,
    Error             int           NULL ,
    ObjectName        sysname       NULL ,
    DatabaseName      sysname       NULL ,
    DBUserName        sysname       NULL )
AS BEGIN
INSERT INTO @result
    ( ord,
      EventText         ,
      TextData          ,
      HostName          ,  -- ClientHostName ?
      ClientProcessID   ,
      ApplicationName   ,
      Duration          ,
      StartTime         ,
      Reads             ,
      Writes            ,
      CPU               ,
      Error             ,
      ObjectName        ,
      DatabaseName      ,
      DBUserName )
select ord,
      EventText        ,
      TextData          ,
      HostName          ,
      ClientProcessID   ,
      ApplicationName   ,
      Duration          ,
      StartTime         ,
      Reads             ,
      Writes            ,
      CPU               ,
      Error             ,
      ObjectName        ,
      DatabaseName      ,
      DBUserName from sap_tr_data where permid = @permid
order by permid,ord
  RETURN
 END
 
GO
