USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_dbobjects]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------------------------------------
CREATE proc [dbo].[sap_get_dbobjects]
  @db_name sysname = ''
AS
BEGIN
set nocount on
declare @totalData table(
  [schemaname]  sysname ,
  [typedesc]    nvarchar(60),
  [quantity]    bigint,
  [reserved]    bigint,
  [used]        bigint,
  [data]        bigint
  )
declare @sizeData table(
  [schemaname]  sysname ,
  [typedesc]    nvarchar(60),
  [reserved]    bigint,
  [used]        bigint,
  [data]        bigint,
  [indexsize]   bigint
  )
declare @cmd nvarchar(2048)
if @db_name = ''
  set @db_name = db_name()
set @cmd = 'use ' + @db_name +';select CASE ' +
           'WHEN (GROUPING(schema_id) = 1) then ''--Total--'' ' +
           'ELSE schema_name(schema_id) END as schemaname, ' +
           'type_desc, count(*)' +
           ' ,0,0,0 from sys.objects ' +
           'group by schema_id,type_desc with cube ' +
           ' order by schemaname '
INSERT into @totalData
    exec(@cmd)
delete from @totalData where typedesc IS NULL
-- add in index quantities
set @cmd = 'use ' + @db_name +';select CASE '+
  'WHEN (GROUPING(so.schema_id) = 1) then ''--Total--'' ' +
  'ELSE schema_name(so.schema_id) END as schemaname,''INDEXES'', ' +
  ' count(*) as quantity,0,0,0 from sys.objects so join sys.indexes si '+
  ' on so.object_id = si.object_id ' +
  ' where si.type = 1 or si.type = 2' +
  ' group by schema_id with cube ' +
  ' order by schemaname '
INSERT into @totalData
    exec(@cmd)
-- add in partitioned tables
set @cmd = 'use ' + @db_name +';select CASE '+
  'WHEN (GROUPING(T1.schema_id) = 1) then ''--Total--'' ' +
  'ELSE schema_name(T1.schema_id) END as schemaname,''PARTITION_TABLE'', ' +
  ' count(*),0,0,0 from ( select count(*) as total,so.schema_id' +
  ' from sys.partitions pa join sys.objects so' +
  ' on so.object_id = pa.object_id ' +
  ' where pa.partition_number > 1' +
  ' group by pa.object_id,schema_id ) T1 ' +
  'group by T1.schema_id with cube ' +
  'order by schemaname '
INSERT into @totalData
    exec(@cmd)
--INSERT into @totalData missing data for all schema/type combinations.
-- First get all combos of schema/type,
-- than remove existing schema/type combos
INSERT into @totalData
    select t1.schemaname,t2.typedesc,0,0,0,0
       from @totalData t1  full outer join @totalData t2 on
            t1.schemaname <> t2.schemaname
      group by t1.schemaname, t2.typedesc
      except  select schemaname,typedesc,0,0,0,0 from @totalData
-- add in plan guides ( can't find a way to relate to schema )
set @cmd = 'use ' + @db_name +';select ''--Total--'', ''PLAN_GUIDES'', '+
           ' count(*) as quantity,0,0,0 from sys.plan_guides '
INSERT into @totalData
    exec(@cmd)
------------------------------------------------------------------
-- calculate size data
------------------------------------------------------------------
set @cmd = 'use ' + @db_name + ';select CASE '+
    'WHEN (GROUPING(so.schema_id) = 1 ) THEN ''--Total--'' ' +
    'ELSE schema_name(so.schema_id) END, CASE ' +
    'WHEN (GROUPING(so.type_desc) = 1 ) THEN ''TOTAL'' ' +
    'ELSE so.type_desc END as my_type, ' +
    'sum(a.total_pages) / 128 as reserved, ' +
    'sum(a.used_pages) / 128 as used, ' +
    'sum(CASE When it.internal_type IN (202,204) Then 0 ' +
             'When a.type <> 1 Then a.used_pages ' +
             'When p.index_id < 2 Then a.data_pages ' +
             'Else 0 END) / 128 as data,' +
     '( sum(a.used_pages) / 128)  -' +
     '( sum(CASE When it.internal_type IN (202,204) Then 0 ' +
                'When a.type <> 1 Then a.used_pages ' +
                'When p.index_id < 2 Then a.data_pages ' +
                'Else 0 END) / 128 ) as indexspace ' +
 'from ' +@db_name +'.sys.partitions p join ' +@db_name +
 '.sys.objects so on so.object_id = p.object_id join ' +
  @db_name + '.sys.allocation_units a on p.partition_id = '+
 'a.container_id left join ' + @db_name + '.sys.internal_tables it '+
 ' on p.object_id = it.object_id '+
 ' group by so.schema_id, so.type_desc with cube ' +
  'union ' +
  'select CASE '+
    'WHEN (GROUPING(so.schema_id) = 1 ) THEN ''--Total--'' ' +
    'ELSE schema_name(so.schema_id) END,' +
    '''PARTITION_TABLE'' as my_type, '  +
    'sum(a.total_pages) / 128 as reserved, ' +
    'sum(a.used_pages) / 128 as used, ' +
    'sum(CASE When it.internal_type IN (202,204) Then 0 ' +
             'When a.type <> 1 Then a.used_pages ' +
             'When p.index_id < 2 Then a.data_pages ' +
             'Else 0 END) / 128 as data,' +
    '( sum(a.used_pages) / 128)  -' +
    '( sum(CASE When it.internal_type IN (202,204) Then 0 ' +
                    'When a.type <> 1 Then a.used_pages ' +
                    'When p.index_id < 2 Then a.data_pages ' +
                    'Else 0 END) / 128 ) as indexspace ' +
  'from ' +@db_name +'.sys.partitions p join ' +@db_name +
  '.sys.objects so on so.object_id = p.object_id join ' + @db_name +
  '.sys.allocation_units a on p.partition_id = a.container_id left join ' +
  @db_name + '.sys.internal_tables it on p.object_id = it.object_id '+
   ' where exists ( select * from ' + @db_name + '.sys.partitions ' +
              ' where object_id = so.object_id and partition_number > 1)' +
   ' group by so.schema_id  with cube '
INSERT into @sizeData
 exec (@cmd)
UPDATE @sizeData set reserved = reserved - indexsize
 where typedesc = 'USER_TABLE' and reserved > indexsize
------------------------------------------------------------------
-- move size data into proper records in @totalData
-----------------------------------------------------------------
INSERT into @totalData
   select schemaname,typedesc,0,reserved,used,data
     from @sizeData
    where typedesc = 'TOTAL'
UPDATE @totalData set data = ( select indexsize from @sizeData
             where schemaname = '--Total--' and typedesc = 'TOTAL' )
 where schemaname = '--Total--' and typedesc = 'INDEXES'
--DELETE from @sizeData where typedesc = '--Total--'  -- debugging
UPDATE @totalData set reserved = t2.reserved, used = t2.used, data = t2.data
  from @totalData AS t1 join @sizeData  AS t2 on
       t2.schemaname = t1.schemaname and t2.typedesc = t1.typedesc
UPDATE @totalData set data=ISNULL(t2.indexsize,0) +
                           ISNULL(t3.indexsize,0)
  from @totalData AS t1 left outer join @sizeData  AS t2 on
       t1.schemaname = t2.schemaname and t1.typedesc = 'INDEXES'  and
                       t2.typedesc = 'USER_TABLE'
       left outer join @sizeData AS t3 on
       t1.schemaname = t3.schemaname and t1.typedesc = 'INDEXES'  and
                       t3.typedesc = 'SYSTEM_TABLE'
 where t1.typedesc <> 'USER_TABLE' and
       t1.typedesc <> 'TOTAL' and
       t1.typedesc <> 'SYSTEM_TABLE' and
       t1.typedesc <> 'PARTITION_TABLE'
------------------------------------------------------------------
--  output
------------------------------------------------------------------
  select * from @totalData
  order by schemaname, typedesc
END
 
GO
