USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_check_MSS_build]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_check_MSS_build]
  @result varchar(64) output
as
BEGIN
-- All SQL 2005 builds good
select @result = 'ok'
END
 
GO
