USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFCFO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[TFCFO] AS
SELECT CODCOLIGADA,CODCFO,NOMEFANTASIA,NOME,PESSOAFISOUJUR,CGCCFO,INSCRESTADUAL,PAGREC,RUA,
NUMERO,COMPLEMENTO,BAIRRO,CIDADE,CODETD,CEP,TELEFONE,FAX,EMAIL,CONTATO,ATIVO,LIMITECREDITO,
CFOIMOB, DATAULTALTERACAO,GETDATE() AS DTHRATUALIZACAO
FROM FCFO
GO
