USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVOANTECIPACAOPARCELA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITIVOANTECIPACAOPARCELA]
AS
SELECT
  XADITANTECIPACAOPARC.NUMVENDA,
  XADITANTECIPACAOPARC.NUMADIT,
  XADITANTECIPACAOPARC.NUMPARC,
  XADITANTECIPACAOPARC.CODTIPOPARC,
  XADITANTECIPACAOPARC.CODGRUPO,
  XADITANTECIPACAOPARC.DATVCTONOVO AS NEWDATA,
  XADITANTECIPACAOPARC.DATVCTOATUAL AS OLDDATA,
  XADITANTECIPACAO.TAXADESCONTO AS TAXAJUROS,
  XADITANTECIPACAO.FIXODESCONTO AS VRDESCONTO,
  XADITANTECIPACAO.DSCTIPOANTECIPACAO AS TIPOANTECIPACAO,
  XADITANTECIPACAOPARC.VRPARCALTNOVO AS VRPARCNEW,
  XADITANTECIPACAOPARC.VRPARCALTATUAL AS VRPARCOLD,
  XADITANTECIPACAOPARC.RECCREATEDBY,
  XADITANTECIPACAOPARC.RECCREATEDON,
  XADITANTECIPACAOPARC.RECMODIFIEDBY,
  XADITANTECIPACAOPARC.RECMODIFIEDON
FROM XADITANTECIPACAO
     JOIN XADITANTECIPACAOPARC
     ON XADITANTECIPACAOPARC.CODCOLIGADA = XADITANTECIPACAO.CODCOLIGADA AND
        XADITANTECIPACAOPARC.NUMVENDA = XADITANTECIPACAO.NUMVENDA AND
        XADITANTECIPACAOPARC.NUMADIT = XADITANTECIPACAO.NUMADIT AND
        XADITANTECIPACAOPARC.CODTIPOADIT = XADITANTECIPACAO.CODTIPOADIT
GO
