USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tf_serverinfo]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tf_serverinfo]
/*******************************************************************/
/*   The SQL 2000 returns the version with copyright stmt but      */
/*   yukon (SQL 2005) returns only the version. Yukon string is    */
/*   cut off by 1 character. So added "+1" in the insert stmt      */
/*   It is decided not to split the sp as this modified sp works   */
/*   for both SQL releases                      RR - 10/31/2005    */
/*******************************************************************/
AS
  SET NOCOUNT ON
  DECLARE @rawtext  varchar(255)
  DECLARE @pos      int
  DECLARE @savename varchar(60)
  CREATE TABLE #receive
    ( attribute_id     int ,
      attribute_name   varchar(60) ,
      attribute_value  varchar(255) )
  INSERT #receive
    EXECUTE sp_server_info
  SET @rawtext = ( SELECT attribute_value FROM #receive
                     WHERE attribute_id = 2)
  SET @savename = ( SELECT attribute_name FROM #receive
                     WHERE attribute_id = 2)
  DELETE FROM #receive WHERE attribute_id = 2
  DECLARE @col1 int
  DECLARE @col2 int
  DECLARE @numo int
  SET @col1 = 1
  SET @col2 = 0
  SET @numo = 3
  WHILE ( @col2 < LEN(@rawtext) )
    BEGIN
      SET @col2 = CHARINDEX( CHAR(10) + CHAR(9), @rawtext, @col1 )
      IF ( @col2 = 0 )
        SET @col2 = LEN(@rawtext)
      INSERT #receive VALUES
        ( @numo, @savename, SUBSTRING(@rawtext, @col1, @col2 - @col1 + 1) )
      SET @col1 = @col2 + 2
      SET @numo = @numo + 1
    END
  SELECT * FROM #receive ORDER BY attribute_id
  DROP TABLE #receive
 
GO
