USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITPRORROGACAOVCTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITPRORROGACAOVCTO]
AS
SELECT DISTINCT
XADITVCTO.CODCOLIGADA,
XADITVCTO.NUMVENDA,
XADITVCTO.NUMADIT,
'A3' AS CODTIPOADIT,
XADITVCTOPARC.CODTIPOVENCIMENTO,
XADITVCTOPARC.CODTIPOCALCVENCIMENTO CODTIPOPRORROGACAO,
XADITVCTOPARC.DSCTIPOCALCVENCIMENTO DSCTIPOPRORROGACAO,
XADITVCTOPARC.PERCENTUALPARC,
XADITVCTOPARC.TAXAVENCIMENTO TAXAACORDO,
XADITVCTOPARC.FIXOVENCIMENTO FIXOACORDO,
XADITVCTO.VRTOTALPARCALTATUAL,
XADITVCTO.VRTOTALPARCALTNOVO,
XADITVCTO.VRTOTALPARCACORDO,
XADITVCTO.VRTOTALMULTAATRASOPARCALT,
XADITVCTO.VRTOTALJUROSMORAPARCALT,
XADITVCTO.RECCREATEDBY,
XADITVCTO.RECCREATEDON,
XADITVCTO.RECMODIFIEDBY,
XADITVCTO.RECMODIFIEDON
FROM XADITVCTO
LEFT JOIN XADITVCTOPARC
ON (XADITVCTO.CODCOLIGADA = XADITVCTOPARC.CODCOLIGADA AND
XADITVCTO.NUMVENDA = XADITVCTOPARC.NUMVENDA AND
XADITVCTO.NUMADIT = XADITVCTOPARC.NUMADIT AND
XADITVCTO.CODTIPOADIT = XADITVCTOPARC.CODTIPOADIT)
WHERE XADITVCTOPARC.CODTIPOVENCIMENTO = 2
UNION
SELECT DISTINCT
XADIT.CODCOLIGADA,
XADIT.NUMVENDA,
XADIT.NUMADIT,
'A3' AS CODTIPOADIT,
0 AS CODTIPOVENCIMENTO,
CAST(NULL AS NUMERIC(10,0)) AS CODTIPOPRORROGACAO,
CAST(NULL AS VARCHAR(50)) AS DSCTIPOPRORROGACAO,
CAST(NULL AS NUMERIC(15,4)) AS PERCENTUALPARC,
CAST(NULL AS NUMERIC(15,4)) AS TAXAACORDO,
CAST(NULL AS NUMERIC(15,4)) AS FIXOACORDO,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALPARCALTATUAL,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALPARCALTNOVO,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALPARCACORDO,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALMULTAATRASOPARCALT,
CAST(NULL AS NUMERIC(15,4)) AS VRTOTALJUROSMORAPARCALT,
XADIT.RECCREATEDBY,
XADIT.RECCREATEDON,
XADIT.RECMODIFIEDBY,
XADIT.RECMODIFIEDON
FROM XADIT (NOLOCK)
JOIN XADITTIPOADITIVO (NOLOCK)
ON XADITTIPOADITIVO.CODCOLIGADA = XADIT.CODCOLIGADA AND
XADITTIPOADITIVO.NUMVENDA = XADIT.NUMVENDA AND
XADITTIPOADITIVO.NUMADIT = XADIT.NUMADIT AND
XADITTIPOADITIVO.CODTIPOADITANTREV = 'A3'
WHERE NOT EXISTS (SELECT 1
FROM XADITVCTOPARC (NOLOCK)
WHERE XADITVCTOPARC.CODCOLIGADA = XADIT.CODCOLIGADA AND
XADITVCTOPARC.NUMVENDA = XADIT.NUMVENDA AND
XADITVCTOPARC.NUMADIT = XADIT.NUMADIT)
GO
