USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[MEQUIPEPRJ]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MEQUIPEPRJ] AS
	SELECT CODCOLIGADA, IDPRJ, CODPESSOA, RECCREATEDBY, RECCREATEDON, RECMODIFIEDBY, RECMODIFIEDON
	FROM MEQUIPEPRJMEMBRO
GO
