USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[DLAFCONT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[DLAFCONT] AS
SELECT DLAFCTB.IDOPERACAO,CCONT.CODCOLIGADA, CCONT.IDCONT AS IDLAFCONT, DLAFCTB.IDLAF,
CASE WHEN CCONT.TIPO = 3  THEN 1
ELSE CCONT.TIPO END AS TIPO,
CPARTIDA.CODCOLDEBITO AS CODCOLCONTA, CPARTIDA.DEBITO AS CODCONTA,
CCONT.VALOR, CPARTIDA.CODFILIAL, CPARTIDA.CODDEPARTAMENTO, CPARTIDA.CODCCUSTO,
CPARTIDA.CODHISTP, CPARTIDA.COMPLEMENTO AS COMPLHISTORICO, CPARTIDA.CODLOTE,
CASE WHEN CPARTIDA.CODLOTE = 0  THEN NULL
ELSE CPARTIDA.LCTREF END AS LCTREF,
CASE WHEN CPARTIDA.CODLOTE = 0 THEN CPARTIDA.LCTREF
ELSE NULL            END AS LCTREFINT,
CASE WHEN CCONT.STATUS = 'C'    THEN 1
ELSE 0               END AS ATIVO,
CPARTIDA.IDPARTIDA
FROM CPARTIDA
JOIN CCONT ON  CCONT.CODCOLIGADA   = CPARTIDA.CODCOLIGADA AND
CCONT.IDPARTIDA     = CPARTIDA.IDPARTIDA
JOIN DLAFCTB ON DLAFCTB.CODCOLIGADA = CCONT.CODCOLIGADA AND
DLAFCTB.IDOPERACAO  = CCONT.IDOPERACAO
WHERE
CCONT.TIPO IN (1,3) AND (CCONT.STATUS = 'C')
UNION
SELECT DLAFCTB.IDOPERACAO,CCONT.CODCOLIGADA, CCONT.IDCONT AS IDLAFCONT, DLAFCTB.IDLAF,
CASE WHEN CCONT.TIPO = 3  THEN 2
ELSE CCONT.TIPO END AS TIPO,
CPARTIDA.CODCOLCREDITO AS CODCOLCONTA, CPARTIDA.CREDITO AS CODCONTA,
CCONT.VALOR, CPARTIDA.CODFILIAL, CPARTIDA.CODDEPARTAMENTO, CPARTIDA.CODCCUSTO,
CPARTIDA.CODHISTP, CPARTIDA.COMPLEMENTO AS COMPLHISTORICO, CPARTIDA.CODLOTE,
CASE WHEN CPARTIDA.CODLOTE = 0  THEN NULL
ELSE CPARTIDA.LCTREF END AS LCTREF,
CASE WHEN CPARTIDA.CODLOTE = 0 THEN CPARTIDA.LCTREF
ELSE NULL            END AS LCTREFINT,
CASE WHEN CCONT.STATUS = 'C'    THEN 1
ELSE 0               END AS ATIVO,
CPARTIDA.IDPARTIDA
FROM CPARTIDA
JOIN CCONT   ON CCONT.CODCOLIGADA = CPARTIDA.CODCOLIGADA AND
CCONT.IDPARTIDA   = CPARTIDA.IDPARTIDA
JOIN DLAFCTB ON DLAFCTB.CODCOLIGADA = CCONT.CODCOLIGADA  AND
DLAFCTB.IDOPERACAO  = CCONT.IDOPERACAO
WHERE
CCONT.TIPO IN (2,3) AND (CCONT.STATUS = 'C')
GO
