USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[DVIEWMUNICIPIOS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Visões 10.60 */

CREATE VIEW [dbo].[DVIEWMUNICIPIOS] AS
SELECT G.CODETDMUNICIPIO, G.CODMUNICIPIO, G.NOMEMUNICIPIO, 
       D.IDCLASSIFMUNICIPIO, D.CODIGO CODIFICACAO
FROM   GMUNICIPIO G LEFT JOIN DCODIFICACAOMUNICIPIO D
ON    (G.CODMUNICIPIO    = D.CODMUNICIPIO 
AND    G.CODETDMUNICIPIO = D.CODETDMUNICIPIO)
GO
