USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_p_delete]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===================================================================
-- Data rollup schedule:
-- Phase 1: Records younger than @retention/6 days
--          All scheduled snapshots will be retained
-- Phase 2: Records younger than @retention days
--          One snapshot per hour will be retained
-- Phase 3: Records younger than @retention*12 days
--          One snapshot per day will be retained
-- ===================================================================
-- Manual snapshots ("reset" / "since reset" function) will be kept
-- for three days.
CREATE PROCEDURE [dbo].[sap_p_delete]
    @retention    int = 90  -- Retention time of statistics data
                            -- [days]
AS
BEGIN
  set nocount on
-- Scalar variables
  declare  @phase       smallint
  declare  @gridline    datetime
  declare  @t_phase1    datetime
  declare  @t_phase2    datetime
  declare  @t_phase3    datetime
  declare  @t_reset     datetime  -- time threshold for "since reset"
  declare  @phase3_id   int
  declare  @reset_id    int       -- threshold id for "since reset"
  declare  @sample_id   int
  declare  @startat     datetime
  declare  @stype       char(1)
  declare  @counter_id  int
  declare  @inst_name   nvarchar(128)
  declare  @cntr_val    bigint
  declare  @currval     bigint
-- Table variables
  declare  @sampler
     TABLE ( sample_id  int      ,
             startat    datetime ,
             stype      char(1)  )  -- 'T' accumulation target
                                    -- 'Z' intermediate snapshot
-- Initialize variables
  set @phase     = 1
  set @phase3_id = NULL
-- Calculate time thresholds
  set @gridline = convert (datetime,
                     convert(varchar(10), getdate(), 112))
  set @t_phase1 = dateadd (Day, - @retention/6, @gridline)
  set @t_phase2 = dateadd (Day, - @retention, @gridline)
  set @t_phase3 = dateadd (Day, - @retention * 12, @gridline)
  set @t_reset  = dateadd (Hour, -72, getdate())
  set @gridline = @t_phase1
  set @reset_id = ( select TOP 1 sample_id from sap_perfsample
                      where startat < @t_reset
                      order by startat desc )
-- Calculate rollup grid
---- Cursor for SELECT FROM sap_perfsample
  DECLARE curs CURSOR FAST_FORWARD FOR
    SELECT sample_id, startat FROM sap_perfsample
      WHERE startat   < @t_phase1
        AND resi_flag =  0
      ORDER BY startat DESC
  OPEN curs
  FETCH NEXT FROM curs INTO @sample_id, @startat
  WHILE @@FETCH_STATUS = 0
    BEGIN
      IF @startat < @gridline
        BEGIN
        set @stype = 'T'
---- Check whether we just crossed into the older phase
        if @phase = 1 and @startat < @t_phase2
          BEGIN
            set @phase = 2
            set @gridline = @t_phase2
          END
        else if @phase = 2 and @startat < @t_phase3
          BEGIN
            set @phase     = 3
            set @phase3_id = @sample_id
            set @gridline  = convert (datetime, '1900-01-01')
          END
---- Next gridpoint
        while @gridline >= @startat
          if @phase = 1
            set @gridline = dateadd(Hour, -1, @gridline)
          else if @phase = 2
            set @gridline = dateadd(Day, -1, @gridline)
          else  -- error !
            break
        END
      ELSE  -- @startat >= @gridline
        set @stype = 'Z'
---- Insert @sampler record
      INSERT INTO @sampler
        VALUES (@sample_id, @startat, @stype)
      FETCH NEXT FROM curs INTO @sample_id, @startat
    END
---- Cursor cleanup
  CLOSE curs
  DEALLOCATE curs
---- Remove unnecessary @sampler records
  DELETE FROM @sampler
    WHERE sample_id IN
      ( SELECT a.sample_id from @sampler a, @sampler b
          WHERE a.stype = 'T' AND b.stype = 'T'
            AND b.sample_id = ( select top 1 sample_id from @sampler
                                  where sample_id < a.sample_id
                                  order by sample_id desc ) )
  --select * from @sampler order by sample_id
  --RETURN
-- Loop over all counters
  DECLARE curs CURSOR FAST_FORWARD FOR
    SELECT DISTINCT counter_id, inst_name
      FROM sap_perfvali
  OPEN curs
  FETCH NEXT FROM curs INTO @counter_id, @inst_name
  WHILE @@FETCH_STATUS = 0
    BEGIN
---- Initialisations
      set @currval   = NULL
---- Loop over sample grid
      DECLARE grid CURSOR FAST_FORWARD FOR
        SELECT a.sample_id, a.stype, c.cntr_value
          FROM @sampler a left outer join sap_perfinfo c
            ON (    c.counter_id = @counter_id
                AND c.inst_name  = @inst_name
                AND c.resi_flag  =  0
                AND a.sample_id  = c.sample_id )
          WHERE EXISTS ( select * from sap_perfvali b
                           where b.counter_id  =  @counter_id
                             and b.inst_name   =  @inst_name
                             and a.sample_id   >= b.from_id
                             and a.sample_id   <= b.to_id )
          ORDER BY a.sample_id
      OPEN grid
      FETCH NEXT FROM grid INTO @sample_id, @stype, @cntr_val
      WHILE @@FETCH_STATUS = 0
        BEGIN
------ Counter has new value ?
          IF (NOT @cntr_val IS NULL) AND (@stype = 'Z')
            set @currval = @cntr_val
------ Roll-up target with no value
          IF @stype = 'T' and @cntr_val IS NULL and
             NOT @currval IS NULL
            BEGIN
              INSERT INTO sap_perfinfo
                 (sample_id, counter_id, inst_name,
                  resi_flag, cntr_value)
                VALUES
                 (@sample_id, @counter_id, @inst_name,
                  0, @currval)
              SET @currval = NULL
            END
          FETCH NEXT FROM grid INTO @sample_id, @stype, @cntr_val
        END
      CLOSE grid
      DEALLOCATE grid
      FETCH NEXT FROM curs INTO @counter_id, @inst_name
    END
  CLOSE curs
  DEALLOCATE curs
-- Delete obsolete sap_perfinfo records
  DELETE FROM sap_perfinfo
    FROM @sampler a, sap_perfinfo b
    WHERE a.sample_id  = b.sample_id
      AND a.stype      = 'Z'
      AND b.resi_flag  =  0
  DELETE FROM sap_perfinfo
    WHERE resi_flag  =   1
      AND sample_id  <= @reset_id
-- Delete obsolete sap_perfvali records
  IF NOT @phase3_id IS NULL
    DELETE FROM sap_perfvali
      WHERE to_id < @phase3_id
-- Delete obsolete sap_perfsample records
  DELETE FROM sap_perfsample
    FROM @sampler a, sap_perfsample b
    WHERE a.sample_id  = b.sample_id
      AND a.stype      = 'Z'
      AND b.resi_flag  =  0
  DELETE FROM sap_perfsample
    WHERE startat   < @t_reset
      AND resi_flag = 1
END
 
GO
