USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_sqlfiles]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_sqlfiles]
  @obj_sch sysname = null,
  @dbname sysname = null
as
begin
 set nocount on
 declare @perm int
 declare @curdbname sysname
 declare @physname nvarchar(512)
 declare @cmd nvarchar(2048)
 declare @mbFree int
 create table #fileData
  (
   groupname    sysname NULL,
   logicalname  nvarchar(128),
   physfilename nvarchar(512),
   fileid       smallint,
   flsize       int,
   growth       int,
   growthmb     int,
   flmaxsize    int,
   usedexts     int,
   totalexts    int,
   pf     nchar(1),
   ro     nchar(1),
   dfg    nchar(1),
   ddev   nchar(1),
   df     nchar(1),
   ldev   nchar(1),
   wrtbu  nchar(1),
   crdb   nchar(1),
   ddbcr  nchar(1),
   gpct nchar(1),
   devfreeMB int null,
   )
--
-- check input parameter
--
 if @dbname is NULL
   set @dbname = db_name()
 else
 begin
   select @perm = HAS_DBACCESS( @dbname )
   if @perm != 1
   begin
     print 'No db access'
     return
   end
 end
 if @obj_sch is null
   set @obj_sch = schema_name()
 set @cmd = 'use [' + @dbname + '];' +
      'select ISNULL(sfg.groupname,'' ''), sf.name, sf.filename,' +
      'sf.fileid,sf.size/128,sf.growth,sf.growth/128 as growthmb,' +
      'case when sf.maxsize =  -1 then -1 else sf.maxsize/128 end,' +
      '( fileproperty(sf.name,''SpaceUsed'') / 8 ) as usedexts, ' +
      'sf.size/8 as totalexts,' +
      'case when fileproperty( sf.name, ''IsPrimaryFile'' ) = 1 ' +
           'then ''X'' else '' '' end as pf, '+
      'case when (sfg.status & 8)/8 = 1 then ''X'' else '' '' end as ro,' +
      'case when (sfg.status & 16)/16 = 1 then ''X'' else '' '' end as dfg,' +
      'case when (sf.status & 1)/1 = 1 then ''X'' else '' '' end as ddev,' +
      'case when (sf.status & 2)/2 = 1 then ''X'' else '' '' end as diskfile,' +
      'case when (sf.status & 64)/64 = 1 then ''X'' else '' '' end as ldev,' +
      'case when (sf.status & 128)/128 = 1
            then ''X'' else '' '' end as wrtbu,' +
      'case when (sf.status & 16384)/16384 = 1
            then ''X'' else '' '' end as crdb,' +
      'case when (sf.status & 32768)/32768 = 1
            then ''X'' else '' '' end as ddbcr,' +
      'case when (sf.status & 1048576)/1048576 = 1
            then ''X'' else '' '' end as gpct' +
      ',null from '+
      'sysfiles as sf left outer join '+
      'sysfilegroups sfg '+
      'on ( sf.groupid = sfg.groupid ) '+
      'order by sfg.groupid desc, sf.fileid asc;'
 insert into #fileData
     exec sp_executesql @cmd
 update #fileData set growthmb = flsize * ( growth /100.0 )
    where gpct = 'X'
 -- Fill in the disk free MB for each physical file
 select distinct physfilename into #dskfree from #fileData
     where physfilename is not null and
           len(physfilename) > 0
 declare phcursor cursor for
    select physfilename from #dskfree
 open phcursor
 fetch next from phcursor into @physname
 while (@@fetch_status <> -1)
 begin
   set @cmd = N'exec @mbFree = ' + @obj_sch +
                    N'.sap_get_freespace @physname'
   exec sp_executesql @cmd,
           N'@mbFree int output,@physname sysname',
           @mbFree output,@physname
   update #fileData set devfreeMB = @mbFree
          where physfilename = @physname
   fetch next from phcursor into @physname
 end -- while more physical file names to check
 close phcursor
 deallocate phcursor
-- Done getting the physical free MB
-- Deliver the data
 select * from #fileData
end
 
GO
