USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_misc_index_info]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_misc_index_info]
  @index_name sysname,
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @nrc_mask int
declare @num_btables int
-- if @table_name is not specified, get the name(s) of the table(s)
-- having an index called @index_name
if (@table_name = N'' or @table_name = N' ') and
   (@index_name <> N'' and @index_name <> N' ')
  begin
    create table #btables (name sysname)
    insert into #btables
      exec sap_get_tables_of_index @index_name, @schema_name, @db_name
    select @num_btables = count(name) from #btables
    if @num_btables = 0
      begin
        drop table #btables
        raiserror('Index not found.',16,1)
        RETURN
      end
    if @num_btables > 1
      begin
        drop table #btables
        raiserror('Multiple indexes found.',16,1)
        RETURN
      end
    select @table_name = name from #btables
    drop table #btables
  end
-- build the select statement
set @nrc_mask = 16777216
set @cmd = N'use ' + @db_name +
           N' select i.name, ' +
                  N'indexproperty(o.object_id,i.name,''IndexDepth'') ' +
                    N'as ''depth'', ' +
                  N'i.minlen as ''rowminlen'', ' +
                  N'i.xmaxlen as ''rowmaxlen'', ' +
                  N'case (indexproperty(i.id,i.name,' +
                        N'''IsClustered'')) ' +
                    N'when 1 ' +
                      N'then i.rowmodctr ' +
                      N'else -1 ' +
                    N'end as ''rowmodctr'', ' +
                 N'case (i.status & @nrc_mask) ' +
                   N'when @nrc_mask '  +
                    N' then ''OFF'' ' +
                     N'else ''ON'' ' +
                   N'end as ''autostats'',' +
                 N'convert(nvarchar(20),stats_date(i.id,i.indid)) ' +
                   N'as ''statsdate'',' +
             N'i.dpages*8 as dpagesKB,' +
             N'i.reserved*8 as reservedKB,' +
             N'i.used*8 as usedKB ' +
             N'from ' + @db_name + N'.sys.objects o, ' +
                        N'dbo.sysindexes i ' +
               N'where o.name = @table_name ' +
                 N'and schema_name(o.schema_id) = @schema_name ' +
                 N'and i.id = o.object_id ' +
                 N'and i.indid > 0 ' +
                 N'and i.indid < 255 '
if @index_name <> N'' and @index_name <> N' '
begin
  set @cmd = @cmd +  N'and i.name = @index_name '
  exec sp_executesql @cmd,
    N'@nrc_mask int,@schema_name sysname,@table_name sysname,@index_name
sysname',
      @nrc_mask,@schema_name,@table_name,@index_name
end
else
begin
  set @cmd = @cmd + N'order by i.name'
  exec sp_executesql @cmd,
    N'@nrc_mask int,@schema_name sysname,@table_name sysname',
      @nrc_mask,@schema_name,@table_name
end
END
 
GO
