USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_dbproperties]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_dbproperties]
  @dbname sysname = NULL,
  @alldb  nchar(1) = 'N'
as
begin
 set nocount on
 declare @crdate     datetime
 declare @cmptlevel  tinyint
 declare @status     int
 declare @r3users    int
 declare @otherusers int
 declare @uniqusers  int
 declare @cmd        nvarchar(512)
 create table #dbProps
 (
   dbName    sysname,
   varName   nvarchar(40) null,
   varValue  nvarchar(40) null
 )
--
-- check input parameter
--
 if @dbname is NULL
   set @dbname = db_name()
 if ( @alldb != 'Y' and
      @alldb != 'y' and
      @alldb != 'N' and
      @alldb != 'n' )
   begin
     print '@alldb must be N, n, Y, or y'
     return
   end
 if @alldb = 'Y' or @alldb = 'y'
 begin
   declare db_cursor cursor for
     select name from master..sysdatabases where HAS_DBACCESS(name) = 1
 end
 else
   declare db_cursor cursor for
     select name from master..sysdatabases where HAS_DBACCESS(name) = 1
       and name = @dbname
 open db_cursor
 fetch next from db_cursor into @dbname
   while (@@fetch_status <> -1)
   begin
 insert into #dbProps
 select @dbname,N'IsAnsiNullDefault',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isansinulldefault'))
 insert into #dbProps
 select @dbname,N'IsAnsiNullsEnabled',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isansinullsenabled'))
 insert into #dbProps
 select @dbname,N'IsAnsiPaddingEnabled',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isansipaddingenabled'))
 insert into #dbProps
 select @dbname,N'IsAnsiWarningsEnabled',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isansiwarningsenabled'))
 insert into #dbProps
 select @dbname,N'IsArithmeticAbortEnabled',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isarithmeticabortenabled'))
 insert into #dbProps
 select @dbname,N'IsAutoClose',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isautoclose'))
 insert into #dbProps
 select @dbname,N'IsAutoCreateStatistics',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isautocreatestatistics'))
 insert into #dbProps
 select @dbname,N'IsAutoShrink',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isautoshrink'))
 insert into #dbProps
 select @dbname,N'IsAutoUpdateStatistics',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isautoupdatestatistics'))
 insert into #dbProps
 select @dbname,N'IsCloseCursorsOnCommitEnabled',
 convert(nvarchar(12),
               DATABASEPROPERTYEX( @dbname,'isclosecursorsoncommitenabled'))
 insert into #dbProps
 select @dbname,N'IsFullTextEnabled',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isfulltextenabled'))
 insert into #dbProps
 select @dbname,N'IsInStandBy',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isinstandby'))
 insert into #dbProps
 select @dbname,N'IsLocalCursorsDefault',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'IsLocalCursorsDefault'))
 insert into #dbProps
 select @dbname,N'IsMergePublished',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'IsMergePublished'))
 insert into #dbProps
 select @dbname,N'IsNullConcat',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'isnullconcat'))
 insert into #dbProps
 select @dbname,N'IsNumericRoundAbortEnabled',
 convert(nvarchar(12),
         DATABASEPROPERTYEX( @dbname,'isnumericroundabortenabled'))
 insert into #dbProps
 select @dbname,N'IsQuotedIdentifiersEnabled',
 convert(nvarchar(12),
         DATABASEPROPERTYEX( @dbname,'IsQuotedIdentifiersEnabled'))
 insert into #dbProps
 select @dbname,N'IsRecursiveTriggersEnabled',
 convert(nvarchar(12),
         DATABASEPROPERTYEX( @dbname,'IsRecursiveTriggersEnabled'))
 insert into #dbProps
 select @dbname,N'IsSubscribed',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'IsSubscribed'))
 insert into #dbProps
 select @dbname,N'IsTornPageDetectionEnabled',
 convert(nvarchar(12),
         DATABASEPROPERTYEX( @dbname,'IsTornPageDetectionEnabled'))
 insert into #dbProps
 select @dbname,N'Recovery',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'Recovery'))
 insert into #dbProps
 select @dbname,N'SQLSortOrder',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'SQLSortOrder'))
 insert into #dbProps
 select @dbname,N'Status',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'Status'))
 insert into #dbProps
 select @dbname,N'Updateability',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'Updateability'))
 insert into #dbProps
 select @dbname,N'UserAccess',
 convert(nvarchar(12),DATABASEPROPERTYEX( @dbname,'UserAccess'))
--
-- the following is necessary because a DATABASEPROPERTYEX is not available
--
 select @crdate = convert( char(12), crdate, 102 ),
        @cmptlevel = convert(int,cmptlevel),
        @status = status
 from master..sysdatabases
 where db_name(dbid) = @dbname
 insert into #dbProps
    select @dbname,N'CreateDate', @crdate
 insert into #dbProps
    select @dbname,N'CmptLevel', @cmptlevel
 insert into #dbProps
    select @dbname,N'IsBulkCopy',
       case when (@status & 4)=4 then 1 else 0 end
 insert into #dbProps
    select @dbname,N'IsTruncLogOnChkpt',
       case when (@status & 8)=8 then 1 else 0 end
 insert into #dbProps
    select @dbname,N'IsLoading',
       case when (@status & 32)=32 then 1 else 0 end
 insert into #dbProps
    select @dbname,N'IsPreRecovery',
       case when (@status & 64)= 64 then 1 else 0 end
 insert into #dbProps
    select @dbname,N'IsRecovering',
       case when (@status & 128)=128 then 1 else 0 end
 insert into #dbProps
    select @dbname,N'IsNotRecovered',
       case when (@status & 256)=256 then 1 else 0 end
 insert into #dbProps
    select @dbname,N'IsDBOOnly',
       case when (@status & 2048)=2048 then 1 else 0 end
 insert into #dbProps
    select @dbname,N'IsSingleUser',
       case when (@status & 4096)=4096 then 1 else 0 end
 insert into #dbProps
    select @dbname,N'IsEmergencyMode',
       case when (@status & 32768)=32768 then 1 else 0 end
 insert into #dbProps
    select @dbname,N'IsCleanlyShutDown',
       case when (@status & 1073741824)=1073741824 then 1 else 0 end
 select @r3users = count(distinct (spid) ) from master..sysprocesses
  where db_id(@dbname) = dbid and program_name like 'R3%'
 select @otherusers = count(distinct(spid)) from master..sysprocesses
  where  db_id(@dbname) = dbid and program_name not like 'R3%'
 select @uniqusers =  count( distinct loginame ) from
      master..sysprocesses where db_id(@dbname) = dbid
 insert into #dbProps
    select @dbname,N'R3Users',convert(nvarchar(12),@r3users)
 insert into #dbProps
    select @dbname,N'OtherUsers',convert(nvarchar(12),@otherusers)
 insert into #dbProps
    select @dbname,N'UniqueUsers',convert(nvarchar(12),@uniqusers)
 if ((@@MICROSOFTVERSION & 0xff000000) / 0x1000000) >= 9
 begin
   -- only for sql2005 or later
   set @cmd = N'select @dbname,''IsAutoUpdateStatisticsAsync'','+
     N'is_auto_update_stats_async_on from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''collation_name'','+
     N'collation_name from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_in_standby'','+
     N'is_in_standby from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_cleanly_shutdown'','+
     N'is_cleanly_shutdown from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_supplemental_logging_enabled'','+
     N'is_supplemental_logging_enabled from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''snapshot_isolation_state_desc'','+
     N'snapshot_isolation_state_desc from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_read_committed_snapshot_on'','+
     N'is_read_committed_snapshot_on from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''page_verify_option_desc'','+
     N'page_verify_option_desc from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_trustworthy_on'','+
     N'is_trustworthy_on from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_db_chaining_on'','+
     N'is_db_chaining_on from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_parameterization_forced'','+
     N'is_parameterization_forced from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_master_key_encrypted_by_server'','+
     N'is_master_key_encrypted_by_server from sys.databases where '+
     N'name =@dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_distributor'','+
     N'is_distributor from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_sync_with_backup'','+
     N'is_sync_with_backup from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_broker_enabled'','+
     N'is_broker_enabled from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
--
-- These 2 log_reuse fill up PAHI with garbage
--
--   set @cmd = N'select @dbname,''log_reuse_wait'','+
--     N'log_reuse_wait from sys.databases where name = @dbname'
--   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
--   set @cmd = N'select @dbname,''log_reuse_wait_desc'','+
--     N'log_reuse_wait_desc from sys.databases where name = @dbname'
--   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
   set @cmd = N'select @dbname,''is_date_correlation_on'','+
     N'is_date_correlation_on from sys.databases where name = @dbname'
   insert into #dbProps exec sp_executesql  @cmd,N'@dbname sysname',@dbname
 end
 fetch next from db_cursor into @dbname
 end
 close  db_cursor
 deallocate  db_cursor
--
-- retrieve the data
--
 select varName,varValue,dbName from #dbProps
--
-- delete temporary tables
--
  drop table #dbProps
end
 
GO
