USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[RMV_PROCINVASIVO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RMV_PROCINVASIVO]
AS
    SELECT SZATENDIMENTO.CODCOLIGADA,
       SZPACIENTE.PRONTUARIO,
       SUBSTRING(SZPACIENTE.NOMEPACIENTE,1,50) AS NOMEPACIENTE,
       SZATENDIMENTO.DATAENTRADA						  AS DATAINTERNACAO,
       SZATENDIMENTO.HORAENTRADA						  AS HORAINTERNACAO,
       CAST(SZREGINFCIRURGIA.DATAHORAINICIR AS DATE)	  AS DATAINICIO,
       FORMAT (SZREGINFCIRURGIA.DATAHORAINICIR, 'HHmm') AS HORAINICIO,
       CAST(SZREGINFCIRURGIA.DATAHORAFIMCIR AS DATE)      AS DATAFIM,
       FORMAT (SZREGINFCIRURGIA.DATAHORAFIMCIR, 'HHmm') AS HORAFIM,
       SZREGINFCIRURGIAPROC.CODIGOSUS                     AS TIPOPROCEDIMENTO
  FROM   SZREGINFCIRURGIAPROC(NOLOCK)
       INNER JOIN SZTECNICACIRURGICA(NOLOCK)
           ON SZREGINFCIRURGIAPROC.IDTECNICACIRURGICA = SZTECNICACIRURGICA.IDTECNICACIRURGICA
       INNER JOIN SZREGINFCIRURGIA(NOLOCK)
           ON SZREGINFCIRURGIA.CODCOLIGADA = SZREGINFCIRURGIAPROC.CODCOLIGADA
            AND SZREGINFCIRURGIA.SEQINFCIRURGIA = SZREGINFCIRURGIAPROC.SEQINFCIRURGIA
       INNER JOIN SZPARCIALATEND (NOLOCK)
           ON SZREGINFCIRURGIA.CODCOLIGADA = SZPARCIALATEND.CODCOLIGADA
            AND SZREGINFCIRURGIA.NUMEROCONTA = SZPARCIALATEND.NUMEROCONTA
            AND SZREGINFCIRURGIA.SEQUENCIALCONTA = SZPARCIALATEND.SEQUENCIALCONTA
            AND SZREGINFCIRURGIA.SEQPARCIAL = SZPARCIALATEND.SEQPARCIAL
       INNER JOIN SZATENDIMENTO(NOLOCK)
           ON SZATENDIMENTO.CODCOLIGADA = SZPARCIALATEND.CODCOLIGADA
            AND SZATENDIMENTO.NUMEROCONTA = SZPARCIALATEND.NUMEROCONTA
            AND SZATENDIMENTO.SEQUENCIALCONTA = SZPARCIALATEND.SEQUENCIALCONTA
       INNER JOIN SZPACIENTE(NOLOCK)
           ON SZPACIENTE.CODCOLIGADA = SZATENDIMENTO.CODCOLIGADA
            AND SZPACIENTE.CODPACIENTE = SZATENDIMENTO.CODPACIENTE
  WHERE  SZTECNICACIRURGICA.TIPOINTERVENCAO IN ( 1, 2 )
GO
