USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculoIndiceHorario]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculoIndiceHorario](@INDICE INT, @DATAMUDANCA VARCHAR(10), @CODHORARIO VARCHAR(10), @CODCOLIGADA VARCHAR(5))
RETURNS INT
BEGIN

	-- PARAMETROS FIXOS
	DECLARE @DATA_MUDANCA DATETIME = CONVERT(DATETIME, @DATAMUDANCA, 103);
	DECLARE @INDICEBASE INT = @INDICE;
	DECLARE @INDICE_MIN INT = (SELECT MIN(INDICE) FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO);
	DECLARE @INDICE_MAX INT = (SELECT MAX(INDICE) FROM ABATHOR WHERE CODCOLIGADA = @CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO IN (0,1,2));
	DECLARE @DATA_INICIO DATETIME = (SELECT DATABASEHOR FROM AHORARIO WHERE CODIGO = @CODHORARIO AND CODCOLIGADA = @CODCOLIGADA);
	DECLARE @DIAS INT = DATEDIFF(DAY, @DATA_INICIO, @DATA_MUDANCA);
	DECLARE @COUNT INT = 0;
	
	-- CALCULO DO INDICE
	WHILE(@COUNT < @DIAS)
	BEGIN
	
		SET @COUNT=@COUNT+1;
		SET @INDICE = @INDICE+1;
		IF(@INDICE > @INDICE_MAX) SET @INDICE = @INDICE_MIN;
		
	END
	
	RETURN @INDICE;

END
GO
