USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPARCELAPAGAMENTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XPARCELAPAGAMENTO] AS
WITH VALORES
AS
                   (SELECT
                           XPARCELACOMPONENTE.CODCOLIGADA,
                           XPARCELACOMPONENTE.NUM_VENDA,
                           XPARCELACOMPONENTE.COD_GRUPO,
                           XPARCELACOMPONENTE.COD_TIPO_PARC,
                           XPARCELACOMPONENTE.NUM_PARC,
                           XPARCELACOMPONENTE.CODCOLLAN,
                           XPARCELACOMPONENTE.IDLAN,
                           ROUND(SUM(XPARCELACOMPONENTE.VR_COMPN), 2) VRPARCELA,
                           ROUND(SUM(VR_BAIXA), 2) VRPARCELABX,
                           SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN IN (1, 2, 50, 103)
                                    THEN XPARCELACOMPONENTE.VR_COMPN
                                    ELSE 0
                               END) VRORIGINAL,
                           SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN IN (1, 2, 50, 103)
                                    THEN XPARCELACOMPONENTE.VR_BAIXA
                                    ELSE 0
                               END) VRORIGINALBX,
                           SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 3
                                    THEN XPARCELACOMPONENTE.VR_COMPN
                                    ELSE 0
                               END) VRJUROS,
                           SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 3
                                    THEN XPARCELACOMPONENTE.VR_BAIXA
                                    ELSE 0
                               END) VRJUROSBX,
                           SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 4
                                    THEN XPARCELACOMPONENTE.VR_COMPN
                                    ELSE 0
                               END) VRCM,
                           SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 4
                                    THEN XPARCELACOMPONENTE.VR_BAIXA
                                    ELSE 0
                               END) VRCMBX,
                           SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 900
                                    THEN XPARCELACOMPONENTE.VR_COMPN
                                    ELSE 0
                               END) VRDESCONTO,
                           SUM(CASE WHEN XCOMPONENTE.COD_TIPO_COMPN = 19
                                    THEN XPARCELACOMPONENTE.VR_COMPN - XPARCELACOMPONENTE.VR_BAIXA
                                    ELSE 0
                               END) VRSEGURO
                     FROM XPARCELACOMPONENTE (NOLOCK)
                          JOIN
                          XCOMPONENTE (NOLOCK)
                          ON (XCOMPONENTE.COD_COMPN = XPARCELACOMPONENTE.COD_COMPN)
                     GROUP BY
                           XPARCELACOMPONENTE.CODCOLIGADA,
                           XPARCELACOMPONENTE.NUM_VENDA,
                           XPARCELACOMPONENTE.COD_GRUPO,
                           XPARCELACOMPONENTE.COD_TIPO_PARC,
                           XPARCELACOMPONENTE.NUM_PARC,
                           XPARCELACOMPONENTE.CODCOLLAN,
                           XPARCELACOMPONENTE.IDLAN
                    ),
           XREGRAGERADORA
           AS
           (
              SELECT
                XREGRACOMPONENTEVENDA.NUM_VENDA,
                XREGRACOMPONENTEVENDA.COD_GRUPO,
                XREGRACOMPONENTEVENDA.COD_COMPN,
                XREGRACOMPONENTEVENDA.ORIGEMREGRA,
                XREGRACOMPONENTEVENDA.CODCOLNATFINANCEIRAPAG,
                XREGRACOMPONENTEVENDA.CODNATFINANCEIRAPAG,
                XREGRACOMPONENTEVENDA.CODCOLNATFINANCEIRAREC,
                XREGRACOMPONENTEVENDA.CODNATFINANCEIRAREC,
       XCOMPONENTE.COD_TIPO_COMPN,
                XCOMPONENTE.COD_TIPO_PARC
              FROM XREGRACOMPONENTEVENDA (NOLOCK) JOIN
                   XCOMPONENTE (NOLOCK)
                   ON (XCOMPONENTE.COD_COMPN = XREGRACOMPONENTEVENDA.COD_COMPN)
              WHERE (XCOMPONENTE.COD_TIPO_PARC IS NOT NULL)
           ) ,
           XITEMVENDA_PRIMEIRO
           AS
           (
             SELECT
               XITEMVENDA.NUM_VENDA,
               XITEMVENDA.COD_PESS_EMPR,
               XITEMVENDA.NUM_UNID,
               XITEMVENDA.NUM_SUB_UNID
             FROM XITEMVENDA (NOLOCK)
             WHERE XITEMVENDA.NUM_SUB_UNID IN (SELECT MIN(XITEMVENDA2.NUM_SUB_UNID)
                                               FROM XITEMVENDA XITEMVENDA2 (NOLOCK)
                                               WHERE XITEMVENDA2.NUM_VENDA = XITEMVENDA.NUM_VENDA AND
                                                     XITEMVENDA2.COD_PESS_EMPR = XITEMVENDA.COD_PESS_EMPR AND
                                                     XITEMVENDA2.NUM_UNID = XITEMVENDA.NUM_UNID
                                               )
           )
           ,
           XLANHST
           AS
           (SELECT
                   XVENDAPARCELA.CODCOLIGADA,
                   XVENDAPARCELA.NUMVENDA,
                   XVENDAPARCELA.CODGRUPO,
                   XVENDAPARCELA.CODTIPOPARC,
                   XVENDAPARCELA.NUMPARC,
                   XVENDAPARCELA.CODCOLLAN,
                   XVENDAPARCELA.IDLAN,
                   MAX(FLANHST.IDHISTORICO) IDHISTORICO
            FROM XVENDAPARCELA (NOLOCK) JOIN
                 FLANHST (NOLOCK)
                 ON XVENDAPARCELA.CODCOLLAN = FLANHST.CODCOLIGADA AND
                    XVENDAPARCELA.IDLAN = FLANHST.IDLAN
            GROUP BY
                   XVENDAPARCELA.CODCOLIGADA,
                   XVENDAPARCELA.NUMVENDA,
                   XVENDAPARCELA.CODGRUPO,
                   XVENDAPARCELA.CODTIPOPARC,
                   XVENDAPARCELA.NUMPARC,
                   XVENDAPARCELA.CODCOLLAN,
                   XVENDAPARCELA.IDLAN
           )
SELECT
   XVENDAPARCELA.CODCOLIGADA,
   XVENDAPARCELA.NUMVENDA AS NUM_VENDA,
   XVENDAPARCELA.CODGRUPO AS COD_GRUPO,
   XVENDAPARCELA.CODTIPOPARC AS COD_TIPO_PARC,
   XVENDAPARCELA.NUMPARC AS NUM_PARC,
   XVENDAPARCELA.CODCOLLAN,
   XVENDAPARCELA.IDLAN,
   DBO.XSTATUSPARCELAPAGAMENTO(FLAN.STATUSLAN, VALORES.VRPARCELA, VALORES.VRPARCELABX) AS COD_TIPO_SIT_PARC,
   COALESCE((VALORES.VRPARCELA) , 0) AS VR_PARC,
   COALESCE((VALORES.VRORIGINAL) , 0) AS VR_ORIG,
   COALESCE((VALORES.VRPARCELA - VALORES.VRPARCELABX) , 0) AS VR_SALD_DEV,
   COALESCE((VALORES.VRJUROS) , 0) AS VR_PARC_JUROS,
   COALESCE((VALORES.VRJUROS) , 0) AS VRJUROSCONTRATO,
   COALESCE((VALORES.VRCM) , 0) AS CM_ATUAL,
   COALESCE((VALORES.VRCM) , 0) AS VRCORRECAOMONETARIA,
   COALESCE((VALORES.VRDESCONTO) , 0) AS VRDESCONTO,
   COALESCE((VALORES.VRORIGINAL - VALORES.VRORIGINALBX) , 0) AS SALDOPRINCIPAL,
   COALESCE((VALORES.VRJUROS - VALORES.VRJUROSBX) , 0) AS SALDOJUROS,
   COALESCE((VALORES.VRCM - VALORES.VRCMBX) , 0) AS SALDOCM,
   COALESCE(((VALORES.VRPARCELA - (VALORES.VRORIGINAL +
                                               VALORES.VRJUROS +
                                               VALORES.VRCM)) -
             (VALORES.VRPARCELABX - (VALORES.VRORIGINALBX +
                                                 VALORES.VRJUROSBX +
                                                 VALORES.VRCMBX))) , 0) AS SALDOOUTROS,
   COALESCE((VALORES.VRPARCELABX) , 0) AS VRBAIXADO,
   COALESCE((VALORES.VRPARCELA) , 0) AS VR_BASE,
   COALESCE((VALORES.VRPARCELA) , 0) AS VR_BASE_RESIDUO,
   COALESCE((VALORES.VRSEGURO) , 0) AS VR_SEG,
   FLAN.DATAVENCIMENTO AS DAT_VCTO,
   CASE WHEN FLAN.STATUSLAN = 0 OR FLAN.STATUSLAN = 4
                   AND DBO.XSTATUSPARCELAPAGAMENTO(FLAN.STATUSLAN, VALORES.VRPARCELA, VALORES.VRPARCELABX) = 2
             THEN (SELECT COALESCE(FB1.DATACHEQUE, FB1.DATABAIXA)
                    FROM FLANBAIXA FB1 (NOLOCK)
                    WHERE FB1.CODCOLIGADA = XVENDAPARCELA.CODCOLIGADA AND
                          FB1.IDLAN = XVENDAPARCELA.IDLAN AND
                          FB1.STATUS IN(0,4) AND
                          FB1.IDBAIXA = (SELECT MAX(FB2.IDBAIXA)
                                         FROM FLANBAIXA FB2 (NOLOCK)
                                         WHERE FB2.CODCOLIGADA = FB1.CODCOLIGADA AND
                                               FB2.IDLAN = FB1.IDLAN AND
                                               FB2.STATUS IN (0,4)))
             WHEN FLAN.STATUSLAN = 1 OR FLAN.STATUSLAN = 3 OR FLAN.STATUSLAN = 5
             THEN FLAN.DATABAIXA
             ELSE NULL
       END DAT_LIQ_PARC,
   FLAN.DATACANCELAMENTO AS DATACANCELAMENTO,
   FLAN.DATAEMISSAO AS DATA_EMISSAO,
   FBOLETO.RECCREATEDON AS DATGERACAOBOLETO,
   FLAN.CODCCUSTO,
   FLAN.CODDEPARTAMENTO,
   FLAN.CODTB1FLX,
   FLAN.CODTB2FLX,
   FLAN.CODTB3FLX,
   FLAN.CODTB4FLX,
   FLAN.CODTB5FLX,
   XITEMVENDA_PRIMEIRO.COD_PESS_EMPR,
   XITEMVENDA_PRIMEIRO.NUM_UNID,
   XITEMVENDA_PRIMEIRO.NUM_SUB_UNID,
   XVENDAPARCELA.DATULTREAJUSTE,
   XVENDAPARCELA.DATAGERRES AS DATA_GER_RES,
   XVENDAPARCELA.RESIDUO,
   XVENDAPARCELA.RESIDUOCORRIGIDO AS RESIDUO_CORRIGIDO,
   XVENDAPARCELA.CODGRUPORESIDUO AS COD_GRUPO_RESIDUO,
   XVENDAPARCELA.RESIDUOVENCPAGA AS RESIDUO_VENC_PAGA,
   XVENDAPARCELA.RESIDUOCMAPOS AS RESIDUO_CM_APOS,
   XVENDAPARCELA.RESIDUOCMANTES AS RESIDUO_CM_ANTES,
   XVENDAPARCELA.RESIDUOJUROSAPOS AS RESIDUO_JUROS_APOS,
   XVENDAPARCELA.RESIDUOJUROSANTES AS RESIDUO_JUROS_ANTES,
   XVENDAPARCELA.VRCUSTODIF AS VR_CUSTO_DIF,
   XVENDAPARCELA.NUMNOTAPROMISSORIA AS NUM_NOTA_PROMISSORIA,
   XVENDAPARCELA.ANOIPTU AS ANO_IPTU,
   XVENDAPARCELA.CODTIPORECEITA AS COD_TIPO_RECEITA,
   XVENDAPARCELA.CODTIPOBEN AS COD_TIPO_BEN,
   XVENDAPARCELA.CODBEN AS COD_BEN,
   XVENDAPARCELA.NUMADITPAI,
   XVENDAPARCELA.NUMADITCANCEL,
   XVENDAPARCELA.IGNORARREAJUSTE,
   XVENDAPARCELA.CODSITOPRL AS COD_SIT_OPRL,
   XVENDAPARCELA.IDOPERACAOSEGUROPRESTAMISTA,
   CAST(NULL AS DATETIME) AS DAT_VCTO_ORIG,
   CAST(NULL AS NUMERIC(15,4)) AS JUROS_ACM,
   CAST(NULL AS NUMERIC(10,0)) AS IDREFINANCIAMENTO,
   CAST(NULL AS NUMERIC(15,4)) AS VR_LIQ_ANT,
   CAST(NULL AS NUMERIC(10,0)) AS MES_PARC,
   CAST(NULL AS NUMERIC(10,0)) AS FLAG_REPAC,
   CAST(NULL AS DATETIME) AS DATAPRE01,
   CAST(NULL AS DATETIME) AS DATAPRE02,
   CAST(NULL AS NUMERIC(5,0)) AS JAIMPRIMIU,
   CAST(NULL AS VARCHAR(3)) AS NUMBANCO,
   CAST(NULL AS VARCHAR(6)) AS NUMAGENCIA,
   CAST(NULL AS VARCHAR(15)) AS NUMCONTA,
   CAST(NULL AS VARCHAR(20)) AS NUMCHEQUE,
   CAST(NULL AS VARCHAR(5)) AS NUMPARCELAPARCIAL,
   CAST(NULL AS NUMERIC(10,0)) AS IDNUMPARCELA,
   CAST(NULL AS TEXT) AS DESCRICAOCANCELAMENTO,
   CAST(NULL AS NUMERIC(10,0)) AS IDMOTIVO,
   CAST(NULL AS NUMERIC(5,0)) AS CODCOLMOTIVO,
   CAST(NULL AS VARCHAR(255)) AS HISTORICO,
   CAST(NULL AS NUMERIC(10,0)) AS IDLANFILHO,
   FLANHST.MEMORIACALCULO AS MEMOCALCULO,
   XREGRAGERADORA.CODCOLNATFINANCEIRAPAG,
   XREGRAGERADORA.CODNATFINANCEIRAPAG,
   XREGRAGERADORA.CODCOLNATFINANCEIRAREC,
   XREGRAGERADORA.CODNATFINANCEIRAREC,
   FLAN.CODFILIAL,
   FLAN.CODCOLCFO,
   FLAN.CODCFO,
   XREGRAGERADORA.ORIGEMREGRA AS ORIGEMPARCELA,
   (CASE (SELECT MAX(FLANBAIXA.STATUS)
          FROM FLANBAIXA (NOLOCK) JOIN
               FLAN (NOLOCK)
               ON FLAN.CODCOLIGADA = FLANBAIXA.CODCOLIGADA AND
                  FLAN.IDLAN = FLANBAIXA.IDLAN
          WHERE FLANBAIXA.CODCOLIGADA = XVENDAPARCELA.CODCOLIGADA AND
                FLANBAIXA.IDLAN = XVENDAPARCELA.IDLAN AND
               (FLAN.STATUSEXTRATO = 7 OR FLAN.STATUSEXTRATO = 12)
          )
          WHEN 4 THEN 1
          WHEN 0 THEN 2
                 ELSE 0
      END) AS CHEQUEASSOCIADO,
   FLAN.RECMODIFIEDBY AS COD_PESS_ULT_MNT,
   FLAN.RECMODIFIEDON AS DAT_ULT_MNT,
   FLAN.RECCREATEDBY,
   FLAN.RECCREATEDON,
   FLAN.RECMODIFIEDBY,
   FLAN.RECMODIFIEDON
   FROM XVENDAPARCELA (NOLOCK)
        JOIN
        FLAN (NOLOCK)
        ON (FLAN.CODCOLIGADA = XVENDAPARCELA.CODCOLLAN) AND
           (FLAN.IDLAN = XVENDAPARCELA.IDLAN)
        JOIN
        VALORES
        ON (XVENDAPARCELA.CODCOLIGADA = VALORES.CODCOLIGADA) AND
           (XVENDAPARCELA.NUMVENDA = VALORES.NUM_VENDA) AND
           (XVENDAPARCELA.CODGRUPO = VALORES.COD_GRUPO) AND
           (XVENDAPARCELA.CODTIPOPARC = VALORES.COD_TIPO_PARC) AND
           (XVENDAPARCELA.NUMPARC = VALORES.NUM_PARC) AND
           (XVENDAPARCELA.CODCOLLAN = VALORES.CODCOLLAN) AND
           (XVENDAPARCELA.IDLAN = VALORES.IDLAN)
        LEFT JOIN
        XITEMVENDA_PRIMEIRO
        ON (XITEMVENDA_PRIMEIRO.NUM_VENDA = XVENDAPARCELA.NUMVENDA)
        LEFT JOIN
        XREGRAGERADORA
        ON (XVENDAPARCELA.NUMVENDA = XREGRAGERADORA.NUM_VENDA) AND
           (XVENDAPARCELA.CODGRUPO = XREGRAGERADORA.COD_GRUPO) AND
           (XVENDAPARCELA.CODTIPOPARC = XREGRAGERADORA.COD_TIPO_PARC)
        LEFT JOIN
        XLANHST
        ON (XVENDAPARCELA.CODCOLIGADA =  XLANHST.CODCOLIGADA) AND
           (XVENDAPARCELA.NUMVENDA =  XLANHST.NUMVENDA) AND
           (XVENDAPARCELA.CODGRUPO =  XLANHST.CODGRUPO) AND
           (XVENDAPARCELA.CODTIPOPARC =  XLANHST.CODTIPOPARC) AND
           (XVENDAPARCELA.NUMPARC =  XLANHST.NUMPARC) AND
           (XVENDAPARCELA.CODCOLLAN =  XLANHST.CODCOLLAN) AND
           (XVENDAPARCELA.IDLAN =  XLANHST.IDLAN)
        LEFT JOIN
        FLANHST (NOLOCK)
        ON (FLANHST.CODCOLIGADA = XLANHST.CODCOLLAN) AND
           (FLANHST.IDLAN = XLANHST.IDLAN) AND
           (FLANHST.IDHISTORICO = XLANHST.IDHISTORICO)
        LEFT JOIN
        FBOLETO (NOLOCK)
        ON (FBOLETO.CODCOLIGADA = FLAN.CODCOLIGADA) AND
           (FBOLETO.IDBOLETO = FLAN.IDBOLETO)
GO
