USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbszhist]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_dbszhist]
  @db_name sysname = null,
  @obj_schema sysname = null,
  @from_dt datetime = null,
  @to_dt   datetime = null
AS
begin
  declare @stmt       nvarchar(max)
  declare @par        nvarchar(200)
  set nocount on
  create table #coll
   (
     TIMESTMP    datetime ,
     obj_name    varchar(128) ,
     cntr_name   varchar(128) ,
     INST_NAME   varchar(128) ,
     CNTR_VALUE  bigint ,
     SLOPE       float
   )
  if @db_name is null or @db_name = N''
    select @db_name = DB_NAME()
  if @obj_schema is null or @obj_schema = N''
     select @obj_schema = schema_name(schema_id) from sys.objects
     where object_id = @@PROCID
  if @to_dt is null or @to_dt = N''
    set @to_dt = GETDATE()
  if @from_dt is null or @from_dt = N''
    set @from_dt = DATEADD(YEAR,-3,@to_dt)
  set @stmt = N'exec [' + @obj_schema + N'].sap_coll_list '+
              N'@obj_schema,@cclass,@from_dt,@to_dt,@step,@stepunit'
  set @par = N'@obj_schema sysname,@cclass char(1),'+
             N'@from_dt datetime,@to_dt datetime,@step int,@stepunit char(1)'
  insert into #coll
    exec sp_executesql @stmt,@par,
       @obj_schema,'s',@from_dt,@to_dt,1,'D'
  /*--- Dynamically construct SELECT statement with PIVOT clause ----*/
  set @stmt = N'select sampledate,sampletime,dbname,' +
  N'"Database size[MB] ' + @db_name + N'",' +
  N'"Used[MB] ' + @db_name + N'",' +
  N'"Log size[MB] ' + @db_name + N'",' +
  N'"Log allocated[MB] ' + @db_name + N'",' +
  N'"Reserved[MB] ' + @db_name + N'" * 1024 as reservedKB,' +
  N'"# of tables ' + @db_name + N'",' +
  N'"Table data size[MB] ' + @db_name + N'" * 1024 as tabdataKB,' +
  N'"# of indexes ' + @db_name + N'",' +
  N'"Index data size[MB] ' + @db_name + N'" * 1024 as inddataKB,' +
  N'"Unused[MB] ' + @db_name + N'" * 1024 as UnusedKB,' +
  N'"# of procedures ' + @db_name + N'"' +
  N'from ' +
  N'(select '+
  N'convert(nchar(8),TIMESTMP,112) as sampledate,'+
  N'replace(convert(nvarchar(8),TIMESTMP,8),N'':'',N'''') as sampletime,' +
  N'''' + @db_name +
  N''' as dbname,(cntr_name + '' '' + INST_NAME) AS [Counter],' +
  N'cast(SLOPE AS bigint) AS [Value] from #coll) t ' +
  N'PIVOT (' +
  N'MAX([Value]) FOR [Counter] IN ('
  set @stmt = @stmt + N'"Database size[MB] ' + @db_name + N'",'
  set @stmt = @stmt + N'"Used[MB] ' + @db_name + N'",'
  set @stmt = @stmt + N'"Log size[MB] ' + @db_name + N'",'
  set @stmt = @stmt + N'"Log allocated[MB] ' + @db_name + N'",'
  set @stmt = @stmt + N'"Reserved[MB] ' + @db_name + N'",'
  set @stmt = @stmt + N'"# of tables ' + @db_name + N'",'
  set @stmt = @stmt + N'"Table data size[MB] ' + @db_name + N'",'
  set @stmt = @stmt + N'"# of indexes ' + @db_name + N'",'
  set @stmt = @stmt + N'"Index data size[MB] ' + @db_name + N'",'
  set @stmt = @stmt + N'"Unused[MB] ' + @db_name + N'",'
  set @stmt = @stmt + N'"# of procedures ' + @db_name + N'"'
  set @stmt = @stmt + N') ) AS PVT ORDER BY sampledate desc'
  /*--- Execute the select statement and clean-up temp table --------*/
  --print @stmt
  exec(@stmt)
  drop table #coll
end
 
GO
