USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZPROCEDIMENTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZPROCEDIMENTO] AS
WITH
  BASE AS (
    SELECT DISTINCT
      CODCOLIGADA,
      CODESPECIALIDADE,
      CODGRUPOITENS,
      CODITEM
    FROM SZTABPROCSERV (NOLOCK)
  ),
  DISTINTOS AS (
    SELECT
      BASE.*,
      ( SELECT TOP 1
          SZTABPROCSERV.CODTABELA
        FROM SZTABPROCSERV (NOLOCK)
        WHERE SZTABPROCSERV.CODCOLIGADA      = BASE.CODCOLIGADA
          AND SZTABPROCSERV.CODESPECIALIDADE = BASE.CODESPECIALIDADE
          AND SZTABPROCSERV.CODGRUPOITENS    = BASE.CODGRUPOITENS
          AND SZTABPROCSERV.CODITEM          = BASE.CODITEM
      ) AS CODTABELA
    FROM BASE
  )
SELECT
  SZTABPROCSERV.CODESPECIALIDADE + SZTABPROCSERV.CODGRUPOITENS + SZTABPROCSERV.CODITEM AS CODPROCEDIMENTO,
  SZTABPROCSERV.*
FROM DISTINTOS
JOIN SZTABPROCSERV (NOLOCK)
  ON  SZTABPROCSERV.CODCOLIGADA      = DISTINTOS.CODCOLIGADA
  AND SZTABPROCSERV.CODESPECIALIDADE = DISTINTOS.CODESPECIALIDADE
  AND SZTABPROCSERV.CODGRUPOITENS    = DISTINTOS.CODGRUPOITENS
  AND SZTABPROCSERV.CODITEM          = DISTINTOS.CODITEM
  AND SZTABPROCSERV.CODTABELA        = DISTINTOS.CODTABELA
GO
