USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[MABCCOMPOSICAO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[MABCCOMPOSICAO] AS
SELECT * FROM MABCCOMPOSICAOTRF
WHERE TIPOPLANILHA = 0 AND IDCENARIO = 0
GO
