USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_atomic_defaultbind]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_atomic_defaultbind]
  @defaultval nvarchar(96),
  @tabname sysname,
  @fieldname sysname
as
BEGIN
set nocount on
-- declare local variables
declare @length int
declare @defaultname sysname
declare @cmd nvarchar(256)
-- get the length of the default value
select @length = datalength(@defaultval) / 2
-- determine the default name
select @defaultname =
  case
    when (@defaultval = N' ' and @length = 1)
      then N'str_default'
    when (@defaultval = N'' and @length = 0)
      then N'empstr_default'
    when (@defaultval = N'0')
      then case
        when (select t.name
                from dbo.sysobjects o, dbo.syscolumns c, dbo.systypes t
                  where o.id = object_id(user+'.'+@tabname,'U')
                    and c.id = o.id
                    and c.name = @fieldname
                    and t.xusertype = c.xusertype) like N'%varchar'
          then N'numc1_default'
          else N'num_default'
      end
    when (@defaultval = N'0X00' or @defaultval = N'0x00')
      then N'raw_default'     -- not used
    when (@defaultval = N'0X8000000000000000' or
          @defaultval = N'0x8000000000000000')
      then N'df16_raw_default'
    when (@defaultval = N'0X80000000000000000000000000000000' or
          @defaultval = N'0x80000000000000000000000000000000')
      then N'df34_raw_default'
    else (N'numc' + convert(nvarchar,@length) + N'_default')
  end
-- bind the default
select @cmd = N'sp_bindefault ' + @defaultname + N', [' +
              @tabname + N'.' + @fieldname + N']'
exec( @cmd )
END
 
GO
