USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VIEW_BW_TB_VPROFISSIONALSAUDE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_BW_TB_VPROFISSIONALSAUDE]
AS
	SELECT CODIGO           = VPS.CODIGO
		 , NOMEPROFISSIONAL = VPS.NOMEPROFISSIONAL
		 , NUMEROREGISTRO   = REPLACE(CONVERT(VARCHAR(15),(dbo.FNC_BW_LIMPATEXTO(VPS.NUMEROREGISTRO))),'.0000','')
		 , CODUFREGISTRO    = VPS.CODUFREGISTRO 
		 , CODORGAOCLASSE   = VPS.CODORGAOCLASSE
		 , CPF              = VPS.CPF
	  FROM VPROFISSIONALSAUDE VPS
	 WHERE VPS.NOMEPROFISSIONAL IS NOT NULL
GO
