USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSLOGRADOUROS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSLOGRADOUROS] AS
	SELECT CODTIPOLOGRADOURO, DESCRICAO
	FROM SZANSTIPOLOGRADOURO
	GROUP BY CODTIPOLOGRADOURO, DESCRICAO
GO
