USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[Stp_RetornaDadosColaborador]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Stp_RetornaDadosColaborador]
( @CPF VARCHAR(11) = NULL
)
AS
BEGIN

	   
SELECT A.CPF
     , CODIGO = IsNull(A.CODIGO, '')
     , CHAPA  = IsNull(B.CHAPA, '')
  FROM PPESSOA AS A INNER JOIN PFUNC AS B ON
       A.CODIGO = B.CODPESSOA       
 WHERE IsNull(@CPF, A.CPF) = A.CPF	   
	   
END
GO
