USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPIVIEWQTPESSOAPROPSTAVENDIDA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XPIVIEWQTPESSOAPROPSTAVENDIDA]
AS
  SELECT PESSOA_ID,
         COUNT(*) AS QUANTIDADE_VENDAS
  FROM   XPIPROPOSTA
         JOIN XPIPESSOA_PROPOSTA
           ON XPIPESSOA_PROPOSTA.PROPOSTA_ID = XPIPROPOSTA.ID
  WHERE  XPIPROPOSTA.SITUACAOPROPOSTA_ID = 7
  GROUP  BY PESSOA_ID
GO
