USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_REL_SIMPRESS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_REL_SIMPRESS] AS

SELECT PP.CPF,
	   PF.CHAPA,
       PF.NOME,  
       PS.NROCENCUSTOCONT
FROM PPESSOA PP
INNER JOIN PFUNC PF ON PF.CODPESSOA = PP.CODIGO 
INNER JOIN PFUNCAO PFU ON (((PF.CODCOLIGADA = PFU.CODCOLIGADA) AND (PF.CODFUNCAO = PFU.CODIGO)))
INNER JOIN PSECAO PS ON (((PF.CODCOLIGADA = PS.CODCOLIGADA) AND (PF.CODSECAO = PS.CODIGO)))
INNER JOIN PCCUSTO PC ON PC.CODCOLIGADA = PS.CODCOLIGADA AND PC.CODCCUSTO = PS.NROCENCUSTOCONT
WHERE  PF.CODSITUACAO <> 'D' AND PF.CODCOLIGADA IN ('01','04','05')
GO
