USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_PWI_EVE_S2200_ESOCIAL]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_PWI_EVE_S2200_ESOCIAL] AS
SELECT E.CODCOLIGADA COD_COLIGADA,
TSS.STATUS TSS_STATUS,
C9V.C9V_STATUS,
F.CHAPA CHAPA, 
F.MATRICULAESOCIAL,
C9V_NOMEVE EVENTO, 
P.NOME NOMEPESSOA,
CASE WHEN SUBSTRING (REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE (REPLACE (SUBSTRING(CONVERT(VARCHAR(8000), TSS.XMLRET),694,8000),'><ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''),'><ocorrencias><ocorrencia><tipo>3</tipo><codigo>',''),'<ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''), 'ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''),'<ocorrencias><ocorrencia><tipo>3</tipo><codigo>',''),'correncias><ocorrencia><tipo>1</tipo><codigo>',''),'orrencias><ocorrencia><tipo>1</tipo><codigo>',''),1,1) NOT IN ('0','1','2','3','4','5','6','7','8','9',' ') THEN SUBSTRING (REPLACE(REPLACE(REPLACE(REPLACE (REPLACE (REPLACE (REPLACE (SUBSTRING(CONVERT(VARCHAR(8000), TSS.XMLRET),694,8000),'><ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''),'<ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''),'ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''),'><ocorrencias><ocorrencia><tipo>3</tipo><codigo>',''),'<ocorrencias><ocorrencia><tipo>3</tipo><codigo>',''),'correncias><ocorrencia><tipo>1</tipo><codigo>',''),'orrencias><ocorrencia><tipo>1</tipo><codigo>','') ,2,3) 
WHEN SUBSTRING (REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE (REPLACE (SUBSTRING(CONVERT(VARCHAR(8000), TSS.XMLRET),694,8000),'><ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''),'><ocorrencias><ocorrencia><tipo>3</tipo><codigo>',''),'<ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''), 'ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''),'<ocorrencias><ocorrencia><tipo>3</tipo><codigo>',''),'correncias><ocorrencia><tipo>1</tipo><codigo>',''),'orrencias><ocorrencia><tipo>1</tipo><codigo>',''),1,1) IN ('0','1','2','3','4','5','6','7','8','9') THEN SUBSTRING (REPLACE(REPLACE(REPLACE(REPLACE (REPLACE (REPLACE (REPLACE (SUBSTRING(CONVERT(VARCHAR(8000), TSS.XMLRET),694,8000),'><ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''),'<ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''),'ocorrencias><ocorrencia><tipo>1</tipo><codigo>',''),'><ocorrencias><ocorrencia><tipo>3</tipo><codigo>',''),'<ocorrencias><ocorrencia><tipo>3</tipo><codigo>',''),'correncias><ocorrencia><tipo>1</tipo><codigo>',''),'orrencias><ocorrencia><tipo>1</tipo><codigo>','') ,1,3)
END COD_ERRO
FROM TSS.dbo.SPED400 TSS WITH(NOLOCK) 
INNER JOIN TAF.dbo.[C9V010] C9V WITH(NOLOCK) ON TSS.ID = C9V.C9V_NOMEVE+C9V.C9V_ID+ C9V.C9V_VERSAO
INNER JOIN PPESSOA P WITH(NOLOCK) ON C9V.C9V_CPF = P.CPF COLLATE SQL_Latin1_General_CP1_CI_AI
INNER JOIN PFUNC F WITH(NOLOCK) ON F.CODPESSOA = P.CODIGO
INNER JOIN PESOCIALEVENTOS E WITH(NOLOCK) ON E.CODCOLIGADA = F.CODCOLIGADA
AND E.CHAPA = F.CHAPA
AND E.TIPOEVENTO IN ('S-2200','S-2300')
GO
