USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_FormacaoAcademica]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW [dbo].[VW_FormacaoAcademica] AS

select	 [Nome]						= pes.nome
		,[CPF]						= pes.cpf
		,[Cod_Situacao]				= fun.codsituacao
		,[Nome_Situacao]			= sit.descricao
		,[Cod_Curso]				= acad.codformacad
		,[Nome_Instituicao]			= case when acad.codentidade is not null then instituto.nomefantasia else acad.nomeentidade end
		,[Cod_Instituicao]			= acad.codentidade
		,[Nome_Curso]				= case when curso.nome is not null then curso.nome else acad.outrocurso end
		,[Dt_Inicio]				= acad.dtinicio
		,[Dt_Conclusao]				= acad.dttermino
		,[Grau_Escolaridade]		= grau_inst.descricao
		,[Cod_Grau_Escolaridade]	= acad.codgrau
		,[Cod_Andamento]			= acad.andamento
		,[Nome_Andamento]			= case when acad.andamento = 'A' then 'Em Andamento'
										   when acad.andamento = 'C' then 'Concluído'
										   when acad.andamento = 'I' then 'Interrompido'
										   when acad.andamento = 'T' then 'Trancado'
									  end

 from	ppessoa pes
  join	vformacaoacad acad
   on	acad.codpessoa = pes.codigo
  left join	vcursoacad curso
   on	curso.codcurso = acad.codcurso
  left join	ventidades instituto
   on	instituto.codentidade = acad.codentidade
  left join	vgrauinstrucao grau_inst
   on	grau_inst.codgrau = acad.codgrau
  join	pfunc fun
   on	fun.codpessoa = pes.codigo
  join	pcodsituacao sit
   on	sit.codcliente = fun.codsituacao

union all

select	 [Nome]						= pes.nome
		,[CPF]						= pes.cpf
		,[Cod_Situacao]				= fun.codsituacao
		,[Nome_Situacao]			= sit.descricao
		,[Cod_Curso]				= acad.codformadic
		,[Nome_Instituicao]			= case when acad.codentidade is not null then instituto.nomefantasia else acad.nomeentidade end
		,[Cod_Instituicao]			= acad.codentidade
		,[Nome_Curso]				= acad.nomecurso
		,[Dt_Inicio]				= acad.dtinicio
		,[Dt_Conclusao]				= acad.dttermino
		,[Grau_Escolaridade]		= grau_inst.descricao
		,[Cod_Grau_Escolaridade]	= acad.codclassifformadic
		,[Cod_Andamento]			= null
		,[Nome_Andamento]			= null

 from	ppessoa pes
  join	vformacaoadic acad
   on	acad.codpessoa = pes.codigo
  left join	ventidades instituto
   on	instituto.codentidade = acad.codentidade
  left join	vclassifformadic grau_inst
   on	grau_inst.codclassifformadic = acad.codclassifformadic
  join	pfunc fun
   on	fun.codpessoa = pes.codigo
  join	pcodsituacao sit
   on	sit.codcliente = fun.codsituacao
GO
