USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[HATENDIMENTOEXT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HATENDIMENTOEXT]
AS
SELECT HATENDIMENTOBASE.CODCOLIGADA
	,HATENDIMENTOBASE.CODLOCAL
	,HATENDIMENTOBASE.CODATENDIMENTO
	,HATENDIMENTOBASE.CODCOLIGPRD
	,HATENDIMENTOBASE.CODATENDENTERESP
	,HATENDIMENTOBASE.CODPRODUTO
	,HATENDIMENTOBASE.CODITEMPRD
	,HATENDIMENTOBASE.ABERTURA
	,HATENDIMENTOBASE.CODCOLIGADACAMPANHA
	,HATENDIMENTOBASE.CODCAMPANHA
	,HATENDIMENTOBASE.FECHAMENTO
	,HATENDIMENTOBASE.PRAZOLIMITE
	,HATENDIMENTOBASE.CODRPR
	,HATENDIMENTOBASE.CODATENDENTE
	,HATENDIMENTOBASE.CODCLASSIFICACAO
	,HATENDIMENTOBASE.DIASSITUACAOCLIENTE
	,HATENDIMENTOBASE.TIPOCONTATO
	,HATENDIMENTOBASE.ORIGEMCONTATO
	,HATENDIMENTOBASE.CAIXAPOSTAL
	,HATENDIMENTOBASE.CODATENDIMENTOANT
	,HATENDIMENTOBASE.SOLICITANTE
	,HATENDIMENTOBASE.CODCOLIGADARPR
	,HATENDIMENTOBASE.ALERTADISPARADO
	,HATENDIMENTOBASE.TERMINOCONVERSACAO
	,HATENDIMENTOBASE.AVALIACAO
	,HATENDIMENTOBASE.CODSTATUS
	,HATENDIMENTOBASE.AGENDADOPARA
	,HATENDIMENTOBASE.PRIORIDADE
	,HATENDIMENTOBASE.CODCOLIGADAALARME
	,HATENDIMENTOBASE.CODATENDALARME
	,HATENDIMENTOBASE.DATAALARME
	,HATENDIMENTOBASE.DATAULTIMOREPASSE
	,HATENDIMENTOBASE.CODFAQ
	,HATENDIMENTOBASE.CLIENTESATISFEITO
	,HATENDIMENTOBASE.CODMOTIVOINSATISFACAO
	,HATENDIMENTOBASE.CODSECAO
	,HATENDIMENTOBASE.PRIMEIROCONTATO
	,HATENDIMENTOBASE.NUMAGENDAMENTOS
	,HATENDIMENTOBASE.CODCATEGORIAGERAL
	,HATENDIMENTOBASE.TOTALCAIXAPOSTAL
	,HATENDIMENTOBASE.ASSUNTOOC
	,HATENDIMENTOBASE.DATAPESQUISA
	,HATENDIMENTOBASE.AGUARDANDO3
	,HATENDIMENTOBASE.ID
	,HATENDIMENTOBASE.CODCOLIGADACONC
	,HATENDIMENTOBASE.CODATENDENTECONC
	,HATENDIMENTOBASE.CODCOLIGADARESP
	,HATENDIMENTOBASE.PRAZOLIMITEANTERIOR
	,HATENDIMENTOBASE.AGENDADOPARAANTERIOR
	,HATENDIMENTOBASE.IDCONTATORPR
	,HATENDIMENTOBASE.PCTPRONTO
	,HATENDIMENTOBASE.HORASMINUTOS
	,HATENDIMENTOBASE.CODCOLIGMODULO
	,HATENDIMENTOBASE.CODMODULO
	,HATENDIMENTOBASE.IDCONTATO
	,HATENDIMENTOBASE.DATAINICIOREAL
	,HATENDIMENTOBASE.NUMHORASPREVISTAS
	,HATENDIMENTOBASE.DATAFIMPREV
	,HATENDIMENTOBASE.DATAFIMREAL
	,HATENDIMENTOBASE.NUMHORASREALIZADAS
	,HATENDIMENTOBASE.GRAUDIFICULDADE
	,HATENDIMENTOBASE.SUCESSORA
	,HATENDIMENTOBASE.CODCOLIGADAFAQ
	,HATENDIMENTOBASE.DATAPROXALARME
	,HATENDIMENTOBASE.NIVELACESSO
	,HATENDIMENTOBASE.CODTIPOATENDIMENTO
	,HATENDIMENTOBASE.CODCOLIGADAEXEC
	,HATENDIMENTOBASE.CODATENDENTEEXEC
	,HATENDIMENTOBASE.CODGRUPOATENDIMENTO
	,HATENDIMENTOBASE.CODTAREFA
	,HATENDIMENTOBASE.CODTAREFAANTERIOR
	,HATENDIMENTOBASE.CODLOCALENTREGA
	,HATENDIMENTOBASE.NUMENTENDIMENTOREPROVADO
	,HCLIENTEATENDIMENTO.CODPESSOA
	,HCLIENTEATENDIMENTO.COLIGADACLIENTE AS CODCOLIGADACLI
	,HCLIENTEATENDIMENTO.CODCLIENTE AS CODCFO
	,HCLIENTEATENDIMENTO.COLIGADAPROSPECT
	,HCLIENTEATENDIMENTO.CODPROSPECT
	,HCLIENTEATENDIMENTO.COLIGADAALUNO
	,HCLIENTEATENDIMENTO.RAALUNO
	,HCLIENTEATENDIMENTO.COLIGADAPROFESSOR
	,HCLIENTEATENDIMENTO.CODPROFESSOR
	,(
		CASE
			WHEN HCLIENTEATENDIMENTO.TIPO = 'P'
				THEN (
						SELECT PPESSOA.NOME
						FROM PPESSOA  WITH (NOLOCK)
						WHERE PPESSOA.CODIGO = HCLIENTEATENDIMENTO.CODPESSOA
						)
			WHEN HCLIENTEATENDIMENTO.TIPO = 'C'
				THEN (
						SELECT FCFO.NOME
						FROM FCFO  WITH (NOLOCK)
						WHERE FCFO.CODCOLIGADA = HCLIENTEATENDIMENTO.COLIGADACLIENTE
							AND FCFO.CODCFO = HCLIENTEATENDIMENTO.CODCLIENTE
						)
			WHEN HCLIENTEATENDIMENTO.TIPO = 'T'
				THEN (
						SELECT HPROSPECT.NOME
						FROM HPROSPECT  WITH (NOLOCK)
						WHERE HPROSPECT.CODCOLIGADA = HCLIENTEATENDIMENTO.COLIGADAPROSPECT
							AND HPROSPECT.CODPROSPECT = HCLIENTEATENDIMENTO.CODPROSPECT
						)
			WHEN HCLIENTEATENDIMENTO.TIPO = 'A'
				THEN (
						SELECT PPESSOA.NOME
						FROM SALUNO  WITH (NOLOCK)
						INNER JOIN PPESSOA  WITH (NOLOCK) ON (SALUNO.CODPESSOA = PPESSOA.CODIGO)
						WHERE SALUNO.CODCOLIGADA = HCLIENTEATENDIMENTO.COLIGADAALUNO
							AND SALUNO.RA = HCLIENTEATENDIMENTO.RAALUNO
						)
			WHEN HCLIENTEATENDIMENTO.TIPO = 'R'
				THEN (
						SELECT PPESSOA.NOME
						FROM SPROFESSOR  WITH (NOLOCK)
						INNER JOIN PPESSOA  WITH (NOLOCK) ON (SPROFESSOR.CODPESSOA = PPESSOA.CODIGO)
						WHERE SPROFESSOR.CODCOLIGADA = HCLIENTEATENDIMENTO.COLIGADAPROFESSOR
							AND SPROFESSOR.CODPROF = HCLIENTEATENDIMENTO.CODPROFESSOR
						)
			END
		) AS NOME
FROM HATENDIMENTOBASE
LEFT OUTER JOIN HCLIENTEATENDIMENTO ON (
		HATENDIMENTOBASE.CODCOLIGADA = HCLIENTEATENDIMENTO.CODCOLIGADA
		AND HATENDIMENTOBASE.CODATENDIMENTO = HCLIENTEATENDIMENTO.CODATENDIMENTO
		AND HATENDIMENTOBASE.CODLOCAL = HCLIENTEATENDIMENTO.CODLOCAL
		)
GO
