USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW011]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SAVW011]
AS
SELECT	DISTINCT A.CODCOLIGADA, B.STATUS GLOSADO, A.STATUSAUDITORIA2 REVISADA, D.GLOSAEFETUADA, A.CODPRESTADOR PRESTADOR, A.CODCONVENIO COMPRADOR, A.SEQPARCIAL,
A.NUMEROREMESSA REMESSA, B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITOSADT SDEBITO, B.CODGGASTO, B.CODESPECIALIDADE+B.CODGRUPOITENS+B.CODITEM CODITEM, B.CODPRESTADOR, D.TIPO
FROM 	SZPARCIALATEND A, SZATENDSADT B, SZCONTROLREPASSE D 
WHERE	A.CODCOLIGADA = B.CODCOLIGADA AND A.NUMEROCONTA = B.NUMEROCONTA AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA AND A.SEQPARCIAL = B.SEQPARCIAL
AND B.NUMEROCONTA = D.NUMEROCONTA AND B.SEQUENCIALCONTA = D.SEQUENCIALCONTA AND B.CODCOLIGADA = D.CODCOLIGADA
AND B.SEQDEBITOSADT = D.SEQDEBITO
UNION
SELECT	DISTINCT A.CODCOLIGADA, B.STATUS GLOSADO, A.STATUSAUDITORIA2 REVISADA, D.GLOSAEFETUADA, A.CODPRESTADOR PRESTADOR, A.CODCONVENIO COMPRADOR, A.SEQPARCIAL,
A.NUMEROREMESSA REMESSA, B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITOHM SDEBITO, B.CODGGASTO, B.CODESPECIALIDADE+B.CODGRUPOITENS+B.CODITEM CODITEM, B.CODPRESTADOR, D.TIPO
FROM	SZPARCIALATEND A, SZATENDHONORARIO B, SZCONTROLREPASSE D
WHERE	A.NUMEROCONTA = B.NUMEROCONTA AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA AND A.CODCOLIGADA = B.CODCOLIGADA AND A.SEQPARCIAL = B.SEQPARCIAL
AND B.NUMEROCONTA = D.NUMEROCONTA AND B.SEQUENCIALCONTA = D.SEQUENCIALCONTA AND B.CODCOLIGADA = D.CODCOLIGADA
AND B.SEQDEBITOHM = D.SEQDEBITO
UNION
SELECT	DISTINCT A.CODCOLIGADA, B.STATUS GLOSADO, A.STATUSAUDITORIA2 REVISADA, D.GLOSAEFETUADA, A.CODPRESTADOR PRESTADOR, A.CODCONVENIO COMPRADOR, A.SEQPARCIAL,
A.NUMEROREMESSA REMESSA, B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITODIARIA SDEBITO, B.CODGGASTO, B.CODESPECIALIDADE+B.CODGRUPOITENS+B.CODITEM CODITEM, D.CODPRESTADOR, D.TIPO
FROM	SZPARCIALATEND A, SZATENDDIARIAS B, SZCONTROLREPASSE D
WHERE	A.NUMEROCONTA = B.NUMEROCONTA AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA AND A.CODCOLIGADA = B.CODCOLIGADA AND A.SEQPARCIAL = B.SEQPARCIAL
AND B.NUMEROCONTA = D.NUMEROCONTA AND B.SEQUENCIALCONTA = D.SEQUENCIALCONTA AND B.CODCOLIGADA = D.CODCOLIGADA
AND B.SEQDEBITODIARIA = D.SEQDEBITO
UNION
SELECT	DISTINCT A.CODCOLIGADA, B.STATUS GLOSADO, A.STATUSAUDITORIA2 REVISADA, D.GLOSAEFETUADA, A.CODPRESTADOR PRESTADOR, A.CODCONVENIO COMPRADOR, A.SEQPARCIAL,
A.NUMEROREMESSA REMESSA, B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITOTAXAS SDEBITO, B.CODGGASTO, B.CODESPECIALIDADE+B.CODGRUPOITENS+B.CODITEM CODITEM, D.CODPRESTADOR, D.TIPO
FROM	SZPARCIALATEND A, SZATENDTAXASERV B, SZCONTROLREPASSE D
WHERE	A.NUMEROCONTA = B.NUMEROCONTA AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA AND A.CODCOLIGADA = B.CODCOLIGADA AND A.SEQPARCIAL = B.SEQPARCIAL
AND B.NUMEROCONTA = D.NUMEROCONTA AND B.SEQUENCIALCONTA = D.SEQUENCIALCONTA AND B.CODCOLIGADA = D.CODCOLIGADA
AND B.SEQDEBITOTAXAS = D.SEQDEBITO
UNION
SELECT	DISTINCT A.CODCOLIGADA, B.STATUS GLOSADO, A.STATUSAUDITORIA2 REVISADA, D.GLOSAEFETUADA, A.CODPRESTADOR PRESTADOR, A.CODCONVENIO COMPRADOR, A.SEQPARCIAL,
A.NUMEROREMESSA REMESSA, B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITOMATMED SDEBITO, B.CODGGASTO, B.CODESPECMATMED+B.CODGRUPOMATMED+B.CODITEMMATMED CODITEM, D.CODPRESTADOR, D.TIPO
FROM	SZPARCIALATEND A, SZATENDMATMED B,  SZCONTROLREPASSE D
WHERE	A.NUMEROCONTA = B.NUMEROCONTA AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA AND A.CODCOLIGADA = B.CODCOLIGADA AND A.SEQPARCIAL = B.SEQPARCIAL
AND B.NUMEROCONTA = D.NUMEROCONTA AND B.SEQUENCIALCONTA = D.SEQUENCIALCONTA AND B.CODCOLIGADA = D.CODCOLIGADA
AND B.SEQDEBITOMATMED = D.SEQDEBITO
GO
