USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_BPC_RetornaHEADCOUNT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_BPC_RetornaHEADCOUNT](@PERIODO INT)
RETURNS TABLE
AS
RETURN
(
  SELECT [ENTITY]     = 1000
       , [PLANT]      = Convert(INT, IsNull(D.CAMPOLIVRE1, '9999'))
       , [COSTCENTER] = S.NROCENCUSTOCONT
       , [FUNCTION]   = 'FUNC' + Convert(VARCHAR,F.CODFUNCAO)
       , [TIME]       = Convert(VARCHAR, FF.ANOCOMP) + '.' + REPLICATE('0', 2-LEN(FF.MESCOMP)) + Convert(VARCHAR, FF.MESCOMP) 
       , [EVENT]      = 'HCOUNT'
       , [UM]         = 'UNIDADE'
       , [VALUE]      = COUNT(DISTINCT FF.CHAPA)
    FROM PFFINANC FF
         INNER JOIN PFUNC F   ON FF.CHAPA       = F.CHAPA
                             AND FF.CODCOLIGADA = F.CODCOLIGADA
         INNER JOIN PFUNCAO FU ON F.CODFUNCAO   = FU.CODIGO
                              AND F.CODCOLIGADA = FU.CODCOLIGADA                               
         INNER JOIN PSECAO S  ON F.CODSECAO     = S.CODIGO
                             AND F.CODCOLIGADA  = S.CODCOLIGADA
         LEFT  JOIN DFILIAL D ON F.CODFILIAL    = D.CODFILIAL 
   WHERE FF.CODCOLIGADA = 1
     AND FF.ANOCOMP     = YEAR(GETDATE())
     AND FF.MESCOMP     = CASE WHEN IsNull(@PERIODO,0) = 0
                               THEN FF.MESCOMP
                               ELSE @PERIODO
                          END     
     AND FF.CODEVENTO   = '0002'
     AND FU.INATIVA = 0
     AND FU.CODIGO BETWEEN 00001 AND 29999        
   GROUP BY IsNull(D.CAMPOLIVRE1, '9999')
          , S.NROCENCUSTOCONT
          , F.CODFUNCAO
          , FF.ANOCOMP
          , FF.MESCOMP
)

GO
