USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[ATUALIZARESUMOGCOMP]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ATUALIZARESUMOGCOMP] @CODCOLIGADA INTEGER, @NCONTA VARCHAR(14), @SCONTA INTEGER, @SEQPARCIAL INTEGER,
@CONTROLEESTORNOGLOSAGG INTEGER, @TOTPACOTE NUMERIC(15,2), @TOTPACOTESUM NUMERIC(15,2),
@TOTALID NUMERIC(15,2), @TOTALIDPCTE NUMERIC(15,2)
AS
    DECLARE @TAXAS            NUMERIC(15, 2),
            @SERVICOS         NUMERIC(15, 2),
            @MATL             NUMERIC(15, 2),
            @MATB             NUMERIC(15, 2),
            @MATU             NUMERIC(15, 2),
            @MATRESUMO        NUMERIC(15, 2),
            @MEDL             NUMERIC(15, 2),
            @MEDB             NUMERIC(15, 2),
            @MEDU             NUMERIC(15, 2),
            @MEDRESUMO        NUMERIC(15, 2),
            @MATORTESE        NUMERIC(15, 2),
            @MATPROTESE       NUMERIC(15, 2),
            @TOTAL_HONO_NCRED NUMERIC(15, 2),
            @AUXIPACOTE       NUMERIC(15, 2),
            @TAXASPCTE        NUMERIC(15, 2),
            @SERVICOSPCTE     NUMERIC(15, 2),
            @MATRESUMOPCTE    NUMERIC(15, 2),
            @MEDRESUMOPCTE    NUMERIC(15, 2),
            @MATORTESEPCTE    NUMERIC(15, 2),
            @MATPROTESEPCTE   NUMERIC(15, 2),
            @AUX              NUMERIC(15, 2),
            @GLOSAGG          INTEGER,
            @SEMINFOPAGTO     INTEGER
BEGIN
      SELECT @TAXAS = -2
      SELECT @TAXASPCTE = -2
      SELECT @SEMINFOPAGTO = COUNT(*)
          FROM   SZATENDTAXASERVGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND ESTORNADO IS NULL
                 AND SEMINFOPGTO = 'T'
                 AND ( TAXAFORA IS NULL
                        OR TAXAFORA = ''
                        OR TAXAFORA = 'F' )
                 AND CODGGASTO = '03'
      IF (SELECT COUNT(*)
          FROM   SZATENDTAXASERVGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND ESTORNADO IS NULL
                 AND ( TAXAFORA IS NULL
                        OR TAXAFORA = ''
                        OR TAXAFORA = 'F' )
                 AND CODGGASTO = '03') = 0
        BEGIN
            SELECT @TAXAS = (SELECT TAXASRESUMO
                             FROM   SZATENDRESUMOGLOSA
                             WHERE  CODCOLIGADA = @CODCOLIGADA
                                    AND NUMEROCONTA = @NCONTA
                                    AND SEQUENCIALCONTA = @SCONTA
                                    AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = TAXASRESUMO
            FROM   SZATENDRESUMO
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @TAXAS IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @TAXAS = @AUX
            SET @GLOSAGG = 0
            IF ( @TAXAS - @AUX ) <> 0
              SET @GLOSAGG = 1
            IF (@SEMINFOPAGTO > 0)
              SET @GLOSAGG = 0
            IF @GLOSAGG <> 0
              SET @TOTALID = @TOTALID + @TAXAS
        END
      IF ( @TAXAS < 0 )
          OR ( @GLOSAGG = 0 )
        BEGIN
            SELECT @TAXAS = ISNULL(SUM(VALORTOTALTAXAS), 0),
                   @TOTALID = @TOTALID + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN VALORTOTALTAXAS END), 0)
            FROM   SZATENDTAXASERV
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
                   AND CODGGASTO = '03'
                   AND ( TAXAFORA IS NULL
                          OR TAXAFORA = ''
                          OR TAXAFORA = 'F' )
                   AND ESTORNADO IS NULL
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND SEQDEBITOTAXAS NOT IN (SELECT SEQDEBITOTAXAS
                                              FROM   SZATENDTAXASERVGLOSA
                                              WHERE  CODCOLIGADA = @CODCOLIGADA
                                                     AND NUMEROCONTA = @NCONTA
                                                     AND SEQUENCIALCONTA = @SCONTA
                                                     AND SEQPARCIAL = @SEQPARCIAL
                                                     AND CODGGASTO = '03'
                                                     AND ( TAXAFORA IS NULL
                                                            OR TAXAFORA = ''
                                                            OR TAXAFORA = 'F' )
                                                     AND ESTORNADO IS NULL)
            SELECT @TAXAS = @TAXAS + ISNULL(SUM(VALORTOTALTAXAS), 0),
                   @TOTALID = @TOTALID + ISNULL(SUM(VALORTOTALTAXAS), 0)
            FROM   SZATENDTAXASERVGLOSA
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
                   AND ESTORNADO IS NULL
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND ( TAXAFORA IS NULL
                          OR TAXAFORA = ''
                          OR TAXAFORA = 'F' )
                   AND CODGGASTO = '03'
        END
      IF (SELECT COUNT(*)
          FROM   SZATENDTAXASERVGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND ( TAXAFORA IS NULL
                        OR TAXAFORA = ''
                        OR TAXAFORA = 'F' )
                 AND ESTORNADO IS NULL
                 AND INCLUIDOPACOTE = 'T'
                 AND CODGGASTO = '03') = 0
        BEGIN
            SELECT @TAXASPCTE = (SELECT TAXASRESUMO
                                 FROM   SZRESUMOCONTAPCTEG
                                 WHERE  CODCOLIGADA = @CODCOLIGADA
                                        AND NUMEROCONTA = @NCONTA
                                        AND SEQUENCIALCONTA = @SCONTA
                                        AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = TAXASRESUMO
            FROM   SZRESUMOCONTAPCTE
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @TAXASPCTE IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @TAXASPCTE = @AUX
            IF ( @TAXASPCTE - @AUX ) <> 0
              SET @TOTALIDPCTE = @TOTALIDPCTE + @TAXASPCTE
        END
      IF ( @TOTPACOTE > 0.0 )
         AND ( @TAXAS > 0.0 )
        BEGIN
            SELECT @AUXIPACOTE = (SELECT COUNT(*)
                                  FROM   SZATENDTAXASERV
                                  WHERE  CODCOLIGADA = @CODCOLIGADA
                                         AND NUMEROCONTA = @NCONTA
                                         AND SEQUENCIALCONTA = @SCONTA
                                         AND SEQPARCIAL = @SEQPARCIAL
                                         AND CODGGASTO = '03'
                                         AND ESTORNADO IS NULL
                                         AND ( TAXAFORA IS NULL
                                                OR TAXAFORA = ''
                                                OR TAXAFORA = 'F' )
                                         AND INCLUIDOPACOTE = 'T')
            IF @AUXIPACOTE IS NULL
              SELECT @AUXIPACOTE = 0.00
            IF ( @AUXIPACOTE > 0.0 )
              BEGIN
                  SELECT @AUXIPACOTE = ISNULL(SUM(VALORTOTALTAXAS), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN VALORTOTALTAXAS END), 0)
                  FROM   SZATENDTAXASERV
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND NUMEROCONTA = @NCONTA
                         AND SEQUENCIALCONTA = @SCONTA
                         AND SEQPARCIAL = @SEQPARCIAL
                         AND CODGGASTO = '03'
                         AND ( TAXAFORA IS NULL
                                OR TAXAFORA = ''
                                OR TAXAFORA = 'F' )
                         AND ESTORNADO IS NULL
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND INCLUIDOPACOTE = 'T'
                         AND SEQDEBITOTAXAS NOT IN (SELECT SEQDEBITOTAXAS
                                                    FROM   SZATENDTAXASERVGLOSA
                                                    WHERE  CODCOLIGADA = @CODCOLIGADA
                                                           AND NUMEROCONTA = @NCONTA
                                                           AND SEQUENCIALCONTA = @SCONTA
                                                           AND SEQPARCIAL = @SEQPARCIAL
                                                           AND CODGGASTO = '03'
                                                           AND ( TAXAFORA IS NULL
                                                                  OR TAXAFORA = ''
                                                                  OR TAXAFORA = 'F' )
                                                           AND ESTORNADO IS NULL
                                                           AND INCLUIDOPACOTE = 'T')
                  SELECT @AUXIPACOTE = @AUXIPACOTE
                                       + ISNULL(SUM(VALORTOTALTAXAS), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE
                                        + ISNULL(SUM(VALORTOTALTAXAS), 0)
                  FROM   SZATENDTAXASERVGLOSA
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND NUMEROCONTA = @NCONTA
                         AND SEQUENCIALCONTA = @SCONTA
                         AND SEQPARCIAL = @SEQPARCIAL
                         AND ESTORNADO IS NULL
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND ( TAXAFORA IS NULL
                                OR TAXAFORA = ''
                                OR TAXAFORA = 'F' )
                         AND CODGGASTO = '03'
                         AND INCLUIDOPACOTE = 'T'
              END
            SELECT @TOTPACOTESUM = @TOTPACOTESUM + @AUXIPACOTE
            SELECT @TAXASPCTE = @AUXIPACOTE
        END
      ELSE
        SELECT @TAXASPCTE = 0
      SELECT @SERVICOS = -2
      SELECT @SERVICOSPCTE = -2
      SELECT @SEMINFOPAGTO = COUNT(*)
          FROM   SZATENDTAXASERVGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND ESTORNADO IS NULL
                 AND SEMINFOPGTO = 'T'
                 AND ( ( TAXAFORA IS NULL )
                        OR ( TAXAFORA = '' )
                        OR ( TAXAFORA = 'F' ) )
                 AND CODGGASTO = '04'
      IF (SELECT COUNT(*)
          FROM   SZATENDTAXASERVGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND ESTORNADO IS NULL
                 AND ( ( TAXAFORA IS NULL )
                        OR ( TAXAFORA = '' )
                        OR ( TAXAFORA = 'F' ) )
                 AND CODGGASTO = '04') = 0
        BEGIN
            SELECT @SERVICOS = (SELECT SERVICORESUMO
                                FROM   SZATENDRESUMOGLOSA
                                WHERE  CODCOLIGADA = @CODCOLIGADA
                                       AND NUMEROCONTA = @NCONTA
                                       AND SEQUENCIALCONTA = @SCONTA
                                       AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = SERVICORESUMO
            FROM   SZATENDRESUMO
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @SERVICOS IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @SERVICOS = @AUX
            SET @GLOSAGG = 0
            IF ( @SERVICOS - @AUX ) <> 0
              BEGIN
                  SET @GLOSAGG = 1
              END
            IF (@SEMINFOPAGTO > 0)
              SET @GLOSAGG = 0
            IF (@GLOSAGG <> 0)
              SET @TOTALID = @TOTALID + @SERVICOS
        END
      IF ( @SERVICOS < 0 )
          OR ( @GLOSAGG = 0 )
        BEGIN
            SELECT @SERVICOS = ISNULL(SUM(VALORTOTALTAXAS), 0),
                   @TOTALID = @TOTALID + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN VALORTOTALTAXAS END), 0)
            FROM   SZATENDTAXASERV
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
                   AND CODGGASTO = '04'
                   AND ( TAXAFORA IS NULL
                          OR TAXAFORA = ''
                          OR TAXAFORA = 'F' )
                   AND ESTORNADO IS NULL
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND SEQDEBITOTAXAS NOT IN (SELECT SEQDEBITOTAXAS
                                              FROM   SZATENDTAXASERVGLOSA
                                              WHERE  CODCOLIGADA = @CODCOLIGADA
                                                     AND NUMEROCONTA = @NCONTA
                                                     AND SEQUENCIALCONTA = @SCONTA
                                                     AND SEQPARCIAL = @SEQPARCIAL
                                                     AND ESTORNADO IS NULL
                                                     AND ( TAXAFORA IS NULL
                                                            OR TAXAFORA = ''
                                                            OR TAXAFORA = 'F' )
                                                     AND CODGGASTO = '04')
            SELECT @SERVICOS = @SERVICOS + ISNULL(SUM(VALORTOTALTAXAS), 0),
                   @TOTALID = @TOTALID + ISNULL(SUM(VALORTOTALTAXAS), 0)
            FROM   SZATENDTAXASERVGLOSA
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
                   AND ESTORNADO IS NULL
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND ( TAXAFORA IS NULL
                          OR TAXAFORA = ''
                          OR TAXAFORA = 'F' )
                   AND CODGGASTO = '04'
        END
      IF (SELECT COUNT(*)
          FROM   SZATENDTAXASERVGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND ESTORNADO IS NULL
                 AND CODGGASTO = '04'
                 AND ( ( TAXAFORA IS NULL )
                        OR ( TAXAFORA = '' )
                        OR ( TAXAFORA = 'F' ) )
                 AND INCLUIDOPACOTE = 'T') = 0
        BEGIN
            SELECT @SERVICOSPCTE = (SELECT SERVICORESUMO
                                    FROM   SZRESUMOCONTAPCTEG
                                    WHERE  CODCOLIGADA = @CODCOLIGADA
                                           AND NUMEROCONTA = @NCONTA
                                           AND SEQUENCIALCONTA = @SCONTA
                                           AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = SERVICORESUMO
            FROM   SZRESUMOCONTAPCTE
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @SERVICOSPCTE IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @SERVICOSPCTE = @AUX
            IF ( @SERVICOSPCTE - @AUX ) <> 0
              SET @TOTALIDPCTE = @TOTALIDPCTE + @SERVICOSPCTE
        END
      IF ( @TOTPACOTE > 0.0 )
         AND ( @SERVICOS > 0.0 )
        BEGIN
            SELECT @AUXIPACOTE = (SELECT COUNT(*)
                                  FROM   SZATENDTAXASERV
                                  WHERE  CODCOLIGADA = @CODCOLIGADA
                                         AND NUMEROCONTA = @NCONTA
                                         AND SEQUENCIALCONTA = @SCONTA
                                         AND SEQPARCIAL = @SEQPARCIAL
                                         AND CODGGASTO = '04'
                                         AND ESTORNADO IS NULL
                                         AND ( TAXAFORA IS NULL
                                                OR TAXAFORA = ''
                                                OR TAXAFORA = 'F' )
                                         AND INCLUIDOPACOTE = 'T')
            IF @AUXIPACOTE IS NULL
              SELECT @AUXIPACOTE = 0.00
            IF ( @AUXIPACOTE > 0.0 )
              BEGIN
                  SELECT @AUXIPACOTE = ISNULL(SUM(VALORTOTALTAXAS), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN VALORTOTALTAXAS END), 0)
                  FROM   SZATENDTAXASERV
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND NUMEROCONTA = @NCONTA
                         AND SEQUENCIALCONTA = @SCONTA
                         AND SEQPARCIAL = @SEQPARCIAL
                         AND CODGGASTO = '04'
                         AND ( TAXAFORA IS NULL
                                OR TAXAFORA = ''
                                OR TAXAFORA = 'F' )
                         AND ESTORNADO IS NULL
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND INCLUIDOPACOTE = 'T'
                         AND SEQDEBITOTAXAS NOT IN (SELECT SEQDEBITOTAXAS
                                                    FROM   SZATENDTAXASERVGLOSA
                                                    WHERE  CODCOLIGADA = @CODCOLIGADA
                                                           AND NUMEROCONTA = @NCONTA
                                                           AND SEQUENCIALCONTA = @SCONTA
                                                           AND SEQPARCIAL = @SEQPARCIAL
                                                           AND ESTORNADO IS NULL
                                                           AND INCLUIDOPACOTE = 'T'
                                                           AND ( TAXAFORA IS NULL
                                                                  OR TAXAFORA = ''
                                                                  OR TAXAFORA = 'F' )
                                                           AND CODGGASTO = '04')
                  SELECT @AUXIPACOTE = @AUXIPACOTE
                                       + ISNULL(SUM(VALORTOTALTAXAS), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE
                                        + ISNULL(SUM(VALORTOTALTAXAS), 0)
                  FROM   SZATENDTAXASERVGLOSA
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND NUMEROCONTA = @NCONTA
                         AND SEQUENCIALCONTA = @SCONTA
                         AND SEQPARCIAL = @SEQPARCIAL
                         AND ESTORNADO IS NULL
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND INCLUIDOPACOTE = 'T'
                         AND ( TAXAFORA IS NULL
                                OR TAXAFORA = ''
                                OR TAXAFORA = 'F' )
                         AND CODGGASTO = '04'
              END
            SELECT @TOTPACOTESUM = @TOTPACOTESUM + @AUXIPACOTE
            SELECT @SERVICOSPCTE = @AUXIPACOTE
        END
      ELSE
        SELECT @SERVICOSPCTE = 0
      SELECT @MATL = (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                      FROM   SZATENDMATMED
                      WHERE  CODCOLIGADA = @CODCOLIGADA
                             AND ( NUMEROCONTA = @NCONTA )
                             AND ( SEQUENCIALCONTA = @SCONTA )
                             AND ( SEQPARCIAL = @SEQPARCIAL )
                             AND ( CODGGASTO = '06' )
                             AND ( LOCALUSO IN ( 'L', 'E', 'A' ) )
                             AND ( ESTORNADO IS NULL )
                             AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                             AND ( ( TIPOMOVIMENTO <> 2 )
                                    OR ( TIPOMOVIMENTO IS NULL ) )
                             AND NOT NUMEROCONTA
                                     + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                     + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                                        + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                                        + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                                 FROM   SZATENDMATMEDGLOSA
                                                                                 WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                                        AND ( NUMEROCONTA = @NCONTA )
                                                                                        AND ( SEQUENCIALCONTA = @SCONTA )
                                                                                        AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                                        AND ( CODGGASTO = '06' )
                                                                                        AND ( LOCALUSO IN( 'L', 'E', 'A' ) )
                                                                                        AND ( ESTORNADO IS NULL )
                                                                                        AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                               OR ( TIPOMOVIMENTO IS NULL ) )))
                     + (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                        FROM   SZATENDMATMEDGLOSA
                        WHERE  CODCOLIGADA = @CODCOLIGADA
                               AND ( NUMEROCONTA = @NCONTA )
                               AND ( SEQUENCIALCONTA = @SCONTA )
                               AND ( SEQPARCIAL = @SEQPARCIAL )
                               AND ( CODGGASTO = '06' )
                               AND ( LOCALUSO IN ( 'L', 'E', 'A' ) )
                               AND ( ESTORNADO IS NULL )
                               AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                               AND ( ( TIPOMOVIMENTO <> 2 )
                                      OR ( TIPOMOVIMENTO IS NULL ) ))
      SELECT @MATB = (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                      FROM   SZATENDMATMED
                      WHERE  CODCOLIGADA = @CODCOLIGADA
                             AND ( NUMEROCONTA = @NCONTA )
                             AND ( SEQUENCIALCONTA = @SCONTA )
                             AND ( SEQPARCIAL = @SEQPARCIAL )
                             AND ( CODGGASTO = '06' )
                             AND ( LOCALUSO = 'C' )
                             AND ( ESTORNADO IS NULL )
                             AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                             AND ( ( TIPOMOVIMENTO <> 2 )
                                    OR ( TIPOMOVIMENTO IS NULL ) )
                             AND NOT NUMEROCONTA
                                     + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                     + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                                        + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                                        + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                                 FROM   SZATENDMATMEDGLOSA
                                                                                 WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                                        AND ( NUMEROCONTA = @NCONTA )
                                                                                        AND ( SEQUENCIALCONTA = @SCONTA )
                                                                                        AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                                        AND ( CODGGASTO = '06' )
                                                                                        AND ( LOCALUSO = 'C' )
                                                                                        AND ( ESTORNADO IS NULL )
                                                                                        AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                               OR ( TIPOMOVIMENTO IS NULL ) )))
                     + (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                        FROM   SZATENDMATMEDGLOSA
                        WHERE  CODCOLIGADA = @CODCOLIGADA
                               AND ( NUMEROCONTA = @NCONTA )
                               AND ( SEQUENCIALCONTA = @SCONTA )
                               AND ( SEQPARCIAL = @SEQPARCIAL )
                               AND ( CODGGASTO = '06' )
                               AND ( LOCALUSO = 'C' )
                               AND ( ESTORNADO IS NULL )
                               AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                               AND ( ( TIPOMOVIMENTO <> 2 )
                                      OR ( TIPOMOVIMENTO IS NULL ) ))
      SELECT @MATU = (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                      FROM   SZATENDMATMED
                      WHERE  CODCOLIGADA = @CODCOLIGADA
                             AND ( NUMEROCONTA = @NCONTA )
                             AND ( SEQUENCIALCONTA = @SCONTA )
                             AND ( SEQPARCIAL = @SEQPARCIAL )
                             AND ( CODGGASTO = '06' )
                             AND ( LOCALUSO IN ( 'U', 'N' ) )
                             AND ( ESTORNADO IS NULL )
                             AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                             AND ( ( TIPOMOVIMENTO <> 2 )
                                    OR ( TIPOMOVIMENTO IS NULL ) )
                             AND NOT NUMEROCONTA
                                     + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                     + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                                        + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                                        + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                                 FROM   SZATENDMATMEDGLOSA
                                                                                 WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                                        AND ( NUMEROCONTA = @NCONTA )
                                                                                        AND ( SEQUENCIALCONTA = @SCONTA )
                                                                                        AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                                        AND ( CODGGASTO = '06' )
                                                                                        AND ( LOCALUSO IN ( 'U', 'N' ) )
                                                                                        AND ( ESTORNADO IS NULL )
                                                                                        AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                               OR ( TIPOMOVIMENTO IS NULL ) )))
                     + (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                        FROM   SZATENDMATMEDGLOSA
                        WHERE  CODCOLIGADA = @CODCOLIGADA
                               AND ( NUMEROCONTA = @NCONTA )
                               AND ( SEQUENCIALCONTA = @SCONTA )
                               AND ( SEQPARCIAL = @SEQPARCIAL )
                               AND ( CODGGASTO = '06' )
                               AND ( LOCALUSO IN ( 'U', 'N' ) )
                               AND ( ESTORNADO IS NULL )
                               AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                               AND ( ( TIPOMOVIMENTO <> 2 )
                                      OR ( TIPOMOVIMENTO IS NULL ) ))
      SELECT @MATRESUMO = -2
      SELECT @MATRESUMOPCTE = -2
      SELECT @SEMINFOPAGTO = COUNT(*)
          FROM   SZATENDMATMEDGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND ESTORNADO IS NULL
                 AND SEMINFOPGTO = 'T'
                 AND CODGGASTO = '06'
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )
      IF (SELECT COUNT(*)
          FROM   SZATENDMATMEDGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND ESTORNADO IS NULL
                 AND CODGGASTO = '06'
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )) = 0
        BEGIN
            SELECT @MATRESUMO = (SELECT MATRESUMO
                                 FROM   SZATENDRESUMOGLOSA
                                 WHERE  CODCOLIGADA = @CODCOLIGADA
                                        AND NUMEROCONTA = @NCONTA
                                        AND SEQUENCIALCONTA = @SCONTA
                                        AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = MATRESUMO
            FROM   SZATENDRESUMO
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @MATRESUMO IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @MATRESUMO = @AUX
            SET @GLOSAGG = 0
            IF ( @MATRESUMO - @AUX ) <> 0
              BEGIN
                  SET @GLOSAGG = 1
              END
            IF (@SEMINFOPAGTO > 0)
              SET @GLOSAGG = 0
             IF (@GLOSAGG <> 0)
               SET @TOTALID = @TOTALID + @MATRESUMO
        END
      IF ( @MATRESUMO < 0 )
          OR ( @GLOSAGG = 0 )
        BEGIN
            SELECT @MATRESUMO = ISNULL(SUM(CONVERT(NUMERIC(18, 2), ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)))), 0),
                   @TOTALID = @TOTALID + ISNULL(SUM(CONVERT(NUMERIC(15, 2), (CASE WHEN IDENTIFICADO = 'T' THEN ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END))), 0)
            FROM   SZATENDMATMED
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND ( NUMEROCONTA = @NCONTA )
                   AND ( SEQUENCIALCONTA = @SCONTA )
                   AND ( SEQPARCIAL = @SEQPARCIAL )
                   AND ( CODGGASTO = '06' )
                   AND ( ESTORNADO IS NULL )
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND ( ( TIPOMOVIMENTO <> 2 )
                          OR ( TIPOMOVIMENTO IS NULL ) )
                   AND NOT NUMEROCONTA
                           + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                           + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                              + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                              + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                       FROM   SZATENDMATMEDGLOSA
                                                                       WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                              AND ( NUMEROCONTA = @NCONTA )
                                                                              AND ( SEQUENCIALCONTA = @SCONTA )
                                                                              AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                              AND ( CODGGASTO = '06' )
                                                                              AND ( ESTORNADO IS NULL )
                                                                              AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                     OR ( TIPOMOVIMENTO IS NULL ) ))
            SELECT @MATRESUMO = @MATRESUMO
                                + ISNULL(SUM(CONVERT(NUMERIC(18, 2), ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)))), 0),
                   @TOTALID = @TOTALID
                              + ISNULL(SUM(CONVERT(NUMERIC(15, 2), (CASE WHEN IDENTIFICADO = 'T' THEN ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END))), 0)
            FROM   SZATENDMATMEDGLOSA
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND ( NUMEROCONTA = @NCONTA )
                   AND ( SEQUENCIALCONTA = @SCONTA )
                   AND ( SEQPARCIAL = @SEQPARCIAL )
                   AND ( CODGGASTO = '06' )
                   AND ( ESTORNADO IS NULL )
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND ( ( TIPOMOVIMENTO <> 2 )
                          OR ( TIPOMOVIMENTO IS NULL ) )
        END
      SELECT @MEDL = (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                      FROM   SZATENDMATMED
                      WHERE  CODCOLIGADA = @CODCOLIGADA
                             AND ( NUMEROCONTA = @NCONTA )
                             AND ( SEQUENCIALCONTA = @SCONTA )
                             AND ( SEQPARCIAL = @SEQPARCIAL )
                             AND ( CODGGASTO = '05' )
                             AND ( LOCALUSO IN ( 'L', 'E', 'A' ) )
                             AND ( ESTORNADO IS NULL )
                             AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                             AND ( ( TIPOMOVIMENTO <> 2 )
                                    OR ( TIPOMOVIMENTO IS NULL ) )
                             AND NOT NUMEROCONTA
                                     + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                     + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                                        + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                                        + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                                 FROM   SZATENDMATMEDGLOSA
                                                                                 WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                                        AND ( NUMEROCONTA = @NCONTA )
                                                                                        AND ( SEQUENCIALCONTA = @SCONTA )
                                                                                        AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                                        AND ( CODGGASTO = '05' )
                                                                                        AND ( LOCALUSO IN ( 'L', 'E', 'A' ) )
                                                                                        AND ( ESTORNADO IS NULL )
                                                                                        AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                               OR ( TIPOMOVIMENTO IS NULL ) )))
                     + (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                        FROM   SZATENDMATMEDGLOSA
                        WHERE  CODCOLIGADA = @CODCOLIGADA
                               AND ( NUMEROCONTA = @NCONTA )
                               AND ( SEQUENCIALCONTA = @SCONTA )
                               AND ( SEQPARCIAL = @SEQPARCIAL )
                               AND ( CODGGASTO = '05' )
                               AND ( LOCALUSO IN ( 'L', 'E', 'A' ) )
                               AND ( ESTORNADO IS NULL )
                               AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                               AND ( ( TIPOMOVIMENTO <> 2 )
                                      OR ( TIPOMOVIMENTO IS NULL ) ))
      SELECT @MEDB = (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                      FROM   SZATENDMATMED
                      WHERE  CODCOLIGADA = @CODCOLIGADA
                             AND ( NUMEROCONTA = @NCONTA )
                             AND ( SEQUENCIALCONTA = @SCONTA )
                             AND ( SEQPARCIAL = @SEQPARCIAL )
                             AND ( CODGGASTO = '05' )
                             AND ( LOCALUSO = 'C' )
                             AND ( ESTORNADO IS NULL )
                             AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                             AND ( ( TIPOMOVIMENTO <> 2 )
                                    OR ( TIPOMOVIMENTO IS NULL ) )
                             AND NOT NUMEROCONTA
                                     + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                     + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                                        + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                                        + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                                 FROM   SZATENDMATMEDGLOSA
                                                                                 WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                                        AND ( NUMEROCONTA = @NCONTA )
                                                                                        AND ( SEQUENCIALCONTA = @SCONTA )
                                                                                        AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                                        AND ( CODGGASTO = '05' )
                                                                                        AND ( LOCALUSO = 'C' )
                                                                                        AND ( ESTORNADO IS NULL )
                                                                                        AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                               OR ( TIPOMOVIMENTO IS NULL ) )))
                     + (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                        FROM   SZATENDMATMEDGLOSA
                        WHERE  CODCOLIGADA = @CODCOLIGADA
                               AND ( NUMEROCONTA = @NCONTA )
                               AND ( SEQUENCIALCONTA = @SCONTA )
                               AND ( SEQPARCIAL = @SEQPARCIAL )
                               AND ( CODGGASTO = '05' )
                               AND ( LOCALUSO = 'C' )
                               AND ( ESTORNADO IS NULL )
                               AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                               AND ( ( TIPOMOVIMENTO <> 2 )
                                      OR ( TIPOMOVIMENTO IS NULL ) ))
      SELECT @MEDU = (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                      FROM   SZATENDMATMED
                      WHERE  CODCOLIGADA = @CODCOLIGADA
                             AND ( NUMEROCONTA = @NCONTA )
                             AND ( SEQUENCIALCONTA = @SCONTA )
                             AND ( SEQPARCIAL = @SEQPARCIAL )
                             AND ( CODGGASTO = '05' )
                             AND ( LOCALUSO IN ( 'U', 'N' ) )
                             AND ( ESTORNADO IS NULL )
                             AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                             AND ( ( TIPOMOVIMENTO <> 2 )
                                    OR ( TIPOMOVIMENTO IS NULL ) )
                             AND NOT NUMEROCONTA
                                     + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                     + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                                        + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                                        + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                                 FROM   SZATENDMATMEDGLOSA
                                                                                 WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                                        AND ( NUMEROCONTA = @NCONTA )
                                                                                        AND ( SEQUENCIALCONTA = @SCONTA )
                                                                                        AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                                        AND ( CODGGASTO = '05' )
                                                                                        AND ( LOCALUSO IN ( 'U', 'N' ) )
                                                                                        AND ( ESTORNADO IS NULL )
                                                                                        AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                               OR ( TIPOMOVIMENTO IS NULL ) )))
                     + (SELECT ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0)
                        FROM   SZATENDMATMEDGLOSA
                        WHERE  CODCOLIGADA = @CODCOLIGADA
                               AND ( NUMEROCONTA = @NCONTA )
                               AND ( SEQUENCIALCONTA = @SCONTA )
                               AND ( SEQPARCIAL = @SEQPARCIAL )
                               AND ( CODGGASTO = '05' )
                               AND ( LOCALUSO IN ( 'U', 'N' ) )
                               AND ( ESTORNADO IS NULL )
                               AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                               AND ( ( TIPOMOVIMENTO <> 2 )
                                      OR ( TIPOMOVIMENTO IS NULL ) ))
      SELECT @MEDRESUMO = -2
      SELECT @MEDRESUMOPCTE = -2
      SELECT @SEMINFOPAGTO = COUNT(*)
          FROM   SZATENDMATMEDGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND CODGGASTO = '05'
                 AND ESTORNADO IS NULL
                 AND SEMINFOPGTO = 'T'
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )
      IF (SELECT COUNT(*)
          FROM   SZATENDMATMEDGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND CODGGASTO = '05'
                 AND ESTORNADO IS NULL
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )) = 0
        BEGIN
            SELECT @MEDRESUMO = (SELECT MEDRESUMO
                                 FROM   SZATENDRESUMOGLOSA
                                 WHERE  CODCOLIGADA = @CODCOLIGADA
                                        AND NUMEROCONTA = @NCONTA
                                        AND SEQUENCIALCONTA = @SCONTA
                                        AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = MEDRESUMO
            FROM   SZATENDRESUMO
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @MEDRESUMO IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @MEDRESUMO = @AUX
            SET @GLOSAGG = 0
            IF ( @MEDRESUMO - @AUX ) <> 0
              BEGIN
                  SET @GLOSAGG = 1
              END
            IF (@SEMINFOPAGTO > 0)
              SET @GLOSAGG = 0
            IF (@GLOSAGG <> 0)
              SET @TOTALID = @TOTALID + @MEDRESUMO
        END
      IF ( @MEDRESUMO < 0 )
          OR ( @GLOSAGG = 0 )
        BEGIN
            SELECT @MEDRESUMO = ISNULL(SUM(CONVERT(NUMERIC(18, 2),((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)))), 0),
                   @TOTALID = @TOTALID + ISNULL(SUM(CONVERT(NUMERIC(15, 2), (CASE WHEN IDENTIFICADO = 'T' THEN ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END))), 0)
            FROM   SZATENDMATMED
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND ( NUMEROCONTA = @NCONTA )
                   AND ( SEQUENCIALCONTA = @SCONTA )
                   AND ( SEQPARCIAL = @SEQPARCIAL )
                   AND ( CODGGASTO = '05' )
                   AND ( ESTORNADO IS NULL )
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND ( ( TIPOMOVIMENTO <> 2 )
                          OR ( TIPOMOVIMENTO IS NULL ) )
                   AND NOT NUMEROCONTA
                           + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                           + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                              + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                              + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                       FROM   SZATENDMATMEDGLOSA
                                                                       WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                              AND ( NUMEROCONTA = @NCONTA )
                                                                              AND ( SEQUENCIALCONTA = @SCONTA )
                                                                              AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                              AND ( CODGGASTO = '05' )
                                                                              AND ( ESTORNADO IS NULL )
                                                                              AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                     OR ( TIPOMOVIMENTO IS NULL ) ))
            SELECT @MEDRESUMO = @MEDRESUMO
                                + ISNULL(SUM(CONVERT(NUMERIC(18, 2),((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)))), 0),
                   @TOTALID = @TOTALID
                              + ISNULL(SUM(CONVERT(NUMERIC(15, 2), (CASE WHEN IDENTIFICADO = 'T' THEN ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END))), 0)
            FROM   SZATENDMATMEDGLOSA
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND ( NUMEROCONTA = @NCONTA )
                   AND ( SEQUENCIALCONTA = @SCONTA )
                   AND ( SEQPARCIAL = @SEQPARCIAL )
                   AND ( CODGGASTO = '05' )
                   AND ( ESTORNADO IS NULL )
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND ( ( TIPOMOVIMENTO <> 2 )
                          OR ( TIPOMOVIMENTO IS NULL ) )
        END
      SELECT @MATORTESE = -2
      SELECT @MATORTESEPCTE = -2
      SELECT @SEMINFOPAGTO = COUNT(*)
          FROM   SZATENDMATMEDGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND CODGGASTO = '07'
                 AND ESTORNADO IS NULL
                 AND SEMINFOPGTO = 'T'
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )
      IF (SELECT COUNT(*)
          FROM   SZATENDMATMEDGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND CODGGASTO = '07'
                 AND ESTORNADO IS NULL
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )) = 0
        BEGIN
            SELECT @MATORTESE = (SELECT MATORTESE
                                 FROM   SZATENDRESUMOGLOSA
                                 WHERE  CODCOLIGADA = @CODCOLIGADA
                                        AND NUMEROCONTA = @NCONTA
                                        AND SEQUENCIALCONTA = @SCONTA
                                        AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = MATORTESE
            FROM   SZATENDRESUMO
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @MATORTESE IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @MATORTESE = @AUX
            SET @GLOSAGG = 0
            IF ( @MATORTESE - @AUX ) <> 0
              BEGIN
                  SET @GLOSAGG = 1
              END
            IF (@SEMINFOPAGTO > 0)
              SET @GLOSAGG = 0
            IF (@GLOSAGG <> 0)
              SET @TOTALID = @TOTALID + @MATORTESE
        END
      IF ( @MATORTESE < 0 )
          OR ( @GLOSAGG = 0 )
        BEGIN
            SELECT @MATORTESE = ISNULL(SUM(CONVERT(NUMERIC(18, 2), ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) )), 0),
                   @TOTALID = @TOTALID + ISNULL(SUM(CONVERT(NUMERIC(15, 2), (CASE WHEN IDENTIFICADO = 'T' THEN ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END))), 0)
            FROM   SZATENDMATMED
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND ( NUMEROCONTA = @NCONTA )
                   AND ( SEQUENCIALCONTA = @SCONTA )
                   AND ( SEQPARCIAL = @SEQPARCIAL )
                   AND ( CODGGASTO = '07' )
                   AND ( ESTORNADO IS NULL )
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND ( ( TIPOMOVIMENTO <> 2 )
                          OR ( TIPOMOVIMENTO IS NULL ) )
                   AND NOT NUMEROCONTA
                           + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                           + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                              + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                              + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                       FROM   SZATENDMATMEDGLOSA
                                                                       WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                              AND NUMEROCONTA = @NCONTA
                                                                              AND SEQUENCIALCONTA = @SCONTA
                                                                              AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                              AND ( ESTORNADO IS NULL )
                                                                              AND ( CODGGASTO = '07' )
                                                                              AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                     OR ( TIPOMOVIMENTO IS NULL ) ))
            SELECT @MATORTESE = @MATORTESE
                                + ISNULL(SUM(CONVERT(NUMERIC(18, 2), ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) )), 0),
                   @TOTALID = @TOTALID
                              + ISNULL(SUM(CONVERT(NUMERIC(15, 2), (CASE WHEN IDENTIFICADO = 'T' THEN ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END))), 0)
            FROM   SZATENDMATMEDGLOSA
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND ( NUMEROCONTA = @NCONTA )
                   AND ( SEQUENCIALCONTA = @SCONTA )
                   AND ( SEQPARCIAL = @SEQPARCIAL )
                   AND ( ESTORNADO IS NULL )
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND ( CODGGASTO = '07' )
                   AND ( ( TIPOMOVIMENTO <> 2 )
                          OR ( TIPOMOVIMENTO IS NULL ) )
        END
      SELECT @MATPROTESE = -2
      SELECT @MATPROTESEPCTE = -2
      SELECT @SEMINFOPAGTO = COUNT(*)
          FROM   SZATENDMATMEDGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND CODGGASTO = '08'
                 AND ESTORNADO IS NULL
                 AND SEMINFOPGTO = 'T'
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )
      IF (SELECT COUNT(*)
          FROM   SZATENDMATMEDGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND CODGGASTO = '08'
                 AND ESTORNADO IS NULL
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )) = 0
        BEGIN
            SELECT @MATPROTESE = (SELECT MATPROTESE
                                  FROM   SZATENDRESUMOGLOSA
                                  WHERE  CODCOLIGADA = @CODCOLIGADA
                                         AND NUMEROCONTA = @NCONTA
                                         AND SEQUENCIALCONTA = @SCONTA
                                         AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = MATPROTESE
            FROM   SZATENDRESUMO
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @MATPROTESE IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @MATPROTESE = @AUX
            SET @GLOSAGG = 0
            IF ( @MATPROTESE - @AUX ) <> 0
              BEGIN
                  SET @GLOSAGG = 1
              END
            IF (@SEMINFOPAGTO > 0)
              SET @GLOSAGG = 0
            IF (@GLOSAGG <> 0)
              SET @TOTALID = @TOTALID + @MATPROTESE
        END
      IF ( @MATPROTESE < 0 )
          OR ( @GLOSAGG = 0 )
        BEGIN
            SELECT @MATPROTESE = ISNULL(SUM(CONVERT(NUMERIC(18, 2), ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) )), 0),
                   @TOTALID = @TOTALID + ISNULL(SUM(CONVERT(NUMERIC(15, 2), (CASE WHEN IDENTIFICADO = 'T' THEN ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END))), 0)
            FROM   SZATENDMATMED
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND ( NUMEROCONTA = @NCONTA )
                   AND ( SEQUENCIALCONTA = @SCONTA )
                   AND ( SEQPARCIAL = @SEQPARCIAL )
                   AND ( CODGGASTO = '08' )
                   AND ( ESTORNADO IS NULL )
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND ( ( TIPOMOVIMENTO <> 2 )
                          OR ( TIPOMOVIMENTO IS NULL ) )
                   AND NOT NUMEROCONTA
                           + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                           + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                              + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                              + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                       FROM   SZATENDMATMEDGLOSA
                                                                       WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                              AND NUMEROCONTA = @NCONTA
                                                                              AND SEQUENCIALCONTA = @SCONTA
                                                                              AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                              AND ( ESTORNADO IS NULL )
                                                                              AND ( CODGGASTO = '08' )
                                                                              AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                     OR ( TIPOMOVIMENTO IS NULL ) ))
            SELECT @MATPROTESE = @MATPROTESE
                                 + ISNULL(SUM(CONVERT(NUMERIC(18, 2), ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) )), 0),
                   @TOTALID = @TOTALID
                              + ISNULL(SUM(CONVERT(NUMERIC(15, 2), (CASE WHEN IDENTIFICADO = 'T' THEN ((QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END))), 0)
            FROM   SZATENDMATMEDGLOSA
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND ( NUMEROCONTA = @NCONTA )
                   AND ( SEQUENCIALCONTA = @SCONTA )
                   AND ( SEQPARCIAL = @SEQPARCIAL )
                   AND ( ESTORNADO IS NULL )
                   AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                   AND ( CODGGASTO = '08' )
                   AND ( ( TIPOMOVIMENTO <> 2 )
                          OR ( TIPOMOVIMENTO IS NULL ) )
        END
      IF (SELECT COUNT(*)
          FROM   SZATENDMATMED
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND CODGGASTO = '05'
                 AND ESTORNADO IS NULL
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )
                 AND INCLUIDOPACOTE = 'T') = 0
        BEGIN
            SELECT @MEDRESUMOPCTE = (SELECT MEDRESUMO
                                     FROM   SZRESUMOCONTAPCTEG
                                     WHERE  CODCOLIGADA = @CODCOLIGADA
                                            AND NUMEROCONTA = @NCONTA
                                            AND SEQUENCIALCONTA = @SCONTA
                                            AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = MEDRESUMO
            FROM   SZRESUMOCONTAPCTE
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @MEDRESUMOPCTE IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @MEDRESUMOPCTE = @AUX
            IF ( @MEDRESUMOPCTE - @AUX ) <> 0
              SET @TOTALIDPCTE = @TOTALIDPCTE + @MEDRESUMOPCTE
        END
      IF ( @TOTPACOTE > 0.0 )
         AND ( @MEDRESUMO > 0.0 )
        BEGIN
            SELECT @AUXIPACOTE = (SELECT COUNT(*)
                                  FROM   SZATENDMATMED
                                  WHERE  CODCOLIGADA = @CODCOLIGADA
                                         AND ( NUMEROCONTA = @NCONTA )
                                         AND ( SEQUENCIALCONTA = @SCONTA )
                                         AND ( SEQPARCIAL = @SEQPARCIAL )
                                         AND ( ESTORNADO IS NULL )
                                         AND ( INCLUIDOPACOTE = 'T' )
                                         AND ( CODGGASTO = '05' )
                                         AND ( ( TIPOMOVIMENTO <> 2 )
                                                OR ( TIPOMOVIMENTO IS NULL ) ))
            IF @AUXIPACOTE IS NULL
              SELECT @AUXIPACOTE = 0.00
            IF ( @AUXIPACOTE > 0.0 )
              BEGIN
                  SELECT @AUXIPACOTE = ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END), 0)
                  FROM   SZATENDMATMED
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND ( NUMEROCONTA = @NCONTA )
                         AND ( SEQUENCIALCONTA = @SCONTA )
                         AND ( SEQPARCIAL = @SEQPARCIAL )
                         AND ( CODGGASTO = '05' )
                         AND ( ESTORNADO IS NULL )
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND ( INCLUIDOPACOTE = 'T' )
                         AND ( ( TIPOMOVIMENTO <> 2 )
                                OR ( TIPOMOVIMENTO IS NULL ) )
                         AND NOT NUMEROCONTA
                                 + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                 + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                                    + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                                    + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                             FROM   SZATENDMATMEDGLOSA
                                                                             WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                                    AND NUMEROCONTA = @NCONTA
                                                                                    AND SEQUENCIALCONTA = @SCONTA
                                                                                    AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                                    AND ( CODGGASTO = '05' )
                                                                                    AND ( ESTORNADO IS NULL )
                                                                                    AND ( INCLUIDOPACOTE = 'T' )
                                                                                    AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                           OR ( TIPOMOVIMENTO IS NULL ) ))
                  SELECT @AUXIPACOTE = @AUXIPACOTE
                                       + ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE
                                        + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END), 0)
                  FROM   SZATENDMATMEDGLOSA
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND ( NUMEROCONTA = @NCONTA )
                         AND ( SEQUENCIALCONTA = @SCONTA )
                         AND ( SEQPARCIAL = @SEQPARCIAL )
                         AND ( ESTORNADO IS NULL )
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND ( INCLUIDOPACOTE = 'T' )
                         AND (( CODGGASTO = '05' ))
                         AND ( ( TIPOMOVIMENTO <> 2 )
                                OR ( TIPOMOVIMENTO IS NULL ) )
              END
            SELECT @TOTPACOTESUM = @TOTPACOTESUM + @AUXIPACOTE
            SELECT @MEDRESUMOPCTE = @AUXIPACOTE
        END
      ELSE
        SELECT @MEDRESUMOPCTE = 0
      IF (SELECT COUNT(*)
          FROM   SZATENDMATMEDGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND ESTORNADO IS NULL
                 AND CODGGASTO = '06'
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )
                 AND INCLUIDOPACOTE = 'T') = 0
        BEGIN
            SELECT @MATRESUMOPCTE = (SELECT MATRESUMO
                                     FROM   SZRESUMOCONTAPCTEG
                                     WHERE  CODCOLIGADA = @CODCOLIGADA
                                            AND NUMEROCONTA = @NCONTA
                                            AND SEQUENCIALCONTA = @SCONTA
                                            AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = MATRESUMO
            FROM   SZRESUMOCONTAPCTE
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @MATRESUMOPCTE IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @MATRESUMOPCTE = @AUX
            IF ( @MATRESUMOPCTE - @AUX ) <> 0
              SET @TOTALIDPCTE = @TOTALIDPCTE + @MATRESUMOPCTE
        END
      IF ( @TOTPACOTE > 0.0 )
         AND ( @MATRESUMO > 0.0 )
        BEGIN
            SELECT @AUXIPACOTE = (SELECT COUNT(*)
                                  FROM   SZATENDMATMED
                                  WHERE  CODCOLIGADA = @CODCOLIGADA
                                         AND ( NUMEROCONTA = @NCONTA )
                                         AND ( SEQUENCIALCONTA = @SCONTA )
                                         AND ( SEQPARCIAL = @SEQPARCIAL )
                                         AND ( ESTORNADO IS NULL )
                                         AND ( INCLUIDOPACOTE = 'T' )
                                         AND ( CODGGASTO = '06' )
                                         AND ( ( TIPOMOVIMENTO <> 2 )
                                                OR ( TIPOMOVIMENTO IS NULL ) ))
            IF @AUXIPACOTE IS NULL
              SELECT @AUXIPACOTE = 0.00
            IF ( @AUXIPACOTE > 0.0 )
              BEGIN
                  SELECT @AUXIPACOTE = ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END), 0)
                  FROM   SZATENDMATMED
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND ( NUMEROCONTA = @NCONTA )
                         AND ( SEQUENCIALCONTA = @SCONTA )
                         AND ( CODGGASTO = '06' )
                         AND ( SEQPARCIAL = @SEQPARCIAL )
                         AND ( ESTORNADO IS NULL )
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND ( INCLUIDOPACOTE = 'T' )
                         AND ( ( TIPOMOVIMENTO <> 2 )
                                OR ( TIPOMOVIMENTO IS NULL ) )
                         AND NOT NUMEROCONTA
                                 + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                 + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                                    + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                                    + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                             FROM   SZATENDMATMEDGLOSA
                                                                             WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                                    AND NUMEROCONTA = @NCONTA
                                                                                    AND SEQUENCIALCONTA = @SCONTA
                                                                                    AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                                    AND ( SZATENDMATMED.CODGGASTO = '06' )
                                                                                    AND ( ESTORNADO IS NULL )
                                                                                    AND ( INCLUIDOPACOTE = 'T' )
                                                                                    AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                           OR ( TIPOMOVIMENTO IS NULL ) ))
                  SELECT @AUXIPACOTE = @AUXIPACOTE
                                       + ISNULL(SUM(CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED* VALORMATMED) - (QTDDEVOLVIDA* VALORMATMED) )), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE
                                        + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN CONVERT(NUMERIC(15, 2), (QUANTIDADEMATMED*VALORMATMED)-(QTDDEVOLVIDA*VALORMATMED)) END), 0)
                  FROM   SZATENDMATMEDGLOSA
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND ( NUMEROCONTA = @NCONTA )
                         AND ( SEQPARCIAL = @SEQPARCIAL )
                         AND ( SEQUENCIALCONTA = @SCONTA )
                         AND ( ESTORNADO IS NULL )
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND ( INCLUIDOPACOTE = 'T' )
                         AND (( CODGGASTO = '06' ))
                         AND ( ( TIPOMOVIMENTO <> 2 )
                                OR ( TIPOMOVIMENTO IS NULL ) )
              END
            SELECT @TOTPACOTESUM = @TOTPACOTESUM + @AUXIPACOTE
            SELECT @MATRESUMOPCTE = @AUXIPACOTE
        END
      ELSE
        SELECT @MATRESUMOPCTE = 0
      IF (SELECT COUNT(*)
          FROM   SZATENDMATMEDGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND CODGGASTO = '07'
                 AND ESTORNADO IS NULL
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )
                 AND INCLUIDOPACOTE = 'T') = 0
        BEGIN
            SELECT @MATORTESEPCTE = (SELECT MATORTESE
                                     FROM   SZRESUMOCONTAPCTEG
                                     WHERE  CODCOLIGADA = @CODCOLIGADA
                                            AND NUMEROCONTA = @NCONTA
                                            AND SEQUENCIALCONTA = @SCONTA
                                            AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = MATORTESE
            FROM   SZRESUMOCONTAPCTE
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @MATORTESEPCTE IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @MATORTESEPCTE = @AUX
            IF ( @MATORTESEPCTE - @AUX ) <> 0
              SET @TOTALIDPCTE = @TOTALIDPCTE + @MATORTESEPCTE
        END
      IF ( @TOTPACOTE > 0.0 )
         AND ( @MATORTESE > 0.0 )
        BEGIN
            SELECT @AUXIPACOTE = (SELECT COUNT(*)
                                  FROM   SZATENDMATMED
                                  WHERE  CODCOLIGADA = @CODCOLIGADA
                                         AND ( NUMEROCONTA = @NCONTA )
                                         AND ( SEQUENCIALCONTA = @SCONTA )
                                         AND ( SEQPARCIAL = @SEQPARCIAL )
                                         AND ( ESTORNADO IS NULL )
                                         AND ( INCLUIDOPACOTE = 'T' )
                                         AND ( CODGGASTO = '07' )
                                         AND ( ( TIPOMOVIMENTO <> 2 )
                                                OR ( TIPOMOVIMENTO IS NULL ) ))
            IF @AUXIPACOTE IS NULL
              SELECT @AUXIPACOTE = 0.00
            IF ( @AUXIPACOTE > 0.0 )
              BEGIN
                  SELECT @AUXIPACOTE = ISNULL(SUM(CONVERT(NUMERIC(18, 2), ABS(QUANTIDADEMATMED-QTDDEVOLVIDA)*VALORMATMED)), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN CONVERT(NUMERIC(15, 2), ABS(QUANTIDADEMATMED-QTDDEVOLVIDA)*VALORMATMED) END), 0)
                  FROM   SZATENDMATMED
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND ( NUMEROCONTA = @NCONTA )
                         AND ( SEQUENCIALCONTA = @SCONTA )
                         AND ( SEQPARCIAL = @SEQPARCIAL )
                         AND ( CODGGASTO = '07' )
                         AND ( ESTORNADO IS NULL )
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND ( INCLUIDOPACOTE = 'T' )
                         AND ( ( TIPOMOVIMENTO <> 2 )
                                OR ( TIPOMOVIMENTO IS NULL ) )
                         AND NOT NUMEROCONTA
                                 + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                 + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                                    + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                                    + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                             FROM   SZATENDMATMEDGLOSA
                                                                             WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                                    AND NUMEROCONTA = @NCONTA
                                                                                    AND SEQUENCIALCONTA = @SCONTA
                                                                                    AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                                    AND ( SZATENDMATMED.CODGGASTO = '07' )
                                                                                    AND ( ESTORNADO IS NULL )
                                                                                    AND ( INCLUIDOPACOTE = 'T' )
                                                                                    AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                           OR ( TIPOMOVIMENTO IS NULL ) ))
                  SELECT @AUXIPACOTE = @AUXIPACOTE
                                       + ISNULL(SUM(CONVERT(NUMERIC(18, 2), ABS(QUANTIDADEMATMED-QTDDEVOLVIDA)*VALORMATMED)), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE
                                        + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN CONVERT(NUMERIC(15, 2), ABS(QUANTIDADEMATMED-QTDDEVOLVIDA)*VALORMATMED) END), 0)
                  FROM   SZATENDMATMEDGLOSA
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND ( NUMEROCONTA = @NCONTA )
                         AND ( SEQPARCIAL = @SEQPARCIAL )
                         AND ( SEQUENCIALCONTA = @SCONTA )
                         AND ( ESTORNADO IS NULL )
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND ( INCLUIDOPACOTE = 'T' )
                         AND (( CODGGASTO = '07' ))
                         AND ( ( TIPOMOVIMENTO <> 2 )
                                OR ( TIPOMOVIMENTO IS NULL ) )
              END
            SELECT @TOTPACOTESUM = @TOTPACOTESUM + @AUXIPACOTE
            SELECT @MATORTESEPCTE = @AUXIPACOTE
        END
      ELSE
        SELECT @MATORTESEPCTE = 0
      IF (SELECT COUNT(*)
          FROM   SZATENDMATMEDGLOSA
          WHERE  CODCOLIGADA = @CODCOLIGADA
                 AND NUMEROCONTA = @NCONTA
                 AND SEQUENCIALCONTA = @SCONTA
                 AND SEQPARCIAL = @SEQPARCIAL
                 AND CODGGASTO = '08'
                 AND ESTORNADO IS NULL
                 AND ( ( TIPOMOVIMENTO <> 2 )
                        OR ( TIPOMOVIMENTO IS NULL ) )
                 AND INCLUIDOPACOTE = 'T') = 0
        BEGIN
            SELECT @MATPROTESEPCTE = (SELECT MATPROTESE
                                      FROM   SZRESUMOCONTAPCTEG
                                      WHERE  CODCOLIGADA = @CODCOLIGADA
                                             AND NUMEROCONTA = @NCONTA
                                             AND SEQUENCIALCONTA = @SCONTA
                                             AND SEQPARCIAL = @SEQPARCIAL)
            SELECT @AUX = MATPROTESE
            FROM   SZRESUMOCONTAPCTE
            WHERE  CODCOLIGADA = @CODCOLIGADA
                   AND NUMEROCONTA = @NCONTA
                   AND SEQUENCIALCONTA = @SCONTA
                   AND SEQPARCIAL = @SEQPARCIAL
            IF ( @MATPROTESEPCTE IS NULL )
                OR ( @CONTROLEESTORNOGLOSAGG > 0 )
              SET @MATPROTESEPCTE = @AUX
            IF ( @MATPROTESEPCTE - @AUX ) <> 0
              SET @TOTALIDPCTE = @TOTALIDPCTE + @MATPROTESEPCTE
        END
      IF ( @TOTPACOTE > 0.0 )
         AND ( @MATPROTESE > 0.0 )
        BEGIN
            SELECT @AUXIPACOTE = (SELECT COUNT(*)
                                  FROM   SZATENDMATMED
                                  WHERE  CODCOLIGADA = @CODCOLIGADA
                                         AND ( NUMEROCONTA = @NCONTA )
                                         AND ( SEQUENCIALCONTA = @SCONTA )
                                         AND ( SEQPARCIAL = @SEQPARCIAL )
                                         AND ( ESTORNADO IS NULL )
                                         AND ( INCLUIDOPACOTE = 'T' )
                                         AND ( CODGGASTO = '08' )
                                         AND ( ( TIPOMOVIMENTO <> 2 )
                                                OR ( TIPOMOVIMENTO IS NULL ) ))
            IF @AUXIPACOTE IS NULL
              SELECT @AUXIPACOTE = 0.00
            IF ( @AUXIPACOTE > 0.0 )
              BEGIN
                  SELECT @AUXIPACOTE = ISNULL(SUM(CONVERT(NUMERIC(18, 2), ABS(QUANTIDADEMATMED-QTDDEVOLVIDA)*VALORMATMED)), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN CONVERT(NUMERIC(15, 2), ABS(QUANTIDADEMATMED-QTDDEVOLVIDA)*VALORMATMED) END), 0)
                  FROM   SZATENDMATMED
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND ( NUMEROCONTA = @NCONTA )
                         AND ( SEQUENCIALCONTA = @SCONTA )
                         AND ( SEQPARCIAL = @SEQPARCIAL )
                         AND ( CODGGASTO = '08' )
                         AND ( ESTORNADO IS NULL )
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND ( INCLUIDOPACOTE = 'T' )
                         AND ( ( TIPOMOVIMENTO <> 2 )
                                OR ( TIPOMOVIMENTO IS NULL ) )
                         AND NOT NUMEROCONTA
                                 + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                 + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED)) IN (SELECT NUMEROCONTA
                                                                                    + RTRIM(CONVERT(CHAR, SEQUENCIALCONTA))
                                                                                    + RTRIM(CONVERT(CHAR, SEQDEBITOMATMED))
                                                                             FROM   SZATENDMATMEDGLOSA
                                                                             WHERE  CODCOLIGADA = @CODCOLIGADA
                                                                                    AND NUMEROCONTA = @NCONTA
                                                                                    AND SEQUENCIALCONTA = @SCONTA
                                                                                    AND ( SEQPARCIAL = @SEQPARCIAL )
                                                                                    AND ( SZATENDMATMED.CODGGASTO = '08' )
                                                                                    AND ( ESTORNADO IS NULL )
                                                                                    AND ( INCLUIDOPACOTE = 'T' )
                                                                                    AND ( ( TIPOMOVIMENTO <> 2 )
                                                                                           OR ( TIPOMOVIMENTO IS NULL ) ))
                  SELECT @AUXIPACOTE = @AUXIPACOTE
                                       + ISNULL(SUM(CONVERT(NUMERIC(18, 2), ABS(QUANTIDADEMATMED-QTDDEVOLVIDA)*VALORMATMED)), 0),
                         @TOTALIDPCTE = @TOTALIDPCTE
                                        + ISNULL(SUM(CASE WHEN IDENTIFICADO = 'T' THEN CONVERT(NUMERIC(15, 2), ABS(QUANTIDADEMATMED-QTDDEVOLVIDA)*VALORMATMED) END), 0)
                  FROM   SZATENDMATMEDGLOSA
                  WHERE  CODCOLIGADA = @CODCOLIGADA
                         AND ( NUMEROCONTA = @NCONTA )
                         AND ( SEQUENCIALCONTA = @SCONTA )
                         AND ( SEQPARCIAL = @SEQPARCIAL )
                         AND ( ESTORNADO IS NULL )
                         AND COALESCE(SEMINFOPGTO, 'F') = 'F'
                         AND ( INCLUIDOPACOTE = 'T' )
                         AND (( CODGGASTO = '08' ))
                         AND ( ( TIPOMOVIMENTO <> 2 )
                                OR ( TIPOMOVIMENTO IS NULL ) )
              END
            SELECT @TOTPACOTESUM = @TOTPACOTESUM + @AUXIPACOTE
            SELECT @MATPROTESEPCTE = @AUXIPACOTE
        END
      ELSE
        SELECT @MATPROTESEPCTE = 0
      UPDATE SZATENDRESUMOGLOSA
      SET    TAXASRESUMO = ISNULL(@TAXAS, 0),
             SERVICORESUMO = ISNULL(@SERVICOS, 0),
             MATLEITORESUMO = ISNULL(@MATL, 0),
             MATBLOCORESUMO = ISNULL(@MATB, 0),
             MATUTIRESUMO = ISNULL(@MATU, 0),
             MATRESUMO = ISNULL(@MATRESUMO, 0),
             MEDLEITORESUMO = ISNULL(@MEDL, 0),
             MEDBLOCORESUMO = ISNULL(@MEDB, 0),
             MEDUTIRESUMO = ISNULL(@MEDU, 0),
             MEDRESUMO = ISNULL(@MEDRESUMO, 0),
             MATORTESE = ISNULL(@MATORTESE, 0),
             MATPROTESE = ISNULL(@MATPROTESE, 0),
             VALORTOTALID = ISNULL(@TOTALID, 0),
             PACOTERESUMO = ISNULL(@TOTPACOTESUM, 0)
      WHERE  CODCOLIGADA = @CODCOLIGADA
             AND NUMEROCONTA = @NCONTA
             AND SEQUENCIALCONTA = @SCONTA
             AND SEQPARCIAL = @SEQPARCIAL
      UPDATE SZRESUMOCONTAPCTEG
      SET    TAXASRESUMO = ISNULL(@TAXASPCTE, 0),
             SERVICORESUMO = ISNULL(@SERVICOSPCTE, 0),
             MATRESUMO = ISNULL(@MATRESUMOPCTE, 0),
             MEDRESUMO = ISNULL(@MEDRESUMOPCTE, 0),
             MATORTESE = ISNULL(@MATORTESEPCTE, 0),
             MATPROTESE = ISNULL(@MATPROTESEPCTE, 0),
             VALORTOTALID = ISNULL(@TOTALIDPCTE, 0),
             PACOTERESUMO = ISNULL(@TOTPACOTESUM, 0)
      WHERE  CODCOLIGADA = @CODCOLIGADA
             AND NUMEROCONTA = @NCONTA
             AND SEQUENCIALCONTA = @SCONTA
             AND SEQPARCIAL = @SEQPARCIAL
END
GO
