USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[EPIS_CA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EPIS_CA] AS

WITH EPI_CA AS(
SELECT SEQ,DESCRICAO,CA,CODEPI,CODCOLIGADA
	   
	 	
FROM(
SELECT
	ROW_NUMBER ( )OVER (PARTITION BY B.CODEPI ORDER by B.CODEPI )SEQ,
	A.CODCOLIGADA,
	A.CODEPI,
	B.CA,
	A.NOME DESCRICAO
	
FROM 
	VCATALOGOEPI A
	LEFT JOIN VLOTEEPI B ON B.CODCOLIGADA = A.CODCOLIGADA AND B.CODEPI = A.CODEPI

 		WHERE A.TIPOEQUIPAMENTO NOT IN (2)
   
	)X)
	
	
SELECT
	CODCOLIGADA,DESCRICAO,CODEPI,
   REPLACE(	STUFF((
       SELECT '||' + t1.CA
         FROM EPI_CA t1
        WHERE t1.CODEPI = t0.CODEPI
        ORDER BY t1.CODEPI
          FOR XML PATH('')), 1, LEN(','), ''),'&#x0D;' ,' ') AS EPICA
          
FROM EPI_CA t0
 GROUP BY t0.DESCRICAO, t0.CODCOLIGADA,t0.CODEPI
GO
