USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SPC_SETPARAMETRO]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  RM Sistemas
  RM Saldus
  Tradução do procedimento "SetParametro"
  da SDMParam.pas para Stored Procedure MSSQL
*/
CREATE PROCEDURE [dbo].[SPC_SETPARAMETRO]
@COLIGADA SMALLINT,
@ID       INT,
@TEXTO    VARCHAR(250),
@INTEIRO  INT
AS
BEGIN
  DECLARE @TABELA CURSOR
  SET @TABELA = CURSOR STATIC FOR
  SELECT * FROM CPARAM
  WHERE CODCOLIGADA = @COLIGADA AND
        ID          = @ID
  OPEN @TABELA
  IF @@CURSOR_ROWS > 0
  BEGIN
    UPDATE CPARAM SET TEXTO = @TEXTO , INTEIRO = @INTEIRO
    WHERE CODCOLIGADA = @COLIGADA AND
          ID          = @ID
  END
  ELSE
  BEGIN
    INSERT INTO CPARAM (CODCOLIGADA,ID,TEXTO,INTEIRO)
    VALUES (@COLIGADA,@ID,@TEXTO,@INTEIRO)
  END
  CLOSE @TABELA
  DEALLOCATE @TABELA
END
GO
