USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_Afastamento_Funcionarios_Ats]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_Afastamento_Funcionarios_Ats]
AS

        SELECT DISTINCT 
			   Paf_Cpf				=  B.CPF
			 , Taf_Descricao		=  I.DESCRICAO
			 , Taf_Sigla			=  TIPO
			 , Pea_Dat_Afastamento	=  D.DTINICIO
			 , Pea_Dat_termino      =  CONVERT(DATETIME,CONVERT(VARCHAR,D.DTFINAL,112) + ' 23:59:59.000' )      
			 , Sitafa               = TIPO
			 , Data_Alteracao		= D.RECMODIFIEDON
			 , GRUPOCID				= D.MOTIVO
		  FROM PFUNC A WITH(NOLOCK)
		    INNER JOIN PFCOMPL L WITH(NOLOCK)      ON A.CODCOLIGADA   = L.CODCOLIGADA
														       AND A.CHAPA         = L.CHAPA
			 INNER JOIN PPESSOA      B WITH(NOLOCK) ON A.CODPESSOA     = B.CODIGO
			 INNER JOIN PFHSTAFT     D WITH(NOLOCK) ON A.CODCOLIGADA   = D.CODCOLIGADA
															   AND A.CHAPA         = D.CHAPA
			 INNER JOIN PCODAFAST    I WITH(NOLOCK) ON D.TIPO          = I.CODCLIENTE
		WHERE (D.DTINICIO    >= GETDATE()- 60 or D.DTFINAL    >= GETDATE()- 60 OR D.DTFINAL IS NULL)
		  AND B.CPF IS NOT NULL
		  AND L.ATSLOG      = 'T'
		  UNION ALL
		--LISTA TODAS AS FERIAS OCORRIDAS NOS ULTIMOS 60 DIAS NAS FILIAIS TRP E FUNÇOES MOTORISTA  
		  SELECT DISTINCT 
				   Paf_Cpf				=  B.CPF
				 , Taf_Descricao		=  'Ferias'
				 , Taf_Sigla			=  'F'
				 , Pea_Dat_Afastamento	=  E.DATAINICIO
				 , Pea_Dat_termino      =  CONVERT(DATETIME,CONVERT(VARCHAR,E.DATAFIM,112) + ' 23:59:59.000' )       
				 , Sitafa               = 'F'
				 , Data_Alteracao		= D.RECMODIFIEDON
				 , GRUPOCID             = ''
		  FROM PFUNC A WITH(NOLOCK)
		 INNER JOIN PFCOMPL L WITH(NOLOCK)      ON A.CODCOLIGADA   = L.CODCOLIGADA
														       AND A.CHAPA         = L.CHAPA
		 INNER JOIN PPESSOA      B WITH(NOLOCK) ON A.CODPESSOA     = B.CODIGO
		 INNER JOIN PFUFERIAS    D WITH(NOLOCK) ON A.CODCOLIGADA   = D.CODCOLIGADA
														   AND A.CHAPA         = D.CHAPA
		 INNER JOIN PFUFERIASPER E WITH(NOLOCK) ON A.CODCOLIGADA   = E.CODCOLIGADA
														   AND A.CHAPA         = E.CHAPA
														   AND D.FIMPERAQUIS   = E.FIMPERAQUIS
		WHERE E.DATAINICIO  >= GETDATE()- 60
		  AND E.SITUACAOFERIAS in  ('F','P','M')
		  AND B.CPF IS NOT NULL
		  AND L.ATSLOG      = 'T';



GO
