USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[get_MSSQL_USER]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[get_MSSQL_USER]() returns nvarchar(12) 
 as 
 begin 
    return (rtrim(substring(cast(context_info() as nvarchar(64)), 4, 12))) 
 end 

GO
