USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TPRD]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TPRD] AS
SELECT TPRODUTODEF.CODCOLIGADA, TPRODUTODEF.IDPRD, TPRODUTO.CODIGOPRD, TPRODUTO.NOMEFANTASIA, TPRODUTO.CODIGOREDUZIDO, TPRODUTO.ULTIMONIVEL,
       TPRODUTO.TIPO, TPRODUTO.DESCRICAO, TPRODUTO.DESCRICAOAUX, TPRODUTO.CODIGOAUXILIAR, TPRODUTO.REFERENCIACCF, TPRODUTO.NUMEROCCF,
       TPRODUTO.REFERENCIACP, TPRODUTO.DESCRICAOCP, TPRODUTO.PESOLIQUIDO, TPRODUTO.PESOBRUTO, TPRODUTO.COMPRIMENTO, TPRODUTO.ESPESSURA,
       TPRODUTO.LARGURA, TPRODUTO.COR, TPRODUTO.OBSERVACAO, TPRODUTO.DTCADASTRAMENTO, TPRODUTO.CAMPOLIVRE, TPRODUTO.CAMPOLIVRE2,
       TPRODUTO.CAMPOLIVRE3, TPRODUTO.IDPRODUTORELAC, TPRODUTO.TEMPO, TPRODUTO.INATIVO, TPRODUTO.PESAVEL, TPRODUTO.DATAULTALTERACAO,
       TPRODUTO.IDIMAGEM, TPRODUTO.DIAMETRO, TPRODUTODEF.DATAPRIMEIRAALT, TPRODUTO.CODUSUARIO, TPRODUTO.TEMPOVALIDADE, TPRODUTO.USUARIOCRIACAO,
       TPRODUTO.QTDEVOLUME, TPRODUTO.CODIGOEX, TPRODUTO.SERVICOPRODUTORMOFFICINA, TPRODUTO.PRODUTOEPI, TPRODUTO.PRODUTOBASE, TPRODUTO.NUMEROTRIBUTOS,
       TPRODUTO.EPERIODICO, TPRODUTO.BLOCK, TPRODUTO.DATAEXTRA1, TPRODUTO.DATAEXTRA2, TPRODUTO.CONTROLADOPORLOTE, TPRODUTO.MASCARANUMSERIE,
       TPRODUTO.USANUMSERIE, TPRODUTO.VALIDADEMINIMA, TPRODUTO.ID, TPRODUTODEF.CODFAB, TPRODUTODEF.NUMNOFABRIC, TPRODUTODEF.PRECO1, TPRODUTODEF.PRECO2,
       TPRODUTODEF.PRECO3, TPRODUTODEF.IDGRD, TPRODUTODEF.CODGRD, TPRODUTODEF.CODCOLUNA, TPRODUTODEF.CODLINHA, TPRODUTODEF.PRECO4, TPRODUTODEF.PRECO5,
       TPRODUTODEF.DATABASEPRECO1, TPRODUTODEF.DATABASEPRECO2, TPRODUTODEF.DATABASEPRECO3, TPRODUTODEF.DATABASEPRECO4, TPRODUTODEF.DATABASEPRECO5,
       TPRODUTODEF.CODMOEPRECO1, TPRODUTODEF.CODMOEPRECO2, TPRODUTODEF.CODMOEPRECO3, TPRODUTODEF.CODMOEPRECO4, TPRODUTODEF.CODMOEPRECO5,
       TPRODUTODEF.CODUNDCONTROLE, TPRODUTODEF.CODCPG,  TPRODUTODEF.ESTOQUEMINIMO1,
       TPRODUTODEF.ESTOQUEMAXIMO1, TPRODUTODEF.ESTOQUEMINIMO2, TPRODUTODEF.ESTOQUEMAXIMO2, TPRODUTODEF.ESTOQUEMINIMO3, TPRODUTODEF.ESTOQUEMAXIMO3,
       TPRODUTODEF.PONTODEPEDIDO1, TPRODUTODEF.PONTODEPEDIDO2, TPRODUTODEF.PONTODEPEDIDO3, TPRODUTODEF.PERCENTCOMISSAO, TPRODUTODEF.DESCONTOCOMPRA,
       TPRODUTODEF.DESCONTOVENDA, TPRODUTODEF.CUSTOUNITARIO, TPRODUTODEF.DTCUSTOUNITARIO, TPRODUTODEF.CODTIP, TPRODUTODEF.CODTB1FAT, TPRODUTODEF.CODTB2FAT,
       TPRODUTODEF.CODTB3FAT, TPRODUTODEF.CODTB4FAT, TPRODUTODEF.CODTB5FAT, TPRODUTODEF.MARGEMBRUTALUCRO, TPRODUTODEF.SALDOGERALFISICO,
       TPRODUTODEF.PERCENTCOMISSAO2, TPRODUTODEF.CODUNDCOMPRA, TPRODUTODEF.CODUNDVENDA, TPRODUTODEF.RECALCCUSTOMEDIO, TPRODUTODEF.CUSTOMEDIO,
       TPRODUTODEF.DATACUSTOMEDIO, TPRODUTODEF.DTULTIMACOMPRA, TPRODUTODEF.TIPOCONTA, TPRODUTODEF.SALDOGERALFINANC, TPRODUTODEF.DTULTIMACOMPRAB,
       TPRODUTODEF.CUSTOREPOSICAOB, TPRODUTODEF.PERCENTCOMISSAO3, TPRODUTODEF.CUSTOREPOSICAO, TPRODUTODEF.LOCALDESCARGA, TPRODUTODEF.CODCOLCONTAGER,
       TPRODUTODEF.CODCONTAGER, TPRODUTODEF.USANUMDECPRECO, TPRODUTODEF.NUMDECPRECO,  TPRODUTODEF.MULTIPLOPRD,
       TPRODUTODEF.CODTIPOAPL, TPRODUTODEF.CODDIEF, TPRODUTODEF.TOLERANCIASUP, TPRODUTODEF.TOLERANCIAINF, TPRODUTODEF.CODGRUPO, TPRODUTODEF.TRIBUTACAOECF,
       TPRODUTODEF.TIPOCALCULOCUSTO, TPRODUTODEF.CUSTOPADRAO, TPRODUTODEF.CODGRUPOBEM, TPRODUTODEF.GRPFATURAMENTO,
       TPRODUTODEF.TOLINFPRECO, TPRODUTODEF.TOLSUPPRECO, TPRODUTODEF.MULTIPLOQTDECOMPRADA, TPRODUTODEF.MULTIPLOPRDVENDA, TPRODUTODEF.CODTBORCAMENTO,
       TPRODUTODEF.IDPRDFISCALS, TPRODUTODEF.REPASSEFABRIC, TPRODUTODEF.IDPRDFISCALE, TPRODUTODEF.CODCOLTBORCAMENTO, TPRODUTODEF.RECALCSALDO1,
       TPRODUTODEF.RECALCSALDO2, TPRODUTODEF.RECALCSALDO3, TPRODUTODEF.RECALCSALDO4, TPRODUTODEF.RECALCSALDO5, TPRODUTODEF.RECALCSALDO6,
       TPRODUTODEF.RECALCSALDO7, TPRODUTODEF.RECALCSALDO8, TPRODUTODEF.RECALCSALDO9, TPRODUTODEF.RECALCSALDO10, TPRDFISCAL.CODIGOIRRF,
       TPRDFISCAL.DEDUCAOIRRF, TPRDFISCAL.ISSDEVIDOMUNICIPIOCLIENTE, TPRDFISCAL.PERCENTBASEINSS, TPRDFISCAL.PERCBASEINSSEMPREGADO,
       TPRDFISCAL.INCENTIVOFISCALMS, TPRDFISCAL.CODAPURACAO, TPRDFISCAL.INDESPECIAL, TPRDFISCAL.CODAPURACAOE, TPRDFISCAL.CODIGOSERVICOFEDERAL,
       TPRDFISCAL.MARGEMLUCROFISC, TPRDFISCAL.FATORREDUCAOICMS, TPRDFISCAL.INVENTARIOFISCAL, TPRDFISCAL.CLASSEFISCALECF, TPRODUTO.PERIGOSO
 FROM TPRODUTO  WITH(NOLOCK/*AZURE*/)
	JOIN TPRODUTODEF  WITH(NOLOCK/*AZURE*/)
      ON (TPRODUTO.IDPRD = TPRODUTODEF.IDPRD)
     LEFT JOIN TPRDFISCAL  WITH(NOLOCK/*AZURE*/)
      ON (TPRDFISCAL.CODCOLIGADA = TPRODUTODEF.CODCOLIGADA
		  AND TPRDFISCAL.IDPRD = TPRODUTODEF.IDPRD)
GO
