USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_index_op_stats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_index_op_stats]
   @dbname  sysname = N' ',  -- '*' - ALL, ' ' - current
   @schema  sysname = N' ',  -- @schema and @tabname are either both set
   @tabname sysname = N' ',  -- or both ' ' (which means ALL).
   @idxname sysname = N' ',   -- ' ' - ALL for given table.
   @topn int = 300,
   @order_by nvarchar(6) = N' '
         -- Default 'T' total ops,
         -- LINS  - Leaf inserts
         -- NLINS - Non-leaf inserts
         -- LDEL  - Leaf deletes
         -- NLDEL - Non-leaf deletes
         -- LUPD  - Leaf updates
         -- NLUPD - Non-leaf updates
         -- IOLTW - Io latch wait
         -- PLTW  - Page latch wait
         -- RLW   - Row lock wait
         -- PLW   - Page lock wait
         -- LOB   - LOB operations
         -- OFLW  - Row overflow operations
         -- GHST  - Ghosted records
         -- FWD   - Forwarded records
         -- SPLT  - Page splits
         -- LESC  - Lock escalation
as
begin
  declare @dbid int
  declare @cmd nvarchar(4000)
  declare @outcols nvarchar(3000)
  declare @outcols_rest nvarchar(3000)
  declare @objname sysname
  declare @topn_str nvarchar(64)
  declare @order_by_str nvarchar(128)
  set nocount on
-- Don't allow a select without a top
  if @topn <= 0
    set @topn = 300
  set @topn_str = N'TOP ' + convert(nvarchar,@topn)
  -- The output consists of DBNAME,SCHEMANAME,TABNAME,INDEXNAME,<datacolumns>
  -- These are the data columns:
  set @outcols_rest =
    N'total_ops=leaf_insert_count+leaf_delete_count+leaf_update_count+' +
    N' leaf_ghost_count+nonleaf_insert_count+nonleaf_delete_count+' +
    N' nonleaf_update_count+leaf_allocation_count+nonleaf_allocation_count+' +
    N' leaf_page_merge_count+nonleaf_page_merge_count+range_scan_count+' +
    N' singleton_lookup_count+forwarded_fetch_count+lob_fetch_in_pages+' +
    N' lob_orphan_create_count+lob_orphan_insert_count+' +
    N' row_overflow_fetch_in_pages+' +
    N' column_value_push_off_row_count+column_value_pull_in_row_count+' +
    N' row_lock_count+row_lock_wait_count+page_lock_count+' +
    N' page_lock_wait_count+index_lock_promotion_attempt_count+' +
    N' index_lock_promotion_count+' +
    N' page_latch_wait_count+page_io_latch_wait_count,' +
  N'avg_page_io_latch_wait_ms = case page_io_latch_wait_count ' +
  N' when 0 then 0 else ' +
     N'convert(float,page_io_latch_wait_in_ms) / ' +
     N'convert(float,page_io_latch_wait_count) end,' +
  N'avg_page_latch_wait_ms = case page_latch_wait_count ' +
  N' when 0 then 0 else ' +
     N'convert(float,page_latch_wait_in_ms) / ' +
     N'convert(float,page_latch_wait_count) end,' +
  N'avg_row_lock_wait_ms = case row_lock_count ' +
  N' when 0 then 0 else ' +
     N'convert(float,row_lock_wait_in_ms)  /  ' +
     N'convert(float,row_lock_count) end,' +
  N'avg_page_lock_wait_ms = case page_lock_count ' +
  N' when 0 then 0 else ' +
     N'convert(float,page_lock_wait_in_ms) / ' +
     N'convert(float,page_lock_count) end,' +
    N'leaf_insert_count,' +
    N'leaf_delete_count,' +
    N'leaf_update_count,' +
    N'leaf_ghost_count,' +
    N'nonleaf_insert_count,' +
    N'nonleaf_delete_count,' +
    N'nonleaf_update_count,' +
    N'leaf_allocation_count,' +
    N'nonleaf_allocation_count,' +
    N'leaf_page_merge_count,' +
    N'nonleaf_page_merge_count,' +
    N'range_scan_count,' +
    N'singleton_lookup_count,' +
    N'forwarded_fetch_count,' +
    N'lob_fetch_in_pages,' +
    N'lob_fetch_in_bytes,' +
    N'lob_orphan_create_count,' +
    N'lob_orphan_insert_count,' +
    N'row_overflow_fetch_in_pages,' +
    N'row_overflow_fetch_in_bytes,' +
    N'column_value_push_off_row_count,' +
    N'column_value_pull_in_row_count,' +
    N'row_lock_count,' +
    N'row_lock_wait_count,' +
    N'row_lock_wait_in_ms,' +
    N'page_lock_count,' +
    N'page_lock_wait_count,' +
    N'page_lock_wait_in_ms,' +
    N'index_lock_promotion_attempt_count,' +
    N'index_lock_promotion_count,' +
    N'page_latch_wait_count,' +
    N'page_latch_wait_in_ms,' +
    N'page_io_latch_wait_count,' +
    N'page_io_latch_wait_in_ms '
  -- Sort the output
  select @order_by_str =
    case @order_by
      when 'LINS'  then N'order by leaf_insert_count desc'
      when 'NLINS' then N'order by nonleaf_insert_count desc'
      when 'LDEL'  then N'order by leaf_delete_count desc'
      when 'NLDEL' then N'order by nonleaf_delete_count desc'
      when 'LUPD'  then N'order by leaf_update_count desc'
      when 'NLUPD' then N'order by nonleaf_update_count desc'
      when 'IOLTW' then N'order by avg_page_io_latch_wait_ms desc'
      when 'PLTW'  then N'order by avg_page_latch_wait_ms desc'
      when 'RLW'   then N'order by avg_row_lock_wait_ms desc'
      when 'PLW'   then N'order by avg_page_lock_wait_ms desc'
      when 'LOB'   then N'order by lob_fetch_in_bytes desc'
      when 'OFLW'  then N'order by row_overflow_fetch_in_bytes desc'
      when 'GHST'  then N'order by leaf_ghost_count desc'
      when 'FWD'   then N'order by forwarded_fetch_count desc'
      when 'SPLT'  then N'order by leaf_allocation_count desc'
      when 'LESC'  then N'order by index_lock_promotion_count desc'
      else   N'order by total_ops desc'
    end
  if @dbname = N'*' -- special case, get all objects and look up their names
  begin
    -- save all the data in a temp table
    select * into ##tmp_op from
        sys.dm_db_index_operational_stats(null,null,null,null)
    select distinct database_id into ##dbids from ##tmp_op
    create table ##id_nm_map(
              dbname sysname,dbid int,objid int,indid int,
              schname sysname,tabname sysname,idxname sysname )
    declare dbs cursor for select database_id from ##dbids
    open dbs
    fetch next from dbs into @dbid
    while (@@fetch_status <> -1)
    begin
      if (@@fetch_status <> -2)
        set @dbname = db_name(@dbid)
        set @cmd = N'use [' + @dbname + N'] ' +
           N'insert into ##id_nm_map select ''' + @dbname + ''',' +
           N'    tp.database_id,tp.object_id,tp.index_id,' +
           N'  schema_name(so.schema_id),so.name,si.name ' +
           N'from ##tmp_op tp,sys.objects so,' +
           N'     sys.indexes si ' +
           N'  where tp.database_id = @dbid and ' +
                   N'tp.object_id = so.object_id and ' +
                   N'so.object_id = si.object_id and ' +
                   N'si.index_id = tp.index_id and si.name is not null'
        exec sp_executesql @cmd,N'@dbid int',@dbid
      fetch next from dbs into @dbid
    end
    close dbs
    deallocate dbs
    set @outcols = @topn_str + N' DBNAME = m.dbname,' +
                   N'SCHEMANAME = m.schname,' +
                   N'TABNAME = m.tabname,' +
				   N'INDEXNAME = m.idxname,' + @outcols_rest
    set @cmd = N'select ' + @outcols +
      N'from ##id_nm_map m,##tmp_op tmpo ' +
      N'  where m.dbid = tmpo.database_id and ' +
      N'        m.objid = tmpo.object_id and ' +
      N'        m.indid = tmpo.index_id ' +
         @order_by_str
    exec sp_executesql @cmd
    drop table ##id_nm_map
    drop table ##tmp_op
    drop table ##dbids
  end
  else
  begin -- Dbname is specified, i.e. data for only one db is returned
    set @outcols = @topn_str +
        N' DBNAME = db_name(),' +
        N'SCHEMANAME = schema_name(so.schema_id),' +
        N'TABNAME = so.name,' +
        N'INDEXNAME = ISNULL(si.name,si.type_desc),' + @outcols_rest
    if @dbname = N' '
      set @dbname = db_name()
    set @dbid = db_id(@dbname)
    if @schema = N' '
      set @schema = schema_name()
    if @tabname = N' '
    begin
      set @cmd = N'use [' + @dbname + N'] ' +
        N'select ' + @outcols +
        N'from ' +
        N'sys.dm_db_index_operational_stats(@dbid,null,null,null) sop,' +
          N'sys.indexes si,sys.objects so ' +
        N'where ' +
            N'sop.object_id = so.object_id and ' +
            N'sop.object_id = si.object_id and ' +
            N'sop.index_id = si.index_id ' +
         @order_by_str
      exec sp_executesql @cmd,N'@dbid int',
          @dbid
    end
    else
    begin
      set @objname = N'[' + @schema + N'].[' + @tabname + N']'
      if @idxname = N' '
      begin
        set @cmd = N'use [' + @dbname + N'] ' +
          N'select ' + @outcols +
          N'from ' +
          N'sys.dm_db_index_operational_stats(@dbid,' +
               N'object_id(@objname),null,null) sop,' +
            N'sys.indexes si,sys.objects so ' +
          N'where ' +
            N'sop.object_id = so.object_id and ' +
            N'si.object_id = object_id(@objname) and ' +
            N'sop.object_id = si.object_id and ' +
            N'sop.index_id = si.index_id '
        exec sp_executesql @cmd,N'@dbid int,@objname sysname',
            @dbid,@objname
      end
      else
      begin
        set @cmd = N'use [' + @dbname + N'] ' +
          N'select ' + @outcols +
          N'from ' +
          N'sys.dm_db_index_operational_stats(@dbid,' +
          N'    object_id(@objname),null,null) sop,' +
            N'sys.indexes si,sys.objects so ' +
          N'where ' +
            N'sop.object_id = so.object_id and ' +
            N'si.object_id = object_id(@objname) and ' +
            N'sop.object_id = si.object_id and ' +
            N'sop.index_id = si.index_id and ' +
            N'si.name = @idxname '
        exec sp_executesql @cmd,N'@dbid int,@objname sysname,@idxname sysname',
            @dbid,@objname,@idxname
      end
    end
  end
end
 
GO
