USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[IGRPCONT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[IGRPCONT]
									AS
									SELECT CODCOLIGADA,
										IGRUPOPATRIMONIO.CODGRUPOPATRIMONIO CODGRUPO,
										DESCRICAO,
										0 REAVALIACAO,
										TAXADEFAULT AS TAXA,
										(SELECT CODCONTA FROM IGRUPOCONTA WHERE
												IGRUPOCONTA.IDCLASSIFICACAO    = 1 AND
												IGRUPOCONTA.CODCOLIGADA        = IGRUPOPATRIMONIO.CODCOLIGADA AND
												IGRUPOCONTA.IDGRUPOPATRIMONIO  = IGRUPOPATRIMONIO.IDGRUPOPATRIMONIO AND
												IGRUPOCONTA.IDCENARIOCALCULO =1
											)CONTABEM ,
										(SELECT CODCONTA FROM IGRUPOCONTA WHERE
												IGRUPOCONTA.IDCLASSIFICACAO    = 2 AND
												IGRUPOCONTA.CODCOLIGADA        = IGRUPOPATRIMONIO.CODCOLIGADA AND
												IGRUPOCONTA.IDGRUPOPATRIMONIO  = IGRUPOPATRIMONIO.IDGRUPOPATRIMONIO AND
												IGRUPOCONTA.IDCENARIOCALCULO =1
											) CONTADEPRECIACAO,
										NULL CONTADESPESA,
										NULL CONTACORRECAO,
										(SELECT CODCOLIGADACONTA FROM IGRUPOCONTA WHERE
												IGRUPOCONTA.IDCLASSIFICACAO    = 1 AND
												IGRUPOCONTA.CODCOLIGADA        = IGRUPOPATRIMONIO.CODCOLIGADA AND
												IGRUPOCONTA.IDGRUPOPATRIMONIO  = IGRUPOPATRIMONIO.IDGRUPOPATRIMONIO AND
												IGRUPOCONTA.IDCENARIOCALCULO =1
										) CODCOLCBEM,
										(SELECT CODCOLIGADACONTA FROM IGRUPOCONTA WHERE
												IGRUPOCONTA.IDCLASSIFICACAO    = 2 AND
												IGRUPOCONTA.CODCOLIGADA        = IGRUPOPATRIMONIO.CODCOLIGADA AND
												IGRUPOCONTA.IDGRUPOPATRIMONIO  = IGRUPOPATRIMONIO.IDGRUPOPATRIMONIO AND
												IGRUPOCONTA.IDCENARIOCALCULO =1
										) CODCOLCDEPRECIACAO,
										NULL CODCOLCDESPESA,
										NULL CODCOLCCORRECAO,
										TITULOAMARRADO,
										NULL CODUND,
										NULL CODEVENTOAVALIACAO,
										NULL CODEVENTOAVALIACAONEGATIVA,
										RECCREATEDBY,
										RECCREATEDON,
										RECMODIFIEDBY,
										RECMODIFIEDON
									FROM IGRUPOPATRIMONIO
GO
