USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_wmi_data]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get WMI data
create procedure [dbo].[sap_get_wmi_data]
  @wmi_alias nvarchar(30),
  @wmi_format nvarchar(30)
as
begin
  set nocount on
  declare @cmd    nvarchar(1024)
  declare @objsrc sysname
  create table #output (
      n int identity(1,1),
      line nvarchar(4000),
	)
  begin try
    select @objsrc = schema_name(schema_id) from sys.objects
     where object_id = @@PROCID
    set @cmd = N'exec [' + @objsrc + N'].sap_wmi_get '
           + '@wmi_alias,@wmi_format'
    insert #output(line)
      exec sp_executesql @cmd,
        N'@wmi_alias nvarchar(30),@wmi_format nvarchar(30)',
        @wmi_alias,@wmi_format
  end try
  begin catch
  end catch
  select line from #output where n > 0
end
 
GO
