USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_included_columns]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_get_included_columns]
  @table_name sysname = NULL,
  @schema_name sysname = NULL,
  @db_name sysname = NULL
AS
BEGIN
  declare @cmd nvarchar(2400)
  set nocount on
  if @db_name is null
    select @db_name = db_name()
  set @cmd = N'use ' + @db_name +
  N' select ' +
  N'   so.name as table_name,' +
  N'   si.name as index_name,' +
  N'   col_name(so.object_id,sc.column_id) as included_column' +
  N' from ' +
  N'  sys.objects so ' +
  N'  join ' +
  N'  sys.indexes si ' +
  N'on so.object_id = si.object_id ' +
  N'  join ' +
  N'  sys.index_columns sc ' +
  N'on si.object_id = sc.object_id and ' +
  N'   si.index_id = sc.index_id ' +
  N'where ' +
  N'  sc.is_included_column = 1 ' +
  N'and (@schema_name is null or ' +
  N'     schema_id(@schema_name) = so.schema_id) '+
  N'and (@table_name is null or so.name = @table_name) '
  exec sp_executesql @cmd,
     N'@table_name sysname,@schema_name sysname',
     @table_name,@schema_name
END
 
GO
