USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_mssdwdlls]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_mssdwdlls]
as
begin
  set nocount on
  select * from MSSDWDLLS
    where upper(HOSTNAME) in
      ( select distinct(upper(hostname)) collate database_default
          from master..sysprocesses )
    order by HOSTNAME asc, DLLNAME asc, LASTDATE desc, LASTTIME desc
end
 
GO
