USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_exec_dbcc_showstats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_exec_dbcc_showstats]
  @table_name sysname,
  @index_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @pstr nvarchar(512)
declare @object_type char(2)
declare @indid tinyint
declare @objsrc sysname
-- check whether the table exists
-- build the select statement
set @cmd = N'use ' + @db_name +
             N' select @object_type = o.type ' +
             N'from ' + @db_name + N'.sys.objects o ' +
               N'where o.name = ''' + @table_name + N''' ' +
                 N'and schema_name(o.schema_id) = @schema_name '
set @pstr = N'@object_type char(2) output,@schema_name sysname'
-- get the type
exec sp_executesql @cmd, @pstr, @object_type output,@schema_name
if @object_type is null or @object_type not in ('U', 'S')
  begin
    raiserror('Table not found.',16,1)
    RETURN
  end
-- check whether the index exists
-- build the select statement
set @cmd = N'use ' + @db_name +
             N' select @index_id = i.indid ' +
             N'from ' + @db_name + N'.sys.objects o, ' +
                        @db_name + N'.dbo.sysindexes i ' +
               N'where o.name = @table_name ' +
                 N'and schema_name(o.schema_id) = @schema_name ' +
                 N'and i.id = o.object_id ' +
                 N'and i.name =  @index_name ' +
                 N'and i.indid > 0 ' +
                 N'and i.indid < 255'
set @pstr = N'@index_id smallint output,' +
            N'@table_name sysname,' +
            N'@index_name sysname,' +
            N'@schema_name sysname'
-- get the id
exec sp_executesql @cmd, @pstr, @indid output,
        @table_name,@index_name,@schema_name
if @indid is null
  begin
    raiserror('Index not found.',16,1)
    RETURN
  end
-- build the dbcc command
set @cmd = N'dbcc show_statistics([' + @db_name + N'.' + @schema_name +
                                N'.' + @table_name + N'],[' +
                                       @index_name + N'])'
-- execute the dbcc command
  select @objsrc = schema_name(schema_id) from sys.objects
     where object_id = @@PROCID
  set @objsrc = N'['+@objsrc+N']'
  set @cmd = @objsrc + '.sap_sec_showstats ''' + @db_name +
      ''',''' + @schema_name + ''',''' +
      @table_name + ''',''' +
      @index_name + ''''
  exec (@cmd)
END
 
GO
