USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_exec_dbcc_checktable]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_exec_dbcc_checktable]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @pstr nvarchar(512)
declare @object_type char(2)
-- check whether the table exists
-- build the select statement
set @cmd = N'use [' + @db_name + N'] ' +
             N'select @object_type = o.type ' +
             N'from sys.objects o ' +
               N'where o.name = @table_name ' +
                 N'and schema_name(o.schema_id) = @schema_name'
set @pstr = N'@object_type char(2) output,' +
            N'@table_name sysname,@schema_name sysname'
-- get the type
exec sp_executesql @cmd, @pstr, @object_type output,
         @table_name,@schema_name
if @object_type is null or @object_type not in ('U', 'S')
begin
  raiserror('Table not found.',16,1)
  RETURN
end
-- build the dbcc command
set @cmd = N'dbcc checktable([' + @db_name + N'.' + @schema_name +
                             N'.' + @table_name + N'])'
-- execute the dbcc command
exec (@cmd)
END
 
GO
