USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[MTRF]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MTRF] AS SELECT * FROM MTAREFA WHERE TIPOPLANILHA = 0 AND IDCENARIO = 0
GO
