USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[ZOUTSERV_PROJETO_MLH01058]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- [[ ATENCAO, LEIA OS COMENTÁRIOS ABAIXO GRAVADOS ]]

--- COMETARIO 01
-- [[ A PROCEDURE FOI CRIADA PARA ATENDER AO PROJETO MLH01058, NELA IDENTIFICAMOS OS ATESTADOS COM NOVOS CÓDIGOS, PARA SELECIONAR UM PARAMETRO NO HISTÓRICO ]]
-- [[ DE AFASTAMENTO, QUE FARÁ  COM QUE O SISTEMA LANCE O PAGAMENTO DOS DIAS DE ATESTADOS SEM INC INSS NO CÓDIGO DE CALCULO 445 ]]


--- COMETARIO 02
-- [[ PORTANTO, A **ETAPA 01 SERÁ A IDENTIFICACAO DAS CHAPAS A SEREM ALTERADAS, POSTERIOR GRAVAR EM TABELA TEMPORARIA OS RESULTADOS OBTIDOS ]]
-- [[ FINALIZANDO, SERÃO GRAVADOS OS DADOS NA TABELA TEMPORARIA ZOUTSERV_TEMPTABLE_PROJ_MLH01058 QUE SERÁ USADA NA **ETAPA 02 ]]


--- COMETARIO 03
-- [[ A **ETAPA 02 EXECUTARÁ UPDATE NA TABELA DE HISTORICO DE AFASTAMENTOS (PFHSTAFT) A PARTIR DAS INFORMAÇÕES GRAVADAS NA TABELA TEMPORARIA]]
-- [[ SERAO USADOS PARA CHAVE: CODCOLIGADA, CHAPA E DTINICIO ]]


--- COMETARIO 04
-- [[ POR FIM A **ETAPA 03 VAI DROPAR A TABELA TEMPORARIA DO BANCO DE DADOS, PARA QUE POSSA SER CRIADA NOVAMENTE APOS NOVA VALIDAÇÃO (PROX DIA) ]]


CREATE PROCEDURE [dbo].[ZOUTSERV_PROJETO_MLH01058]

AS
BEGIN

-- [[ **ETAPA 01 INICIO ]]


WITH

-- [[LINHAS ABAIXO IDENTIFICAM A COMPETÊNCIA DA COLIGADA PARA MONTAR O MÊS E A DATA]]

	COMP_COL 
		AS (
				SELECT
					PPARAM.CODCOLIGADA, 
					PPARAM.MESCOMP,
					PPARAM.ANOCOMP,
					DATEADD(MONTH, DATEDIFF(MONTH, 0, DATEADD(YEAR, PPARAM.ANOCOMP - 1900, DATEADD(MONTH, PPARAM.MESCOMP - 1, 0))), 0) AS PRIMEIRO_DIA,
					EOMONTH(DATEADD(MONTH, DATEDIFF(MONTH, 0, DATEADD(YEAR, PPARAM.ANOCOMP - 1900, DATEADD(MONTH, PPARAM.MESCOMP - 1, 0))), 0)) AS ULTIMO_DIA 
				FROM 
					PPARAM 
				WHERE 
					PPARAM.CODCOLIGADA NOT IN ('0')
			), 
  

		  
-- [[LINHAS ABAIXO VALIDAM FUNCIONÁRIOS QUE TIVERAM ATESTADOS MÉDICOS DENTRO DA COMPETÊNCIA MONTADA ANTERIOR, (COMP. FOLHA) E SE O CADASTRO HISTORICO AFAS NÃO TEM FLAG ]]
  
   	 AFASTAMENTO 
   	 	AS (
				SELECT 
				    PFUNC.CODCOLIGADA,
				    PFUNC.CHAPA,
				    PFUNC.CODPESSOA,
				    PFHSTAFT.DTINICIO,
				    PFHSTAFT.DTFINAL,
				    PFHSTAFT.TIPO,
				    PFHSTAFT.AFASTPELAPREVIDENCIA
				FROM 
					PFHSTAFT 
					INNER JOIN PFUNC ON PFUNC.CODCOLIGADA = PFHSTAFT.CODCOLIGADA AND PFUNC.CHAPA = PFHSTAFT.CHAPA 
					INNER JOIN COMP_COL ON COMP_COL.CODCOLIGADA = PFHSTAFT.CODCOLIGADA 
				WHERE 
				   	PFHSTAFT.DTINICIO BETWEEN COMP_COL.PRIMEIRO_DIA AND COMP_COL.ULTIMO_DIA
				   	AND PFHSTAFT.TIPO IN ('I', 'P', 'T')
				   	AND (PFHSTAFT.AFASTPELAPREVIDENCIA <> 1 OR PFHSTAFT.AFASTPELAPREVIDENCIA IS NULL)
						
			)


	
-- [[ SENTENCA SQL PRINCIPAL, VINCULADA COM AS SENTENCAS ACIMA, ONDE É VERIFICADO NO CADASTRO DOS ATESTADOS, POR TIPO, PARA AS DATAS MONTADAS ]]
-- [[ VISANDO RETORNAR SOMENTE AS PESSOAS PENDENTES DE SELEÇÃO DO FLAG PARA OS NOVOS TIPOS DE ATESTADOS ]]
    SELECT
        AFASTAMENTO.CODCOLIGADA,
        AFASTAMENTO.CHAPA,
        VATESTADO.SEQATESTADO,
        VATESTADO.CODPESSOA,
        VATESTADO.DTINICIO,
        VATESTADO.DTFINAL,
        VATESTADO.CODTPATESTADO
        
-- [[ NA LINHA ABAIXO, GRAVAREMOS TUDO EM UMA TABELA TEMPORARIA PARA EXECUTAR O UPDATE NO CAMPO DO FLAG E POSTERIOR, DROPAR A TABELA ]]
    INTO ZOUTSERV_TEMPTABLE_PROJ_MLH01058
    FROM 
        VATESTADO 
        INNER JOIN AFASTAMENTO ON AFASTAMENTO.CODCOLIGADA = VATESTADO.CODCOLIGADA AND AFASTAMENTO.CODPESSOA = VATESTADO.CODPESSOA
    WHERE 
        VATESTADO.DTINICIO BETWEEN AFASTAMENTO.DTINICIO AND AFASTAMENTO.DTFINAL
        AND VATESTADO.CODTPATESTADO IN ('14');
        
-- [[ **ETAPA 01 FINAL ]]






-- [[ **ETAPA 02 INICIO ]]

-- [[ ATUALIZAÇÃO DOS DADOS NA TABELA PFHSTAFT CAMPO AFASTPELAPREVIDENCIA PARA QUE FIQUE IGUAL A SELECIONADO, A PARTIR DOS DADOS GRAVADOS NA TABELA TEMPORARIA ]]
    UPDATE PFHSTAFT
    SET AFASTPELAPREVIDENCIA = 1
    FROM PFHSTAFT
    INNER JOIN ZOUTSERV_TEMPTABLE_PROJ_MLH01058 ON ZOUTSERV_TEMPTABLE_PROJ_MLH01058.CODCOLIGADA = PFHSTAFT.CODCOLIGADA
                AND ZOUTSERV_TEMPTABLE_PROJ_MLH01058.CHAPA = PFHSTAFT.CHAPA AND ZOUTSERV_TEMPTABLE_PROJ_MLH01058.DTINICIO = PFHSTAFT.DTINICIO;

-- [[ **ETAPA 02 FINAL ]]







-- [[ **ETAPA 03 INICIO ]]

-- [[ REMOCAO DA TABELA TEMPORARIA, VISANDO RECRIAR A MESMA A CADA NOVA EXECUCAO AGENDADA ]]
    DROP TABLE ZOUTSERV_TEMPTABLE_PROJ_MLH01058;
    

-- [[ **ETAPA 03 FINAL ]]  

 
END;
GO
