USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_all_tasks]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_all_tasks] @ndays int = 30
as
begin
/********************************************************************/
/* 01/09/03. Changed where condition to last_run_date >= @tempdate3 */
/*           from ( (t.date_created >= @tempdate and                */
/*                    or  r.next_run_date >= @tempdate3)            */
/* 05/29/03  Changed where condition to                             */
/*           (last_run_date >= @tempdate3                           */
/*         or (last_run_date = 0 and t.date_created >= @tempdate))  */
/*           This will include jobs created during the time range   */
/*           but didn't run                                         */
/*         Also changed the update run status with a case command   */
/*                                                                  */
/* 04/09/04  changed temp table fields to nvarchar and added        */
/*           convert statment to tname, and owner_sid columns,      */
/*           changed tempmonth as MONTH(@tempdate) -rr              */
/*                                                                  */
/*05/12/2004  Added or  (last_run_date >= @tempdate3 and            */
/*            last_run_date <= @currdate))                          */
/*            Added qualifier 't' to OWNER_SID  column              */
/*10/28/2004 calculated @currdate first and then @tempdate3 later   */
/*                                                                  */
/*09/01/2006  DB13 Jobs are split into multiple job steps           */
/*            DB12 stored procedures are changed to select  the     */
/*            job lists for the Job step id = 1 ( sysjobhistory     */
/*            contains no zero job step).                           */
/*            Added where condition:  s.job_id = 1                  */
/*            Changed to select job status for step  '0'            */
/*            ( SysjobHistory contains a row for job-step = 0 and   */
/*             this row contains final job status for all job steps)*/
/*            and status is updated for  with h.step_id  = 0        */
/*06/18/2007  Changed the condition as runtime is recorded          */
/*            sometimes as euntime + 1                              */
/*            and (h.run_time = #tasks.lastruntime or               */
/*           h.run_time = (#tasks.lastruntime - 1))                 */
/*09/19/2007  Added 'set nocount on' stmt for SQL 2008              */
/********************************************************************/
declare @tempdate           datetime,
        @tempyear           int,
        @tempmonth          int,
        @tempday            int,
        @tempmonth2         int,
        @tempdate2          nvarchar(10),
        @tempdate3          int,
        @currdate           int
  create table #tasks (
   jobname      nvarchar(100) null,
   id           varbinary(16) null,
   owner        nvarchar(30) null,
   dbname       nvarchar(256) null,
   jobtype      nvarchar(60) null,
   command      nvarchar(520) null,
   strundate    int null,
   struntime    int null,
   runstatus    int null,
   lastrundate  int null,
   lastruntime  int null,
   nextruntm    int null,
   nextrundt    int null,
   enabled      tinyint null,
   status_desc  nvarchar (100) NULL)
  set nocount on
/* In msdb tables, the job rundate and runtime, create date are stored */
/* in different format                                                 */
  select @tempdate        = getdate()
  select @tempyear        = YEAR(@tempdate)
  select @tempmonth       = MONTH(@tempdate)
  select @tempday         = DAY(@tempdate)
  if @tempday < 10
      begin
        if @tempmonth < 10
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                  CAST(@tempmonth AS char(1)) + '0' +
                                  CAST(@tempday   AS char(1))
         else
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                  CAST(@tempmonth AS varchar(2)) + '0' +
                                  CAST(@tempday   AS char(1))
         end
     else
       begin
        if @tempmonth < 10
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                  CAST(@tempmonth AS char(1)) +
                                  CAST(@tempday   AS varchar(2))
        else
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                  CAST(@tempmonth AS varchar(2)) +
                                  CAST(@tempday   AS varchar(2))
       end
   select @currdate        = @tempdate2
-- print @currdate
-- get the current date - @ndays in the format yyyymmdd
  select @tempdate        = getdate() - @ndays
  select @tempyear        = YEAR(@tempdate)
  select @tempmonth       = MONTH(@tempdate)
  select @tempday         = DAY(@tempdate)
  if @tempday < 10
      begin
        if @tempmonth < 10
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                  CAST(@tempmonth AS char(1)) + '0' +
                                  CAST(@tempday   AS char(1))
         else
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                  CAST(@tempmonth AS varchar(2)) + '0' +
                                  CAST(@tempday   AS char(1))
       end
     else
       begin
        if @tempmonth < 10
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                  CAST(@tempmonth AS char(1)) +
                                  CAST(@tempday   AS varchar(2))
        else
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                  CAST(@tempmonth AS varchar(2)) +
                                  CAST(@tempday   AS varchar(2))
       end
  select @tempdate3       = @tempdate2
--  print @tempdate3
 insert into #tasks (jobname, id, owner, dbname, jobtype, command,
                      strundate, struntime,lastrundate, lastruntime,
                      nextruntm, nextrundt, enabled)
 select convert(nvarchar(100),t.name),
        convert(varbinary,t.job_id),
        convert(nvarchar(30),suser_sname(t.owner_sid)),
        database_name,
        convert(nvarchar(60),subsystem),
        convert(nvarchar(520), command),
        r.active_start_date,
        r.active_start_time,
        last_run_date,
        last_run_time,
        q.next_run_time,
        q.next_run_date,
        t.enabled
  from  msdb..sysjobs t, msdb..sysjobsteps s,msdb..sysschedules r,
        msdb..sysjobschedules q
  where t.job_id = s.job_id
   and  t.job_id = q.job_id
   and  r.schedule_id = q.schedule_id
   and  s.step_id = 1
   and  (t.date_created >= @tempdate
    or  (last_run_date >= @tempdate3 and
         last_run_date <= @currdate))
  order by database_name, subsystem
/****************************************************************/
/* update the run_status of the jobs and also job description   */
/*   for all the jobs ran atleast once in sql server            */
/****************************************************************/
    update #tasks
    set #tasks.runstatus = h.run_status,
       #tasks.status_desc =
       case
         when h.run_status = 0 THEN 'Failed'
         when h.run_status = 1 THEN 'Succeeded'
         when h.run_status = 2 THEN 'Retry'
         when h.run_status = 3 THEN 'Canceled'
         when h.run_status = 4 THEN 'In progress'
         ELSE 'unknown'
       end
    from msdb..sysjobhistory h
    where h.job_id = #tasks.id
    and (h.run_time = #tasks.lastruntime or
         h.run_time = (#tasks.lastruntime - 1))
    and h.run_date = #tasks.lastrundate
    and h.step_id  = 0
/******************************************************************/
/* update the status description of the jobs which didn't run yet */
/******************************************************************/
    update #tasks
    set status_desc = 'Did not run'
    where runstatus is NULL
    select jobname, owner, dbname, jobtype, command, strundate,
           struntime, runstatus, lastrundate, lastruntime,
           nextruntm, nextrundt, id, enabled, status_desc
    from #tasks
    drop table #tasks
    set nocount off
end
 
GO
