USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSFINANCIAMENTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSFINANCIAMENTO]
AS
  SELECT CODCOLIGADA,
         CO_FINANCIAMENTO CODFINANC,
         NO_FINANCIAMENTO DESCRICAO
  FROM   GCOLIGADA,
         SZSUSTUFINANCIAMENTO
GO
