USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZVLOREFLAYOUAOL]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZVLOREFLAYOUAOL] AS
SELECT
	SZAOLRESCADEXMVR.IDEXAMECAD,
	0 CODEXAME,
	SZAOLRESCADPAC.CODIGO CODPACIENTE,
	SZAOLRESCADPAC.SEXO,
	SZAOLRESCADPAC.DATANASC,
	SZAOLRESCADEXMVR.CODCOLIGADA,
	2 TIPOVALREF,
	2 TIPO,
	SZAOLRESCADEXMVR.TEXTO TEXTREFERENCIA,
	0 VALORMINIMO,
	0 VALORMAXIMO
FROM
	SZAOLRESCADEXMVR (NOLOCK)
INNER JOIN
	SZAOLRESCADEXM (NOLOCK)
ON
	SZAOLRESCADEXMVR.CODCOLIGADA = SZAOLRESCADEXM.CODCOLIGADA
	AND SZAOLRESCADEXMVR.IDEXAMECAD = SZAOLRESCADEXM.ID
INNER JOIN
	SZAOLRESCADPAC (NOLOCK)
ON
	SZAOLRESCADEXM.CODCOLIGADA = SZAOLRESCADPAC.CODCOLIGADA
	AND SZAOLRESCADEXM.IDREQ = SZAOLRESCADPAC.IDREQ
GO
