USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_exec_updatestats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_exec_updatestats]
  @table_name sysname,
  @index_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @fullscan char(1),
  @sampleper tinyint
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(1024)
declare @pstr nvarchar(256)
declare @object_type char(2)
declare @indid smallint
-- check whether the table exists
set @cmd =
  N'select @object_type = so.[type] from ' + @db_name + N'.sys.objects so, ' +
                                             @db_name + N'.sys.schemas sch ' +
  N'  where sch.schema_id = so.schema_id and ' +
  N'    sch.name = @schema_name and ' +
  N'    so.[name] = @object_name '
set @pstr = N'@object_type nvarchar(10) output,' +
            N'@schema_name sysname, ' +
            N'@object_name sysname'
-- get the type
exec sp_executesql @cmd, @pstr, @object_type output,@schema_name,@table_name
if @object_type is null or @object_type not in ('U', 'S')
  begin
    raiserror('Table not found.',16,1)
    RETURN
  end
-- check whether the index exists, if specified
if @index_name <> N'' and @index_name <> N' '
  begin
-- Can't do this!
--    exec sap_get_index_id @index_name, @table_name,
--                          @schema_name, @db_name, @indid output
    -- not terribly nice but sysobjects.uid is in fact the schema id
    set @cmd = N'select @index_id = i.indid ' +
             N'from ' + @db_name + N'.dbo.sysobjects o, ' +
                        @db_name + N'.sys.schemas sch, ' +
                        @db_name + N'.dbo.sysindexes i ' +
                 N'where o.name = @table_name ' +
                 N'and o.uid = sch.schema_id ' +
                 N'and sch.name = ''' + @schema_name + N''' ' +
                 N'and i.id = o.id ' +
                 N'and i.name = @index_name ' +
                 N'and i.indid > 0 ' +
                 N'and i.indid < 255'
    set @pstr =
      N'@table_name sysname, @index_name sysname, @index_id smallint output'
    -- get the id
    exec sp_executesql @cmd, @pstr, @table_name, @index_name, @indid output
    if @indid is null
      begin
        raiserror('Index not found.',16,1)
        RETURN
      end
  end
-- build the command
set @cmd = N'update statistics [' + @db_name + N'].[' + @schema_name +
                             N'].[' + @table_name + N'] '
if @indid is not null
  set @cmd = @cmd + N'[' + @index_name + N'] '
if @fullscan = 'X'
  set @cmd = @cmd + N'with fullscan'
if @sampleper > 0
  set @cmd = @cmd + N'with sample ' + convert(nvarchar(3),@sampleper) +
                    N' percent'
-- execute the command
exec (@cmd)
END
 
GO
