USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_exec_dbcc_showhistogram]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_exec_dbcc_showhistogram]
  @table_name   sysname,
  @index_name   sysname,
  @schema_name  sysname,
  @db_name      sysname
AS
BEGIN
  set nocount on
  -- declare local variables
  declare @cmd         nvarchar(1024)
  declare @pstr        nvarchar(512)
  declare @maxdl       int
  declare @curr_schema sysname
  declare @objsrc      sysname
  select @objsrc = schema_name(schema_id) from sys.objects
     where object_id = @@PROCID
  set @objsrc = N'['+@objsrc+N']'
  set @cmd = @objsrc + '.sap_sec_showstats ''' + @db_name +
      ''',''' + @schema_name + ''',''' +
      @table_name + ''',''' +
      @index_name + ''',''X'''
create table #dbcc (
	range_hi_key nvarchar(4000),
	range_rows decimal(16,0),
	eq_rows decimal(16,0),
	distinct_range_rows decimal(16,0),
	avg_range_rows decimal(16,0))
insert into #dbcc
	exec(@cmd)
select @maxdl = MAX(datalength(range_hi_key)) from #dbcc
if exists( select * from #dbcc where
   substring(convert(varbinary,range_hi_key),2,1) > 0) and
   @maxdl <= 30  -- Datatype is varbinary of length <= 30
begin
  -- use sap_hex_conv from the same schema as sap_exec_dbcc_showhistogram
  select @curr_schema = schema_name(schema_id)
       from sys.objects where object_id = @@PROCID
  set @cmd = N'select substring('+@curr_schema+
   N'.sap_hex_conv(convert(varbinary,range_hi_key)),1,256),'+
       N'range_rows,eq_rows,distinct_range_rows,avg_range_rows '+
	N'from #dbcc '+
	N'order by eq_rows desc'
  exec sp_executesql @cmd
end
else
  select range_hi_key = substring( range_hi_key,1,256 ),
       range_rows,eq_rows,distinct_range_rows,avg_range_rows
	from #dbcc
	order by eq_rows desc
	
end
 
GO
