USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSCBOCUPACAO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSCBOCUPACAO]
AS
  SELECT CODCOLIGADA,
         CO_OCUPACAO CBO,
         NO_OCUPACAO DESCRICAO
  FROM   GCOLIGADA,
         SZSUSTUOCUPACAO
GO
