USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[DLAFRAT]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[DLAFRAT] AS
SELECT  CCONTRAT.CODCOLIGADA, CCONTRAT.IDCONT AS IDLAFCONT, DLAFCTB.IDLAF, CCONT.TIPO,
CPARTIDA.CODCOLDEBITO AS CODCOLCONTA, CPARTIDA.DEBITO AS CODCONTA,
CCONTRAT.CODCOLCONTAGER, CCONTRAT.CODCONTAGER,
CCONTRAT.VALOR, CPARTIDA.CODLOTE,
CASE WHEN CPARTIDA.CODLOTE = 0  THEN NULL
ELSE CPARTIDA.LCTREF END AS LCTREF,
CASE WHEN CPARTIDA.CODLOTE = 0 THEN CPARTIDA.LCTREF
ELSE NULL            END AS LCTREFINT,
CPARTIDA.IDPARTIDA
FROM CCONTRAT
JOIN CCONT ON CCONT.CODCOLIGADA = CCONTRAT.CODCOLIGADA AND CCONT.IDCONT = CCONTRAT.IDCONT
JOIN DLAFCTB  ON DLAFCTB.CODCOLIGADA = CCONT.CODCOLIGADA AND DLAFCTB.IDOPERACAO = CCONT.IDOPERACAO
JOIN CPARTIDA ON CPARTIDA.CODCOLIGADA = CCONT.CODCOLIGADA AND CPARTIDA.IDPARTIDA = CCONT.IDPARTIDA
JOIN CCONTA   ON CCONTA.CODCOLIGADA = CPARTIDA.CODCOLDEBITO AND CCONTA.CODCONTA = CPARTIDA.DEBITO
WHERE
CCONT.TIPO IN (1,3) AND CCONTA.RATEIO = 1
UNION
SELECT  CCONTRAT.CODCOLIGADA, CCONTRAT.IDCONT AS IDLAFCONT, DLAFCTB.IDLAF, CCONT.TIPO,
CPARTIDA.CODCOLCREDITO AS CODCOLCONTA, CPARTIDA.CREDITO AS CODCONTA,
CCONTRAT.CODCOLCONTAGER, CCONTRAT.CODCONTAGER,
CCONTRAT.VALOR, CPARTIDA.CODLOTE,
CASE WHEN CPARTIDA.CODLOTE = 0  THEN NULL
ELSE CPARTIDA.LCTREF END AS LCTREF,
CASE WHEN CPARTIDA.CODLOTE = 0 THEN CPARTIDA.LCTREF
ELSE NULL            END AS LCTREFINT,
CPARTIDA.IDPARTIDA
FROM CCONTRAT JOIN CCONT
ON CCONT.CODCOLIGADA = CCONTRAT.CODCOLIGADA
AND CCONT.IDCONT = CCONTRAT.IDCONT
JOIN DLAFCTB     ON DLAFCTB.CODCOLIGADA = CCONT.CODCOLIGADA AND DLAFCTB.IDOPERACAO = CCONT.IDOPERACAO
JOIN CPARTIDA ON CPARTIDA.CODCOLIGADA = CCONT.CODCOLIGADA AND CPARTIDA.IDPARTIDA = CCONT.IDPARTIDA
JOIN CCONTA   ON CCONTA.CODCOLIGADA = CPARTIDA.CODCOLCREDITO AND CCONTA.CODCONTA = CPARTIDA.CREDITO
WHERE
CCONT.TIPO IN (2,3) AND CCONTA.RATEIO = 1
GO
