USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_table_size_detail]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_table_size_detail]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(1024)
declare @tabname nvarchar(512)
set @tabname = @schema_name + N'.' + @table_name
set @cmd = N'use [' + @db_name + N'] select ' +
  N'in_rowKB = sum(in_row_data_page_count)*8,' +
  N'in_row_usedKB = sum(in_row_used_page_count)*8,' +
  N'in_row_reservedKB = sum(in_row_reserved_page_count)*8,' +
  N'lob_usedKB = sum(lob_used_page_count)*8,' +
  N'lob_reservedKB = sum(lob_reserved_page_count)*8,' +
  N'overflow_usedKB = sum(row_overflow_used_page_count)*8,' +
  N'overflow_reservedKB = sum(row_overflow_reserved_page_count)*8 ' +
N'from sys.dm_db_partition_stats ' +
  N'where object_id = object_id(@tabname) and index_id in(0,1)'
exec sp_executesql @cmd,N'@tabname nvarchar(512)',
       @tabname
END
 
GO
