USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[sap_tabstats_V_oldest]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[sap_tabstats_V_oldest] as select MIN(sampledate) as sampledate,tablename,uid from sap_tabstats group by tablename,uid
GO
