USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tr_switch]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tr_switch]
  @permid    int ,  -- Permanent ID in sap_tr_header
  @status    int    -- 1 : ON, 0 : OFF
AS
-- Initialisations
  declare  @retval   int
  declare  @current  int
  declare  @traceid  int
  set nocount on
  set @traceid = ( select traceid from sap_tr_header
                   where permid = @permid )
  if ( @traceid IS NULL )
    RETURN 5
-- Check whether we are talking about the same trace
  IF NOT EXISTS ( select b.tracef from
                  ::fn_trace_getinfo(@traceid) a , sap_tr_header b
                  where a.property = 2 and
                        b.permid = @permid and
                        cast(a.value as nvarchar(320)) = b.tracef )
    RETURN 1
-- Get current status of trace
  set @current = ( select cast(value as int)
                   from ::fn_trace_getinfo(@traceid)
                   where property = 5 )
  if ( @current IS NULL )
    RETURN 1
  else if ( @current = 0 and @status = 0 )
    RETURN 2
  else if ( @current = 1 and @status = 1 )
    RETURN 3
  else if ( @status <> 0 and @status <> 1 )
    RETURN 4
-- Set trace status
  if @status = 1
    EXECUTE @retval = sp_trace_setstatus @traceid, 1
  else
    BEGIN
      EXECUTE @retval = sp_trace_setstatus @traceid, 0
      if @retval <> 0
        RETURN ( 100 + @retval )
--    The trace is not just stopped, but closed. Thus the
--    data is flushed to the file system.
      EXECUTE @retval = sp_trace_setstatus @traceid, 2
    END
  if @retval <> 0
    RETURN ( 100 + @retval )
  RETURN 0
 
GO
