USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcc_perf_threads]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcc_perf_threads]
AS
  SET NOCOUNT ON
  CREATE TABLE #temp
    ( spid        smallint,
      threadID    nvarchar(11),
      status      nvarchar(10),
      loginName   sysname,
      io          int,
      cpu         int,
      memUsage    int )
  INSERT #temp
    EXECUTE ('DBCC SQLPERF(threads) with NO_INFOMSGS')
  SELECT spid,threadID,status,convert(nvarchar(40),loginName),io,cpu,memUsage
    FROM #temp
  DROP TABLE #temp
 
GO
