USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_BPC_RetornaTabelaCargo]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_BPC_RetornaTabelaCargo]()
RETURNS TABLE
AS
RETURN
(
	SELECT DISTINCT 
	       COLIGADA      = FU.CODCOLIGADA
	     , CODIGO        = FU.CODIGO
	     , ID            = 'FUNC' + Convert(VARCHAR, FU.CODIGO)
		 , [DESCRIPTION] = Substring(UPPER(FU.NOME),1, 60)
		 , [STLTX]       = FU.NOME
		 , [CBO]         = IsNull(FU.CBO2002, '')
		 , AEDAT         = '20000101'
		 , INATIVA       = FU.INATIVA
	  FROM PFUNCAO FU
)

GO
