USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[pixeon_worklist_v]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[pixeon_worklist_v] AS
SELECT
PACS.CODIDENTGERADO AS na_accessionnumber,
ISNULL(PAC.CODPACIENTE, PAC.PRONTUARIO)  AS co_patientid,
PAC.NOMEPACIENTE AS na_patientname,
NULL AS co_performingid,
NULL AS na_performingname,
NULL AS na_performingcrm,
NULL AS na_performinguf,
NULL AS na_performingemail,
NULL AS na_bodypart,
PAC.SEXO AS na_patientsex,
CONVERT(VARCHAR(10),PAC.DATANASC, 112 ) AS na_patientbirthday ,
ANA.PESO AS na_patientweight,
ANA.ESTATURA AS na_patientheight,
NULL AS co_requesterid,
SUBSTRING(GERAL.RAZAOSOCIAL,1,50) AS na_requestername,
GERAL.IDENTIDADEPROF AS na_requestercrm,
GERAL.EMAIL AS na_requesteremail,
GERAL.UFIDENTIDADEPROF AS na_requesteruf,
LAB.DESCEXAME AS na_description,
CONVERT(VARCHAR(10),PED.DATAEXAME, 112 ) AS na_studydate,
REPLACE(CONVERT(VARCHAR(10),PED.DATAEXAME, 108),':','') AS na_studytime,
LAB.CODMODALIDADE AS na_modalityris,
UNIDATEND.DESCRICAO AS na_requestingservice,
UNIATEND2.DESCRICAO AS na_requireunit,
CAST(PEDITEM.CODCOLIGADA AS VARCHAR) + CAST(PEDITEM.ORDEMSERVICO AS VARCHAR) + CAST(PEDITEM.SEQEXAME AS VARCHAR) AS na_studyid,
ISNULL(PAC.PRONTUARIO,PAC.CODPACIENTE) as na_password,
CONV.SIGLA AS na_insuranceplan,
CASE
	WHEN PEDITEM.STATUS = 'X' THEN 'DISCONTINUED'
	ELSE NULL
END AS na_stepstatus
FROM
    SZPACIENTE AS PAC
INNER JOIN SZATENDIMENTO AS ATEND
                ON ATEND.CODPACIENTE = PAC.CODPACIENTE AND ATEND.CODCOLIGADA = PAC.CODCOLIGADA
                INNER JOIN SZCADGERAL  CONV
                ON CONV.CODCOLIGADA = ATEND.CODCOLIGADA AND CONV.CODGERAL = ATEND.CODCOMPRADOR
                LEFT JOIN SZANAMNESE ANA
                ON ANA.CODPACIENTE =  ATEND.CODPACIENTE AND ANA.CODCOLIGADA = ATEND.CODCOLIGADA AND ANA.CODATENDIMENTO = ATEND.CODATENDIMENTO
                INNER JOIN SZPEDEXAME PED
                ON PED.CODCOLIGADA = ATEND.CODCOLIGADA AND PED.NUMEROCONTA = ATEND.NUMEROCONTA AND PED.SEQUENCIALCONTA = ATEND.SEQUENCIALCONTA
                INNER JOIN SZPEDEXAMEITEM PEDITEM
                ON PEDITEM.CODCOLIGADA = PED.CODCOLIGADA AND PEDITEM.ORDEMSERVICO = PED.ORDEMSERVICO
                INNER JOIN SZLABEXAME LAB
                ON LAB.CODCOLIGADA = PEDITEM.CODCOLIGADA AND LAB.CODEXAME = PEDITEM.CODEXAME
                INNER JOIN SZCADGERAL GERAL
                ON GERAL.CODCOLIGADA = ATEND.CODCOLIGADA AND GERAL.CODGERAL = ATEND.CODMEDREQUISITANTE
                INNER JOIN SZUNIDATEND UNIDATEND
                ON UNIDATEND.CODCOLIGADA = ATEND.CODCOLIGADA AND UNIDATEND.IDUNIDATEND = ATEND.IDUNIDATEND
				INNER JOIN SZUNIDATEND UNIATEND2
				ON UNIATEND2.CODCOLIGADA = PED.CODCOLIGADA AND UNIATEND2.IDUNIDATEND = PED.IDUNIDATEND
                INNER JOIN SZLOGINTEGRACAOPACSLAB PACS
                ON PACS.CODCOLIGADA = PEDITEM.CODCOLIGADA AND PACS.ORDEMSERVICO = PEDITEM.ORDEMSERVICO AND PACS.CODEXAME = PEDITEM.CODEXAME AND PACS.SEQEXAME = PEDITEM.SEQEXAME
                INNER JOIN SZUNIDATEND UNIATEND3
				ON UNIATEND3.CODCOLIGADA = PED.CODCOLIGADA AND UNIATEND3.IDUNIDATEND = PED.IDUNIDATEND
	WHERE
	  PACS.CODIDENTGERADO NOT IN
	  (SELECT pixeon_integracao.na_accessionnumber FROM pixeon_integracao
	               WHERE pixeon_integracao.na_accessionnumber = PACS.CODIDENTGERADO)
GO
