USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[RetornaPlanoSaude]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
OUT_DIRF_001
SELECT * FROM dbo.RetornaValorDependentes (:pln_$b$1_S,:pln_$b$2_S,:pln_$b$3_S) order by nome
*/
CREATE FUNCTION [dbo].[RetornaPlanoSaude] (
    @COL INT,
    @ANO INT,
    @MES INT
)
RETURNS TABLE
AS
RETURN

	
WITH 


CPF AS(
SELECT
	A.CHAPA
	,A.NOME
	,C.CPF
	,'Titular'TIPO 
FROM 
	PFUNC A
	LEFT JOIN PPESSOA C ON C.CODIGO = A.CODPESSOA

UNION ALL

SELECT
	 A.CHAPA
	,B.NOME
	,B.CPF
	,C.DESCRICAO TIPO 
FROM 
	PFUNC A
	LEFT JOIN PFDEPEND B ON A.CODCOLIGADA = B.CODCOLIGADA AND A.CHAPA = B.CHAPA
	LEFT JOIN PCODPARENT C ON C.CODCLIENTE = B.GRAUPARENTESCO
)

SELECT 
         MAX(ID)ID
		,X.CODCOLIGADA
		,X.CPF
		,X.NOME
		,X.CODPESSOA
	    ,X.ANOCOMP
	    ,X.MESCOMP
	    ,X.TIPOEVENTO
	    ,X.STATUS
	    ,X.RECIBO
	   
	    ,X.cnpjOper
	    ,(SELECT NOME FROM VOPERADORASAUDE WHERE CODCOLIGADA = '1' AND REPLACE(REPLACE(REPLACE(CNPJ,'.',''),'/',''),'-','') = X.cnpjOper)op_saude
	    ,X.regANS
	    ,X.CPF cpfTit
	    ,X.NOME nome_tipo
	    ,X.vlrSaudeTit
	    

FROM (

SELECT
         ID
		,CODCOLIGADA
		,CPF
		,NOME
		,CODPESSOA
	    ,ANOCOMP
	    ,MESCOMP
	    ,TIPOEVENTO
	    ,STATUS
	    ,RECIBO
        ,XMLCOL.MENSAGEMRETORNO.value('cnpjOper[1]', 'VARCHAR(MAX)') AS cnpjOper 
        ,XMLCOL.MENSAGEMRETORNO.value('regANS[1]', 'VARCHAR(MAX)') AS regANS 
        ,XMLCOL.MENSAGEMRETORNO.value('vlrSaudeTit[1]', 'money') AS vlrSaudeTit
        
        

   
FROM (
    SELECT
        
         ID
		,A.CODCOLIGADA
		,ISNULL(B.CPF,A.CPF) CPF
		,B.NOME
		,A.CODPESSOA
	    ,A.ANOCOMP
	    ,A.MESCOMP
	    ,A.TIPOEVENTO
	    ,A.STATUS
	    ,A.RECIBO
	    ,CAST(replace(A.MENSAGEMRETORNO,'xmlns','crm') AS XML) AS MENSAGEMRETORNO_XML

    
    FROM PESOCIALEVENTOS A
          LEFT JOIN PPESSOA B ON A.CODPESSOA = B.CODIGO
    WHERE
        A.TIPOEVENTO = 'S-1210'
        AND A.STATUS = '10'
        AND A.MENSAGEMRETORNO IS NOT NULL
        --AND A.codpessoa LIKE @V_PESSOA
        AND ANOCOMP = @ANO
        AND MESCOMP = @MES
      
        
) AS T
  CROSS APPLY T.MENSAGEMRETORNO_XML.nodes('/evento/tot/eSocial/evtIrrfBenef/ideTrabalhador/infoIRComplem/planSaude') AS XMLCOL(MENSAGEMRETORNO)
)X  

 
 GROUP BY
		 X.CODCOLIGADA
		,X.CPF
		,X.NOME
		,X.CODPESSOA
	    ,X.ANOCOMP
	    ,X.MESCOMP
	    ,X.TIPOEVENTO
	    ,X.STATUS
	    ,X.RECIBO
	    ,X.cnpjOper
	    ,X.regANS
	    ,X.vlrSaudeTit


UNION ALL



SELECT 
         MAX(ID)ID
		,X.CODCOLIGADA
		,X.CPF
		,X.NOME
		,X.CODPESSOA
	    ,X.ANOCOMP
	    ,X.MESCOMP
	    ,X.TIPOEVENTO
	    ,X.STATUS
	    ,X.RECIBO
	   
	    ,X.cnpjOper
	    ,(SELECT NOME FROM VOPERADORASAUDE WHERE CODCOLIGADA = '1' AND REPLACE(REPLACE(REPLACE(CNPJ,'.',''),'/',''),'-','') = X.cnpjOper)op_saude
	    ,X.regANS
	    ,X.cpfDep
	    ,CPF.NOME nome_tipo
	    ,X.vlrSaudeDep
	   
	    

FROM (

SELECT
         ID
		,CODCOLIGADA
		,CPF
		,NOME
		,CODPESSOA
	    ,ANOCOMP
	    ,MESCOMP
	    ,TIPOEVENTO
	    ,STATUS
	    ,RECIBO
	    


        ,XMLCOL.MENSAGEMRETORNO.value('../cnpjOper[1]', 'VARCHAR(MAX)') AS cnpjOper 
        ,XMLCOL.MENSAGEMRETORNO.value('../regANS[1]', 'VARCHAR(MAX)') AS regANS 
        ,XMLCOL.MENSAGEMRETORNO.value('cpfDep[1]', 'VARCHAR(MAX)') AS cpfDep 
        ,XMLCOL.MENSAGEMRETORNO.value('vlrSaudeDep[1]', 'money') AS vlrSaudeDep 
 
        
    
   
FROM (
    SELECT
        
         ID
		,A.CODCOLIGADA
		,ISNULL(B.CPF,A.CPF) CPF
		,B.NOME
		,A.CODPESSOA
	    ,A.ANOCOMP
	    ,A.MESCOMP
	    ,A.TIPOEVENTO
	    ,A.STATUS
	    ,A.RECIBO
	    ,CAST(replace(A.MENSAGEMRETORNO,'xmlns','crm') AS XML) AS MENSAGEMRETORNO_XML

    
    FROM PESOCIALEVENTOS A
          LEFT JOIN PPESSOA B ON A.CODPESSOA = B.CODIGO
    WHERE
        A.TIPOEVENTO = 'S-1210'
        AND A.STATUS = '10'
        AND A.MENSAGEMRETORNO IS NOT NULL
        --AND A.codpessoa LIKE @V_PESSOA
        AND ANOCOMP = @ANO
        AND MESCOMP = @MES
      
        
) AS T
  CROSS APPLY T.MENSAGEMRETORNO_XML.nodes('/evento/tot/eSocial/evtIrrfBenef/ideTrabalhador/infoIRComplem/planSaude/infoDepSau') AS XMLCOL(MENSAGEMRETORNO)
)X  

LEFT JOIN CPF ON CPF.CPF = X.cpfDep
 
 GROUP BY
		 X.CODCOLIGADA
		,X.CPF
		,X.NOME
		,X.CODPESSOA
	    ,X.ANOCOMP
	    ,X.MESCOMP
	    ,X.TIPOEVENTO
	    ,X.STATUS
	    ,X.RECIBO
	    ,X.regANS
	    ,X.cnpjOper
	   	,X.cpfDep
	    ,X.vlrSaudeDep
	    ,CPF.NOME
	    ;
GO
