USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[getExplode]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- *** SqlDbx Personal Edition ***
-- !!! Not licensed for commercial use beyound 90 days evaluation period !!!
-- For version limitations please check http://www.sqldbx.com/personal_edition.htm
-- Number of queries executed: 273, number of rows retrieved: 100374




CREATE FUNCTION [dbo].[getExplode](@VARIAVEL VARCHAR(255), @CARACTER VARCHAR(1), @RETORNO INT)
RETURNS INT 
BEGIN
   DECLARE @PRIMEIRO INT
	DECLARE @SEGUNDO INT
	DECLARE @QTD1 INT
	DECLARE @QTD2 INT
	DECLARE @RETURN INT
	
	SET @QTD1 = CHARINDEX(@CARACTER, @VARIAVEL, 0)
	SET @PRIMEIRO = SUBSTRING(@VARIAVEL,0,@QTD1)
	
	SET @QTD2 = CHARINDEX(@CARACTER, @VARIAVEL, 0) + 1
	SET @SEGUNDO = SUBSTRING(@VARIAVEL,@QTD2,99999)
	
	IF(@RETORNO = 1) SET @RETURN = @PRIMEIRO
	IF(@RETORNO <> 1) SET @RETURN = @SEGUNDO
	
RETURN @RETURN;
END;
GO
