USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVOALTERACAOVRPARCCOMPN]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITIVOALTERACAOVRPARCCOMPN]
AS
SELECT
  XADITALTERACAOVRPARCCOMPN.NUMVENDA,
  XADITALTERACAOVRPARCCOMPN.NUMADIT,
  XADITALTERACAOVRPARCCOMPN.NUMPARC,
  XADITALTERACAOVRPARCCOMPN.CODTIPOPARC,
  XADITALTERACAOVRPARCCOMPN.CODGRUPO,
  XADITALTERACAOVRPARCCOMPN.CODCOMPN,
  XADITALTERACAOVRPARCCOMPN.VRCOMPNNOVO AS NEWVRCOMPN,
  XADITALTERACAOVRPARCCOMPN.VRCOMPNATUAL AS OLDVRCOMPN,
  0 AS NEWVRBAIXACOMPN,
  0 AS OLDVRBAIXACOMPN,
  '' AS NEWDATABASECOMPN,
  '' AS OLDDATABASECOMPN,
  XADITALTERACAOVRPARCCOMPN.CODSITOPRL,
  XADITALTERACAOVRPARCCOMPN.RECCREATEDBY,
  XADITALTERACAOVRPARCCOMPN.RECCREATEDON,
  XADITALTERACAOVRPARCCOMPN.RECMODIFIEDBY,
  XADITALTERACAOVRPARCCOMPN.RECMODIFIEDON
FROM XADITALTERACAOVRPARCCOMPN
GO
