USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[RMMedidor]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* STORE PROCEDURE DE MEDICAO E USO DO SERVIDOR */

create procedure [dbo].[RMMedidor]
as
declare @cpu_busy 	float
declare @io_busy	float
declare @idle		float

set nocount on

select
 @cpu_busy = @@cpu_busy,
 @io_busy = @@io_busy,
 @idle = @@idle

waitfor delay '00:00:01'

select
 @cpu_busy = @@cpu_busy - @cpu_busy,
 @io_busy = @@io_busy - @io_busy,
 @idle = @@idle - @idle

select porcentagem = convert(numeric(10,0),(@cpu_busy+@io_busy)/(@cpu_busy+@io_busy+@idle)*100)

return (0)
GO
