USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITTROCAMUTUASUBUNIDADE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITTROCAMUTUASUBUNIDADE]
AS
SELECT
  CODCOLIGADA,
  NUMVENDA,
  NUMADIT,
  'MI' AS CODTIPOADIT,
  CODPESSEMPRANTES AS CODPESSEMPRATUAL,
  NUMUNIDANTES AS NUMUNIDATUAL,
  NUMSUBUNIDANTES AS NUMSUBUNIDATUAL,
  VRITEMANTES AS VRITEMATUAL,
  VRITEMDESCANTES AS VRITEMDESCATUAL,
  CODCOLTABPRECOANTES AS CODCOLTABPRECOATUAL,
  NUMTABPRECOANTES AS NUMTABPRECOATUAL,
  NUMVENDATROCA,
  CODPESSEMPRAPOS AS CODPESSEMPRTROCA,
  NUMUNIDAPOS AS NUMUNIDTROCA,
  NUMSUBUNIDAPOS AS NUMSUBUNIDTROCA,
  VRITEMAPOS AS VRITEMTROCA,
  VRITEMDESCAPOS AS VRITEMDESCTROCA,
  CODCOLTABPRECOAPOS AS CODCOLTABPRECOTROCA,
  NUMTABPRECOAPOS AS NUMTABPRECOTROCA,
  RECCREATEDBY,
  RECCREATEDON,
  RECMODIFIEDBY,
  RECMODIFIEDON
FROM XADITTRCSUBUNIDADE
WHERE TIPOTROCA = 1
GO
