USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZEXAMEITEMMET]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZEXAMEITEMMET] AS
SELECT 	RESULTADOS.CODCOLIGADA,
		SZPEDEXAMEITEM.ORDEMSERVICO,
		RESULTADOS.CODEXAME,
		SZPEDEXAMEITEM.SEQEXAME,
		RESULTADOS.DESCEXAME,
		RESULTADOS.CODMETODO,
		SZPEDEXAMEITEM.CANCELADO
FROM
(
	SELECT	SZLABMETODO.CODCOLIGADA,
		SZLABMETODO.CODMETODO,
		SZLABMETODO.CODEXAME,
		SZLABEXAME.DESCEXAME
	FROM	SZLABMETODO (NOLOCK)
	INNER JOIN SZMETODOSEXAMES (NOLOCK)
		ON	SZMETODOSEXAMES.CODCOLIGADA = SZLABMETODO.CODCOLIGADA
			AND	SZMETODOSEXAMES.CODMETODO = SZLABMETODO.METODO
	INNER JOIN	SZLABEXAME (NOLOCK)
		ON	SZLABMETODO.CODCOLIGADA = SZLABEXAME.CODCOLIGADA
			AND SZLABMETODO.CODEXAME = SZLABEXAME.CODEXAME
) RESULTADOS
INNER JOIN
		SZPEDEXAMEITEM (NOLOCK)
	ON 	RESULTADOS.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA
		AND RESULTADOS.CODEXAME = SZPEDEXAMEITEM.CODEXAME
		AND RESULTADOS.CODMETODO = SZPEDEXAMEITEM.CODMETODO
		AND SZPEDEXAMEITEM.CANCELADO = 'F'
GO
