USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_set_para]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_set_para]
    @area       nvarchar(255) ,
    @key        nvarchar(255) ,
    @value      nvarchar(255) ,
    @output     char(1)           -- 'X' | ' ' RAT rowset yes|no
AS
  SET NOCOUNT ON
  DECLARE  @cmd                    nvarchar(500)
  DECLARE  @pstr                   nvarchar(500)
  DECLARE  @jobname                sysname
  DECLARE  @schedule_name          sysname
  DECLARE  @job_exists             smallint
  DECLARE  @enabled                smallint
  DECLARE  @job_enabled            smallint
  DECLARE  @tabstats_freq          nvarchar(20)
  DECLARE  @frequency              int
  DECLARE  @freq_type              int
  DECLARE  @freq_interval          int
  DECLARE  @freq_recurrence_factor int
  DECLARE  @active_start_time      int
  DECLARE  @rc           int
  DECLARE  @objsource    sysname
  SET @objsource = (select user_name(uid) from sysobjects
                      where id = @@PROCID)
--- Update the parameter table ----------------------------------------
  if ( exists (select * from sap_mon_para
               where [area] = @area and [key] = @key) )
    UPDATE sap_mon_para SET [value] = @value
      WHERE [area] = @area AND [key] = @key
  else
    INSERT INTO sap_mon_para
      ([area],[key],[value],[default])
      VALUES (@area, @key, @value, ' ')
--- Adjust DB job -----------------------------------------------------
  IF ( @area IN ('DBCOLL','TABSTATS','LOCKSTATS')
       AND @key IN ('frequency','enabled','hour') )
    BEGIN
--- Get current job parameters ----------------------------------------
      SELECT @jobname = [value]
        FROM sap_get_para(@area,'jobname')
      SELECT @enabled = cast([value] AS smallint)
        FROM sap_get_para(@area,'enabled')
      IF @area IN ('DBCOLL','LOCKSTATS')
        SELECT @frequency = cast([value] AS int)
          FROM sap_get_para(@area,'frequency')
      SELECT @job_exists = cast([value] AS smallint)
        FROM sap_get_para(@area,'job_exists')
--- Check whether the job exists, create it if necessary -------------
      IF ( @job_exists = 0 )
        BEGIN
          SET @cmd = N'execute ' + @objsource +
                     N'.sap_perf_job_add @objsource,@area '
          SET @pstr = N'@objsource sysname,@area nvarchar(64)'
          EXECUTE sp_executesql @cmd, @pstr, @objsource, @area
        END
--- Update job -------------------------------------------------------
      SELECT @job_enabled = cast([value] AS smallint)
        FROM sap_get_para(@area,'job_enabled')
      IF ( @enabled <> @job_enabled )
        BEGIN
          EXEC @rc = msdb..sp_update_job @job_name = @jobname,
                                         @enabled  = @enabled
          IF ( @rc <> 0 )
            BEGIN
              IF ( @output <> ' ' )
                SELECT cast('Error in sp_update_job' AS varchar(64))
                       AS RESULT
              RETURN @rc
            END
        END
--- Update job schedule ----------------------------------------------
      SELECT @schedule_name = CASE
        WHEN  @area = 'TABSTATS' OR @area = 'LOCKSTATS' THEN 'Step 1'
        ELSE 'SAP_COLLECTOR' END
      IF @area = 'TABSTATS'
      BEGIN
        SELECT @tabstats_freq = [value]
          FROM sap_get_para(@area,'frequency')
        SELECT @active_start_time = cast([value] AS int) * 10000
          FROM sap_get_para(@area,'hour')
        IF @tabstats_freq like 'weekly%'
        BEGIN
          SET @freq_recurrence_factor = 1
          SET @freq_type = 8 -- weekly
          IF @tabstats_freq = 'weekly_sun'
            SET @freq_interval = 1  -- sunday
          ELSE
            SET @freq_interval = 64 -- saturday
        END
        ELSE  -- daily
        BEGIN
          SET @freq_type = 4 -- daily
          SET @freq_interval = 1 -- every day
          SET @freq_recurrence_factor = 0
        END
        EXEC @rc = msdb..sp_update_jobschedule
               @job_name = @jobname,
               @name = @schedule_name,
               @enabled = 1,
               @freq_type = @freq_type,
               @freq_recurrence_factor = @freq_recurrence_factor,
               @freq_interval = @freq_interval,
               @active_start_time = @active_start_time
      END
      ELSE IF @area = 'LOCKSTATS'
      BEGIN
        EXEC @rc = msdb..sp_update_jobschedule
               @job_name = @jobname,
               @name = @schedule_name,
               @enabled = 1,
               @freq_type = 0x4,
               @freq_interval = 1,
               @freq_subday_type = 0x2,
               @freq_subday_interval = @frequency
      END
      ELSE
        EXEC @rc = msdb..sp_update_jobschedule
               @job_name = @jobname,
               @name = @schedule_name,
               @enabled = 1,
               @freq_type = 0x4,
               @freq_interval = 1,
               @freq_subday_type = 0x4,
               @freq_subday_interval = @frequency
      IF ( @rc <> 0 )
        BEGIN
          IF ( @output <> ' ' )
            SELECT cast('Error in sp_update_schedule'
                      AS varchar(64)) AS RESULT
          RETURN @rc
        END
  END -- If job needs to be updated
  IF ( @output <> ' ' )
    SELECT cast('Done' AS varchar(64)) AS RESULT
  RETURN 0
 
GO
