USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tr_freespace]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tr_freespace]
  @drive    char(1) ,     -- drive letter (A - Z)
  @size_MB  int  OUTPUT   -- free space in MB
AS
  set nocount on
  CREATE TABLE #xp_fixed (
    letter     char(1),
    freespace  int
  )
  insert into #xp_fixed
    execute master..xp_fixeddrives
  set @size_MB = ( select freespace from #xp_fixed
                     where letter = UPPER(@drive) )
  if @size_MB IS NOT NULL
    return 0  -- Everything OK
  else
    return 1  -- Drive letter entry not found
 
GO
