USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[pc_PainelAtualiza]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   PROCEDURE [dbo].[pc_PainelAtualiza]
AS
BEGIN
EXEC pc_PainelHst
EXEC pc_PainelFunc
END
GO
