USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[ZOUTSERV_TESE20SAL]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ZOUTSERV_TESE20SAL]

(@COLIGADA INT, @ANOCOMP INT, @MESCOMP INT)

AS

BEGIN


DECLARE @VINTESALMIN NUMERIC(15,2) = (SELECT VALOR*20 FROM PVALFIX WHERE CODCOLIGADA = @COLIGADA AND FINALIDADE = '7' AND CAST(CONVERT(VARCHAR, @ANOCOMP) + '-' + CONVERT(VARCHAR, @MESCOMP) + '-' + CONVERT(VARCHAR, 1) AS DATETIME) BETWEEN INICIOVIGENCIA AND FINALVIGENCIA);



/**************************************************/
/* INSERIR A FICHA FINANCEIRA pfperff */
/**************************************************/
		
	INSERT INTO PFPERFF (CODCOLIGADA, CHAPA, ANOCOMP, MESCOMP, NROPERIODO, MESCAIXACOMUM, ANOCAIXACOMUM, VALORESFORCADOS)
	
	SELECT 
		CODCOLIGADA, CHAPA, ANOCOMP, MESCOMP, 1000 NROPERIODO, MESCAIXACOMUM, ANOCAIXACOMUM, 0 VALORESFORCADOS

	FROM (	

		SELECT 
			 CONVERT(VARCHAR(2),CODCOLIGADA) +'-'+ CHAPA +'-'+ CONVERT(VARCHAR(4),ANOCOMP) +'-'+ CONVERT(VARCHAR(2),MESCOMP) +'-'+ CONVERT(VARCHAR,NROPERIODO) CHAVE
			,ISNULL(BASEINSS,0) + ISNULL(BASEINSS13,0) BASE_SIMPLES
			,ISNULL((SELECT SUM(VALOR) FROM PFFINANC M WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CHAPA = M.CHAPA AND A.ANOCOMP = M.ANOCOMP AND A.MESCOMP = M.MESCOMP AND M.NROPERIODO = 1000 AND CODEVENTO IN ('8100')),0) BENEFICIOS
			,*
		FROM PFPERFF A
		WHERE
			A.CODCOLIGADA = @COLIGADA 
		AND	A.ANOCOMP     = @ANOCOMP
		AND A.MESCOMP     = @MESCOMP
		AND A.NROPERIODO NOT IN (4,1001)
		
		)X
		 WHERE (BASE_SIMPLES - BENEFICIOS) > @VINTESALMIN
			AND CONVERT(VARCHAR(2),CODCOLIGADA) +'-'+ CHAPA +'-'+ CONVERT(VARCHAR(4),@ANOCOMP) +'-'+ CONVERT(VARCHAR(2),@MESCOMP) +'-'+ '1000' NOT IN (
								SELECT 
									 CONVERT(VARCHAR(2),CODCOLIGADA) +'-'+ CHAPA +'-'+ CONVERT(VARCHAR(4),ANOCOMP) +'-'+ CONVERT(VARCHAR(2),MESCOMP) +'-'+ CONVERT(VARCHAR,NROPERIODO) CHAVE
								FROM PFPERFF A
								WHERE
									A.CODCOLIGADA = @COLIGADA
								AND	A.ANOCOMP     = @ANOCOMP
								AND A.MESCOMP     = @MESCOMP
								AND A.NROPERIODO  = 1000
							);


/**********************************************************/
/* INSERIR DOS EVENTOS pffinanc SEM PERIODO 13o PER 4*/
/**********************************************************/


	
	INSERT INTO PFFINANC (CODCOLIGADA, CHAPA, ANOCOMP, MESCOMP, NROPERIODO, CODEVENTO, DTPAGTO, HORA, REF, VALOR, VALORORIGINAL, ALTERADOMANUAL, VERBAFERIAS, ORIGEMMOV, VERBARESILICAO, VERBADIFERENCA)
	
	SELECT 
		CODCOLIGADA, CHAPA, ANOCOMP, MESCOMP, NROPERIODO, CODEVENTO, DTPAGTO, HORA, REF, 
		(BASE_SIMPLES - BENEFICIOS) - @VINTESALMIN VALOR,
		(BASE_SIMPLES - BENEFICIOS) - @VINTESALMIN VALORORIGINAL,
		ALTERADOMANUAL, VERBAFERIAS, ORIGEMMOV, VERBARESILICAO, VERBADIFERENCA
	FROM (
	
		SELECT 
			 BASEINSS
			,BASEINSS13
			,ISNULL(BASEINSS,0) + ISNULL(BASEINSS13,0) BASE_SIMPLES
			,ISNULL((SELECT SUM(VALOR) FROM PFFINANC M WHERE A.CODCOLIGADA = M.CODCOLIGADA AND A.CHAPA = M.CHAPA AND A.ANOCOMP = M.ANOCOMP AND A.MESCOMP = M.MESCOMP AND M.NROPERIODO = 1000 AND CODEVENTO IN ('8100')),0) BENEFICIOS
			,A.CODCOLIGADA, A.CHAPA, A.ANOCOMP, A.MESCOMP, 1000 NROPERIODO, '8103' CODEVENTO, CAST(CONVERT(VARCHAR, ANOCAIXACOMUM) + '-' + CONVERT(VARCHAR, MESCAIXACOMUM) + '-' + CONVERT(VARCHAR, 5) AS DATETIME) DTPAGTO
			, 0 HORA, 0 REF, 0 ALTERADOMANUAL, 0 VERBAFERIAS, 0 ORIGEMMOV, 0 VERBARESILICAO, 0 VERBADIFERENCA

		FROM PFPERFF A
		WHERE
			A.CODCOLIGADA = @COLIGADA 
		AND	A.ANOCOMP     = @ANOCOMP
		AND A.MESCOMP     = @MESCOMP
		AND A.NROPERIODO NOT IN (4,1001)
	)X
	 WHERE (BASE_SIMPLES - BENEFICIOS) > @VINTESALMIN;
  
END
GO
