USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_get_object_name]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_get_object_name]
    @objectname varchar(1024)   output,
    @input      varchar(7168)
as
begin
    select @objectname = parsename(@input, 1)
end
 
GO
