USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_tf_sysperfinfo]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_tf_sysperfinfo] ()
RETURNS TABLE
AS   RETURN
    SELECT object_name =
     case
     when patindex('%:Plan Cache%', object_name) > 0
      then  replace(object_name, 'Plan Cache','Cache Manager')
     else object_name
      end,
     counter_name,
     instance_name,
     cntr_value,
     cntr_type  FROM master..sysperfinfo
 
GO
