USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XPIVIEW_TOTAL_INTERESSES]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XPIVIEW_TOTAL_INTERESSES]
AS
  SELECT PESSOA_ID,
         SUM(TOTAL_INTERESSES_QUENTES) TOTAL_INTERESSES_QUENTES,
         SUM(TOTAL_INTERESSES_MORNOS)  TOTAL_INTERESSES_MORNOS,
         SUM(TOTAL_INTERESSES_FRIOS)   TOTAL_INTERESSES_FRIOS
  FROM   XPIVIEW_INTERESSES
  GROUP  BY PESSOA_ID
GO
