USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XHISTORICOVENDA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XHISTORICOVENDA]
AS
SELECT
  XLOGVENDA.NUM_VENDA,
  XLOGVENDA.IDLOGVENDA NUM_SEQ_HIST_VENDA,
  XLOGVENDA.DAT_ULT_MNT DAT_SIT_VENDA,
  XLOGVENDA.OBS_HIST,
  XLOGVENDA.DAT_ULT_MNT,
  XLOGVENDA.COD_PESS_ULT_MNT COD_USU_ULT_MNT,
  XLOGVENDA.COD_SIT_VENDA,
  XLOGVENDA.RECCREATEDBY,
  XLOGVENDA.RECCREATEDON,
  XLOGVENDA.RECMODIFIEDBY,
  XLOGVENDA.RECMODIFIEDON
FROM XLOGVENDA (NOLOCK)
GO
