USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[gera_ind_pk]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Stored Procedure dbo.gera_ind_pk    Script Date: 6/4/2001 16:24:15 ******/


CREATE   procedure [dbo].[gera_ind_pk] @tab nvarchar(128),@pk bit = 0,@sgbd varchar(30),
@sqlout varchar(8000)=null output
as

set nocount on

declare @sqlstr varchar(8000)
declare @sqlaux varchar(100)


declare @indname nvarchar(128)
declare @col1 nvarchar(128)
declare @col2 nvarchar(128)
declare @col3 nvarchar(128)
declare @col4 nvarchar(128)
declare @col5 nvarchar(128)
declare @col6 nvarchar(128)
declare @col7 nvarchar(128)
declare @col8 nvarchar(128)
declare @col9 nvarchar(128)
declare @col10 nvarchar(128)
declare @col11 nvarchar(128)
declare @col12 nvarchar(128)
declare @col13 nvarchar(128)
declare @col14 nvarchar(128)
declare @col15 nvarchar(128)
declare @col16 nvarchar(128)
declare @status int
declare @term varchar(30)
declare @tbspace1 varchar(100)
declare @tbspace2 varchar(100)

if @sgbd='SQL'
begin
  set @term=char(13) + 'GO'
  set @tbspace1=''
  set @tbspace2=''
end
else
begin
  set @term=';'
  set @tbspace1=' USING INDEX TABLESPACE RM_INDICES'
  set @tbspace2=' TABLESPACE RM_INDICES'
end

create table #indices (
	name nvarchar(128),
	status int,
	indid int,
	OrigFillFactor int,
	IndCol1 nvarchar(128),
	IndCol2 nvarchar(128),
	IndCol3 nvarchar(128),
	IndCol4 nvarchar(128),
	IndCol5 nvarchar(128),
	IndCol6 nvarchar(128),
	IndCol7 nvarchar(128),
	IndCol8 nvarchar(128),
	IndCol9 nvarchar(128),
	IndCol10 nvarchar(128),
	IndCol11 nvarchar(128),
	IndCol12 nvarchar(128),
	IndCol13 nvarchar(128),
	IndCol14 nvarchar(128),
	IndCol15 nvarchar(128),
	IndCol16 nvarchar(128),
	SegName nvarchar(128),
	FullTextKey bit,
	Descending bit,
	Computed bit,
	IsTable bit)

INSERT INTO #indices EXEC sp_MShelpindex @tab

if @pk=1
  declare c1 cursor for select name,IndCol1,IndCol2,IndCol3,IndCol4,IndCol5,IndCol6,IndCol7,IndCol8,IndCol9,
  IndCol10,IndCol11,IndCol12,IndCol13,IndCol14,IndCol15,IndCol16,status
  from #indices where status=18450 order by name
else
  declare c1 cursor for select name,IndCol1,IndCol2,IndCol3,IndCol4,IndCol5,IndCol6,IndCol7,IndCol8,IndCol9,
  IndCol10,IndCol11,IndCol12,IndCol13,IndCol14,IndCol15,IndCol16,status
  from #indices where status<>18450 order by name

open c1
fetch next from c1 into @indname,@col1,@col2,@col3,@col4,@col5,@col6,@col7,@col8,@col9,@col10,@col11,@col12,@col13,@col14,@col15,@col16,@status

while @@fetch_status=0
begin
  set @sqlstr=''
  if @pk=1
  begin
    set @sqlstr='CONSTRAINT ' + @indname + ' PRIMARY KEY (' +
    (case when @col1 is not null then @col1 + ',' else '' end) +
    (case when @col2 is not null then @col2 + ',' else '' end) +
    (case when @col3 is not null then @col3 + ',' else '' end) +
    (case when @col4 is not null then @col4 + ',' else '' end) +
    (case when @col5 is not null then @col5 + ',' else '' end) +
    (case when @col6 is not null then @col6 + ',' else '' end) +
    (case when @col7 is not null then @col7 + ',' else '' end) +
    (case when @col8 is not null then @col8 + ',' else '' end) +
    (case when @col9 is not null then @col9 + ',' else '' end) +
    (case when @col10 is not null then @col10 + ',' else '' end) +
    (case when @col11 is not null then @col11 + ',' else '' end) +
    (case when @col12 is not null then @col12 + ',' else '' end) +
    (case when @col13 is not null then @col13 + ',' else '' end) +
    (case when @col14 is not null then @col14 + ',' else '' end) +
    (case when @col15 is not null then @col15 + ',' else '' end) +
    (case when @col16 is not null then @col16 + ',' else '' end)
    set @sqlstr=substring(@sqlstr,1,len(@sqlstr)-1) + ')' + @tbspace1
    set @sqlout=@sqlstr
  end
  else
  begin
    if @status in (4098,2101250)
    begin
      set @sqlstr='ALTER TABLE '+ upper(@tab) + ' ADD CONSTRAINT ' + @indname + ' UNIQUE ' + '('+
      (case when @col1 is not null then @col1 + ',' else '' end) +
      (case when @col2 is not null then @col2 + ',' else '' end) +
      (case when @col3 is not null then @col3 + ',' else '' end) +
      (case when @col4 is not null then @col4 + ',' else '' end) +
      (case when @col5 is not null then @col5 + ',' else '' end) +
      (case when @col6 is not null then @col6 + ',' else '' end) +
      (case when @col7 is not null then @col7 + ',' else '' end) +
      (case when @col8 is not null then @col8 + ',' else '' end) +
      (case when @col9 is not null then @col9 + ',' else '' end) +
      (case when @col10 is not null then @col10 + ',' else '' end) +
      (case when @col11 is not null then @col11 + ',' else '' end) +
      (case when @col12 is not null then @col12 + ',' else '' end) +
      (case when @col13 is not null then @col13 + ',' else '' end) +
      (case when @col14 is not null then @col14 + ',' else '' end) +
      (case when @col15 is not null then @col15 + ',' else '' end) +
      (case when @col16 is not null then @col16 + ',' else '' end)
      set @sqlstr=substring(@sqlstr,1,len(@sqlstr)-1) + ')' + @tbspace1 + @term
    end
    else
    begin
      if @status in (2,2097154)
        set @sqlaux='UNIQUE '
      else
        set @sqlaux=''
      set @sqlstr='CREATE '+ @sqlaux + 'INDEX ' + @indname + ' ON ' + upper(@tab) + '('+
      (case when @col1 is not null then @col1 + ',' else '' end) +
      (case when @col2 is not null then @col2 + ',' else '' end) +
      (case when @col3 is not null then @col3 + ',' else '' end) +
      (case when @col4 is not null then @col4 + ',' else '' end) +
      (case when @col5 is not null then @col5 + ',' else '' end) +
      (case when @col6 is not null then @col6 + ',' else '' end) +
      (case when @col7 is not null then @col7 + ',' else '' end) +
      (case when @col8 is not null then @col8 + ',' else '' end) +
      (case when @col9 is not null then @col9 + ',' else '' end) +
      (case when @col10 is not null then @col10 + ',' else '' end) +
      (case when @col11 is not null then @col11 + ',' else '' end) +
      (case when @col12 is not null then @col12 + ',' else '' end) +
      (case when @col13 is not null then @col13 + ',' else '' end) +
      (case when @col14 is not null then @col14 + ',' else '' end) +
      (case when @col15 is not null then @col15 + ',' else '' end) +
      (case when @col16 is not null then @col16 + ',' else '' end)
      set @sqlstr=substring(@sqlstr,1,len(@sqlstr)-1) + ')' + @tbspace2 + @term
    end
    print @sqlstr
  end
  fetch next from c1 into @indname,@col1,@col2,@col3,@col4,@col5,@col6,@col7,@col8,@col9,@col10,@col11,@col12,@col13,@col14,@col15,@col16,@status
end
close c1
deallocate c1
drop table #indices





GO
