USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[LXNOMEUSUARIO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[LXNOMEUSUARIO]
AS
SELECT LUSUARIO.CODCOLIGADA,LUSUARIO.CODIGO,PPESSOA.NOME 
FROM PPESSOA,LUSUARIO
WHERE LUSUARIO.CODPESSOA = PPESSOA.CODIGO
GO
