USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XITEMTABELAPRECOUNIDADE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XITEMTABELAPRECOUNIDADE]
AS
SELECT
TPS.CODCOLTABPRECO * 1000 + TPS.NUMTABPRECO NUM_TAB_PRC,
TPS.CODPESSEMPR COD_PESS_EMPR,
TPS.NUMUNID NUM_UNID,
TP.PRECOM2 VR_M2_UNID,
TP.PRECOBASE VR_UNID,
'A' COD_SIT_OPRL,
TPS.RECMODIFIEDBY COD_PESS_ULT_MNT,
TPS.RECMODIFIEDON DAT_ULT_MNT,
TP.RECCREATEDBY,
TP.RECCREATEDON,
TP.RECMODIFIEDBY,
TP.RECMODIFIEDON
FROM XTABPRECOSUBUNIDADE TPS JOIN
XTABPRECO TP
ON (TP.CODCOLTABPRECO = TPS.CODCOLTABPRECO) AND
(TP.NUMTABPRECO = TPS.NUMTABPRECO)
WHERE (TP.CODSITUACAOTABPRECO = 1) -- Situação: 1 - Vigente
GO
