USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_hier_build]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_hier_build]
@tmp varchar(40),        /* in: temporary table emulating SELECT CONNECT
                                is created empty by caller */
@i_hiertab varchar(40),  /* in: hierarchy table */
@i_delta int,            /* in: maximal level of CONNECT BY PRIOR */
@i_nodesid int,          /* in: starting node */
@i_hiesid int,           /* in: hierarchy number */
@i_sver char ( 1 ),      /* in: hierarchy version */
@rsdrh_succ varchar(40),   /* in: rsdrh-name for successor field */
@rsdrh_pred varchar(40),   /* in: rsdrh-name for predecessor field */
@i_factor varchar(40),     /* in: factor column (may be NULL) */
@rsdrh_hiesid varchar(40), /* in: rsdrh-name of hier. number field */
@rsdrh_sver varchar(40)    /* in: name of version field */
as
begin
set nocount on
declare @i_nodesid_c varchar ( 14 ) /* i_nodesid as string */
declare @i_hiesid_c varchar ( 14 )  /* i_hiesid as string */
declare @actstmt varchar ( 7168 )   /* buffer for SQL statements */
select @i_hiesid_c = cast ( @i_hiesid AS varchar )
select @i_nodesid_c = cast ( @i_nodesid AS varchar )
declare @fldlist varchar(1024)
select @fldlist = ', a.' +  @rsdrh_succ + ', a.' +  @rsdrh_pred + ' '
                                                 /* gdcorr2 + ' ' */
if @i_factor is not NULL
 if @i_factor like '[0-9]%'
  select @fldlist = @fldlist + ', ' + @i_factor + ' '
 else
  select @fldlist = @fldlist + ', a.' + @i_factor + ' '
/* print @fldlist */
declare @where varchar(1024)
select @where = ' and ' + @rsdrh_hiesid + ' = ' + @i_hiesid_c +
                ' and ' + @rsdrh_sver + ' = '''+ @i_sver + ''' '
/* print @where */
/* START WITH */
select @actstmt =
  'insert into ' + @tmp + ' select 1 ' + @fldlist +
  'from [' + @i_hiertab +
  '] a where a.' + @rsdrh_pred + ' = ' + @i_nodesid_c + @where
/* print @actstmt */
exec ( @actstmt )
/* CONNECT BY PRIOR */
declare @level int
declare @level_c varchar(14)
select @where = ' and b.succ = a.' + @rsdrh_pred + @where
/* print @where */
set @level = 1
while @level < @i_delta
begin
  select @level_c = cast(@level as varchar)
  select @level = @level + 1
  select @actstmt =
    'insert into ' + @tmp +
    ' select hlevel+1' + @fldlist + 'from [' + @i_hiertab + '] a, ' +
    @tmp + ' b where hlevel = ' + @level_c + @where
 /* print @actstmt */
 exec ( @actstmt )
 if @@rowcount = 0 break /*gd1811*/
end /* while */
end
/**
 ** sap_BW_hier_build
 **/
 
GO
