USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_ena_disa_backup_tool]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************/
/* sap_ena_disa_backup_tool               created on 11/27/2006 */
/*                                                              */
/*                                                              */
/****************************************************************/
create procedure [dbo].[sap_ena_disa_backup_tool] @ena_disa_tool nchar(1)
as
begin
declare @cmd nvarchar(1024)
--check to enable or disable the backup vendor tool sp
 if @ena_disa_tool = N'E'
  begin
   if exists ( select * from msdb..sysobjects
                where name = 'disable_sap_backup_user_exit'
                     and type = 'P')
    begin
--    rename the stored procedure
      set @cmd = N'use msdb ' +
                 N'exec sp_rename [disable_sap_backup_user_exit],'+
                 N'[sap_backup_user_exit]'
      exec( @cmd )
--    check sap_backup_user_exit exists in the msdb database
--    we will have to the check in the FM
    end
  end
else
 begin
  if exists ( select * from msdb..sysobjects
                      where name = 'sap_backup_user_exit'
                      and type = 'P')
    begin
--    rename the stored procedure
      set @cmd = N'use msdb exec sp_rename [sap_backup_user_exit],'+
                 N'[disable_sap_backup_user_exit]'
      exec( @cmd )
--    check disable_sap_backup_user_exit exists in the msdb database
--    we will have to the check in the FM
    end
 end
End
 
GO
