USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcc_memorystatus]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcc_memorystatus]
AS
  SET NOCOUNT ON
  CREATE TABLE #temp
    ( statid     int IDENTITY,
      statistic  nvarchar(32),
      value      nvarchar(11))
  CREATE TABLE #output
    ( subgroup   nvarchar(23),
      statistic  nvarchar(32),
      value      nvarchar(11))
  if ( IS_SRVROLEMEMBER ('sysadmin') = 1 )
  begin
    INSERT #temp
      EXECUTE ('DBCC MEMORYSTATUS with NO_INFOMSGS')
  end
  insert #output
  SELECT  convert( nvarchar(23),
    case
      when statid < 10 then N'Buffer Distribution'
      when statid >= 10 and statid < 16 then N'Buffer Counts'
      when statid >= 16 and statid < 19 then N'Procedure Cache'
      when statid >= 19 and statid < 28 then N'Dynamic Memory Manager'
      when statid >= 28 and statid < 35 then N'Global Memory Objects'
      when statid >= 35 and statid < 39 then N'Query Memory Objects'
      when statid >= 39 and statid < 43 then N'Optimization Queue'
      else N' '
    end ) as subGroup,
    statistic, value FROM #temp
  select * from #output
  DROP TABLE #temp
  DROP TABLE #output
 
GO
