USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVOALTERACAOVENCIMENTO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XADITIVOALTERACAOVENCIMENTO]
AS
SELECT
  XADITALTERACAOVCTOPARC.NUMVENDA,
  XADITALTERACAOVCTOPARC.NUMADIT,
  XADITALTERACAOVCTOPARC.NUMPARC,
  XADITALTERACAOVCTOPARC.CODTIPOPARC,
  XADITALTERACAOVCTOPARC.CODGRUPO,
  XADITALTERACAOVCTOPARC.DATVCTONOVO AS NEWDATA,
  XADITALTERACAOVCTOPARC.DATVCTOATUAL AS OLDDATA,
  XADITALTERACAOVCTOPARC.RECCREATEDBY,
  XADITALTERACAOVCTOPARC.RECCREATEDON,
  XADITALTERACAOVCTOPARC.RECMODIFIEDBY,
  XADITALTERACAOVCTOPARC.RECMODIFIEDON
FROM XADITALTERACAOVCTO
     JOIN XADITALTERACAOVCTOPARC
     ON XADITALTERACAOVCTOPARC.CODCOLIGADA = XADITALTERACAOVCTO.CODCOLIGADA AND
        XADITALTERACAOVCTOPARC.NUMVENDA = XADITALTERACAOVCTO.NUMVENDA AND
        XADITALTERACAOVCTOPARC.NUMADIT = XADITALTERACAOVCTO.NUMADIT AND
        XADITALTERACAOVCTOPARC.CODTIPOADIT = XADITALTERACAOVCTO.CODTIPOADIT
GO
