USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_BPC_RetornaBaselineTOTVS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_BPC_RetornaBaselineTOTVS](@PERIODO INT)
RETURNS TABLE
AS
RETURN
(  
	SELECT *
	  FROM dbo.ufn_BPC_RetornaMEDIAHORA(@PERIODO)
	 UNION ALL
	SELECT *
	  FROM dbo.ufn_BPC_RetornaMEDIAVALOR(@PERIODO)
	 UNION ALL
	SELECT *
	  FROM dbo.ufn_BPC_RetornaMEDIASALARIO(@PERIODO)
	 UNION ALL
	SELECT *
	  FROM dbo.ufn_BPC_RetornaHEADCOUNT(@PERIODO)  
)
GO
