USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_store_text]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sap_store_text]
  @id     int OUTPUT    ,
  @area   nvarchar(64)  ,
  @key    nvarchar(128) ,
  @data   nvarchar(max)
AS
BEGIN
  SET NOCOUNT ON
  DECLARE  @timestmp  varchar(22)
  /*--- Check whether the record already exists ---------------------*/
  SET @id = ( select [ID] from sap_mon_text
                where [AREA] = @area
                  and [KEY]  = @key
                  and [DATA] = @data )
  IF ( @id IS NOT NULL )
    RETURN
  /*--- Calculate UTC timestamp in ABAP format ----------------------*/
  set @timestmp = convert(varchar(22),getutcdate(),120)
  set @timestmp = replace(@timestmp,':','')
  set @timestmp = replace(@timestmp,'-','')
  set @timestmp = replace(@timestmp,' ','')
  /*--- Insert sap_mon_text record ----------------------------------*/
  INSERT INTO sap_mon_text ([AREA],[KEY],[TIMESTMP],[DATA])
    VALUES ( @area, @key, @timestmp, @data )
  SET @id = @@IDENTITY
  RETURN
END
 
GO
