USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sfBuscaVlrEvento]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION 
[dbo].[sfBuscaVlrEvento]	   (@p_coligada  int        ,
								@p_chapa     varchar(016),  
								@p_mescomp   int        ,
								@p_anocomp   int        ,
								@p_periodo   int        ,
								@p_verba     varchar(04))
RETURNS numeric(15,2) AS

BEGIN
 
  declare 
    @vValor  numeric(15,2)

  -- ***
  BEGIN
     
     -- ***
     set @vValor = 0

     -- ***
	 SELECT @vValor = SUM(valor)
	   FROM pffinanc
      WHERE codcoligada     = @p_coligada
        AND chapa           = @p_chapa
	    AND mescomp         = @p_mescomp
	    AND anocomp         = @p_anocomp
	    AND codevento       = @p_verba
        AND (nroperiodo     = @p_periodo or @p_periodo = 99)


     IF isnull(@vValor,0) = 0 
        set @vValor = 0
  END;
   
  RETURN @vValor

END
GO
