USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_rz20_miscfiles]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_rz20_miscfiles]
AS
BEGIN
select db_name(), convert(nvarchar(4),fileid),sf.filename,
       convert(int,sd.cmptlevel)
from sysfiles sf join master.dbo.sysdatabases sd
                   on DB_NAME() = sd.name
union
select 'tempdb' collate database_default
,convert(nvarchar(4),fileid)  collate database_default
,sf.filename collate database_default sf,convert(int,sd.cmptlevel)
from tempdb..sysfiles sf join master.dbo.sysdatabases sd
                           on DB_NAME() = sd.name
END
 
GO
