USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[fnBuscaSitData]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==============================================================
-- Author:		Raphael Vidal Domingues							=
-- Create date: 30/03/2022										=
-- Description:	Retorna o Nome da situação em data específica	=
-- Parametros:  Coligada, Chapa e Data							=
-- =============================================================


CREATE function [dbo].[fnBuscaSitData]			   (@p_cvCodcoligada dcodcoligada,
													@p_ccChapa       dchapa,
													@p_cdData        datetime) 
													  returns varchar(100)

begin

  declare
    @v_ccNome as varchar(100)
  
  begin  
          
select	@v_ccNome = sit.descricao
  from	pfhstsit hst
		inner join pcodsituacao sit on hst.novasituacao = sit.codcliente
 where  hst.datamudanca = (select max(hst1.datamudanca)
						   from pfhstsit hst1
						  where hst1.codcoligada = hst.codcoligada
						    and hst1.chapa       = hst.chapa
						    and hst1.datamudanca   <= @p_cdData)
       and hst.chapa       = @p_ccChapa
       and hst.codcoligada = @p_cvCodcoligada
  
    return @v_ccNome
  
  end

end


GO
