USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_top_n_tables]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_top_n_tables]
  @number int,
  @order char(1),
  @schema_name sysname,
  @db_name sysname
AS
BEGIN
  set nocount on
  -- declare local variable
  declare @cmd        nvarchar(2000)
  declare @sch_clause nvarchar(256)
  if @schema_name is not null and @schema_name != N''
     set @sch_clause =
       N'so.schema_id = schema_id(''' + @schema_name + N''') and '
  else
     set @sch_clause = N''
  if @db_name is null or @db_name = N''
    select @db_name = db_name()
  if @order = N'M'
  begin
	  -- build the select statement
	  set @cmd = N'use [' + @db_name + N'];' +
	   N'WITH v1 as (select '+
	   N' so.object_id,' +
	   N'schema_name = schema_name(so.schema_id),' +
	   N'table_name = so.name,' +
	   N'reserved = sum(a.total_pages * 8),' +
	   N'used     = sum(a.used_pages * 8),' +
	   N'data     = sum(CASE ' +
		N'When it.internal_type IN (202,204) Then 0 ' +
		N'When a.type <> 1 Then a.used_pages ' +
		N'When p.index_id < 2 Then a.data_pages ' +
		N'Else 0 END * 8) ' +
	   N'from sys.partitions p ' +
	   N'join  ' +
		 N'sys.objects so with (nolock) ' +
	   N'on so.object_id = p.object_id ' +
	   N'join   ' +
		 N'sys.allocation_units a with (nolock) ' +
	   N'on p.partition_id = a.container_id  ' +
	   N'left join ' +
		 N'sys.internal_tables it with (nolock) ' +
	   N'on p.object_id = it.object_id ' +
	   N'where ' + @sch_clause +
	   N'so.type = ''U''  ' +
	   N'group by so.schema_id,so.object_id,so.name )'
	-- End of WITH part
	-- Now join the WITH part with sys.sysindexes to determine
	-- the rowcnt and rowmodctr values.
	  set @cmd = @cmd +
		N'select  top ' + convert(nvarchar,@number) +
		N' v1.table_name,' +
		N'v1.reserved,v1.used,v1.data,' +
		N'si.rowcnt,si.rowmodctr ' +
		N'from v1 join sys.sysindexes si on ' +
		N' v1.object_id = si.id ' +
		N'where si.indid in (0,1) order by si.rowmodctr desc '
  end
  else
  begin
	  -- build the select statement
	  set @cmd = N'use [' + @db_name + N'];' +
	   N'WITH v1 as (select top ' + convert(nvarchar,@number) +
	   N' so.object_id,' +
	   N'schema_name = schema_name(so.schema_id),' +
	   N'table_name = so.name,' +
	   N'reserved = sum(a.total_pages * 8),' +
	   N'used     = sum(a.used_pages * 8),' +
	   N'data     = sum(CASE ' +
		N'When it.internal_type IN (202,204) Then 0 ' +
		N'When a.type <> 1 Then a.used_pages ' +
		N'When p.index_id < 2 Then a.data_pages ' +
		N'Else 0 END * 8) ' +
	   N'from sys.partitions p ' +
	   N'join  ' +
		 N'sys.objects so with (nolock) ' +
	   N'on so.object_id = p.object_id ' +
	   N'join   ' +
		 N'sys.allocation_units a with (nolock) ' +
	   N'on p.partition_id = a.container_id  ' +
	   N'left join ' +
		 N'sys.internal_tables it with (nolock) ' +
	   N'on p.object_id = it.object_id ' +
	   N'where ' + @sch_clause +
	   N'so.type = ''U''  ' +
	   N'group by so.schema_id,so.object_id,so.name ' +
	   N'order by used desc) '
	-- End of WITH part
	-- Now join the WITH part with sys.sysindexes to determine
	-- the rowcnt and rowmodctr values.
	  set @cmd = @cmd +
		N'select v1.table_name,' +
		N'v1.reserved,v1.used,v1.data,' +
		N'si.rowcnt,si.rowmodctr ' +
		N'from v1 join sys.sysindexes si on ' +
		N' v1.object_id = si.id ' +
		N'where si.indid in (0,1) order by v1.used desc '
  end
  exec sp_executesql @cmd
END
 
GO
