USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[ZCRM_MODOCORRENCIA]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ZCRM_MODOCORRENCIA]

(@COLIGADA INT, @DATA_D DATETIME, @DATAfim_D DATETIME, @FILIAL_INI INT, @FILIAL_FIM INT, @CHAPA_INI VARCHAR(16), @CHAPA_FIM VARCHAR(16))

AS

BEGIN

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 2.1 - INSERINDO OS REGISTROS NOVOS NA AMODIFICAOCORRENCIA ENCONTRADOS */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

	------2.1.1 - CALCULANDO HORAS NORMAIS - HORARIO DIURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, DATAREFERENCIA, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO NOTURNO LANÇADO VIA PROCEDURE(T)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, A.FIM, SUM(DATEDIFF(minute,A.INICIO,A.FIM)) QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA IN ('T')
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060622' --'0060297'
			  GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO = 0 AND HORARIO_JOR = 1;

	-----2.1.2 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT	
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'

	-----2.1.3 - CALCULANDO HORAS NORMAIS - HORARIO NOTURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, INICIO, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO NOTURNO LANÇADO VIA PROCEDURE(T)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.INICIO, A.FIM, NULL QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA IN ('T')
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060622' --'0060297'
			  --GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO > 0 AND HORARIO_JOR = 1;

	-----2.2 - INSERINDO OS REGISTROS NOVOS NA AMODIFICAOCORRENCIAORIGEM DE HORAS NORMAIS
	INSERT INTO AMODIFICAOCORRENCIAORIGEM (CODCOLIGADA, CHAPA, IDMODIFICACAO, TIPOOCORRENCIAORIGEM)
	
			SELECT A.CODCOLIGADA, A.CHAPA, A.IDMODIFICACAO, 'T' 
			FROM AMODIFICAOCORRENCIA A, PFUNC B
			WHERE 
			    A.CODCOLIGADA   = B.CODCOLIGADA
			AND A.CHAPA         = B.CHAPA
			AND A.CODCOLIGADA   = @coligada
			AND A.DATAINICIO   >= @data_d
			AND A.DATAINICIO    < DATEADD(DAY,2,@DATAfim_D)
			AND B.CODFILIAL    >= @filial_ini
			AND B.CODFILIAL    <= @filial_fim
			AND A.CHAPA        >= @CHAPA_INI 
			AND A.CHAPA        <= @CHAPA_FIM
			AND A.JUSTIFICATIVA LIKE '%LANÇADO VIA PROCEDURE(T)%';
			--AND B.CHAPA = '0060297';

	
	-----2.3 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT	
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 3.1 - CALCULANDO HORAS EXTRAS - HORARIO DIURNO */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

	-----3.1.1 - CALCULANDO HORAS EXTRAS - HORARIO DIURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, DATAREFERENCIA, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO EXTRAS DIURNO LANÇADO VIA PROCEDURE(EA)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, A.FIM, SUM(DATEDIFF(minute,A.INICIO,A.FIM)) QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA = 'EA'
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060297'
			  GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO = 0 AND HORARIO_JOR = 1;

	-----3.1.2 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT	
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'

	-----3.1.3 - CALCULANDO HORAS EXTRAS - HORARIO NOTURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, INICIO, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO EXTRAS NOTURNO LANÇADO VIA PROCEDURE(EA)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.INICIO, A.FIM, NULL QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA = 'EA'
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060297'
			  --GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO > 0 AND HORARIO_JOR = 1;

	-----3.2 - INSERINDO OS REGISTROS NOVOS NA AMODIFICAOCORRENCIAORIGEM DE HORAS NORMAIS
	INSERT INTO AMODIFICAOCORRENCIAORIGEM (CODCOLIGADA, CHAPA, IDMODIFICACAO, TIPOOCORRENCIAORIGEM)

			SELECT A.CODCOLIGADA, A.CHAPA, A.IDMODIFICACAO, 'EA' 
			FROM AMODIFICAOCORRENCIA A, PFUNC B
			WHERE 
			    A.CODCOLIGADA   = B.CODCOLIGADA
			AND A.CHAPA         = B.CHAPA
			AND A.CODCOLIGADA   = @coligada
			AND A.DATAINICIO   >= @data_d
			AND A.DATAINICIO    < DATEADD(DAY,2,@DATAfim_D)
			AND B.CODFILIAL    >= @filial_ini
			AND B.CODFILIAL    <= @filial_fim
			AND A.CHAPA        >= @CHAPA_INI 
			AND A.CHAPA        <= @CHAPA_FIM
			AND A.JUSTIFICATIVA LIKE '%LANÇADO VIA PROCEDURE(EA)%';
			--AND B.CHAPA = '0060297';

	-----3.3 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT */
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 4.1 - CALCULANDO HORAS DESCANSO(PQ SE FOR FERIADO TEM QUE PAGAR) - HORARIO DIURNO */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

	-----4.1.1 - CALCULANDO HORAS DESCANSO - HORARIO DIURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, DATAREFERENCIA, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO DESCANSO DIURNO LANÇADO VIA PROCEDURE(EDA)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, A.FIM, SUM(DATEDIFF(minute,A.INICIO,A.FIM)) QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA = 'EDA'
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060297'
			  GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO = 0 AND HORARIO_JOR = 1;

	-----4.1.2 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT	
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'

	-----4.1.3 - CALCULANDO HORAS EXTRAS - HORARIO NOTURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, INICIO, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO DESCANSO NOTURNO LANÇADO VIA PROCEDURE(EDA)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.INICIO, A.FIM, NULL QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA = 'EDA'
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060297'
			  --GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO > 0 AND HORARIO_JOR = 1;

	-----4.2 - INSERINDO OS REGISTROS NOVOS NA AMODIFICAOCORRENCIAORIGEM DE HORAS NORMAIS
	INSERT INTO AMODIFICAOCORRENCIAORIGEM (CODCOLIGADA, CHAPA, IDMODIFICACAO, TIPOOCORRENCIAORIGEM)

			SELECT A.CODCOLIGADA, A.CHAPA, A.IDMODIFICACAO, 'EDA' 
			FROM AMODIFICAOCORRENCIA A, PFUNC B
			WHERE 
			    A.CODCOLIGADA   = B.CODCOLIGADA
			AND A.CHAPA         = B.CHAPA
			AND A.CODCOLIGADA   = @coligada
			AND A.DATAINICIO   >= @data_d
			AND A.DATAINICIO    < DATEADD(DAY,2,@DATAfim_D)
			AND B.CODFILIAL    >= @filial_ini
			AND B.CODFILIAL    <= @filial_fim
			AND A.CHAPA        >= @CHAPA_INI 
			AND A.CHAPA        <= @CHAPA_FIM
			AND A.JUSTIFICATIVA LIKE '%LANÇADO VIA PROCEDURE(EDA)%';
			--AND B.CHAPA = '0060297';

	-----4.3 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT */
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = '1') WHERE CODCOLIGADA = '1' AND CODAUTOINC = 'AMODIFICAOCORRENCIA'


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 5.1 - CALCULANDO HORAS COMPENSADO(PQ SE FOR FERIADO TEM QUE PAGAR) - HORARIO DIURNO */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

	-----5.1.1 - CALCULANDO HORAS COMPENSADO - HORARIO DIURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, DATAREFERENCIA, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO COMPENSADO DIURNO LANÇADO VIA PROCEDURE(ECA)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, A.FIM, SUM(DATEDIFF(minute,A.INICIO,A.FIM)) QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA = 'ECA'
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060297'
			  GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO = 0 AND HORARIO_JOR = 1;

	-----5.1.2 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT	
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'

	-----5.1.3 - CALCULANDO HORAS EXTRAS - HORARIO NOTURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, INICIO, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO COMPENSADO NOTURNO LANÇADO VIA PROCEDURE(ECA)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.INICIO, A.FIM, NULL QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA = 'ECA'
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060297'
			  --GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO > 0 AND HORARIO_JOR = 1;

	-----5.2 - INSERINDO OS REGISTROS NOVOS NA AMODIFICAOCORRENCIAORIGEM DE HORAS NORMAIS
	INSERT INTO AMODIFICAOCORRENCIAORIGEM (CODCOLIGADA, CHAPA, IDMODIFICACAO, TIPOOCORRENCIAORIGEM)

			SELECT A.CODCOLIGADA, A.CHAPA, A.IDMODIFICACAO, 'ECA' 
			FROM AMODIFICAOCORRENCIA A, PFUNC B
			WHERE 
			    A.CODCOLIGADA   = B.CODCOLIGADA
			AND A.CHAPA         = B.CHAPA
			AND A.CODCOLIGADA   = @coligada
			AND A.DATAINICIO   >= @data_d
			AND A.DATAINICIO    < DATEADD(DAY,2,@DATAfim_D)
			AND B.CODFILIAL    >= @filial_ini
			AND B.CODFILIAL    <= @filial_fim
			AND A.CHAPA        >= @CHAPA_INI 
			AND A.CHAPA        <= @CHAPA_FIM
			AND A.JUSTIFICATIVA LIKE '%LANÇADO VIA PROCEDURE(ECA)%';
			--AND B.CHAPA = '0060297';

	-----5.3 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT */
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = '1') WHERE CODCOLIGADA = '1' AND CODAUTOINC = 'AMODIFICAOCORRENCIA'


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 6.1 - CALCULANDO HORAS EXTRAS NORMAL COMPENSADO(PQ SE FOR FERIADO TEM QUE PAGAR, NAO PEGAR O 'AC' PQ O ENC E 'AC' tem a mesma Qtde de horas, então usa apenas 1 deles) - HORARIO DIURNO */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

	-----6.1.1 - CALCULANDO HORAS EXTRAS NORMAL COMPENSADO - HORARIO DIURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, DATAREFERENCIA, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO COMPENSADO DIURNO LANÇADO VIA PROCEDURE(ENC)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, A.FIM, SUM(DATEDIFF(minute,A.INICIO,A.FIM)) QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA = 'ENC'
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060297'
			  GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO = 0 AND HORARIO_JOR = 1;

	-----6.1.2 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT	
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'

	-----6.1.3 - CALCULANDO HORAS EXTRAS - HORARIO NOTURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, INICIO, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO COMPENSADO NOTURNO LANÇADO VIA PROCEDURE(ENC)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.INICIO, A.FIM, NULL QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA = 'ENC'
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060297'
			  --GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO > 0 AND HORARIO_JOR = 1;

	-----6.2 - INSERINDO OS REGISTROS NOVOS NA AMODIFICAOCORRENCIAORIGEM DE HORAS NORMAIS
	INSERT INTO AMODIFICAOCORRENCIAORIGEM (CODCOLIGADA, CHAPA, IDMODIFICACAO, TIPOOCORRENCIAORIGEM)

			SELECT A.CODCOLIGADA, A.CHAPA, A.IDMODIFICACAO, 'ENC' 
			FROM AMODIFICAOCORRENCIA A, PFUNC B
			WHERE 
			    A.CODCOLIGADA   = B.CODCOLIGADA
			AND A.CHAPA         = B.CHAPA
			AND A.CODCOLIGADA   = @coligada
			AND A.DATAINICIO   >= @data_d
			AND A.DATAINICIO    < DATEADD(DAY,2,@DATAfim_D)
			AND B.CODFILIAL    >= @filial_ini
			AND B.CODFILIAL    <= @filial_fim
			AND A.CHAPA        >= @CHAPA_INI 
			AND A.CHAPA        <= @CHAPA_FIM
			AND A.JUSTIFICATIVA LIKE '%LANÇADO VIA PROCEDURE(ENC)%';
			--AND B.CHAPA = '0060297';

	-----6.3 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT */
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = '1') WHERE CODCOLIGADA = '1' AND CODAUTOINC = 'AMODIFICAOCORRENCIA'


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 7.1 - CALCULANDO HORAS EXTRA TOLERADO(PQ SE FOR FERIADO TEM QUE PAGAR) - HORARIO DIURNO */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

	-----7.1.1 - CALCULANDO HORAS EXTRAS TOLERADO - HORARIO DIURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, DATAREFERENCIA, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO COMPENSADO DIURNO LANÇADO VIA PROCEDURE(ET)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, A.FIM, SUM(DATEDIFF(minute,A.INICIO,A.FIM)) QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA = 'ET'
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060297'
			  GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO = 0 AND HORARIO_JOR = 1;

	-----7.1.2 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT	
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'

	-----7.1.3 - CALCULANDO HORAS EXTRAS - HORARIO NOTURNO
	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
		SELECT CODCOLIGADA, CHAPA, 'EFA' TIPOOCORRENCIADESTINO, INICIO, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO COMPENSADO NOTURNO LANÇADO VIA PROCEDURE(ET)','1' COMPORTAMENTO,
		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
		
		FROM (
	
			SELECT
			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.INICIO, A.FIM, NULL QTDE
			    ,'0' ATITUDE
			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
			WHERE 
			    A.CODCOLIGADA    = B.CODCOLIGADA
			AND A.CHAPA          = B.CHAPA
			AND A.CODCOLIGADA    = C.CODCOLIGADA
			AND A.CHAPA          = C.CHAPA
			AND B.CODCOLIGADA    = D.CODCOLIGADA
			AND B.CODSECAO       = D.CODIGO
			AND A.CODCOLIGADA    = @coligada
			AND A.TIPOOCORRENCIA = 'ET'
			AND A.DATAREFERENCIA >= @data_d
			AND A.DATAREFERENCIA <= @DATAfim_D
			AND B.CODFILIAL     >= @filial_ini
			AND B.CODFILIAL     <= @filial_fim
			AND A.CHAPA         >= @CHAPA_INI 
			AND A.CHAPA         <= @CHAPA_FIM
			--AND A.CHAPA          = '0060297'
			  --GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
				  
		) X
	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO > 0 AND HORARIO_JOR = 1;

	-----7.2 - INSERINDO OS REGISTROS NOVOS NA AMODIFICAOCORRENCIAORIGEM DE HORAS NORMAIS
	INSERT INTO AMODIFICAOCORRENCIAORIGEM (CODCOLIGADA, CHAPA, IDMODIFICACAO, TIPOOCORRENCIAORIGEM)

			SELECT A.CODCOLIGADA, A.CHAPA, A.IDMODIFICACAO, 'ET' 
			FROM AMODIFICAOCORRENCIA A, PFUNC B
			WHERE 
			    A.CODCOLIGADA   = B.CODCOLIGADA
			AND A.CHAPA         = B.CHAPA
			AND A.CODCOLIGADA   = @coligada
			AND A.DATAINICIO   >= @data_d
			AND A.DATAINICIO    < DATEADD(DAY,2,@DATAfim_D)
			AND B.CODFILIAL    >= @filial_ini
			AND B.CODFILIAL    <= @filial_fim
			AND A.CHAPA        >= @CHAPA_INI 
			AND A.CHAPA        <= @CHAPA_FIM
			AND A.JUSTIFICATIVA LIKE '%LANÇADO VIA PROCEDURE(ET)%';
			--AND B.CHAPA = '0060297';

	-----7.3 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT */
	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA';








/*
	--Daqui para Baixo é opcional, sendo a pergunta: 
		Se o funcionário vem trabalhar no dia de Feriado, mas não cumpre a jornada toda do dia
			- Abonar (entao deixe essa parte debaixo)
			- Pode deixar descontando (entao retire essa parte)
*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 10.1 - DESCONSIDERANDO ATRASOS - HORARIO DIURNO */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
--
--	-----10.1.1 - DESCONSIDERANDO ATRASOS - HORARIO DIURNO
--	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
--		SELECT CODCOLIGADA, CHAPA, '#A' TIPOOCORRENCIADESTINO, DATAREFERENCIA, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO DESCONSIDERA ATRASO LANÇADO VIA PROCEDURE(A)','1' COMPORTAMENTO,
--		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
--		
--		FROM (
--	
--			SELECT
--			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, A.FIM, SUM(DATEDIFF(minute,A.INICIO,A.FIM)) QTDE
--			    ,'-1' ATITUDE
--			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
--			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
--			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
--			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
--			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
--			WHERE 
--			    A.CODCOLIGADA    = B.CODCOLIGADA
--			AND A.CHAPA          = B.CHAPA
--			AND A.CODCOLIGADA    = C.CODCOLIGADA
--			AND A.CHAPA          = C.CHAPA
--			AND B.CODCOLIGADA    = D.CODCOLIGADA
--			AND B.CODSECAO       = D.CODIGO
--			AND A.CODCOLIGADA    = @coligada
--			AND A.TIPOOCORRENCIA IN ('A','SA')
--			AND A.DATAREFERENCIA >= @data_d
--			AND A.DATAREFERENCIA <= @DATAfim_D
--			AND B.CODFILIAL     >= @filial_ini
--			AND B.CODFILIAL     <= @filial_fim
--			AND A.CHAPA         >= @CHAPA_INI 
--			AND A.CHAPA         <= @CHAPA_FIM
--			--AND A.CHAPA          = '0060297'
--			  GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
--				  
--		) X
--	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO = 0 AND HORARIO_JOR = 1;
--
--	-----10.1.2 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT	
--	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'
--
--	-----10.1.3 - DESCONSIDERANDO ATRASOS - HORARIO NOTURNO
--	INSERT INTO AMODIFICAOCORRENCIA (CODCOLIGADA, CHAPA, TIPOOCORRENCIADESTINO, DATAINICIO, DATAFIM, NUMHORAS, ATITUDE, JUSTIFICATIVA, COMPORTAMENTO, IDMODIFICACAO)
--		SELECT CODCOLIGADA, CHAPA, '#A' TIPOOCORRENCIADESTINO, INICIO, FIM, QTDE, ATITUDE, 'TRABALHO FERIADO DESCONSIDERA ATRASO LANÇADO VIA PROCEDURE(A)','1' COMPORTAMENTO,
--		  ROW_NUMBER() OVER(ORDER BY CHAPA)+isnull((SELECT VALAUTOINC FROM GAUTOINC WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA'),0) IDNOVA
--		
--		FROM (
--	
--			SELECT
--			    A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.INICIO, A.FIM, NULL QTDE
--			    ,'-1' ATITUDE
--			    ,CASE WHEN (SELECT FERIADO FROM GFERIADO M WHERE D.CODCALENDARIO = M.CODCALENDARIO AND A.DATAREFERENCIA = M.DIAFERIADO) = 'T' THEN 1 ELSE 0 END FERIADO
--			    ,(SELECT COUNT(BATIDA) FROM ABATFUN N WHERE A.CODCOLIGADA = N.CODCOLIGADA AND A.CHAPA = N.CHAPA AND A.DATAREFERENCIA = N.DATAREFERENCIA AND A.DATAREFERENCIA <> N.DATA) NOTURNO_DIURNO
--			    ,(SELECT ISNULL(P.CONSFERIADO,0) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA = 
--			    	(SELECT MAX(O.DTMUDANCA) FROM PFHSTHOR O, AHORARIO P WHERE O.CODCOLIGADA = P.CODCOLIGADA AND O.CODHORARIO = P.CODIGO AND A.CODCOLIGADA = O.CODCOLIGADA AND A.CHAPA = O.CHAPA AND O.DTMUDANCA <= A.DATAREFERENCIA) ) HORARIO_JOR
--			FROM AOCORRENCIACALCULADA A, PFUNC B, APARFUN C, PSECAO D
--			WHERE 
--			    A.CODCOLIGADA    = B.CODCOLIGADA
--			AND A.CHAPA          = B.CHAPA
--			AND A.CODCOLIGADA    = C.CODCOLIGADA
--			AND A.CHAPA          = C.CHAPA
--			AND B.CODCOLIGADA    = D.CODCOLIGADA
--			AND B.CODSECAO       = D.CODIGO
--			AND A.CODCOLIGADA    = @coligada
--			AND A.TIPOOCORRENCIA IN ('A','SA')
--			AND A.DATAREFERENCIA >= @data_d
--			AND A.DATAREFERENCIA <= @DATAfim_D
--			AND B.CODFILIAL     >= @filial_ini
--			AND B.CODFILIAL     <= @filial_fim
--			AND A.CHAPA         >= @CHAPA_INI 
--			AND A.CHAPA         <= @CHAPA_FIM
--			--AND A.CHAPA          = '0060297'
--			  --GROUP BY A.CODCOLIGADA, A.CHAPA, B.NOME, B.CODSECAO, A.DATAREFERENCIA, D.CODCALENDARIO, A.FIM
--				  
--		) X
--	  	  WHERE FERIADO = 1 AND NOTURNO_DIURNO > 0 AND HORARIO_JOR = 1;
--
--	-----10.2 - INSERINDO OS REGISTROS NOVOS NA AMODIFICAOCORRENCIAORIGEM DE HORAS "A - ATRASO""
--	INSERT INTO AMODIFICAOCORRENCIAORIGEM (CODCOLIGADA, CHAPA, IDMODIFICACAO, TIPOOCORRENCIAORIGEM)
--
--			SELECT A.CODCOLIGADA, A.CHAPA, A.IDMODIFICACAO, 'A' 
--			FROM AMODIFICAOCORRENCIA A, PFUNC B
--			WHERE 
--			    A.CODCOLIGADA   = B.CODCOLIGADA
--			AND A.CHAPA         = B.CHAPA
--			AND A.CODCOLIGADA   = @coligada
--			AND A.DATAINICIO   >= @data_d
--			AND A.DATAINICIO    < DATEADD(DAY,2,@DATAfim_D)
--			AND B.CODFILIAL    >= @filial_ini
--			AND B.CODFILIAL    <= @filial_fim
--			AND A.CHAPA        >= @CHAPA_INI 
--			AND A.CHAPA        <= @CHAPA_FIM
--			AND A.JUSTIFICATIVA LIKE '%LANÇADO VIA PROCEDURE(A)%';
--			--AND B.CHAPA = '0060297';
--			
--	-----10.3 - INSERINDO OS REGISTROS NOVOS NA AMODIFICAOCORRENCIAORIGEM DE HORAS "SA - SAIDA ANTECIPADA"
--	INSERT INTO AMODIFICAOCORRENCIAORIGEM (CODCOLIGADA, CHAPA, IDMODIFICACAO, TIPOOCORRENCIAORIGEM)
--
--			SELECT A.CODCOLIGADA, A.CHAPA, A.IDMODIFICACAO, 'SA' 
--			FROM AMODIFICAOCORRENCIA A, PFUNC B
--			WHERE 
--			    A.CODCOLIGADA   = B.CODCOLIGADA
--			AND A.CHAPA         = B.CHAPA
--			AND A.CODCOLIGADA   = @coligada
--			AND A.DATAINICIO   >= @data_d
--			AND A.DATAINICIO    < DATEADD(DAY,2,@DATAfim_D)
--			AND B.CODFILIAL    >= @filial_ini
--			AND B.CODFILIAL    <= @filial_fim
--			AND A.CHAPA        >= @CHAPA_INI 
--			AND A.CHAPA        <= @CHAPA_FIM
--			AND A.JUSTIFICATIVA LIKE '%LANÇADO VIA PROCEDURE(A)%';
--			--AND B.CHAPA = '0060297';
--
--	-----10.4 - ATUALIZANDO GAUTOINC DEPOIS DO INSERT */
--	UPDATE GAUTOINC SET VALAUTOINC = (SELECT MAX(IDMODIFICACAO) FROM AMODIFICAOCORRENCIA WHERE CODCOLIGADA = @coligada) WHERE CODCOLIGADA = @coligada AND CODAUTOINC = 'AMODIFICAOCORRENCIA';

	
END;
GO
