USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_alterpk]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_alterpk] @tabname_in varchar(64) = NULL as
/*
** This stored procedure finds all nonclustered primary keys in
** the database and changes them to clustered.  If a table name
** is given then alter only that table if necessary.
**
** Written by Guenther Drach, SAP AG  05/12/98
*/
begin
    declare @tableid int
    declare @tablename sysname
    declare @constid int
    declare @constname sysname
    declare @indid int
    declare @keys varchar(4096)
    declare @thiskey sysname
    declare @i int
    create table #recreation
        (dropper varchar(256),
         creater varchar(4096))
    if @tabname_in is not null
    begin
        declare C1 insensitive cursor for
        select o.id, o.name, c.id, c.name, i.indid from
            sysobjects o, sysobjects c, sysindexes i
                       where o.id = object_id(user+'.'+@tabname_in,'U') and
                             c.parent_obj = o.id and
                             c.xtype = 'PK' and
                             i.name = c.name and
                             i.indid > 1
       for read only
        open C1
        fetch C1 into @tableid, @tablename, @constid, @constname,
             @indid
        while @@fetch_status >= 0
        begin
            select @keys = '[' + index_col(@tablename, @indid, 1)
               + ']', @i = 2,
           @thiskey = index_col(@tablename, @indid, 2)
            while (@thiskey is not null )
            begin
               select @keys = @keys + ', [' + @thiskey + ']',
                     @i = @i + 1
               select @thiskey = index_col(@tablename, @indid, @i)
            end
            insert into #recreation (dropper,creater)
               values ('alter table [' + @tablename +
                     '] drop constraint [' + @constname + ']',
                 'alter table [' + @tablename +
                    '] add constraint [' +
                 @constname + '] primary key clustered (' +
                    @keys + ')')
             fetch C1 into @tableid, @tablename, @constid,
                   @constname, @indid
        end
        deallocate C1
    end -- If table name is given
    else
    begin
        declare C1 insensitive cursor for
        select o.id, o.name, c.id, c.name, i.indid from
            sysobjects o, sysobjects c, sysindexes i
                       where o.id = object_id(user+'.'+o.name,'U') and
                             c.parent_obj = o.id and
                             c.xtype = 'PK' and
                             i.name = c.name and
                             i.indid > 1
       for read only
        open C1
        fetch C1 into @tableid, @tablename, @constid, @constname,
                @indid
        while @@fetch_status >= 0
        begin
            select @keys = '[' + index_col(@tablename, @indid, 1)
               + ']', @i = 2,
           @thiskey = index_col(@tablename, @indid, 2)
            while (@thiskey is not null )
            begin
               select @keys = @keys + ', [' + @thiskey + ']',
                  @i = @i + 1
               select @thiskey = index_col(@tablename, @indid, @i)
            end
            insert into #recreation (dropper,creater)
               values ('alter table [' + @tablename +
                  '] drop constraint [' + @constname + ']',
                 'alter table [' + @tablename +
                     '] add constraint [' +
                 @constname + '] primary key clustered (' +
                         @keys + ')')
             fetch C1 into @tableid, @tablename, @constid,
                           @constname, @indid
        end
        deallocate C1
    end -- If no table name given
    declare @dropper varchar(256)
    declare @creater varchar(4096)
    declare C2 insensitive cursor for
        select dropper, creater from #recreation
           for read only
    open C2
    fetch C2 into @dropper, @creater
    while @@fetch_status >= 0
    begin
      print @dropper
      exec ( @dropper )
      print @creater
      exec ( @creater )
      fetch C2 into @dropper, @creater
    end
    deallocate C2
    drop table #recreation
end -- sap_alterpk
 
GO
