USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[ARELBATIDATRANSITOVIEW]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Mateus Queiroz Correia - CR1060_02 - Oc - 12/08/2008 */
CREATE VIEW [dbo].[ARELBATIDATRANSITOVIEW]
AS
SELECT A.CHAPA
	,A.CODCOLIGADA
	,CONVERT(DATETIME, CONVERT(VARCHAR, MESES.MES) + '/' + CONVERT(VARCHAR, DIAS.DIA) + '/' + CONVERT(VARCHAR, A.ANO)) AS DATA
	,NULL AS BATIDA
	,'P' AS STATUS
	,0 AS NATUREZA
	,1 AS SEQUENCIALBATIDA
FROM (
	SELECT 1 AS DIA
	UNION
	SELECT 2 AS DIA
	UNION
	SELECT 3 AS DIA
	UNION
	SELECT 4 AS DIA
	UNION
	SELECT 5 AS DIA
	UNION
	SELECT 6 AS DIA
	UNION
	SELECT 7 AS DIA
	UNION
	SELECT 8 AS DIA
	UNION
	SELECT 9 AS DIA
	UNION
	SELECT 10 AS DIA
	UNION
	SELECT 11 AS DIA
	UNION
	SELECT 12 AS DIA
	UNION
	SELECT 13 AS DIA
	UNION
	SELECT 14 AS DIA
	UNION
	SELECT 15 AS DIA
	UNION
	SELECT 16 AS DIA
	UNION
	SELECT 17 AS DIA
	UNION
	SELECT 18 AS DIA
	UNION
	SELECT 19 AS DIA
	UNION
	SELECT 20 AS DIA
	UNION
	SELECT 21 AS DIA
	UNION
	SELECT 22 AS DIA
	UNION
	SELECT 23 AS DIA
	UNION
	SELECT 24 AS DIA
	UNION
	SELECT 25 AS DIA
	UNION
	SELECT 26 AS DIA
	UNION
	SELECT 27 AS DIA
	UNION
	SELECT 28 AS DIA
	UNION
	SELECT 29 AS DIA
	UNION
	SELECT 30 AS DIA
	UNION
	SELECT 31 AS DIA
	) AS DIAS
	,(
		SELECT 1 AS MES
		UNION
		SELECT 2 AS MES
		UNION
		SELECT 3 AS MES
		UNION
		SELECT 4 AS MES
		UNION
		SELECT 5 AS MES
		UNION
		SELECT 6 AS MES
		UNION
		SELECT 7 AS MES
		UNION
		SELECT 8 AS MES
		UNION
		SELECT 9 AS MES
		UNION
		SELECT 10 AS MES
		UNION
		SELECT 11 AS MES
		UNION
		SELECT 12 AS MES
		) AS MESES
LEFT OUTER JOIN (
	SELECT DISTINCT YEAR(ABATFUN.DATA) AS ANO
		,ABATFUN.CHAPA
		,ABATFUN.CODCOLIGADA
	FROM ABATFUN  WITH (NOLOCK)
	) AS A ON A.ANO IS NOT NULL
WHERE MESES.MES IS NOT NULL
	AND ISDATE(CONVERT(VARCHAR, MESES.MES) + '/' + CONVERT(VARCHAR, DIAS.DIA) + '/' + CONVERT(VARCHAR, A.ANO)) = 1
	AND NOT EXISTS (
		SELECT TOP 1 1
		FROM ABATFUN  WITH (NOLOCK)
		WHERE ABATFUN.CHAPA = A.CHAPA
			AND ABATFUN.CODCOLIGADA = A.CODCOLIGADA
			AND DAY(ABATFUN.DATA) = DIAS.DIA
			AND MONTH(ABATFUN.DATA) = MESES.MES
			AND YEAR(ABATFUN.DATA) = A.ANO
		)
UNION ALL
SELECT ABATFUN.CHAPA
	,ABATFUN.CODCOLIGADA
	,ABATFUN.DATA
	,DATEADD(MINUTE, ABATFUN.BATIDA, ABATFUN.DATA) AS BATIDA
	,ABATFUN.STATUS
	,ABATFUN.NATUREZA
	,(
		SELECT COUNT(A.BATIDA)
		FROM ABATFUN A
		WHERE A.CHAPA = ABATFUN.CHAPA
			AND A.CODCOLIGADA = ABATFUN.CODCOLIGADA
			AND A.DATA = ABATFUN.DATA
			AND A.BATIDA <= ABATFUN.BATIDA
		) AS SEQUENCIALBATIDA
FROM ABATFUN  WITH (NOLOCK)
GO
