USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tr_init]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_tr_init]
  @schema   sysname       = N' ' ,  -- Target schema
  @eclass   char(1)              ,  -- SAP event class
  @fpath    nvarchar(256) = NULL ,  -- Desired drive and directory
  @fname    nvarchar(64)  = NULL ,  -- Desired file name
  @max_MB   bigint        = NULL ,  -- Maximum file size (MB)
  @max_hr   int           = 1    ,  -- Max runtime in minutes
  @sapuser  nvarchar(12)  = NULL ,  -- SAP user
  @permid   int            OUTPUT   -- Permanent trace ID
AS
-- Initialisations
  declare @retval  int
  declare @tracef  nvarchar(320)
  declare @endtime datetime
  declare @min_MB  int
  declare @traceid int
  declare @proc    varchar(256)
  set nocount on
-- ABAP cannot pass NULLs ...
  if @max_MB <= 0
    set @max_MB = NULL
  if @max_hr <= 0
    set @max_hr = 1
-- Determine location of trace file
  if @max_MB IS NOT NULL
    set @min_MB = @max_MB + 1
  else
    set @min_MB = NULL
  if @schema = ' ' or @schema IS NULL
    set @proc = 'sap_tr_filename'
  else
    set @proc = @schema + '.sap_tr_filename'
  execute @retval = @proc @schema ,
                          @fpath  ,
                          @fname  ,
                          @min_MB ,
                          @tracef OUTPUT
  if @retval <> 0
    RETURN ( 100 + @retval )
-- Create trace
  if @max_hr IS NOT NULL
    set @endtime = DATEADD (mi, @max_hr, getdate())
  else
    set @endtime = NULL
  execute @retval =
    sp_trace_create @traceid     = @traceid OUTPUT ,
                    @options     = 0               ,
                    @tracefile   = @tracef         ,
                    @maxfilesize = @max_MB         ,
                    @stoptime    = @endtime
  if @retval <> 0
    RETURN ( 200 + @retval )
  else if @traceid < 1
    RETURN 1
-- Write sap_tr_header record
  INSERT sap_tr_header
      ( traceid ,
        crdate  ,
        sapuser ,
        eclass  ,
        tracef  ,
        max_MB  ,
        endtime )
    VALUES ( @traceid  ,
             getdate() ,
             @sapuser  ,
             @eclass   ,
             @tracef   ,
             @max_MB   ,
             @endtime  )
  set @permid = @@IDENTITY
-- Set events
  declare @eventid int
  declare @bit_on  bit
  if @schema = ' ' or @schema IS NULL
    set @proc = 'sap_tr_columns'
  else
    set @proc = @schema + '.sap_tr_columns'
  set @bit_on = 1
  DECLARE e_list CURSOR LOCAL FAST_FORWARD FOR
    SELECT eventid FROM sap_tr_events(@eclass)
  OPEN e_list
  FETCH NEXT FROM e_list INTO @eventid
  WHILE @@FETCH_STATUS = 0
    BEGIN
      EXECUTE @retval = @proc @traceid ,
                              @eventid
      IF @retval <> 0
        BEGIN
          CLOSE e_list
          DEALLOCATE e_list
          RETURN ( 300 + @retval )
        END
      FETCH NEXT FROM e_list INTO @eventid
    END
  CLOSE e_list
  DEALLOCATE e_list
  -- Apparently we need to start the trace here
  -- on SQL 2005
  execute sp_trace_setstatus @traceid, 1
 
GO
