USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_columns_of_indexes]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_columns_of_indexes]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @also_autocre_stats char(1),
  @also_mancre_stats char(1),
  @target_schema sysname = null
AS
BEGIN
set nocount on
-- declare local variables
declare @cmd nvarchar(2048)
declare @pstr nvarchar(512)
declare @indname sysname
declare @indid int
declare @colname sysname
declare @colid int
declare @all_cols table (indname sysname,
                         colid tinyint, colname sysname)
-- create temp. table
create table #all_indexes (tabname sysname,
                           indname sysname, indid smallint)
-- collect the indexes
if @target_schema is null
begin
  set @cmd = N'exec sap_get_indexes @table_name,@schema_name,@db_name' +
             N','' '',@also_autocre_stats,@also_mancre_stats'
end
else
begin
  set @cmd = N'exec ' + @target_schema + N'.sap_get_indexes ' +
                 N'@table_name,@schema_name,@db_name' +
                 N','' '',@also_autocre_stats,@also_mancre_stats'
end
set @pstr = N'@table_name sysname,@schema_name sysname,@db_name sysname,' +
            N'@also_autocre_stats char(1),@also_mancre_stats char(1)'
insert into #all_indexes
    exec sp_executesql @cmd,@pstr,@table_name,@schema_name,@db_name,
                             @also_autocre_stats,@also_mancre_stats
-- collect the columns of the indexes
declare all_indexes cursor
  for select indname, indid from #all_indexes
open all_indexes
fetch next from all_indexes into @indname, @indid
while (@@fetch_status <> -1)
  begin
    if (@@fetch_status <> -2)
      begin
        set @colname = index_col(@db_name+'.'+@schema_name+'.'+
                                 @table_name,@indid,1)
        set @colid = 1
        while (@colname is not null)
          begin
            insert into @all_cols values (@indname, @colid, @colname)
            set @colid = @colid + 1
            set @colname = index_col(@db_name+'.'+@schema_name+'.'+
                                     @table_name,@indid,@colid)
        end
      end
    fetch next from all_indexes into @indname, @indid
  end
close all_indexes
deallocate all_indexes
-- return the columns
select * from @all_cols order by indname, colid
-- drop temp. tables
drop table #all_indexes
END
 
GO
