USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_density]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_density]
  @tablename varchar(30),
  @colist varchar(255),
  @totalrows real
as
begin
  declare @cmd varchar(400)
  set nocount on
  create table #density ( colcount decimal(20,2))
  select @cmd = 'insert into #density select count(*) from [' +
       @tablename + '] group by '
        + @colist
  exec (@cmd)
  select 1 / convert(decimal(20,6),count(*)) from  #density
  drop table #density
end
 
GO
