USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[MAPROP]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*ALEXANDRE RODRIGUES DA SILVA - SO.2023.02_02 - OC.:TOPEXECONTROL01-22704 - 16/05/2023 VERSAO.: 12.1.2209 - EQUIPE:INOV  */
CREATE VIEW [dbo].[MAPROP] AS
SELECT IDMAPROP, CODCOLIGADA, CODFILIAL, IDPRJ, IDTRF, QUANTIDADE, PRECOUNITARIO, ACRESCIMO, DESCONTO, VALORTOTAL,
	   DATAAPROPRIACAO, MOEDA, TIPOAPROP, CODCOLCFO, CODCFO, CODCOLPRD, IDPRD, CODUND, NUMERODOC, NUMEROITMDOC, IDEXTERNO,
	   ORIGEMAPROP, IDISM, RECCREATEDBY,  RECCREATEDON, RECMODIFIEDBY, RECMODIFIEDON, VALORDEDUCAO, VALORRETENCAO, TOTALNF, SITUACAO
FROM MMOV WHERE APROPRIADO = 1
GO
