USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SAVW002]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SAVW002]
AS
SELECT DISTINCT A.CODCOLIGADA, C.CODINDICADOPOR, B.CODITEM, D.NOMEPACIENTE, C.TIPOPACIENTE, D.CODPACIENTE,
C.CODATENDIMENTO,  A.DISCRIMINACAOSADT DESCITEM, A.DATAREALIZACAOSADT DATAREALIZACAO , B.NUMEROCONTA, B.SEQUENCIALCONTA, B.SEQDEBITO,
A.QUANTIDADESADT  QTDE, A.TOTALCH, A.VALORCHSADT, A.VALORTOTALSADT,
B.VALORBASECALCULO, B.VALORDESCONTO,  B.VALORREPASSE , B.VALORORIGINAL , B.CODREPASSE NROFATURAHM,
C.STATUSCONTA, C.NUMEROREMESSA, C.CODCOMPRADOR, A.EXAMEFORA, C.CODPRESTADOR
FROM SZATENDSADT A, SZCONTROLREPASSE B, SZATENDIMENTO C, SZPACIENTE D, SZCRITREPASSE E
WHERE A.CODCOLIGADA = C.CODCOLIGADA  
AND A.NUMEROCONTA = C.NUMEROCONTA 
AND A.SEQUENCIALCONTA = C.SEQUENCIALCONTA 
AND A.CODCOLIGADA = B.CODCOLIGADA 
AND A.NUMEROCONTA = B.NUMEROCONTA 
AND A.SEQUENCIALCONTA = B.SEQUENCIALCONTA 
AND A.SEQDEBITOSADT = B.SEQDEBITO 
AND C.CODCOLIGADA = D.CODCOLIGADA 
AND C.CODPACIENTE = D.CODPACIENTE 
AND C.CODINDICADOPOR IS NOT NULL 
AND E.CODCOLIGADA = B.CODCOLIGADA 
AND E.CODREPASSE = B.CODREPASSE 
AND E.TIPODISTRIBUICAO = 'D' 
AND B.GRUPOGASTO = '09' 
AND B.ESTORNADO IS NULL
GO
