USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_get_princ]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sap_get_princ] ( )
  RETURNS TABLE AS RETURN
    SELECT SUSER_NAME()     AS [CURR_LOGIN] ,
           ORIGINAL_LOGIN() AS [ORIG_LOGIN] ,
           DB_NAME()        AS [DBNAME]     ,
           USER_NAME()      AS [DBUSER]     ,
           SCHEMA_NAME()    AS [DEF_SCHEMA]
 
GO
