USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_single_table_of_index]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_single_table_of_index]
  @index_name  sysname,
  @table_name  sysname,
  @schema_name sysname,
  @db_name     sysname
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(1024)
-- build the select statement
set @cmd = N'select o.name ' +
             N'from ' + @db_name + N'.sys.objects o, ' +
                        @db_name + N'.sys.schemas sch, ' +
                        @db_name + N'.sys.sysindexes i ' +
               N'where o.name =  @table_name ' +
                 N'and o.schema_id = sch.schema_id ' +
                 N'and sch.name = @schema_name ' +
                 N'and i.id = o.object_id ' +
                 N'and i.name = @index_name ' +
                 N'and i.indid > 0 ' +
                 N'and i.indid < 255'
-- get the name(s) of the table(s)
--print @cmd
exec sp_executesql @cmd,
   N'@table_name sysname,@schema_name sysname,@index_name sysname',
   @table_name,@schema_name,@index_name
END
 
GO
