USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFUSUARIO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFUSUARIO] AS
SELECT CODUSUARIO,NOME,SENHA,GETDATE() AS DTHRATUALIZACAO 
FROM GUSUARIO
GO
