USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_query_stats_summary]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_query_stats_summary]
as
begin
SELECT  sum(execution_count) as Calls
, sum(total_physical_reads) as physical_reads
, sum(total_logical_writes) as logical_writes
, sum(total_logical_reads) as logical_reads
, sum(total_elapsed_time) as elapsed_time
, sum(total_worker_time) as  worker_time
, sum(total_clr_time) as clr_time
,  cast(sum(total_physical_reads) as float(1))
     / sum(execution_count) as AVG_physical_reads
,  cast(sum(total_logical_writes) as float(1))
     / sum(execution_count) as AVG_logical_writes
,  cast(sum(total_logical_reads) as float(1))
     / sum(execution_count) as AVG_logical_reads
,  cast(sum(total_elapsed_time) as float(1))
     / sum(execution_count) as AVG_elapsed_time
,  cast(sum(total_worker_time) as float(1))
     / sum(execution_count) as AVG_worker_time
,  cast(sum(total_clr_time) as float(1))
     / sum(execution_count) as AVG_clr_time
FROM sys.dm_exec_query_stats
end
 
GO
