USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_sesconreq]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_mon_sesconreq]
  @actReqsOnly   nchar(1) = 'N',
  @engConnsInc   nchar(1) = 'N',
  @oneLogin      sysname  = 'N',
  @oneHost       sysname  = 'N',
  @oneWP         sysname  = 'N'
AS
BEGIN
  set nocount on
  declare @cmdString nvarchar(3900)
  declare @fromSessions    nvarchar(512)
  declare @fromConnections nvarchar(600)
  declare @fromRequests    nvarchar(2000)
  declare @fromString      nvarchar(500)
  declare @whereClause     nvarchar(200)
  set @fromSessions =
  's.session_id,convert(char(24),s.login_time,121),'+
  's.host_name,s.program_name,s.host_process_id,'+
  's.client_version,s.client_interface_name,s.login_name,'+
  's.nt_domain,s.nt_user_name,'+
  's.cpu_time,s.memory_usage,s.total_scheduled_time,'+
  's.total_elapsed_time,s.reads,s.writes,s.logical_reads,' +
  'CASE s.transaction_isolation_level when 0 then '''' ' +
  'when 1 then ''UncRd'' when 2 then ''CommRd'' ' +
  'when 3 then ''Repeatable'' when 4 then ''Serializable'' '+
  'when 5 then ''Snapshot'' END '
  set @fromConnections =
  'convert(char(36),c.connection_id),'+
  'convert(char(36),c.parent_connection_id),c.session_id,'+
  'convert(char(24),c.connect_time,121),c.net_transport,'+
  'c.protocol_type,c.num_reads,c.num_writes,'+
  'convert(char(24),c.last_read,121),'+
  'convert(char(24),c.last_write,121),'+
  'c.net_packet_size,c.client_net_address'
  set @fromRequests=
  'r.session_id,r.request_id,r.start_time,r.status,r.command,'+
  'CASE when r.sql_handle IS NULL then ' +
  '  CASE when c.most_recent_sql_handle IS NULL then null '+
  '  else c.most_recent_sql_handle end ' +
  'else r.sql_handle end as sql_handle,'+
  'r.statement_start_offset,r.statement_end_offset,'+
  'CASE when r.plan_handle IS NULL then convert(varbinary(64),'''') '+
  'else r.plan_handle end,'+
  'CASE when r.database_id is NULL then db_name(sp.dbid)' +
  'else db_name(r.database_id) end,'+
  'convert(nchar(128),user_name(r.user_id)),'+
  'convert(char(36),r.connection_id),'+
  'r.blocking_session_id,r.wait_time,r.last_wait_type,'+
  'convert(nvarchar(128),r.wait_resource),'+
  'r.open_transaction_count,r.open_resultset_count,r.transaction_id,'+
  'cast(r.percent_complete as dec(5,2)),r.estimated_completion_time,'+
  'r.cpu_time,r.total_elapsed_time,r.scheduler_id,r.reads,r.writes,'+
  'r.logical_reads,r.row_count,' +
  'CASE when r.sql_handle is null then ' +
  '  CASE when c.most_recent_sql_handle is null then null else '+
  '(select convert(nvarchar(50),text) '+
  'from sys.dm_exec_sql_text(c.most_recent_sql_handle)) end ' +
  ' else '+
  '(select convert(nvarchar(50),'+
  ' SUBSTRING(text,r.statement_start_offset/2 + 1, 50)) '+
  'from sys.dm_exec_sql_text(r.sql_handle)) end '+
  'as query_text,'+
  'CASE when r.sql_handle is null then '+
  '  CASE when c.most_recent_sql_handle is null then null else '+
  '(select convert(nvarchar(100),'+
  ' SUBSTRING ( text, patindex(''%/* R3:%'' , text),'+
    '(case  when patindex(''%/* R3:%'',text) <> 0'+
    '       then  len(convert(nvarchar(max), text)) * 2'+
    '       else 0 end))) '+
    'from sys.dm_exec_sql_text(c.most_recent_sql_handle)) end '+
  ' else '+
  '(select convert(nvarchar(100),'+
  ' SUBSTRING ( text, patindex(''%/* R3:%'' , text),'+
    '(case  when patindex(''%/* R3:%'',text) <> 0'+
    '       then  len(convert(nvarchar(max), text)) * 2'+
    '       else 0 end))) '+
    'from sys.dm_exec_sql_text(r.sql_handle)) end '+
  'as abloc'
  if @actReqsOnly  = 'Y' and @engConnsInc = 'N'
  begin
    set @fromString =
    ' FROM sys.dm_exec_sessions s  join' +
       ' sys.dm_exec_connections c on ( s.session_id = c.session_id )  join' +
       ' sys.dm_exec_requests r on ' +
      '( r.session_id = c.session_id and r.connection_id = c.connection_id )' +
      ' left outer join master..sysprocesses sp on ' +
      '  ( sp.spid = s.session_id ) '
--       ' join ' +
--       ' sys.dm_os_tasks tsk on ' +
--      '  ( tsk.spid = s.session_id ) ' +
--       ' join ' +
--       ' sys.dm_os_workers wrk on ' +
--      '  ( wrk.worker_address = tsk.worker_address ) '
  end
  else if @actReqsOnly  = 'N' and @engConnsInc = 'N'
  begin
    set @fromString =
    ' FROM sys.dm_exec_sessions s join' +
       ' sys.dm_exec_connections c on ( s.session_id = c.session_id ) '+
       ' left outer join ' +
       ' sys.dm_exec_requests r on ' +
      '( r.session_id = c.session_id and r.connection_id = c.connection_id )' +
      ' left outer join master..sysprocesses sp on ' +
      '  ( sp.spid = s.session_id ) '
  end
-- engine connections included - reset @fromString
  else if @actReqsOnly = 'N' and @engConnsInc = 'Y'
  begin
    set @fromString =
    ' FROM sys.dm_exec_sessions s left outer join' +
       ' sys.dm_exec_connections c on ( s.session_id = c.session_id ) '+
       ' left outer join ' +
       ' sys.dm_exec_requests r on ' +
  '( r.session_id = s.session_id and r.connection_id = c.connection_id ) or ' +
      ' (r.session_id = s.session_id and r.connection_id is null) ' +
      ' left outer join master..sysprocesses sp on ' +
      '  ( sp.spid = s.session_id ) '
  end
  else if @actReqsOnly = 'Y' and @engConnsInc = 'Y'
  begin
    set @fromString =
    ' FROM sys.dm_exec_sessions s left outer join' +
       ' sys.dm_exec_connections c on ( s.session_id = c.session_id ) '+
       '  join ' +
       ' sys.dm_exec_requests r on ' +
  '( r.session_id = s.session_id and r.connection_id = c.connection_id ) or ' +
      ' (r.session_id = s.session_id and r.connection_id is null) ' +
      ' left outer join master..sysprocesses sp on ' +
      '  ( sp.spid = s.session_id ) '
  end
-- one login only
  if @oneLogin  != 'N'
  begin
     set @whereClause = ' where s.login_name = ''' +  @oneLogin + ''' '
  end
  else
  begin
     set @whereClause = ' '
  end
-- one host
  if @oneHost  != 'N'
  begin
    if patindex( '%where%', @whereClause) = 0
    begin
     set @whereClause = ' where s.host_name = ''' +  @oneHost + ''' '
    end
    else
    begin
      set @whereClause =  @whereClause +
                   ' and s.host_name = ''' +  @oneHost + ''' '
    end
  end
-- one work process
  if @oneWP  != 'N'
  begin
    if patindex( '%where%', @whereClause) = 0
    begin
     set @whereClause = ' where s.program_name like ''%' +  @oneWP + '%'' '
    end
    else
    begin
      set @whereClause = @whereClause +
                  ' and s.program_name like ''%' +  @oneWP + '%'' '
    end
  end
-- final command
  SET @cmdString = 'select ' +
        @fromSessions +  ',' +
        @fromConnections + ',' +
        @fromRequests +
        @fromString + ' ' +
        @whereClause + ' ' +
       ' order by s.session_id'
 print @cmdString
--select * from #myConnections
  EXEC sp_executesql @cmdString
END
 
GO
