USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSPROCCBO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSPROCCBO]
AS
  SELECT CODCOLIGADA,
         CO_PROCEDIMENTO CODPROC,
         CO_OCUPACAO     CBO
  FROM   GCOLIGADA,
         SZSUSTUPROCOCUPACAO
GO
