USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[SZSUSHABILITACAO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SZSUSHABILITACAO]
AS
  SELECT CODCOLIGADA,
         CO_HABILITACAO CODHABILIT,
         NO_HABILITACAO DESCRICAO
  FROM   GCOLIGADA,
         SZSUSTUHABILITACAO
GO
