USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TTRBITMAGRUPADO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TTRBITMAGRUPADO]
AS
	SELECT TTRBMOV.CODCOLIGADA,
		   NULL AS IDAGRUPAMENTO,
	       TTRBMOV.IDMOV,
	       TTRBMOV.CODTRB,
	       TITMMOV.IDNAT,
	       TTRBMOV.ALIQUOTA,
	       TTRBMOV.FATORREDUCAO,
	       0 AS FATORSUBST,
	       TTRBMOV.PERCDIFERIMENTOPARCIALICMS,
	       SUM(TTRBMOV.BASEDECALCULO) AS BASECALCULO,
	       SUM(TTRBMOV.VALOR) AS VALOR
	  FROM TTRBMOV
	  JOIN TITMMOV
	    ON (TITMMOV.CODCOLIGADA = TTRBMOV.CODCOLIGADA
	   AND TITMMOV.IDMOV = TTRBMOV.IDMOV
	   AND TITMMOV.NSEQITMMOV = TTRBMOV.NSEQITMMOV)
	  JOIN DTRIBUTO
	    ON (TTRBMOV.CODCOLIGADA = DTRIBUTO.CODCOLIGADA
	   AND TTRBMOV.CODTRB = DTRIBUTO.CODTRB)
	  JOIN TPAR
	    ON (TTRBMOV.CODCOLIGADA = TPAR.CODCOLIGADA)
	 WHERE (EDITADO IS NULL OR EDITADO = 0)
	   AND DTRIBUTO.TIPOTRIBFISC IN ('1')
	   AND TTRBMOV.ALIQUOTA IS NOT NULL
	   AND TTRBMOV.BASEDECALCULO IS NOT NULL
	   AND TITMMOV.IDNAT IS NOT NULL
	   AND TTRBMOV.CODTRB IS NOT NULL
	   AND TTRBMOV.FATORREDUCAO IS NOT NULL
	   AND TTRBMOV.PERCDIFERIMENTOPARCIALICMS IS NOT NULL
  GROUP BY TTRBMOV.CODCOLIGADA,
           TTRBMOV.IDMOV,
           TTRBMOV.CODTRB,
           TITMMOV.IDNAT,
           TTRBMOV.ALIQUOTA,
           TTRBMOV.FATORREDUCAO,
           TTRBMOV.PERCDIFERIMENTOPARCIALICMS
  UNION
  SELECT TTRBMOV.CODCOLIGADA,
		   NULL AS IDAGRUPAMENTO,
	       TTRBMOV.IDMOV,
	       TTRBMOV.CODTRB,
	       TITMMOV.IDNAT,
	       TTRBMOV.ALIQUOTA,
	       TTRBMOV.FATORREDUCAO,
	       TTRBMOV.FATORSUBSTTRIB,
	       0 AS PERCDIFERIMENTOPARCIALICMS,
	       SUM(TTRBMOV.BASEDECALCULO) AS BASECALCULO,
	       SUM(TTRBMOV.VALOR) AS VALOR
	  FROM TTRBMOV
	  JOIN TITMMOV
	    ON (TITMMOV.CODCOLIGADA = TTRBMOV.CODCOLIGADA
	   AND TITMMOV.IDMOV = TTRBMOV.IDMOV
	   AND TITMMOV.NSEQITMMOV = TTRBMOV.NSEQITMMOV)
	  JOIN DTRIBUTO
	    ON (TTRBMOV.CODCOLIGADA = DTRIBUTO.CODCOLIGADA
	   AND TTRBMOV.CODTRB = DTRIBUTO.CODTRB)
	  JOIN TPAR
	    ON (TTRBMOV.CODCOLIGADA = TPAR.CODCOLIGADA)
	 WHERE (EDITADO IS NULL OR EDITADO = 0)
	   AND DTRIBUTO.TIPOTRIBFISC IN ('4')
	   AND TTRBMOV.ALIQUOTA IS NOT NULL
	   AND TTRBMOV.BASEDECALCULO IS NOT NULL
	   AND TITMMOV.IDNAT IS NOT NULL
	   AND TTRBMOV.CODTRB IS NOT NULL
	   AND TTRBMOV.FATORREDUCAO IS NOT NULL
	   AND TTRBMOV.FATORSUBSTTRIB IS NOT NULL
  GROUP BY TTRBMOV.CODCOLIGADA,
           TTRBMOV.IDMOV,
           TTRBMOV.CODTRB,
           TITMMOV.IDNAT,
           TTRBMOV.ALIQUOTA,
           TTRBMOV.FATORREDUCAO,
           TTRBMOV.FATORSUBSTTRIB
	UNION
	 SELECT TTRBMOV.CODCOLIGADA,
		   NULL AS IDAGRUPAMENTO,
	       TTRBMOV.IDMOV,
	       TTRBMOV.CODTRB,
	       TITMMOV.IDNAT,
	       TTRBMOV.ALIQUOTA,
	       0 AS FATORREDUCAO,
	       0 AS FATORSUBST,
	       0 AS PERCDIFERIMENTOPARCIALICMS,
	       SUM(TTRBMOV.BASEDECALCULO) AS BASECALCULO,
	       SUM(TTRBMOV.VALOR) AS VALOR
	  FROM TTRBMOV
	  JOIN TITMMOV
	    ON (TITMMOV.CODCOLIGADA = TTRBMOV.CODCOLIGADA
	   AND TITMMOV.IDMOV = TTRBMOV.IDMOV
	   AND TITMMOV.NSEQITMMOV = TTRBMOV.NSEQITMMOV)
	  JOIN DTRIBUTO
	    ON (TTRBMOV.CODCOLIGADA = DTRIBUTO.CODCOLIGADA
	   AND TTRBMOV.CODTRB = DTRIBUTO.CODTRB)
	  JOIN TPAR
	    ON (TTRBMOV.CODCOLIGADA = TPAR.CODCOLIGADA)
	 WHERE (EDITADO IS NULL OR EDITADO = 0)
	   AND DTRIBUTO.TIPOTRIBFISC IN ('3')
	   AND TTRBMOV.ALIQUOTA IS NOT NULL
	   AND TTRBMOV.BASEDECALCULO IS NOT NULL
	   AND TITMMOV.IDNAT IS NOT NULL
	   AND TTRBMOV.CODTRB IS NOT NULL
  GROUP BY TTRBMOV.CODCOLIGADA,
           TTRBMOV.IDMOV,
           TTRBMOV.CODTRB,
           TITMMOV.IDNAT,
           TTRBMOV.ALIQUOTA
GO
