USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[KATVORDEMMATERIAPRIMA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/* GLAYSSON GONCALVES CHAGAS - FT1100_03 - OC. - 04/02/2010 */
CREATE	VIEW [dbo].[KATVORDEMMATERIAPRIMA] AS
SELECT	IDATVORDEMMATERIAPRIMA,CODCOLIGADA,CODORDEM,CODESTRUTURA,CODMODELO,IDATIVIDADE,DATAAPONTAMENTO,IDPRODUTO,NSEQITMGRD,QUANTIDADE,EFETIVADO,
IDLOTE,CODFILIAL,QTDUNITARIA/10000 QTDUNITARIA,QTFIXA, ESTOQUE
FROM	KATVORDEMMP
GO
