USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[OUTSERV_VW_RELESCALA]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--'050002778'

CREATE VIEW [dbo].[OUTSERV_VW_RELESCALA] 
AS
SELECT [ID],[TIPO],[STATUS],[COD.COLIGADA],[COD.FILIAL],[CHAPA],[NOME],[COD.FUNÇÃO],[FUNÇÃO],[DT ADMISSÃO],[SITUAÇÃO],[COD.CUSTO],[DESC.CUSTO],[COD.SEÇÃO],[DESC.SEÇÃO],[DATA],[ANTES - TROCA],[APÓS - TROCA],[ANTES - FOLGA],[APÓS - FOLGA],[DATA SOLICITAÇÃO],[USUÁRIO - SOLICITANTE],[JUSTIFICATIVA SOLICITAÇÃO],[DATA APROVAÇÃO],[DATA REPROVAÇÃO],[JUSTIFICATIVA REPROVAÇÃO],[USUÁRIO - GESTOR],[USUÁRIO - RH] FROM (
    SELECT
        DISTINCT
        a.id ID,
        CASE WHEN a.tipo = 1 THEN 'Troca de Escala' ELSE 'Troca de Dia' END [TIPO],
            CASE 
                WHEN a.situacao = 0 THEN 'Criada'
                WHEN a.situacao = 10 THEN 'Pend/Ação Gestor'
                WHEN a.situacao = 1 THEN 'Pend/Upload Documento'
                WHEN a.situacao = 4 THEN 'Termo Anexado'
                WHEN a.situacao = 2 THEN 'Pend/Ação RH'
                WHEN a.situacao = 3 THEN 'Concluído'
                WHEN a.situacao = 8 OR a.situacao = 9 THEN 'Reprovado'
                WHEN a.situacao = 11 THEN 'Excluído'
                ELSE 'Sem status'
            END as STATUS,
        CONVERT(VARCHAR, a.datamudanca, 103) [DATA],
        b.CODCOLIGADA [COD.COLIGADA],
        k.NOME [COLIGADA],
        b.codfilial [COD.FILIAL],
        c.nome [FILIAL],
        a.chapa [CHAPA],
        b.nome [NOME],
        b.codfuncao [COD.FUNÇÃO],
        d.nome [FUNÇÃO],
        CONVERT(VARCHAR, b.dataadmissao, 103) [DT ADMISSÃO],
        substring(b.codsecao, 5, 5) [COD.CUSTO],
        j.NOME [DESC.CUSTO],
        b.codsecao [COD.SEÇÃO],
        e.descricao [DESC.SEÇÃO],
        (
            SELECT
                TOP 1 
                HB.DESCRICAO
            FROM
                CorporeRMPRD..PFHSTSIT HA
                INNER JOIN CorporeRMPRD..PCODSITUACAO HB ON HB.CODCLIENTE = HA.NOVASITUACAO
            WHERE
                    HA.CODCOLIGADA = a.coligada
                AND HA.CHAPA = a.chapa COLLATE Latin1_General_CI_AS
                AND (
                    HA.DATAMUDANCA <= a.datamudanca
                )
            ORDER BY
                DATAMUDANCA DESC
        ) [SITUAÇÃO],
        (
            SELECT
                TOP 1
                CONCAT(A2.CODIGO, ' - ', A2.DESCRICAO, ' - ', ZZ.INDICE)
            FROM
                CorporeRMPRD..PFHSTHOR A1 (NOLOCK)
                INNER JOIN CorporeRMPRD..AHORARIO A2 (NOLOCK) ON A2.CODCOLIGADA = A1.CODCOLIGADA AND A2.CODIGO = A1.CODHORARIO
                LEFT JOIN CorporeRMPRD..Z_OUTSERV_MELHORIAS4 (NOLOCK) ZZ ON ZZ.CODCOLIGADA = A1.CODCOLIGADA AND ZZ.CODHORARIO = A1.CODHORARIO AND ZZ.DATA = (DATEADD(day, +(A1.INDINICIOHOR-1), a.datamudanca))
            WHERE
                A1.DTMUDANCA <= a.datamudanca
                AND A1.CHAPA = a.chapa COLLATE Latin1_General_CI_AS
                AND A1.CODCOLIGADA = a.coligada
            ORDER BY
                A1.DTMUDANCA DESC
        ) [ANTES - TROCA],
        CONCAT(a.codhorario, ' - ', f.descricao collate Latin1_General_CI_AS,' - ', a.codindice) [APÓS - TROCA],
        CASE WHEN a.tipo = 2 THEN (
            SELECT
                TOP 1
                CONCAT(A2.CODIGO, ' - ', A2.DESCRICAO, ' - ', ZZ.INDICE)
            FROM
                CorporeRMPRD..PFHSTHOR A1 (NOLOCK)
                INNER JOIN CorporeRMPRD..AHORARIO A2 (NOLOCK) ON A2.CODCOLIGADA = A1.CODCOLIGADA AND A2.CODIGO = A1.CODHORARIO
                LEFT JOIN CorporeRMPRD..Z_OUTSERV_MELHORIAS4 (NOLOCK) ZZ ON ZZ.CODCOLIGADA = A1.CODCOLIGADA AND ZZ.CODHORARIO = A1.CODHORARIO AND ZZ.DATA = (DATEADD(day, +(A1.INDINICIOHOR-1), a.datamudanca_folga))
            WHERE
                A1.DTMUDANCA <= a.datamudanca_folga
                AND A1.CHAPA = a.chapa COLLATE Latin1_General_CI_AS
                AND A1.CODCOLIGADA = a.coligada
            ORDER BY
                A1.DTMUDANCA DESC
        ) ELSE NULL END [ANTES - FOLGA],
        CASE WHEN a.tipo = 2 THEN CONCAT(a.codhorario, ' - ', f.descricao collate Latin1_General_CI_AS,' - ', a.codindice_folga) ELSE NULL END [APÓS - FOLGA],
        
        (
        SELECT 
            TOP 1 CONCAT(BB.CHAPA,'-',BB.NOME)
        FROM
            CorporeRMPRD..PPESSOA AA (NOLOCK)
            INNER JOIN CorporeRMPRD..PFUNC BB (NOLOCK) ON BB.CODPESSOA = AA.CODIGO AND ISNULL(BB.TIPODEMISSAO, '0') NOT IN ('5', '6')
        WHERE
            AA.CPF = g.login COLLATE Latin1_General_CI_AS
            AND BB.DATAADMISSAO <= a.datamudanca
        ) [USUÁRIO - SOLICITANTE],
        
        (
        SELECT 
            TOP 1 CONCAT(BB.CHAPA,'-',BB.NOME)
        FROM
            CorporeRMPRD..PPESSOA AA (NOLOCK)
            INNER JOIN CorporeRMPRD..PFUNC BB (NOLOCK) ON BB.CODPESSOA = AA.CODIGO AND ISNULL(BB.TIPODEMISSAO, '0') NOT IN ('5', '6')
        WHERE
            AA.CPF = h.login COLLATE Latin1_General_CI_AS
            AND BB.DATAADMISSAO <= a.datamudanca
        ) [USUÁRIO - GESTOR],
        
        (
        SELECT 
            TOP 1 CONCAT(BB.CHAPA,'-',BB.NOME)
        FROM
            CorporeRMPRD..PPESSOA AA (NOLOCK)
            INNER JOIN CorporeRMPRD..PFUNC BB (NOLOCK) ON BB.CODPESSOA = AA.CODIGO AND ISNULL(BB.TIPODEMISSAO, '0') NOT IN ('5', '6')
        WHERE
            AA.CPF = i.login COLLATE Latin1_General_CI_AS
            AND BB.DATAADMISSAO <= a.datamudanca
        ) [USUÁRIO - RH],
        CONCAT(
        	CASE WHEN a.justificativa_11_horas IS NOT NULL THEN CONCAT('Interjornada 11h: ',a.justificativa_11_horas, ', ') ELSE '' END,
        	CASE WHEN a.justificativa_6_dias IS NOT NULL THEN CONCAT('6 dias consecutivos: ', a.justificativa_11_horas, ', ') ELSE '' END,
        	CASE WHEN a.justificativa_6_meses IS NOT NULL THEN CONCAT('Troca inf. 6 meses: ', a.justificativa_6_meses, ', ') ELSE '' END,
            CASE WHEN a.justificativa_3_dias IS NOT NULL THEN CONCAT('Troca inf. 72 horas: ', a.justificativa_3_dias, ', ') ELSE '' END,
        	CASE WHEN a.justificativa_periodo IS NOT NULL THEN CONCAT('Fora período: ', a.justificativa_periodo, ', ') ELSE '' END
        ) [JUSTIFICATIVA SOLICITAÇÃO],
        CASE WHEN a.dtapr IS NULL THEN NULL ELSE CONVERT(VARCHAR, a.dtapr, 103) END [DATA APROVAÇÃO],
        CASE WHEN a.dtcancelado IS NULL THEN NULL ELSE CONVERT(VARCHAR, a.dtcancelado, 103) END [DATA REPROVAÇÃO],
        a.motivocancelado [JUSTIFICATIVA REPROVAÇÃO],
        CONVERT(VARCHAR, a.dtcad, 103) [DATA SOLICITAÇÃO]
        
    FROM
        PortalRHPRD..zcrmportal_escala a (NOLOCK)
        INNER JOIN CorporeRMPRD..PFUNC b (NOLOCK) ON b.CHAPA = a.chapa COLLATE Latin1_General_CI_AS AND b.CODCOLIGADA = a.coligada
        INNER JOIN CorporeRMPRD..GFILIAL c (NOLOCK) ON c.CODFILIAL = b.CODFILIAL AND c.CODCOLIGADA = b.CODCOLIGADA
        INNER JOIN CorporeRMPRD..PFUNCAO d (NOLOCK) ON d.CODIGO = b.CODFUNCAO AND c.CODCOLIGADA = b.CODCOLIGADA
        INNER JOIN CorporeRMPRD..PSECAO e (NOLOCK) ON e.CODIGO = b.CODSECAO AND e.CODCOLIGADA = b.CODCOLIGADA
        INNER JOIN CorporeRMPRD..AHORARIO f (NOLOCK) ON f.CODIGO = a.codhorario COLLATE Latin1_General_CI_AS AND f.CODCOLIGADA = e.CODCOLIGADA
        LEFT JOIN CorporeRMPRD..GCCUSTO j (NOLOCK) ON j.CODCCUSTO = substring(b.codsecao, 5, 5) AND j.CODCOLIGADA = b.CODCOLIGADA
        LEFT JOIN CorporeRMPRD..GCOLIGADA k (NOLOCK) ON k.CODCOLIGADA = b.CODCOLIGADA
        INNER JOIN PortalRHPRD..zcrmportal_usuario g (NOLOCK) ON g.id = a.usucad
        LEFT JOIN PortalRHPRD..zcrmportal_usuario h (NOLOCK) ON h.id = a.usuapr
        LEFT JOIN PortalRHPRD..zcrmportal_usuario i (NOLOCK) ON i.id = a.usurh
    WHERE
            1=1

)Y
GO
