USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedDataType [dbo].[DKCODINDICEREGISTROPRODUCAO]    Script Date: 02/08/2025 10:07:58 ******/
CREATE TYPE [dbo].[DKCODINDICEREGISTROPRODUCAO] FROM [varchar](30) NULL
GO
