USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XLOGPARCELACOMPONENTE]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[XLOGPARCELACOMPONENTE] AS
WITH
XCOMPONENTE_IDCAMPO
AS
(
    SELECT FLANINTEGRACAODEF.CODCOLIGADA,
           FLANINTEGRACAODEF.IDCAMPO,
           XCOMPONENTE.COD_COMPN,
           XCOMPONENTE.COD_TIPO_COMPN,
           XCOMPONENTE.TIPOENTREGACORRECAO,
           FLANINTEGRACAODEF.ORDEM,
           FLANINTEGRACAODEF.ACAO,
           CASE FLANINTEGRACAODEF.ACAO
             WHEN 1 THEN 1
             WHEN 2 THEN -1
                    ELSE 0
           END SINAL
    FROM FLANINTEGRACAODEF  WITH(NOLOCK/*AZURE*/) JOIN
         XCOMPONENTEVRINTEGRACAO  WITH(NOLOCK/*AZURE*/)
         ON (XCOMPONENTEVRINTEGRACAO.CODCOLIGADA = FLANINTEGRACAODEF.CODCOLIGADA) AND
            (XCOMPONENTEVRINTEGRACAO.IDCAMPO = FLANINTEGRACAODEF.IDCAMPO) JOIN
         XCOMPONENTE  WITH(NOLOCK/*AZURE*/)
         ON (XCOMPONENTE.COD_COMPN = XCOMPONENTEVRINTEGRACAO.CODCOMPN)
  ),
XCOMPONENTE_MULTAJUROS
AS
(
   SELECT XCOMPONENTE_IDCAMPO.CODCOLIGADA,
          XCOMPONENTE_IDCAMPO.IDCAMPO,
          XCOMPONENTE_IDCAMPO.COD_COMPN,
          XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN,
          XCOMPONENTE_IDCAMPO.TIPOENTREGACORRECAO,
          XCOMPONENTE_IDCAMPO.ORDEM
   FROM XCOMPONENTE_IDCAMPO
   WHERE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN IN (12, 13) AND
         XCOMPONENTE_IDCAMPO.COD_COMPN IN (SELECT MIN(L2.COD_COMPN)
                                           FROM XCOMPONENTE_IDCAMPO L2
                                           WHERE L2.CODCOLIGADA = XCOMPONENTE_IDCAMPO.CODCOLIGADA AND
                                                 L2.COD_TIPO_COMPN = XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
                                           )
),
XLANINTEGRACAOHST_TEMP AS
(
  SELECT
    XVENDAPARCELA.CODCOLIGADA,
    XVENDAPARCELA.NUMVENDA,
    XVENDAPARCELA.CODGRUPO,
    XVENDAPARCELA.CODTIPOPARC,
    XVENDAPARCELA.NUMPARC,
    XCOMPONENTE_IDCAMPO.COD_COMPN,
    XVENDAPARCELA.CODCOLLAN,
    XVENDAPARCELA.IDLAN,
    FLANINTEGRACAOHST.IDHISTORICO,
    FLANINTEGRACAOHST.IDCAMPO,
    COALESCE(FLANINTEGRACAOHST.VALOR * XCOMPONENTE_IDCAMPO.SINAL, 0) VALOR,
    FLANINTEGRACAOHST.MEMORIACALCULO,
    FLANINTEGRACAOHST.RECCREATEDBY,
    FLANINTEGRACAOHST.RECCREATEDON,
    FLANINTEGRACAOHST.RECMODIFIEDBY,
    FLANINTEGRACAOHST.RECMODIFIEDON,
    COALESCE(FLANINTEGRACAOHST.VALORBX  * XCOMPONENTE_IDCAMPO.SINAL, 0) VALORBX
  FROM XVENDAPARCELA  WITH(NOLOCK/*AZURE*/)
       JOIN
       FLANINTEGRACAOHST  WITH(NOLOCK/*AZURE*/)
       ON (XVENDAPARCELA.CODCOLLAN = FLANINTEGRACAOHST.CODCOLIGADA) AND
          (XVENDAPARCELA.IDLAN = FLANINTEGRACAOHST.IDLAN)
       JOIN
       XCOMPONENTE_IDCAMPO
       ON (XCOMPONENTE_IDCAMPO.CODCOLIGADA = FLANINTEGRACAOHST.CODCOLIGADA) AND
          (XCOMPONENTE_IDCAMPO.IDCAMPO = FLANINTEGRACAOHST.IDCAMPO)
  WHERE (XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN NOT IN (12, 13))
  UNION ALL
  SELECT
    XVENDAPARCELA.CODCOLIGADA,
    XVENDAPARCELA.NUMVENDA,
    XVENDAPARCELA.CODGRUPO,
    XVENDAPARCELA.CODTIPOPARC,
    XVENDAPARCELA.NUMPARC,
    XCOMPONENTE_MULTAJUROS.COD_COMPN,
    XVENDAPARCELA.CODCOLLAN,
    XVENDAPARCELA.IDLAN,
    FLANHST.IDHISTORICO,
    XCOMPONENTE_MULTAJUROS.IDCAMPO,
    CASE XCOMPONENTE_MULTAJUROS.COD_TIPO_COMPN
      WHEN 12 THEN COALESCE(FLANHST.VALORJUROSBX, 0)
      WHEN 13 THEN COALESCE(FLANHST.VALORMULTABX, 0)
    END VALOR,
    NULL MEMORIACALCULO,
    FLANHST.RECCREATEDBY,
    FLANHST.RECCREATEDON,
    FLANHST.RECMODIFIEDBY,
    FLANHST.RECMODIFIEDON,
    CASE XCOMPONENTE_MULTAJUROS.COD_TIPO_COMPN
      WHEN 12 THEN COALESCE(FLANHST.VALORJUROSBX, 0)
      WHEN 13 THEN COALESCE(FLANHST.VALORMULTABX, 0)
    END VALORBX
  FROM XVENDAPARCELA  WITH(NOLOCK/*AZURE*/)
       JOIN
       FLANHST  WITH(NOLOCK/*AZURE*/)
       ON (XVENDAPARCELA.CODCOLLAN = FLANHST.CODCOLIGADA) AND
          (XVENDAPARCELA.IDLAN = FLANHST.IDLAN)
       JOIN
       XCOMPONENTE_MULTAJUROS
       ON (XCOMPONENTE_MULTAJUROS.CODCOLIGADA = FLANHST.CODCOLIGADA)
  WHERE (XCOMPONENTE_MULTAJUROS.COD_TIPO_COMPN IN (12, 13)) AND
        ((FLANHST.VALORJUROSBX > 0) OR
         (FLANHST.VALORMULTABX > 0)
        )
  )
SELECT
  XLOGPARCELACOMPONENTE_OLD1217.CODCOLIGADA,
  XLOGPARCELACOMPONENTE_OLD1217.IDLOGPARCELACOMPONENTE,
  XLOGPARCELACOMPONENTE_OLD1217.DTREFERENCIA,
  XLOGPARCELACOMPONENTE_OLD1217.IDPROCESSO,
  XLOGPARCELACOMPONENTE_OLD1217.CODLOGSITOPRL,
  XLOGPARCELACOMPONENTE_OLD1217.NUM_VENDA,
  XLOGPARCELACOMPONENTE_OLD1217.COD_GRUPO,
  XLOGPARCELACOMPONENTE_OLD1217.NUM_PARC,
  XLOGPARCELACOMPONENTE_OLD1217.COD_TIPO_PARC,
  XLOGPARCELACOMPONENTE_OLD1217.COD_COMPN,
  XVENDAPARCELA.CODCOLLAN,
  XVENDAPARCELA.IDLAN,
  XLOGPARCELACOMPONENTE_OLD1217.DAT_BASE,
  XLOGPARCELACOMPONENTE_OLD1217.VR_COMPN,
  XLOGPARCELACOMPONENTE_OLD1217.VR_BAIXA,
  XLOGPARCELACOMPONENTE_OLD1217.ANT_VR_COMPN,
  XLOGPARCELACOMPONENTE_OLD1217.VRCMANTES,
  XLOGPARCELACOMPONENTE_OLD1217.VRCMAPOS,
  XLOGPARCELACOMPONENTE_OLD1217.VRJUROSANTES,
  XLOGPARCELACOMPONENTE_OLD1217.VRJUROSAPOS,
  XLOGPARCELACOMPONENTE_OLD1217.PRIORIDADEBAIXA,
  XLOGPARCELACOMPONENTE_OLD1217.COD_SIT_OPRL,
  XLOGPARCELACOMPONENTE_OLD1217.MEMOCALCULO,
  XLOGPARCELACOMPONENTE_OLD1217.COD_PESS_ULT_MNT,
  XLOGPARCELACOMPONENTE_OLD1217.DAT_ULT_MNT,
  XLOGPARCELACOMPONENTE_OLD1217.CONTROLE,
  XLOGPARCELACOMPONENTE_OLD1217.RECCREATEDBY,
  XLOGPARCELACOMPONENTE_OLD1217.RECCREATEDON,
  XLOGPARCELACOMPONENTE_OLD1217.RECMODIFIEDBY,
  XLOGPARCELACOMPONENTE_OLD1217.RECMODIFIEDON,
  CAST(NULL AS INT) IDHISTORICO
FROM
  XVENDAPARCELA  WITH(NOLOCK/*AZURE*/)
  JOIN
  XLOGPARCELACOMPONENTE_OLD1217  WITH(NOLOCK/*AZURE*/)
  ON XVENDAPARCELA.CODCOLIGADA = XLOGPARCELACOMPONENTE_OLD1217.CODCOLIGADA AND
     XVENDAPARCELA.NUMVENDA = XLOGPARCELACOMPONENTE_OLD1217.NUM_VENDA AND
     XVENDAPARCELA.CODGRUPO = XLOGPARCELACOMPONENTE_OLD1217.COD_GRUPO AND
     XVENDAPARCELA.CODTIPOPARC = XLOGPARCELACOMPONENTE_OLD1217.COD_TIPO_PARC AND
     XVENDAPARCELA.NUMPARC = XLOGPARCELACOMPONENTE_OLD1217.NUM_PARC
UNION ALL
SELECT
  FLANHST.CODCOLIGADA,
  FLANHST.IDHISTORICO AS IDLOGPARCELACOMPONENTE,
  FLANHST.DATAPROCESSO DTREFERENCIA,
  FLANHST.PROCESSOAPLICACAO IDPROCESSO,
  COALESCE(FLANHST.OPERACAOREGISTRO, 'U') CODLOGSITOPRL,
  XVENDAPARCELA.NUMVENDA NUM_VENDA,
  XVENDAPARCELA.CODGRUPO COD_GRUPO,
  XVENDAPARCELA.NUMPARC NUM_PARC,
  XVENDAPARCELA.CODTIPOPARC COD_TIPO_PARC,
  XCOMPONENTE_IDCAMPO.COD_COMPN,
  XVENDAPARCELA.CODCOLLAN,
  XVENDAPARCELA.IDLAN,
  (CASE WHEN XVENDAPARCELA.CODTIPOPARC = 3 AND
             XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN IN(1,2)
        THEN DATEADD(MONTH, -1, FLANHST.DATAVENCIMENTO)
        ELSE FLANHST.DATAVENCIMENTO
        END) DAT_BASE,
  (CASE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
     WHEN 1 THEN FLANHST.VALORORIGINAL
     WHEN 2 THEN FLANHST.VALORORIGINAL
     WHEN 12 THEN FLANHST.VALORJUROSBX
     WHEN 13 THEN FLANHST.VALORMULTABX
     ELSE XLANINTEGRACAOHST_TEMP.VALOR
   END) VR_COMPN,
  (CASE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
WHEN 1 THEN FLANHST.VALORORIGINALBX
WHEN 2 THEN FLANHST.VALORORIGINALBX
WHEN 12 THEN FLANHST.VALORJUROSBX
WHEN 13 THEN FLANHST.VALORMULTABX
ELSE XLANINTEGRACAOHST_TEMP.VALORBX
        END) VR_BAIXA,
  CAST(0 AS NUMERIC(15,4)) ANT_VR_COMPN,
  (CASE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
WHEN 1 THEN DBO.XVALORPARCELACOMPONENTEHST(FLANHST.CODCOLIGADA, FLANHST.IDLAN, 4, 0, FLANHST.IDHISTORICO)
WHEN 2 THEN DBO.XVALORPARCELACOMPONENTEHST(FLANHST.CODCOLIGADA, FLANHST.IDLAN, 4, 0, FLANHST.IDHISTORICO)
ELSE 0
  END) VRCMANTES,
  (CASE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
WHEN 1 THEN DBO.XVALORPARCELACOMPONENTEHST(FLANHST.CODCOLIGADA, FLANHST.IDLAN, 4, 1, FLANHST.IDHISTORICO)
WHEN 2 THEN DBO.XVALORPARCELACOMPONENTEHST(FLANHST.CODCOLIGADA, FLANHST.IDLAN, 4, 1, FLANHST.IDHISTORICO)
ELSE 0
  END) VRCMAPOS,
  (CASE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
WHEN 1 THEN DBO.XVALORPARCELACOMPONENTEHST(FLANHST.CODCOLIGADA, FLANHST.IDLAN, 3, 0, FLANHST.IDHISTORICO)
WHEN 2 THEN DBO.XVALORPARCELACOMPONENTEHST(FLANHST.CODCOLIGADA, FLANHST.IDLAN, 3, 0, FLANHST.IDHISTORICO)
ELSE 0
  END) VRJUROSANTES,
  (CASE XCOMPONENTE_IDCAMPO.COD_TIPO_COMPN
WHEN 1 THEN DBO.XVALORPARCELACOMPONENTEHST(FLANHST.CODCOLIGADA, FLANHST.IDLAN, 3, 1, FLANHST.IDHISTORICO)
WHEN 2 THEN DBO.XVALORPARCELACOMPONENTEHST(FLANHST.CODCOLIGADA, FLANHST.IDLAN, 3, 1, FLANHST.IDHISTORICO)
ELSE 0
  END) VRJUROSAPOS,
  COALESCE(XCOMPONENTE_IDCAMPO.ORDEM, 0) PRIORIDADEBAIXA,
  'A' COD_SIT_OPRL,
  CAST(NULL AS VARCHAR(MAX)) MEMOCALCULO,
  XLANINTEGRACAOHST_TEMP.RECMODIFIEDBY COD_PESS_ULT_MNT,
  XLANINTEGRACAOHST_TEMP.RECMODIFIEDON DAT_ULT_MNT,
  CAST(NULL AS SMALLINT) CONTROLE,
  XLANINTEGRACAOHST_TEMP.RECCREATEDBY,
  XLANINTEGRACAOHST_TEMP.RECCREATEDON,
  XLANINTEGRACAOHST_TEMP.RECMODIFIEDBY,
  XLANINTEGRACAOHST_TEMP.RECMODIFIEDON,
  FLANHST.IDHISTORICO
FROM XVENDAPARCELA  WITH(NOLOCK/*AZURE*/) JOIN
     FLANHST  WITH(NOLOCK/*AZURE*/)
     ON FLANHST.CODCOLIGADA = XVENDAPARCELA.CODCOLLAN AND
        FLANHST.IDLAN = XVENDAPARCELA.IDLAN JOIN
     XLANINTEGRACAOHST_TEMP
     ON XVENDAPARCELA.CODCOLIGADA = XLANINTEGRACAOHST_TEMP.CODCOLIGADA AND
        XVENDAPARCELA.NUMVENDA = XLANINTEGRACAOHST_TEMP.NUMVENDA AND
        XVENDAPARCELA.CODGRUPO = XLANINTEGRACAOHST_TEMP.CODGRUPO AND
        XVENDAPARCELA.CODTIPOPARC = XLANINTEGRACAOHST_TEMP.CODTIPOPARC AND
        XVENDAPARCELA.NUMPARC = XLANINTEGRACAOHST_TEMP.NUMPARC AND
        XVENDAPARCELA.CODCOLLAN = XLANINTEGRACAOHST_TEMP.CODCOLLAN AND
        XVENDAPARCELA.IDLAN = XLANINTEGRACAOHST_TEMP.IDLAN AND
        FLANHST.IDHISTORICO = XLANINTEGRACAOHST_TEMP.IDHISTORICO JOIN
     XCOMPONENTE_IDCAMPO
     ON XCOMPONENTE_IDCAMPO.CODCOLIGADA = XLANINTEGRACAOHST_TEMP.CODCOLIGADA AND
        XCOMPONENTE_IDCAMPO.IDCAMPO = XLANINTEGRACAOHST_TEMP.IDCAMPO AND
        XCOMPONENTE_IDCAMPO.COD_COMPN = XLANINTEGRACAOHST_TEMP.COD_COMPN
GO
