USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_jobschedules]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************/
/* sap_get_jobschedules                   created on 08/25/2003 */
/*                                                              */
/*                                                              */
/* 09/14/2007 SQL2008 Chgs: Added convert to the column         */
/*            date_created                          - RR        */
/****************************************************************/
create procedure [dbo].[sap_get_jobschedules] @from_date int = 0,
                                      @ccms_only int = 1,
                                     @jobid nvarchar(32) = ' '
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(4000)
declare @fromdt_str nvarchar(8)
select @fromdt_str = @from_date
set @cmd = 'select d.schedule_id,convert(varbinary,d.job_id),'  +
           'a.name,a.enabled,'                                  +
           'freq_type,freq_interval,freq_subday_type,'          +
           'freq_subday_interval,freq_relative_interval,'       +
           'freq_recurrence_factor,active_start_date,'          +
           'active_end_date,active_start_time,active_end_time,' +
           'next_run_date,next_run_time,'                       +
           'convert(nvarchar(20),c.date_created,120) '          +
           'from msdb..sysschedules a, msdb..sysjobsteps b,'    +
           'msdb..sysjobs c, msdb..sysjobschedules d'           +
           ' where d.job_id = b.job_id  and '                   +
           ' b.job_id = c.job_id and'                           +
           ' a.schedule_id = d.schedule_id'
if @jobid = ' '
 begin
  if @ccms_only = 1
    set @cmd = @cmd +
            ' and c.name like ''%SAP CCMS%'''
  if @from_date <> 0
        set @cmd = @cmd +
             ' and ( b.last_run_date >= ' +@fromdt_str +
             ' or c.date_created >= convert(char(20),' +
               @fromdt_str +',126))'
   --set @cmd = @cmd + ' order by d.job_id desc '
 end
else
  set @cmd = @cmd + ' and d.job_id = 0x' + @jobid
exec (@cmd)
END
 
GO
