USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VW_TRI_COLABORADOR]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_TRI_COLABORADOR] AS 

SELECT
       PF.NOME as "NAME",
       PP.CPF as "CPF",
       CASE 
       WHEN PP.EMAIL IS NULL OR PP.EMAIL NOT LIKE '%@eldoradobrasil.com.br' THEN PP.CPF + '@eldoradobrasil.com.br'
       ELSE PP.EMAIL
       END AS "EMAIL",
       --PP.EMAIL AS "EMAIL",
       PP.DTNASCIMENTO as "DT_NASCIMENTO",
       PFU.NOME as "FUNCAO",
       PFU.CODIGo as "COD_FUNCAO",
       PF.DATAADMISSAO as "DT_ADMISSAO",
       PF.CODFILIAL as "COD_FILIAL",
       G.CIDADE as "FILIAL",
       MATR.AREA AS "AREA", -- PS.DESCRICAO as "AREA",
       MATR.COD_AREA AS "COD_AREA", --PF.CODSECAO as "COD_AREA",
       PF.CHAPA as "MATRICULA",
       MATR.GERENCIA AS "GERENCIA", --PC.NOME AS "GERENCIA",
       MATR.COD_GER AS "COD_GERENCIA", --PS.NROCENCUSTOCONT as "COD_GERENCIA",
     /*  CASE CRM.NIVEL_02
      
      WHEN '050005376 || ELCIO TRAJANO JUNIOR || 01 - Diretor' THEN 'Diretoria RH, Sustent. e CI'
      WHEN '050005308 || RODRIGO LIBABER || 01 - Diretor' THEN 'Diretoria Comercial e Logística'
      WHEN '050002052 || FERNANDO STORCHI || 01 - Diretor' THEN 'Diretoria Financeira'
      WHEN '050005309 || CARLOS ROBERTO PAIVA MONTEIRO || 01 - Diretor' THEN 'Diretoria Industrial'
      WHEN '050005337 || GERMANO AGUIAR VIEIRA || 01 - Diretor' THEN 'Diretoria Florestal'
      WHEN '050005383 || MARCIUS DE LUCCA BRAGA || 01 - Diretor' THEN 'Diretoria Transportadora'    
      ELSE CRM.NIVEL_02
      END 'DIRETORIA',*/
      'Diretoria Florestal' as "DIRETORIA",
      NULL AS "COD_DIRETORIA",
      G.CIDADE AS "CIDADE",
      G.ESTADO AS "UF_CIDADE",
      NULL AS "FAMILIA_EMPRESA",
      NULL AS "FOTO",
      PP.TIPOCARTHABILIT AS "CNH",
      NULL AS "MUDAR_CIDADE",
      CRIP.SENHA_MD5 as "SENHA",
      HIE.GESTOR_MATRICULA,
      HIE.GESTOR_NOME,
      HIE.GESTOR_CPF,
      HIE.GESTOR_EMAIL

FROM PPESSOA PP
INNER JOIN PFUNC PF ON PF.CODPESSOA = PP.CODIGO 
INNER JOIN PFUNCAO PFU ON (((PF.CODCOLIGADA = PFU.CODCOLIGADA) AND (PF.CODFUNCAO = PFU.CODIGO)))
INNER JOIN PSECAO PS ON (((PF.CODCOLIGADA = PS.CODCOLIGADA) AND (PF.CODSECAO = PS.CODIGO)))
INNER JOIN PCCUSTO PC ON PC.CODCOLIGADA = PS.CODCOLIGADA AND PC.CODCCUSTO = PS.NROCENCUSTOCONT
--INNER JOIN CRM_HIERARQUIA3 CRM ON CRM.CODCOLIGADA = PF.CODCOLIGADA AND CRM.CHAPA = PF.CHAPA
INNER JOIN dbo.GFILIAL G on PF.CODFILIAL = G.CODFILIAL AND PF.CODCOLIGADA = G.CODCOLIGADA
LEFT JOIN ZMDMATRIZGERENCIA MATR ON MATR.C_CUSTO = PS.NROCENCUSTOCONT
LEFT JOIN ZMDCRIPTO CRIP ON PF.CHAPA = CRIP.CHAPA
LEFT JOIN ZMDHIERARQUIATRILHA HIE ON PF.CHAPA = HIE.COLABORADOR_MATRICULA

WHERE  PF.CODSITUACAO <> 'D' AND PF.CODCOLIGADA IN ('01','04','05')
GO
