USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[VWSZRESEXAMELAYOUTTOTVS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWSZRESEXAMELAYOUTTOTVS] AS
SELECT
    SZEXAMELAYOUTTOTVS.CODCOLIGADA,
    SZEXAMELAYOUTTOTVS.ORDEMSERVICO,
    vwPEDIDOEXAME.CODPACIENTE,
    SZEXAMELAYOUTTOTVS.CODEXAME,
    SZEXAMELAYOUTTOTVS.SEQEXAME,
    0 CODMETODO,
    SZRESULTLAYOUTTOTVS.CODPARAMETRO,
    vwPEDIDOEXAME.DATAEXAME,
    SZPEDEXAME.CANCELADO PEDIDOCANCELADO,
    SZPEDEXAMEITEM.CANCELADO EXAMECANCELADO,
    SZRESULTLAYOUTTOTVS.PANICO,
    SZRESULTLAYOUTTOTVS.RESULTADO
FROM
    SZEXAMELAYOUTTOTVS WITH (NOLOCK)
INNER JOIN
    SZRESULTLAYOUTTOTVS WITH (NOLOCK)
ON
    SZEXAMELAYOUTTOTVS.IDEXAME = SZRESULTLAYOUTTOTVS.IDEXAME
INNER JOIN
    vwPEDIDOEXAME WITH (NOLOCK)
ON
    SZEXAMELAYOUTTOTVS.CODCOLIGADA = vwPEDIDOEXAME.CODCOLIGADA AND
    SZEXAMELAYOUTTOTVS.ORDEMSERVICO = vwPEDIDOEXAME.ORDEMSERVICO
INNER JOIN
    SZPEDEXAME WITH (NOLOCK)
ON
    SZEXAMELAYOUTTOTVS.CODCOLIGADA = SZPEDEXAME.CODCOLIGADA AND
    SZEXAMELAYOUTTOTVS.ORDEMSERVICO = SZPEDEXAME.ORDEMSERVICO
INNER JOIN
    SZPEDEXAMEITEM WITH (NOLOCK)
ON
    SZEXAMELAYOUTTOTVS.CODCOLIGADA = SZPEDEXAMEITEM.CODCOLIGADA AND
    SZEXAMELAYOUTTOTVS.ORDEMSERVICO = SZPEDEXAMEITEM.ORDEMSERVICO AND
    SZEXAMELAYOUTTOTVS.CODEXAME = SZPEDEXAMEITEM.CODEXAME AND
    SZEXAMELAYOUTTOTVS.SEQEXAME = SZPEDEXAMEITEM.SEQEXAME
GO
