USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XADITIVOTROCACOMPRADOR]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*MATHEUS HENRIQUE P SANTOS - SG.2017.03_01 - OC.:MCP-1913 - 13/03/2017 VERSAO.: 12.1.17 - EQUIPE:MANUT  */
CREATE VIEW [dbo].[XADITIVOTROCACOMPRADOR] AS
SELECT
XADITTROCACOMPRADORGRUPO.NUMVENDA,
XVENDA.NUM_CONT AS NUMCONT,
XADITTROCACOMPRADORGRUPO.NUMADIT,
XADITTROCACOMPRADORGRUPO.CODCOLCFONOVO AS NEWCODCOLCFO,
XADITTROCACOMPRADORGRUPO.CODCFONOVO AS NEWCODCFO,
XADITTROCACOMPRADORGRUPO.CODCOLCFOATUAL AS OLDCODCOLCFO,
XADITTROCACOMPRADORGRUPO.CODCFOATUAL AS OLDCODCFO,
XADITTROCACOMPRADORGRUPO.DATAASSUMIUPRIMEIRAPARC AS DATADATROCANAFLAN,
XADIT.DATADIT AS DATAADITIVO,
XADITTROCACOMPRADORGRUPO.CODGRUPO,
XADITTROCACOMPRADORGRUPO.RECCREATEDBY,
XADITTROCACOMPRADORGRUPO.RECCREATEDON,
XADITTROCACOMPRADORGRUPO.RECMODIFIEDBY,
XADITTROCACOMPRADORGRUPO.RECMODIFIEDON
FROM XADITTROCACOMPRADOR
JOIN XADIT
ON (XADIT.CODCOLIGADA = XADITTROCACOMPRADOR.CODCOLIGADA AND
XADIT.NUMVENDA = XADITTROCACOMPRADOR.NUMVENDA AND
XADIT.NUMADIT = XADITTROCACOMPRADOR.NUMADIT)
JOIN XVENDA
ON (XVENDA.CODCOLIGADA = XADIT.CODCOLIGADA AND
XVENDA.NUM_VENDA = XADIT.NUMVENDA)
JOIN XADITTROCACOMPRADORGRUPO
ON
(XADITTROCACOMPRADORGRUPO.CODCOLIGADA = XADITTROCACOMPRADOR.CODCOLIGADA AND
XADITTROCACOMPRADORGRUPO.NUMVENDA = XADITTROCACOMPRADOR.NUMVENDA	AND
XADITTROCACOMPRADORGRUPO.NUMADIT	= XADITTROCACOMPRADOR.NUMADIT	AND
XADITTROCACOMPRADORGRUPO.CODTIPOADIT = XADITTROCACOMPRADOR.CODTIPOADIT	AND
XADITTROCACOMPRADORGRUPO.CODCOLCFOATUAL = XADITTROCACOMPRADOR.CODCOLCFO	AND
XADITTROCACOMPRADORGRUPO.CODCFOATUAL	= XADITTROCACOMPRADOR.CODCFO)
GO
