USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[TFPARAMS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFPARAMS] AS
SELECT VERSAOBASE, 0 AS FRENTELOJA, GETDATE() AS DTHRATUALIZACAO 
FROM GPARAMS
GO
