USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_mon_cmpt_mismatch]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_mon_cmpt_mismatch] as
-- Databases with compatibility level:
select name from sys.databases where compatibility_level not in
(select compatibility_level from sys.databases where name = 'master')
 
GO
