USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_sec_showstats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_sec_showstats] @db_name sysname,@schema_name sysname,@table_name sysname,@index_name sysname,@with_histo char = ' ' AS begin declare @cmd nvarchar(1024) execute as login = 'sa' set nocount on set @cmd = N'dbcc show_statistics([' +  @db_name + N'.' + @schema_name + N'.' + @table_name + N'],[' + @index_name + N'])' if @with_histo = 'X'   set @cmd = @cmd + ' with HISTOGRAM' exec(@cmd) end
GO
