USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[sap_curr_db_sizeinfo]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[sap_curr_db_sizeinfo]()
returns @dbszinfo table (
         db_size int,
         db_alloc int,
         log_size int,
         log_alloc int )
as
BEGIN
  declare @db_size   bigint
  declare @db_alloc  bigint
  declare @log_size  bigint
  declare @log_alloc bigint
  select @db_size = sum(convert(bigint, size))*8/1024
	from dbo.sysfiles
	 where fileproperty(name,'IsLogFile') = 0
  select @db_alloc =
  sum(convert(bigint, fileproperty(name,'SpaceUsed')))*8/1024
	from dbo.sysfiles
	 where fileproperty(name,'IsLogFile') = 0
  select @log_size = sum(convert(bigint, size))*8/1024
   from dbo.sysfiles
   where fileproperty(name,'IsLogFile') = 1
  select @log_alloc =
  sum(convert(bigint, fileproperty(name,'SpaceUsed')))*8/1024
	from dbo.sysfiles
	 where fileproperty(name,'IsLogFile') = 1
  insert into @dbszinfo values( @db_size,@db_alloc,@log_size,@log_alloc )
  return
END
 
GO
