USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_get_indexes]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sap_get_indexes]
  @table_name sysname,
  @schema_name sysname,
  @db_name sysname,
  @only_unique_inds char(1),
  @also_autocre_stats char(1),
  @also_mancre_stats char(1)
AS
BEGIN
set nocount on
-- declare local variable
declare @cmd nvarchar(1024)
-- build the select statement
set @cmd = N'use ' + @db_name +
           N' select o.name as tabname, ' +
                  N'i.name as indname, i.indid as indid ' +
             N'from ' + @db_name + N'.sys.objects o, ' +
                        @db_name + N'.sys.sysindexes i ' +
               N'where '
if @table_name <> N'' and @table_name <> N' '
  set @cmd = @cmd + N'o.name = @table_name  and '
else
  set @cmd = @cmd + N'o.type = ''U'' and '
set @cmd = @cmd + N'schema_name(o.schema_id) = @schema_name ' +
                  N'and i.id = o.object_id '
if @only_unique_inds = 'X'
  set @cmd = @cmd +
             --N'and indexproperty(o.id,i.name,''IsUnique'') = 1 '
             N'and i.status & 2 = 2 '
if @also_autocre_stats <> 'X' and @also_mancre_stats <> 'X'
  set @cmd = @cmd +
             --N'and indexproperty(o.id,i.name,''IsStatistics'') = 0 '
             N'and i.status & 64 <> 64 '
else if @also_autocre_stats = 'X' and @also_mancre_stats <> 'X'
  set @cmd = @cmd +
      --N'and (indexproperty(o.id,i.name,''IsStatistics'') = 0 or ' +
      --     N'indexproperty(o.id,i.name,''IsAutoStatistics'') = 1) '
      N'and (i.status & 64 <> 64 or i.status & 8388608 = 8388608) '
else if @also_autocre_stats <> 'X' and @also_mancre_stats = 'X'
  set @cmd = @cmd +
      --N'and (indexproperty(o.id,i.name,''IsStatistics'') = 0 or ' +
      --     N'indexproperty(o.id,i.name,''IsAutoStatistics'') = 0) '
      N'and (i.status & 64 <> 64 or i.status & 8388608 <> 8388608) '
set @cmd = @cmd + N'and i.indid > 0 and i.indid < 255 ' +
           N'order by o.name, i.name'
-- get the indexes
if @table_name <> N'' and @table_name <> N' '
  exec sp_executesql @cmd,
    N'@table_name sysname,@schema_name sysname',
    @table_name,@schema_name
else
  exec sp_executesql @cmd,
    N'@schema_name sysname',@schema_name
END
 
GO
