USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcoll]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcoll]
AS
  DECLARE   @rc          int           -- Procedure return value
  DECLARE   @sample_id   int           -- IDENTITY col of sap_perfsample
  DECLARE   @thresh      int           -- Last sample_id before restart
  DECLARE   @boot_ts     datetime      -- Last DB re-start
  DECLARE   @ts_now      datetime      -- Current time
  DECLARE   @retention   int           -- Data retention period
  DECLARE   @utc_start   datetime      -- Start of measurement
  DECLARE   @utc_end     datetime      -- End of measurement
  DECLARE   @cmd         nvarchar(256)
  DECLARE   @stage_t     bigint        -- Staging area timestamp
  SET NOCOUNT     ON
  SELECT @rc = 0
  /*--- Table variables ---------------------------------------------*/
  declare @perfcntr TABLE (
      counter_id    int            NOT NULL ,
      accumulat     nvarchar(10)   NOT NULL )
-- DB start time
  SET @boot_ts = ( SELECT crdate from master..sysdatabases
                       WHERE name = 'tempdb' )
  SET @thresh = ( SELECT TOP 1 sample_id from sap_perfsample
                     WHERE startat   < @boot_ts
                       AND resi_flag = 0
                     ORDER BY startat DESC )
  IF ( @thresh IS NULL )
    SET @thresh = 0
/*--- Overall list of performance counters --------------------------*/
  INSERT INTO @perfcntr
    SELECT counter_id, accumulat
      FROM sap_perfcntr
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      INSERT INTO @perfcntr
        SELECT counter_id, accumulat
          FROM sap_clr_createcntr()
    END
-- Create the temp table for receiving the raw counter values
  IF object_id('tempdb..#perfinfo') IS NOT NULL
    drop table #perfinfo
  CREATE TABLE #perfinfo
  ( COUNTER_ID    int                                    NOT NULL ,
    INST_NAME     nvarchar(128) collate database_default NOT NULL ,
    CNTR_VALUE    bigint                                     NULL ,
    old_value     bigint                                     NULL ,
    norm_value    bigint                                     NULL ,
    accumulat     nvarchar(10)  collate database_default     NULL ,
    to_id         int                                        NULL ,
    PRIMARY KEY CLUSTERED (COUNTER_ID, INST_NAME))
-- Check whether the staging area needs to be refreshed
-- counter_id 3431 + 100000 contains the timestamp
  SET @stage_t = ( SELECT cntr_value FROM sap_perfinfo
                     WHERE counter_id = 103431
                       AND inst_name  = N' '
                       AND resi_flag  =  0
                       AND sample_id  =  0 )
  IF ( @stage_t IS NULL OR
       @stage_t <> (cast(convert(varchar(8),getdate(),112) as bigint)))
  BEGIN
    BEGIN TRANSACTION
    EXECUTE sap_p_stage       -- running in the right schema
    TRUNCATE TABLE #perfinfo
    COMMIT TRANSACTION
  END
-- Retrieve the new sample
  set @ts_now    = GETDATE()
  SET @utc_start = GETUTCDATE()
  EXECUTE sap_p_retrieve 'E'  -- we want all data and we are
                              -- running in the right schema
  IF ( EXISTS (select * from sap_get_para ('SAPMonWin','Url')
                 where [value] like 'http%') )
    BEGIN
      EXECUTE sap_clr_retrieve 'E'  -- we want all data and we are
                                  -- running in the right schema
    END
  SET @utc_end   = GETUTCDATE()
-- Join the accumulat value
  UPDATE #perfinfo
    SET accumulat = b.accumulat,
        to_id = ( SELECT MAX(to_id) FROM sap_perfvali c
                    WHERE c.counter_id = a.COUNTER_ID
                      AND c.inst_name  = a.INST_NAME )
    FROM #perfinfo a, @perfcntr b
    WHERE a.COUNTER_ID = b.counter_id
-- Join the counter value of the previous measurement
  UPDATE #perfinfo
    SET norm_value =
      ( SELECT TOP 1 cntr_value FROM sap_perfinfo b
          WHERE b.counter_id  = a.COUNTER_ID
            AND b.inst_name   = a.INST_NAME
            AND b.resi_flag   = 0
            AND b.sample_id   > @thresh
          ORDER BY b.sample_id DESC ),
        old_value =
      ( SELECT TOP 1 cntr_value FROM sap_perfinfo b
          WHERE b.counter_id  = a.COUNTER_ID
            AND b.inst_name   = a.INST_NAME
            AND b.resi_flag   = 0
          ORDER BY b.sample_id DESC )
    FROM #perfinfo a
-- Correct overflows
  UPDATE #perfinfo SET norm_value = 0
    WHERE norm_value IS NULL
  UPDATE #perfinfo
    SET CNTR_VALUE =
        ((old_value - CNTR_VALUE) / cast(4294967296 AS bigint) + 1) *
         cast(4294967296 AS bigint) + CNTR_VALUE
    WHERE CNTR_VALUE < norm_value
      AND accumulat  = 'int'
-- Start transaction
  BEGIN TRANSACTION
-- Create the sap_perfsample entry
    INSERT INTO sap_perfsample WITH (TABLOCKX SERIALIZABLE)
        (startat, alive, resi_flag, utc_start, utc_end)
        VALUES ( @ts_now, @boot_ts, 0, @utc_start, @utc_end )
    SET @sample_id = @@IDENTITY
-- Flush data to sap_perfinfo
    INSERT INTO sap_perfinfo
        (sample_id, counter_id, inst_name, resi_flag, cntr_value)
      SELECT @sample_id, COUNTER_ID, INST_NAME, 0, CNTR_VALUE
        FROM   #perfinfo
        WHERE  old_value IS NULL
           OR  CNTR_VALUE <> old_value
           OR  to_id < @sample_id
-- Update validity timestamps for performance counters
    UPDATE sap_perfvali SET to_id = @sample_id - 1
      FROM sap_perfvali a
      WHERE a.from_id <= @sample_id
        and a.to_id   >= @sample_id
        and NOT EXISTS ( select * from #perfinfo b
                           where a.counter_id = b.COUNTER_ID
                             and a.inst_name  = b.INST_NAME )
    INSERT INTO sap_perfvali
      SELECT a.COUNTER_ID, a.INST_NAME, @sample_id, 2000000000
        FROM #perfinfo a
        WHERE NOT EXISTS
          ( select * from sap_perfvali b
              where a.COUNTER_ID =  b.counter_id
                and a.INST_NAME  =  b.inst_name
                and b.from_id    <= @sample_id
                and b.to_id      >= @sample_id )
-- Commit transaction
  COMMIT TRANSACTION
  DROP TABLE #perfinfo
-- Periodic cleanup
  IF ( (@sample_id % 100) = 0 )
    BEGIN
      select @retention = cast([value] AS int)
        from sap_get_para('DBCOLL','retention')
      EXECUTE sap_p_delete @retention
    END
-- Run the SQL Statement history data collection
  IF ((@@MICROSOFTVERSION & 0xff000000) / 0x1000000) >= 9
    EXECUTE sap_collect_stmt_history
-- Check whether "always_on" traces need to be started after a database
-- restart
  IF ( object_id(user + '.' + 'sap_tr2_check', 'P') IS NOT NULL )
    BEGIN
      SET @cmd = 'sap_tr2_check'
      EXECUTE @cmd @verbose = ' '
    END
  RETURN @rc
 
GO
