USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_SAP_HR007_SELDADOSPOS]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SAP_HR007_SELDADOSPOS] 
( @DTULTE   DATETIME
, @POSCHEFE VARCHAR(1) = NULL
, @CPF      VARCHAR(11) = NULL
, @CODSECAO VARCHAR(30) = NULL

)
AS
BEGIN

  DECLARE @CPFLIKE  VARCHAR(13) = '%'
    IF ( @CPF <> '0' AND @CPF <> '' )
	 BEGIN
	  SET @CPFLIKE = @CPFLIKE + @CPF + '%'	  
	 END

  DECLARE @CODSECAOLIKE  VARCHAR(31) = '%'
    IF ( @CODSECAO <> '0' AND @CODSECAO <> '' )
	 BEGIN
	  SET @CODSECAOLIKE = @CODSECAOLIKE + @CODSECAO + '%'	  
	 END

  IF (@POSCHEFE <>'')  
  BEGIN   
	  SELECT COLIGADA   = C.CODCOLIGADA
		   , CHAPA      = C.CHAPASUBST 
		   , 'CODSECAO' = C.CODSECAO 		
		   , PS.DESCRICAO 
		   , 'NROCENCUSTOCONT' = ISNULL(PS.NROCENCUSTOCONT,'') 
		   , 'CPF'   = REPLICATE('0', 11 - LEN(P.CPF)) + CONVERT(VARCHAR, ISNULL(P.CPF,''))
		   , 'NOME'  = ISNULL(P.NOME,'') 
		   , 'STLTX' = UPPER(ISNULL(PFF.NOME,''))
		   , GRUPO    = CASE 
			-- Grupo 1
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'DIRETOR COMERCIAL E LOGISTICA%'                 THEN 'Grupo 1'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'DIRETOR JURÍDICO%'                              THEN 'Grupo 1'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'DIRETOR PRESIDENTE%'                            THEN 'Grupo 1'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'DIRETOR FLORESTAL%'                             THEN 'Grupo 1'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'DIRETOR INDUSTRIAL%'                            THEN 'Grupo 1'

			-- Grupo 2
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE GERAL RECURSOS HUMANOS%'                THEN 'Grupo 2'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE GERAL PLANEJAMENTO E COMPETITIVIDADE%'  THEN 'Grupo 2'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE GERAL FÁBRICA%'                         THEN 'Grupo 2'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE GERAL PROJETOS%'                        THEN 'Grupo 2'

			-- Grupo 3
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE SILVICULTURA%'                          THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE TESOURARIA%'                            THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE PROJETO%'                               THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE COMERCIAL - LATAM%'                     THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE RECURSOS HUMANOS %'                     THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE JURÍDICO%'                              THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE CONTABIL ADMINISTRATIVO%'               THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE SÊNIOR CONTROLADORIA%'                  THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE PESSOAS E SERVIÇOS%'                    THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE DESENVOLVIMENTO TÉCNICO%'               THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE COLHEITA%'                              THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE CONTROLE ATIVOS E MECANIZAÇÃO%'         THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE CONTROLE TECNICO%'                      THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE RECEB.MAD E PREP.CAVACOS%'              THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE MANUTENÇÃO%'                            THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE RECUP. E UTILIDADES%'                   THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE PROD. CELULOSE E LOG. INTERNA%'         THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE CONTRATOS%'                             THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE PESQUISA E TECNOLOGIA FLORESTAL%'       THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE LOGISTICA%'                             THEN 'Grupo 3'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'GERENTE OPERAÇÕES TRANSPORTE%'                  THEN 'Grupo 3'

			-- Grupo 4
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR CONTROLADORIA%'                     THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR ESTRADAS%'                          THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR MANUT MECANICA%'                    THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR RH%'                                THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR PESQUISA FLORESTAL%'                THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR FINANCEIRO%'                        THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR SUPRIMENTOS%'                       THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR CONTÁBIL%'                          THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR LOGÍSTICA%'                         THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR CONTROLES INTERNOS%'                THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR MANUT COMPLEMENTAR%'                THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR SECAGEM%'                           THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'CORPORATE BUSINESS PLANNER%'                    THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR SILVICULTURA%'                      THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR VIVEIRO FLORESTAL%'                 THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR FISCAL%'                            THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR PROJETO%'                           THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR LICENCIAMENTO%'                     THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR ADMINISTRAÇÃO SERVIÇOS%'            THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR PLANEJ E MENSURAÇÃO FRL%'           THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR OPERAÇÕES TRANSPORTE%'              THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR PÁTIO MADEIRA%'                     THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR FABRICA%'                           THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR SISTEMAS TI%'                       THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR CONTROLE FLORESTAL%'                THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR ENERGIA%'                           THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR INFRA/TELECOM%'                     THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR MEDICINA DO TRABALHO%'              THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR DESENV OPERACIONAL FRL%'            THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR PESQUISA E TECNOLOGIA FRL%'         THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR PREPARAÇÃO MADEIRA%'                THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR UTILIDADES%'                        THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR INSTRUMENTAÇÃO/AUTOMAÇÃO%'          THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR LINHA FIBRAS%'                      THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR RECUPERAÇÃO%'                       THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR LABORATÓRIO%'                       THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR PLANEJAMENTO/MANUTENÇÃO%'           THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR HSMT%'                              THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR CONFIABILIDADE%'                    THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR SEGURANÇA DO TRABALHO FRL%'         THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR MANUT ELÉTRICA%'                    THEN 'Grupo 4'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'COORDENADOR PROCESSOS%'                         THEN 'Grupo 4'

			-- Grupo 5
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA PLANEJAMENTO FRL%'                 THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA FINANCEIRO%'                       THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA MECANIZAÇÃO FRL%'                  THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA SUSTENTABILIDADE%'                 THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA COMPETITIV. E PRODUTIVIDADE%'      THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA LOGÍSTICA%'                        THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA SISTEMAS II%'                      THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA DESENVOLVIMENTOTÉCNICO%'           THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA MANUTENÇÃO MECÂNICA%'              THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA FISCAL%'                           THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA SILVICULTURA%'                     THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA INVENTÁRIO FRL%'                   THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA CUSTOS%'                           THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA SUPRIMENTOS%'                      THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ENGENHEIRO SEGURANCA DO TRABALHO%'              THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ENGENHEIRO FLORESTAL%'                          THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ENGENHEIRO FLORESTAL I%'                        THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA PROTEÇÃO FRL%'                     THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA CONTÁBIL%'                         THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA CONTROLADORIA%'                    THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA CONTROLE TÉCNICO%'                 THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER TÉCNICO INFRAESTRUTURA TI%'               THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA CUSTOS II%'                        THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA PLANEJAMENTO LOGÍSTICO%'           THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA PROJETOS%'                         THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA AUTOMAÇÃO%'                        THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA NUTRIÇÃO E MANEJO FRL%'            THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA FLORESTAL%'                        THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA GEOPROCESSAMENTO%'                 THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA GESTAO E CONTROLE FRL%'            THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA MANUTENÇÃO ELÉTRICA%'              THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA PLANEJ LOGÍSTICO FRL%'             THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ASSESSOR PRESIDÊNCIA%'                          THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER BASIS / DBA%'                             THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER TÉCNICO TELECOM %'                        THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA MELHORAMENTO FRL%'                 THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA COMPETITIVIDADE FRL%'              THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA SISTEMAS INDUSTRIAIS%'             THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA CERTIFICAÇÃO FLORESTAL%'           THEN 'Grupo 5'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ESPECIALISTA PROCESSOS%'                        THEN 'Grupo 5'

			-- Grupo 6
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ASSISTENTE TÉCNICO I%'                          THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR SERVIÇOS GERAIS%'                    THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR MANUTENÇÃO MECÂNICA I%'              THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR OP. FLORESTAIS%'                     THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR OP. LOGÍSTICA%'                      THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ASSISTENTE TÉCNICO SUPRIMENTOS%'                THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR MANUTENÇÃO%'                         THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR OPERAÇÕES TRANSPORTE%'               THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR OPERAÇÕES%'                          THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ASSISTENTE TÉCNICO II%'                         THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR GESTAO ATIVO PATRIMONIAL%'           THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR SERVIÇOS ALIMENTAÇÃO%'               THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR MANUTENÇÃO CIVIL%'                   THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR MANUTENÇÃO MECÂNICA II%'             THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR BOMBEIRO%'                           THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR ALMOXARIFADO%'                       THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR DESENVOLVIMENTO OPERACIONAL%'        THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR DESENV. ORGANIZACIONAL%'             THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ASSISTENTE TÉCNICO PÁTIO MADEIRA%'              THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR OPERAÇÕES TRANSPORTE II%'            THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR INVENTÁRIO FLORESTAL%'               THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ASSISTENTE TÉCNICO LABORATÓRIO%'                THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR SEGURANÇA TRABALHO FRL I%'           THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR RECEBIMENTO FISICO%'                 THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR ENFERMAGEM DO TRABALHO%'             THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR CONTROLE QUALIDADE FRL%'             THEN 'Grupo 6'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR SEGURANÇA PATRIMONIAL%'              THEN 'Grupo 6' 
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'SUPERVISOR TOPOGRAFIA%'                         THEN 'Grupo 6'

			-- Grupo 7
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'TÉCNICO SEGURANÇA DO TRABALHO III%'             THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA LOGISTICA III%'                        THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA SIG III%'                              THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER SERVIÇOS GERAIS I%'                       THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA COMÉRCIO EXTERIOR III%'                THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ADVOGADO III%'                                  THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER COLHEITA FLORESTAL%'                      THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER OP. FLORESTAIS%'                          THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER MANUTENÇAO%'                              THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'TÉCNICO MANUT MECÂNICA III%'                    THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA RECURSOS HUMANOS III%'                 THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER OPERAÇÕES TRANSPORTE%'                    THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA INFRA/TELECOM III%'                    THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA FLORESTAL III%'                        THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA CUSTOS III%'                           THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA ECONOMICO FINANCEIRO III%'             THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'OPERADOR PAINEL II - SDCD%'                     THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER MANUTENÇÃO REFRIGERAÇÃO%'                 THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'TÉCNICO INSTRUMENTAÇÃO III%'                    THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'TÉCNICO ESTRADAS III%'                          THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA AUTOMAÇÃO III%'                        THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER ABASTECIMENTO%'                           THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'BOMBEIRO LÍDER%'                                THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA CERTIFICAÇÃO III%'                     THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA SUPORTE TÉCNICO AO CLIENTE III%'       THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER TURNO EXPEDIÇÃO%'                         THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA FINANCEIRO III%'                       THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER SEGURANÇA PATRIMONIAL%'                   THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER ALMOXARIFE%'                              THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA VIBRAÇÃO III%'                         THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'TÉCNICO MANUT ELÉTRICA III%'                    THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA SUPRIMENTOS III%'                      THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER MONITORAMENTO%'                           THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA COMUNICACAO III%'                      THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'LÍDER MANUTENÇÃO FÁBRICA%'                      THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA EXPORTAÇÃO III%'                       THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'OPERADOR PAINEL II (PM)%'                       THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'OPERADOR PAINEL (EE)%'                          THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA ADMINISTRATIVO III%'                   THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'OPERADOR PAINEL II (CAE /ETA /ETE)%'            THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA LABORATÓRIO III%'                      THEN 'Grupo 7'
			WHEN UPPER(ISNULL(PFF.NOME,''))  LIKE 'ANALISTA COMERCIAL III%'                        THEN 'Grupo 7'
		ELSE '' 		
		END 		
		   , 'BEGDA'           = ISNULL(CONVERT(varchar,C.DATAINICIO ,112),ISNULL(CONVERT(varchar,C.DATAINICIO,112),'99991231'))
		   , 'ENDDA'           = ISNULL(CONVERT(varchar,C.DATAFIM ,112),ISNULL(CONVERT(varchar,C.DATAFIM,112),'99991231'))
		   , 'DTREG'           = ISNULL(CONVERT(varchar,C.RECMODIFIEDON,112),ISNULL(CONVERT(varchar,C.RECCREATEDON,112),''))	
		   , 'HRREG'           = ISNULL(CONVERT(varchar,C.RECMODIFIEDON,114),ISNULL(CONVERT(varchar,C.RECCREATEDON,114),''))	
		   , 'USREG'           = ISNULL(C.RECMODIFIEDBY ,ISNULL(C.RECCREATEDBY,''))	

		FROM PSUBSTCHEFE C
			 INNER JOIN PFUNC       F  ON C.CHAPASUBST = F.CHAPA 
			 INNER JOIN PPESSOA     P  ON F.CODPESSOA  = P.CODIGO 
			 LEFT  JOIN PSECAO      PS ON C.CODSECAO   = PS.CODIGO 
			 LEFT  JOIN PFUNCAO PFF    ON F.CODFUNCAO   = PFF.CODIGO
		  							  AND F.CODCOLIGADA = PFF.CODCOLIGADA
									  AND PFF.INATIVA   = 0	
	   WHERE C.CODSECAO     LIKE @CODSECAOLIKE
	     AND C.MASTER       = '1' 
	     AND F.CODSITUACAO  <> 'D'
	     AND P.CPF          LIKE @CPFLIKE  
	     AND ISNULL(CONVERT(VARCHAR,C.DATAFIM ,112),'20000101')  >= @DTULTE 
	   ORDER BY C.CODSECAO    
  END 
 ELSE 
  BEGIN
	  SELECT COLIGADA          = PS.CODCOLIGADA
		   , 'CHAPA'           = ''
		   , 'CODSECAO'        = PS.CODIGO
		   , 'DESCRICAO'       = PS.DESCRICAO 
		   , 'NROCENCUSTOCONT' = ISNULL(PS.NROCENCUSTOCONT,'') 
		   , 'CPF'             = ''
		   , 'NOME'            = ''
		   , 'STLTX'           = ''
		   , 'GRUPO'           = ''
		   , 'BEGDA'           = ''
		   , 'ENDDA'           = ''
		   , 'DTREG'           = ISNULL(CONVERT(varchar,PS.RECMODIFIEDON,112),ISNULL(CONVERT(varchar,PS.RECCREATEDON,112),''))	
		   , 'HRREG'           = ISNULL(CONVERT(varchar,PS.RECMODIFIEDON,114),ISNULL(CONVERT(varchar,PS.RECCREATEDON,114),''))	
		   , 'USREG'           = ISNULL(PS.RECMODIFIEDBY ,ISNULL(PS.RECCREATEDBY ,''))	
        FROM PSECAO PS
		WHERE PS.CODIGO     LIKE @CODSECAOLIKE 
		  AND ISNULL(CONVERT(VARCHAR,PS.RECMODIFIEDON ,112),'20000101')  >= @DTULTE 
	   ORDER BY PS.CODIGO
  END
END
GO
