USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_atomic_BW_create_like]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_atomic_BW_create_like]
    @tpl    varchar(1024),  /** template table
                             **/
    @dst    varchar(1024),  /** destination table
                             ** to be created and filled
                             **/
    @sel    nvarchar(max)   /** select statement
                             **/
as
begin
	
  declare @col        varchar(1024)
  declare @default    varchar(1024)
  declare @tmpstmt    varchar(7168)
  execute sap_BW_get_qualified_name @tpl output, @tpl
  execute sap_BW_get_qualified_name @dst output, @dst
  if (  parsename(@tpl, 3) <> db_name()
        or parsename(@dst, 3) <> db_name() )
  begin
    raiserror('dbname mismatch in sap_atomic_BW_create_like', 16, 1)
  end
	
  execute sap_atomic_BW_create_as_select @dst, @sel
	
--Table created; now bind the defaults
  declare getcurs cursor for
    select
      SC.name AS col,
      SD.name AS dflt
    from
      sysobjects SO,
      syscolumns SC,
      sysobjects SD
    where SO.id   = object_id(@tpl, 'U')
      and SC.id   = SO.id
      and SC.cdefault = SD.id
  open getcurs
  fetch next from getcurs into @col, @default
  while ( @@FETCH_STATUS = 0 )
  begin
   if exists(
          select 1 from sysobjects SO, syscolumns SC
     	      where SO.id   = object_id(@dst, 'U')
            and SC.name = @col
		and SC.id   = SO.id
		)
	begin
	     select @tmpstmt = 'sp_bindefault ''[' +
	                      @default +
	                      ']'', ''[' +
	                      parsename(@dst, 1) + '].[' + @col + ']'''
	    execute (@tmpstmt)
	end
     fetch next from getcurs
    into @col, @default
  end
  close getcurs
  deallocate getcurs
end
 
GO
