USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_dbcc_cachestats]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sap_dbcc_cachestats]
AS
set nocount on
create table #cachestats
( ObjectType	 char(11),
  HitRatio       float,
  ObjectCount    int,
  AvgCost        float,
  AvgPages       float,
  LWObjectCount  int,
  LWAvgCost      float,
  LWAvgStay      float,
  LWAvgUseCount  float
)
if ( IS_SRVROLEMEMBER ('sysadmin') = 1 )
begin
  insert #cachestats
  exec( 'dbcc cachestats' )
end
select ObjectType,cast( HitRatio as dec(5,4)) as Ratio,
  ObjectCount    ,
  cast( AvgCost as dec(6,4)) as AvgCost,
  cast( AvgPages as dec(8,2)) as AvgPages,
  LWObjectCount,
  cast( LWAvgCost as dec(8,4)) as LWAvgCost,
  cast( LWAvgStay as dec(10,0)) as LWAvgStay_MS,
  cast( LWAvgUseCount as dec(8,2)) as LWAvgUseCount
  from #cachestats
drop table #cachestats
 
GO
