USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_BW_SPACEUSED]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_BW_SPACEUSED] @objname sysname = null
AS
begin
  if not exists ( select *
                  from tempdb.dbo.sysobjects
                  where name = '##SAP_SPT_SPACE' )
  begin
    declare @stmt varchar(2000)
    set @stmt = 'create table ##SAP_SPT_SPACE (' +
          'NAME            sysname, ' +
          'ROWS            int null, ' +
          'RESERVED        varchar(20), ' +
          'DATA            varchar(20), ' +
          'INDEX_SIZE      varchar(20), ' +
          'UNUSED          varchar(20) ' +
      ') '
    declare @dbname sysname
    set @dbname = db_name()
    execute(@stmt)
  end
  else
  begin
    delete from ##SAP_SPT_SPACE where NAME = @objname
  end
  insert into ##SAP_SPT_SPACE  exec sp_spaceused @objname
end /* sap_BW_SPACEUSED    */
 
GO
