USE [CorporeRMDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[CALCULO_HORARIO_PT1]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CALCULO_HORARIO_PT1] (@P_DATA VARCHAR(10), @P_CHAPA VARCHAR(30), @P_CODCOLIGADA INT)
RETURNS @TESTE TABLE(CODHORARIO VARCHAR(10), DATA DATE, CODINDICE INT, CODCOLIGADA INT, TIPO VARCHAR(15), ENTRADA1 INT, SAIDA1 INT, ENTRADA2 INT, SAIDA2 INT)

AS

BEGIN -- BEGIN-1

	DECLARE @LOOP INT = 0;
	DECLARE @DATA_CONSULTA DATETIME = CONVERT(DATETIME, @P_DATA, 103);
	SET @DATA_CONSULTA = @DATA_CONSULTA -1;
	DECLARE @CODHORARIO VARCHAR(10) = (SELECT TOP 1 CODHORARIO FROM PFHSTHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CHAPA = @P_CHAPA AND DTMUDANCA <= @DATA_CONSULTA);
	DECLARE @CODINDICE INT = (SELECT TOP 1 dbo.CalculoIndiceHorario(INDINICIOHOR, CONVERT(VARCHAR, @DATA_CONSULTA, 103), CODHORARIO, CODCOLIGADA) INDICE FROM PFHSTHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CHAPA = @P_CHAPA AND DTMUDANCA <= @DATA_CONSULTA ORDER BY DTMUDANCA DESC);
	DECLARE @INDICE_MIN INT = 1;
	DECLARE @INDICE_MAX INT = (SELECT MAX(INDICE) FROM ABATHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CODHORARIO = @CODHORARIO);
	
	DECLARE @HORARIO_HISTORICO VARCHAR(10) = @CODHORARIO;
	DECLARE @CODINDICE_HISTORICO VARCHAR(10) = @CODINDICE;
	
	BEGIN -- BEGIN-2
		WHILE(@LOOP <= 9)
		BEGIN
		
		--SELECT * FROM PFHSTHOR WHERE CODCOLIGADA = '1' AND CHAPA = '050010111' AND DTMUDANCA = '2025-02-12';
		
		-- VERIFICA SE ALTETOU HORARIO
		SET @HORARIO_HISTORICO = (SELECT COUNT(CODHORARIO) FROM PFHSTHOR WHERE CODCOLIGADA = '1' AND CHAPA = '050010111' AND DTMUDANCA = '2025-02-11');
		IF(@HORARIO_HISTORICO > 0)
		BEGIN
			SET @CODHORARIO = (SELECT TOP 1 CODHORARIO FROM PFHSTHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CHAPA = @P_CHAPA AND DTMUDANCA <= @DATA_CONSULTA ORDER BY DTMUDANCA DESC);
			SET @CODINDICE	= (SELECT TOP 1 dbo.CalculoIndiceHorario(INDINICIOHOR, CONVERT(VARCHAR, @DATA_CONSULTA, 103), CODHORARIO, CODCOLIGADA) INDICE FROM PFHSTHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CHAPA = @P_CHAPA AND DTMUDANCA <= @DATA_CONSULTA ORDER BY DTMUDANCA DESC);
			SET @INDICE_MAX = (SELECT MAX(INDICE) FROM ABATHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CODHORARIO = @CODHORARIO);
		END;
		
		-- BATIDAS
		WITH T_BATIDAS AS (
		   SELECT MAX(FIM) BATIDA, 'CS' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 2 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
		   UNION ALL
		   SELECT MIN(INICIO) BATIDA, 'CE' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 2 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
		   UNION ALL
		   SELECT MIN(INICIO) BATIDA, 'DE' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 1 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
		   UNION ALL
		   SELECT MIN(BATINICIO) BATIDA, 'E' TIPO, CODCOLIGADA, CODHORARIO FROM AJORHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CODHORARIO = @CODHORARIO AND INDINICIO = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
		   UNION ALL
		   SELECT MAX(FIM) BATIDA, 'DS' TIPO, CODCOLIGADA, CODHORARIO FROM ABATHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CODHORARIO = @CODHORARIO AND TIPO = 1 AND INDICE = @CODINDICE GROUP BY CODCOLIGADA, CODHORARIO
		   UNION ALL
		   SELECT MAX(BATFIM) BATIDA, 'S' TIPO, CODCOLIGADA, CODHORARIO FROM AJORHOR WHERE CODCOLIGADA = @P_CODCOLIGADA AND CODHORARIO = @CODHORARIO AND INDINICIO = @CODINDICE   
		    GROUP BY CODCOLIGADA, CODHORARIO
		)
		
		-- REGISTROS
		INSERT INTO @TESTE 	
		SELECT @CODHORARIO CODHORARIO, @DATA_CONSULTA DATA, @CODINDICE CODINDICE, @P_CODCOLIGADA CODCOLIGADA, * 
		FROM (
		
		SELECT
		
		   (SELECT
		      MAX(CASE 
		         WHEN D.BATIDA IS NOT NULL THEN 'DESCANSO'
		         WHEN E.BATIDA IS NOT NULL THEN 'COMPENSADO'
		         ELSE 'TRABALHO' END)
		   FROM
		      GCOLIGADA AA
		      LEFT JOIN AJORHOR A ON A.CODCOLIGADA = AA.CODCOLIGADA AND A.CODCOLIGADA = @P_CODCOLIGADA AND A.CODHORARIO = @CODHORARIO AND @CODINDICE IN (A.INDINICIO, A.INDFIM)
		      LEFT JOIN ABATHOR B ON B.CODCOLIGADA = AA.CODCOLIGADA AND B.CODHORARIO = @CODHORARIO AND (CASE WHEN A.INDINICIO = B.INDICE THEN A.INDINICIO ELSE A.INDFIM END) = B.INDICE AND B.INDICE = @CODINDICE AND B.TIPO IN (0)
		      LEFT JOIN T_BATIDAS C ON C.CODCOLIGADA = @P_CODCOLIGADA AND C.CODHORARIO = @CODHORARIO AND C.TIPO = 'E'
		      LEFT JOIN T_BATIDAS D ON D.CODCOLIGADA = @P_CODCOLIGADA AND D.CODHORARIO = @CODHORARIO AND D.TIPO = 'DE'
		      LEFT JOIN T_BATIDAS E ON E.CODCOLIGADA = @P_CODCOLIGADA AND E.CODHORARIO = @CODHORARIO AND E.TIPO = 'CE'
		   WHERE
		      AA.CODCOLIGADA = @P_CODCOLIGADA
		      ) TIPO,
		
		   (SELECT
		      MAX(CASE 
		         WHEN D.BATIDA IS NOT NULL THEN D.BATIDA
		         WHEN C.BATIDA IS NOT NULL THEN C.BATIDA 
		         WHEN E.BATIDA IS NOT NULL THEN E.BATIDA
		         ELSE A.BATINICIO END)
		   FROM
		      GCOLIGADA AA
		      LEFT JOIN AJORHOR A ON A.CODCOLIGADA = AA.CODCOLIGADA AND A.CODCOLIGADA = @P_CODCOLIGADA AND A.CODHORARIO = @CODHORARIO AND @CODINDICE IN (A.INDINICIO, A.INDFIM)
		      LEFT JOIN ABATHOR B ON B.CODCOLIGADA = AA.CODCOLIGADA AND B.CODHORARIO = @CODHORARIO AND (CASE WHEN A.INDINICIO = B.INDICE THEN A.INDINICIO ELSE A.INDFIM END) = B.INDICE AND B.INDICE = @CODINDICE AND B.TIPO IN (0)
		      LEFT JOIN T_BATIDAS C ON C.CODCOLIGADA = @P_CODCOLIGADA AND C.CODHORARIO = @CODHORARIO AND C.TIPO = 'E'
		      LEFT JOIN T_BATIDAS D ON D.CODCOLIGADA = @P_CODCOLIGADA AND D.CODHORARIO = @CODHORARIO AND D.TIPO = 'DE'
		      LEFT JOIN T_BATIDAS E ON E.CODCOLIGADA = @P_CODCOLIGADA AND E.CODHORARIO = @CODHORARIO AND E.TIPO = 'CE'
		   WHERE
		      AA.CODCOLIGADA = @P_CODCOLIGADA
		      ) ENTRADA1,
		   
		   (SELECT TOP 1
		      A.INICIO
		   FROM
		      ABATHOR A
		   WHERE
		         A.CODHORARIO = @CODHORARIO
		      AND A.CODCOLIGADA = @P_CODCOLIGADA
		      AND A.INDICE = @CODINDICE
		      AND A.TIPO = 4 ORDER BY A.RECCREATEDON DESC) SAIDA1,
		      
		   
		   (SELECT TOP 1
		      A.FIM
		   FROM
		      ABATHOR A
		   WHERE
		         A.CODHORARIO = @CODHORARIO
		      AND A.CODCOLIGADA = @P_CODCOLIGADA
		      AND A.INDICE = @CODINDICE
		      AND A.TIPO = 4 ORDER BY A.RECCREATEDON DESC) ENTRADA2,
		      
		   (
		   SELECT
		      MAX(CASE 
		         WHEN D.BATIDA IS NOT NULL THEN D.BATIDA
		         WHEN C.BATIDA IS NOT NULL THEN C.BATIDA
		         WHEN E.BATIDA IS NOT NULL THEN E.BATIDA 
		         ELSE A.BATFIM END)
		   FROM
		      GCOLIGADA AA
		      LEFT JOIN AJORHOR A ON A.CODCOLIGADA = AA.CODCOLIGADA AND A.CODCOLIGADA = @P_CODCOLIGADA AND A.CODHORARIO = @CODHORARIO AND @CODINDICE IN (A.INDINICIO, A.INDFIM)
		      LEFT JOIN ABATHOR B ON B.CODCOLIGADA = AA.CODCOLIGADA AND B.CODHORARIO = @CODHORARIO AND (CASE WHEN A.INDINICIO = B.INDICE THEN A.INDINICIO ELSE A.INDFIM END) = B.INDICE AND B.INDICE = @CODINDICE AND B.TIPO IN (0)
		      LEFT JOIN T_BATIDAS C ON C.CODCOLIGADA = @P_CODCOLIGADA AND C.CODHORARIO = @CODHORARIO AND C.TIPO = 'S'
		      LEFT JOIN T_BATIDAS D ON D.CODCOLIGADA = @P_CODCOLIGADA AND D.CODHORARIO = @CODHORARIO AND D.TIPO = 'DS'
		      LEFT JOIN T_BATIDAS E ON E.CODCOLIGADA = @P_CODCOLIGADA AND E.CODHORARIO = @CODHORARIO AND E.TIPO = 'CS'
		   WHERE
		      AA.CODCOLIGADA = @P_CODCOLIGADA
		   ) SAIDA2
		 )X
		 
		SET @LOOP= @LOOP+1;
		SET @DATA_CONSULTA = @DATA_CONSULTA-1;
		SET @CODINDICE = @CODINDICE-1;
		IF(@CODINDICE > @INDICE_MAX) SET @CODINDICE = @INDICE_MIN;
		IF(@CODINDICE < @INDICE_MIN) SET @CODINDICE = @INDICE_MAX;
		
		END -- END WHILE
	END -- END BEGIN-2
	
	RETURN

END -- END BEGIN-1
GO
