USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[RMV_PROCEDIMENTOS]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RMV_PROCEDIMENTOS]
					AS
					SELECT CASE WHEN SZCONDCONTRAT.CODTABPROCEDIMENTO = '01' THEN 'AMB92'
					     WHEN SZCONDCONTRAT.CODTABPROCEDIMENTO = 'B8' THEN 'CBHPM'
					     WHEN SZCONDCONTRAT.CODTABPROCEDIMENTO = 'J3' THEN 'SULAID'
					     WHEN SZCONDCONTRAT.CODTABPROCEDIMENTO = 'J4' THEN 'SULAEP'
					     WHEN SZCONDCONTRAT.CODTABPROCEDIMENTO = 'K8' THEN 'AMB99'
					     WHEN SZCONDCONTRAT.CODTABPROCEDIMENTO = 'L1' THEN 'CBHPM4'
					     WHEN SZCONDCONTRAT.CODTABPROCEDIMENTO = 'L5' THEN 'BRADES'
					     WHEN SZCONDCONTRAT.CODTABPROCEDIMENTO = 'P6' THEN 'PM0408'
						 ELSE SUBSTRING(SZCONDCONTRAT.CODTABPROCEDIMENTO,1,6) END AS CODTABELAORIGEM,
						CODESPECIALIDADE + CODGRUPOITENS + CODITEM CODPROCORIGEM,
						(SZREGINFCIRURGIAPROC.SEQINFCIRURGIA * 100) + SZREGINFCIRURGIAPROC.CODCOLIGADA CODCIRURGIA,
						SZREGINFCIRURGIAPROC.DISCRIMINACAOITEM DESCORIGEM
					FROM SZREGINFCIRURGIAPROC,SZREGINFCIRURGIA,SZPARCIALATEND, SZCONDCONTRAT
					WHERE SZREGINFCIRURGIA.SEQINFCIRURGIA = SZREGINFCIRURGIAPROC.SEQINFCIRURGIA
					  AND SZPARCIALATEND.CODCOLIGADA = SZREGINFCIRURGIA.CODCOLIGADA
					  AND SZPARCIALATEND.NUMEROCONTA = SZREGINFCIRURGIA.NUMEROCONTA
					  AND SZPARCIALATEND.SEQUENCIALCONTA = SZREGINFCIRURGIA.SEQUENCIALCONTA
					  AND SZCONDCONTRAT.CODCOLIGADA = SZPARCIALATEND.CODCOLIGADA
					  AND SZCONDCONTRAT.CODCONVENIO = SZPARCIALATEND.CODCONVENIO
					  AND SZCONDCONTRAT.IDUNIDATEND = SZPARCIALATEND.IDUNIDFAT
					  AND (NOT CODESPECIALIDADE IS NULL)
GO
