USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_list_sch_agent_jobs]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sap_list_sch_agent_jobs] @ndays int = 30
as
begin
/*******************************************************************/
/* 08/25/2003 changed SUBSTRING  to select columns description,    */
/*                               command -RR                       */
/*                                                                 */
/* 04/28/2004 remove print stmts and chged varchar to nvarchar -RR */
/*                                                                 */
/* 07/07/2007  Changed the condition as runtime is recorded        */
/*            sometimes as runtime + 1                             */
/*            and (h.run_time = #tasks.last_run_time or            */
/*            h.run_time = (#tasks.last_run_time - 1))             */
/*               and h.run_date = #tasks.last_run_date             */
/*               and h.step_id  = 0                                */
/*            As multiple steps are now used, also added the       */
/*            condition and  s.step_id = 1 to the main select  -RR */
/* 09/19/07 Added 'set nocount on stmt' for SQL 2008           -RR */
/*******************************************************************/
declare @tempdate           datetime,
        @tempyear           int,
        @tempmonth          int,
        @tempday            int,
        @tempmonth2         int,
        @tempdate2          nvarchar(10),
        @tempdate3          int,
        @currdate           int
 declare @job_name      nvarchar(128),
         @job_id        varbinary(16),
         @job_desc      nvarchar(128),
         @job_owner     nvarchar(30),
         @dbname        nvarchar(256),
         @last_run_dur  int,
         @command       nvarchar(520),
         @last_run_date int,
         @last_run_time int,
         @next_run_date int,
         @next_run_time int,
         @enabled       tinyint,
         @job_freqtype  int,
         @job_freqint   int,
         @run_status    int,
         @status_desc   nvarchar (20),
         @sche_desc     nvarchar (40),
         @job_class     nvarchar (30)
 declare @last_time_str char(6),
         @next_time_str char(6),
         @last_run_date_str char(8),
         @next_run_date_str char(8)
  create table #tasks (
   job_name      nvarchar(128)  null,
   job_id        varbinary(16)  null,
   job_desc      nvarchar(128)  null,
   job_owner     nvarchar(30)   null,
   dbname        nvarchar(256)  null,
   last_run_res  int           null,
   last_run_dur  int           null,
   command       nvarchar(520) null,
   last_run_date   int         null,
   last_run_time   int         null,
   next_run_date   int         null,
   next_run_time   int         null,
   act_start_date  int         null,
   act_start_time  int         null,
   enabled       tinyint       null,
   job_freqtype  int           null,
   job_freqint   int           null,
   run_status    int           null,
   status_desc   nvarchar (20)  null,
   sche_desc     nvarchar (40)  null,
   job_class     nvarchar (30)  null)
create table #sch_tasks (
   job_name         nvarchar(128)  null,
   job_id           varbinary(16) null,
   job_desc         nvarchar(128)  null,
   job_owner        nvarchar(30)   null,
   dbname           nvarchar(256)  null,
   last_run_dur     int           null,
   command          nvarchar(520)  null,
   last_run_date    nvarchar(8)    null,
   last_run_time    nvarchar(6)    null,
   next_run_date    nvarchar(8)    null,
   next_run_time    nvarchar(6)    null,
   enabled          tinyint       null,
   last_run_status  int           null,
   status_desc      nvarchar (20)  null,
   sche_desc        nvarchar (40)  null,
   job_class        nvarchar (30)  null)
  set nocount on
-- get the current date + @ndays in the format yyyymmdd
  select @tempdate        = getdate() + @ndays
  select @tempyear        = YEAR(@tempdate)
  select @tempmonth       = MONTH(@tempdate)
  select @tempday         = DAY(@tempdate)
  if @tempday < 10
      begin
        if @tempmonth < 10
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                  CAST(@tempmonth AS char(1)) + '0' +
                                  CAST(@tempday   AS char(1))
         else
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                  CAST(@tempmonth AS varchar(2)) + '0' +
                                  CAST(@tempday   AS char(1))
       end
     else
       begin
        if @tempmonth < 10
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                  CAST(@tempmonth AS char(1)) +
                                  CAST(@tempday   AS varchar(2))
        else
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                  CAST(@tempmonth AS varchar(2)) +
                                  CAST(@tempday   AS varchar(2))
       end
  select @tempdate3       = @tempdate2
-- get the current date in the format yyyymmdd
  select @tempdate        = getdate()
  select @tempyear        = YEAR(@tempdate)
  select @tempmonth       = MONTH(@tempdate)
  select @tempday         = DAY(@tempdate)
  if @tempday < 10
      begin
        if @tempmonth < 10
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                  CAST(@tempmonth AS char(1)) + '0' +
                                  CAST(@tempday   AS char(1))
         else
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                  CAST(@tempmonth AS varchar(2)) + '0' +
                                  CAST(@tempday   AS char(1))
       end
     else
       begin
        if @tempmonth < 10
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) + '0' +
                                  CAST(@tempmonth AS char(1)) +
                                  CAST(@tempday   AS varchar(2))
        else
           select @tempdate2    = CAST(@tempyear  AS varchar(4)) +
                                  CAST(@tempmonth AS varchar(2)) +
                                  CAST(@tempday   AS varchar(2))
       end
  select @currdate        = @tempdate2
  insert into #tasks (job_name, job_id, job_desc,job_owner, dbname,
                      last_run_res,last_run_dur,command,
                      last_run_date,last_run_time,next_run_date,next_run_time,
                      act_start_date,act_start_time,
                      enabled,job_freqtype,job_freqint)
select t.name,
       convert(varbinary,t.job_id),
       SUBSTRING(t.description,1,128),
       SUBSTRING(suser_sname(t.owner_sid),1,30),
       database_name,
       s.last_run_outcome,
       s.last_run_duration,
       SUBSTRING(command,1,520),
       s.last_run_date,
       s.last_run_time,
       q.next_run_date,
       q.next_run_time,
       r.active_start_date,
       r.active_start_time,
       t.enabled,
       r.freq_type,
       r.freq_interval
from  msdb..sysjobs t, msdb..sysjobsteps s,msdb..sysschedules r,
      msdb..sysjobschedules q
where   t.job_id = s.job_id
   and  t.job_id = q.job_id
   and  r.schedule_id = q.schedule_id
   and  t.enabled = 1
   and  s.step_id = 1
   and  ((q.next_run_date >= @currdate
   and    q.next_run_date <= @tempdate3)
   or   (r.active_start_date >= @currdate and
         r.active_start_date <= @tempdate3))
  order by database_name, subsystem
  update #tasks
   set #tasks.run_status = h.run_status
   from msdb..sysjobhistory h
      where h.job_id = #tasks.job_id
   and (h.run_time = #tasks.last_run_time or
         h.run_time = (#tasks.last_run_time - 1))
    and h.run_date = #tasks.last_run_date
    and h.step_id  = 0
  update #tasks
   set #tasks.run_status = ISNULL(#tasks.run_status,999)
/**********************************************************/
/* updating the next_run_date with active_start_date and  */
/*              next_run_time with active_start_time      */
/*          when the jobs is scheduled only once          */
/* In SQL 2005, the next_run_date and next_run_time are   */
/*  not updated, if the job executed immediately using    */
/*  sp_start_job  stored procedure                        */
/**********************************************************/
   update #tasks
   set #tasks.next_run_date = #tasks.act_start_date,
       #tasks.next_run_time = #tasks.act_start_time
   where #tasks.next_run_date = 0
    and  #tasks.next_run_time = 0
declare task_cursor cursor for
    select job_name,job_id,job_desc,job_owner,dbname, last_run_dur,
    command,last_run_date,last_run_time,next_run_date,next_run_time,
           enabled,job_freqtype,job_freqint,run_status
    from #tasks
open task_cursor
fetch next from task_cursor into
        @job_name,
         @job_id,
         @job_desc,
         @job_owner,
         @dbname,
         @last_run_dur,
         @command,
         @last_run_date,
         @last_run_time,
         @next_run_date,
         @next_run_time,
         @enabled,
         @job_freqtype,
         @job_freqint,
         @run_status
WHILE (@@FETCH_STATUS <> -1)
 BEGIN
  select @status_desc =
  CASE
      when @run_status = 999  THEN 'Did not run'
      wheN @run_status = 0    THEN 'Failed'
      WHEN @run_status = 1    THEN 'Successful'
      WHEN @run_status = 2    THEN 'Retry'
      WHEN @run_status = 3    THEN 'Canceled'
      WHEN @run_status = 4    THEN 'In progress'
      ELSE 'OTHER'
   END
  select @sche_desc =
   case
       WHEN @job_freqtype = 1  THEN ' Scheduled Once'
       WHEN @job_freqtype = 4  THEN ' Recurring job Daily '
       WHEN @job_freqtype = 8  THEN ' Recurring job weekly '
       WHEN @job_freqtype = 16 THEN ' Recurring job monthly '
       WHEN @job_freqtype = 32 THEN ' Recurring job monthly '
       WHEN @job_freqtype = 64 THEN ' Auto. job exec. when the Agent starts'
   END
  select @job_class =
      case
       when @job_name LIKE '%SAP CCMS Check%'
                                 THEN 'SAP CCMS checkdb'
       when @job_name LIKE '%SAP CCMS Full DB Backup%'
                                 THEN 'SAP CCMS Full Backup'
       when @job_name LIKE '%SAP CCMS Diff DB Backup%'
                                 THEN 'SAP CCMS Diff Backup'
       when @job_name LIKE '%SAP CCMS User database%'
                                 THEN 'SAP CCMS User Database Backup'
       when @job_name LIKE '%SAP CCMS Log Backup%'
                                 THEN 'SAP CCMS Log Backup'
       when @job_name LIKE '%SAP CCMS * Blocking Lockstats%'
                                 THEN 'SAP CCMS LOCKS job'
       when @job_name LIKE '%SAP CCMS * Saplocks%'
                                 THEN 'SAP CCMS LOCKS job'
       when @job_name LIKE '%MSSQL_COLLECTOR%'
                                 THEN 'MSSQL_COLLECTOR'
       when @job_name LIKE '%SAP CCMS%'
                                 THEN 'SAP CCMS Jobs'
       ELSE  'OTHER'
      END
  select @last_time_str = @last_run_time
  select @last_time_str =
    CASE
      WHEN LEN(@last_time_str) = 1 THEN '00000' + @last_time_str
      WHEN LEN(@last_time_str) = 2 THEN '0000' + @last_time_str
      WHEN LEN(@last_time_str) = 3 THEN '000' + @last_time_str
      WHEN LEN(@last_time_str) = 4 THEN '00' + @last_time_str
      WHEN LEN(@last_time_str) = 5 THEN '0' + @last_time_str
        WHEN LEN(@last_time_str) = 6 THEN  @last_time_str
    END
  select @next_time_str = @next_run_time
  select @next_time_str =
    CASE
      WHEN LEN(@next_time_str) = 1 THEN '00000' + @next_time_str
      WHEN LEN(@next_time_str) = 2 THEN '0000' + @next_time_str
      WHEN LEN(@next_time_str) = 3 THEN '000' + @next_time_str
      WHEN LEN(@next_time_str) = 4 THEN '00' + @next_time_str
      WHEN LEN(@next_time_str) = 5 THEN '0' + @next_time_str
      WHEN LEN(@next_time_str) = 6 THEN  @next_time_str
    END
  select @last_run_date_str = @last_run_date
  select @next_run_date_str = convert(char(8),@next_run_date)
  if @last_run_date_str = '0'
     select @last_run_date_str = '00000000'
  INSERT INTO #sch_tasks(job_name,
                         job_id,
                         job_desc,
                         job_owner,
                         dbname,
                         last_run_dur,
                         command,
                         last_run_date,
                         last_run_time,
                         next_run_date,
                         next_run_time,
                         enabled,
                         last_run_status,
                         status_desc,
                         sche_desc,
                         job_class)
         values(@job_name,
         @job_id,
         @job_desc,
         @job_owner,
         @dbname,
         @last_run_dur,
         @command,
         @last_run_date_str,
         @last_time_str,
         @next_run_date_str,
         @next_time_str,
         @enabled,
         @run_status,
         @status_desc,
         @sche_desc,
         @job_class)
    fetch next from task_cursor into
         @job_name,
         @job_id,
         @job_desc,
         @job_owner,
         @dbname,
         @last_run_dur,
         @command,
         @last_run_date,
         @last_run_time,
         @next_run_date,
         @next_run_time,
         @enabled,
         @job_freqtype,
         @job_freqint,
         @run_status
 END
   select job_name,next_run_date,next_run_time,last_run_dur,
          last_run_status,status_desc,sche_desc,job_class,last_run_date,
          last_run_time,job_desc,command,job_owner,dbname,enabled,job_id
   from #sch_tasks
    drop table #tasks
    drop table #sch_tasks
    set nocount off
 end
 
GO
