USE [CorporeRMDEV]
GO
/****** Object:  StoredProcedure [dbo].[sap_tabhist_list]    Script Date: 02/08/2025 10:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sap_tabhist_list]
    @tools_schema sysname,
    @schema sysname,
    @numtables int
as
begin
  declare @cmd nvarchar(900)
  declare @sch_id int
  set nocount on
  if @schema = ''
    select @schema = user
  set @cmd = N'select top 1 @sch_id = uid from sysobjects ' +
    N'where id = object_id(@schema+''.''+name)'
  exec sp_executesql @cmd,
     N'@schema sysname,@sch_id int output',
     @schema,@sch_id output
  set @cmd = N'select top ' + convert(nvarchar,@numtables) +
    N'x.tablename,'+
    N'convert(nchar(8),x.sampledate,112),'+
    N'replace(convert(nvarchar(8),x.sampledate,8),N'':'',N''''),'+
    N'y.totalrows,'+
    N'y.datasize,'+
    N'y.reserved,'+
    N'y.indexsize,'+
    N'y.rowmodctr,'+
    N'y.statsschver,'+
    N'y.indexdepth,'+
    N'y.numindexes,'+
    N'y.numstats,'+
    N'convert(varchar,y.statsdate) as statsdate,'+
    N'y.tableoptions,'+
    N'y.lastduration from '+
    N'(select MAX(sampledate) as sampledate,tablename,uid '+
        N'from [' + @tools_schema + '].sap_tabstats '+
        N'where uid = @sch_id '+
            N'group by tablename,uid) x inner join [' +
             @tools_schema + '].sap_tabstats y '+
        N'on x.sampledate = y.sampledate and '+
            N'x.tablename = y.tablename and '+
            N'x.uid = y.uid '+
    N'where y.reserved > 0 order by y.reserved desc'
exec sp_executesql @cmd,N'@schema sysname,@sch_id int',
   @schema,@sch_id
end
 
GO
