USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[XTABELAPRECO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[XTABELAPRECO]
AS
SELECT
TP.CODCOLTABPRECO * 1000 + TP.NUMTABPRECO NUM_TAB_PRC,
NULL COD_MOD_VENDA,
TP.DTINICIOVIGENCIA DAT_REF_TAB,
TP.DESCTABPRECO DSC_TAB_PRC,
'A' COD_SIT_OPRL,
TP.RECMODIFIEDBY COD_PESS_ULT_MNT,
TP.RECMODIFIEDON DAT_ULT_MNT,
NULL CONDICAO,
TP.DTINICIOVIGENCIA DATA_CRIACAO,
TP.CODCOLTABPRECO * 1000 + TP.NUMTABPRECO COD_TAB_PRC,
TP.RECCREATEDBY,
TP.RECCREATEDON,
TP.RECMODIFIEDBY,
TP.RECMODIFIEDON
FROM XTABPRECO TP
WHERE (TP.CODSITUACAOTABPRECO = 1) -- Situação: 1 – Vigente
GO
