USE [CorporeRMDEV]
GO
/****** Object:  View [dbo].[KATVESTRUTURAMODELO]    Script Date: 02/08/2025 10:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[KATVESTRUTURAMODELO] AS 
SELECT M.CODMODELO, A.CODCOLIGADA,A.CODESTRUTURA,A.CODATIVIDADE,A.HORAS,A.PRIORIDADE,A.FILA,A.CONFIGURACAO,A.PROCESSA,           
A.DESAGREGACAO,A.ESPERA, A.MOVIMENTACAO,A.FAZPARTEMODELOBASE ,A.PERMITEEXCLUSAO,A.TIPOTEMPO
FROM KATVESTRUTURA A, KMODELO M
WHERE A.CODCOLIGADA  = M.CODCOLIGADA AND A.CODESTRUTURA = M.CODESTRUTURA AND
     NOT EXISTS(SELECT 1 FROM KATVMODELO AM
	        WHERE AM.CODCOLIGADA  = A.CODCOLIGADA AND  AM.CODESTRUTURA = A.CODESTRUTURA AND
	        AM.CODMODELO    = M.CODMODELO AND    AM.CODATIVIDADE = A.CODATIVIDADE AND AM.OPERACAO = 0) 
	        AND((A.FAZPARTEMODELOBASE = 1) OR
		EXISTS(SELECT 1 FROM KATVMODELO AM
	    	       WHERE AM.CODCOLIGADA  = A.CODCOLIGADA AND AM.CODESTRUTURA = A.CODESTRUTURA AND
	               AM.CODMODELO    = M.CODMODELO AND AM.CODATIVIDADE = A.CODATIVIDADE AND  AM.OPERACAO = 1))
GO
