USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ponto_config]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ponto_config](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idemp] [varchar](20) NOT NULL,
	[dtini] [datetime] NULL,
	[dtfim] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[idemp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_config] ADD  DEFAULT (NULL) FOR [dtini]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_config] ADD  DEFAULT (NULL) FOR [dtfim]
GO
