USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_salario_sla]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_salario_sla](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_user] [bigint] NOT NULL,
	[codcoligada] [bigint] NULL,
	[dirf] [bigint] NULL,
	[diri] [bigint] NULL,
	[dirt] [bigint] NULL,
	[dirr] [bigint] NULL,
	[medic] [bigint] NULL,
	[sgsso] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
