USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_variaveis_req]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_variaveis_req](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [nvarchar](2) NOT NULL,
	[tipo] [smallint] NOT NULL,
	[valores] [text] NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL,
	[chapa] [varchar](20) NULL,
	[status] [int] NULL,
	[aprovador] [varchar](20) NULL,
	[nome_aprovador] [varchar](100) NULL,
	[dtenvio] [datetime] NULL,
	[tiporeq] [smallint] NULL,
	[periodo] [varchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
