USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_funcoes]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_funcoes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](40) NULL,
	[descr] [text] NULL,
	[modo] [varchar](45) NULL,
	[caminho] [varchar](200) NULL,
	[menu] [varchar](1) NULL,
	[menutit] [varchar](45) NULL,
	[menupai] [int] NULL,
	[icone] [varchar](255) NULL,
	[atalho] [smallint] NULL,
	[portal_novo] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
