USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_premios_acessos_usuarios]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_premios_acessos_usuarios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_acesso] [bigint] NOT NULL,
	[chapa] [varchar](16) NOT NULL,
	[status] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_premios_acessos_usuarios] ADD  DEFAULT ('A') FOR [status]
GO
