USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_requisicao_motivo]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_requisicao_motivo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[descricao] [varchar](255) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[inativo] [smallint] NOT NULL,
	[dtalt] [datetime] NULL,
	[usualt] [varchar](100) NULL,
	[isonomia] [smallint] NULL,
	[limite_mesma] [smallint] NULL,
	[limite_outra] [smallint] NULL,
	[excede_120] [smallint] NOT NULL,
	[escalonamento] [smallint] NOT NULL,
	[motivo_secao] [varchar](10) NULL,
	[motivo_funcao] [varchar](10) NULL,
	[motivo_salario] [varchar](10) NULL,
	[motivo_horario] [varchar](10) NULL,
	[tipo_posicao] [smallint] NULL,
	[motivo_salario_escalonado] [varchar](10) NULL,
	[operacional_dias] [int] NULL,
	[administrativo_dias] [int] NULL,
	[tecnico_dias] [int] NULL,
	[gestao_dias] [int] NULL,
	[formacao_dias] [int] NULL,
	[admissao_operacional_dias] [int] NULL,
	[admissao_administrativo_dias] [int] NULL,
	[admissao_tecnico_dias] [int] NULL,
	[admissao_gestao_dias] [int] NULL,
	[admissao_formacao_dias] [int] NULL,
	[bloqueia_alt_salario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_MOTIVO]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_MOTIVO] ON [dbo].[zcrmportal_requisicao_motivo]
(
	[coligada] ASC,
	[descricao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_requisicao_motivo] ADD  DEFAULT ((0)) FOR [inativo]
GO
ALTER TABLE [dbo].[zcrmportal_requisicao_motivo] ADD  DEFAULT ((0)) FOR [isonomia]
GO
