USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_substituicao_req]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_substituicao_req](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[chapa_substituido] [varchar](30) NOT NULL,
	[chapa_substituto] [varchar](30) NOT NULL,
	[salario_substituido] [decimal](15, 2) NOT NULL,
	[salario_substituto] [decimal](15, 2) NOT NULL,
	[datainicio] [datetime] NOT NULL,
	[datafim] [datetime] NOT NULL,
	[dias] [smallint] NOT NULL,
	[situacao] [smallint] NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [varchar](100) NULL,
	[dtalt] [datetime] NULL,
	[usuapr] [varchar](100) NULL,
	[dtapr] [datetime] NULL,
	[usurep] [varchar](100) NULL,
	[dtrep] [datetime] NULL,
	[motivorep] [varchar](255) NULL,
	[atestados] [smallint] NULL,
	[faltas] [smallint] NULL,
	[ferias] [smallint] NULL,
	[dias_calculado] [smallint] NULL,
	[justificativa] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_substituicao_req] ADD  DEFAULT ((0)) FOR [situacao]
GO
