USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[GESTORES_ABAIXO_DIRETOR]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[GESTORES_ABAIXO_DIRETOR] AS


with gerentes as
(
select 
	a.id		as ger_id,
	a.coligada	as col_id

from zcrmportal_hierarquia a
left join zcrmportal_hierarquia_grupocargo b on b.id = a.id_grupocargo

where 
	b.descricao = '01 - Diretor' and
	a.inativo is null
),

n1 as 
(
select 
    g.col_id,
	g.ger_id,
	a.id as n1_id

from gerentes g
left join zcrmportal_hierarquia a on g.ger_id = a.id_hierarquia and g.col_id = a.coligada

where 
	a.inativo is null
),
n2 as 
(

select 
    g.col_id,
	g.ger_id,
	g.n1_id,
	NULl as n2_id
from n1 g

UNION	

select 
    g.col_id,
	g.ger_id,
	g.n1_id,
	a.id as n2_id

from n1 g
left join zcrmportal_hierarquia a on g.n1_id = a.id_hierarquia and g.col_id = a.coligada

where 
	a.inativo is null
),
n3 as
(
select 
    g.col_id,
	g.ger_id,
	g.n1_id,
	g.n2_id,
	NULL as n3_id

from n2 g

UNION

select 
    g.col_id,
	g.ger_id,
	g.n1_id,
	g.n2_id,
	a.id as n3_id

from n2 g
left join zcrmportal_hierarquia a on g.n2_id = a.id_hierarquia and g.col_id = a.coligada

where 
	a.inativo is null
),
n4 as
(
select 
    g.col_id,
	g.ger_id,
	g.n1_id,
	g.n2_id,
	g.n3_id,
	NULL as n4_id

from n3 g

UNION

select 
    g.col_id,
	g.ger_id,
	g.n1_id,
	g.n2_id,
	g.n3_id,
	a.id as n4_id

from n3 g
left join zcrmportal_hierarquia a on g.n3_id = a.id_hierarquia and g.col_id = a.coligada

where 
	a.inativo is null
)

select 
    g.col_id,
	g.ger_id,
	a.chapa		as ger_chapa,
	g.n1_id,
	b.chapa		as n1_chapa,
	g.n2_id,
	c.chapa		as n2_chapa,
	g.n3_id,
	d.chapa		as n3_chapa,
	g.n4_id,
	e.chapa		as n4_chapa
	

from n4 g
left join zcrmportal_hierarquia_chapa a on g.ger_id = a.id_hierarquia and g.col_id = a.coligada
left join zcrmportal_hierarquia_chapa b on g.n1_id = b.id_hierarquia and g.col_id = a.coligada
left join zcrmportal_hierarquia_chapa c on g.n2_id = c.id_hierarquia and g.col_id = a.coligada
left join zcrmportal_hierarquia_chapa d on g.n3_id = d.id_hierarquia and g.col_id = a.coligada
left join zcrmportal_hierarquia_chapa e on g.n4_id = d.id_hierarquia and g.col_id = a.coligada


where 
	a.inativo is NULL
GO
