USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ponto_horas_abono]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ponto_horas_abono](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[chapa] [varchar](15) NOT NULL,
	[datainicio] [datetime] NOT NULL,
	[datafim] [datetime] NOT NULL,
	[horainicio] [int] NOT NULL,
	[horafim] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[codabono] [varchar](50) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usucad] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_ABONO_DATA]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_ABONO_DATA] ON [dbo].[zcrmportal_ponto_horas_abono]
(
	[coligada] ASC,
	[chapa] ASC,
	[datainicio] ASC,
	[horainicio] ASC,
	[horafim] ASC,
	[datafim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
