USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_art61_req_chapa_anexo]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_art61_req_chapa_anexo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_req_chapa] [varchar](1000) NULL,
	[coligada] [varchar](5) NOT NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[file_type] [varchar](100) NOT NULL,
	[file_size] [varchar](50) NOT NULL,
	[file_name] [varchar](255) NOT NULL,
	[file_data] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
