USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[REL_SINC_ART61]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[REL_SINC_ART61] AS

WITH LISTA AS (
SELECT 
	r.id AS ID_REQ,
	r.id_coligada AS CODCOLIGADA,
	c.id AS ID_REQ_CHAPA,
	f.CHAPA AS CHAPA,
	c.anocomp AS ANOCOMP,
	c.mescomp AS MESCOMP,
	c.nroperiodo AS NROPERIODO,
	e.CODIGO AS CODEVENTO,
	CAST(ISNULL(c.extra_normal,0) AS INT) as VALOR
FROM 
	zcrmportal_art61_requisicao r
LEFT JOIN zcrmportal_art61_req_chapas c ON c.id_req = r.id and c.status = 'A'
LEFT JOIN CorporeRMDEV..PFUNC f ON f.CODCOLIGADA = r.id_coligada and f.CHAPA = c.chapa_colab COLLATE Latin1_General_CI_AS 
INNER JOIN CorporeRMDEV..PEVENTO e ON e.CODCOLIGADA = r.id_coligada and e.CODIGO = c.codevento COLLATE Latin1_General_CI_AS 

WHERE 
	r.status = 6

UNION

SELECT 
	r.id AS ID_REQ,
	r.id_coligada AS CODCOLIGADA,
	c.id AS ID_REQ_CHAPA,
	f.CHAPA AS CHAPA,
	c.anocomp AS ANOCOMP,
	c.mescomp AS MESCOMP,
	c.nroperiodo AS NROPERIODO,
	e.CODIGO AS CODEVENTO,
	CAST(ISNULL(c.extra_art61,0) AS INT) as VALOR
FROM 
	zcrmportal_art61_requisicao r
LEFT JOIN zcrmportal_art61_req_chapas c ON c.id_req = r.id and c.status = 'A'
LEFT JOIN CorporeRMDEV..PFUNC f ON f.CODCOLIGADA = r.id_coligada and f.CHAPA = c.chapa_colab COLLATE Latin1_General_CI_AS 
INNER JOIN CorporeRMDEV..PEVENTO e ON e.CODCOLIGADA = r.id_coligada and e.CODIGO = c.codevento_art61 COLLATE Latin1_General_CI_AS 

WHERE 
	r.status = 6
)

SELECT 
	CODCOLIGADA,
	CHAPA,
	ANOCOMP,
	MESCOMP,
	NROPERIODO,
	CODEVENTO,
	SUM(VALOR) AS VALOR
FROM LISTA
GROUP BY
	CODCOLIGADA,
	CHAPA,
	ANOCOMP,
	MESCOMP,
	NROPERIODO,
	CODEVENTO

GO
