USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_hierarquia]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_hierarquia](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NULL,
	[descricao] [varchar](255) NULL,
	[centrocusto] [varchar](50) NULL,
	[id_frentetrabalho] [bigint] NULL,
	[dtcad] [datetime] NULL,
	[usucad] [varchar](100) NULL,
	[nivel] [smallint] NOT NULL,
	[id_hierarquia] [bigint] NULL,
	[id_grupocargo] [bigint] NULL,
	[dtupdate] [datetime] NULL,
	[usualt] [varchar](100) NULL,
	[dtalt] [datetime] NULL,
	[inativo] [smallint] NULL,
	[log_dtinativado] [datetime] NULL,
	[log_usuinativado] [varchar](50) NULL,
	[log_server] [text] NULL,
	[log_chapa] [varchar](100) NULL,
	[log_id_frentetrabalho] [bigint] NULL,
	[id_bp] [bigint] NULL,
	[excecao] [smallint] NULL,
	[lider_requisicao] [varchar](20) NULL,
	[descricao_caixa] [varchar](500) NULL,
	[frente_seguranca_trabalho] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [FK_ID_FRENTE]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [FK_ID_FRENTE] ON [dbo].[zcrmportal_hierarquia]
(
	[id_frentetrabalho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [IFK_FK_ID_FRENTE]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [IFK_FK_ID_FRENTE] ON [dbo].[zcrmportal_hierarquia]
(
	[id_frentetrabalho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_hierarquia]  WITH CHECK ADD FOREIGN KEY([id_frentetrabalho])
REFERENCES [dbo].[zcrmportal_frente_trabalho] ([id])
GO
