USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[GESTOR_CHAPA_PREMIOS]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[GESTOR_CHAPA_PREMIOS] AS
SELECT 
	DISTINCT
	A.CODCOLIGADA,
	A.CHAPA				CHAPA_COLAB,
	A.NOME					NOME_COLAB,
	A.CODFILIAL         CODFILIAL_COLAB,
	A.CODFUNCAO         CODFUNCAO_COLAB,
	A.DATADEMISSAO      DT_DEMISSAO_COLAB,
	A.CODSITUACAO       CODSITUACAO_COLAB,
	U.NOME					FUNCAO_COLAB,
	A.CODSECAO			CODSECAO_COLAB,
	S.DESCRICAO			SECAO_COLAB,
	S.NROCENCUSTOCONT   CCUSTO_COLAB,
	C.ID_HIERARQUIA		ID_HIERARQUIA,
	D.CHAPA				GESTOR_CHAPA,
	E.NOME					GESTOR_NOME,
	E.CODSITUACAO       CODSITUACAO_GESTOR,
	F.ID_GRUPOCARGO     ID_GRUPOCARGO,
	G.DESCRICAO         GRUPOCARGO
FROM 
	CorporeRMDEV..PFUNC A,
	CorporeRMDEV..PSECAO S,
	CorporeRMDEV..PFUNCAO U,
	PortalRHDEV..zcrmportal_frente_trabalho B,
	PortalRHDEV..zcrmportal_hierarquia_frentetrabalho C,
	PortalRHDEV..zcrmportal_hierarquia_chapa D,
	CorporeRMDEV..PFUNC E,
	PortalRHDEV..zcrmportal_hierarquia F,
	PortalRHDEV..zcrmportal_hierarquia_grupocargo G
WHERE
	(A.DATADEMISSAO IS NULL)

	AND S.CODIGO = A.CODSECAO
	
	AND U.CODIGO = A.CODFUNCAO
	AND U.CODCOLIGADA = A.CODCOLIGADA

	AND B.CODSECAO = A.CODSECAO COLLATE Latin1_General_CI_AS
	AND B.COLIGADA = A.CODCOLIGADA
	
	AND B.ID = C.ID_FRENTETRABALHO
	AND C.INATIVO IS NULL

	AND D.ID_HIERARQUIA = C.ID_HIERARQUIA
	
	AND D.CHAPA = E.CHAPA COLLATE Latin1_General_CI_AS
	AND D.COLIGADA = E.CODCOLIGADA

	AND D.ID_HIERARQUIA = F.ID
	AND F.ID_GRUPOCARGO = G.ID
GO
