USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ocorrencia_motivo]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ocorrencia_motivo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
