USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_art61_requisicao]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_art61_requisicao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[dt_requisicao] [date] NOT NULL,
	[status] [varchar](1) NOT NULL,
	[chapa_requisitor] [varchar](16) NULL,
	[chapa_gestor] [varchar](16) NULL,
	[dt_ini_ponto] [date] NULL,
	[dt_fim_ponto] [date] NULL,
	[anocomp] [bigint] NULL,
	[mescomp] [bigint] NULL,
	[dt_aprovacao] [date] NULL,
	[id_aprovador] [bigint] NULL,
	[id_criador] [bigint] NOT NULL,
	[id_coligada] [bigint] NOT NULL,
	[chapa_aprov_reprov] [varchar](16) NULL,
	[motivo_recusa] [varchar](1000) NULL,
	[dt_rh_aprovacao] [date] NULL,
	[chapa_rh_aprov_reprov] [varchar](16) NULL,
	[dt_sincronismo] [date] NULL,
	[codevento_sincronismo] [varchar](4) NULL,
	[periodo_sincronismo] [varchar](2) NULL,
	[user_id_sincronismo] [bigint] NULL,
	[dt_envio_email] [date] NULL,
	[id_req_original] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_art61_requisicao] ADD  DEFAULT ('1') FOR [status]
GO
