USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[REL_VARIACAO_PREMIOS]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[REL_VARIACAO_PREMIOS] AS

WITH MES_ANT AS (
	SELECT 
		C.ID_COLIGADA,		
		C.CHAPA,
		(C.DIAS_FALTAS + C.DIAS_ADMISSAO	+ C.DIAS_DEMISSAO + C.DIAS_FERIAS + C.DIAS_ATESTADO	+ C.DIAS_AFAST)	DIAS_PERDIDOS,
		C.VALOR_PREMIO,
		C.RESULTADO,
		R.TIPO,
		CASE 
			WHEN MONTH(A.DTINI_PONTO) = 12 THEN 1
			ELSE MONTH(A.DTINI_PONTO) + 1
		END PROX_MES,
		CASE 
			WHEN MONTH(A.DTINI_PONTO) = 12 THEN YEAR(A.DTINI_PONTO) + 1
			ELSE YEAR(A.DTINI_PONTO)
		END PROX_ANO,
		A.ID_PREMIO
	FROM 
		zcrmportal_premios_requisicao_chapas C
	LEFT JOIN zcrmportal_premios_requisicao R ON R.ID = C.ID_REQUISICAO
	LEFT JOIN zcrmportal_premios_acessos A ON A.ID = R.ID_ACESSO
)

SELECT 
	F.CODCOLIGADA			COLIGADA_COLAB,
	C.CHAPA					CHAPA_COLAB,
	F.NOME					NOME_COLAB,
	F.CODFILIAL				CODFILIAL_COLAB,
	F.CODFUNCAO				CODFUNCAO_COLAB,
	U.NOME					FUNCAO_COLAB,
	F.CODSECAO				CODSECAO_COLAB,
	S.DESCRICAO				SECAO_COLAB,
	F.DATAADMISSAO			DT_ADMISSAO_COLAB,
	F.DATADEMISSAO			DT_DEMISSAO_COLAB,
	F.CODSITUACAO			CODSITUACAO_COLAB,
	S.NROCENCUSTOCONT		CCUSTO_COLAB,
	(C.DIAS_FALTAS + C.DIAS_ADMISSAO	+ C.DIAS_DEMISSAO + C.DIAS_FERIAS + C.DIAS_ATESTADO	+ C.DIAS_AFAST)	DIAS_PERDIDOS,
	C.RESULTADO				PERCENT_FINAL,
	C.VALOR_PREMIO			VALOR_A_RECEBER,
	C.ID_REQUISICAO			ID_REQUISICAO,
	R.DT_REQUISICAO			DATA_CRIACAO,
	R.TIPO					TIPO_REQUISICAO,
	R.STATUS				STATUS_REQUISICAO,
	A.DTINI_PONTO			DT_INICIO_PONTO,
	A.DTFIM_PONTO			DT_FIM_PONTO,
	P.NOME					NOME_PREMIO,
	ISNULL(M.DIAS_PERDIDOS,0)	DIAS_PERDIDOS_MES_ANT,
	ISNULL(M.RESULTADO,0)		PERCENT_FINAL_MES_ANT,
	ISNULL(M.VALOR_PREMIO,0)	VALOR_A_RECEBER_MES_ANT,
	CASE
		WHEN M.VALOR_PREMIO IS NULL OR M.VALOR_PREMIO = 0 THEN 100
		WHEN C.VALOR_PREMIO IS NULL OR C.VALOR_PREMIO = 0 THEN -100
		WHEN M.VALOR_PREMIO > C.VALOR_PREMIO THEN -1*(((M.VALOR_PREMIO/C.VALOR_PREMIO)-1)*100)
		ELSE ((C.VALOR_PREMIO/M.VALOR_PREMIO)-1)*100 
	END							PERCENT_VARIACAO
	
FROM 
	zcrmportal_premios_requisicao_chapas C
LEFT JOIN CorporeRMDEV..PFUNC F ON F.CODCOLIGADA = C.ID_COLIGADA AND C.CHAPA = F.CHAPA COLLATE Latin1_General_CI_AS
LEFT JOIN zcrmportal_premios_requisicao R ON R.ID = C.ID_REQUISICAO
LEFT JOIN zcrmportal_premios_acessos A ON A.ID = R.ID_ACESSO
LEFT JOIN zcrmportal_premios P ON P.ID = A.ID_PREMIO
LEFT JOIN CorporeRMDEV..PFUNCAO U ON U.CODIGO = F.CODFUNCAO AND U.CODCOLIGADA = F.CODCOLIGADA
LEFT JOIN CorporeRMDEV..PSECAO S ON S.CODIGO = F.CODSECAO AND S.CODCOLIGADA = F.CODCOLIGADA
LEFT JOIN MES_ANT M ON M.ID_COLIGADA = C.ID_COLIGADA AND M.CHAPA = C.CHAPA AND M.ID_PREMIO = A.ID_PREMIO AND M.TIPO = R.TIPO AND
	YEAR(A.DTINI_PONTO) = M.PROX_ANO AND MONTH(A.DTINI_PONTO) = M.PROX_MES
GO
