USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[GESTOR_SUBSTITUTO_CHAPA]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[GESTOR_SUBSTITUTO_CHAPA] AS
SELECT 
	DISTINCT 
	B.coligada CODCOLIGADA,
	B.id_gestor GESTOR_ID,
	B.chapa_gestor GESTOR_CHAPA,
	E.NOME GESTOR_NOME,
	B.id_substituto SUBSTITUTO_ID,
	A.CHAPA SUBSTITUTO_CHAPA,
	C.login SUBSTITUTO_LOGIN,
	C.nome SUBSTITUTO_NOME,
	C.email,
	STUFF((
    		SELECT 
    			', ' + D2.funcoes
    		FROM zcrmportal_hierarquia_gestor_substituto_modulos D2
    			WHERE B.modulos LIKE '%"' + CAST(D2.id AS VARCHAR) + '"%'
      				AND D2.inativo = 0
    FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, ''
    ) AS FUNCOES
    
FROM CorporeRMDEV..PFUNC A 
	INNER JOIN zcrmportal_hierarquia_gestor_substituto B ON B.chapa_substituto = A.CHAPA COLLATE Latin1_General_CI_AS
	LEFT JOIN zcrmportal_hierarquia_gestor_substituto_modulos D ON B.modulos LIKE '%"' + CAST(D.id AS VARCHAR) + '"%'
	LEFT JOIN zcrmportal_usuario C ON C.id = B.id_substituto
	LEFT JOIN zcrmportal_usuario E ON E.id = B.id_gestor
	WHERE getdate() BETWEEN B.dtini AND B.dtfim
	AND B.inativo = 0 AND D.inativo = 0
GROUP BY 
	 B.coligada,
    B.id_gestor,
    B.id_substituto,
    B.chapa_gestor,
    A.CHAPA,
    C.email,
    C.login,
    C.nome,
    b.modulos,
    e.NOME
    
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
GO
