USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_requisicao]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_requisicao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[chapa] [varchar](15) NOT NULL,
	[justificativa] [text] NOT NULL,
	[previsao] [date] NOT NULL,
	[secao_atual] [varchar](50) NOT NULL,
	[secao_nova] [varchar](50) NULL,
	[funcao_atual] [varchar](20) NOT NULL,
	[funcao_nova] [varchar](20) NULL,
	[salario_atual] [decimal](18, 2) NOT NULL,
	[salario_novo] [decimal](18, 2) NULL,
	[secao_motivo] [varchar](10) NULL,
	[funcao_motivo] [varchar](10) NULL,
	[salario_motivo] [varchar](10) NULL,
	[horario_novo] [varchar](50) NULL,
	[tipo] [varchar](50) NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[tipo_desc] [varchar](500) NULL,
	[horario_atual] [varchar](50) NULL,
	[situacao] [smallint] NULL,
	[motivo_reprova] [text] NULL,
	[usu_enviado] [varchar](100) NULL,
	[dt_enviado] [datetime] NULL,
	[usualt] [varchar](100) NULL,
	[dtalt] [datetime] NULL,
	[horario_motivo] [varchar](10) NULL,
	[usu_reprova] [varchar](100) NULL,
	[dt_reprova] [datetime] NULL,
	[motivo_cancelamento] [text] NULL,
	[usu_cancelamento] [varchar](100) NULL,
	[dt_cancelamento] [datetime] NULL,
	[area_apr_secao] [smallint] NULL,
	[area_apr_funcao] [smallint] NULL,
	[area_apr_salario] [smallint] NULL,
	[area_apr_horario] [smallint] NULL,
	[filial_atual] [varchar](10) NULL,
	[filial_nova] [varchar](10) NULL,
	[usufim_apr] [varchar](100) NULL,
	[dtfim_apr] [datetime] NULL,
	[posicao_atual] [varchar](100) NULL,
	[posicao_nova] [varchar](100) NULL,
	[porcentual_salario] [decimal](10, 6) NULL,
	[codmotivo] [bigint] NULL,
	[dtsinc] [datetime] NULL,
	[ususinc] [varchar](50) NULL,
	[maternidade] [smallint] NULL,
	[espaco_confinado] [smallint] NULL,
	[altura] [smallint] NULL,
	[agrotoxico] [smallint] NULL,
	[veiculos] [smallint] NULL,
	[aprova_medicina] [smallint] NULL,
	[dt_apr_medicina] [datetime] NULL,
	[usu_apr_medicina] [varchar](100) NULL,
	[id_hierarquia_aprovador] [bigint] NULL,
	[aprova_psico] [int] NULL,
	[dt_aprova_psico] [datetime] NULL,
	[usu_aprova_psico] [varchar](100) NULL,
	[aprova_psico_temp] [int] NULL,
	[id_simulador] [bigint] NULL,
	[carta_enviada] [smallint] NULL,
	[pdf_carta] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
