USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_agt_tarefas]    Script Date: 02/08/2025 09:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_agt_tarefas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idemp] [varchar](20) NULL,
	[nome] [varchar](40) NULL,
	[tipo] [int] NULL,
	[comando] [text] NULL,
	[dtini] [datetime] NULL,
	[dtfim] [datetime] NULL,
	[periodicidade] [varchar](3) NULL,
	[tminutos] [int] NULL,
	[thoras] [int] NULL,
	[tdias] [int] NULL,
	[conexao] [varchar](40) NULL,
	[query] [text] NULL,
	[msg] [text] NULL,
	[dtcad] [datetime] NULL,
	[usucad] [bigint] NULL,
	[dtalt] [datetime] NULL,
	[usualt] [bigint] NULL,
	[status] [varchar](1) NULL,
	[msg_html] [varchar](1) NULL,
	[executada] [datetime] NULL,
	[tempo] [time](7) NULL,
	[assunto] [text] NULL,
 CONSTRAINT [PK_zcrmportal_agt_tarefas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
