USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_beneficio_func]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_beneficio_func](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](2) NOT NULL,
	[idtipo] [bigint] NOT NULL,
	[idperiodo] [bigint] NOT NULL,
	[chapa] [varchar](20) NOT NULL,
	[tipo] [varchar](50) NULL,
	[detalhe] [text] NOT NULL,
	[coddetalhe] [varchar](20) NULL,
	[qtd] [int] NOT NULL,
	[valorun] [decimal](10, 2) NOT NULL,
	[justificativa] [text] NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL,
	[codcfo] [bigint] NULL,
	[dtapr] [datetime] NULL,
	[usuapr] [bigint] NULL,
	[sincronizado] [smallint] NULL,
	[dataadmissao] [date] NULL,
	[idade] [int] NULL,
 CONSTRAINT [PK_zcrmportal_beneficio_func] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[idtipo] ASC,
	[idperiodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
