USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_admissao_funcionario]    Script Date: 02/08/2025 09:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_admissao_funcionario](
	[idemp] [varchar](20) NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[altid] [varchar](20) NULL,
	[nome] [varchar](40) NULL,
	[sobrenome] [varchar](40) NULL,
	[email] [varchar](200) NULL,
	[dtcadastro] [date] NULL,
	[dtalt] [date] NULL,
	[usualt] [bigint] NULL,
	[codestnatal] [varchar](2) NULL,
	[naturalidade] [varchar](70) NULL,
	[dtnascimento] [date] NULL,
	[codestcivil] [varchar](3) NULL,
	[codsexo] [varchar](1) NULL,
	[codnacionalidade] [varchar](50) NULL,
	[codcorraca] [varchar](50) NULL,
	[codgrauinstrucao] [varchar](2) NULL,
	[cpf] [varchar](11) NULL,
	[nrotitulo] [varchar](40) NULL,
	[zonatitulo] [varchar](8) NULL,
	[secaotitulo] [varchar](8) NULL,
	[dttitulo] [date] NULL,
	[esttitulo] [varchar](3) NULL,
	[nrorg] [varchar](30) NULL,
	[dtrg] [date] NULL,
	[orgrg] [varchar](15) NULL,
	[estrg] [varchar](3) NULL,
	[nroctps] [varchar](40) NULL,
	[seriectps] [varchar](40) NULL,
	[dtctps] [date] NULL,
	[estctps] [varchar](3) NULL,
	[nrocnh] [varchar](40) NULL,
	[tipocnh] [varchar](6) NULL,
	[dtcnh] [date] NULL,
	[dtvchn] [date] NULL,
	[orgcnh] [varchar](20) NULL,
	[cep] [varchar](8) NULL,
	[tiporua] [varchar](50) NULL,
	[rua] [varchar](80) NULL,
	[nro] [varchar](100) NULL,
	[compl] [varchar](30) NULL,
	[tipobairro] [varchar](50) NULL,
	[bairro] [varchar](60) NULL,
	[est] [varchar](3) NULL,
	[cidade] [varchar](50) NULL,
	[pais] [varchar](6) NULL,
	[tel1] [varchar](20) NULL,
	[tel2] [varchar](20) NULL,
	[codsecao] [varchar](35) NULL,
	[tipoadmiss] [varchar](2) NULL,
	[dtadmiss] [date] NULL,
	[tipofunc] [varchar](2) NULL,
	[funcao] [varchar](30) NULL,
	[tiporeceb] [varchar](8) NULL,
	[horareceb] [varchar](10) NULL,
	[jornadareceb] [varchar](10) NULL,
	[codbanco] [varchar](20) NULL,
	[codagencia] [varchar](20) NULL,
	[nroconta] [varchar](30) NULL,
	[nrooperacao] [varchar](30) NULL,
	[tipocanta] [varchar](2) NULL,
	[codraiz] [varchar](8) NULL,
	[codsind] [varchar](50) NULL,
	[codcontri] [varchar](15) NULL,
	[nropis] [varchar](40) NULL,
	[codfilial] [varchar](20) NULL,
	[codtomador] [varchar](20) NULL,
	[nomemae] [text] NULL,
	[dtnascimentomae] [date] NULL,
	[status] [varchar](1) NULL,
	[codhorario] [varchar](50) NULL,
	[dtcadastropis] [date] NULL,
	[chapa] [varchar](10) NULL,
	[digito_conta] [varchar](10) NULL,
	[id_req] [bigint] NOT NULL,
	[esocial_categoria] [varchar](50) NULL,
	[esocial_regime_jornada] [varchar](50) NULL,
	[esocial_regime_previdenciario] [varchar](50) NULL,
	[esocial_regime_tempo] [varchar](50) NULL,
	[esocial_natureza_atividade] [smallint] NULL,
	[nivel] [varchar](10) NULL,
	[indicativo_admissao] [smallint] NULL,
	[faixa] [varchar](50) NULL,
	[estado_civil_mae] [varchar](50) NULL,
	[func_data_primeira_cnh] [date] NULL,
	[uf_cnh] [varchar](100) NULL,
	[militar_certifreserv] [varchar](100) NULL,
	[militar_categmilitar] [varchar](10) NULL,
	[militar_dtexpcml] [date] NULL,
	[militar_exped] [varchar](10) NULL,
	[militar_csm] [varchar](100) NULL,
	[militar_rm] [varchar](100) NULL,
	[militar_sitmilitar] [varchar](100) NULL,
	[sus] [varchar](100) NULL,
	[motivo_admissao] [varchar](15) NULL,
	[letrahorario] [varchar](15) NULL,
	[tiposanguinio] [varchar](15) NULL,
	[rateio_fixo] [varchar](50) NULL,
	[dados_contabeis] [varchar](50) NULL,
	[visa_vale] [varchar](50) NULL,
	[contrato_45_dias] [date] NULL,
	[contrato_45_dias2] [date] NULL,
	[militar_certfreserv] [varchar](150) NULL,
	[passaporte] [varchar](15) NULL,
	[passaporte_data] [datetime] NULL,
	[passaporte_validade] [datetime] NULL,
	[passaporte_pais] [varchar](20) NULL,
	[passaporte_chegada_brasil] [datetime] NULL,
	[passaporte_naturalizacao] [datetime] NULL,
	[passaporte_classificacao] [varchar](20) NULL,
	[passaporte_filhos] [smallint] NULL,
	[passaporte_naturalizado] [smallint] NULL,
	[id_profile_xerpa] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [altid]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [nome]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [sobrenome]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [email]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dtcadastro]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dtalt]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [usualt]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codestnatal]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [naturalidade]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dtnascimento]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codestcivil]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codsexo]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codnacionalidade]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codcorraca]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codgrauinstrucao]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [cpf]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [nrotitulo]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [zonatitulo]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [secaotitulo]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dttitulo]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [esttitulo]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [nrorg]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dtrg]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [orgrg]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [estrg]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [nroctps]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [seriectps]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dtctps]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [estctps]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [nrocnh]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [tipocnh]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dtcnh]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dtvchn]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [orgcnh]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [cep]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [tiporua]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [rua]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [nro]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [compl]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [tipobairro]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [bairro]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [est]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [cidade]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [pais]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [tel1]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [tel2]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codsecao]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [tipoadmiss]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dtadmiss]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [tipofunc]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [funcao]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [tiporeceb]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [horareceb]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [jornadareceb]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codbanco]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codagencia]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [nroconta]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [nrooperacao]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [tipocanta]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codraiz]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codsind]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codcontri]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [nropis]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codfilial]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codtomador]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dtnascimentomae]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [codhorario]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dtcadastropis]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [chapa]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [digito_conta]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [esocial_categoria]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [esocial_regime_jornada]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [esocial_regime_previdenciario]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [esocial_regime_tempo]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT ('1') FOR [esocial_natureza_atividade]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [nivel]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT ('1') FOR [indicativo_admissao]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT ('A') FOR [faixa]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [estado_civil_mae]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [func_data_primeira_cnh]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [uf_cnh]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [militar_certifreserv]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [militar_categmilitar]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [militar_dtexpcml]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [militar_exped]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [militar_csm]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [militar_rm]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [militar_sitmilitar]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [sus]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [motivo_admissao]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [letrahorario]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [tiposanguinio]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [rateio_fixo]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [dados_contabeis]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [visa_vale]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [contrato_45_dias]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario] ADD  DEFAULT (NULL) FOR [contrato_45_dias2]
GO
