USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_salario_dados]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_salario_dados](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [int] NOT NULL,
	[id_funcao] [bigint] NOT NULL,
	[id_grupo] [bigint] NOT NULL,
	[id_subgrupo] [bigint] NOT NULL,
	[id_item] [bigint] NOT NULL,
	[valor_texto] [varchar](255) NULL,
	[usucad] [varchar](10) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [varchar](10) NULL,
	[dtalt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
