USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_usuario]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_usuario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[altid] [varchar](80) NULL,
	[login] [varchar](200) NULL,
	[nome] [varchar](80) NULL,
	[sobrenome] [varchar](40) NULL,
	[email] [varchar](200) NULL,
	[senha] [varchar](200) NULL,
	[codatv] [varchar](40) NULL,
	[ativo] [varchar](1) NULL,
	[dtcad] [datetime] NULL,
	[dtultlog] [datetime] NULL,
	[dtalt] [datetime] NULL,
	[usualt] [varchar](80) NULL,
	[gestor] [char](1) NULL,
	[acessoglobal] [smallint] NULL,
	[senhatmp] [varchar](40) NULL,
	[token] [varchar](40) NULL,
	[dtexptoken] [datetime] NULL,
	[primeiro_acesso] [smallint] NULL,
	[dt_confirma] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
