USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_beneficio_func_porcent]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_beneficio_func_porcent](
	[chapa] [varchar](50) NOT NULL,
	[target] [varchar](50) NOT NULL,
	[codcoligada] [varchar](3) NOT NULL,
	[codsecao] [varchar](60) NULL,
	[codfuncao] [varchar](60) NULL,
	[mes] [varchar](10) NULL,
	[ano] [varchar](10) NULL
) ON [PRIMARY]
GO
