USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_escala_config]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_escala_config](
	[coligada] [varchar](5) NOT NULL,
	[bloqueio_aviso] [smallint] NULL,
	[usualt] [bigint] NOT NULL,
	[dtalt] [datetime] NOT NULL,
	[escala_per_fim] [datetime] NULL,
	[dia_per_inicio] [datetime] NULL,
	[dia_per_fim] [datetime] NULL,
	[escala_per_inicio] [datetime] NULL
) ON [PRIMARY]
GO
