USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ponto_ats_macro]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ponto_ats_macro](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cpf] [varchar](100) NOT NULL,
	[status] [varchar](100) NOT NULL,
	[mensagem] [text] NULL,
	[placa] [varchar](10) NULL,
	[data_inicio_status] [datetime] NULL,
	[data_fim_status] [datetime] NULL,
	[tempo] [varchar](6) NULL,
	[data_gravacao] [datetime] NULL,
	[data_importacao] [datetime] NOT NULL,
	[tipo_mensagem] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
