USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ocorrencia_workflow_log]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ocorrencia_workflow_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [nvarchar](2) NOT NULL,
	[descricao] [varchar](5000) NOT NULL,
	[nome] [nvarchar](500) NULL,
	[email] [nvarchar](500) NOT NULL,
	[dtcad] [datetime] NULL,
	[enviado] [smallint] NOT NULL
) ON [PRIMARY]
GO
