USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_demissao_validacao]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_demissao_validacao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](255) NOT NULL,
	[sql] [text] NULL,
	[coligada] [varchar](5) NOT NULL,
	[tipodemissao] [varchar](5) NOT NULL,
	[msg] [text] NULL,
	[bloqueia] [varchar](2) NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[usucad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_validacao] ADD  DEFAULT (NULL) FOR [bloqueia]
GO
