USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_requisicao_escalonamento_meritocracia]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_requisicao_escalonamento_meritocracia](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_meritocracia] [bigint] NULL,
	[chapa] [varchar](25) NULL,
	[coligada] [varchar](5) NULL,
	[mes] [varchar](2) NULL,
	[ano] [varchar](4) NULL,
	[porcentagem] [decimal](10, 3) NULL,
	[salario] [decimal](18, 2) NULL,
	[usucad] [varchar](100) NULL,
	[dtcad] [datetime] NULL,
	[salario_atual] [decimal](18, 2) NULL,
	[ususinc] [varchar](50) NULL,
	[dtsinc] [datetime] NULL,
	[id_tipo] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
