USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_beneficio_tipos]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_beneficio_tipos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](255) NOT NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [varchar](100) NULL,
	[dtalt] [datetime] NULL,
	[sql] [text] NOT NULL,
	[ativo] [smallint] NOT NULL,
	[coligada] [varchar](2) NOT NULL,
	[produto] [bigint] NULL,
 CONSTRAINT [PK_zcrmportal_beneficio_tipos] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[usucad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
