USE [PortalRHDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[Base64Decode]    Script Date: 02/08/2025 09:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Base64Decode] (@base64Text VARCHAR(MAX))
RETURNS VARCHAR(MAX)
AS
BEGIN
    DECLARE @binaryData VARBINARY(MAX);
    DECLARE @decodedText VARCHAR(MAX);

    -- Converter a string Base64 para VARBINARY
    SET @binaryData = CAST(N'' AS XML).value('xs:base64Binary(sql:variable("@base64Text"))', 'VARBINARY(MAX)');

    -- Converter o VARBINARY de volta para VARCHAR
    SET @decodedText = CAST(@binaryData AS VARCHAR(MAX));

    RETURN @decodedText;
END;
GO
