USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_hierarquia_lider_func_ponto]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_hierarquia_lider_func_ponto](
	[chapa] [varchar](30) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[id_lider] [bigint] NOT NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[inativo] [smallint] NULL,
	[usu_inativou] [bigint] NULL,
	[dt_inativou] [datetime] NULL,
	[tipo_funcionario] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [FK_ID_LIDER_PONTO]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [FK_ID_LIDER_PONTO] ON [dbo].[zcrmportal_hierarquia_lider_func_ponto]
(
	[id_lider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_hierarquia_lider_func_ponto]  WITH CHECK ADD  CONSTRAINT [FK__zcrmporta__id_li__ponto] FOREIGN KEY([id_lider])
REFERENCES [dbo].[zcrmportal_hierarquia_lider_ponto] ([id])
GO
ALTER TABLE [dbo].[zcrmportal_hierarquia_lider_func_ponto] CHECK CONSTRAINT [FK__zcrmporta__id_li__ponto]
GO
