USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_workflow_faltas]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_workflow_faltas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codcoligada] [smallint] NOT NULL,
	[chapa_colab] [varchar](20) NOT NULL,
	[nome_colab] [varchar](100) NULL,
	[prim_falta] [date] NULL,
	[faltas_finais] [smallint] NULL,
	[chapa_gestor1] [varchar](20) NULL,
	[nome_gestor1] [varchar](100) NULL,
	[email_gestor1] [varchar](100) NULL,
	[presdir1] [varchar](1) NULL,
	[gestor_sub1] [varchar](20) NULL,
	[nome_sub1] [varchar](100) NULL,
	[email_sub1] [varchar](100) NULL,
	[chapa_gestor2] [varchar](20) NULL,
	[nome_gestor2] [varchar](100) NULL,
	[email_gestor2] [varchar](100) NULL,
	[presdir2] [varchar](1) NULL,
	[gestor_sub2] [varchar](20) NULL,
	[nome_sub2] [varchar](100) NULL,
	[email_sub2] [varchar](100) NULL,
	[dtcad] [date] NULL,
	[usucad] [bigint] NULL,
	[usualt] [bigint] NULL,
	[dtalt] [date] NULL,
	[status] [varchar](30) NULL,
	[dtenvio1] [date] NULL,
	[dtenvio2] [date] NULL,
	[dtaprovado] [date] NULL,
	[chapa_aprovou] [varchar](20) NULL,
	[dtrecusado] [date] NULL,
	[chapa_recusou] [varchar](20) NULL,
	[motivo_recusa] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
