USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_beneficio_grupo]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_beneficio_grupo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](2) NULL,
	[descricao] [varchar](255) NULL,
	[aplica] [int] NULL,
	[target] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
