USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_premios_acessos]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_premios_acessos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_premio] [bigint] NOT NULL,
	[dtini_req] [date] NOT NULL,
	[dtfim_req] [date] NOT NULL,
	[dtini_ponto] [date] NOT NULL,
	[dtfim_ponto] [date] NOT NULL,
	[status] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_premios_acessos] ADD  DEFAULT ('A') FOR [status]
GO
