USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_cron_rm_x_portal]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_cron_rm_x_portal](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NULL,
	[chapa] [varchar](30) NULL,
	[nome] [varchar](255) NULL,
	[tipo] [varchar](255) NULL,
	[mensagem] [varchar](5000) NULL,
	[dtcad] [datetime] NULL,
	[usucad] [varchar](100) NULL,
	[usurm] [varchar](255) NULL
) ON [PRIMARY]
GO
