USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_cartas]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_cartas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [nvarchar](2) NOT NULL,
	[descricao] [nvarchar](255) NOT NULL,
	[funcao] [nvarchar](2000) NULL,
	[filial] [nvarchar](2000) NULL,
	[secao] [nvarchar](2000) NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL,
	[inativo] [smallint] NULL,
	[usuinativo] [bigint] NULL,
	[dtinativo] [datetime] NULL,
	[tipo] [smallint] NULL,
 CONSTRAINT [zcrmportal_cartas_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
