USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_hierarquia_hist]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_hierarquia_hist](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_hierarquia] [bigint] NULL,
	[id_hierarquia_pai] [bigint] NULL,
	[id_grupocargo] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
