USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_premios_requisicao_chapas]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_premios_requisicao_chapas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_requisicao] [bigint] NOT NULL,
	[tipo] [varchar](1) NOT NULL,
	[chapa] [varchar](16) NULL,
	[id_coligada] [bigint] NOT NULL,
	[target] [numeric](6, 2) NULL,
	[realizado] [numeric](6, 2) NULL,
	[status] [varchar](1) NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[dias_faltas] [bigint] NULL,
	[dias_admissao] [bigint] NULL,
	[dias_demissao] [bigint] NULL,
	[dias_ferias] [bigint] NULL,
	[dias_atestado] [bigint] NULL,
	[dias_afast] [bigint] NULL,
	[defla_faltas] [numeric](6, 2) NULL,
	[defla_admissao] [numeric](6, 2) NULL,
	[defla_demissao] [numeric](6, 2) NULL,
	[defla_ferias] [numeric](6, 2) NULL,
	[defla_atestado] [numeric](6, 2) NULL,
	[defla_afast] [numeric](6, 2) NULL,
	[valor_base] [numeric](15, 2) NULL,
	[resultado] [numeric](6, 2) NULL,
	[valor_premio] [numeric](15, 2) NULL,
	[obs] [varchar](1000) NULL,
	[datas_faltas] [varchar](500) NULL,
	[datas_admissao] [varchar](500) NULL,
	[datas_demissao] [varchar](500) NULL,
	[datas_ferias] [varchar](500) NULL,
	[datas_atestado] [varchar](500) NULL,
	[datas_afast] [varchar](500) NULL,
	[chapa_coordenador] [varchar](16) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_premios_requisicao_chapas] ADD  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [dbo].[zcrmportal_premios_requisicao_chapas] ADD  DEFAULT ((0)) FOR [defla_faltas]
GO
ALTER TABLE [dbo].[zcrmportal_premios_requisicao_chapas] ADD  DEFAULT ((0)) FOR [defla_admissao]
GO
ALTER TABLE [dbo].[zcrmportal_premios_requisicao_chapas] ADD  DEFAULT ((0)) FOR [defla_demissao]
GO
ALTER TABLE [dbo].[zcrmportal_premios_requisicao_chapas] ADD  DEFAULT ((0)) FOR [defla_ferias]
GO
ALTER TABLE [dbo].[zcrmportal_premios_requisicao_chapas] ADD  DEFAULT ((0)) FOR [defla_atestado]
GO
ALTER TABLE [dbo].[zcrmportal_premios_requisicao_chapas] ADD  DEFAULT ((0)) FOR [defla_afast]
GO
