USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[VW_REL_PERFILRH_60_64]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_REL_PERFILRH_60_64] AS
SELECT
  zu.login,
  zu.nome,
  zu.email,
  MAX(CASE WHEN zup.id_perfil = '60' THEN 'Tem acesso' ELSE 'Não tem acesso' END) AS id_perfil_60,
  MAX(CASE WHEN zup.id_perfil = '64' THEN 'Tem acesso' ELSE 'Não tem acesso' END) AS id_perfil_64
FROM zcrmportal_usuario zu
LEFT JOIN zcrmportal_usuarioperfil zup
  ON zu.id = zup.id_usuario
  AND zup.id_perfil IN ('60', '64')
GROUP BY zu.id, zu.login, zu.nome, zu.email;
GO
