USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_hierarquia_ponto_lider_func]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_hierarquia_ponto_lider_func](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[id_hierarquia] [bigint] NOT NULL,
	[chapa_lider] [varchar](30) NOT NULL,
	[chapa_funcionario] [varchar](30) NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[inativo] [smallint] NULL,
	[usu_inativo] [varchar](100) NULL,
	[dt_inativo] [datetime] NULL,
	[id_lider] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
