USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ponto_abono_atestado]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ponto_abono_atestado](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[dtponto] [date] NOT NULL,
	[arquivo] [text] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[chapa] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_ATESTADO_DIA]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_ATESTADO_DIA] ON [dbo].[zcrmportal_ponto_abono_atestado]
(
	[coligada] ASC,
	[dtponto] ASC,
	[chapa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
