USE [PortalRHDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[EXTRAIR_DADOS_JSON]    Script Date: 02/08/2025 09:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[EXTRAIR_DADOS_JSON] (@json NVARCHAR(MAX))
RETURNS @Ids TABLE (Id INT)
AS
BEGIN
    DECLARE @array NVARCHAR(MAX), @posInicial INT, @posFinal INT, @valor NVARCHAR(10)

    -- Remove colchetes do início e fim do JSON
    SET @array = LTRIM(RTRIM(REPLACE(REPLACE(@json, '[', ''), ']', '')))
    
    -- Separa os valores por vírgulas
    WHILE CHARINDEX(',', @array) > 0
    BEGIN
        SET @valor = LEFT(@array, CHARINDEX(',', @array) - 1)
        SET @valor = REPLACE(@valor, '"', '') -- Remove aspas
        INSERT INTO @Ids (Id) VALUES (CAST(@valor AS INT)) -- Converte para INT
        SET @array = LTRIM(SUBSTRING(@array, CHARINDEX(',', @array) + 1, LEN(@array)))
    END

    -- Insere o último valor (sem vírgula restante)
    IF LEN(@array) > 0
    BEGIN
        SET @array = REPLACE(@array, '"', '') -- Remove aspas
        INSERT INTO @Ids (Id) VALUES (CAST(@array AS INT)) -- Converte para INT
    END

    RETURN
END
GO
