USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ocorrencia_importacao_log]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ocorrencia_importacao_log](
	[arquivo] [text] NULL,
	[datacadastro] [datetime] NULL,
	[sucesso] [smallint] NULL,
	[erro] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
