USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_hierarquia_lider_ponto]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_hierarquia_lider_ponto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_hierarquia] [bigint] NOT NULL,
	[chapa] [varchar](30) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[nivel] [smallint] NOT NULL,
	[perini] [datetime] NOT NULL,
	[perfim] [datetime] NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[inativo] [smallint] NULL,
	[usu_inativou] [bigint] NULL,
	[dt_inativou] [datetime] NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL,
	[response_sap] [text] NULL,
	[operacao] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
