USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_workflow_faltas_config]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_workflow_faltas_config](
	[codcoligada] [int] NOT NULL,
	[dias_faltas] [int] NOT NULL,
	[dias_de_espera] [int] NOT NULL,
	[dias_para_escalar] [int] NOT NULL,
	[usualt] [bigint] NOT NULL,
	[dtalt] [datetime] NOT NULL,
	[email_rh] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[codcoligada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_workflow_faltas_config] ADD  DEFAULT ((10)) FOR [dias_faltas]
GO
ALTER TABLE [dbo].[zcrmportal_workflow_faltas_config] ADD  DEFAULT ((5)) FOR [dias_de_espera]
GO
ALTER TABLE [dbo].[zcrmportal_workflow_faltas_config] ADD  DEFAULT ((3)) FOR [dias_para_escalar]
GO
