USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_escala]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_escala](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chapa] [varchar](30) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[datamudanca] [datetime] NOT NULL,
	[codhorario] [varchar](20) NOT NULL,
	[codindice] [int] NOT NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL,
	[situacao] [int] NULL,
	[usuapr] [bigint] NULL,
	[dtapr] [datetime] NULL,
	[chapa_solicitante] [varchar](30) NOT NULL,
	[ususinc] [bigint] NULL,
	[dtsinc] [datetime] NULL,
	[usurh] [bigint] NULL,
	[dtrh] [datetime] NULL,
	[documento] [text] NULL,
	[dtupload] [datetime] NULL,
	[usuupload] [bigint] NULL,
	[dtcancelado] [datetime] NULL,
	[usucancelado] [bigint] NULL,
	[motivocancelado] [varchar](100) NULL,
	[justificativa_11_horas] [varchar](1000) NULL,
	[justificativa_6_dias] [varchar](1000) NULL,
	[justificativa_6_meses] [varchar](1000) NULL,
	[termo_obrigatorio] [smallint] NULL,
	[tipo] [smallint] NULL,
	[datamudanca_folga] [datetime] NULL,
	[codindice_folga] [int] NULL,
	[justificativa_periodo] [varchar](1000) NULL,
	[config_escala_per_ini] [datetime] NULL,
	[config_escala_per_fim] [datetime] NULL,
	[config_dia_per_ini] [datetime] NULL,
	[config_dia_per_fim] [datetime] NULL,
	[bloqueio_aviso] [smallint] NULL,
	[projecao] [text] NULL,
	[projecao_folga] [text] NULL,
	[justificativa_3_dias] [varchar](1000) NULL,
	[envio_gestor1] [date] NULL,
	[envio_gestor2] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_escala] ADD  DEFAULT ((0)) FOR [situacao]
GO
ALTER TABLE [dbo].[zcrmportal_escala] ADD  DEFAULT ((1)) FOR [tipo]
GO
ALTER TABLE [dbo].[zcrmportal_escala] ADD  DEFAULT (NULL) FOR [envio_gestor1]
GO
ALTER TABLE [dbo].[zcrmportal_escala] ADD  DEFAULT (NULL) FOR [envio_gestor2]
GO
