USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ocorrencia_horario]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ocorrencia_horario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](10) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[extra_feriado] [smallint] NULL,
	[escala_especial] [smallint] NULL,
	[dtcad] [datetime] NULL,
	[usucad] [bigint] NULL,
	[dtalt] [datetime] NULL,
	[usualt] [bigint] NULL,
	[extra_limite_diario] [smallint] NULL,
	[extra_limite_semanal] [smallint] NULL,
	[extra_feriado_parcial] [smallint] NULL,
	[tipo_horario] [varchar](1) NULL,
	[intervalo_obrigatorio] [smallint] NULL,
	[planejado_inicio] [int] NULL,
	[planejado_termino] [int] NULL,
	[intervalo_fracionado] [int] NULL
) ON [PRIMARY]
GO
