USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_tabela_salarial_gs]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_tabela_salarial_gs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_tabelasalarial] [bigint] NOT NULL,
	[gs] [varchar](10) NOT NULL,
	[vl_80] [decimal](18, 2) NOT NULL,
	[vl_90] [decimal](18, 2) NOT NULL,
	[vl_100] [decimal](18, 2) NOT NULL,
	[vl_110] [decimal](18, 2) NOT NULL,
	[vl_120] [decimal](18, 2) NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [varchar](100) NULL,
	[dtalt] [datetime] NULL,
	[coligada] [varchar](5) NULL,
	[inativo] [smallint] NULL,
	[tipo_tabela] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
