USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_agt_log]    Script Date: 02/08/2025 09:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_agt_log](
	[idtarefa] [bigint] NOT NULL,
	[executada] [datetime] NOT NULL,
	[status] [varchar](1) NULL,
	[mensagem] [text] NULL,
	[tempo] [time](7) NULL,
 CONSTRAINT [PK_zcrmportal_agt_log] PRIMARY KEY CLUSTERED 
(
	[idtarefa] ASC,
	[executada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
