USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[DATA_PROCESSAMENTO]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DATA_PROCESSAMENTO] AS


SELECT
	id,
	coligada,
	CASE 
		WHEN dataDefinicao < previsao THEN CAST(previsao AS DATE)
		ELSE CAST(dataDefinicao AS DATE)
	END data_processamento
FROM (
	
	SELECT
		*,
	
		CASE 
			WHEN diaAprovacao > diaLimite THEN CONVERT(VARCHAR, DATEADD(MONTH, 1, diaAprovacao), 112)
			WHEN previsao > diaLimite THEN CONVERT(VARCHAR, DATEADD(MONTH, 1, SUBSTRING(ISNULL(diaAprovacao,''),1,6)+'01'), 112) --CONVERT(VARCHAR, DATEADD(MONTH, 1, diaAprovacao), 103)
			WHEN diaAprovacao IS NOT NULL THEN CONVERT(VARCHAR, SUBSTRING(ISNULL(diaAprovacao,''),1,6)+'01', 112)
			ELSE NULL
		END dataDefinicao
	
	 FROM (
	
		SELECT
			*,
			CASE
				WHEN aprova_medicina = 1 AND dt_apr_medicina IS NOT NULL THEN CONVERT(VARCHAR, dt_apr_medicina, 112)
				WHEN aprova_medicina = 1 AND dt_apr_medicina IS NULL THEN NULL
				WHEN dt_aprgestor IS NOT NULL THEN CONVERT(VARCHAR, dt_aprgestor, 112)
				ELSE NULL
			END diaAprovacao,
			
			CASE
				WHEN aprova_medicina = 1 AND dt_apr_medicina IS NOT NULL THEN SUBSTRING(CONVERT(VARCHAR, dt_apr_medicina, 112), 1, 6) + CAST(REPLICATE('0', 2 - LEN(dia_limite)) + RTrim(dia_limite) AS VARCHAR)
				WHEN aprova_medicina = 1 AND dt_apr_medicina IS NULL THEN NULL
				WHEN dt_aprgestor IS NOT NULL THEN SUBSTRING(CONVERT(VARCHAR, dt_aprgestor, 112 ), 1, 8) + CAST(REPLICATE('0', 2 - LEN(dia_limite)) + RTrim(dia_limite) AS VARCHAR)
				ELSE NULL
			END diaLimite
			
		FROM (
		
		
			SELECT 
				
				a.dt_apr_medicina,
				CONVERT(VARCHAR, a.previsao, 112) previsao,
			   	------ DATA DA APROVAÇÃO DO GESTOR / ULTIMO APROVADOR HIERARQUIA ------
				(SELECT 
					TOP 1
					SA.dtcad
				FROM 
					zcrmportal_requisicao_aprovacao SA
				WHERE 
					SA.id_requisicao = a.id
					AND SA.tipo = 'H'
					AND (SELECT COUNT(*) FROM zcrmportal_requisicao_aprovacao WHERE id_requisicao = SA.id_requisicao) > 1 
				ORDER BY
					SA.dtcad DESC
				) dt_aprgestor,
				a.aprova_medicina,
				b.dia_limite,
				a.id,
				a.coligada
			  
			FROM 
				zcrmportal_requisicao a
				LEFT JOIN zcrmportal_requisicao_config b ON b.coligada = a.coligada
		
		)X
		
	)Y

)Z
GO
