USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_demissao_workflow]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_demissao_workflow](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](10) NOT NULL,
	[descricao] [varchar](255) NOT NULL,
	[tipocampo] [varchar](255) NOT NULL,
	[tipodemissao] [varchar](10) NOT NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[idgrupo] [bigint] NULL,
	[email] [varchar](255) NULL,
	[msgemail] [text] NULL,
	[preposto] [int] NULL,
	[bpo] [int] NULL,
	[ordem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[usucad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_workflow] ADD  DEFAULT (NULL) FOR [idgrupo]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_workflow] ADD  DEFAULT (NULL) FOR [email]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_workflow] ADD  DEFAULT (NULL) FOR [preposto]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_workflow] ADD  DEFAULT (NULL) FOR [bpo]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_workflow] ADD  DEFAULT (NULL) FOR [ordem]
GO
