USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_requisicao_cedido]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_requisicao_cedido](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[chapa] [varchar](50) NOT NULL,
	[codsecao] [varchar](100) NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[situacao] [smallint] NOT NULL,
	[usuaceito] [varchar](100) NULL,
	[dtaceito] [datetime] NULL,
	[motivorep] [text] NULL,
	[usurep] [varchar](100) NULL,
	[dtrep] [datetime] NULL,
	[dt_movimentacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_CHAPACEDIDOSECAO]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_CHAPACEDIDOSECAO] ON [dbo].[zcrmportal_requisicao_cedido]
(
	[coligada] ASC,
	[chapa] ASC,
	[codsecao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_requisicao_cedido] ADD  DEFAULT ((0)) FOR [situacao]
GO
