USE [PortalRHDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[CALCULA_SOMATORIA_RV]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CALCULA_SOMATORIA_RV] (
    @ano VARCHAR (4),
    @tipo VARCHAR (5),
    @centro_custo VARCHAR (50),
    @mes_fim_meritocracia INT,
    @mes_inicio_meritocracia INT 
)
RETURNS TABLE
AS
RETURN


SELECT SUM(TABELA_RV) AS TABELA_RV FROM (
		
		/* (SALARIO NOVO * MULTIPLO RV DO SALARIO NOVO ) - (SALARIO ATUAL * MULTIPLO RV DO SALARIO ATUAL) */
SELECT (((ISNULL(A.salario_novo,0)) * F.multimo) - (ISNULL(A.salario_atual,0) * I.multimo)) AS TABELA_RV
				 FROM zcrmportal_meritocracia_dados A 
				 INNER JOIN zcrmportal_meritocracia B ON A.id_meritocracia = B.id 
				 LEFT JOIN zcrmportal_requisicao_meritocracia C ON A.id_meritocracia = C.id_meritocracia AND A.chapa = C.chapa AND A.coligada = C.coligada
				 
				 /* GRUPO DE CARGO DO NOVO CARGO */
				 LEFT JOIN zcrmportal_salario_funcao D ON (CASE WHEN A.cargo_novo IS NOT NULL THEN A.cargo_novo ELSE A.cargo_atual END)  = D.codigo AND 1 = D.coligada
				 LEFT JOIN zcrmportal_salario_dados E ON E.id_item = '3' AND E.id_funcao = D.id AND E.coligada = 1 AND E.id_subgrupo = '3'
				 
				 /* GRUPO DE CARGO DO CARGO ATUAL */
				 LEFT JOIN zcrmportal_salario_funcao DD ON  A.cargo_atual = DD.codigo AND 1 = DD.coligada
				 LEFT JOIN zcrmportal_salario_dados EE ON EE.id_item = '3' AND EE.id_funcao = DD.id AND EE.coligada = 1 AND EE.id_subgrupo = '3'
				 
				LEFT JOIN zcrmportal_posicao G ON G.id = DBO.getExplode(A.codposicao,'.',1)
				LEFT JOIN zcrmportal_posicao_salario H ON G.id = H.id_posicao AND H.id = DBO.getExplode(A.codposicao,'.',2)
				
				/* TABELA RV DO NOVO CARGO */
				LEFT JOIN zcrmportal_tabela_rv F ON F.coligada = E.coligada AND F.filial = /* A.codfilial */  (CASE WHEN A.codposicao IS NOT NULL THEN CAST(SUBSTRING(G.codsecao, 0 ,4) AS INT) ELSE A.codfilial END) AND F.codcargo = E.valor_texto 
				
				/* TABELA RV DO CARGO ATUAL */
				LEFT JOIN zcrmportal_tabela_rv I ON I.coligada = EE.coligada AND I.filial = A.codfilial  AND I.codcargo = EE.valor_texto 
				
	WHERE  B.ano = @ano AND A.ignora_calculo IS NULL AND A.inativo IS NULL AND A.tipo = @tipo AND (CASE WHEN A.codposicao IS NOT NULL THEN (SUBSTRING(G.codsecao, 5,5)) ELSE A.centrocusto END) = @centro_custo COLLATE Latin1_General_CI_AS AND (C.situacao IS NULL OR C.situacao NOT IN('9'))

) X
GO
