USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[GESTORES_ABAIXO_COORDENADOR_BKP]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GESTORES_ABAIXO_COORDENADOR_BKP] AS

with coordenadores as
(
select 
	a.id		    as coord_id,
	a.id_hierarquia as hiera_id,
	a.coligada	    as col_id
from PortalRHPRD..zcrmportal_hierarquia a
left join PortalRHPRD..zcrmportal_hierarquia_grupocargo b on b.id = a.id_grupocargo
where 
	b.descricao = '04 - Coordenador' and
	a.inativo is null
),
gerentes as
(
select 
	a.id			as ger_id,
	a.id_hierarquia as hiera_id,
	a.coligada		as col_id,
	c.coord_id		as coord_id
from PortalRHPRD..zcrmportal_hierarquia a
left join PortalRHPRD..zcrmportal_hierarquia_grupocargo b on b.id = a.id_grupocargo
left join coordenadores c on c.hiera_id = a.id and c.col_id = a.coligada
where 
	b.descricao = '03 - Gerente' and
	a.inativo is null and 
	c.coord_id is null
),
ger_geral as
(
select 
	a.id			as gerg_id,
	a.id_hierarquia as hiera_id,
	a.coligada		as col_id,
	c.coord_id		as coord_id,
	d.ger_id        as ger_id
from PortalRHPRD..zcrmportal_hierarquia a
left join PortalRHPRD..zcrmportal_hierarquia_grupocargo b on b.id = a.id_grupocargo
left join coordenadores c on c.hiera_id = a.id and c.col_id = a.coligada
left join gerentes d on d.hiera_id = a.id and c.col_id = a.coligada
where 
	b.descricao = '02 - Gerente Geral' and
	a.inativo is null and 
	c.coord_id is null and 
	d.ger_id is null
),
diretores as
(
select 
	a.id			as dir_id,
	a.id_hierarquia as hiera_id,
	a.coligada		as col_id,
	c.coord_id		as coord_id,
	d.ger_id        as ger_id,
	e.gerg_id       as gerg_id
from PortalRHPRD..zcrmportal_hierarquia a
left join PortalRHPRD..zcrmportal_hierarquia_grupocargo b on b.id = a.id_grupocargo
left join coordenadores c on c.hiera_id = a.id and c.col_id = a.coligada
left join gerentes d on d.hiera_id = a.id and d.col_id = a.coligada
left join ger_geral e on e.hiera_id = a.id and e.col_id = a.coligada
where 
	b.descricao = '01 - Diretor' and
	a.inativo is null and 
	c.coord_id is null and 
	d.ger_id is null and 
	e.gerg_id is null
),
aprovadores as
(
select coord_id, col_id from coordenadores 
union 
select ger_id as coord_id, col_id from gerentes 
union 
select gerg_id as coord_id, col_id from ger_geral
union 
select dir_id as coord_id, col_id from diretores
),
n1 as 
(
select 
    g.col_id,
	g.coord_id,
	a.id as n1_id
from aprovadores g
left join PortalRHPRD..zcrmportal_hierarquia a on g.coord_id = a.id_hierarquia and g.col_id = a.coligada
where 
	a.inativo is null
),
n2 as 
(
select 
    g.col_id,
	g.coord_id,
	g.n1_id,
	a.id as n2_id
from n1 g
left join PortalRHPRD..zcrmportal_hierarquia a on g.n1_id = a.id_hierarquia and g.col_id = a.coligada
where 
	a.inativo is null
),
n3 as
(
select 
    g.col_id,
	g.coord_id,
	g.n1_id,
	g.n2_id,
	a.id as n3_id
from n2 g
left join PortalRHPRD..zcrmportal_hierarquia a on g.n2_id = a.id_hierarquia and g.col_id = a.coligada
where 
	a.inativo is null
)
select 
    g.col_id,
	g.coord_id,
	a.chapa		as coord_chapa,
	g.n1_id,
	b.chapa		as n1_chapa,
	g.n2_id,
	c.chapa		as n2_chapa,
	g.n3_id,
	d.chapa		as n3_chapa
from n3 g
left join PortalRHPRD..zcrmportal_hierarquia_chapa a on g.coord_id = a.id_hierarquia and g.col_id = a.coligada
left join PortalRHPRD..zcrmportal_hierarquia_chapa b on g.n1_id = b.id_hierarquia and g.col_id = a.coligada
left join PortalRHPRD..zcrmportal_hierarquia_chapa c on g.n2_id = c.id_hierarquia and g.col_id = a.coligada
left join PortalRHPRD..zcrmportal_hierarquia_chapa d on g.n3_id = d.id_hierarquia and g.col_id = a.coligada
where 
	a.inativo is null
GO
