USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_hierarquia_chapa]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_hierarquia_chapa](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_hierarquia] [bigint] NULL,
	[chapa] [varchar](20) NULL,
	[coligada] [varchar](5) NULL,
	[usucad] [varchar](100) NULL,
	[dtcad] [datetime] NULL,
	[inativo] [smallint] NULL,
	[coligada_origem] [varchar](5) NULL,
	[dtalt] [datetime] NULL,
	[usualt] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
