USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_salario_subgrupo]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_salario_subgrupo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_grupo] [bigint] NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[descricao] [varchar](255) NOT NULL,
	[dtcadastro] [datetime] NOT NULL,
	[usucad] [bigint] NOT NULL,
	[usualt] [bigint] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_salario_subgrupo]  WITH CHECK ADD  CONSTRAINT [FK__zcrmporta__id_gr__658C0CBD] FOREIGN KEY([id_grupo])
REFERENCES [dbo].[zcrmportal_salario_grupos] ([id])
GO
ALTER TABLE [dbo].[zcrmportal_salario_subgrupo] CHECK CONSTRAINT [FK__zcrmporta__id_gr__658C0CBD]
GO
