USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_financeiro_log]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_financeiro_log](
	[uuid] [varchar](36) NULL,
	[message] [text] NULL,
	[type] [smallint] NULL,
	[process] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[timestamp_at] [timestamp] NOT NULL,
	[json] [text] NULL,
	[GUID] [varchar](200) NULL,
	[TIPO] [varchar](10) NULL,
	[response_sap] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
