USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_demissao_quesitos]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_demissao_quesitos](
	[idemp] [varchar](20) NULL,
	[tiporeq] [varchar](20) NULL,
	[idquesito] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [text] NULL,
	[tipocampo] [varchar](20) NULL,
	[dtcadastro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idquesito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_quesitos] ADD  DEFAULT (NULL) FOR [idemp]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_quesitos] ADD  DEFAULT (NULL) FOR [tiporeq]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_quesitos] ADD  DEFAULT (NULL) FOR [tipocampo]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_quesitos] ADD  DEFAULT (NULL) FOR [dtcadastro]
GO
