USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_premios]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_premios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[descricao] [varchar](1000) NOT NULL,
	[dt_vigencia] [datetime] NULL,
	[codcoligada] [varchar](5) NOT NULL,
	[status] [varchar](1) NOT NULL,
	[base_salario] [varchar](1) NULL,
	[valor_base] [numeric](15, 2) NULL,
	[codevento] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
