USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_meritocracia_log_finalizado]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_meritocracia_log_finalizado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ano] [varchar](5) NULL,
	[dt_finalizado] [datetime] NULL,
	[usu_finalizado] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
