USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_demissao_req_msg]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_demissao_req_msg](
	[idmsg] [bigint] IDENTITY(1,1) NOT NULL,
	[idreq] [bigint] NOT NULL,
	[idemp] [bigint] NOT NULL,
	[msg] [text] NOT NULL,
	[idusu] [bigint] NOT NULL,
	[dtcadastro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idmsg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
