USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[GESTORES_ACIMA]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GESTORES_ACIMA] AS

WITH NIVEL0 AS (
	SELECT DISTINCT
		CODCOLIGADA,
		GESTOR_CHAPA,
		GRUPOCARGO
	FROM GESTOR_CHAPA_PREMIOS
	WHERE CODSITUACAO_GESTOR <> 'D'
),
NIVEL1 AS (
	SELECT DISTINCT
		N0.CODCOLIGADA,
		N0.GESTOR_CHAPA,
		N0.GRUPOCARGO,
		G.GESTOR_CHAPA  AS GESTOR_N1,
		G.GRUPOCARGO    AS GRUPOCARGO_N1
	FROM NIVEL0 N0
	LEFT JOIN GESTOR_CHAPA_PREMIOS G ON
		G.CODCOLIGADA = N0.CODCOLIGADA AND
		G.CHAPA_COLAB = N0.GESTOR_CHAPA COLLATE Latin1_General_CI_AS AND
		G.CHAPA_COLAB <> G.GESTOR_CHAPA COLLATE Latin1_General_CI_AS
),
NIVEL2 AS (
	SELECT DISTINCT
		N1.CODCOLIGADA,
		N1.GESTOR_CHAPA,
		N1.GRUPOCARGO,
		N1.GESTOR_N1,
		N1.GRUPOCARGO_N1,
		G.GESTOR_CHAPA  AS GESTOR_N2,
		G.GRUPOCARGO    AS GRUPOCARGO_N2
	FROM NIVEL1 N1
	LEFT JOIN GESTOR_CHAPA_PREMIOS G ON
		G.CODCOLIGADA = N1.CODCOLIGADA AND
		G.CHAPA_COLAB = N1.GESTOR_N1 COLLATE Latin1_General_CI_AS AND
		G.CHAPA_COLAB <> G.GESTOR_CHAPA COLLATE Latin1_General_CI_AS
),
NIVEL3 AS (
	SELECT DISTINCT
		N2.CODCOLIGADA,
		N2.GESTOR_CHAPA,
		N2.GRUPOCARGO,
		N2.GESTOR_N1,
		N2.GRUPOCARGO_N1,
		N2.GESTOR_N2,
		N2.GRUPOCARGO_N2,
		G.GESTOR_CHAPA  AS GESTOR_N3,
		G.GRUPOCARGO    AS GRUPOCARGO_N3
	FROM NIVEL2 N2
	LEFT JOIN GESTOR_CHAPA_PREMIOS G ON
		G.CODCOLIGADA = N2.CODCOLIGADA AND
		G.CHAPA_COLAB = N2.GESTOR_N2 COLLATE Latin1_General_CI_AS AND
		G.CHAPA_COLAB <> G.GESTOR_CHAPA COLLATE Latin1_General_CI_AS
)/*,
NIVEL4 AS (*/
	SELECT DISTINCT
		N3.CODCOLIGADA,
		N3.GESTOR_CHAPA,
		N3.GRUPOCARGO,
		N3.GESTOR_N1,
		N3.GRUPOCARGO_N1,
		N3.GESTOR_N2,
		N3.GRUPOCARGO_N2,
		N3.GESTOR_N3,
		N3.GRUPOCARGO_N3,
		G.GESTOR_CHAPA  AS GESTOR_N4,
		G.GRUPOCARGO    AS GRUPOCARGO_N4
	FROM NIVEL3 N3
	LEFT JOIN GESTOR_CHAPA_PREMIOS G ON
		G.CODCOLIGADA = N3.CODCOLIGADA AND
		G.CHAPA_COLAB = N3.GESTOR_N3 COLLATE Latin1_General_CI_AS AND
		G.CHAPA_COLAB <> G.GESTOR_CHAPA COLLATE Latin1_General_CI_AS
/*)

*** ELIMINAMOS O NIVEL5 PORQUE TODOS OS REGISTROS VIERAM EM BRANCO E 
*** TIVEMOS GANHO DE 50% NA PERFORMANCE

SELECT DISTINCT
		N4.CODCOLIGADA,
		N4.GESTOR_CHAPA,
		N4.GESTOR_N1,
		N4.GESTOR_N2,
		N4.GESTOR_N3,
		N4.GESTOR_N4,
		G.GESTOR_CHAPA  AS GESTOR_N5
	FROM NIVEL4 N4
	LEFT JOIN GESTOR_CHAPA_PREMIOS G ON
		G.CODCOLIGADA = N4.CODCOLIGADA AND
		G.CHAPA_COLAB = N4.GESTOR_N4 COLLATE Latin1_General_CI_AS AND
		G.CHAPA_COLAB <> G.GESTOR_CHAPA COLLATE Latin1_General_CI_AS
*/
GO
