USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[EMAIL_CHAPA]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[EMAIL_CHAPA] AS
SELECT 
	DISTINCT
	A.CHAPA,
	A.NOME,
	D.coligada AS CODCOLIGADA,
	C.email EMAIL,
	A.CODSITUACAO,
	D.id_hierarquia
FROM
	CorporeRMDEV..PFUNC A,
	CorporeRMDEV..PPESSOA B,
	PortalRHDEV..zcrmportal_usuario C,
	PortalRHDEV..zcrmportal_hierarquia_chapa D
WHERE
	A.CODPESSOA = B.CODIGO
	AND C.login = B.CPF COLLATE Latin1_General_CI_AS
	AND D.chapa = A.CHAPA COLLATE Latin1_General_CI_AS
	AND A.CODCOLIGADA = (CASE WHEN D.coligada_origem IS NULL THEN coligada ELSE coligada_origem END)
	AND D.inativo IS NULL
GO
