USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_demissao_estabilidade]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_demissao_estabilidade](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](100) NULL,
	[id_req] [bigint] NULL,
	[chapa] [varchar](50) NULL,
	[usuapr] [varchar](100) NULL,
	[dtapr] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_estabilidade] ADD  DEFAULT (NULL) FOR [tipo]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_estabilidade] ADD  DEFAULT (NULL) FOR [id_req]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_estabilidade] ADD  DEFAULT (NULL) FOR [chapa]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_estabilidade] ADD  DEFAULT (NULL) FOR [usuapr]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_estabilidade] ADD  DEFAULT (NULL) FOR [dtapr]
GO
