USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_requisicao_aprovadores_grupo]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_requisicao_aprovadores_grupo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[apr_secao] [smallint] NULL,
	[apr_funcao] [smallint] NULL,
	[apr_salario] [smallint] NULL,
	[apr_horario] [smallint] NULL,
	[coligada] [varchar](5) NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_GRUPO]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_GRUPO] ON [dbo].[zcrmportal_requisicao_aprovadores_grupo]
(
	[apr_secao] ASC,
	[apr_funcao] ASC,
	[apr_salario] ASC,
	[apr_horario] ASC,
	[coligada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
