USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ponto_ats_totalizador]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ponto_ats_totalizador](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cpf] [varchar](100) NOT NULL,
	[data_gravacao] [datetime] NOT NULL,
	[horas_em_espera] [int] NOT NULL,
	[horas_de_direcao] [int] NOT NULL,
	[data_importacao] [datetime] NOT NULL,
	[horas_parado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
