USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_agt_agtipos]    Script Date: 02/08/2025 09:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_agt_agtipos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idemp] [varchar](20) NULL,
	[nome] [varchar](40) NULL,
	[descr] [text] NULL,
 CONSTRAINT [PK_zcrmportal_agt_agtipos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
