USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_variaveis_parametros]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_variaveis_parametros](
	[coligada] [nvarchar](2) NOT NULL,
	[tipo] [smallint] NOT NULL,
	[parametros] [text] NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL,
 CONSTRAINT [zcrmportal_variaveis_parametros_primary] PRIMARY KEY CLUSTERED 
(
	[coligada] ASC,
	[tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
