USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_demissao_req_quesitos]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_demissao_req_quesitos](
	[idreq] [bigint] NOT NULL,
	[idquesito] [bigint] NOT NULL,
	[valor] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idreq] ASC,
	[idquesito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
