USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_premios_requisicao_aprovacao]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_premios_requisicao_aprovacao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_requisicao] [bigint] NOT NULL,
	[chapa_coordenador] [varchar](16) NOT NULL,
	[status] [varchar](1) NOT NULL,
	[dt_aprovacao] [date] NULL,
	[id_aprovador] [bigint] NULL,
	[chapa_aprov_reprov] [varchar](16) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_premios_requisicao_aprovacao] ADD  DEFAULT ('E') FOR [status]
GO
