USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_beneficio_periodos]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_beneficio_periodos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idtipo] [bigint] NOT NULL,
	[coligada] [varchar](2) NOT NULL,
	[mes] [varchar](2) NOT NULL,
	[ano] [varchar](4) NOT NULL,
	[dtcredito] [datetime] NOT NULL,
	[dtinicial] [datetime] NOT NULL,
	[dtfinal] [datetime] NOT NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usuapr] [varchar](100) NULL,
	[dtapr] [datetime] NULL,
	[status] [varchar](1) NOT NULL,
	[idmov] [text] NULL,
	[removido] [int] NULL,
 CONSTRAINT [PK_zcrmportal_beneficio_periodos] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[idtipo] ASC,
	[usucad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
