USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_simulador]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_simulador](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [nvarchar](2) NOT NULL,
	[acao] [nvarchar](2) NOT NULL,
	[chapa] [nvarchar](28) NULL,
	[posicao_nova] [nvarchar](30) NULL,
	[filial] [smallint] NULL,
	[secao] [nvarchar](30) NULL,
	[funcao] [nvarchar](30) NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[html_pdf] [text] NULL,
 CONSTRAINT [zcrmportal_simulador_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
