USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[ZCRMPORTAL_UNIMED]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCRMPORTAL_UNIMED](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codcoligada] [varchar](50) NULL,
	[Nome] [text] NULL,
	[chapa] [varchar](30) NULL,
	[pis] [varchar](11) NULL,
	[cpf] [varchar](11) NULL,
	[dtcad] [datetime] NULL,
	[dtmudanca] [datetime] NULL,
	[indice] [varchar](100) NULL,
	[tipo] [varchar](100) NULL,
	[cod_operacao] [varchar](30) NULL,
	[sincronizado] [int] NULL,
	[dtsincronizado] [datetime] NULL,
	[erro_unimed] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
