USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ocorrencia_tipo]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ocorrencia_tipo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[excesso_gestor] [int] NULL,
	[excesso_jornada] [int] NULL,
	[sobreaviso] [int] NULL,
	[troca_menor10] [int] NULL,
	[extra_acima] [int] NULL,
	[registro_bri] [int] NULL,
	[trabalho_dsr] [int] NULL,
	[troca_menor6] [int] NULL,
	[extra_especial] [int] NULL,
	[registro_manual] [int] NULL,
	[trabalho_AfastFerias] [int] NULL,
	[interjornada] [int] NULL,
	[req_troca] [int] NULL,
	[trabalho_sup6] [int] NULL,
	[coligada] [smallint] NULL,
	[trabalho_dsr_descanso] [int] NULL,
	[excesso_abono_gestor] [int] NULL,
	[extra_permitido] [int] NULL,
	[extra] [int] NULL,
	[jornada] [int] NULL,
	[registro_britanico] [int] NULL,
	[pendente_termo_aditivo] [int] NULL,
	[trabalho_dsr_folga] [int] NULL,
	[trabalho_dsr_folga_descanso] [int] NULL,
	[trabalho_ferias_afastamento] [int] NULL,
	[trabalho_6dias] [int] NULL,
	[troca_menor_10_dias] [int] NULL,
	[troca_menor_6_meses] [int] NULL,
	[intrajornada] [int] NULL
) ON [PRIMARY]
GO
