USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ponto_horas_reprova]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ponto_horas_reprova](
	[id] [bigint] NOT NULL,
	[dtponto] [date] NOT NULL,
	[movimento] [int] NULL,
	[ent1] [int] NULL,
	[sai1] [int] NULL,
	[ent2] [int] NULL,
	[sai2] [int] NULL,
	[ent3] [int] NULL,
	[sai3] [int] NULL,
	[ent4] [int] NULL,
	[sai4] [int] NULL,
	[ent5] [int] NULL,
	[sai5] [int] NULL,
	[dtcadastro] [datetime] NOT NULL,
	[chapa] [varchar](50) NOT NULL,
	[coligada] [varchar](2) NOT NULL,
	[status] [varchar](1) NOT NULL,
	[ident1] [bigint] NULL,
	[idsai1] [bigint] NULL,
	[ident2] [bigint] NULL,
	[idsai2] [bigint] NULL,
	[ident3] [bigint] NULL,
	[idsai3] [bigint] NULL,
	[ident4] [bigint] NULL,
	[idsai4] [bigint] NULL,
	[ident5] [bigint] NULL,
	[idsai5] [bigint] NULL,
	[natent1] [smallint] NULL,
	[natsai1] [smallint] NULL,
	[natent2] [smallint] NULL,
	[natsai2] [smallint] NULL,
	[natent3] [smallint] NULL,
	[natsai3] [smallint] NULL,
	[natent4] [smallint] NULL,
	[natsai4] [smallint] NULL,
	[natent5] [smallint] NULL,
	[natsai5] [smallint] NULL,
	[justent1] [varchar](50) NULL,
	[justsai1] [varchar](50) NULL,
	[justent2] [varchar](50) NULL,
	[justsai2] [varchar](50) NULL,
	[justent3] [varchar](50) NULL,
	[justsai3] [varchar](50) NULL,
	[justent4] [varchar](50) NULL,
	[justsai4] [varchar](50) NULL,
	[justent5] [varchar](50) NULL,
	[justsai5] [varchar](50) NULL,
	[dtrefent1] [datetime] NULL,
	[dtrefsai1] [datetime] NULL,
	[dtrefent2] [datetime] NULL,
	[dtrefsai2] [datetime] NULL,
	[dtrefent3] [datetime] NULL,
	[dtrefsai3] [datetime] NULL,
	[dtrefent4] [datetime] NULL,
	[dtrefsai4] [datetime] NULL,
	[dtrefent5] [datetime] NULL,
	[dtrefsai5] [datetime] NULL,
	[justificativa_abono_tipo] [varchar](55) NULL,
	[justificativa_abono_ent1] [bigint] NULL,
	[justificativa_abono_sai1] [bigint] NULL,
	[justificativa_abono_ent2] [bigint] NULL,
	[justificativa_abono_sai2] [bigint] NULL,
	[justificativa_abono_obs] [text] NULL,
	[justificativa_extra_tipo] [varchar](55) NULL,
	[justificativa_extra_obs] [text] NULL,
	[justificativa_anexo] [text] NULL,
	[abn_dtini] [datetime] NULL,
	[abn_dtfim] [datetime] NULL,
	[abn_horaini] [int] NULL,
	[abn_horafim] [int] NULL,
	[abn_codabono] [varchar](50) NULL,
	[usucad] [varchar](100) NULL,
	[apr_user] [varchar](100) NULL,
	[apr_data] [datetime] NULL,
	[aprgestor_user] [varchar](100) NULL,
	[aprgestor_data] [datetime] NULL,
	[aprrh_user] [varchar](100) NULL,
	[aprrh_data] [datetime] NULL,
	[motivo_reprova] [text] NULL,
	[justificativa_excecao] [varchar](50) NULL,
	[atitude_dt] [datetime] NULL,
	[atitude_ini] [int] NULL,
	[atitude_fim] [int] NULL,
	[atitude_justificativa] [varchar](50) NULL,
	[atitude_tipo] [int] NULL,
	[codfilial] [smallint] NULL,
	[id_hierarquia_gestor] [smallint] NULL,
	[gestor_usuapr] [bigint] NULL,
	[gestor_dtapr] [datetime] NULL,
	[ent1_file] [varchar](255) NULL,
	[sai1_file] [varchar](255) NULL,
	[ent2_file] [varchar](255) NULL,
	[sai2_file] [varchar](255) NULL,
	[ent3_file] [varchar](255) NULL,
	[sai3_file] [varchar](255) NULL,
	[ent4_file] [varchar](255) NULL,
	[sai4_file] [varchar](255) NULL,
	[ent5_file] [varchar](255) NULL,
	[sai5_file] [varchar](255) NULL,
	[usu_delete] [bigint] NULL,
	[ipcadastro] [varchar](200) NULL,
	[abono_atestado] [text] NULL,
	[possui_anexo] [smallint] NULL,
	[dt_delete] [datetime] NULL,
	[anexo_batida] [text] NULL,
	[usu_reprova] [bigint] NULL,
	[dt_reprova] [datetime] NULL,
	[envio_gestor1] [date] NULL,
	[envio_gestor2] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [movimento]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [ent1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [sai1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [ent2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [sai2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [ent3]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [sai3]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [ent4]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [sai4]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [ent5]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [sai5]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [ident1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [idsai1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [ident2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [idsai2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [ident3]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [idsai3]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [ident4]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [idsai4]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [ident5]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [idsai5]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [natent1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [natsai1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [natent2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [natsai2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [natent3]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [natsai3]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [natent4]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [natsai4]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [natent5]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [natsai5]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justent1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justsai1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justent2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justsai2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justent3]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justsai3]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justent4]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justsai4]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justent5]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justsai5]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [dtrefent1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [dtrefsai1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [dtrefent2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [dtrefsai2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [dtrefent3]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [dtrefsai3]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [dtrefent4]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [dtrefsai4]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [dtrefent5]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [dtrefsai5]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justificativa_abono_tipo]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justificativa_abono_ent1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justificativa_abono_sai1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justificativa_abono_ent2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justificativa_abono_sai2]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justificativa_extra_tipo]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [abn_dtini]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [abn_dtfim]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [abn_horaini]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [abn_horafim]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [abn_codabono]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [usucad]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [apr_user]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [apr_data]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [aprgestor_user]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [aprgestor_data]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [aprrh_user]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [aprrh_data]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [justificativa_excecao]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [atitude_dt]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [atitude_ini]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [atitude_fim]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [atitude_justificativa]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [atitude_tipo]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [codfilial]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [envio_gestor1]
GO
ALTER TABLE [dbo].[zcrmportal_ponto_horas_reprova] ADD  DEFAULT (NULL) FOR [envio_gestor2]
GO
