USE [PortalRHDEV]
GO
/****** Object:  UserDefinedFunction [dbo].[CALCULA_SOMATORIA_TIPO]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CALCULA_SOMATORIA_TIPO] (
    @ano VARCHAR (4),
    @tipo VARCHAR (5),
    @centro_custo VARCHAR (50),
    @mes_fim_meritocracia INT,
    @mes_inicio_meritocracia INT 
)
RETURNS TABLE
AS
RETURN
    
    
    
    SELECT (SALARIO_ANUAL + SAL_13 + FERIAS + FGTS + INSS + TABELA_RV) AS TOTAL FROM (
    	SELECT 
    		(X.SALARIO * ( (@mes_fim_meritocracia - @mes_inicio_meritocracia) + 1 )) AS SALARIO_ANUAL,  /** SALARIO ANUAL **/
    		
    		(X.SALARIO) AS SAL_13,  /* SALARIO 13 */
    		 
    		(X.SALARIO * 0.333333) AS FERIAS, /** SALARIO FÉRIAS */
    		
    		
    		(
    			((X.SALARIO * ( (@mes_fim_meritocracia - @mes_inicio_meritocracia) + 1 )) + 
    			(X.SALARIO) + 
    			(X.SALARIO * 0.333333)) * 0.08
    			
    		) AS FGTS,  /** SALARIO FGTS **/
    		
    		(
    		   
    		    ((X.SALARIO * ( (@mes_fim_meritocracia - @mes_inicio_meritocracia) + 1 )) + 
    			(X.SALARIO) + 
    			(X.SALARIO * 0.333333)) * 0.284
    		
    		) AS INSS, /** SALARIO INSS **/
    		
    		(SELECT TABELA_RV FROM dbo.CALCULA_SOMATORIA_RV(@ano, @tipo, @centro_custo, @mes_fim_meritocracia, @mes_inicio_meritocracia)) AS TABELA_RV
    		
    		
    		
     FROM (
    
     ((SELECT SUM(ISNULL(A.salario_novo,0) - ISNULL(A.salario_atual,0)) AS SALARIO
				 FROM zcrmportal_meritocracia_dados A 
				 INNER JOIN zcrmportal_meritocracia B ON A.id_meritocracia = B.id 
				 LEFT JOIN zcrmportal_requisicao_meritocracia C ON A.id_meritocracia = C.id_meritocracia AND A.chapa = C.chapa AND A.coligada = C.coligada
				 
				 LEFT JOIN zcrmportal_posicao G ON G.id = DBO.getExplode(A.codposicao,'.',1)
				 LEFT JOIN zcrmportal_posicao_salario H ON G.id = H.id_posicao AND H.id = DBO.getExplode(A.codposicao,'.',2)
				 
				 WHERE B.ano = @ano AND A.ignora_calculo IS NULL AND A.inativo IS NULL AND A.tipo = @tipo AND (CASE WHEN A.codposicao IS NOT NULL THEN (SUBSTRING(G.codsecao, 5,5)) ELSE A.centrocusto END) = @centro_custo COLLATE Latin1_General_CI_AS AND (C.situacao IS NULL OR C.situacao NOT IN('9')))  /* * (@mes_fim_meritocracia - @mes_inicio_meritocracia)*/ ) 
				 

	) X	
	
	
) Y
GO
