USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_premios_premissas]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_premios_premissas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_premio] [bigint] NOT NULL,
	[codfilial] [bigint] NOT NULL,
	[codcusto] [varchar](25) NOT NULL,
	[codfuncao] [varchar](10) NOT NULL,
	[grupo] [varchar](100) NULL,
	[target] [numeric](6, 2) NULL,
	[tipo_target] [varchar](1) NOT NULL,
	[status] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_premios_premissas] ADD  DEFAULT ('A') FOR [status]
GO
