USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_premios_emprestimos]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_premios_emprestimos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_acesso] [bigint] NOT NULL,
	[de_chapa] [varchar](16) NOT NULL,
	[para_chapa] [varchar](16) NOT NULL,
	[dt_solicitacao] [date] NOT NULL,
	[chapa_colaborador] [varchar](16) NOT NULL,
	[dt_resposta] [date] NULL,
	[motivo_recusa] [varchar](1000) NULL,
	[status] [varchar](1) NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[id_coligada] [bigint] NOT NULL,
	[dt_envio_email] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_premios_emprestimos] ADD  DEFAULT ('A') FOR [status]
GO
