USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_admissao_config]    Script Date: 02/08/2025 09:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_admissao_config](
	[idemp] [varchar](20) NOT NULL,
	[responsavel] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idemp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
