USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_meritocracia_historico]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_meritocracia_historico](
	[id_meritocracia] [bigint] NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[chapa] [varchar](25) NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[situacao] [varchar](5) NOT NULL,
	[descricao] [varchar](1000) NULL
) ON [PRIMARY]
GO
