USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ocorrencia_log_alteracao]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ocorrencia_log_alteracao](
	[codcoligada] [varchar](5) NOT NULL,
	[chapa] [varchar](30) NOT NULL,
	[data] [datetime] NOT NULL,
	[codmotivo] [varchar](10) NULL,
	[descricao_motivo] [varchar](200) NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[ocorrencia] [varchar](50) NOT NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL,
	[observacao] [varchar](500) NULL,
	[gestor] [smallint] NULL,
	[sistema] [varchar](15) NULL,
	[resultado] [varchar](255) NULL,
	[uuid] [varchar](255) NULL,
	[complemento] [varchar](100) NULL,
	[id_anexo] [bigint] NULL,
	[usu_log] [bigint] NOT NULL,
	[dt_log] [datetime] NOT NULL
) ON [PRIMARY]
GO
