USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_premios_deflatores]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_premios_deflatores](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_premio] [bigint] NOT NULL,
	[deflator_1] [varchar](25) NULL,
	[deflator_2] [varchar](25) NULL,
	[deflator_3] [varchar](25) NULL,
	[deflator_4] [varchar](25) NULL,
	[deflator_5] [varchar](25) NULL,
	[deflator_6] [varchar](25) NULL,
	[deflator_7] [varchar](25) NULL,
	[deflator_8] [varchar](25) NULL,
	[deflator_9] [varchar](25) NULL,
	[deflator_10] [varchar](25) NULL,
	[deflator_11] [varchar](25) NULL,
	[deflator_12] [varchar](25) NULL,
	[deflator_13] [varchar](25) NULL,
	[deflator_14] [varchar](25) NULL,
	[deflator_15] [varchar](25) NULL,
	[deflator_16] [varchar](25) NULL,
	[deflator_17] [varchar](25) NULL,
	[deflator_18] [varchar](25) NULL,
	[deflator_19] [varchar](25) NULL,
	[deflator_20] [varchar](25) NULL,
	[apenas_dias_1] [varchar](1) NULL,
	[apenas_dias_2] [varchar](1) NULL,
	[apenas_dias_3] [varchar](1) NULL,
	[apenas_dias_4] [varchar](1) NULL,
	[apenas_dias_5] [varchar](1) NULL,
	[apenas_dias_6] [varchar](1) NULL,
	[apenas_dias_7] [varchar](1) NULL,
	[apenas_dias_8] [varchar](1) NULL,
	[apenas_dias_9] [varchar](1) NULL,
	[apenas_dias_10] [varchar](1) NULL,
	[apenas_dias_11] [varchar](1) NULL,
	[apenas_dias_12] [varchar](1) NULL,
	[apenas_dias_13] [varchar](1) NULL,
	[apenas_dias_14] [varchar](1) NULL,
	[apenas_dias_15] [varchar](1) NULL,
	[apenas_dias_16] [varchar](1) NULL,
	[apenas_dias_17] [varchar](1) NULL,
	[apenas_dias_18] [varchar](1) NULL,
	[apenas_dias_19] [varchar](1) NULL,
	[apenas_dias_20] [varchar](1) NULL,
	[dias_1] [int] NULL,
	[dias_2] [int] NULL,
	[dias_3] [int] NULL,
	[dias_4] [int] NULL,
	[dias_5] [int] NULL,
	[dias_6] [int] NULL,
	[dias_7] [int] NULL,
	[dias_8] [int] NULL,
	[dias_9] [int] NULL,
	[dias_10] [int] NULL,
	[dias_11] [int] NULL,
	[dias_12] [int] NULL,
	[dias_13] [int] NULL,
	[dias_14] [int] NULL,
	[dias_15] [int] NULL,
	[dias_16] [int] NULL,
	[dias_17] [int] NULL,
	[dias_18] [int] NULL,
	[dias_19] [int] NULL,
	[dias_20] [int] NULL,
	[porcent_1] [numeric](6, 2) NULL,
	[porcent_2] [numeric](6, 2) NULL,
	[porcent_3] [numeric](6, 2) NULL,
	[porcent_4] [numeric](6, 2) NULL,
	[porcent_5] [numeric](6, 2) NULL,
	[porcent_6] [numeric](6, 2) NULL,
	[porcent_7] [numeric](6, 2) NULL,
	[porcent_8] [numeric](6, 2) NULL,
	[porcent_9] [numeric](6, 2) NULL,
	[porcent_10] [numeric](6, 2) NULL,
	[porcent_11] [numeric](6, 2) NULL,
	[porcent_12] [numeric](6, 2) NULL,
	[porcent_13] [numeric](6, 2) NULL,
	[porcent_14] [numeric](6, 2) NULL,
	[porcent_15] [numeric](6, 2) NULL,
	[porcent_16] [numeric](6, 2) NULL,
	[porcent_17] [numeric](6, 2) NULL,
	[porcent_18] [numeric](6, 2) NULL,
	[porcent_19] [numeric](6, 2) NULL,
	[porcent_20] [numeric](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_1]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_2]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_3]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_4]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_5]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_6]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_7]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_8]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_9]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_10]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_11]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_12]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_13]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_14]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_15]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_16]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_17]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_18]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_19]
GO
ALTER TABLE [dbo].[zcrmportal_premios_deflatores] ADD  DEFAULT ((0)) FOR [porcent_20]
GO
