USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_hierarquia_gestor_substituto]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_hierarquia_gestor_substituto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[id_gestor] [smallint] NOT NULL,
	[id_substituto] [smallint] NOT NULL,
	[chapa_gestor] [varchar](30) NOT NULL,
	[chapa_substituto] [varchar](30) NOT NULL,
	[dtini] [datetime] NULL,
	[dtfim] [datetime] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[inativo] [smallint] NULL,
	[usu_inativou] [bigint] NULL,
	[dt_inativou] [datetime] NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL,
	[modulos] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
