USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_demissao_arquivos]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_demissao_arquivos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idreq] [bigint] NOT NULL,
	[idusu] [bigint] NOT NULL,
	[enviado] [varchar](1) NOT NULL,
	[nome] [varchar](255) NULL,
	[ext] [varchar](20) NULL,
	[formatomime] [varchar](40) NULL,
	[tamanho] [varchar](20) NULL,
	[dtcadastro] [datetime] NULL,
	[dtalt] [datetime] NULL,
	[usualt] [bigint] NULL,
	[arquivo] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_arquivos] ADD  DEFAULT (NULL) FOR [nome]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_arquivos] ADD  DEFAULT (NULL) FOR [ext]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_arquivos] ADD  DEFAULT (NULL) FOR [formatomime]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_arquivos] ADD  DEFAULT (NULL) FOR [tamanho]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_arquivos] ADD  DEFAULT (NULL) FOR [dtcadastro]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_arquivos] ADD  DEFAULT (NULL) FOR [dtalt]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_arquivos] ADD  DEFAULT (NULL) FOR [usualt]
GO
