USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[zcrmportal_sal_alt_itens]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[zcrmportal_sal_alt_itens] as

select * from zcrmportal_salario_alternativas_itens
GO
