USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[REL_SINC_ART61_TOT]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[REL_SINC_ART61_TOT] AS

WITH LISTA AS (
/*
SELECT 
	r.id AS ID_REQ,
	r.dt_ini_ponto AS INI_PONTO,
	r.dt_fim_ponto AS FIM_PONTO,
	r.id_coligada AS CODCOLIGADA,
	c.id AS ID_REQ_CHAPA,
	c.dt_ponto AS DT_PONTO,
	f.CHAPA AS CHAPA,
	c.anocomp AS ANOCOMP,
	c.mescomp AS MESCOMP,
	c.nroperiodo AS NROPERIODO,
	e.CODIGO AS CODEVENTO,
	CAST(ISNULL(c.extra_normal,0) AS INT) as VALOR
FROM 
	zcrmportal_art61_requisicao r
LEFT JOIN zcrmportal_art61_req_chapas c ON c.id_req = r.id and c.status = 'A'
LEFT JOIN CorporeRMDEV..PFUNC f ON f.CODCOLIGADA = r.id_coligada and f.CHAPA = c.chapa_colab COLLATE Latin1_General_CI_AS 
INNER JOIN CorporeRMDEV..PEVENTO e ON e.CODCOLIGADA = r.id_coligada and e.CODIGO = c.codevento COLLATE Latin1_General_CI_AS 

WHERE 
	r.status = 6

UNION*/

SELECT 
	r.id AS ID_REQ,
	r.dt_ini_ponto AS INI_PONTO,
	r.dt_fim_ponto AS FIM_PONTO,
	r.id_coligada AS CODCOLIGADA,
	c.id AS ID_REQ_CHAPA,
	c.dt_ponto AS DT_PONTO,
	f.CHAPA AS CHAPA,
	c.anocomp AS ANOCOMP,
	c.mescomp AS MESCOMP,
	c.nroperiodo AS NROPERIODO,
	e.CODIGO AS CODEVENTO,
	CAST(ISNULL(c.extra_art61,0) AS INT) as VALOR
FROM 
	zcrmportal_art61_requisicao r
LEFT JOIN zcrmportal_art61_req_chapas c ON c.id_req = r.id and c.status = 'A'
LEFT JOIN CorporeRMDEV..PFUNC f ON f.CODCOLIGADA = r.id_coligada and f.CHAPA = c.chapa_colab COLLATE Latin1_General_CI_AS 
INNER JOIN CorporeRMDEV..PEVENTO e ON e.CODCOLIGADA = r.id_coligada and e.CODIGO = c.codevento_art61 COLLATE Latin1_General_CI_AS 

WHERE 
	r.status = 6
),

EVENTOS AS (
SELECT codfilial AS FILIAL, de_codevento AS CODEVENTO, para_codevento AS PARAEVE  FROM zcrmportal_art61_codevento
),

PER AS (
SELECT DISTINCT MESCOMP, ANOCOMP, INI_PONTO, FIM_PONTO, NROPERIODO FROM LISTA
),

LISTEVE AS (
SELECT p.MESCOMP, p.ANOCOMP, p.NROPERIODO, a.CODCOLIGADA, a.CHAPA, a.CODEVE, a.NUMHORAS, e.PARAEVE
FROM CorporeRMDEV..AMOVFUNDIA a
INNER JOIN PER p ON a.DATA between p.INI_PONTO and p.FIM_PONTO
LEFT JOIN CorporeRMDEV..pFUNC f ON f.CODCOLIGADA = a.CODCOLIGADA and f.CHAPA = a.CHAPA
LEFT JOIN EVENTOS e ON e.FILIAL = f.CODFILIAL and e.CODEVENTO = a.CODEVE COLLATE Latin1_General_CI_AS 
WHERE a.CODEVE IN ( SELECT CODEVENTO COLLATE Latin1_General_CI_AS FROM EVENTOS )  
),

TOTEVE AS (
SELECT MESCOMP, ANOCOMP, NROPERIODO, CODCOLIGADA, CHAPA, CODEVE, SUM(NUMHORAS) AS TOTHORAS, PARAEVE
FROM LISTEVE
GROUP BY MESCOMP, ANOCOMP, NROPERIODO, CODCOLIGADA, CHAPA, CODEVE, PARAEVE
),

TOTAIS AS (
SELECT 
	CODCOLIGADA,
	CHAPA,
	ANOCOMP,
	MESCOMP,
	NROPERIODO,
	CODEVENTO,
	SUM(VALOR) AS VALOR
FROM LISTA
GROUP BY
	CODCOLIGADA,
	CHAPA,
	ANOCOMP,
	MESCOMP,
	NROPERIODO,
	CODEVENTO
),

CALC AS (
SELECT t.*, ISNULL(o.VALOR,0) AS VALOR
FROM TOTEVE t
LEFT JOIN TOTAIS o 
	ON o.CODCOLIGADA = t.CODCOLIGADA
   AND o.CHAPA = t.CHAPA COLLATE Latin1_General_CI_AS
   AND o.MESCOMP = t.MESCOMP
   AND o.ANOCOMP = t.ANOCOMP
   AND o.CODEVENTO = t.PARAEVE COLLATE Latin1_General_CI_AS
)

SELECT 
	CODCOLIGADA,
	CHAPA,
	MESCOMP,
	ANOCOMP,
	NROPERIODO,
	CODEVE COLLATE Latin1_General_CI_AS AS CODEVENTO,
	( TOTHORAS - VALOR ) AS VALOR
FROM CALC

UNION

SELECT 
	CODCOLIGADA,
	CHAPA,
	MESCOMP,
	ANOCOMP,
	NROPERIODO,
	PARAEVE COLLATE Latin1_General_CI_AS AS CODEVENTO,
	VALOR
FROM CALC
WHERE PARAEVE IS NOT NULL




GO
