USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_admissao_tipodoc]    Script Date: 02/08/2025 09:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_admissao_tipodoc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](80) NULL,
	[descr] [text] NULL,
	[formatos] [text] NULL,
	[maxarquivos] [int] NULL,
	[tamarq] [varchar](4) NULL,
	[obrigatorio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_tipodoc] ADD  DEFAULT (NULL) FOR [nome]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_tipodoc] ADD  DEFAULT (NULL) FOR [maxarquivos]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_tipodoc] ADD  DEFAULT (NULL) FOR [tamarq]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_tipodoc] ADD  DEFAULT (NULL) FOR [obrigatorio]
GO
