USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_beneficio_cartaofunc]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_beneficio_cartaofunc](
	[chapa] [varchar](30) NULL,
	[va] [varchar](1) NULL,
	[vr] [varchar](1) NULL,
	[codcoligada] [varchar](5) NULL,
	[datacad] [datetime] NULL
) ON [PRIMARY]
GO
