USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[ZCRMPORTAL_UNIMED_XML]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCRMPORTAL_UNIMED_XML](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_log] [varchar](50) NULL,
	[jason] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
