USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_requisicao_config]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_requisicao_config](
	[coligada] [varchar](5) NULL,
	[faixa_min] [decimal](10, 2) NULL,
	[faixa_max] [decimal](10, 2) NULL,
	[usualt] [varchar](50) NULL,
	[dtalt] [datetime] NULL,
	[dia_limite] [smallint] NULL
) ON [PRIMARY]
GO
