USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ponto_motivos]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ponto_motivos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[descricao] [text] NULL,
	[codcoligada] [varchar](5) NULL,
	[tipo] [varchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
