USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_posicao_salario]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_posicao_salario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_posicao] [bigint] NOT NULL,
	[id_posicao_funcao] [bigint] NOT NULL,
	[excecao] [smallint] NULL,
	[salario] [decimal](18, 2) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtalt] [datetime] NULL,
	[usualt] [varchar](100) NULL,
	[chapa] [varchar](20) NULL,
	[tipo] [varchar](5) NULL,
	[coligada] [varchar](5) NOT NULL,
	[range_salario] [smallint] NULL,
	[salario_min] [decimal](18, 2) NULL,
	[salario_max] [decimal](18, 2) NULL,
	[inativo] [smallint] NOT NULL,
	[nao_orcada] [smallint] NULL,
	[excecao_psico] [int] NULL,
	[excecao_escolaridade] [int] NULL,
	[excecao_salarial] [int] NULL,
	[excecao_movimentacao] [int] NULL,
	[libera_posicao] [int] NULL,
	[tipo_tabela] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_ID_POSICAO]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [FK_ID_POSICAO] ON [dbo].[zcrmportal_posicao_salario]
(
	[id_posicao] ASC,
	[coligada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_posicao_salario] ADD  DEFAULT ((0)) FOR [excecao]
GO
ALTER TABLE [dbo].[zcrmportal_posicao_salario] ADD  DEFAULT ((0)) FOR [inativo]
GO
ALTER TABLE [dbo].[zcrmportal_posicao_salario]  WITH CHECK ADD  CONSTRAINT [FK__zcrmporta__id_po__5812160E] FOREIGN KEY([id_posicao])
REFERENCES [dbo].[zcrmportal_posicao] ([id])
GO
ALTER TABLE [dbo].[zcrmportal_posicao_salario] CHECK CONSTRAINT [FK__zcrmporta__id_po__5812160E]
GO
