USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_meritocracia_orcamento]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_meritocracia_orcamento](
	[coligada] [varchar](5) NOT NULL,
	[centrocusto] [varchar](5) NOT NULL,
	[ano] [smallint] NOT NULL,
	[valor] [decimal](15, 2) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[usuapr] [bigint] NULL,
	[dtapr] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_ANO_CENTRO]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_ANO_CENTRO] ON [dbo].[zcrmportal_meritocracia_orcamento]
(
	[coligada] ASC,
	[centrocusto] ASC,
	[ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
