USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[zcrmportal_sal_itens_subgrp]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[zcrmportal_sal_itens_subgrp] as

select * from zcrmportal_salario_itens_subgrupo
GO
