USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_substituicao_param]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_substituicao_param](
	[codfuncao] [varchar](10) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL
) ON [PRIMARY]
GO
