USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_requisicao_aq_salario]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_requisicao_aq_salario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_req_aq] [bigint] NOT NULL,
	[chapa] [varchar](25) NULL,
	[salario] [decimal](10, 2) NOT NULL,
	[porcentagem] [decimal](10, 2) NOT NULL,
	[salario_negociado] [decimal](10, 2) NULL,
	[porcentagem_negociado] [decimal](10, 2) NULL,
	[dtcad] [datetime] NOT NULL,
	[usucad] [varchar](50) NOT NULL,
	[dtalt] [datetime] NULL,
	[usualt] [varchar](50) NULL,
	[codposicao] [varchar](50) NULL,
	[id_profile_xerpa] [varchar](500) NULL,
	[xerpa_guid] [varchar](500) NULL,
	[id_vaga_gupy] [bigint] NULL,
	[id_posicao_gupy] [bigint] NULL,
	[status_vaga_gupy] [smallint] NULL,
	[id_candidato_gupy] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_xerpa_zcrmportal_requisicao_aq_salario]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [idx_xerpa_zcrmportal_requisicao_aq_salario] ON [dbo].[zcrmportal_requisicao_aq_salario]
(
	[id_profile_xerpa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
