USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[POSICAO_QTDE_DIVERGENTE]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[POSICAO_QTDE_DIVERGENTE]
AS

SELECT A.coligada,
	   A.id_posicao,
	   A.id AS id_funcao,
       A.codfuncao,
       A.qtde,
       (SELECT Count(B.id)
        FROM   zcrmportal_posicao_salario B
        WHERE  B.id_posicao = A.id_posicao
               AND B.id_posicao_funcao = A.id
               AND B.coligada = A.coligada) AS qtde_real
FROM   zcrmportal_posicao_funcao A
WHERE  A.inativo = 0
       AND A.qtde <> (SELECT Count(B.id)
        FROM   zcrmportal_posicao_salario B
        WHERE  B.id_posicao = A.id_posicao
               AND B.id_posicao_funcao = A.id
               AND B.coligada = A.coligada
               )
GO
