USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_requisicao_aprovadores_area_aprovacao]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_requisicao_aprovadores_area_aprovacao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_user] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[tipo] [char](2) NOT NULL,
	[log_server] [text] NOT NULL,
	[id_requisicao] [bigint] NOT NULL,
	[observacao] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
