USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_espelho_config]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_espelho_config](
	[coligada] [varchar](5) NOT NULL,
	[dtinicio] [date] NOT NULL,
	[dtfim] [date] NOT NULL,
	[dt_ini_bloqueio] [date] NULL,
	[dt_fim_bloqueio] [date] NULL,
	[dt_atual_bloqueio] [date] NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[limite_funcionario] [datetime] NULL,
	[limite_gestor] [datetime] NULL,
	[wflow_dias_notif] [int] NULL,
	[wflow_dias_notif_acima] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[coligada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_espelho_config] ADD  DEFAULT ((0)) FOR [wflow_dias_notif]
GO
ALTER TABLE [dbo].[zcrmportal_espelho_config] ADD  DEFAULT ((0)) FOR [wflow_dias_notif_acima]
GO
