USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ocorrencia_workflow]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ocorrencia_workflow](
	[data1] [datetime] NOT NULL,
	[data2] [datetime] NOT NULL,
	[ciclo1] [int] NOT NULL,
	[horario1] [int] NOT NULL,
	[ciclo2] [int] NOT NULL,
	[horario2] [int] NOT NULL,
	[codcoligada] [int] NOT NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL
) ON [PRIMARY]
GO
