USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ponto_excecao_gestor]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ponto_excecao_gestor](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chapa] [varchar](30) NULL,
	[codcoligada] [varchar](5) NULL,
	[data_limite] [datetime] NULL,
	[usucad] [bigint] NULL,
	[dtcad] [datetime] NULL
) ON [PRIMARY]
GO
