USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_frente_trabalho]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_frente_trabalho](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NULL,
	[centrocusto] [varchar](20) NULL,
	[descricao] [varchar](255) NULL,
	[filial] [varchar](5) NULL,
	[dtcad] [datetime] NULL,
	[usucad] [varchar](100) NULL,
	[codigo] [varchar](3) NULL,
	[codsecao] [varchar](20) NOT NULL,
	[pendente_sinc_alt] [smallint] NULL,
	[usualt] [varchar](100) NULL,
	[dtalt] [datetime] NULL,
	[status] [int] NULL,
	[DIR_FLORESTAL] [int] NULL,
	[DIR_INDUSTRIAL] [int] NULL,
	[DIR_TRANSPORT] [int] NULL,
	[DIR_R] [int] NULL,
	[finalizado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_FRENTETRABALHO]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_FRENTETRABALHO] ON [dbo].[zcrmportal_frente_trabalho]
(
	[coligada] ASC,
	[centrocusto] ASC,
	[filial] ASC,
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
