USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_demissao_motivo_param]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_demissao_motivo_param](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_demissao] [varchar](10) NULL,
	[motivo_demissao] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
