USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_perfilfuncao]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_perfilfuncao](
	[id_perfil] [int] NOT NULL,
	[id_funcao] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_perfil] ASC,
	[id_funcao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
