USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_simulador_dados]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_simulador_dados](
	[id_simulador] [bigint] NOT NULL,
	[tipo] [nvarchar](100) NOT NULL,
	[descricao] [nvarchar](255) NOT NULL,
	[valor_atual] [decimal](30, 2) NULL,
	[valor_simulado] [decimal](30, 2) NULL
) ON [PRIMARY]
GO
