USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_requisicao_aq]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_requisicao_aq](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](5) NOT NULL,
	[justificativa] [text] NOT NULL,
	[qtde_vagas] [smallint] NOT NULL,
	[codposicao] [varchar](100) NULL,
	[codhorario] [varchar](20) NOT NULL,
	[regimecontratacao] [varchar](10) NOT NULL,
	[tipo_recrutamento] [varchar](10) NOT NULL,
	[situacao] [smallint] NOT NULL,
	[nomecandidato] [varchar](255) NULL,
	[chapa_sub] [varchar](20) NULL,
	[coligada] [varchar](5) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtalt] [datetime] NULL,
	[usualt] [varchar](100) NULL,
	[previsao] [date] NULL,
	[salario] [decimal](10, 2) NULL,
	[porcentagem] [decimal](10, 6) NULL,
	[salario_negociado] [decimal](10, 2) NULL,
	[porcentagem_negociada] [decimal](10, 6) NULL,
	[porcentagem_limite] [decimal](16, 2) NULL,
	[maternidade] [smallint] NULL,
	[espaco_confinado] [smallint] NULL,
	[altura] [smallint] NULL,
	[agrotoxico] [smallint] NULL,
	[veiculos] [smallint] NULL,
	[usuenviado] [varchar](50) NULL,
	[dtenviado] [datetime] NULL,
	[motivo_reprova] [text] NULL,
	[usu_reprova] [varchar](50) NULL,
	[dt_reprova] [datetime] NULL,
	[motivo_cancelamento] [text] NULL,
	[usu_cancelamento] [varchar](50) NULL,
	[dt_cancelamento] [datetime] NULL,
	[dtapr] [datetime] NULL,
	[usuapr] [varchar](50) NULL,
	[motivo_apr] [text] NULL,
	[id_motivo_aq] [bigint] NULL,
	[desc_motivo_aq] [varchar](255) NULL,
	[id_vaga_kenoby] [bigint] NULL,
	[status_vaga_kenoby] [smallint] NULL,
	[json_request] [text] NULL,
	[json_response] [text] NULL,
	[dt_cancelado] [datetime] NULL,
	[motivo_cancelado] [varchar](100) NULL,
	[xerpa_guid] [varchar](500) NULL,
	[kenoby_nome_funcionario] [varchar](255) NULL,
	[prazo_determinado] [varchar](100) NULL,
	[id_hierarquia_aprovador] [bigint] NULL,
	[log_request_kenoby] [text] NULL,
	[avaliacao_psico] [varchar](5) NULL,
	[substituido_pcd] [varchar](5) NULL,
	[id_simulador] [bigint] NULL,
	[carta_enviada] [smallint] NULL,
	[pdf_carta] [text] NULL,
	[id_vaga_gupy] [bigint] NULL,
	[status_vaga_gupy] [smallint] NULL,
	[dt_id_vaga_gupy] [datetime] NULL,
	[response_gupy] [text] NULL,
	[id_posicao_gupy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_requisicao_aq] ADD  DEFAULT ('0') FOR [situacao]
GO
