USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_salario_alternativas_itens]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_salario_alternativas_itens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_item] [bigint] NOT NULL,
	[descricao] [text] NOT NULL,
	[dtcadastro] [datetime] NOT NULL,
	[coligada] [varchar](5) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
