USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ferias]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ferias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chapa] [varchar](15) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[per_aqui_ini] [date] NOT NULL,
	[per_aqui_fim] [date] NOT NULL,
	[data_limite] [date] NOT NULL,
	[prog_ini] [date] NOT NULL,
	[prog_fim] [date] NOT NULL,
	[dias_abono] [int] NULL,
	[dias_descanso] [int] NULL,
	[observacao] [text] NULL,
	[impresso] [int] NULL,
	[dtcad] [datetime] NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtalt] [datetime] NULL,
	[usualt] [varchar](100) NULL,
	[situacao] [int] NULL,
	[dt_sinc] [datetime] NULL,
	[usu_sinc] [varchar](100) NULL,
	[salario13] [int] NULL,
	[qtd] [varchar](2) NULL,
	[dt_pag] [datetime] NULL,
	[justificativa_reprova] [text] NULL,
	[dtrep] [datetime] NULL,
	[recibo_assinado] [varchar](250) NULL,
	[aviso_assinado] [varchar](250) NULL,
	[nomearq] [varchar](60) NULL,
	[tipoarq] [varchar](60) NULL,
	[sizearq] [varchar](60) NULL,
	[gestor_usuapr] [bigint] NULL,
	[gestor_dtapr] [datetime] NULL,
	[usu_repr] [varchar](100) NULL,
	[dt_repr] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_chapa_zcrmportal_ferias]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [idx_chapa_zcrmportal_ferias] ON [dbo].[zcrmportal_ferias]
(
	[chapa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_portal_ferias]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [idx_portal_ferias] ON [dbo].[zcrmportal_ferias]
(
	[chapa] ASC,
	[coligada] ASC,
	[per_aqui_fim] ASC,
	[situacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_ferias] ADD  DEFAULT (NULL) FOR [dias_abono]
GO
ALTER TABLE [dbo].[zcrmportal_ferias] ADD  DEFAULT (NULL) FOR [dias_descanso]
GO
ALTER TABLE [dbo].[zcrmportal_ferias] ADD  DEFAULT ('0') FOR [impresso]
GO
ALTER TABLE [dbo].[zcrmportal_ferias] ADD  DEFAULT (NULL) FOR [dtalt]
GO
ALTER TABLE [dbo].[zcrmportal_ferias] ADD  DEFAULT (NULL) FOR [usualt]
GO
ALTER TABLE [dbo].[zcrmportal_ferias] ADD  DEFAULT ('1') FOR [situacao]
GO
ALTER TABLE [dbo].[zcrmportal_ferias] ADD  DEFAULT (NULL) FOR [dt_sinc]
GO
ALTER TABLE [dbo].[zcrmportal_ferias] ADD  DEFAULT (NULL) FOR [usu_sinc]
GO
ALTER TABLE [dbo].[zcrmportal_ferias] ADD  DEFAULT ('0') FOR [salario13]
GO
ALTER TABLE [dbo].[zcrmportal_ferias] ADD  DEFAULT ('0') FOR [qtd]
GO
ALTER TABLE [dbo].[zcrmportal_ferias] ADD  DEFAULT (NULL) FOR [dt_pag]
GO
