USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[GESTOR_CHAPA]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[GESTOR_CHAPA] AS
SELECT 
	DISTINCT
	A.CODCOLIGADA,
	A.CHAPA,
	C.id_hierarquia ID_HIERARQUIA,
	D.chapa GESTOR_CHAPA,
	E.NOME GESTOR_NOME
FROM 
	CorporeRMDEV..PFUNC A,
	zcrmportal_frente_trabalho B,
	zcrmportal_hierarquia_frentetrabalho C,
	zcrmportal_hierarquia_chapa D,
	CorporeRMDEV..PFUNC E
WHERE
	/*A.CHAPA = '001000112'
	AND A.CODCOLIGADA = '1'
	AND*/ A.CODSITUACAO NOT IN ('D')
	
	/*Tiago - chamado 2501310031, remover os gestores demitidos*/
	AND E.CODSITUACAO NOT IN ('D')
	
	AND B.codsecao = A.CODSECAO COLLATE Latin1_General_CI_AS
	AND B.coligada = A.CODCOLIGADA
	
	AND B.id = C.id_frentetrabalho
	AND C.inativo IS NULL

	AND D.id_hierarquia = C.id_hierarquia
	
	AND D.chapa = E.CHAPA COLLATE Latin1_General_CI_AS
	AND D.coligada = E.CODCOLIGADA
GO
