USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_cartas_pagina]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_cartas_pagina](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_carta] [bigint] NOT NULL,
	[texto] [text] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usucad] [bigint] NOT NULL,
	[dtalt] [datetime] NULL,
	[usualt] [bigint] NULL,
	[descricao] [nvarchar](200) NULL,
 CONSTRAINT [zcrmportal_cartas_pagina_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_cartas_pagina]  WITH CHECK ADD  CONSTRAINT [zcrmportal_cartas_pagina_id_carta_foreign] FOREIGN KEY([id_carta])
REFERENCES [dbo].[zcrmportal_cartas] ([id])
GO
ALTER TABLE [dbo].[zcrmportal_cartas_pagina] CHECK CONSTRAINT [zcrmportal_cartas_pagina_id_carta_foreign]
GO
