USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[REL_CONFERENCIA_PREMIOS]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[REL_CONFERENCIA_PREMIOS] AS
SELECT 
	F.CODCOLIGADA			COLIGADA_COLAB,
	F.CHAPA					CHAPA_COLAB,
	F.NOME					NOME_COLAB,
	F.CODFILIAL				CODFILIAL_COLAB,
	F.CODFUNCAO				CODFUNCAO_COLAB,
	U.NOME					FUNCAO_COLAB,
	F.CODSECAO				CODSECAO_COLAB,
	S.DESCRICAO				SECAO_COLAB,
	F.DATAADMISSAO			DT_ADMISSAO_COLAB,
	F.DATADEMISSAO			DT_DEMISSAO_COLAB,
	F.CODSITUACAO			CODSITUACAO_COLAB,
	S.NROCENCUSTOCONT		CCUSTO_COLAB,
	C.CHAPA_COORDENADOR		CHAPA_COORDENADOR,
	C.TARGET				PERCENT_TARGET,
	C.REALIZADO				PERCENT_REALIZADO,
	C.DIAS_FALTAS			DIAS_FALTAS,
	C.DIAS_ADMISSAO			DIAS_ADMISSAO,
	C.DIAS_DEMISSAO			DIAS_DEMISSAO,
	C.DIAS_FERIAS			DIAS_FERIAS,
	C.DIAS_ATESTADO			DIAS_ATESTADO,
	C.DIAS_AFAST			DIAS_AFAST,
	(C.DIAS_FALTAS + C.DIAS_ADMISSAO	+ C.DIAS_DEMISSAO + C.DIAS_FERIAS + C.DIAS_ATESTADO	+ C.DIAS_AFAST)	DIAS_TOTAL,
	C.DEFLA_FALTAS			DEFLA_FALTAS,
	C.DEFLA_ADMISSAO		DEFLA_ADMISSAO,
	C.DEFLA_DEMISSAO		DEFLA_DEMISSAO,
	C.DEFLA_FERIAS			DEFLA_FERIAS,
	C.DEFLA_ATESTADO		DEFLA_ATESTADO,
	C.DEFLA_AFAST			DEFLA_AFAST,
	(C.DEFLA_FALTAS + C.DEFLA_ADMISSAO + C.DEFLA_DEMISSAO + C.DEFLA_FERIAS + C.DEFLA_ATESTADO + C.DEFLA_AFAST) DEFLA_TOTAL,
	C.DATAS_FALTAS			DATAS_FALTAS,
	C.DATAS_ADMISSAO		DATAS_ADMISSAO,
	C.DATAS_DEMISSAO		DATAS_DEMISSAO,
	C.DATAS_FERIAS			DATAS_FERIAS,
	C.DATAS_ATESTADO		DATAS_ATESTADO,
	C.DATAS_AFAST			DATAS_AFAST,
	C.VALOR_BASE			VALOR_BASE,
	C.RESULTADO				PERCENT_FINAL,
	C.VALOR_PREMIO			VALOR_PREMIO,
	C.OBS					OBS,
	C.ID_REQUISICAO			ID_REQUISICAO,
	R.DT_REQUISICAO			DATA_CRIACAO,
	R.CHAPA_REQUISITOR		CHAPA_REQUISITOR,
	R.CHAPA_GERENTE			CHAPA_GERENTE,
	Q.NOME					NOME_REQUISITOR,
	R.TIPO					TIPO_REQUISICAO,
	R.STATUS				STATUS_REQUISICAO,
	A.ID					ID_ACESSO,
	A.DTINI_PONTO			DT_INICIO_PONTO,
	A.DTFIM_PONTO			DT_FIM_PONTO,
	P.NOME					NOME_PREMIO,
	R.DT_APROVACAO			DATA_APROV_REPROV,
	R.CHAPA_APROV_REPROV	CHAPA_APROV_REPROV,
	V.NOME					NOME_APROV_REPROV,
	R.MOTIVO_RECUSA			MOTIVO_REPROV,
	R.DT_RH_APROVACAO		DATA_RH_APROV_REPROV,
	R.CHAPA_RH_APROV_REPROV	CHAPA_RH_APROV_REPROV,
	H.NOME					NOME_RH_APROV_REPROV,
	R.DT_SINCRONISMO        DATA_SINCRONISMO,
	R.CODEVENTO_SINCRONISMO EVENTO_SINCRONISMO,
	R.PERIODO_SINCRONISMO	PERIODO_SINCRONISMO,
	R.ANOCOMP				ANOCOMP,
	R.MESCOMP				MESCOMP,
	r.NROPERIODO			NROPERIODO,
	C.CHAPA_COORDENADOR		CHAPA_APROVADOR,
	R.CHAPA_GERENTE			CHAPA_GESTOR,
	I.NOME					NOME_APROVADOR,
	J.NOME					NOME_GESTOR
	
FROM 
	zcrmportal_premios_requisicao_chapas C
LEFT JOIN CorporeRMDEV..PFUNC F ON F.CODCOLIGADA = C.ID_COLIGADA AND C.CHAPA = F.CHAPA COLLATE Latin1_General_CI_AS
INNER JOIN zcrmportal_premios_requisicao R ON R.ID = C.ID_REQUISICAO AND R.STATUS <> 'I'
LEFT JOIN zcrmportal_premios_acessos A ON A.ID = R.ID_ACESSO
LEFT JOIN zcrmportal_premios P ON P.ID = A.ID_PREMIO
LEFT JOIN CorporeRMDEV..PFUNCAO U ON U.CODIGO = F.CODFUNCAO AND U.CODCOLIGADA = F.CODCOLIGADA
LEFT JOIN CorporeRMDEV..PSECAO S ON S.CODIGO = F.CODSECAO AND S.CODCOLIGADA = F.CODCOLIGADA
LEFT JOIN CorporeRMDEV..PFUNC Q ON Q.CODCOLIGADA = C.ID_COLIGADA AND R.CHAPA_REQUISITOR = Q.CHAPA COLLATE Latin1_General_CI_AS
LEFT JOIN CorporeRMDEV..PFUNC V ON V.CODCOLIGADA = C.ID_COLIGADA AND R.CHAPA_APROV_REPROV = V.CHAPA COLLATE Latin1_General_CI_AS
LEFT JOIN CorporeRMDEV..PFUNC H ON H.CODCOLIGADA = C.ID_COLIGADA AND R.CHAPA_RH_APROV_REPROV = H.CHAPA COLLATE Latin1_General_CI_AS
LEFT JOIN CorporeRMDEV..PFUNC I ON I.CODCOLIGADA = C.ID_COLIGADA AND C.CHAPA_COORDENADOR = I.CHAPA COLLATE Latin1_General_CI_AS
LEFT JOIN CorporeRMDEV..PFUNC J ON J.CODCOLIGADA = C.ID_COLIGADA AND R.CHAPA_GERENTE = J.CHAPA COLLATE Latin1_General_CI_AS

WHERE C.STATUS <> 'I'
GO
