USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_tabela_rv]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_tabela_rv](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](10) NULL,
	[filial] [varchar](10) NULL,
	[codcargo] [varchar](30) NULL,
	[multimo] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
