USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[ZMDPERICULOSIDADE]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZMDPERICULOSIDADE](
	[coligada] [varchar](5) NULL,
	[codfilial] [smallint] NULL,
	[codsecao] [varchar](30) NULL
) ON [PRIMARY]
GO
