
USE [PortalRHDEV]
GO

/****** Object:  Table [dbo].[zcrmportal_art61_req_chapas]    Script Date: 04/08/2025 15:32:54 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[zcrmportal_art61_req_chapas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_req] [bigint] NOT NULL,
	[status] [varchar](1) NOT NULL,
	[chapa_colab] [varchar](16) NULL,
	[dt_ponto] [date] NULL,
	[dt_ini_ponto] [date] NULL,
	[dt_fim_ponto] [date] NULL,
	[codevento] [varchar](4) NULL,
	[chapa_gestor] [varchar](16) NULL,
	[id_justificativa] [bigint] NULL,
	[valor] [numeric](15, 2) NULL,
	[obs] [varchar](1000) NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL,
	[codevento_art61] [varchar](4) NULL,
	[extra_normal] [numeric](15, 2) NULL,
	[extra_art61] [numeric](15, 2) NULL,
	[codhorario] [varchar](10) NULL,
	[indice] [int] NULL,
	[anocomp] [int] NULL,
	[mescomp] [int] NULL,
	[nroperiodo] [int] NULL,
	[extra_feriado] [numeric](15, 2) NULL,
	[feriado] [varchar](4) NULL,
	[tipo_data] [varchar](20) NULL,
	[extra_limite_diario] [numeric](15, 2) NULL,
	[horas_extras_do_dia] [numeric](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[zcrmportal_art61_req_chapas] ADD  DEFAULT ('A') FOR [status]
GO

ALTER TABLE [dbo].[zcrmportal_art61_req_chapas] ADD  DEFAULT ('N') FOR [feriado]
GO

ALTER TABLE [dbo].[zcrmportal_art61_req_chapas] ADD  DEFAULT ('TRABALHO') FOR [tipo_data]
GO

ALTER TABLE [dbo].[zcrmportal_art61_req_chapas] ADD  DEFAULT (NULL) FOR [extra_limite_diario]
GO


