USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_usuario_secao]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_usuario_secao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](10) NOT NULL,
	[id_usu] [bigint] NOT NULL,
	[secao] [varchar](40) NOT NULL
) ON [PRIMARY]
GO
