USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_salario_itens_subgrupo]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_salario_itens_subgrupo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_subgrupo] [bigint] NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[descricao] [varchar](255) NOT NULL,
	[tipocampo] [varchar](100) NOT NULL,
	[query] [text] NULL,
	[obrigatorio] [varchar](1) NULL,
	[usucad] [bigint] NOT NULL,
	[dtcadastro] [datetime] NOT NULL,
	[usualt] [bigint] NULL,
	[posicao] [varchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
