USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ponto_motorista]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ponto_motorista](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[dtponto] [date] NOT NULL,
	[chapa] [varchar](50) NOT NULL,
	[coligada] [varchar](2) NOT NULL,
	[total_refeicao] [int] NULL,
	[total_direcao] [int] NULL,
	[total_espera] [int] NULL,
	[adicional_noturno] [int] NULL,
	[dtcad] [datetime] NULL,
	[usucad] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
