USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_hierarquia_frentetrabalho]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_hierarquia_frentetrabalho](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_hierarquia] [bigint] NULL,
	[id_frentetrabalho] [bigint] NULL,
	[dtcad] [datetime] NULL,
	[usucad] [varchar](100) NULL,
	[inativo] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UN_FRENTE]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_FRENTE] ON [dbo].[zcrmportal_hierarquia_frentetrabalho]
(
	[id_hierarquia] ASC,
	[id_frentetrabalho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
