USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_meritocracia_dados]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_meritocracia_dados](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[chapa] [varchar](30) NOT NULL,
	[tempo_empresa] [decimal](10, 1) NULL,
	[tempo_empresa_cor] [varchar](100) NULL,
	[idade] [smallint] NOT NULL,
	[data_alteracao] [date] NULL,
	[data_alteracao_cor] [varchar](100) NULL,
	[motivo_alteracao] [varchar](5) NULL,
	[valor_alteracao] [decimal](15, 2) NULL,
	[porcentual_alteracao] [decimal](10, 2) NULL,
	[cargo_atual] [varchar](20) NOT NULL,
	[isonomia_atual] [varchar](3) NOT NULL,
	[gs_atual] [varchar](5) NULL,
	[salario_atual] [decimal](15, 2) NULL,
	[salario_100] [decimal](15, 2) NULL,
	[faixa_atual] [decimal](10, 2) NULL,
	[faixa_atual_cor] [varchar](100) NULL,
	[tipo] [varchar](5) NULL,
	[cargo_novo] [varchar](20) NULL,
	[gs_novo] [varchar](5) NULL,
	[porcentual_aumento] [decimal](15, 5) NULL,
	[salario_novo] [decimal](15, 2) NULL,
	[salario_100_novo] [decimal](15, 2) NULL,
	[faixa_100] [decimal](10, 2) NULL,
	[faixa_salarial_cor] [varchar](100) NULL,
	[codfilial] [varchar](5) NOT NULL,
	[centrocusto] [varchar](6) NOT NULL,
	[id_meritocracia] [bigint] NOT NULL,
	[inativo] [smallint] NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[solicitante] [varchar](5) NOT NULL,
	[nota] [decimal](10, 2) NULL,
	[nota_cor] [varchar](100) NULL,
	[obs_cor] [text] NULL,
	[obs_ger] [text] NULL,
	[obs_dir] [text] NULL,
	[obs_rh] [text] NULL,
	[salario_novo_isonomia] [varchar](3) NULL,
	[nota2] [decimal](10, 2) NULL,
	[nota3] [decimal](10, 2) NULL,
	[nota2_cor] [varchar](100) NULL,
	[nota3_cor] [varchar](100) NULL,
	[merito_data] [datetime] NULL,
	[merito_data_cor] [varchar](100) NULL,
	[merito_valor] [decimal](15, 2) NULL,
	[merito_porcentual] [decimal](15, 2) NULL,
	[promocao_data] [datetime] NULL,
	[promocao_data_cor] [varchar](100) NULL,
	[promocao_valor] [decimal](15, 2) NULL,
	[promocao_porcentual] [decimal](15, 2) NULL,
	[enquadramento_data] [datetime] NULL,
	[enquadramento_data_cor] [varchar](100) NULL,
	[enquadramento_valor] [decimal](15, 2) NULL,
	[enquadramento_porcentual] [decimal](15, 2) NULL,
	[mes_escalonado] [varchar](2) NULL,
	[ano_escalonado] [varchar](4) NULL,
	[salario_escalonado] [decimal](18, 2) NULL,
	[porcentual_escalonado] [decimal](10, 6) NULL,
	[obs_geg] [text] NULL,
	[meta1] [decimal](10, 1) NULL,
	[meta1_cor] [varchar](10) NULL,
	[meta2] [decimal](10, 1) NULL,
	[meta2_cor] [varchar](10) NULL,
	[meta3] [decimal](10, 1) NULL,
	[meta3_cor] [varchar](10) NULL,
	[codposicao] [varchar](20) NULL,
	[tipo_sub] [varchar](5) NULL,
	[funcionario_sub] [varchar](15) NULL,
	[funcionario_sub_nome] [varchar](90) NULL,
	[retencao1] [varchar](50) NULL,
	[retencao2] [varchar](50) NULL,
	[retencao3] [varchar](50) NULL,
	[obs_bp] [text] NULL,
	[ignora_calculo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [FK_ID_MERITOCRACIA]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [FK_ID_MERITOCRACIA] ON [dbo].[zcrmportal_meritocracia_dados]
(
	[id_meritocracia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IFK_FK_ID_MERITOCRACIA]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [IFK_FK_ID_MERITOCRACIA] ON [dbo].[zcrmportal_meritocracia_dados]
(
	[id_meritocracia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_meritocracia_dados] ADD  DEFAULT (NULL) FOR [inativo]
GO
ALTER TABLE [dbo].[zcrmportal_meritocracia_dados]  WITH CHECK ADD  CONSTRAINT [FK__zcrmporta__id_me__2B2A60FE] FOREIGN KEY([id_meritocracia])
REFERENCES [dbo].[zcrmportal_meritocracia] ([id])
GO
ALTER TABLE [dbo].[zcrmportal_meritocracia_dados] CHECK CONSTRAINT [FK__zcrmporta__id_me__2B2A60FE]
GO
