USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[APROVADOR_MERITOCRACIA]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[APROVADOR_MERITOCRACIA] AS (


SELECT 
	A.*,
	
	CASE 
		--WHEN M.situacao <= 1 THEN NULL
		WHEN A.id_hierarquia  = M.ultimo_aprovador THEN C1.CHAPA
		WHEN A1.id_hierarquia = M.ultimo_aprovador THEN C2.CHAPA
		WHEN A2.id_hierarquia = M.ultimo_aprovador THEN C3.CHAPA
		WHEN A4.id_hierarquia = M.ultimo_aprovador THEN C4.CHAPA
   		ELSE NULL
	END APR_CHAPA,
	CASE 
		--WHEN M.situacao <= 1 THEN NULL
		WHEN A.id_hierarquia  = M.ultimo_aprovador THEN C1.NOME
		WHEN A1.id_hierarquia = M.ultimo_aprovador THEN C2.NOME
		WHEN A2.id_hierarquia = M.ultimo_aprovador THEN C3.NOME
		WHEN A4.id_hierarquia = M.ultimo_aprovador THEN C4.NOME
   		ELSE NULL
	END APR_NOME,
	CASE 
		--WHEN M.situacao <= 1 THEN NULL
		WHEN A.id_hierarquia  = M.ultimo_aprovador THEN C1.EMAIL
		WHEN A1.id_hierarquia = M.ultimo_aprovador THEN C2.EMAIL
		WHEN A2.id_hierarquia = M.ultimo_aprovador THEN C3.EMAIL
		WHEN A4.id_hierarquia = M.ultimo_aprovador THEN C4.EMAIL
   		ELSE NULL
	END APR_EMAIL
	,
	CASE 
		--WHEN M.situacao <= 1 THEN NULL
		WHEN A.id_hierarquia  = M.ultimo_aprovador THEN A4.nivel
		WHEN A1.id_hierarquia = M.ultimo_aprovador THEN A6.nivel
		WHEN A2.id_hierarquia = M.ultimo_aprovador THEN A8.nivel
   		ELSE 1
	END nivel_prox_aprovador,
	CASE 
		--WHEN M.situacao <= 1 THEN NULL
		WHEN A.id_hierarquia  = M.ultimo_aprovador THEN A3.descricao
		WHEN A1.id_hierarquia = M.ultimo_aprovador THEN A5.descricao
		WHEN A2.id_hierarquia = M.ultimo_aprovador THEN A7.descricao
		WHEN A4.id_hierarquia = M.ultimo_aprovador THEN A9.descricao
   		ELSE NULL
	END cargo_prox_aprovador,
	
	CASE 
		--WHEN M.situacao <= 1 THEN NULL
		WHEN A.id_hierarquia  = M.ultimo_aprovador THEN A1.id_bp
		WHEN A1.id_hierarquia = M.ultimo_aprovador THEN A1.id_bp
		WHEN A2.id_hierarquia = M.ultimo_aprovador THEN A2.id_bp
		WHEN A4.id_hierarquia = M.ultimo_aprovador THEN A4.id_bp
   		ELSE NULL
	END ID_BP
	
	/*
	,'##'
	,M.ultimo_aprovador
	,A.id_hierarquia A
	,A1.id_hierarquia A1
	,A2.id_hierarquia A2
	,A4.id_hierarquia A4
	,A6.id_hierarquia A6
	,A1.nivel N1
	,A2.nivel N2
	,A4.nivel N4
	,A6.nivel N5
	,A8.nivel N8
	,'##'
	,
	A2.nivel nivel_1,
	A3.descricao cargo_1,
	B2.NOME nomegestor_1,
	C1.EMAIL email_1,
	A4.nivel nivel_2,
	A5.descricao cargo_2,
	B4.NOME nomegestor_2,
	C2.EMAIL email_2,
	A6.nivel nivel_3,
	A7.descricao cargo_3,
	B6.NOME nomegestor_3,
	C3.EMAIL email_3,
	A8.nivel nivel_4,
	A9.descricao cargo_4,
	B8.NOME nomegestor_4,
	C4.EMAIL email_4
	*/
FROM 
	zcrmportal_hierarquia_chapa A
			 JOIN zcrmportal_hierarquia A1 ON A1.id = A.id_hierarquia
			 JOIN zcrmportal_meritocracia M ON M.chapa_solicitante = A.chapa AND M.coligada = A.coligada AND M.ano =  YEAR(GETDATE())
			 
		-- 
		LEFT JOIN zcrmportal_hierarquia A2 ON A2.id = A1.id_hierarquia
		LEFT JOIN zcrmportal_hierarquia_grupocargo A3 ON A3.id = A2.id_grupocargo
		LEFT JOIN zcrmportal_hierarquia_chapa B1 ON B1.id_hierarquia = A2.id AND B1.inativo IS NULL
		LEFT JOIN CorporeRMDEV..PFUNC B2 ON B2.CHAPA COLLATE Latin1_General_CI_AS = B1.chapa AND B2.CODCOLIGADA = (CASE WHEN B1.coligada_origem IS NULL THEN B1.coligada ELSE B1.coligada_origem END)
		LEFT JOIN EMAIL_CHAPA C1 ON C1.CHAPA = B2.CHAPA AND C1.CODCOLIGADA = M.coligada
		
		LEFT JOIN zcrmportal_hierarquia A4 ON A4.id = A2.id_hierarquia
		LEFT JOIN zcrmportal_hierarquia_grupocargo A5 ON A5.id = A4.id_grupocargo
		LEFT JOIN zcrmportal_hierarquia_chapa B3 ON B3.id_hierarquia = A4.id AND B3.inativo IS NULL
		LEFT JOIN CorporeRMDEV..PFUNC B4 ON B4.CHAPA COLLATE Latin1_General_CI_AS = B3.chapa AND B4.CODCOLIGADA = (CASE WHEN B3.coligada_origem IS NULL THEN B3.coligada ELSE B3.coligada_origem END)
		LEFT JOIN EMAIL_CHAPA C2 ON C2.CHAPA = B4.CHAPA AND C2.CODCOLIGADA = M.coligada
		
		LEFT JOIN zcrmportal_hierarquia A6 ON A6.id = A4.id_hierarquia
		LEFT JOIN zcrmportal_hierarquia_grupocargo A7 ON A7.id = A6.id_grupocargo
		LEFT JOIN zcrmportal_hierarquia_chapa B5 ON B5.id_hierarquia = A6.id AND B5.inativo IS NULL
		LEFT JOIN CorporeRMDEV..PFUNC B6 ON B6.CHAPA COLLATE Latin1_General_CI_AS = B5.chapa AND B6.CODCOLIGADA = (CASE WHEN B5.coligada_origem IS NULL THEN B5.coligada ELSE B5.coligada_origem END)
		LEFT JOIN EMAIL_CHAPA C3 ON C3.CHAPA = B6.CHAPA AND C3.CODCOLIGADA = M.coligada
		
		LEFT JOIN zcrmportal_hierarquia A8 ON A8.id = A6.id_hierarquia
		LEFT JOIN zcrmportal_hierarquia_grupocargo A9 ON A9.id = A8.id_grupocargo
		LEFT JOIN zcrmportal_hierarquia_chapa B7 ON B7.id_hierarquia = A8.id AND B7.inativo IS NULL
		LEFT JOIN CorporeRMDEV..PFUNC B8 ON B8.CHAPA COLLATE Latin1_General_CI_AS = B7.chapa AND B8.CODCOLIGADA = (CASE WHEN B7.coligada_origem IS NULL THEN B7.coligada ELSE B7.coligada_origem END)
		LEFT JOIN EMAIL_CHAPA C4 ON C4.CHAPA = B8.CHAPA AND C4.CODCOLIGADA = M.coligada





)
GO
