USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_demissao_req]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_demissao_req](
	[idreq] [bigint] IDENTITY(1,1) NOT NULL,
	[idemp] [varchar](20) NOT NULL,
	[chapa] [varchar](20) NOT NULL,
	[tiporeq] [varchar](20) NOT NULL,
	[requisitante] [bigint] NOT NULL,
	[dtcadastro] [datetime] NOT NULL,
	[status] [varchar](1) NOT NULL,
	[usualt] [bigint] NOT NULL,
	[dtalt] [datetime] NOT NULL,
	[usuapr] [bigint] NULL,
	[dtapr] [datetime] NULL,
	[dtdemissao] [datetime] NULL,
	[aviso_indenizado] [varchar](2) NULL,
	[descontar_aviso] [varchar](2) NULL,
	[cumprir_aviso] [varchar](2) NULL,
	[limite_pagamento] [varchar](2) NULL,
	[data_aviso] [datetime] NULL,
	[dias_aviso] [int] NULL,
	[dtcancel] [datetime] NULL,
	[usucancel] [varchar](255) NULL,
	[motivo_reprova] [text] NULL,
	[usu_rep] [varchar](100) NULL,
	[dt_rep] [datetime] NULL,
	[dtexame] [date] NULL,
	[dthomolog] [datetime] NULL,
	[motivodemiss] [varchar](100) NULL,
	[tipocontrato] [varchar](1) NULL,
	[codmotivorm] [bigint] NULL,
	[usu_enviado] [varchar](100) NULL,
	[dt_enviado] [datetime] NULL,
	[usu_gestor_apr] [varchar](100) NULL,
	[dt_gestor_apr] [datetime] NULL,
	[apr_usugestor] [varchar](100) NULL,
	[apr_dtgestor] [datetime] NULL,
	[integrado_sap] [smallint] NULL,
	[response_sap] [text] NULL,
	[request_log] [text] NULL,
	[id_req_substituicao] [int] NULL,
	[justificativa_desligamento] [varchar](1500) NULL,
	[doc_homolog] [varchar](4000) NULL,
	[doc_ASO] [varchar](4000) NULL,
	[doc_PPP] [varchar](4000) NULL,
	[aprrh_dt] [datetime] NULL,
	[aprrh_user] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[idreq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [usuapr]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [dtapr]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [dtdemissao]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [aviso_indenizado]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [descontar_aviso]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [cumprir_aviso]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [limite_pagamento]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [data_aviso]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [dias_aviso]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [dtcancel]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [usucancel]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [usu_rep]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_req] ADD  DEFAULT (NULL) FOR [dt_rep]
GO
