USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_salario_funcao]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_salario_funcao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[codigo] [varchar](255) NOT NULL,
	[descricao] [varchar](255) NOT NULL,
	[usucad] [varchar](10) NOT NULL,
	[dtcad] [datetime] NULL,
	[usualt] [varchar](10) NULL,
	[dtalt] [datetime] NULL,
	[gs] [varchar](10) NULL,
	[inativo] [int] NULL,
	[salario_isonomia] [decimal](10, 2) NULL,
	[isonomia] [varchar](10) NULL,
	[cargo] [varchar](10) NULL,
	[cbo2002] [varchar](10) NULL,
	[descricao_atividade] [text] NULL,
	[descricao_ppp] [text] NULL,
	[plr] [varchar](50) NULL,
	[premio] [varchar](50) NULL,
	[alteracao] [int] NULL,
	[arquivo] [varchar](255) NULL,
	[data_upload] [datetime] NULL,
	[grau_escolaridade] [varchar](7) NULL,
	[grau_escolaridade_tecnico] [varchar](7) NULL,
	[status] [int] NULL,
	[DIR_FLORESTAL] [int] NULL,
	[DIR_INDUSTRIAL] [int] NULL,
	[DIR_TRANSPORT] [int] NULL,
	[DIR_R] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_zcrmportal_salario_funcao]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [idx_zcrmportal_salario_funcao] ON [dbo].[zcrmportal_salario_funcao]
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
