USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_meritocracia]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_meritocracia](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[solicitante] [varchar](10) NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[ano] [smallint] NOT NULL,
	[chapa_solicitante] [varchar](25) NOT NULL,
	[situacao] [int] NULL,
	[ultimo_aprovador] [bigint] NULL,
	[promocao_inativo] [int] NULL,
	[merito_inativo] [int] NULL,
	[enquadramento_inativo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_SOL_ANO_COL]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_SOL_ANO_COL] ON [dbo].[zcrmportal_meritocracia]
(
	[coligada] ASC,
	[solicitante] ASC,
	[usucad] ASC,
	[ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
