USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_demissao_workflow_dados]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_demissao_workflow_dados](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](20) NOT NULL,
	[idreq] [bigint] NOT NULL,
	[dtcadastro] [datetime] NOT NULL,
	[valor] [varchar](4000) NOT NULL,
	[usucad] [bigint] NOT NULL,
	[idcampo] [bigint] NOT NULL,
	[tipocampo] [varchar](255) NULL,
	[idgrupo] [bigint] NULL,
	[lock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[idreq] ASC,
	[idcampo] ASC,
	[usucad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_workflow_dados] ADD  DEFAULT (NULL) FOR [tipocampo]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_workflow_dados] ADD  DEFAULT (NULL) FOR [idgrupo]
GO
ALTER TABLE [dbo].[zcrmportal_demissao_workflow_dados] ADD  DEFAULT (NULL) FOR [lock]
GO
