USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_art61_excecao]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_art61_excecao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[chapa_pai] [varchar](16) NOT NULL,
	[chapa_filho] [varchar](16) NOT NULL,
	[dt_limite] [date] NULL,
	[ativo] [varchar](1) NOT NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_art61_excecao] ADD  DEFAULT ('S') FOR [ativo]
GO
