USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[GESTOR_DO_USUARIO]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[GESTOR_DO_USUARIO]
AS
SELECT 
	A1.id id_solicitante,
	A3.NOME nome_solicitante,
	A3.CHAPA chapa_solicitante,
	A5.inativo inativo_solicitante,
	A5.id id_hierarquia_solicitante,
	A5.id_hierarquia reportese,
	A5.coligada coligada_solicitante,
	A1.login login_solicitante,
	A1.email email_solicitante
	
	,
	CASE WHEN CASE WHEN C5.id IS NOT NULL THEN C5.id ELSE B5.id END IS NOT NULL THEN CASE WHEN C5.id IS NOT NULL THEN C5.id ELSE B5.id END ELSE BB5.id END id_gestor,
	CASE WHEN CASE WHEN C3.NOME IS NOT NULL THEN C3.NOME ELSE B3.NOME END IS NOT NULL THEN CASE WHEN C3.NOME IS NOT NULL THEN C3.NOME ELSE B3.NOME END ELSE BB3.NOME END nome_gestor,
	CASE WHEN CASE WHEN C3.CHAPA IS NOT NULL THEN C3.CHAPA ELSE B3.CHAPA END IS NOT NULL THEN CASE WHEN C3.CHAPA IS NOT NULL THEN C3.CHAPA ELSE B3.CHAPA END ELSE BB3.CHAPA END chapa_gestor,
	CASE WHEN B1.inativo IS NOT NULL THEN B1.inativo ELSE BB1.inativo END inativo_gestor,
	CASE WHEN CASE WHEN C2.id_hierarquia IS NOT NULL THEN C2.id_hierarquia ELSE B1.id END IS NOT NULL THEN CASE WHEN C2.id_hierarquia IS NOT NULL THEN C2.id_hierarquia ELSE B1.id END ELSE BB1.id END id_hierarquia_gestor,
	CASE WHEN CASE WHEN C2.coligada IS NOT NULL THEN C2.coligada ELSE B1.coligada END IS NOT NULL THEN CASE WHEN C2.coligada IS NOT NULL THEN C2.coligada ELSE B1.coligada END ELSE BB1.coligada END coligada_gestor,
	CASE WHEN CASE WHEN C5.login IS NOT NULL THEN C5.login ELSE B5.login END IS NOT NULL THEN CASE WHEN C5.login IS NOT NULL THEN C5.login ELSE B5.login END ELSE BB5.login END login_gestor,
	CASE WHEN CASE WHEN C5.email IS NOT NULL THEN C5.email ELSE B5.email END IS NOT NULL THEN CASE WHEN C5.email IS NOT NULL THEN C5.email ELSE B5.email END ELSE BB5.email END email_gestor

	,B1.id,
	B1.id_hierarquia
FROM
	zcrmportal_usuario A1,
	CorporeRMDEV..PPESSOA A2,
	CorporeRMDEV..PFUNC A3,
	zcrmportal_hierarquia_chapa A4,
	zcrmportal_hierarquia A5
	
	
	
	,zcrmportal_hierarquia B1
		LEFT JOIN zcrmportal_hierarquia_chapa B2 ON
			B2.id_hierarquia = B1.id
			AND B2.inativo IS NULL
		
		LEFT JOIN CorporeRMDEV..PFUNC B3 ON
			B2.chapa = B3.CHAPA COLLATE Latin1_General_CI_AS
			AND B3.CODSITUACAO NOT IN ('D')
		
		LEFT JOIN CorporeRMDEV..PPESSOA B4 ON
			B3.CODCOLIGADA = B1.coligada
			AND B3.CODPESSOA = B4.CODIGO
			
		LEFT JOIN zcrmportal_usuario B5 ON
			B4.CPF COLLATE Latin1_General_CI_AS = B5.login
			
		-- 2 NIVEL ACIMA --
		LEFT JOIN zcrmportal_hierarquia BB1 ON
			BB1.id = B1.id_hierarquia
		
		LEFT JOIN zcrmportal_hierarquia_chapa BB2 ON
			BB2.id_hierarquia = BB1.id
			AND BB2.inativo IS NULL
		
		LEFT JOIN CorporeRMDEV..PFUNC BB3 ON
			BB2.chapa = BB3.CHAPA COLLATE Latin1_General_CI_AS
			AND BB3.CODSITUACAO NOT IN ('D')
		
		LEFT JOIN CorporeRMDEV..PPESSOA BB4 ON
			BB3.CODCOLIGADA = BB1.coligada
			AND BB3.CODPESSOA = BB4.CODIGO
			
		LEFT JOIN zcrmportal_usuario BB5 ON
			BB4.CPF COLLATE Latin1_General_CI_AS = BB5.login
			
		-- GESTOR TEMPORARIO --
		LEFT JOIN zcrmportal_hierarquia_chapa_sub C2 ON
			C2.id_hierarquia = B1.id
			AND B2.inativo IS NULL
		
		LEFT JOIN CorporeRMDEV..PFUNC C3 ON
			C2.chapa = C3.CHAPA COLLATE Latin1_General_CI_AS
			AND C3.CODSITUACAO NOT IN ('D')
			AND C3.CODCOLIGADA = B1.coligada
		
		LEFT JOIN CorporeRMDEV..PPESSOA C4 ON
			C3.CODPESSOA = C4.CODIGO
			
		LEFT JOIN zcrmportal_usuario C5 ON
			C4.CPF COLLATE Latin1_General_CI_AS = C5.login
	
	
	
	
	
	/*
	zcrmportal_hierarquia_chapa B2,
	CorporeRMDEV..PFUNC B3,
	CorporeRMDEV..PPESSOA B4,
	zcrmportal_usuario B5
	*/
	
WHERE
	A1.login = A2.CPF COLLATE Latin1_General_CI_AS
	--AND A1.id = 53
	AND A2.CODIGO = A3.CODPESSOA
	AND A4.chapa = A3.CHAPA COLLATE Latin1_General_CI_AS
	AND A3.CODCOLIGADA = A5.coligada
	AND A5.id = A4.id_hierarquia
	AND A5.coligada = A4.coligada
	AND A5.inativo IS NULL
	AND A4.inativo IS NULL
	AND A3.CODSITUACAO NOT IN ('D')
	-- B
	AND B1.id = A5.id_hierarquia
	AND B1.coligada = A5.coligada
	
	
	--AND B2.id_hierarquia = B1.id
	--AND B2.chapa = B3.CHAPA COLLATE Latin1_General_CI_AS
	--AND B3.CODCOLIGADA = B1.coligada
	--AND B3.CODPESSOA = B4.CODIGO
	--AND B4.CPF COLLATE Latin1_General_CI_AS = B5.login
	AND B1.inativo IS NULL
	--AND B2.inativo IS NULL
	--AND B3.CODSITUACAO NOT IN ('D')
	
	-- COLIGADA
	AND A5.coligada = b1.coligada
GO
