USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_requisicao_escalonamento]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_requisicao_escalonamento](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_requisicao] [bigint] NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[mes] [varchar](2) NOT NULL,
	[ano] [varchar](4) NOT NULL,
	[porcentagem] [decimal](10, 3) NOT NULL,
	[salario] [decimal](18, 2) NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[salario_atual] [decimal](18, 2) NOT NULL,
	[ususinc] [varchar](50) NULL,
	[dtsinc] [datetime] NULL,
	[dtliberado] [date] NULL,
	[origem_requisicao] [varchar](5) NULL,
	[id_meritocracia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_ESCALONAMENTO]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_ESCALONAMENTO] ON [dbo].[zcrmportal_requisicao_escalonamento]
(
	[id_requisicao] ASC,
	[coligada] ASC,
	[mes] ASC,
	[ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
