USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_admissao_funcionario_dep]    Script Date: 02/08/2025 09:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_admissao_funcionario_dep](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idfunc] [bigint] NOT NULL,
	[nome] [varchar](40) NULL,
	[cpf] [varchar](14) NULL,
	[codsexo] [varchar](1) NULL,
	[codparentesco] [varchar](2) NULL,
	[codestcivil] [varchar](2) NULL,
	[datanascimento] [datetime] NULL,
	[localnascimento] [varchar](50) NULL,
	[dataentcertidao] [datetime] NULL,
	[cartaovacina] [int] NULL,
	[comprovescolar] [int] NULL,
	[irrf] [int] NULL,
	[inss] [int] NULL,
	[assmedica] [int] NULL,
	[pensao] [int] NULL,
	[dtcadastro] [datetime] NULL,
	[dtalt] [datetime] NULL,
	[usualt] [bigint] NULL,
	[sus] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [nome]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [cpf]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [codsexo]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [codparentesco]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [codestcivil]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [datanascimento]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [localnascimento]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [dataentcertidao]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT ('0') FOR [cartaovacina]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT ('0') FOR [comprovescolar]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT ('0') FOR [irrf]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT ('0') FOR [inss]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT ('0') FOR [assmedica]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT ('0') FOR [pensao]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [dtcadastro]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [dtalt]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [usualt]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_funcionario_dep] ADD  DEFAULT (NULL) FOR [sus]
GO
