USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_posicao_log]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_posicao_log](
	[coligada] [varchar](5) NULL,
	[usucad] [varchar](50) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[chapa] [varchar](25) NOT NULL,
	[codposicao] [varchar](50) NOT NULL,
	[act] [varchar](5) NOT NULL,
	[msg] [varchar](255) NULL
) ON [PRIMARY]
GO
