USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_variaveis_log_valores]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_variaveis_log_valores](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_req] [int] NOT NULL,
	[valores] [text] NULL,
	[dtcad] [datetime] NOT NULL,
	[status] [int] NULL,
	[periodo] [varchar](10) NULL,
	[id_user] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
