USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[GESTOR_DA_SECAO]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[GESTOR_DA_SECAO] AS
SELECT 
	A.codsecao,
	A.descricao,
	B.id_hierarquia,
	A.coligada,
	CASE WHEN B2.chapa IS NULL THEN B1.chapa ELSE B2.chapa END gestor_chapa,
	B3.NOME gestor_nome,
	B4.id gestor_id_hierarquia,
	B6.email gestor_email,
	B6.id gestor_id_user,
	B4.id_hierarquia aprovador_id_hierarquia,
	CASE WHEN C2.chapa IS NULL THEN C1.chapa ELSE C2.chapa END aprovador_chapa,
	C3.NOME aprovador_nome,
	C5.email aprovador_email,
	C5.id aprovador_id_user
FROM 
	zcrmportal_frente_trabalho A,
	zcrmportal_hierarquia_frentetrabalho B
		LEFT JOIN zcrmportal_hierarquia_chapa 	  B1 ON B1.id_hierarquia = B.id_hierarquia AND B1.inativo IS NULL
		LEFT JOIN zcrmportal_hierarquia_chapa_sub B2 ON B2.id_hierarquia = B.id_hierarquia AND B2.inativo IS NULL		
		LEFT JOIN CorporeRMDEV..PFUNC B3 			 ON B3.CHAPA COLLATE Latin1_General_CI_AS = CASE WHEN B2.chapa IS NULL THEN B1.chapa ELSE B2.chapa END AND B3.CODCOLIGADA = B1.coligada
		LEFT JOIN zcrmportal_hierarquia B4 			 ON B4.id = B.id_hierarquia AND B4.inativo IS NULL
		LEFT JOIN CorporeRMDEV..PPESSOA B5			 ON B5.CODIGO = B3.CODPESSOA
		LEFT JOIN zcrmportal_usuario B6				 ON B6.login = B5.CPF COLLATE Latin1_General_CI_AS
			
	,zcrmportal_hierarquia_chapa C
		LEFT JOIN zcrmportal_hierarquia_chapa 	  C1 ON C1.id_hierarquia = C.id_hierarquia AND C1.inativo IS NULL
		LEFT JOIN zcrmportal_hierarquia_chapa_sub C2 ON C2.id_hierarquia = C.id_hierarquia AND C2.inativo IS NULL
		LEFT JOIN CorporeRMDEV..PFUNC C3 			 ON C3.CHAPA COLLATE Latin1_General_CI_AS = CASE WHEN C2.chapa IS NULL THEN C1.chapa ELSE C2.chapa END AND C3.CODCOLIGADA = C1.coligada
		LEFT JOIN CorporeRMDEV..PPESSOA C4			 ON C4.CODIGO = C3.CODPESSOA
		LEFT JOIN zcrmportal_usuario C5				 ON C5.login = C4.CPF COLLATE Latin1_General_CI_AS
		
WHERE
	B.id_frentetrabalho = A.id
	AND B.inativo IS NULL
	AND C.id_hierarquia = B4.id_hierarquia
GO
