USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_pontomais_log]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_pontomais_log](
	[uuid] [varchar](36) NOT NULL,
	[message] [text] NOT NULL,
	[type] [smallint] NOT NULL,
	[process] [varchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[timestamp_at] [timestamp] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
