USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_admissao_arquivos]    Script Date: 02/08/2025 09:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_admissao_arquivos](
	[idusu] [bigint] NOT NULL,
	[idtipo] [bigint] NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](80) NULL,
	[nome] [varchar](255) NULL,
	[ext] [varchar](20) NULL,
	[formatomime] [varchar](40) NULL,
	[tam] [varchar](20) NULL,
	[arquivo] [text] NULL,
	[dtcat] [datetime] NULL,
	[dtalt] [datetime] NULL,
	[usualt] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[idtipo] ASC,
	[idusu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_arquivos] ADD  DEFAULT (NULL) FOR [titulo]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_arquivos] ADD  DEFAULT (NULL) FOR [nome]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_arquivos] ADD  DEFAULT (NULL) FOR [ext]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_arquivos] ADD  DEFAULT (NULL) FOR [formatomime]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_arquivos] ADD  DEFAULT (NULL) FOR [tam]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_arquivos] ADD  DEFAULT (NULL) FOR [dtcat]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_arquivos] ADD  DEFAULT (NULL) FOR [dtalt]
GO
ALTER TABLE [dbo].[zcrmportal_admissao_arquivos] ADD  DEFAULT (NULL) FOR [usualt]
GO
