USE [PortalRHDEV]
GO
/****** Object:  View [dbo].[GESTOR_DO_LIDER_SUBSTITUTO]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[GESTOR_DO_LIDER_SUBSTITUTO] AS
SELECT
	A.id id_funcionario_lider,
	A.chapa chapa_funcionario,
	D.NOME nome_funcionario,
	B.chapa chapa_gestor,
	C.NOME nome_gestor,
	B.id_hierarquia hierarquia_gestor,
	G.id id_gestor,
	G.email email_gestor,
	A.coligada,
	A.perini,
	A.perfim
FROM
	zcrmportal_hierarquia_lider A
	INNER JOIN zcrmportal_hierarquia_lider B ON B.id_hierarquia = A.id_hierarquia AND A.coligada = B.coligada AND B.nivel = 1 AND B.inativo IS NULL
	INNER JOIN CorporeRMDEV..PFUNC C ON C.CODCOLIGADA = B.coligada AND C.CHAPA = B.chapa COLLATE Latin1_General_CI_AS
	INNER JOIN CorporeRMDEV..PFUNC D ON D.CODCOLIGADA = A.coligada AND D.CHAPA = A.chapa COLLATE Latin1_General_CI_AS
	INNER JOIN zcrmportal_hierarquia E ON E.id = B.id_hierarquia AND E.inativo IS NULL
	INNER JOIN CorporeRMDEV..PPESSOA F ON F.CODIGO = C.CODPESSOA
	INNER JOIN zcrmportal_usuario G ON G.login = F.CPF COLLATE Latin1_General_CI_AS
WHERE
	A.inativo IS NULL
	AND A.nivel > 1
GO
