USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ocorrencia_motorista]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ocorrencia_motorista](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codcoligada] [int] NOT NULL,
	[codfuncao] [varchar](20) NOT NULL,
	[horas_prevista] [int] NULL,
	[limite_extra] [int] NULL,
	[limite_jornada] [int] NULL,
	[excesso_semanal] [int] NULL,
	[usucad] [bigint] NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [bigint] NULL,
	[dtalt] [datetime] NULL,
	[usudel] [bigint] NULL,
	[dtdel] [datetime] NULL,
	[intervalo_obrigatorio] [int] NULL,
	[intervalo_fracionado] [int] NULL,
	[intervalo_planejado_ini] [int] NULL,
	[intervalo_planejado_fim] [int] NULL,
	[intervalo_total] [int] NULL
) ON [PRIMARY]
GO
