USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_requisicao_motivo_aq]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_requisicao_motivo_aq](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[descricao] [varchar](255) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[inativo] [smallint] NOT NULL,
	[dtalt] [datetime] NULL,
	[usualt] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_MOTIVO_AQ]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_MOTIVO_AQ] ON [dbo].[zcrmportal_requisicao_motivo_aq]
(
	[coligada] ASC,
	[descricao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_requisicao_motivo_aq] ADD  DEFAULT ((0)) FOR [inativo]
GO
