USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_salario_grupos]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_salario_grupos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[coligada] [varchar](10) NOT NULL,
	[descricao] [varchar](255) NOT NULL,
	[usucad] [varchar](10) NOT NULL,
	[dtcadastro] [datetime] NOT NULL,
	[usualt] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
