USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_ponto_justificativa_func]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_ponto_justificativa_func](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[dtponto] [date] NULL,
	[chapa] [varchar](30) NULL,
	[coligada] [varchar](5) NULL,
	[inicio] [varchar](10) NULL,
	[fim] [varchar](10) NULL,
	[justificativa] [varchar](30) NULL,
	[usucad] [varchar](100) NULL,
	[tipo] [varchar](5) NULL,
	[obs] [varchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [idx_ponto_justificativa]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [idx_ponto_justificativa] ON [dbo].[zcrmportal_ponto_justificativa_func]
(
	[dtponto] ASC
)
INCLUDE([chapa],[coligada],[justificativa]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
