USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_meritocracia_parametros]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_meritocracia_parametros](
	[coligada] [varchar](5) NOT NULL,
	[ano] [smallint] NOT NULL,
	[coordenador_ini] [date] NOT NULL,
	[coordenador_fim] [date] NOT NULL,
	[gerente_ini] [date] NOT NULL,
	[gerente_fim] [date] NOT NULL,
	[diretor_ini] [date] NOT NULL,
	[diretor_fim] [date] NOT NULL,
	[porcentual_centrocusto] [decimal](10, 2) NOT NULL,
	[tempo_casa] [date] NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [varchar](100) NULL,
	[dtalt] [datetime] NULL,
	[tempoempresa_verde_ini] [smallint] NOT NULL,
	[tempoempresa_verde_fim] [smallint] NOT NULL,
	[tempoempresa_amarelo_ini] [smallint] NOT NULL,
	[tempoempresa_amarelo_fim] [smallint] NOT NULL,
	[tempoempresa_vermelho_ini] [smallint] NOT NULL,
	[tempoempresa_vermelho_fim] [smallint] NOT NULL,
	[ultimapromocao_verde_ini] [smallint] NOT NULL,
	[ultimapromocao_verde_fim] [smallint] NOT NULL,
	[ultimapromocao_amarelo_ini] [smallint] NOT NULL,
	[ultimapromocao_amarelo_fim] [smallint] NOT NULL,
	[ultimapromocao_vermelho_ini] [smallint] NOT NULL,
	[ultimapromocao_vermelho_fim] [smallint] NOT NULL,
	[posicaofaixa_verde_ini] [decimal](10, 2) NULL,
	[posicaofaixa_verde_fim] [decimal](10, 2) NULL,
	[posicaofaixa_amarelo_ini] [decimal](10, 2) NULL,
	[posicaofaixa_amarelo_fim] [decimal](10, 2) NULL,
	[posicaofaixa_vermelho_ini] [decimal](10, 2) NULL,
	[posicaofaixa_vermelho_fim] [decimal](10, 2) NULL,
	[nota_verde_ini] [decimal](10, 2) NOT NULL,
	[nota_verde_fim] [decimal](10, 2) NOT NULL,
	[nota_amarelo_ini] [decimal](10, 2) NOT NULL,
	[nota_amarelo_fim] [decimal](10, 2) NOT NULL,
	[nota_vermelho_ini] [decimal](10, 2) NOT NULL,
	[nota_vermelho_fim] [decimal](10, 2) NOT NULL,
	[politica_escalonamento] [decimal](10, 2) NULL,
	[promocao_limite] [decimal](10, 2) NULL,
	[merito_limite] [decimal](10, 2) NULL,
	[enquadramento_limite] [decimal](10, 2) NULL,
	[gerentegeral_ini] [date] NULL,
	[gerentegeral_fim] [date] NULL,
	[meta_verde_ini] [decimal](10, 1) NULL,
	[meta_verde_fim] [decimal](10, 1) NULL,
	[meta_amarelo_ini] [decimal](10, 1) NULL,
	[meta_amarelo_fim] [decimal](10, 1) NULL,
	[meta_vermelho_ini] [decimal](10, 1) NULL,
	[meta_vermelho_fim] [decimal](10, 1) NULL,
	[mes_ini_meritocracia] [int] NULL,
	[mes_fim_meritocracia] [int] NULL,
	[observacao_coordenador] [int] NULL,
	[observacao_gerente] [int] NULL,
	[observacao_gerente_geral] [int] NULL,
	[observacao_diretor] [int] NULL,
	[observacao_bp] [int] NULL,
	[promocao_inativo] [int] NULL,
	[merito_inativo] [int] NULL,
	[enquadramento_inativo] [int] NULL,
	[observacao_requisitante] [int] NULL,
	[mes_carta] [varchar](2) NULL,
	[ano_carta] [varchar](4) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [INDEX_MER_PARAM]    Script Date: 02/08/2025 09:43:30 ******/
CREATE NONCLUSTERED INDEX [INDEX_MER_PARAM] ON [dbo].[zcrmportal_meritocracia_parametros]
(
	[coligada] ASC,
	[ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_PAR_ANO]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_PAR_ANO] ON [dbo].[zcrmportal_meritocracia_parametros]
(
	[coligada] ASC,
	[ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
