USE [PortalRHDEV]
GO
/****** Object:  Table [dbo].[zcrmportal_posicao_funcao]    Script Date: 02/08/2025 09:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zcrmportal_posicao_funcao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_posicao] [bigint] NOT NULL,
	[codfuncao] [varchar](50) NOT NULL,
	[qtde] [smallint] NOT NULL,
	[coligada] [varchar](5) NOT NULL,
	[usucad] [varchar](100) NOT NULL,
	[dtcad] [datetime] NOT NULL,
	[usualt] [varchar](100) NULL,
	[dtalt] [datetime] NULL,
	[inativo] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_FUNC_POSI]    Script Date: 02/08/2025 09:43:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_FUNC_POSI] ON [dbo].[zcrmportal_posicao_funcao]
(
	[id_posicao] ASC,
	[codfuncao] ASC,
	[coligada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zcrmportal_posicao_funcao] ADD  DEFAULT ((0)) FOR [inativo]
GO
